Repository vercel/turborepo, pull requests merged in 2021-12, with the labels that each got.

#141 Fix templates backticks
  create-turbo/templates/npm/README.md
  create-turbo/templates/pnpm/README.md
  create-turbo/templates/yarn/README.md
  examples/basic/README.md
  examples/with-pnpm/README.md
Labels: kind: bug

#152 Stop running yarn in base template
  create-turbo/templates/_shared_ts/package.json
  create-turbo/templates/pnpm/package.json
Labels: kind: bug

#174 Add support for `--only` flag that matches lerna/pnpm run behavior
  cli/internal/core/scheduler.go
  cli/internal/core/scheduler_test.go
  cli/internal/run/run.go
  docs/pages/docs/reference/command-line-reference.mdx
Labels: enhancement

#161 Fix parsing weird formats of the keywords field of some package.json files
  cli/internal/fs/package_json.go
Labels: kind: bug

#220 Redirect /docs/changelog to GitHub releases
  docs/components/Footer.tsx
  docs/next.config.js
  docs/pages/docs/changelog.mdx
Labels: docs

#199 add engine requirements to `create-turbo/package.json`, fix `examples/with-pnpm`
  .gitignore
  create-turbo/__tests__/cli.test.ts
  create-turbo/templates/_shared_ts/.npmrc
  create-turbo/templates/_shared_ts/package.json
  examples/with-pnpm/package.json
Labels: docs, examples

#233 Fix error when passing --api, --url, --heap, --cpuprofile, --trace, --no-gc flags
  cli/cmd/turbo/main.go
  cli/internal/run/run.go
Labels: kind: bug

#231 chore: bump TS, Next, and fix warnings and peer deps
  create-turbo/package.json
  docs/components/pages/home.tsx
  docs/nextra-theme-docs/search.js
  docs/package.json
  yarn.lock
Labels: docs, dependencies, chore, pr: automerge

#240 Docs papercuts
  docs/components/pages/home.tsx
  docs/pages/_document.js
  docs/theme.config.js
Labels: pr: automerge

#245 Add root turbo commands to basic example
  examples/basic/package.json
Labels: examples

#246 Refactor examples folder layout to match starters
  examples/basic/apps/docs/.gitignore
  examples/basic/apps/docs/README.md
  examples/basic/apps/docs/next-env.d.ts
  examples/basic/apps/docs/next.config.js
  examples/basic/apps/docs/package.json
  examples/basic/apps/docs/pages/index.tsx
  examples/basic/apps/docs/tsconfig.json
  examples/basic/apps/web/.gitignore
  examples/basic/apps/web/README.md
  examples/basic/apps/web/next-env.d.ts
  examples/basic/apps/web/next.config.js
  examples/basic/apps/web/package.json
  examples/basic/apps/web/pages/index.tsx
  examples/basic/apps/web/tsconfig.json
  examples/basic/package.json
  examples/basic/packages/config/eslint-preset.js
  examples/basic/packages/config/package.json
  examples/basic/packages/tsconfig/README.md
  examples/basic/packages/tsconfig/base.json
  examples/basic/packages/tsconfig/nextjs.json
  examples/basic/packages/tsconfig/package.json
  examples/basic/packages/tsconfig/react-library.json
  examples/basic/packages/ui/Button.tsx
  examples/basic/packages/ui/package.json
  examples/with-pnpm/apps/docs/.gitignore
  examples/with-pnpm/apps/docs/README.md
  examples/with-pnpm/apps/docs/next-env.d.ts
  examples/with-pnpm/apps/docs/next.config.js
  examples/with-pnpm/apps/docs/package.json
  examples/with-pnpm/apps/docs/pages/index.tsx
  examples/with-pnpm/apps/docs/tsconfig.json
  examples/with-pnpm/apps/web/.gitignore
  examples/with-pnpm/apps/web/README.md
  examples/with-pnpm/apps/web/next-env.d.ts
  examples/with-pnpm/apps/web/next.config.js
  examples/with-pnpm/apps/web/package.json
  examples/with-pnpm/apps/web/pages/index.tsx
  examples/with-pnpm/apps/web/tsconfig.json
  examples/with-pnpm/packages/config/eslint-preset.js
  examples/with-pnpm/packages/config/package.json
  examples/with-pnpm/packages/tsconfig/README.md
  examples/with-pnpm/packages/tsconfig/base.json
  examples/with-pnpm/packages/tsconfig/nextjs.json
  examples/with-pnpm/packages/tsconfig/node12.json
  examples/with-pnpm/packages/tsconfig/node14.json
  examples/with-pnpm/packages/tsconfig/package.json
  examples/with-pnpm/packages/tsconfig/react-library.json
  examples/with-pnpm/packages/tsconfig/vite.json
  examples/with-pnpm/packages/ui/Button.tsx
  examples/with-pnpm/packages/ui/package.json
  examples/with-pnpm/pnpm-workspace.yaml
Labels: examples

#248 Fix remote cache config detection to support just slug
  cli/internal/cache/cache.go
  cli/internal/config/config.go
Labels: kind: bug

#254 Add more customer testimonials from Twitter.
  docs/components/pages/home.tsx
  docs/images/christian.jpeg
  docs/images/nmoore.jpeg
  docs/images/shadcn.jpeg
  docs/images/sseraphini.jpeg
  docs/images/yangshunz.jpeg
Labels: pr: automerge

#274 docs: Set timeout before closing search
  docs/nextra-theme-docs/search.js
  docs/nextra-theme-docs/utils/use-mounted.js
Labels: docs

#269 Add design system example
  examples/design-system/.gitignore
  examples/design-system/.prettierignore
  examples/design-system/.prettierrc
  examples/design-system/README.md
  examples/design-system/apps/docs/.eslintrc.js
  examples/design-system/apps/docs/next-env.d.ts
  examples/design-system/apps/docs/next.config.js
  examples/design-system/apps/docs/package.json
  examples/design-system/apps/docs/src/pages/index.tsx
  examples/design-system/apps/docs/tsconfig.json
  examples/design-system/package.json
  examples/design-system/packages/acme-core/.eslintrc.js
  examples/design-system/packages/acme-core/package.json
  examples/design-system/packages/acme-core/src/Button.tsx
  examples/design-system/packages/acme-core/src/index.tsx
  examples/design-system/packages/acme-core/tsconfig.json
  examples/design-system/packages/acme-tsconfig/README.md
  examples/design-system/packages/acme-tsconfig/base.json
  examples/design-system/packages/acme-tsconfig/nextjs.json
  examples/design-system/packages/acme-tsconfig/node14.json
  examples/design-system/packages/acme-tsconfig/package.json
  examples/design-system/packages/acme-tsconfig/react-library.json
  examples/design-system/packages/acme-utils/.eslintrc.js
  examples/design-system/packages/acme-utils/package.json
  examples/design-system/packages/acme-utils/src/index.tsx
  examples/design-system/packages/acme-utils/src/toSlug.ts
  examples/design-system/packages/acme-utils/src/useIsomorphicLayoutEffect.tsx
  examples/design-system/packages/acme-utils/src/usePrevious.tsx
  examples/design-system/packages/acme-utils/tsconfig.json
  examples/design-system/packages/eslint-preset-acme/README.md
  examples/design-system/packages/eslint-preset-acme/index.js
  examples/design-system/packages/eslint-preset-acme/package.json
Labels: docs, examples

#277 CLI papercuts
  cli/internal/run/run.go
  docs/pages/docs/reference/command-line-reference.mdx
Labels: kind: bug

#276 Improve create-turbo instructions
  .github/workflows/ci-go.yml
  create-turbo/__tests__/cli.test.ts
  create-turbo/src/index.ts
  create-turbo/src/shouldUseYarn.ts
  package.json
Labels: enhancement

#319 Docs debug flags #229
  docs/pages/docs/reference/command-line-reference.mdx
Labels: docs, pr: automerge

#310 Fix doublestar workspace bug
  cli/go.mod
  cli/go.sum
  cli/internal/context/context.go
  cli/internal/fs/fs.go
  cli/internal/fs/globby/globby.go
  cli/internal/run/run.go
  cli/scripts/monorepo.ts
Labels: kind: bug, pr: work in progress

#329 Add support for `--graph=file.html`
  cli/internal/login/login.go
  cli/internal/run/run.go
  cli/internal/util/browser/open.go
  docs/pages/docs/reference/command-line-reference.mdx
Labels: pr: automerge

#342 docs(language): removes "simply" to be more inclusive
  cli/internal/run/run.go
  docs/pages/blog/you-might-not-need-typescript-project-references.mdx
  docs/pages/docs/features/caching.mdx
  docs/pages/docs/features/remote-caching.mdx
  docs/pages/docs/features/scopes.mdx
  docs/pages/docs/getting-started.mdx
  docs/pages/docs/glossary.mdx
  docs/pages/docs/reference/command-line-reference.mdx
Labels: pr: automerge

#351 Fix pass thru arguments from becoming targets
  cli/internal/context/context.go
  cli/internal/context/context_test.go
Labels: kind: bug

#362 fix: preserve file permission
  cli/internal/cache/cache_fs.go
  cli/internal/prune/prune.go
  cli/internal/run/run_state.go
Labels: kind: bug

#416 Use "node" module resolution by default for all tsconfigs
  cli/scripts/generate.mjs
  create-turbo/templates/_shared_ts/packages/tsconfig/base.json
  create-turbo/templates/_shared_ts/packages/tsconfig/nextjs.json
  examples/basic/packages/tsconfig/base.json
  examples/basic/packages/tsconfig/nextjs.json
  examples/design-system/packages/acme-tsconfig/base.json
  examples/design-system/packages/acme-tsconfig/nextjs.json
  examples/kitchen-sink/packages/tsconfig/base.json
  examples/kitchen-sink/packages/tsconfig/nextjs.json
  examples/kitchen-sink/packages/tsconfig/vite.json
  examples/with-pnpm/packages/tsconfig/base.json
  examples/with-pnpm/packages/tsconfig/nextjs.json
Labels: pr: automerge

#296 Merge `stderr` before `stdout`
  cli/internal/run/run.go
Labels: kind: bug
