Repository vercel/turborepo, pull requests merged in 2022-10, with the labels that each got.

#2031 fix: Glob negation in outputs
  .gitignore
  cli/integration_tests/single_package/dry-run.t
  cli/integration_tests/single_package/run.t
  cli/integration_tests/single_package_deps/dry-run.t
  cli/integration_tests/single_package_deps/run.t
  cli/integration_tests/single_package_no_config/dry-run.t
  cli/integration_tests/single_package_no_config/run.t
  cli/internal/daemonclient/daemonclient.go
  cli/internal/fs/testdata/both/turbo.json
  cli/internal/fs/testdata/correct/turbo.json
  cli/internal/fs/turbo_json.go
  cli/internal/fs/turbo_json_test.go
  cli/internal/globwatcher/globwatcher.go
  cli/internal/globwatcher/globwatcher_test.go
  cli/internal/nodes/packagetask.go
  cli/internal/run/global_hash.go
  cli/internal/run/run.go
  cli/internal/run/run_test.go
  cli/internal/runcache/output_watcher.go
  cli/internal/runcache/runcache.go
  cli/internal/server/server.go
  cli/internal/taskhash/taskhash.go
  cli/internal/turbodprotocol/turbod.proto
  cli/scripts/e2e/e2e.ts
Labels: pr: automerge

#2137 Use unix:path to address unix socket
  cli/internal/daemon/connector/connector.go
  cli/internal/run/run.go
Labels: pr: automerge

#2141 Fix broken links on "Workspace" Doc
  docs/pages/docs/handbook/workspaces.mdx
Labels: area: docs, pr: automerge

#2135 Use Warn method for logWarning
  cli/internal/cmdutil/cmdutil.go
Labels: pr: automerge

#2161 fix(packages): add repo, directory, and bugs fields
  packages/create-turbo/package.json
  packages/eslint-config-turbo/package.json
  packages/eslint-plugin-turbo/package.json
  packages/turbo-codemod/package.json
Labels: pr: automerge

#2151 feat: prune support for lockfiles containing patches
  cli/internal/fs/package_json.go
  cli/internal/fs/package_json_test.go
  cli/internal/lockfile/berry_lockfile.go
  cli/internal/lockfile/berry_lockfile_test.go
  cli/internal/lockfile/pnpm_lockfile.go
  cli/internal/packagemanager/berry.go
  cli/internal/packagemanager/packagemanager.go
  cli/internal/packagemanager/pnpm.go
  cli/internal/prune/prune.go
Labels: pr: fixship

#2164 fix: filename for web depending on ui
  docs/pages/docs/getting-started/create-new.mdx
Labels: pr: automerge

#1991 Caching, but to tar files.
  cli/go.mod
  cli/go.sum
  cli/internal/cache/cache_fs.go
  cli/internal/cache/cache_fs_test.go
  cli/internal/cache/cache_http.go
  cli/internal/cacheitem/cacheitem.go
  cli/internal/cacheitem/create.go
  cli/internal/cacheitem/create_test.go
  cli/internal/cacheitem/create_unix_test.go
  cli/internal/cacheitem/create_windows_test.go
  cli/internal/cacheitem/filepath.go
  cli/internal/cacheitem/filepath_unix.go
  cli/internal/cacheitem/filepath_windows.go
  cli/internal/cacheitem/restore.go
  cli/internal/cacheitem/restore_directory.go
  cli/internal/cacheitem/restore_directory_test.go
  cli/internal/cacheitem/restore_regular.go
  cli/internal/cacheitem/restore_symlink.go
  cli/internal/cacheitem/restore_test.go
  cli/internal/filewatcher/cookie.go
  cli/internal/filewatcher/filewatcher_test.go
  cli/internal/globby/globby.go
  cli/internal/globby/globby_test.go
  cli/internal/hashing/package_deps_hash_test.go
  cli/internal/runcache/runcache.go
  cli/internal/turbopath/absolute_system_path.go
  cli/internal/turbopath/absolute_system_path_darwin.go
  cli/internal/turbopath/absolute_system_path_notdarwin.go
  cli/internal/turbopath/anchored_system_path.go
  cli/package.json
  cli/scripts/e2e/e2e.ts
  pnpm-lock.yaml
Labels: pr: automerge

#2121 fix handling of injected dependencies for pnpm prune
  cli/internal/lockfile/pnpm_lockfile.go
  cli/internal/lockfile/pnpm_lockfile_test.go
  cli/internal/lockfile/testdata/pnpm7-workspace.yaml
Labels: pr: automerge

#2171 Remove INFO prefix from log line
  cli/integration_tests/single_package/run.t
  cli/integration_tests/single_package_deps/run.t
  cli/integration_tests/single_package_no_config/run.t
  cli/internal/run/run.go
Labels: pr: automerge

#2130 Update examples to always quote the ESLint glob.
  examples/basic/packages/ui/package.json
  examples/design-system/packages/acme-core/package.json
  examples/design-system/packages/acme-utils/package.json
  examples/kitchen-sink/apps/admin/package.json
  examples/kitchen-sink/apps/api/package.json
  examples/kitchen-sink/apps/api/src/index.ts
  examples/kitchen-sink/packages/logger/package.json
  examples/kitchen-sink/packages/ui/package.json
  examples/with-changesets/packages/acme-core/package.json
  examples/with-changesets/packages/acme-utils/package.json
  examples/with-create-react-app/apps/docs/package.json
  examples/with-create-react-app/apps/web/package.json
  examples/with-create-react-app/packages/ui/package.json
  examples/with-docker/apps/api/package.json
  examples/with-docker/apps/api/src/index.ts
  examples/with-docker/packages/logger/package.json
  examples/with-docker/packages/ui/package.json
  examples/with-pnpm/packages/ui/package.json
  examples/with-prisma/packages/database/package.json
  examples/with-svelte/apps/docs/package.json
  examples/with-svelte/apps/web/package.json
  examples/with-svelte/packages/ui/package.json
  examples/with-vite/apps/docs/package.json
  examples/with-vite/apps/web/package.json
  examples/with-vite/packages/ui/package.json
  packages/create-turbo/templates/_shared_ts/packages/ui/package.json
Labels: pr: automerge

#2172 Fix usage of uninitialized Ui instance
  cli/integration_tests/monorepo_one_script_error/monorepo/.gitignore
  cli/integration_tests/monorepo_one_script_error/monorepo/apps/my-app/package.json
  cli/integration_tests/monorepo_one_script_error/monorepo/package.json
  cli/integration_tests/monorepo_one_script_error/monorepo/turbo.json
  cli/integration_tests/monorepo_one_script_error/run.t
  cli/integration_tests/monorepo_one_script_error/setup.sh
  cli/internal/run/run.go
Labels: pr: automerge

#2179 support new paused status
  cli/internal/client/client.go
  cli/internal/login/link.go
  cli/internal/login/login.go
  cli/internal/login/status.go
  cli/internal/util/status.go
Labels: pr: automerge

#2181 fix(examples): correct react-native ui output
  examples/with-react-native-web/packages/tsconfig/react-native-library.json
  examples/with-react-native-web/packages/ui/package.json
Labels: pr: automerge

#2115 Added explainer on environment variables
  docs/pages/docs/handbook/dev.mdx
Labels: pr: automerge

#2191 fix(examples): cache .vercel for adapter-vercel
  examples/with-svelte/turbo.json
Labels: pr: automerge

#2202 fix(turbo): add new docs env vars
  turbo.json
Labels: pr: automerge

#2201 feat(cli): log auto included envs and framework
  .vscode/launch.json
  cli/internal/run/run.go
  cli/internal/taskhash/taskhash.go
Labels: pr: automerge

#2211 feat(cli): global defaults for filters
  cli/internal/scope/filter/filter.go
  cli/internal/scope/scope.go
  cli/internal/scope/scope_test.go
Labels: pr: automerge

#2160 feature(shim): find and run local turbo
  shim/Cargo.lock
  shim/Cargo.toml
  shim/src/main.rs
  shim/src/package_manager.rs
  shim/src/paths.rs
  shim/tests/mod.rs
Labels: pr: automerge

#2210 feature(shim): Merge shim directory
  shim/.gitignore
  shim/Cargo.lock
  shim/Cargo.toml
  shim/build.rs
  shim/src/main.rs
  shim/src/package_manager.rs
  shim/tests/mod.rs
Labels: pr: automerge

#2217 chore(cli): support cobra completion command
  cli/internal/cmd/root.go
Labels: pr: automerge

#2225 fix(examples): fix inconsistent package naming in with-changesets example
  examples/with-changesets/README.md
  examples/with-changesets/apps/docs/package.json
Labels: pr: automerge

#2228 feat(examples): update docker file to install libc6-compact
  examples/with-docker/apps/api/Dockerfile
  examples/with-docker/apps/web/Dockerfile
Labels: pr: automerge

#2212 Add note about glibc in alpine docker environments
  docs/pages/docs/getting-started/existing-monorepo.mdx
Labels: pr: automerge

#2229 chore(docs): update nextra to fix anchor bug
  docs/package.json
  pnpm-lock.yaml
Labels: pr: automerge

#2218 Build shim locally, along with libturbo.a
  .gitignore
  cli/Makefile
  cli/cmd/turbo/main.go
  shim/Cargo.lock
  shim/Cargo.toml
  shim/build.rs
  shim/rust-toolchain
Labels: pr: automerge

#2231 Mark no-daemon as publicly visible
  cli/internal/run/run.go
  docs/pages/docs/reference/command-line-reference.mdx
Labels: pr: automerge

#2233 Drop unused dependency on cache location
  cli/internal/cache/cache.go
  cli/internal/cache/cache_fs.go
  cli/internal/context/context.go
  cli/internal/packagemanager/packagemanager.go
  cli/internal/prune/prune.go
  cli/internal/run/run.go
Labels: pr: automerge

#2205 Remove deprecated flags. Test safety.
  .vscode/launch.json
  cli/scripts/e2e/e2e.ts
  cli/scripts/monorepo.ts
Labels: pr: automerge

#2240 Add Agrotoken to showcase
  docs/components/clients/users.ts
  docs/public/images/logos/color/agrotoken.svg
  docs/public/images/logos/white/agrotoken.svg
Labels: pr: automerge

#2252 fix(shim): help flag on shim
  shim/src/main.rs
Labels: pr: automerge

#2209 docs(ci): use current checkout and setup-node versions
  docs/pages/docs/ci/github-actions.mdx
Labels: area: docs, pr: automerge

#2125 Delete unused run-examples script
  scripts/run-examples.sh
Labels: pr: automerge

#2235 Fix heading level for CLI option in docs
  docs/pages/docs/reference/command-line-reference.mdx
Labels: pr: automerge

#2278 Update help text
  cli/integration_tests/turbo_help.t
  cli/internal/cmd/root.go
Labels: pr: automerge

#2276 fix(shim): Fixed version flag
  shim/src/main.rs
Labels: pr: automerge

#2292 Include the argument separator for dotenv.
  docs/pages/docs/handbook/dev.mdx
Labels: pr: automerge

#2290 Fix typo in monorepo docs
  docs/pages/docs/handbook/what-is-a-monorepo.mdx
Labels: pr: automerge

#2295 fix(docs): correct typo in `eslint-config-custom/package.json`
  docs/pages/docs/handbook/linting/eslint.mdx
Labels: pr: automerge

#2328 fix: twitter handle for Tobias in Readme
  README.md
Labels: area: docs

#2329 add missing --input flag for the Tailwind command
  docs/pages/pack/docs/features/css.mdx
Labels: area: docs

#2326 Fix typo
  docs/pages/pack/docs/index.mdx
Labels: area: docs, pr: automerge

#2334 Fixed the link in a documentation
  docs/pages/repo/docs/handbook/dev.mdx
Labels: pr: automerge

#2333 chore: fix multiple typos
  docs/pages/pack/docs/features/css.mdx
  docs/pages/pack/docs/features/javascript.mdx
  docs/pages/repo/docs/ci/gitlabci.mdx
  docs/pages/repo/docs/ci/travisci.mdx
  docs/pages/repo/docs/core-concepts/caching.mdx
  docs/pages/repo/docs/reference/codemods.mdx
Labels: area: docs, pr: automerge

#2332 Fix typo
  docs/pages/pack/docs/migrating-from-webpack.mdx
Labels: area: docs, pr: automerge

#2331 Docs: Add Rocket.Chat to Turbo Showcase page
  docs/components/clients/users.ts
  docs/public/images/logos/color/rocketchat.svg
  docs/public/images/logos/white/rocketchat.svg
Labels: area: docs, pr: automerge

#2341 Fix link in turbopack readme
  crates/turbopack/README.md
Labels: area: docs, pr: automerge

#2345 fix(shim): Ignore shim in cargo workspace
  Cargo.toml
Labels: pr: automerge

#2360 Fix twitter link on Turbopack README
  crates/turbopack/README.md
Labels: pr: automerge

#2358 fix: license link not found
  README.md
  crates/turbopack/README.md
  packages/turbo/README.md
Labels: pr: automerge

#2234 feature(rust): `bin` command porting
  .gitignore
  cli/libturbo.h
  shim/Cargo.lock
  shim/Cargo.toml
  shim/build.rs
  shim/src/commands/bin.rs
  shim/src/commands/mod.rs
  shim/src/ffi.rs
  shim/src/main.rs
Labels: pr: automerge

#2376 chore(docs): fix broken "installing the `turbo`" link
  docs/pages/repo/docs/reference/command-line-reference.mdx
Labels: pr: automerge

#2269 fix: prune should omit descriptors from peerDependencies
  cli/internal/lockfile/berry_lockfile.go
  cli/internal/lockfile/testdata/minimal-berry.lock
Labels: pr: automerge

#2381 fix: add yarn install to with-docker setup
  examples/with-docker/README.md
Labels: area: examples

#2335 The glibc patch for the Dockerfile was only applied to the builder
  docs/pages/repo/docs/handbook/deploying-with-docker.mdx
  examples/with-docker/apps/api/Dockerfile
  examples/with-docker/apps/web/Dockerfile
  pnpm-lock.yaml
Labels: area: docs, area: examples

#2385 Implement nsObj helper from webpack tests and pass basic import test
  crates/next-dev/tests/harness.js
  crates/next-dev/tests/integration/webpack/chunks/import/index.js
  crates/next-dev/tests/integration/webpack/chunks/import/two.js
Labels: area: turbopack

#2393 benchmark update contrast
  docs/components/pages/home-shared/gradients.module.css
  docs/components/pages/pack-home/PackBenchmarksGraph.tsx
Labels: pr: automerge

#2395 Don't allocate collectibles unless necessary
  crates/turbo-tasks-memory/src/lib.rs
  crates/turbo-tasks-memory/src/task.rs
Labels: pr: automerge, area: turbopack

#2397 Warn on not-yet-supported import.meta usage
  crates/turbopack-ecmascript/src/analyzer/graph.rs
  crates/turbopack-ecmascript/src/errors.rs
  crates/turbopack-ecmascript/src/references/mod.rs
Labels: pr: automerge, area: turbopack

#2367 Switch to inverted definition.
  cli/internal/tarpatch/tar_unix.go
Labels: pr: automerge

#2366 Make turbotrace test project as an independent package
  .github/actions/setup-node/action.yml
  .github/workflows/bench-turbopack.yml
  .github/workflows/bench-turborepo.yml
  .github/workflows/bench-turbotrace-against-node-nft.yml
  .github/workflows/check-codestyle-filtered.yml
  .github/workflows/dispatch-next-dev-custom-bench.yml
  .github/workflows/dispatch-next-dev-matrix-bench.yml
  .github/workflows/pr-go-e2e.yml
  .github/workflows/pr-go-unit.yml
  .github/workflows/pr-js-tests.yml
  .github/workflows/pr-turbopack-bench.yml
  .github/workflows/publish-npm.yml
  .github/workflows/quick-test-cargo.yml
  .github/workflows/release-turbopack.yml
  .github/workflows/release-turborepo.yml
  .github/workflows/stage.yml
  .github/workflows/test-cargo.yml
  crates/turbopack/.gitignore
  crates/turbopack/tests/node-file-trace.rs
  crates/turbopack/tests/node-file-trace/package.json
  crates/turbopack/tests/node-file-trace/pnpm-lock.yaml
  crates/turbopack/tests/node-file-trace/pnpm-workspace.yaml
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: pr: automerge, area: turbopack

#2392 we don't ship lto so we shouldn't benchmark it
  Cargo.toml
Labels: area: turbopack

#2323 Move removed redirect rule to bottom
  docs/next.config.js
Labels: pr: automerge

#2413 Docs: Add Backpack to Turbo Showcase page
  docs/components/clients/users.ts
  docs/public/images/logos/color/backpack.svg
  docs/public/images/logos/white/backpack.svg
Labels: pr: automerge

#2418 Do not forget
  crates/node-file-trace/src/lib.rs
Labels: area: turbopack

#2424 fix: npm lockfile causing cache instability
  cli/internal/context/context.go
Labels: pr: automerge

#2379 tests(turbo): Rust CLI Tests
  cli/integration_tests/turbo_help.t
  shim/Cargo.lock
  shim/Cargo.toml
  shim/src/commands/bin.rs
  shim/src/main.rs
  shim/tests/mod.rs
Labels: pr: automerge

#2429 Support comments in tsconfig.json
  Cargo.lock
  crates/turbo-tasks-fs/Cargo.toml
  crates/turbo-tasks-fs/src/lib.rs
  crates/turbopack/tests/node-file-trace/integration/ts-package/tsconfig.json
Labels: area: turbopack

#2434 Add Next.js require hook
  crates/next-core/js/src/entry/app-renderer.tsx
  crates/next-core/js/src/entry/server-api.tsx
  crates/next-core/js/src/entry/server-renderer.tsx
Labels: pr: automerge, area: turbopack

#2439 Fix lockfile
  pnpm-lock.yaml
Labels: pr: automerge, area: turbopack

#2402 Source map tracing fixes
  crates/next-core/src/nodejs/mod.rs
  crates/next-core/src/source_map/trace.rs
  crates/turbo-tasks-fs/src/lib.rs
  crates/turbopack-cli-utils/src/issue.rs
  crates/turbopack-ecmascript/src/parse.rs
  crates/turbopack-tests/tests/snapshot/basic/async_chunk/output/bbbdc_foo_index.js.abc123.map
  crates/turbopack-tests/tests/snapshot/basic/async_chunk/output/crates_turbopack-tests_tests_snapshot_basic_async_chunk_input_import.js.abc123.map
  crates/turbopack-tests/tests/snapshot/basic/async_chunk/output/crates_turbopack-tests_tests_snapshot_basic_async_chunk_input_index_9be35c.js.abc123.map
  crates/turbopack-tests/tests/snapshot/basic/chunked/output/7012b_foo_index.js.abc123.map
  crates/turbopack-tests/tests/snapshot/basic/chunked/output/crates_turbopack-tests_tests_snapshot_basic_chunked_input_index_100c01.js.abc123.map
  crates/turbopack-tests/tests/snapshot/css/css/output/crates_turbopack-tests_tests_snapshot_css_css_input_index_6b1595.js.abc123.map
  crates/turbopack-tests/tests/snapshot/emotion/emotion/output/05161_hoist-non-react-statics_dist_hoist-non-react-statics.cjs.js.abc123.map
  crates/turbopack-tests/tests/snapshot/emotion/emotion/output/083ed_@emotion_serialize_dist_emotion-serialize.cjs.js.abc123.map
  crates/turbopack-tests/tests/snapshot/emotion/emotion/output/0c782_@emotion_unitless_dist_emotion-unitless.cjs.js.abc123.map
  crates/turbopack-tests/tests/snapshot/emotion/emotion/output/12353_stylis_dist_umd_stylis.js.abc123.map
  crates/turbopack-tests/tests/snapshot/emotion/emotion/output/2a8cf_rtion-effect-with-fallbacks_dist_emotion-use-insertion-effect-with-fallbacks.cjs.js.abc123.map
  crates/turbopack-tests/tests/snapshot/emotion/emotion/output/2b6df_@babel_runtime_helpers_extends.js.abc123.map
  crates/turbopack-tests/tests/snapshot/emotion/emotion/output/506d3_@emotion_sheet_dist_emotion-sheet.cjs.js.abc123.map
  crates/turbopack-tests/tests/snapshot/emotion/emotion/output/535ac_react_index.js.abc123.map
  crates/turbopack-tests/tests/snapshot/emotion/emotion/output/535ac_react_jsx-runtime.js.abc123.map
  crates/turbopack-tests/tests/snapshot/emotion/emotion/output/549e8_@emotion_react__isolated-hnrs_dist_emotion-react-_isolated-hnrs.cjs.dev.js.abc123.map
  crates/turbopack-tests/tests/snapshot/emotion/emotion/output/549e8_@emotion_react__isolated-hnrs_dist_emotion-react-_isolated-hnrs.cjs.prod.js.abc123.map
  crates/turbopack-tests/tests/snapshot/emotion/emotion/output/549e8_@emotion_react_dist_emotion-react.cjs.js.abc123.map
  crates/turbopack-tests/tests/snapshot/emotion/emotion/output/6395b_@emotion_cache_dist_emotion-cache.cjs.js.abc123.map
  crates/turbopack-tests/tests/snapshot/emotion/emotion/output/69399_@emotion_is-prop-valid_dist_emotion-is-prop-valid.cjs.js.abc123.map
  crates/turbopack-tests/tests/snapshot/emotion/emotion/output/8e274_@emotion_memoize_dist_emotion-memoize.cjs.js.abc123.map
  crates/turbopack-tests/tests/snapshot/emotion/emotion/output/a6e92_react-is_index.js.abc123.map
  crates/turbopack-tests/tests/snapshot/emotion/emotion/output/b5709_@emotion_styled_base_dist_emotion-styled-base.cjs.dev.js.abc123.map
  crates/turbopack-tests/tests/snapshot/emotion/emotion/output/b5709_@emotion_styled_base_dist_emotion-styled-base.cjs.prod.js.abc123.map
  crates/turbopack-tests/tests/snapshot/emotion/emotion/output/b5709_@emotion_styled_dist_emotion-styled.cjs.js.abc123.map
  crates/turbopack-tests/tests/snapshot/emotion/emotion/output/cc916_@emotion_weak-memoize_dist_emotion-weak-memoize.cjs.js.abc123.map
  crates/turbopack-tests/tests/snapshot/emotion/emotion/output/crates_turbopack-tests_tests_snapshot_emotion_emotion_input_index_3be5b0.js.abc123.map
  crates/turbopack-tests/tests/snapshot/emotion/emotion/output/e768c_@emotion_utils_dist_emotion-utils.cjs.js.abc123.map
  crates/turbopack-tests/tests/snapshot/emotion/emotion/output/ff526_@emotion_hash_dist_emotion-hash.cjs.js.abc123.map
  crates/turbopack-tests/tests/snapshot/env/env/output/crates_turbopack-tests_tests_snapshot_env_env_input_480486.js.abc123.map
  crates/turbopack-tests/tests/snapshot/evaluated_entrry/runtime_entry/output/1cdd0_tests_snapshot_evaluated_entrry_runtime_entry_input_index_58db80.js.abc123.map
  crates/turbopack-tests/tests/snapshot/example/example/output/crates_turbopack-tests_tests_snapshot_example_example_input_index_a7beb7.js.abc123.map
  crates/turbopack-tests/tests/snapshot/imports/json/output/crates_turbopack-tests_tests_snapshot_imports_json_input_index_e24981.js.abc123.map
  crates/turbopack-tests/tests/snapshot/imports/resolve_error_cjs/output/13a8f_turbopack-tests_tests_snapshot_imports_resolve_error_cjs_input_index_223f2e.js.abc123.map
  crates/turbopack-tests/tests/snapshot/imports/resolve_error_esm/output/13a8f_turbopack-tests_tests_snapshot_imports_resolve_error_esm_input_index_51a95e.js.abc123.map
  crates/turbopack-tests/tests/snapshot/imports/static/output/crates_turbopack-tests_tests_snapshot_imports_static_input_index_b8717b.js.abc123.map
  crates/turbopack-tests/tests/snapshot/styled_components/styled_components/output/05161_hoist-non-react-statics_dist_hoist-non-react-statics.cjs.js.abc123.map
  crates/turbopack-tests/tests/snapshot/styled_components/styled_components/output/1cdd0_tests_snapshot_styled_components_styled_components_input_index_ee92b9.js.abc123.map
  crates/turbopack-tests/tests/snapshot/styled_components/styled_components/output/34b44_@emotion_unitless_dist_unitless.cjs.js.abc123.map
  crates/turbopack-tests/tests/snapshot/styled_components/styled_components/output/3e092_shallowequal_index.js.abc123.map
  crates/turbopack-tests/tests/snapshot/styled_components/styled_components/output/535ac_react_index.js.abc123.map
  crates/turbopack-tests/tests/snapshot/styled_components/styled_components/output/69399_@emotion_is-prop-valid_dist_emotion-is-prop-valid.cjs.js.abc123.map
  crates/turbopack-tests/tests/snapshot/styled_components/styled_components/output/8e274_@emotion_memoize_dist_emotion-memoize.cjs.js.abc123.map
  crates/turbopack-tests/tests/snapshot/styled_components/styled_components/output/a6e92_react-is_index.js.abc123.map
  crates/turbopack-tests/tests/snapshot/styled_components/styled_components/output/c4083_styled-components_dist_styled-components.cjs.js.abc123.map
  crates/turbopack-tests/tests/snapshot/styled_components/styled_components/output/c6fe1_react-is_index.js.abc123.map
  crates/turbopack-tests/tests/snapshot/styled_components/styled_components/output/d3cc4_@emotion_stylis_dist_stylis.cjs.js.abc123.map
  crates/turbopack-tests/tests/snapshot/swc_transforms/mono_transforms/output/1cdd0_tests_snapshot_swc_transforms_mono_transforms_input_packages_app_index_cfff39.js.abc123.map
  crates/turbopack-tests/tests/snapshot/swc_transforms/mono_transforms/output/1cdd0_tests_snapshot_swc_transforms_mono_transforms_input_packages_component_index.js.abc123.map
  crates/turbopack-tests/tests/snapshot/swc_transforms/mono_transforms/output/535ac_react_jsx-runtime.js.abc123.map
  crates/turbopack-tests/tests/snapshot/swc_transforms/mono_transforms/output/bcbf2_react_jsx-runtime.js.abc123.map
  crates/turbopack-tests/tests/snapshot/swc_transforms/mono_transforms/output/bcbf2_third_party_component_index.js.abc123.map
  crates/turbopack-tests/tests/snapshot/swc_transforms/preset_env/output/13a8f_turbopack-tests_tests_snapshot_swc_transforms_preset_env_input_index_1dfafd.js.abc123.map
  crates/turbopack-tests/tests/snapshot/swc_transforms/preset_env/output/a1e25_@swc_helpers_src__class_call_check.mjs.js.abc123.map
Labels: area: turbopack

#2417 More forgiving timeout when waiting for Node.js to connect
  crates/next-core/src/nodejs/pool.rs
Labels: area: turbopack

#2364 Replace unchecked Future pinning with pin_project_lite
  Cargo.lock
  crates/turbo-tasks/Cargo.toml
  crates/turbo-tasks/src/timed_future.rs
  crates/turbopack-ecmascript/Cargo.toml
  crates/turbopack-ecmascript/src/utils.rs
Labels: area: turbopack

#2423 Optimize {run_add_to,run_remove_from}_scope_queue
  crates/turbo-tasks-memory/src/count_hash_set.rs
  crates/turbo-tasks-memory/src/memory_backend.rs
  crates/turbo-tasks-memory/src/scope.rs
  crates/turbo-tasks-memory/src/task.rs
Labels: pr: automerge, area: turbopack

#2399 Fix decrement_tasks incrementing instead
  crates/turbo-tasks-memory/src/scope.rs
Labels: pr: automerge, area: turbopack

#2435 Update Next.js dependency for the TP benchmark
  crates/next-dev/benches/bundlers/turbopack.rs
Labels: pr: automerge, area: turbopack

#2436 prettier fixes
  .prettierignore
  crates/next-core/js/src/entry/app-renderer.tsx
  crates/next-core/js/src/entry/server-api.tsx
  crates/next-core/js/src/entry/server-renderer.tsx
Labels: pr: automerge, area: turbopack

#2362 Fix unsound `with_task_id_mapping` implementation
  crates/turbo-tasks/src/id.rs
Labels: area: turbopack

#2457 make sure to exit the process in case of errors during errors sending
  crates/next-core/js/src/internal/ipc.ts
Labels: pr: automerge

#2465 Fix internal link in docs
  docs/pages/repo/docs/core-concepts/scopes.mdx
Labels: pr: automerge

#2463 improve startup and warmup of benchmarks
  crates/next-dev/benches/mod.rs
  crates/next-dev/benches/util/mod.rs
Labels: pr: automerge

#2464 Avoid recomputing all_assets_map on every change
  crates/turbopack-ecmascript/src/chunk/source_map.rs
  crates/turbopack-tests/tests/snapshot.rs
  crates/turbopack-tests/tests/snapshot/basic/async_chunk/output/13a8f_turbopack-tests_tests_snapshot_basic_async_chunk_input_import.js_manifest-chunk.js.map
  crates/turbopack-tests/tests/snapshot/basic/async_chunk/output/bbbdc_foo_index.js.map
  crates/turbopack-tests/tests/snapshot/basic/async_chunk/output/crates_turbopack-tests_tests_snapshot_basic_async_chunk_input_import.js.map
  crates/turbopack-tests/tests/snapshot/basic/async_chunk/output/crates_turbopack-tests_tests_snapshot_basic_async_chunk_input_index_9be35c.js.map
  crates/turbopack-tests/tests/snapshot/basic/chunked/output/7012b_foo_index.js.map
  crates/turbopack-tests/tests/snapshot/basic/chunked/output/crates_turbopack-tests_tests_snapshot_basic_chunked_input_index_100c01.js.map
  crates/turbopack-tests/tests/snapshot/css/css/output/a97f4_foo_style.module.css.js.map
  crates/turbopack-tests/tests/snapshot/css/css/output/crates_turbopack-tests_tests_snapshot_css_css_input_index_6b1595.js.map
  crates/turbopack-tests/tests/snapshot/emotion/emotion/output/05161_hoist-non-react-statics_dist_hoist-non-react-statics.cjs.js.map
  crates/turbopack-tests/tests/snapshot/emotion/emotion/output/083ed_@emotion_serialize_dist_emotion-serialize.cjs.js.map
  crates/turbopack-tests/tests/snapshot/emotion/emotion/output/0c782_@emotion_unitless_dist_emotion-unitless.cjs.js.map
  crates/turbopack-tests/tests/snapshot/emotion/emotion/output/12353_stylis_dist_umd_stylis.js.map
  crates/turbopack-tests/tests/snapshot/emotion/emotion/output/2a8cf_rtion-effect-with-fallbacks_dist_emotion-use-insertion-effect-with-fallbacks.cjs.js.map
  crates/turbopack-tests/tests/snapshot/emotion/emotion/output/2b6df_@babel_runtime_helpers_extends.js.map
  crates/turbopack-tests/tests/snapshot/emotion/emotion/output/506d3_@emotion_sheet_dist_emotion-sheet.cjs.js.map
  crates/turbopack-tests/tests/snapshot/emotion/emotion/output/535ac_react_index.js.map
  crates/turbopack-tests/tests/snapshot/emotion/emotion/output/535ac_react_jsx-runtime.js.map
  crates/turbopack-tests/tests/snapshot/emotion/emotion/output/549e8_@emotion_react__isolated-hnrs_dist_emotion-react-_isolated-hnrs.cjs.dev.js.map
  crates/turbopack-tests/tests/snapshot/emotion/emotion/output/549e8_@emotion_react__isolated-hnrs_dist_emotion-react-_isolated-hnrs.cjs.prod.js.map
  crates/turbopack-tests/tests/snapshot/emotion/emotion/output/549e8_@emotion_react_dist_emotion-react.cjs.js.map
  crates/turbopack-tests/tests/snapshot/emotion/emotion/output/6395b_@emotion_cache_dist_emotion-cache.cjs.js.map
  crates/turbopack-tests/tests/snapshot/emotion/emotion/output/69399_@emotion_is-prop-valid_dist_emotion-is-prop-valid.cjs.js.map
  crates/turbopack-tests/tests/snapshot/emotion/emotion/output/8e274_@emotion_memoize_dist_emotion-memoize.cjs.js.map
  crates/turbopack-tests/tests/snapshot/emotion/emotion/output/a6e92_react-is_index.js.map
  crates/turbopack-tests/tests/snapshot/emotion/emotion/output/b5709_@emotion_styled_base_dist_emotion-styled-base.cjs.dev.js.map
  crates/turbopack-tests/tests/snapshot/emotion/emotion/output/b5709_@emotion_styled_base_dist_emotion-styled-base.cjs.prod.js.map
  crates/turbopack-tests/tests/snapshot/emotion/emotion/output/b5709_@emotion_styled_dist_emotion-styled.cjs.js.map
  crates/turbopack-tests/tests/snapshot/emotion/emotion/output/cc916_@emotion_weak-memoize_dist_emotion-weak-memoize.cjs.js.map
  crates/turbopack-tests/tests/snapshot/emotion/emotion/output/crates_turbopack-tests_tests_snapshot_emotion_emotion_input_index_3be5b0.js.map
  crates/turbopack-tests/tests/snapshot/emotion/emotion/output/e768c_@emotion_utils_dist_emotion-utils.cjs.js.map
  crates/turbopack-tests/tests/snapshot/emotion/emotion/output/ff526_@emotion_hash_dist_emotion-hash.cjs.js.map
  crates/turbopack-tests/tests/snapshot/env/env/output/crates_turbopack-tests_tests_snapshot_env_env_input_480486.js.map
  crates/turbopack-tests/tests/snapshot/evaluated_entrry/runtime_entry/output/1cdd0_tests_snapshot_evaluated_entrry_runtime_entry_input_index_58db80.js.map
  crates/turbopack-tests/tests/snapshot/example/example/output/crates_turbopack-tests_tests_snapshot_example_example_input_index_a7beb7.js.map
  crates/turbopack-tests/tests/snapshot/imports/json/output/crates_turbopack-tests_tests_snapshot_imports_json_input_index_e24981.js.map
  crates/turbopack-tests/tests/snapshot/imports/resolve_error_cjs/output/13a8f_turbopack-tests_tests_snapshot_imports_resolve_error_cjs_input_index_223f2e.js.map
  crates/turbopack-tests/tests/snapshot/imports/resolve_error_esm/output/13a8f_turbopack-tests_tests_snapshot_imports_resolve_error_esm_input_index_51a95e.js.map
  crates/turbopack-tests/tests/snapshot/imports/static/output/crates_turbopack-tests_tests_snapshot_imports_static_input_index_b8717b.js.map
  crates/turbopack-tests/tests/snapshot/styled_components/styled_components/output/05161_hoist-non-react-statics_dist_hoist-non-react-statics.cjs.js.map
  crates/turbopack-tests/tests/snapshot/styled_components/styled_components/output/1cdd0_tests_snapshot_styled_components_styled_components_input_index_ee92b9.js.map
  crates/turbopack-tests/tests/snapshot/styled_components/styled_components/output/34b44_@emotion_unitless_dist_unitless.cjs.js.map
  crates/turbopack-tests/tests/snapshot/styled_components/styled_components/output/3e092_shallowequal_index.js.map
  crates/turbopack-tests/tests/snapshot/styled_components/styled_components/output/535ac_react_index.js.map
  crates/turbopack-tests/tests/snapshot/styled_components/styled_components/output/69399_@emotion_is-prop-valid_dist_emotion-is-prop-valid.cjs.js.map
  crates/turbopack-tests/tests/snapshot/styled_components/styled_components/output/8e274_@emotion_memoize_dist_emotion-memoize.cjs.js.map
  crates/turbopack-tests/tests/snapshot/styled_components/styled_components/output/a6e92_react-is_index.js.map
  crates/turbopack-tests/tests/snapshot/styled_components/styled_components/output/c4083_styled-components_dist_styled-components.cjs.js.map
  crates/turbopack-tests/tests/snapshot/styled_components/styled_components/output/c6fe1_react-is_index.js.map
  crates/turbopack-tests/tests/snapshot/styled_components/styled_components/output/d3cc4_@emotion_stylis_dist_stylis.cjs.js.map
  crates/turbopack-tests/tests/snapshot/swc_transforms/mono_transforms/output/1cdd0_tests_snapshot_swc_transforms_mono_transforms_input_packages_app_index_cfff39.js.map
  crates/turbopack-tests/tests/snapshot/swc_transforms/mono_transforms/output/1cdd0_tests_snapshot_swc_transforms_mono_transforms_input_packages_component_index.js.map
  crates/turbopack-tests/tests/snapshot/swc_transforms/mono_transforms/output/535ac_react_jsx-runtime.js.map
  crates/turbopack-tests/tests/snapshot/swc_transforms/mono_transforms/output/bcbf2_react_jsx-runtime.js.map
  crates/turbopack-tests/tests/snapshot/swc_transforms/mono_transforms/output/bcbf2_third_party_component_index.js.map
  crates/turbopack-tests/tests/snapshot/swc_transforms/preset_env/output/13a8f_turbopack-tests_tests_snapshot_swc_transforms_preset_env_input_index_1dfafd.js.map
  crates/turbopack-tests/tests/snapshot/swc_transforms/preset_env/output/a1e25_@swc_helpers_src__class_call_check.mjs.js.map
Labels: pr: automerge, area: turbopack

#2431 Use dashmap+fxhash instead of flurry
  Cargo.lock
  crates/turbo-tasks-memory/Cargo.toml
  crates/turbo-tasks-memory/src/memory_backend.rs
Labels: pr: automerge, area: turbopack

#2422 Warn on not-yet-supported module usage
  crates/turbopack-core/src/issue/mod.rs
  crates/turbopack-core/src/issue/unsupported_module.rs
  crates/turbopack/src/lib.rs
Labels: area: turbopack

#2475 Use the same hashing logic for sourcemap names
  crates/turbopack-core/src/chunk/mod.rs
  crates/turbopack-ecmascript/src/chunk/mod.rs
  crates/turbopack-ecmascript/src/chunk/source_map.rs
Labels: area: turbopack

#2474 change source map handling to not invalidate on file change
  crates/turbopack-ecmascript/src/chunk/mod.rs
  crates/turbopack-ecmascript/src/chunk/source_map.rs
Labels: area: turbopack

#2476 improve chunk optimization
  crates/turbo-tasks/src/primitives.rs
  crates/turbopack-ecmascript/src/chunk/mod.rs
  crates/turbopack-ecmascript/src/chunk/optimize.rs
  crates/turbopack-tests/tests/snapshot/emotion/emotion/output/crates_turbopack-tests_tests_snapshot_emotion_emotion_input_index_a6563b.js
  crates/turbopack-tests/tests/snapshot/emotion/emotion/output/crates_turbopack-tests_tests_snapshot_emotion_emotion_input_index_a6563b.js.map
  crates/turbopack-tests/tests/snapshot/styled_components/styled_components/output/1cdd0_tests_snapshot_styled_components_styled_components_input_index_90e5d2.js
  crates/turbopack-tests/tests/snapshot/styled_components/styled_components/output/1cdd0_tests_snapshot_styled_components_styled_components_input_index_90e5d2.js.map
Labels: area: turbopack

#2480 feat(next/dev): allow to retry bind
  crates/next-dev/src/lib.rs
Labels: area: turbopack

#2501 fix bad performance in ApplyVisitors
  crates/turbopack-ecmascript/src/path_visitor.rs
Labels: area: turbopack
