Repository vercel/turborepo, pull requests merged in 2022-07, with the labels that each got.

#1475 chore: remove redundant `.turbo`
  examples/design-system/.gitignore
Labels: pr: automerge

#1483 chore(examples): update tsconfig declaration val
  examples/basic/packages/tsconfig/nextjs.json
  examples/basic/packages/tsconfig/react-library.json
  examples/design-system/packages/acme-tsconfig/node16.json
  examples/design-system/packages/acme-tsconfig/react-library.json
  examples/kitchen-sink/apps/blog/tsconfig.json
  examples/kitchen-sink/packages/tsconfig/nextjs.json
  examples/kitchen-sink/packages/tsconfig/react-library.json
  examples/kitchen-sink/packages/tsconfig/vite.json
  examples/with-changesets/packages/acme-tsconfig/nextjs.json
  examples/with-changesets/packages/acme-tsconfig/node14.json
  examples/with-changesets/packages/acme-tsconfig/react-library.json
  examples/with-pnpm/packages/tsconfig/nextjs.json
  examples/with-pnpm/packages/tsconfig/react-library.json
  packages/create-turbo/templates/_shared_ts/packages/tsconfig/react-library.json
Labels: pr: automerge

#1410 Implement filesystem cookies for filewatch ordering
  cli/internal/daemon/daemon.go
  cli/internal/filewatcher/cookie.go
  cli/internal/filewatcher/cookie_test.go
  cli/internal/fs/path.go
  cli/internal/globwatcher/globwatcher.go
  cli/internal/globwatcher/globwatcher_test.go
  cli/internal/server/server.go
  cli/internal/server/server_test.go
Labels: pr: automerge

#1486 feat(examples): add react-native-web
  examples/with-react-native-web/.gitignore
  examples/with-react-native-web/README.md
  examples/with-react-native-web/apps/native/.expo-shared/assets.json
  examples/with-react-native-web/apps/native/.gitignore
  examples/with-react-native-web/apps/native/App.tsx
  examples/with-react-native-web/apps/native/README.md
  examples/with-react-native-web/apps/native/app.json
  examples/with-react-native-web/apps/native/assets/adaptive-icon.png
  examples/with-react-native-web/apps/native/assets/favicon.png
  examples/with-react-native-web/apps/native/assets/icon.png
  examples/with-react-native-web/apps/native/assets/splash.png
  examples/with-react-native-web/apps/native/babel.config.js
  examples/with-react-native-web/apps/native/index.js
  examples/with-react-native-web/apps/native/metro.config.js
  examples/with-react-native-web/apps/native/package.json
  examples/with-react-native-web/apps/native/tsconfig.json
  examples/with-react-native-web/apps/web/.babel.config.js
  examples/with-react-native-web/apps/web/.gitignore
  examples/with-react-native-web/apps/web/README.md
  examples/with-react-native-web/apps/web/next-env.d.ts
  examples/with-react-native-web/apps/web/next.config.js
  examples/with-react-native-web/apps/web/package.json
  examples/with-react-native-web/apps/web/pages/_app.tsx
  examples/with-react-native-web/apps/web/pages/index.tsx
  examples/with-react-native-web/apps/web/styles/global.css
  examples/with-react-native-web/apps/web/styles/index.module.css
  examples/with-react-native-web/apps/web/tsconfig.json
  examples/with-react-native-web/package.json
  examples/with-react-native-web/packages/tsconfig/base.json
  examples/with-react-native-web/packages/tsconfig/nextjs.json
  examples/with-react-native-web/packages/tsconfig/package.json
  examples/with-react-native-web/packages/tsconfig/react-native-library.json
  examples/with-react-native-web/packages/ui/.gitignore
  examples/with-react-native-web/packages/ui/package.json
  examples/with-react-native-web/packages/ui/src/button.tsx
  examples/with-react-native-web/packages/ui/src/index.tsx
  examples/with-react-native-web/packages/ui/tsconfig.json
  examples/with-react-native-web/turbo.json
Labels: pr: automerge

#1487 Add missing dependencies to OSX setup
  CONTRIBUTING.md
Labels: pr: automerge

#1464 feat(examples): add tailwind
  examples/with-tailwind/.eslintrc.js
  examples/with-tailwind/.gitignore
  examples/with-tailwind/README.md
  examples/with-tailwind/apps/docs/.eslintrc.js
  examples/with-tailwind/apps/docs/.gitignore
  examples/with-tailwind/apps/docs/README.md
  examples/with-tailwind/apps/docs/next-env.d.ts
  examples/with-tailwind/apps/docs/next.config.js
  examples/with-tailwind/apps/docs/package.json
  examples/with-tailwind/apps/docs/pages/_app.tsx
  examples/with-tailwind/apps/docs/pages/_document.tsx
  examples/with-tailwind/apps/docs/pages/index.tsx
  examples/with-tailwind/apps/docs/postcss.config.js
  examples/with-tailwind/apps/docs/styles/globals.css
  examples/with-tailwind/apps/docs/tsconfig.json
  examples/with-tailwind/apps/web/.eslintrc.js
  examples/with-tailwind/apps/web/.gitignore
  examples/with-tailwind/apps/web/README.md
  examples/with-tailwind/apps/web/next-env.d.ts
  examples/with-tailwind/apps/web/next.config.js
  examples/with-tailwind/apps/web/package.json
  examples/with-tailwind/apps/web/pages/_app.tsx
  examples/with-tailwind/apps/web/pages/_document.tsx
  examples/with-tailwind/apps/web/pages/index.tsx
  examples/with-tailwind/apps/web/postcss.config.js
  examples/with-tailwind/apps/web/styles/globals.css
  examples/with-tailwind/apps/web/tsconfig.json
  examples/with-tailwind/package.json
  examples/with-tailwind/packages/eslint-config-custom/index.js
  examples/with-tailwind/packages/eslint-config-custom/package.json
  examples/with-tailwind/packages/tailwind-config/package.json
  examples/with-tailwind/packages/tailwind-config/tailwind.config.js
  examples/with-tailwind/packages/tsconfig/base.json
  examples/with-tailwind/packages/tsconfig/nextjs.json
  examples/with-tailwind/packages/tsconfig/package.json
  examples/with-tailwind/packages/tsconfig/react-library.json
  examples/with-tailwind/packages/ui/package.json
  examples/with-tailwind/packages/ui/src/Button.tsx
  examples/with-tailwind/packages/ui/src/index.tsx
  examples/with-tailwind/packages/ui/src/styles.css
  examples/with-tailwind/packages/ui/tailwind.config.js
  examples/with-tailwind/packages/ui/tsconfig.json
  examples/with-tailwind/turbo.json
Labels: examples, pr: automerge

#1496 fix: added vite.config and fixes for svelte-next.358
  examples/with-svelte/apps/docs/package.json
  examples/with-svelte/apps/docs/vite.config.js
  examples/with-svelte/apps/web/package.json
  examples/with-svelte/apps/web/vite.config.js
Labels: examples, pr: automerge

#1492 Add golang to OSX setup
  CONTRIBUTING.md
Labels: pr: automerge

#1500 Fix tailwind example
  examples/with-tailwind/packages/ui/package.json
Labels: pr: automerge

#1506 feat(examples): add nextjs
  examples/with-nextjs/README.md
Labels: examples, pr: automerge

#1517 Typo: verifcation --> verification
  cli/internal/cache/cache_http.go
  docs/pages/blog/turbo-1-2-0.mdx
  docs/pages/docs/core-concepts/remote-caching.mdx
Labels: pr: automerge

#1515 chore(renovate): support go mod tidy
  .github/renovate.json
Labels: pr: automerge

#1504 feat(examples): add cra
  examples/with-create-react-app/.gitignore
  examples/with-create-react-app/README.md
  examples/with-create-react-app/apps/docs/README.md
  examples/with-create-react-app/apps/docs/package.json
  examples/with-create-react-app/apps/docs/public/favicon.ico
  examples/with-create-react-app/apps/docs/public/index.html
  examples/with-create-react-app/apps/docs/public/logo192.png
  examples/with-create-react-app/apps/docs/public/logo512.png
  examples/with-create-react-app/apps/docs/public/manifest.json
  examples/with-create-react-app/apps/docs/public/robots.txt
  examples/with-create-react-app/apps/docs/src/App.css
  examples/with-create-react-app/apps/docs/src/App.test.tsx
  examples/with-create-react-app/apps/docs/src/App.tsx
  examples/with-create-react-app/apps/docs/src/index.css
  examples/with-create-react-app/apps/docs/src/index.tsx
  examples/with-create-react-app/apps/docs/src/logo.svg
  examples/with-create-react-app/apps/docs/src/react-app-env.d.ts
  examples/with-create-react-app/apps/docs/src/reportWebVitals.ts
  examples/with-create-react-app/apps/docs/src/setupTests.ts
  examples/with-create-react-app/apps/docs/tsconfig.json
  examples/with-create-react-app/apps/web/README.md
  examples/with-create-react-app/apps/web/package.json
  examples/with-create-react-app/apps/web/public/favicon.ico
  examples/with-create-react-app/apps/web/public/index.html
  examples/with-create-react-app/apps/web/public/logo192.png
  examples/with-create-react-app/apps/web/public/logo512.png
  examples/with-create-react-app/apps/web/public/manifest.json
  examples/with-create-react-app/apps/web/public/robots.txt
  examples/with-create-react-app/apps/web/src/App.css
  examples/with-create-react-app/apps/web/src/App.test.tsx
  examples/with-create-react-app/apps/web/src/App.tsx
  examples/with-create-react-app/apps/web/src/index.css
  examples/with-create-react-app/apps/web/src/index.tsx
  examples/with-create-react-app/apps/web/src/logo.svg
  examples/with-create-react-app/apps/web/src/react-app-env.d.ts
  examples/with-create-react-app/apps/web/src/reportWebVitals.ts
  examples/with-create-react-app/apps/web/src/setupTests.ts
  examples/with-create-react-app/apps/web/tsconfig.json
  examples/with-create-react-app/package.json
  examples/with-create-react-app/packages/eslint-config-custom/index.js
  examples/with-create-react-app/packages/eslint-config-custom/package.json
  examples/with-create-react-app/packages/tsconfig/README.md
  examples/with-create-react-app/packages/tsconfig/base.json
  examples/with-create-react-app/packages/tsconfig/package.json
  examples/with-create-react-app/packages/tsconfig/react-app.json
  examples/with-create-react-app/packages/tsconfig/react-library.json
  examples/with-create-react-app/packages/ui/.eslintrc.js
  examples/with-create-react-app/packages/ui/package.json
  examples/with-create-react-app/packages/ui/src/Link.tsx
  examples/with-create-react-app/packages/ui/src/index.tsx
  examples/with-create-react-app/packages/ui/tsconfig.json
  examples/with-create-react-app/turbo.json
Labels: examples, pr: automerge

#1526 Examples fast follows
  examples/with-prisma/README.md
  examples/with-prisma/package.json
  examples/with-tailwind/README.md
  examples/with-tailwind/apps/docs/src/pages/_app.tsx
  examples/with-tailwind/apps/docs/src/pages/_document.tsx
  examples/with-tailwind/apps/docs/src/pages/index.tsx
  examples/with-tailwind/apps/docs/src/styles/globals.css
  examples/with-tailwind/apps/web/src/pages/_app.tsx
  examples/with-tailwind/apps/web/src/pages/_document.tsx
  examples/with-tailwind/apps/web/src/pages/index.tsx
  examples/with-tailwind/apps/web/src/styles/globals.css
  examples/with-tailwind/packages/tailwind-config/tailwind.config.js
  examples/with-tailwind/packages/ui/package.json
Labels: examples, pr: automerge

#1538 Filter in package
  cli/internal/scope/scope.go
  cli/internal/scope/scope_test.go
Labels: pr: automerge

#1559 fix(create-turbo): pnpm peer deps error
  packages/create-turbo/templates/_shared_ts/apps/docs/package.json
  packages/create-turbo/templates/_shared_ts/apps/web/package.json
  packages/create-turbo/templates/_shared_ts/packages/eslint-config-custom/package.json
  packages/create-turbo/templates/pnpm/apps/docs/package.json
  packages/create-turbo/templates/pnpm/apps/web/package.json
Labels: pr: automerge, create-turbo

#1565 fix(turbo-ignore): build on error
  packages/turbo-ignore/index.js
Labels: kind: bug, pr: automerge, turbo-ignore

#1578 feat(turbo-ignore): update to support vercel CI
  packages/turbo-ignore/README.md
  packages/turbo-ignore/__tests__/ignore.test.ts
  packages/turbo-ignore/index.js
  packages/turbo-ignore/jest.config.js
  packages/turbo-ignore/package.json
  packages/turbo-ignore/src/index.ts
  packages/turbo-ignore/src/utils.ts
  packages/turbo-ignore/tsconfig.json
  pnpm-lock.yaml
Labels: pr: automerge

#1580 feat(cli): auto hash framework env vars
  cli/internal/env/env.go
  cli/internal/env/env_test.go
  cli/internal/taskhash/taskhash.go
Labels: pr: automerge

#1593 1.4 blog post.
  docs/content/team.ts
  docs/pages/blog/meta.json
  docs/pages/blog/turbo-1-3-0.mdx
  docs/pages/blog/turbo-1-4-0.mdx
  docs/pages/docs/core-concepts/caching.mdx
  docs/public/images/blog/turbo-1-4-0/flamechart.png
  docs/public/images/blog/turbo-1-4-0/og-image.png
  docs/public/images/blog/turbo-1-4-0/pr.png
  docs/public/images/blog/turbo-1-4-0/time-dark.png
  docs/public/images/blog/turbo-1-4-0/time-light.png
  docs/public/images/people/anthonyshewdev.png
Labels: pr: fixship
