Repository vercel/turborepo, pull requests merged in 2022-06, with the labels that each got.

#1321 feat(create-turbo): use basename as app name
  packages/create-turbo/src/index.ts
Labels: pr: automerge

#1327 Follow up to porting run to cobra
  cli/internal/fs/path_test.go
  cli/internal/run/run.go
  cli/internal/run/run_test.go
  cli/internal/runcache/runcache.go
Labels: pr: automerge

#1339 Remove afero.
  cli/cmd/turbo/main.go
  cli/go.mod
  cli/go.sum
  cli/internal/cmd/auth/logout.go
  cli/internal/cmd/auth/unlink.go
  cli/internal/config/config.go
  cli/internal/config/config_file.go
  cli/internal/config/config_file_test.go
  cli/internal/fs/path.go
  cli/internal/globby/globby.go
  cli/internal/globby/globby_test.go
  cli/internal/login/link.go
  cli/internal/login/login.go
  cli/internal/login/login_test.go
  cli/internal/packagemanager/packagemanager_test.go
Labels: pr: automerge

#1345 fix(docs): update circleci remote cache docs
  docs/pages/docs/ci/circleci.mdx
  docs/pages/docs/ci/github-actions.mdx
  docs/pages/docs/ci/gitlabci.mdx
  docs/pages/docs/ci/travisci.mdx
Labels: pr: automerge, pr: fixship

#1350 chore(remotecache): remove beta wording
  cli/internal/cache/cache.go
  cli/internal/cmd/auth/unlink.go
  cli/internal/login/link.go
  docs/components/beta.js
  docs/pages/docs/core-concepts/meta.json
  docs/pages/docs/getting-started.mdx
  examples/basic/README.md
  examples/with-pnpm/README.md
  packages/create-turbo/src/index.ts
  packages/create-turbo/templates/npm/README.md
  packages/create-turbo/templates/pnpm/README.md
  packages/create-turbo/templates/yarn/README.md
Labels: pr: automerge

#1371 Fix parsing concurrency as a number or percent
  cli/internal/run/run.go
  cli/internal/run/run_test.go
  cli/internal/runcache/runcache.go
  cli/internal/util/parse_concurrency.go
  cli/internal/util/parse_concurrency_test.go
Labels: pr: automerge

#1409 Add root boundary to untarring
  cli/internal/cache/cache_http.go
  cli/internal/cache/cache_http_test.go
  cli/internal/fs/path.go
  cli/internal/util/set.go
Labels: pr: automerge

#1353 feat(cli): update the graph arg behavior
  cli/internal/colorcache/colorcache.go
  cli/internal/graphvisualizer/graphvisualizer.go
  cli/internal/run/run.go
  cli/internal/run/run_test.go
  docs/pages/docs/reference/command-line-reference.mdx
Labels: pr: automerge

#1428 docs: Fix yarn tab storage key name
  docs/pages/docs/getting-started.mdx
Labels: pr: automerge

#1445 fix(cli): prefer IsDir() over explicit type check
  cli/internal/cache/cache_fs.go
  cli/internal/cache/cache_fs_test.go
  cli/internal/fs/copy_file.go
  cli/internal/fs/path.go
Labels: pr: automerge

#1452 Cross-compile amd64.
  cli/Makefile
Labels: pr: automerge

#1458 feat(examples): add svelte
  examples/basic/README.md
  examples/kitchen-sink/README.md
  examples/with-changesets/README.md
  examples/with-pnpm/README.md
  examples/with-svelte/.eslintrc.cjs
  examples/with-svelte/.gitignore
  examples/with-svelte/.prettierignore
  examples/with-svelte/.prettierrc
  examples/with-svelte/README.md
  examples/with-svelte/apps/docs/.eslintignore
  examples/with-svelte/apps/docs/.eslintrc.cjs
  examples/with-svelte/apps/docs/.gitignore
  examples/with-svelte/apps/docs/README.md
  examples/with-svelte/apps/docs/package.json
  examples/with-svelte/apps/docs/src/app.d.ts
  examples/with-svelte/apps/docs/src/app.html
  examples/with-svelte/apps/docs/src/routes/index.svelte
  examples/with-svelte/apps/docs/static/favicon.png
  examples/with-svelte/apps/docs/svelte.config.js
  examples/with-svelte/apps/docs/tsconfig.json
  examples/with-svelte/apps/web/.eslintignore
  examples/with-svelte/apps/web/.eslintrc.cjs
  examples/with-svelte/apps/web/.gitignore
  examples/with-svelte/apps/web/README.md
  examples/with-svelte/apps/web/package.json
  examples/with-svelte/apps/web/src/app.d.ts
  examples/with-svelte/apps/web/src/app.html
  examples/with-svelte/apps/web/src/routes/index.svelte
  examples/with-svelte/apps/web/static/favicon.png
  examples/with-svelte/apps/web/svelte.config.js
  examples/with-svelte/apps/web/tsconfig.json
  examples/with-svelte/package.json
  examples/with-svelte/packages/eslint-config-custom/index.js
  examples/with-svelte/packages/eslint-config-custom/package.json
  examples/with-svelte/packages/ui/.eslintrc.cjs
  examples/with-svelte/packages/ui/components/MyCounterButton.svelte
  examples/with-svelte/packages/ui/index.ts
  examples/with-svelte/packages/ui/package.json
  examples/with-svelte/turbo.json
Labels: pr: automerge

#1449 docs(cli): update contributing.md with new deps
  CONTRIBUTING.md
Labels: docs, pr: automerge
