Repository vercel/turborepo, pull requests merged in 2022-09, with the labels that each got.

#1814 Removed dependsOn and dist/** from build in basic example
  examples/basic/turbo.json
Labels: pr: automerge

#1777 Fix link to outputs API
  docs/pages/docs/reference/configuration.mdx
Labels: pr: automerge

#1844 Split notion of logged in into user and linked-team
  cli/internal/client/client.go
  cli/internal/login/link.go
  cli/internal/run/run.go
Labels: pr: automerge

#1828 Remove unused packages from docs site
  docs/package.json
  pnpm-lock.yaml
Labels: pr: automerge

#1817 Consolidated 'workspace' and 'package' terminology
  docs/pages/docs/core-concepts/_meta.json
  docs/pages/docs/core-concepts/caching.mdx
  docs/pages/docs/core-concepts/filtering.mdx
  docs/pages/docs/core-concepts/pipelines.mdx
  docs/pages/docs/core-concepts/remote-caching.mdx
  docs/pages/docs/core-concepts/scopes.mdx
  docs/pages/docs/faq.mdx
  docs/pages/docs/getting-started/create-new.mdx
  docs/pages/docs/guides/migrate-from-lerna.mdx
  docs/pages/docs/guides/monorepo-tools.mdx
  docs/pages/docs/guides/workspaces.mdx
  docs/pages/docs/reference/command-line-reference.mdx
  docs/pages/docs/reference/configuration.mdx
  docs/pages/docs/troubleshooting.mdx
Labels: pr: automerge

#1756 Rewrote docs homepage
  docs/pages/docs/index.mdx
Labels: docs, pr: automerge

#1845 Replace some 2 letter variables for readability
  cli/internal/run/run.go
  cli/internal/taskhash/taskhash.go
Labels: chore, pr: automerge

#1858 Update existing-monorepo.mdx
  docs/pages/docs/getting-started/existing-monorepo.mdx
Labels: pr: automerge

#1837 Enable pnpm@6 testing.
  packages/create-turbo/src/constants.ts
Labels: pr: automerge

#1794 Update Docs
  .vscode/extensions.json
  docs/pages/docs/ci/circleci.mdx
  docs/pages/docs/ci/github-actions.mdx
  docs/pages/docs/ci/gitlabci.mdx
  docs/pages/docs/ci/travisci.mdx
  docs/pages/docs/core-concepts/remote-caching.mdx
  docs/pages/docs/guides/migrate-from-lerna.mdx
  docs/pages/docs/guides/workspaces.mdx
  docs/pages/docs/reference/command-line-reference.mdx
Labels: pr: automerge

#1841 Renamed storybook components
  examples/design-system/apps/docs/stories/button.stories.mdx
Labels: pr: automerge

#1836 Fix broken links on "Add to existing Monorepo"
  docs/pages/docs/getting-started/existing-monorepo.mdx
Labels: pr: automerge

#1865 fix(eslint): exclude variables in rule
  packages/eslint-plugin-turbo/__tests__/lib/no-undeclared-env-vars.test.ts
  packages/eslint-plugin-turbo/lib/rules/no-undeclared-env-vars.ts
Labels: pr: automerge

#1870 Don't special case version command
  cli/internal/config/config.go
Labels: pr: automerge

#1884 Add degit instructions for all examples
  examples/basic/README.md
  examples/design-system/README.md
  examples/kitchen-sink/README.md
  examples/with-changesets/README.md
  examples/with-create-react-app/README.md
  examples/with-docker/README.md
  examples/with-pnpm/README.md
  examples/with-prisma/README.md
  examples/with-react-native-web/README.md
  examples/with-svelte/README.md
  examples/with-tailwind/README.md
  examples/with-vite/README.md
Labels: pr: automerge

#1871 chore(turbo-ignore): add console message of an unfriendly error
  packages/turbo-ignore/src/index.ts
Labels: pr: automerge

#1879 Rewrote filtering workspaces docs
  docs/pages/docs/core-concepts/filtering.mdx
  docs/public/images/docs/no-filter.png
  docs/public/images/docs/with-filter.png
Labels: pr: automerge

#1758 Rewrote pipelines, caching and remote caching docs
  docs/next.config.js
  docs/pages/docs/core-concepts/_meta.json
  docs/pages/docs/core-concepts/caching.mdx
  docs/pages/docs/core-concepts/remote-caching.mdx
  docs/pages/docs/core-concepts/running-tasks.mdx
  docs/public/images/docs/cache-hit.png
  docs/public/images/docs/cache-miss.png
  docs/public/images/docs/local-caching.png
  docs/public/images/docs/remote-caching.png
  docs/public/images/docs/turborepo-excalidraw.png
  docs/public/images/docs/yarn-workspaces-excalidraw.png
  docs/public/images/docs/your-monorepo-excalidraw.png
Labels: pr: automerge

#1866 Reorganised pipeline docs with clearer headings, groupings and content
  docs/pages/docs/core-concepts/caching.mdx
  docs/pages/docs/core-concepts/running-tasks.mdx
Labels: pr: automerge

#1886 feat(ignore): check for turbo force
  packages/turbo-ignore/src/index.ts
Labels: pr: automerge

#1889 Fixed typo on remote caching page
  docs/pages/docs/core-concepts/remote-caching.mdx
Labels: pr: automerge

#1888 Fixed redirect
  docs/next.config.js
Labels: pr: automerge

#1829 Try out cram/prysk for CLI integration testing
  .editorconfig
  cli/.gitignore
  cli/Makefile
  cli/integration_tests/logged_in.sh
  cli/integration_tests/logout.t
  cli/integration_tests/setup.sh
  cli/integration_tests/turbo_help.t
  cli/integration_tests/turbo_version.t
  cli/internal/cmd/auth/logout.go
Labels: pr: automerge

#1868 (Controversial) Removed glossary and mentions of topological from the docs
  docs/pages/docs/_meta.json
  docs/pages/docs/core-concepts/running-tasks.mdx
  docs/pages/docs/glossary.mdx
Labels: pr: automerge

#1832 Always include package.json in hash
  cli/internal/hashing/package_deps_hash.go
  cli/internal/hashing/package_deps_hash_test.go
Labels: pr: automerge

#1909 added code-shaper to code generation tools
  docs/pages/docs/guides/monorepo-tools.mdx
Labels: pr: automerge

#1915 added code-shaper to the code generation intro line
  docs/pages/docs/guides/monorepo-tools.mdx
Labels: pr: automerge

#1910 docs(examples/design-system): update readme
  examples/design-system/README.md
Labels: pr: automerge

#1792 Finish port to cobra
  cli/cmd/turbo/main.go
  cli/cmd/turbo/main_utils.go
  cli/internal/cache/cache.go
  cli/internal/cache/cache_fs.go
  cli/internal/cache/cache_http.go
  cli/internal/cache/cache_http_test.go
  cli/internal/cache/cache_test.go
  cli/internal/client/client.go
  cli/internal/cmd/auth/logout.go
  cli/internal/cmd/auth/unlink.go
  cli/internal/cmd/info/bin.go
  cli/internal/cmd/root.go
  cli/internal/cmdutil/cmdutil.go
  cli/internal/cmdutil/cmdutil_test.go
  cli/internal/config/config.go
  cli/internal/config/config_file.go
  cli/internal/config/config_file_test.go
  cli/internal/config/config_test.go
  cli/internal/daemon/daemon.go
  cli/internal/daemon/lifecycle.go
  cli/internal/daemon/status.go
  cli/internal/fs/path.go
  cli/internal/fs/path_test.go
  cli/internal/graphvisualizer/graphvisualizer.go
  cli/internal/login/link.go
  cli/internal/login/login.go
  cli/internal/login/login_test.go
  cli/internal/prune/prune.go
  cli/internal/run/run.go
  cli/internal/run/run_test.go
  cli/internal/turbopath/absolute_path.go
Labels: pr: automerge

#1923 chore(examples): clean with-next list
  examples/with-nextjs/README.md
Labels: pr: automerge

#1927 chore(examples): add comment for maintainability
  examples/with-nextjs/README.md
Labels: pr: automerge

#1942 Upgrade Nextra
  docs/package.json
  docs/theme.config.js
  pnpm-lock.yaml
Labels: pr: automerge

#1937 Enable inputs to be relative again.
  cli/internal/hashing/package_deps_hash.go
  cli/internal/hashing/package_deps_hash_test.go
Labels: pr: automerge

#1945 Made front-page title pink
  docs/components/pages/home.tsx
  docs/tailwind.config.js
Labels: pr: automerge

#1931 Turbo has more help text now, update test
  cli/integration_tests/turbo_help.t
Labels: pr: automerge

#1898 fix(with-tailwind): dev script fails to build tailwindcss
  examples/with-tailwind/packages/ui/package.json
Labels: pr: automerge

#1948 fix(docs): update nextra
  docs/package.json
  pnpm-lock.yaml
Labels: pr: automerge

#1954 Use correct flag for graphviz version
  cli/internal/graphvisualizer/graphvisualizer.go
Labels: pr: automerge

#1947 Add mutex around helper cleanups
  cli/internal/cmdutil/cmdutil.go
Labels: pr: automerge

#1922 docs(running tasks): explicit instruction for workspace tasks
  docs/pages/docs/core-concepts/running-tasks.mdx
Labels: area: docs, pr: automerge

#1956 Reconcile cram tests and help text
  cli/integration_tests/turbo_help.t
  cli/internal/cmd/root.go
  cli/internal/daemon/daemon.go
Labels: pr: automerge

#1904 Improve CI setup
  .github/actions/setup-go/action.yml
  .github/actions/setup-node/action.yml
  .github/workflows/benchmark.yml
  .github/workflows/ci-go.yml
  .github/workflows/ci-js.yml
  .github/workflows/pr-go-e2e.yml
  .github/workflows/pr-go-lint.yml
  .github/workflows/pr-go-run-examples.yml
  .github/workflows/pr-go-unit.yml
  .github/workflows/pr-js-lint.yml
  .github/workflows/pr-js-tests.yml
  .github/workflows/release.yml
Labels: chore, pr: automerge

#1972 No shallow checkout for linting.
  .github/workflows/pr-go-lint.yml
Labels: pr: automerge

#1950 Add ability to define a globalEnv key in turbo.json
  cli/internal/fs/testdata/invalid-global-env/package.json
  cli/internal/fs/testdata/invalid-global-env/turbo.json
  cli/internal/fs/testdata/legacy-env/turbo.json
  cli/internal/fs/turbo_json.go
  cli/internal/fs/turbo_json_test.go
  cli/internal/run/global_hash.go
  cli/internal/run/run.go
Labels: pr: fixship

#1949 Show outputModeTable in CLI and config docs
  docs/components/output-mode-table.mdx
  docs/pages/docs/reference/command-line-reference.mdx
  docs/pages/docs/reference/configuration.mdx
Labels: pr: automerge

#1967 fix: Support pnpm patches in prune
  cli/internal/lockfile/berry_lockfile.go
  cli/internal/lockfile/lockfile.go
  cli/internal/lockfile/pnpm_lockfile.go
  cli/internal/lockfile/pnpm_lockfile_test.go
  cli/internal/lockfile/testdata/pnpm7-workspace.yaml
  cli/internal/lockfile/yarn_lockfile.go
  cli/internal/prune/prune.go
Labels: pr: fixship

#1955 Document inclusion of package.json in workspace task cache keys
  docs/pages/docs/core-concepts/caching.mdx
Labels: pr: automerge

#1821 Make run the default command
  cli/internal/cmd/root.go
  cli/internal/cmd/root_test.go
Labels: pr: automerge

#1903 Drop unsupported platforms
  cli/.goreleaser.yaml
  cli/scripts/npm-native-packages/npm-native-packages.js
Labels: pr: automerge

#2000 Wire up prysk and fix help flag
  .github/workflows/pr-go-e2e.yml
  cli/Makefile
  cli/internal/cmd/root.go
  cli/package.json
  turbo.json
Labels: pr: automerge

#2001 Enable turbod by default
  cli/internal/cmdutil/cmdutil.go
  cli/internal/run/run.go
  cli/internal/ui/ui.go
Labels: pr: automerge

#2003 Drop macos run of large benchmark on github actions.
  .github/workflows/benchmark.yml
Labels: pr: automerge

#2024 feat(types): add turbo types package
  docs/package.json
  packages/eslint-plugin-turbo/lib/utils/findTurboConfig.ts
  packages/eslint-plugin-turbo/lib/utils/getEnvVarDependencies.ts
  packages/eslint-plugin-turbo/package.json
  packages/turbo-types/package.json
  packages/turbo-types/src/index.ts
  packages/turbo-types/src/scripts/codegen.js
  packages/turbo-types/src/types/config.ts
  packages/turbo-types/tsconfig.json
  pnpm-lock.yaml
Labels: pr: automerge

#1959 chore(core): deprecation messages for legacy env keys
  cli/internal/fs/turbo_json.go
Labels: pr: automerge

#2019 feat: Add prune support for Yarn 3
  cli/internal/lockfile/berry_lockfile.go
  cli/internal/lockfile/berry_lockfile_test.go
  cli/internal/lockfile/pnpm_lockfile_test.go
  cli/internal/lockfile/testdata/berry.lock
  cli/internal/lockfile/testdata/minimal-berry.lock
  cli/scripts/e2e/e2e.ts
Labels: pr: automerge

#1936 Update docs on declaring env key dependencies
  docs/pages/docs/core-concepts/caching.mdx
  docs/pages/docs/reference/codemods.mdx
  docs/pages/docs/reference/configuration.mdx
  examples/with-docker/turbo.json
Labels: pr: automerge

#2014 Rewrote option syntax to be more flexible (thanks Cobra)
  docs/pages/docs/reference/command-line-reference.mdx
Labels: pr: automerge

#2015 Added link to Why Turborepo from the quickstart
  docs/components/QuickStart.tsx
Labels: pr: automerge

#2041 feat(eslint-plugin): add new configuration style
  packages/eslint-plugin-turbo/__tests__/lib/no-undeclared-env-vars.test.ts
  packages/eslint-plugin-turbo/lib/utils/getEnvVarDependencies.ts
  packages/turbo-types/src/types/config.ts
Labels: pr: automerge

#2046 Slowdown the marquee
  docs/styles.css
Labels: pr: automerge

#2002 fix: Add .turbo to .gitignore
  cli/internal/login/link.go
Labels: pr: automerge

#2026 Combine AbsolutePath and AbsoluteSystemPath
  cli/internal/cache/cache.go
  cli/internal/cache/cache_fs.go
  cli/internal/cache/cache_http.go
  cli/internal/cache/cache_http_test.go
  cli/internal/cache/cache_test.go
  cli/internal/cmdutil/cmdutil.go
  cli/internal/cmdutil/cmdutil_test.go
  cli/internal/config/config_file.go
  cli/internal/config/config_file_test.go
  cli/internal/context/context.go
  cli/internal/daemon/connector/connector.go
  cli/internal/daemon/connector/connector_test.go
  cli/internal/daemon/daemon.go
  cli/internal/daemon/daemon_test.go
  cli/internal/daemonclient/daemonclient.go
  cli/internal/filewatcher/backend.go
  cli/internal/filewatcher/backend_darwin.go
  cli/internal/filewatcher/cookie.go
  cli/internal/filewatcher/cookie_test.go
  cli/internal/filewatcher/filewatcher.go
  cli/internal/filewatcher/filewatcher_test.go
  cli/internal/fs/copy_file.go
  cli/internal/fs/copy_file_test.go
  cli/internal/fs/lstat.go
  cli/internal/fs/package_json.go
  cli/internal/fs/path.go
  cli/internal/fs/turbo_json.go
  cli/internal/fs/turbo_json_test.go
  cli/internal/globwatcher/globwatcher.go
  cli/internal/globwatcher/globwatcher_test.go
  cli/internal/graphvisualizer/graphvisualizer.go
  cli/internal/hashing/package_deps_hash.go
  cli/internal/hashing/package_deps_hash_test.go
  cli/internal/lockfile/pnpm_lockfile_test.go
  cli/internal/login/login_test.go
  cli/internal/packagemanager/berry.go
  cli/internal/packagemanager/npm.go
  cli/internal/packagemanager/packagemanager.go
  cli/internal/packagemanager/packagemanager_test.go
  cli/internal/packagemanager/pnpm.go
  cli/internal/packagemanager/pnpm6.go
  cli/internal/packagemanager/yarn.go
  cli/internal/prune/prune.go
  cli/internal/run/global_hash.go
  cli/internal/run/run.go
  cli/internal/run/run_state.go
  cli/internal/run/run_test.go
  cli/internal/runcache/runcache.go
  cli/internal/server/server.go
  cli/internal/server/server_test.go
  cli/internal/taskhash/taskhash.go
  cli/internal/taskhash/taskhash_test.go
  cli/internal/turbopath/absolute_path.go
  cli/internal/turbopath/absolute_system_path.go
Labels: pr: automerge

#2044 chore(release): version updates
  packages/eslint-config-turbo/package.json
  packages/eslint-plugin-turbo/package.json
  packages/turbo-ignore/package.json
  packages/turbo-utils/package.json
Labels: pr: automerge

#2053 Wire up api and team flags with viper
  cli/internal/config/config_file.go
  cli/internal/config/config_file_test.go
Labels: pr: automerge

#2054 Ensure environment variables are sorted
  cli/internal/fs/turbo_json.go
Labels: pr: automerge

#2067 Drop log line breaking JSON dry-run output when remote caching is enabled
  cli/internal/cache/cache.go
Labels: pr: automerge

#2068 Use fmt.Sprintf where appropriate in logs
  cli/internal/daemon/daemon.go
  cli/internal/daemon/lifecycle.go
  cli/internal/login/link.go
  cli/internal/prune/prune.go
  cli/internal/run/run.go
  cli/internal/runcache/runcache.go
Labels: pr: automerge

#2059 Add path types for cache.
  cli/internal/cache/async_cache.go
  cli/internal/cache/cache.go
  cli/internal/cache/cache_fs.go
  cli/internal/cache/cache_fs_test.go
  cli/internal/cache/cache_http.go
  cli/internal/cache/cache_http_test.go
  cli/internal/cache/cache_noop.go
  cli/internal/cache/cache_test.go
  cli/internal/fs/path.go
  cli/internal/runcache/runcache.go
  cli/internal/turbopath/absolute_system_path.go
Labels: pr: automerge

#2066 fix(prune) respect dir permissions during prune
  cli/internal/fs/copy_file.go
  cli/internal/fs/copy_file_test.go
  cli/internal/prune/prune.go
  cli/internal/turbopath/absolute_system_path.go
  cli/internal/turbopath/absolute_system_path_test.go
Labels: pr: automerge

#2086 Fix typo in docs
  docs/pages/docs/handbook/deploying-with-docker.mdx
Labels: pr: automerge

#2077 Path casts
  cli/internal/fs/copy_file_test.go
  cli/internal/hashing/package_deps_hash_test.go
  cli/internal/lockfile/berry_lockfile_test.go
  cli/internal/scope/filter/filter_test.go
  cli/internal/scope/scope_test.go
  cli/internal/taskhash/taskhash_test.go
  cli/internal/turbopath/anchored_system_path.go
  cli/internal/turbopath/anchored_unix_path.go
Labels: pr: automerge

#2030 fix(prune): place workspace configuration file in json directory
  cli/internal/prune/prune.go
Labels: pr: automerge

#2085 Turn down logging for the daemon
  cli/internal/daemon/daemon.go
  cli/internal/globwatcher/globwatcher.go
Labels: pr: automerge

#2082 fix(docs): overflow on ` <Callout />`
  docs/components/Callout.tsx
Labels: pr: automerge

#2087 Update command line reference for prune
  docs/pages/docs/reference/command-line-reference.mdx
Labels: area: docs, pr: automerge

#2016 fix(fs): overwrite symlink in restore cache
  cli/internal/fs/copy_file_test.go
  cli/internal/fs/fs.go
Labels: pr: automerge

#2108 Fix small typo
  docs/pages/docs/getting-started/create-new.mdx
Labels: pr: automerge

#2107 Add React Flow to showcase
  docs/components/clients/users.ts
  docs/public/images/logos/color/reactflow.svg
  docs/public/images/logos/white/reactflow.svg
Labels: pr: automerge

#2116 Extract the patch for `tar`
  cli/internal/cache/cache_http.go
  cli/internal/tarpatch/tar.go
  cli/internal/tarpatch/tar_unix.go
  cli/internal/tarpatch/tar_windows.go
Labels: pr: automerge

#2124 Temporarily disable daemon on windows
  cli/internal/run/run.go
Labels: pr: automerge

#2133 docs: Tweak tracking in card headers
  docs/components/Feature.tsx
Labels: pr: automerge
