Repository vercel/turborepo, pull requests merged in 2022-02, with the labels that each got.

#570 chore(deps): Bump go version
  .github/workflows/ci-go.yml
Labels: pr: automerge

#561 feat: turbo bin
  cli/cmd/turbo/main.go
  cli/internal/info/bin.go
  cli/internal/login/logout.go
  docs/pages/docs/reference/command-line-reference.mdx
Labels: pr: automerge, ergonomics

#697 Track child exit codes and propagate them
  cli/internal/run/run.go
Labels: pr: automerge

#698 Continue de-flaking tests
  cli/internal/process/manager_test.go
Labels: pr: automerge

#327 Rename go module to allow command line installs
  cli/cmd/turbo/main.go
  cli/go.mod
  cli/internal/api/types.go
  cli/internal/backends/backends.go
  cli/internal/backends/nodejs/nodejs.go
  cli/internal/cache/async_cache.go
  cli/internal/cache/cache.go
  cli/internal/cache/cache_fs.go
  cli/internal/cache/cache_http.go
  cli/internal/config/config.go
  cli/internal/context/color_cache.go
  cli/internal/context/context.go
  cli/internal/context/context_test.go
  cli/internal/core/scheduler.go
  cli/internal/core/scheduler_test.go
  cli/internal/fs/hash.go
  cli/internal/fs/package_deps_hash.go
  cli/internal/globby/globby.go
  cli/internal/info/bin.go
  cli/internal/login/link.go
  cli/internal/login/login.go
  cli/internal/login/logout.go
  cli/internal/login/unlink.go
  cli/internal/prune/prune.go
  cli/internal/run/run.go
  cli/internal/run/run_state.go
  cli/internal/run/run_test.go
  cli/internal/scm/scm.go
  cli/internal/util/printf.go
Labels: story, pr: automerge

#637 fix: stop targeting all packages with --since if no changes
  cli/internal/run/run.go
Labels: pr: automerge, ergonomics

#634 Add `schema.json` to have a better IDE intellisense
  docs/package.json
  docs/pages/docs/features/caching.mdx
  docs/pages/docs/features/pipelines.mdx
  docs/pages/docs/getting-started.mdx
  docs/pages/docs/guides/migrate-from-lerna.mdx
  docs/pages/docs/reference/codemods.mdx
  docs/pages/docs/reference/command-line-reference.mdx
  docs/pages/docs/reference/configuration.mdx
  docs/public/schema.json
  docs/schema.d.ts
  turbo.json
  yarn.lock
Labels: ergonomics

#696 feat: basic exclude for scope
  cli/internal/run/run.go
  cli/scripts/e2e/e2e.ts
Labels: pr: automerge

#614 Add descriptions to MDX frontmatter
  docs/pages/docs/acknowledgments.mdx
  docs/pages/docs/changelog.mdx
  docs/pages/docs/faq.mdx
  docs/pages/docs/features/caching.mdx
  docs/pages/docs/features/pipelines.mdx
  docs/pages/docs/features/remote-caching.mdx
  docs/pages/docs/features/scopes.mdx
  docs/pages/docs/getting-started.mdx
  docs/pages/docs/glossary.mdx
  docs/pages/docs/guides/complimentary-tools.mdx
  docs/pages/docs/guides/migrate-from-lerna.mdx
  docs/pages/docs/index.mdx
  docs/pages/docs/reference/codemods.mdx
  docs/pages/docs/reference/command-line-reference.mdx
  docs/pages/docs/reference/configuration.mdx
  docs/pages/docs/upgrading-to-v1.mdx
  docs/pages/privacy.mdx
  docs/pages/terms.mdx
Labels: docs

#744 Fix doubling of command name in failed child process error
  cli/internal/process/child.go
Labels: pr: automerge

#737 Don't run build & test on changes to the docs
  .github/workflows/ci-go.yml
Labels: pr: automerge

#545 Stop hitting remote cache after a few failures
  cli/internal/cache/cache.go
  cli/internal/cache/cache_http.go
  cli/internal/client/client.go
  cli/internal/config/config.go
Labels: pr: automerge

#754 Calculate local and remote time saved
  .github/workflows/ci-go.yml
  cli/go.mod
  cli/go.sum
  cli/internal/analytics/analytics.go
  cli/internal/analytics/analytics_test.go
  cli/internal/cache/async_cache.go
  cli/internal/cache/cache.go
  cli/internal/cache/cache_fs.go
  cli/internal/cache/cache_http.go
  cli/internal/client/client.go
  cli/internal/client/client_test.go
  cli/internal/config/config.go
  cli/internal/run/run.go
  docs/package.json
  examples/basic/packages/config/package.json
  examples/design-system/packages/eslint-preset-acme/package.json
  examples/with-pnpm/packages/config/package.json
  packages/create-turbo/templates/_shared_ts/packages/config/package.json
  scripts/run-examples.sh
  yarn.lock
Labels: pr: automerge

#778 fix(cli): Fix install on node 16 on ubuntu
  cli/npm/turbo-install/install.js
Labels: kind: bug
