Repository vercel/turborepo, pull requests merged in 2022-12, with the labels that each got.

#2888 taplo format
  crates/turbopack-core/Cargo.toml
Labels: pr: automerge, area: turbopack

#2481 Support basic next/image loading
  .github/workflows/labeler.yml
  Cargo.lock
  crates/next-core/Cargo.toml
  crates/next-core/src/app_source.rs
  crates/next-core/src/env.rs
  crates/next-core/src/lib.rs
  crates/next-core/src/next_client/context.rs
  crates/next-core/src/next_image/mod.rs
  crates/next-core/src/server_rendered_source.rs
  crates/next-dev/build.rs
  crates/next-dev/src/lib.rs
  crates/next-dev/test-harness/deferred.js
  crates/next-dev/test-harness/harness.js
  crates/next-dev/test-harness/package.json
  crates/next-dev/tests/integration.rs
  crates/next-dev/tests/integration/next/image/basic/pages/index.js
  crates/next-dev/tests/integration/next/image/basic/public/triangle-black.png
  crates/next-dev/tests/package.json
  crates/turbo-tasks-build/src/lib.rs
  crates/turbo-tasks-env/src/custom.rs
  crates/turbo-tasks-env/src/dotenv.rs
  crates/turbo-tasks-env/src/lib.rs
  crates/turbopack-core/src/environment.rs
  crates/turbopack-dev-server/src/source/combined.rs
  crates/turbopack-env/src/asset.rs
  crates/turbopack-env/src/embeddable.rs
  crates/turbopack-env/src/lib.rs
  crates/turbopack-tests/tests/snapshot/env/env/output/crates_turbopack-tests_tests_snapshot_env_env_input_480486.js
  docs/pages/api/og.tsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: pr: automerge, area: turbopack, area: ci

#2896 fix(eslint): include all versions above 6.6
  packages/eslint-config-turbo/package.json
  packages/eslint-plugin-turbo/package.json
  pnpm-lock.yaml
Labels: pkg: turbo-eslint

#2897 fix(examples): cra pnpm fix
  examples/with-create-react-app/apps/docs/package.json
  examples/with-create-react-app/apps/docs/public/index.html
  examples/with-create-react-app/apps/docs/src/App.css
  examples/with-create-react-app/apps/docs/src/App.test.tsx
  examples/with-create-react-app/apps/docs/src/App.tsx
  examples/with-create-react-app/apps/docs/src/logo.svg
  examples/with-create-react-app/apps/web/package.json
  examples/with-create-react-app/apps/web/public/index.html
  examples/with-create-react-app/apps/web/src/App.css
  examples/with-create-react-app/apps/web/src/App.test.tsx
  examples/with-create-react-app/apps/web/src/App.tsx
  examples/with-create-react-app/apps/web/src/logo.svg
  examples/with-create-react-app/pnpm-lock.yaml
Labels: area: examples

#2816 Implement import.meta
  crates/turbopack-ecmascript/src/errors.rs
  crates/turbopack-ecmascript/src/references/esm/meta.rs
  crates/turbopack-ecmascript/src/references/esm/mod.rs
  crates/turbopack-ecmascript/src/references/mod.rs
  crates/turbopack-tests/tests/snapshot/import-meta/cjs/input/index.js
  crates/turbopack-tests/tests/snapshot/import-meta/cjs/input/mod.cjs
  crates/turbopack-tests/tests/snapshot/import-meta/cjs/output/crates_turbopack-tests_tests_snapshot_import-meta_cjs_input_index_859774.js
  crates/turbopack-tests/tests/snapshot/import-meta/cjs/output/crates_turbopack-tests_tests_snapshot_import-meta_cjs_input_index_859774.js.map
  crates/turbopack-tests/tests/snapshot/import-meta/esm-multiple/input/index.js
  crates/turbopack-tests/tests/snapshot/import-meta/esm-multiple/input/mod.mjs
  crates/turbopack-tests/tests/snapshot/import-meta/esm-multiple/output/79fb1_turbopack-tests_tests_snapshot_import-meta_esm-multiple_input_index_a53493.js
  crates/turbopack-tests/tests/snapshot/import-meta/esm-multiple/output/79fb1_turbopack-tests_tests_snapshot_import-meta_esm-multiple_input_index_a53493.js.map
  crates/turbopack-tests/tests/snapshot/import-meta/esm-mutable/input/index.js
  crates/turbopack-tests/tests/snapshot/import-meta/esm-mutable/input/mod.mjs
  crates/turbopack-tests/tests/snapshot/import-meta/esm-mutable/output/crates_turbopack-tests_tests_snapshot_import-meta_esm-mutable_input_index_bbd10b.js
  crates/turbopack-tests/tests/snapshot/import-meta/esm-mutable/output/crates_turbopack-tests_tests_snapshot_import-meta_esm-mutable_input_index_bbd10b.js.map
  crates/turbopack-tests/tests/snapshot/import-meta/esm-object/input/index.js
  crates/turbopack-tests/tests/snapshot/import-meta/esm-object/input/mod.mjs
  crates/turbopack-tests/tests/snapshot/import-meta/esm-object/output/crates_turbopack-tests_tests_snapshot_import-meta_esm-object_input_index_31d622.js
  crates/turbopack-tests/tests/snapshot/import-meta/esm-object/output/crates_turbopack-tests_tests_snapshot_import-meta_esm-object_input_index_31d622.js.map
  crates/turbopack-tests/tests/snapshot/import-meta/esm/input/index.js
  crates/turbopack-tests/tests/snapshot/import-meta/esm/input/mod.mjs
  crates/turbopack-tests/tests/snapshot/import-meta/esm/output/crates_turbopack-tests_tests_snapshot_import-meta_esm_input_index_7072f9.js
  crates/turbopack-tests/tests/snapshot/import-meta/esm/output/crates_turbopack-tests_tests_snapshot_import-meta_esm_input_index_7072f9.js.map
Labels: pr: automerge, area: turbopack

#2899 simplify `next-binding`
  .github/workflows/test.yml
  Cargo.toml
  crates/next-binding/Cargo.toml
  crates/next-binding/src/lib.rs
Labels: area: turbopack, area: ci

#2778 Add additional detailed warning message if no tasks were run.
  cli/internal/run/run_state.go
Labels: pr: automerge, area: turborepo

#2904 Update lint-staged behavior.
  package.json
Labels: pr: automerge

#2707 Fix the missing links.
  docs/next.config.js
Labels: area: docs, pr: automerge, area: site

#2884 pass params to dynamic pages
  crates/next-core/js/src/entry/server-renderer.tsx
  crates/next-core/src/app_source.rs
  crates/next-core/src/server_rendered_source.rs
  crates/next-core/src/util.rs
  crates/turbopack-node/src/node_rendered_source.rs
Labels: area: turbopack

#2886 set correct cwd for server renderer
  crates/turbopack-node/src/lib.rs
Labels: area: turbopack

#2869 build(cargo): update swc_core, dependencies to resolve circular deps
  Cargo.lock
  Cargo.toml
  crates/turbopack-core/Cargo.toml
  crates/turbopack-ecmascript/src/parse.rs
Labels: area: turbopack

#2912 feat(docs): add github
  docs/components/clients/users.ts
  docs/public/images/logos/color/github.svg
  docs/public/images/logos/white/github.svg
Labels: area: site

#2879 feat(docs): document topology outside of a task
  docs/pages/repo/docs/core-concepts/monorepos/running-tasks.mdx
  docs/public/images/docs/task-graph-with-dummy-task.png
Labels: area: docs

#2916 update chromiumoxide
  Cargo.lock
  crates/next-dev/Cargo.toml
Labels: pr: automerge, area: turbopack

#2918 make lazy bundling for dynamic import more lazy
  crates/turbopack-core/src/chunk/mod.rs
Labels: pr: automerge, area: turbopack

#2873 shrink lists and sets that are stored in Tasks
  crates/auto-hash-map/src/map.rs
  crates/auto-hash-map/src/set.rs
  crates/turbo-tasks-memory/src/memory_backend.rs
  crates/turbo-tasks-memory/src/task.rs
  crates/turbo-tasks/src/backend.rs
Labels: pr: automerge, area: turbopack

#2906 Upgrade to Next.js 13
  docs/components/Avatar.tsx
  docs/components/Navigation.tsx
  docs/components/Tweet.tsx
  docs/components/clients/Logo.tsx
  docs/components/image/ImageFigure.tsx
  docs/components/image/ThemedImage.tsx
  docs/components/pages/home-shared/FeatureBox.tsx
  docs/components/pages/pack-home/PackBenchmarksGraph.tsx
  docs/components/pages/pack-home/PackHero.tsx
  docs/components/pages/pack-home/PackLetter.tsx
  docs/components/pages/repo-home/RepoHero.tsx
  docs/components/pages/repo-home/RepoLetter.tsx
  docs/content/features.ts
  docs/next.config.js
  docs/package.json
  docs/pages/blog/turbo-1-1-0.mdx
  docs/pages/repo/docs/core-concepts/caching.mdx
  docs/pages/repo/docs/core-concepts/monorepos.mdx
  docs/pages/repo/docs/core-concepts/monorepos/filtering.mdx
  docs/pages/repo/docs/core-concepts/monorepos/running-tasks.mdx
  docs/pages/repo/docs/core-concepts/remote-caching.mdx
  docs/theme.config.js
  pnpm-lock.yaml
Labels: area: docs, pr: automerge, area: site

#2834 Reduce the number of Strings and wrapper tasks
  crates/turbo-tasks-macros/src/value_impl_macro.rs
  crates/turbo-tasks-macros/src/value_trait_macro.rs
  crates/turbo-tasks/src/manager.rs
  crates/turbo-tasks/src/task_input.rs
  crates/turbo-tasks/src/value_type.rs
Labels: pr: automerge, area: turbopack

#2923 Share TaskInputs between task cache and task
  crates/turbo-tasks-memory/src/memory_backend.rs
  crates/turbo-tasks-memory/src/task.rs
Labels: pr: automerge, area: turbopack

#2933 Reduce wrapper tasks by eagerly resolving Vcs
  crates/turbopack-core/src/resolve/pattern.rs
  crates/turbopack-ecmascript/src/lib.rs
  crates/turbopack-ecmascript/src/references/mod.rs
Labels: pr: automerge, area: turbopack

#2895 enable id reusing
  Cargo.lock
  crates/turbo-tasks/Cargo.toml
  crates/turbo-tasks/src/id_factory.rs
Labels: pr: automerge, area: turbopack

#2921 Docs: Add Authdog to Turbo Showcase page
  docs/components/clients/users.ts
  docs/public/images/logos/color/authdog.svg
  docs/public/images/logos/white/authdog.svg
Labels: pr: automerge, area: site

#2885 support `_devPageManifest.json`
  Cargo.lock
  crates/next-core/Cargo.toml
  crates/next-core/js/src/dev/hmr-client.ts
  crates/next-core/js/src/entry/next-hydrate.tsx
  crates/next-core/js/src/entry/server-renderer.tsx
  crates/next-core/src/lib.rs
  crates/next-core/src/manifest.rs
  crates/next-core/src/server_rendered_source.rs
  crates/next-dev/src/lib.rs
  crates/turbopack-dev-server/src/source/combined.rs
  crates/turbopack-dev-server/src/source/conditional.rs
  crates/turbopack-dev-server/src/source/mod.rs
  crates/turbopack-dev-server/src/source/router.rs
  crates/turbopack-node/src/node_api_source.rs
  crates/turbopack-node/src/node_rendered_source.rs
  crates/turbopack-node/src/source_map/content_source.rs
Labels: area: turbopack

#2935 add turbo_tasks State
  Cargo.lock
  crates/turbo-tasks-fs/src/invalidator_map.rs
  crates/turbo-tasks-fs/src/lib.rs
  crates/turbo-tasks/Cargo.toml
  crates/turbo-tasks/src/lib.rs
  crates/turbo-tasks/src/manager.rs
  crates/turbo-tasks/src/state.rs
  crates/turbopack-dev-server/src/source/asset_graph.rs
  crates/turbopack-dev-server/src/source/conditional.rs
  crates/turbopack-dev-server/src/update/stream.rs
Labels: area: turbopack

#2743 @next/font [1/n] Add query structure to module requests
  Cargo.lock
  crates/next-dev/src/lib.rs
  crates/turbopack-core/Cargo.toml
  crates/turbopack-core/src/resolve/mod.rs
  crates/turbopack-core/src/resolve/parse.rs
  crates/turbopack-core/src/resolve/pattern.rs
  crates/turbopack-ecmascript/src/references/typescript.rs
  crates/turbopack-ecmascript/src/typescript/mod.rs
  crates/turbopack-ecmascript/src/typescript/resolve.rs
  crates/turbopack/src/lib.rs
Labels: area: docs, area: examples, pkg: turbo-ignore, area: turborepo, pkg: turbo-eslint, area: turbopack, area: ci, area: site

#2865 add memory usage tracking
  Cargo.lock
  crates/next-dev/Cargo.toml
  crates/next-dev/src/lib.rs
  crates/next-dev/src/main.rs
  crates/node-file-trace/Cargo.toml
  crates/turbo-malloc/Cargo.toml
  crates/turbo-malloc/src/counter.rs
  crates/turbo-malloc/src/lib.rs
  crates/turbo-tasks/src/util.rs
Labels: pr: automerge, area: turbopack

#2742 @next/font [2/n] Apply next/font swc transform
  Cargo.lock
  crates/next-core/Cargo.toml
  crates/next-core/src/next_client/context.rs
  crates/next-core/src/next_server/mod.rs
  crates/next-dev/Cargo.toml
  crates/next-font/Cargo.toml
  crates/next-font/src/find_functions_outside_module_scope.rs
  crates/next-font/src/font_functions_collector.rs
  crates/next-font/src/font_imports_generator.rs
  crates/next-font/src/lib.rs
  crates/turbopack-ecmascript/Cargo.toml
  crates/turbopack-ecmascript/src/transform/mod.rs
  crates/turbopack-tests/Cargo.toml
  crates/turbopack-tests/tests/node_modules/@next/font/google/target.css
  crates/turbopack-tests/tests/node_modules/@next/font/local/target.css
Labels: area: examples, pkg: turbo-eslint, area: turbopack, area: ci

#2769 [3/n] turbo-tasks-fetch
  Cargo.lock
  Cargo.toml
  crates/turbo-tasks-fetch/Cargo.toml
  crates/turbo-tasks-fetch/build.rs
  crates/turbo-tasks-fetch/src/lib.rs
  crates/turbo-tasks-fetch/tests/fetch.rs
Labels: area: turbopack

#2838 docs: add nhost
  docs/components/clients/users.ts
  docs/public/images/logos/color/nhost.svg
  docs/public/images/logos/white/nhost.svg
Labels: area: docs, area: examples, pr: automerge, pkg: turbo-ignore, area: turborepo, pkg: turbo-eslint, area: turbopack, area: ci, area: site

#2867 feat(turbo): add update-notifier
  Cargo.lock
  Cargo.toml
  crates/turbo-updater/Cargo.toml
  crates/turbo-updater/src/lib.rs
  crates/turbo-updater/src/ui.rs
  crates/turbo-updater/src/ui/utils.rs
  deny.toml
  shim/Cargo.toml
  shim/src/main.rs
Labels: area: turbopack

#2947 feat(docs): new pack logo
  docs/components/logos/og/PackLogo.tsx
  docs/components/pages/landing/Turbopack.tsx
  docs/components/pages/landing/Turborepo.tsx
  docs/components/pages/pack-home/PackBenchmarksGraph.tsx
  docs/pages/api/og.tsx
  docs/public/images/docs/pack/turbo-benchmark-icon-dark.svg
  docs/public/images/docs/pack/turbo-benchmark-icon-light.svg
  docs/public/images/docs/pack/turbopack-hero-hexagons-dark.svg
  docs/public/images/docs/pack/turbopack-hero-hexagons-light.svg
  docs/public/images/docs/pack/turbopack-hero-logo-dark.svg
  docs/public/images/docs/pack/turbopack-hero-logo-light.svg
Labels: area: site

#2914 Update Storybook example.
  docs/next.config.js
  docs/pages/repo/docs/handbook/_meta.json
  docs/pages/repo/docs/handbook/tools/_meta.json
  docs/pages/repo/docs/handbook/tools/prisma.mdx
  docs/pages/repo/docs/handbook/tools/storybook.mdx
  examples/design-system/apps/docs/package.json
  examples/design-system/package.json
  examples/design-system/pnpm-lock.yaml
Labels: area: docs, area: examples, area: site

#2812 [4/n] `@next/font/google`: Parse and validate query options
  crates/next-core/src/lib.rs
  crates/next-core/src/next_font_google/mod.rs
  crates/next-core/src/next_font_google/options.rs
  crates/next-core/src/next_font_google/request.rs
Labels: area: turbopack

#2856 [5/n] `@next/font/google`: Port utilities for generating stylesheet urls
  crates/next-core/src/next_font_google/mod.rs
  crates/next-core/src/next_font_google/options.rs
  crates/next-core/src/next_font_google/util.rs
Labels: area: turbopack

#2801 do not allocate TaskState until needed
  Cargo.lock
  crates/auto-hash-map/src/map.rs
  crates/auto-hash-map/src/set.rs
  crates/turbo-tasks-memory/Cargo.toml
  crates/turbo-tasks-memory/src/cell.rs
  crates/turbo-tasks-memory/src/count_hash_set.rs
  crates/turbo-tasks-memory/src/lib.rs
  crates/turbo-tasks-memory/src/map_guard.rs
  crates/turbo-tasks-memory/src/memory_backend.rs
  crates/turbo-tasks-memory/src/memory_backend_with_pg.rs
  crates/turbo-tasks-memory/src/output.rs
  crates/turbo-tasks-memory/src/scope.rs
  crates/turbo-tasks-memory/src/stats.rs
  crates/turbo-tasks-memory/src/task.rs
  crates/turbo-tasks-memory/src/task/meta_state.rs
  crates/turbo-tasks-memory/src/task/stats.rs
  crates/turbo-tasks-memory/src/viz/graph.rs
  crates/turbo-tasks-memory/src/viz/mod.rs
  crates/turbo-tasks-memory/src/viz/table.rs
  crates/turbo-tasks/src/backend.rs
  crates/turbo-tasks/src/manager.rs
Labels: pr: automerge, area: turbopack

#2958 docs(showcase): LG U+
  docs/components/clients/users.ts
  docs/public/images/logos/color/lguplus.svg
  docs/public/images/logos/white/lguplus.svg
Labels: area: site

#2940 [6/n] @next/font/google: Cache stylesheet locally
  .github/workflows/update-google-fonts.yml
  Cargo.lock
  crates/next-core/Cargo.toml
  crates/next-core/src/fallback.rs
  crates/next-core/src/lib.rs
  crates/next-core/src/next_font_google/__generated__/font-data.json
  crates/next-core/src/next_font_google/mod.rs
  crates/next-core/src/next_font_google/options.rs
  crates/next-core/src/next_font_google/util.rs
  crates/next-core/src/next_import_map.rs
  crates/next-dev/src/lib.rs
  crates/turbopack-core/src/resolve/mod.rs
  crates/turbopack-core/src/resolve/options.rs
  package.json
  pnpm-lock.yaml
  scripts/fetch-google-font-data.js
Labels: area: turbopack, area: ci

#2957 feat(turbo-updater): notifications per tag
  Cargo.lock
  crates/turbo-updater/Cargo.toml
  crates/turbo-updater/src/lib.rs
  shim/src/main.rs
Labels: area: turbopack

#2839 feat: add source map for css chunk
  crates/turbopack-css/src/asset.rs
  crates/turbopack-css/src/chunk/mod.rs
  crates/turbopack-css/src/chunk/source_map.rs
  crates/turbopack-css/src/chunk/writer.rs
  crates/turbopack-css/src/lib.rs
  crates/turbopack-css/src/parse.rs
  crates/turbopack-css/src/references/import.rs
  crates/turbopack-tests/tests/snapshot/css/absolute-uri-import/output/crates_turbopack-tests_tests_snapshot_css_absolute-uri-import_input_index.css
  crates/turbopack-tests/tests/snapshot/css/absolute-uri-import/output/crates_turbopack-tests_tests_snapshot_css_absolute-uri-import_input_index.css.map
  crates/turbopack-tests/tests/snapshot/css/css/output/8697f_foo_style.css
  crates/turbopack-tests/tests/snapshot/css/css/output/8697f_foo_style.css.map
  crates/turbopack-tests/tests/snapshot/css/css/output/8697f_foo_style.module.css
  crates/turbopack-tests/tests/snapshot/css/css/output/8697f_foo_style.module.css.map
  crates/turbopack-tests/tests/snapshot/css/css/output/crates_turbopack-tests_tests_snapshot_css_css_input_style.css
  crates/turbopack-tests/tests/snapshot/css/css/output/crates_turbopack-tests_tests_snapshot_css_css_input_style.css.map
  crates/turbopack-tests/tests/snapshot/css/css/output/crates_turbopack-tests_tests_snapshot_css_css_input_style.module.css
  crates/turbopack-tests/tests/snapshot/css/css/output/crates_turbopack-tests_tests_snapshot_css_css_input_style.module.css.map
Labels: area: turbopack

#2966 fix css indent in `ImportAttributes::print_block`
  crates/turbopack-css/src/references/import.rs
  crates/turbopack-tests/tests/snapshot/css/css/output/crates_turbopack-tests_tests_snapshot_css_css_input_style.css
Labels: pr: automerge, area: turbopack

#2948 add page chunk loader
  crates/next-core/js/src/dev/hmr-client.ts
  crates/next-core/js/src/entry/next-hydrate.tsx
  crates/next-core/js/src/entry/page-loader.ts
  crates/next-core/js/types/globals.d.ts
  crates/next-core/src/lib.rs
  crates/next-core/src/page_loader.rs
  crates/next-core/src/server_rendered_source.rs
  crates/next-core/src/util.rs
  crates/turbopack-dev-server/src/html.rs
Labels: area: turbopack

#2971 Remove next_static_source
  crates/next-dev/src/lib.rs
Labels: area: turbopack

#2949 add json route for page data requests
  crates/next-core/js/src/entry/server-renderer.tsx
  crates/next-core/js/types/turbopack.d.ts
  crates/next-core/src/app_source.rs
  crates/next-core/src/server_rendered_source.rs
  crates/next-core/src/util.rs
  crates/turbopack-node/src/node_rendered_source.rs
Labels: area: turbopack

#2976 fix(examples): update vite for svelte
  examples/with-svelte/apps/docs/package.json
  examples/with-svelte/apps/web/package.json
  examples/with-svelte/pnpm-lock.yaml
Labels: area: examples

#2744 ci(actions): allow glob to selectively enable --turbo tests
  .github/workflows/test.yml
Labels: area: turbopack, area: ci

#2960 update npm deps
  crates/next-core/js/build.mjs
  crates/next-core/js/package.json
  crates/next-core/js/src/compiled/anser/index.js
  crates/next-core/js/src/compiled/css.escape/index.js
  crates/next-core/js/src/compiled/platform/index.js
  crates/next-core/js/src/compiled/source-map/index.js
  crates/next-core/js/src/compiled/strip-ansi/LICENSE
  crates/next-core/js/src/compiled/strip-ansi/index.js
  crates/next-core/js/src/compiled/strip-ansi/package.json
  crates/next-core/js/types/compiled.d.ts
  crates/turbopack-ecmascript/js/package.json
  package.json
  packages/turbo-tracing-next-plugin/package.json
  packages/webpack-nmt/package.json
  pnpm-lock.yaml
Labels: area: turbopack

#2980 Run setup-node in update-google-fonts workflow
  .github/workflows/update-google-fonts.yml
  crates/next-core/src/next_font_google/__generated__/font-data.json
Labels: area: ci

#2977 generate shim bindings into `OUT_DIR`
  crates/turborepo-lib/src/lib.rs
  shim/.gitignore
  shim/build.rs
  shim/src/main.rs
Labels: area: turbopack

#2963 [7/n] @next/font/google: Add font weight, style to css and js properties
  crates/next-core/src/next_font_google/mod.rs
  crates/next-core/src/next_font_google/options.rs
  crates/next-core/src/next_font_google/util.rs
  crates/turbo-tasks/src/primitives.rs
Labels: area: turbopack

#2981 fix(core): fix turbo engine task builder
  cli/internal/core/engine.go
  cli/internal/core/engine_test.go
Labels: area: turborepo

#2964 turbo-tasks-fetch: Emit issues on failed fetches
  Cargo.lock
  crates/next-core/src/next_font_google/mod.rs
  crates/turbo-tasks-fetch/Cargo.toml
  crates/turbo-tasks-fetch/src/lib.rs
  crates/turbo-tasks-fetch/tests/fetch.rs
Labels: area: turbopack

#2978 @next/font/google: Hash filenames used in virtual file paths
  crates/next-core/src/next_font_google/mod.rs
  crates/turbo-tasks-hash/src/deterministic_hash.rs
Labels: area: turbopack

#2985 Use native fetch in fetch-google-font-data.js
  .github/workflows/update-google-fonts.yml
  package.json
  pnpm-lock.yaml
  scripts/fetch-google-font-data.js
Labels: area: ci

#2970 feat(rust-port): Split up shim and cli
  CONTRIBUTING.md
  Cargo.lock
  Cargo.toml
  cli/Makefile
  cli/cmd/turbo/main.go
  cli/integration_tests/link.t
  cli/integration_tests/login.t
  cli/integration_tests/logout.t
  cli/integration_tests/no_args.t
  cli/integration_tests/turbo_help.t
  cli/integration_tests/turbo_version.t
  cli/integration_tests/unlink.t
  cli/internal/cmd/root.go
  cli/internal/cmdutil/cmdutil.go
  cli/internal/cmdutil/cmdutil_test.go
  cli/internal/run/run.go
  cli/internal/turbostate/turbostate.go
  crates/next-dev/Cargo.toml
  crates/turborepo-lib/Cargo.toml
  crates/turborepo-lib/src/cli.rs
  crates/turborepo-lib/src/commands/mod.rs
  crates/turborepo-lib/src/lib.rs
  crates/turborepo-lib/src/shim.rs
  crates/turborepo/.gitignore
  crates/turborepo/Cargo.toml
  crates/turborepo/README.md
  crates/turborepo/build.rs
  crates/turborepo/src/main.rs
  docs/components/clients/users.ts
Labels: area: examples, pr: automerge, area: turborepo, area: turbopack

#2987 fix(daemon): make status harmless.
  cli/internal/daemon/connector/connector.go
  cli/internal/daemon/connector/connector_test.go
  cli/internal/daemon/daemon.go
  cli/internal/daemon/status.go
Labels: area: turborepo

#2991 Match existing turborepo error exit codes
  cli/integration_tests/bad_flag.t
  cli/integration_tests/no_args.t
  crates/turborepo-lib/src/cli.rs
  crates/turborepo/src/main.rs
Labels: pr: automerge, area: turborepo, area: turbopack

#2992 chore(turborepo): drop deprecated run flags
  cli/integration_tests/bad_flag.t
  cli/scripts/monorepo.ts
  crates/turborepo-lib/src/cli.rs
Labels: area: turborepo, area: turbopack

#2997 feat(turbo): support disabling update notifier
  crates/turbo-updater/src/lib.rs
Labels: area: turbopack

#2990 feature(turbo-shim): Add message to inform users that we are running local turbo
  crates/turborepo-lib/src/shim.rs
Labels: pr: automerge, area: turbopack

#2998 fix(notifier): disable for json args
  crates/turborepo-lib/src/lib.rs
  crates/turborepo-lib/src/shim.rs
Labels: area: turbopack

#2975 Update release process to support current app layout.
  .github/workflows/build_rust.yml
  crates/turborepo/build.rs
Labels: area: turbopack, area: ci

#3000 chore(repo): update codeowners
  .github/CODEOWNERS
Labels: area: ci

#3009 feat(shim): extend json args
  crates/turborepo-lib/src/shim.rs
Labels: area: turbopack

#3010 feat(turbo-updater): allow more disable cases
  Cargo.lock
  crates/turbo-updater/Cargo.toml
  crates/turbo-updater/src/lib.rs
Labels: area: turbopack

#3006 fix(renovate): correct glob
  .github/renovate.json
Labels: area: ci

#3011 chore: global turbo tests
  cli/integration_tests/global_turbo/mock_turbo.sh
  cli/integration_tests/global_turbo/package_template.json
  cli/integration_tests/global_turbo/repo_with_local/package.json
  cli/integration_tests/global_turbo/repo_with_local/subdir/input.txt
  cli/integration_tests/global_turbo/setup.sh
  cli/integration_tests/global_turbo/uses_local.t
Labels: area: turborepo

#3014 style(turbopack): clippy --fix
  crates/next-core/src/server_rendered_source.rs
  crates/turbo-tasks-memory/src/cell.rs
  crates/turbo-tasks-memory/src/task.rs
  crates/turbo-tasks-memory/src/task/meta_state.rs
  crates/turbo-tasks-memory/src/task/stats.rs
  crates/turbo-tasks-memory/src/viz/mod.rs
  crates/turbo-tasks-memory/src/viz/table.rs
Labels: pr: automerge, area: turbopack

#3018 fix: expand semver for skip infer flag
  crates/turborepo-lib/src/shim.rs
Labels: area: turbopack

#3012 build(cargo): bump up swc_core*
  Cargo.lock
  Cargo.toml
  crates/turbopack-css/src/references/import.rs
  crates/turbopack-ecmascript/tests/analyzer/graph/declarations/graph.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/fn-array-2/graph.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/fn-array/graph.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/iife/graph.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/md5-reduced/graph.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/md5/graph.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/md5_2/graph.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/nested/graph.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/object/graph.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/peg/graph.snapshot
Labels: area: turbopack

#2994 build(next/core): allow to specify tls backend for reqwest
  Cargo.lock
  Cargo.toml
  crates/next-core/Cargo.toml
  crates/next-dev/Cargo.toml
  crates/turbo-tasks-fetch/Cargo.toml
  crates/turbo-tasks-fetch/build.rs
Labels: area: turbopack

#3027 publish 1.7.0-canary.0 to registry
  cli/cmd/turbo/version.go
  packages/create-turbo/package.json
  packages/turbo-codemod/package.json
  packages/turbo/package.json
  version.txt
Labels: pkg: create-turbo, area: turborepo

#3022 fix: add support for --skip-infer
  cli/integration_tests/global_turbo/uses_global.t
  cli/integration_tests/no_args.t
  cli/integration_tests/turbo_help.t
  crates/turborepo-lib/src/cli.rs
Labels: area: turborepo, area: turbopack

#3024 fix: invalid json in integration test
  cli/integration_tests/global_turbo/repo_with_local/package.json
Labels: area: turborepo

#3019 fix(turbo): infinite recursion bug
  crates/turborepo-lib/src/shim.rs
Labels: area: turbopack

#3029 feat(docs): update comparison titles
  .prettierignore
  docs/next.config.js
  docs/pages/blog/turbopack-benchmarks.mdx
  docs/pages/pack/docs/benchmarks.mdx
  docs/pages/pack/docs/comparisons/_meta.json
  docs/pages/pack/docs/comparisons/vite.mdx
  docs/pages/pack/docs/comparisons/webpack.mdx
Labels: area: docs, area: site

#2979 feat(mdx): initial turbopack-mdx asset
  Cargo.lock
  Cargo.toml
  crates/next-core/src/server_rendered_source.rs
  crates/turbopack-ecmascript/src/lib.rs
  crates/turbopack-mdx/Cargo.toml
  crates/turbopack-mdx/build.rs
  crates/turbopack-mdx/src/lib.rs
  crates/turbopack/Cargo.toml
  crates/turbopack/src/lib.rs
  crates/turbopack/src/module_options/mod.rs
  crates/turbopack/src/module_options/module_rule.rs
Labels: area: turbopack

#3028 feat(turbo-updater): notifications per channel
  Cargo.lock
  crates/turbo-updater/Cargo.toml
  crates/turbo-updater/src/lib.rs
Labels: area: turbopack

#3030 Removed check for binary as it doesn't do anything
  crates/turborepo-lib/src/shim.rs
Labels: area: turbopack

#3031 fix: normalize current directory to non-UNC path on Windows
  Cargo.lock
  crates/turborepo-lib/Cargo.toml
  crates/turborepo-lib/src/shim.rs
Labels: area: turbopack

#3033 publish 1.7.0-canary.1 to registry
  cli/cmd/turbo/version.go
  packages/create-turbo/package.json
  packages/turbo-codemod/package.json
  packages/turbo/package.json
  version.txt
Labels: pkg: create-turbo, area: turborepo

#3039 fix(release): build ubuntu in xenial for GLIBC
  .github/workflows/build_rust.yml
Labels: area: ci

#3020 Fix flakey next-dev integration tests
  crates/next-dev/tests/integration.rs
  crates/next-dev/tests/integration/webpack/chunks/__flakey__/circular-correctness/index.js
  crates/next-dev/tests/integration/webpack/chunks/__flakey__/circular-correctness/module-a.js
  crates/next-dev/tests/integration/webpack/chunks/__flakey__/circular-correctness/module-a2.js
  crates/next-dev/tests/integration/webpack/chunks/__flakey__/circular-correctness/module-b.js
  crates/next-dev/tests/integration/webpack/chunks/__flakey__/circular-correctness/module-b2.js
  crates/next-dev/tests/integration/webpack/chunks/__flakey__/circular-correctness/module-c.js
  crates/next-dev/tests/integration/webpack/chunks/__flakey__/circular-correctness/module-x.js
Labels: area: turbopack

#3044 publish 1.7.0-canary.2 to registry
  cli/cmd/turbo/version.go
  packages/create-turbo/package.json
  packages/turbo-codemod/package.json
  packages/turbo/package.json
  version.txt
Labels: pkg: create-turbo, area: turborepo

#3043 fix(release): build x86 ubuntu in xenial for GLIBC
  .github/workflows/build_rust.yml
Labels: area: ci

#3046 fix(release): add placeholder options
  .github/workflows/build_rust.yml
Labels: area: ci

#3047 publish 1.7.0-canary.3 to registry
  cli/cmd/turbo/version.go
  packages/create-turbo/package.json
  packages/turbo-codemod/package.json
  packages/turbo/package.json
  version.txt
Labels: pkg: create-turbo, area: turborepo

#3042 fix(docs): missing dash in Storybook command.
  docs/pages/repo/docs/handbook/tools/storybook.mdx
Labels: area: docs

#3040 cargo(build): expose tls for next-binding
  .github/workflows/test.yml
  crates/next-binding/Cargo.toml
Labels: area: turbopack, area: ci

#3059 Remove chunk item source maps from the asset graph
  Cargo.lock
  crates/next-dev/src/lib.rs
  crates/turbopack-core/src/chunk/mod.rs
  crates/turbopack-core/src/source_map.rs
  crates/turbopack-dev-server/src/source/mod.rs
  crates/turbopack-dev-server/src/source/source_maps.rs
  crates/turbopack-ecmascript/Cargo.toml
  crates/turbopack-ecmascript/src/chunk/mod.rs
  crates/turbopack-ecmascript/src/chunk/source_map.rs
Labels: pr: automerge, area: turbopack

#3058 Small rope improvements
  crates/turbo-tasks-fs/src/rope.rs
Labels: pr: automerge, area: turbopack

#2955 Load next config
  .prettierignore
  crates/next-core/js/src/compiled/anser/index.js
  crates/next-core/js/src/compiled/css.escape/index.js
  crates/next-core/js/src/compiled/platform/index.js
  crates/next-core/js/src/compiled/source-map/index.js
  crates/next-core/js/src/entry/app-renderer.tsx
  crates/next-core/js/src/entry/config/next.js
  crates/next-core/js/src/entry/server-api.tsx
  crates/next-core/js/src/entry/server-renderer.tsx
  crates/next-core/js/src/internal/error.ts
  crates/next-core/js/src/ipc/evaluate.ts
  crates/next-core/js/src/ipc/index.ts
  crates/next-core/src/app_source.rs
  crates/next-core/src/embed_js.rs
  crates/next-core/src/env.rs
  crates/next-core/src/fallback.rs
  crates/next-core/src/lib.rs
  crates/next-core/src/next_client/context.rs
  crates/next-core/src/next_config.rs
  crates/next-core/src/next_import_map.rs
  crates/next-core/src/next_server/mod.rs
  crates/next-core/src/server_rendered_source.rs
  crates/next-core/src/web_entry_source.rs
  crates/next-dev/benches/bundlers/turbopack/mod.rs
  crates/next-dev/benches/bundlers/turbopack/next.config.js
  crates/next-dev/src/devserver_options.rs
  crates/next-dev/src/lib.rs
  crates/next-dev/tests/integration/next/image/basic/next.config.js
  crates/turbo-tasks-fs/src/embed/dir.rs
  crates/turbo-tasks/src/small_duration.rs
  crates/turbopack-core/src/environment.rs
  crates/turbopack-core/src/resolve/origin.rs
  crates/turbopack-dev-server/src/html.rs
  crates/turbopack-ecmascript/src/lib.rs
  crates/turbopack-node/js/src/compiled/stacktrace-parser/LICENSE
  crates/turbopack-node/js/src/compiled/stacktrace-parser/index.js
  crates/turbopack-node/js/src/compiled/stacktrace-parser/package.json
  crates/turbopack-node/js/src/ipc/evaluate.ts
  crates/turbopack-node/js/src/ipc/index.ts
  crates/turbopack-node/src/embed_js.rs
  crates/turbopack-node/src/evaluate.rs
  crates/turbopack-node/src/lib.rs
  crates/turbopack-node/src/source_map/trace.rs
  package.json
  pnpm-lock.yaml
Labels: area: turbopack

#3064 Fix nitpicks with load-next-config
  crates/next-core/src/next_client/context.rs
  crates/next-core/src/next_config.rs
  crates/turbopack-dev-server/src/html.rs
  crates/turbopack-node/src/source_map/trace.rs
Labels: area: turbopack

#3002 Allow specifying tasks.
  packages/turbo-ignore/__tests__/args.test.ts
  packages/turbo-ignore/__tests__/getTask.test.ts
  packages/turbo-ignore/__tests__/ignore.test.ts
  packages/turbo-ignore/src/args.ts
  packages/turbo-ignore/src/getTask.ts
  packages/turbo-ignore/src/ignore.ts
  packages/turbo-ignore/src/types.ts
Labels: pr: automerge, pkg: turbo-ignore

#3063 Fix source map tracing for HMR updates
  crates/next-dev/src/turbo_tasks_viz.rs
  crates/turbopack-core/src/source_map.rs
  crates/turbopack-ecmascript/js/src/runtime.js
  crates/turbopack-ecmascript/js/types/protocol.d.ts
  crates/turbopack-ecmascript/src/chunk/mod.rs
  crates/turbopack-node/src/source_map/content_source.rs
  crates/turbopack-node/src/source_map/trace.rs
  crates/turbopack-tests/tests/snapshot/basic/async_chunk/output/crates_turbopack-tests_tests_snapshot_basic_async_chunk_input_index_9be35c.js
  crates/turbopack-tests/tests/snapshot/basic/chunked/output/crates_turbopack-tests_tests_snapshot_basic_chunked_input_index_b11d49.js
  crates/turbopack-tests/tests/snapshot/css/absolute-uri-import/output/crates_turbopack-tests_tests_snapshot_css_absolute-uri-import_input_index_e03a4b.js
  crates/turbopack-tests/tests/snapshot/css/css/output/crates_turbopack-tests_tests_snapshot_css_css_input_index_907a50.js
  crates/turbopack-tests/tests/snapshot/emotion/emotion/output/crates_turbopack-tests_tests_snapshot_emotion_emotion_input_index_b6dbf3.js
  crates/turbopack-tests/tests/snapshot/env/env/output/crates_turbopack-tests_tests_snapshot_env_env_input_480486.js
  crates/turbopack-tests/tests/snapshot/evaluated_entrry/runtime_entry/output/a587c_tests_snapshot_evaluated_entrry_runtime_entry_input_index_50fbca.js
  crates/turbopack-tests/tests/snapshot/example/example/output/crates_turbopack-tests_tests_snapshot_example_example_input_index_a7beb7.js
  crates/turbopack-tests/tests/snapshot/import-meta/cjs/output/crates_turbopack-tests_tests_snapshot_import-meta_cjs_input_index_859774.js
  crates/turbopack-tests/tests/snapshot/import-meta/esm-multiple/output/79fb1_turbopack-tests_tests_snapshot_import-meta_esm-multiple_input_index_a53493.js
  crates/turbopack-tests/tests/snapshot/import-meta/esm-mutable/output/crates_turbopack-tests_tests_snapshot_import-meta_esm-mutable_input_index_bbd10b.js
  crates/turbopack-tests/tests/snapshot/import-meta/esm-object/output/crates_turbopack-tests_tests_snapshot_import-meta_esm-object_input_index_31d622.js
  crates/turbopack-tests/tests/snapshot/import-meta/esm/output/crates_turbopack-tests_tests_snapshot_import-meta_esm_input_index_7072f9.js
  crates/turbopack-tests/tests/snapshot/import-meta/url/output/crates_turbopack-tests_tests_snapshot_import-meta_url_input_index_94525c.js
  crates/turbopack-tests/tests/snapshot/imports/json/output/crates_turbopack-tests_tests_snapshot_imports_json_input_index_e24981.js
  crates/turbopack-tests/tests/snapshot/imports/resolve_error_cjs/output/79fb1_turbopack-tests_tests_snapshot_imports_resolve_error_cjs_input_index_e00120.js
  crates/turbopack-tests/tests/snapshot/imports/resolve_error_esm/output/79fb1_turbopack-tests_tests_snapshot_imports_resolve_error_esm_input_index_1a5dd4.js
  crates/turbopack-tests/tests/snapshot/imports/static/output/crates_turbopack-tests_tests_snapshot_imports_static_input_index_b8717b.js
  crates/turbopack-tests/tests/snapshot/node/node_protocol_external/output/79fb1_turbopack-tests_tests_snapshot_node_node_protocol_external_input_index_6a3d80.js
  crates/turbopack-tests/tests/snapshot/styled_components/styled_components/output/a587c_tests_snapshot_styled_components_styled_components_input_index_7b57d9.js
  crates/turbopack-tests/tests/snapshot/swc_transforms/mono_transforms/output/a587c_tests_snapshot_swc_transforms_mono_transforms_input_packages_app_index_739f58.js
  crates/turbopack-tests/tests/snapshot/swc_transforms/preset_env/output/79fb1_turbopack-tests_tests_snapshot_swc_transforms_preset_env_input_index_44c34f.js
  crates/turbopack-tests/tests/snapshot/tsconfig/baseurl/output/crates_turbopack-tests_tests_snapshot_tsconfig_baseurl_input_index_5906e5.js
Labels: pr: automerge, area: turbopack

#3066 fix clippy ci diff
  .github/workflows/test.yml
Labels: pr: automerge, area: turbopack, area: ci

#2878 set `__NEXT_STRICT_MODE`
  crates/next-core/src/env.rs
  crates/next-core/src/next_config.rs
  crates/next-dev/Cargo.toml
  crates/next-dev/src/devserver_options.rs
  crates/turbopack-core/src/issue/mod.rs
Labels: area: turbopack

#3072 fix(publish): corrupt packages canaries
  cli/Makefile
Labels: area: turborepo

#3073 Add clap macros for is_next_dev_command
  crates/next-dev/src/devserver_options.rs
Labels: pr: automerge, area: turbopack

#3076 fix(turbo-ignore): correct README help output
  packages/turbo-ignore/README.md
Labels: pkg: turbo-ignore

#3077 Fix postcss nitpicks
  crates/next-core/js/src/ipc/evaluate.ts
  crates/next-core/src/next_config.rs
  crates/turbo-tasks/src/completion.rs
  crates/turbopack-core/src/source_asset.rs
  crates/turbopack-ecmascript/js/src/runtime.js
  crates/turbopack-ecmascript/src/references/esm/base.rs
  crates/turbopack-node/js/src/ipc/evaluate.ts
  crates/turbopack-node/src/evaluate.rs
  crates/turbopack-node/src/transforms/postcss.rs
  crates/turbopack-tests/tests/snapshot/basic/async_chunk/output/crates_turbopack-tests_tests_snapshot_basic_async_chunk_input_index_9be35c.js
  crates/turbopack-tests/tests/snapshot/basic/chunked/output/crates_turbopack-tests_tests_snapshot_basic_chunked_input_index_b11d49.js
  crates/turbopack-tests/tests/snapshot/css/absolute-uri-import/output/crates_turbopack-tests_tests_snapshot_css_absolute-uri-import_input_index_e03a4b.js
  crates/turbopack-tests/tests/snapshot/css/css/output/crates_turbopack-tests_tests_snapshot_css_css_input_index_907a50.js
  crates/turbopack-tests/tests/snapshot/emotion/emotion/output/crates_turbopack-tests_tests_snapshot_emotion_emotion_input_index_b6dbf3.js
  crates/turbopack-tests/tests/snapshot/env/env/output/crates_turbopack-tests_tests_snapshot_env_env_input_480486.js
  crates/turbopack-tests/tests/snapshot/evaluated_entrry/runtime_entry/output/a587c_tests_snapshot_evaluated_entrry_runtime_entry_input_index_50fbca.js
  crates/turbopack-tests/tests/snapshot/example/example/output/crates_turbopack-tests_tests_snapshot_example_example_input_index_a7beb7.js
  crates/turbopack-tests/tests/snapshot/import-meta/cjs/output/crates_turbopack-tests_tests_snapshot_import-meta_cjs_input_index_859774.js
  crates/turbopack-tests/tests/snapshot/import-meta/esm-multiple/output/79fb1_turbopack-tests_tests_snapshot_import-meta_esm-multiple_input_index_a53493.js
  crates/turbopack-tests/tests/snapshot/import-meta/esm-mutable/output/crates_turbopack-tests_tests_snapshot_import-meta_esm-mutable_input_index_bbd10b.js
  crates/turbopack-tests/tests/snapshot/import-meta/esm-object/output/crates_turbopack-tests_tests_snapshot_import-meta_esm-object_input_index_31d622.js
  crates/turbopack-tests/tests/snapshot/import-meta/esm/output/crates_turbopack-tests_tests_snapshot_import-meta_esm_input_index_7072f9.js
  crates/turbopack-tests/tests/snapshot/import-meta/url/output/crates_turbopack-tests_tests_snapshot_import-meta_url_input_index_94525c.js
  crates/turbopack-tests/tests/snapshot/imports/json/output/crates_turbopack-tests_tests_snapshot_imports_json_input_index_e24981.js
  crates/turbopack-tests/tests/snapshot/imports/resolve_error_cjs/output/79fb1_turbopack-tests_tests_snapshot_imports_resolve_error_cjs_input_index_e00120.js
  crates/turbopack-tests/tests/snapshot/imports/resolve_error_esm/output/79fb1_turbopack-tests_tests_snapshot_imports_resolve_error_esm_input_index_1a5dd4.js
  crates/turbopack-tests/tests/snapshot/imports/static/output/crates_turbopack-tests_tests_snapshot_imports_static_input_index_b8717b.js
  crates/turbopack-tests/tests/snapshot/node/node_protocol_external/output/79fb1_turbopack-tests_tests_snapshot_node_node_protocol_external_input_index_6a3d80.js
  crates/turbopack-tests/tests/snapshot/styled_components/styled_components/output/a587c_tests_snapshot_styled_components_styled_components_input_index_7b57d9.js
  crates/turbopack-tests/tests/snapshot/swc_transforms/mono_transforms/output/a587c_tests_snapshot_swc_transforms_mono_transforms_input_packages_app_index_739f58.js
  crates/turbopack-tests/tests/snapshot/swc_transforms/preset_env/output/79fb1_turbopack-tests_tests_snapshot_swc_transforms_preset_env_input_index_44c34f.js
  crates/turbopack-tests/tests/snapshot/tsconfig/baseurl/output/crates_turbopack-tests_tests_snapshot_tsconfig_baseurl_input_index_5906e5.js
Labels: pr: automerge, area: turbopack

#3079 fix(shim): Fixed cwd parsing bug
  crates/turborepo-lib/src/shim.rs
Labels: area: turbopack

#3078 fix(cli): add alias for cpuprofile
  cli/integration_tests/no_args.t
  cli/integration_tests/turbo_help.t
  crates/turborepo-lib/src/cli.rs
Labels: area: turborepo, area: turbopack

#3049 @next/font/google: scope font names
  crates/next-core/src/next_font_google/mod.rs
  crates/next-core/src/next_font_google/options.rs
  crates/turbo-tasks/src/primitives.rs
Labels: area: turbopack

#3084 Disable clippy::too_many_arguments globally
  .cargo/config.toml
  crates/turbopack-ecmascript/src/references/mod.rs
  crates/turbopack-mdx/src/lib.rs
Labels: area: turbopack

#3021 Fixes `new URL()` during SSR
  crates/next-core/src/app_source.rs
  crates/next-core/src/next_server/mod.rs
  crates/next-core/src/server_rendered_source.rs
  crates/next-dev/src/lib.rs
  crates/turbopack-core/src/environment.rs
  crates/turbopack-dev-server/src/lib.rs
  crates/turbopack-ecmascript/src/references/esm/url.rs
  crates/turbopack-ecmascript/src/references/mod.rs
Labels: pr: automerge, area: turbopack

#3089 Update Vite benchmarks to use Vite 4
  crates/next-dev/benches/bundlers/vite/mod.rs
  crates/next-dev/benches/bundlers/vite/vite.swc.config.js
Labels: area: turbopack

#3069 Remove by_glob from ImportMap
  crates/turbopack-core/src/resolve/options.rs
  crates/turbopack/src/resolve.rs
Labels: pr: automerge, area: turbopack

#3061 add progress output to command line
  crates/next-dev/src/lib.rs
  crates/turbo-tasks/src/manager.rs
Labels: area: turbopack

#3095 fix build warning
  crates/turbopack-core/src/resolve/options.rs
Labels: area: turbopack

#3091 handle dependencies reported by postcss
  crates/next-core/src/next_config.rs
  crates/turbo-tasks-fs/src/glob.rs
  crates/turbopack-node/js/src/ipc/evaluate.ts
  crates/turbopack-node/js/src/transforms/postcss.js
  crates/turbopack-node/js/src/transforms/postcss.ts
  crates/turbopack-node/src/evaluate.rs
  crates/turbopack-node/src/lib.rs
  crates/turbopack-node/src/transforms/postcss.rs
Labels: pr: automerge, area: turbopack

#3097 Fixed go examples test failure
  examples/non-monorepo/package.json
Labels: area: examples

#3093 fixes the double execution when generated files didn't exist yet
  Cargo.lock
  crates/turbo-tasks-fs/Cargo.toml
  crates/turbo-tasks-fs/src/lib.rs
  crates/turbo-tasks-fs/src/mutex_map.rs
  crates/turbo-tasks/src/completion.rs
Labels: pr: automerge, area: turbopack

#3103 Fix server generation of 404 pages
  crates/next-core/src/server_rendered_source.rs
Labels: pr: automerge, area: turbopack

#3062 add more info to the profiling table
  crates/next-dev/src/turbo_tasks_viz.rs
  crates/turbo-tasks-memory/src/stats.rs
  crates/turbo-tasks-memory/src/task.rs
  crates/turbo-tasks-memory/src/viz/mod.rs
  crates/turbo-tasks-memory/src/viz/table.rs
Labels: pr: automerge, area: turbopack

#3107 use the correct default for tsconfig.json compilerOptions.types
  crates/turbopack-ecmascript/src/typescript/mod.rs
Labels: area: turbopack

#3110 Avoid creating a new api node.js pool for every request
  crates/next-core/src/app_source.rs
  crates/next-core/src/server_rendered_source.rs
Labels: area: turbopack

#3108 add rules to alter resolve/module context depending on context path
  crates/next-core/src/next_client/context.rs
  crates/next-core/src/next_import_map.rs
  crates/next-core/src/next_server/mod.rs
  crates/turbopack-tests/tests/snapshot.rs
  crates/turbopack/src/condition.rs
  crates/turbopack/src/lib.rs
  crates/turbopack/src/module_options/mod.rs
  crates/turbopack/src/module_options/module_options_context.rs
  crates/turbopack/src/resolve.rs
  crates/turbopack/src/resolve_options_context.rs
Labels: pr: automerge, area: turbopack

#3112 update to latest next.js
  crates/next-core/js/package.json
  crates/next-core/js/src/entry/app-renderer.tsx
  crates/next-core/js/src/entry/app/layout-entry.tsx
  crates/next-dev/benches/bundlers/turbopack/mod.rs
  crates/next-dev/tests/package.json
  pnpm-lock.yaml
Labels: pr: automerge, area: turbopack

#3114 Fix retrying when port already bound
  crates/next-dev/src/lib.rs
  crates/turbopack-dev-server/src/lib.rs
Labels: area: turbopack

#3115 run next-binding feature check in linting phase
  .github/workflows/test.yml
Labels: pr: automerge, area: ci

#3122 disable counting timer
  crates/next-dev/src/lib.rs
Labels: area: turbopack

#3119 Add suggestion to server relative not supported message
  crates/turbopack-core/src/resolve/mod.rs
Labels: pr: automerge, area: turbopack

#3120 Misc ContentSource changes
  crates/next-core/src/next_image/mod.rs
  crates/turbopack-core/src/introspect/mod.rs
  crates/turbopack-dev-server/src/source/source_maps.rs
  crates/turbopack-node/src/source_map/content_source.rs
  crates/turbopack-node/src/source_map/trace.rs
Labels: pr: automerge, area: turbopack

#3118 separate typescript with types from typescript transformed
  crates/next-core/src/next_client/context.rs
  crates/next-core/src/next_server/mod.rs
  crates/node-file-trace/src/lib.rs
  crates/turbopack-ecmascript/src/lib.rs
  crates/turbopack-ecmascript/src/parse.rs
  crates/turbopack-ecmascript/src/references/mod.rs
  crates/turbopack-tests/tests/snapshot.rs
  crates/turbopack/benches/node_file_trace.rs
  crates/turbopack/src/lib.rs
  crates/turbopack/src/module_options/mod.rs
  crates/turbopack/src/module_options/module_options_context.rs
  crates/turbopack/src/module_options/module_rule.rs
  crates/turbopack/src/resolve_options_context.rs
  crates/turbopack/tests/node-file-trace.rs
Labels: area: turbopack

#3121 Misc fixes to starting dev server
  crates/next-dev/src/lib.rs
Labels: pr: automerge, area: turbopack

#3099 docs(css): update turbopack css features
  docs/pages/pack/docs/features/css.mdx
Labels: area: docs

#3113 Good looking light and dark performance charts
  Cargo.lock
  xtask/Cargo.toml
  xtask/src/main.rs
  xtask/src/visualize_bundler_bench.rs
Labels: pr: automerge

#3126 feat(turborepo-lib): no update alert on some args
  crates/turborepo-lib/src/cli.rs
  crates/turborepo-lib/src/shim.rs
Labels: area: turbopack

#3130 chore(examples): update tailwind lock
  examples/with-tailwind/apps/docs/package.json
  examples/with-tailwind/apps/web/package.json
  examples/with-tailwind/packages/tailwind-config/package.json
  examples/with-tailwind/packages/ui/package.json
  examples/with-tailwind/pnpm-lock.yaml
Labels: area: examples

#3109 Fix command to delete local turborepo cache
  docs/pages/repo/docs/core-concepts/remote-caching.mdx
Labels: area: docs

#3129 Fix vite example build
  examples/with-vite/packages/tsconfig/vite.json
Labels: area: examples

#3124 Allow CombinedContentSource to need data without locking up
  crates/next-core/src/next_image/mod.rs
  crates/next-dev/src/turbo_tasks_viz.rs
  crates/turbo-tasks/src/value.rs
  crates/turbopack-dev-server/src/lib.rs
  crates/turbopack-dev-server/src/source/combined.rs
  crates/turbopack-dev-server/src/source/mod.rs
  crates/turbopack-dev-server/src/source/source_maps.rs
  crates/turbopack-dev-server/src/update/stream.rs
  crates/turbopack-node/src/render/node_api_source.rs
  crates/turbopack-node/src/render/rendered_source.rs
  crates/turbopack-node/src/source_map/content_source.rs
Labels: pr: automerge, area: turbopack

#3133 fix(vite): update deps
  examples/with-vite/apps/docs/package.json
  examples/with-vite/apps/web/package.json
  examples/with-vite/packages/ui/package.json
  examples/with-vite/pnpm-lock.yaml
Labels: area: examples

#3158 Update docs to use `transpilePackages` instead of `next-transpile-modules`.
  docs/pages/blog/you-might-not-need-typescript-project-references.mdx
  docs/pages/repo/docs/faq.mdx
  docs/pages/repo/docs/handbook/sharing-code/internal-packages.mdx
  docs/pages/repo/docs/troubleshooting.mdx
Labels: area: docs
