Repository vercel/turborepo, pull requests merged in 2022-11, with the labels that each got.

#2500 fix: comment typo
  cli/internal/lockfile/lockfile.go
Labels: pr: automerge

#2522 Update react in with-tailwind example
  examples/with-tailwind/packages/ui/package.json
Labels: area: examples

#2484 fix(doc): Delete json trailing commas
  docs/pages/repo/docs/handbook/dev.mdx
Labels: pr: automerge

#2498 ci(actions): store raw clippy output
  .github/workflows/check-codestyle-filtered.yml
Labels: area: turbopack

#2318 Move architecture doc to turbopack
  crates/turbopack/architecture.md
Labels: pr: automerge

#2540 Windows node gyp issues
  .github/workflows/test-cargo.yml
Labels: area: turbopack

#2535 Fixed indentation
  docs/pages/repo/docs/getting-started/existing-monorepo.mdx
Labels: area: docs, pr: automerge

#2533 Remove vestigial images.
  docs/images/christian.jpeg
  docs/images/edelman.jpeg
  docs/images/elad.jpeg
  docs/images/flamechart.png
  docs/images/flavio.jpeg
  docs/images/jongold.jpeg
  docs/images/joshlarson.jpeg
  docs/images/nmoore.jpeg
  docs/images/ollermi.jpeg
  docs/images/paularmstrong.jpeg
  docs/images/shadcn.jpeg
  docs/images/sseraphini.jpeg
  docs/images/yangshunz.jpeg
  docs/pages/blog/joining-vercel.mdx
  docs/pages/blog/saml-sso-now-available.mdx
  docs/pages/blog/turbo-0-4-0.mdx
  docs/pages/blog/you-might-not-need-typescript-project-references.mdx
  docs/pages/pack/docs/core-concepts.mdx
  docs/public/blur.svg
  docs/public/images/blog/joining-vercel/twitter-card.png
  docs/public/images/blog/saml-sso-now-available/twitter-card.png
  docs/public/images/blog/turbo-0-4-0/turbo-vs-lerna-execution.png
  docs/public/images/blog/turbo-0-4-0/twitter-card.png
  docs/public/images/blog/you-might-not-need-typescript-project-references/twitter-card.png
  docs/public/images/docs/pack/turbo-engine-first-run.png
  docs/public/images/docs/pack/turbo-engine-second-run.png
  docs/public/images/home/jared_signature.png
  docs/public/images/home/jared_signature_2.png
  docs/public/images/home/jared_signature_dark.png
  docs/public/images/landing/backdrop-grid.svg
  docs/public/images/landing/backdrop.svg
  docs/public/images/people/bench_hmr_to_eval_1.5f1d9a27.svg
  docs/public/images/people/bench_hmr_to_eval_2.9d1b19c4.svg
  docs/public/images/people/nathanhammond.jpeg
  docs/public/logo-dark.svg
  docs/public/logo-light.svg
  docs/public/logo.svg
  docs/public/roi-calculator.png
  docs/public/screenshot.png
  docs/public/thumbnail.png
  docs/public/turbo-cli.mp4
  docs/public/twitter-bg.png
Labels: pr: automerge

#2430 fix: Ensure task outputs are sorted prior to hashing
  cli/integration_tests/monorepo_one_script_error/run.t
  cli/integration_tests/single_package/dry-run.t
  cli/integration_tests/single_package/run.t
  cli/integration_tests/single_package_deps/dry-run.t
  cli/integration_tests/single_package_deps/run.t
  cli/integration_tests/single_package_no_config/dry-run.t
  cli/integration_tests/single_package_no_config/run.t
  cli/internal/fs/hash_test.go
  cli/internal/fs/turbo_json.go
  cli/internal/fs/turbo_json_test.go
  cli/internal/taskhash/taskhash.go
Labels: pr: automerge

#2553 docs: Add BuildPass to showcase list
  docs/components/clients/users.ts
  docs/public/images/logos/color/buildpass.svg
  docs/public/images/logos/white/buildpass.svg
Labels: area: website, pr: automerge

#2454 docs: Add Supernova to showcase list
  docs/components/clients/users.ts
  docs/public/images/logos/color/supernova.svg
  docs/public/images/logos/white/supernova.svg
Labels: area: website, pr: automerge

#2408 [turborepo] Fix build on FreeBSD
  cli/internal/cacheitem/filepath_unix.go
Labels: pr: automerge

#2197 fix(turbo-ignore): replace an incorrect error message with a demonstrably correct one
  packages/turbo-ignore/src/index.ts
Labels: pr: automerge

#2563 chore: end symbol
  README.md
Labels: area: docs, pr: automerge

#2546 Refactor TaskGraph construction
  cli/internal/core/engine.go
  cli/internal/core/engine_test.go
  cli/internal/run/run.go
Labels: pr: chore

#2567 turbo-ignore: Include README.md in published dist
  packages/turbo-ignore/package.json
Labels: pr: automerge

#2467 Use mimalloc in next-dev
  Cargo.lock
  crates/next-dev/Cargo.toml
  crates/next-dev/src/main.rs
  crates/node-file-trace/src/main.rs
  crates/turbo-malloc/Cargo.toml
  crates/turbo-malloc/src/lib.rs
  crates/turbopack/Cargo.toml
  crates/turbopack/tests/node-file-trace.rs
Labels: pr: automerge, area: turbopack

#2577 Merge turbo crate into cargo workspace
  .github/workflows/bench-turbopack.yml
  .github/workflows/bench-turbotrace-against-node-nft.yml
  .github/workflows/build_rust.yml
  .github/workflows/check-codestyle-filtered.yml
  .github/workflows/pr-turbopack-bench.yml
  .github/workflows/quick-test-cargo.yml
  .github/workflows/test-cargo.yml
  Cargo.lock
  Cargo.toml
  cli/.gitignore
  cli/Makefile
  cli/integration_tests/setup.sh
  cli/integration_tests/turbo_help.t
  crates/next-dev/Cargo.toml
  crates/node-file-trace/Cargo.toml
  crates/swc-ast-explorer/Cargo.toml
  crates/turbo-tasks-memory/src/task.rs
  crates/turbo-tasks/src/id.rs
  crates/turbopack-cli-utils/Cargo.toml
  crates/turbopack-cli-utils/src/issue.rs
  crates/turbopack-create-test-app/Cargo.toml
  crates/turbopack-ecmascript/src/chunk/mod.rs
  shim/Cargo.lock
  shim/Cargo.toml
  shim/README.md
  shim/build.rs
  shim/rust-toolchain
  shim/src/ffi.rs
  shim/src/main.rs
  shim/src/package_manager.rs
  shim/tests/mod.rs
  xtask/Cargo.toml
  xtask/src/main.rs
  xtask/src/nft_bench.rs
  xtask/src/publish.rs
Labels: area: turborepo, area: turbopack

#2578 useEffect for ensuring that we don't trigger rerender.
  docs/theme.config.js
Labels: area: website, pr: automerge

#2571 Mention missing css absolute `@import uri` support in docs
  docs/pages/pack/docs/features/css.mdx
Labels: pr: automerge, area: turbopack

#2525 Implement Ropes for shared string construction
  Cargo.lock
  cli/libturbo.h
  crates/next-core/src/app_source.rs
  crates/next-core/src/next_client_component/with_chunks.rs
  crates/next-core/src/next_client_component/with_client_chunks.rs
  crates/next-core/src/nodejs/mod.rs
  crates/turbo-tasks-env/src/dotenv.rs
  crates/turbo-tasks-fs/Cargo.toml
  crates/turbo-tasks-fs/examples/hash_directory.rs
  crates/turbo-tasks-fs/examples/hash_glob.rs
  crates/turbo-tasks-fs/src/lib.rs
  crates/turbo-tasks-fs/src/rope.rs
  crates/turbo-tasks-hash/src/deterministic_hash.rs
  crates/turbopack-cli-utils/src/issue.rs
  crates/turbopack-core/Cargo.toml
  crates/turbopack-core/src/code_builder.rs
  crates/turbopack-core/src/introspect/asset.rs
  crates/turbopack-core/src/source_map.rs
  crates/turbopack-core/src/source_pos.rs
  crates/turbopack-css/src/module_asset.rs
  crates/turbopack-css/src/parse.rs
  crates/turbopack-dev-server/src/lib.rs
  crates/turbopack-dev-server/src/source/mod.rs
  crates/turbopack-ecmascript/src/chunk/loader.rs
  crates/turbopack-ecmascript/src/chunk/mod.rs
  crates/turbopack-ecmascript/src/chunk/source_map.rs
  crates/turbopack-ecmascript/src/chunk_group_files_asset.rs
  crates/turbopack-ecmascript/src/lib.rs
  crates/turbopack-ecmascript/src/parse.rs
  crates/turbopack-ecmascript/src/resolve/node_native_binding.rs
  crates/turbopack-env/src/asset.rs
  crates/turbopack-json/src/lib.rs
  crates/turbopack-static/src/lib.rs
  crates/turbopack-tests/tests/snapshot.rs
  shim/src/ffi.rs
Labels: area: turbopack

#2596 chore(repo): add auto labeler
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: pr: automerge

#2597 fix(repo): fix the yaml keys
  .github/labeler.yml
Labels: area:\ ci

#2594 Exclude shim crate from workspace default-members
  .github/workflows/check-codestyle-filtered.yml
  .github/workflows/quick-test-cargo.yml
  .github/workflows/test-cargo.yml
  Cargo.toml
Labels: area: turbopack, area: ci

#2599 Update rust nightly to 2022-11-04
  crates/turbo-tasks/src/lib.rs
  rust-toolchain
Labels: area: turbopack

#2618 fix(docs): custom search placeholder (en-us)
  docs/theme.config.js
Labels: area: docs

#2611 fix(docs): redirects, some links.
  docs/next.config.js
  docs/pages/blog/turbo-1-6-0.mdx
  packages/turbo/README.md
Labels: area: docs, area: site

#2607 remove circular emit code to avoid hanging node-file-trace
  crates/node-file-trace/src/lib.rs
  crates/turbopack/benches/node_file_trace.rs
  crates/turbopack/examples/turbopack.rs
  crates/turbopack/src/lib.rs
Labels: pr: automerge, area: turbopack

#2610 Line charts: Ensure the time range starts at 0 instead of the minimum time value
  xtask/src/visualize_bundler_bench.rs
Labels: pr: automerge, area: turbopack

#2620 add RSC and RCC for turbopack to benchmarks
  crates/next-core/src/app_source.rs
  crates/next-dev/benches/bundlers/mod.rs
  crates/next-dev/benches/bundlers/turbopack.rs
  crates/next-dev/benches/mod.rs
  crates/next-dev/benches/util/page_guard.rs
  crates/next-dev/benches/util/prepared_app.rs
  crates/turbopack-create-test-app/src/test_app_builder.rs
Labels: area: turbopack

#2518 chore(ci): Speed up CI with filtering
  .github/workflows/check-codestyle-all.yml
  .github/workflows/pr-go-e2e-all.yml
  .github/workflows/pr-go-e2e-filtered.yml
  .github/workflows/pr-go-lint-all.yml
  .github/workflows/pr-go-lint-filtered.yml
  .github/workflows/pr-go-run-examples-all.yml
  .github/workflows/pr-go-run-examples-filtered.yml
  .github/workflows/pr-go-unit-all.yml
  .github/workflows/pr-go-unit-filtered.yml
  .github/workflows/pr-js-tests-all.yml
  .github/workflows/pr-js-tests-filtered.yml
  .github/workflows/test-cargo-all.yml
Labels: pr: automerge, area: ci

#2627 chore(issues): update 0-turborepo-bug-report.yml
  .github/ISSUE_TEMPLATE/0-turborepo-bug-report.yml
Labels: area: ci

#2633 Add xtask directory to codeowners
  .github/CODEOWNERS
Labels: pr: automerge, area: ci

#2637 rename workflows and fix name conditions
  .github/workflows/pr-rust-test-all.yml
  .github/workflows/pr-rust-test-filtered.yml
Labels: area: ci

#2614 order routes by specificity
  crates/next-core/src/app_source.rs
  crates/next-core/src/nodejs/node_api_source.rs
  crates/next-core/src/nodejs/node_rendered_source.rs
  crates/next-core/src/path_regex.rs
  crates/next-core/src/server_rendered_source.rs
  crates/next-core/src/source_map/content_source.rs
  crates/next-dev/src/lib.rs
  crates/next-dev/src/turbo_tasks_viz.rs
  crates/turbopack-dev-server/src/introspect/mod.rs
  crates/turbopack-dev-server/src/lib.rs
  crates/turbopack-dev-server/src/source/asset_graph.rs
  crates/turbopack-dev-server/src/source/combined.rs
  crates/turbopack-dev-server/src/source/conditional.rs
  crates/turbopack-dev-server/src/source/mod.rs
  crates/turbopack-dev-server/src/source/specificity.rs
  crates/turbopack-dev-server/src/source/static_assets.rs
  crates/turbopack-dev-server/src/update/stream.rs
Labels: area: turbopack

#2635 fix(docs): hydration error fixes, next@13 prep
  docs/components/Avatar.tsx
  docs/components/Feature.tsx
  docs/components/Footer.tsx
  docs/components/FullTurboCTA.tsx
  docs/components/HeaderLogo.tsx
  docs/components/SiteSwitcher.tsx
  docs/components/TurbopackFeatures.tsx
  docs/components/Tweet.tsx
  docs/components/pages/landing/index.tsx
  docs/components/pages/pack-home/PackHero.tsx
  docs/components/pages/pack-home/PackLetter.tsx
  docs/components/pages/repo-home/RepoHero.tsx
  docs/components/pages/repo-home/RepoLetter.tsx
  docs/next.config.js
  docs/pages/blog.mdx
  docs/pages/blog/turbo-1-6-0.mdx
  docs/pages/blog/turbopack-benchmarks.mdx
  docs/pages/pack/docs/benchmarks.mdx
  docs/pages/pack/docs/comparisons/BenchmarksCallout.tsx
  docs/pages/repo/docs/getting-started/existing-monorepo.mdx
Labels: area: docs, area: site

#2625 add step to cache the prysk binary
  .github/workflows/pr-go-e2e-filtered.yml
Labels: area: ci

#2643 chore: add rust setup and cache to e2e
  .github/workflows/pr-go-e2e-filtered.yml
Labels: area: ci

#2647 create-turbo: Remove unnecessary code to show help version text
  packages/create-turbo/src/index.ts
Labels: pkg: create-turbo

#2604 fix(docs): fix tab items appearance
  docs/pages/repo/docs/handbook/sharing-code/internal-packages.mdx
Labels: area: docs

#2375 fix(docs): removing footer gradient pointer events
  docs/components/Footer.tsx
Labels: area: site

#2646 fix: add unplugged to Yarn 2+ lockfile
  cli/internal/lockfile/berry_lockfile.go
  cli/internal/lockfile/testdata/berry.lock
Labels: area: turborepo

#2651 chore(ci): skip e2e on examples changes
  .github/workflows/pr-go-e2e-filtered.yml
  .github/workflows/pr-js-tests-filtered.yml
Labels: area: ci

#2652 Fix tasks hanging when waiting for foreground tasks to be done
  crates/turbo-tasks/src/manager.rs
Labels: area: turbopack

#2636 add different keyed app route elements
  crates/next-core/js/package.json
  crates/next-core/js/src/dev/hot-reloader.tsx
  crates/next-core/js/src/entry/app-renderer.tsx
  crates/next-core/src/app_render/mod.rs
  crates/next-core/src/app_source.rs
  crates/next-dev/benches/bundlers/turbopack.rs
  pnpm-lock.yaml
Labels: pr: automerge, area: turbopack

#2650 feat(examples): add non-monorepo starter
  .github/workflows/pr-go-run-examples-all.yml
  .github/workflows/pr-go-run-examples-filtered.yml
  docs/pages/blog/turbo-1-6-0.mdx
  examples/basic/README.md
  examples/non-monorepo/.eslintrc.json
  examples/non-monorepo/.gitignore
  examples/non-monorepo/README.md
  examples/non-monorepo/next-env.d.ts
  examples/non-monorepo/next.config.js
  examples/non-monorepo/package.json
  examples/non-monorepo/pages/_app.tsx
  examples/non-monorepo/pages/api/hello.ts
  examples/non-monorepo/pages/index.tsx
  examples/non-monorepo/public/favicon.ico
  examples/non-monorepo/public/vercel.svg
  examples/non-monorepo/styles/Home.module.css
  examples/non-monorepo/styles/globals.css
  examples/non-monorepo/tsconfig.json
  examples/non-monorepo/turbo.json
  examples/with-nextjs/README.md
  examples/with-pnpm/README.md
  examples/with-prisma/README.md
  packages/create-turbo/templates/berry/README.md
  packages/create-turbo/templates/npm/README.md
  packages/create-turbo/templates/pnpm/README.md
  packages/create-turbo/templates/yarn/README.md
  scripts/run-example.sh
Labels: area: examples, pr: fixship, pkg: create-turbo, area: ci

#2649 Pin the next@latest in pnpm.overrides
  crates/turbopack/tests/node-file-trace/package.json
  crates/turbopack/tests/node-file-trace/pnpm-lock.yaml
  package.json
  pnpm-lock.yaml
Labels: pr: automerge, area: turbopack

#2654 feat(turbopack): bump up swc_core
  Cargo.lock
  Cargo.toml
  crates/turbopack-css/Cargo.toml
  crates/turbopack-css/src/references/import.rs
  crates/turbopack-css/src/references/mod.rs
Labels: area: turbopack

#2661 build(cargo): bump up dependencies
  Cargo.lock
  Cargo.toml
  crates/turbopack-css/Cargo.toml
  crates/turbopack-css/src/module_asset.rs
  crates/turbopack-css/src/parse.rs
Labels: area: turbopack

#2258 Ability to configure "persistent" tasks
  cli/integration_tests/monorepo_one_script_error/run.t
  cli/integration_tests/single_package/dry-run.t
  cli/integration_tests/single_package/run.t
  cli/integration_tests/single_package_deps/dry-run.t
  cli/integration_tests/single_package_deps/run.t
  cli/integration_tests/single_package_no_config/dry-run.t
  cli/integration_tests/single_package_no_config/run.t
  cli/internal/core/engine.go
  cli/internal/core/engine_persistent_deps_test.go
  cli/internal/fs/turbo_json.go
  cli/internal/graph/graph.go
  cli/internal/run/run.go
  cli/internal/run/run_test.go
Labels: area: turborepo

#2672 Add errors-only output mode
  cli/integration_tests/monorepo_one_script_error/monorepo/apps/my-app/package.json
  cli/integration_tests/monorepo_one_script_error/monorepo/turbo.json
  cli/integration_tests/monorepo_one_script_error/run.t
  cli/integration_tests/single_package_deps/run.t
  cli/internal/run/run.go
  cli/internal/runcache/runcache.go
  cli/internal/util/task_output_mode.go
Labels: area: turborepo

#2676 Add proper error with doc link on failure in alpine
  packages/turbo/install.js
Labels: pr: automerge

#2665 try/catch wrap gitTimestamp's useEffect
  docs/theme.config.js
Labels: area: docs, pr: automerge, area: site

#2658 Include the directory into the task hash.
  cli/integration_tests/monorepo_one_script_error/run.t
  cli/integration_tests/single_package/dry-run.t
  cli/integration_tests/single_package/run.t
  cli/integration_tests/single_package_deps/dry-run.t
  cli/integration_tests/single_package_deps/run.t
  cli/integration_tests/single_package_no_config/dry-run.t
  cli/integration_tests/single_package_no_config/run.t
  cli/internal/taskhash/taskhash.go
Labels: pr: automerge, area: turborepo

#2437 refactor unfinished tasks counting to bubble upwards
  Cargo.lock
  crates/turbo-tasks-memory/Cargo.toml
  crates/turbo-tasks-memory/src/memory_backend.rs
  crates/turbo-tasks-memory/src/memory_backend_with_pg.rs
  crates/turbo-tasks-memory/src/scope.rs
  crates/turbo-tasks-memory/src/task.rs
  crates/turbo-tasks-rocksdb/Cargo.toml
  crates/turbo-tasks-rocksdb/src/old_version/backend.rs
  crates/turbo-tasks-rocksdb/src/persisted_graph.rs
  crates/turbo-tasks-testing/Cargo.toml
  crates/turbo-tasks-testing/src/lib.rs
  crates/turbo-tasks/Cargo.toml
  crates/turbo-tasks/src/backend.rs
  crates/turbo-tasks/src/event.rs
  crates/turbo-tasks/src/infinite_vec.rs
  crates/turbo-tasks/src/lib.rs
  crates/turbo-tasks/src/manager.rs
  crates/turbo-tasks/src/no_move_vec.rs
  crates/turbo-tasks/src/raw_vc.rs
  crates/turbo-tasks/src/util.rs
  crates/turbopack-dev-server/Cargo.toml
Labels: area: turbopack

#2674 Update codeowners
  .github/CODEOWNERS
Labels: area: ci

#2659 Don't allow multiple workspaces to be named the same
  cli/internal/context/context.go
  cli/internal/context/context_test.go
  cli/internal/context/testdata/repo-with-dupe-workspaces/apps/a/package.json
  cli/internal/context/testdata/repo-with-dupe-workspaces/apps/b/package.json
  cli/internal/context/testdata/repo-with-dupe-workspaces/package.json
  cli/internal/context/testdata/repo-with-dupe-workspaces/pnpm-workspace.yaml
Labels: pr: fixship, area: turborepo

#2609 docs: add solana.fm to showcase list
  docs/components/clients/users.ts
  docs/public/images/logos/color/solanafm.svg
  docs/public/images/logos/white/solanafm.svg
Labels: pr: automerge

#2653 feat(next-dev): align devserver cli options to napi bindings
  crates/next-dev/src/devserver_options.rs
Labels: area: turbopack

#2684 fix(docs): fix typo in code blocks
  docs/pages/repo/docs/reference/codemods.mdx
Labels: area: docs, pr: automerge

#2663 initial work towards single workflow process
  .github/workflows/bench-turbopack.yml
  .github/workflows/check-codestyle-all.yml
  .github/workflows/check-codestyle-filtered.yml
  .github/workflows/pr-rust-test-all.yml
  .github/workflows/pr-rust-test-filtered.yml
  .github/workflows/pr-turbopack-bench.yml
  .github/workflows/release-turbopack.yml
  .github/workflows/test.yml
Labels: area: ci

#2693 add link to workflow summary
  .github/workflows/test.yml
Labels: area: ci

#2664 Add profiling docs
  CONTRIBUTING.md
  crates/next-dev/Cargo.toml
  crates/next-dev/src/lib.rs
  docs/pages/pack/docs/advanced/profiling.mdx
  docs/public/images/docs/pack/instruments-dark.png
  docs/public/images/docs/pack/instruments-light.png
Labels: area: turbopack

#2687 workflow fixes
  .github/workflows/test.yml
Labels: area: ci

#2679 docs: update contributing instructions
  CONTRIBUTING.md
Labels: pr: automerge, area: turbopack

#2677 update next.js to 13.0.3
  crates/next-core/js/package.json
  crates/next-dev/benches/bundlers/turbopack.rs
  pnpm-lock.yaml
Labels: pr: automerge, area: turbopack

#2697 chore: remove useless use of format (clippy error)
  crates/turbo-tasks-memory/src/scope.rs
Labels: pr: automerge, area: turbopack

#2666 feat: polyfill `global` with `globalThis`
  crates/next-dev/tests/integration/turbopack/basic/polyfill/index.js
  crates/turbopack-ecmascript/js/src/runtime.js
  crates/turbopack-ecmascript/src/chunk/mod.rs
  crates/turbopack-tests/tests/snapshot/basic/async_chunk/output/20803_foo_index.js
  crates/turbopack-tests/tests/snapshot/basic/async_chunk/output/79fb1_turbopack-tests_tests_snapshot_basic_async_chunk_input_import.js_manifest-chunk.js
  crates/turbopack-tests/tests/snapshot/basic/async_chunk/output/crates_turbopack-tests_tests_snapshot_basic_async_chunk_input_import.js
  crates/turbopack-tests/tests/snapshot/basic/async_chunk/output/crates_turbopack-tests_tests_snapshot_basic_async_chunk_input_index_9be35c.js
  crates/turbopack-tests/tests/snapshot/basic/chunked/output/39e84_foo_index.js
  crates/turbopack-tests/tests/snapshot/basic/chunked/output/crates_turbopack-tests_tests_snapshot_basic_chunked_input_index_b11d49.js
  crates/turbopack-tests/tests/snapshot/css/css/output/8697f_foo_style.module.css.js
  crates/turbopack-tests/tests/snapshot/css/css/output/crates_turbopack-tests_tests_snapshot_css_css_input_index_907a50.js
  crates/turbopack-tests/tests/snapshot/emotion/emotion/output/63a02_@emotion_react_index.js
  crates/turbopack-tests/tests/snapshot/emotion/emotion/output/63a02_@emotion_react_jsx-dev-runtime.js
  crates/turbopack-tests/tests/snapshot/emotion/emotion/output/63a02_@emotion_styled_index.js
  crates/turbopack-tests/tests/snapshot/emotion/emotion/output/crates_turbopack-tests_tests_snapshot_emotion_emotion_input_index_b6dbf3.js
  crates/turbopack-tests/tests/snapshot/env/env/output/crates_turbopack-tests_tests_snapshot_env_env_input_480486.js
  crates/turbopack-tests/tests/snapshot/evaluated_entrry/runtime_entry/output/a587c_tests_snapshot_evaluated_entrry_runtime_entry_input_index_50fbca.js
  crates/turbopack-tests/tests/snapshot/example/example/output/crates_turbopack-tests_tests_snapshot_example_example_input_index_a7beb7.js
  crates/turbopack-tests/tests/snapshot/imports/json/output/crates_turbopack-tests_tests_snapshot_imports_json_input_index_e24981.js
  crates/turbopack-tests/tests/snapshot/imports/resolve_error_cjs/output/79fb1_turbopack-tests_tests_snapshot_imports_resolve_error_cjs_input_index_e00120.js
  crates/turbopack-tests/tests/snapshot/imports/resolve_error_esm/output/79fb1_turbopack-tests_tests_snapshot_imports_resolve_error_esm_input_index_1a5dd4.js
  crates/turbopack-tests/tests/snapshot/imports/static/output/crates_turbopack-tests_tests_snapshot_imports_static_input_index_b8717b.js
  crates/turbopack-tests/tests/snapshot/styled_components/styled_components/output/63a02_styled-components_index.js
  crates/turbopack-tests/tests/snapshot/styled_components/styled_components/output/a587c_tests_snapshot_styled_components_styled_components_input_index_7b57d9.js
  crates/turbopack-tests/tests/snapshot/swc_transforms/mono_transforms/output/63a02_react_jsx-dev-runtime.js
  crates/turbopack-tests/tests/snapshot/swc_transforms/mono_transforms/output/7b7bf_third_party_component_index.js
  crates/turbopack-tests/tests/snapshot/swc_transforms/mono_transforms/output/a587c_tests_snapshot_swc_transforms_mono_transforms_input_packages_app_index_739f58.js
  crates/turbopack-tests/tests/snapshot/swc_transforms/mono_transforms/output/a587c_tests_snapshot_swc_transforms_mono_transforms_input_packages_component_index.js
  crates/turbopack-tests/tests/snapshot/swc_transforms/preset_env/output/63a02_@swc_helpers_src__class_call_check.mjs.js
  crates/turbopack-tests/tests/snapshot/swc_transforms/preset_env/output/79fb1_turbopack-tests_tests_snapshot_swc_transforms_preset_env_input_index_44c34f.js
  crates/turbopack-tests/tests/snapshot/tsconfig/baseurl/output/crates_turbopack-tests_tests_snapshot_tsconfig_baseurl_input_index_5906e5.js
Labels: pr: automerge, area: turbopack

#2668 chore: delete IsYarn util
  cli/internal/util/backends.go
Labels: area: turborepo

#2703 Added caveat to environment variables docs
  docs/pages/repo/docs/handbook/dev.mdx
Labels: area: docs

#2689 fix: /__turbo_tasks__ error when execute `@hpcc-js/wasm`
  crates/turbo-tasks-memory/src/viz/graph.rs
Labels: area: turbopack

#2709 chore(docs): correct supported os list
  docs/pages/repo/docs/getting-started/existing-monorepo.mdx
Labels: area: docs, pr: automerge

#2711 fix: force execution order in monorepo error tests
  cli/integration_tests/monorepo_one_script_error/monorepo/turbo.json
  cli/integration_tests/monorepo_one_script_error/run.t
Labels: area: turborepo

#2382 feature(turbo): Porting turbo CLI to Rust
  Cargo.lock
  cli/Makefile
  cli/cmd/turbo/main.go
  cli/integration_tests/link.t
  cli/integration_tests/login.t
  cli/integration_tests/logout.t
  cli/integration_tests/turbo_help.t
  cli/integration_tests/unlink.t
  cli/internal/cmd/auth/logout.go
  cli/internal/cmd/auth/unlink.go
  cli/internal/cmd/info/bin.go
  cli/internal/cmd/root.go
  cli/internal/cmdutil/cmdutil.go
  cli/internal/cmdutil/cmdutil_test.go
  cli/internal/config/config_file.go
  cli/internal/config/config_file_test.go
  cli/internal/daemon/daemon.go
  cli/internal/daemon/lifecycle.go
  cli/internal/daemon/status.go
  cli/internal/login/link.go
  cli/internal/login/login.go
  cli/internal/login/login_test.go
  cli/internal/prune/prune.go
  cli/internal/run/run.go
  cli/internal/turbostate/turbostate.go
  cli/libturbo.h
  shim/Cargo.toml
  shim/build.rs
  shim/src/ffi.rs
  shim/src/main.rs
  shim/tests/mod.rs
Labels: pr: automerge, area: turborepo, area: turbopack, area: ci

#2712 Remove default task outputs when outputs is not defined
  cli/internal/fs/turbo_json.go
  cli/internal/fs/turbo_json_test.go
Labels: area: turborepo

#2720 Pathing issue correctness.
  cli/internal/run/run.go
Labels: pr: automerge, area: turborepo

#2694 add go linting and examples to single workflow
  .github/workflows/pr-go-lint-all.yml
  .github/workflows/pr-go-lint-filtered.yml
  .github/workflows/pr-go-run-examples-all.yml
  .github/workflows/pr-go-run-examples-filtered.yml
  .github/workflows/test.yml
Labels: area: ci

#2671 feat(turbo-ignore): args and refactor
  .gitignore
  packages/turbo-ignore/README.md
  packages/turbo-ignore/__fixtures__/app/package.json
  packages/turbo-ignore/__fixtures__/invalid-app/package.json
  packages/turbo-ignore/__fixtures__/no-app/index.js
  packages/turbo-ignore/__tests__/args.test.ts
  packages/turbo-ignore/__tests__/getComparison.test.ts
  packages/turbo-ignore/__tests__/getWorkspace.test.ts
  packages/turbo-ignore/__tests__/ignore.test.ts
  packages/turbo-ignore/__tests__/test-utils.ts
  packages/turbo-ignore/jest.config.js
  packages/turbo-ignore/package.json
  packages/turbo-ignore/src/args.ts
  packages/turbo-ignore/src/getComparison.ts
  packages/turbo-ignore/src/getWorkspace.ts
  packages/turbo-ignore/src/ignore.ts
  packages/turbo-ignore/src/index.ts
  packages/turbo-ignore/src/logger.ts
  packages/turbo-ignore/src/types.ts
  packages/turbo-utils/__tests__/ignore.test.ts
  packages/turbo-utils/package.json
  packages/turbo-utils/src/getScopeFromArgs.ts
  packages/turbo-utils/src/getScopeFromPath.ts
  packages/turbo-utils/src/getTurboRoot.ts
  packages/turbo-utils/src/index.ts
  packages/turbo-utils/src/types.ts
Labels: pkg: turbo-ignore

#2678 in benchmarks use latest version for parcel and webpack too
  crates/next-dev/benches/bundlers/parcel.rs
  crates/next-dev/benches/bundlers/vite/mod.rs
  crates/next-dev/benches/bundlers/webpack/mod.rs
Labels: area: turbopack

#2725 docs: Remove callout now that we support prune w/npm
  docs/pages/repo/docs/reference/command-line-reference.mdx
Labels: area: docs

#2728 feat(turbo-ignore): docs update & improved output
  packages/turbo-ignore/README.md
  packages/turbo-ignore/__tests__/ignore.test.ts
  packages/turbo-ignore/src/ignore.ts
Labels: pkg: turbo-ignore

#2698 fix HMR for RSC benchmarking
  .github/workflows/bench-turbopack-scheduled.yml
  .github/workflows/test.yml
  crates/next-dev/benches/bundlers/mod.rs
  crates/next-dev/benches/bundlers/nextjs/mod.rs
  crates/next-dev/benches/bundlers/nextjs/next.config.js
  crates/next-dev/benches/bundlers/turbopack.rs
  crates/next-dev/benches/mod.rs
  crates/next-dev/benches/util/mod.rs
  crates/turbopack-create-test-app/src/test_app_builder.rs
  xtask/src/visualize_bundler_bench.rs
Labels: area: turbopack, area: ci

#2735 feat(turbo-ignore): release 0.4.0
  packages/turbo-ignore/package.json
  packages/turbo-ignore/tsup.config.ts
Labels: pkg: turbo-ignore

#2714 Add codemod to set default outputs in turbo.json
  .gitignore
  packages/turbo-codemod/__tests__/__fixtures__/basic/turbo.json
  packages/turbo-codemod/__tests__/__fixtures__/with-old-config/package.json
  packages/turbo-codemod/__tests__/__fixtures__/with-old-config/turbo.json
  packages/turbo-codemod/__tests__/set-default-outputs.test.ts
  packages/turbo-codemod/src/index.ts
  packages/turbo-codemod/src/transforms/set-default-outputs.ts
Labels: pr: fixship, area: turborepo

#2732 typo: Fix the turbo.json for github action
  docs/pages/repo/docs/ci/github-actions.mdx
Labels: area: docs, pr: automerge

#2745 fix: Yarn 2+ no longer include peer dependencies in AllDependencies
  cli/internal/lockfile/berry_lockfile.go
  cli/internal/lockfile/berry_lockfile_test.go
Labels: area: turborepo

#2741 Ignore integration tests and examples for renovate dep updates
  .github/renovate.json
Labels: area: ci

#2752 Give compare action permission to comment on PR
  .github/workflows/test.yml
Labels: area: ci

#2726 disable testing other bundlers in special branch names
  .github/workflows/bench-turbopack-scheduled.yml
Labels: area: ci

#2751 add benchmarks for Vite SSR and SWC
  crates/next-dev/benches/bundlers/mod.rs
  crates/next-dev/benches/bundlers/vite/mod.rs
  crates/next-dev/benches/bundlers/vite/vite.swc.config.js
  crates/turbopack-create-test-app/src/templates/vite-entry-client.jsx
  crates/turbopack-create-test-app/src/templates/vite-entry-server.jsx
  crates/turbopack-create-test-app/src/templates/vite-server.mjs
  crates/turbopack-create-test-app/src/test_app_builder.rs
Labels: area: turbopack

#2740 fix: adding `PeerDependenciesMeta` to `NpmLockfile` to fix issue with `turbo prune`
  cli/internal/lockfile/npm_lockfile.go
  cli/internal/lockfile/npm_lockfile_test.go
Labels: pr: automerge, area: turborepo

#2719 Separate turbo run.go code into separate files
  cli/internal/run/dry_run.go
  cli/internal/run/graph_run.go
  cli/internal/run/real_run.go
  cli/internal/run/run.go
  cli/internal/run/run_spec.go
Labels: area: turborepo

#2757 ci(actions): update clippy cache
  .github/workflows/test.yml
Labels: area: ci

#2746 Replace "Package" with "Workspace"
  cli/internal/context/context.go
  cli/internal/core/engine.go
  cli/internal/core/engine_persistent_deps_test.go
  cli/internal/graph/graph.go
  cli/internal/prune/prune.go
  cli/internal/run/dry_run.go
  cli/internal/run/run.go
  cli/internal/run/run_test.go
  cli/internal/scope/filter/filter.go
  cli/internal/scope/filter/filter_test.go
  cli/internal/scope/scope.go
  cli/internal/scope/scope_test.go
  cli/internal/taskhash/taskhash.go
Labels: area: turborepo

#2753 docs: include --workspace-root on pnpm add command
  docs/pages/repo/docs/getting-started/add-to-project.mdx
Labels: area: docs, pr: automerge

#2764 docs: Fix 404s
  docs/next.config.js
Labels: area: docs, area: site

#2759 Update metro.config.js
  examples/with-react-native-web/apps/native/metro.config.js
Labels: area: examples, pr: automerge

#2767 chore(examples): add package manager
  examples/basic/package.json
  examples/design-system/package.json
  examples/kitchen-sink/package.json
  examples/non-monorepo/package.json
  examples/with-changesets/package.json
  examples/with-create-react-app/package.json
  examples/with-docker/package.json
  examples/with-pnpm/package.json
  examples/with-prisma/package.json
  examples/with-react-native-web/package.json
  examples/with-svelte/package.json
  examples/with-tailwind/package.json
  examples/with-vite/package.json
  scripts/run-example.sh
Labels: area: examples

#2768 Add Go Unit tests to test workflow
  .github/workflows/pr-go-unit-all.yml
  .github/workflows/pr-go-unit-filtered.yml
  .github/workflows/test.yml
Labels: area: ci

#2770 feat(next-dev): support port via env variable
  crates/next-dev/Cargo.toml
  crates/next-dev/src/devserver_options.rs
Labels: area: turbopack

#2773 docs: Fix showcase layout regression
  docs/pages/showcase.mdx
Labels: area: docs

#2766 Use parking_lot::Mutex in Task to save some bytes
  crates/turbo-tasks-memory/src/task.rs
Labels: area: turbopack

#2781 fix(docs): update add to project docs
  docs/pages/repo/docs/getting-started/add-to-project.mdx
Labels: area: docs, pr: automerge

#2787 fix(cli): framework inference in nonmonorepos
  cli/internal/inference/inference.go
  cli/internal/inference/inference_test.go
Labels: area: turborepo

#2782 feat(docs): update ent link for turborepo
  docs/components/Navigation.tsx
  docs/pages/_meta.json
Labels: area: site

#2598 Support external css imports
  Cargo.lock
  crates/turbopack-core/src/resolve/mod.rs
  crates/turbopack-css/src/asset.rs
  crates/turbopack-css/src/chunk/mod.rs
  crates/turbopack-css/src/chunk/writer.rs
  crates/turbopack-css/src/code_gen.rs
  crates/turbopack-css/src/lib.rs
  crates/turbopack-css/src/references/import.rs
  crates/turbopack-css/src/references/url.rs
  crates/turbopack-css/src/util.rs
  crates/turbopack-tests/tests/snapshot/css/absolute-uri-import/input/index.css
  crates/turbopack-tests/tests/snapshot/css/absolute-uri-import/input/index.js
  crates/turbopack-tests/tests/snapshot/css/absolute-uri-import/input/other.css
  crates/turbopack-tests/tests/snapshot/css/absolute-uri-import/input/withduplicateurl.css
  crates/turbopack-tests/tests/snapshot/css/absolute-uri-import/output/crates_turbopack-tests_tests_snapshot_css_absolute-uri-import_input_index.css
  crates/turbopack-tests/tests/snapshot/css/absolute-uri-import/output/crates_turbopack-tests_tests_snapshot_css_absolute-uri-import_input_index_e03a4b.js
  crates/turbopack-tests/tests/snapshot/css/absolute-uri-import/output/crates_turbopack-tests_tests_snapshot_css_absolute-uri-import_input_index_e03a4b.js.map
  crates/turbopack-tests/tests/snapshot/node/node_protocol_external/input/index.js
  crates/turbopack-tests/tests/snapshot/node/node_protocol_external/output/79fb1_turbopack-tests_tests_snapshot_node_node_protocol_external_input_index_6a3d80.js
  crates/turbopack-tests/tests/snapshot/node/node_protocol_external/output/79fb1_turbopack-tests_tests_snapshot_node_node_protocol_external_input_index_6a3d80.js.map
Labels: area: turbopack

#2793 feat(next/dev): allow to display version
  Cargo.lock
  crates/next-dev/Cargo.toml
  crates/next-dev/build.rs
  crates/next-dev/src/devserver_options.rs
  crates/next-dev/src/main.rs
Labels: area: turbopack

#2815 fix(next-dev): disable git version info
  Cargo.lock
  crates/next-dev/Cargo.toml
  crates/next-dev/src/main.rs
Labels: area: turbopack

#2807 chore(examples): include lockfiles
  examples/.gitignore
  examples/basic/yarn.lock
  examples/design-system/yarn.lock
  examples/kitchen-sink/yarn.lock
  examples/non-monorepo/yarn.lock
  examples/with-changesets/yarn.lock
  examples/with-create-react-app/yarn.lock
  examples/with-docker/yarn.lock
  examples/with-pnpm/pnpm-lock.yaml
  examples/with-prisma/yarn.lock
  examples/with-react-native-web/yarn.lock
  examples/with-svelte/yarn.lock
  examples/with-tailwind/yarn.lock
  examples/with-vite/yarn.lock
  scripts/run-example.sh
Labels: area: examples, pr: automerge

#2806 ci(actions): try to diff correct clippy results
  .github/workflows/test.yml
Labels: area: ci

#2818 fix link in turbopack lazy bundling
  docs/pages/pack/docs/why-turbopack.mdx
Labels: area: docs, pr: automerge

#2821 fix(examples): update example CI runs
  .github/workflows/test.yml
  cli/internal/packagemanager/packagemanager_test.go
  examples/kitchen-sink/packages/logger/package.json
  examples/kitchen-sink/pnpm-lock.yaml
  examples/kitchen-sink/pnpm-workspace.yaml
  examples/non-monorepo/.npmrc
  examples/non-monorepo/package.json
  examples/non-monorepo/pnpm-lock.yaml
  examples/non-monorepo/yarn.lock
  examples/with-svelte/.prettierignore
  examples/with-svelte/.prettierrc
  examples/with-svelte/pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/run-example.sh
  shim/src/main.rs
  shim/src/package_manager.rs
  shim/tests/mod.rs
Labels: area: examples, pr: automerge, area: turborepo, area: ci

#2822 fix(examples): design system linking
  examples/design-system/.npmrc
  examples/design-system/pnpm-lock.yaml
Labels: area: examples

#2805 feat(turbo-ignore): pretty errors
  packages/turbo-ignore/__tests__/errors.test.ts
  packages/turbo-ignore/__tests__/ignore.test.ts
  packages/turbo-ignore/__tests__/test-utils.ts
  packages/turbo-ignore/package.json
  packages/turbo-ignore/src/errors.ts
  packages/turbo-ignore/src/ignore.ts
  packages/turbo-ignore/src/logger.ts
  packages/turbo-ignore/src/types.ts
Labels: pkg: turbo-ignore

#2779 get rid of CellMappings
  crates/turbo-tasks-macros/src/value_macro.rs
  crates/turbo-tasks-macros/src/value_trait_macro.rs
  crates/turbo-tasks-memory/src/cell.rs
  crates/turbo-tasks-memory/src/memory_backend.rs
  crates/turbo-tasks-memory/src/memory_backend_with_pg.rs
  crates/turbo-tasks-memory/src/task.rs
  crates/turbo-tasks-rocksdb/src/db.rs
  crates/turbo-tasks-rocksdb/src/old_version/backend.rs
  crates/turbo-tasks-rocksdb/src/old_version/db.rs
  crates/turbo-tasks-testing/src/lib.rs
  crates/turbo-tasks/src/backend.rs
  crates/turbo-tasks/src/lib.rs
  crates/turbo-tasks/src/manager.rs
  crates/turbo-tasks/src/persisted_graph.rs
  crates/turbo-tasks/src/raw_vc.rs
  crates/turbo-tasks/src/task_input.rs
  crates/turbopack-core/src/chunk/optimize.rs
Labels: area: turbopack

#2826 install the correct example
  .github/workflows/test.yml
Labels: area: ci

#2829 fix fallback error overlay
  .editorconfig
  crates/next-core/src/app_source.rs
  crates/next-core/src/fallback.rs
  crates/next-core/src/next_client/context.rs
  crates/next-core/src/next_import_map.rs
  crates/next-core/src/server_rendered_source.rs
Labels: area: turbopack

#2814 fix(eslint-plugin-turbo) allow comments in turbo.json file
  packages/eslint-plugin-turbo/__tests__/lib/findTurboConfig.test.ts
  packages/eslint-plugin-turbo/__tests__/lib/fixtures/workspace/turbo.json
  packages/eslint-plugin-turbo/lib/utils/findTurboConfig.ts
  packages/eslint-plugin-turbo/package.json
  pnpm-lock.yaml
Labels: pr: automerge, pkg: turbo-eslint

#2830 get upstream error overlay changes and fix typescript errors
  crates/next-core/js/src/dev/hmr-client.ts
  crates/next-core/js/src/dev/hot-reloader.tsx
  crates/next-core/js/src/entry/app/hydrate.tsx
  crates/next-core/js/src/entry/server-renderer.tsx
  crates/next-core/js/src/overlay/client.ts
  crates/next-core/js/src/overlay/internal/ErrorBoundary.tsx
  crates/next-core/js/src/overlay/internal/ReactDevOverlay.tsx
  crates/next-core/js/src/overlay/internal/bus.ts
  crates/next-core/js/src/overlay/internal/components/Overlay/maintain--tab-focus.ts
  crates/next-core/js/types/compiled-next.d.ts
  crates/next-core/js/types/globals.d.ts
  crates/next-core/js/types/next.d.ts
Labels: area: turbopack

#2795 Add missing period
  docs/pages/repo/docs/reference/command-line-reference.mdx
Labels: area: docs

#2819 Explicitly call out SSO login.
  docs/pages/repo/docs/core-concepts/remote-caching.mdx
Labels: area: docs, pr: automerge, area: turborepo

#2750 Sample many modules in benchmarks + reliability fixes
  Cargo.lock
  crates/next-dev/Cargo.toml
  crates/next-dev/benches/bundlers/mod.rs
  crates/next-dev/benches/bundlers/vite/mod.rs
  crates/next-dev/benches/bundlers/webpack/mod.rs
  crates/next-dev/benches/mod.rs
  crates/next-dev/benches/util/env.rs
  crates/next-dev/benches/util/mod.rs
  crates/next-dev/benches/util/module_picker.rs
  crates/next-dev/benches/util/page_guard.rs
  crates/next-dev/benches/util/prepared_app.rs
  crates/turbopack-create-test-app/Cargo.toml
  crates/turbopack-create-test-app/src/main.rs
  crates/turbopack-create-test-app/src/test_app_builder.rs
Labels: area: turbopack

#2851 fix(turbo): update regex in integration tests
  cli/Makefile
  cli/integration_tests/monorepo_one_script_error/run.t
Labels: area: turborepo

#2808 test(next): run latest next.js canary test on the CI
  .github/workflows/test.yml
Labels: area: ci

#2813 build(cargo): setup next-binding package
  .github/workflows/test.yml
  .taplo.toml
  Cargo.lock
  Cargo.toml
  crates/next-binding/Cargo.toml
  crates/next-binding/README.md
  crates/next-binding/src/lib.rs
  crates/turbopack-ecmascript/Cargo.toml
Labels: area: turbopack, area: ci

#2852 chore(renovate): skip turbopack crate tests
  .github/renovate.json
  cli/Makefile
Labels: pr: automerge, area: turborepo, area: ci

#2799 Move into TaskState, drop Event
  crates/turbo-tasks-memory/src/task.rs
  crates/turbo-tasks/src/event.rs
Labels: pr: automerge, area: turbopack

#2850 Make ESLint envVar aware.
  packages/eslint-plugin-turbo/lib/configs/recommended.ts
Labels: pr: automerge, pkg: turbo-eslint

#2827 fix and improve hanging detection
  Cargo.lock
  crates/next-binding/README.md
  crates/next-core/Cargo.toml
  crates/next-dev/Cargo.toml
  crates/node-file-trace/Cargo.toml
  crates/turbo-tasks-env/Cargo.toml
  crates/turbo-tasks-fs/Cargo.toml
  crates/turbo-tasks-memory/Cargo.toml
  crates/turbo-tasks-memory/src/memory_backend.rs
  crates/turbo-tasks-memory/src/task.rs
  crates/turbo-tasks-rocksdb/Cargo.toml
  crates/turbo-tasks-testing/Cargo.toml
  crates/turbo-tasks/Cargo.toml
  crates/turbo-tasks/src/event.rs
  crates/turbo-tasks/src/manager.rs
  crates/turbopack-cli-utils/Cargo.toml
  crates/turbopack-core/Cargo.toml
  crates/turbopack-dev-server/Cargo.toml
  crates/turbopack-ecmascript/Cargo.toml
  crates/turbopack-tests/Cargo.toml
  crates/turbopack/Cargo.toml
Labels: pr: automerge, area: turbopack

#2765 Make task stats take less memory by default
  crates/next-dev/src/devserver_options.rs
  crates/next-dev/src/lib.rs
  crates/next-dev/src/turbo_tasks_viz.rs
  crates/node-file-trace/src/lib.rs
  crates/turbo-tasks-memory/src/lib.rs
  crates/turbo-tasks-memory/src/memory_backend.rs
  crates/turbo-tasks-memory/src/memory_backend_with_pg.rs
  crates/turbo-tasks-memory/src/stats.rs
  crates/turbo-tasks-memory/src/task.rs
  crates/turbo-tasks-memory/src/task_stats.rs
  crates/turbo-tasks-memory/src/viz/graph.rs
  crates/turbo-tasks-memory/src/viz/mod.rs
  crates/turbo-tasks-memory/src/viz/table.rs
  crates/turbo-tasks/src/backend.rs
  crates/turbo-tasks/src/lib.rs
  crates/turbo-tasks/src/manager.rs
  crates/turbo-tasks/src/small_duration.rs
  crates/turbo-tasks/src/timed_future.rs
  crates/turbopack/examples/turbopack.rs
Labels: area: turbopack

#2861 Allow running other bundlers benchmark manually
  .github/workflows/bench-turbopack-scheduled.yml
Labels: area: ci

#2831 error overlay redesign
  crates/next-core/js/src/overlay/internal/ReactDevOverlay.tsx
  crates/next-core/js/src/overlay/internal/components/CodeFrame/CodeFrame.tsx
  crates/next-core/js/src/overlay/internal/components/CodeFrame/index.tsx
  crates/next-core/js/src/overlay/internal/components/CodeFrame/styles.tsx
  crates/next-core/js/src/overlay/internal/components/Dialog/Dialog.tsx
  crates/next-core/js/src/overlay/internal/components/Dialog/DialogBody.tsx
  crates/next-core/js/src/overlay/internal/components/Dialog/DialogContent.tsx
  crates/next-core/js/src/overlay/internal/components/Dialog/DialogHeader.tsx
  crates/next-core/js/src/overlay/internal/components/Dialog/DialogHeaderTabList.tsx
  crates/next-core/js/src/overlay/internal/components/Dialog/index.ts
  crates/next-core/js/src/overlay/internal/components/Dialog/styles.ts
  crates/next-core/js/src/overlay/internal/components/LeftRightDialogHeader/LeftRightDialogHeader.tsx
  crates/next-core/js/src/overlay/internal/components/LeftRightDialogHeader/styles.ts
  crates/next-core/js/src/overlay/internal/components/Overlay/Overlay.tsx
  crates/next-core/js/src/overlay/internal/components/Overlay/index.tsx
  crates/next-core/js/src/overlay/internal/components/Overlay/styles.tsx
  crates/next-core/js/src/overlay/internal/components/ShadowPortal.tsx
  crates/next-core/js/src/overlay/internal/components/Tabs/index.tsx
  crates/next-core/js/src/overlay/internal/components/Terminal/Terminal.tsx
  crates/next-core/js/src/overlay/internal/components/Terminal/index.tsx
  crates/next-core/js/src/overlay/internal/components/Terminal/styles.tsx
  crates/next-core/js/src/overlay/internal/components/Toast/Toast.tsx
  crates/next-core/js/src/overlay/internal/components/Toast/styles.ts
  crates/next-core/js/src/overlay/internal/container/BuildError.tsx
  crates/next-core/js/src/overlay/internal/container/Errors.tsx
  crates/next-core/js/src/overlay/internal/container/ErrorsToast.tsx
  crates/next-core/js/src/overlay/internal/container/RuntimeError.tsx
  crates/next-core/js/src/overlay/internal/helpers/clsx.ts
  crates/next-core/js/src/overlay/internal/hooks/context.tsx
  crates/next-core/js/src/overlay/internal/hooks/usePagination.ts
  crates/next-core/js/src/overlay/internal/icons/AlertOctagon.tsx
  crates/next-core/js/src/overlay/internal/icons/AlertTriangle.tsx
  crates/next-core/js/src/overlay/internal/icons/BaseIcon.tsx
  crates/next-core/js/src/overlay/internal/icons/CloseIcon.tsx
  crates/next-core/js/src/overlay/internal/icons/ExternalLink.tsx
  crates/next-core/js/src/overlay/internal/icons/LICENSE.md
  crates/next-core/js/src/overlay/internal/icons/PackageX.tsx
  crates/next-core/js/src/overlay/internal/icons/index.ts
  crates/next-core/js/src/overlay/internal/styles/Base.tsx
  crates/next-core/js/src/overlay/internal/styles/ComponentStyles.tsx
  crates/next-core/js/src/overlay/internal/styles/CssReset.tsx
Labels: area: turbopack

#2803 display multiple issues in error overlay
  crates/next-core/js/src/dev/hmr-client.ts
  crates/next-core/js/src/overlay/client.ts
  crates/next-core/js/src/overlay/internal/ReactDevOverlay.tsx
  crates/next-core/js/src/overlay/internal/bus.ts
  crates/next-core/js/src/overlay/internal/components/Tabs/index.tsx
  crates/next-core/js/src/overlay/internal/container/BuildError.tsx
  crates/next-core/js/src/overlay/internal/container/Errors.tsx
  crates/next-core/js/src/overlay/internal/container/TurbopackIssue.tsx
  crates/next-core/js/src/overlay/internal/styles/ComponentStyles.tsx
  crates/turbopack-ecmascript/js/types/protocol.d.ts
Labels: area: turbopack

#2551 Use scope options in prune flags
  cli/internal/context/context.go
  cli/internal/prune/prune.go
Labels: area: turborepo

#2849 feat(cli): include cacheStatus for single packages.
  cli/integration_tests/single_package/dry-run.t
  cli/integration_tests/single_package_deps/dry-run.t
  cli/integration_tests/single_package_no_config/dry-run.t
  cli/internal/run/dry_run.go
Labels: area: turborepo

#2859 Add tests for the ESLint caching.
  .eslintignore
  package.json
  packages/eslint-plugin-turbo/__tests__/cwd.test.ts
  packages/eslint-plugin-turbo/__tests__/fixtures/workspace/.eslintrc.js
  packages/eslint-plugin-turbo/__tests__/fixtures/workspace/child/child.js
  packages/eslint-plugin-turbo/__tests__/fixtures/workspace/package.json
  packages/eslint-plugin-turbo/__tests__/fixtures/workspace/peer.js
  packages/eslint-plugin-turbo/__tests__/fixtures/workspace/turbo.json
  packages/eslint-plugin-turbo/__tests__/lib/findTurboConfig.test.ts
  packages/eslint-plugin-turbo/jest.config.js
  packages/eslint-plugin-turbo/lib/configs/recommended.ts
  turbo.json
Labels: pr: automerge, pkg: turbo-eslint

#2416 use Vec instead of HashMap for smaller counts
  Cargo.lock
  Cargo.toml
  crates/auto-hash-map/Cargo.toml
  crates/auto-hash-map/src/lib.rs
  crates/auto-hash-map/src/map.rs
  crates/auto-hash-map/src/set.rs
  crates/turbo-tasks-fs/Cargo.toml
  crates/turbo-tasks-fs/src/attach.rs
  crates/turbo-tasks-fs/src/lib.rs
  crates/turbo-tasks-memory/Cargo.toml
  crates/turbo-tasks-memory/src/cell.rs
  crates/turbo-tasks-memory/src/count_hash_set.rs
  crates/turbo-tasks-memory/src/memory_backend.rs
  crates/turbo-tasks-memory/src/memory_backend_with_pg.rs
  crates/turbo-tasks-memory/src/output.rs
  crates/turbo-tasks-memory/src/scope.rs
  crates/turbo-tasks-memory/src/task.rs
  crates/turbo-tasks-testing/Cargo.toml
  crates/turbo-tasks-testing/src/lib.rs
  crates/turbo-tasks/Cargo.toml
  crates/turbo-tasks/src/backend.rs
  crates/turbo-tasks/src/debug/mod.rs
  crates/turbo-tasks/src/manager.rs
  crates/turbo-tasks/src/primitives.rs
  crates/turbo-tasks/src/raw_vc.rs
  crates/turbo-tasks/src/trace.rs
  crates/turbo-tasks/src/value_type.rs
  crates/turbopack-core/Cargo.toml
  crates/turbopack-core/src/issue/mod.rs
Labels: pr: automerge, area: turbopack

#2835 feat(turbo-ignore): check commit body
  packages/turbo-ignore/README.md
  packages/turbo-ignore/__tests__/args.test.ts
  packages/turbo-ignore/__tests__/checkCommit.test.ts
  packages/turbo-ignore/__tests__/getComparison.test.ts
  packages/turbo-ignore/__tests__/ignore.test.ts
  packages/turbo-ignore/__tests__/test-utils.ts
  packages/turbo-ignore/package.json
  packages/turbo-ignore/src/args.ts
  packages/turbo-ignore/src/checkCommit.ts
  packages/turbo-ignore/src/errors.ts
  packages/turbo-ignore/src/getComparison.ts
  packages/turbo-ignore/src/ignore.ts
  packages/turbo-ignore/src/types.ts
Labels: pkg: turbo-ignore

#2848 chore(eslint): fix cwd check for eslint@<6.6.0
  packages/eslint-plugin-turbo/lib/rules/no-undeclared-env-vars.ts
  packages/eslint-plugin-turbo/lib/utils/getEnvVarDependencies.ts
Labels: pkg: turbo-eslint

#2882 chore(eslint): release plugin & config
  packages/eslint-config-turbo/package.json
  packages/eslint-plugin-turbo/package.json
  pnpm-lock.yaml
Labels: pkg: turbo-eslint
