Repository vercel/turborepo, pull requests merged in 2022-08, with the labels that each got.

#1597 fix: modern yarn lockfile parsing error
  cli/internal/prune/prune.go
Labels: kind: bug, pr: automerge

#1599 Inferencing for environment variables.
  cli/internal/env/env.go
  cli/internal/env/env_test.go
  cli/internal/inference/inference.go
  cli/internal/inference/inference_test.go
  cli/internal/taskhash/taskhash.go
Labels: pr: automerge

#1602 docs: update deprecated notice for serial option
  docs/pages/docs/reference/command-line-reference.mdx
Labels: pr: automerge

#1610 docs: add N26 to showcase list
  docs/components/clients/users.ts
  docs/public/images/logos/color/n26.svg
  docs/public/images/logos/white/n26.svg
Labels: pr: automerge

#1616 chore(owners): add chris & mehul
  .github/CODEOWNERS
Labels: pr: automerge

#1573 feat(examples): add vite
  examples/with-vite/.eslintrc.js
  examples/with-vite/.gitignore
  examples/with-vite/README.md
  examples/with-vite/apps/docs/.eslintrc.cjs
  examples/with-vite/apps/docs/favicon.svg
  examples/with-vite/apps/docs/index.html
  examples/with-vite/apps/docs/package.json
  examples/with-vite/apps/docs/public/vite.svg
  examples/with-vite/apps/docs/src/main.ts
  examples/with-vite/apps/docs/src/style.css
  examples/with-vite/apps/docs/src/typescript.svg
  examples/with-vite/apps/docs/src/vite-env.d.ts
  examples/with-vite/apps/docs/tsconfig.json
  examples/with-vite/apps/web/.eslintrc.cjs
  examples/with-vite/apps/web/favicon.svg
  examples/with-vite/apps/web/index.html
  examples/with-vite/apps/web/package.json
  examples/with-vite/apps/web/public/vite.svg
  examples/with-vite/apps/web/src/main.ts
  examples/with-vite/apps/web/src/style.css
  examples/with-vite/apps/web/src/typescript.svg
  examples/with-vite/apps/web/src/vite-env.d.ts
  examples/with-vite/apps/web/tsconfig.json
  examples/with-vite/package.json
  examples/with-vite/packages/eslint-config-custom/index.js
  examples/with-vite/packages/eslint-config-custom/package.json
  examples/with-vite/packages/tsconfig/base.json
  examples/with-vite/packages/tsconfig/package.json
  examples/with-vite/packages/tsconfig/vite.json
  examples/with-vite/packages/ui/.eslintrc.cjs
  examples/with-vite/packages/ui/components/counter.ts
  examples/with-vite/packages/ui/components/header.ts
  examples/with-vite/packages/ui/index.ts
  examples/with-vite/packages/ui/package.json
  examples/with-vite/packages/ui/tsconfig.json
  examples/with-vite/packages/ui/utils/counter.ts
  examples/with-vite/turbo.json
Labels: examples, pr: automerge

#1639 feat(examples) update examples & starters to use eslint config
  examples/basic/packages/eslint-config-custom/index.js
  examples/basic/packages/eslint-config-custom/package.json
  examples/design-system/packages/eslint-config-acme/index.js
  examples/design-system/packages/eslint-config-acme/package.json
  examples/kitchen-sink/packages/eslint-config-custom-server/index.js
  examples/kitchen-sink/packages/eslint-config-custom-server/package.json
  examples/kitchen-sink/packages/eslint-config-custom/index.js
  examples/kitchen-sink/packages/eslint-config-custom/package.json
  examples/with-changesets/packages/eslint-config-acme/index.js
  examples/with-changesets/packages/eslint-config-acme/package.json
  examples/with-create-react-app/packages/eslint-config-custom/index.js
  examples/with-create-react-app/packages/eslint-config-custom/package.json
  examples/with-docker/packages/eslint-config-custom/index.js
  examples/with-docker/packages/eslint-config-custom/package.json
  examples/with-pnpm/packages/eslint-config-custom/index.js
  examples/with-pnpm/packages/eslint-config-custom/package.json
  examples/with-prisma/packages/config/eslint-preset.js
  examples/with-prisma/packages/config/package.json
  examples/with-svelte/packages/eslint-config-custom/index.js
  examples/with-svelte/packages/eslint-config-custom/package.json
  examples/with-tailwind/packages/eslint-config-custom/index.js
  examples/with-tailwind/packages/eslint-config-custom/package.json
  packages/create-turbo/templates/_shared_ts/packages/eslint-config-custom/index.js
  packages/create-turbo/templates/_shared_ts/packages/eslint-config-custom/package.json
  packages/eslint-config-turbo/package.json
  packages/eslint-plugin-turbo/package.json
Labels: pr: automerge

#1596 docs: fix turbo prune with docker blog example
  docs/pages/blog/turbo-0-4-0.mdx
Labels: examples, pr: automerge

#1653 Weird makefile differences
  cli/Makefile
Labels: pr: automerge

#1678 Make it easier to copy paste command from README
  packages/create-turbo/README.md
Labels: pr: automerge

#1689 refactor: Prune prefactor
  cli/internal/packagemanager/berry.go
  cli/internal/packagemanager/packagemanager.go
  cli/internal/packagemanager/packagemanager_test.go
  cli/internal/packagemanager/yarn.go
  cli/internal/prune/prune.go
  cli/scripts/e2e/e2e.ts
Labels: pr: fixship

#1697 chore(cli): fix comment
  cli/internal/spinner/spinner.go
Labels: pr: automerge

#1715 Run benchmarks, push data to tinybird and gh-pages
  .github/workflows/large-monorepo.yml
  benchmark/.gitignore
  benchmark/package.json
  benchmark/src/index.ts
  pnpm-lock.yaml
Labels: pr: automerge

#1727 fix(docs): fix showcase layout shift
  docs/components/clients/Clients.tsx
  docs/components/clients/Logo.tsx
  docs/components/clients/users.ts
  docs/components/pages/home.tsx
  docs/components/pages/showcase.tsx
Labels: pr: automerge

#1711 run_state refactor
  cli/internal/run/run.go
  cli/internal/run/run_state.go
Labels: pr: automerge

#1734 Run go mod tidy
  cli/go.mod
  cli/go.sum
Labels: chore

#1735 Invert automerging behavior from Kodiak
  .github/.kodiak.toml
Labels: chore

#1701 Minor editorial, grammatical, and spelling improvments to docs
  docs/pages/docs/core-concepts/caching.mdx
  docs/pages/docs/core-concepts/filtering.mdx
  docs/pages/docs/core-concepts/pipelines.mdx
  docs/pages/docs/core-concepts/remote-caching.mdx
  docs/pages/docs/faq.mdx
  docs/pages/docs/getting-started.mdx
  docs/pages/docs/guides/migrate-from-lerna.mdx
  docs/pages/docs/guides/monorepo-tools.mdx
  docs/pages/docs/guides/workspaces.mdx
  docs/pages/docs/index.mdx
  docs/pages/docs/reference/codemods.mdx
  docs/pages/docs/reference/command-line-reference.mdx
  docs/pages/docs/reference/configuration.mdx
  docs/pages/docs/troubleshooting.mdx
  docs/pages/docs/upgrading-to-v1.mdx
Labels: docs

#1736 Improve docs on how to get started debugging
  CONTRIBUTING.md
Labels: pr: automerge

#1743 minor pipelines.mdx typo
  docs/pages/docs/core-concepts/pipelines.mdx
Labels: pr: automerge

#1750 Document how to publish new releases
  CONTRIBUTING.md
Labels: pr: automerge

#1754 Remove confusing features from docs page
  docs/content/features.ts
Labels: pr: automerge

#1562 Script for releasing from CI.
  .github/workflows/release.yml
  cli/Makefile
  package.json
  pnpm-lock.yaml
  scripts/version.js
Labels: pr: fixship

#1762 docs: Callout that turbo.json is an input
  docs/pages/docs/core-concepts/caching.mdx
  docs/pages/docs/reference/configuration.mdx
Labels: pr: automerge

#1761 Improve documentation of accepted options for outputMode config
  docs/pages/docs/reference/configuration.mdx
Labels: pr: automerge

#1759 Improve release docs
  CONTRIBUTING.md
Labels: pr: automerge

#1766 Update docs for release to clarify questions.
  .github/workflows/release.yml
  CONTRIBUTING.md
  cli/Makefile
Labels: pr: automerge

#1454 Remove hard link code and SameFile function
  cli/internal/cache/cache_fs.go
  cli/internal/cache/cache_fs_test.go
  cli/internal/fs/copy_file.go
  cli/internal/fs/copy_file_test.go
  cli/internal/fs/fs.go
  cli/internal/fs/path.go
Labels: pr: automerge

#1767 Remove command flag shorthands from docs.
  docs/pages/docs/getting-started.mdx
  docs/pages/docs/guides/migrate-from-lerna.mdx
  docs/pages/docs/upgrading-to-v1.mdx
Labels: pr: automerge

#1751 Move user config and repo config to Viper
  cli/cmd/turbo/main.go
  cli/go.mod
  cli/go.sum
  cli/internal/cache/cache.go
  cli/internal/cache/cache_http.go
  cli/internal/client/client.go
  cli/internal/client/client_test.go
  cli/internal/cmd/auth/logout.go
  cli/internal/cmd/auth/unlink.go
  cli/internal/config/config.go
  cli/internal/config/config_file.go
  cli/internal/config/config_file_test.go
  cli/internal/config/config_test.go
  cli/internal/fs/path.go
  cli/internal/login/link.go
  cli/internal/login/login.go
  cli/internal/login/login_test.go
  cli/internal/run/run.go
  cli/internal/run/run_test.go
Labels: pr: automerge

#1773 Change fs.ReadPackageJSON to operate on AbsolutePath instances
  cli/internal/context/context.go
  cli/internal/fs/package_json.go
  cli/internal/fs/path.go
  cli/internal/fs/turbo_json_test.go
  cli/internal/globby/globby.go
  cli/internal/hashing/package_deps_hash.go
  cli/internal/nodes/packagetask.go
  cli/internal/packagemanager/berry.go
  cli/internal/packagemanager/npm.go
  cli/internal/packagemanager/yarn.go
  cli/internal/prune/prune.go
  cli/internal/run/run.go
  cli/internal/runcache/runcache.go
  cli/internal/scope/filter/filter.go
  cli/internal/scope/filter/filter_test.go
  cli/internal/scope/scope.go
  cli/internal/scope/scope_test.go
  cli/internal/taskhash/taskhash.go
  cli/internal/taskhash/taskhash_test.go
  cli/internal/turbopath/anchored_system_path.go
Labels: pr: automerge

#1776 Run the benchmark after every release
  .github/workflows/large-monorepo.yml
Labels: pr: automerge

#1795 Add schema dialect to example turbo.json files
  examples/basic/turbo.json
  examples/design-system/turbo.json
  examples/kitchen-sink/turbo.json
  examples/with-changesets/turbo.json
  examples/with-create-react-app/turbo.json
  examples/with-docker/turbo.json
  examples/with-pnpm/turbo.json
  examples/with-react-native-web/turbo.json
  examples/with-svelte/turbo.json
  examples/with-tailwind/turbo.json
  examples/with-vite/turbo.json
Labels: pr: automerge

#1793 fix: rule doc link
  packages/eslint-plugin-turbo/lib/rules/no-undeclared-env-vars.ts
Labels: pr: automerge

#1785 Fix typo in getting-started.mdx
  docs/pages/docs/getting-started.mdx
Labels: docs, pr: automerge

#1768 Provide a bit more context for trace files.
  docs/pages/docs/index.mdx
Labels: pr: automerge

#1800 fix(docs): nextjs with-docker link
  examples/with-nextjs/README.md
Labels: pr: automerge

#1791 Drop unused absolute unix path
  cli/internal/turbopath/absolute_unix_path.go
  cli/internal/turbopath/anchored_unix_path.go
  cli/internal/turbopath/turbopath.go
Labels: pr: automerge

#1805 Generate .npmrc just-in-time
  .gitignore
  .npmrc
  cli/Makefile
Labels: pr: automerge

#1673 fix: use docker cache best practices in examples
  examples/with-docker/apps/api/Dockerfile
  examples/with-docker/apps/web/Dockerfile
Labels: pr: automerge

#1774 Set cmd.Dir to an absolute path when we execute scripts
  cli/internal/run/run.go
Labels: pr: automerge

#1810 Remove errant indentation
  .github/workflows/large-monorepo.yml
Labels: pr: automerge

#1803 Remove --no-gc flag, always run with garbage collection
  cli/cmd/turbo/main.go
  cli/internal/run/run.go
Labels: pr: automerge

#1789 (refactor) add lockfile abstraction
  cli/internal/context/context.go
  cli/internal/fs/lockfile.go
  cli/internal/fs/package_json.go
  cli/internal/fs/yarn_lockfile.go
  cli/internal/lockfile/berry_lockfile.go
  cli/internal/lockfile/lockfile.go
  cli/internal/lockfile/yarn_lockfile.go
  cli/internal/packagemanager/berry.go
  cli/internal/packagemanager/packagemanager.go
  cli/internal/packagemanager/yarn.go
  cli/internal/prune/prune.go
Labels: pr: automerge

#1779 Move `fs.AbsolutePath` to `turbopath.AbsolutePath`
  cli/internal/cache/cache.go
  cli/internal/cache/cache_fs.go
  cli/internal/cache/cache_http.go
  cli/internal/cache/cache_test.go
  cli/internal/config/config.go
  cli/internal/config/config_file.go
  cli/internal/config/config_test.go
  cli/internal/context/context.go
  cli/internal/daemon/connector/connector.go
  cli/internal/daemon/connector/connector_test.go
  cli/internal/daemon/daemon.go
  cli/internal/daemon/daemon_test.go
  cli/internal/daemon/lifecycle.go
  cli/internal/daemonclient/daemonclient.go
  cli/internal/filewatcher/backend.go
  cli/internal/filewatcher/backend_darwin.go
  cli/internal/filewatcher/cookie.go
  cli/internal/filewatcher/filewatcher.go
  cli/internal/filewatcher/filewatcher_test.go
  cli/internal/fs/copy_file_test.go
  cli/internal/fs/lstat.go
  cli/internal/fs/package_json.go
  cli/internal/fs/path.go
  cli/internal/fs/path_test.go
  cli/internal/fs/turbo_json.go
  cli/internal/globwatcher/globwatcher.go
  cli/internal/globwatcher/globwatcher_test.go
  cli/internal/hashing/package_deps_hash.go
  cli/internal/hashing/package_deps_hash_test.go
  cli/internal/login/link.go
  cli/internal/login/login.go
  cli/internal/login/login_test.go
  cli/internal/packagemanager/berry.go
  cli/internal/packagemanager/npm.go
  cli/internal/packagemanager/packagemanager.go
  cli/internal/packagemanager/packagemanager_test.go
  cli/internal/packagemanager/pnpm.go
  cli/internal/packagemanager/pnpm6.go
  cli/internal/packagemanager/yarn.go
  cli/internal/run/global_hash.go
  cli/internal/run/run.go
  cli/internal/run/run_state.go
  cli/internal/runcache/runcache.go
  cli/internal/server/server.go
  cli/internal/taskhash/taskhash.go
  cli/internal/taskhash/taskhash_test.go
  cli/internal/turbopath/absolute_path.go
Labels: pr: automerge

#1813 Update to insert newlines.
  cli/internal/fs/turbo_json.go
Labels: pr: automerge

#1815 chore(configs): update tsconfigs & packages
  examples/basic/packages/tsconfig/package.json
  examples/design-system/packages/acme-tsconfig/package.json
  examples/kitchen-sink/packages/tsconfig/package.json
  examples/with-changesets/packages/acme-tsconfig/package.json
  examples/with-create-react-app/packages/tsconfig/package.json
  examples/with-docker/packages/tsconfig/package.json
  examples/with-pnpm/packages/tsconfig/package.json
  examples/with-prisma/packages/tsconfig/package.json
  examples/with-react-native-web/packages/tsconfig/package.json
  examples/with-tailwind/packages/tsconfig/package.json
  examples/with-vite/packages/tsconfig/package.json
  packages/create-turbo/templates/_shared_ts/packages/tsconfig/package.json
  packages/tsconfig/README.md
  packages/tsconfig/package.json
  packages/turbo-ignore/package.json
  pnpm-lock.yaml
Labels: pr: automerge

#1782 [refactor] - made Features components more reusable
  docs/components/Features.tsx
  docs/components/pages/home.tsx
  docs/pages/docs/index.mdx
Labels: pr: automerge

#1812 Update open instances of incorrect references to Turborepo.
  CONTRIBUTING.md
  cli/scripts/npm-native-packages/template/README.md
  docs/pages/blog/turbo-0-4-0.mdx
  docs/pages/docs/acknowledgements.mdx
  docs/pages/docs/core-concepts/caching.mdx
  docs/pages/docs/core-concepts/filtering.mdx
  docs/pages/docs/core-concepts/pipelines.mdx
  docs/pages/docs/core-concepts/remote-caching.mdx
  docs/pages/docs/faq.mdx
  docs/pages/docs/guides/migrate-from-lerna.mdx
  docs/pages/docs/reference/command-line-reference.mdx
  docs/pages/docs/reference/configuration.mdx
Labels: pr: automerge
