Repository vercel/turborepo, pull requests merged in 2023-04, with the labels that each got.

#4422 feature(turborepo): `-F` as filter shorthand
  cli/integration_tests/no_args.t
  cli/integration_tests/turbo_help.t
  crates/turborepo-lib/src/cli.rs
Labels: team: turborepo

#4434 use alias field for resolving module requests in packages
  crates/turbopack-core/src/resolve/mod.rs
  crates/turbopack-core/src/resolve/pattern.rs
  crates/turbopack-tests/tests/snapshot.rs
Labels: pr: automerge, team: turbopack

#4436 chore: removing signal forwarding test
  cli/integration_tests/signal_handling/ctrlc.t
  cli/integration_tests/signal_handling/setup.sh
  cli/integration_tests/signal_handling/test_repo/apps/test/package.json
  cli/integration_tests/signal_handling/test_repo/package.json
  cli/integration_tests/signal_handling/test_repo/turbo.json
Labels: team: turborepo

#4441 chore(prettier): update and run
  .github/actions/next-integration-stat/src/index.ts
  package.json
  pnpm-lock.yaml
Labels: area: ci, team: turborepo, team: turbopack

#4406 Add sub-package info to environment-variables.mdx
  docs/pages/repo/docs/handbook/environment-variables.mdx
Labels: area: docs, pr: automerge, team: turborepo

#4447 allow to specific effect mode for creating test app
  crates/turbopack-create-test-app/src/main.rs
  crates/turbopack-create-test-app/src/test_app_builder.rs
Labels: pr: automerge, team: turbopack

#4448 make sure Node.js process closes when server disappears
  crates/turbopack-node/js/src/ipc/index.ts
Labels: pr: automerge, team: turbopack

#4446 fix HMR for streaming responses
  crates/turbopack-core/src/chunk/list/update.rs
  crates/turbopack-core/src/version.rs
  crates/turbopack-dev-server/src/source/mod.rs
  crates/turbopack-dev-server/src/update/protocol.rs
  crates/turbopack-dev-server/src/update/server.rs
  crates/turbopack-dev-server/src/update/stream.rs
  crates/turbopack-dev/src/ecmascript/merged/update.rs
Labels: pr: automerge, team: turbopack

#4423 Add a debugging section in our docs
  docs/pages/repo/docs/_meta.json
  docs/pages/repo/docs/troubleshooting.mdx
Labels: area: docs, area: site, team: turborepo

#4453 chore(version): bump canary version
  version.txt
Labels: team: turborepo

#4455 fix(docs): correct peer dependency error
  docs/package.json
  pnpm-lock.yaml
Labels: area: site, team: turborepo, team: turbopack

#4424 ci(workflow): apply latest turbopack when build next-swc
  .github/workflows/daily-nextjs-integration-test.yml
  .github/workflows/setup-nextjs-build.yml
  .github/workflows/test.yml
Labels: pr: automerge, area: ci, team: turborepo, team: turbopack

#4460 Redirect all test output to /dev/null
  examples_tests/npm-non-monorepo.t
  examples_tests/npm-with-npm.t
  examples_tests/npm-with-yarn.t
  examples_tests/pnpm-basic.t
  examples_tests/pnpm-gatsby.t
  examples_tests/pnpm-kitchen-sink.t
  examples_tests/pnpm-with-svelte.t
  examples_tests/yarn-non-monorepo.t
  examples_tests/yarn-with-npm.t
  examples_tests/yarn-with-yarn.t
Labels: team: turborepo, team: turbopack

#4443 test(turbopack): add one more test for flaky subsets
  .github/workflows/nextjs-integration-test.yml
Labels: pr: automerge, area: ci, team: turborepo, team: turbopack

#4466 Use pnpm in prepare script
  .github/actions/turbopack-bump/package.json
Labels: area: ci, team: turborepo, team: turbopack

#4474 avoid panic in EsmModuleItem
  crates/turbopack-ecmascript/src/references/esm/module_item.rs
Labels: pr: automerge, team: turbopack

#4475 ignore external chunks
  crates/turbopack-dev/src/ecmascript/manifest/chunk_item.rs
Labels: pr: automerge, team: turbopack

#4471 Add ServerAddr ip/port methods
  crates/turbopack-core/src/environment.rs
Labels: pr: automerge, team: turbopack

#4458 feat(ecmascript): support configurable emotion options
  crates/turbopack-ecmascript/src/transform/mod.rs
  crates/turbopack-tests/tests/snapshot.rs
  crates/turbopack-tests/tests/snapshot/emotion/emotion/output/crates_turbopack-tests_tests_snapshot_emotion_emotion_input_index_b53fce.js
  crates/turbopack-tests/tests/snapshot/emotion/emotion/output/crates_turbopack-tests_tests_snapshot_emotion_emotion_input_index_b53fce.js.map
  crates/turbopack/src/module_options/mod.rs
  crates/turbopack/src/module_options/module_options_context.rs
Labels: pr: automerge, team: turbopack

#4473 use error pretty printer for code gen errors
  crates/turbopack-dev/src/ecmascript/content_entry.rs
  crates/turbopack-dev/src/ecmascript/list/asset.rs
  crates/turbopack-dev/src/ecmascript/list/content.rs
  crates/turbopack-dev/src/ecmascript/manifest/chunk_item.rs
  crates/turbopack-tests/tests/snapshot/imports/json/issues/Code generation for chunk item errored-0d1499.txt
  crates/turbopack-tests/tests/snapshot/imports/json/issues/Code generation for chunk item errored-798a9e.txt
  crates/turbopack-tests/tests/snapshot/imports/json/output/crates_turbopack-tests_tests_snapshot_imports_json_input_index_b53fce.js
Labels: pr: automerge, team: turbopack

#4388 refactor(turborepo): Factored out API Client crate
  .github/CODEOWNERS
  .github/workflows/test.yml
  Cargo.lock
  Cargo.toml
  crates/turborepo-api-client/Cargo.toml
  crates/turborepo-api-client/src/lib.rs
  crates/turborepo-api-client/src/retry.rs
  crates/turborepo-lib/Cargo.toml
  crates/turborepo-lib/src/cli.rs
  crates/turborepo-lib/src/commands/link.rs
  crates/turborepo-lib/src/commands/login.rs
  crates/turborepo-lib/src/commands/mod.rs
  crates/turborepo-lib/src/lib.rs
Labels: pr: automerge, area: ci, team: turborepo, team: turbopack

#4480 fix CSS HMR for pages
  crates/turbopack-dev/js/src/runtime.dom.js
  crates/turbopack-node/src/pool.rs
  crates/turbopack-tests/tests/snapshot/basic/async_chunk/output/crates_turbopack-tests_tests_snapshot_basic_async_chunk_input_index_0d348e.js
  crates/turbopack-tests/tests/snapshot/basic/chunked/output/crates_turbopack-tests_tests_snapshot_basic_chunked_input_index_e77e9f.js
  crates/turbopack-tests/tests/snapshot/basic/shebang/output/crates_turbopack-tests_tests_snapshot_basic_shebang_input_index_b1f0c2.js
  crates/turbopack-tests/tests/snapshot/comptime/define/output/crates_turbopack-tests_tests_snapshot_comptime_define_input_index_6b0d2b.js
  crates/turbopack-tests/tests/snapshot/css/absolute-uri-import/output/crates_turbopack-tests_tests_snapshot_css_absolute-uri-import_input_index_082e10.js
  crates/turbopack-tests/tests/snapshot/css/css/output/crates_turbopack-tests_tests_snapshot_css_css_input_index_2081e1.js
  crates/turbopack-tests/tests/snapshot/emotion/emotion/output/crates_turbopack-tests_tests_snapshot_emotion_emotion_input_index_b080c4.js
  crates/turbopack-tests/tests/snapshot/env/env/output/crates_turbopack-tests_tests_snapshot_env_env_input_index_29a23f.js
  crates/turbopack-tests/tests/snapshot/evaluated_entrry/runtime_entry/output/a587c_tests_snapshot_evaluated_entrry_runtime_entry_input_index_f59cc7.js
  crates/turbopack-tests/tests/snapshot/example/example/output/crates_turbopack-tests_tests_snapshot_example_example_input_index_78b6bf.js
  crates/turbopack-tests/tests/snapshot/export-alls/cjs-2/output/crates_turbopack-tests_tests_snapshot_export-alls_cjs-2_input_index_289ae7.js
  crates/turbopack-tests/tests/snapshot/export-alls/cjs-script/output/crates_turbopack-tests_tests_snapshot_export-alls_cjs-script_input_index_3e96b7.js
  crates/turbopack-tests/tests/snapshot/import-meta/cjs/output/crates_turbopack-tests_tests_snapshot_import-meta_cjs_input_index_537553.js
  crates/turbopack-tests/tests/snapshot/import-meta/esm-multiple/output/79fb1_turbopack-tests_tests_snapshot_import-meta_esm-multiple_input_index_c00392.js
  crates/turbopack-tests/tests/snapshot/import-meta/esm-mutable/output/crates_turbopack-tests_tests_snapshot_import-meta_esm-mutable_input_index_6c9201.js
  crates/turbopack-tests/tests/snapshot/import-meta/esm-object/output/crates_turbopack-tests_tests_snapshot_import-meta_esm-object_input_index_6fcf7d.js
  crates/turbopack-tests/tests/snapshot/import-meta/esm/output/crates_turbopack-tests_tests_snapshot_import-meta_esm_input_index_c4c88a.js
  crates/turbopack-tests/tests/snapshot/import-meta/url/output/crates_turbopack-tests_tests_snapshot_import-meta_url_input_index_988b57.js
  crates/turbopack-tests/tests/snapshot/imports/dynamic/output/crates_turbopack-tests_tests_snapshot_imports_dynamic_input_index_45c162.js
  crates/turbopack-tests/tests/snapshot/imports/json/output/crates_turbopack-tests_tests_snapshot_imports_json_input_index_961ae2.js
  crates/turbopack-tests/tests/snapshot/imports/resolve_error_cjs/output/79fb1_turbopack-tests_tests_snapshot_imports_resolve_error_cjs_input_index_f8412b.js
  crates/turbopack-tests/tests/snapshot/imports/resolve_error_esm/output/79fb1_turbopack-tests_tests_snapshot_imports_resolve_error_esm_input_index_0b3e45.js
  crates/turbopack-tests/tests/snapshot/imports/static-and-dynamic/output/79fb1_turbopack-tests_tests_snapshot_imports_static-and-dynamic_input_index_ec8693.js
  crates/turbopack-tests/tests/snapshot/imports/static/output/crates_turbopack-tests_tests_snapshot_imports_static_input_index_885269.js
  crates/turbopack-tests/tests/snapshot/node/node_protocol_external/output/79fb1_turbopack-tests_tests_snapshot_node_node_protocol_external_input_index_667edf.js
  crates/turbopack-tests/tests/snapshot/styled_components/styled_components/output/a587c_tests_snapshot_styled_components_styled_components_input_index_afc482.js
  crates/turbopack-tests/tests/snapshot/swc_transforms/mono_transforms/output/a587c_tests_snapshot_swc_transforms_mono_transforms_input_packages_app_index_4a3d65.js
  crates/turbopack-tests/tests/snapshot/swc_transforms/preset_env/output/79fb1_turbopack-tests_tests_snapshot_swc_transforms_preset_env_input_index_e2f660.js
  crates/turbopack-tests/tests/snapshot/typescript/jsconfig-baseurl/output/79fb1_turbopack-tests_tests_snapshot_typescript_jsconfig-baseurl_input_index_8f1e58.js
  crates/turbopack-tests/tests/snapshot/typescript/tsconfig-baseurl/output/a587c_tests_snapshot_typescript_tsconfig-baseurl_input_index.ts_0aa04e._.js
Labels: pr: automerge, team: turbopack

#4481 Revert "feat(ecmascript): support configurable emotion options"
  crates/turbopack-ecmascript/src/transform/mod.rs
  crates/turbopack-tests/tests/snapshot.rs
  crates/turbopack-tests/tests/snapshot/emotion/emotion/output/crates_turbopack-tests_tests_snapshot_emotion_emotion_input_index_b53fce.js
  crates/turbopack-tests/tests/snapshot/emotion/emotion/output/crates_turbopack-tests_tests_snapshot_emotion_emotion_input_index_b53fce.js.map
  crates/turbopack/src/module_options/mod.rs
  crates/turbopack/src/module_options/module_options_context.rs
Labels: team: turbopack

#4486 Fix typos in example tsconfig' readme
  examples/with-create-react-app/packages/tsconfig/README.md
Labels: area: examples, team: turborepo

#4472 fix: typos
  docs/pages/blog/turbopack-benchmarks.mdx
  docs/pages/pack/docs/advanced/profiling.mdx
  docs/pages/pack/docs/comparisons/vite.mdx
  examples/design-system/README.md
Labels: area: docs, area: examples, pr: automerge, team: turborepo, team: turbopack

#4485 Add ServerAddr::hostname method
  crates/turbopack-core/src/environment.rs
Labels: team: turbopack

#4464 Better dotenv error messages
  crates/turbo-tasks-env/src/dotenv.rs
  crates/turbo-tasks/src/util.rs
  crates/turbopack-cli-utils/src/issue.rs
  crates/turbopack-core/src/issue/mod.rs
  crates/turbopack-env/src/try_env.rs
  crates/turbopack-test-utils/src/snapshot.rs
  crates/turbopack-tests/tests/snapshot/export-alls/cjs-2/issues/unexpected export __star__-c9d8a6.txt
  crates/turbopack-tests/tests/snapshot/export-alls/cjs-script/issues/unexpected export __star__-38cf67.txt
  crates/turbopack-tests/tests/snapshot/imports/json/issues/Code generation for chunk item errored-5f72a6.txt
  crates/turbopack-tests/tests/snapshot/imports/resolve_error_cjs/issues/Error resolving commonjs request-b97684.txt
  crates/turbopack-tests/tests/snapshot/imports/resolve_error_esm/issues/Error resolving EcmaScript Modules request-aff400.txt
Labels: pr: automerge, team: turbopack

#4477 add ServerDirective transform which reports unsupported
  crates/turbopack-ecmascript/src/parse.rs
  crates/turbopack-ecmascript/src/transform/mod.rs
  crates/turbopack-ecmascript/src/transform/server_to_client_proxy.rs
  crates/turbopack-ecmascript/src/transform/util.rs
Labels: team: turbopack

#4437 chore: pipe through root package json to lockfile parsing
  cli/internal/context/context.go
  cli/internal/packagemanager/berry.go
  cli/internal/packagemanager/npm.go
  cli/internal/packagemanager/packagemanager.go
  cli/internal/packagemanager/pnpm.go
  cli/internal/packagemanager/pnpm6.go
  cli/internal/packagemanager/yarn.go
  cli/internal/scope/scope.go
  cli/internal/scope/scope_test.go
Labels: team: turborepo

#4439 port(turborepo): New Turbopath
  .github/CODEOWNERS
  .github/workflows/test.yml
  Cargo.lock
  Cargo.toml
  crates/turbopath/Cargo.toml
  crates/turbopath/src/absolute_system_path_buf.rs
  crates/turbopath/src/anchored_system_path_buf.rs
  crates/turbopath/src/lib.rs
  crates/turbopath/src/relative_system_path_buf.rs
  crates/turbopath/src/relative_unix_path_buf.rs
  crates/turborepo-lib/Cargo.toml
  crates/turborepo-lib/src/commands/daemon.rs
  crates/turborepo-lib/src/commands/link.rs
  crates/turborepo-lib/src/commands/mod.rs
  crates/turborepo-lib/src/daemon/client.rs
  crates/turborepo-lib/src/daemon/connector.rs
  crates/turborepo-paths/Cargo.toml
  crates/turborepo-paths/LICENSE
  crates/turborepo-paths/src/absolute_normalized_path.rs
  crates/turborepo-paths/src/absolute_path.rs
  crates/turborepo-paths/src/cmp_impls.rs
  crates/turborepo-paths/src/file_name.rs
  crates/turborepo-paths/src/fmt.rs
  crates/turborepo-paths/src/forward_relative_path.rs
  crates/turborepo-paths/src/fs_util.rs
  crates/turborepo-paths/src/into_filename_buf_iterator.rs
  crates/turborepo-paths/src/io_counters.rs
  crates/turborepo-paths/src/lib.rs
  crates/turborepo-paths/src/project.rs
  crates/turborepo-paths/src/project_relative_path.rs
  crates/turborepo-scm/Cargo.toml
  crates/turborepo-scm/src/git.rs
  crates/turborepo-scm/src/lib.rs
Labels: pr: fixship, area: ci, team: turborepo, team: turbopack

#4478 chore: Remove release flag from turborepo-ffi build
  cli/Makefile
Labels: team: turborepo

#4449 Strict Environment Handling
  cli/integration_tests/bad_flag.t
  cli/integration_tests/strict_env_vars/fixture-configs/all.json
  cli/integration_tests/strict_env_vars/fixture-configs/global_pt-empty.json
  cli/integration_tests/strict_env_vars/fixture-configs/global_pt.json
  cli/integration_tests/strict_env_vars/fixture-configs/task_pt-empty.json
  cli/integration_tests/strict_env_vars/fixture-configs/task_pt.json
  cli/integration_tests/strict_env_vars/get-global-hash.sh
  cli/integration_tests/strict_env_vars/global_hash_infer.t
  cli/integration_tests/strict_env_vars/global_hash_loose.t
  cli/integration_tests/strict_env_vars/global_hash_no-value.t
  cli/integration_tests/strict_env_vars/global_hash_strict.t
  cli/integration_tests/strict_env_vars/monorepo/.gitignore
  cli/integration_tests/strict_env_vars/monorepo/apps/my-app/build.sh
  cli/integration_tests/strict_env_vars/monorepo/apps/my-app/package.json
  cli/integration_tests/strict_env_vars/monorepo/package.json
  cli/integration_tests/strict_env_vars/monorepo/turbo.json
  cli/integration_tests/strict_env_vars/setup.sh
  cli/integration_tests/strict_env_vars/usage_infer.t
  cli/integration_tests/strict_env_vars/usage_loose.t
  cli/integration_tests/strict_env_vars/usage_strict.t
  cli/internal/core/engine.go
  cli/internal/env/env.go
  cli/internal/fs/testdata/correct/turbo.json
  cli/internal/fs/turbo_json.go
  cli/internal/fs/turbo_json_test.go
  cli/internal/run/global_hash.go
  cli/internal/run/real_run.go
  cli/internal/run/run.go
  cli/internal/turbostate/turbostate.go
  cli/internal/util/run_opts.go
  crates/turborepo-lib/src/cli.rs
Labels: team: turborepo

#4379 chore: update `with-tailwind` example
  examples/with-tailwind/apps/docs/tailwind.config.js
  examples/with-tailwind/apps/web/tailwind.config.js
  examples/with-tailwind/packages/ui/tailwind.config.js
Labels: area: examples, team: turborepo

#4479 chore: Add profiles to cargo using aliases
  .cargo/config.toml
  .github/workflows/test.yml
  CONTRIBUTING.md
  Cargo.lock
Labels: area: ci, team: turborepo, team: turbopack

#4427 Fix plex.tv showcase url
  docs/components/clients/users.ts
Labels: pr: automerge, area: site, team: turborepo, team: turbopack

#4502 Remove unused constant
  cli/internal/run/run.go
Labels: team: turborepo

#4499 Synthesize a command for a Run
  cli/integration_tests/single_package/run-summary.t
  cli/internal/run/run.go
  cli/internal/run/run_spec.go
  cli/internal/run/run_spec_test.go
  cli/internal/runsummary/execution_summary.go
  cli/internal/runsummary/run_summary.go
  cli/internal/runsummary/vercel.go
  cli/internal/scope/scope.go
  cli/internal/scope/scope_test.go
Labels: team: turborepo

#4514 fix(examples): with-rollup
  examples/with-rollup/apps/web/package.json
  examples/with-rollup/package.json
  examples/with-rollup/packages/ui/package.json
  examples/with-rollup/pnpm-lock.yaml
Labels: area: examples, team: turborepo

#4518 Fix Missing packages key when there are no changes in a monorepo
  cli/integration_tests/dry_json/README.md
  cli/integration_tests/dry_json/monorepo-no-changes.t
  cli/integration_tests/dry_json/monorepo.t
  cli/integration_tests/dry_json/single_package-no-change.t
  cli/integration_tests/dry_json/single_package.t
  cli/integration_tests/dry_json/single_package_no_config.t
  cli/integration_tests/dry_json/single_package_with_deps.t
  cli/integration_tests/single_package/dry-run.t
  cli/integration_tests/single_package/no-config-dry-run.t
  cli/integration_tests/single_package/with-deps-dry-run.t
  cli/internal/runsummary/format_json.go
  cli/internal/runsummary/run_summary.go
Labels: team: turborepo

#4519 chore: add turborepo-lockfiles to turborepo code owners
  .github/CODEOWNERS
Labels: team: turborepo, team: turbopack

#4500 feat(docs): platform context menu
  docs/components/HeaderLogo.tsx
  docs/components/LogoContext/icons.tsx
  docs/components/LogoContext/index.tsx
  docs/components/LogoContext/items.tsx
  docs/components/LogoContext/types.ts
  docs/package.json
  pnpm-lock.yaml
Labels: area: site, team: turborepo, team: turbopack

#4515 Add more readme for integration tests
  cli/integration_tests/README.md
Labels: team: turborepo

#4526 Deprecate `THASH`.
  cli/integration_tests/global_env.t
  cli/internal/run/global_hash.go
  cli/internal/run/run.go
Labels: pr: automerge, team: turborepo

#4530 feat(summary): add taskId to single package task
  cli/integration_tests/dry_json/single_package.t
  cli/integration_tests/dry_json/single_package_no_config.t
  cli/integration_tests/dry_json/single_package_with_deps.t
  cli/integration_tests/single_package/run-summary.t
  cli/internal/runsummary/task_summary.go
Labels: team: turborepo

#4531 fix(docs): context menu wide screen
  docs/components/LogoContext/index.tsx
Labels: area: site, team: turborepo, team: turbopack

#4467 Document --summarize flag and include in Troubleshooting doc
  docs/pages/repo/docs/reference/command-line-reference.mdx
  docs/pages/repo/docs/troubleshooting.mdx
Labels: area: docs, docs: next release, team: turborepo

#4532 feat(docs): 1.9.0 blog post
  docs/components/Badge.tsx
  docs/pages/blog/_meta.json
  docs/pages/blog/turbo-1-9-0.mdx
  docs/public/images/blog/turbo-1-9-0/twitter-card.png
Labels: area: docs, area: site, team: turborepo, team: turbopack

#4537 chore(turborepo): Make rustls the default feature for turborepo-lib
  crates/turborepo-lib/Cargo.toml
Labels: team: turborepo

#4495 Update data sent to vercel for runs
  cli/integration_tests/single_package/run-summary.t
  cli/internal/run/run.go
  cli/internal/run/run_spec.go
  cli/internal/run/run_spec_test.go
  cli/internal/runsummary/execution_summary.go
  cli/internal/runsummary/run_summary.go
  cli/internal/runsummary/spaces.go
  cli/internal/runsummary/vercel.go
  cli/internal/scope/scope.go
  cli/internal/scope/scope_test.go
Labels: team: turborepo

#4538 Update old testbed make target to fixture- for new fixtures layout
  cli/Makefile
Labels: pr: automerge, team: turborepo

#4542 add unit test for pnpm fix
  cli/internal/lockfile/pnpm_lockfile_test.go
  cli/internal/lockfile/testdata/pnpm-absolute.yaml
Labels: team: turborepo

#4541 Use both key and version when sorting lockfile entries
  cli/internal/lockfile/lockfile.go
  cli/internal/lockfile/pnpm_lockfile_test.go
  cli/internal/lockfile/testdata/pnpm-absolute.yaml
Labels: team: turborepo

#4540 Save task duration correctly
  cli/integration_tests/cache_state.t
  cli/internal/run/real_run.go
  cli/internal/runsummary/execution_summary.go
Labels: team: turborepo

#4482 feat(ecmascript): support configurable emotion options
  crates/turbopack-ecmascript/src/transform/mod.rs
  crates/turbopack-tests/tests/snapshot.rs
  crates/turbopack-tests/tests/snapshot/emotion/emotion/output/crates_turbopack-tests_tests_snapshot_emotion_emotion_input_index_b53fce.js
  crates/turbopack-tests/tests/snapshot/emotion/emotion/output/crates_turbopack-tests_tests_snapshot_emotion_emotion_input_index_b53fce.js.map
  crates/turbopack/src/module_options/mod.rs
  crates/turbopack/src/module_options/module_options_context.rs
Labels: pr: automerge, team: turbopack

#4535 feat(ecmascript): support configurable styled component options
  crates/turbopack-ecmascript/src/transform/mod.rs
  crates/turbopack-tests/tests/snapshot.rs
  crates/turbopack/src/module_options/mod.rs
  crates/turbopack/src/module_options/module_options_context.rs
Labels: pr: automerge, team: turbopack

#4554 Update turbo-1-9-0.mdx
  docs/pages/blog/turbo-1-9-0.mdx
Labels: area: docs, team: turborepo, team: turbopack

#4442 feat(turbopack): initial mdxRs next.config.js support
  crates/turbopack-mdx/src/lib.rs
  crates/turbopack/src/lib.rs
  crates/turbopack/src/module_options/mod.rs
  crates/turbopack/src/module_options/module_options_context.rs
  crates/turbopack/src/module_options/module_rule.rs
Labels: pr: automerge, team: turbopack

#4552 chore: Fix spelling
  cli/integration_tests/run_summary/single-package.t
Labels: team: turborepo

#4533 test(turborepo): Vercel API Mock Crate
  .cargo/config.toml
  .github/CODEOWNERS
  Cargo.lock
  Cargo.toml
  crates/turborepo-lib/Cargo.toml
  crates/turborepo-lib/src/commands/link.rs
  crates/turborepo-lib/src/commands/login.rs
  crates/turborepo-vercel-api-mock/Cargo.toml
  crates/turborepo-vercel-api-mock/src/lib.rs
  crates/turborepo-vercel-api-mock/src/main.rs
Labels: team: turborepo, team: turbopack

#4539 Include TimeSaved metric in Run Summaries
  cli/integration_tests/cache_state.t
  cli/integration_tests/dry_json/monorepo.t
  cli/integration_tests/dry_json/single_package.t
  cli/integration_tests/dry_json/single_package_no_config.t
  cli/integration_tests/dry_json/single_package_with_deps.t
  cli/integration_tests/run_summary/error.t
  cli/integration_tests/run_summary/monorepo.t
  cli/integration_tests/run_summary/single-package.t
  cli/internal/cache/cache.go
  cli/internal/cache/cache_fs.go
  cli/internal/cache/cache_http.go
  cli/internal/run/dry_run.go
  cli/internal/run/real_run.go
  cli/internal/runcache/runcache.go
  cli/internal/runsummary/format_text.go
  cli/internal/runsummary/spaces.go
  cli/internal/runsummary/task_summary.go
  cli/internal/taskhash/taskhash.go
Labels: pr: fixship, team: turborepo

#4557 docs: add missing comma in `turbo.json`
  docs/pages/repo/docs/core-concepts/caching.mdx
Labels: area: docs, team: turborepo

#4570 review follow ups
  .github/workflows/bench-turbopack-scheduled.yml
  .github/workflows/dispatch-turbopack-custom-bench.yml
  .github/workflows/dispatch-turbopack-custom-matrix-bench.yml
Labels: pr: automerge, area: ci, team: turborepo, team: turbopack

#4558 Delete a test fixture we don't need
  cli/integration_tests/_fixtures/single_package_no_config/.gitignore
  cli/integration_tests/_fixtures/single_package_no_config/package.json
  cli/integration_tests/dry_json/single_package_no_config.t
  cli/integration_tests/single_package/dry-run.t
  cli/integration_tests/single_package/graph.t
  cli/integration_tests/single_package/no-config-graph.t
  cli/integration_tests/single_package/no-config-run.t
  cli/integration_tests/single_package/no-config.t
  cli/integration_tests/single_package/run.t
  cli/integration_tests/single_package/with-deps-dry-run.t
  cli/integration_tests/single_package/with-deps-graph.t
  cli/integration_tests/single_package/with-deps-run.t
Labels: team: turborepo

#4565 Bind to IPv6 and IPv4
  Cargo.lock
  crates/turbopack-dev-server/Cargo.toml
  crates/turbopack-dev-server/src/lib.rs
Labels: team: turbopack

#4574 fix(create-turbo): correct package manager selection
  packages/create-turbo/src/commands/create/prompts.ts
  packages/turbo-utils/src/managers.ts
Labels: pkg: create-turbo, team: turborepo

#4562 Print Run URL if there is one
  cli/internal/runsummary/format_execution_summary.go
  cli/internal/runsummary/run_summary.go
  cli/internal/runsummary/spaces.go
Labels: team: turborepo

#4585 fixup bind v6 PR: add missing listen call
  crates/turbopack-dev-server/src/lib.rs
Labels: team: turbopack

#4583 remove panic since this might happen due to eventual consistency
  crates/turbopack-ecmascript/src/references/esm/module_item.rs
Labels: pr: automerge, team: turbopack

#4586 fix(create-turbo): prompt fix
  packages/create-turbo/src/commands/create/prompts.ts
Labels: pkg: create-turbo, team: turborepo

#4584 improve node.js receive timeout
  crates/turbopack-node/src/pool.rs
Labels: pr: automerge, team: turbopack

#4581 allow to create stress test for client components
  crates/turbopack-create-test-app/src/main.rs
  crates/turbopack-create-test-app/src/test_app_builder.rs
Labels: pr: automerge, team: turbopack

#4579 make node bootstrap asset lazy
  crates/turbopack-node/src/bootstrap.rs
  crates/turbopack-node/src/evaluate.rs
  crates/turbopack-node/src/lib.rs
Labels: pr: automerge, team: turbopack

#4580 remove circular dependency
  Cargo.lock
  crates/turbopack-bench/Cargo.toml
Labels: pr: automerge, team: turbopack

#4604 Revert "fix(turborepo): SCM tests and renaming (#4462)"
  cli/internal/ffi/ffi.go
  cli/internal/ffi/proto/messages.pb.go
  cli/internal/scm/git_go.go
  cli/internal/scm/git_rust.go
  crates/turborepo-ffi/messages.proto
  crates/turborepo-ffi/src/lib.rs
  crates/turborepo-scm/src/git.rs
Labels: team: turborepo

#4615 chore(turbo): stricter node engines
  .node-version
  package.json
Labels: team: turborepo, team: turbopack

#4613 Dummy -> placeholder for ^topo task in docs
  docs/pages/repo/docs/core-concepts/monorepos/running-tasks.mdx
  docs/public/images/docs/task-graph-with-placeholder-task.png
Labels: area: docs, pr: automerge, area: site, team: turborepo, team: turbopack

#4521 feat(contextcondition): support InPath contextcondition
  crates/turbopack/Cargo.toml
  crates/turbopack/src/condition.rs
  crates/turbopack/src/module_options/mod.rs
  crates/turbopack/src/resolve.rs
Labels: pr: automerge, team: turbopack

#4623 exclude turborepo from turbopack bench tests
  .cargo/config.toml
  .github/workflows/test.yml
Labels: area: ci, team: turborepo, team: turbopack

#4571 this vendors glob-match with unicode support
  .github/CODEOWNERS
  .github/workflows/test.yml
  Cargo.lock
  Cargo.toml
  crates/glob-match/Cargo.toml
  crates/glob-match/LICENSE
  crates/glob-match/README.md
  crates/glob-match/benches/bench.rs
  crates/glob-match/fuzz/.gitignore
  crates/glob-match/fuzz/Cargo.lock
  crates/glob-match/fuzz/Cargo.toml
  crates/glob-match/fuzz/fuzz_targets/both_fuzz.rs
  crates/glob-match/fuzz/fuzz_targets/lib.rs
  crates/glob-match/fuzz/fuzz_targets/pattern_on_itself.rs
  crates/glob-match/rustfmt.toml
  crates/glob-match/src/lib.rs
Labels: area: ci, team: turborepo, team: turbopack

#4626 fix(tests): correct path in examples setup
  examples_tests/setup.sh
Labels: team: turborepo, team: turbopack

#4605 chore: delete unused npm lockfile impl in go
  cli/internal/lockfile/lockfile.go
  cli/internal/lockfile/npm_lockfile.go
  cli/internal/lockfile/npm_lockfile_go.go
  cli/internal/lockfile/npm_lockfile_test.go
  cli/internal/lockfile/transitive_closure_go.go
  cli/internal/lockfile/transitive_closure_rust.go
Labels: team: turborepo

#4610 test(subset): add mdx test into subset
  .github/workflows/nextjs-integration-test.yml
Labels: pr: automerge, area: ci, team: turborepo, team: turbopack

#4624 run benchmarks on windows and macOS too
  .github/workflows/test.yml
Labels: area: ci, team: turborepo, team: turbopack

#4620 Make ContainmentTree fully generic
  Cargo.lock
  crates/turbopack-core/Cargo.toml
  crates/turbopack-core/src/chunk/containment_tree.rs
  crates/turbopack-core/src/chunk/optimize.rs
Labels: pr: automerge, team: turbopack

#4529 Env var run summary data generation
  cli/integration_tests/_fixtures/strict_env_vars_configs/all.json
  cli/integration_tests/_fixtures/strict_env_vars_configs/global_pt-empty.json
  cli/integration_tests/_fixtures/strict_env_vars_configs/global_pt.json
  cli/integration_tests/_fixtures/strict_env_vars_configs/task_pt-empty.json
  cli/integration_tests/_fixtures/strict_env_vars_configs/task_pt.json
  cli/integration_tests/dry_json/monorepo.t
  cli/integration_tests/dry_json/single_package.t
  cli/integration_tests/dry_json/single_package_no_config.t
  cli/integration_tests/dry_json/single_package_with_deps.t
  cli/integration_tests/run_summary/error.t
  cli/integration_tests/run_summary/single-package.t
  cli/integration_tests/run_summary/strict_env.t
  cli/integration_tests/strict_env_vars/dry_json.t
  cli/integration_tests/strict_env_vars/global_hash_infer.t
  cli/integration_tests/strict_env_vars/global_hash_loose.t
  cli/integration_tests/strict_env_vars/global_hash_no-value.t
  cli/integration_tests/strict_env_vars/global_hash_strict.t
  cli/integration_tests/strict_env_vars/usage_infer.t
  cli/integration_tests/strict_env_vars/usage_loose.t
  cli/integration_tests/strict_env_vars/usage_strict.t
  cli/internal/env/env.go
  cli/internal/graph/graph.go
  cli/internal/nodes/packagetask.go
  cli/internal/run/dry_run.go
  cli/internal/run/global_hash.go
  cli/internal/run/real_run.go
  cli/internal/run/run.go
  cli/internal/runsummary/format_json.go
  cli/internal/runsummary/globalhash_summary.go
  cli/internal/runsummary/run_summary.go
  cli/internal/runsummary/task_summary.go
  cli/internal/taskhash/taskhash.go
  cli/internal/util/run_opts.go
Labels: pr: automerge, team: turborepo

#4600 add getChunkPath method
  crates/turbopack-dev/js/src/runtime.dom.js
  crates/turbopack-dev/js/src/runtime.js
  crates/turbopack-dev/js/src/runtime.nodejs.js
  crates/turbopack-dev/js/src/runtime.none.js
  crates/turbopack-dev/js/types/backend.d.ts
  crates/turbopack-dev/js/types/index.d.ts
  crates/turbopack-tests/tests/snapshot/basic/async_chunk/output/crates_turbopack-tests_tests_snapshot_basic_async_chunk_input_index_0d348e.js
  crates/turbopack-tests/tests/snapshot/basic/chunked/output/crates_turbopack-tests_tests_snapshot_basic_chunked_input_index_e77e9f.js
  crates/turbopack-tests/tests/snapshot/basic/shebang/output/crates_turbopack-tests_tests_snapshot_basic_shebang_input_index_b1f0c2.js
  crates/turbopack-tests/tests/snapshot/comptime/define/output/crates_turbopack-tests_tests_snapshot_comptime_define_input_index_6b0d2b.js
  crates/turbopack-tests/tests/snapshot/css/absolute-uri-import/output/crates_turbopack-tests_tests_snapshot_css_absolute-uri-import_input_index_fa9a30.js
  crates/turbopack-tests/tests/snapshot/css/css/output/crates_turbopack-tests_tests_snapshot_css_css_input_index_37a138.js
  crates/turbopack-tests/tests/snapshot/emotion/emotion/output/crates_turbopack-tests_tests_snapshot_emotion_emotion_input_index_b080c4.js
  crates/turbopack-tests/tests/snapshot/env/env/output/crates_turbopack-tests_tests_snapshot_env_env_input_index_29a23f.js
  crates/turbopack-tests/tests/snapshot/evaluated_entrry/runtime_entry/output/a587c_tests_snapshot_evaluated_entrry_runtime_entry_input_index_f59cc7.js
  crates/turbopack-tests/tests/snapshot/example/example/output/crates_turbopack-tests_tests_snapshot_example_example_input_index_78b6bf.js
  crates/turbopack-tests/tests/snapshot/export-alls/cjs-2/output/crates_turbopack-tests_tests_snapshot_export-alls_cjs-2_input_index_289ae7.js
  crates/turbopack-tests/tests/snapshot/export-alls/cjs-script/output/crates_turbopack-tests_tests_snapshot_export-alls_cjs-script_input_index_3e96b7.js
  crates/turbopack-tests/tests/snapshot/import-meta/cjs/output/crates_turbopack-tests_tests_snapshot_import-meta_cjs_input_index_537553.js
  crates/turbopack-tests/tests/snapshot/import-meta/esm-multiple/output/79fb1_turbopack-tests_tests_snapshot_import-meta_esm-multiple_input_index_c00392.js
  crates/turbopack-tests/tests/snapshot/import-meta/esm-mutable/output/crates_turbopack-tests_tests_snapshot_import-meta_esm-mutable_input_index_6c9201.js
  crates/turbopack-tests/tests/snapshot/import-meta/esm-object/output/crates_turbopack-tests_tests_snapshot_import-meta_esm-object_input_index_6fcf7d.js
  crates/turbopack-tests/tests/snapshot/import-meta/esm/output/crates_turbopack-tests_tests_snapshot_import-meta_esm_input_index_c4c88a.js
  crates/turbopack-tests/tests/snapshot/import-meta/url/output/crates_turbopack-tests_tests_snapshot_import-meta_url_input_index_988b57.js
  crates/turbopack-tests/tests/snapshot/imports/dynamic/output/crates_turbopack-tests_tests_snapshot_imports_dynamic_input_index_45c162.js
  crates/turbopack-tests/tests/snapshot/imports/json/output/crates_turbopack-tests_tests_snapshot_imports_json_input_index_961ae2.js
  crates/turbopack-tests/tests/snapshot/imports/resolve_error_cjs/output/79fb1_turbopack-tests_tests_snapshot_imports_resolve_error_cjs_input_index_f8412b.js
  crates/turbopack-tests/tests/snapshot/imports/resolve_error_esm/output/79fb1_turbopack-tests_tests_snapshot_imports_resolve_error_esm_input_index_0b3e45.js
  crates/turbopack-tests/tests/snapshot/imports/static-and-dynamic/output/79fb1_turbopack-tests_tests_snapshot_imports_static-and-dynamic_input_index_ec8693.js
  crates/turbopack-tests/tests/snapshot/imports/static/output/crates_turbopack-tests_tests_snapshot_imports_static_input_index_885269.js
  crates/turbopack-tests/tests/snapshot/node/node_protocol_external/output/79fb1_turbopack-tests_tests_snapshot_node_node_protocol_external_input_index_667edf.js
  crates/turbopack-tests/tests/snapshot/styled_components/styled_components/output/a587c_tests_snapshot_styled_components_styled_components_input_index_afc482.js
  crates/turbopack-tests/tests/snapshot/swc_transforms/mono_transforms/output/a587c_tests_snapshot_swc_transforms_mono_transforms_input_packages_app_index_4a3d65.js
  crates/turbopack-tests/tests/snapshot/swc_transforms/preset_env/output/79fb1_turbopack-tests_tests_snapshot_swc_transforms_preset_env_input_index_9dcfd0.js
  crates/turbopack-tests/tests/snapshot/typescript/jsconfig-baseurl/output/79fb1_turbopack-tests_tests_snapshot_typescript_jsconfig-baseurl_input_index_8f1e58.js
  crates/turbopack-tests/tests/snapshot/typescript/tsconfig-baseurl/output/a587c_tests_snapshot_typescript_tsconfig-baseurl_input_index.ts_0aa04e._.js
Labels: team: turbopack

#4621 add turbopack-image
  Cargo.lock
  Cargo.toml
  crates/turbo-binding/Cargo.toml
  crates/turbo-binding/src/lib.rs
  crates/turbopack-core/src/lib.rs
  crates/turbopack-core/src/plugin.rs
  crates/turbopack-ecmascript/src/transform/mod.rs
  crates/turbopack-image/Cargo.toml
  crates/turbopack-image/build.rs
  crates/turbopack-image/src/lib.rs
  crates/turbopack-image/src/process.rs
  crates/turbopack/Cargo.toml
  crates/turbopack/src/lib.rs
  crates/turbopack/src/module_options/module_rule.rs
  deny.toml
Labels: team: turborepo, team: turbopack

#4639 restrict snapshot path for windows path length limit
  crates/turbopack-test-utils/src/snapshot.rs
Labels: team: turbopack

#4638 Fix language in github comment
  .github/workflows/test.yml
Labels: area: ci, team: turborepo, team: turbopack

#4641 put webp behind a feature flag
  crates/turbo-binding/Cargo.toml
  crates/turbopack-image/Cargo.toml
  crates/turbopack-image/src/process.rs
Labels: team: turbopack

#4640 Limit the cache inputs for the docs rss and schema tasks
  docs/turbo.json
  packages/turbo-types/turbo.json
  turbo.json
Labels: area: site, team: turborepo, team: turbopack

#4637 Move e2e tests to their own workspace
  .github/workflows/test.yml
  cli/.gitignore
  cli/package.json
  pnpm-lock.yaml
  turborepo-tests/e2e/.gitignore
  turborepo-tests/e2e/index.ts
  turborepo-tests/e2e/monorepo.ts
  turborepo-tests/e2e/package.json
  turborepo-tests/e2e/turbo.json
Labels: area: ci, team: turborepo, team: turbopack

#4643 Fix path
  cli/Makefile
Labels: team: turborepo

#4644 Disable cargo-sweep install when setting up turborepo environment
  .github/actions/setup-rust/action.yml
  .github/actions/setup-turborepo-environment/action.yml
Labels: area: ci, team: turborepo, team: turbopack

#4650 reduce size of TypeType from 32bytes to 16bytes
  crates/turbo-tasks-memory/src/task.rs
Labels: team: turbopack

#4648 handle chunk register in the sync runtime.none correctly
  crates/turbopack-dev/js/src/runtime.js
  crates/turbopack-tests/tests/snapshot/basic/async_chunk/output/crates_turbopack-tests_tests_snapshot_basic_async_chunk_input_index_0d348e.js
  crates/turbopack-tests/tests/snapshot/basic/chunked/output/crates_turbopack-tests_tests_snapshot_basic_chunked_input_index_e77e9f.js
  crates/turbopack-tests/tests/snapshot/basic/shebang/output/crates_turbopack-tests_tests_snapshot_basic_shebang_input_index_b1f0c2.js
  crates/turbopack-tests/tests/snapshot/comptime/define/output/crates_turbopack-tests_tests_snapshot_comptime_define_input_index_6b0d2b.js
  crates/turbopack-tests/tests/snapshot/css/absolute-uri-import/output/crates_turbopack-tests_tests_snapshot_css_absolute-uri-import_input_index_fa9a30.js
  crates/turbopack-tests/tests/snapshot/css/css/output/crates_turbopack-tests_tests_snapshot_css_css_input_index_37a138.js
  crates/turbopack-tests/tests/snapshot/emotion/emotion/output/crates_turbopack-tests_tests_snapshot_emotion_emotion_input_index_b080c4.js
  crates/turbopack-tests/tests/snapshot/env/env/output/crates_turbopack-tests_tests_snapshot_env_env_input_index_29a23f.js
  crates/turbopack-tests/tests/snapshot/evaluated_entrry/runtime_entry/output/a587c_tests_snapshot_evaluated_entrry_runtime_entry_input_index_f59cc7.js
  crates/turbopack-tests/tests/snapshot/example/example/output/crates_turbopack-tests_tests_snapshot_example_example_input_index_78b6bf.js
  crates/turbopack-tests/tests/snapshot/export-alls/cjs-2/output/crates_turbopack-tests_tests_snapshot_export-alls_cjs-2_input_index_289ae7.js
  crates/turbopack-tests/tests/snapshot/export-alls/cjs-script/output/crates_turbopack-tests_tests_snapshot_export-alls_cjs-script_input_index_3e96b7.js
  crates/turbopack-tests/tests/snapshot/import-meta/cjs/output/crates_turbopack-tests_tests_snapshot_import-meta_cjs_input_index_537553.js
  crates/turbopack-tests/tests/snapshot/import-meta/esm-multiple/output/79fb1_turbopack-tests_tests_snapshot_import-meta_esm-multiple_input_index_c00392.js
  crates/turbopack-tests/tests/snapshot/import-meta/esm-mutable/output/crates_turbopack-tests_tests_snapshot_import-meta_esm-mutable_input_index_6c9201.js
  crates/turbopack-tests/tests/snapshot/import-meta/esm-object/output/crates_turbopack-tests_tests_snapshot_import-meta_esm-object_input_index_6fcf7d.js
  crates/turbopack-tests/tests/snapshot/import-meta/esm/output/crates_turbopack-tests_tests_snapshot_import-meta_esm_input_index_c4c88a.js
  crates/turbopack-tests/tests/snapshot/import-meta/url/output/crates_turbopack-tests_tests_snapshot_import-meta_url_input_index_988b57.js
  crates/turbopack-tests/tests/snapshot/imports/dynamic/output/crates_turbopack-tests_tests_snapshot_imports_dynamic_input_index_45c162.js
  crates/turbopack-tests/tests/snapshot/imports/json/output/crates_turbopack-tests_tests_snapshot_imports_json_input_index_961ae2.js
  crates/turbopack-tests/tests/snapshot/imports/resolve_error_cjs/output/79fb1_turbopack-tests_tests_snapshot_imports_resolve_error_cjs_input_index_f8412b.js
  crates/turbopack-tests/tests/snapshot/imports/resolve_error_esm/output/79fb1_turbopack-tests_tests_snapshot_imports_resolve_error_esm_input_index_0b3e45.js
  crates/turbopack-tests/tests/snapshot/imports/static-and-dynamic/output/79fb1_turbopack-tests_tests_snapshot_imports_static-and-dynamic_input_index_ec8693.js
  crates/turbopack-tests/tests/snapshot/imports/static/output/crates_turbopack-tests_tests_snapshot_imports_static_input_index_885269.js
  crates/turbopack-tests/tests/snapshot/node/node_protocol_external/output/79fb1_turbopack-tests_tests_snapshot_node_node_protocol_external_input_index_667edf.js
  crates/turbopack-tests/tests/snapshot/styled_components/styled_components/output/a587c_tests_snapshot_styled_components_styled_components_input_index_afc482.js
  crates/turbopack-tests/tests/snapshot/swc_transforms/mono_transforms/output/a587c_tests_snapshot_swc_transforms_mono_transforms_input_packages_app_index_4a3d65.js
  crates/turbopack-tests/tests/snapshot/swc_transforms/preset_env/output/79fb1_turbopack-tests_tests_snapshot_swc_transforms_preset_env_input_index_9dcfd0.js
  crates/turbopack-tests/tests/snapshot/typescript/jsconfig-baseurl/output/79fb1_turbopack-tests_tests_snapshot_typescript_jsconfig-baseurl_input_index_8f1e58.js
  crates/turbopack-tests/tests/snapshot/typescript/tsconfig-baseurl/output/a587c_tests_snapshot_typescript_tsconfig-baseurl_input_index.ts_0aa04e._.js
Labels: team: turbopack

#4649 Image processing improvements
  crates/turbo-tasks/src/task_input.rs
  crates/turbopack-dev-server/src/source/source_maps.rs
  crates/turbopack-dev-server/src/source/wrapping_source.rs
  crates/turbopack-image/src/process.rs
Labels: team: turbopack

#4632 feat(turbo): add spaces link
  Cargo.lock
  crates/turborepo-api-client/src/lib.rs
  crates/turborepo-lib/src/cli.rs
  crates/turborepo-lib/src/commands/link.rs
  crates/turborepo-lib/src/commands/unlink.rs
  crates/turborepo-lib/src/config/mod.rs
  crates/turborepo-lib/src/config/turbo.rs
  crates/turborepo-vercel-api-mock/src/lib.rs
Labels: team: turborepo

#4647 Invoke turborepo tests via global turbo
  .github/actions/setup-turborepo-environment/action.yml
  .github/workflows/pr-js-tests-filtered.yml
  .github/workflows/test.yml
  CONTRIBUTING.md
  package.json
  turbo.json
  turborepo-tests/e2e/turbo.json
  turborepo-tests/examples/turbo.json
Labels: area: ci, team: turborepo, team: turbopack

#4642 Include logs when posting task summary
  cli/internal/run/dry_run.go
  cli/internal/run/real_run.go
  cli/internal/runsummary/run_summary.go
  cli/internal/runsummary/spaces.go
  cli/internal/runsummary/task_summary.go
Labels: team: turborepo

#4658 Turborepo should own turborepo-tests
  .github/CODEOWNERS
Labels: team: turborepo, team: turbopack

#4660 Always print the url if we have one
  cli/internal/runsummary/run_summary.go
Labels: team: turborepo

#4669 make the invalidation reason easier to read
  crates/turbo-tasks-fs/src/invalidation.rs
  crates/turbopack-dev-server/src/invalidation.rs
Labels: team: turbopack

#4670 dev-server content might change any time, we can't cache them
  crates/turbopack-dev-server/src/http.rs
Labels: team: turbopack

#4665 Remove unused import
  crates/turborepo-lib/src/commands/unlink.rs
Labels: team: turborepo

#4672 Use global turbo install for smoke test
  .github/workflows/pr-js-tests-filtered.yml
  .github/workflows/test.yml
  .github/workflows/turborepo-release-step-2.yml
Labels: area: ci, team: turborepo, team: turbopack

#4663 test: Improve testing system for tree shaker
  crates/turbopack-ecmascript/src/tree_shake/tests.rs
  crates/turbopack-ecmascript/tests/tree-shaker/analyzer/test-config-1/config.json
  crates/turbopack-ecmascript/tests/tree-shaker/analyzer/test-config-1/input.js
  crates/turbopack-ecmascript/tests/tree-shaker/analyzer/test-config-1/output.md
Labels: pr: automerge, team: turbopack

#4589 feat: Add rust implementation of Yarn3+ lockfile
  Cargo.lock
  crates/turborepo-lockfiles/Cargo.toml
  crates/turborepo-lockfiles/fixtures/berry.lock
  crates/turborepo-lockfiles/fixtures/minimal-berry-resolutions.lock
  crates/turborepo-lockfiles/fixtures/minimal-berry.lock
  crates/turborepo-lockfiles/fixtures/robust-berry-resolutions.lock
  crates/turborepo-lockfiles/src/berry/de.rs
  crates/turborepo-lockfiles/src/berry/identifiers.rs
  crates/turborepo-lockfiles/src/berry/mod.rs
  crates/turborepo-lockfiles/src/berry/protocol_resolver.rs
  crates/turborepo-lockfiles/src/berry/resolution.pest
  crates/turborepo-lockfiles/src/berry/resolution.rs
  crates/turborepo-lockfiles/src/berry/ser.rs
  crates/turborepo-lockfiles/src/lib.rs
  crates/turborepo-lockfiles/src/npm.rs
Labels: team: turborepo

#4682 fix(turbo-utils): support old workspace format
  packages/turbo-utils/__fixtures__/common/old-workspace-config/apps/docs/index.js
  packages/turbo-utils/__fixtures__/common/old-workspace-config/apps/docs/package.json
  packages/turbo-utils/__fixtures__/common/old-workspace-config/apps/web/index.js
  packages/turbo-utils/__fixtures__/common/old-workspace-config/apps/web/package.json
  packages/turbo-utils/__fixtures__/common/old-workspace-config/package.json
  packages/turbo-utils/__fixtures__/common/old-workspace-config/packages/ui/index.js
  packages/turbo-utils/__fixtures__/common/old-workspace-config/packages/ui/package.json
  packages/turbo-utils/__fixtures__/common/old-workspace-config/packages/utils/index.js
  packages/turbo-utils/__fixtures__/common/old-workspace-config/packages/utils/package.json
  packages/turbo-utils/__fixtures__/common/old-workspace-config/turbo.json
  packages/turbo-utils/__tests__/getTurboConfigs.test.ts
  packages/turbo-utils/src/getTurboConfigs.ts
Labels: team: turborepo

#4685 fix: rebuild protobuf code and update ffi callsite
  cli/internal/ffi/ffi.go
  cli/internal/ffi/proto/messages.pb.go
Labels: team: turborepo

#4690 fix error reporting for get_from_source errors
  crates/turbopack-dev-server/src/http.rs
Labels: team: turbopack

#4687 Use spaceID from turbo.json if available
  cli/internal/fs/turbo_json.go
  cli/internal/run/run.go
Labels: team: turborepo

#4520 port(turborepo): Config
  cli/cmd/turbo/main.go
  cli/internal/client/client.go
  cli/internal/client/client_test.go
  cli/internal/cmd/root.go
  cli/internal/cmdutil/cmdutil.go
  cli/internal/cmdutil/cmdutil_test.go
  cli/internal/config/config_file.go
  cli/internal/config/config_file_test.go
  cli/internal/prune/prune.go
  cli/internal/run/run.go
  cli/internal/run/run_spec.go
  cli/internal/turbostate/turbostate.go
  crates/turborepo-api-client/src/lib.rs
  crates/turborepo-lib/src/cli.rs
  crates/turborepo-lib/src/commands/mod.rs
  crates/turborepo-lib/src/config/client.rs
  crates/turborepo-lib/src/config/repo.rs
  crates/turborepo-lib/src/config/user.rs
  crates/turborepo-lib/src/execution_state.rs
  crates/turborepo-lib/src/lib.rs
  crates/turborepo/src/main.rs
  turborepo-tests/integration/tests/api-client-config.t
Labels: team: turborepo

#4656 Existing and error logs behavior
  cli/internal/core/engine.go
  cli/internal/core/engine_test.go
  cli/internal/run/real_run.go
  cli/internal/runcache/runcache.go
  turborepo-tests/integration/tests/_fixtures/monorepo_dependency_error/.gitignore
  turborepo-tests/integration/tests/_fixtures/monorepo_dependency_error/apps/my-app/package.json
  turborepo-tests/integration/tests/_fixtures/monorepo_dependency_error/apps/other-app/package.json
  turborepo-tests/integration/tests/_fixtures/monorepo_dependency_error/apps/some-lib/package.json
  turborepo-tests/integration/tests/_fixtures/monorepo_dependency_error/package.json
  turborepo-tests/integration/tests/_fixtures/monorepo_dependency_error/turbo.json
  turborepo-tests/integration/tests/continue.t
Labels: pr: automerge, team: turborepo

#4697 refactor(turbopack): remove next.js specific unsupported warn
  crates/turbopack/src/lib.rs
Labels: pr: automerge, team: turbopack

#4701 add noop refresh runtime to prevent errors after module execution
  crates/turbopack-dev/js/src/runtime.js
  crates/turbopack-tests/tests/snapshot/basic/async_chunk/output/crates_turbopack-tests_tests_snapshot_basic_async_chunk_input_index_0d348e.js
  crates/turbopack-tests/tests/snapshot/basic/chunked/output/crates_turbopack-tests_tests_snapshot_basic_chunked_input_index_e77e9f.js
  crates/turbopack-tests/tests/snapshot/basic/shebang/output/crates_turbopack-tests_tests_snapshot_basic_shebang_input_index_b1f0c2.js
  crates/turbopack-tests/tests/snapshot/comptime/define/output/crates_turbopack-tests_tests_snapshot_comptime_define_input_index_6b0d2b.js
  crates/turbopack-tests/tests/snapshot/css/absolute-uri-import/output/crates_turbopack-tests_tests_snapshot_css_absolute-uri-import_input_index_fa9a30.js
  crates/turbopack-tests/tests/snapshot/css/css/output/crates_turbopack-tests_tests_snapshot_css_css_input_index_37a138.js
  crates/turbopack-tests/tests/snapshot/emotion/emotion/output/crates_turbopack-tests_tests_snapshot_emotion_emotion_input_index_b080c4.js
  crates/turbopack-tests/tests/snapshot/env/env/output/crates_turbopack-tests_tests_snapshot_env_env_input_index_29a23f.js
  crates/turbopack-tests/tests/snapshot/evaluated_entrry/runtime_entry/output/a587c_tests_snapshot_evaluated_entrry_runtime_entry_input_index_f59cc7.js
  crates/turbopack-tests/tests/snapshot/example/example/output/crates_turbopack-tests_tests_snapshot_example_example_input_index_78b6bf.js
  crates/turbopack-tests/tests/snapshot/export-alls/cjs-2/output/crates_turbopack-tests_tests_snapshot_export-alls_cjs-2_input_index_289ae7.js
  crates/turbopack-tests/tests/snapshot/export-alls/cjs-script/output/crates_turbopack-tests_tests_snapshot_export-alls_cjs-script_input_index_3e96b7.js
  crates/turbopack-tests/tests/snapshot/import-meta/cjs/output/crates_turbopack-tests_tests_snapshot_import-meta_cjs_input_index_537553.js
  crates/turbopack-tests/tests/snapshot/import-meta/esm-multiple/output/79fb1_turbopack-tests_tests_snapshot_import-meta_esm-multiple_input_index_c00392.js
  crates/turbopack-tests/tests/snapshot/import-meta/esm-mutable/output/crates_turbopack-tests_tests_snapshot_import-meta_esm-mutable_input_index_6c9201.js
  crates/turbopack-tests/tests/snapshot/import-meta/esm-object/output/crates_turbopack-tests_tests_snapshot_import-meta_esm-object_input_index_6fcf7d.js
  crates/turbopack-tests/tests/snapshot/import-meta/esm/output/crates_turbopack-tests_tests_snapshot_import-meta_esm_input_index_c4c88a.js
  crates/turbopack-tests/tests/snapshot/import-meta/url/output/crates_turbopack-tests_tests_snapshot_import-meta_url_input_index_988b57.js
  crates/turbopack-tests/tests/snapshot/imports/dynamic/output/crates_turbopack-tests_tests_snapshot_imports_dynamic_input_index_45c162.js
  crates/turbopack-tests/tests/snapshot/imports/json/output/crates_turbopack-tests_tests_snapshot_imports_json_input_index_961ae2.js
  crates/turbopack-tests/tests/snapshot/imports/resolve_error_cjs/output/79fb1_turbopack-tests_tests_snapshot_imports_resolve_error_cjs_input_index_f8412b.js
  crates/turbopack-tests/tests/snapshot/imports/resolve_error_esm/output/79fb1_turbopack-tests_tests_snapshot_imports_resolve_error_esm_input_index_0b3e45.js
  crates/turbopack-tests/tests/snapshot/imports/static-and-dynamic/output/79fb1_turbopack-tests_tests_snapshot_imports_static-and-dynamic_input_index_ec8693.js
  crates/turbopack-tests/tests/snapshot/imports/static/output/crates_turbopack-tests_tests_snapshot_imports_static_input_index_885269.js
  crates/turbopack-tests/tests/snapshot/node/node_protocol_external/output/79fb1_turbopack-tests_tests_snapshot_node_node_protocol_external_input_index_667edf.js
  crates/turbopack-tests/tests/snapshot/styled_components/styled_components/output/a587c_tests_snapshot_styled_components_styled_components_input_index_afc482.js
  crates/turbopack-tests/tests/snapshot/swc_transforms/mono_transforms/output/a587c_tests_snapshot_swc_transforms_mono_transforms_input_packages_app_index_4a3d65.js
  crates/turbopack-tests/tests/snapshot/swc_transforms/preset_env/output/79fb1_turbopack-tests_tests_snapshot_swc_transforms_preset_env_input_index_9dcfd0.js
  crates/turbopack-tests/tests/snapshot/typescript/jsconfig-baseurl/output/79fb1_turbopack-tests_tests_snapshot_typescript_jsconfig-baseurl_input_index_8f1e58.js
  crates/turbopack-tests/tests/snapshot/typescript/tsconfig-baseurl/output/a587c_tests_snapshot_typescript_tsconfig-baseurl_input_index.ts_0aa04e._.js
Labels: team: turbopack

#4662 feat(ecma-plugins): extract custom emotion transform
  Cargo.lock
  Cargo.toml
  crates/turbo-binding/Cargo.toml
  crates/turbo-binding/src/lib.rs
  crates/turbopack-cli/Cargo.toml
  crates/turbopack-cli/src/dev/web_entry_source.rs
  crates/turbopack-cli/src/lib.rs
  crates/turbopack-ecmascript-plugins/Cargo.toml
  crates/turbopack-ecmascript-plugins/build.rs
  crates/turbopack-ecmascript-plugins/src/lib.rs
  crates/turbopack-ecmascript-plugins/src/transform/emotion.rs
  crates/turbopack-ecmascript-plugins/src/transform/mod.rs
  crates/turbopack-ecmascript/src/lib.rs
  crates/turbopack-ecmascript/src/transform/mod.rs
  crates/turbopack-tests/Cargo.toml
  crates/turbopack-tests/tests/snapshot.rs
  crates/turbopack/Cargo.toml
  crates/turbopack/src/module_options/mod.rs
  crates/turbopack/src/module_options/module_options_context.rs
Labels: pr: automerge, team: turborepo, team: turbopack

#4706 make library code less verbose in stack traces
  crates/turbopack-node/src/source_map/mod.rs
Labels: team: turbopack

#4705 improve error handling in update stream
  crates/turbopack-dev-server/src/http.rs
  crates/turbopack-dev-server/src/source/resolve.rs
  crates/turbopack-dev-server/src/update/server.rs
  crates/turbopack-dev-server/src/update/stream.rs
Labels: team: turbopack

#4629 chore: move lockfile ffi boundary
  cli/internal/context/context.go
  cli/internal/context/context_test.go
  cli/internal/ffi/bindings.h
  cli/internal/ffi/ffi.go
  cli/internal/ffi/proto/messages.pb.go
  cli/internal/fs/package_json.go
  cli/internal/fs/package_json_test.go
  cli/internal/lockfile/lockfile.go
  cli/internal/lockfile/lockfile_test.go
  cli/internal/lockfile/npm_lockfile.go
  cli/internal/lockfile/npm_lockfile_test.go
  crates/turborepo-ffi/messages.proto
  crates/turborepo-ffi/src/lib.rs
  crates/turborepo-ffi/src/lockfile.rs
  crates/turborepo-lockfiles/src/berry/mod.rs
  crates/turborepo-lockfiles/src/lib.rs
Labels: team: turborepo

#4715 Invoke prysk with the directory name to ensure all tests run
  turborepo-tests/integration/package.json
Labels: team: turborepo

#4713 Fix errors-only integration test
  turborepo-tests/integration/tests/errors-only.t
  turborepo-tests/integration/tests/one_script_error.t
  turborepo-tests/integration/tests/turbo_help.t
Labels: team: turborepo

#4714 chunk hash need to include availability root
  crates/turbopack-ecmascript/src/chunk/mod.rs
Labels: team: turbopack

#4709 Allow the dev server socket to be reused immediately
  crates/turbopack-dev-server/src/lib.rs
Labels: team: turbopack

#4716 errors lead to consistent exit code in issue detail
  crates/turbopack-node/js/src/ipc/index.ts
  crates/turbopack-node/src/render/issue.rs
Labels: team: turbopack

#4712 fix(turborepo): Turbostate deserialization
  cli/internal/turbostate/turbostate.go
  crates/turborepo-lib/src/execution_state.rs
  turborepo-tests/integration/tests/api-client-config.t
Labels: team: turborepo

#4717 Trigger turborepo tests in CI correctly
  .github/workflows/test.yml
Labels: area: ci, team: turborepo, team: turbopack

#4683 Update benchmark data
  docs/components/pages/pack-home/PackBenchmarks.tsx
  docs/components/pages/pack-home/PackBenchmarksGraph.tsx
  docs/components/pages/pack-home/benchmark-data/data.json
  docs/pages/blog/turbopack-benchmarks.mdx
Labels: area: docs, area: site, team: turborepo, team: turbopack

#4695 Selectively load runtime CSS modules to avoid rule duplication
  crates/turbopack-core/src/chunk/mod.rs
  crates/turbopack-css/src/chunk/mod.rs
  crates/turbopack-css/src/chunk/single_item_chunk/chunk.rs
  crates/turbopack-css/src/chunk/single_item_chunk/mod.rs
  crates/turbopack-css/src/chunk/single_item_chunk/reference.rs
  crates/turbopack-css/src/chunk/single_item_chunk/source_map.rs
  crates/turbopack-dev/js/src/runtime.js
  crates/turbopack-dev/js/types/index.d.ts
  crates/turbopack-dev/src/ecmascript/chunk_data.rs
  crates/turbopack-dev/src/ecmascript/evaluate/chunk.rs
  crates/turbopack-dev/src/ecmascript/manifest/chunk_item.rs
  crates/turbopack-dev/src/ecmascript/manifest/loader_item.rs
  crates/turbopack-dev/src/lib.rs
  crates/turbopack-tests/tests/snapshot/basic/async_chunk/output/crates_turbopack-tests_tests_snapshot_basic_async_chunk_input_index_0d348e.js
  crates/turbopack-tests/tests/snapshot/basic/chunked/output/crates_turbopack-tests_tests_snapshot_basic_chunked_input_index_e77e9f.js
  crates/turbopack-tests/tests/snapshot/basic/shebang/output/crates_turbopack-tests_tests_snapshot_basic_shebang_input_index_b1f0c2.js
  crates/turbopack-tests/tests/snapshot/comptime/define/output/crates_turbopack-tests_tests_snapshot_comptime_define_input_index_6b0d2b.js
  crates/turbopack-tests/tests/snapshot/css/absolute-uri-import/output/a587c_tests_snapshot_css_absolute-uri-import_input_withduplicateurl_c9a116.css
  crates/turbopack-tests/tests/snapshot/css/absolute-uri-import/output/a587c_tests_snapshot_css_absolute-uri-import_input_withduplicateurl_c9a116.css.map
  crates/turbopack-tests/tests/snapshot/css/absolute-uri-import/output/crates_turbopack-tests_tests_snapshot_css_absolute-uri-import_input_index_c9a116.css
  crates/turbopack-tests/tests/snapshot/css/absolute-uri-import/output/crates_turbopack-tests_tests_snapshot_css_absolute-uri-import_input_index_c9a116.css.map
  crates/turbopack-tests/tests/snapshot/css/absolute-uri-import/output/crates_turbopack-tests_tests_snapshot_css_absolute-uri-import_input_index_fa9a30.js
  crates/turbopack-tests/tests/snapshot/css/absolute-uri-import/output/crates_turbopack-tests_tests_snapshot_css_absolute-uri-import_input_other_c9a116.css
  crates/turbopack-tests/tests/snapshot/css/absolute-uri-import/output/crates_turbopack-tests_tests_snapshot_css_absolute-uri-import_input_other_c9a116.css.map
  crates/turbopack-tests/tests/snapshot/css/css/output/8697f_foo_style.module_fb38f0.css
  crates/turbopack-tests/tests/snapshot/css/css/output/8697f_foo_style.module_fb38f0.css.map
  crates/turbopack-tests/tests/snapshot/css/css/output/8697f_foo_style_c9a116.css
  crates/turbopack-tests/tests/snapshot/css/css/output/8697f_foo_style_c9a116.css.map
  crates/turbopack-tests/tests/snapshot/css/css/output/crates_turbopack-tests_tests_snapshot_css_css_input_imported_c9a116.css
  crates/turbopack-tests/tests/snapshot/css/css/output/crates_turbopack-tests_tests_snapshot_css_css_input_imported_c9a116.css.map
  crates/turbopack-tests/tests/snapshot/css/css/output/crates_turbopack-tests_tests_snapshot_css_css_input_index_37a138.js
  crates/turbopack-tests/tests/snapshot/css/css/output/crates_turbopack-tests_tests_snapshot_css_css_input_style.module_fb38f0.css
  crates/turbopack-tests/tests/snapshot/css/css/output/crates_turbopack-tests_tests_snapshot_css_css_input_style.module_fb38f0.css.map
  crates/turbopack-tests/tests/snapshot/css/css/output/crates_turbopack-tests_tests_snapshot_css_css_input_style_c9a116.css
  crates/turbopack-tests/tests/snapshot/css/css/output/crates_turbopack-tests_tests_snapshot_css_css_input_style_c9a116.css.map
  crates/turbopack-tests/tests/snapshot/emotion/emotion/output/crates_turbopack-tests_tests_snapshot_emotion_emotion_input_index_b080c4.js
  crates/turbopack-tests/tests/snapshot/env/env/output/crates_turbopack-tests_tests_snapshot_env_env_input_index_29a23f.js
  crates/turbopack-tests/tests/snapshot/evaluated_entrry/runtime_entry/output/a587c_tests_snapshot_evaluated_entrry_runtime_entry_input_index_f59cc7.js
  crates/turbopack-tests/tests/snapshot/example/example/output/crates_turbopack-tests_tests_snapshot_example_example_input_index_78b6bf.js
  crates/turbopack-tests/tests/snapshot/export-alls/cjs-2/output/crates_turbopack-tests_tests_snapshot_export-alls_cjs-2_input_index_289ae7.js
  crates/turbopack-tests/tests/snapshot/export-alls/cjs-script/output/crates_turbopack-tests_tests_snapshot_export-alls_cjs-script_input_index_3e96b7.js
  crates/turbopack-tests/tests/snapshot/import-meta/cjs/output/crates_turbopack-tests_tests_snapshot_import-meta_cjs_input_index_537553.js
  crates/turbopack-tests/tests/snapshot/import-meta/esm-multiple/output/79fb1_turbopack-tests_tests_snapshot_import-meta_esm-multiple_input_index_c00392.js
  crates/turbopack-tests/tests/snapshot/import-meta/esm-mutable/output/crates_turbopack-tests_tests_snapshot_import-meta_esm-mutable_input_index_6c9201.js
  crates/turbopack-tests/tests/snapshot/import-meta/esm-object/output/crates_turbopack-tests_tests_snapshot_import-meta_esm-object_input_index_6fcf7d.js
  crates/turbopack-tests/tests/snapshot/import-meta/esm/output/crates_turbopack-tests_tests_snapshot_import-meta_esm_input_index_c4c88a.js
  crates/turbopack-tests/tests/snapshot/import-meta/url/output/crates_turbopack-tests_tests_snapshot_import-meta_url_input_index_988b57.js
  crates/turbopack-tests/tests/snapshot/imports/dynamic/output/crates_turbopack-tests_tests_snapshot_imports_dynamic_input_index_45c162.js
  crates/turbopack-tests/tests/snapshot/imports/json/output/crates_turbopack-tests_tests_snapshot_imports_json_input_index_961ae2.js
  crates/turbopack-tests/tests/snapshot/imports/resolve_error_cjs/output/79fb1_turbopack-tests_tests_snapshot_imports_resolve_error_cjs_input_index_f8412b.js
  crates/turbopack-tests/tests/snapshot/imports/resolve_error_esm/output/79fb1_turbopack-tests_tests_snapshot_imports_resolve_error_esm_input_index_0b3e45.js
  crates/turbopack-tests/tests/snapshot/imports/static-and-dynamic/output/79fb1_turbopack-tests_tests_snapshot_imports_static-and-dynamic_input_index_ec8693.js
  crates/turbopack-tests/tests/snapshot/imports/static/output/crates_turbopack-tests_tests_snapshot_imports_static_input_index_885269.js
  crates/turbopack-tests/tests/snapshot/node/node_protocol_external/output/79fb1_turbopack-tests_tests_snapshot_node_node_protocol_external_input_index_667edf.js
  crates/turbopack-tests/tests/snapshot/styled_components/styled_components/output/a587c_tests_snapshot_styled_components_styled_components_input_index_afc482.js
  crates/turbopack-tests/tests/snapshot/swc_transforms/mono_transforms/output/a587c_tests_snapshot_swc_transforms_mono_transforms_input_packages_app_index_4a3d65.js
  crates/turbopack-tests/tests/snapshot/swc_transforms/preset_env/output/79fb1_turbopack-tests_tests_snapshot_swc_transforms_preset_env_input_index_9dcfd0.js
  crates/turbopack-tests/tests/snapshot/typescript/jsconfig-baseurl/output/79fb1_turbopack-tests_tests_snapshot_typescript_jsconfig-baseurl_input_index_8f1e58.js
  crates/turbopack-tests/tests/snapshot/typescript/tsconfig-baseurl/output/a587c_tests_snapshot_typescript_tsconfig-baseurl_input_index.ts_0aa04e._.js
Labels: team: turbopack

#4694 swap out log for tracing and add the TurboFormatter
  Cargo.lock
  Cargo.toml
  crates/turborepo-lib/Cargo.toml
  crates/turborepo-lib/src/cli.rs
  crates/turborepo-lib/src/commands/login.rs
  crates/turborepo-lib/src/commands/logout.rs
  crates/turborepo-lib/src/daemon/client.rs
  crates/turborepo-lib/src/daemon/connector.rs
  crates/turborepo-lib/src/daemon/endpoint.rs
  crates/turborepo-lib/src/daemon/server.rs
  crates/turborepo-lib/src/formatter.rs
  crates/turborepo-lib/src/lib.rs
  crates/turborepo-lib/src/shim.rs
  crates/turborepo/Cargo.toml
  crates/turborepo/src/main.rs
  turborepo-tests/integration/tests/find_turbo/hard_mode.t
Labels: team: turborepo, team: turbopack

#4676 docs(prisma): add required version field in example
  docs/pages/repo/docs/handbook/tools/prisma.mdx
Labels: area: docs, team: turborepo

#4684 feat: Use Rust Berry lockfile impl
  cli/internal/ffi/bindings.h
  cli/internal/ffi/ffi.go
  cli/internal/ffi/proto/messages.pb.go
  cli/internal/lockfile/berry_lockfile.go
  cli/internal/lockfile/berry_lockfile_test.go
  cli/internal/lockfile/lockfile.go
  cli/internal/lockfile/npm_lockfile.go
  cli/internal/packagemanager/berry.go
  crates/turborepo-ffi/messages.proto
  crates/turborepo-ffi/src/lib.rs
  crates/turborepo-ffi/src/lockfile.rs
  crates/turborepo-lockfiles/src/berry/identifiers.rs
  crates/turborepo-lockfiles/src/berry/mod.rs
  crates/turborepo-lockfiles/src/berry/resolution.rs
  crates/turborepo-lockfiles/src/lib.rs
  crates/turborepo-lockfiles/src/npm.rs
  turborepo-tests/integration/tests/_fixtures/berry_resolutions/.yarnrc.yml
  turborepo-tests/integration/tests/_fixtures/berry_resolutions/package.json
  turborepo-tests/integration/tests/_fixtures/berry_resolutions/packages/a/package.json
  turborepo-tests/integration/tests/_fixtures/berry_resolutions/packages/b/package.json
  turborepo-tests/integration/tests/_fixtures/berry_resolutions/yarn.lock
  turborepo-tests/integration/tests/_helpers/copy_fixture.sh
  turborepo-tests/integration/tests/prune/resolutions.t
Labels: team: turborepo

#4723 Add ability to run a single integration test
  CONTRIBUTING.md
  cli/turbo.json
  turborepo-tests/integration/package.json
  turborepo-tests/integration/setup.sh
  turborepo-tests/integration/test.sh
  turborepo-tests/integration/turbo.json
Labels: team: turborepo, team: turbopack

#4590 Move `TURBO_FORCE` config env var detection to Rust
  cli/internal/run/run.go
  crates/turborepo-lib/src/cli.rs
  turborepo-tests/integration/tests/bad_flag.t
  turborepo-tests/integration/tests/no_args.t
  turborepo-tests/integration/tests/run/force.t
  turborepo-tests/integration/tests/turbo_help.t
Labels: team: turborepo

#4727 fix: turborepo unused code lints
  crates/globwatch/src/lib.rs
  crates/turborepo-lib/src/daemon/bump_timeout.rs
  crates/turborepo-lib/src/daemon/endpoint.rs
Labels: team: turborepo

#4732 Fix crossOrigin attribute value
  docs/pages/_document.tsx
Labels: area: site, team: turborepo, team: turbopack

#4730 Delete unused git_go file
  cli/internal/scm/git.go
  cli/internal/scm/git_go.go
Labels: pr: fixship, team: turborepo

#4729 We no longer require libc6-compat
  docs/pages/repo/docs/installing.mdx
Labels: area: docs, pr: automerge, team: turborepo

#4491 Allow passing arbitrary data to static/proxy renders
  Cargo.lock
  crates/turbo-tasks/Cargo.toml
  crates/turbo-tasks/src/primitives.rs
  crates/turbo-tasks/src/read_ref.rs
  crates/turbopack-node/src/render/mod.rs
  crates/turbopack-node/src/render/node_api_source.rs
  crates/turbopack-node/src/render/rendered_source.rs
Labels: pr: automerge, team: turbopack

#4731 Revert daemon port
  .github/CODEOWNERS
  .github/workflows/test.yml
  .gitignore
  Cargo.lock
  Cargo.toml
  cli/internal/cmd/root.go
  cli/internal/daemon/connector/connector.go
  cli/internal/daemon/daemon.go
  cli/internal/daemon/daemon_test.go
  cli/internal/globwatcher/globwatcher.go
  cli/internal/globwatcher/globwatcher_test.go
  cli/internal/server/server.go
  cli/internal/server/server_test.go
  cli/internal/turbostate/turbostate.go
  crates/glob-match/benches/bench.rs
  crates/glob-match/src/lib.rs
  crates/globwatch/Cargo.toml
  crates/globwatch/examples/cancel.rs
  crates/globwatch/readme.md
  crates/globwatch/src/lib.rs
  crates/pidlock/Cargo.toml
  crates/pidlock/src/lib.rs
  crates/turborepo-lib/Cargo.toml
  crates/turborepo-lib/build.rs
  crates/turborepo-lib/src/cli.rs
  crates/turborepo-lib/src/commands/daemon.rs
  crates/turborepo-lib/src/daemon/bump_timeout.rs
  crates/turborepo-lib/src/daemon/bump_timeout_layer.rs
  crates/turborepo-lib/src/daemon/client.rs
  crates/turborepo-lib/src/daemon/connector.rs
  crates/turborepo-lib/src/daemon/endpoint.rs
  crates/turborepo-lib/src/daemon/mod.rs
  crates/turborepo-lib/src/daemon/server.rs
  crates/turborepo-lib/src/globwatcher/mod.rs
  crates/turborepo-lib/src/lib.rs
  crates/turborepo/Cargo.toml
Labels: area: ci, team: turborepo, team: turbopack

#4708 Make sure that we only hash the env pairs.
  cli/internal/run/global_hash.go
  cli/internal/run/run.go
Labels: pr: automerge, team: turborepo

#4735 Inline a constant so it's individualized to each task run
  cli/internal/run/real_run.go
Labels: team: turborepo

#4738 improve commonjs esm interop and node ESM
  crates/turbopack-dev/js/src/runtime.js
  crates/turbopack-dev/js/types/index.d.ts
  crates/turbopack-ecmascript/src/lib.rs
  crates/turbopack-ecmascript/src/references/esm/export.rs
  crates/turbopack-ecmascript/src/references/mod.rs
  crates/turbopack-ecmascript/src/references/type_issue.rs
  crates/turbopack-tests/tests/snapshot/basic/async_chunk/output/crates_turbopack-tests_tests_snapshot_basic_async_chunk_input_index_0d348e.js
  crates/turbopack-tests/tests/snapshot/basic/chunked/output/crates_turbopack-tests_tests_snapshot_basic_chunked_input_index_e77e9f.js
  crates/turbopack-tests/tests/snapshot/basic/shebang/output/crates_turbopack-tests_tests_snapshot_basic_shebang_input_index_b1f0c2.js
  crates/turbopack-tests/tests/snapshot/comptime/define/output/crates_turbopack-tests_tests_snapshot_comptime_define_input_index_6b0d2b.js
  crates/turbopack-tests/tests/snapshot/css/absolute-uri-import/output/crates_turbopack-tests_tests_snapshot_css_absolute-uri-import_input_index_fa9a30.js
  crates/turbopack-tests/tests/snapshot/css/css/output/crates_turbopack-tests_tests_snapshot_css_css_input_index_37a138.js
  crates/turbopack-tests/tests/snapshot/emotion/emotion/output/crates_turbopack-tests_tests_snapshot_emotion_emotion_input_index_b080c4.js
  crates/turbopack-tests/tests/snapshot/env/env/output/crates_turbopack-tests_tests_snapshot_env_env_input_index_29a23f.js
  crates/turbopack-tests/tests/snapshot/evaluated_entrry/runtime_entry/output/a587c_tests_snapshot_evaluated_entrry_runtime_entry_input_index_f59cc7.js
  crates/turbopack-tests/tests/snapshot/example/example/output/crates_turbopack-tests_tests_snapshot_example_example_input_index_78b6bf.js
  crates/turbopack-tests/tests/snapshot/export-alls/cjs-2/output/crates_turbopack-tests_tests_snapshot_export-alls_cjs-2_input_index_289ae7.js
  crates/turbopack-tests/tests/snapshot/export-alls/cjs-script/output/crates_turbopack-tests_tests_snapshot_export-alls_cjs-script_input_index_3e96b7.js
  crates/turbopack-tests/tests/snapshot/import-meta/cjs/output/crates_turbopack-tests_tests_snapshot_import-meta_cjs_input_index_537553.js
  crates/turbopack-tests/tests/snapshot/import-meta/esm-multiple/output/79fb1_turbopack-tests_tests_snapshot_import-meta_esm-multiple_input_index_c00392.js
  crates/turbopack-tests/tests/snapshot/import-meta/esm-mutable/output/crates_turbopack-tests_tests_snapshot_import-meta_esm-mutable_input_index_6c9201.js
  crates/turbopack-tests/tests/snapshot/import-meta/esm-object/output/crates_turbopack-tests_tests_snapshot_import-meta_esm-object_input_index_6fcf7d.js
  crates/turbopack-tests/tests/snapshot/import-meta/esm/output/crates_turbopack-tests_tests_snapshot_import-meta_esm_input_index_c4c88a.js
  crates/turbopack-tests/tests/snapshot/import-meta/url/output/crates_turbopack-tests_tests_snapshot_import-meta_url_input_index_988b57.js
  crates/turbopack-tests/tests/snapshot/imports/dynamic/output/crates_turbopack-tests_tests_snapshot_imports_dynamic_input_index_45c162.js
  crates/turbopack-tests/tests/snapshot/imports/json/output/crates_turbopack-tests_tests_snapshot_imports_json_input_index_961ae2.js
  crates/turbopack-tests/tests/snapshot/imports/resolve_error_cjs/output/79fb1_turbopack-tests_tests_snapshot_imports_resolve_error_cjs_input_index_f8412b.js
  crates/turbopack-tests/tests/snapshot/imports/resolve_error_esm/output/79fb1_turbopack-tests_tests_snapshot_imports_resolve_error_esm_input_index_0b3e45.js
  crates/turbopack-tests/tests/snapshot/imports/static-and-dynamic/output/79fb1_turbopack-tests_tests_snapshot_imports_static-and-dynamic_input_index_ec8693.js
  crates/turbopack-tests/tests/snapshot/imports/static/output/crates_turbopack-tests_tests_snapshot_imports_static_input_index_885269.js
  crates/turbopack-tests/tests/snapshot/node/node_protocol_external/output/79fb1_turbopack-tests_tests_snapshot_node_node_protocol_external_input_index_667edf.js
  crates/turbopack-tests/tests/snapshot/styled_components/styled_components/output/a587c_tests_snapshot_styled_components_styled_components_input_index_afc482.js
  crates/turbopack-tests/tests/snapshot/swc_transforms/mono_transforms/output/a587c_tests_snapshot_swc_transforms_mono_transforms_input_packages_app_index_4a3d65.js
  crates/turbopack-tests/tests/snapshot/swc_transforms/preset_env/output/79fb1_turbopack-tests_tests_snapshot_swc_transforms_preset_env_input_index_9dcfd0.js
  crates/turbopack-tests/tests/snapshot/typescript/jsconfig-baseurl/output/79fb1_turbopack-tests_tests_snapshot_typescript_jsconfig-baseurl_input_index_8f1e58.js
  crates/turbopack-tests/tests/snapshot/typescript/tsconfig-baseurl/output/a587c_tests_snapshot_typescript_tsconfig-baseurl_input_index.ts_0aa04e._.js
  crates/turbopack/src/lib.rs
  crates/turbopack/src/module_options/mod.rs
  crates/turbopack/src/module_options/module_rule.rs
Labels: team: turbopack

#4741 add svg size extraction
  Cargo.lock
  crates/turbopack-image/Cargo.toml
  crates/turbopack-image/src/process/SVG_LICENSE
  crates/turbopack-image/src/process/mod.rs
  crates/turbopack-image/src/process/svg.rs
Labels: team: turbopack

#4744 chore(turborepo): Fixed clippy warnings
  crates/turbopath/src/absolute_system_path_buf.rs
  crates/turbopath/src/anchored_system_path_buf.rs
  crates/turborepo-lib/src/cli.rs
  crates/turborepo-lib/src/commands/link.rs
  crates/turborepo-lib/src/formatter.rs
  crates/turborepo-scm/src/git.rs
Labels: team: turborepo

#4688 ci(workflow): add appdir underscore test to subset
  .github/workflows/nextjs-integration-test.yml
Labels: pr: automerge, area: ci, team: turborepo, team: turbopack

#4751 Cleanup "started server on" message
  crates/turbopack-cli/src/dev/mod.rs
Labels: pr: automerge, team: turbopack

#4756 chore: Update `swc_core` to `v0.75.41`
  Cargo.lock
  Cargo.toml
Labels: pr: automerge, team: turborepo, team: turbopack
