Repository vercel/turborepo, pull requests merged in 2023-10, with the labels that each got.

#6043 feat: hook up process manager
  crates/turborepo-lib/src/cli.rs
  crates/turborepo-lib/src/commands/run.rs
  crates/turborepo-lib/src/engine/mod.rs
  crates/turborepo-lib/src/opts.rs
  crates/turborepo-lib/src/process/child.rs
  crates/turborepo-lib/src/process/mod.rs
  crates/turborepo-lib/src/run/mod.rs
  crates/turborepo-lib/src/task_graph/visitor.rs
Labels: owned-by: turborepo, created-by: turborepo

#6082 chore(ci): Only run examples CI on examples changes or version bump
  .github/workflows/test.yml
Labels: area: ci, owned-by: turborepo, owned-by: web-tooling, created-by: turborepo

#6077 Add crate, move package json
  Cargo.lock
  crates/turborepo-lib/Cargo.toml
  crates/turborepo-lib/src/commands/info.rs
  crates/turborepo-lib/src/commands/prune.rs
  crates/turborepo-lib/src/config/mod.rs
  crates/turborepo-lib/src/config/turbo.rs
  crates/turborepo-lib/src/engine/builder.rs
  crates/turborepo-lib/src/execution_state.rs
  crates/turborepo-lib/src/framework.rs
  crates/turborepo-lib/src/lib.rs
  crates/turborepo-lib/src/package_graph/builder.rs
  crates/turborepo-lib/src/package_graph/mod.rs
  crates/turborepo-lib/src/run/global_hash.rs
  crates/turborepo-lib/src/run/mod.rs
  crates/turborepo-lib/src/run/scope/change_detector.rs
  crates/turborepo-lib/src/run/scope/filter.rs
  crates/turborepo-lib/src/shim.rs
  crates/turborepo-repository/Cargo.toml
  crates/turborepo-repository/src/lib.rs
  crates/turborepo-repository/src/package_json.rs
  crates/turborepo-repository/src/package_manager/bun.rs
  crates/turborepo-repository/src/package_manager/fixtures/package.json
  crates/turborepo-repository/src/package_manager/fixtures/pnpm-patches.json
  crates/turborepo-repository/src/package_manager/fixtures/pnpm-workspace.yaml
  crates/turborepo-repository/src/package_manager/mod.rs
  crates/turborepo-repository/src/package_manager/npm.rs
  crates/turborepo-repository/src/package_manager/pnpm.rs
  crates/turborepo-repository/src/package_manager/yarn.rs
Labels: owned-by: turborepo, created-by: turborepo

#5958 fix: convert the lockfile path to a repo-root-relative path before use
  crates/turborepo-lib/src/run/scope/change_detector.rs
Labels: owned-by: turborepo, created-by: turborepo

#6083 Update turbopack daily tests env
  .github/workflows/nextjs-integration-test.yml
Labels: area: ci, owned-by: turborepo, owned-by: web-tooling

#6021 fix(turborepo): Unhide flags
  crates/turborepo-lib/src/cli.rs
  turborepo-tests/integration/tests/no_args.t
  turborepo-tests/integration/tests/turbo_help.t
Labels: pr: automerge, owned-by: turborepo, created-by: turborepo

#6071 feat: add task cache save
  crates/turborepo-cache/src/async_cache.rs
  crates/turborepo-cache/src/lib.rs
  crates/turborepo-lib/src/run/cache.rs
Labels: owned-by: turborepo, created-by: turborepo

#6072 chore(ci): Remove Turbopack Build Release job
  .github/workflows/test.yml
Labels: area: ci, owned-by: turborepo, owned-by: web-tooling, created-by: turborepo

#6073 fix(Turborepo): copy yarn berry config files when running `turbo prune`
  crates/turborepo-lib/src/commands/prune.rs
  examples/with-berry/.eslintrc.js
  examples/with-berry/.gitignore
  examples/with-berry/.yarn/releases/yarn-3.6.3.cjs
  examples/with-berry/.yarnrc.yml
  examples/with-berry/README.md
  examples/with-berry/apps/docs/.eslintrc.js
  examples/with-berry/apps/docs/.gitignore
  examples/with-berry/apps/docs/README.md
  examples/with-berry/apps/docs/app/layout.tsx
  examples/with-berry/apps/docs/app/page.tsx
  examples/with-berry/apps/docs/next-env.d.ts
  examples/with-berry/apps/docs/next.config.js
  examples/with-berry/apps/docs/package.json
  examples/with-berry/apps/docs/tsconfig.json
  examples/with-berry/apps/web/.eslintrc.js
  examples/with-berry/apps/web/.gitignore
  examples/with-berry/apps/web/README.md
  examples/with-berry/apps/web/app/layout.tsx
  examples/with-berry/apps/web/app/page.tsx
  examples/with-berry/apps/web/next-env.d.ts
  examples/with-berry/apps/web/next.config.js
  examples/with-berry/apps/web/package.json
  examples/with-berry/apps/web/tsconfig.json
  examples/with-berry/package.json
  examples/with-berry/packages/eslint-config-custom/index.js
  examples/with-berry/packages/eslint-config-custom/package.json
  examples/with-berry/packages/tsconfig/base.json
  examples/with-berry/packages/tsconfig/nextjs.json
  examples/with-berry/packages/tsconfig/package.json
  examples/with-berry/packages/tsconfig/react-library.json
  examples/with-berry/packages/ui/Button.tsx
  examples/with-berry/packages/ui/Header.tsx
  examples/with-berry/packages/ui/index.tsx
  examples/with-berry/packages/ui/package.json
  examples/with-berry/packages/ui/tsconfig.json
  examples/with-berry/turbo.json
  examples/with-berry/yarn.lock
  examples/with-nextjs/README.md
Labels: area: examples, owned-by: turborepo

#6095 remove unnecessary CI jobs and reduce timeout
  .github/workflows/test.yml
Labels: area: ci, owned-by: turborepo, owned-by: web-tooling, created-by: web-tooling

#6087 chore: Added logging for filter code
  cli/go.mod
  cli/go.sum
  cli/internal/scope/filter/filter.go
  cli/internal/scope/filter/filter_test.go
  cli/internal/scope/scope.go
  turborepo-tests/integration/tests/inference/has_workspaces.t
  turborepo-tests/integration/tests/inference/nested_workspaces.t
  turborepo-tests/integration/tests/inference/no_workspaces.t
  turborepo-tests/integration/tests/run-logging/verbosity.t
Labels: owned-by: turborepo, created-by: turborepo

#6086 fix(turborepo): Process single-package independently.
  crates/turborepo-lib/src/cli.rs
Labels: owned-by: turborepo, created-by: turborepo

#6096 fix(turbo-ignore): Quote the filter argument.
  packages/turbo-ignore/__tests__/ignore.test.ts
  packages/turbo-ignore/src/ignore.ts
Labels: pkg: turbo-ignore, owned-by: turborepo, created-by: turborepo

#6102 Set --single-package everywhere we can.
  crates/turborepo-lib/src/cli.rs
Labels: pr: automerge, owned-by: turborepo, created-by: turborepo

#6104 Chunking Refactor Step 1
  crates/turbopack-build/src/chunking_context.rs
  crates/turbopack-build/src/ecmascript/node/content.rs
  crates/turbopack-build/src/ecmascript/node/entry/chunk.rs
  crates/turbopack-cli/src/build/mod.rs
  crates/turbopack-core/src/chunk/chunking_context.rs
  crates/turbopack-core/src/chunk/mod.rs
  crates/turbopack-css/src/asset.rs
  crates/turbopack-css/src/chunk/mod.rs
  crates/turbopack-css/src/module_asset.rs
  crates/turbopack-dev-server/src/html.rs
  crates/turbopack-dev/src/chunking_context.rs
  crates/turbopack-dev/src/ecmascript/content_entry.rs
  crates/turbopack-dev/src/ecmascript/evaluate/chunk.rs
  crates/turbopack-ecmascript/src/chunk/context.rs
  crates/turbopack-ecmascript/src/chunk/item.rs
  crates/turbopack-ecmascript/src/chunk/mod.rs
  crates/turbopack-ecmascript/src/chunk/placeable.rs
  crates/turbopack-ecmascript/src/chunk_group_files_asset.rs
  crates/turbopack-ecmascript/src/lib.rs
  crates/turbopack-ecmascript/src/manifest/chunk_asset.rs
  crates/turbopack-ecmascript/src/manifest/chunk_item.rs
  crates/turbopack-ecmascript/src/manifest/loader_item.rs
  crates/turbopack-ecmascript/src/references/esm/base.rs
  crates/turbopack-ecmascript/src/references/esm/module_id.rs
  crates/turbopack-ecmascript/src/references/esm/url.rs
  crates/turbopack-ecmascript/src/references/pattern_mapping.rs
  crates/turbopack-ecmascript/src/references/require_context.rs
  crates/turbopack-ecmascript/src/tree_shake/asset.rs
  crates/turbopack-ecmascript/src/tree_shake/chunk_item.rs
  crates/turbopack-json/src/lib.rs
  crates/turbopack-mdx/src/lib.rs
  crates/turbopack-node/src/evaluate.rs
  crates/turbopack-node/src/lib.rs
  crates/turbopack-static/src/lib.rs
  crates/turbopack-tests/tests/snapshot.rs
  crates/turbopack-wasm/src/module_asset.rs
  crates/turbopack-wasm/src/raw.rs
Labels: owned-by: web-tooling, created-by: web-tooling

#6114 fix: pin cargo sweep
  .github/actions/setup-rust/action.yml
Labels: area: ci, owned-by: turborepo, owned-by: web-tooling, created-by: turborepo

#6112 chore: fix clippy lints
  crates/turborepo-auth/src/lib.rs
  crates/turborepo-lib/src/daemon/server.rs
Labels: owned-by: turborepo, created-by: turborepo

#6120 Chunking Refactor Step 2
  crates/turbopack-build/src/chunking_context.rs
  crates/turbopack-cli/src/build/mod.rs
  crates/turbopack-core/src/chunk/chunking_context.rs
  crates/turbopack-core/src/chunk/mod.rs
  crates/turbopack-dev-server/src/html.rs
  crates/turbopack-dev/src/chunking_context.rs
  crates/turbopack-dev/src/ecmascript/evaluate/chunk.rs
  crates/turbopack-dev/src/ecmascript/list/asset.rs
  crates/turbopack-ecmascript/src/chunk_group_files_asset.rs
  crates/turbopack-ecmascript/src/manifest/chunk_asset.rs
  crates/turbopack-node/src/bootstrap.rs
  crates/turbopack-node/src/evaluate.rs
  crates/turbopack-node/src/lib.rs
  crates/turbopack-tests/tests/snapshot.rs
Labels: owned-by: web-tooling, created-by: web-tooling

#6076 Performance Improvements (5)
  crates/turbo-tasks/src/manager.rs
  crates/turbopack-core/src/chunk/availability_info.rs
  crates/turbopack-ecmascript/src/chunk/esm_scope.rs
  crates/turbopack-ecmascript/src/chunk/item.rs
  crates/turbopack-ecmascript/src/code_gen.rs
  crates/turbopack-ecmascript/src/lib.rs
  crates/turbopack-ecmascript/src/references/async_module.rs
  crates/turbopack-ecmascript/src/references/mod.rs
  crates/turbopack-ecmascript/src/tree_shake/chunk_item.rs
Labels: owned-by: web-tooling, created-by: web-tooling

#6123 Extract as_chunk into shared ChunkType trait
  crates/turbopack-build/src/chunking_context.rs
  crates/turbopack-core/src/chunk/mod.rs
  crates/turbopack-css/src/asset.rs
  crates/turbopack-css/src/chunk/mod.rs
  crates/turbopack-css/src/module_asset.rs
  crates/turbopack-dev/src/chunking_context.rs
  crates/turbopack-ecmascript/src/chunk/chunk_type.rs
  crates/turbopack-ecmascript/src/chunk/mod.rs
  crates/turbopack-ecmascript/src/chunk_group_files_asset.rs
  crates/turbopack-ecmascript/src/lib.rs
  crates/turbopack-ecmascript/src/manifest/chunk_item.rs
  crates/turbopack-ecmascript/src/manifest/loader_item.rs
  crates/turbopack-ecmascript/src/references/require_context.rs
  crates/turbopack-ecmascript/src/tree_shake/chunk_item.rs
  crates/turbopack-json/src/lib.rs
  crates/turbopack-mdx/src/lib.rs
  crates/turbopack-static/src/lib.rs
  crates/turbopack-wasm/src/module_asset.rs
  crates/turbopack-wasm/src/raw.rs
Labels: owned-by: web-tooling, created-by: web-tooling

#6115 use temp files for auth login test
  crates/turborepo-auth/src/lib.rs
Labels: owned-by: turborepo

#6116 Ensure process.env.TURBOPACK is always set
  crates/turbopack-cli/src/contexts.rs
  crates/turbopack-tests/tests/execution.rs
  crates/turbopack-tests/tests/snapshot.rs
  crates/turbopack/src/evaluate_context.rs
Labels: owned-by: web-tooling

#6079 feat(Turborepo): Drop turbo.json from inference calculation
  crates/turborepo-lib/src/shim.rs
  crates/turborepo-repository/src/package_manager/mod.rs
  turborepo-tests/integration/tests/inference/nested_workspaces.t
Labels: owned-by: turborepo, created-by: turborepo

#6124 chore: Always build run stub
  cli/Makefile
  crates/turborepo/Cargo.toml
  crates/turborepo/build.rs
Labels: owned-by: turborepo, created-by: turborepo

#6133 Revert "Reuse existing login tokens"
  Cargo.lock
  Cargo.toml
  crates/turborepo-api-client/Cargo.toml
  crates/turborepo-api-client/src/lib.rs
  crates/turborepo-auth/Cargo.toml
  crates/turborepo-auth/src/lib.rs
  crates/turborepo-cache/src/http.rs
  crates/turborepo-lib/src/commands/link.rs
  crates/turborepo-lib/src/commands/login.rs
  crates/turborepo-lib/src/config/mod.rs
  crates/turborepo-lib/src/config/repo.rs
  crates/turborepo-lib/src/config/user.rs
  crates/turborepo-pidlock/src/lib.rs
Labels: owned-by: turborepo, owned-by: web-tooling, created-by: turborepo

#5796 feat(turborepo): Layered Config
  Cargo.lock
  cli/internal/cache/cache.go
  cli/internal/cache/cache_http.go
  cli/internal/cache/cache_test.go
  cli/internal/cmdutil/cmdutil.go
  cli/internal/run/run.go
  cli/internal/turbostate/turbostate.go
  crates/turborepo-api-client/src/error.rs
  crates/turborepo-api-client/src/lib.rs
  crates/turborepo-cache/src/lib.rs
  crates/turborepo-lib/Cargo.toml
  crates/turborepo-lib/src/cli.rs
  crates/turborepo-lib/src/commands/link.rs
  crates/turborepo-lib/src/commands/login.rs
  crates/turborepo-lib/src/commands/logout.rs
  crates/turborepo-lib/src/commands/mod.rs
  crates/turborepo-lib/src/commands/unlink.rs
  crates/turborepo-lib/src/config/client.rs
  crates/turborepo-lib/src/config/env.rs
  crates/turborepo-lib/src/config/mod.rs
  crates/turborepo-lib/src/config/repo.rs
  crates/turborepo-lib/src/config/turbo.rs
  crates/turborepo-lib/src/config/turbo_config.rs
  crates/turborepo-lib/src/config/user.rs
  crates/turborepo-lib/src/execution_state.rs
  crates/turborepo-lib/src/rewrite_json.rs
  crates/turborepo-lib/src/run/mod.rs
  crates/turborepo-paths/src/absolute_system_path.rs
  turborepo-tests/integration/tests/_helpers/logged_in.sh
Labels: owned-by: turborepo, created-by: turborepo

#6117 feat: hook up task cache
  crates/turborepo-lib/src/process/child.rs
  crates/turborepo-lib/src/run/cache.rs
  crates/turborepo-lib/src/task_graph/visitor.rs
  crates/turborepo-lib/test/scripts/hello_world_hello_moon.js
Labels: owned-by: turborepo, created-by: turborepo

#6140 chore: update pnpm
  package.json
Labels: owned-by: turborepo, owned-by: web-tooling

#6128 Update rust-toolchain to nightly-2023-10-06
  .cargo/config.toml
  .github/workflows/test.yml
  crates/turbo-tasks-memory/src/aggregation_tree/bottom_tree.rs
  crates/turbo-tasks-memory/src/aggregation_tree/top_tree.rs
  crates/turbo-tasks/src/magic_any.rs
  crates/turbo-tasks/src/native_function.rs
  crates/turbo-tasks/src/task/concrete_task_input.rs
  crates/turbo-tasks/src/trait_ref.rs
  crates/turbo-tasks/src/value.rs
  crates/turbo-tasks/src/value_type.rs
  crates/turbo-tasks/src/vc/mod.rs
  crates/turbopack-core/src/chunk/containment_tree.rs
  crates/turbopack-dev/src/ecmascript/optimize.rs
  crates/turbopack-ecmascript/src/analyzer/graph.rs
  rust-toolchain
Labels: area: ci, owned-by: turborepo, owned-by: web-tooling, created-by: web-tooling

#6129 Fix some clippy issues, ignore others
  crates/turbo-tasks-memory/src/aggregation_tree/bottom_tree.rs
  crates/turbo-tasks-memory/src/aggregation_tree/tests.rs
  crates/turbo-tasks-memory/tests/scope_stress.rs
Labels: owned-by: web-tooling, created-by: web-tooling

#6111 chore: add go workspace
  go.work
Labels: owned-by: turborepo, owned-by: web-tooling, created-by: turborepo

#6134 fix(docs): update storybook build command
  docs/pages/repo/docs/handbook/tools/storybook.mdx
Labels: area: docs, owned-by: turborepo

#6127 refactor(Turborepo): Move inference to repository crate
  crates/turborepo-lib/src/cli.rs
  crates/turborepo-lib/src/lib.rs
  crates/turborepo-lib/src/shim.rs
  crates/turborepo-repository/src/inference.rs
  crates/turborepo-repository/src/lib.rs
Labels: owned-by: turborepo, created-by: turborepo

#6122 chore(ci): Setup env to build turbo for benchmarking
  .github/workflows/bench-turborepo.yml
Labels: area: ci, owned-by: turborepo, owned-by: web-tooling, created-by: turborepo

#6098 chore: Speed up CI even more
  .github/workflows/test.yml
  turbo.json
Labels: area: ci, owned-by: turborepo, owned-by: web-tooling, created-by: turborepo

#6146 feat: make chrome tracing non-conditional and connect --profile flag
  crates/turborepo-lib/Cargo.toml
  crates/turborepo-lib/src/cli.rs
  crates/turborepo-lib/src/tracing.rs
  crates/turborepo/Cargo.toml
Labels: owned-by: turborepo, created-by: turborepo

#6151 chore: add schema to vercel.json configs
  docs/vercel.json
  vercel.json
Labels: area: site, owned-by: turborepo, owned-by: web-tooling, created-by: turborepo

#6153 remove unnecessary fields in vercel.json from docs
  docs/vercel.json
  package.json
Labels: area: site, owned-by: turborepo, owned-by: web-tooling

#6154 chore: remove unnecessary vercel.json from docs
  docs/vercel.json
Labels: area: site, owned-by: turborepo, owned-by: web-tooling

#6141 Escape colons in globs before sending to the daemon
  cli/internal/daemonclient/daemonclient.go
  cli/internal/daemonclient/daemonclient_test.go
  cli/internal/runcache/runcache.go
  crates/turborepo-filewatch/src/globwatcher.rs
Labels: owned-by: turborepo, created-by: turborepo

#6156 chore(turborepo): Bump global cache key
  turborepo-tests/integration/tests/dry_json/monorepo.t
  turborepo-tests/integration/tests/dry_json/single_package.t
  turborepo-tests/integration/tests/dry_json/single_package_no_config.t
  turborepo-tests/integration/tests/dry_json/single_package_with_deps.t
  turborepo-tests/integration/tests/dry_run.t
  turborepo-tests/integration/tests/edit_turbo_json/task.t
  turborepo-tests/integration/tests/global_env.t
  turborepo-tests/integration/tests/inference/has_workspaces.t
  turborepo-tests/integration/tests/inference/nested_workspaces.t
  turborepo-tests/integration/tests/inference/no_workspaces.t
  turborepo-tests/integration/tests/ordered/github.t
  turborepo-tests/integration/tests/persistent_dependencies/6-topological-unimplemented.t
  turborepo-tests/integration/tests/pkg-inference.t
  turborepo-tests/integration/tests/prune/composable-config.t
  turborepo-tests/integration/tests/run-caching/excluded-inputs.t
  turborepo-tests/integration/tests/run-logging/errors-only.t
  turborepo-tests/integration/tests/run-logging/log_prefix.t
  turborepo-tests/integration/tests/run-logging/verbosity.t
  turborepo-tests/integration/tests/run-summary/discovery.t
  turborepo-tests/integration/tests/run-summary/error.t
  turborepo-tests/integration/tests/run/continue.t
  turborepo-tests/integration/tests/run/force.t
  turborepo-tests/integration/tests/run/one-script-error.t
  turborepo-tests/integration/tests/single_package/dry-run.t
  turborepo-tests/integration/tests/single_package/no-config.t
  turborepo-tests/integration/tests/single_package/run-yarn.t
  turborepo-tests/integration/tests/single_package/run.t
  turborepo-tests/integration/tests/single_package/with-deps-dry-run.t
  turborepo-tests/integration/tests/single_package/with-deps-run.t
  turborepo-tests/integration/tests/task-dependencies/overwriting.t
  turborepo-tests/integration/tests/task-dependencies/topological.t
  turborepo-tests/integration/tests/workspace-configs/add-keys.t
  turborepo-tests/integration/tests/workspace-configs/add-tasks.t
  turborepo-tests/integration/tests/workspace-configs/cache.t
  turborepo-tests/integration/tests/workspace-configs/config-change.t
  turborepo-tests/integration/tests/workspace-configs/cross-workspace.t
  turborepo-tests/integration/tests/workspace-configs/missing-workspace-config-deps.t
  turborepo-tests/integration/tests/workspace-configs/missing-workspace-config.t
  turborepo-tests/integration/tests/workspace-configs/omit-keys-deps.t
  turborepo-tests/integration/tests/workspace-configs/omit-keys.t
  turborepo-tests/integration/tests/workspace-configs/override-values-deps.t
  turborepo-tests/integration/tests/workspace-configs/override-values.t
  turborepo-tests/integration/tests/workspace-configs/persistent.t
Labels: owned-by: turborepo, created-by: turborepo

#6164 fix: update global cache keys
  cli/internal/run/global_hash.go
  crates/turborepo-lib/src/run/global_hash.rs
Labels: owned-by: turborepo, created-by: turborepo

#6162 fix: build turborepo if integration tests need to run
  .github/workflows/test.yml
Labels: area: ci, owned-by: turborepo, owned-by: web-tooling, created-by: turborepo

#6165 chore: skip building turborepo for rust tests
  .github/workflows/test.yml
Labels: area: ci, owned-by: turborepo, owned-by: web-tooling, created-by: turborepo

#6159 chore: run clippy
  crates/turborepo-auth/src/lib.rs
  crates/turborepo-cache/src/http.rs
  crates/turborepo-lib/src/config/turbo_config.rs
  crates/turborepo-lib/src/tracing.rs
  crates/turborepo-pidlock/src/lib.rs
  crates/turborepo-repository/src/inference.rs
  crates/turborepo-scm/src/manual.rs
Labels: owned-by: turborepo, created-by: turborepo

#6167 fix: support non UTF-8 logs
  Cargo.lock
  crates/turborepo-lib/Cargo.toml
  crates/turborepo-lib/src/process/child.rs
  crates/turborepo-lib/test/scripts/hello_non_utf8.js
  crates/turborepo-ui/Cargo.toml
  crates/turborepo-ui/src/logs.rs
  crates/turborepo-ui/src/prefixed.rs
Labels: owned-by: turborepo, created-by: turborepo

#6170 fix(ci): build turbo when e2e tests change so e2e tests requirements will be met
  .github/workflows/test.yml
Labels: area: ci, owned-by: turborepo, owned-by: web-tooling, created-by: turborepo

#6172 Chunking Refactoring followup fixes
  crates/turbo-tasks/src/backend.rs
  crates/turbo-tasks/src/keyed_cell.rs
  crates/turbo-tasks/src/lib.rs
  crates/turbo-tasks/src/task/concrete_task_input.rs
  crates/turbo-tasks/src/task/function.rs
  crates/turbopack-build/src/chunking_context.rs
  crates/turbopack-convert-trace/src/main.rs
  crates/turbopack-core/src/chunk/chunking.rs
  crates/turbopack-core/src/chunk/mod.rs
  crates/turbopack-core/src/resolve/node.rs
  crates/turbopack-css/src/chunk/mod.rs
  crates/turbopack-dev/src/chunking_context.rs
  crates/turbopack-ecmascript/src/chunk/chunk_type.rs
Labels: owned-by: web-tooling, created-by: web-tooling

#6173 chore: add a few diagnostic log lines for measuring time-to-execute
  crates/turborepo-lib/src/run/mod.rs
  crates/turborepo-lib/src/shim.rs
  crates/turborepo-lib/src/task_hash.rs
  crates/turborepo-scm/src/lib.rs
Labels: owned-by: turborepo, created-by: turborepo

#6168 chore: fail if chrometracing setup fails
  crates/turborepo-lib/src/cli.rs
Labels: owned-by: turborepo, created-by: turborepo

#6155 fix: log replay output
  crates/turborepo-ui/src/output.rs
Labels: owned-by: turborepo, created-by: turborepo

#6169 chore(ci): Break up e2e tests
  pnpm-lock.yaml
  turborepo-tests/e2e/fixtures.ts
  turborepo-tests/e2e/helpers.ts
  turborepo-tests/e2e/index.ts
  turborepo-tests/e2e/monorepo.ts
  turborepo-tests/e2e/package.json
  turborepo-tests/e2e/tests/builds.ts
  turborepo-tests/e2e/tests/changes.ts
  turborepo-tests/e2e/tests/lint-and-logs.ts
  turborepo-tests/e2e/tests/passthru-args.ts
  turborepo-tests/e2e/tests/prune-docker.ts
  turborepo-tests/e2e/tests/prune.ts
  turborepo-tests/e2e/tests/root-tasks.ts
  turborepo-tests/e2e/tests/tests-and-logs.ts
  turborepo-tests/e2e/tsconfig.json
  turborepo-tests/e2e/types.ts
Labels: owned-by: turborepo, created-by: turborepo

#6175 chore(ci): rename go_integration to turborepo_integration
  .github/workflows/test.yml
Labels: area: ci, owned-by: turborepo, owned-by: web-tooling, created-by: turborepo

#6177 Add support for FreeVarReference::Error
  crates/turbopack-core/src/compile_time_info.rs
  crates/turbopack-ecmascript/src/errors.rs
  crates/turbopack-ecmascript/src/references/mod.rs
Labels: owned-by: web-tooling

#6181 chore: update turborepo team members for labeler
  .github/turbo-orchestrator.yml
Labels: owned-by: turborepo, owned-by: web-tooling, created-by: turborepo

#6158 chore: add more instrumentation
  Cargo.lock
  crates/turborepo-globwalk/src/lib.rs
  crates/turborepo-lib/src/daemon/client.rs
  crates/turborepo-lib/src/daemon/connector.rs
  crates/turborepo-lib/src/package_graph/builder.rs
  crates/turborepo-lib/src/package_graph/mod.rs
  crates/turborepo-lib/src/run/mod.rs
  crates/turborepo-lib/src/run/scope/mod.rs
  crates/turborepo-lib/src/run/summary/mod.rs
  crates/turborepo-lib/src/task_graph/visitor.rs
  crates/turborepo-lib/src/task_hash.rs
  crates/turborepo-lib/src/tracing.rs
  crates/turborepo-repository/Cargo.toml
  crates/turborepo-repository/src/package_manager/mod.rs
  crates/turborepo-scm/src/hash_object.rs
  crates/turborepo-scm/src/lib.rs
  crates/turborepo-scm/src/ls_tree.rs
  crates/turborepo-scm/src/package_deps.rs
  crates/turborepo-scm/src/status.rs
Labels: owned-by: turborepo, created-by: turborepo

#6182 chore(ci): fixes invalid workflow syntax
  .github/actions/setup-turborepo-environment/action.yml
  .github/workflows/turborepo-release.yml
Labels: area: ci, owned-by: turborepo, owned-by: web-tooling, created-by: turborepo

#6150 Auth and API Client refactor
  .vscode/settings.json
  Cargo.lock
  crates/turborepo-api-client/Cargo.toml
  crates/turborepo-api-client/src/lib.rs
  crates/turborepo-auth/Cargo.toml
  crates/turborepo-auth/src/auth/login.rs
  crates/turborepo-auth/src/auth/logout.rs
  crates/turborepo-auth/src/auth/mod.rs
  crates/turborepo-auth/src/auth/sso.rs
  crates/turborepo-auth/src/error.rs
  crates/turborepo-auth/src/lib.rs
  crates/turborepo-auth/src/server/login_server.rs
  crates/turborepo-auth/src/server/mod.rs
  crates/turborepo-auth/src/server/sso_server.rs
  crates/turborepo-auth/src/ui/messages.rs
  crates/turborepo-auth/src/ui/mod.rs
  crates/turborepo-cache/src/http.rs
  crates/turborepo-lib/src/cli.rs
  crates/turborepo-lib/src/commands/link.rs
  crates/turborepo-lib/src/commands/login.rs
  crates/turborepo-pidlock/src/lib.rs
Labels: owned-by: turborepo, owned-by: web-tooling, created-by: turborepo

#6166 fix(turborepo): Only use sccache in Vercel repo
  .github/workflows/test.yml
  examples-tests/pnpm-basic/test.t
Labels: area: ci, owned-by: turborepo, owned-by: web-tooling, created-by: turborepo

#6187 Don't open browser when in test mode
  crates/turborepo-auth/src/auth/login.rs
  crates/turborepo-auth/src/auth/sso.rs
Labels: pr: fixship, owned-by: turborepo, created-by: turborepo

#6180 fix chunk loading in build runtime
  crates/turbopack-ecmascript-runtime/js/src/build/runtime.ts
  crates/turbopack-tests/tests/snapshot/runtime/default_build_runtime/output/[turbopack]_runtime.js
  crates/turbopack-tests/tests/snapshot/runtime/default_build_runtime/output/[turbopack]_runtime.js.map
Labels: owned-by: web-tooling, created-by: web-tooling

#6191 Deduplicate referenced_output_assets
  crates/turbo-tasks/src/vc/mod.rs
  crates/turbopack-core/src/chunk/chunk_group.rs
  crates/turbopack-core/src/chunk/chunking.rs
  crates/turbopack-core/src/output.rs
Labels: owned-by: web-tooling, created-by: web-tooling

#6192 Resistance is futile; change is inevitable (twitter -> X)
  README.md
  crates/turbopack/README.md
  crates/turborepo-lib/src/shim.rs
  docs/components/Avatar.tsx
  docs/components/Footer.tsx
  docs/components/Tweet.tsx
  docs/content/team.ts
  docs/pages/blog/joining-vercel.mdx
  docs/pages/blog/saml-sso-now-available.mdx
  docs/pages/blog/turbo-0-4-0.mdx
  docs/pages/blog/turbo-1-1-0.mdx
  docs/pages/blog/turbo-1-10-0.mdx
  docs/pages/blog/turbo-1-2-0.mdx
  docs/pages/blog/turbo-1-3-0.mdx
  docs/pages/blog/turbo-1-4-0.mdx
  docs/pages/blog/turbo-1-5-0.mdx
  docs/pages/blog/turbo-1-6-0.mdx
  docs/pages/blog/turbo-1-7-0.mdx
  docs/pages/blog/turbo-1-8-0.mdx
  docs/pages/blog/turbo-1-9-0.mdx
  docs/pages/blog/turbopack-benchmarks.mdx
  docs/pages/blog/you-might-not-need-typescript-project-references.mdx
  docs/pages/repo/docs/acknowledgements.mdx
  docs/pages/repo/docs/core-concepts/monorepos/running-tasks.mdx
  docs/public/images/blog/joining-vercel/x-card.png
  docs/public/images/blog/saml-sso-now-available/x-card.png
  docs/public/images/blog/turbo-0-4-0/x-card.png
  docs/public/images/blog/turbo-1-1-0/x-card.png
  docs/public/images/blog/turbo-1-10-0/x-card.png
  docs/public/images/blog/turbo-1-2-0/x-card.png
  docs/public/images/blog/turbo-1-3-0/x-card.png
  docs/public/images/blog/turbo-1-4-0/x-card.png
  docs/public/images/blog/turbo-1-5-0/x-card.png
  docs/public/images/blog/turbo-1-6-0/x-card.png
  docs/public/images/blog/turbo-1-7-0/x-card.png
  docs/public/images/blog/turbo-1-8-0/x-card.png
  docs/public/images/blog/turbo-1-9-0/x-card.png
  docs/public/images/blog/turbopack-benchmarks/x-card.png
  docs/public/images/blog/you-might-not-need-typescript-project-references/x-card.png
  docs/turbo/generators/templates/release-blog-post.hbs
  packages/create-turbo/README.md
  packages/turbo-gen/README.md
  packages/turbo-ignore/README.md
  packages/turbo-types/README.md
  packages/turbo-workspaces/README.md
  packages/turbo/README.md
Labels: area: docs, pkg: create-turbo, pkg: turbo-ignore, area: site, pkg: turbo-gen, pkg: turbo-workspaces, owned-by: turborepo, owned-by: web-tooling

#6184 feat: port task execution env restriction
  crates/turborepo-env/src/lib.rs
  crates/turborepo-lib/src/run/mod.rs
  crates/turborepo-lib/src/task_graph/visitor.rs
  crates/turborepo-lib/src/task_hash.rs
Labels: owned-by: turborepo, created-by: turborepo

#6194 Move OutputAssets length check into new method
  crates/turbopack-core/src/chunk/chunk_group.rs
  crates/turbopack-core/src/output.rs
Labels: pr: automerge, owned-by: web-tooling, created-by: web-tooling

#6183 Fix filewatching setup cookie path
  crates/turborepo-filewatch/src/globwatcher.rs
  crates/turborepo-filewatch/src/lib.rs
  crates/turborepo-lib/src/commands/daemon.rs
  crates/turborepo-lib/src/daemon/server.rs
  crates/turborepo-paths/src/absolute_system_path.rs
  crates/turborepo-paths/src/absolute_system_path_buf.rs
Labels: pr: fixship, owned-by: turborepo, created-by: turborepo

#6119 fix(postcss): fallback postcss config locations
  crates/turbopack-node/src/transforms/postcss.rs
Labels: owned-by: web-tooling, created-by: web-tooling

#6186 chore: deny all clippy lints on turborepo clippy run
  .github/workflows/test.yml
Labels: area: ci, owned-by: turborepo, owned-by: web-tooling, created-by: turborepo

#6196 chore: remove debug logging for file hashes
  crates/turborepo-lib/src/run/mod.rs
Labels: owned-by: turborepo, created-by: turborepo

#6074 feat(Turborepo): Repository JS API
  .github/workflows/turborepo-library-release.yml
  Cargo.lock
  Cargo.toml
  crates/turborepo-lib/src/cli.rs
  crates/turborepo-repository/src/inference.rs
  crates/turborepo-repository/src/package_manager/mod.rs
  packages/turbo-repository/.gitignore
  packages/turbo-repository/README.md
  packages/turbo-repository/js/README.md
  packages/turbo-repository/js/index-generated.d.ts
  packages/turbo-repository/js/index.d.ts
  packages/turbo-repository/js/index.js
  packages/turbo-repository/js/package.json
  packages/turbo-repository/native/.gitignore
  packages/turbo-repository/npm/.gitignore
  packages/turbo-repository/npm/darwin-arm64/package.json
  packages/turbo-repository/npm/darwin-x64/package.json
  packages/turbo-repository/npm/linux-arm64-gnu/package.json
  packages/turbo-repository/npm/linux-x64-gnu/package.json
  packages/turbo-repository/npm/win32-arm64-msvc/package.json
  packages/turbo-repository/npm/win32-x64-msvc/package.json
  packages/turbo-repository/package.json
  packages/turbo-repository/rust/Cargo.toml
  packages/turbo-repository/rust/README.md
  packages/turbo-repository/rust/build.rs
  packages/turbo-repository/rust/src/lib.rs
  packages/turbo-repository/scripts/publish.mjs
  pnpm-lock.yaml
Labels: area: ci, owned-by: turborepo, owned-by: web-tooling, created-by: turborepo

#6198 chore: Update CODEOWNERS
  .github/CODEOWNERS
Labels: owned-by: turborepo, owned-by: web-tooling, created-by: turborepo

#6199 fix: log replay message should say replay
  crates/turborepo-lib/src/run/cache.rs
Labels: owned-by: turborepo, created-by: turborepo

#6176 feat(benchmark): add workflow to benchmark time to first task
  .github/workflows/bench-turborepo.yml
  benchmark/.eslintrc.js
  benchmark/.gitignore
  benchmark/package.json
  benchmark/src/fold.jq
  benchmark/src/helpers.ts
  benchmark/src/index.ts
  benchmark/src/ttft-send.ts
  benchmark/src/ttft.ts
  benchmark/tsconfig.json
  pnpm-lock.yaml
Labels: area: ci, owned-by: turborepo, created-by: turborepo

#6147 feat: add pprof flamegraphs behind a feature flag
  Cargo.lock
  crates/turborepo-lib/Cargo.toml
  crates/turborepo-lib/src/tracing.rs
  crates/turborepo/Cargo.toml
Labels: owned-by: turborepo, created-by: turborepo

#6143 chore(lockfiles) avoid hand written reflection
  crates/turborepo-lib/src/engine/builder.rs
  crates/turborepo-lib/src/package_graph/mod.rs
  crates/turborepo-lockfiles/src/berry/mod.rs
  crates/turborepo-lockfiles/src/bun/mod.rs
  crates/turborepo-lockfiles/src/lib.rs
  crates/turborepo-lockfiles/src/npm.rs
  crates/turborepo-lockfiles/src/pnpm/data.rs
  crates/turborepo-lockfiles/src/yarn1/mod.rs
Labels: owned-by: turborepo, created-by: turborepo

#6205 feat(Turborepo): Initial run preamble
  crates/turborepo-lib/src/run/cache.rs
  crates/turborepo-lib/src/run/mod.rs
  crates/turborepo-ui/src/lib.rs
  turborepo-tests/integration/tests/single_package/graph.t
Labels: owned-by: turborepo, created-by: turborepo

#6208 fix(Turborepo): Drop root package removal
  crates/turborepo-lib/src/run/scope/filter.rs
Labels: owned-by: turborepo, created-by: turborepo

#6189 chore: avoid allocations during log capture and replay
  Cargo.lock
  crates/turborepo-lib/Cargo.toml
  crates/turborepo-lib/src/process/child.rs
  crates/turborepo-lib/src/task_graph/visitor.rs
  crates/turborepo-ui/Cargo.toml
  crates/turborepo-ui/src/logs.rs
Labels: owned-by: turborepo, created-by: turborepo

#6211 Upload Are We Turbo Yet data to Vercel KV
  .github/workflows/daily-nextjs-integration-test.yml
  .github/workflows/upload-nextjs-integration-test-results.yml
Labels: area: ci, owned-by: turborepo, owned-by: web-tooling, created-by: web-tooling

#6179 fix double self time reporting
  crates/turbopack-convert-trace/src/main.rs
Labels: owned-by: web-tooling, created-by: web-tooling

#6207 chore(ci): make lint:prettier faster
  .github/workflows/test.yml
  .prettierignore
  benchmark/package.json
  benchmark/turbo.json
  cli/package.json
Labels: area: ci, owned-by: turborepo, owned-by: web-tooling, created-by: turborepo

#6209 feat(Turborepo): Add publish step for @turbo/repository
  .github/workflows/turborepo-library-release.yml
  packages/turbo-repository/js/package.json
  packages/turbo-repository/package.json
Labels: area: ci, owned-by: turborepo, owned-by: web-tooling, created-by: turborepo

#6109 feat(turborepo): Spaces
  Cargo.lock
  cli/internal/runsummary/run_summary.go
  cli/internal/runsummary/spaces.go
  crates/turborepo-api-client/Cargo.toml
  crates/turborepo-api-client/src/lib.rs
  crates/turborepo-api-client/src/spaces.rs
  crates/turborepo-cache/src/http.rs
  crates/turborepo-ci/src/lib.rs
  crates/turborepo-ci/src/vendors.rs
  crates/turborepo-lib/src/commands/mod.rs
  crates/turborepo-lib/src/config/turbo.rs
  crates/turborepo-lib/src/run/global_hash.rs
  crates/turborepo-lib/src/run/mod.rs
  crates/turborepo-lib/src/run/summary/execution.rs
  crates/turborepo-lib/src/run/summary/global_hash.rs
  crates/turborepo-lib/src/run/summary/mod.rs
  crates/turborepo-lib/src/run/summary/scm.rs
  crates/turborepo-lib/src/run/summary/spaces.rs
  crates/turborepo-lib/src/task_graph/visitor.rs
  crates/turborepo-ui/src/lib.rs
  crates/turborepo-vercel-api-mock/src/lib.rs
  crates/turborepo-vercel-api/src/lib.rs
  turborepo-tests/integration/package.json
  turborepo-tests/integration/test-interactive.sh
  turborepo-tests/integration/tests/dry_json/monorepo-no-changes.t
  turborepo-tests/integration/tests/dry_json/monorepo.t
  turborepo-tests/integration/tests/dry_json/single_package.t
  turborepo-tests/integration/tests/dry_json/single_package_no_config.t
  turborepo-tests/integration/tests/dry_json/single_package_with_deps.t
  turborepo-tests/integration/tests/run-summary/discovery.t
  turborepo-tests/integration/tests/run-summary/monorepo.t
  turborepo-tests/integration/tests/run-summary/single-package.t
  turborepo-tests/integration/tests/single_package/graph.t
Labels: owned-by: turborepo, created-by: turborepo

#6206 chore(ci): Include docs workspace in lint check
  .github/workflows/test.yml
  docs/.eslintrc.js
Labels: area: ci, area: site, owned-by: turborepo, owned-by: web-tooling, created-by: turborepo

#6214 chore(examples/with-svelte): regenerate apps with sveltekit
  examples/with-svelte/apps/docs/.eslintrc.cjs
  examples/with-svelte/apps/docs/.gitignore
  examples/with-svelte/apps/docs/.npmrc
  examples/with-svelte/apps/docs/.prettierignore
  examples/with-svelte/apps/docs/.prettierrc
  examples/with-svelte/apps/docs/README.md
  examples/with-svelte/apps/docs/package.json
  examples/with-svelte/apps/docs/src/app.d.ts
  examples/with-svelte/apps/docs/src/app.html
  examples/with-svelte/apps/docs/src/lib/index.js
  examples/with-svelte/apps/docs/src/routes/+page.svelte
  examples/with-svelte/apps/docs/svelte.config.js
  examples/with-svelte/apps/docs/tsconfig.json
  examples/with-svelte/apps/docs/vite.config.js
  examples/with-svelte/apps/web/.eslintrc.cjs
  examples/with-svelte/apps/web/.gitignore
  examples/with-svelte/apps/web/.npmrc
  examples/with-svelte/apps/web/.prettierignore
  examples/with-svelte/apps/web/.prettierrc
  examples/with-svelte/apps/web/README.md
  examples/with-svelte/apps/web/package.json
  examples/with-svelte/apps/web/playwright.config.ts
  examples/with-svelte/apps/web/src/app.d.ts
  examples/with-svelte/apps/web/src/app.html
  examples/with-svelte/apps/web/src/index.test.ts
  examples/with-svelte/apps/web/src/lib/index.ts
  examples/with-svelte/apps/web/src/routes/+page.svelte
  examples/with-svelte/apps/web/svelte.config.js
  examples/with-svelte/apps/web/tests/test.ts
  examples/with-svelte/apps/web/tsconfig.json
  examples/with-svelte/apps/web/vite.config.js
  examples/with-svelte/apps/web/vite.config.ts
  examples/with-svelte/packages/eslint-config-custom/index.js
  examples/with-svelte/packages/eslint-config-custom/package.json
  examples/with-svelte/packages/ui/components/MyCounterButton.svelte
  examples/with-svelte/pnpm-lock.yaml
Labels: area: examples, owned-by: turborepo, created-by: turborepo

#6210 fix: bias towards graph walk cancel over continue
  crates/turborepo-lib/src/graph/walker.rs
  crates/turborepo-lib/src/task_graph/visitor.rs
Labels: owned-by: turborepo, created-by: turborepo

#6222 feat: hook up task execution tracking
  crates/turborepo-lib/src/run/summary/execution.rs
  crates/turborepo-lib/src/run/summary/mod.rs
  crates/turborepo-lib/src/task_graph/visitor.rs
  turborepo-tests/integration/tests/run-summary/monorepo.t
Labels: owned-by: turborepo, created-by: turborepo

#6224 docs: Add the enabled config to turbo.json schema
  packages/turbo-types/src/types/config.ts
Labels: owned-by: turborepo, created-by: turborepo

#6219 chore(ci): Replace targets input with windows boolean
  .github/actions/setup-rust/action.yml
  .github/actions/setup-turborepo-environment/action.yml
  .github/workflows/bench-turborepo.yml
  .github/workflows/test.yml
  .github/workflows/turborepo-release.yml
Labels: area: ci, owned-by: turborepo, owned-by: web-tooling, created-by: turborepo

#6225 chore: fix example test setup so output matches
  examples-tests/pnpm-basic/test.t
Labels: owned-by: turborepo, created-by: turborepo

#6217 fix: Respect color config for runcache output
  crates/turborepo-lib/src/run/cache.rs
Labels: owned-by: turborepo, created-by: turborepo

#6213 chore: Fix typo in log message
  .github/actions/next-integration-stat/src/index.ts
Labels: area: ci, owned-by: turborepo, owned-by: web-tooling, created-by: turborepo

#6227 fix chunking for build chunking context
  Cargo.lock
  crates/turbopack-build/src/chunking_context.rs
Labels: owned-by: web-tooling, created-by: web-tooling

#6197 chore(ci): Reduce number of files that affect turbopack benchmark
  .github/workflows/bench-turbopack.yml
Labels: area: ci, owned-by: turborepo, owned-by: web-tooling, created-by: turborepo

#6142 fix(turborepo): Rust integration test fixes
  .github/workflows/test.yml
  turborepo-tests/integration/turbo.json
Labels: area: ci, owned-by: turborepo, owned-by: web-tooling, created-by: turborepo

#6229 prefer Option<Vc<IssueSource>> over Vc<OptionIssueSource>
  crates/turbopack-cli-utils/src/runtime_entry.rs
  crates/turbopack-core/src/issue/mod.rs
  crates/turbopack-core/src/issue/resolve.rs
  crates/turbopack-core/src/resolve/mod.rs
  crates/turbopack-css/src/references/compose.rs
  crates/turbopack-css/src/references/import.rs
  crates/turbopack-css/src/references/mod.rs
  crates/turbopack-ecmascript/src/references/amd.rs
  crates/turbopack-ecmascript/src/references/cjs.rs
  crates/turbopack-ecmascript/src/references/esm/base.rs
  crates/turbopack-ecmascript/src/references/esm/dynamic.rs
  crates/turbopack-ecmascript/src/references/mod.rs
  crates/turbopack-ecmascript/src/references/require_context.rs
  crates/turbopack-ecmascript/src/resolve/mod.rs
  crates/turbopack-ecmascript/src/typescript/mod.rs
  crates/turbopack-ecmascript/src/typescript/resolve.rs
Labels: owned-by: web-tooling, created-by: web-tooling

#6235 refactor(auth): Removed closure in login functions
  crates/turborepo-auth/src/auth/login.rs
  crates/turborepo-auth/src/auth/sso.rs
  crates/turborepo-auth/src/lib.rs
  crates/turborepo-lib/src/commands/login.rs
Labels: owned-by: turborepo, created-by: turborepo

#6226 chore(test): validate that pruning carries remoteCache fields correctly
  turborepo-tests/integration/README.md
  turborepo-tests/integration/tests/prune/produces_valid_turbo_json.t
Labels: owned-by: turborepo, created-by: turborepo

#6236 chore: Removed run stub feature
  crates/turborepo-lib/Cargo.toml
  crates/turborepo-lib/src/cli.rs
  crates/turborepo/Cargo.toml
Labels: owned-by: turborepo, created-by: turborepo

#6239 fix(Turborepo): Drop incorrect deprecation notice
  crates/turborepo-lib/src/config/turbo_config.rs
Labels: owned-by: turborepo, created-by: turborepo

#6238 chore(test): Add test to ensure env var changes task hash
  turborepo-tests/integration/tests/run-caching/global-deps.t
Labels: owned-by: turborepo, created-by: turborepo

#6220 feat(benchmark): post TTFT to slack
  .github/workflows/bench-turborepo.yml
  benchmark/src/helpers.ts
  benchmark/src/ttft-slack.ts
  benchmark/src/ttft-tinybird.ts
  benchmark/src/ttft.ts
Labels: area: ci, owned-by: turborepo, created-by: turborepo

#6241 make the daily ci faster
  .github/workflows/nextjs-integration-test.yml
Labels: area: ci, owned-by: turborepo, owned-by: web-tooling, created-by: web-tooling

#6242 Add caching to `chunk_content`'s graph walking
  crates/turbopack-core/src/chunk/chunk_group.rs
  crates/turbopack-core/src/chunk/mod.rs
Labels: owned-by: web-tooling, created-by: web-tooling

#6228 Reduce resolve and resolving tasks
  crates/turbopack-core/src/resolve/mod.rs
  crates/turbopack-core/src/resolve/pattern.rs
  crates/turbopack-ecmascript/src/lib.rs
  crates/turbopack-ecmascript/src/resolve/mod.rs
Labels: owned-by: web-tooling, created-by: web-tooling

#6195 Remove `OutputAssets::new` if condition
  crates/turbopack-core/src/output.rs
Labels: pr: automerge, owned-by: web-tooling, created-by: web-tooling

#6244 avoid cloning list
  crates/turbo-tasks/src/read_ref.rs
  crates/turbopack-core/src/chunk/mod.rs
Labels: owned-by: web-tooling, created-by: web-tooling

#6246 fix symlink handling
  crates/turbopack-core/src/resolve/pattern.rs
Labels: owned-by: web-tooling, created-by: web-tooling

#6231 Update `swc_core` to `v0.86.10`
  Cargo.lock
  Cargo.toml
Labels: owned-by: turborepo, owned-by: web-tooling, created-by: web-tooling

#6245 Parallelize `chunk_content` walk
  crates/turbopack-core/src/chunk/mod.rs
Labels: owned-by: web-tooling, created-by: web-tooling

#6240 chore: run summary prefactor
  crates/turborepo-lib/src/engine/mod.rs
  crates/turborepo-lib/src/package_graph/mod.rs
  crates/turborepo-lib/src/run/cache.rs
  crates/turborepo-lib/src/run/summary/execution.rs
  crates/turborepo-lib/src/run/summary/mod.rs
  crates/turborepo-lib/src/run/summary/task.rs
  crates/turborepo-lib/src/task_graph/visitor.rs
Labels: owned-by: turborepo, created-by: turborepo

#6251 refactor: Removed closure from logout
  crates/turborepo-auth/src/auth/logout.rs
  crates/turborepo-lib/src/commands/logout.rs
Labels: owned-by: turborepo, created-by: turborepo

#6212 Turbopack: don't consider any unanalyzable spawn expression `node`
  crates/turbopack-core/src/resolve/pattern.rs
  crates/turbopack-ecmascript/src/references/mod.rs
  crates/turbopack-tests/tests/snapshot/node/spawn_dynamic/input/index.js
  crates/turbopack-tests/tests/snapshot/node/spawn_dynamic/input/node_modules/child_process/index.js
  crates/turbopack-tests/tests/snapshot/node/spawn_dynamic/options.json
  crates/turbopack-tests/tests/snapshot/node/spawn_dynamic/output/crates_turbopack-tests_tests_snapshot_node_spawn_dynamic_input_e65664._.js
  crates/turbopack-tests/tests/snapshot/node/spawn_dynamic/output/crates_turbopack-tests_tests_snapshot_node_spawn_dynamic_input_e65664._.js.map
  crates/turbopack-tests/tests/snapshot/node/spawn_dynamic/output/crates_turbopack-tests_tests_snapshot_node_spawn_dynamic_input_index_2d1475.js
  crates/turbopack-tests/tests/snapshot/node/spawn_dynamic/output/crates_turbopack-tests_tests_snapshot_node_spawn_dynamic_input_index_2d1475.js.map
  crates/turbopack-tests/tests/snapshot/node/spawn_dynamic/output/crates_turbopack-tests_tests_snapshot_node_spawn_dynamic_input_index_806112.js
Labels: owned-by: web-tooling, created-by: web-tooling

#6254 feat(Turborepo): Check env var indexing by literals
  packages/eslint-plugin-turbo/__tests__/lib/no-undeclared-env-vars.test.ts
  packages/eslint-plugin-turbo/lib/rules/no-undeclared-env-vars.ts
Labels: pkg: turbo-eslint, owned-by: turborepo, created-by: turborepo

#6255 Padamaia/small docs changes
  docs/pages/pack/docs/_meta.json
  docs/pages/pack/docs/index.mdx
Labels: area: docs, area: site, owned-by: web-tooling, created-by: web-tooling

#6259 disable lazy children removal
  crates/turbo-tasks-memory/src/task.rs
Labels: owned-by: web-tooling, created-by: web-tooling

#6261 Turbopack: apply queued updates to aggregation context
  crates/turbo-tasks-memory/src/task.rs
Labels: owned-by: web-tooling, created-by: web-tooling

#6260 Turbopack: add a simple `require` implementation at runtime for CJS checks
  crates/turbopack-ecmascript-runtime/js/src/build/runtime.ts
  crates/turbopack-ecmascript-runtime/js/src/dev/runtime/base/runtime-base.ts
  crates/turbopack-ecmascript-runtime/js/src/shared/runtime-types.d.ts
  crates/turbopack-ecmascript-runtime/js/src/shared/runtime-utils.ts
  crates/turbopack-ecmascript/src/chunk/item.rs
  crates/turbopack-tests/tests/snapshot/basic/async_chunk/output/crates_turbopack-tests_tests_snapshot_basic_async_chunk_input_4437c1._.js
  crates/turbopack-tests/tests/snapshot/basic/ecmascript_minify/output/crates_turbopack-tests_tests_snapshot_basic_ecmascript_minify_input_index_dc5b16.js
  crates/turbopack-tests/tests/snapshot/basic/ecmascript_minify/output/crates_turbopack-tests_tests_snapshot_basic_ecmascript_minify_input_index_dc5b16.js.map
  crates/turbopack-tests/tests/snapshot/comptime/define/output/crates_turbopack-tests_tests_snapshot_comptime_define_input_index_49857f.js
  crates/turbopack-tests/tests/snapshot/css/absolute-uri-import/output/crates_turbopack-tests_tests_snapshot_css_absolute-uri-import_input_index_0e8055.js
  crates/turbopack-tests/tests/snapshot/emotion/emotion/output/crates_turbopack-tests_tests_snapshot_952867._.js
  crates/turbopack-tests/tests/snapshot/env/env/output/crates_turbopack-tests_tests_snapshot_env_env_input_25cf63._.js
  crates/turbopack-tests/tests/snapshot/evaluated_entrry/runtime_entry/output/a587c_tests_snapshot_evaluated_entrry_runtime_entry_input_index_97d560.js
  crates/turbopack-tests/tests/snapshot/example/example/output/crates_turbopack-tests_tests_snapshot_example_example_input_index_838420.js
  crates/turbopack-tests/tests/snapshot/export-alls/cjs-2/output/crates_turbopack-tests_tests_snapshot_export-alls_cjs-2_input_2c57a6._.js
  crates/turbopack-tests/tests/snapshot/export-alls/cjs-script/output/crates_turbopack-tests_tests_snapshot_export-alls_cjs-script_input_ffd38d._.js
  crates/turbopack-tests/tests/snapshot/import-meta/cjs/output/crates_turbopack-tests_tests_snapshot_import-meta_cjs_input_44576c._.js
  crates/turbopack-tests/tests/snapshot/import-meta/esm-multiple/output/crates_turbopack-tests_tests_snapshot_import-meta_esm-multiple_input_b94ed5._.js
  crates/turbopack-tests/tests/snapshot/import-meta/esm-mutable/output/crates_turbopack-tests_tests_snapshot_import-meta_esm-mutable_input_f730df._.js
  crates/turbopack-tests/tests/snapshot/import-meta/esm-object/output/crates_turbopack-tests_tests_snapshot_import-meta_esm-object_input_51cbdd._.js
  crates/turbopack-tests/tests/snapshot/import-meta/esm/output/crates_turbopack-tests_tests_snapshot_import-meta_esm_input_5f2592._.js
  crates/turbopack-tests/tests/snapshot/import-meta/url/output/crates_turbopack-tests_tests_snapshot_import-meta_url_input_9b6f5c._.js
  crates/turbopack-tests/tests/snapshot/imports/dynamic/output/crates_turbopack-tests_tests_snapshot_imports_dynamic_input_index_5ee1a4.js
  crates/turbopack-tests/tests/snapshot/imports/resolve_error_cjs/output/79fb1_turbopack-tests_tests_snapshot_imports_resolve_error_cjs_input_index_86e786.js
  crates/turbopack-tests/tests/snapshot/imports/subpath-imports/output/crates_turbopack-tests_tests_snapshot_imports_subpath-imports_input_2427b5._.js
  crates/turbopack-tests/tests/snapshot/runtime/default_build_runtime/output/79fb1_turbopack-tests_tests_snapshot_runtime_default_build_runtime_input_index_e22b2e.js
  crates/turbopack-tests/tests/snapshot/runtime/default_build_runtime/output/[turbopack]_runtime.js
  crates/turbopack-tests/tests/snapshot/runtime/default_build_runtime/output/[turbopack]_runtime.js.map
  crates/turbopack-tests/tests/snapshot/runtime/default_dev_runtime/output/79fb1_turbopack-tests_tests_snapshot_runtime_default_dev_runtime_input_index_40d141.js
  crates/turbopack-tests/tests/snapshot/runtime/default_dev_runtime/output/79fb1_turbopack-tests_tests_snapshot_runtime_default_dev_runtime_input_index_40d141.js.map
  crates/turbopack-tests/tests/snapshot/runtime/default_dev_runtime/output/79fb1_turbopack-tests_tests_snapshot_runtime_default_dev_runtime_input_index_7e4b32.js
  crates/turbopack-tests/tests/snapshot/styled_components/styled_components/output/crates_turbopack-tests_tests_snapshot_ededc0._.js
  crates/turbopack-tests/tests/snapshot/swc_transforms/mono_transforms/output/crates_turbopack-tests_tests_snapshot_c45dee._.js
  crates/turbopack-tests/tests/snapshot/swc_transforms/preset_env/output/crates_turbopack-tests_tests_snapshot_f8ff4e._.js
Labels: owned-by: web-tooling, created-by: web-tooling

#6253 chore: Added panic handler to turborepo
  Cargo.lock
  crates/turborepo/Cargo.toml
  crates/turborepo/src/main.rs
  crates/turborepo/src/panic_handler.rs
Labels: owned-by: turborepo, created-by: turborepo

#6250 refactor: Moving from anyhow to thiserror part 1
  Cargo.lock
  crates/turborepo-auth/Cargo.toml
  crates/turborepo-auth/src/auth/login.rs
  crates/turborepo-auth/src/auth/sso.rs
  crates/turborepo-auth/src/error.rs
  crates/turborepo-auth/src/server/login_server.rs
  crates/turborepo-auth/src/server/sso_server.rs
  crates/turborepo-lib/src/cli/error.rs
  crates/turborepo-lib/src/cli/mod.rs
  crates/turborepo-lib/src/commands/bin.rs
  crates/turborepo-lib/src/commands/login.rs
  crates/turborepo-lib/src/commands/logout.rs
  crates/turborepo-lib/src/commands/unlink.rs
  crates/turborepo-lib/src/shim.rs
  crates/turborepo-lib/src/tracing.rs
  crates/turborepo-paths/src/absolute_system_path_buf.rs
Labels: owned-by: turborepo, created-by: turborepo

#6269 Upload data even for non-scheduled runs
  .github/workflows/daily-nextjs-integration-test.yml
Labels: area: ci, owned-by: web-tooling, created-by: web-tooling

#6278 Clearer cache spinner message.
  cli/internal/run/real_run.go
Labels: owned-by: turborepo

#6290 fix hmr client to be actually reliable
  crates/turbopack-ecmascript-runtime/js/src/dev/client/hmr-client.ts
  crates/turbopack-ecmascript-runtime/js/src/dev/runtime/base/protocol.d.ts
Labels: owned-by: web-tooling, created-by: web-tooling

#6285 fix: use cprintln instead of warn when no tasks are run
  crates/turborepo-lib/src/run/summary/execution.rs
  crates/turborepo-ui/src/lib.rs
Labels: owned-by: turborepo, created-by: turborepo

#6284 fix: don't escape html when serializing dry runs
  cli/internal/runsummary/format_json.go
  turborepo-tests/integration/tests/dry_json/single_package.t
  turborepo-tests/integration/tests/dry_json/single_package_no_config.t
  turborepo-tests/integration/tests/dry_json/single_package_with_deps.t
Labels: owned-by: turborepo, created-by: turborepo

#6258 fix(Turborepo): Ensure process manager stays closed
  crates/turborepo-lib/src/process/mod.rs
Labels: owned-by: turborepo, created-by: turborepo

#6276 feat(ci): Run integration tests on macOS
  .github/workflows/test.yml
Labels: area: ci, owned-by: turborepo, owned-by: web-tooling, created-by: turborepo

#6267 fix(Turborepo): escape colons in log filenames
  cli/internal/graph/graph.go
  cli/internal/nodes/packagetask.go
  cli/internal/nodes/packagetask_test.go
  cli/internal/runcache/runcache.go
  cli/internal/runsummary/task_summary.go
  crates/turborepo-lib/src/package_graph/mod.rs
  crates/turborepo-lib/src/run/cache.rs
  crates/turborepo-lib/src/task_graph/mod.rs
  crates/turborepo-paths/src/anchored_system_path.rs
  crates/turborepo-paths/src/relative_unix_path.rs
Labels: owned-by: turborepo, created-by: turborepo

#6300 chore(test): fix gitignore in fixture
  turborepo-tests/integration/tests/_fixtures/framework_inference/.gitignore
Labels: created-by: turborepo

#6282 feat: Hook up Run summary
  crates/turborepo-cache/src/lib.rs
  crates/turborepo-lib/src/run/mod.rs
  crates/turborepo-lib/src/run/summary/execution.rs
  crates/turborepo-lib/src/run/summary/mod.rs
  crates/turborepo-lib/src/run/summary/task.rs
  crates/turborepo-lib/src/run/summary/task_factory.rs
  crates/turborepo-lib/src/run/task_id.rs
  crates/turborepo-lib/src/task_graph/mod.rs
  crates/turborepo-lib/src/task_graph/visitor.rs
  crates/turborepo-lib/src/task_hash.rs
  turborepo-tests/integration/tests/dry_json/single_package.t
  turborepo-tests/integration/tests/dry_json/single_package_no_config.t
  turborepo-tests/integration/tests/dry_json/single_package_with_deps.t
  turborepo-tests/integration/tests/run-summary/monorepo.t
  turborepo-tests/integration/tests/run-summary/single-package.t
Labels: owned-by: turborepo, created-by: turborepo

#6295 port(Turborepo): Port escaping globs sent via rust daemon client
  crates/turborepo-lib/src/daemon/client.rs
  crates/turborepo-lib/src/run/cache.rs
Labels: owned-by: turborepo, created-by: turborepo

#6293 feat(Turborepo): Validation checks for task names
  crates/turborepo-lib/src/engine/builder.rs
Labels: owned-by: turborepo, created-by: turborepo

#6303 chore(test): fix gitignore in fixture
  turborepo-tests/integration/tests/_fixtures/inference/has_workspaces/.gitignore
Labels: created-by: turborepo

#6277 feat(docs): document support policy
  docs/pages/repo/docs/_meta.json
  docs/pages/repo/docs/support.mdx
Labels: area: docs, area: site, owned-by: turborepo, created-by: turborepo

#6313 fix(docs): correct support typo
  docs/pages/repo/docs/support.mdx
Labels: area: docs, owned-by: turborepo, created-by: turborepo

#6249 chore(ci): remove publish-docs workflow
  .github/workflows/publish-docs-rs.yml
Labels: area: ci, owned-by: turborepo, owned-by: web-tooling, created-by: turborepo

#6296 fix(lockfiles) trailing zero yaml parse
  Cargo.lock
  crates/turborepo-lockfiles/Cargo.toml
  crates/turborepo-lockfiles/fixtures/berry_semver.lock
  crates/turborepo-lockfiles/src/berry/de.rs
  crates/turborepo-lockfiles/src/berry/mod.rs
  crates/turborepo-lockfiles/src/berry/ser.rs
Labels: owned-by: turborepo, created-by: turborepo

#6316 Update teamname in codeowners
  .github/CODEOWNERS
Labels: owned-by: turborepo, owned-by: web-tooling, created-by: web-tooling

#6317 Chore/update teamname
  .github/CODEOWNERS
Labels: owned-by: turborepo, created-by: web-tooling

#6320 fix(Turborepo): Build x86_64-unknown-linux-gnu so that it works on AWS lambda
  .github/workflows/turborepo-library-release.yml
  packages/turbo-repository/js/index.js
  packages/turbo-repository/js/package.json
  packages/turbo-repository/npm/darwin-arm64/package.json
  packages/turbo-repository/npm/darwin-x64/package.json
  packages/turbo-repository/npm/linux-arm64-gnu/package.json
  packages/turbo-repository/npm/linux-x64-gnu/package.json
  packages/turbo-repository/npm/win32-arm64-msvc/package.json
  packages/turbo-repository/npm/win32-x64-msvc/package.json
Labels: area: ci, owned-by: turborepo, created-by: turborepo

#6325 build(cargo): skip external build script with rust-analyzer
  crates/turborepo-lib/build.rs
  crates/turborepo/build.rs
Labels: owned-by: turborepo, created-by: web-tooling

#6319 fix: global hash divergence for empty version strings
  cli/internal/fs/hash/capnp.go
  cli/internal/fs/hash/capnp_test.go
  crates/turborepo-lib/src/hash/mod.rs
Labels: owned-by: turborepo, created-by: turborepo

#6330 fix(turbo-ignore): better error for invalid commit
  packages/turbo-ignore/__tests__/ignore.test.ts
  packages/turbo-ignore/src/errors.ts
  packages/turbo-ignore/src/types.ts
Labels: pkg: turbo-ignore, owned-by: turborepo, created-by: turborepo

#6332 fix: explicitly set turbo command name
  crates/turborepo-lib/src/cli/mod.rs
Labels: owned-by: turborepo, created-by: turborepo
