Repository vercel/turborepo, pull requests merged in 2023-07, with the labels that each got.

#5430 ReverseTopological -> AdjacencyMap
  crates/turbo-tasks/src/graph/adjacency_map.rs
  crates/turbo-tasks/src/graph/mod.rs
  crates/turbo-tasks/src/graph/reverse_topological.rs
  crates/turbopack-build/src/chunking_context.rs
  crates/turbopack-core/src/chunk/available_assets.rs
  crates/turbopack-core/src/chunk/mod.rs
  crates/turbopack-dev/src/chunking_context.rs
  crates/turbopack-node/src/lib.rs
Labels: team: turbopack

#5395 New FileSystemPath methods: with_extension and file_stem
  Cargo.lock
  crates/turbo-tasks-fs/Cargo.toml
  crates/turbo-tasks-fs/src/lib.rs
  crates/turbo-tasks-fs/src/virtual_fs.rs
  crates/turbo-tasks-testing/Cargo.toml
  crates/turbo-tasks-testing/src/lib.rs
  crates/turbopack-core/src/lib.rs
  crates/turbopack-ecmascript-runtime/js/src/build/runtime.ts
  crates/turbopack-tests/tests/snapshot/runtime/default_build_runtime/output/[turbopack]_runtime.js
  crates/turbopack-tests/tests/snapshot/runtime/default_build_runtime/output/[turbopack]_runtime.js.map
Labels: team: turbopack

#5438 fix(turborepo): Convert globs to slashes on windows, test go when rust changes
  .github/workflows/test.yml
  crates/turborepo-globwalk/src/lib.rs
Labels: area: ci, team: turborepo, team: turbopack

#5445 chore(turborepo-docs): typo in code generation
  docs/pages/repo/docs/core-concepts/monorepos/code-generation.mdx
Labels: area: docs, team: turborepo

#5419 remove ChunkingType::Separate
  crates/turbopack-core/src/chunk/mod.rs
  crates/turbopack-core/src/introspect/asset.rs
  crates/turbopack-css/src/chunk/mod.rs
  crates/turbopack-css/src/chunk/single_item_chunk/reference.rs
  crates/turbopack-ecmascript/src/chunk/content.rs
  crates/turbopack-ecmascript/src/chunk/mod.rs
  crates/turbopack-ecmascript/src/references/esm/base.rs
  crates/turbopack-ecmascript/src/references/esm/dynamic.rs
Labels: team: turbopack

#5457 Fix internal JS/TS references not being processed
  crates/turbopack/src/module_options/mod.rs
  crates/turbopack/src/module_options/module_rule.rs
Labels: team: turbopack

#5455 use dotenvs package instead
  Cargo.lock
  crates/turbo-tasks-env/Cargo.toml
  crates/turbo-tasks-env/src/dotenv.rs
  crates/turbopack-tests/tests/snapshot/env/env/input/.env
  crates/turbopack-tests/tests/snapshot/env/env/input/index.js
  crates/turbopack-tests/tests/snapshot/env/env/output/crates_turbopack-tests_tests_snapshot_env_env_input__env__env_b53fce.js
  crates/turbopack-tests/tests/snapshot/env/env/output/crates_turbopack-tests_tests_snapshot_env_env_input__env__env_b53fce.js.map
  crates/turbopack-tests/tests/snapshot/env/env/output/crates_turbopack-tests_tests_snapshot_env_env_input_index_b53fce.js
  crates/turbopack-tests/tests/snapshot/env/env/output/crates_turbopack-tests_tests_snapshot_env_env_input_index_b53fce.js.map
Labels: team: turbopack

#5458 Fix internal mjs/mts references as well
  crates/turbopack/src/module_options/mod.rs
Labels: team: turbopack

#5464 docs: update create-new.mdx
  docs/pages/repo/docs/getting-started/create-new.mdx
Labels: area: docs, team: turborepo

#5461 use a lock to ensure atomic invalidation from file changes
  crates/turbo-tasks-fs/src/lib.rs
Labels: team: turbopack

#5469 allow hmr tests to correctly detect hmr event
  crates/turbopack-ecmascript-runtime/js/src/dev/client/hmr-client.ts
Labels: team: turbopack

#5474 fix(ci): Pinning action versions
  .github/actions/setup-node/action.yml
  .github/workflows/test.yml
Labels: area: ci, team: turborepo, team: turbopack

#5371 test(turborepo): Create Cache Tests
  Cargo.lock
  Cargo.toml
  crates/turborepo-cache/Cargo.toml
  crates/turborepo-cache/src/cache_archive/create.rs
  crates/turborepo-cache/src/cache_archive/restore.rs
  crates/turborepo-paths/src/absolute_system_path.rs
  crates/turborepo-scm/Cargo.toml
Labels: team: turborepo, team: turbopack

#5435 fix(turborepo): properly tag errors when running in GH Actions
  cli/internal/run/real_run.go
  cli/internal/ui/ui_factory.go
  turborepo-tests/integration/tests/_fixtures/ordered/packages/util/package.json
  turborepo-tests/integration/tests/_fixtures/ordered/turbo.json
  turborepo-tests/integration/tests/ordered/github.t
Labels: team: turborepo

#5376 Update nightly toolchain
  Cargo.lock
  cli/internal/ffi/ffi.go
  crates/turbo-tasks-bytes/src/stream.rs
  crates/turbo-tasks-fs/examples/hash_directory.rs
  crates/turbo-tasks-fs/examples/hash_glob.rs
  crates/turbo-tasks-fs/src/lib.rs
  crates/turbo-tasks-memory/src/cell.rs
  crates/turbo-tasks-memory/src/lib.rs
  crates/turbo-tasks-memory/src/stats.rs
  crates/turbo-tasks-memory/src/task.rs
  crates/turbo-tasks-memory/src/task/meta_state.rs
  crates/turbo-tasks-memory/src/viz/table.rs
  crates/turbo-tasks/src/id.rs
  crates/turbo-tasks/src/lib.rs
  crates/turbo-tasks/src/manager.rs
  crates/turbopack-cli-utils/src/runtime_entry.rs
  crates/turbopack-core/src/chunk/data.rs
  crates/turbopack-core/src/chunk/evaluate.rs
  crates/turbopack-core/src/chunk/mod.rs
  crates/turbopack-core/src/source_map/source_map_asset.rs
  crates/turbopack-css/src/module_asset.rs
  crates/turbopack-css/src/util.rs
  crates/turbopack-dev/src/chunking_context.rs
  crates/turbopack-dev/src/ecmascript/merged/update.rs
  crates/turbopack-dev/src/ecmascript/optimize.rs
  crates/turbopack-ecmascript/src/analyzer/graph.rs
  crates/turbopack-ecmascript/src/analyzer/mod.rs
  crates/turbopack-ecmascript/src/analyzer/well_known.rs
  crates/turbopack-ecmascript/src/code_gen.rs
  crates/turbopack-ecmascript/src/references/mod.rs
  crates/turbopack-image/src/process/mod.rs
  crates/turbopack-image/src/process/svg.rs
  crates/turbopack-node/src/lib.rs
  crates/turbopack-node/src/render/node_api_source.rs
  crates/turbopack-node/src/render/rendered_source.rs
  crates/turbopack-node/src/transforms/postcss.rs
  crates/turbopack-node/src/transforms/webpack.rs
  crates/turbopack-tests/tests/execution.rs
  crates/turbopack-tests/tests/snapshot.rs
  crates/turbopack/examples/turbopack.rs
  crates/turbopack/src/condition.rs
  crates/turbopack/src/lib.rs
  crates/turbopack/tests/node-file-trace.rs
  crates/turborepo-cache/src/cache_archive/restore.rs
  crates/turborepo-globwatch/src/lib.rs
  crates/turborepo-lib/src/opts.rs
  crates/turborepo-lib/src/package_graph/builder.rs
  crates/turborepo-lib/src/package_manager/mod.rs
  crates/turborepo-lockfiles/src/pnpm/data.rs
  rust-toolchain
  xtask/src/main.rs
Labels: team: turborepo, team: turbopack

#5477 Module Trait
  crates/node-file-trace/src/lib.rs
  crates/turbopack-build/src/chunking_context.rs
  crates/turbopack-cli/src/dev/web_entry_source.rs
  crates/turbopack-core/src/chunk/available_assets.rs
  crates/turbopack-core/src/chunk/evaluate.rs
  crates/turbopack-core/src/chunk/mod.rs
  crates/turbopack-core/src/context.rs
  crates/turbopack-core/src/introspect/asset.rs
  crates/turbopack-core/src/lib.rs
  crates/turbopack-core/src/module.rs
  crates/turbopack-core/src/raw_module.rs
  crates/turbopack-core/src/reference/mod.rs
  crates/turbopack-css/src/asset.rs
  crates/turbopack-css/src/chunk/mod.rs
  crates/turbopack-css/src/embed.rs
  crates/turbopack-css/src/global_asset.rs
  crates/turbopack-css/src/module_asset.rs
  crates/turbopack-css/src/references/compose.rs
  crates/turbopack-css/src/references/import.rs
  crates/turbopack-css/src/references/internal.rs
  crates/turbopack-dev-server/src/html.rs
  crates/turbopack-dev/src/chunking_context.rs
  crates/turbopack-ecmascript/src/chunk/item.rs
  crates/turbopack-ecmascript/src/chunk/placeable.rs
  crates/turbopack-ecmascript/src/chunk_group_files_asset.rs
  crates/turbopack-ecmascript/src/lib.rs
  crates/turbopack-ecmascript/src/manifest/chunk_asset.rs
  crates/turbopack-ecmascript/src/references/amd.rs
  crates/turbopack-ecmascript/src/references/cjs.rs
  crates/turbopack-ecmascript/src/references/esm/base.rs
  crates/turbopack-ecmascript/src/references/esm/dynamic.rs
  crates/turbopack-ecmascript/src/references/esm/module_id.rs
  crates/turbopack-ecmascript/src/references/esm/url.rs
  crates/turbopack-ecmascript/src/references/pattern_mapping.rs
  crates/turbopack-ecmascript/src/references/require_context.rs
  crates/turbopack-ecmascript/src/references/typescript.rs
  crates/turbopack-ecmascript/src/tree_shake/asset.rs
  crates/turbopack-json/src/lib.rs
  crates/turbopack-mdx/src/lib.rs
  crates/turbopack-node/src/evaluate.rs
  crates/turbopack-node/src/lib.rs
  crates/turbopack-node/src/transforms/postcss.rs
  crates/turbopack-node/src/transforms/webpack.rs
  crates/turbopack-static/src/lib.rs
  crates/turbopack-tests/tests/execution.rs
  crates/turbopack-tests/tests/snapshot.rs
  crates/turbopack/benches/node_file_trace.rs
  crates/turbopack/examples/turbopack.rs
  crates/turbopack/src/lib.rs
  crates/turbopack/src/module_options/custom_module_type.rs
  crates/turbopack/src/transition/mod.rs
  crates/turbopack/tests/node-file-trace.rs
Labels: team: turbopack

#5479 chore: Windows ARM Compilation
  Cargo.lock
  Cargo.toml
  crates/turborepo-cache/Cargo.toml
  crates/turborepo-cache/src/cache_archive/restore.rs
  crates/turborepo-cache/src/signature_authentication.rs
  crates/turborepo-lib/src/cli.rs
  crates/turborepo/Cargo.toml
Labels: team: turborepo, team: turbopack

#5406 feat(turborepo): Calculate package inference
  crates/turborepo-lib/src/opts.rs
  crates/turborepo-lib/src/package_graph/mod.rs
  crates/turborepo-lib/src/run/mod.rs
  crates/turborepo-lib/src/run/scope/filter.rs
  crates/turborepo-lib/src/run/scope/mod.rs
  crates/turborepo-paths/src/absolute_system_path.rs
Labels: team: turborepo

#5436 feat(lockfile) hide berry lockfile lifetime
  crates/turborepo-ffi/src/lockfile.rs
  crates/turborepo-lockfiles/Cargo.toml
  crates/turborepo-lockfiles/examples/berry_resolutions.rs
  crates/turborepo-lockfiles/src/berry/mod.rs
  crates/turborepo-lockfiles/src/berry/protocol_resolver.rs
  crates/turborepo-lockfiles/src/berry/resolution.rs
  crates/turborepo-lockfiles/src/berry/ser.rs
Labels: team: turborepo

#5228 feat(turborepo): Root turbo.json parsing
  Cargo.lock
  Cargo.toml
  cli/internal/run/dry_run.go
  cli/internal/run/real_run.go
  cli/internal/run/run.go
  crates/turborepo-lib/Cargo.toml
  crates/turborepo-lib/src/commands/link.rs
  crates/turborepo-lib/src/commands/logout.rs
  crates/turborepo-lib/src/commands/unlink.rs
  crates/turborepo-lib/src/config/mod.rs
  crates/turborepo-lib/src/config/repo.rs
  crates/turborepo-lib/src/config/turbo.rs
  crates/turborepo-lib/src/config/user.rs
  crates/turborepo-lib/src/opts.rs
  crates/turborepo-lib/src/package_json.rs
  crates/turborepo-lib/src/run/graph.rs
  crates/turborepo-lib/src/run/mod.rs
  crates/turborepo-lib/src/task_graph/mod.rs
  crates/turborepo-paths/src/relative_unix_path_buf.rs
Labels: team: turborepo, team: turbopack

#5489 feat(turborepo): More verbose status error
  crates/turborepo-scm/src/status.rs
Labels: team: turborepo

#5472 chore: suggest git upgrade
  crates/turborepo-scm/src/lib.rs
Labels: team: turborepo

#5492 Use Workspace Configurations.
  examples/kitchen-sink/README.md
  examples/kitchen-sink/apps/admin/turbo.json
  examples/kitchen-sink/apps/api/turbo.json
  examples/kitchen-sink/apps/blog/turbo.json
  examples/kitchen-sink/apps/storefront/turbo.json
  examples/kitchen-sink/packages/logger/turbo.json
  examples/kitchen-sink/packages/ui/turbo.json
  examples/kitchen-sink/pnpm-lock.yaml
  examples/kitchen-sink/turbo.json
Labels: area: examples, team: turborepo

#5491 fix(turborepo): use serde_jsonc recommended pattern.
  Cargo.lock
  crates/turborepo-lib/Cargo.toml
  crates/turborepo-lib/src/config/mod.rs
  crates/turborepo-lib/src/config/turbo.rs
Labels: team: turborepo

#5497 chore: Fix clippy errors and remove old feature directives
  crates/turborepo-cache/src/cache_archive/create.rs
  crates/turborepo-cache/src/cache_archive/restore.rs
  crates/turborepo-cache/src/signature_authentication.rs
  crates/turborepo-globwalk/src/lib.rs
  crates/turborepo-lib/src/cli.rs
  crates/turborepo-lib/src/config/turbo.rs
  crates/turborepo-lib/src/globwatcher/mod.rs
  crates/turborepo-lib/src/package_graph/builder.rs
  crates/turborepo-lib/src/package_graph/mod.rs
  crates/turborepo-lib/src/package_manager/mod.rs
  crates/turborepo-lib/src/run/scope/filter.rs
  crates/turborepo-lib/src/run/scope/mod.rs
  crates/turborepo-lockfiles/src/lib.rs
  crates/turborepo-lockfiles/src/yarn1/de.rs
  crates/turborepo-scm/src/git.rs
  crates/turborepo-scm/src/hash_object.rs
  crates/turborepo-scm/src/ls_tree.rs
  crates/turborepo-scm/src/manual.rs
  crates/turborepo-scm/src/package_deps.rs
  crates/turborepo-scm/src/status.rs
Labels: team: turborepo

#5498 Revert "fix(turborepo): use serde_jsonc recommended pattern."
  Cargo.lock
  Cargo.toml
  crates/turborepo-lib/Cargo.toml
  crates/turborepo-lib/src/config/turbo.rs
Labels: team: turborepo, team: turbopack

#5494 add reporting of console messages
  packages/devlow-bench/README.md
  packages/devlow-bench/src/browser.ts
  packages/devlow-bench/src/describe.ts
Labels: team: turborepo, team: turbopack

#5448 Misc. changes to support App Router build
  crates/turbo-tasks/src/primitives.rs
  crates/turbopack-build/src/chunking_context.rs
  crates/turbopack-build/src/ecmascript/node/entry/chunk.rs
  crates/turbopack-cli/src/dev/mod.rs
  crates/turbopack-cli/src/dev/web_entry_source.rs
  crates/turbopack-css/src/chunk/mod.rs
  crates/turbopack-dev-server/src/html.rs
  crates/turbopack-dev/src/chunking_context.rs
  crates/turbopack-dev/src/ecmascript/evaluate/chunk.rs
  crates/turbopack-dev/src/ecmascript/merged/update.rs
  crates/turbopack-ecmascript-plugins/src/transform/directives/client.rs
  crates/turbopack-ecmascript-runtime/js/src/dev/runtime/base/runtime-base.ts
  crates/turbopack-ecmascript-runtime/js/src/dev/runtime/dom/runtime-backend-dom.ts
  crates/turbopack-ecmascript-runtime/js/src/shared/runtime-utils.ts
  crates/turbopack-ecmascript-runtime/src/dev_runtime.rs
  crates/turbopack-tests/tests/execution.rs
  crates/turbopack-tests/tests/snapshot.rs
  crates/turbopack-tests/tests/snapshot/runtime/default_build_runtime/output/[turbopack]_runtime.js
  crates/turbopack-tests/tests/snapshot/runtime/default_build_runtime/output/[turbopack]_runtime.js.map
  crates/turbopack-tests/tests/snapshot/runtime/default_dev_runtime/output/79fb1_turbopack-tests_tests_snapshot_runtime_default_dev_runtime_input_index_e60ecd.js
  crates/turbopack-tests/tests/snapshot/runtime/default_dev_runtime/output/79fb1_turbopack-tests_tests_snapshot_runtime_default_dev_runtime_input_index_e60ecd.js.map
  crates/turbopack/src/transition/context_transition.rs
  crates/turbopack/src/transition/mod.rs
Labels: team: turbopack

#5065 feat(turborepo): Port HTTP Cache
  Cargo.lock
  cli/internal/client/cache.go
  cli/internal/ffi/ffi.go
  crates/turborepo-api-client/Cargo.toml
  crates/turborepo-api-client/src/lib.rs
  crates/turborepo-cache/Cargo.toml
  crates/turborepo-cache/src/cache_archive/create.rs
  crates/turborepo-cache/src/cache_archive/mod.rs
  crates/turborepo-cache/src/cache_archive/restore.rs
  crates/turborepo-cache/src/http.rs
  crates/turborepo-cache/src/lib.rs
  crates/turborepo-lib/src/commands/mod.rs
  crates/turborepo-vercel-api-mock/Cargo.toml
  crates/turborepo-vercel-api-mock/src/lib.rs
Labels: team: turborepo

#5508 fix(turborepo): Copy bytes from stdout and stderr before saving them
  cli/internal/run/real_run.go
Labels: team: turborepo

#5507 OutputAsset trait
  crates/node-file-trace/src/nft_json.rs
  crates/turbopack-build/src/chunking_context.rs
  crates/turbopack-build/src/ecmascript/node/chunk.rs
  crates/turbopack-build/src/ecmascript/node/entry/chunk.rs
  crates/turbopack-build/src/ecmascript/node/entry/runtime.rs
  crates/turbopack-core/src/chunk/chunking_context.rs
  crates/turbopack-core/src/chunk/data.rs
  crates/turbopack-core/src/chunk/mod.rs
  crates/turbopack-core/src/lib.rs
  crates/turbopack-core/src/output.rs
  crates/turbopack-core/src/proxied_asset.rs
  crates/turbopack-core/src/raw_output.rs
  crates/turbopack-core/src/source_map/source_map_asset.rs
  crates/turbopack-css/src/chunk/mod.rs
  crates/turbopack-css/src/chunk/single_item_chunk/chunk.rs
  crates/turbopack-css/src/chunk/single_item_chunk/source_map.rs
  crates/turbopack-css/src/chunk/source_map.rs
  crates/turbopack-dev-server/src/html.rs
  crates/turbopack-dev/src/chunking_context.rs
  crates/turbopack-dev/src/ecmascript/chunk.rs
  crates/turbopack-dev/src/ecmascript/evaluate/chunk.rs
  crates/turbopack-dev/src/ecmascript/list/asset.rs
  crates/turbopack-ecmascript/src/chunk_group_files_asset.rs
  crates/turbopack-ecmascript/src/manifest/chunk_asset.rs
  crates/turbopack-ecmascript/src/manifest/loader_item.rs
  crates/turbopack-node/src/bootstrap.rs
  crates/turbopack-static/src/fixed.rs
  crates/turbopack-static/src/lib.rs
  crates/turbopack-tests/tests/snapshot.rs
  crates/turbopack/src/rebase/mod.rs
Labels: team: turbopack

#5513 Add any_content_changed_of_output_assets
  crates/turbopack-core/src/changed.rs
Labels: team: turbopack

#5514 chore: Added clippy deny all to crates
  crates/turborepo-api-client/src/lib.rs
  crates/turborepo-cache/src/http.rs
  crates/turborepo-cache/src/lib.rs
  crates/turborepo-env/src/lib.rs
  crates/turborepo-fs/src/lib.rs
  crates/turborepo-globwalk/src/lib.rs
  crates/turborepo-lib/src/lib.rs
  crates/turborepo-lockfiles/src/lib.rs
  crates/turborepo-paths/src/lib.rs
  crates/turborepo-pidlock/src/lib.rs
  crates/turborepo-scm/src/lib.rs
  crates/turborepo-updater/src/lib.rs
  crates/turborepo-vercel-api-mock/src/lib.rs
  crates/turborepo/src/main.rs
Labels: team: turborepo

#5518 Fix link.
  docs/pages/repo/docs/core-concepts/remote-caching.mdx
Labels: area: docs, team: turborepo

#5520 Better spot for link.
  docs/pages/repo/docs/core-concepts/remote-caching.mdx
Labels: area: docs, team: turborepo

#5505 Implement hashing fallback
  crates/turborepo-paths/src/absolute_system_path.rs
  crates/turborepo-scm/src/package_deps.rs
Labels: team: turborepo

#5504 chore: Extend examples timeout
  .github/workflows/test.yml
Labels: area: ci, team: turborepo, team: turbopack

#5517 chore: use fs-err in turborepo fs related libs
  Cargo.lock
  crates/turborepo-fs/Cargo.toml
  crates/turborepo-fs/src/lib.rs
  crates/turborepo-paths/Cargo.toml
  crates/turborepo-paths/src/absolute_system_path.rs
  crates/turborepo-paths/src/absolute_system_path_buf.rs
Labels: team: turborepo

#5530 fix(turborepo): Rebuild turbo if Go code has changed
  crates/turborepo/build.rs
Labels: team: turborepo

#5532 fix(turborepo): Export and match on our copy of BasicUI
  cli/internal/spinner/spinner.go
  cli/internal/ui/ui_factory.go
Labels: team: turborepo

#5527 AdjacencyMap::reverse_topological (+ fixes)
  crates/turbo-tasks-macros/src/derive/trace_raw_vcs_macro.rs
  crates/turbo-tasks-macros/src/derive/value_debug_format_macro.rs
  crates/turbo-tasks/src/graph/adjacency_map.rs
Labels: team: turbopack

#5544 add direct cycle detection
  crates/turbo-tasks-memory/src/memory_backend.rs
Labels: team: turbopack

#5539 fix(turborepo): Set corepack dir for examples
  examples-tests/setup.sh
Labels: team: turborepo, team: turbopack

#5537 Update storybook.mdx
  docs/pages/repo/docs/handbook/tools/storybook.mdx
Labels: area: docs, team: turborepo

#5463 docs: document log order
  docs/pages/repo/docs/reference/command-line-reference/run.mdx
Labels: area: docs, team: turborepo

#5547 Add missing feature to syn
  crates/turbo-tasks-macros-shared/Cargo.toml
Labels: team: turbopack

#5540 chore(turborepo): Turborepo owns the examples-tests directory
  .github/CODEOWNERS
Labels: team: turborepo, team: turbopack

#5535 feat(turborepo): Add task ids to failure reports
  cli/internal/run/real_run.go
  turborepo-tests/integration/tests/ordered/github.t
  turborepo-tests/integration/tests/run-logging/errors-only.t
  turborepo-tests/integration/tests/run/continue.t
  turborepo-tests/integration/tests/run/one-script-error.t
Labels: team: turborepo

#5555 move references() to specific traits
  crates/turbopack-build/src/ecmascript/node/chunk.rs
  crates/turbopack-build/src/ecmascript/node/entry/chunk.rs
  crates/turbopack-build/src/ecmascript/node/entry/runtime.rs
  crates/turbopack-core/src/asset.rs
  crates/turbopack-core/src/changed.rs
  crates/turbopack-core/src/chunk/available_assets.rs
  crates/turbopack-core/src/chunk/mod.rs
  crates/turbopack-core/src/file_source.rs
  crates/turbopack-core/src/introspect/asset.rs
  crates/turbopack-core/src/module.rs
  crates/turbopack-core/src/output.rs
  crates/turbopack-core/src/proxied_asset.rs
  crates/turbopack-core/src/reference/mod.rs
  crates/turbopack-css/src/asset.rs
  crates/turbopack-css/src/chunk/mod.rs
  crates/turbopack-css/src/chunk/single_item_chunk/chunk.rs
  crates/turbopack-css/src/global_asset.rs
  crates/turbopack-css/src/module_asset.rs
  crates/turbopack-dev-server/src/html.rs
  crates/turbopack-dev/src/ecmascript/chunk.rs
  crates/turbopack-dev/src/ecmascript/evaluate/chunk.rs
  crates/turbopack-dev/src/ecmascript/list/asset.rs
  crates/turbopack-ecmascript/src/chunk/mod.rs
  crates/turbopack-ecmascript/src/chunk_group_files_asset.rs
  crates/turbopack-ecmascript/src/lib.rs
  crates/turbopack-ecmascript/src/manifest/chunk_asset.rs
  crates/turbopack-ecmascript/src/manifest/chunk_item.rs
  crates/turbopack-ecmascript/src/references/require_context.rs
  crates/turbopack-ecmascript/src/tree_shake/asset.rs
  crates/turbopack-ecmascript/src/tree_shake/chunk_item.rs
  crates/turbopack-ecmascript/src/typescript/mod.rs
  crates/turbopack-ecmascript/src/webpack/mod.rs
  crates/turbopack-mdx/src/lib.rs
  crates/turbopack-node/src/bootstrap.rs
  crates/turbopack-node/src/render/rendered_source.rs
  crates/turbopack-node/src/transforms/postcss.rs
  crates/turbopack-tests/tests/snapshot.rs
  crates/turbopack/src/rebase/mod.rs
Labels: team: turbopack

#5533 fix(turborepo): Allow users to select a Vercel team when linking a repository to a Space
  crates/turborepo-lib/src/commands/link.rs
Labels: team: turborepo

#5543 Remove binary optimization step.
  packages/turbo/install.js
Labels: team: turborepo

#5557 Ensure output assets reference only output assets
  crates/turbopack-build/src/ecmascript/node/chunk.rs
  crates/turbopack-build/src/ecmascript/node/entry/chunk.rs
  crates/turbopack-build/src/ecmascript/node/entry/runtime.rs
  crates/turbopack-core/src/changed.rs
  crates/turbopack-core/src/chunk/data.rs
  crates/turbopack-core/src/chunk/mod.rs
  crates/turbopack-core/src/introspect/asset.rs
  crates/turbopack-core/src/output.rs
  crates/turbopack-core/src/proxied_asset.rs
  crates/turbopack-core/src/reference/mod.rs
  crates/turbopack-core/src/source_map/mod.rs
  crates/turbopack-core/src/source_map/source_map_asset.rs
  crates/turbopack-css/src/chunk/mod.rs
  crates/turbopack-css/src/chunk/single_item_chunk/chunk.rs
  crates/turbopack-css/src/chunk/single_item_chunk/mod.rs
  crates/turbopack-css/src/chunk/single_item_chunk/reference.rs
  crates/turbopack-css/src/chunk/single_item_chunk/source_map.rs
  crates/turbopack-css/src/chunk/source_map.rs
  crates/turbopack-css/src/embed.rs
  crates/turbopack-dev-server/src/html.rs
  crates/turbopack-dev-server/src/source/asset_graph.rs
  crates/turbopack-dev/src/ecmascript/chunk.rs
  crates/turbopack-dev/src/ecmascript/evaluate/chunk.rs
  crates/turbopack-dev/src/ecmascript/list/asset.rs
  crates/turbopack-ecmascript/src/chunk/mod.rs
  crates/turbopack-ecmascript/src/manifest/chunk_item.rs
  crates/turbopack-ecmascript/src/manifest/loader_item.rs
  crates/turbopack-node/src/bootstrap.rs
  crates/turbopack-node/src/lib.rs
  crates/turbopack-node/src/render/rendered_source.rs
  crates/turbopack-static/src/lib.rs
  crates/turbopack-tests/tests/snapshot.rs
  crates/turbopack/src/graph/mod.rs
  crates/turbopack/src/lib.rs
  crates/turbopack/src/rebase/mod.rs
Labels: team: turbopack

#5552 chore: no longer convert in relative unix path constructor
  crates/turborepo-cache/src/cache_archive/create.rs
  crates/turborepo-paths/src/anchored_system_path.rs
  crates/turborepo-paths/src/anchored_system_path_buf.rs
  crates/turborepo-paths/src/relative_unix_path_buf.rs
  crates/turborepo-scm/src/ls_tree.rs
Labels: team: turborepo

#5551 fix(lockfile): Fix directory resolution variant
  crates/turborepo-lockfiles/src/pnpm/data.rs
Labels: team: turborepo

#5554 feat(turborepo): Add proxy support to create-turbo and turbo-gen
  packages/create-turbo/package.json
  packages/create-turbo/src/cli.ts
  packages/turbo-gen/package.json
  packages/turbo-gen/src/cli.ts
  pnpm-lock.yaml
Labels: pkg: create-turbo, team: turborepo, pkg: turbo-gen

#5563 make with_layer return Vc<Self>
  crates/turbopack-build/src/chunking_context.rs
  crates/turbopack-core/src/chunk/chunking_context.rs
  crates/turbopack-dev/src/chunking_context.rs
  crates/turbopack/src/transition/mod.rs
Labels: team: turbopack

#5567 Remove unnecessary ValueDebugFormat item, hide Vc field
  crates/turbo-tasks-macros/src/derive/value_debug_format_macro.rs
  crates/turbo-tasks-macros/src/derive/value_debug_macro.rs
  crates/turbo-tasks/src/vc/mod.rs
Labels: team: turbopack

#5531 feat: port prune to rust
  Cargo.lock
  cli/internal/cmd/root.go
  cli/internal/ffi/ffi.go
  cli/internal/lockfile/berry_lockfile.go
  cli/internal/lockfile/berry_lockfile_test.go
  cli/internal/lockfile/lockfile.go
  cli/internal/lockfile/npm_lockfile.go
  cli/internal/lockfile/pnpm_lockfile.go
  cli/internal/lockfile/yarn_lockfile.go
  cli/internal/prune/prune.go
  crates/turborepo-ffi/src/lockfile.rs
  crates/turborepo-fs/Cargo.toml
  crates/turborepo-fs/src/lib.rs
  crates/turborepo-lib/Cargo.toml
  crates/turborepo-lib/src/cli.rs
  crates/turborepo-lib/src/commands/info.rs
  crates/turborepo-lib/src/commands/mod.rs
  crates/turborepo-lib/src/commands/prune.rs
  crates/turborepo-lib/src/config/turbo.rs
  crates/turborepo-lib/src/daemon/endpoint.rs
  crates/turborepo-lib/src/package_graph/builder.rs
  crates/turborepo-lib/src/package_graph/mod.rs
  crates/turborepo-lib/src/package_json.rs
  crates/turborepo-lib/src/package_manager/mod.rs
  crates/turborepo-lib/src/package_manager/pnpm.rs
  crates/turborepo-lib/src/package_manager/yarn.rs
  crates/turborepo-lockfiles/Cargo.toml
  crates/turborepo-lockfiles/src/berry/identifiers.rs
  crates/turborepo-lockfiles/src/berry/mod.rs
  crates/turborepo-lockfiles/src/error.rs
  crates/turborepo-lockfiles/src/lib.rs
  crates/turborepo-lockfiles/src/npm.rs
  crates/turborepo-lockfiles/src/pnpm/data.rs
  crates/turborepo-lockfiles/src/pnpm/mod.rs
  crates/turborepo-lockfiles/src/yarn1/mod.rs
  crates/turborepo-paths/Cargo.toml
  crates/turborepo-paths/src/absolute_system_path.rs
  crates/turborepo-paths/src/absolute_system_path_buf.rs
  crates/turborepo-paths/src/anchored_system_path.rs
  crates/turborepo-paths/src/relative_unix_path.rs
  crates/turborepo-paths/src/relative_unix_path_buf.rs
  turborepo-tests/integration/tests/_fixtures/monorepo_with_root_dep/turbo.json
  turborepo-tests/integration/tests/prune/docker.t
  turborepo-tests/integration/tests/prune/out_dir.t
  turborepo-tests/integration/tests/prune/produces_valid_turbo_json.t
Labels: team: turborepo

#5576 Extract shared HMR utils to their own modules/crates
  Cargo.lock
  Cargo.toml
  crates/turbopack-binding/Cargo.toml
  crates/turbopack-binding/src/lib.rs
  crates/turbopack-core/src/version.rs
  crates/turbopack-dev-server/Cargo.toml
  crates/turbopack-dev-server/src/update/mod.rs
  crates/turbopack-dev-server/src/update/server.rs
  crates/turbopack-dev-server/src/update/stream.rs
  crates/turbopack-ecmascript-hmr-protocol/Cargo.toml
  crates/turbopack-ecmascript-hmr-protocol/src/lib.rs
Labels: team: turborepo, team: turbopack

#5503 feat(turbopack_core): define trait for diagnostics
  crates/turbopack-core/src/diagnostics/mod.rs
  crates/turbopack-core/src/lib.rs
Labels: pr: automerge, team: turbopack

#5578 fix: Forward verbosity flags to local turbo
  crates/turborepo-lib/src/shim.rs
  turborepo-tests/integration/tests/find_turbo/hard_mode.t
  turborepo-tests/integration/tests/find_turbo/hoisted.t
  turborepo-tests/integration/tests/find_turbo/linked.t
  turborepo-tests/integration/tests/find_turbo/nested.t
  turborepo-tests/integration/tests/find_turbo/unplugged.t
  turborepo-tests/integration/tests/find_turbo/unplugged_env_moved.t
  turborepo-tests/integration/tests/find_turbo/unplugged_moved.t
Labels: team: turborepo

#5487 turbopack-cli: modularize code to support turbopack build
  Cargo.lock
  crates/node-file-trace/src/lib.rs
  crates/turbopack-build/src/chunking_context.rs
  crates/turbopack-cli-utils/src/issue.rs
  crates/turbopack-cli/Cargo.toml
  crates/turbopack-cli/benches/bundler.rs
  crates/turbopack-cli/src/arguments.rs
  crates/turbopack-cli/src/contexts.rs
  crates/turbopack-cli/src/dev/mod.rs
  crates/turbopack-cli/src/dev/web_entry_source.rs
  crates/turbopack-cli/src/lib.rs
  crates/turbopack-cli/src/util.rs
  crates/turbopack-core/src/issue/mod.rs
  crates/turbopack-core/src/reference/mod.rs
  crates/turbopack-dev-server/src/http.rs
  crates/turbopack-dev-server/src/lib.rs
Labels: team: turbopack

#5488 turbopack-cli: implement `turbopack build`
  crates/turbo-tasks/src/join_iter_ext.rs
  crates/turbopack-cli/src/arguments.rs
  crates/turbopack-cli/src/build/mod.rs
  crates/turbopack-cli/src/contexts.rs
  crates/turbopack-cli/src/dev/web_entry_source.rs
  crates/turbopack-cli/src/lib.rs
  crates/turbopack-cli/src/main.rs
  crates/turbopack-cli/src/util.rs
Labels: team: turbopack

#5575 Update `swc_core` to `v0.79.22`
  Cargo.lock
  Cargo.toml
  crates/turbopack-ecmascript-plugins/src/transform/modularize_imports.rs
Labels: team: turborepo, team: turbopack

#5574 chore: improve turbopack test snapshots and error recovery
  Cargo.lock
  crates/turbopack-test-utils/Cargo.toml
  crates/turbopack-test-utils/src/snapshot.rs
  crates/turbopack-tests/Cargo.toml
  crates/turbopack-tests/tests/execution.rs
  crates/turbopack-tests/tests/execution/turbopack/async-modules/export-all/issues/unexpected export __star__-884def.txt
  crates/turbopack-tests/tests/execution/turbopack/basic/comptime/issues/Error resolving commonjs request-ee63e3.txt
  crates/turbopack-tests/tests/execution/turbopack/basic/error/issues/Reading source code for parsing failed-3b6255.txt
  crates/turbopack-tests/tests/execution/turbopack/basic/node-default-import/issues/Specified module format (CommonJs) is not matching-5fdb68.txt
  crates/turbopack-tests/tests/execution/turbopack/basic/node-default-import/issues/Specified module format (EcmaScript Modules) is no-34c311.txt
  crates/turbopack-tests/tests/snapshot.rs
  crates/turbopack-tests/tests/snapshot/export-alls/cjs-2/issues/unexpected export __star__-c9d8a6.txt
  crates/turbopack-tests/tests/snapshot/export-alls/cjs-script/issues/unexpected export __star__-38cf67.txt
  crates/turbopack-tests/tests/snapshot/imports/json/issues/Code generation for chunk item errored-5567c6.txt
  crates/turbopack-tests/tests/snapshot/imports/resolve_error_cjs/issues/Error resolving commonjs request-b97684.txt
  crates/turbopack-tests/tests/snapshot/imports/resolve_error_esm/issues/Error resolving EcmaScript Modules request-aff400.txt
Labels: team: turbopack

#5566 feat: port package graph validation
  crates/turborepo-lib/src/package_graph/builder.rs
  crates/turborepo-lib/src/package_graph/mod.rs
Labels: team: turborepo

#5596 fix: re-enable go-daemon
  crates/turborepo/Cargo.toml
Labels: team: turborepo

#5605 fix(prune): copy pnpm workspace file to top level out directory
  crates/turborepo-lib/src/commands/prune.rs
  turborepo-tests/integration/tests/prune/docker.t
Labels: team: turborepo

#5607 fix: use correct enum values for task output mode
  crates/turborepo-lib/src/config/turbo.rs
  crates/turborepo-lib/src/task_graph/mod.rs
Labels: team: turborepo

#5583 Change READMEs of created turborepos (reflect appDir)
  examples/basic/apps/docs/README.md
  examples/basic/apps/web/README.md
  examples/with-npm/apps/docs/README.md
  examples/with-npm/apps/web/README.md
  examples/with-prisma/apps/web/README.md
  examples/with-react-native-web/apps/web/README.md
  examples/with-tailwind/apps/docs/README.md
  examples/with-tailwind/apps/web/README.md
Labels: area: examples, team: turborepo

#5609 chore: upgrade pnpm to version that support node 20
  examples/basic/package.json
  examples/design-system/package.json
  examples/kitchen-sink/package.json
  examples/with-changesets/package.json
  examples/with-create-react-app/package.json
  examples/with-svelte/package.json
  examples/with-tailwind/package.json
  examples/with-vite/package.json
Labels: area: examples, team: turborepo

#5619 export namespace object instead commonjs interop object
  crates/turbopack-build/src/ecmascript/node/entry/chunk.rs
  crates/turbopack-tests/tests/snapshot/runtime/default_build_runtime/output/index.entry.js
Labels: team: turbopack

#5621 fix esm export in build runtime
  crates/turbopack-ecmascript-runtime/js/src/build/runtime.ts
  crates/turbopack-tests/tests/snapshot/runtime/default_build_runtime/output/[turbopack]_runtime.js
  crates/turbopack-tests/tests/snapshot/runtime/default_build_runtime/output/[turbopack]_runtime.js.map
Labels: team: turbopack

#5620 Revert "export namespace object instead commonjs interop object"
  crates/turbopack-build/src/ecmascript/node/entry/chunk.rs
  crates/turbopack-tests/tests/snapshot/runtime/default_build_runtime/output/index.entry.js
Labels: team: turbopack

#5614 Allow fallback to be used outside VERCEL
  packages/turbo-ignore/README.md
  packages/turbo-ignore/src/getComparison.ts
Labels: pkg: turbo-ignore, team: turborepo

#5623 fix(turborepo): Parse turbo json with comments
  crates/turborepo-lib/src/config/turbo.rs
Labels: team: turborepo

#5626 remove require.cache clear from chunk loading
  crates/turbopack-ecmascript-runtime/js/src/build/runtime.ts
  crates/turbopack-ecmascript-runtime/js/src/dev/runtime/nodejs/runtime-backend-nodejs.ts
  crates/turbopack-tests/tests/snapshot/runtime/default_build_runtime/output/[turbopack]_runtime.js
  crates/turbopack-tests/tests/snapshot/runtime/default_build_runtime/output/[turbopack]_runtime.js.map
Labels: team: turbopack

#5582 Snapshot tests: canonicalize with dunce
  crates/turbopack-tests/tests/snapshot.rs
  crates/turbopack-tests/tests/util.rs
Labels: team: turbopack

#5633 Turbopack: Sort env vars for compatibility
  crates/turbo-tasks-env/src/command_line.rs
  crates/turbo-tasks-env/src/dotenv.rs
  crates/turbo-tasks-env/src/lib.rs
  crates/turbopack-tests/tests/snapshot/env/env/output/crates_turbopack-tests_tests_snapshot_env_env_input__env__env_b53fce.js
  crates/turbopack-tests/tests/snapshot/env/env/output/crates_turbopack-tests_tests_snapshot_env_env_input__env__env_b53fce.js.map
Labels: team: turbopack
