Repository vercel/turborepo, pull requests merged in 2023-03, with the labels that each got.

#4015 feat(overlay): apply data-* header for the error desc
  crates/next-core/js/src/overlay/internal/container/RuntimeError.tsx
Labels: team: turbopack

#4022 Fix prettier
  cli/turbo.json
Labels: team: turborepo

#4010 Build Requirements for Ubuntu
  crates/turborepo/README.md
Labels: pr: automerge, team: turborepo

#4030 chore(repo): fix markdown checkbox in PR template
  .github/pull_request_template.md
Labels: team: turborepo, team: turbopack

#4033 ci(workflow): fix slack post condition
  .github/workflows/daily-nextjs-integration-test.yml
Labels: area: ci, team: turbopack

#4027 Add missing function from port.
  packages/turbo/node-platform.js
Labels: team: turborepo

#4016 Calculate TaskHash while constructing PackageTask
  cli/integration_tests/basic_monorepo/verbosity.t
  cli/internal/graph/graph.go
  cli/internal/nodes/packagetask.go
  cli/internal/run/dry_run.go
  cli/internal/run/real_run.go
Labels: team: turborepo

#4021 Refactor env package to breakdown env vars for task by source
  cli/internal/env/env.go
  cli/internal/env/env_test.go
  cli/internal/taskhash/taskhash.go
Labels: team: turborepo

#4020 Add task + framework env vars into Dry Run Summary
  cli/integration_tests/basic_monorepo/dry_run.t
  cli/integration_tests/basic_monorepo/dry_run_json.t
  cli/integration_tests/basic_monorepo/monorepo/turbo.json
  cli/integration_tests/basic_monorepo/verbosity.t
  cli/integration_tests/single_package/dry-run.t
  cli/integration_tests/single_package_deps/dry-run.t
  cli/integration_tests/single_package_no_config/dry-run.t
  cli/internal/env/env.go
  cli/internal/graph/graph.go
  cli/internal/nodes/packagetask.go
  cli/internal/run/dry_run.go
  cli/internal/taskhash/taskhash.go
Labels: pr: fixship, team: turborepo

#4011 feat(devserver/http): support gzipped responses
  Cargo.lock
  Cargo.toml
  crates/turbopack-dev-server/Cargo.toml
  crates/turbopack-dev-server/src/http.rs
Labels: pr: automerge, team: turborepo, team: turbopack

#4037 fix(route_matcher): do not include empty segment
  crates/next-core/src/next_route_matcher/path_regex.rs
Labels: pr: automerge, team: turbopack

#4026 debug print errors for nested vcs
  crates/turbo-tasks-macros/src/derive/value_debug_format_macro.rs
Labels: pr: automerge, team: turbopack

#4051 follow up changes from review
  crates/next-core/src/next_client_chunks/with_chunks.rs
  crates/next-core/src/next_client_component/with_client_chunks.rs
  crates/turbopack/src/resolve_options_context.rs
Labels: pr: automerge, team: turbopack

#4053 avoid bundling and execution of modules just of watching
  crates/next-core/src/next_config.rs
  crates/next-core/src/router.rs
  crates/next-dev/src/lib.rs
  crates/turbo-tasks/src/completion.rs
  crates/turbopack-core/src/changed.rs
  crates/turbopack-core/src/issue/mod.rs
  crates/turbopack-core/src/lib.rs
  crates/turbopack-dev-server/src/http.rs
  crates/turbopack-node/src/lib.rs
  crates/turbopack-node/src/transforms/postcss.rs
Labels: team: turbopack

#3891 Only handle issues in dev server
  crates/next-dev/src/lib.rs
Labels: pr: automerge, team: turbopack

#4055 Typo Turobpack -> Turbopack
  .github/workflows/turbopack-nightly-release.yml
Labels: area: ci, team: turborepo, team: turbopack

#4057 chore(repo): remove auto label option
  .github/pull_request_template.md
Labels: team: turborepo, team: turbopack

#4029 fix(codemod): don’t set outputs for cache:false
  packages/turbo-codemod/__tests__/__fixtures__/migrate/old-turbo/package.json
  packages/turbo-codemod/__tests__/migrate.test.ts
  packages/turbo-codemod/__tests__/set-default-outputs.test.ts
  packages/turbo-codemod/src/transforms/set-default-outputs.ts
  packages/turbo-codemod/src/utils/getPackageManager.ts
  packages/turbo-codemod/src/utils/notifyUpdate.ts
Labels: team: turborepo, pkg: turbo-codemod

#3839 Expose module_options and resolve_options in turbotrace
  crates/node-file-trace/src/lib.rs
  crates/node-file-trace/src/main.rs
  crates/turbopack/src/module_options/module_options_context.rs
  crates/turbopack/src/resolve_options_context.rs
Labels: team: turbopack

#4001 Separate tabs for Errors and Warnings in error overlay
  crates/next-core/js/package.json
  crates/next-core/js/src/overlay/internal/container/Errors.tsx
  crates/next-core/js/src/overlay/internal/container/ErrorsToast.tsx
  pnpm-lock.yaml
Labels: team: turbopack

#4005 add env to spawned processes
  crates/next-core/js/src/entry/server-edge-api.tsx
  crates/next-core/src/app_source.rs
  crates/next-core/src/page_source.rs
  crates/next-core/src/router.rs
  crates/turbo-tasks-env/src/lib.rs
  crates/turbopack-node/src/lib.rs
  crates/turbopack-node/src/render/node_api_source.rs
  crates/turbopack-node/src/render/render_proxy.rs
  crates/turbopack-node/src/render/render_static.rs
  crates/turbopack-node/src/render/rendered_source.rs
Labels: team: turbopack

#4013 handle data paths for pages with `getStaticPaths`
  crates/next-core/js/src/internal/page-server-handler.tsx
Labels: team: turbopack

#4058 Hoist TransientInstances in Turbotrace
  crates/node-file-trace/src/lib.rs
Labels: pr: automerge, team: turbopack

#4040 Remove box indirection in Ropes
  crates/turbo-tasks-fs/src/rope.rs
Labels: team: turbopack

#3998 Client timeout
  cli/cmd/turbo/main.go
  cli/go.mod
  cli/go.sum
  cli/integration_tests/no_args.t
  cli/integration_tests/turbo_help.t
  cli/internal/cache/cache.go
  cli/internal/client/client.go
  cli/internal/cmd/root.go
  cli/internal/cmdutil/cmdutil.go
  cli/internal/cmdutil/cmdutil_test.go
  cli/internal/config/config_file.go
  cli/internal/config/config_file_test.go
  cli/internal/daemon/lifecycle.go
  cli/internal/run/run.go
  cli/internal/run/run_spec.go
  cli/internal/turbostate/turbostate.go
  cli/internal/util/parse_concurrency.go
  crates/turborepo-lib/src/cli.rs
  crates/turborepo-lib/src/client.rs
  crates/turborepo-lib/src/commands/link.rs
  crates/turborepo-lib/src/commands/login.rs
  crates/turborepo-lib/src/commands/mod.rs
  crates/turborepo-lib/src/config/client.rs
  crates/turborepo-lib/src/config/mod.rs
Labels: pr: automerge, team: turborepo

#3890 move common dependencies to workspace root
  Cargo.lock
  Cargo.toml
  crates/auto-hash-map/Cargo.toml
  crates/next-binding/Cargo.toml
  crates/next-core/Cargo.toml
  crates/next-dev-tests/Cargo.toml
  crates/next-dev/Cargo.toml
  crates/next-font/Cargo.toml
  crates/next-font/src/lib.rs
  crates/next-transform-dynamic/Cargo.toml
  crates/next-transform-strip-page-exports/Cargo.toml
  crates/next-transform-strip-page-exports/src/lib.rs
  crates/node-file-trace/Cargo.toml
  crates/swc-ast-explorer/Cargo.toml
  crates/turbo-malloc/Cargo.toml
  crates/turbo-tasks-build/Cargo.toml
  crates/turbo-tasks-env/Cargo.toml
  crates/turbo-tasks-fetch/Cargo.toml
  crates/turbo-tasks-fs/Cargo.toml
  crates/turbo-tasks-hash/Cargo.toml
  crates/turbo-tasks-macros-shared/Cargo.toml
  crates/turbo-tasks-macros/Cargo.toml
  crates/turbo-tasks-memory/Cargo.toml
  crates/turbo-tasks-testing/Cargo.toml
  crates/turbo-tasks/Cargo.toml
  crates/turbo-updater/Cargo.toml
  crates/turbopack-cli-utils/Cargo.toml
  crates/turbopack-core/Cargo.toml
  crates/turbopack-create-test-app/Cargo.toml
  crates/turbopack-css/Cargo.toml
  crates/turbopack-dev-server/Cargo.toml
  crates/turbopack-ecmascript/Cargo.toml
  crates/turbopack-env/Cargo.toml
  crates/turbopack-json/Cargo.toml
  crates/turbopack-mdx/Cargo.toml
  crates/turbopack-node/Cargo.toml
  crates/turbopack-static/Cargo.toml
  crates/turbopack-swc-utils/Cargo.toml
  crates/turbopack-tests/Cargo.toml
  crates/turbopack/Cargo.toml
  crates/turborepo-ffi/Cargo.toml
  crates/turborepo-lib/Cargo.toml
  crates/turborepo-scm/Cargo.toml
  crates/turborepo/Cargo.toml
Labels: team: turborepo, team: turbopack

#4047 Add turboVersion into dry run summary
  cli/integration_tests/basic_monorepo/dry_run_json.t
  cli/internal/run/dry_run.go
  cli/internal/run/run.go
Labels: team: turborepo

#4050 Assign Framework to PackageTask struct
  cli/internal/graph/graph.go
  cli/internal/nodes/packagetask.go
  cli/internal/run/dry_run.go
  cli/internal/taskhash/taskhash.go
Labels: team: turborepo

#4012 Fix/handle cross compile release
  .github/CODEOWNERS
  .github/workflows/turborepo-release-step-2.yml
  .gitignore
  cli/Makefile
  cli/cross-release.yml
  cli/darwin-release.yml
  cli/internal/ffi/ffi.go
Labels: pr: fixship, area: ci, team: turborepo, team: turbopack

#4052 Create runsummary package and rename DryRunSummary to RunSummary
  cli/internal/run/dry_run.go
  cli/internal/run/run.go
  cli/internal/runsummary/format_json.go
  cli/internal/runsummary/format_text.go
  cli/internal/runsummary/globalhash_summary.go
  cli/internal/runsummary/run_summary.go
  cli/internal/runsummary/single_package.go
Labels: team: turborepo

#4068 Revert "enable rust codepath in release process"
  cli/combined-release.yml
  cli/combined-shim.yml
  cli/cross-release.yml
  cli/darwin-release.yml
Labels: pr: automerge, team: turborepo

#4039 next/font: Align with Next.js integration test suite
  .github/workflows/setup-nextjs-build.yml
  crates/next-core/Cargo.toml
  crates/next-core/src/app_source.rs
  crates/next-core/src/fallback.rs
  crates/next-core/src/next_client/context.rs
  crates/next-core/src/next_client_chunks/client_chunks_transition.rs
  crates/next-core/src/next_edge/context.rs
  crates/next-core/src/next_font_google/mod.rs
  crates/next-core/src/next_font_google/options.rs
  crates/next-core/src/next_font_google/util.rs
  crates/next-core/src/next_import_map.rs
  crates/next-core/src/next_server/context.rs
  crates/next-core/src/page_source.rs
  crates/next-core/src/router.rs
  crates/next-core/src/web_entry_source.rs
  crates/next-dev-tests/tests/integration/next/font-google/at-next-font/__httpmock__/fonts.yml
  crates/next-dev-tests/tests/integration/next/font-google/at-next-font/input/pages/index.js
  crates/next-dev-tests/tests/integration/next/font-google/basic/__httpmock__/fonts.yml
  crates/next-dev-tests/tests/integration/next/font-google/basic/input/pages/index.js
  crates/next-dev/Cargo.toml
Labels: area: ci, team: turbopack

#4060 inject swc helpers
  crates/next-dev-tests/tests/integration/next/basic/swc-helpers/input/pages/index.js
  crates/turbopack-ecmascript/src/parse.rs
  crates/turbopack-tests/tests/snapshot/swc_transforms/preset_env/output/79fb1_turbopack-tests_tests_snapshot_swc_transforms_preset_env_input_index_097653.js
  crates/turbopack-tests/tests/snapshot/swc_transforms/preset_env/output/79fb1_turbopack-tests_tests_snapshot_swc_transforms_preset_env_input_index_097653.js.map
Labels: pr: automerge, team: turbopack

#4063 improve symbol mangling for profiling
  .cargo/config.toml
Labels: pr: automerge, team: turborepo, team: turbopack

#3959 Remove graceful failure handling in routing
  crates/next-core/src/router_source.rs
  crates/next-dev-tests/tests/integration/turbopack/basic/comptime/input/next.config.js
  crates/next-dev-tests/tests/integration/turbopack/basic/comptime/issues/Error evaluating Node.js code-f68ab4.txt
  crates/next-dev/src/lib.rs
Labels: pr: automerge, team: turbopack

#4080 Make in next.config.js optional
  crates/next-core/src/next_config.rs
Labels: pr: automerge, team: turbopack

#4067 Log the json that we are sending to the go binary
  crates/turborepo/src/main.rs
Labels: pr: automerge, team: turborepo

#4082 ci(workflow): fix build errors
  .github/workflows/test.yml
  crates/next-core/src/next_font_google/mod.rs
Labels: area: ci, team: turborepo, team: turbopack

#4083 fix module options in middleware
  crates/next-core/js/src/entry/router.ts
  crates/next-core/src/app_source.rs
  crates/next-core/src/next_edge/transition.rs
  crates/next-core/src/page_source.rs
  crates/next-core/src/router.rs
Labels: pr: automerge, team: turbopack

#4084 fix(eslint-plugin): fix perf and file perms error
  packages/turbo-utils/package.json
  packages/turbo-utils/src/getTurboConfigs.ts
  packages/turbo-utils/src/getTurboRoot.ts
  packages/turbo-workspaces/src/commands/index.ts
  pnpm-lock.yaml
Labels: team: turborepo, team: turbopack

#4072 ci(workflow): use named volume mount for the next.js tests
  .github/workflows/nextjs-integration-test.yml
  .github/workflows/setup-nextjs-build.yml
Labels: area: ci, team: turborepo, team: turbopack

#3526 Reduce memory usage when writing files
  crates/node-file-trace/src/lib.rs
  crates/turbo-tasks-fs/src/attach.rs
  crates/turbo-tasks-fs/src/embed/fs.rs
  crates/turbo-tasks-fs/src/lib.rs
  crates/turbopack-core/src/server_fs.rs
  crates/turbopack-node/src/evaluate.rs
Labels: pr: automerge, team: turbopack

#4069 Generate a run summary file on turbo run
  cli/go.mod
  cli/go.sum
  cli/integration_tests/basic_monorepo/run_summary.t
  cli/internal/graph/graph.go
  cli/internal/nodes/packagetask.go
  cli/internal/run/dry_run.go
  cli/internal/run/real_run.go
  cli/internal/run/run.go
  cli/internal/run/run_spec.go
  cli/internal/runsummary/format_json.go
  cli/internal/runsummary/run_summary.go
Labels: team: turborepo

#4098 Refactor GraphTraversal to avoid non-determinism
  crates/turbo-tasks/src/graph/control_flow.rs
  crates/turbo-tasks/src/graph/get_children.rs
  crates/turbo-tasks/src/graph/graph_store.rs
  crates/turbo-tasks/src/graph/graph_traversal.rs
  crates/turbo-tasks/src/graph/mod.rs
  crates/turbo-tasks/src/graph/non_deterministic.rs
  crates/turbo-tasks/src/graph/reverse_topological.rs
  crates/turbo-tasks/src/graph/visit.rs
  crates/turbopack-core/src/changed.rs
  crates/turbopack-core/src/chunk/mod.rs
Labels: team: turbopack

#4081 place all pages in the same intermediate output directory
  Cargo.lock
  crates/next-core/src/app_source.rs
  crates/next-core/src/page_source.rs
  crates/turbopack-node/Cargo.toml
  crates/turbopack-node/src/lib.rs
Labels: pr: automerge, team: turbopack

#4017 improve and enable issue path handling
  crates/next-core/src/app_source.rs
  crates/next-core/src/next_config.rs
  crates/next-core/src/page_source.rs
  crates/next-core/src/router.rs
  crates/next-dev-tests/tests/integration.rs
  crates/next-dev-tests/tests/integration/next/tailwind/basic/issues/lint TP1004 fs.existsSync(__q____q____q____star__0__star__) is very dynamic-5efef4.txt
  crates/next-dev-tests/tests/integration/next/tailwind/basic/issues/lint TP1004 fs.readFileSync(__q____q____q____star__0__star__, __quo__utf-8__quo__) is very dynamic-f84517.txt
  crates/next-dev-tests/tests/integration/next/tailwind/basic/issues/lint TP1006 path.resolve(__q____q____q____star__0__star__) is very dynamic-dd45bc.txt
  crates/next-dev-tests/tests/integration/next/webpack-loaders/emitted-errors/issues/Issue while running loader-6d7f75.txt
  crates/next-dev-tests/tests/integration/next/webpack-loaders/emitted-errors/issues/Issue while running loader-9bd07c.txt
  crates/next-dev-tests/tests/integration/next/webpack-loaders/emitted-errors/issues/Issue while running loader-bb7ea7.txt
  crates/next-dev-tests/tests/integration/next/webpack-loaders/emitted-errors/issues/Issue while running loader-ebe27b.txt
  crates/next-dev-tests/tests/integration/turbopack/basic/comptime/issues/Error resolving commonjs request-e56948.txt
  crates/next-dev-tests/tests/integration/webpack/chunks/__skipped__/named-chunks/issues/Error resolving EcmaScript Modules request-6adb45.txt
  crates/next-dev-tests/tests/integration/webpack/chunks/__skipped__/named-chunks/issues/Error resolving EcmaScript Modules request-d56c20.txt
  crates/next-dev-tests/tests/integration/webpack/chunks/__skipped__/named-chunks/issues/Error resolving EcmaScript Modules request-eb66f2.txt
  crates/next-dev-tests/tests/integration/webpack/chunks/__skipped__/parsing/issues/Error resolving commonjs request-d35c6e.txt
  crates/next-dev-tests/tests/integration/webpack/chunks/__skipped__/weak-dependencies-context/issues/Error resolving commonjs request-d795f8.txt
  crates/next-dev-tests/tests/integration/webpack/chunks/__skipped__/weak-dependencies-context/issues/lint TP1002 require([__quo__.__b__quo__]) is very dynamic-1b7b2d.txt
  crates/next-dev-tests/tests/integration/webpack/chunks/__skipped__/weak-dependencies/issues/Error resolving commonjs request-0baf48.txt
  crates/next-dev-tests/tests/integration/webpack/chunks/__skipped__/weak-dependencies/issues/lint TP1002 require([__quo__.__c__quo__]) is very dynamic-c9f4f1.txt
  crates/next-dev/src/lib.rs
  crates/node-file-trace/src/lib.rs
  crates/turbopack-cli-utils/src/issue.rs
  crates/turbopack-cli-utils/src/lib.rs
  crates/turbopack-core/Cargo.toml
  crates/turbopack-core/src/issue/mod.rs
  crates/turbopack-core/src/reference/mod.rs
  crates/turbopack-dev-server/src/source/issue_context.rs
  crates/turbopack-dev-server/src/source/mod.rs
  crates/turbopack-dev-server/src/update/protocol.rs
  crates/turbopack-node/src/render/rendered_source.rs
  crates/turbopack-node/src/transforms/postcss.rs
  crates/turbopack-tests/tests/snapshot.rs
  crates/turbopack-tests/tests/snapshot/export-alls/cjs-2/issues/unexpected export __star__-b4c42d.txt
  crates/turbopack-tests/tests/snapshot/export-alls/cjs-script/issues/unexpected export __star__-30c177.txt
  crates/turbopack-tests/tests/snapshot/imports/json/issues/Code generation for chunk item errored-798a9e.txt
  crates/turbopack-tests/tests/snapshot/imports/resolve_error_cjs/issues/Error resolving commonjs request-69aa17.txt
  crates/turbopack-tests/tests/snapshot/imports/resolve_error_esm/issues/Error resolving EcmaScript Modules request-cd3585.txt
Labels: pr: automerge, team: turbopack

#4089 ci(workflow): fix detecting current next.js version
  .github/workflows/setup-nextjs-build.yml
Labels: area: ci, team: turbopack

#4097 Add chotot to showcase
  docs/components/clients/users.ts
  docs/public/images/logos/color/chotot.svg
  docs/public/images/logos/white/chotot.svg
Labels: area: site, team: turborepo, team: turbopack

#4103 revert workspace dependency to allow building correctly
  crates/next-binding/Cargo.toml
  crates/next-dev-tests/Cargo.toml
Labels: team: turbopack

#4100 only use recursive watchers on macOS and windows
  Cargo.lock
  crates/turbo-tasks-fs/Cargo.toml
  crates/turbo-tasks-fs/src/lib.rs
Labels: pr: automerge, team: turbopack

#4106 Add tests for RopeReader iteration
  crates/turbo-tasks-fs/benches/mod.rs
  crates/turbo-tasks-fs/src/rope.rs
Labels: pr: automerge, team: turbopack

#4108 fix windows/macOS only warnings
  crates/turbo-tasks-fs/src/lib.rs
Labels: pr: automerge, team: turbopack

#4110 Parallel cache state
  cli/integration_tests/basic_monorepo/cache_state.t
  cli/internal/cache/async_cache.go
  cli/internal/cache/cache.go
  cli/internal/cache/cache_fs.go
  cli/internal/cache/cache_http.go
  cli/internal/cache/cache_noop.go
  cli/internal/cache/cache_test.go
  cli/internal/run/dry_run.go
Labels: team: turborepo

#4086 next/font: Generate fallback fonts
  crates/next-core/src/next_font_google/font_fallback.rs
  crates/next-core/src/next_font_google/issue.rs
  crates/next-core/src/next_font_google/mod.rs
  crates/next-core/src/next_font_google/options.rs
  crates/next-core/src/next_font_google/request.rs
  crates/next-core/src/next_font_google/stylesheet.rs
  crates/next-core/src/next_font_google/util.rs
  crates/next-core/src/util.rs
  crates/next-dev-tests/tests/integration/next/font-google/at-next-font/input/pages/index.js
  crates/next-dev-tests/tests/integration/next/font-google/basic/input/pages/index.js
  crates/turbopack-core/src/resolve/mod.rs
  crates/turbopack-css/src/references/mod.rs
  crates/turbopack-ecmascript/src/resolve/mod.rs
  crates/turbopack-ecmascript/src/typescript/resolve.rs
Labels: team: turbopack

#3995 feat(turbopack_ecmascript): support partial tsconfig for the transform
  Cargo.lock
  crates/turbopack-ecmascript/Cargo.toml
  crates/turbopack-ecmascript/src/parse.rs
  crates/turbopack-ecmascript/src/transform/mod.rs
  crates/turbopack/src/module_options/mod.rs
Labels: pr: automerge, team: turbopack

#4112 Do not publish nightly Turbopack Releases
  .github/workflows/turbopack-nightly-release.yml
Labels: area: ci, team: turborepo, team: turbopack

#4090 Add globalenv to run summary
  cli/integration_tests/basic_monorepo/dry_run.t
  cli/integration_tests/basic_monorepo/dry_run_json.t
  cli/integration_tests/basic_monorepo/global_env.t
  cli/integration_tests/single_package/dry-run.t
  cli/integration_tests/single_package_deps/dry-run.t
  cli/integration_tests/single_package_no_config/dry-run.t
  cli/internal/env/env.go
  cli/internal/env/env_test.go
  cli/internal/graph/graph.go
  cli/internal/inference/inference.go
  cli/internal/run/global_hash.go
  cli/internal/run/global_hash_test.go
  cli/internal/run/run.go
  cli/internal/runsummary/format_json.go
  cli/internal/runsummary/format_text.go
  cli/internal/runsummary/globalhash_summary.go
  cli/internal/runsummary/run_summary.go
  cli/internal/taskhash/taskhash.go
Labels: team: turborepo

#4115 Flag on the Go sandwich, attempt #2
  cli/cross-release.yml
  cli/darwin-release.yml
Labels: pr: automerge, team: turborepo

#4117 Revert "feat(turbopack_ecmascript): support partial tsconfig for the transform"
  Cargo.lock
  crates/turbopack-ecmascript/Cargo.toml
  crates/turbopack-ecmascript/src/parse.rs
  crates/turbopack-ecmascript/src/transform/mod.rs
  crates/turbopack/src/module_options/mod.rs
Labels: team: turbopack

#4118 disable issue_path again
  crates/next-dev-tests/Cargo.toml
  crates/turbopack-core/Cargo.toml
  crates/turbopack-tests/Cargo.toml
Labels: team: turbopack

#4114 fix assert alias
  crates/next-core/src/next_import_map.rs
Labels: pr: automerge, team: turbopack

#4049 Re-repair Root Inference
  Cargo.lock
  crates/turborepo-lib/Cargo.toml
  crates/turborepo-lib/src/package_manager.rs
  crates/turborepo-lib/src/shim.rs
Labels: pr: automerge, team: turborepo

#4102 fix(turbopack): Update app-renderer
  crates/next-core/js/package.json
  crates/next-core/js/src/entry/app-renderer.tsx
  crates/next-dev-tests/tests/integration/next/webpack-loaders/emitted-errors/issues/Issue while running loader-00caad.txt
  crates/next-dev-tests/tests/integration/next/webpack-loaders/emitted-errors/issues/Issue while running loader-9bd07c.txt
  crates/next-dev-tests/tests/integration/next/webpack-loaders/emitted-errors/issues/Issue while running loader-bb7ea7.txt
  crates/next-dev-tests/tests/integration/next/webpack-loaders/emitted-errors/issues/Issue while running loader-c98676.txt
  crates/next-dev-tests/tests/package.json
  crates/next-dev/benches/bundlers/turbopack/mod.rs
  crates/turbo-tasks-fs/src/async_file.rs
  pnpm-lock.yaml
Labels: pr: automerge, team: turbopack

#4121 build: Make `turbo-malloc` not depend on mimalloc on linux
  crates/turbo-malloc/Cargo.toml
Labels: pr: automerge, team: turbopack

#4120 chore(labels): add rule to label non-vercel PRs
  .github/turbo-orchestrator.yml
Labels: team: turborepo, team: turbopack

#4122 Correct argument to local `turbo` inference.
  crates/turborepo-lib/src/shim.rs
Labels: pr: automerge, team: turborepo

#3887 Introduce TraitRefs, remove cell_local
  Cargo.lock
  crates/turbo-tasks-macros-shared/src/ident.rs
  crates/turbo-tasks-macros/src/util.rs
  crates/turbo-tasks-macros/src/value_macro.rs
  crates/turbo-tasks-macros/src/value_trait_macro.rs
  crates/turbo-tasks-memory/tests/read_ref_cell.rs
  crates/turbo-tasks-memory/tests/trait_ref_cell.rs
  crates/turbo-tasks/src/backend.rs
  crates/turbo-tasks/src/lib.rs
  crates/turbo-tasks/src/raw_vc.rs
  crates/turbo-tasks/src/read_ref.rs
  crates/turbo-tasks/src/trait_ref.rs
  crates/turbo-tasks/src/value_type.rs
  crates/turbopack-core/src/version.rs
  crates/turbopack-dev-server/src/update/stream.rs
Labels: team: turbopack

#4093 Use streaming file reads when comparing for writes
  crates/turbo-tasks-fs/src/lib.rs
  crates/turbo-tasks-fs/src/rope.rs
  crates/turbo-tasks-fs/src/util.rs
Labels: pr: automerge, team: turbopack

#4061 Small cleanup for ChunkGroupFiles
  crates/turbopack-ecmascript/src/chunk_group_files_asset.rs
Labels: pr: automerge, team: turbopack

#4025 Update to nightly-2023-03-09
  .github/actions/cargo-sweep/dist/main/index.js
  .github/actions/cargo-sweep/dist/main/index.js.map
  .github/actions/cargo-sweep/dist/post/index.js
  .github/actions/cargo-sweep/dist/post/index.js.map
  .github/actions/cargo-sweep/package.json
  .github/actions/cargo-sweep/src/sweep.js
  crates/turbo-tasks-fs/src/lib.rs
  crates/turbopack-ecmascript/src/lib.rs
  crates/turbopack-swc-utils/src/emitter.rs
  crates/turbopack-swc-utils/src/lib.rs
  crates/turbopack-test-utils/src/lib.rs
  rust-toolchain
Labels: area: turbopack, area: ci, team: turborepo, team: turbopack

#4129 improve handling of syntax errors in HMR
  crates/turbopack-cli-utils/src/lib.rs
  crates/turbopack-ecmascript/src/lib.rs
  crates/turbopack-ecmascript/src/references/mod.rs
  crates/turbopack-mdx/src/lib.rs
Labels: pr: automerge, team: turbopack, from: external

#4134 fix app dir with latest next.js
  crates/next-core/js/src/entry/app-renderer.tsx
  crates/next-core/src/next_import_map.rs
Labels: pr: automerge, team: turbopack

#4032 port(turborepo): Paths Crate
  Cargo.lock
  Cargo.toml
  crates/turborepo-paths/Cargo.toml
  crates/turborepo-paths/LICENSE
  crates/turborepo-paths/src/absolute_normalized_path.rs
  crates/turborepo-paths/src/absolute_path.rs
  crates/turborepo-paths/src/cmp_impls.rs
  crates/turborepo-paths/src/file_name.rs
  crates/turborepo-paths/src/fmt.rs
  crates/turborepo-paths/src/forward_relative_path.rs
  crates/turborepo-paths/src/fs_util.rs
  crates/turborepo-paths/src/into_filename_buf_iterator.rs
  crates/turborepo-paths/src/io_counters.rs
  crates/turborepo-paths/src/lib.rs
  crates/turborepo-paths/src/project.rs
  crates/turborepo-paths/src/project_relative_path.rs
  crates/turborepo-scm/Cargo.toml
  crates/turborepo-scm/src/git.rs
  crates/turborepo-scm/src/lib.rs
Labels: team: turborepo, team: turbopack

#4062 fix next.js source map resolving
  Cargo.lock
  Cargo.toml
  crates/turbopack-dev-server/src/lib.rs
  crates/turbopack-dev-server/src/source/mod.rs
  crates/turbopack-dev-server/src/source/resolve.rs
  crates/turbopack-dev-server/src/source/source_maps.rs
  crates/turbopack-dev-server/src/source/wrapping_source.rs
  crates/turbopack-node/Cargo.toml
  crates/turbopack-node/src/source_map/content_source.rs
Labels: pr: automerge, team: turborepo, team: turbopack

#4144 Revert "chore(labels): add rule to label non-vercel PRs" (#4144
  .github/turbo-orchestrator.yml
Labels: team: turborepo, team: turbopack

#4116 Add TaskExecutionSummary to Run Summary
  cli/integration_tests/basic_monorepo/run_summary.t
  cli/internal/run/real_run.go
  cli/internal/run/run.go
  cli/internal/run/run_state.go
  cli/internal/runsummary/execution_summary.go
  cli/internal/runsummary/format_execution_summary.go
  cli/internal/runsummary/run_summary.go
  cli/internal/runsummary/single_package.go
Labels: team: turborepo

#4148 Amend incorrect file referenced in Getting Started
  docs/pages/repo/docs/getting-started/create-new.mdx
Labels: area: docs, team: turborepo

#4155 fix(docs): remove .next/cache from outputs
  docs/turbo.json
Labels: pr: automerge, area: site, team: turborepo, team: turbopack

#4154 feat(turbo-ignore): update logging
  packages/turbo-ignore/__tests__/checkCommit.test.ts
  packages/turbo-ignore/__tests__/getComparison.test.ts
  packages/turbo-ignore/__tests__/getTask.test.ts
  packages/turbo-ignore/__tests__/getWorkspace.test.ts
  packages/turbo-ignore/__tests__/ignore.test.ts
  packages/turbo-ignore/src/checkCommit.ts
  packages/turbo-ignore/src/getComparison.ts
  packages/turbo-ignore/src/getTask.ts
  packages/turbo-ignore/src/getWorkspace.ts
  packages/turbo-ignore/src/ignore.ts
Labels: pr: automerge, pkg: turbo-ignore, team: turborepo

#4142 feat(ecmascript): transform ts input with runtime flags
  crates/next-core/src/app_render/next_layout_entry_transition.rs
  crates/next-core/src/app_source.rs
  crates/next-core/src/lib.rs
  crates/next-core/src/next_client/context.rs
  crates/next-core/src/next_client/transition.rs
  crates/next-core/src/next_client_component/server_to_client_transition.rs
  crates/next-core/src/next_edge/transition.rs
  crates/next-core/src/next_server/context.rs
  crates/next-core/src/page_loader.rs
  crates/next-core/src/page_source.rs
  crates/next-core/src/router.rs
  crates/next-core/src/typescript.rs
  crates/turbopack-ecmascript/src/transform/mod.rs
  crates/turbopack-node/src/evaluate.rs
  crates/turbopack-node/src/transforms/postcss.rs
  crates/turbopack-node/src/transforms/webpack.rs
  crates/turbopack/src/evaluate_context.rs
  crates/turbopack/src/module_options/mod.rs
  crates/turbopack/src/module_options/module_options_context.rs
Labels: pr: automerge, team: turbopack

#4160 fix(create-turbo): update create-turbo eslint template (#4160
  packages/create-turbo/templates/_shared_ts/packages/eslint-config-custom/index.js
Labels: pkg: create-turbo, team: turborepo

#4157 Add log to go binary
  cli/internal/run/log_tag_go.go
  cli/internal/run/log_tag_rust.go
  cli/internal/run/run.go
Labels: team: turborepo

#4095 Add expandedOutputs to run summary of each task
  cli/integration_tests/basic_monorepo/dry_run_json.t
  cli/integration_tests/basic_monorepo/run_summary.t
  cli/integration_tests/single_package/dry-run.t
  cli/integration_tests/single_package_deps/dry-run.t
  cli/integration_tests/single_package_no_config/dry-run.t
  cli/internal/graph/graph.go
  cli/internal/run/real_run.go
  cli/internal/runcache/runcache.go
  cli/internal/runsummary/run_summary.go
  cli/internal/runsummary/single_package.go
  cli/internal/taskhash/taskhash.go
Labels: team: turborepo

#4162 Remove env-var linting comments.
  examples/kitchen-sink/apps/api/src/index.ts
  examples/kitchen-sink/turbo.json
  examples/with-docker/apps/api/src/index.ts
  examples/with-docker/turbo.json
Labels: area: examples, team: turborepo

#4164 Fix integration tests to add new log message
  cli/integration_tests/basic_monorepo/verbosity.t
  cli/integration_tests/inference/has-workspaces.t
  cli/integration_tests/inference/nested-workspaces.t
  cli/integration_tests/inference/no-workspaces.t
Labels: team: turborepo

#4177 fix(examples): update kitchen-sink dev task
  examples/kitchen-sink/turbo.json
Labels: area: examples, team: turborepo

#4163 fix: Cross compile sandwich
  .github/workflows/turborepo-release-step-2.yml
  cli/Makefile
  cli/cross-release.yml
  cli/go.sum
  cli/internal/ffi/ffi.go
Labels: pr: fixship, area: ci, team: turborepo, team: turbopack

#4166 Add `dynamic_embed_contents` feature
  crates/turbo-tasks-fs/Cargo.toml
  crates/turbo-tasks-fs/src/embed/dir.rs
  crates/turbo-tasks-fs/src/embed/file.rs
Labels: team: turbopack

#4180 Ensure we record the lockfile name when there's an error unmarshalling
  cli/internal/packagemanager/packagemanager.go
Labels: pr: automerge, team: turborepo

#4165 Add dependencies and dependent tasks into run summaries
  cli/internal/core/engine.go
  cli/internal/graph/graph.go
  cli/internal/run/dry_run.go
Labels: team: turborepo

#4147 feat(turbo-workspaces): support single package repos (#4147
  packages/turbo-test-utils/src/useFixtures.ts
  packages/turbo-workspaces/README.md
  packages/turbo-workspaces/__fixtures__/npm/monorepo/apps/docs/package.json
  packages/turbo-workspaces/__fixtures__/npm/monorepo/apps/web/package.json
  packages/turbo-workspaces/__fixtures__/npm/monorepo/package-lock.json
  packages/turbo-workspaces/__fixtures__/npm/monorepo/package.json
  packages/turbo-workspaces/__fixtures__/npm/monorepo/packages/tsconfig/package.json
  packages/turbo-workspaces/__fixtures__/npm/monorepo/packages/ui/package.json
  packages/turbo-workspaces/__fixtures__/npm/non-monorepo/package.json
  packages/turbo-workspaces/__fixtures__/pnpm/monorepo/apps/docs/package.json
  packages/turbo-workspaces/__fixtures__/pnpm/monorepo/apps/web/package.json
  packages/turbo-workspaces/__fixtures__/pnpm/monorepo/package.json
  packages/turbo-workspaces/__fixtures__/pnpm/monorepo/packages/tsconfig/package.json
  packages/turbo-workspaces/__fixtures__/pnpm/monorepo/packages/ui/package.json
  packages/turbo-workspaces/__fixtures__/pnpm/monorepo/pnpm-lock.yaml
  packages/turbo-workspaces/__fixtures__/pnpm/monorepo/pnpm-workspace.yaml
  packages/turbo-workspaces/__fixtures__/pnpm/non-monorepo/package.json
  packages/turbo-workspaces/__fixtures__/pnpm/non-monorepo/pnpm-lock.yaml
  packages/turbo-workspaces/__fixtures__/yarn/monorepo/apps/docs/package.json
  packages/turbo-workspaces/__fixtures__/yarn/monorepo/apps/web/package.json
  packages/turbo-workspaces/__fixtures__/yarn/monorepo/package.json
  packages/turbo-workspaces/__fixtures__/yarn/monorepo/packages/tsconfig/package.json
  packages/turbo-workspaces/__fixtures__/yarn/monorepo/packages/ui/package.json
  packages/turbo-workspaces/__fixtures__/yarn/monorepo/yarn.lock
  packages/turbo-workspaces/__fixtures__/yarn/non-monorepo/package.json
  packages/turbo-workspaces/__fixtures__/yarn/non-monorepo/yarn.lock
  packages/turbo-workspaces/__tests__/index.test.ts
  packages/turbo-workspaces/__tests__/managers.test.ts
  packages/turbo-workspaces/__tests__/managers/npm.test.ts
  packages/turbo-workspaces/__tests__/managers/pnpm.test.ts
  packages/turbo-workspaces/__tests__/managers/yarn.test.ts
  packages/turbo-workspaces/__tests__/test-utils.ts
  packages/turbo-workspaces/jest.config.js
  packages/turbo-workspaces/package.json
  packages/turbo-workspaces/src/commands/convert/index.ts
  packages/turbo-workspaces/src/commands/summary/index.ts
  packages/turbo-workspaces/src/convert.ts
  packages/turbo-workspaces/src/errors.ts
  packages/turbo-workspaces/src/getWorkspaceDetails.ts
  packages/turbo-workspaces/src/index.ts
  packages/turbo-workspaces/src/install.ts
  packages/turbo-workspaces/src/managers/npm.ts
  packages/turbo-workspaces/src/managers/pnpm.ts
  packages/turbo-workspaces/src/managers/yarn.ts
  packages/turbo-workspaces/src/types.ts
  packages/turbo-workspaces/src/utils.ts
  packages/turbo-workspaces/tsup.config.ts
  packages/turbo-workspaces/turbo.json
  pnpm-lock.yaml
Labels: team: turborepo, team: turbopack

#4192 update lockfile due to removed packages
  pnpm-lock.yaml
Labels: pr: automerge

#4193 Downgrade git warning to debug.
  cli/integration_tests/prune/composable-config.t
  cli/integration_tests/prune/produces_valid_turbo_json.t
  cli/internal/run/run.go
Labels: pr: automerge, team: turborepo

#4186 fix(turborepo): race condition in config tests
  crates/turborepo-lib/src/config/client.rs
Labels: pr: automerge, team: turborepo

#4197 Revert #3542
  crates/turbopack-css/src/chunk/writer.rs
  crates/turbopack-tests/tests/snapshot/css/absolute-uri-import/output/crates_turbopack-tests_tests_snapshot_css_absolute-uri-import_input_index.css
  crates/turbopack-tests/tests/snapshot/css/absolute-uri-import/output/crates_turbopack-tests_tests_snapshot_css_absolute-uri-import_input_index.css.map
  crates/turbopack-tests/tests/snapshot/css/css/output/8697f_foo_style.css
  crates/turbopack-tests/tests/snapshot/css/css/output/8697f_foo_style.module_b5a149.css
  crates/turbopack-tests/tests/snapshot/css/css/output/crates_turbopack-tests_tests_snapshot_css_css_input_style.css
  crates/turbopack-tests/tests/snapshot/css/css/output/crates_turbopack-tests_tests_snapshot_css_css_input_style.css.map
  crates/turbopack-tests/tests/snapshot/css/css/output/crates_turbopack-tests_tests_snapshot_css_css_input_style.module_b5a149.css
Labels: pr: automerge, team: turbopack

#4044 Run integration tests in parallel
  cli/Makefile
  cli/integration_tests/basic_monorepo/verbosity.t
  cli/integration_tests/inference/has-workspaces.t
  cli/integration_tests/inference/nested-workspaces.t
  cli/integration_tests/inference/no-workspaces.t
  cli/integration_tests/lockfile_aware_caching/pnpm.t
  cli/integration_tests/monorepo_one_script_error/run.t
Labels: team: turborepo

#4175 Update swc_core to `v0.69.5`
  Cargo.lock
  Cargo.toml
  crates/swc-ast-explorer/src/main.rs
  crates/turbopack-core/src/resolve/mod.rs
  crates/turbopack-ecmascript/src/analyzer/graph.rs
  crates/turbopack-ecmascript/src/parse.rs
Labels: pr: automerge, team: turborepo, team: turbopack

#4184 fix: SCM relative paths in nested turborepo
  cli/internal/ffi/ffi.go
  cli/internal/ffi/proto/messages.pb.go
  cli/internal/scm/git_rust.go
  crates/turborepo-ffi/messages.proto
  crates/turborepo-ffi/src/lib.rs
  crates/turborepo-scm/src/git.rs
Labels: pr: automerge, team: turborepo

#4205 Throw an error when a task graph cannot run to completion.
  cli/integration_tests/composable_config/composing-persistent.t
  cli/integration_tests/persistent_dependencies/10-too-many/apps/one/package.json
  cli/integration_tests/persistent_dependencies/10-too-many/apps/two/package.json
  cli/integration_tests/persistent_dependencies/10-too-many/package.json
  cli/integration_tests/persistent_dependencies/10-too-many/turbo.json
  cli/integration_tests/persistent_dependencies/persistent-1-topological.t
  cli/integration_tests/persistent_dependencies/persistent-10-too-many.t
  cli/integration_tests/persistent_dependencies/persistent-2-same-workspace.t
  cli/integration_tests/persistent_dependencies/persistent-3-workspace-specific.t
  cli/integration_tests/persistent_dependencies/persistent-4-cross-workspace.t
  cli/integration_tests/persistent_dependencies/persistent-5-root-workspace.t
  cli/integration_tests/persistent_dependencies/persistent-7-topological-nested.t
  cli/integration_tests/persistent_dependencies/persistent-8-topological-with-extra.t
  cli/integration_tests/persistent_dependencies/persistent-9-cross-workspace-nested.t
  cli/internal/core/engine.go
  cli/internal/run/run.go
Labels: team: turborepo

#4207 fix: Turbo SCM with Windows paths
  Cargo.lock
  crates/turborepo-scm/src/git.rs
Labels: team: turborepo

#4181 chore: Flip the Rust switch
  cli/Makefile
  cli/combined-release.yml
  cli/combined-shim.yml
  cli/cross-release.yml
  cli/darwin-release.yml
  cli/internal/ffi/ffi.go
Labels: team: turborepo

#4196 gracefully handle ctrlc on windows by proactively the killing go process
  Cargo.lock
  crates/turborepo/Cargo.toml
  crates/turborepo/src/main.rs
Labels: team: turborepo

#4216 Exclude snapshots from VSCode search
  .vscode/settings.json
Labels: team: turborepo, team: turbopack

#4211 Switch to testing::fixture
  Cargo.lock
  Cargo.toml
  crates/turbopack-tests/Cargo.toml
  crates/turbopack-tests/tests/snapshot.rs
  crates/turbopack/Cargo.toml
Labels: pr: automerge, team: turborepo, team: turbopack

#4203 Fix forward inference test parallelization.
  cli/integration_tests/inference/has_workspaces.t
  cli/integration_tests/inference/has_workspaces/apps/docs/package.json
  cli/integration_tests/inference/has_workspaces/apps/web/package.json
  cli/integration_tests/inference/has_workspaces/crates/super-crate/tests/test-package/package.json
  cli/integration_tests/inference/has_workspaces/package.json
  cli/integration_tests/inference/has_workspaces/packages/eslint-config-custom/package.json
  cli/integration_tests/inference/has_workspaces/packages/ui-library/package.json
  cli/integration_tests/inference/has_workspaces/packages/ui-library/src/.gitkeep
  cli/integration_tests/inference/has_workspaces/packages/ui-library/turbo.json
  cli/integration_tests/inference/has_workspaces/turbo.json
  cli/integration_tests/inference/has_workspaces_setup.sh
  cli/integration_tests/inference/nested_workspaces.t
  cli/integration_tests/inference/nested_workspaces/README.md
  cli/integration_tests/inference/nested_workspaces/outer-no-turbo/apps/docs/package.json
  cli/integration_tests/inference/nested_workspaces/outer-no-turbo/apps/web/package.json
  cli/integration_tests/inference/nested_workspaces/outer-no-turbo/inner-no-turbo/apps/docs/package.json
  cli/integration_tests/inference/nested_workspaces/outer-no-turbo/inner-no-turbo/apps/web/package.json
  cli/integration_tests/inference/nested_workspaces/outer-no-turbo/inner-no-turbo/package.json
  cli/integration_tests/inference/nested_workspaces/outer-no-turbo/inner-no-turbo/packages/eslint-config-custom/package.json
  cli/integration_tests/inference/nested_workspaces/outer-no-turbo/inner-no-turbo/packages/ui-library/package.json
  cli/integration_tests/inference/nested_workspaces/outer-no-turbo/inner/apps/docs/package.json
  cli/integration_tests/inference/nested_workspaces/outer-no-turbo/inner/apps/web/package.json
  cli/integration_tests/inference/nested_workspaces/outer-no-turbo/inner/package.json
  cli/integration_tests/inference/nested_workspaces/outer-no-turbo/inner/packages/eslint-config-custom/package.json
  cli/integration_tests/inference/nested_workspaces/outer-no-turbo/inner/packages/ui-library/package.json
  cli/integration_tests/inference/nested_workspaces/outer-no-turbo/inner/turbo.json
  cli/integration_tests/inference/nested_workspaces/outer-no-turbo/package-lock.json
  cli/integration_tests/inference/nested_workspaces/outer-no-turbo/package.json
  cli/integration_tests/inference/nested_workspaces/outer-no-turbo/packages/eslint-config-custom/package.json
  cli/integration_tests/inference/nested_workspaces/outer-no-turbo/packages/ui-library/package.json
  cli/integration_tests/inference/nested_workspaces/outer/apps/docs/package.json
  cli/integration_tests/inference/nested_workspaces/outer/apps/web/package.json
  cli/integration_tests/inference/nested_workspaces/outer/inner-no-turbo/apps/docs/package.json
  cli/integration_tests/inference/nested_workspaces/outer/inner-no-turbo/apps/web/package.json
  cli/integration_tests/inference/nested_workspaces/outer/inner-no-turbo/package.json
  cli/integration_tests/inference/nested_workspaces/outer/inner-no-turbo/packages/eslint-config-custom/package.json
  cli/integration_tests/inference/nested_workspaces/outer/inner-no-turbo/packages/ui-library/package.json
  cli/integration_tests/inference/nested_workspaces/outer/inner/apps/docs/package.json
  cli/integration_tests/inference/nested_workspaces/outer/inner/apps/web/package.json
  cli/integration_tests/inference/nested_workspaces/outer/inner/package.json
  cli/integration_tests/inference/nested_workspaces/outer/inner/packages/eslint-config-custom/package.json
  cli/integration_tests/inference/nested_workspaces/outer/inner/packages/ui-library/package.json
  cli/integration_tests/inference/nested_workspaces/outer/inner/turbo.json
  cli/integration_tests/inference/nested_workspaces/outer/package-lock.json
  cli/integration_tests/inference/nested_workspaces/outer/package.json
  cli/integration_tests/inference/nested_workspaces/outer/packages/eslint-config-custom/package.json
  cli/integration_tests/inference/nested_workspaces/outer/packages/ui-library/package.json
  cli/integration_tests/inference/nested_workspaces/outer/turbo.json
  cli/integration_tests/inference/nested_workspaces_setup.sh
  cli/integration_tests/inference/no_workspaces.t
  cli/integration_tests/inference/no_workspaces/package.json
  cli/integration_tests/inference/no_workspaces/parent/child/package.json
  cli/integration_tests/inference/no_workspaces/parent/package.json
  cli/integration_tests/inference/no_workspaces_setup.sh
Labels: pr: automerge, team: turborepo

#4153 fix: update import for turborepo-paths test on win
  crates/turborepo-paths/src/fs_util.rs
  crates/turborepo-paths/src/lib.rs
Labels: team: turbopack

#4221 Make the script error ordering deterministic.
  .vscode/settings.json
  cli/integration_tests/monorepo_one_script_error/monorepo/apps/my-app/package.json
  cli/integration_tests/monorepo_one_script_error/run.t
Labels: pr: automerge, team: turborepo, team: turbopack

#4222 add missing turborepo exclude in turbopack tests
  .github/workflows/test.yml
Labels: pr: automerge, area: ci, team: turborepo, team: turbopack

#4208 track invalidation reasons
  Cargo.lock
  crates/node-file-trace/src/lib.rs
  crates/turbo-tasks-fs/Cargo.toml
  crates/turbo-tasks-fs/examples/hash_directory.rs
  crates/turbo-tasks-fs/examples/hash_glob.rs
  crates/turbo-tasks-fs/src/invalidation.rs
  crates/turbo-tasks-fs/src/lib.rs
  crates/turbo-tasks-testing/src/lib.rs
  crates/turbo-tasks/src/invalidation.rs
  crates/turbo-tasks/src/lib.rs
  crates/turbo-tasks/src/magic_any.rs
  crates/turbo-tasks/src/manager.rs
  crates/turbo-tasks/src/util.rs
  crates/turbopack-dev-server/src/invalidation.rs
  crates/turbopack-dev-server/src/lib.rs
  crates/turbopack/examples/turbopack.rs
Labels: pr: automerge, team: turbopack

#4209 Add pass through args to run summary
  cli/integration_tests/basic_monorepo/dry_run_json.t
  cli/integration_tests/basic_monorepo/run_summary.t
  cli/integration_tests/single_package/dry-run.t
  cli/integration_tests/single_package_deps/dry-run.t
  cli/integration_tests/single_package_no_config/dry-run.t
  cli/internal/graph/graph.go
  cli/internal/runsummary/run_summary.go
  cli/internal/runsummary/single_package.go
Labels: team: turborepo

#4212 Add a hash of external dependencies to run summary
  cli/integration_tests/basic_monorepo/dry_run_json.t
  cli/integration_tests/basic_monorepo/run_summary.t
  cli/integration_tests/single_package/dry-run.t
  cli/integration_tests/single_package_deps/dry-run.t
  cli/integration_tests/single_package_no_config/dry-run.t
  cli/internal/graph/graph.go
  cli/internal/runsummary/run_summary.go
  cli/internal/runsummary/single_package.go
Labels: team: turborepo

#4200 fix: prune pnpm patched dependencies with peer dependencies
  cli/internal/lockfile/pnpm_lockfile.go
  cli/internal/lockfile/pnpm_lockfile_test.go
  cli/internal/lockfile/testdata/pnpm-patch-v6.yaml
  cli/internal/lockfile/testdata/pnpm-patch.yaml
Labels: team: turborepo

#4228 fix test paths on windows
  crates/turbopack-tests/tests/snapshot.rs
Labels: pr: automerge, team: turbopack

#4230 Add a version to the run summary schema
  cli/integration_tests/basic_monorepo/run_summary.t
  cli/internal/runsummary/run_summary.go
Labels: pr: automerge, team: turborepo

#4231 Drop deprecated experimental go flag
  .vscode/settings.json
Labels: pr: automerge, team: turborepo, team: turbopack

#4236 fix incorrect refactoring and add comments
  crates/turbo-tasks/src/manager.rs
Labels: team: turbopack

#4237 Always release the current main branch
  .github/workflows/turbopack-nightly-release.yml
Labels: pr: automerge, area: ci, team: turborepo, team: turbopack

#4159 feat(docs): add "!.next/cache/**" everywhere
  docs/pages/blog/turbo-0-4-0.mdx
  docs/pages/blog/turbo-1-1-0.mdx
  docs/pages/blog/turbo-1-3-0.mdx
  docs/pages/blog/turbo-1-6-0.mdx
  docs/pages/blog/turbo-1-8-0.mdx
  docs/pages/repo/docs/core-concepts/caching.mdx
  docs/pages/repo/docs/core-concepts/monorepos/configuring-workspaces.mdx
  docs/pages/repo/docs/getting-started/add-to-project.mdx
  docs/pages/repo/docs/getting-started/create-new.mdx
  docs/pages/repo/docs/getting-started/existing-monorepo.mdx
  docs/pages/repo/docs/handbook/building-your-app.mdx
  docs/pages/repo/docs/reference/codemods.mdx
  docs/pages/repo/docs/reference/configuration.mdx
  examples/basic/turbo.json
  examples/kitchen-sink/turbo.json
  examples/non-monorepo/turbo.json
  examples/with-changesets/turbo.json
  examples/with-docker/turbo.json
  examples/with-npm/turbo.json
  examples/with-prisma/turbo.json
  examples/with-react-native-web/turbo.json
  examples/with-rollup/turbo.json
  examples/with-tailwind/turbo.json
  examples/with-yarn/turbo.json
  packages/create-turbo/templates/_shared_ts/turbo.json
  packages/eslint-plugin-turbo/docs/rules/no-undeclared-env-vars.md
  packages/turbo-codemod/__tests__/__fixtures__/create-turbo-config/both-configs/package.json
  packages/turbo-codemod/__tests__/__fixtures__/create-turbo-config/both-configs/turbo.json
  packages/turbo-codemod/__tests__/__fixtures__/create-turbo-config/no-turbo-json-config/package.json
  packages/turbo-codemod/__tests__/__fixtures__/create-turbo-config/turbo-json-config/turbo.json
  packages/turbo-codemod/__tests__/__fixtures__/migrate-env-var-dependencies/env-dependencies/turbo.json
  packages/turbo-codemod/__tests__/__fixtures__/migrate-env-var-dependencies/migrated-env-dependencies/turbo.json
  packages/turbo-codemod/__tests__/__fixtures__/migrate-env-var-dependencies/workspace-configs/turbo.json
  packages/turbo-codemod/__tests__/__fixtures__/migrate/old-turbo/package.json
  packages/turbo-codemod/__tests__/migrate-env-var-dependencies.test.ts
  packages/turbo-codemod/__tests__/migrate.test.ts
Labels: area: docs, area: examples, pkg: create-turbo, pkg: turbo-eslint, team: turborepo, team: turbopack, pkg: turbo-codemod

#4241 emit a package.json in evaluate too
  crates/turbopack-node/src/evaluate.rs
  crates/turbopack-node/src/lib.rs
Labels: pr: automerge, team: turbopack

#4223 Check that root commands cannot invoke turbo
  cli/integration_tests/basic_monorepo/dry_run.t
  cli/integration_tests/basic_monorepo/dry_run_json.t
  cli/integration_tests/basic_monorepo/global_env.t
  cli/integration_tests/basic_monorepo/monorepo/package.json
  cli/integration_tests/basic_monorepo/monorepo/turbo.json
  cli/integration_tests/basic_monorepo/run.t
  cli/integration_tests/basic_monorepo/verbosity.t
  cli/internal/graph/graph.go
  cli/internal/run/dry_run.go
Labels: team: turborepo

#4220 Fix path to turbo
  CONTRIBUTING.md
  benchmark/README.md
  benchmark/src/index.ts
  cli/Makefile
Labels: team: turborepo, team: turbopack

#4238 Filter out summaries of tasks that didn't execute
  cli/integration_tests/basic_monorepo/cache_state.t
  cli/integration_tests/basic_monorepo/dry_run.t
  cli/integration_tests/basic_monorepo/infer_pkg.t
  cli/integration_tests/basic_monorepo/monorepo/packages/another/package.json
  cli/integration_tests/basic_monorepo/run.t
  cli/integration_tests/basic_monorepo/run_summary.t
  cli/internal/run/real_run.go
Labels: team: turborepo

#4244 Run benchmark workflow on publish
  .github/turbo-orchestrator.yml
Labels: team: turborepo, team: turbopack

#4232 docs: Document common question around turborepo-ffi
  crates/turborepo-ffi/README.md
Labels: team: turborepo

#4246 Fix benchmark action to create release build
  .github/workflows/bench-turborepo.yml
Labels: area: ci, team: turborepo, team: turbopack

#4243 refactor: Removed includeUntracked because it's always set to true
  cli/internal/ffi/ffi.go
  cli/internal/scm/git_go.go
  cli/internal/scm/git_rust.go
  cli/internal/scm/scm.go
  cli/internal/scm/stub.go
  cli/internal/scope/scope.go
  cli/internal/scope/scope_test.go
  crates/turborepo-ffi/messages.proto
  crates/turborepo-ffi/src/lib.rs
  crates/turborepo-scm/src/git.rs
Labels: team: turborepo

#3671 feat: port daemon client to rust
  .github/workflows/test.yml
  Cargo.lock
  cli/internal/daemon/daemon.go
  cli/internal/daemon/lifecycle.go
  cli/internal/daemon/status.go
  cli/internal/turbostate/turbostate.go
  crates/pidlock/.gitignore
  crates/pidlock/Cargo.toml
  crates/pidlock/LICENSE-MIT
  crates/pidlock/README.md
  crates/pidlock/deny.toml
  crates/pidlock/src/lib.rs
  crates/turborepo-lib/Cargo.toml
  crates/turborepo-lib/build.rs
  crates/turborepo-lib/src/cli.rs
  crates/turborepo-lib/src/commands/daemon.rs
  crates/turborepo-lib/src/commands/mod.rs
  crates/turborepo-lib/src/daemon/client.rs
  crates/turborepo-lib/src/daemon/connector.rs
  crates/turborepo-lib/src/daemon/mod.rs
  crates/turborepo-lib/src/lib.rs
  crates/turborepo-paths/src/lib.rs
  crates/turborepo/Cargo.toml
Labels: pr: fixship, area: turborepo, area: ci, team: turborepo, team: turbopack

#4269 Add valid JSON into test fixture
  cli/integration_tests/find_turbo/nested/node_modules/turbo/package.json
Labels: team: turborepo

#4198 feat(ecmascript): support jsximport/runtime options
  crates/turbopack-ecmascript/src/transform/mod.rs
  crates/turbopack-tests/tests/snapshot.rs
  crates/turbopack/src/module_options/mod.rs
  crates/turbopack/src/module_options/module_options_context.rs
Labels: pr: automerge, team: turbopack

#4187 feat(turbopack_ecmascript): support legacy decorators transform
  Cargo.lock
  crates/turbopack-ecmascript/Cargo.toml
  crates/turbopack-ecmascript/src/transform/mod.rs
  crates/turbopack/src/module_options/mod.rs
  crates/turbopack/src/module_options/module_options_context.rs
Labels: pr: automerge, team: turbopack

#4277 Revert rust scm usage
  cli/internal/scm/git_go.go
  cli/internal/scm/git_rust.go
Labels: pr: automerge, team: turborepo

#4276 send a SIGTERM on unix rather than just killing the process
  Cargo.lock
  crates/turborepo/Cargo.toml
  crates/turborepo/src/main.rs
Labels: pr: automerge, team: turborepo

#4279 prevent emitting debug symbols in release
  Cargo.toml
Labels: pr: automerge, team: turborepo, team: turbopack

#4285 Bring back chunk runner logic for the none runtime
  crates/turbopack-dev/js/src/runtime.none.js
  crates/turbopack-dev/js/types/runtime.dom.d.ts
  crates/turbopack-dev/js/types/runtime.none.d.ts
Labels: team: turbopack

#4268 Fix getting workspace ignores in case of non-monorepo
  cli/internal/packagemanager/yarn.go
Labels: team: turborepo

#4293 fix(docs): update ent link
  docs/components/Footer.tsx
  docs/components/FullTurboCTA.tsx
  docs/components/Navigation.tsx
  docs/pages/blog/you-might-not-need-typescript-project-references.mdx
Labels: area: docs, pr: automerge, area: site, team: turborepo, team: turbopack

#4297 fix chunk runner when all chunks are available
  crates/turbopack-dev/js/src/runtime.none.js
Labels: pr: automerge, team: turbopack

#4298 reduce number of generic instances
  crates/turbo-tasks-macros/src/func.rs
  crates/turbo-tasks/src/native_function.rs
Labels: pr: automerge, team: turbopack

#4300 fix and improve error handling
  crates/turbopack-core/src/error.rs
  crates/turbopack-core/src/lib.rs
  crates/turbopack-dev-server/src/lib.rs
  crates/turbopack-dev/js/src/runtime.nodejs.js
  crates/turbopack-dev/js/src/runtime.none.js
  crates/turbopack-node/src/render/render_proxy.rs
  crates/turbopack-node/src/render/render_static.rs
Labels: pr: automerge, team: turbopack

#4302 add dynamic embedding feature to turbopack-dev
  crates/turbopack-dev/Cargo.toml
Labels: team: turbopack

#3632 feat: port npm lockfile to Rust
  .github/workflows/test.yml
  Cargo.lock
  Cargo.toml
  cli/internal/context/context.go
  cli/internal/ffi/bindings.h
  cli/internal/ffi/ffi.go
  cli/internal/ffi/proto/messages.pb.go
  cli/internal/lockfile/lockfile.go
  cli/internal/lockfile/npm_lockfile_go.go
  cli/internal/lockfile/npm_lockfile_rust.go
  cli/internal/lockfile/npm_lockfile_test.go
  cli/internal/lockfile/transitive_closure_go.go
  cli/internal/lockfile/transitive_closure_rust.go
  crates/turborepo-ffi/Cargo.toml
  crates/turborepo-ffi/messages.proto
  crates/turborepo-ffi/src/lib.rs
  crates/turborepo-ffi/src/lockfile.rs
  crates/turborepo-lockfiles/Cargo.toml
  crates/turborepo-lockfiles/fixtures/npm-lock-workspace-variation.json
  crates/turborepo-lockfiles/fixtures/npm-lock.json
  crates/turborepo-lockfiles/src/error.rs
  crates/turborepo-lockfiles/src/lib.rs
  crates/turborepo-lockfiles/src/npm.rs
Labels: area: turborepo, area: ci, team: turborepo, team: turbopack

#4303 Break up client package and delete unused code
  cli/internal/client/analytics.go
  cli/internal/client/cache.go
  cli/internal/client/client.go
  cli/internal/cmdutil/cmdutil.go
  cli/internal/cmdutil/cmdutil_test.go
Labels: team: turborepo

#4311 Sort task ancestors in task summary
  cli/internal/graph/graph.go
Labels: team: turborepo

#4251 Implement node eval streaming
  Cargo.lock
  Cargo.toml
  crates/turbo-tasks-bytes/Cargo.toml
  crates/turbo-tasks-bytes/build.rs
  crates/turbo-tasks-bytes/src/bytes.rs
  crates/turbo-tasks-bytes/src/lib.rs
  crates/turbo-tasks-bytes/src/stream.rs
  crates/turbo-tasks-fs/Cargo.toml
  crates/turbo-tasks-fs/benches/mod.rs
  crates/turbo-tasks-fs/src/async_file.rs
  crates/turbo-tasks-fs/src/rope.rs
  crates/turbo-tasks/src/primitives.rs
  crates/turbopack-dev-server/Cargo.toml
  crates/turbopack-dev-server/src/http.rs
  crates/turbopack-dev-server/src/lib.rs
  crates/turbopack-dev-server/src/source/mod.rs
  crates/turbopack-node/Cargo.toml
  crates/turbopack-node/js/src/ipc/evaluate.ts
  crates/turbopack-node/src/evaluate.rs
  crates/turbopack-node/src/lib.rs
  crates/turbopack-node/src/render/render_proxy.rs
  crates/turbopack-node/src/source_map/trace.rs
  crates/turbopack-node/src/transforms/postcss.rs
  crates/turbopack-node/src/transforms/webpack.rs
Labels: team: turborepo, team: turbopack

#4312 Don't hash env var when the value is an empty string
  cli/integration_tests/basic_monorepo/dry_run.t
  cli/integration_tests/basic_monorepo/dry_run_json.t
  cli/integration_tests/single_package/dry-run.t
  cli/integration_tests/single_package_deps/dry-run.t
  cli/integration_tests/single_package_no_config/dry-run.t
  cli/internal/env/env.go
Labels: team: turborepo

#4250 Send run summary to API
  cli/integration_tests/bad_flag.t
  cli/internal/client/analytics.go
  cli/internal/client/client.go
  cli/internal/run/dry_run.go
  cli/internal/run/real_run.go
  cli/internal/run/run.go
  cli/internal/run/run_spec.go
  cli/internal/runsummary/format_execution_summary.go
  cli/internal/runsummary/format_json.go
  cli/internal/runsummary/format_text.go
  cli/internal/runsummary/run_summary.go
  cli/internal/runsummary/single_package.go
  cli/internal/runsummary/task_summary.go
  cli/internal/runsummary/vercel.go
  cli/internal/turbostate/turbostate.go
  crates/turborepo-lib/src/cli.rs
Labels: team: turborepo

#4240 Make Single Package repo work with globalDependencies config
  cli/integration_tests/single_package/dry-run.t
  cli/integration_tests/single_package/my-pkg/somefile.txt
  cli/integration_tests/single_package/my-pkg/turbo.json
  cli/integration_tests/single_package/run-yarn.t
  cli/integration_tests/single_package/run.t
  cli/integration_tests/single_package/setup.sh
  cli/internal/packagemanager/yarn.go
Labels: team: turborepo

#4325 fix: make turbo command regex stricter
  cli/internal/graph/graph.go
  cli/internal/graph/graph_test.go
Labels: team: turborepo

#4331 Bump rustc version.
  .github/workflows/turborepo-release-step-2.yml
Labels: pr: automerge, area: ci, team: turborepo, team: turbopack

#4319 limit number of code frames per stack trace to 3
  crates/turbopack-node/src/source_map/mod.rs
Labels: pr: automerge, team: turbopack
