Repository vercel/turborepo, pull requests merged in 2023-05, with the labels that each got.

#4754 Match TS's extends resolution algorithm
  crates/turbopack-ecmascript/src/typescript/resolve.rs
  crates/turbopack-tests/tests/snapshot/typescript/tsconfig-extends-relative-dir/input/config/ts/tsconfig.json
  crates/turbopack-tests/tests/snapshot/typescript/tsconfig-extends-relative-dir/input/config/tsconfig.json
  crates/turbopack-tests/tests/snapshot/typescript/tsconfig-extends-relative-dir/input/index.ts
  crates/turbopack-tests/tests/snapshot/typescript/tsconfig-extends-relative-dir/input/prop.ts
  crates/turbopack-tests/tests/snapshot/typescript/tsconfig-extends-relative-dir/input/tsconfig.json
  crates/turbopack-tests/tests/snapshot/typescript/tsconfig-extends-relative-dir/options.json
  crates/turbopack-tests/tests/snapshot/typescript/tsconfig-extends-relative-dir/output/a587c_tests_snapshot_typescript_tsconfig-extends-relative-dir_input_index.ts_b53fce._.js
  crates/turbopack-tests/tests/snapshot/typescript/tsconfig-extends-relative-dir/output/a587c_tests_snapshot_typescript_tsconfig-extends-relative-dir_input_index.ts_b53fce._.js.map
  crates/turbopack-tests/tests/snapshot/typescript/tsconfig-extends-relative-dir/output/a587c_tests_snapshot_typescript_tsconfig-extends-relative-dir_input_index.ts_be3d7b._.js
  crates/turbopack-tests/tests/snapshot/typescript/tsconfig-extends-relative-dir/output/a587c_tests_snapshot_typescript_tsconfig-extends-relative-dir_input_index.ts_be3d7b._.js.map
  crates/turbopack-tests/tests/snapshot/typescript/tsconfig-extends-relative-dir/output/a587c_tests_snapshot_typescript_tsconfig-extends-relative-dir_input_index.ts_ced665._.js
  crates/turbopack-tests/tests/snapshot/typescript/tsconfig-extends-without-ext/input/index.ts
  crates/turbopack-tests/tests/snapshot/typescript/tsconfig-extends-without-ext/input/prop.ts
  crates/turbopack-tests/tests/snapshot/typescript/tsconfig-extends-without-ext/input/tsconfig.base.json
  crates/turbopack-tests/tests/snapshot/typescript/tsconfig-extends-without-ext/input/tsconfig.json
  crates/turbopack-tests/tests/snapshot/typescript/tsconfig-extends-without-ext/options.json
  crates/turbopack-tests/tests/snapshot/typescript/tsconfig-extends-without-ext/output/a587c_tests_snapshot_typescript_tsconfig-extends-without-ext_input_index.ts_38aae8._.js
  crates/turbopack-tests/tests/snapshot/typescript/tsconfig-extends-without-ext/output/a587c_tests_snapshot_typescript_tsconfig-extends-without-ext_input_index.ts_38aae8._.js.map
  crates/turbopack-tests/tests/snapshot/typescript/tsconfig-extends-without-ext/output/a587c_tests_snapshot_typescript_tsconfig-extends-without-ext_input_index.ts_53300f._.js
  crates/turbopack-tests/tests/snapshot/typescript/tsconfig-extends-without-ext/output/a587c_tests_snapshot_typescript_tsconfig-extends-without-ext_input_index.ts_b53fce._.js
  crates/turbopack-tests/tests/snapshot/typescript/tsconfig-extends-without-ext/output/a587c_tests_snapshot_typescript_tsconfig-extends-without-ext_input_index.ts_b53fce._.js.map
  crates/turbopack-tests/tests/snapshot/typescript/tsconfig-extends/input/index.ts
  crates/turbopack-tests/tests/snapshot/typescript/tsconfig-extends/input/prop.ts
  crates/turbopack-tests/tests/snapshot/typescript/tsconfig-extends/input/tsconfig.base.json
  crates/turbopack-tests/tests/snapshot/typescript/tsconfig-extends/input/tsconfig.json
  crates/turbopack-tests/tests/snapshot/typescript/tsconfig-extends/options.json
  crates/turbopack-tests/tests/snapshot/typescript/tsconfig-extends/output/a587c_tests_snapshot_typescript_tsconfig-extends_input_index.ts_18c083._.js
  crates/turbopack-tests/tests/snapshot/typescript/tsconfig-extends/output/a587c_tests_snapshot_typescript_tsconfig-extends_input_index.ts_18c083._.js.map
  crates/turbopack-tests/tests/snapshot/typescript/tsconfig-extends/output/a587c_tests_snapshot_typescript_tsconfig-extends_input_index.ts_997596._.js
  crates/turbopack-tests/tests/snapshot/typescript/tsconfig-extends/output/a587c_tests_snapshot_typescript_tsconfig-extends_input_index.ts_b53fce._.js
  crates/turbopack-tests/tests/snapshot/typescript/tsconfig-extends/output/a587c_tests_snapshot_typescript_tsconfig-extends_input_index.ts_b53fce._.js.map
Labels: team: turbopack

#4598 More fluent GraphTraversal API
  crates/turbo-tasks/src/graph/graph_store.rs
  crates/turbo-tasks/src/graph/graph_traversal.rs
  crates/turbo-tasks/src/graph/non_deterministic.rs
  crates/turbo-tasks/src/graph/reverse_topological.rs
  crates/turbopack-core/src/changed.rs
  crates/turbopack-core/src/chunk/available_assets.rs
  crates/turbopack-core/src/chunk/mod.rs
  crates/turbopack-dev/src/chunking_context.rs
  crates/turbopack-node/src/lib.rs
Labels: pr: automerge, team: turbopack

#4597 add rspack to our benchmark suite
  crates/turbopack-bench/src/bundlers/mod.rs
  crates/turbopack-bench/src/bundlers/rspack/mod.rs
  crates/turbopack-bench/src/bundlers/rspack/rspack.config.js
Labels: team: turbopack

#4691 Allow for dropped updates in the benchmarks
  crates/turbopack-bench/src/bundlers/mod.rs
  crates/turbopack-bench/src/bundlers/nextjs/mod.rs
  crates/turbopack-bench/src/lib.rs
  crates/turbopack-cli/benches/bundler.rs
Labels: pr: automerge, team: turbopack

#4753 chore: Disallows unknown fields in JSON sent by Rust.
  cli/cmd/turbo/main.go
  crates/turborepo-lib/src/cli.rs
Labels: team: turborepo

#4765 fix viewbox with decimals
  crates/turbopack-image/src/process/svg.rs
Labels: team: turbopack

#4766 no longer opt-in to kqueue on macos
  crates/globwatch/Cargo.toml
  crates/turborepo-lib/Cargo.toml
Labels: team: turborepo

#4719 Port RecursiveCopy to Rust
  Cargo.lock
  Cargo.toml
  cli/internal/ffi/bindings.h
  cli/internal/ffi/ffi.go
  cli/internal/ffi/proto/messages.pb.go
  cli/internal/fs/copy_file.go
  cli/internal/fs/copy_file_test.go
  cli/internal/fs/recursive_copy_go.go
  cli/internal/fs/recursive_copy_rust.go
  cli/internal/prune/prune.go
  crates/turbopath/src/absolute_system_path_buf.rs
  crates/turbopath/src/lib.rs
  crates/turborepo-ffi/Cargo.toml
  crates/turborepo-ffi/messages.proto
  crates/turborepo-ffi/src/lib.rs
  crates/turborepo-fs/Cargo.toml
  crates/turborepo-fs/src/lib.rs
Labels: pr: automerge, team: turborepo, team: turbopack

#4772 Fix TSConfig extends pointing to node module
  crates/turbopack-ecmascript/src/typescript/resolve.rs
  crates/turbopack-tests/tests/node_modules/tsconfig-mod/foo.ts
  crates/turbopack-tests/tests/node_modules/tsconfig-mod/prop.ts
  crates/turbopack-tests/tests/node_modules/tsconfig-mod/tsconfig.json
  crates/turbopack-tests/tests/package.json
  crates/turbopack-tests/tests/snapshot/typescript/tsconfig-baseurl/input/foo.ts
  crates/turbopack-tests/tests/snapshot/typescript/tsconfig-extends-module-full-path/input/index.ts
  crates/turbopack-tests/tests/snapshot/typescript/tsconfig-extends-module-full-path/input/tsconfig.json
  crates/turbopack-tests/tests/snapshot/typescript/tsconfig-extends-module-full-path/options.json
  crates/turbopack-tests/tests/snapshot/typescript/tsconfig-extends-module-full-path/output/63a02_tsconfig-mod_prop.ts_2aa573._.js
  crates/turbopack-tests/tests/snapshot/typescript/tsconfig-extends-module-full-path/output/63a02_tsconfig-mod_prop.ts_2aa573._.js.map
  crates/turbopack-tests/tests/snapshot/typescript/tsconfig-extends-module-full-path/output/8562f_snapshot_typescript_tsconfig-extends-module-full-path_input_index.ts_a751eb._.js
  crates/turbopack-tests/tests/snapshot/typescript/tsconfig-extends-module-full-path/output/8562f_snapshot_typescript_tsconfig-extends-module-full-path_input_index.ts_a751eb._.js.map
  crates/turbopack-tests/tests/snapshot/typescript/tsconfig-extends-module-full-path/output/8562f_snapshot_typescript_tsconfig-extends-module-full-path_input_index.ts_b53fce._.js
  crates/turbopack-tests/tests/snapshot/typescript/tsconfig-extends-module-full-path/output/8562f_snapshot_typescript_tsconfig-extends-module-full-path_input_index.ts_b53fce._.js.map
  crates/turbopack-tests/tests/snapshot/typescript/tsconfig-extends-module-full-path/output/8562f_snapshot_typescript_tsconfig-extends-module-full-path_input_index.ts_bfc829._.js
  crates/turbopack-tests/tests/snapshot/typescript/tsconfig-extends-module/input/index.ts
  crates/turbopack-tests/tests/snapshot/typescript/tsconfig-extends-module/input/tsconfig.json
  crates/turbopack-tests/tests/snapshot/typescript/tsconfig-extends-module/options.json
  crates/turbopack-tests/tests/snapshot/typescript/tsconfig-extends-module/output/63a02_tsconfig-mod_prop.ts_ae3f0e._.js
  crates/turbopack-tests/tests/snapshot/typescript/tsconfig-extends-module/output/63a02_tsconfig-mod_prop.ts_ae3f0e._.js.map
  crates/turbopack-tests/tests/snapshot/typescript/tsconfig-extends-module/output/a587c_tests_snapshot_typescript_tsconfig-extends-module_input_index.ts_31d3a0._.js
  crates/turbopack-tests/tests/snapshot/typescript/tsconfig-extends-module/output/a587c_tests_snapshot_typescript_tsconfig-extends-module_input_index.ts_a662d4._.js
  crates/turbopack-tests/tests/snapshot/typescript/tsconfig-extends-module/output/a587c_tests_snapshot_typescript_tsconfig-extends-module_input_index.ts_a662d4._.js.map
  crates/turbopack-tests/tests/snapshot/typescript/tsconfig-extends-module/output/a587c_tests_snapshot_typescript_tsconfig-extends-module_input_index.ts_b53fce._.js
  crates/turbopack-tests/tests/snapshot/typescript/tsconfig-extends-module/output/a587c_tests_snapshot_typescript_tsconfig-extends-module_input_index.ts_b53fce._.js.map
  crates/turbopack-tests/tests/snapshot/typescript/tsconfig-extends-relative-dir/input/foo.ts
  crates/turbopack-tests/tests/snapshot/typescript/tsconfig-extends-without-ext/input/foo.ts
  crates/turbopack-tests/tests/snapshot/typescript/tsconfig-extends/input/foo.ts
Labels: team: turbopack

#4779 improve error handling
  crates/turbopack-ecmascript/src/parse.rs
  crates/turbopack-image/src/process/mod.rs
Labels: team: turbopack

#4693 make RepoConfig and CommandBase use absolute system paths
  crates/turborepo-lib/src/cli.rs
  crates/turborepo-lib/src/commands/link.rs
  crates/turborepo-lib/src/commands/login.rs
  crates/turborepo-lib/src/commands/mod.rs
  crates/turborepo-lib/src/commands/unlink.rs
  crates/turborepo-lib/src/config/repo.rs
Labels: pr: fixship, team: turborepo

#4768 Document using a repository variable
  docs/pages/repo/docs/ci/github-actions.mdx
  docs/public/images/docs/vercel-team-repo-var.png
Labels: area: docs, area: site, team: turborepo, team: turbopack

#4780 chore: remove unused path imports
  crates/turborepo-lib/src/config/repo.rs
Labels: team: turborepo

#4783 allow to see exports for non-enumerable properties
  crates/turbopack-dev/js/src/runtime.js
  crates/turbopack-tests/tests/snapshot/basic/async_chunk/output/crates_turbopack-tests_tests_snapshot_basic_async_chunk_input_index_0d348e.js
  crates/turbopack-tests/tests/snapshot/basic/chunked/output/crates_turbopack-tests_tests_snapshot_basic_chunked_input_index_e77e9f.js
  crates/turbopack-tests/tests/snapshot/basic/shebang/output/crates_turbopack-tests_tests_snapshot_basic_shebang_input_index_b1f0c2.js
  crates/turbopack-tests/tests/snapshot/comptime/define/output/crates_turbopack-tests_tests_snapshot_comptime_define_input_index_6b0d2b.js
  crates/turbopack-tests/tests/snapshot/css/absolute-uri-import/output/crates_turbopack-tests_tests_snapshot_css_absolute-uri-import_input_index_fa9a30.js
  crates/turbopack-tests/tests/snapshot/css/css/output/crates_turbopack-tests_tests_snapshot_css_css_input_index_37a138.js
  crates/turbopack-tests/tests/snapshot/emotion/emotion/output/crates_turbopack-tests_tests_snapshot_emotion_emotion_input_index_b080c4.js
  crates/turbopack-tests/tests/snapshot/env/env/output/crates_turbopack-tests_tests_snapshot_env_env_input_index_29a23f.js
  crates/turbopack-tests/tests/snapshot/evaluated_entrry/runtime_entry/output/a587c_tests_snapshot_evaluated_entrry_runtime_entry_input_index_f59cc7.js
  crates/turbopack-tests/tests/snapshot/example/example/output/crates_turbopack-tests_tests_snapshot_example_example_input_index_78b6bf.js
  crates/turbopack-tests/tests/snapshot/export-alls/cjs-2/output/crates_turbopack-tests_tests_snapshot_export-alls_cjs-2_input_index_289ae7.js
  crates/turbopack-tests/tests/snapshot/export-alls/cjs-script/output/crates_turbopack-tests_tests_snapshot_export-alls_cjs-script_input_index_3e96b7.js
  crates/turbopack-tests/tests/snapshot/import-meta/cjs/output/crates_turbopack-tests_tests_snapshot_import-meta_cjs_input_index_537553.js
  crates/turbopack-tests/tests/snapshot/import-meta/esm-multiple/output/79fb1_turbopack-tests_tests_snapshot_import-meta_esm-multiple_input_index_c00392.js
  crates/turbopack-tests/tests/snapshot/import-meta/esm-mutable/output/crates_turbopack-tests_tests_snapshot_import-meta_esm-mutable_input_index_6c9201.js
  crates/turbopack-tests/tests/snapshot/import-meta/esm-object/output/crates_turbopack-tests_tests_snapshot_import-meta_esm-object_input_index_6fcf7d.js
  crates/turbopack-tests/tests/snapshot/import-meta/esm/output/crates_turbopack-tests_tests_snapshot_import-meta_esm_input_index_c4c88a.js
  crates/turbopack-tests/tests/snapshot/import-meta/url/output/crates_turbopack-tests_tests_snapshot_import-meta_url_input_index_988b57.js
  crates/turbopack-tests/tests/snapshot/imports/dynamic/output/crates_turbopack-tests_tests_snapshot_imports_dynamic_input_index_45c162.js
  crates/turbopack-tests/tests/snapshot/imports/json/output/crates_turbopack-tests_tests_snapshot_imports_json_input_index_961ae2.js
  crates/turbopack-tests/tests/snapshot/imports/resolve_error_cjs/output/79fb1_turbopack-tests_tests_snapshot_imports_resolve_error_cjs_input_index_f8412b.js
  crates/turbopack-tests/tests/snapshot/imports/resolve_error_esm/output/79fb1_turbopack-tests_tests_snapshot_imports_resolve_error_esm_input_index_0b3e45.js
  crates/turbopack-tests/tests/snapshot/imports/static-and-dynamic/output/79fb1_turbopack-tests_tests_snapshot_imports_static-and-dynamic_input_index_ec8693.js
  crates/turbopack-tests/tests/snapshot/imports/static/output/crates_turbopack-tests_tests_snapshot_imports_static_input_index_885269.js
  crates/turbopack-tests/tests/snapshot/node/node_protocol_external/output/79fb1_turbopack-tests_tests_snapshot_node_node_protocol_external_input_index_667edf.js
  crates/turbopack-tests/tests/snapshot/styled_components/styled_components/output/a587c_tests_snapshot_styled_components_styled_components_input_index_afc482.js
  crates/turbopack-tests/tests/snapshot/swc_transforms/mono_transforms/output/a587c_tests_snapshot_swc_transforms_mono_transforms_input_packages_app_index_4a3d65.js
  crates/turbopack-tests/tests/snapshot/swc_transforms/preset_env/output/79fb1_turbopack-tests_tests_snapshot_swc_transforms_preset_env_input_index_9dcfd0.js
  crates/turbopack-tests/tests/snapshot/typescript/jsconfig-baseurl/output/79fb1_turbopack-tests_tests_snapshot_typescript_jsconfig-baseurl_input_index_8f1e58.js
  crates/turbopack-tests/tests/snapshot/typescript/tsconfig-baseurl/output/a587c_tests_snapshot_typescript_tsconfig-baseurl_input_index.ts_0aa04e._.js
  crates/turbopack-tests/tests/snapshot/typescript/tsconfig-extends-module-full-path/output/8562f_snapshot_typescript_tsconfig-extends-module-full-path_input_index.ts_a751eb._.js
  crates/turbopack-tests/tests/snapshot/typescript/tsconfig-extends-module/output/a587c_tests_snapshot_typescript_tsconfig-extends-module_input_index.ts_a662d4._.js
  crates/turbopack-tests/tests/snapshot/typescript/tsconfig-extends-relative-dir/output/a587c_tests_snapshot_typescript_tsconfig-extends-relative-dir_input_index.ts_be3d7b._.js
  crates/turbopack-tests/tests/snapshot/typescript/tsconfig-extends-without-ext/output/a587c_tests_snapshot_typescript_tsconfig-extends-without-ext_input_index.ts_38aae8._.js
  crates/turbopack-tests/tests/snapshot/typescript/tsconfig-extends/output/a587c_tests_snapshot_typescript_tsconfig-extends_input_index.ts_18c083._.js
Labels: team: turbopack

#4787 Bugfixes for free var and binding replacement
  crates/turbopack-core/src/compile_time_info.rs
  crates/turbopack-core/src/lib.rs
  crates/turbopack-ecmascript/src/analyzer/graph.rs
  crates/turbopack-ecmascript/src/analyzer/mod.rs
  crates/turbopack-ecmascript/src/path_visitor.rs
  crates/turbopack-ecmascript/src/references/esm/binding.rs
  crates/turbopack-ecmascript/src/references/mod.rs
  crates/turbopack-ecmascript/tests/analyzer/graph/default-args/graph-effects.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/imports/graph-effects.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/member-prop/graph-effects.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/member-prop/graph-explained.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/member-prop/graph.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/member-prop/input.js
  crates/turbopack-ecmascript/tests/analyzer/graph/member-prop/resolved-effects.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/member-prop/resolved-explained.snapshot
Labels: team: turbopack

#4789 Print a warning when importing Sass files
  crates/turbopack/src/lib.rs
  crates/turbopack/src/resolve.rs
  crates/turbopack/src/unsupported_sass.rs
Labels: team: turbopack

#4776 Leave pathname formatting up to the caller
  crates/turbo-tasks-fs/src/lib.rs
  crates/turbopack-node/src/render/rendered_source.rs
Labels: pr: automerge, team: turbopack

#4790 remove inital compilation message by default
  crates/turbopack-cli/src/dev/mod.rs
Labels: pr: automerge, team: turbopack

#4785 Send run summary to Spaces even without --summarize flag
  cli/internal/runsummary/run_summary.go
Labels: team: turborepo

#4655 port(turborepo): Package Manager Inference
  Cargo.lock
  cli/internal/context/context.go
  cli/internal/context/context_test.go
  cli/internal/packagemanager/berry.go
  cli/internal/packagemanager/npm.go
  cli/internal/packagemanager/packagemanager.go
  cli/internal/packagemanager/packagemanager_test.go
  cli/internal/packagemanager/pnpm.go
  cli/internal/packagemanager/pnpm6.go
  cli/internal/packagemanager/yarn.go
  cli/internal/prune/prune.go
  cli/internal/run/run.go
  cli/internal/turbostate/turbostate.go
  crates/turbopath/src/anchored_system_path_buf.rs
  crates/turborepo-lib/Cargo.toml
  crates/turborepo-lib/src/cli.rs
  crates/turborepo-lib/src/execution_state.rs
  crates/turborepo-lib/src/lib.rs
  crates/turborepo-lib/src/package_json.rs
  crates/turborepo-lib/src/package_manager.rs
  crates/turborepo-lib/src/package_manager/mod.rs
  crates/turborepo-lib/src/package_manager/npm.rs
  crates/turborepo-lib/src/package_manager/pnpm.rs
  crates/turborepo-lib/src/package_manager/yarn.rs
  turborepo-tests/integration/tests/no_args.t
  turborepo-tests/integration/tests/package_manager.t
Labels: team: turborepo

#4786 Send turbo version to run payload
  cli/internal/runsummary/spaces.go
Labels: team: turborepo

#4792 chore(docs): update nextra
  .npmrc
  docs/next.config.js
  docs/package.json
  docs/pages/_document.tsx
  docs/pages/_error.tsx
  docs/pages/api/binaries/version.ts
  docs/pages/api/og.tsx
  docs/pages/blog/_meta.json
  docs/sentry.edge.config.js
  docs/theme.config.tsx
  pnpm-lock.yaml
Labels: area: site, team: turborepo, team: turbopack

#4734 Add gitbranch and sha into spaces payload
  cli/internal/ci/vendors.go
  cli/internal/runsummary/format_json.go
  cli/internal/runsummary/run_summary.go
  cli/internal/runsummary/scm_summary.go
  cli/internal/runsummary/spaces.go
  cli/internal/scm/scm.go
  cli/internal/scm/scm_test.go
  cli/internal/scm/testdata/myrepo/foo
  turborepo-tests/integration/tests/dry_json/monorepo.t
  turborepo-tests/integration/tests/dry_json/single_package.t
  turborepo-tests/integration/tests/dry_json/single_package_no_config.t
  turborepo-tests/integration/tests/dry_json/single_package_with_deps.t
  turborepo-tests/integration/tests/run_summary/monorepo.t
  turborepo-tests/integration/tests/run_summary/single-package.t
Labels: team: turborepo

#4784 Skip integration,e2e,examples tests in JS tests workflow
  .github/workflows/pr-js-tests-filtered.yml
Labels: area: ci, team: turborepo

#4767 Stripped down unix path
  crates/turbopath/src/absolute_system_path_buf.rs
  crates/turbopath/src/anchored_system_path_buf.rs
  crates/turbopath/src/lib.rs
  crates/turbopath/src/relative_system_path_buf.rs
  crates/turbopath/src/relative_unix_path.rs
  crates/turbopath/src/relative_unix_path_buf.rs
  crates/turborepo-scm/src/git.rs
  crates/turborepo-scm/src/lib.rs
Labels: pr: automerge, team: turborepo

#4815 fix CSS HMR
  crates/turbopack-dev/js/src/runtime.dom.js
  crates/turbopack-tests/tests/snapshot/basic/async_chunk/output/crates_turbopack-tests_tests_snapshot_basic_async_chunk_input_index_0d348e.js
  crates/turbopack-tests/tests/snapshot/basic/chunked/output/crates_turbopack-tests_tests_snapshot_basic_chunked_input_index_e77e9f.js
  crates/turbopack-tests/tests/snapshot/basic/shebang/output/crates_turbopack-tests_tests_snapshot_basic_shebang_input_index_b1f0c2.js
  crates/turbopack-tests/tests/snapshot/comptime/define/output/crates_turbopack-tests_tests_snapshot_comptime_define_input_index_6b0d2b.js
  crates/turbopack-tests/tests/snapshot/css/absolute-uri-import/output/crates_turbopack-tests_tests_snapshot_css_absolute-uri-import_input_index_fa9a30.js
  crates/turbopack-tests/tests/snapshot/css/css/output/crates_turbopack-tests_tests_snapshot_css_css_input_index_37a138.js
  crates/turbopack-tests/tests/snapshot/emotion/emotion/output/crates_turbopack-tests_tests_snapshot_emotion_emotion_input_index_b080c4.js
  crates/turbopack-tests/tests/snapshot/env/env/output/crates_turbopack-tests_tests_snapshot_env_env_input_index_29a23f.js
  crates/turbopack-tests/tests/snapshot/evaluated_entrry/runtime_entry/output/a587c_tests_snapshot_evaluated_entrry_runtime_entry_input_index_f59cc7.js
  crates/turbopack-tests/tests/snapshot/example/example/output/crates_turbopack-tests_tests_snapshot_example_example_input_index_78b6bf.js
  crates/turbopack-tests/tests/snapshot/export-alls/cjs-2/output/crates_turbopack-tests_tests_snapshot_export-alls_cjs-2_input_index_289ae7.js
  crates/turbopack-tests/tests/snapshot/export-alls/cjs-script/output/crates_turbopack-tests_tests_snapshot_export-alls_cjs-script_input_index_3e96b7.js
  crates/turbopack-tests/tests/snapshot/import-meta/cjs/output/crates_turbopack-tests_tests_snapshot_import-meta_cjs_input_index_537553.js
  crates/turbopack-tests/tests/snapshot/import-meta/esm-multiple/output/79fb1_turbopack-tests_tests_snapshot_import-meta_esm-multiple_input_index_c00392.js
  crates/turbopack-tests/tests/snapshot/import-meta/esm-mutable/output/crates_turbopack-tests_tests_snapshot_import-meta_esm-mutable_input_index_6c9201.js
  crates/turbopack-tests/tests/snapshot/import-meta/esm-object/output/crates_turbopack-tests_tests_snapshot_import-meta_esm-object_input_index_6fcf7d.js
  crates/turbopack-tests/tests/snapshot/import-meta/esm/output/crates_turbopack-tests_tests_snapshot_import-meta_esm_input_index_c4c88a.js
  crates/turbopack-tests/tests/snapshot/import-meta/url/output/crates_turbopack-tests_tests_snapshot_import-meta_url_input_index_988b57.js
  crates/turbopack-tests/tests/snapshot/imports/dynamic/output/crates_turbopack-tests_tests_snapshot_imports_dynamic_input_index_45c162.js
  crates/turbopack-tests/tests/snapshot/imports/json/output/crates_turbopack-tests_tests_snapshot_imports_json_input_index_961ae2.js
  crates/turbopack-tests/tests/snapshot/imports/resolve_error_cjs/output/79fb1_turbopack-tests_tests_snapshot_imports_resolve_error_cjs_input_index_f8412b.js
  crates/turbopack-tests/tests/snapshot/imports/resolve_error_esm/output/79fb1_turbopack-tests_tests_snapshot_imports_resolve_error_esm_input_index_0b3e45.js
  crates/turbopack-tests/tests/snapshot/imports/static-and-dynamic/output/79fb1_turbopack-tests_tests_snapshot_imports_static-and-dynamic_input_index_ec8693.js
  crates/turbopack-tests/tests/snapshot/imports/static/output/crates_turbopack-tests_tests_snapshot_imports_static_input_index_885269.js
  crates/turbopack-tests/tests/snapshot/node/node_protocol_external/output/79fb1_turbopack-tests_tests_snapshot_node_node_protocol_external_input_index_667edf.js
  crates/turbopack-tests/tests/snapshot/styled_components/styled_components/output/a587c_tests_snapshot_styled_components_styled_components_input_index_afc482.js
  crates/turbopack-tests/tests/snapshot/swc_transforms/mono_transforms/output/a587c_tests_snapshot_swc_transforms_mono_transforms_input_packages_app_index_4a3d65.js
  crates/turbopack-tests/tests/snapshot/swc_transforms/preset_env/output/79fb1_turbopack-tests_tests_snapshot_swc_transforms_preset_env_input_index_9dcfd0.js
  crates/turbopack-tests/tests/snapshot/typescript/jsconfig-baseurl/output/79fb1_turbopack-tests_tests_snapshot_typescript_jsconfig-baseurl_input_index_8f1e58.js
  crates/turbopack-tests/tests/snapshot/typescript/tsconfig-baseurl/output/a587c_tests_snapshot_typescript_tsconfig-baseurl_input_index.ts_0aa04e._.js
  crates/turbopack-tests/tests/snapshot/typescript/tsconfig-extends-module-full-path/output/8562f_snapshot_typescript_tsconfig-extends-module-full-path_input_index.ts_a751eb._.js
  crates/turbopack-tests/tests/snapshot/typescript/tsconfig-extends-module/output/a587c_tests_snapshot_typescript_tsconfig-extends-module_input_index.ts_a662d4._.js
  crates/turbopack-tests/tests/snapshot/typescript/tsconfig-extends-relative-dir/output/a587c_tests_snapshot_typescript_tsconfig-extends-relative-dir_input_index.ts_be3d7b._.js
  crates/turbopack-tests/tests/snapshot/typescript/tsconfig-extends-without-ext/output/a587c_tests_snapshot_typescript_tsconfig-extends-without-ext_input_index.ts_38aae8._.js
  crates/turbopack-tests/tests/snapshot/typescript/tsconfig-extends/output/a587c_tests_snapshot_typescript_tsconfig-extends_input_index.ts_18c083._.js
Labels: team: turbopack

#4818 pass original url with content source data
  crates/turbopack-dev-server/src/source/mod.rs
  crates/turbopack-dev-server/src/source/resolve.rs
  crates/turbopack-node/src/render/mod.rs
  crates/turbopack-node/src/render/node_api_source.rs
  crates/turbopack-node/src/render/rendered_source.rs
Labels: team: turbopack

#4817 avoid errors in computing issue details
  crates/turbopack-core/src/issue/resolve.rs
Labels: team: turbopack

#4813 Remove --serial from the docs.
  docs/pages/repo/docs/reference/command-line-reference.mdx
Labels: area: docs, pr: automerge, team: turborepo

#4769 Update Turbopack docs for beta release
  docs/components/pages/landing/index.tsx
  docs/pages/pack/docs/comparisons/webpack.mdx
  docs/pages/pack/docs/features.mdx
  docs/pages/pack/docs/features/frameworks.mdx
  docs/pages/pack/docs/features/imports.mdx
  docs/pages/pack/docs/features/javascript.mdx
  docs/pages/pack/docs/index.mdx
Labels: area: docs, area: site, team: turborepo, team: turbopack

#4773 Don't cache test:setup task
  turborepo-tests/integration/turbo.json
Labels: team: turborepo

#4699 Combine release process into a single step
  .github/workflows/turborepo-release-step-1.yml
  .github/workflows/turborepo-release-step-2.yml
  .github/workflows/turborepo-release-step-3.yml
  .github/workflows/turborepo-release.yml
Labels: area: ci, team: turborepo, team: turbopack

#4816 Prefactor package hashing
  cli/internal/fs/hash.go
  cli/internal/hashing/package_deps_hash.go
  cli/internal/hashing/package_deps_hash_test.go
  cli/internal/run/global_hash.go
  cli/internal/taskhash/taskhash.go
  cli/internal/taskhash/taskhash_test.go
Labels: pr: automerge, team: turborepo

#4800 chore: add underlying error to lockfile error messages
  crates/turborepo-ffi/src/lockfile.rs
  crates/turborepo-lockfiles/src/berry/mod.rs
  crates/turborepo-lockfiles/src/berry/resolution.rs
  crates/turborepo-lockfiles/src/error.rs
Labels: team: turborepo

#4830 Revert "Combine release process into a single step"
  .github/workflows/turborepo-release-step-1.yml
  .github/workflows/turborepo-release-step-2.yml
  .github/workflows/turborepo-release-step-3.yml
  .github/workflows/turborepo-release.yml
Labels: area: ci, team: turborepo, team: turbopack

#4835 Fix basic example to update on dependency changes
  examples/basic/turbo.json
Labels: area: examples, team: turborepo

#4836 fix(examples): with rollup
  examples/with-rollup/turbo.json
Labels: area: examples, team: turborepo

#4829 fix(docs): enable flex search
  docs/next.config.js
  docs/package.json
  docs/theme.config.tsx
  pnpm-lock.yaml
Labels: area: site, team: turborepo, team: turbopack

#4778 Add log rotation to the daemon server
  Cargo.lock
  crates/turborepo-lib/Cargo.toml
  crates/turborepo-lib/src/cli.rs
  crates/turborepo-lib/src/commands/daemon.rs
  crates/turborepo-lib/src/commands/mod.rs
  crates/turborepo-lib/src/daemon/endpoint.rs
  crates/turborepo-lib/src/daemon/server.rs
  crates/turborepo-lib/src/lib.rs
  crates/turborepo-lib/src/package_manager/mod.rs
  crates/turborepo-lib/src/package_manager/npm.rs
  crates/turborepo-lib/src/package_manager/pnpm.rs
  crates/turborepo-lib/src/package_manager/yarn.rs
  crates/turborepo-lib/src/shim.rs
  crates/turborepo-lib/src/tracing.rs
  crates/turborepo-lib/src/ui/mod.rs
  troubleshooting.md
  turborepo-tests/integration/tests/verbosity.t
Labels: team: turborepo, team: turbopack

#4848 Update with-rollup with App Router.
  examples/with-rollup/apps/web/app/layout.tsx
  examples/with-rollup/apps/web/app/page.tsx
  examples/with-rollup/apps/web/package.json
  examples/with-rollup/apps/web/pages/index.tsx
  examples/with-rollup/apps/web/tsconfig.json
  examples/with-rollup/packages/eslint-config-custom/package.json
  examples/with-rollup/packages/tsconfig/nextjs.json
  examples/with-rollup/packages/ui/Header.tsx
  examples/with-rollup/packages/ui/index.tsx
  examples/with-rollup/packages/ui/package.json
  examples/with-rollup/pnpm-lock.yaml
Labels: area: examples, team: turborepo

#4851 Clarify how task skipping works when scripts are not implemented
  docs/pages/repo/docs/core-concepts/monorepos/running-tasks.mdx
Labels: area: docs, team: turborepo

#4857 Add name to package
  .github/actions/next-integration-stat/package.json
Labels: area: ci, team: turborepo, team: turbopack

#4858 Add spaceId into turbo config
  turbo.json
Labels: team: turborepo, team: turbopack

#4824 fix: no longer include peer dependencies in transitive closures
  crates/turborepo-lockfiles/fixtures/workspace-peer-dependency.json
  crates/turborepo-lockfiles/src/npm.rs
Labels: team: turborepo

#4788 Optional framework inference
  cli/internal/graph/graph.go
  cli/internal/run/dry_run.go
  cli/internal/run/global_hash.go
  cli/internal/run/real_run.go
  cli/internal/run/run.go
  cli/internal/runsummary/format_json.go
  cli/internal/runsummary/run_summary.go
  cli/internal/taskhash/taskhash.go
  cli/internal/turbostate/turbostate.go
  cli/internal/util/run_opts.go
  crates/turborepo-lib/src/cli.rs
  docs/pages/repo/docs/core-concepts/caching.mdx
  docs/pages/repo/docs/reference/command-line-reference.mdx
  turborepo-tests/integration/tests/_fixtures/framework_inference/.gitignore
  turborepo-tests/integration/tests/_fixtures/framework_inference/apps/docs/package.json
  turborepo-tests/integration/tests/_fixtures/framework_inference/package-lock.json
  turborepo-tests/integration/tests/_fixtures/framework_inference/package.json
  turborepo-tests/integration/tests/_fixtures/framework_inference/turbo.json
  turborepo-tests/integration/tests/bad_flag.t
  turborepo-tests/integration/tests/dry_json/monorepo.t
  turborepo-tests/integration/tests/dry_json/single_package.t
  turborepo-tests/integration/tests/dry_json/single_package_no_config.t
  turborepo-tests/integration/tests/dry_json/single_package_with_deps.t
  turborepo-tests/integration/tests/framework_inference.t
  turborepo-tests/integration/tests/no_args.t
  turborepo-tests/integration/tests/run_summary/monorepo.t
  turborepo-tests/integration/tests/run_summary/single-package.t
  turborepo-tests/integration/tests/turbo_help.t
Labels: area: docs, pr: automerge, team: turborepo

#4865 include all test results in next.js test results
  .github/actions/next-integration-stat/index.js
  .github/actions/next-integration-stat/src/index.ts
Labels: area: ci, team: turborepo, team: turbopack

#4827 Update Next.j 13 benchmark version to 13.4
  docs/components/pages/pack-home/PackBenchmarks.tsx
Labels: area: site, team: turborepo, team: turbopack

#4871 chore(create-turbo): extract common utils
  packages/create-turbo/__tests__/git.test.ts
  packages/create-turbo/__tests__/index.test.ts
  packages/create-turbo/package.json
  packages/create-turbo/src/cli.ts
  packages/create-turbo/src/commands/create/index.ts
  packages/create-turbo/src/commands/create/prompts.ts
  packages/create-turbo/src/transforms/types.ts
  packages/create-turbo/src/utils/git.ts
  packages/turbo-test-utils/src/useFixtures.ts
  packages/turbo-utils/__tests__/examples.test.ts
  packages/turbo-utils/__tests__/getTurboConfigs.test.ts
  packages/turbo-utils/__tests__/getTurboRoot.test.ts
  packages/turbo-utils/__tests__/isFolderEmpty.test.ts
  packages/turbo-utils/__tests__/isWritable.test.ts
  packages/turbo-utils/package.json
  packages/turbo-utils/src/createProject.ts
  packages/turbo-utils/src/examples.ts
  packages/turbo-utils/src/getTurboConfigs.ts
  packages/turbo-utils/src/getTurboRoot.ts
  packages/turbo-utils/src/index.ts
  packages/turbo-utils/src/isFolderEmpty.ts
  packages/turbo-utils/src/isWriteable.ts
  packages/turbo-utils/src/logger.ts
  packages/turbo-utils/src/searchUp.ts
  packages/turbo-utils/src/validateDirectory.ts
  pnpm-lock.yaml
Labels: pkg: create-turbo, team: turborepo, team: turbopack

#4743 chore: Define base image for multi-stage Docker build
  docs/pages/blog/turbo-0-4-0.mdx
  docs/pages/repo/docs/handbook/deploying-with-docker.mdx
  examples/with-docker/apps/api/Dockerfile
  examples/with-docker/apps/web/Dockerfile
Labels: area: docs, area: examples, team: turborepo, team: turbopack

#4831 Fix/daemon fixups
  Cargo.lock
  cli/internal/daemon/connector/connector.go
  crates/globwatch/src/lib.rs
  crates/pidlock/src/lib.rs
  crates/turborepo-lib/Cargo.toml
  crates/turborepo-lib/src/commands/daemon.rs
  crates/turborepo-lib/src/daemon/client.rs
  crates/turborepo-lib/src/daemon/connector.rs
  crates/turborepo-lib/src/daemon/endpoint.rs
  crates/turborepo-lib/src/daemon/mod.rs
  crates/turborepo-lib/src/daemon/server.rs
  crates/turborepo-lib/src/globwatcher/mod.rs
  crates/turborepo-lib/src/tracing.rs
  crates/turborepo/Cargo.toml
  turborepo-tests/helpers/setup.sh
Labels: pr: automerge, team: turborepo

#4873 Hack to get correct log file
  Cargo.lock
  crates/turborepo-lib/Cargo.toml
  crates/turborepo-lib/src/commands/daemon.rs
  crates/turborepo-lib/src/daemon/client.rs
Labels: pr: automerge, team: turborepo

#4833 Combine release workflow into a single step
  .github/workflows/turborepo-release-step-1.yml
  .github/workflows/turborepo-release-step-2.yml
  .github/workflows/turborepo-release-step-3.yml
  .github/workflows/turborepo-release.yml
Labels: area: ci, team: turborepo, team: turbopack

#4721 feat(turbopack-ecmascript): accept transform plugin in moduleoptioncontext
  Cargo.lock
  crates/turbopack-ecmascript-plugins/Cargo.toml
  crates/turbopack-ecmascript-plugins/src/transform/emotion.rs
  crates/turbopack-ecmascript-plugins/src/transform/mod.rs
  crates/turbopack-ecmascript-plugins/src/transform/relay.rs
  crates/turbopack-ecmascript/src/lib.rs
  crates/turbopack-ecmascript/src/transform/mod.rs
  crates/turbopack/src/module_options/mod.rs
  crates/turbopack/src/module_options/module_options_context.rs
Labels: pr: automerge, team: turbopack

#4869 Fix and add test for ignoring a macro field
  Cargo.lock
  Cargo.toml
  crates/turbo-tasks-macros-shared/src/expand.rs
  crates/turbo-tasks-macros-tests/Cargo.toml
  crates/turbo-tasks-macros-tests/build.rs
  crates/turbo-tasks-macros-tests/tests/task_input.rs
  crates/turbo-tasks-macros-tests/tests/value_debug.rs
  crates/turbo-tasks-macros/src/derive/deterministic_hash_macro.rs
Labels: pr: automerge, team: turborepo, team: turbopack

#4868 vdbg! macro
  crates/turbo-tasks-testing/src/lib.rs
  crates/turbo-tasks/src/debug/mod.rs
  crates/turbo-tasks/src/debug/vdbg.rs
  crates/turbo-tasks/src/lib.rs
  crates/turbo-tasks/src/manager.rs
Labels: pr: automerge, team: turbopack

#4845 Update with-npm with App Router.
  examples/with-npm/apps/docs/app/layout.tsx
  examples/with-npm/apps/docs/app/page.tsx
  examples/with-npm/apps/docs/package.json
  examples/with-npm/apps/docs/pages/index.tsx
  examples/with-npm/apps/docs/tsconfig.json
  examples/with-npm/apps/web/app/layout.tsx
  examples/with-npm/apps/web/app/page.tsx
  examples/with-npm/apps/web/package.json
  examples/with-npm/apps/web/pages/index.tsx
  examples/with-npm/apps/web/tsconfig.json
  examples/with-npm/package-lock.json
  examples/with-npm/package.json
  examples/with-npm/packages/eslint-config-custom/package.json
  examples/with-npm/packages/tsconfig/nextjs.json
  examples/with-npm/packages/ui/Header.tsx
  examples/with-npm/packages/ui/index.tsx
Labels: area: examples, team: turborepo

#4849 Update with-tailwind with App Router.
  examples/with-tailwind/apps/docs/package.json
  examples/with-tailwind/apps/docs/src/app/layout.tsx
  examples/with-tailwind/apps/docs/src/app/page.tsx
  examples/with-tailwind/apps/docs/src/pages/_app.tsx
  examples/with-tailwind/apps/docs/src/pages/_document.tsx
  examples/with-tailwind/apps/docs/tsconfig.json
  examples/with-tailwind/apps/web/package.json
  examples/with-tailwind/apps/web/src/app/layout.tsx
  examples/with-tailwind/apps/web/src/app/page.tsx
  examples/with-tailwind/apps/web/src/pages/_app.tsx
  examples/with-tailwind/apps/web/src/pages/_document.tsx
  examples/with-tailwind/apps/web/tsconfig.json
  examples/with-tailwind/package.json
  examples/with-tailwind/packages/eslint-config-custom/package.json
  examples/with-tailwind/packages/tsconfig/nextjs.json
  examples/with-tailwind/packages/ui/package.json
  examples/with-tailwind/pnpm-lock.yaml
  examples/with-tailwind/yarn.lock
Labels: area: examples, team: turborepo

#4850 Update with-yarn with App Router.
  examples/with-yarn/apps/docs/app/layout.tsx
  examples/with-yarn/apps/docs/app/page.tsx
  examples/with-yarn/apps/docs/package.json
  examples/with-yarn/apps/docs/pages/index.tsx
  examples/with-yarn/apps/docs/tsconfig.json
  examples/with-yarn/apps/web/app/layout.tsx
  examples/with-yarn/apps/web/app/page.tsx
  examples/with-yarn/apps/web/package.json
  examples/with-yarn/apps/web/pages/index.tsx
  examples/with-yarn/apps/web/tsconfig.json
  examples/with-yarn/package.json
  examples/with-yarn/packages/eslint-config-custom/package.json
  examples/with-yarn/packages/tsconfig/nextjs.json
  examples/with-yarn/packages/ui/Header.tsx
  examples/with-yarn/packages/ui/index.tsx
  examples/with-yarn/yarn.lock
Labels: area: examples, team: turborepo

#4879 Fix hang up when loading duplicated CSS module chunks
  crates/turbopack-dev/js/src/runtime.dom.js
  crates/turbopack-tests/tests/snapshot/basic/async_chunk/output/crates_turbopack-tests_tests_snapshot_basic_async_chunk_input_index_0d348e.js
  crates/turbopack-tests/tests/snapshot/basic/chunked/output/crates_turbopack-tests_tests_snapshot_basic_chunked_input_index_e77e9f.js
  crates/turbopack-tests/tests/snapshot/basic/shebang/output/crates_turbopack-tests_tests_snapshot_basic_shebang_input_index_b1f0c2.js
  crates/turbopack-tests/tests/snapshot/comptime/define/output/crates_turbopack-tests_tests_snapshot_comptime_define_input_index_6b0d2b.js
  crates/turbopack-tests/tests/snapshot/css/absolute-uri-import/output/crates_turbopack-tests_tests_snapshot_css_absolute-uri-import_input_index_fa9a30.js
  crates/turbopack-tests/tests/snapshot/css/css/output/crates_turbopack-tests_tests_snapshot_css_css_input_index_37a138.js
  crates/turbopack-tests/tests/snapshot/emotion/emotion/output/crates_turbopack-tests_tests_snapshot_emotion_emotion_input_index_b080c4.js
  crates/turbopack-tests/tests/snapshot/env/env/output/crates_turbopack-tests_tests_snapshot_env_env_input_index_29a23f.js
  crates/turbopack-tests/tests/snapshot/evaluated_entrry/runtime_entry/output/a587c_tests_snapshot_evaluated_entrry_runtime_entry_input_index_f59cc7.js
  crates/turbopack-tests/tests/snapshot/example/example/output/crates_turbopack-tests_tests_snapshot_example_example_input_index_78b6bf.js
  crates/turbopack-tests/tests/snapshot/export-alls/cjs-2/output/crates_turbopack-tests_tests_snapshot_export-alls_cjs-2_input_index_289ae7.js
  crates/turbopack-tests/tests/snapshot/export-alls/cjs-script/output/crates_turbopack-tests_tests_snapshot_export-alls_cjs-script_input_index_3e96b7.js
  crates/turbopack-tests/tests/snapshot/import-meta/cjs/output/crates_turbopack-tests_tests_snapshot_import-meta_cjs_input_index_537553.js
  crates/turbopack-tests/tests/snapshot/import-meta/esm-multiple/output/79fb1_turbopack-tests_tests_snapshot_import-meta_esm-multiple_input_index_c00392.js
  crates/turbopack-tests/tests/snapshot/import-meta/esm-mutable/output/crates_turbopack-tests_tests_snapshot_import-meta_esm-mutable_input_index_6c9201.js
  crates/turbopack-tests/tests/snapshot/import-meta/esm-object/output/crates_turbopack-tests_tests_snapshot_import-meta_esm-object_input_index_6fcf7d.js
  crates/turbopack-tests/tests/snapshot/import-meta/esm/output/crates_turbopack-tests_tests_snapshot_import-meta_esm_input_index_c4c88a.js
  crates/turbopack-tests/tests/snapshot/import-meta/url/output/crates_turbopack-tests_tests_snapshot_import-meta_url_input_index_988b57.js
  crates/turbopack-tests/tests/snapshot/imports/dynamic/output/crates_turbopack-tests_tests_snapshot_imports_dynamic_input_index_45c162.js
  crates/turbopack-tests/tests/snapshot/imports/json/output/crates_turbopack-tests_tests_snapshot_imports_json_input_index_961ae2.js
  crates/turbopack-tests/tests/snapshot/imports/resolve_error_cjs/output/79fb1_turbopack-tests_tests_snapshot_imports_resolve_error_cjs_input_index_f8412b.js
  crates/turbopack-tests/tests/snapshot/imports/resolve_error_esm/output/79fb1_turbopack-tests_tests_snapshot_imports_resolve_error_esm_input_index_0b3e45.js
  crates/turbopack-tests/tests/snapshot/imports/static-and-dynamic/output/79fb1_turbopack-tests_tests_snapshot_imports_static-and-dynamic_input_index_ec8693.js
  crates/turbopack-tests/tests/snapshot/imports/static/output/crates_turbopack-tests_tests_snapshot_imports_static_input_index_885269.js
  crates/turbopack-tests/tests/snapshot/node/node_protocol_external/output/79fb1_turbopack-tests_tests_snapshot_node_node_protocol_external_input_index_667edf.js
  crates/turbopack-tests/tests/snapshot/styled_components/styled_components/output/a587c_tests_snapshot_styled_components_styled_components_input_index_afc482.js
  crates/turbopack-tests/tests/snapshot/swc_transforms/mono_transforms/output/a587c_tests_snapshot_swc_transforms_mono_transforms_input_packages_app_index_4a3d65.js
  crates/turbopack-tests/tests/snapshot/swc_transforms/preset_env/output/79fb1_turbopack-tests_tests_snapshot_swc_transforms_preset_env_input_index_9dcfd0.js
  crates/turbopack-tests/tests/snapshot/typescript/jsconfig-baseurl/output/79fb1_turbopack-tests_tests_snapshot_typescript_jsconfig-baseurl_input_index_8f1e58.js
  crates/turbopack-tests/tests/snapshot/typescript/tsconfig-baseurl/output/a587c_tests_snapshot_typescript_tsconfig-baseurl_input_index.ts_0aa04e._.js
  crates/turbopack-tests/tests/snapshot/typescript/tsconfig-extends-module-full-path/output/8562f_snapshot_typescript_tsconfig-extends-module-full-path_input_index.ts_a751eb._.js
  crates/turbopack-tests/tests/snapshot/typescript/tsconfig-extends-module/output/a587c_tests_snapshot_typescript_tsconfig-extends-module_input_index.ts_a662d4._.js
  crates/turbopack-tests/tests/snapshot/typescript/tsconfig-extends-relative-dir/output/a587c_tests_snapshot_typescript_tsconfig-extends-relative-dir_input_index.ts_be3d7b._.js
  crates/turbopack-tests/tests/snapshot/typescript/tsconfig-extends-without-ext/output/a587c_tests_snapshot_typescript_tsconfig-extends-without-ext_input_index.ts_38aae8._.js
  crates/turbopack-tests/tests/snapshot/typescript/tsconfig-extends/output/a587c_tests_snapshot_typescript_tsconfig-extends_input_index.ts_18c083._.js
Labels: team: turbopack

#4867 chore: update `update-informer` to 1.0
  Cargo.lock
  crates/turbo-updater/Cargo.toml
  crates/turbo-updater/src/lib.rs
Labels: team: turborepo

#4636 Add support for logging events and intervals in the macOS profiler
  Cargo.lock
  Cargo.toml
  crates/turbo-binding/Cargo.toml
  crates/turbo-binding/src/lib.rs
  crates/turbopack-cli/Cargo.toml
  crates/turbopack-cli/src/main.rs
  crates/turbopack-dev-server/Cargo.toml
  crates/turbopack-dev-server/src/lib.rs
  crates/utils/signposter-sys/Cargo.toml
  crates/utils/signposter-sys/build.rs
  crates/utils/signposter-sys/src/lib.rs
  crates/utils/signposter-sys/src/wrapper.h
  crates/utils/signposter/Cargo.toml
  crates/utils/signposter/examples/simple_signposter.rs
  crates/utils/signposter/src/global.rs
  crates/utils/signposter/src/lib.rs
  crates/utils/signposter/src/log.rs
  crates/utils/tracing-signpost/Cargo.toml
  crates/utils/tracing-signpost/src/layer.rs
  crates/utils/tracing-signpost/src/lib.rs
Labels: team: turborepo, team: turbopack

#4793 ci(workflow): enable more test
  .github/workflows/nextjs-integration-test.yml
Labels: area: ci, team: turborepo, team: turbopack

#4837 fix: sort tasks in run summary output by task id
  cli/internal/runsummary/format_json.go
Labels: team: turborepo

#4874 Drop go implementation of recursive copy
  cli/internal/fs/recursive_copy.go
  cli/internal/fs/recursive_copy_go.go
Labels: team: turborepo

#4852 Add a new page for task dependencies
  docs/pages/repo/docs/core-concepts/monorepos/_meta.json
  docs/pages/repo/docs/core-concepts/monorepos/running-tasks.mdx
  docs/pages/repo/docs/core-concepts/monorepos/task-dependencies.mdx
Labels: area: docs, pr: fixship, area: site, team: turborepo

#4886 refactor(ecmascript-plugins): update serverdirective signature
  crates/turbopack-ecmascript-plugins/src/transform/directives/server.rs
Labels: pr: automerge, team: turbopack

#4887 fix(turborepo): Fixed test by killing process when test is done
  crates/turborepo-lib/src/daemon/endpoint.rs
Labels: team: turborepo

#4820 First pass at file hashing for a package
  Cargo.lock
  cli/internal/ffi/bindings.h
  cli/internal/ffi/ffi.go
  cli/internal/ffi/proto/messages.pb.go
  cli/internal/hashing/package_deps_hash.go
  cli/internal/hashing/package_deps_hash_go.go
  cli/internal/hashing/package_deps_hash_rust.go
  crates/turbopath/Cargo.toml
  crates/turbopath/src/absolute_system_path_buf.rs
  crates/turbopath/src/anchored_system_path_buf.rs
  crates/turbopath/src/lib.rs
  crates/turbopath/src/relative_system_path_buf.rs
  crates/turbopath/src/relative_unix_path.rs
  crates/turbopath/src/relative_unix_path_buf.rs
  crates/turborepo-ffi/messages.proto
  crates/turborepo-ffi/src/lib.rs
  crates/turborepo-lib/.gitignore
  crates/turborepo-scm/Cargo.toml
  crates/turborepo-scm/fixtures/01-git-hash-object/.gitignore
  crates/turborepo-scm/fixtures/01-git-hash-object/child/child.json
  crates/turborepo-scm/fixtures/01-git-hash-object/child/grandchild/grandchild.json
  crates/turborepo-scm/fixtures/01-git-hash-object/root.json
  crates/turborepo-scm/src/hash_object.rs
  crates/turborepo-scm/src/lib.rs
  crates/turborepo-scm/src/ls_tree.rs
  crates/turborepo-scm/src/package_deps.rs
  crates/turborepo-scm/src/status.rs
Labels: team: turborepo

#4866 Rename Turbopack/tasks crates to common prefixes
  Cargo.lock
  Cargo.toml
  crates/node-file-trace/Cargo.toml
  crates/node-file-trace/src/main.rs
  crates/turbo-tasks-auto-hash-map/Cargo.toml
  crates/turbo-tasks-auto-hash-map/src/lib.rs
  crates/turbo-tasks-auto-hash-map/src/map.rs
  crates/turbo-tasks-auto-hash-map/src/set.rs
  crates/turbo-tasks-malloc/Cargo.toml
  crates/turbo-tasks-malloc/src/counter.rs
  crates/turbo-tasks-malloc/src/lib.rs
  crates/turbo-tasks-memory/Cargo.toml
  crates/turbo-tasks-memory/src/memory_backend.rs
  crates/turbo-tasks-rocksdb/CONTRIBUTING.md
  crates/turbo-tasks-rocksdb/Cargo.toml
  crates/turbo-tasks-rocksdb/examples/inspect-db.rs
  crates/turbo-tasks-rocksdb/src/db.rs
  crates/turbo-tasks-rocksdb/src/lib.rs
  crates/turbo-tasks-rocksdb/src/old_version/backend.rs
  crates/turbo-tasks-rocksdb/src/old_version/db.rs
  crates/turbo-tasks-rocksdb/src/old_version/mod.rs
  crates/turbo-tasks-rocksdb/src/old_version/sortable_index.rs
  crates/turbo-tasks-rocksdb/src/persisted_graph.rs
  crates/turbo-tasks-rocksdb/src/table.rs
  crates/turbo-tasks-signposter-sys/Cargo.toml
  crates/turbo-tasks-signposter-sys/build.rs
  crates/turbo-tasks-signposter-sys/src/lib.rs
  crates/turbo-tasks-signposter-sys/src/wrapper.h
  crates/turbo-tasks-signposter/Cargo.toml
  crates/turbo-tasks-signposter/examples/simple_signposter.rs
  crates/turbo-tasks-signposter/src/global.rs
  crates/turbo-tasks-signposter/src/lib.rs
  crates/turbo-tasks-signposter/src/log.rs
  crates/turbo-tasks-tracing-signpost/Cargo.toml
  crates/turbo-tasks-tracing-signpost/src/layer.rs
  crates/turbo-tasks-tracing-signpost/src/lib.rs
  crates/turbopack-binding/Cargo.toml
  crates/turbopack-binding/README.md
  crates/turbopack-binding/src/lib.rs
  crates/turbopack-cli/Cargo.toml
  crates/turbopack-cli/src/dev/mod.rs
  crates/turbopack-cli/src/main.rs
  crates/turbopack-swc-ast-explorer/Cargo.toml
  crates/turbopack-swc-ast-explorer/README.md
  crates/turbopack-swc-ast-explorer/src/main.rs
  crates/turbopack/Cargo.toml
  crates/turbopack/tests/node-file-trace.rs
Labels: pr: automerge, team: turborepo, team: turbopack

#4899 Update CODEOWNERS for Turbopack/tasks crates
  .github/CODEOWNERS
Labels: team: turborepo, team: turbopack

#4841 feature(turborepo): AbsoluteSystemPath
  Cargo.lock
  crates/turbopath/Cargo.toml
  crates/turbopath/src/absolute_system_path.rs
  crates/turbopath/src/absolute_system_path_buf.rs
  crates/turbopath/src/anchored_system_path_buf.rs
  crates/turbopath/src/lib.rs
  crates/turborepo-ffi/src/lib.rs
  crates/turborepo-fs/src/lib.rs
  crates/turborepo-lib/src/commands/mod.rs
  crates/turborepo-lib/src/config/repo.rs
  crates/turborepo-lib/src/execution_state.rs
  crates/turborepo-scm/src/git.rs
Labels: team: turborepo

#4884 refactor(ecmascript): remove unwrap_module ast cloning
  crates/turbopack-ecmascript/src/transform/mod.rs
Labels: pr: automerge, team: turbopack

#4893 refactor(ecmascript-plugins): encapsulate transform configs
  crates/turbopack-cli/src/dev/web_entry_source.rs
  crates/turbopack-ecmascript-plugins/src/transform/emotion.rs
  crates/turbopack-ecmascript-plugins/src/transform/relay.rs
  crates/turbopack-ecmascript-plugins/src/transform/styled_components.rs
  crates/turbopack-tests/tests/snapshot.rs
  crates/turbopack/src/module_options/mod.rs
  crates/turbopack/src/module_options/module_options_context.rs
Labels: pr: automerge, team: turbopack

#4872 feat(turbo-gen): add @turbo/gen
  .prettierignore
  cli/Makefile
  packages/turbo-codemod/turbo/generators/config.js
  packages/turbo-codemod/turbo/generators/templates/transformer.hbs
  packages/turbo-codemod/turbo/generators/templates/transformer.test.hbs
  packages/turbo-gen/LICENSE
  packages/turbo-gen/README.md
  packages/turbo-gen/__tests__/test-utils.ts
  packages/turbo-gen/jest.config.js
  packages/turbo-gen/package.json
  packages/turbo-gen/src/cli.ts
  packages/turbo-gen/src/commands/add/index.ts
  packages/turbo-gen/src/commands/add/prompts.ts
  packages/turbo-gen/src/commands/generate/index.ts
  packages/turbo-gen/src/commands/generate/prompts.ts
  packages/turbo-gen/src/commands/index.ts
  packages/turbo-gen/src/commands/raw/index.ts
  packages/turbo-gen/src/generators/copy.ts
  packages/turbo-gen/src/generators/custom.ts
  packages/turbo-gen/src/generators/empty.ts
  packages/turbo-gen/src/generators/index.ts
  packages/turbo-gen/src/generators/types.ts
  packages/turbo-gen/src/types.ts
  packages/turbo-gen/src/utils/gatherAddRequirements.ts
  packages/turbo-gen/src/utils/getProject.ts
  packages/turbo-gen/src/utils/getWorkspaceList.ts
  packages/turbo-gen/src/utils/getWorkspaceStructure.ts
  packages/turbo-gen/src/utils/notifyUpdate.ts
  packages/turbo-gen/src/utils/plop.ts
  packages/turbo-gen/src/utils/workspaceRoots.ts
  packages/turbo-gen/tsconfig.json
  packages/turbo-gen/tsup.config.ts
  packages/turbo-gen/turbo.json
  packages/turbo-utils/__tests__/convertCase.test.ts
  packages/turbo-utils/src/convertCase.ts
  packages/turbo-utils/src/index.ts
  packages/turbo-utils/src/logger.ts
  pnpm-lock.yaml
Labels: team: turborepo, team: turbopack, pkg: turbo-codemod

#4896 feat(turbo): g
  crates/turborepo-lib/src/cli.rs
  crates/turborepo-lib/src/commands/generate.rs
  crates/turborepo-lib/src/commands/mod.rs
  turborepo-tests/integration/tests/no_args.t
  turborepo-tests/integration/tests/turbo_help.t
Labels: team: turborepo

#4891 fix: check if user passes absolute path to prune
  cli/internal/prune/prune.go
  turborepo-tests/integration/tests/prune/out_dir.t
Labels: team: turborepo

#4875 Submit originatingUser with Run
  cli/internal/ci/vendors.go
  cli/internal/runsummary/format_json.go
  cli/internal/runsummary/run_summary.go
  cli/internal/runsummary/scm_summary.go
  cli/internal/runsummary/spaces.go
  cli/internal/scm/scm.go
  turborepo-tests/integration/tests/dry_json/monorepo.t
  turborepo-tests/integration/tests/dry_json/single_package.t
  turborepo-tests/integration/tests/dry_json/single_package_no_config.t
  turborepo-tests/integration/tests/dry_json/single_package_with_deps.t
  turborepo-tests/integration/tests/run_summary/monorepo.t
  turborepo-tests/integration/tests/run_summary/single-package.t
Labels: team: turborepo

#4901 Apply pending transition to context when computing resolve options
  crates/turbopack/src/lib.rs
Labels: pr: automerge, team: turbopack

#4634 Use cacheitem to restore HTTP cache.
  cli/internal/cache/cache_http.go
  cli/internal/cache/cache_http_test.go
  cli/internal/cacheitem/cacheitem.go
  cli/internal/cacheitem/create.go
  cli/internal/cacheitem/restore.go
Labels: team: turborepo

#4900 Proper scoping for vdbg! + consistent output ordering
  crates/turbo-tasks/src/debug/vdbg.rs
Labels: team: turbopack

#4910 Build turbo once to build JS packages before publishing
  cli/Makefile
Labels: team: turborepo

#4888 make turbopack respect the order of extensions from ResolveOptions
  crates/turbopack-core/src/resolve/mod.rs
  crates/turbopack-tests/tests/snapshot/imports/order/input/index.js
  crates/turbopack-tests/tests/snapshot/imports/order/input/posts.json
  crates/turbopack-tests/tests/snapshot/imports/order/input/posts.ts
  crates/turbopack-tests/tests/snapshot/imports/order/output/crates_turbopack-tests_tests_snapshot_imports_order_input_index_8ff67b.js
  crates/turbopack-tests/tests/snapshot/imports/order/output/crates_turbopack-tests_tests_snapshot_imports_order_input_index_9cd22f.js
  crates/turbopack-tests/tests/snapshot/imports/order/output/crates_turbopack-tests_tests_snapshot_imports_order_input_index_9cd22f.js.map
  crates/turbopack-tests/tests/snapshot/imports/order/output/crates_turbopack-tests_tests_snapshot_imports_order_input_index_b53fce.js
  crates/turbopack-tests/tests/snapshot/imports/order/output/crates_turbopack-tests_tests_snapshot_imports_order_input_index_b53fce.js.map
  crates/turbopack/src/module_options/module_options_context.rs
Labels: team: turbopack

#4920 feat(docs): add generators for release posts
  CONTRIBUTING.md
  docs/turbo/generators/config.js
  docs/turbo/generators/templates/release-blog-post.hbs
  docs/turbo/generators/utils.js
Labels: area: site, team: turborepo, team: turbopack

#4921 fix(turbo/gen): fix generate name arg
  packages/turbo-gen/src/commands/generate/prompts.ts
  packages/turbo-gen/src/commands/raw/index.ts
Labels: team: turborepo, team: turbopack

#4917 Added SLIIT FOSS as a client that uses Turbo
  docs/components/clients/users.ts
  docs/public/images/logos/color/sliit-foss.svg
  docs/public/images/logos/white/sliit-foss.svg
Labels: pr: automerge, area: site, team: turborepo, team: turbopack

#4536 feat(docs): improved examples cards
  docs/components/ExamplesArea.tsx
  docs/components/ExamplesCard/AnimatedIcon.tsx
  docs/components/ExamplesCard/index.tsx
Labels: area: site, team: turborepo, team: turbopack

#4923 fix(cli): example should imply copy
  crates/turborepo-lib/src/commands/generate.rs
Labels: team: turborepo

#4922 feat(turbo/gen): add GeneratorError type
  packages/turbo-gen/src/cli.ts
  packages/turbo-gen/src/generators/custom.ts
  packages/turbo-gen/src/utils/error.ts
  packages/turbo-gen/src/utils/plop.ts
Labels: team: turborepo, team: turbopack

#4918 Re-throw module.error when instantiating runtime modules
  crates/turbopack-dev/js/src/runtime.js
  crates/turbopack-tests/tests/snapshot/basic/async_chunk/output/crates_turbopack-tests_tests_snapshot_basic_async_chunk_input_index_0d348e.js
  crates/turbopack-tests/tests/snapshot/basic/chunked/output/crates_turbopack-tests_tests_snapshot_basic_chunked_input_index_e77e9f.js
  crates/turbopack-tests/tests/snapshot/basic/shebang/output/crates_turbopack-tests_tests_snapshot_basic_shebang_input_index_b1f0c2.js
  crates/turbopack-tests/tests/snapshot/comptime/define/output/crates_turbopack-tests_tests_snapshot_comptime_define_input_index_6b0d2b.js
  crates/turbopack-tests/tests/snapshot/css/absolute-uri-import/output/crates_turbopack-tests_tests_snapshot_css_absolute-uri-import_input_index_fa9a30.js
  crates/turbopack-tests/tests/snapshot/css/css/output/crates_turbopack-tests_tests_snapshot_css_css_input_index_37a138.js
  crates/turbopack-tests/tests/snapshot/emotion/emotion/output/crates_turbopack-tests_tests_snapshot_emotion_emotion_input_index_b080c4.js
  crates/turbopack-tests/tests/snapshot/env/env/output/crates_turbopack-tests_tests_snapshot_env_env_input_index_29a23f.js
  crates/turbopack-tests/tests/snapshot/evaluated_entrry/runtime_entry/output/a587c_tests_snapshot_evaluated_entrry_runtime_entry_input_index_f59cc7.js
  crates/turbopack-tests/tests/snapshot/example/example/output/crates_turbopack-tests_tests_snapshot_example_example_input_index_78b6bf.js
  crates/turbopack-tests/tests/snapshot/export-alls/cjs-2/output/crates_turbopack-tests_tests_snapshot_export-alls_cjs-2_input_index_289ae7.js
  crates/turbopack-tests/tests/snapshot/export-alls/cjs-script/output/crates_turbopack-tests_tests_snapshot_export-alls_cjs-script_input_index_3e96b7.js
  crates/turbopack-tests/tests/snapshot/import-meta/cjs/output/crates_turbopack-tests_tests_snapshot_import-meta_cjs_input_index_537553.js
  crates/turbopack-tests/tests/snapshot/import-meta/esm-multiple/output/79fb1_turbopack-tests_tests_snapshot_import-meta_esm-multiple_input_index_c00392.js
  crates/turbopack-tests/tests/snapshot/import-meta/esm-mutable/output/crates_turbopack-tests_tests_snapshot_import-meta_esm-mutable_input_index_6c9201.js
  crates/turbopack-tests/tests/snapshot/import-meta/esm-object/output/crates_turbopack-tests_tests_snapshot_import-meta_esm-object_input_index_6fcf7d.js
  crates/turbopack-tests/tests/snapshot/import-meta/esm/output/crates_turbopack-tests_tests_snapshot_import-meta_esm_input_index_c4c88a.js
  crates/turbopack-tests/tests/snapshot/import-meta/url/output/crates_turbopack-tests_tests_snapshot_import-meta_url_input_index_988b57.js
  crates/turbopack-tests/tests/snapshot/imports/dynamic/output/crates_turbopack-tests_tests_snapshot_imports_dynamic_input_index_45c162.js
  crates/turbopack-tests/tests/snapshot/imports/json/output/crates_turbopack-tests_tests_snapshot_imports_json_input_index_961ae2.js
  crates/turbopack-tests/tests/snapshot/imports/resolve_error_cjs/output/79fb1_turbopack-tests_tests_snapshot_imports_resolve_error_cjs_input_index_f8412b.js
  crates/turbopack-tests/tests/snapshot/imports/resolve_error_esm/output/79fb1_turbopack-tests_tests_snapshot_imports_resolve_error_esm_input_index_0b3e45.js
  crates/turbopack-tests/tests/snapshot/imports/static-and-dynamic/output/79fb1_turbopack-tests_tests_snapshot_imports_static-and-dynamic_input_index_ec8693.js
  crates/turbopack-tests/tests/snapshot/imports/static/output/crates_turbopack-tests_tests_snapshot_imports_static_input_index_885269.js
  crates/turbopack-tests/tests/snapshot/node/node_protocol_external/output/79fb1_turbopack-tests_tests_snapshot_node_node_protocol_external_input_index_667edf.js
  crates/turbopack-tests/tests/snapshot/styled_components/styled_components/output/a587c_tests_snapshot_styled_components_styled_components_input_index_afc482.js
  crates/turbopack-tests/tests/snapshot/swc_transforms/mono_transforms/output/a587c_tests_snapshot_swc_transforms_mono_transforms_input_packages_app_index_4a3d65.js
  crates/turbopack-tests/tests/snapshot/swc_transforms/preset_env/output/79fb1_turbopack-tests_tests_snapshot_swc_transforms_preset_env_input_index_9dcfd0.js
  crates/turbopack-tests/tests/snapshot/typescript/jsconfig-baseurl/output/79fb1_turbopack-tests_tests_snapshot_typescript_jsconfig-baseurl_input_index_8f1e58.js
  crates/turbopack-tests/tests/snapshot/typescript/tsconfig-baseurl/output/a587c_tests_snapshot_typescript_tsconfig-baseurl_input_index.ts_0aa04e._.js
  crates/turbopack-tests/tests/snapshot/typescript/tsconfig-extends-module-full-path/output/8562f_snapshot_typescript_tsconfig-extends-module-full-path_input_index.ts_a751eb._.js
  crates/turbopack-tests/tests/snapshot/typescript/tsconfig-extends-module/output/a587c_tests_snapshot_typescript_tsconfig-extends-module_input_index.ts_a662d4._.js
  crates/turbopack-tests/tests/snapshot/typescript/tsconfig-extends-relative-dir/output/a587c_tests_snapshot_typescript_tsconfig-extends-relative-dir_input_index.ts_be3d7b._.js
  crates/turbopack-tests/tests/snapshot/typescript/tsconfig-extends-without-ext/output/a587c_tests_snapshot_typescript_tsconfig-extends-without-ext_input_index.ts_38aae8._.js
  crates/turbopack-tests/tests/snapshot/typescript/tsconfig-extends/output/a587c_tests_snapshot_typescript_tsconfig-extends_input_index.ts_18c083._.js
Labels: pr: automerge, team: turbopack

#4926 refactor(ecmascript): deprecate ecmatransforminput::directive
  crates/turbopack-ecmascript-plugins/src/transform/directives/server.rs
  crates/turbopack-ecmascript/src/transform/mod.rs
  crates/turbopack-ecmascript/src/transform/server_to_client_proxy.rs
  crates/turbopack-ecmascript/src/transform/util.rs
Labels: pr: automerge, team: turbopack

#4941 create-turbo: automatic git configuration.
  packages/create-turbo/__tests__/git.test.ts
  packages/create-turbo/src/utils/git.ts
Labels: pr: automerge, pkg: create-turbo, team: turborepo

#4927 refactor(turbopack): consolidate jsx fast refresh
  crates/turbopack/src/module_options/mod.rs
  crates/turbopack/src/module_options/module_options_context.rs
Labels: pr: automerge, team: turbopack

#4924 Simplify goroutine setup for async task requests
  cli/internal/run/dry_run.go
  cli/internal/run/real_run.go
  cli/internal/runsummary/run_summary.go
  cli/internal/runsummary/spaces.go
Labels: team: turborepo

#4950 feat(turbo-gen): support TS config files
  docs/package.json
  docs/turbo/generators/config.ts
  docs/turbo/generators/helpers.ts
  docs/turbo/generators/utils.js
  docs/turbo/generators/utils.ts
  packages/turbo-codemod/package.json
  packages/turbo-codemod/turbo/generators/config.ts
  packages/turbo-gen/package.json
  packages/turbo-gen/src/types.ts
  packages/turbo-gen/src/utils/plop.ts
  packages/turbo-gen/tsup.config.ts
  packages/turbo-utils/src/index.ts
  pnpm-lock.yaml
Labels: area: site, team: turborepo, team: turbopack, pkg: turbo-codemod

#4911 Run Rust and JS package tests before publish
  .github/workflows/turborepo-release.yml
Labels: area: ci, team: turborepo, team: turbopack

#4949 refactor(turbopack): deprecate single react_refresh options
  crates/turbopack-cli/src/dev/web_entry_source.rs
  crates/turbopack/src/module_options/mod.rs
  crates/turbopack/src/module_options/module_options_context.rs
Labels: pr: automerge, team: turbopack

#4944 expose mdx `providerImportSource` option
  crates/turbopack-mdx/src/lib.rs
  crates/turbopack/src/module_options/mod.rs
  crates/turbopack/src/module_options/module_options_context.rs
Labels: team: turbopack

#4956 fix: set repoRoot on http cache so cache can be restored
  cli/internal/cache/cache.go
  cli/internal/cache/cache_http.go
Labels: team: turborepo

#4958 ci: Remove test script from package that has no tests
  packages/turbo-gen/package.json
Labels: team: turborepo, team: turbopack

#4951 feat(generators): support starting from a template
  docs/turbo/generators/utils.ts
  packages/turbo-gen/src/commands/generate/prompts.ts
  packages/turbo-gen/src/generators/custom.ts
  packages/turbo-gen/src/templates/simple-js/config.js
  packages/turbo-gen/src/templates/simple-js/templates/turborepo-generators.hbs
  packages/turbo-gen/src/templates/simple-ts/config.ts
  packages/turbo-gen/src/templates/simple-ts/templates/turborepo-generators.hbs
  packages/turbo-gen/src/utils/error.ts
  packages/turbo-gen/src/utils/setupFromTemplate.ts
  packages/turbo-gen/tsup.config.ts
  turbo/generators/config.ts
  turbo/generators/templates/turborepo-generators.hbs
Labels: area: site, team: turborepo, team: turbopack

#4937 chore: Update `swc_core` to `v0.76.6`
  Cargo.lock
  Cargo.toml
  crates/turbopack-ecmascript/src/parse.rs
  crates/turbopack-ecmascript/src/references/mod.rs
Labels: team: turborepo, team: turbopack

#4976 fix(turbo-gen): add templates to excludes
  packages/turbo-gen/tsconfig.json
Labels: team: turborepo, team: turbopack

#4975 fix(docs): Change `secrets.TURBO_TEAM` to `vars.TURBO_TEAM`
  docs/pages/repo/docs/ci/github-actions.mdx
Labels: area: docs, team: turborepo

#4973 fix(create-turbo): Add --fix-lockfile for pnpm install
  packages/turbo-workspaces/src/install.ts
Labels: pr: automerge, team: turborepo, team: turbopack

#4974 fix(create-turbo): Hard code default example.
  packages/turbo-utils/src/createProject.ts
Labels: pr: automerge, team: turborepo

#4945 fix: berry lockfile semver range parsing of valid floats
  crates/turborepo-lockfiles/src/berry/de.rs
Labels: team: turborepo

#4968 chore: Update troubleshooting.md
  troubleshooting.md
Labels: team: turborepo, team: turbopack

#4957 Increase timeout for Go Unit Tests
  .github/workflows/test.yml
Labels: area: ci, team: turborepo, team: turbopack

#4962 chore: Remove cli#build dependency on all tests everywhere
  turbo.json
  turborepo-tests/e2e/turbo.json
Labels: team: turborepo, team: turbopack

#4971 Correct link to Customizing Turbopack
  docs/pages/pack/docs/comparisons/webpack.mdx
Labels: area: docs, team: turbopack

#4964 Update CODEOWNERS for docs
  .github/CODEOWNERS
Labels: team: turborepo, team: turbopack

#4843 Update with-changesets with App Router.
  examples/with-changesets/apps/docs/package.json
  examples/with-changesets/apps/docs/src/app/layout.tsx
  examples/with-changesets/apps/docs/src/app/page.tsx
  examples/with-changesets/apps/docs/src/pages/index.tsx
  examples/with-changesets/apps/docs/tsconfig.json
  examples/with-changesets/package.json
  examples/with-changesets/packages/acme-core/tsup.config.ts
  examples/with-changesets/packages/acme-tsconfig/nextjs.json
  examples/with-changesets/packages/acme-utils/package.json
  examples/with-changesets/packages/eslint-config-acme/package.json
  examples/with-changesets/pnpm-lock.yaml
Labels: area: examples, team: turborepo

#4840 Update kitchen-sink with App Router.
  examples/kitchen-sink/apps/storefront/package.json
  examples/kitchen-sink/apps/storefront/src/app/layout.tsx
  examples/kitchen-sink/apps/storefront/src/app/page.tsx
  examples/kitchen-sink/apps/storefront/src/app/styles.css
  examples/kitchen-sink/apps/storefront/src/pages/_app.tsx
  examples/kitchen-sink/apps/storefront/tsconfig.json
  examples/kitchen-sink/package.json
  examples/kitchen-sink/packages/eslint-config-custom-server/package.json
  examples/kitchen-sink/packages/eslint-config-custom/package.json
  examples/kitchen-sink/packages/tsconfig/nextjs.json
  examples/kitchen-sink/packages/ui/tsup.config.ts
  examples/kitchen-sink/pnpm-lock.yaml
Labels: area: examples, team: turborepo

#4930 Merge JS package tests into test.yml
  .github/workflows/pr-js-tests-all.yml
  .github/workflows/pr-js-tests-filtered.yml
  .github/workflows/test.yml
Labels: area: ci, team: turborepo, team: turbopack

#4963 docs: Explain recursive topo tasks more
  docs/pages/repo/docs/core-concepts/monorepos/task-dependencies.mdx
Labels: area: docs, team: turborepo

#4965 feat: Print failed tasks at the bottom of the run
  cli/internal/runsummary/format_execution_summary.go
  cli/internal/runsummary/run_summary.go
  turborepo-tests/integration/tests/continue.t
  turborepo-tests/integration/tests/errors-only.t
  turborepo-tests/integration/tests/one_script_error.t
Labels: team: turborepo

#4981 fix(lockfile): traverse npm peer dependencies
  crates/turborepo-lockfiles/src/npm.rs
Labels: team: turborepo

#4984 feat(cli): rework generator api
  crates/turborepo-lib/src/cli.rs
  crates/turborepo-lib/src/commands/generate.rs
Labels: team: turborepo

#4913 Send task summaries as tasks finish
  cli/internal/run/real_run.go
  cli/internal/runsummary/execution_summary.go
  cli/internal/runsummary/format_execution_summary.go
  cli/internal/runsummary/run_summary.go
  cli/internal/runsummary/spaces.go
Labels: pr: fixship, team: turborepo

#4847 Update with-react-native-web with App Router.
  examples/with-react-native-web/apps/native/package.json
  examples/with-react-native-web/apps/web/app/layout.tsx
  examples/with-react-native-web/apps/web/app/page.tsx
  examples/with-react-native-web/apps/web/package.json
  examples/with-react-native-web/apps/web/pages/_app.tsx
  examples/with-react-native-web/apps/web/tsconfig.json
  examples/with-react-native-web/package.json
  examples/with-react-native-web/packages/ui/package.json
  examples/with-react-native-web/packages/ui/tsup.config.ts
  examples/with-react-native-web/yarn.lock
Labels: area: examples, team: turborepo

#4842 Update non-monorepo with App Router.
  examples/non-monorepo/app/favicon.ico
  examples/non-monorepo/app/layout.tsx
  examples/non-monorepo/app/page.tsx
  examples/non-monorepo/app/vercel.svg
  examples/non-monorepo/package.json
  examples/non-monorepo/pages/_app.tsx
  examples/non-monorepo/pages/api/hello.ts
  examples/non-monorepo/tsconfig.json
  examples/non-monorepo/yarn.lock
Labels: area: examples, team: turborepo

#4846 Update with-prisma with App Router.
  examples/with-prisma/apps/web/app/layout.tsx
  examples/with-prisma/apps/web/app/page.tsx
  examples/with-prisma/apps/web/package.json
  examples/with-prisma/apps/web/pages/api/users.ts
  examples/with-prisma/apps/web/pages/index.tsx
  examples/with-prisma/apps/web/tsconfig.json
  examples/with-prisma/package.json
  examples/with-prisma/packages/config/package.json
  examples/with-prisma/packages/tsconfig/nextjs.json
  examples/with-prisma/yarn.lock
Labels: area: examples, team: turborepo

#4844 Update with-docker with App Router.
  examples/with-docker/apps/web/package.json
  examples/with-docker/apps/web/src/app/layout.tsx
  examples/with-docker/apps/web/src/app/page.tsx
  examples/with-docker/apps/web/tsconfig.json
  examples/with-docker/package.json
  examples/with-docker/packages/eslint-config-custom/package.json
  examples/with-docker/packages/tsconfig/nextjs.json
  examples/with-docker/packages/ui/package.json
  examples/with-docker/yarn.lock
Labels: area: examples, team: turborepo

#4972 Configure React development flag, inherit NODE_ENV from execution context
  Cargo.lock
  crates/turbopack-ecmascript/src/transform/mod.rs
  crates/turbopack-tests/tests/snapshot.rs
  crates/turbopack/Cargo.toml
  crates/turbopack/src/evaluate_context.rs
  crates/turbopack/src/module_options/mod.rs
  crates/turbopack/src/module_options/module_options_context.rs
Labels: team: turbopack

#4991 ci: Use variable instead of secret for TURBO_TEAM
  .github/workflows/test.yml
Labels: area: ci, team: turborepo, team: turbopack

#4990 ci: Fix create-turbo usage in smoke tests
  scripts/smoke-published.ts
Labels: pr: automerge, team: turborepo, team: turbopack

#4982 chore: Standardize turborepo prefix
  .github/CODEOWNERS
  .github/workflows/test.yml
  Cargo.lock
  Cargo.toml
  crates/turborepo-glob-match/Cargo.toml
  crates/turborepo-glob-match/LICENSE
  crates/turborepo-glob-match/README.md
  crates/turborepo-glob-match/benches/bench.rs
  crates/turborepo-glob-match/fuzz/.gitignore
  crates/turborepo-glob-match/fuzz/Cargo.lock
  crates/turborepo-glob-match/fuzz/Cargo.toml
  crates/turborepo-glob-match/fuzz/fuzz_targets/both_fuzz.rs
  crates/turborepo-glob-match/fuzz/fuzz_targets/lib.rs
  crates/turborepo-glob-match/fuzz/fuzz_targets/pattern_on_itself.rs
  crates/turborepo-glob-match/rustfmt.toml
  crates/turborepo-glob-match/src/lib.rs
  crates/turborepo-globwatch/Cargo.toml
  crates/turborepo-globwatch/examples/cancel.rs
  crates/turborepo-globwatch/readme.md
  crates/turborepo-globwatch/src/lib.rs
  crates/turborepo-lib/Cargo.toml
  crates/turborepo-paths/Cargo.toml
  crates/turborepo-paths/src/absolute_system_path.rs
  crates/turborepo-paths/src/absolute_system_path_buf.rs
  crates/turborepo-paths/src/anchored_system_path_buf.rs
  crates/turborepo-paths/src/lib.rs
  crates/turborepo-paths/src/relative_system_path_buf.rs
  crates/turborepo-paths/src/relative_unix_path.rs
  crates/turborepo-paths/src/relative_unix_path_buf.rs
  crates/turborepo-pidlock/.gitignore
  crates/turborepo-pidlock/Cargo.toml
  crates/turborepo-pidlock/LICENSE-MIT
  crates/turborepo-pidlock/README.md
  crates/turborepo-pidlock/deny.toml
  crates/turborepo-pidlock/src/lib.rs
  crates/turborepo-updater/Cargo.toml
  crates/turborepo-updater/src/lib.rs
  crates/turborepo-updater/src/ui/mod.rs
  crates/turborepo-updater/src/ui/utils.rs
Labels: area: ci, team: turborepo, team: turbopack

#4997 feat(turbo/gen): tests and consistent CLI args
  packages/turbo-gen/README.md
  packages/turbo-gen/__tests__/raw.test.ts
  packages/turbo-gen/package.json
  packages/turbo-gen/src/cli.ts
  packages/turbo-gen/src/commands/index.ts
  packages/turbo-gen/src/commands/raw/index.ts
  packages/turbo-gen/src/commands/run/index.ts
  packages/turbo-gen/src/commands/run/prompts.ts
  packages/turbo-gen/src/commands/workspace/index.ts
  packages/turbo-gen/src/commands/workspace/prompts.ts
  packages/turbo-gen/src/generators/copy.ts
  packages/turbo-gen/src/generators/custom.ts
  packages/turbo-gen/src/generators/types.ts
  packages/turbo-gen/src/utils/gatherAddRequirements.ts
  packages/turbo-gen/src/utils/getWorkspaceList.ts
  turbo/generators/config.ts
  turbo/generators/templates/turborepo-generators.hbs
Labels: team: turborepo, team: turbopack

#4996 feat(cli): generators what -> type + cmd change
  crates/turborepo-lib/src/cli.rs
  crates/turborepo-lib/src/commands/generate.rs
Labels: team: turborepo

#5003 ci: remove escaping of ! in filter argument to turbo run
  .github/workflows/test.yml
  .github/workflows/turborepo-release.yml
Labels: area: ci, team: turborepo, team: turbopack

#4919 Move http cache writing to cacheitem.
  .github/workflows/turborepo-compare-cache-item.yml
  cli/internal/cache/cache_http.go
  cli/internal/cache/cache_http_test.go
  cli/internal/cacheitem/cacheitem.go
  cli/internal/cacheitem/create.go
  cli/internal/cacheitem/restore.go
  scripts/server.js
Labels: area: ci, team: turborepo, team: turbopack

#5001 fix(turborepo): Use which crate to resolve yarn binary
  Cargo.lock
  Cargo.toml
  crates/turborepo-lib/Cargo.toml
  crates/turborepo-lib/src/package_manager/yarn.rs
  crates/turborepo-scm/Cargo.toml
  crates/turborepo-scm/src/git.rs
  crates/turborepo-scm/src/lib.rs
  turborepo-tests/integration/tests/package_manager.t
Labels: team: turborepo, team: turbopack

#4978 feat(docs): add code gen page
  docs/pages/repo/docs/core-concepts/monorepos/_meta.json
  docs/pages/repo/docs/core-concepts/monorepos/code-generation.mdx
  docs/pages/repo/docs/reference/command-line-reference.mdx
  docs/public/images/docs/turborepo-generators-copy.png
  docs/public/images/docs/turborepo-generators-empty.png
Labels: area: docs, area: site, docs: next release, team: turborepo, team: turbopack

#4969 ci: Remove Rust/Go toolchain for examples tests
  .github/actions/setup-rust/action.yml
  .github/actions/setup-turborepo-environment/action.yml
  .github/workflows/test.yml
Labels: area: ci, team: turborepo, team: turbopack

#5009 fix(yarn): no longer error on pnp
  crates/turborepo-lib/src/package_manager/mod.rs
  crates/turborepo-lib/src/package_manager/yarn.rs
Labels: pr: automerge, team: turborepo

#4724 Remove `THASH`
  cli/internal/run/global_hash.go
  cli/internal/run/run.go
  docs/pages/blog/turbo-1-1-0.mdx
  docs/pages/repo/docs/core-concepts/caching.mdx
  turborepo-tests/integration/tests/global_env.t
Labels: area: docs, pr: automerge, docs: next release, team: turborepo, team: turbopack

#5016 chore(turbo/gen): mark as experimental
  docs/pages/repo/docs/core-concepts/monorepos/code-generation.mdx
  docs/pages/repo/docs/reference/command-line-reference.mdx
Labels: area: docs, team: turborepo

#5002 fix: no longer crash for single projects with global dependencies
  cli/internal/packagemanager/pnpm.go
  cli/internal/run/global_hash.go
  turborepo-tests/integration/tests/single_package/dry-run-pnpm.t
Labels: team: turborepo

#4980 refactor(turborepo): Signature Authentication (2nd try)
  .cargo/config.toml
  Cargo.lock
  Cargo.toml
  cli/internal/cache/cache_http.go
  cli/internal/cache/cache_signature_authentication.go
  cli/internal/cache/cache_signature_authentication_test.go
  cli/internal/edgecases/strings.go
  cli/internal/ffi/bindings.h
  cli/internal/ffi/ffi.go
  cli/internal/ffi/proto/messages.pb.go
  cli/internal/run/global_hash.go
  crates/turborepo-cache/Cargo.toml
  crates/turborepo-cache/src/lib.rs
  crates/turborepo-cache/src/signature_authentication.rs
  crates/turborepo-ffi/Cargo.toml
  crates/turborepo-ffi/messages.proto
  crates/turborepo-ffi/src/lib.rs
  turborepo-tests/integration/tests/composable_config/composing-add-keys.t
  turborepo-tests/integration/tests/composable_config/composing-add-tasks.t
  turborepo-tests/integration/tests/composable_config/composing-cache.t
  turborepo-tests/integration/tests/composable_config/composing-config-change.t
  turborepo-tests/integration/tests/composable_config/composing-cross-workspace.t
  turborepo-tests/integration/tests/composable_config/composing-missing-workspace-config-deps.t
  turborepo-tests/integration/tests/composable_config/composing-missing-workspace-config.t
  turborepo-tests/integration/tests/composable_config/composing-omit-keys-deps.t
  turborepo-tests/integration/tests/composable_config/composing-omit-keys.t
  turborepo-tests/integration/tests/composable_config/composing-override-values-deps.t
  turborepo-tests/integration/tests/composable_config/composing-override-values.t
  turborepo-tests/integration/tests/composable_config/composing-persistent.t
  turborepo-tests/integration/tests/continue.t
  turborepo-tests/integration/tests/dry_json/monorepo.t
  turborepo-tests/integration/tests/dry_json/single_package.t
  turborepo-tests/integration/tests/dry_json/single_package_no_config.t
  turborepo-tests/integration/tests/dry_json/single_package_with_deps.t
  turborepo-tests/integration/tests/dry_run.t
  turborepo-tests/integration/tests/edit_turbo_json/task.t
  turborepo-tests/integration/tests/errors-only.t
  turborepo-tests/integration/tests/excluded_inputs.t
  turborepo-tests/integration/tests/find_correct_turbo.t
  turborepo-tests/integration/tests/global_env.t
  turborepo-tests/integration/tests/inference/has_workspaces.t
  turborepo-tests/integration/tests/inference/nested_workspaces.t
  turborepo-tests/integration/tests/inference/no_workspaces.t
  turborepo-tests/integration/tests/log_prefix.t
  turborepo-tests/integration/tests/one_script_error.t
  turborepo-tests/integration/tests/persistent_dependencies/persistent-6-topological-unimplemented.t
  turborepo-tests/integration/tests/prune/composable-config.t
  turborepo-tests/integration/tests/run/force.t
  turborepo-tests/integration/tests/run_summary/discovery.t
  turborepo-tests/integration/tests/run_summary/error.t
  turborepo-tests/integration/tests/single_package/dry-run.t
  turborepo-tests/integration/tests/single_package/no-config.t
  turborepo-tests/integration/tests/single_package/run-yarn.t
  turborepo-tests/integration/tests/single_package/run.t
  turborepo-tests/integration/tests/single_package/with-deps-dry-run.t
  turborepo-tests/integration/tests/single_package/with-deps-run.t
  turborepo-tests/integration/tests/task-dependencies/overwriting.t
  turborepo-tests/integration/tests/task-dependencies/topological.t
  turborepo-tests/integration/tests/verbosity.t
Labels: team: turborepo, team: turbopack, global-hash-bump

#4993 ci: Remove go/rust toolchain from JS package tests
  .github/workflows/test.yml
Labels: area: ci, team: turborepo, team: turbopack

#5018 Add ServerInfo struct for node rendering
  crates/turbopack-core/src/environment.rs
Labels: team: turbopack

#4895 Implement `package.json`'s `imports` field
  crates/turbo-tasks-memory/tests/debug.rs
  crates/turbopack-core/src/issue/mod.rs
  crates/turbopack-core/src/issue/package_json.rs
  crates/turbopack-core/src/lib.rs
  crates/turbopack-core/src/package_json.rs
  crates/turbopack-core/src/resolve/mod.rs
  crates/turbopack-core/src/resolve/node.rs
  crates/turbopack-core/src/resolve/options.rs
  crates/turbopack-core/src/resolve/remap.rs
  crates/turbopack-ecmascript/src/resolve/mod.rs
  crates/turbopack-ecmascript/src/typescript/resolve.rs
  crates/turbopack-tests/tests/snapshot/imports/subpath-imports/input/dep/index.js
  crates/turbopack-tests/tests/snapshot/imports/subpath-imports/input/dep/package.json
  crates/turbopack-tests/tests/snapshot/imports/subpath-imports/input/foo.js
  crates/turbopack-tests/tests/snapshot/imports/subpath-imports/input/import.mjs
  crates/turbopack-tests/tests/snapshot/imports/subpath-imports/input/index.js
  crates/turbopack-tests/tests/snapshot/imports/subpath-imports/input/package.json
  crates/turbopack-tests/tests/snapshot/imports/subpath-imports/input/pat.js
  crates/turbopack-tests/tests/snapshot/imports/subpath-imports/input/require.cjs
  crates/turbopack-tests/tests/snapshot/imports/subpath-imports/output/crates_turbopack-tests_tests_snapshot_imports_subpath-imports_input_index_31b659.js
  crates/turbopack-tests/tests/snapshot/imports/subpath-imports/output/crates_turbopack-tests_tests_snapshot_imports_subpath-imports_input_index_31b659.js.map
  crates/turbopack-tests/tests/snapshot/imports/subpath-imports/output/crates_turbopack-tests_tests_snapshot_imports_subpath-imports_input_index_a5e0f3.js
  crates/turbopack-tests/tests/snapshot/imports/subpath-imports/output/crates_turbopack-tests_tests_snapshot_imports_subpath-imports_input_index_b53fce.js
  crates/turbopack-tests/tests/snapshot/imports/subpath-imports/output/crates_turbopack-tests_tests_snapshot_imports_subpath-imports_input_index_b53fce.js.map
  crates/turbopack/src/resolve.rs
Labels: pr: automerge, team: turbopack

#5022 test: fix berry roundtrip test on
  .gitattributes
Labels: team: turborepo, team: turbopack

#5033 Revert "ci: Remove go/rust toolchain from JS package tests (#4993)"
  .github/workflows/test.yml
Labels: area: ci, team: turborepo, team: turbopack

#5006 feat(basic): add generators to basic example
  examples/basic/package.json
  examples/basic/packages/ui/index.tsx
  examples/basic/packages/ui/package.json
  examples/basic/packages/ui/turbo/generators/config.ts
  examples/basic/packages/ui/turbo/generators/templates/component.hbs
  examples/basic/pnpm-lock.yaml
Labels: area: examples, team: turborepo

#5010 ci: enable remote caching and spaces to turbo lint job
  .github/workflows/test.yml
Labels: area: ci, team: turborepo, team: turbopack

#5039 Update skipping-tasks.mdx
  docs/pages/repo/docs/core-concepts/monorepos/skipping-tasks.mdx
Labels: area: docs, team: turborepo

#5041 Update skipping-tasks.mdx
  docs/pages/repo/docs/core-concepts/monorepos/skipping-tasks.mdx
Labels: area: docs, team: turborepo

#5023 ci: Reinstate cargo sweep
  .github/actions/setup-rust/action.yml
  .github/actions/setup-turborepo-environment/action.yml
Labels: area: ci, team: turborepo, team: turbopack

#5020 feat(turborepo): remove RelativeSystemPathBuf, clean paths on join
  Cargo.lock
  crates/turborepo-fs/src/lib.rs
  crates/turborepo-lib/src/commands/daemon.rs
  crates/turborepo-lib/src/commands/link.rs
  crates/turborepo-lib/src/commands/mod.rs
  crates/turborepo-lib/src/commands/unlink.rs
  crates/turborepo-lib/src/config/repo.rs
  crates/turborepo-lib/src/daemon/endpoint.rs
  crates/turborepo-lib/src/daemon/server.rs
  crates/turborepo-lib/src/execution_state.rs
  crates/turborepo-lib/src/package_manager/npm.rs
  crates/turborepo-lib/src/package_manager/pnpm.rs
  crates/turborepo-lib/src/package_manager/yarn.rs
  crates/turborepo-paths/Cargo.toml
  crates/turborepo-paths/src/absolute_system_path.rs
  crates/turborepo-paths/src/absolute_system_path_buf.rs
  crates/turborepo-paths/src/anchored_system_path_buf.rs
  crates/turborepo-paths/src/lib.rs
  crates/turborepo-paths/src/relative_system_path_buf.rs
  crates/turborepo-paths/src/relative_unix_path.rs
  crates/turborepo-paths/src/relative_unix_path_buf.rs
Labels: pr: automerge, team: turborepo
