Repository vercel/turborepo, pull requests merged in 2023-02, with the labels that each got.

#3534 ci(workflow): format integration test results
  .github/actions/next-integration-stat/action.yml
  .github/actions/next-integration-stat/index.js
  .github/actions/next-integration-stat/package-lock.json
  .github/actions/next-integration-stat/package.json
  .github/actions/next-integration-stat/src/index.js
  .github/actions/next-integration-stat/src/index.ts
  .github/workflows/nextjs-integration-test.yml
  .github/workflows/on-default-branch-update.yml
  .github/workflows/on-nextjs-release-publish.yml
  .github/workflows/test.yml
  .github/workflows/upload-nextjs-integration-test-results.yml
Labels: pr: automerge, area: ci

#3568 font/google test: update cssmodule classnames
  crates/next-dev-tests/tests/integration/next/font-google/basic/pages/index.js
Labels: pr: automerge, area: turbopack

#3549 add worker condition to edge compilation
  crates/next-core/src/next_edge/context.rs
Labels: area: turbopack

#3542 Wrap CSS chunk items in a @layer
  crates/next-dev-tests/tests/integration/next/font-google/basic/pages/index.js
  crates/turbopack-css/src/chunk/mod.rs
  crates/turbopack-css/src/chunk/writer.rs
  crates/turbopack-tests/tests/snapshot/css/absolute-uri-import/output/crates_turbopack-tests_tests_snapshot_css_absolute-uri-import_input_index.css
  crates/turbopack-tests/tests/snapshot/css/absolute-uri-import/output/crates_turbopack-tests_tests_snapshot_css_absolute-uri-import_input_index.css.map
  crates/turbopack-tests/tests/snapshot/css/css/output/8697f_foo_style.css
  crates/turbopack-tests/tests/snapshot/css/css/output/8697f_foo_style.module.css
  crates/turbopack-tests/tests/snapshot/css/css/output/crates_turbopack-tests_tests_snapshot_css_css_input_style.css
  crates/turbopack-tests/tests/snapshot/css/css/output/crates_turbopack-tests_tests_snapshot_css_css_input_style.css.map
  crates/turbopack-tests/tests/snapshot/css/css/output/crates_turbopack-tests_tests_snapshot_css_css_input_style.module.css
Labels: area: turbopack

#3557 feat(example): tailwind improvement and treeshaking
  examples/with-tailwind/apps/docs/src/pages/index.tsx
  examples/with-tailwind/apps/web/src/pages/index.tsx
  examples/with-tailwind/packages/ui/package.json
  examples/with-tailwind/packages/ui/postcss.config.js
  examples/with-tailwind/packages/ui/src/Button.tsx
  examples/with-tailwind/packages/ui/src/Card.tsx
  examples/with-tailwind/packages/ui/src/index.tsx
  examples/with-tailwind/packages/ui/tailwind.config.js
  examples/with-tailwind/packages/ui/tsup.config.ts
  examples/with-tailwind/pnpm-lock.yaml
  examples/with-tailwind/turbo.json
Labels: area: examples

#3572 ci(renovate): trying to enable swc_* updates
  .github/renovate.json
Labels: area: ci

#3361 external node_modules for SSR
  crates/next-core/src/next_server/context.rs
  crates/next-core/src/next_server/mod.rs
  crates/next-core/src/next_server/resolve.rs
  crates/turbo-tasks/src/debug/internal.rs
  crates/turbopack-core/src/environment.rs
  crates/turbopack-core/src/resolve/alias_map.rs
  crates/turbopack-core/src/resolve/mod.rs
  crates/turbopack-core/src/resolve/options.rs
  crates/turbopack-core/src/resolve/plugin.rs
  crates/turbopack/src/resolve.rs
  crates/turbopack/src/resolve_options_context.rs
Labels: area: turbopack, area: ci

#3531 Avoids emitting the same output from multiple processes of the same process pool
  crates/turbopack-node/src/pool.rs
Labels: area: turbopack

#3575 style(prettier): apply prettier
  .github/renovate.json
Labels: area: ci

#3555 Move helpers for getting task ancestors/descendants to engine
  cli/internal/core/engine.go
  cli/internal/run/dry_run.go
Labels: area: turborepo

#3565 fix: update rust test references
  .github/workflows/test.yml
Labels: area: ci

#3554 docs: add quotes to directory filter with glob
  docs/pages/repo/docs/core-concepts/monorepos/filtering.mdx
Labels: area: docs

#3465 show turbopack warnings in error overlay
  crates/next-core/js/src/dev/hmr-client.ts
  crates/next-core/js/src/overlay/internal/ErrorBoundary.tsx
  crates/next-core/js/src/overlay/internal/ReactDevOverlay.tsx
  crates/next-core/js/src/overlay/internal/components/Toast/Toast.tsx
  crates/next-core/js/src/overlay/internal/components/Toast/styles.ts
  crates/next-core/js/src/overlay/internal/container/Errors.tsx
  crates/next-core/js/src/overlay/internal/container/ErrorsToast.tsx
  crates/next-core/js/src/overlay/internal/container/RuntimeError.tsx
  crates/turbo-tasks-fs/src/lib.rs
  crates/turbopack-create-test-app/src/test_app_builder.rs
Labels: area: turbopack

#3535 Document global turbo package inference behavior
  docs/pages/repo/docs/core-concepts/monorepos/filtering.mdx
  docs/pages/repo/docs/handbook/dev.mdx
Labels: area: docs, pr: automerge

#3578 fix: Use rustls-tls feature
  .github/workflows/turborepo-release-step-3.yml
Labels: area: ci

#3567 ci(workflow): store plain text test summary
  .github/actions/next-integration-stat/index.js
  .github/actions/next-integration-stat/src/index.ts
  .github/actions/next-integration-stat/tsconfig.json
  .github/workflows/nextjs-integration-test.yml
Labels: pr: automerge, area: ci

#3563 Bump cli dependency
  cli/go.mod
  cli/go.sum
Labels: pr: automerge, area: turborepo

#3546 fix cache cleanup
  .github/workflows/pr-clean-caches.yml
  .github/workflows/test.yml
Labels: area: ci

#3581 ci(workflow): fix version trim for test results data
  .github/workflows/upload-nextjs-integration-test-results.yml
Labels: area: ci

#3551 avoid warning in webpack loader executor
  crates/turbopack-ecmascript/js/src/runtime.js
  crates/turbopack-node/js/src/transforms/webpack-loaders.ts
  crates/turbopack-tests/tests/snapshot/basic/async_chunk/output/crates_turbopack-tests_tests_snapshot_basic_async_chunk_input_index_86ad1c.js
  crates/turbopack-tests/tests/snapshot/basic/chunked/output/crates_turbopack-tests_tests_snapshot_basic_chunked_input_index_7b0a2d.js
  crates/turbopack-tests/tests/snapshot/css/absolute-uri-import/output/crates_turbopack-tests_tests_snapshot_css_absolute-uri-import_input_index_cc4e03.js
  crates/turbopack-tests/tests/snapshot/css/css/output/crates_turbopack-tests_tests_snapshot_css_css_input_index_ffc44e.js
  crates/turbopack-tests/tests/snapshot/emotion/emotion/output/crates_turbopack-tests_tests_snapshot_emotion_emotion_input_index_6545dc.js
  crates/turbopack-tests/tests/snapshot/env/env/output/crates_turbopack-tests_tests_snapshot_env_env_input_79db8d.js
  crates/turbopack-tests/tests/snapshot/evaluated_entrry/runtime_entry/output/a587c_tests_snapshot_evaluated_entrry_runtime_entry_input_index_82abf8.js
  crates/turbopack-tests/tests/snapshot/example/example/output/crates_turbopack-tests_tests_snapshot_example_example_input_index_3ac8f1.js
  crates/turbopack-tests/tests/snapshot/export-alls/cjs-2/output/crates_turbopack-tests_tests_snapshot_export-alls_cjs-2_input_index_0ea679.js
  crates/turbopack-tests/tests/snapshot/export-alls/cjs-script/output/crates_turbopack-tests_tests_snapshot_export-alls_cjs-script_input_index_1cb91d.js
  crates/turbopack-tests/tests/snapshot/import-meta/cjs/output/crates_turbopack-tests_tests_snapshot_import-meta_cjs_input_index_15c5b2.js
  crates/turbopack-tests/tests/snapshot/import-meta/esm-multiple/output/79fb1_turbopack-tests_tests_snapshot_import-meta_esm-multiple_input_index_600f46.js
  crates/turbopack-tests/tests/snapshot/import-meta/esm-mutable/output/crates_turbopack-tests_tests_snapshot_import-meta_esm-mutable_input_index_821998.js
  crates/turbopack-tests/tests/snapshot/import-meta/esm-object/output/crates_turbopack-tests_tests_snapshot_import-meta_esm-object_input_index_3e4780.js
  crates/turbopack-tests/tests/snapshot/import-meta/esm/output/crates_turbopack-tests_tests_snapshot_import-meta_esm_input_index_a09dae.js
  crates/turbopack-tests/tests/snapshot/import-meta/url/output/crates_turbopack-tests_tests_snapshot_import-meta_url_input_index_5f9b2b.js
  crates/turbopack-tests/tests/snapshot/imports/dynamic/output/crates_turbopack-tests_tests_snapshot_imports_dynamic_input_index_02e5e6.js
  crates/turbopack-tests/tests/snapshot/imports/json/output/crates_turbopack-tests_tests_snapshot_imports_json_input_index_6aa119.js
  crates/turbopack-tests/tests/snapshot/imports/resolve_error_cjs/output/79fb1_turbopack-tests_tests_snapshot_imports_resolve_error_cjs_input_index_17aed8.js
  crates/turbopack-tests/tests/snapshot/imports/resolve_error_esm/output/79fb1_turbopack-tests_tests_snapshot_imports_resolve_error_esm_input_index_8b9f00.js
  crates/turbopack-tests/tests/snapshot/imports/static-and-dynamic/output/79fb1_turbopack-tests_tests_snapshot_imports_static-and-dynamic_input_index_dbdca3.js
  crates/turbopack-tests/tests/snapshot/imports/static/output/crates_turbopack-tests_tests_snapshot_imports_static_input_index_9cc7ba.js
  crates/turbopack-tests/tests/snapshot/node/node_protocol_external/output/79fb1_turbopack-tests_tests_snapshot_node_node_protocol_external_input_index_af312f.js
  crates/turbopack-tests/tests/snapshot/styled_components/styled_components/output/a587c_tests_snapshot_styled_components_styled_components_input_index_114b79.js
  crates/turbopack-tests/tests/snapshot/swc_transforms/mono_transforms/output/a587c_tests_snapshot_swc_transforms_mono_transforms_input_packages_app_index_a3868e.js
  crates/turbopack-tests/tests/snapshot/swc_transforms/preset_env/output/79fb1_turbopack-tests_tests_snapshot_swc_transforms_preset_env_input_index_aeb540.js
  crates/turbopack-tests/tests/snapshot/typescript/jsconfig-baseurl/output/79fb1_turbopack-tests_tests_snapshot_typescript_jsconfig-baseurl_input_index_2fc4fa.js
  crates/turbopack-tests/tests/snapshot/typescript/tsconfig-baseurl/output/a587c_tests_snapshot_typescript_tsconfig-baseurl_input_index_f4a13c.ts.js
Labels: pr: automerge, area: turbopack

#3584 ci(actions): skip unparseable tree
  .github/actions/next-integration-stat/index.js
  .github/actions/next-integration-stat/src/index.ts
Labels: area: ci

#3580 fix(use correct serialization logic for turbo.json)
  cli/integration_tests/basic_monorepo/dry_run.t
  cli/integration_tests/prune/monorepo_with_root_dep/apps/web/package.json
  cli/integration_tests/prune/monorepo_with_root_dep/packages/shared/package.json
  cli/integration_tests/prune/monorepo_with_root_dep/packages/util/package.json
  cli/integration_tests/prune/monorepo_with_root_dep/turbo.json
  cli/integration_tests/prune/produces_valid_turbo_json.t
  cli/integration_tests/single_package/dry-run.t
  cli/integration_tests/single_package_deps/dry-run.t
  cli/integration_tests/single_package_no_config/dry-run.t
  cli/internal/fs/turbo_json.go
  cli/internal/util/task_output_mode.go
Labels: area: turborepo

#3566 Move persistent deps tests to prysk
  cli/integration_tests/persistent_dependencies/1-topological/.gitignore
  cli/integration_tests/persistent_dependencies/1-topological/apps/app-a/package.json
  cli/integration_tests/persistent_dependencies/1-topological/package.json
  cli/integration_tests/persistent_dependencies/1-topological/packages/pkg-a/package.json
  cli/integration_tests/persistent_dependencies/1-topological/turbo.json
  cli/integration_tests/persistent_dependencies/2-same-workspace/.gitignore
  cli/integration_tests/persistent_dependencies/2-same-workspace/apps/app-a/package.json
  cli/integration_tests/persistent_dependencies/2-same-workspace/package.json
  cli/integration_tests/persistent_dependencies/2-same-workspace/turbo.json
  cli/integration_tests/persistent_dependencies/3-workspace-specific/.gitignore
  cli/integration_tests/persistent_dependencies/3-workspace-specific/apps/app-a/package.json
  cli/integration_tests/persistent_dependencies/3-workspace-specific/package.json
  cli/integration_tests/persistent_dependencies/3-workspace-specific/packages/pkg-a/package.json
  cli/integration_tests/persistent_dependencies/3-workspace-specific/turbo.json
  cli/integration_tests/persistent_dependencies/4-cross-workspace/.gitignore
  cli/integration_tests/persistent_dependencies/4-cross-workspace/apps/app-a/package.json
  cli/integration_tests/persistent_dependencies/4-cross-workspace/package.json
  cli/integration_tests/persistent_dependencies/4-cross-workspace/packages/pkg-a/package.json
  cli/integration_tests/persistent_dependencies/4-cross-workspace/turbo.json
  cli/integration_tests/persistent_dependencies/5-root-workspace/.gitignore
  cli/integration_tests/persistent_dependencies/5-root-workspace/apps/app-a/package.json
  cli/integration_tests/persistent_dependencies/5-root-workspace/package.json
  cli/integration_tests/persistent_dependencies/5-root-workspace/turbo.json
  cli/integration_tests/persistent_dependencies/6-topological-unimplemented/.gitignore
  cli/integration_tests/persistent_dependencies/6-topological-unimplemented/apps/app-a/package.json
  cli/integration_tests/persistent_dependencies/6-topological-unimplemented/package.json
  cli/integration_tests/persistent_dependencies/6-topological-unimplemented/packages/pkg-a/package.json
  cli/integration_tests/persistent_dependencies/6-topological-unimplemented/turbo.json
  cli/integration_tests/persistent_dependencies/7-topological-nested/.gitignore
  cli/integration_tests/persistent_dependencies/7-topological-nested/apps/app-a/package.json
  cli/integration_tests/persistent_dependencies/7-topological-nested/package.json
  cli/integration_tests/persistent_dependencies/7-topological-nested/packages/pkg-a/package.json
  cli/integration_tests/persistent_dependencies/7-topological-nested/packages/pkg-b/package.json
  cli/integration_tests/persistent_dependencies/7-topological-nested/turbo.json
  cli/integration_tests/persistent_dependencies/8-topological-with-extra/.gitignore
  cli/integration_tests/persistent_dependencies/8-topological-with-extra/apps/app-a/package.json
  cli/integration_tests/persistent_dependencies/8-topological-with-extra/package.json
  cli/integration_tests/persistent_dependencies/8-topological-with-extra/packages/pkg-a/package.json
  cli/integration_tests/persistent_dependencies/8-topological-with-extra/packages/pkg-b/package.json
  cli/integration_tests/persistent_dependencies/8-topological-with-extra/packages/pkg-z/package.json
  cli/integration_tests/persistent_dependencies/8-topological-with-extra/turbo.json
  cli/integration_tests/persistent_dependencies/9-cross-workspace-nested/.gitignore
  cli/integration_tests/persistent_dependencies/9-cross-workspace-nested/apps/app-a/package.json
  cli/integration_tests/persistent_dependencies/9-cross-workspace-nested/apps/app-b/package.json
  cli/integration_tests/persistent_dependencies/9-cross-workspace-nested/apps/app-c/package.json
  cli/integration_tests/persistent_dependencies/9-cross-workspace-nested/apps/app-z/package.json
  cli/integration_tests/persistent_dependencies/9-cross-workspace-nested/package.json
  cli/integration_tests/persistent_dependencies/9-cross-workspace-nested/turbo.json
  cli/integration_tests/persistent_dependencies/persistent-1-topological.t
  cli/integration_tests/persistent_dependencies/persistent-2-same-workspace.t
  cli/integration_tests/persistent_dependencies/persistent-3-workspace-specific.t
  cli/integration_tests/persistent_dependencies/persistent-4-cross-workspace.t
  cli/integration_tests/persistent_dependencies/persistent-5-root-workspace.t
  cli/integration_tests/persistent_dependencies/persistent-6-topological-unimplemented.t
  cli/integration_tests/persistent_dependencies/persistent-7-topological-nested.t
  cli/integration_tests/persistent_dependencies/persistent-8-topological-with-extra.t
  cli/integration_tests/persistent_dependencies/persistent-9-cross-workspace-nested.t
  cli/integration_tests/persistent_dependencies/setup.sh
  cli/internal/core/engine_persistent_deps_test.go
Labels: area: turborepo

#3579 Remove unused code
  cli/internal/run/run.go
Labels: area: turborepo, pr: autoupdate

#3586 feat(cli): support ci header
  cli/internal/ci/ci.go
  cli/internal/ci/vendors.go
  cli/internal/client/client.go
  cli/internal/ui/ui.go
Labels: area: turborepo

#3517 fix: pnpm prune misses git dependency
  cli/internal/lockfile/pnpm_lockfile.go
  cli/internal/lockfile/pnpm_lockfile_test.go
  cli/internal/lockfile/testdata/pnpm7-workspace.yaml
Labels: area: turborepo

#3589 fix: bring back tty into ci detection
  cli/internal/ui/ui.go
Labels: area: turborepo

#3550 improve error reporting for fatal errors
  crates/next-core/src/next_client_chunks/with_chunks.rs
  crates/next-core/src/next_client_component/with_client_chunks.rs
  crates/turbo-tasks-memory/src/output.rs
  crates/turbo-tasks-memory/src/task.rs
  crates/turbo-tasks/src/native_function.rs
  crates/turbo-tasks/src/util.rs
  crates/turbopack-core/src/chunk/mod.rs
  crates/turbopack-css/src/module_asset.rs
  crates/turbopack-ecmascript/src/chunk/mod.rs
  crates/turbopack-ecmascript/src/chunk_group_files_asset.rs
  crates/turbopack-ecmascript/src/lib.rs
  crates/turbopack-ecmascript/src/parse.rs
  crates/turbopack-env/src/asset.rs
  crates/turbopack-json/src/issue.rs
  crates/turbopack-json/src/lib.rs
  crates/turbopack-mdx/src/lib.rs
  crates/turbopack-static/src/lib.rs
  crates/turbopack-tests/tests/snapshot.rs
  crates/turbopack-tests/tests/snapshot/imports/json/issues/Code generation for chunk item errored-1fdecc.txt
  crates/turbopack-tests/tests/snapshot/imports/json/issues/Error parsing JSON file-9fd9d3.txt
  crates/turbopack-tests/tests/snapshot/imports/json/output/crates_turbopack-tests_tests_snapshot_imports_json_input_index_6aa119.js
Labels: pr: automerge, pkg: create-turbo, pkg: turbo-ignore, area: turborepo, area: turbopack, area: ci

#3593 Convert run.go tests to prysk
  cli/integration_tests/task-dependencies/complex.t
  cli/integration_tests/task-dependencies/complex/turbo.json
  cli/integration_tests/task-dependencies/overwriting.t
  cli/integration_tests/task-dependencies/overwriting/package.json
  cli/integration_tests/task-dependencies/overwriting/turbo.json
  cli/integration_tests/task-dependencies/overwriting/workspace-a/package.json
  cli/integration_tests/task-dependencies/overwriting/workspace-b/package.json
  cli/internal/run/run_test.go
Labels: area: turborepo

#3599 add rust_prepare to Ok requirements
  .github/workflows/test.yml
Labels: area: ci

#3597 Share request resolving logic between http and update servers
  Cargo.lock
  crates/next-core/js/src/internal/page-server-handler.tsx
  crates/next-core/src/router_source.rs
  crates/turbopack-dev-server/src/http.rs
  crates/turbopack-dev-server/src/lib.rs
  crates/turbopack-dev-server/src/source/mod.rs
  crates/turbopack-dev-server/src/source/request.rs
  crates/turbopack-dev-server/src/source/resolve.rs
  crates/turbopack-dev-server/src/source/source_maps.rs
  crates/turbopack-dev-server/src/update/server.rs
  crates/turbopack-dev-server/src/update/stream.rs
  crates/turbopack-node/src/render/render_static.rs
  crates/turbopack-node/src/source_map/content_source.rs
Labels: area: turbopack

#3556 test(turborepo): Test link
  Cargo.lock
  cli/integration_tests/link.t
  crates/turborepo-lib/Cargo.toml
  crates/turborepo-lib/src/cli.rs
  crates/turborepo-lib/src/client.rs
  crates/turborepo-lib/src/commands/link.rs
Labels: area: turborepo, area: turbopack

#3602 instatiated -> instantiated
  crates/turbopack-dev-server/src/source/lazy_instantiated.rs
  crates/turbopack-dev-server/src/source/mod.rs
  crates/turbopack-node/src/render/rendered_source.rs
Labels: area: turbopack

#3595 update next.js to 13.1.7-canary.2
  crates/next-core/js/package.json
  crates/next-core/js/src/entry/app-renderer.tsx
  crates/next-core/js/src/entry/config/next.js
  crates/next-core/js/src/entry/router.ts
  crates/next-core/src/next_import_map.rs
  crates/next-dev-tests/tests/package.json
  crates/next-dev/benches/bundlers/turbopack/mod.rs
  crates/turbo-tasks-build/src/lib.rs
  pnpm-lock.yaml
Labels: area: turbopack

#3592 Capture engine/run unit tests with prysk
  cli/integration_tests/task-dependencies/complex.t
  cli/integration_tests/task-dependencies/complex/app-a/package.json
  cli/integration_tests/task-dependencies/complex/app-b/package.json
  cli/integration_tests/task-dependencies/complex/lib-a/package.json
  cli/integration_tests/task-dependencies/complex/lib-b/package.json
  cli/integration_tests/task-dependencies/complex/lib-c/package.json
  cli/integration_tests/task-dependencies/complex/lib-d/package.json
  cli/integration_tests/task-dependencies/complex/package.json
  cli/integration_tests/task-dependencies/complex/turbo.json
  cli/integration_tests/task-dependencies/overwriting.t
  cli/integration_tests/task-dependencies/overwriting/package.json
  cli/integration_tests/task-dependencies/overwriting/turbo.json
  cli/integration_tests/task-dependencies/overwriting/workspace-a/package.json
  cli/integration_tests/task-dependencies/overwriting/workspace-b/package.json
  cli/integration_tests/task-dependencies/setup.sh
  cli/integration_tests/task-dependencies/topological.t
  cli/integration_tests/task-dependencies/topological/.gitignore
  cli/integration_tests/task-dependencies/topological/apps/my-app/package.json
  cli/integration_tests/task-dependencies/topological/package.json
  cli/integration_tests/task-dependencies/topological/packages/util/package.json
  cli/integration_tests/task-dependencies/topological/turbo.json
  cli/integration_tests/task-dependencies/workspace-tasks.t
  cli/integration_tests/task-dependencies/workspace-tasks/package.json
  cli/integration_tests/task-dependencies/workspace-tasks/turbo.json
  cli/integration_tests/task-dependencies/workspace-tasks/workspace-a/package.json
  cli/integration_tests/task-dependencies/workspace-tasks/workspace-b/package.json
  cli/integration_tests/topological_deps/graph.t
  cli/internal/core/engine_test.go
  cli/internal/run/run_test.go
Labels: area: turborepo

#3537 Add print_task_invalidation feature
  crates/turbo-tasks-memory/Cargo.toml
  crates/turbo-tasks-memory/src/memory_backend.rs
  crates/turbo-tasks-memory/src/output.rs
  crates/turbo-tasks-memory/src/task.rs
  crates/turbo-tasks/src/backend.rs
Labels: pr: automerge, area: turbopack

#3605 fix(cli): ci detection
  cli/internal/ci/ci.go
  cli/internal/ci/ci_test.go
  cli/internal/ci/vendors.go
Labels: pr: automerge, area: turborepo

#3609 fix(docs): update turbo.json highlighting in docs
  docs/pages/repo/docs/core-concepts/monorepos/running-tasks.mdx
Labels: area: docs

#3487 needs this -- to actually pass the flag
  docs/pages/repo/docs/handbook/publishing-packages/bundling.mdx
Labels: area: docs, pr: automerge

#3608 fix(cli): prefer constant over name
  cli/internal/ci/ci.go
  cli/internal/client/client.go
Labels: area: turborepo

#3588 ci(actions): adjust test summary format
  .github/actions/next-integration-stat/index.js
  .github/actions/next-integration-stat/src/index.ts
Labels: pr: automerge, area: ci

#3484 Update `swc_core` to `v0.59.11`
  Cargo.lock
  Cargo.toml
  crates/turbopack-ecmascript/src/transform/mod.rs
  crates/turbopack-ecmascript/tests/analyzer/graph/md5/graph-effects.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/peg/graph-effects.snapshot
Labels: pr: automerge, area: turbopack

#3611 fix: mismatched pnpm lockfile version resolution
  cli/internal/lockfile/pnpm_lockfile.go
  cli/internal/lockfile/pnpm_lockfile_test.go
  cli/internal/lockfile/testdata/pnpm-top-level-dupe.yaml
Labels: area: turborepo

#3250 feat: Use lockfiles when determining what packages changed across commits
  cli/integration_tests/lockfile_aware_caching/berry.t
  cli/integration_tests/lockfile_aware_caching/npm.t
  cli/integration_tests/lockfile_aware_caching/pnpm.t
  cli/integration_tests/lockfile_aware_caching/setup.sh
  cli/integration_tests/lockfile_aware_caching/yarn.t
  cli/internal/context/context.go
  cli/internal/fs/package_json.go
  cli/internal/lockfile/berry_lockfile.go
  cli/internal/lockfile/lockfile.go
  cli/internal/lockfile/npm_lockfile.go
  cli/internal/lockfile/pnpm_lockfile.go
  cli/internal/lockfile/pnpm_lockfile_test.go
  cli/internal/lockfile/yarn_lockfile.go
  cli/internal/packagemanager/berry.go
  cli/internal/packagemanager/npm.go
  cli/internal/packagemanager/packagemanager.go
  cli/internal/packagemanager/pnpm.go
  cli/internal/packagemanager/pnpm6.go
  cli/internal/packagemanager/yarn.go
  cli/internal/prune/prune.go
  cli/internal/scm/git.go
  cli/internal/scm/scm.go
  cli/internal/scm/stub.go
  cli/internal/scope/scope.go
  cli/internal/scope/scope_test.go
Labels: area: turborepo

#3624 always allow to close the error overlay
  crates/next-core/js/src/overlay/internal/container/Errors.tsx
Labels: area: turbopack

#3626 fix: SSO Login
  cli/internal/login/login.go
Labels: area: turborepo

#3619 add helper for walking a tree concurrently and deterministic
  Cargo.lock
  crates/next-core/src/manifest.rs
  crates/next-core/src/next_font_google/mod.rs
  crates/turbo-tasks-fetch/src/lib.rs
  crates/turbo-tasks-fs/examples/hash_glob.rs
  crates/turbo-tasks/Cargo.toml
  crates/turbo-tasks/src/join_iter_ext.rs
  crates/turbo-tasks/src/lib.rs
  crates/turbo-tasks/src/read_ref.rs
  crates/turbopack-core/src/chunk/mod.rs
  crates/turbopack-core/src/resolve/parse.rs
  crates/turbopack-ecmascript/src/references/cjs.rs
  crates/turbopack-tests/tests/snapshot/emotion/emotion/output/crates_turbopack-tests_tests_snapshot_emotion_emotion_input_index_f0bbb5.js
  crates/turbopack-tests/tests/snapshot/emotion/emotion/output/crates_turbopack-tests_tests_snapshot_emotion_emotion_input_index_f0bbb5.js.map
Labels: area: turbopack

#3615 Hoist DryRunSummary fields to PackageTask
  cli/internal/graph/graph.go
  cli/internal/nodes/packagetask.go
  cli/internal/run/dry_run.go
  cli/internal/run/real_run.go
  cli/internal/runcache/runcache.go
Labels: area: turborepo, pr: autoupdate

#3591 Send Next.js Integration test results to Slack
  .github/actions/next-integration-stat/index.js
  .github/actions/next-integration-stat/src/index.ts
  .github/workflows/nextjs-integration-test.yml
  .github/workflows/on-nextjs-release-publish.yml
Labels: area: ci

#3562 Load TaskDefinitions lazily when building taskGraph
  cli/internal/core/engine.go
  cli/internal/graph/graph.go
  cli/internal/run/run.go
Labels: pr: fixship, area: turborepo

#3622 Fix enable_mdx short flag conflict with exact flag
  crates/node-file-trace/src/lib.rs
Labels: pr: automerge, area: turbopack

#3600 Support for getStaticPaths.fallback = false
  crates/next-core/js/src/internal/page-server-handler.tsx
Labels: area: turbopack

#3644 fix glob parsing and improve error reporting
  crates/turbo-tasks-fs/src/glob.rs
Labels: area: turbopack

#3306 add first version of rgr sandwich
  .github/workflows/test.yml
  .gitignore
  Cargo.lock
  Cargo.toml
  cli/Makefile
  cli/internal/ffi/bindings.h
  cli/internal/ffi/ffi.go
  cli/internal/ffi/proto/messages.pb.go
  cli/internal/fs/get_turbo_data_dir_go.go
  cli/internal/fs/get_turbo_data_dir_rust.go
  cli/internal/fs/path.go
  crates/turborepo-ffi/Cargo.toml
  crates/turborepo-ffi/build.rs
  crates/turborepo-ffi/messages.proto
  crates/turborepo-ffi/src/lib.rs
  crates/turborepo/Cargo.toml
  scripts/run-example.sh
Labels: pr: automerge, area: turborepo, area: turbopack, area: ci

#3642 Update minor tailwind example issues.
  examples/with-tailwind/packages/ui/package.json
  examples/with-tailwind/packages/ui/src/index.tsx
  examples/with-tailwind/packages/ui/tsup.config.ts
  examples/with-tailwind/pnpm-lock.yaml
Labels: area: examples, pr: automerge

#3488 examples/basic is using PNPM, not Yarn
  examples/basic/README.md
Labels: area: examples, pr: automerge

#3646 split tests into two steps, report ok and done separately
  .github/workflows/test.yml
Labels: area: ci

#3623 Unwrap sequence await callee in analyzer
  crates/turbopack-ecmascript/src/analyzer/graph.rs
  crates/turbopack-ecmascript/src/analyzer/well_known.rs
  crates/turbopack-ecmascript/src/utils.rs
  crates/turbopack-ecmascript/tests/analyzer/graph/webpack-target-node/graph-effects.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/webpack-target-node/graph-explained.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/webpack-target-node/graph.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/webpack-target-node/input.js
  crates/turbopack-ecmascript/tests/analyzer/graph/webpack-target-node/resolved-effects.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/webpack-target-node/resolved-explained.snapshot
  crates/turbopack/tests/node-file-trace.rs
  crates/turbopack/tests/node-file-trace/integration/webpack-target-node/chunk.js
  crates/turbopack/tests/node-file-trace/integration/webpack-target-node/hello.txt
  crates/turbopack/tests/node-file-trace/integration/webpack-target-node/index.js
  crates/turbopack/tests/node-file-trace/integration/webpack-target-node/webpack-api-runtime.js
Labels: pr: automerge, area: turbopack

#3654 exlcude turborepo-ffi in turbopack build
  .github/workflows/test.yml
Labels: area: ci

#3649 Add force_post_to_slack to repository dispatch
  .github/workflows/on-nextjs-release-publish.yml
Labels: area: ci

#3625 docs: Increase sidebar text contrast in dark mode
  docs/custom.css
Labels: area: docs, area: site

#3650 ci(workflow): use release build of next-dev for integration test
  .github/workflows/nextjs-integration-test.yml
Labels: pr: automerge, area: ci

#3634 Import Next's CJS AsyncLocalStorage modules
  Cargo.toml
  crates/next-core/js/src/entry/app-renderer.tsx
  crates/next-core/js/src/entry/app/layout-entry.tsx
  crates/next-core/js/src/entry/edge-bootstrap.ts
  crates/next-core/js/types/modules.d.ts
  crates/next-dev-tests/tests/integration/next/app/async-local-storage/input/app/layout.tsx
  crates/next-dev-tests/tests/integration/next/app/async-local-storage/input/app/page.tsx
  crates/next-dev-tests/tests/integration/next/app/async-local-storage/input/app/test.tsx
  crates/next-dev-tests/tests/integration/next/app/async-local-storage/input/next.config.js
Labels: pr: automerge, area: turbopack

#3662 fix: remove quotes around extension in makefile
  cli/Makefile
Labels: area: turborepo

#3651 Rename experimental.resolveAlias to experimental.turbopackResolveAlias
  crates/next-core/src/next_config.rs
  crates/next-dev-tests/tests/integration/next/resolve-alias/basic/input/index.js
  crates/next-dev-tests/tests/integration/next/resolve-alias/basic/input/next.config.js
Labels: area: turbopack

#3656 fix: No longer error on pnpm lockfile specifier mismatch
  cli/internal/lockfile/pnpm_lockfile.go
  cli/internal/lockfile/pnpm_lockfile_test.go
  cli/internal/lockfile/testdata/pnpm_override.yaml
Labels: area: turborepo

#3655 docs: Update casing from Webpack to webpack
  docs/pages/blog/turbopack-benchmarks.mdx
  docs/pages/pack/docs/benchmarks.mdx
  docs/pages/pack/docs/comparisons/webpack.mdx
  docs/pages/pack/docs/features/environment-variables.mdx
  docs/pages/pack/docs/features/static-assets.mdx
  docs/pages/pack/docs/index.mdx
  docs/pages/pack/docs/migrating-from-webpack.mdx
  docs/pages/pack/docs/roadmap.mdx
  docs/pages/pack/docs/why-turbopack.mdx
  docs/pages/pack/index.mdx
Labels: area: docs

#3613 docs: Add webpack loader docs to 'Migrating from Webpack'
  docs/pages/pack/docs/migrating-from-webpack.mdx
Labels: area: docs, area: turbopack

#3628 ci(workflow): fix summary count error
  .github/actions/next-integration-stat/index.js
  .github/actions/next-integration-stat/src/index.ts
Labels: pr: automerge, area: ci

#3668 add missing workspace members and default members
  Cargo.toml
Labels: pr: automerge

#3653 Reuse TurboTasks cross turbotrace runs
  crates/node-file-trace/src/lib.rs
  crates/node-file-trace/src/main.rs
Labels: pr: automerge, area: turborepo, area: turbopack

#3674 Next.js integration ci: fall back to false for force_post_to_slack
  .github/workflows/on-nextjs-release-publish.yml
Labels: area: ci

#3678 fix: Use go implementation when no build tags present
  cli/internal/fs/get_turbo_data_dir_go.go
Labels: area: turborepo

#3673 Avoid filename conflict
  crates/turbopack-core/src/chunk/dev.rs
  crates/turbopack-tests/tests/snapshot/css/css/output/8697f_foo_style.module.css._.js
  crates/turbopack-tests/tests/snapshot/css/css/output/8697f_foo_style.module.css._.js.map
  crates/turbopack-tests/tests/snapshot/css/css/output/crates_turbopack-tests_tests_snapshot_css_css_input_index_531223.js
  crates/turbopack-tests/tests/snapshot/css/css/output/crates_turbopack-tests_tests_snapshot_css_css_input_index_531223.js.map
  crates/turbopack-tests/tests/snapshot/env/env/output/crates_turbopack-tests_tests_snapshot_env_env_input_1fb24f._.js
  crates/turbopack-tests/tests/snapshot/env/env/output/crates_turbopack-tests_tests_snapshot_env_env_input_1fb24f._.js.map
  crates/turbopack-tests/tests/snapshot/imports/dynamic/output/79fb1_turbopack-tests_tests_snapshot_imports_dynamic_input_vercel.mjs_manifest-chunk.js
  crates/turbopack-tests/tests/snapshot/imports/dynamic/output/crates_turbopack-tests_tests_snapshot_imports_dynamic_input_vercel.mjs._.js
  crates/turbopack-tests/tests/snapshot/imports/dynamic/output/crates_turbopack-tests_tests_snapshot_imports_dynamic_input_vercel.mjs._.js.map
  crates/turbopack-tests/tests/snapshot/imports/static-and-dynamic/output/79fb1_turbopack-tests_tests_snapshot_imports_static-and-dynamic_input_vercel.mjs._.js
  crates/turbopack-tests/tests/snapshot/imports/static-and-dynamic/output/79fb1_turbopack-tests_tests_snapshot_imports_static-and-dynamic_input_vercel.mjs._.js.map
  crates/turbopack-tests/tests/snapshot/imports/static-and-dynamic/output/a587c_tests_snapshot_imports_static-and-dynamic_input_vercel.mjs_manifest-chunk.js
  crates/turbopack-tests/tests/snapshot/swc_transforms/preset_env/output/63a02_@swc_helpers_src__class_call_check.mjs._.js
  crates/turbopack-tests/tests/snapshot/swc_transforms/preset_env/output/63a02_@swc_helpers_src__class_call_check.mjs._.js.map
  crates/turbopack-tests/tests/snapshot/swc_transforms/preset_env/output/79fb1_turbopack-tests_tests_snapshot_swc_transforms_preset_env_input_index_3894a9.js
  crates/turbopack-tests/tests/snapshot/swc_transforms/preset_env/output/79fb1_turbopack-tests_tests_snapshot_swc_transforms_preset_env_input_index_3894a9.js.map
  crates/turbopack-tests/tests/snapshot/typescript/tsconfig-baseurl/output/a587c_tests_snapshot_typescript_tsconfig-baseurl_input_index_bec392.ts._.js
  crates/turbopack-tests/tests/snapshot/typescript/tsconfig-baseurl/output/a587c_tests_snapshot_typescript_tsconfig-baseurl_input_index_bec392.ts._.js.map
Labels: area: turbopack

#3682 Avoid global hash changes with composable turbo implementation
  cli/integration_tests/basic_monorepo/dry_run.t
  cli/integration_tests/basic_monorepo/verbosity.t
  cli/integration_tests/composable_config/composing-add-keys.t
  cli/integration_tests/composable_config/composing-add-tasks.t
  cli/integration_tests/composable_config/composing-missing-workspace-config-deps.t
  cli/integration_tests/composable_config/composing-missing-workspace-config.t
  cli/integration_tests/composable_config/composing-omit-keys-deps.t
  cli/integration_tests/composable_config/composing-omit-keys.t
  cli/integration_tests/composable_config/composing-override-values-deps.t
  cli/integration_tests/composable_config/composing-override-values.t
  cli/integration_tests/monorepo_one_script_error/run.t
  cli/integration_tests/persistent_dependencies/persistent-6-topological-unimplemented.t
  cli/integration_tests/single_package/dry-run.t
  cli/integration_tests/single_package/run.t
  cli/integration_tests/single_package_deps/dry-run.t
  cli/integration_tests/single_package_deps/run.t
  cli/integration_tests/single_package_no_config/dry-run.t
  cli/integration_tests/single_package_no_config/run.t
  cli/integration_tests/task-dependencies/overwriting.t
  cli/integration_tests/task-dependencies/topological.t
  cli/internal/core/engine.go
  cli/internal/fs/turbo_json.go
  cli/internal/fs/turbo_json_test.go
  cli/internal/run/global_hash.go
Labels: area: turborepo, area: turbopack, area: ci

#3683 fix: remove turborepo binary dependency on ffi
  Cargo.lock
  crates/turborepo/Cargo.toml
Labels: area: turbopack

#3684 chore(repo): add new labeler
  .github/labeler.yml
  .github/turbo-orchestrator.yml
  .github/workflows/labeler.yml
Labels: pr: automerge, area: ci

#3661 chore: add local and global versions in debug
  crates/turborepo-lib/src/shim.rs
Labels: area: turbopack

#3675 refactor ResolveResult to allow mixing special and assets in alternatives
  crates/next-core/src/next_client_chunks/with_chunks.rs
  crates/next-core/src/next_client_component/with_client_chunks.rs
  crates/next-core/src/next_font_google/mod.rs
  crates/next-core/src/next_server/resolve.rs
  crates/next-core/src/react_refresh.rs
  crates/next-core/src/runtime.rs
  crates/turbopack-core/src/chunk/mod.rs
  crates/turbopack-core/src/introspect/asset.rs
  crates/turbopack-core/src/reference/mod.rs
  crates/turbopack-core/src/reference/source_map.rs
  crates/turbopack-core/src/resolve/mod.rs
  crates/turbopack-core/src/resolve/options.rs
  crates/turbopack-core/src/resolve/origin.rs
  crates/turbopack-css/src/asset.rs
  crates/turbopack-css/src/chunk/mod.rs
  crates/turbopack-css/src/chunk/source_map.rs
  crates/turbopack-css/src/module_asset.rs
  crates/turbopack-css/src/references/url.rs
  crates/turbopack-ecmascript/src/chunk/source_map.rs
  crates/turbopack-ecmascript/src/references/esm/base.rs
  crates/turbopack-ecmascript/src/references/mod.rs
  crates/turbopack-ecmascript/src/references/node.rs
  crates/turbopack-ecmascript/src/references/pattern_mapping.rs
  crates/turbopack-ecmascript/src/references/typescript.rs
  crates/turbopack-ecmascript/src/resolve/node_native_binding.rs
  crates/turbopack-ecmascript/src/typescript/mod.rs
  crates/turbopack-ecmascript/src/typescript/resolve.rs
  crates/turbopack-ecmascript/src/webpack/mod.rs
  crates/turbopack-node/src/render/rendered_source.rs
Labels: area: turbopack

#3666 docs: add package.json and turbo.json to a pruned directory example
  docs/pages/repo/docs/handbook/deploying-with-docker.mdx
Labels: area: docs, pr: automerge, team: turborepo

#3594 Automate nightly Turbopack release tagging
  .github/workflows/turbopack-nightly-release.yml
Labels: area: ci

#3691 Update SWC
  Cargo.lock
  Cargo.toml
  cli/internal/ffi/proto/messages.pb.go
Labels: pr: automerge, area: turbopack, team: turborepo, team: turbopack

#3692 Allow tuples as TaskInputs
  crates/turbo-tasks/src/task_input.rs
Labels: pr: automerge, team: turbopack

#3663 test(turborepo): Login
  crates/turborepo-lib/src/cli.rs
  crates/turborepo-lib/src/client.rs
  crates/turborepo-lib/src/commands/link.rs
  crates/turborepo-lib/src/commands/login.rs
Labels: team: turborepo

#3686 Add a page about installing turbo, including both global and repo-local
  docs/pages/repo/docs/_meta.json
  docs/pages/repo/docs/getting-started/add-to-project.mdx
  docs/pages/repo/docs/getting-started/existing-monorepo.mdx
  docs/pages/repo/docs/installing.mdx
Labels: area: docs, area: site, team: turborepo

#3699 fix: update verbosity integration tests
  cli/integration_tests/basic_monorepo/verbosity.t
Labels: team: turborepo

#3700 fix json assets being inlined as objects instead of strings
  crates/turbopack-json/src/lib.rs
  crates/turbopack-tests/tests/snapshot/imports/json/output/crates_turbopack-tests_tests_snapshot_imports_json_input_index_6aa119.js
Labels: team: turbopack

#3702 fix: turborepo integration test glob
  .github/workflows/test.yml
Labels: area: ci, team: turborepo, team: turbopack

#3705 Revert protoc version and stop building ffi on make
  cli/Makefile
  cli/internal/ffi/proto/messages.pb.go
Labels: team: turborepo

#3708 Re-add ffi-install step during make
  cli/Makefile
Labels: team: turborepo

#3689 Combine next.config.js Turbopack options into a nested object
  crates/next-core/js/src/entry/config/next.js
  crates/next-core/src/next_config.rs
  crates/next-dev-tests/tests/integration/next/resolve-alias/basic/input/index.js
  crates/next-dev-tests/tests/integration/next/resolve-alias/basic/input/next.config.js
  crates/next-dev-tests/tests/integration/next/webpack-loaders/basic-options/input/next.config.js
  crates/next-dev-tests/tests/integration/next/webpack-loaders/no-options/input/next.config.js
  docs/pages/pack/docs/migrating-from-webpack.mdx
Labels: area: docs, team: turbopack

#3709 Add test to ensure that pruned output can run tasks from workspace configs
  cli/integration_tests/prune/composable-config.t
  cli/integration_tests/prune/monorepo_with_root_dep/apps/docs/package.json
  cli/integration_tests/prune/monorepo_with_root_dep/apps/docs/turbo.json
Labels: team: turborepo

#3713 Run the Test workflow on all PRs
  .github/workflows/test.yml
Labels: pr: automerge, area: ci, team: turborepo, team: turbopack

#3723 Accept `next/font/google` as well as `@next/font/google`
  crates/next-core/src/next_font_google/mod.rs
  crates/next-core/src/next_font_google/options.rs
  crates/next-core/src/next_font_google/request.rs
  crates/next-core/src/next_import_map.rs
  crates/next-core/src/next_shared/transforms.rs
  crates/next-dev-tests/tests/integration/next/font-google/at-next-font/__httpmock__/fonts.yml
  crates/next-dev-tests/tests/integration/next/font-google/at-next-font/input/pages/index.js
  crates/next-dev-tests/tests/integration/next/font-google/basic/input/pages/index.js
Labels: pr: automerge, team: turbopack

#3677 use apply when expanding amd pattern matches
  crates/turbopack-ecmascript/src/references/amd.rs
Labels: team: turbopack

#3717 set nextExport flag for page rendering
  crates/next-core/js/src/internal/page-server-handler.tsx
Labels: pr: automerge, team: turbopack

#3727 ci(workflow): set diff_base for release publish event
  .github/actions/next-integration-stat/index.js
  .github/actions/next-integration-stat/src/index.ts
  .github/workflows/nextjs-integration-test.yml
  .github/workflows/on-nextjs-release-publish.yml
Labels: area: ci, team: turborepo, team: turbopack

#3725 Use correct key in migrating webpack docs
  docs/pages/pack/docs/migrating-from-webpack.mdx
Labels: area: docs, pr: automerge, team: turbopack

#3701 match next.js client side routing (buildManifest rewrites & devPagesManifest HMR)
  crates/next-core/js/src/entry/config/next.js
  crates/next-core/js/src/entry/manifest/buildManifest.js
  crates/next-core/js/src/entry/next-hydrate.tsx
  crates/next-core/js/src/entry/router.ts
  crates/next-core/js/src/internal/page-server-handler.tsx
  crates/next-core/src/manifest.rs
  crates/next-core/src/next_config.rs
  crates/next-dev/src/lib.rs
  crates/turbo-tasks-fs/src/lib.rs
Labels: team: turbopack

#3585 fix(turborepo): Check for TLS feature at build-time
  .github/workflows/test.yml
  CONTRIBUTING.md
  Cargo.toml
  cli/Makefile
  crates/turborepo-lib/build.rs
Labels: area: turborepo, area: ci, team: turborepo, team: turbopack

#3729 Dedupe TurboJSON and PackageJSON reads
  cli/internal/context/context.go
  cli/internal/core/engine.go
  cli/internal/graph/graph.go
  cli/internal/prune/prune.go
  cli/internal/run/dry_run.go
  cli/internal/run/run.go
  cli/internal/scope/filter/filter.go
  cli/internal/scope/filter/filter_test.go
  cli/internal/scope/scope.go
  cli/internal/scope/scope_test.go
  cli/internal/taskhash/taskhash.go
Labels: team: turborepo

#3731 Update swc_core dependencies
  Cargo.lock
  Cargo.toml
Labels: pr: automerge, team: turborepo, team: turbopack

#3730 Allow overriding persistent flag from workspace
  cli/integration_tests/composable_config/composing-add-keys.t
  cli/integration_tests/composable_config/composing-add-tasks.t
  cli/integration_tests/composable_config/composing-missing-workspace-config-deps.t
  cli/integration_tests/composable_config/composing-missing-workspace-config.t
  cli/integration_tests/composable_config/composing-omit-keys-deps.t
  cli/integration_tests/composable_config/composing-omit-keys.t
  cli/integration_tests/composable_config/composing-override-values-deps.t
  cli/integration_tests/composable_config/composing-override-values.t
  cli/integration_tests/composable_config/composing-persistent.t
  cli/integration_tests/composable_config/monorepo/apps/persistent/package.json
  cli/integration_tests/composable_config/monorepo/apps/persistent/turbo.json
  cli/integration_tests/composable_config/monorepo/turbo.json
  cli/internal/core/engine.go
  cli/internal/fs/turbo_json.go
Labels: team: turborepo

#3735 Allow overriding cache config from workspace
  cli/integration_tests/composable_config/composing-add-keys.t
  cli/integration_tests/composable_config/composing-add-tasks.t
  cli/integration_tests/composable_config/composing-cache.t
  cli/integration_tests/composable_config/composing-missing-workspace-config-deps.t
  cli/integration_tests/composable_config/composing-missing-workspace-config.t
  cli/integration_tests/composable_config/composing-omit-keys-deps.t
  cli/integration_tests/composable_config/composing-omit-keys.t
  cli/integration_tests/composable_config/composing-override-values-deps.t
  cli/integration_tests/composable_config/composing-override-values.t
  cli/integration_tests/composable_config/composing-persistent.t
  cli/integration_tests/composable_config/monorepo/apps/cached/out/.keep
  cli/integration_tests/composable_config/monorepo/apps/cached/package.json
  cli/integration_tests/composable_config/monorepo/apps/cached/turbo.json
  cli/integration_tests/composable_config/monorepo/apps/missing-workspace-config/package.json
  cli/integration_tests/composable_config/monorepo/turbo.json
  cli/internal/fs/turbo_json.go
  cli/internal/fs/turbo_json_test.go
Labels: team: turborepo

#3733 Update SWC to fix JSX regression
  Cargo.lock
  Cargo.toml
Labels: pr: automerge, team: turborepo, team: turbopack

#3719 chore(releases): add release config
  .github/release.yml
Labels: pr: automerge, team: turborepo, team: turbopack

#3718 include stderr and stdout in the error message when process failed to start
  crates/turbopack-node/src/pool.rs
Labels: pr: automerge, team: turbopack

#3720 Allow opt-in release dry run for turborepo
  .github/workflows/turborepo-release-step-1.yml
  .github/workflows/turborepo-release-step-3.yml
  cli/Makefile
  cli/combined-release.yml
  cli/combined-shim.yml
  cli/cross-lib.yml
  cli/cross-release.yml
  cli/darwin-lib.yml
  cli/darwin-release.yml
Labels: area: ci, team: turborepo, team: turbopack

#3738 share asset and chunking context between server, server data and client navigation
  crates/next-core/src/app_source.rs
  crates/next-core/src/fallback.rs
  crates/next-core/src/next_client_chunks/client_chunks_transition.rs
  crates/next-core/src/page_source.rs
Labels: pr: automerge, team: turbopack

#3714 Enable HMR updates even when critical issues occur
  crates/next-core/js/src/dev/hmr-client.ts
Labels: team: turbopack

#3739 fix incorrect segment path
  crates/next-core/src/app_source.rs
Labels: pr: automerge, team: turbopack

#3712 update to 13.1.7-canary.8
  crates/next-core/js/package.json
  crates/next-dev-tests/tests/package.json
  crates/next-dev/benches/bundlers/turbopack/mod.rs
  pnpm-lock.yaml
Labels: pr: automerge, team: turborepo, team: turbopack

#3629 Various Rope updates and fixes
  crates/turbo-tasks-fs/src/rope.rs
Labels: team: turbopack

#3695 Add req.cookies to API requests
  crates/next-core/js/src/entry/app-renderer.tsx
  crates/next-core/js/src/entry/router.ts
  crates/next-core/js/src/entry/server-api.tsx
  crates/next-core/js/src/entry/server-edge-api.tsx
  crates/next-core/js/src/internal/api-server-handler.ts
  crates/next-core/js/src/internal/page-server-handler.tsx
  crates/next-core/js/src/internal/utils.ts
  crates/next-core/js/src/ipc/server.ts
  crates/next-core/js/types/turbopack.d.ts
  crates/next-core/src/router.rs
  crates/next-core/src/router_source.rs
  crates/turbopack-dev-server/src/source/mod.rs
  crates/turbopack-dev-server/src/source/resolve.rs
  crates/turbopack-node/src/render/mod.rs
  crates/turbopack-node/src/render/node_api_source.rs
  crates/turbopack-node/src/render/rendered_source.rs
  crates/turbopack-node/src/source_map/content_source.rs
Labels: pr: automerge, team: turbopack

#3734 Implement custom nightly tag bumping
  .github/actions/turbopack-bump/.gitattributes
  .github/actions/turbopack-bump/.gitignore
  .github/actions/turbopack-bump/action.yml
  .github/actions/turbopack-bump/dist/index.js
  .github/actions/turbopack-bump/dist/index.js.map
  .github/actions/turbopack-bump/dist/sourcemap-register.js
  .github/actions/turbopack-bump/package.json
  .github/actions/turbopack-bump/src/index.ts
  .github/actions/turbopack-bump/tsconfig.json
  .github/workflows/turbopack-nightly-release.yml
  pnpm-lock.yaml
Labels: pr: automerge, area: ci, team: turborepo, team: turbopack

#3687 docs(turborepo): Enumerate supported install scenarios
  CONTRIBUTING.md
Labels: team: turborepo, team: turbopack

#3740 feat(docs): update verbosity reference
  docs/pages/repo/docs/reference/command-line-reference.mdx
Labels: area: docs, pr: automerge, team: turborepo

#3743 feat(cli): reccomend codemod in updater
  crates/turbo-updater/src/lib.rs
  crates/turborepo-lib/src/shim.rs
Labels: pr: automerge, team: turborepo

#3726 fix: use prerelease update-informer to cut ureq
  Cargo.lock
  crates/turbo-updater/Cargo.toml
  crates/turbo-updater/src/lib.rs
  crates/turborepo-lib/Cargo.toml
Labels: team: turborepo, team: turbopack

#3744 fix(turbo): improved yarn berry pnp support (#3744
  cli/scripts/npm-native-packages/template/template.package.json
  packages/turbo/node-platform.js
Labels: pr: automerge, team: turborepo

#3745 More Turbopack Nightly Fixes
  .github/actions/turbopack-bump/dist/index.js
  .github/actions/turbopack-bump/dist/index.js.map
  .github/actions/turbopack-bump/package.json
  .github/actions/turbopack-bump/src/index.ts
  pnpm-lock.yaml
Labels: area: ci, team: turborepo, team: turbopack

#3612 feature(turborepo): SSO Login
  Cargo.lock
  cli/internal/cmd/root.go
  cli/internal/login/login.go
  cli/internal/login/login_test.go
  cli/internal/login/status.go
  cli/internal/turbostate/turbostate.go
  crates/turborepo-lib/Cargo.toml
  crates/turborepo-lib/src/cli.rs
  crates/turborepo-lib/src/client.rs
  crates/turborepo-lib/src/commands/link.rs
  crates/turborepo-lib/src/commands/login.rs
  crates/turborepo-lib/src/commands/mod.rs
Labels: area: turborepo, team: turborepo, team: turbopack

#3748 fix: Made native-tls our default feature for ease of dev workflows
  .github/workflows/turborepo-release-step-3.yml
  CONTRIBUTING.md
  cli/Makefile
  crates/next-dev/Cargo.toml
  crates/turborepo/Cargo.toml
Labels: area: ci, team: turborepo, team: turbopack

#3618 make sure node.js worker processes are cleaned up correctly on errors
  Cargo.lock
  crates/turbopack-node/Cargo.toml
  crates/turbopack-node/src/evaluate.rs
  crates/turbopack-node/src/pool.rs
Labels: pr: automerge, team: turborepo, team: turbopack

#3736 improve node_modules as externals handling
  crates/next-core/src/next_server/resolve.rs
  crates/next-dev-tests/tests/integration/next/externals/cjs-in-esm/input/node_modules/package/cjs/index.js
  crates/next-dev-tests/tests/integration/next/externals/cjs-in-esm/input/node_modules/package/esm/index.js
  crates/next-dev-tests/tests/integration/next/externals/cjs-in-esm/input/node_modules/package/esm/package.json
  crates/next-dev-tests/tests/integration/next/externals/cjs-in-esm/input/node_modules/package/package.json
  crates/next-dev-tests/tests/integration/next/externals/cjs-in-esm/input/pages/index.js
  crates/turbo-tasks-fs/src/lib.rs
  crates/turbo-tasks-memory/src/scope.rs
  crates/turbopack-core/src/resolve/mod.rs
  crates/turbopack-core/src/resolve/node.rs
  crates/turbopack-core/src/resolve/plugin.rs
  crates/turbopack-ecmascript/src/typescript/resolve.rs
  crates/turbopack/src/resolve.rs
Labels: pr: automerge, team: turbopack

#3659 ci(workflow): expand integration test groups
  .github/actions/next-integration-stat/action.yml
  .github/actions/next-integration-stat/index.js
  .github/actions/next-integration-stat/src/index.ts
  .github/workflows/nextjs-integration-test.yml
  .github/workflows/setup-nextjs-build.yml
  .github/workflows/test.yml
Labels: area: ci, team: turborepo, team: turbopack

#3749 Detect invalid workspace turbo.json configurations
  cli/integration_tests/composable_config/composing-package-task.t
  cli/integration_tests/composable_config/monorepo/apps/package-syntax/package.json
  cli/integration_tests/composable_config/monorepo/apps/package-syntax/turbo.json
  cli/internal/core/engine.go
  cli/internal/fs/turbo_json.go
Labels: team: turborepo

#3633 Add support for `--graph=file.mermaid`
  cli/internal/graphvisualizer/graphvisualizer.go
  docs/pages/repo/docs/reference/command-line-reference.mdx
Labels: area: docs, area: turborepo, team: turborepo

#3760 Improve error bubbling
  cli/integration_tests/basic_monorepo/dry_run.t
  cli/integration_tests/basic_monorepo/run.t
  cli/integration_tests/composable_config/composing-bad-json.t
  cli/integration_tests/composable_config/monorepo/apps/bad-json/package.json
  cli/internal/core/engine.go
  cli/internal/fs/turbo_json.go
  cli/internal/graph/graph.go
Labels: team: turborepo

#3696 Add support for ctx.params in getStaticProps/getServerSideProps
  crates/next-core/js/src/internal/api-server-handler.ts
  crates/next-core/js/src/internal/page-server-handler.tsx
  crates/next-core/js/types/turbopack.d.ts
  crates/next-core/src/next_route_matcher/path_regex.rs
  crates/next-dev-tests/tests/integration/next/router/catch-all-params/input/pages/[...segments].tsx
  crates/next-dev-tests/tests/integration/next/router/catch-all-params/input/pages/index.tsx
  crates/next-dev-tests/tests/integration/next/router/dynamic-params/input/pages/[segment].tsx
  crates/next-dev-tests/tests/integration/next/router/dynamic-params/input/pages/index.tsx
  crates/turbopack-node/src/render/mod.rs
  crates/turbopack-node/src/route_matcher.rs
Labels: pr: automerge, team: turbopack

#3769 Implement FromSubTrait for ValueDebug
  crates/turbo-tasks-macros/src/value_trait_macro.rs
Labels: pr: automerge, team: turbopack

#3707 Issue Reporters
  Cargo.lock
  crates/next-dev/src/lib.rs
  crates/node-file-trace/src/lib.rs
  crates/turbopack-cli-utils/src/issue.rs
  crates/turbopack-core/src/issue/mod.rs
  crates/turbopack-dev-server/Cargo.toml
  crates/turbopack-dev-server/src/http.rs
  crates/turbopack-dev-server/src/lib.rs
  crates/turbopack-dev-server/src/source/resolve.rs
  crates/turbopack-dev-server/src/update/server.rs
Labels: team: turborepo, team: turbopack

#3737 fix integration tests on windows
  .cargo/config.toml
  Cargo.lock
  crates/next-dev-tests/Cargo.toml
  crates/next-dev-tests/test-harness/harness.ts
  crates/next-dev-tests/tests/integration.rs
  crates/turbopack-node/src/lib.rs
  crates/turbopack-node/src/pool.rs
Labels: pr: automerge, team: turborepo, team: turbopack

#3515 chore: add option to dump args sent to go
  crates/turborepo-lib/src/lib.rs
Labels: team: turborepo

#3770 Make stringify_str and stringify_module_id use Serialize
  crates/next-core/src/app_source.rs
  crates/next-core/src/next_client_chunks/with_chunks.rs
  crates/next-core/src/next_client_component/with_client_chunks.rs
  crates/next-core/src/next_edge/transition.rs
  crates/next-core/src/page_loader.rs
  crates/turbopack-css/src/chunk/mod.rs
  crates/turbopack-css/src/module_asset.rs
  crates/turbopack-css/src/util.rs
  crates/turbopack-ecmascript/src/chunk/loader.rs
  crates/turbopack-ecmascript/src/chunk/mod.rs
  crates/turbopack-ecmascript/src/utils.rs
  crates/turbopack-env/src/asset.rs
  crates/turbopack-env/src/embeddable.rs
  crates/turbopack-node/src/bootstrap.rs
  crates/turbopack-static/src/lib.rs
Labels: pr: automerge, team: turbopack

#3763 Fix typo
  crates/next-dev/benches/README.md
Labels: team: turbopack

#3778 Include workspace turbo.json in inputs
  cli/integration_tests/composable_config/composing-add-keys.t
  cli/integration_tests/composable_config/composing-add-tasks.t
  cli/integration_tests/composable_config/composing-cache.t
  cli/integration_tests/composable_config/composing-config-change.t
  cli/integration_tests/composable_config/composing-missing-workspace-config-deps.t
  cli/integration_tests/composable_config/composing-missing-workspace-config.t
  cli/integration_tests/composable_config/composing-omit-keys-deps.t
  cli/integration_tests/composable_config/composing-omit-keys.t
  cli/integration_tests/composable_config/composing-override-values-deps.t
  cli/integration_tests/composable_config/composing-override-values.t
  cli/integration_tests/composable_config/composing-persistent.t
  cli/integration_tests/composable_config/monorepo/apps/config-change/package.json
  cli/integration_tests/composable_config/monorepo/apps/config-change/src/foo.txt
  cli/integration_tests/composable_config/monorepo/apps/config-change/turbo-changed.json
  cli/integration_tests/composable_config/monorepo/apps/config-change/turbo.json
  cli/integration_tests/composable_config/monorepo/turbo.json
  cli/internal/hashing/package_deps_hash.go
Labels: team: turborepo

#3782 Revert "chore: add option to dump args sent to go (#3515)"
  crates/turborepo-lib/src/lib.rs
Labels: team: turborepo

#3658 Warn on absolute paths used in turbo.json
  cli/integration_tests/invalid_turbo_json/absolute_path_warning.t
  cli/integration_tests/invalid_turbo_json/monorepo/.gitignore
  cli/integration_tests/invalid_turbo_json/monorepo/apps/my-app/package.json
  cli/integration_tests/invalid_turbo_json/monorepo/package.json
  cli/integration_tests/invalid_turbo_json/monorepo/packages/util/package.json
  cli/integration_tests/invalid_turbo_json/monorepo/turbo.json
  cli/integration_tests/invalid_turbo_json/setup.sh
  cli/internal/fs/turbo_json.go
  cli/internal/fs/turbo_json_test.go
Labels: area: turborepo, team: turborepo

#3681 ci(workflow): adjust summary report, drain all logs correctly
  .github/actions/next-integration-stat/index.js
  .github/actions/next-integration-stat/src/index.ts
  .github/workflows/nextjs-integration-test.yml
  .github/workflows/upload-nextjs-integration-test-results.yml
Labels: area: ci, team: turborepo, team: turbopack

#3789 Update `$schema` for `turbo.json`.
  docs/pages/repo/docs/reference/configuration.mdx
  packages/turbo-types/src/types/config.ts
  turbo.json
Labels: area: docs, team: turborepo, team: turbopack

#3772 Split swc_core/allocator_node out of __swc_core_binding_napi
  crates/next-binding/Cargo.toml
Labels: pr: automerge, team: turbopack

#3762 perf: skip visiting if it's out of range
  crates/turbopack-ecmascript/src/path_visitor.rs
Labels: pr: automerge, team: turbopack

#3741 Fix the router when Next.js returns no result
  crates/next-core/js/package.json
  crates/next-core/js/src/entry/router.ts
  crates/next-core/src/router.rs
  crates/next-core/src/router_source.rs
  crates/next-dev-tests/tests/integration/next/404/navigate/input/pages/index.tsx
  crates/next-dev-tests/tests/package.json
  crates/next-dev/benches/bundlers/turbopack/mod.rs
  pnpm-lock.yaml
Labels: pr: automerge, team: turborepo, team: turbopack

#3796 Revert "Issue Reporters (#3707)"
  Cargo.lock
  crates/next-dev/src/lib.rs
  crates/node-file-trace/src/lib.rs
  crates/turbopack-cli-utils/src/issue.rs
  crates/turbopack-core/src/issue/mod.rs
  crates/turbopack-dev-server/Cargo.toml
  crates/turbopack-dev-server/src/http.rs
  crates/turbopack-dev-server/src/lib.rs
  crates/turbopack-dev-server/src/source/resolve.rs
  crates/turbopack-dev-server/src/update/server.rs
Labels: pr: automerge, team: turborepo, team: turbopack

#3721 Fix Bench Turbotrace against @vercel/nft ci
  .github/workflows/bench-turbotrace-against-node-nft.yml
Labels: pr: automerge, area: ci, team: turborepo, team: turbopack

#3768 reduce function count
  crates/turbo-tasks-fs/src/attach.rs
Labels: pr: automerge, team: turbopack

#3795 fix export * warning for client pages
  crates/next-core/js/src/entry/app-renderer.tsx
  crates/next-core/js/src/entry/app/layout-entry.tsx
  crates/turbopack-ecmascript/src/references/esm/export.rs
  crates/turbopack-ecmascript/src/references/mod.rs
  crates/turbopack-ecmascript/src/transform/server_to_client_proxy.rs
  crates/turbopack-tests/tests/snapshot/export-alls/cjs-2/output/crates_turbopack-tests_tests_snapshot_export-alls_cjs-2_input_index_0ea679.js
  crates/turbopack-tests/tests/snapshot/export-alls/cjs-script/output/crates_turbopack-tests_tests_snapshot_export-alls_cjs-script_input_index_1cb91d.js
Labels: pr: automerge, team: turbopack

#3803 Restore Issue Reporters
  Cargo.lock
  crates/next-dev/src/lib.rs
  crates/node-file-trace/src/lib.rs
  crates/turbopack-cli-utils/src/issue.rs
  crates/turbopack-core/src/issue/mod.rs
  crates/turbopack-dev-server/Cargo.toml
  crates/turbopack-dev-server/src/http.rs
  crates/turbopack-dev-server/src/lib.rs
  crates/turbopack-dev-server/src/source/resolve.rs
  crates/turbopack-dev-server/src/update/server.rs
Labels: pr: automerge, team: turborepo, team: turbopack

#3792 ci(workflow): store failed test path list
  .github/actions/next-integration-stat/index.js
  .github/actions/next-integration-stat/src/index.ts
  .github/workflows/upload-nextjs-integration-test-results.yml
Labels: area: ci, team: turborepo, team: turbopack
