Repository vercel/turborepo, pull requests merged in 2023-08, with the labels that each got.

#5637 Add project-specific lints with ast-grep
  .config/ast-grep/rule-tests/__snapshots__/no-context-snapshot.yml
  .config/ast-grep/rule-tests/no-context-test.yml
  .config/ast-grep/rule-utils/.gitkeep
  .config/ast-grep/rules/no-context.yml
  .gitattributes
  .github/workflows/test.yml
  sgconfig.yml
Labels: area: ci, team: turborepo, team: turbopack

#5648 test(turbopack): run daily with --experimental
  .github/workflows/nextjs-integration-test.yml
  .github/workflows/setup-nextjs-build.yml
  .github/workflows/test.yml
Labels: area: ci, team: turborepo, team: turbopack

#5618 feat: basic wasm support for turbopack
  Cargo.lock
  Cargo.toml
  crates/turbopack-ecmascript-runtime/js/src/build/runtime.ts
  crates/turbopack-ecmascript-runtime/js/src/build/tsconfig.json
  crates/turbopack-ecmascript-runtime/js/src/dev/runtime/base/dummy.ts
  crates/turbopack-ecmascript-runtime/js/src/dev/runtime/base/runtime-base.ts
  crates/turbopack-ecmascript-runtime/js/src/dev/runtime/base/tsconfig.json
  crates/turbopack-ecmascript-runtime/js/src/dev/runtime/dom/runtime-backend-dom.ts
  crates/turbopack-ecmascript-runtime/js/src/dev/runtime/nodejs/runtime-backend-nodejs.ts
  crates/turbopack-ecmascript-runtime/js/src/dev/runtime/nodejs/tsconfig.json
  crates/turbopack-ecmascript-runtime/js/src/dev/runtime/none/runtime-backend-none.ts
  crates/turbopack-ecmascript-runtime/js/src/shared-node/node-utils.ts
  crates/turbopack-ecmascript-runtime/js/src/shared-node/tsconfig.json
  crates/turbopack-ecmascript-runtime/js/src/shared/runtime-types.d.ts
  crates/turbopack-ecmascript-runtime/js/src/shared/tsconfig.json
  crates/turbopack-ecmascript-runtime/src/build_runtime.rs
  crates/turbopack-ecmascript-runtime/src/dev_runtime.rs
  crates/turbopack-ecmascript/src/chunk/esm_scope.rs
  crates/turbopack-ecmascript/src/chunk/item.rs
  crates/turbopack-ecmascript/src/lib.rs
  crates/turbopack-ecmascript/src/references/async_module.rs
  crates/turbopack-ecmascript/src/references/mod.rs
  crates/turbopack-tests/tests/execution.rs
  crates/turbopack-tests/tests/execution/turbopack/wasm/simple/input/README.md
  crates/turbopack-tests/tests/execution/turbopack/wasm/simple/input/add.wasm
  crates/turbopack-tests/tests/execution/turbopack/wasm/simple/input/factorial.wasm
  crates/turbopack-tests/tests/execution/turbopack/wasm/simple/input/fibonacci.wasm
  crates/turbopack-tests/tests/execution/turbopack/wasm/simple/input/index.js
  crates/turbopack-tests/tests/execution/turbopack/wasm/simple/input/math.js
  crates/turbopack-tests/tests/snapshot/runtime/default_build_runtime/output/[turbopack]_runtime.js
  crates/turbopack-tests/tests/snapshot/runtime/default_build_runtime/output/[turbopack]_runtime.js.map
  crates/turbopack-tests/tests/snapshot/runtime/default_dev_runtime/output/79fb1_turbopack-tests_tests_snapshot_runtime_default_dev_runtime_input_index_e60ecd.js
  crates/turbopack-tests/tests/snapshot/runtime/default_dev_runtime/output/79fb1_turbopack-tests_tests_snapshot_runtime_default_dev_runtime_input_index_e60ecd.js.map
  crates/turbopack-wasm/Cargo.toml
  crates/turbopack-wasm/build.rs
  crates/turbopack-wasm/src/lib.rs
  crates/turbopack/Cargo.toml
  crates/turbopack/src/lib.rs
  crates/turbopack/src/module_options/mod.rs
  crates/turbopack/src/module_options/module_rule.rs
Labels: area: ci, team: turborepo, team: turbopack

#5624 fix tracing span names
  crates/turbo-tasks/src/task/function.rs
  crates/turbopack-convert-trace/src/main.rs
Labels: team: turbopack

#5597 WEB-1278: Turbopack build: Implement minification with swc minify
  Cargo.lock
  Cargo.toml
  crates/turbopack-build/Cargo.toml
  crates/turbopack-build/src/chunking_context.rs
  crates/turbopack-build/src/ecmascript/minify.rs
  crates/turbopack-build/src/ecmascript/mod.rs
  crates/turbopack-build/src/ecmascript/node/content.rs
  crates/turbopack-build/src/lib.rs
  crates/turbopack-cli/src/arguments.rs
  crates/turbopack-cli/src/build/mod.rs
  crates/turbopack-core/Cargo.toml
  crates/turbopack-core/src/source_map/mod.rs
  crates/turbopack-core/src/source_map/source_map.rs
  crates/turbopack-core/tests/source_map.rs
  crates/turbopack-tests/tests/snapshot.rs
  crates/turbopack-tests/tests/snapshot/basic/ecmascript_minify/input/index.js
  crates/turbopack-tests/tests/snapshot/basic/ecmascript_minify/options.json
  crates/turbopack-tests/tests/snapshot/basic/ecmascript_minify/output/[turbopack]_runtime.js
  crates/turbopack-tests/tests/snapshot/basic/ecmascript_minify/output/[turbopack]_runtime.js.map
  crates/turbopack-tests/tests/snapshot/basic/ecmascript_minify/output/crates_turbopack-tests_tests_snapshot_basic_ecmascript_minify_input_index_e254c5.js
  crates/turbopack-tests/tests/snapshot/basic/ecmascript_minify/output/crates_turbopack-tests_tests_snapshot_basic_ecmascript_minify_input_index_e254c5.js.map
  crates/turbopack-tests/tests/snapshot/basic/ecmascript_minify/output/index.entry.js
  crates/turbopack-tests/tests/snapshot/basic/ecmascript_minify/output/index.entry.js.map
  crates/turbopack-tests/tests/snapshot/runtime/default_build_runtime/options.json
  crates/turbopack/Cargo.toml
Labels: team: turborepo, team: turbopack

#5634 feature(turborepo): Port Async Cache and Cache Multiplexer
  Cargo.lock
  cli/internal/cache/cache.go
  crates/turborepo-api-client/src/lib.rs
  crates/turborepo-cache/Cargo.toml
  crates/turborepo-cache/src/async_cache.rs
  crates/turborepo-cache/src/cache_archive/create.rs
  crates/turborepo-cache/src/cache_archive/restore.rs
  crates/turborepo-cache/src/cache_archive/restore_regular.rs
  crates/turborepo-cache/src/fs.rs
  crates/turborepo-cache/src/http.rs
  crates/turborepo-cache/src/lib.rs
  crates/turborepo-cache/src/multiplexer.rs
  crates/turborepo-cache/src/signature_authentication.rs
  crates/turborepo-cache/src/test_cases.rs
  crates/turborepo-lib/Cargo.toml
  crates/turborepo-lib/src/cli.rs
  crates/turborepo-lib/src/commands/mod.rs
  crates/turborepo-lib/src/config/turbo.rs
  crates/turborepo-lib/src/opts.rs
  crates/turborepo-lib/src/run/mod.rs
  crates/turborepo-lib/src/run/scope/filter.rs
  crates/turborepo-vercel-api-mock/src/lib.rs
Labels: team: turborepo

#5666 update swc_core and sync deps
  Cargo.lock
  Cargo.toml
Labels: team: turborepo, team: turbopack

#5640 [2/n] no-context lint: migrate some crates
  .config/ast-grep/rules/no-context.yml
  crates/node-file-trace/src/lib.rs
  crates/node-file-trace/src/nft_json.rs
  crates/turbo-tasks-build/src/lib.rs
  crates/turbo-tasks-fetch/src/lib.rs
  crates/turbo-tasks-fs/src/lib.rs
  crates/turbo-tasks/src/read_ref.rs
  crates/turbo-tasks/src/state.rs
  crates/turbo-tasks/src/trace.rs
  crates/turbo-tasks/src/vc/mod.rs
  crates/turbopack-build/src/chunking_context.rs
  crates/turbopack-cli-utils/src/runtime_entry.rs
  crates/turbopack-cli/src/build/mod.rs
  crates/turbopack-cli/src/contexts.rs
  crates/turbopack-cli/src/dev/web_entry_source.rs
  crates/turbopack-core/src/resolve/mod.rs
  crates/turbopack-ecmascript/src/chunk/mod.rs
  crates/turbopack-ecmascript/src/parse.rs
  crates/turbopack-tests/tests/execution/turbopack/wasm/complex/input/index.js
  crates/turbopack-tests/tests/execution/turbopack/wasm/complex/input/magic-number.js
  crates/turbopack-tests/tests/execution/turbopack/wasm/complex/input/memory.js
  crates/turbopack-wasm/src/module_asset.rs
  crates/turbopack-wasm/src/raw.rs
Labels: team: turborepo, team: turbopack

#5661 [3/n] no-context: migrate `turbopack-core`
  .config/ast-grep/rules/no-context.yml
  crates/node-file-trace/src/lib.rs
  crates/turbo-tasks-fetch/src/lib.rs
  crates/turbopack-cli-utils/src/issue.rs
  crates/turbopack-core/src/chunk/evaluate.rs
  crates/turbopack-core/src/chunk/mod.rs
  crates/turbopack-core/src/compile_time_info.rs
  crates/turbopack-core/src/issue/analyze.rs
  crates/turbopack-core/src/issue/code_gen.rs
  crates/turbopack-core/src/issue/mod.rs
  crates/turbopack-core/src/issue/resolve.rs
  crates/turbopack-core/src/issue/unsupported_module.rs
  crates/turbopack-core/src/package_json.rs
  crates/turbopack-core/src/reference/mod.rs
  crates/turbopack-core/src/resolve/alias_map.rs
  crates/turbopack-core/src/resolve/mod.rs
  crates/turbopack-core/src/resolve/options.rs
  crates/turbopack-core/src/resolve/origin.rs
  crates/turbopack-core/src/resolve/parse.rs
  crates/turbopack-core/src/resolve/pattern.rs
  crates/turbopack-core/src/resolve/plugin.rs
  crates/turbopack-css/src/asset.rs
  crates/turbopack-css/src/module_asset.rs
  crates/turbopack-dev-server/src/source/issue_context.rs
  crates/turbopack-dev-server/src/update/stream.rs
  crates/turbopack-dev/src/react_refresh.rs
  crates/turbopack-ecmascript-hmr-protocol/src/lib.rs
  crates/turbopack-ecmascript-plugins/src/transform/swc_ecma_transform_plugins.rs
  crates/turbopack-ecmascript/src/lib.rs
  crates/turbopack-ecmascript/src/parse.rs
  crates/turbopack-ecmascript/src/references/mod.rs
  crates/turbopack-ecmascript/src/references/type_issue.rs
  crates/turbopack-ecmascript/src/references/typescript.rs
  crates/turbopack-ecmascript/src/resolve/mod.rs
  crates/turbopack-ecmascript/src/transform/mod.rs
  crates/turbopack-ecmascript/src/typescript/resolve.rs
  crates/turbopack-env/src/issue.rs
  crates/turbopack-image/src/process/mod.rs
  crates/turbopack-mdx/src/lib.rs
  crates/turbopack-node/src/evaluate.rs
  crates/turbopack-node/src/render/issue.rs
  crates/turbopack-node/src/render/rendered_source.rs
  crates/turbopack-node/src/transforms/postcss.rs
  crates/turbopack-tests/tests/execution.rs
  crates/turbopack-tests/tests/snapshot.rs
  crates/turbopack-wasm/src/module_asset.rs
  crates/turbopack/src/lib.rs
  crates/turbopack/src/unsupported_sass.rs
Labels: team: turborepo, team: turbopack

#5675 add untracked trait reads
  crates/turbo-tasks-testing/src/lib.rs
  crates/turbo-tasks/src/manager.rs
  crates/turbo-tasks/src/raw_vc.rs
  crates/turbo-tasks/src/trait_ref.rs
Labels: team: turbopack

#5676 IssueFilePathExt -> IssueDescriptionExt
  crates/node-file-trace/src/lib.rs
  crates/turbopack-core/src/issue/mod.rs
  crates/turbopack-core/src/reference/mod.rs
  crates/turbopack-dev-server/src/source/issue_context.rs
  crates/turbopack-dev-server/src/update/stream.rs
  crates/turbopack-node/src/render/rendered_source.rs
  crates/turbopack-node/src/transforms/postcss.rs
  crates/turbopack-tests/tests/execution.rs
  crates/turbopack-tests/tests/snapshot.rs
Labels: team: turbopack

#5662 [4/n] no-context: migrate `turbopack-ecmascript`
  .config/ast-grep/rules/no-context.yml
  crates/turbopack-dev/src/ecmascript/optimize.rs
  crates/turbopack-ecmascript-plugins/src/transform/directives/server.rs
  crates/turbopack-ecmascript/src/chunk/content.rs
  crates/turbopack-ecmascript/src/chunk/item.rs
  crates/turbopack-ecmascript/src/chunk/mod.rs
  crates/turbopack-ecmascript/src/chunk/placeable.rs
  crates/turbopack-ecmascript/src/chunk_group_files_asset.rs
  crates/turbopack-ecmascript/src/code_gen.rs
  crates/turbopack-ecmascript/src/lib.rs
  crates/turbopack-ecmascript/src/manifest/chunk_asset.rs
  crates/turbopack-ecmascript/src/manifest/chunk_item.rs
  crates/turbopack-ecmascript/src/references/amd.rs
  crates/turbopack-ecmascript/src/references/cjs.rs
  crates/turbopack-ecmascript/src/references/esm/base.rs
  crates/turbopack-ecmascript/src/references/esm/dynamic.rs
  crates/turbopack-ecmascript/src/references/esm/module_id.rs
  crates/turbopack-ecmascript/src/references/esm/url.rs
  crates/turbopack-ecmascript/src/references/mod.rs
  crates/turbopack-ecmascript/src/references/node.rs
  crates/turbopack-ecmascript/src/references/pattern_mapping.rs
  crates/turbopack-ecmascript/src/references/raw.rs
  crates/turbopack-ecmascript/src/references/require_context.rs
  crates/turbopack-ecmascript/src/resolve/node_native_binding.rs
  crates/turbopack-ecmascript/src/transform/mod.rs
  crates/turbopack-ecmascript/src/tree_shake/asset.rs
  crates/turbopack-ecmascript/src/tree_shake/chunk_item.rs
  crates/turbopack-ecmascript/src/typescript/resolve.rs
Labels: team: turborepo, team: turbopack

#5663 [5/n] no-context: migrate remaining crates
  .config/ast-grep/rules/no-context.yml
  crates/turbopack-css/src/asset.rs
  crates/turbopack-css/src/chunk/mod.rs
  crates/turbopack-css/src/chunk/single_item_chunk/chunk.rs
  crates/turbopack-css/src/code_gen.rs
  crates/turbopack-css/src/embed.rs
  crates/turbopack-css/src/global_asset.rs
  crates/turbopack-css/src/module_asset.rs
  crates/turbopack-css/src/parse.rs
  crates/turbopack-css/src/references/url.rs
  crates/turbopack-dev-server/src/source/issue_context.rs
  crates/turbopack-dev-server/src/source/mod.rs
  crates/turbopack-dev/src/chunking_context.rs
  crates/turbopack-dev/src/css/optimize.rs
  crates/turbopack-ecmascript-hmr-protocol/src/lib.rs
  crates/turbopack-ecmascript-plugins/src/transform/swc_ecma_transform_plugins.rs
  crates/turbopack-ecmascript-runtime/src/asset_context.rs
  crates/turbopack-json/src/lib.rs
  crates/turbopack-mdx/src/lib.rs
  crates/turbopack-node/src/evaluate.rs
  crates/turbopack-node/src/render/issue.rs
  crates/turbopack-node/src/render/render_proxy.rs
  crates/turbopack-node/src/render/render_static.rs
  crates/turbopack-node/src/transforms/postcss.rs
  crates/turbopack-node/src/transforms/webpack.rs
  crates/turbopack-static/src/lib.rs
  crates/turbopack-tests/tests/execution.rs
  crates/turbopack-tests/tests/snapshot.rs
  crates/turbopack/benches/node_file_trace.rs
  crates/turbopack/examples/turbopack.rs
  crates/turbopack/src/condition.rs
  crates/turbopack/src/lib.rs
  crates/turbopack/src/module_options/custom_module_type.rs
  crates/turbopack/src/module_options/mod.rs
  crates/turbopack/src/resolve.rs
  crates/turbopack/src/transition/mod.rs
  crates/turbopack/src/unsupported_sass.rs
  crates/turbopack/tests/helpers/mod.rs
  crates/turbopack/tests/node-file-trace.rs
  crates/turborepo-cache/src/cache_archive/restore.rs
  crates/turborepo-scm/src/lib.rs
Labels: team: turborepo, team: turbopack

#5584 Hide some turbo_tasks internals
  crates/node-file-trace/src/lib.rs
  crates/turbo-tasks-fs/examples/hash_directory.rs
  crates/turbo-tasks-fs/examples/hash_glob.rs
  crates/turbo-tasks-memory/benches/scope_stress.rs
  crates/turbo-tasks-memory/benches/stress.rs
  crates/turbo-tasks-memory/src/task.rs
  crates/turbo-tasks/src/lib.rs
  crates/turbo-tasks/src/manager.rs
  crates/turbo-tasks/src/primitives.rs
  crates/turbo-tasks/src/raw_vc.rs
  crates/turbo-tasks/src/raw_vc_set.rs
  crates/turbo-tasks/src/vc/mod.rs
  crates/turbopack-cli/src/build/mod.rs
  crates/turbopack-core/src/issue/mod.rs
  crates/turbopack-dev-server/src/introspect/mod.rs
  crates/turbopack-ecmascript/src/lib.rs
  crates/turbopack-tests/tests/snapshot.rs
  crates/turbopack/benches/node_file_trace.rs
  crates/turbopack/examples/turbopack.rs
Labels: team: turbopack

#5665 ci: Getting turbo build to be cached
  .github/workflows/test.yml
Labels: area: ci, team: turborepo, team: turbopack

#5686 remove error in update
  crates/turbopack-dev/src/ecmascript/content.rs
Labels: team: turbopack

#5685 chore(gen): reduce published bundle size
  packages/turbo-gen/package.json
  pnpm-lock.yaml
Labels: team: turborepo, pkg: turbo-gen

#5279 feat(codemod): upgrade refactor
  packages/create-turbo/__tests__/index.test.ts
  packages/create-turbo/jest.config.js
  packages/create-turbo/src/commands/create/index.ts
  packages/create-turbo/src/commands/create/prompts.ts
  packages/turbo-codemod/__tests__/add-package-manager.test.ts
  packages/turbo-codemod/__tests__/get-transforms-for-migration.test.ts
  packages/turbo-codemod/__tests__/get-turbo-upgrade-command.test.ts
  packages/turbo-codemod/__tests__/migrate.test.ts
  packages/turbo-codemod/__tests__/test-utils.ts
  packages/turbo-codemod/__tests__/transform.test.ts
  packages/turbo-codemod/jest.config.js
  packages/turbo-codemod/package.json
  packages/turbo-codemod/src/commands/migrate/index.ts
  packages/turbo-codemod/src/commands/migrate/steps/getCurrentVersion.ts
  packages/turbo-codemod/src/commands/migrate/steps/getTurboUpgradeCommand.ts
  packages/turbo-codemod/src/commands/migrate/steps/shutdownDaemon.ts
  packages/turbo-codemod/src/commands/migrate/types.ts
  packages/turbo-codemod/src/commands/migrate/utils.ts
  packages/turbo-codemod/src/commands/transform/index.ts
  packages/turbo-codemod/src/commands/transform/types.ts
  packages/turbo-codemod/src/transforms/README.md
  packages/turbo-codemod/src/transforms/add-package-manager.ts
  packages/turbo-codemod/src/transforms/create-turbo-config.ts
  packages/turbo-codemod/src/transforms/migrate-env-var-dependencies.ts
  packages/turbo-codemod/src/transforms/set-default-outputs.ts
  packages/turbo-codemod/src/transforms/stabilize-env-mode.ts
  packages/turbo-codemod/src/transforms/transform-env-literals-to-wildcards.ts
  packages/turbo-codemod/src/types.ts
  packages/turbo-codemod/src/utils/getPackageManager.ts
  packages/turbo-codemod/src/utils/getPackageManagerVersion.ts
  packages/turbo-codemod/src/utils/notifyUpdate.ts
  packages/turbo-gen/__tests__/raw.test.ts
  packages/turbo-gen/jest.config.js
  packages/turbo-ignore/jest.config.js
  packages/turbo-utils/src/index.ts
  packages/turbo-utils/src/managers.ts
  packages/turbo-workspaces/__tests__/index.test.ts
  packages/turbo-workspaces/jest.config.js
  packages/turbo-workspaces/package.json
  packages/turbo-workspaces/src/commands/convert/index.ts
  packages/turbo-workspaces/src/index.ts
  packages/turbo-workspaces/tsup.config.ts
  pnpm-lock.yaml
Labels: pkg: create-turbo, pkg: turbo-ignore, team: turborepo, pkg: turbo-codemod, pkg: turbo-gen, pkg: turbo-workspaces

#5668 ci(test): temporarily increase test timeout
  .github/actions/next-integration-stat/index.js
  .github/actions/next-integration-stat/src/index.ts
  .github/workflows/nextjs-integration-test.yml
  .github/workflows/setup-nextjs-build.yml
Labels: area: ci, team: turborepo, team: turbopack

#5696 Cleanup minify
  crates/turbo-tasks/src/raw_vc.rs
  crates/turbo-tasks/src/trait_ref.rs
  crates/turbopack-build/src/chunking_context.rs
  crates/turbopack-build/src/ecmascript/minify.rs
  crates/turbopack-build/src/ecmascript/node/content.rs
  crates/turbopack-cli/src/build/mod.rs
  crates/turbopack-tests/tests/snapshot.rs
Labels: team: turbopack

#5652 feat: port task graph construction
  crates/turborepo-lib/src/config/mod.rs
  crates/turborepo-lib/src/config/turbo.rs
  crates/turborepo-lib/src/engine/builder.rs
  crates/turborepo-lib/src/engine/mod.rs
  crates/turborepo-lib/src/lib.rs
  crates/turborepo-lib/src/opts.rs
  crates/turborepo-lib/src/package_graph/mod.rs
  crates/turborepo-lib/src/run/mod.rs
  crates/turborepo-lib/src/run/task_id.rs
  crates/turborepo-lib/src/task_graph/mod.rs
Labels: team: turborepo

#5695 fix(turborepo): Rationalize the install and execution process.
  packages/turbo/.dev-mode
  packages/turbo/bin/turbo
  packages/turbo/install.js
  packages/turbo/node-platform.js
  packages/turbo/package.json
Labels: pr: automerge, team: turborepo

#5700 docs(ci-github-actions): fix indent
  docs/pages/repo/docs/ci/github-actions.mdx
Labels: area: docs, team: turborepo

#5677 feat(turbopack-core): parse query params of resolve requests
  .github/workflows/test.yml
  crates/turbopack-cli/src/build/mod.rs
  crates/turbopack-cli/src/dev/mod.rs
  crates/turbopack-core/src/file_source.rs
  crates/turbopack-core/src/ident.rs
  crates/turbopack-core/src/lib.rs
  crates/turbopack-core/src/resolve/mod.rs
  crates/turbopack-core/src/resolve/parse.rs
  crates/turbopack-core/src/resolve/pattern.rs
  crates/turbopack-css/src/chunk/mod.rs
  crates/turbopack-ecmascript/src/chunk/mod.rs
  crates/turbopack-ecmascript/src/references/typescript.rs
  crates/turbopack-ecmascript/src/typescript/mod.rs
  crates/turbopack-ecmascript/src/typescript/resolve.rs
Labels: area: ci, team: turborepo, team: turbopack

#5235 chore: update to `pnpm@8.6.11` and use node 18 everywhere in CI
  .github/actions/setup-node/action.yml
  .github/actions/turbopack-bump/dist/index.js
  .github/actions/turbopack-bump/dist/index.js.map
  .github/workflows/nextjs-integration-test.yml
  .github/workflows/setup-nextjs-build.yml
  .github/workflows/test.yml
  .npmrc
  benchmark/package.json
  crates/turbopack/tests/node-file-trace.rs
  crates/turbopack/tests/node-file-trace/integration/tensorflow.js
  crates/turbopack/tests/node-file-trace/package.json
  crates/turbopack/tests/node-file-trace/pnpm-lock.yaml
  docs/package.json
  docs/vercel.json
  examples/with-create-react-app/apps/docs/package.json
  examples/with-create-react-app/apps/web/package.json
  package.json
  packages/create-turbo/package.json
  packages/eslint-plugin-turbo/package.json
  packages/turbo-codemod/package.json
  packages/turbo-gen/package.json
  packages/turbo-ignore/package.json
  packages/turbo-test-utils/package.json
  packages/turbo-utils/package.json
  packages/turbo-workspaces/package.json
  pnpm-lock.yaml
Labels: area: examples, pkg: create-turbo, pkg: turbo-ignore, pkg: turbo-eslint, area: ci, area: site, team: turborepo, team: turbopack, pkg: turbo-codemod, pkg: turbo-gen, pkg: turbo-workspaces

#5684 feature(turborepo): `turborepo-ui` crate
  Cargo.lock
  Cargo.toml
  crates/turborepo-lib/Cargo.toml
  crates/turborepo-lib/src/cli.rs
  crates/turborepo-lib/src/commands/info.rs
  crates/turborepo-lib/src/commands/link.rs
  crates/turborepo-lib/src/commands/login.rs
  crates/turborepo-lib/src/commands/logout.rs
  crates/turborepo-lib/src/commands/mod.rs
  crates/turborepo-lib/src/commands/prune.rs
  crates/turborepo-lib/src/commands/unlink.rs
  crates/turborepo-lib/src/daemon/server.rs
  crates/turborepo-lib/src/lib.rs
  crates/turborepo-lib/src/package_manager/mod.rs
  crates/turborepo-lib/src/run/global_hash.rs
  crates/turborepo-lib/src/run/mod.rs
  crates/turborepo-lib/src/shim.rs
  crates/turborepo-lib/src/tracing.rs
  crates/turborepo-ui/Cargo.toml
  crates/turborepo-ui/src/lib.rs
  crates/turborepo-ui/src/log_replayer.rs
Labels: pr: fixship, team: turborepo, team: turbopack

#5708 fix dynamic embedding after the `Vc<T>` update
  crates/turbo-tasks-fs/src/embed/file.rs
Labels: team: turbopack

#5699 Update `swc_core` to `v0.79.55`
  Cargo.lock
  Cargo.toml
Labels: pr: automerge, team: turborepo, team: turbopack

#5509 AST-based modification of turbo.json
  Cargo.lock
  crates/turborepo-lib/Cargo.toml
  crates/turborepo-lib/src/commands/link.rs
  crates/turborepo-lib/src/commands/unlink.rs
  crates/turborepo-lib/src/lib.rs
  crates/turborepo-lib/src/rewrite_json.rs
Labels: pr: automerge, team: turborepo

#5711 chore(docs): use correct npm flag in installation docs
  docs/pages/repo/docs/installing.mdx
Labels: area: docs, team: turborepo

#5706 Update environment variable docs.
  docs/pages/repo/docs/handbook/_meta.json
  docs/pages/repo/docs/handbook/environment-variables.mdx
Labels: area: docs, pr: automerge, area: site, team: turborepo

#5704 chore(turborepo): Refactor globwatcher setup
  Cargo.lock
  crates/turborepo-globwatch/Cargo.toml
  crates/turborepo-globwatch/examples/cancel.rs
  crates/turborepo-globwatch/src/lib.rs
  crates/turborepo-lib/src/daemon/client.rs
  crates/turborepo-lib/src/daemon/server.rs
  crates/turborepo-lib/src/globwatcher/mod.rs
  crates/turborepo-paths/src/absolute_system_path.rs
  crates/turborepo-paths/src/absolute_system_path_buf.rs
Labels: team: turborepo

#5715 Update `context` property in JS to match serialized Rust type
  crates/turbopack-ecmascript-runtime/js/src/dev/runtime/base/protocol.d.ts
Labels: team: turbopack

#5629 feat: expose path to invalid package.json in error
  crates/turborepo-lib/src/package_graph/builder.rs
Labels: team: turborepo

#5724 fix(turbo): remove trailing comma
  packages/turbo/package.json
Labels: team: turborepo

#5725 fix(turbo-gen): better placeholders
  packages/turbo-gen/src/generators/empty.ts
  packages/turbo-gen/src/utils/gatherAddRequirements.ts
Labels: team: turborepo, pkg: turbo-gen

#5717 Add a FileSystemPathOption::none for cached cell reuse
  crates/turbo-tasks-fs/src/lib.rs
  crates/turbopack-css/src/chunk/mod.rs
  crates/turbopack-ecmascript/src/chunk/mod.rs
Labels: team: turbopack, created-by: web-tooling team

#5718 Use shallow references in `any_content_changed_of_module`
  crates/turbopack-core/src/changed.rs
Labels: team: turbopack

#5712 fix(turbo-workspaces): support alternate workspace format
  packages/turbo-workspaces/__tests__/managers.test.ts
  packages/turbo-workspaces/__tests__/test-utils.ts
  packages/turbo-workspaces/jest.config.js
  packages/turbo-workspaces/src/managers/npm.ts
  packages/turbo-workspaces/src/managers/yarn.ts
  packages/turbo-workspaces/src/types.ts
  packages/turbo-workspaces/src/utils.ts
Labels: team: turborepo, pkg: turbo-workspaces, created-by: turborepo team

#5709 fix(Turborepo): Drop argument separator for yarn
  cli/internal/packagemanager/berry.go
  cli/internal/packagemanager/npm.go
  cli/internal/packagemanager/packagemanager.go
  cli/internal/packagemanager/pnpm.go
  cli/internal/packagemanager/pnpm6.go
  cli/internal/packagemanager/yarn.go
  cli/internal/run/real_run.go
Labels: team: turborepo

#5733 Bump lockfile to account for turborepo-ci
  Cargo.lock
Labels: area: turborepo, created-by: turborepo team

#5735 fix(release): correct version script
  packages/turbo/bump-version.js
Labels: created-by: turborepo team, owned-by: turborepo

#5703 feat: port task graph validation
  crates/turborepo-lib/src/engine/mod.rs
  crates/turborepo-lib/src/opts.rs
  crates/turborepo-lib/src/run/mod.rs
  crates/turborepo-lib/src/task_graph/mod.rs
Labels: created-by: turborepo team, owned-by: turborepo

#5697 feat: add async graph walker
  crates/turborepo-lib/src/graph/mod.rs
  crates/turborepo-lib/src/graph/walker.rs
  crates/turborepo-lib/src/lib.rs
Labels: team: turborepo, created-by: turborepo team, owned-by: turborepo

#5731 chore(labels): consolidate issue labels
  .github/ISSUE_TEMPLATE/0-turborepo-bug-report.yml
  .github/ISSUE_TEMPLATE/1-turbopack-bug-report.yml
  .github/turbo-orchestrator.yml
Labels: created-by: turborepo team, owned-by: turborepo, owned-by: web-tooling

#5714 test(ci): update datadog-ci
  .github/workflows/nextjs-integration-test.yml
  .github/workflows/test.yml
Labels: area: ci, owned-by: turborepo, owned-by: web-tooling, created-by: web-tooling

#5740 fix(turborepo): Windows platform detection
  .github/actions/setup-turborepo-environment/action.yml
  packages/turbo/bin/turbo
Labels: area: ci, owned-by: turborepo, owned-by: web-tooling, created-by: turborepo

#5705 Transformation code necessary to support Server Actions
  crates/turbopack-ecmascript/src/lib.rs
  crates/turbopack-tests/tests/snapshot/basic/async_chunk/output/crates_turbopack-tests_tests_snapshot_basic_async_chunk_input_index_b53fce.js
  crates/turbopack-tests/tests/snapshot/basic/async_chunk/output/crates_turbopack-tests_tests_snapshot_basic_async_chunk_input_index_b53fce.js.map
  crates/turbopack-tests/tests/snapshot/basic/top-level-await/output/crates_turbopack-tests_tests_snapshot_basic_top-level-await_input_UserAPI_030d34.js
  crates/turbopack-tests/tests/snapshot/basic/top-level-await/output/crates_turbopack-tests_tests_snapshot_basic_top-level-await_input_UserAPI_030d34.js.map
  crates/turbopack-tests/tests/snapshot/basic/top-level-await/output/crates_turbopack-tests_tests_snapshot_basic_top-level-await_input_index_b53fce.js
  crates/turbopack-tests/tests/snapshot/basic/top-level-await/output/crates_turbopack-tests_tests_snapshot_basic_top-level-await_input_index_b53fce.js.map
  crates/turbopack-tests/tests/snapshot/comptime/define/output/crates_turbopack-tests_tests_snapshot_comptime_define_input_index_b53fce.js
  crates/turbopack-tests/tests/snapshot/comptime/define/output/crates_turbopack-tests_tests_snapshot_comptime_define_input_index_b53fce.js.map
  crates/turbopack-tests/tests/snapshot/emotion/emotion/output/crates_turbopack-tests_tests_snapshot_emotion_emotion_input_index_b53fce.js
  crates/turbopack-tests/tests/snapshot/emotion/emotion/output/crates_turbopack-tests_tests_snapshot_emotion_emotion_input_index_b53fce.js.map
  crates/turbopack-tests/tests/snapshot/export-alls/cjs-2/output/crates_turbopack-tests_tests_snapshot_export-alls_cjs-2_input_index_b53fce.js
  crates/turbopack-tests/tests/snapshot/export-alls/cjs-2/output/crates_turbopack-tests_tests_snapshot_export-alls_cjs-2_input_index_b53fce.js.map
  crates/turbopack-tests/tests/snapshot/runtime/default_build_runtime/output/[turbopack]_runtime.js
  crates/turbopack-tests/tests/snapshot/runtime/default_build_runtime/output/[turbopack]_runtime.js.map
  crates/turbopack-tests/tests/snapshot/runtime/default_dev_runtime/output/79fb1_turbopack-tests_tests_snapshot_runtime_default_dev_runtime_input_index_e60ecd.js
  crates/turbopack-tests/tests/snapshot/runtime/default_dev_runtime/output/79fb1_turbopack-tests_tests_snapshot_runtime_default_dev_runtime_input_index_e60ecd.js.map
  crates/turbopack-tests/tests/snapshot/swc_transforms/mono_transforms/output/8562f_snapshot_swc_transforms_mono_transforms_input_packages_component_index_b0e6f8.js
  crates/turbopack-tests/tests/snapshot/swc_transforms/mono_transforms/output/8562f_snapshot_swc_transforms_mono_transforms_input_packages_component_index_b0e6f8.js.map
Labels: pr: automerge, owned-by: web-tooling, created-by: web-tooling

#5730 ci: Adding mold as linker
  .github/actions/setup-rust/action.yml
Labels: area: ci, owned-by: turborepo, owned-by: web-tooling, created-by: turborepo

#5742 fix(lockfile): use correct ffi method for global changes
  cli/internal/ffi/ffi.go
Labels: owned-by: turborepo, created-by: turborepo

#5707 feature(turbo): Port Run Cache
  Cargo.lock
  crates/turborepo-api-client/src/lib.rs
  crates/turborepo-cache/Cargo.toml
  crates/turborepo-cache/src/async_cache.rs
  crates/turborepo-cache/src/fs.rs
  crates/turborepo-cache/src/http.rs
  crates/turborepo-cache/src/lib.rs
  crates/turborepo-cache/src/multiplexer.rs
  crates/turborepo-cache/src/test_cases.rs
  crates/turborepo-lib/src/cli.rs
  crates/turborepo-lib/src/commands/link.rs
  crates/turborepo-lib/src/commands/unlink.rs
  crates/turborepo-lib/src/config/turbo.rs
  crates/turborepo-lib/src/daemon/client.rs
  crates/turborepo-lib/src/daemon/connector.rs
  crates/turborepo-lib/src/opts.rs
  crates/turborepo-lib/src/package_task.rs
  crates/turborepo-lib/src/run/cache.rs
  crates/turborepo-lib/src/run/mod.rs
  crates/turborepo-lib/src/task_graph/mod.rs
  crates/turborepo-paths/src/absolute_system_path.rs
  crates/turborepo-ui/src/color_selector.rs
  crates/turborepo-ui/src/lib.rs
  crates/turborepo-ui/src/log_replayer.rs
  crates/turborepo-ui/src/logs.rs
  crates/turborepo-ui/src/prefixed.rs
Labels: pr: fixship, owned-by: turborepo, created-by: turborepo

#5739 Update rust toolchain
  .cargo/config.toml
  .github/workflows/test.yml
  crates/turbo-tasks-macros/src/lib.rs
  crates/turbo-tasks-memory/src/lib.rs
  crates/turbopack-cli/src/dev/mod.rs
  crates/turbopack-cli/src/lib.rs
  crates/turbopack-ecmascript/src/lib.rs
  crates/turbopack-node/src/lib.rs
  crates/turborepo-lib/src/lib.rs
  rust-toolchain
Labels: pr: automerge, area: ci, owned-by: turborepo, owned-by: web-tooling, created-by: web-tooling

#5727 fix: give name to package so that it works with rust codepath
  crates/turbopack-tests/tests/execution/package.json
Labels: owned-by: web-tooling, created-by: turborepo

#5728 feat: port run graph flag
  crates/turborepo-lib/src/commands/mod.rs
  crates/turborepo-lib/src/engine/dot.rs
  crates/turborepo-lib/src/engine/mod.rs
  crates/turborepo-lib/src/opts.rs
  crates/turborepo-lib/src/package_graph/mod.rs
  crates/turborepo-lib/src/run/mod.rs
Labels: owned-by: turborepo, created-by: turborepo

#5749 chore: dedupe our lockfile names
  crates/turborepo-lib/src/package_manager/mod.rs
Labels: owned-by: turborepo, created-by: turborepo

#5750 chore: remove use of rc for task definitions
  crates/turborepo-lib/src/engine/builder.rs
  crates/turborepo-lib/src/engine/mod.rs
Labels: owned-by: turborepo, created-by: turborepo

#5753 chore: remove pass through env from experimental fields
  crates/turborepo-lib/src/config/turbo.rs
  crates/turborepo-lib/src/task_graph/mod.rs
Labels: owned-by: turborepo, created-by: turborepo

#5746 feat(turborepo): Framework inference
  crates/turborepo-lib/src/framework.rs
  crates/turborepo-lib/src/lib.rs
  crates/turborepo-lib/src/package_graph/builder.rs
  crates/turborepo-lib/src/package_graph/mod.rs
Labels: owned-by: turborepo, created-by: turborepo

#5674 feature(turborepo): Spaces gets its own API client.
  cli/internal/cmdutil/cmdutil.go
  cli/internal/run/run.go
  cli/internal/runsummary/run_summary.go
  cli/internal/turbostate/turbostate.go
  crates/turborepo-lib/src/commands/link.rs
  crates/turborepo-lib/src/config/repo.rs
  crates/turborepo-lib/src/execution_state.rs
Labels: pr: automerge, owned-by: turborepo, created-by: turborepo

#5757 fix(example): basic example react version in ui package
  examples/basic/packages/ui/package.json
Labels: area: examples, owned-by: turborepo

#5760 Update to-cache-or-not-to-cache.mdx
  docs/pages/repo/docs/core-concepts/caching/to-cache-or-not-to-cache.mdx
Labels: area: docs, owned-by: turborepo

#5754 chore(types): consolidate packagejson type
  packages/turbo-gen/src/commands/workspace/prompts.ts
  packages/turbo-gen/src/generators/copy.ts
  packages/turbo-gen/src/generators/empty.ts
  packages/turbo-gen/src/types.ts
  packages/turbo-utils/src/getTurboConfigs.ts
  packages/turbo-utils/src/index.ts
  packages/turbo-utils/src/types.ts
  packages/turbo-workspaces/__tests__/managers.test.ts
  packages/turbo-workspaces/src/types.ts
  packages/turbo-workspaces/src/updateDependencies.ts
  packages/turbo-workspaces/src/utils.ts
Labels: pkg: turbo-gen, pkg: turbo-workspaces, owned-by: turborepo, created-by: turborepo

#5767 fix(docs): fix docs 404
  docs/package.json
  docs/pages/repo/docs/core-concepts/caching/environment-variable-inputs.mdx
  docs/pages/repo/docs/reference/command-line-reference.mdx
  docs/pages/repo/docs/reference/command-line-reference/run.mdx
  pnpm-lock.yaml
Labels: area: docs, area: site, owned-by: turborepo, owned-by: web-tooling, created-by: turborepo

#5763 fix(turborepo): Adopt std::cell::OnceCell
  crates/turborepo-lib/src/commands/link.rs
  crates/turborepo-lib/src/commands/login.rs
  crates/turborepo-lib/src/commands/mod.rs
  crates/turborepo-lib/src/config/client.rs
  crates/turborepo-lib/src/lib.rs
Labels: pr: automerge, owned-by: turborepo, created-by: turborepo

#5752 chore(linting): fix lint and consolidate configs
  .eslintrc.js
  .github/actions/cargo-sweep/.eslintrc.js
  .github/actions/cargo-sweep/dist/main/index.js
  .github/actions/cargo-sweep/dist/main/index.js.map
  .github/actions/cargo-sweep/dist/post/index.js
  .github/actions/cargo-sweep/dist/post/index.js.map
  .github/actions/cargo-sweep/package.json
  .github/actions/cargo-sweep/src/main.js
  .github/actions/cargo-sweep/src/post.js
  .github/actions/next-integration-stat/.eslintrc.js
  .github/actions/next-integration-stat/package.json
  .github/actions/turbopack-bump/.eslintrc.js
  .github/actions/turbopack-bump/package.json
  .github/workflows/test.yml
  docs/.eslintrc.js
  docs/next.config.js
  docs/package.json
  package.json
  packages/create-turbo/.eslintrc.js
  packages/create-turbo/package.json
  packages/devlow-bench/.eslintrc.cjs
  packages/devlow-bench/package.json
  packages/eslint-config-turbo/.eslintrc.js
  packages/eslint-config-turbo/package.json
  packages/eslint-config/README.md
  packages/eslint-config/library.js
  packages/eslint-config/next.js
  packages/eslint-config/package.json
  packages/eslint-plugin-turbo/.eslintrc.js
  packages/eslint-plugin-turbo/package.json
  packages/tsconfig/README.md
  packages/turbo-codemod/.eslintrc.js
  packages/turbo-codemod/package.json
  packages/turbo-gen/.eslintrc.js
  packages/turbo-gen/package.json
  packages/turbo-ignore/.eslintrc.js
  packages/turbo-ignore/package.json
  packages/turbo-test-utils/.eslintrc.js
  packages/turbo-test-utils/package.json
  packages/turbo-tracing-next-plugin/.eslintrc.js
  packages/turbo-tracing-next-plugin/package.json
  packages/turbo-types/.eslintrc.js
  packages/turbo-types/package.json
  packages/turbo-types/src/scripts/codegen.js
  packages/turbo-types/src/types/config.ts
  packages/turbo-utils/.eslintrc.js
  packages/turbo-utils/package.json
  packages/turbo-workspaces/.eslintrc.js
  packages/turbo-workspaces/package.json
  packages/webpack-nmt/.eslintrc.js
  packages/webpack-nmt/package.json
  pnpm-lock.yaml
Labels: pkg: create-turbo, pkg: turbo-ignore, pkg: turbo-eslint, area: ci, area: site, pkg: turbo-codemod, pkg: turbo-gen, pkg: turbo-workspaces, owned-by: turborepo, owned-by: web-tooling, created-by: turborepo

#5774 fix(turborepo): Force all URLs to be normalized during login.
  crates/turborepo-lib/src/commands/login.rs
  crates/turborepo-lib/src/config/mod.rs
Labels: pr: automerge, owned-by: turborepo, created-by: turborepo

#5775 feat(examples): fix basic lint
  examples/basic/.eslintrc.js
  examples/basic/apps/docs/.eslintrc.js
  examples/basic/apps/docs/app/layout.tsx
  examples/basic/apps/docs/app/page.tsx
  examples/basic/apps/web/.eslintrc.js
  examples/basic/apps/web/app/layout.tsx
  examples/basic/apps/web/app/page.tsx
  examples/basic/apps/web/package.json
  examples/basic/package.json
  examples/basic/packages/eslint-config-custom/index.js
  examples/basic/packages/eslint-config-custom/package.json
  examples/basic/packages/eslint-config/README.md
  examples/basic/packages/eslint-config/library.js
  examples/basic/packages/eslint-config/next.js
  examples/basic/packages/eslint-config/package.json
  examples/basic/packages/eslint-config/react-internal.js
  examples/basic/packages/tsconfig/base.json
  examples/basic/packages/ui/.eslintrc.js
  examples/basic/packages/ui/Button.tsx
  examples/basic/packages/ui/Header.tsx
  examples/basic/packages/ui/button.tsx
  examples/basic/packages/ui/header.tsx
  examples/basic/packages/ui/index.tsx
  examples/basic/packages/ui/package.json
  examples/basic/packages/ui/turbo/generators/config.ts
  examples/basic/pnpm-lock.yaml
  examples/basic/tsconfig.json
Labels: area: examples, owned-by: turborepo, created-by: turborepo

#5769 fix: copy root json to full directory
  crates/turborepo-lib/src/commands/prune.rs
  turborepo-tests/integration/tests/prune/docker.t
Labels: owned-by: turborepo, created-by: turborepo

#5778 fix(examples): rename basic eslint config
  examples/basic/apps/docs/.eslintrc.js
  examples/basic/apps/docs/package.json
  examples/basic/apps/web/.eslintrc.js
  examples/basic/packages/eslint-config-custom/README.md
  examples/basic/packages/eslint-config-custom/library.js
  examples/basic/packages/eslint-config-custom/next.js
  examples/basic/packages/eslint-config-custom/package.json
  examples/basic/packages/eslint-config-custom/react-internal.js
  examples/basic/packages/ui/.eslintrc.js
  examples/basic/pnpm-lock.yaml
Labels: area: examples, owned-by: turborepo, created-by: turborepo

#5779 fix: take reference of run cache opts
  crates/turborepo-lib/src/run/cache.rs
  crates/turborepo-lib/src/run/mod.rs
Labels: owned-by: turborepo, created-by: turborepo

#5777 feat(examples): update tailwind lint
  examples/with-tailwind/.eslintrc.js
  examples/with-tailwind/apps/docs/.eslintrc.js
  examples/with-tailwind/apps/docs/package.json
  examples/with-tailwind/apps/docs/src/app/layout.tsx
  examples/with-tailwind/apps/docs/src/app/page.tsx
  examples/with-tailwind/apps/web/.eslintrc.js
  examples/with-tailwind/apps/web/package.json
  examples/with-tailwind/apps/web/src/app/layout.tsx
  examples/with-tailwind/apps/web/src/app/page.tsx
  examples/with-tailwind/package.json
  examples/with-tailwind/packages/eslint-config-custom/README.md
  examples/with-tailwind/packages/eslint-config-custom/index.js
  examples/with-tailwind/packages/eslint-config-custom/library.js
  examples/with-tailwind/packages/eslint-config-custom/next.js
  examples/with-tailwind/packages/eslint-config-custom/package.json
  examples/with-tailwind/packages/eslint-config-custom/react.js
  examples/with-tailwind/packages/tsconfig/base.json
  examples/with-tailwind/packages/tsconfig/nextjs.json
  examples/with-tailwind/packages/ui/.eslintrc.js
  examples/with-tailwind/packages/ui/package.json
  examples/with-tailwind/packages/ui/src/button.tsx
  examples/with-tailwind/packages/ui/src/card.tsx
  examples/with-tailwind/packages/ui/src/index.tsx
  examples/with-tailwind/pnpm-lock.yaml
  examples/with-tailwind/tsconfig.json
Labels: area: examples, owned-by: turborepo, created-by: turborepo

#5776 fix(turborepo): Remove automatic linking.
  crates/turborepo-lib/src/commands/login.rs
Labels: pr: automerge, owned-by: turborepo, created-by: turborepo

#5628 Port filter and scope to rust
  crates/turborepo-cache/src/cache_archive/create.rs
  crates/turborepo-lib/src/commands/prune.rs
  crates/turborepo-lib/src/engine/builder.rs
  crates/turborepo-lib/src/lib.rs
  crates/turborepo-lib/src/opts.rs
  crates/turborepo-lib/src/package_graph/builder.rs
  crates/turborepo-lib/src/package_graph/mod.rs
  crates/turborepo-lib/src/package_json.rs
  crates/turborepo-lib/src/package_manager/mod.rs
  crates/turborepo-lib/src/run/mod.rs
  crates/turborepo-lib/src/run/scope/change_detector.rs
  crates/turborepo-lib/src/run/scope/filter.rs
  crates/turborepo-lib/src/run/scope/mod.rs
  crates/turborepo-lib/src/run/scope/simple_glob.rs
  crates/turborepo-lib/src/run/scope/target_selector.rs
  crates/turborepo-lockfiles/src/berry/mod.rs
  crates/turborepo-lockfiles/src/lib.rs
  crates/turborepo-lockfiles/src/npm.rs
  crates/turborepo-lockfiles/src/pnpm/data.rs
  crates/turborepo-lockfiles/src/yarn1/mod.rs
  crates/turborepo-paths/src/absolute_system_path.rs
  crates/turborepo-paths/src/anchored_system_path.rs
  crates/turborepo-paths/src/anchored_system_path_buf.rs
  crates/turborepo-scm/src/git.rs
  crates/turborepo-scm/src/hash_object.rs
  crates/turborepo-scm/src/manual.rs
  crates/turborepo-scm/src/package_deps.rs
Labels: owned-by: turborepo, created-by: turborepo

#5748 Add support to integration tests for experimental rust codepath
  cli/internal/turbostate/turbostate.go
  crates/turborepo-lib/src/cli.rs
  crates/turborepo-lib/src/commands/run.rs
  turborepo-tests/e2e/package.json
  turborepo-tests/integration/package.json
  turborepo-tests/integration/tests/bad_flag.t
Labels: owned-by: turborepo, created-by: turborepo

#5790 feat(turbo-ignore): add better error message
  packages/turbo-ignore/src/errors.ts
  packages/turbo-ignore/src/types.ts
Labels: pkg: turbo-ignore, owned-by: turborepo, created-by: turborepo

#5787 fix(lint): turbo-ignore
  .github/workflows/test.yml
  .vscode/settings.json
  examples/basic/tsconfig.json
  examples/with-tailwind/tsconfig.json
  packages/devlow-bench/.eslintrc.cjs
  packages/devlow-bench/tsconfig.json
  packages/eslint-config/library.js
  packages/turbo-ignore/__tests__/args.test.ts
  packages/turbo-ignore/__tests__/checkCommit.test.ts
  packages/turbo-ignore/__tests__/getComparison.test.ts
  packages/turbo-ignore/__tests__/getTask.test.ts
  packages/turbo-ignore/__tests__/getWorkspace.test.ts
  packages/turbo-ignore/__tests__/ignore.test.ts
  packages/turbo-ignore/package.json
  packages/turbo-ignore/src/args.ts
  packages/turbo-ignore/src/checkCommit.ts
  packages/turbo-ignore/src/errors.ts
  packages/turbo-ignore/src/getComparison.ts
  packages/turbo-ignore/src/getTask.ts
  packages/turbo-ignore/src/getWorkspace.ts
  packages/turbo-ignore/src/ignore.ts
  packages/turbo-ignore/src/index.ts
  packages/turbo-ignore/src/logger.ts
  packages/turbo-types/src/index.ts
  packages/turbo-types/src/types/config.ts
  packages/turbo-types/src/types/dry.ts
  pnpm-lock.yaml
  turbo.json
Labels: area: examples, pkg: turbo-ignore, area: ci, owned-by: turborepo, owned-by: web-tooling, created-by: turborepo

#5770 test: verify we can walk DAGs with multiple roots
  crates/turborepo-lib/src/graph/walker.rs
Labels: owned-by: turborepo, created-by: turborepo

#5580 add filewatching tests to document behaviour regarding file add/delete
  cli/internal/filewatcher/backend.go
  cli/internal/filewatcher/backend_darwin.go
  cli/internal/filewatcher/filewatcher_test.go
Labels: owned-by: turborepo, created-by: turborepo

#5783 Tracing improvements
  crates/turbo-tasks-macros/src/value_trait_macro.rs
  crates/turbopack-convert-trace/src/main.rs
Labels: owned-by: web-tooling, created-by: web-tooling

#5738 Generic types over Vcs
  Cargo.lock
  crates/turbo-tasks-build/src/lib.rs
  crates/turbo-tasks-macros-shared/src/generic_type_input.rs
  crates/turbo-tasks-macros-shared/src/lib.rs
  crates/turbo-tasks-macros/Cargo.toml
  crates/turbo-tasks-macros/src/generic_type_macro.rs
  crates/turbo-tasks-macros/src/lib.rs
  crates/turbo-tasks-macros/src/primitive_macro.rs
  crates/turbo-tasks-macros/src/value_impl_macro.rs
  crates/turbo-tasks-macros/src/value_macro.rs
  crates/turbo-tasks-memory/Cargo.toml
  crates/turbo-tasks-memory/tests/all_in_one.rs
  crates/turbo-tasks/src/debug/internal.rs
  crates/turbo-tasks/src/debug/mod.rs
  crates/turbo-tasks/src/generics/index_map.rs
  crates/turbo-tasks/src/generics/index_set.rs
  crates/turbo-tasks/src/generics/mod.rs
  crates/turbo-tasks/src/generics/option.rs
  crates/turbo-tasks/src/generics/vec.rs
  crates/turbo-tasks/src/lib.rs
  crates/turbo-tasks/src/raw_vc.rs
  crates/turbo-tasks/src/vc/cast.rs
  crates/turbo-tasks/src/vc/cell_mode.rs
  crates/turbo-tasks/src/vc/mod.rs
  crates/turbo-tasks/src/vc/read.rs
Labels: owned-by: web-tooling, created-by: web-tooling

#5795 fix: snapshot test path canonicalization
  crates/turbopack-tests/tests/execution.rs
  crates/turbopack-tests/tests/snapshot.rs
Labels: owned-by: web-tooling, created-by: web-tooling

#5792 feat: port github action detection
  crates/turborepo-lib/src/opts.rs
Labels: owned-by: turborepo, created-by: turborepo

#5800 add middleware entry type
  crates/turbopack-core/src/reference_type.rs
Labels: owned-by: web-tooling, created-by: web-tooling

#5798 fix: unify go rust error formatting
  crates/turborepo-lib/src/lib.rs
  crates/turborepo-lib/src/tracing.rs
  turborepo-tests/integration/tests/bad_flag.t
  turborepo-tests/integration/tests/command-version.t
  turborepo-tests/integration/tests/no_args.t
  turborepo-tests/integration/tests/run-logging/log_prefix.t
  turborepo-tests/integration/tests/run-logging/verbosity.t
Labels: owned-by: turborepo, created-by: turborepo

#5789 fix: remove panic from task graph validation
  crates/turborepo-lib/src/engine/mod.rs
  crates/turborepo-lib/src/run/mod.rs
Labels: owned-by: turborepo, created-by: turborepo

#5791 feat: port task graph execution
  crates/turborepo-lib/src/engine/execute.rs
  crates/turborepo-lib/src/engine/mod.rs
  crates/turborepo-lib/src/run/mod.rs
  crates/turborepo-lib/src/task_graph/mod.rs
  crates/turborepo-lib/src/task_graph/visitor.rs
Labels: owned-by: turborepo, created-by: turborepo

#5764 fix(turborepo): Better unlink Output
  crates/turborepo-lib/src/commands/mod.rs
  crates/turborepo-lib/src/commands/unlink.rs
Labels: pr: automerge, owned-by: turborepo, created-by: turborepo

#5786 perform invalidation directly on writes
  crates/turbo-tasks-fs/src/invalidation.rs
  crates/turbo-tasks-fs/src/lib.rs
  crates/turbo-tasks-fs/src/retry.rs
Labels: owned-by: web-tooling, created-by: web-tooling

#5793 Automatically derive ValueDefault for primitive value types
  crates/turbo-tasks-build/src/lib.rs
  crates/turbo-tasks-macros/src/primitive_macro.rs
  crates/turbo-tasks/src/primitives.rs
  crates/turbo-tasks/src/unit.rs
Labels: owned-by: web-tooling, created-by: web-tooling

#5805 fix(lint): add node env
  examples/basic/packages/eslint-config-custom/next.js
  examples/with-tailwind/packages/eslint-config-custom/next.js
  packages/eslint-config/next.js
Labels: area: examples, owned-by: turborepo, owned-by: web-tooling, created-by: turborepo

#5801 fix(lint): create-turbo
  .github/workflows/test.yml
  packages/create-turbo/src/cli.ts
  packages/create-turbo/src/commands/create/index.ts
  packages/create-turbo/src/commands/create/prompts.ts
  packages/create-turbo/src/transforms/errors.ts
  packages/create-turbo/src/transforms/git-ignore.ts
  packages/create-turbo/src/transforms/official-starter.ts
  packages/create-turbo/src/transforms/package-manager.ts
  packages/create-turbo/src/transforms/types.ts
  packages/create-turbo/src/utils/git.ts
  packages/create-turbo/src/utils/isOnline.ts
  packages/create-turbo/src/utils/notifyUpdate.ts
Labels: pkg: create-turbo, area: ci, owned-by: turborepo, owned-by: web-tooling, created-by: turborepo

#5809 fix(lint): eslint-plugin-turbo
  .github/workflows/test.yml
  packages/eslint-plugin-turbo/.eslintrc.js
  packages/eslint-plugin-turbo/lib/index.ts
  packages/eslint-plugin-turbo/lib/rules/no-undeclared-env-vars.ts
  packages/eslint-plugin-turbo/lib/utils/calculate-inputs.ts
  packages/eslint-plugin-turbo/lib/utils/dotenv-processing.ts
  packages/eslint-plugin-turbo/lib/utils/wildcard-processing.ts
Labels: pkg: turbo-eslint, area: ci, owned-by: turborepo, owned-by: web-tooling, created-by: turborepo

#5806 fix: persistent task concurrency check
  crates/turborepo-lib/src/engine/mod.rs
  crates/turborepo-lib/src/opts.rs
Labels: owned-by: turborepo, created-by: turborepo

#5807 feat: show all persistent task validation errors
  cli/internal/core/engine.go
  crates/turborepo-lib/src/run/mod.rs
  turborepo-tests/integration/tests/persistent_dependencies/3-workspace-specific.t
Labels: owned-by: turborepo, created-by: turborepo

#5811 fix(lint): correct globs
  .github/actions/cargo-sweep/package.json
  .github/actions/next-integration-stat/package.json
  .github/actions/turbopack-bump/package.json
  examples/with-tailwind/packages/ui/package.json
  packages/create-turbo/package.json
  packages/devlow-bench/package.json
  packages/eslint-plugin-turbo/package.json
  packages/turbo-codemod/package.json
  packages/turbo-gen/package.json
  packages/turbo-ignore/package.json
  packages/turbo-test-utils/package.json
  packages/turbo-tracing-next-plugin/package.json
  packages/turbo-types/package.json
  packages/turbo-utils/package.json
  packages/webpack-nmt/package.json
Labels: area: examples, pkg: create-turbo, pkg: turbo-ignore, pkg: turbo-eslint, area: ci, pkg: turbo-codemod, pkg: turbo-gen, owned-by: turborepo, owned-by: web-tooling, created-by: turborepo

#5680 docs: update webpack docs to reflect latest next.js api
  docs/pages/pack/docs/features/customizing-turbopack.mdx
Labels: area: docs, owned-by: web-tooling

#5803 feat(turborepo): Use new URL scheme.
  crates/turborepo-lib/src/commands/login.rs
Labels: pr: automerge, owned-by: turborepo, created-by: turborepo

#5819 fix(turborepo): API naming and dep graph
  .cargo/config.toml
  Cargo.lock
  Cargo.toml
  crates/turborepo-api-client/Cargo.toml
  crates/turborepo-api-client/src/lib.rs
  crates/turborepo-cache/Cargo.toml
  crates/turborepo-cache/src/async_cache.rs
  crates/turborepo-cache/src/http.rs
  crates/turborepo-lib/Cargo.toml
  crates/turborepo-lib/src/commands/link.rs
  crates/turborepo-lib/src/commands/login.rs
  crates/turborepo-vercel-api-mock/Cargo.toml
  crates/turborepo-vercel-api-mock/src/lib.rs
  crates/turborepo-vercel-api-mock/src/main.rs
  crates/turborepo-vercel-api/Cargo.toml
  crates/turborepo-vercel-api/src/lib.rs
Labels: pr: automerge, owned-by: turborepo, owned-by: web-tooling, created-by: turborepo

#5627 avoid unnessecary indirection in async modules
  crates/turbopack-ecmascript/src/references/async_module.rs
  crates/turbopack-ecmascript/src/references/esm/base.rs
Labels: owned-by: web-tooling, created-by: web-tooling

#5826 fix(lint): set vscode config for pnpm examples
  packages/create-turbo/package.json
  packages/create-turbo/src/transforms/index.ts
  packages/create-turbo/src/transforms/pnpm-eslint.ts
  pnpm-lock.yaml
Labels: pkg: create-turbo, owned-by: turborepo, created-by: turborepo

#5812 feat(docs): update lint in handbook
  docs/pages/repo/docs/handbook/linting/eslint.mdx
Labels: area: docs, owned-by: turborepo, created-by: turborepo

#5814 Update HMR for next-api
  crates/turbopack-cli/js/src/entry/client.ts
  crates/turbopack-ecmascript-hmr-protocol/src/lib.rs
  crates/turbopack-ecmascript-runtime/js/package.json
  crates/turbopack-ecmascript-runtime/js/src/dev/client/hmr-client.ts
  crates/turbopack-ecmascript-runtime/js/src/dev/client/index.ts
  crates/turbopack-ecmascript-runtime/js/src/dev/client/websocket.ts
  crates/turbopack-ecmascript-runtime/js/src/dev/runtime/base/protocol.d.ts
  crates/turbopack-ecmascript-runtime/js/src/main.js
Labels: pr: automerge, owned-by: web-tooling, created-by: web-tooling

#5821 avoid cloning a large list of task ids
  crates/turbo-tasks-memory/src/memory_backend.rs
  crates/turbo-tasks-memory/src/memory_backend_with_pg.rs
  crates/turbo-tasks/src/backend.rs
  crates/turbo-tasks/src/manager.rs
Labels: owned-by: web-tooling, created-by: web-tooling

#5831 chore(docs): update lint callout
  docs/pages/repo/docs/handbook/linting/eslint.mdx
Labels: area: docs, owned-by: turborepo, created-by: turborepo

#5832 chore(lint): update @vercel/style-guide to latest
  package.json
  packages/create-turbo/src/cli.ts
  packages/create-turbo/src/commands/create/index.ts
  packages/create-turbo/src/commands/create/prompts.ts
  packages/create-turbo/src/transforms/git-ignore.ts
  packages/create-turbo/src/transforms/official-starter.ts
  packages/create-turbo/src/utils/isOnline.ts
  packages/create-turbo/src/utils/notifyUpdate.ts
  packages/eslint-config/package.json
  packages/eslint-plugin-turbo/lib/rules/no-undeclared-env-vars.ts
  packages/turbo-ignore/src/args.ts
  packages/turbo-ignore/src/ignore.ts
  packages/turbo-ignore/src/logger.ts
  packages/turbo-types/src/types/config.ts
  packages/turbo-utils/src/logger.ts
  pnpm-lock.yaml
Labels: pkg: create-turbo, pkg: turbo-ignore, pkg: turbo-eslint, owned-by: turborepo, owned-by: web-tooling, created-by: turborepo

#5827 fix(lint): @turbo/test-utils
  .github/workflows/test.yml
  packages/turbo-test-utils/package.json
  packages/turbo-test-utils/src/index.ts
  packages/turbo-test-utils/src/mockEnv.ts
  packages/turbo-test-utils/src/spyConsole.ts
  packages/turbo-test-utils/src/spyExit.ts
  packages/turbo-test-utils/src/useFixtures.ts
  packages/turbo-test-utils/src/validateLogs.ts
  pnpm-lock.yaml
Labels: area: ci, owned-by: turborepo, owned-by: web-tooling, created-by: turborepo

#5810 fix(lint): @turbo/workspaces
  .github/workflows/test.yml
  packages/turbo-workspaces/__tests__/managers.test.ts
  packages/turbo-workspaces/__tests__/test-utils.ts
  packages/turbo-workspaces/jest.config.js
  packages/turbo-workspaces/package.json
  packages/turbo-workspaces/src/cli.ts
  packages/turbo-workspaces/src/commands/convert/index.ts
  packages/turbo-workspaces/src/commands/convert/types.ts
  packages/turbo-workspaces/src/commands/index.ts
  packages/turbo-workspaces/src/commands/summary/index.ts
  packages/turbo-workspaces/src/convert.ts
  packages/turbo-workspaces/src/errors.ts
  packages/turbo-workspaces/src/getWorkspaceDetails.ts
  packages/turbo-workspaces/src/index.ts
  packages/turbo-workspaces/src/install.ts
  packages/turbo-workspaces/src/logger.ts
  packages/turbo-workspaces/src/managers/index.ts
  packages/turbo-workspaces/src/managers/npm.ts
  packages/turbo-workspaces/src/managers/pnpm.ts
  packages/turbo-workspaces/src/managers/yarn.ts
  packages/turbo-workspaces/src/types.ts
  packages/turbo-workspaces/src/updateDependencies.ts
  packages/turbo-workspaces/src/utils.ts
Labels: area: ci, pkg: turbo-workspaces, owned-by: turborepo, owned-by: web-tooling, created-by: turborepo

#5834 feat(examples): upgrade @vercel/style-guide to 5
  examples/basic/package.json
  examples/basic/packages/eslint-config-custom/package.json
  examples/basic/packages/eslint-config-custom/react-internal.js
  examples/basic/packages/ui/button.tsx
  examples/basic/packages/ui/turbo/generators/config.ts
  examples/basic/pnpm-lock.yaml
  examples/with-tailwind/package.json
  examples/with-tailwind/packages/eslint-config-custom/package.json
  examples/with-tailwind/pnpm-lock.yaml
Labels: area: examples, owned-by: turborepo, created-by: turborepo

#5824 feature(turborepo): Rust capnproto hashing
  .github/actions/setup-capnproto/action.yml
  .github/actions/setup-turborepo-environment/action.yml
  .github/workflows/test.yml
  Cargo.lock
  crates/turborepo-lib/Cargo.toml
  crates/turborepo-lib/build.rs
  crates/turborepo-lib/src/hash/mod.rs
  crates/turborepo-lib/src/hash/proto.capnp
  crates/turborepo-lib/src/hash/std/capnp/c++.capnp
  crates/turborepo-lib/src/hash/std/capnp/compat/json.capnp
  crates/turborepo-lib/src/hash/std/capnp/compat/json/json.capnp.go
  crates/turborepo-lib/src/hash/std/capnp/cxx/c++.capnp.go
  crates/turborepo-lib/src/hash/std/capnp/persistent.capnp
  crates/turborepo-lib/src/hash/std/capnp/persistent/persistent.capnp.go
  crates/turborepo-lib/src/hash/std/capnp/rpc-twoparty.capnp
  crates/turborepo-lib/src/hash/std/capnp/rpc.capnp
  crates/turborepo-lib/src/hash/std/capnp/rpc/exception.go
  crates/turborepo-lib/src/hash/std/capnp/rpc/rpc.capnp.go
  crates/turborepo-lib/src/hash/std/capnp/rpctwoparty/rpc-twoparty.capnp.go
  crates/turborepo-lib/src/hash/std/capnp/schema.capnp
  crates/turborepo-lib/src/hash/std/capnp/schema/schema.capnp.go
  crates/turborepo-lib/src/hash/std/capnp/stream.capnp
  crates/turborepo-lib/src/hash/std/capnp/stream/stream.capnp.go
  crates/turborepo-lib/src/hash/std/fixups.patch
  crates/turborepo-lib/src/hash/std/go.capnp
  crates/turborepo-lib/src/hash/std/go/go.capnp.go
  crates/turborepo-lib/src/hash/traits.rs
  crates/turborepo-lib/src/lib.rs
  crates/turborepo-scm/src/package_deps.rs
Labels: area: ci, owned-by: turborepo, owned-by: web-tooling, created-by: turborepo

#5838 chore: minor task cache changes
  crates/turborepo-lib/src/run/cache.rs
  crates/turborepo-lib/src/run/mod.rs
Labels: owned-by: turborepo, created-by: turborepo

#5839 fix(lint): @turbo/gen
  .github/workflows/test.yml
  packages/turbo-gen/.eslintrc.js
  packages/turbo-gen/__tests__/raw.test.ts
  packages/turbo-gen/src/cli.ts
  packages/turbo-gen/src/commands/raw/index.ts
  packages/turbo-gen/src/commands/run/index.ts
  packages/turbo-gen/src/commands/run/prompts.ts
  packages/turbo-gen/src/commands/workspace/index.ts
  packages/turbo-gen/src/commands/workspace/prompts.ts
  packages/turbo-gen/src/generators/copy.ts
  packages/turbo-gen/src/generators/custom.ts
  packages/turbo-gen/src/generators/empty.ts
  packages/turbo-gen/src/generators/types.ts
  packages/turbo-gen/src/utils/error.ts
  packages/turbo-gen/src/utils/gatherAddRequirements.ts
  packages/turbo-gen/src/utils/getProject.ts
  packages/turbo-gen/src/utils/getWorkspaceList.ts
  packages/turbo-gen/src/utils/getWorkspaceStructure.ts
  packages/turbo-gen/src/utils/notifyUpdate.ts
  packages/turbo-gen/src/utils/plop.ts
  packages/turbo-gen/src/utils/setupFromTemplate.ts
  packages/turbo-gen/src/utils/workspaceRoots.ts
Labels: area: ci, pkg: turbo-gen, owned-by: turborepo, owned-by: web-tooling, created-by: turborepo

#5828 chore: remove fake root topological task nodes
  cli/internal/core/engine.go
  turborepo-tests/integration/tests/task-dependencies/complex.t
  turborepo-tests/integration/tests/task-dependencies/topological.t
  turborepo-tests/integration/tests/task-dependencies/workspace-tasks.t
Labels: owned-by: turborepo, created-by: turborepo

#5825 feat: port task execution summary
  crates/turborepo-lib/src/run/mod.rs
  crates/turborepo-lib/src/run/summary/execution.rs
  crates/turborepo-lib/src/run/summary/mod.rs
Labels: owned-by: turborepo, created-by: turborepo

#5840 fix(lint): @turbo/utils
  .github/workflows/test.yml
  packages/turbo-utils/__tests__/getTurboConfigs.test.ts
  packages/turbo-utils/package.json
  packages/turbo-utils/src/convertCase.ts
  packages/turbo-utils/src/createProject.ts
  packages/turbo-utils/src/examples.ts
  packages/turbo-utils/src/getTurboConfigs.ts
  packages/turbo-utils/src/getTurboRoot.ts
  packages/turbo-utils/src/isFolderEmpty.ts
  packages/turbo-utils/src/isWriteable.ts
  packages/turbo-utils/src/logger.ts
  packages/turbo-utils/src/managers.ts
  packages/turbo-utils/src/searchUp.ts
  packages/turbo-utils/src/types.ts
  packages/turbo-utils/src/validateDirectory.ts
  packages/turbo-workspaces/src/utils.ts
  pnpm-lock.yaml
Labels: area: ci, pkg: turbo-workspaces, owned-by: turborepo, owned-by: web-tooling, created-by: turborepo

#5846 fix(lint): @turbo/codemod
  .github/workflows/test.yml
  packages/turbo-codemod/__tests__/add-package-manager.test.ts
  packages/turbo-codemod/__tests__/clean-globs.test.ts
  packages/turbo-codemod/__tests__/create-turbo-config.test.ts
  packages/turbo-codemod/__tests__/get-transforms-for-migration.test.ts
  packages/turbo-codemod/__tests__/get-turbo-upgrade-command.test.ts
  packages/turbo-codemod/__tests__/migrate-env-var-dependencies.test.ts
  packages/turbo-codemod/__tests__/migrate.test.ts
  packages/turbo-codemod/__tests__/set-default-outputs.test.ts
  packages/turbo-codemod/__tests__/stabilize-env-mode.test.ts
  packages/turbo-codemod/__tests__/test-utils.ts
  packages/turbo-codemod/__tests__/transform-env-literals-to-wildcards.test.ts
  packages/turbo-codemod/__tests__/transform.test.ts
  packages/turbo-codemod/index.d.ts
  packages/turbo-codemod/src/cli.ts
  packages/turbo-codemod/src/commands/index.ts
  packages/turbo-codemod/src/commands/migrate/index.ts
  packages/turbo-codemod/src/commands/migrate/steps/getCurrentVersion.ts
  packages/turbo-codemod/src/commands/migrate/steps/getLatestVersion.ts
  packages/turbo-codemod/src/commands/migrate/steps/getTransformsForMigration.ts
  packages/turbo-codemod/src/commands/migrate/steps/getTurboUpgradeCommand.ts
  packages/turbo-codemod/src/commands/migrate/steps/shutdownDaemon.ts
  packages/turbo-codemod/src/commands/migrate/types.ts
  packages/turbo-codemod/src/commands/migrate/utils.ts
  packages/turbo-codemod/src/commands/transform/index.ts
  packages/turbo-codemod/src/commands/transform/types.ts
  packages/turbo-codemod/src/runner/FileTransform.ts
  packages/turbo-codemod/src/runner/Runner.ts
  packages/turbo-codemod/src/runner/index.ts
  packages/turbo-codemod/src/runner/types.ts
  packages/turbo-codemod/src/transforms/add-package-manager.ts
  packages/turbo-codemod/src/transforms/clean-globs.ts
  packages/turbo-codemod/src/transforms/create-turbo-config.ts
  packages/turbo-codemod/src/transforms/migrate-env-var-dependencies.ts
  packages/turbo-codemod/src/transforms/set-default-outputs.ts
  packages/turbo-codemod/src/transforms/stabilize-env-mode.ts
  packages/turbo-codemod/src/transforms/transform-env-literals-to-wildcards.ts
  packages/turbo-codemod/src/types.ts
  packages/turbo-codemod/src/utils/checkGitStatus.ts
  packages/turbo-codemod/src/utils/directoryInfo.ts
  packages/turbo-codemod/src/utils/getTransformerHelpers.ts
  packages/turbo-codemod/src/utils/loadTransformers.ts
  packages/turbo-codemod/src/utils/logger.ts
  packages/turbo-codemod/src/utils/looksLikeRepo.ts
  packages/turbo-codemod/src/utils/notifyUpdate.ts
  packages/turbo-codemod/turbo/generators/templates/transformer.hbs
Labels: area: ci, pkg: turbo-codemod, owned-by: turborepo, owned-by: web-tooling, created-by: turborepo
