Repository vercel/turborepo, pull requests merged in 2023-06, with the labels that each got.

#5159 Copy benckmark deps into directory
  crates/turbopack-bench/src/util/npm.rs
Labels: pr: automerge, team: turbopack

#5153 chore(turborepo): Port piece of kill_live_server test for version mismatch
  crates/turborepo-lib/src/daemon/connector.rs
Labels: team: turborepo

#5158 feat(turborepo): Wait for a pid file, then a sock file
  cli/internal/daemon/connector/connector.go
  crates/turborepo-lib/src/daemon/connector.rs
Labels: team: turborepo

#5155 feat(create-turbo): use latest turbo by default
  packages/create-turbo/src/cli.ts
  packages/create-turbo/src/commands/create/types.ts
  packages/create-turbo/src/transforms/official-starter.ts
Labels: pkg: create-turbo, team: turborepo

#5149 Update existing-monorepo.mdx
  docs/pages/repo/docs/getting-started/existing-monorepo.mdx
Labels: area: docs, team: turborepo

#5135 Merge timesaved and cache status data structures
  cli/internal/cache/async_cache.go
  cli/internal/cache/cache.go
  cli/internal/cache/cache_fs.go
  cli/internal/cache/cache_fs_test.go
  cli/internal/cache/cache_http.go
  cli/internal/cache/cache_http_test.go
  cli/internal/cache/cache_noop.go
  cli/internal/cache/cache_test.go
  cli/internal/run/dry_run.go
  cli/internal/run/real_run.go
  cli/internal/runcache/runcache.go
  cli/internal/runsummary/task_summary.go
Labels: team: turborepo

#5168 Merge the glob walk / globbing integration branch into main
  Cargo.lock
  Cargo.toml
  cli/internal/ffi/bindings.h
  crates/turborepo-ffi/Cargo.toml
  crates/turborepo-ffi/src/lib.rs
  crates/turborepo-glob-match/Cargo.toml
  crates/turborepo-glob-match/README.md
  crates/turborepo-glob-match/benches/bench.rs
  crates/turborepo-glob-match/fuzz/.gitignore
  crates/turborepo-glob-match/fuzz/Cargo.lock
  crates/turborepo-glob-match/fuzz/Cargo.toml
  crates/turborepo-glob-match/fuzz/fuzz_targets/both_fuzz.rs
  crates/turborepo-glob-match/fuzz/fuzz_targets/lib.rs
  crates/turborepo-glob-match/fuzz/fuzz_targets/pattern_on_itself.rs
  crates/turborepo-glob-match/rustfmt.toml
  crates/turborepo-glob-match/src/lib.rs
  crates/turborepo-globwalk/Cargo.toml
  crates/turborepo-globwalk/src/empty_glob.rs
  crates/turborepo-globwalk/src/lib.rs
  crates/turborepo-globwatch/Cargo.toml
  crates/turborepo-lib/Cargo.toml
  crates/turborepo-lib/src/globwatcher/mod.rs
  crates/turborepo-lib/src/package_manager/mod.rs
  crates/turborepo-lib/src/shim.rs
  crates/turborepo-wax/Cargo.lock
  crates/turborepo-wax/Cargo.toml
  crates/turborepo-wax/LICENSE
  crates/turborepo-wax/doc/wax-favicon.svg
  crates/turborepo-wax/doc/wax.svg
  crates/turborepo-wax/src/capture.rs
  crates/turborepo-wax/src/diagnostics/miette.rs
  crates/turborepo-wax/src/diagnostics/mod.rs
  crates/turborepo-wax/src/encode.rs
  crates/turborepo-wax/src/lib.rs
  crates/turborepo-wax/src/rule.rs
  crates/turborepo-wax/src/token/mod.rs
  crates/turborepo-wax/src/token/parse.rs
  crates/turborepo-wax/src/token/variance.rs
  crates/turborepo-wax/src/walk.rs
  crates/turborepo-wax/tests/walk.rs
Labels: team: turborepo, team: turbopack

#5161 make HMR re-execute modules that self invalidate
  crates/turbopack-ecmascript-runtime/js/src/dev/runtime/base/runtime-base.ts
  crates/turbopack-tests/tests/snapshot/runtime/default_dev_runtime/output/79fb1_turbopack-tests_tests_snapshot_runtime_default_dev_runtime_input_index_e60ecd.js
  crates/turbopack-tests/tests/snapshot/runtime/default_dev_runtime/output/79fb1_turbopack-tests_tests_snapshot_runtime_default_dev_runtime_input_index_e60ecd.js.map
Labels: team: turbopack

#5172 docs: add separate pages for each CLI command
  docs/pages/blog/turbo-1-5-0.mdx
  docs/pages/blog/turbo-1-6-0.mdx
  docs/pages/blog/turbo-1-7-0.mdx
  docs/pages/blog/turbo-1-8-0.mdx
  docs/pages/blog/turbo-1-9-0.mdx
  docs/pages/repo/docs/core-concepts/caching/environment-variable-inputs.mdx
  docs/pages/repo/docs/core-concepts/monorepos/code-generation.mdx
  docs/pages/repo/docs/core-concepts/monorepos/filtering.mdx
  docs/pages/repo/docs/getting-started/existing-monorepo.mdx
  docs/pages/repo/docs/reference/command-line-reference.mdx
  docs/pages/repo/docs/reference/command-line-reference/_meta.json
  docs/pages/repo/docs/reference/command-line-reference/bin.mdx
  docs/pages/repo/docs/reference/command-line-reference/gen.mdx
  docs/pages/repo/docs/reference/command-line-reference/link.mdx
  docs/pages/repo/docs/reference/command-line-reference/login.mdx
  docs/pages/repo/docs/reference/command-line-reference/logout.mdx
  docs/pages/repo/docs/reference/command-line-reference/prune.mdx
  docs/pages/repo/docs/reference/command-line-reference/run.mdx
  docs/pages/repo/docs/reference/command-line-reference/unlink.mdx
  docs/pages/repo/docs/reference/configuration.mdx
  docs/pages/repo/docs/troubleshooting.mdx
Labels: area: docs, area: site, team: turborepo, team: turbopack

#4664 chore: specify rust crates as inputs to building turborepo
  cli/turbo.json
Labels: team: turborepo

#3925 Run prettier in individual workspaces
  .github/actions/cargo-sweep/package.json
  .github/actions/next-integration-stat/package.json
  .github/actions/turbopack-bump/package.json
  .github/workflows/test.yml
  .prettierignore
  benchmark/package.json
  cli/package.json
  docs/package.json
  package.json
  packages/create-turbo/package.json
  packages/eslint-config-turbo/package.json
  packages/eslint-plugin-turbo/package.json
  packages/turbo-codemod/package.json
  packages/turbo-ignore/package.json
  packages/turbo-test-utils/package.json
  packages/turbo-tracing-next-plugin/package.json
  packages/turbo-tracing-next-plugin/test/with-mongodb-mongoose/package.json
  packages/turbo-types/package.json
  packages/turbo-utils/package.json
  packages/turbo-workspaces/package.json
  packages/webpack-nmt/package.json
  turbo.json
Labels: pkg: create-turbo, pkg: turbo-ignore, pkg: turbo-eslint, area: ci, area: site, team: turborepo, team: turbopack, pkg: turbo-codemod, pkg: turbo-workspaces

#5116 Organize tests a bit
  turborepo-tests/integration/tests/_helpers/logged_in.sh
  turborepo-tests/integration/tests/command-link.t
  turborepo-tests/integration/tests/command-login.t
  turborepo-tests/integration/tests/command-logout.t
  turborepo-tests/integration/tests/command-unlink.t
  turborepo-tests/integration/tests/command-version.t
  turborepo-tests/integration/tests/persistent_dependencies/1-topological.t
  turborepo-tests/integration/tests/persistent_dependencies/10-too-many.t
  turborepo-tests/integration/tests/persistent_dependencies/2-same-workspace.t
  turborepo-tests/integration/tests/persistent_dependencies/3-workspace-specific.t
  turborepo-tests/integration/tests/persistent_dependencies/4-cross-workspace.t
  turborepo-tests/integration/tests/persistent_dependencies/5-root-workspace.t
  turborepo-tests/integration/tests/persistent_dependencies/6-topological-unimplemented.t
  turborepo-tests/integration/tests/persistent_dependencies/7-topological-nested.t
  turborepo-tests/integration/tests/persistent_dependencies/8-topological-with-extra.t
  turborepo-tests/integration/tests/persistent_dependencies/9-cross-workspace-nested.t
  turborepo-tests/integration/tests/run-caching/cache-state.t
  turborepo-tests/integration/tests/run-caching/excluded-inputs.t
  turborepo-tests/integration/tests/run-logging/errors-only.t
  turborepo-tests/integration/tests/run-logging/log_prefix.t
  turborepo-tests/integration/tests/run-logging/verbosity.t
  turborepo-tests/integration/tests/run-summary/discovery.t
  turborepo-tests/integration/tests/run-summary/enable.t
  turborepo-tests/integration/tests/run-summary/error.t
  turborepo-tests/integration/tests/run-summary/monorepo.t
  turborepo-tests/integration/tests/run-summary/single-package.t
  turborepo-tests/integration/tests/run-summary/strict_env.t
  turborepo-tests/integration/tests/run/absolute_path_warning.t
  turborepo-tests/integration/tests/run/continue.t
  turborepo-tests/integration/tests/run/infer_pkg.t
  turborepo-tests/integration/tests/run/missing-tasks.t
  turborepo-tests/integration/tests/run/one-script-error.t
  turborepo-tests/integration/tests/run/profile.t
  turborepo-tests/integration/tests/workspace-configs/add-keys.t
  turborepo-tests/integration/tests/workspace-configs/add-tasks.t
  turborepo-tests/integration/tests/workspace-configs/bad-json.t
  turborepo-tests/integration/tests/workspace-configs/cache.t
  turborepo-tests/integration/tests/workspace-configs/config-change.t
  turborepo-tests/integration/tests/workspace-configs/cross-workspace.t
  turborepo-tests/integration/tests/workspace-configs/invalid-config.t
  turborepo-tests/integration/tests/workspace-configs/missing-workspace-config-deps.t
  turborepo-tests/integration/tests/workspace-configs/missing-workspace-config.t
  turborepo-tests/integration/tests/workspace-configs/omit-keys-deps.t
  turborepo-tests/integration/tests/workspace-configs/omit-keys.t
  turborepo-tests/integration/tests/workspace-configs/override-values-deps.t
  turborepo-tests/integration/tests/workspace-configs/override-values.t
  turborepo-tests/integration/tests/workspace-configs/persistent.t
Labels: team: turborepo

#5173 docs: add `--out-dir` reference for prune command
  docs/pages/repo/docs/reference/command-line-reference/prune.mdx
Labels: area: docs, team: turborepo

#5178 ci(workflow): limit datadog upload more strictly
  .github/workflows/test.yml
Labels: pr: automerge, area: ci, team: turborepo, team: turbopack

#5181 fix(turborepo): Restructure reading from stderr, fix parsing of ls-tree
  crates/turborepo-scm/src/hash_object.rs
  crates/turborepo-scm/src/lib.rs
  crates/turborepo-scm/src/ls_tree.rs
  crates/turborepo-scm/src/status.rs
Labels: team: turborepo

#5186 chore(cli): add note about changing run summary
  cli/internal/runsummary/run_summary.go
Labels: team: turborepo

#5175 feat(blog): add blog post for 1.10
  docs/pages/blog/_meta.json
  docs/pages/blog/turbo-1-10-0.mdx
  docs/public/images/blog/turbo-1-10-0/twitter-card.png
Labels: area: docs, area: site, team: turborepo, team: turbopack

#5192 feat(blog): generators > code generators
  docs/pages/blog/turbo-1-10-0.mdx
  docs/public/images/blog/turbo-1-10-0/twitter-card.png
Labels: area: docs, area: site, team: turborepo, team: turbopack

#5194 feat(turborepo): Remove as_absolute_path() in favor of Deref
  crates/turborepo-lib/src/execution_state.rs
  crates/turborepo-lib/src/package_manager/mod.rs
  crates/turborepo-lib/src/run/mod.rs
  crates/turborepo-lib/src/shim.rs
  crates/turborepo-paths/src/absolute_system_path_buf.rs
Labels: team: turborepo

#5127 Update log message when cache restoration is skipped
  cli/internal/runcache/runcache.go
  docs/pages/repo/docs/getting-started/create-new.mdx
  turborepo-tests/e2e/index.ts
  turborepo-tests/integration/tests/global_env.t
  turborepo-tests/integration/tests/lockfile_aware_caching/berry.t
  turborepo-tests/integration/tests/lockfile_aware_caching/npm.t
  turborepo-tests/integration/tests/lockfile_aware_caching/pnpm.t
  turborepo-tests/integration/tests/lockfile_aware_caching/yarn.t
  turborepo-tests/integration/tests/run-caching/excluded-inputs.t
  turborepo-tests/integration/tests/run-logging/log_prefix.t
  turborepo-tests/integration/tests/run/force.t
  turborepo-tests/integration/tests/run/one-script-error.t
  turborepo-tests/integration/tests/single_package/run-yarn.t
  turborepo-tests/integration/tests/single_package/run.t
  turborepo-tests/integration/tests/single_package/with-deps-run.t
  turborepo-tests/integration/tests/workspace-configs/add-keys.t
  turborepo-tests/integration/tests/workspace-configs/missing-workspace-config.t
  turborepo-tests/integration/tests/workspace-configs/omit-keys.t
  turborepo-tests/integration/tests/workspace-configs/override-values.t
Labels: area: docs, team: turborepo

#5180 docs: Move deprecated options for run command to bottom
  docs/pages/repo/docs/reference/command-line-reference/run.mdx
Labels: area: docs, team: turborepo

#5121 chore: Enable `share-generics`
  .cargo/config.toml
Labels: pr: automerge, team: turborepo, team: turbopack

#5200 refactor: Do not duplicate SWC transforms in the final binary
  Cargo.lock
  Cargo.toml
  crates/turbopack-ecmascript/src/transform/mod.rs
Labels: pr: automerge, team: turborepo, team: turbopack

#5191 Parallel ignores concurrency and dependencies, we don't need to validate
  cli/internal/run/run.go
Labels: team: turborepo

#5195 feat(lockfiles): add support pnpm lockfile version 6.1
  crates/turborepo-lockfiles/fixtures/pnpm-v6.1.yaml
  crates/turborepo-lockfiles/src/pnpm/data.rs
Labels: team: turborepo

#5196 feat(turborepo): Remove anyhow from package manager detection
  Cargo.lock
  crates/turborepo-lib/Cargo.toml
  crates/turborepo-lib/src/execution_state.rs
  crates/turborepo-lib/src/lib.rs
  crates/turborepo-lib/src/package_manager/mod.rs
  crates/turborepo-lib/src/package_manager/npm.rs
  crates/turborepo-lib/src/package_manager/pnpm.rs
  crates/turborepo-lib/src/package_manager/yarn.rs
  crates/turborepo-lib/src/shim.rs
  crates/turborepo-paths/Cargo.toml
  crates/turborepo-paths/src/anchored_system_path_buf.rs
Labels: team: turborepo

#5206 chore(ci): CODEOWNERS updates
  .github/CODEOWNERS
Labels: team: turborepo, team: turbopack

#5184 Add codemod for glob syntax issues.
  packages/turbo-codemod/__tests__/__fixtures__/clean-globs/clean-globs/package.json
  packages/turbo-codemod/__tests__/__fixtures__/clean-globs/clean-globs/turbo.json
  packages/turbo-codemod/__tests__/clean-globs.test.ts
  packages/turbo-codemod/src/transforms/clean-globs.ts
Labels: team: turborepo, pkg: turbo-codemod

#5204 feat(blog): add turbo gen gif to blog
  docs/components/ThemeAwareImage.tsx
  docs/pages/blog/turbo-1-10-0.mdx
  docs/public/images/blog/turbo-1-10-0/turbo-gen-dark.gif
  docs/public/images/blog/turbo-1-10-0/turbo-gen-light.gif
Labels: area: docs, area: site, team: turborepo, team: turbopack

#5208 fix(gen): swap to which for windows
  crates/turborepo-lib/src/commands/generate.rs
Labels: team: turborepo

#5171 Add timeSaved value into dry run output
  cli/internal/cache/cache_fs.go
  cli/internal/cache/cache_http.go
Labels: team: turborepo

#5209 fix(turborepo): Repo config case normalization
  cli/internal/cmdutil/cmdutil.go
  cli/internal/config/config_file.go
  crates/turborepo-lib/src/config/repo.rs
Labels: team: turborepo

#5211 feat(turbopack-image): enable a few more image formats
  crates/turbopack-image/src/process/mod.rs
Labels: pr: automerge, team: turbopack

#5210 Prepare StaticAssetsContentSourceVc for basePath
  crates/turbopack-dev-server/src/source/static_assets.rs
Labels: pr: automerge, team: turbopack

#5179 Update references to docs in code comments and help output
  cli/internal/core/engine.go
  cli/internal/scope/scope.go
  crates/turborepo-lib/src/cli.rs
  turborepo-tests/integration/tests/no_args.t
  turborepo-tests/integration/tests/turbo_help.t
Labels: team: turborepo

#5213 fix clippy CI
  .github/workflows/test.yml
Labels: area: ci, team: turborepo, team: turbopack

#5216 fix(turbo): remove npx version check for gen
  crates/turborepo-lib/src/commands/generate.rs
Labels: team: turborepo

#5221 improve error reporting, omit timeout while debugging
  crates/turbopack-node/src/pool.rs
Labels: team: turbopack

#5223 fix(docs): add back commit from bad merge
  docs/components/ThemeAwareImage.tsx
  docs/pages/blog/turbo-1-10-0.mdx
  docs/public/images/blog/turbo-1-10-0/turbo-gen-dark.gif
  docs/public/images/blog/turbo-1-10-0/turbo-gen-light.gif
Labels: area: docs, area: site, team: turborepo, team: turbopack

#5139 Add ability for Rewrites to overwrite request headers
  crates/turbopack-dev-server/src/source/mod.rs
  crates/turbopack-dev-server/src/source/resolve.rs
  crates/turbopack-dev-server/src/source/wrapping_source.rs
Labels: pr: automerge, team: turbopack

#5227 Fix `PrefixedRouterContentSourceVc`'s `debug_assertion`
  crates/turbopack-dev-server/src/source/router.rs
Labels: pr: automerge, team: turbopack

#5230 fix(ffi): fix Rust dangling pointer
  cli/internal/ffi/ffi_test.go
  cli/internal/fs/recursive_copy_test.go
  crates/turborepo-ffi/src/lib.rs
Labels: team: turborepo

#5214 add more `tp-test` exclusions to fix windows CI (a bit)
  .cargo/config.toml
Labels: team: turborepo, team: turbopack

#5225 feat(turborepo): implement package.json discovery
  Cargo.lock
  crates/turborepo-globwalk/src/lib.rs
  crates/turborepo-lib/Cargo.toml
  crates/turborepo-lib/src/package_manager/fixtures/package.json
  crates/turborepo-lib/src/package_manager/fixtures/pnpm-patches.json
  crates/turborepo-lib/src/package_manager/fixtures/pnpm-workspace.yaml
  crates/turborepo-lib/src/package_manager/mod.rs
  crates/turborepo-lib/src/shim.rs
  crates/turborepo-paths/src/absolute_system_path.rs
  crates/turborepo-paths/src/absolute_system_path_buf.rs
  turborepo-tests/integration/tests/inference/has_workspaces.t
  turborepo-tests/integration/tests/inference/has_workspaces_setup.sh
Labels: team: turborepo

#5189 Error handling fixes for `turbopack-node` and the HMR runtime
  .eslintignore
  .eslintrc.js
  .prettierignore
  crates/turbopack-ecmascript-runtime/js/src/dev/runtime/base/runtime-base.ts
  crates/turbopack-ecmascript/src/references/esm/base.rs
  crates/turbopack-ecmascript/src/tree_shake/chunk_item.rs
  crates/turbopack-ecmascript/src/utils.rs
  crates/turbopack-node/js/src/ipc/error.ts
  crates/turbopack-node/js/src/ipc/index.ts
  crates/turbopack-node/src/debug.rs
  crates/turbopack-node/src/lib.rs
  crates/turbopack-node/src/render/node_api_source.rs
  crates/turbopack-node/src/render/render_proxy.rs
  crates/turbopack-node/src/render/render_static.rs
  crates/turbopack-node/src/render/rendered_source.rs
  crates/turbopack-node/src/transforms/postcss.rs
  crates/turbopack-node/src/transforms/webpack.rs
  crates/turbopack-tests/tests/snapshot/runtime/default_dev_runtime/output/79fb1_turbopack-tests_tests_snapshot_runtime_default_dev_runtime_input_index_e60ecd.js
  crates/turbopack-tests/tests/snapshot/runtime/default_dev_runtime/output/79fb1_turbopack-tests_tests_snapshot_runtime_default_dev_runtime_input_index_e60ecd.js.map
Labels: team: turborepo, team: turbopack

#5236 fix next-swc CI check
  .github/workflows/test.yml
Labels: area: ci, team: turborepo, team: turbopack

#5241 feat(run summary): Add whether turbo detected monorepo or not
  cli/internal/runsummary/format_json.go
  cli/internal/runsummary/run_summary.go
  turborepo-tests/integration/tests/dry_json/monorepo.t
  turborepo-tests/integration/tests/dry_json/single_package.t
  turborepo-tests/integration/tests/dry_json/single_package_no_config.t
  turborepo-tests/integration/tests/dry_json/single_package_with_deps.t
  turborepo-tests/integration/tests/run-summary/monorepo.t
  turborepo-tests/integration/tests/run-summary/single-package.t
Labels: team: turborepo

#5240 ci(examples): Skip npm install when setting up git for examples tests
  turborepo-tests/examples/run-example.sh
  turborepo-tests/examples/tests/setup.sh
  turborepo-tests/helpers/setup_git.sh
Labels: team: turborepo

#5247 docs: document that multiple --filters are unions
  docs/pages/repo/docs/reference/command-line-reference/run.mdx
Labels: area: docs, team: turborepo

#5238 ci: use latest published version of turbo in CI instead of latest canary
  .github/actions/setup-turborepo-environment/action.yml
Labels: area: ci, team: turborepo, team: turbopack

#5215 ci(workflow): upload benchmark results to datadog
  .github/workflows/test.yml
Labels: area: ci, team: turborepo, team: turbopack

#5237 feat(turborepo): Port Manual hashing
  Cargo.lock
  cli/internal/ffi/bindings.h
  cli/internal/ffi/ffi.go
  cli/internal/ffi/proto/messages.pb.go
  cli/internal/hashing/package_deps_hash.go
  cli/internal/hashing/package_deps_hash_go.go
  cli/internal/hashing/package_deps_hash_rust.go
  crates/turborepo-ffi/messages.proto
  crates/turborepo-ffi/src/lib.rs
  crates/turborepo-paths/src/anchored_system_path_buf.rs
  crates/turborepo-paths/src/lib.rs
  crates/turborepo-paths/src/relative_unix_path.rs
  crates/turborepo-paths/src/relative_unix_path_buf.rs
  crates/turborepo-scm/Cargo.toml
  crates/turborepo-scm/src/git.rs
  crates/turborepo-scm/src/lib.rs
  crates/turborepo-scm/src/manual.rs
  crates/turborepo-scm/src/status.rs
Labels: team: turborepo

#5239 fix(swc_plugin): use shared runtime
  Cargo.lock
  Cargo.toml
  crates/turbopack-binding/Cargo.toml
  crates/turbopack-ecmascript-plugins/src/transform/swc_ecma_transform_plugins.rs
  crates/turbopack-tests/tests/snapshot/basic/async_chunk/output/crates_turbopack-tests_tests_snapshot_basic_async_chunk_input_index_b53fce.js
  crates/turbopack-tests/tests/snapshot/basic/async_chunk/output/crates_turbopack-tests_tests_snapshot_basic_async_chunk_input_index_b53fce.js.map
  crates/turbopack-tests/tests/snapshot/emotion/emotion/output/crates_turbopack-tests_tests_snapshot_emotion_emotion_input_index_b53fce.js
  crates/turbopack-tests/tests/snapshot/emotion/emotion/output/crates_turbopack-tests_tests_snapshot_emotion_emotion_input_index_b53fce.js.map
  crates/turbopack-tests/tests/snapshot/runtime/default_dev_runtime/output/79fb1_turbopack-tests_tests_snapshot_runtime_default_dev_runtime_input_index_e60ecd.js
  crates/turbopack-tests/tests/snapshot/runtime/default_dev_runtime/output/79fb1_turbopack-tests_tests_snapshot_runtime_default_dev_runtime_input_index_e60ecd.js.map
Labels: team: turborepo, team: turbopack

#5252 sec-228: ignore example repos
  socket.yaml
Labels: team: turborepo, team: turbopack

#5011 ci(examples): make every examples test a workspace
  .github/workflows/test.yml
  examples-tests/README.md
  examples-tests/helpers/package.json
  examples-tests/helpers/setup_prysk.sh
  examples-tests/helpers/turbo.json
  examples-tests/npm-non-monorepo/package.json
  examples-tests/npm-non-monorepo/test.t
  examples-tests/npm-with-npm/package.json
  examples-tests/npm-with-npm/test.t
  examples-tests/npm-with-yarn/package.json
  examples-tests/npm-with-yarn/test.t
  examples-tests/pnpm-basic/package.json
  examples-tests/pnpm-basic/test.t
  examples-tests/pnpm-gatsby/package.json
  examples-tests/pnpm-gatsby/test.t
  examples-tests/pnpm-kitchen-sink/package.json
  examples-tests/pnpm-kitchen-sink/test.t
  examples-tests/pnpm-with-svelte/package.json
  examples-tests/pnpm-with-svelte/test.t
  examples-tests/setup.sh
  examples-tests/yarn-non-monorepo/package.json
  examples-tests/yarn-non-monorepo/test.t
  examples-tests/yarn-with-npm/package.json
  examples-tests/yarn-with-npm/test.t
  examples-tests/yarn-with-yarn/package.json
  examples-tests/yarn-with-yarn/test.t
  pnpm-lock.yaml
  pnpm-workspace.yaml
  turbo.json
  turborepo-tests/examples/package.json
  turborepo-tests/examples/run-example.sh
  turborepo-tests/examples/turbo.json
Labels: area: ci, team: turborepo, team: turbopack

#5166 feat(turborepo): Port Global Hash Env Var
  Cargo.lock
  Cargo.toml
  cli/internal/env/env.go
  cli/internal/env/env_test.go
  cli/internal/ffi/bindings.h
  cli/internal/ffi/ffi.go
  cli/internal/ffi/proto/messages.pb.go
  cli/internal/graph/graph.go
  cli/internal/run/global_hash.go
  cli/internal/run/global_hash_go.go
  cli/internal/run/global_hash_rust.go
  cli/internal/run/global_hash_test.go
  crates/turborepo-env/Cargo.toml
  crates/turborepo-env/src/lib.rs
  crates/turborepo-ffi/Cargo.toml
  crates/turborepo-ffi/messages.proto
  crates/turborepo-ffi/src/lib.rs
Labels: team: turborepo, team: turbopack

#5263 fix(gen): fix ts config interference
  packages/turbo-gen/src/utils/error.ts
  packages/turbo-gen/src/utils/plop.ts
Labels: team: turborepo, pkg: turbo-gen

#5224 feat(examples): update basic name on docs
  examples/basic/meta.json
Labels: area: examples, team: turborepo

#5251 feat(turborepo): port git-based hashing with inputs
  Cargo.lock
  cli/internal/ffi/bindings.h
  cli/internal/ffi/ffi.go
  cli/internal/ffi/proto/messages.pb.go
  cli/internal/hashing/package_deps_hash.go
  cli/internal/hashing/package_deps_hash_go.go
  cli/internal/hashing/package_deps_hash_rust.go
  crates/turborepo-ffi/messages.proto
  crates/turborepo-ffi/src/lib.rs
  crates/turborepo-globwalk/src/lib.rs
  crates/turborepo-paths/src/absolute_system_path.rs
  crates/turborepo-paths/src/anchored_system_path_buf.rs
  crates/turborepo-scm/Cargo.toml
  crates/turborepo-scm/src/hash_object.rs
  crates/turborepo-scm/src/lib.rs
  crates/turborepo-scm/src/package_deps.rs
Labels: team: turborepo

#5264 update test runner
  Cargo.lock
  Cargo.toml
  crates/turbopack-bench/src/util/mod.rs
Labels: team: turborepo, team: turbopack

#5269 Update .gitignore
  examples/kitchen-sink/.gitignore
Labels: area: examples

#5271 feat(ci): conditionally set jest verbosity
  packages/create-turbo/jest.config.js
  packages/eslint-plugin-turbo/jest.config.js
  packages/turbo-codemod/jest.config.js
  packages/turbo-gen/jest.config.js
  packages/turbo-ignore/jest.config.js
  packages/turbo-utils/jest.config.js
  packages/turbo-workspaces/jest.config.js
Labels: pkg: create-turbo, pkg: turbo-ignore, pkg: turbo-eslint, team: turborepo, pkg: turbo-codemod, pkg: turbo-gen, pkg: turbo-workspaces

#5052 feat(eslint-plugin-turbo): Support dotEnv, passthroughEnv, and wildcards
  .github/workflows/test.yml
  .gitignore
  .vscode/turborepo.code-workspace
  packages/eslint-plugin-turbo/.vscode/launch.json
  packages/eslint-plugin-turbo/__fixtures__/configs/single/package.json
  packages/eslint-plugin-turbo/__fixtures__/workspace-configs/.env
  packages/eslint-plugin-turbo/__fixtures__/workspace-configs/apps/docs/turbo.json
  packages/eslint-plugin-turbo/__fixtures__/workspace-configs/apps/web/.env
  packages/eslint-plugin-turbo/__fixtures__/workspace-configs/apps/web/index.js
  packages/eslint-plugin-turbo/__fixtures__/workspace-configs/apps/web/turbo.json
  packages/eslint-plugin-turbo/__fixtures__/workspace-configs/turbo.json
  packages/eslint-plugin-turbo/__fixtures__/workspace/.env
  packages/eslint-plugin-turbo/__fixtures__/workspace/package.json
  packages/eslint-plugin-turbo/__fixtures__/workspace/turbo.json
  packages/eslint-plugin-turbo/__tests__/cwd.test.ts
  packages/eslint-plugin-turbo/__tests__/lib/no-undeclared-env-vars.test.ts
  packages/eslint-plugin-turbo/lib/configs/recommended.ts
  packages/eslint-plugin-turbo/lib/rules/no-undeclared-env-vars.ts
  packages/eslint-plugin-turbo/lib/utils/calculate-inputs.ts
  packages/eslint-plugin-turbo/lib/utils/dotenv-processing.ts
  packages/eslint-plugin-turbo/lib/utils/getEnvVarDependencies.ts
  packages/eslint-plugin-turbo/lib/utils/wildcard-processing.ts
  packages/eslint-plugin-turbo/package.json
  packages/turbo-utils/src/getTurboConfigs.ts
  packages/turbo-utils/src/index.ts
  pnpm-lock.yaml
Labels: pkg: turbo-eslint, area: ci, team: turborepo, team: turbopack

#5274 fix(turborepo): Tighten build globs
  cli/turbo.json
Labels: team: turborepo

#5275 fix(turborepo): Fix path match for parent dir in subtree match case
  cli/internal/scope/filter/filter.go
  cli/internal/scope/filter/filter_test.go
Labels: team: turborepo

#5276 fix(packages): update filter for JS tests
  .github/workflows/test.yml
Labels: area: ci, team: turborepo, team: turbopack

#5277 chore(turborepo): Move SCM to use vendored wax crate
  Cargo.lock
  crates/turborepo-scm/Cargo.toml
  crates/turborepo-scm/src/lib.rs
  crates/turborepo-scm/src/manual.rs
Labels: team: turborepo

#5198 fix: Organise `next.config.js` redirect objects
  docs/next.config.js
Labels: area: site, team: turborepo, team: turbopack

#5203 feat(turborepo): Run outline pt 2
  Cargo.lock
  crates/turborepo-env/src/lib.rs
  crates/turborepo-lib/Cargo.toml
  crates/turborepo-lib/src/config/turbo.rs
  crates/turborepo-lib/src/lib.rs
  crates/turborepo-lib/src/opts.rs
  crates/turborepo-lib/src/package_graph/mod.rs
  crates/turborepo-lib/src/run/global_hash.rs
  crates/turborepo-lib/src/run/graph.rs
  crates/turborepo-lib/src/run/mod.rs
  crates/turborepo-lib/src/run/scope.rs
  crates/turborepo-lib/src/task_graph/mod.rs
  crates/turborepo-lockfiles/src/npm.rs
Labels: team: turborepo

#5255 feat(lockfiles): add rust implementation for yarn1
  Cargo.lock
  cli/internal/ffi/ffi.go
  cli/internal/ffi/proto/messages.pb.go
  cli/internal/lockfile/lockfile.go
  cli/internal/lockfile/yarn_lockfile.go
  cli/internal/lockfile/yarn_lockfile_test.go
  crates/turborepo-ffi/messages.proto
  crates/turborepo-ffi/src/lockfile.rs
  crates/turborepo-lockfiles/fixtures/yarn1.lock
  crates/turborepo-lockfiles/fixtures/yarn1full.lock
  crates/turborepo-lockfiles/src/error.rs
  crates/turborepo-lockfiles/src/lib.rs
  crates/turborepo-lockfiles/src/yarn1/de.rs
  crates/turborepo-lockfiles/src/yarn1/mod.rs
  crates/turborepo-lockfiles/src/yarn1/ser.rs
Labels: team: turborepo

#5291 add tool to benchmark developer workflow performance
  packages/devlow-bench/README.md
  packages/devlow-bench/package.json
  packages/devlow-bench/src/browser.ts
  packages/devlow-bench/src/cli.ts
  packages/devlow-bench/src/describe.ts
  packages/devlow-bench/src/file.ts
  packages/devlow-bench/src/index.ts
  packages/devlow-bench/src/interfaces/compose.ts
  packages/devlow-bench/src/interfaces/console.ts
  packages/devlow-bench/src/interfaces/datadog.ts
  packages/devlow-bench/src/interfaces/interactive.ts
  packages/devlow-bench/src/interfaces/json.ts
  packages/devlow-bench/src/runner.ts
  packages/devlow-bench/src/shell.ts
  packages/devlow-bench/src/table.ts
  packages/devlow-bench/src/types.d.ts
  packages/devlow-bench/src/units.ts
  packages/devlow-bench/src/utils.ts
  packages/devlow-bench/tsconfig.json
  pnpm-lock.yaml
Labels: team: turborepo, team: turbopack

#5292 rename build script to fit to publish script
  packages/devlow-bench/package.json
Labels: team: turborepo, team: turbopack

#5293 fix turbo.json for publish script
  turbo.json
Labels: team: turborepo, team: turbopack

#5287 feat(turborepo): Report more details when go-turbo exits
  crates/turborepo-lib/src/shim.rs
Labels: team: turborepo

#5300 docs(examples): update examples and docs to use node 18
  docs/pages/repo/docs/ci/github-actions.mdx
  examples/design-system/.github/workflows/release.yml
  examples/with-changesets/.github/workflows/release.yml
Labels: area: docs, area: examples, team: turborepo

#5030 chore(docs): Update turbo.build to use Node 18
  .node-version
  docs/package.json
  package.json
Labels: area: site, team: turborepo, team: turbopack

#5301 chore(ci): use node 18
  .github/actions/setup-node/action.yml
  .github/workflows/test.yml
  turborepo-tests/integration/tests/dry_json/single_package.t
  turborepo-tests/integration/tests/dry_json/single_package_no_config.t
  turborepo-tests/integration/tests/dry_json/single_package_with_deps.t
  turborepo-tests/integration/tests/inference/no_workspaces.t
  turborepo-tests/integration/tests/single_package/dry-run.t
  turborepo-tests/integration/tests/single_package/no-config.t
  turborepo-tests/integration/tests/single_package/run.t
  turborepo-tests/integration/tests/single_package/with-deps-dry-run.t
  turborepo-tests/integration/tests/single_package/with-deps-run.t
Labels: area: ci, team: turborepo, team: turbopack

#5302 ci(e2e): turn on remote caching for e2e tests
  .github/workflows/test.yml
  cli/turbo.json
  turborepo-tests/e2e/turbo.json
Labels: area: ci, team: turborepo, team: turbopack

#5253 fix(turbopack): enable runtime flag
  crates/turbopack-ecmascript-plugins/Cargo.toml
Labels: team: turbopack

#5305 feat(cache): Add ability to disable remote cache from turbo.json
  cli/internal/fs/turbo_json.go
  cli/internal/fs/turbo_json_test.go
  cli/internal/run/run.go
  turborepo-tests/integration/tests/prune/produces_valid_turbo_json.t
  turborepo-tests/integration/tests/run-caching/remote-caching-enable.t
Labels: team: turborepo

#5309 feat(turborepo): Hash with libgit2
  crates/turborepo-scm/src/hash_object.rs
Labels: team: turborepo

#3916 Add --log-order option
  cli/internal/cmdutil/cmdutil.go
  cli/internal/logstreamer/logstreamer.go
  cli/internal/run/real_run.go
  cli/internal/run/run.go
  cli/internal/runcache/runcache.go
  cli/internal/scope/scope_test.go
  cli/internal/turbostate/turbostate.go
  cli/internal/ui/ui.go
  cli/internal/ui/ui_factory.go
  cli/internal/util/run_opts.go
  crates/turborepo-lib/src/cli.rs
  turborepo-tests/integration/tests/_fixtures/ordered/.gitignore
  turborepo-tests/integration/tests/_fixtures/ordered/apps/my-app/package.json
  turborepo-tests/integration/tests/_fixtures/ordered/package.json
  turborepo-tests/integration/tests/_fixtures/ordered/packages/util/package.json
  turborepo-tests/integration/tests/_fixtures/ordered/turbo.json
  turborepo-tests/integration/tests/bad_flag.t
  turborepo-tests/integration/tests/no_args.t
  turborepo-tests/integration/tests/ordered/grouped.t
  turborepo-tests/integration/tests/ordered/stream.t
  turborepo-tests/integration/tests/turbo_help.t
Labels: team: turborepo

#5312 feat(turborepo): A few cleanup nits around log grouping
  cli/internal/run/real_run.go
Labels: team: turborepo

#5310 feat(run outline): Hide package graph internals
  crates/turborepo-lib/src/package_graph/mod.rs
  crates/turborepo-lib/src/run/global_hash.rs
  crates/turborepo-lib/src/run/graph.rs
  crates/turborepo-lib/src/run/mod.rs
Labels: team: turborepo

#5315 ci: replace sponge usage with jq
  .github/workflows/test.yml
  CONTRIBUTING.md
  examples-tests/setup.sh
  scripts/check-examples.sh
Labels: area: ci, team: turborepo, team: turbopack

#5316 feat(logging): enable setting log order with an environment variable
  crates/turborepo-lib/src/cli.rs
  turborepo-tests/integration/tests/no_args.t
  turborepo-tests/integration/tests/ordered/grouped.t
  turborepo-tests/integration/tests/ordered/stream.t
  turborepo-tests/integration/tests/turbo_help.t
Labels: team: turborepo

#5317 feat(cli): Add ability to pass --remote-only=false from CLI
  cli/internal/run/run.go
  crates/turborepo-lib/src/cli.rs
  turborepo-tests/integration/tests/bad_flag.t
  turborepo-tests/integration/tests/no_args.t
  turborepo-tests/integration/tests/turbo_help.t
Labels: team: turborepo

#5295 remove `__internal_nextjs_integration_test` compile-time feature
  .github/workflows/setup-nextjs-build.yml
  .github/workflows/test.yml
Labels: area: ci, team: turborepo, team: turbopack

#5319 fix(turborepo): Re-enable some tests on windows
  crates/turborepo-globwalk/src/lib.rs
Labels: team: turborepo

#5297 refactor(turborepo): cli::run and args processing
  cli/internal/run/run.go
  crates/turborepo-lib/src/cli.rs
Labels: team: turborepo

#5320 feat(logging): add "auto" options for log prefixing and ordering
  crates/turborepo-lib/src/cli.rs
  crates/turborepo-lib/src/opts.rs
  turborepo-tests/integration/tests/no_args.t
  turborepo-tests/integration/tests/run-logging/log_prefix.t
  turborepo-tests/integration/tests/turbo_help.t
Labels: team: turborepo

#5322 Fix ESLint script command.
  docs/pages/repo/docs/handbook/linting/eslint.mdx
Labels: area: docs, team: turborepo

#5323 feat(turborepo): Add context to glob errors
  cli/internal/cmdutil/cmdutil.go
  crates/turborepo-globwalk/src/empty_glob.rs
  crates/turborepo-globwalk/src/lib.rs
  turborepo-tests/integration/tests/inference/nested_workspaces.t
Labels: team: turborepo

#5326 ci(integration): add colors to turbo run invocation
  .github/workflows/test.yml
Labels: area: ci, team: turborepo, team: turbopack

#5329 fix(turbo): print help message when turbo called with flags/env vars but no commands
  crates/turborepo-lib/src/cli.rs
  turborepo-tests/integration/tests/no_args.t
Labels: team: turborepo

#5338 fix(ci): Actually make us error on clippy warnings
  .github/workflows/test.yml
  crates/turborepo-globwalk/src/lib.rs
  crates/turborepo-lib/src/package_graph/mod.rs
  crates/turborepo-lib/src/run/global_hash.rs
  crates/turborepo-lib/src/run/graph.rs
Labels: area: ci, team: turborepo, team: turbopack

#5248 refactor(turborepo): Move paths to UTF-8
  Cargo.lock
  crates/turborepo-ffi/src/lib.rs
  crates/turborepo-fs/src/lib.rs
  crates/turborepo-globwalk/src/lib.rs
  crates/turborepo-globwatch/Cargo.toml
  crates/turborepo-globwatch/src/lib.rs
  crates/turborepo-lib/Cargo.toml
  crates/turborepo-lib/src/cli.rs
  crates/turborepo-lib/src/commands/daemon.rs
  crates/turborepo-lib/src/commands/link.rs
  crates/turborepo-lib/src/commands/login.rs
  crates/turborepo-lib/src/commands/mod.rs
  crates/turborepo-lib/src/config/mod.rs
  crates/turborepo-lib/src/config/repo.rs
  crates/turborepo-lib/src/config/user.rs
  crates/turborepo-lib/src/daemon/connector.rs
  crates/turborepo-lib/src/daemon/endpoint.rs
  crates/turborepo-lib/src/daemon/server.rs
  crates/turborepo-lib/src/globwatcher/mod.rs
  crates/turborepo-lib/src/package_manager/mod.rs
  crates/turborepo-lib/src/package_manager/npm.rs
  crates/turborepo-lib/src/package_manager/pnpm.rs
  crates/turborepo-lib/src/package_manager/yarn.rs
  crates/turborepo-lib/src/run/mod.rs
  crates/turborepo-lib/src/shim.rs
  crates/turborepo-paths/Cargo.toml
  crates/turborepo-paths/src/absolute_system_path.rs
  crates/turborepo-paths/src/absolute_system_path_buf.rs
  crates/turborepo-paths/src/anchored_system_path_buf.rs
  crates/turborepo-paths/src/lib.rs
  crates/turborepo-paths/src/relative_unix_path.rs
  crates/turborepo-paths/src/relative_unix_path_buf.rs
  crates/turborepo-scm/Cargo.toml
  crates/turborepo-scm/src/git.rs
  crates/turborepo-scm/src/hash_object.rs
  crates/turborepo-scm/src/ls_tree.rs
  crates/turborepo-scm/src/manual.rs
  crates/turborepo-scm/src/package_deps.rs
  crates/turborepo-scm/src/status.rs
Labels: team: turborepo

#5342 Add Vercel to CI providers.
  docs/pages/repo/docs/ci.mdx
  docs/pages/repo/docs/ci/_meta.json
  docs/pages/repo/docs/ci/vercel.mdx
Labels: area: docs, area: site, team: turborepo

#5340 fix(turborepo): Hashing symlinks is erroring
  cli/internal/hashing/package_deps_hash_test.go
  crates/turborepo-scm/src/git.rs
  crates/turborepo-scm/src/hash_object.rs
  crates/turborepo-scm/src/lib.rs
  crates/turborepo-scm/src/manual.rs
  crates/turborepo-scm/src/package_deps.rs
Labels: team: turborepo

#4362 Make build faster
  .github/workflows/turborepo-release.yml
  Cargo.toml
Labels: pr: automerge, area: ci, team: turborepo, team: turbopack

#5346 fix: update ctrlc to 3.4.0 to allow have new signal handlers overwrite
  Cargo.lock
  crates/turborepo-lib/Cargo.toml
Labels: team: turborepo

#5348 fix(turborepo): Add top-level rust cargo files to cli deps
  .github/workflows/test.yml
  cli/turbo.json
Labels: area: ci, team: turborepo, team: turbopack

#5352 only wait for JS chunks in none runtime backend
  crates/turbopack-ecmascript-runtime/js/src/dev/runtime/none/runtime-backend-none.ts
Labels: team: turbopack

#5339 fix(ci): Turbopack Clippy CI
  .github/workflows/test.yml
  crates/turbo-tasks-macros/src/lib.rs
  crates/turbo-tasks-memory/src/lib.rs
  crates/turbo-tasks-signposter-sys/src/lib.rs
  crates/turbo-tasks-tracing-signpost/src/layer.rs
  crates/turbopack-dev-server/src/update/server.rs
  crates/turbopack-ecmascript-plugins/src/transform/styled_jsx.rs
  crates/turbopack-ecmascript-plugins/src/transform/swc_ecma_transform_plugins.rs
  crates/turbopack-ecmascript/src/analyzer/graph.rs
  crates/turbopack-ecmascript/src/lib.rs
  crates/turbopack-ecmascript/src/references/mod.rs
  crates/turbopack-ecmascript/src/transform/mod.rs
  crates/turbopack-ecmascript/src/tree_shake/graph.rs
  crates/turbopack-ecmascript/src/typescript/resolve.rs
  crates/turbopack-node/src/lib.rs
Labels: pr: automerge, area: ci, team: turborepo, team: turbopack

#5350 feat(turborepo) Add timeout to api client json methods
  cli/internal/analytics/analytics.go
  cli/internal/analytics/analytics_test.go
  cli/internal/client/analytics.go
  cli/internal/client/client.go
  cli/internal/client/client_test.go
  cli/internal/runsummary/spaces.go
Labels: team: turborepo

#5351 feat(turborepo): Debugging output for e2e tests
  turborepo-tests/e2e/index.ts
Labels: team: turborepo

#5333 feat(turbo): add main pointing to bin
  packages/turbo/package.json
Labels: team: turborepo

#5362 fix(turborepo): Fix single package inference
  crates/turborepo-lib/src/cli.rs
Labels: team: turborepo

#5007 feat(turborepo): Scripts to build a debug version on windows
  cli/build_go.bat
  cli/build_turbo.bat
  crates/turborepo/build.rs
Labels: team: turborepo

#5363 disable default features for turbopack-ecmascript-plugins
  Cargo.toml
  crates/turbopack-binding/Cargo.toml
  crates/turbopack-ecmascript-plugins/src/transform/swc_ecma_transform_plugins.rs
Labels: team: turborepo, team: turbopack

#5370 fix: prevent looking up workspace task if name is not in there
  packages/eslint-plugin-turbo/lib/utils/calculate-inputs.ts
Labels: pkg: turbo-eslint, team: turborepo

#5367 fix(turborepo): Restructure spaces client and test error handling
  cli/internal/analytics/analytics.go
  cli/internal/analytics/analytics_test.go
  cli/internal/client/analytics.go
  cli/internal/client/client.go
  cli/internal/client/client_test.go
  cli/internal/run/dry_run.go
  cli/internal/run/real_run.go
  cli/internal/run/run.go
  cli/internal/runsummary/format_execution_summary.go
  cli/internal/runsummary/format_text.go
  cli/internal/runsummary/run_summary.go
  cli/internal/runsummary/spaces.go
  cli/internal/runsummary/spaces_test.go
Labels: team: turborepo

#5366 Fix bug with `imports` field from a nested directory
  crates/turbopack-core/src/resolve/mod.rs
  crates/turbopack-tests/tests/snapshot/imports/subpath-imports-nested/input/foo.js
  crates/turbopack-tests/tests/snapshot/imports/subpath-imports-nested/input/index.js
  crates/turbopack-tests/tests/snapshot/imports/subpath-imports-nested/input/nested/index.js
  crates/turbopack-tests/tests/snapshot/imports/subpath-imports-nested/input/package.json
  crates/turbopack-tests/tests/snapshot/imports/subpath-imports-nested/output/a587c_tests_snapshot_imports_subpath-imports-nested_input_index_5771e1.js
  crates/turbopack-tests/tests/snapshot/imports/subpath-imports-nested/output/a587c_tests_snapshot_imports_subpath-imports-nested_input_index_b53fce.js
  crates/turbopack-tests/tests/snapshot/imports/subpath-imports-nested/output/a587c_tests_snapshot_imports_subpath-imports-nested_input_index_b53fce.js.map
  crates/turbopack-tests/tests/snapshot/imports/subpath-imports-nested/output/a587c_tests_snapshot_imports_subpath-imports-nested_input_index_dc7802.js
  crates/turbopack-tests/tests/snapshot/imports/subpath-imports-nested/output/a587c_tests_snapshot_imports_subpath-imports-nested_input_index_dc7802.js.map
Labels: pr: automerge, team: turbopack

#5321 Implement git-based hashing with inputs
  .vscode/settings.json
  Cargo.lock
  cli/internal/ffi/bindings.h
  cli/internal/ffi/ffi.go
  cli/internal/ffi/proto/messages.pb.go
  cli/internal/hashing/package_deps_hash.go
  cli/internal/hashing/package_deps_hash_go.go
  cli/internal/hashing/package_deps_hash_go_test.go
  cli/internal/hashing/package_deps_hash_rust.go
  cli/internal/hashing/package_deps_hash_test.go
  crates/turborepo-ffi/messages.proto
  crates/turborepo-ffi/src/lib.rs
  crates/turborepo-paths/src/relative_unix_path_buf.rs
  crates/turborepo-scm/Cargo.toml
  crates/turborepo-scm/src/manual.rs
  crates/turborepo-scm/src/package_deps.rs
Labels: team: turborepo, team: turbopack

#5361 update for next.js changes to env vars
  .github/workflows/nextjs-integration-test.yml
Labels: area: ci, team: turborepo, team: turbopack

#5382 chore: replace `default_features` with `default-features`
  crates/turborepo-lib/Cargo.toml
  crates/turborepo-updater/Cargo.toml
Labels: team: turborepo

#5374 Run examples in more scenarios
  .github/workflows/test.yml
  examples-tests/setup.sh
  turbo.json
Labels: area: ci, team: turborepo, team: turbopack

#4635 Fix misleading GitLab CI documentation
  docs/pages/repo/docs/ci/gitlabci.mdx
Labels: area: docs, team: turborepo

#4178 Update docs with example of nested workspaces
  docs/pages/repo/docs/getting-started/existing-monorepo.mdx
Labels: area: docs, team: turborepo

#5386 fix(turborepo): The examples need a build setup
  .github/workflows/test.yml
Labels: area: ci, team: turborepo, team: turbopack

#5388 Plainer explanation for synthetic tasks.
  docs/pages/repo/docs/core-concepts/monorepos/task-dependencies.mdx
Labels: area: docs, team: turborepo

#5324 ci: use --env-mode=strict for tests that invoke turbo
  .github/workflows/test.yml
  turbo.json
  turborepo-tests/integration/test.sh
  turborepo-tests/integration/turbo.json
Labels: area: ci, team: turborepo, team: turbopack

#5392 feat(ecma-analyzer): support super() call in class ctor
  crates/turbopack-ecmascript/src/analyzer/graph.rs
  crates/turbopack-ecmascript/src/analyzer/mod.rs
  crates/turbopack-ecmascript/tests/analyzer/graph/class_super/graph-effects.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/class_super/graph-explained.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/class_super/graph.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/class_super/input.js
  crates/turbopack-ecmascript/tests/analyzer/graph/class_super/resolved-effects.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/class_super/resolved-explained.snapshot
Labels: team: turbopack

#5311 test(filetrace): skip failing tests
  crates/turbopack/tests/node-file-trace.rs
Labels: team: turbopack

#5288 Update `swc_core` to `v0.78.24`
  Cargo.lock
  Cargo.toml
Labels: pr: automerge, team: turborepo, team: turbopack

#5402 reduce indent in `analyze_ecmascript_module` by splitting the function up
  crates/turbopack-ecmascript/src/references/esm/base.rs
  crates/turbopack-ecmascript/src/references/mod.rs
  crates/turbopack-ecmascript/src/tree_shake/tests.rs
Labels: team: turbopack

#4575 port(turborepo): Cache Item
  Cargo.lock
  Cargo.toml
  cli/internal/cacheitem/restore_directory.go
  crates/turborepo-cache/Cargo.toml
  crates/turborepo-cache/fixtures/name-traversal.tar
  crates/turborepo-cache/fixtures/name-traversal.tar.zst
  crates/turborepo-cache/fixtures/windows-unsafe.tar
  crates/turborepo-cache/fixtures/windows-unsafe.tar.zst
  crates/turborepo-cache/src/cache_archive/create.rs
  crates/turborepo-cache/src/cache_archive/mod.rs
  crates/turborepo-cache/src/cache_archive/restore.rs
  crates/turborepo-cache/src/cache_archive/restore_directory.rs
  crates/turborepo-cache/src/cache_archive/restore_regular.rs
  crates/turborepo-cache/src/cache_archive/restore_symlink.rs
  crates/turborepo-cache/src/lib.rs
  crates/turborepo-fs/src/lib.rs
  crates/turborepo-lib/src/commands/link.rs
  crates/turborepo-lib/src/commands/login.rs
  crates/turborepo-lib/src/package_graph/builder.rs
  crates/turborepo-paths/Cargo.toml
  crates/turborepo-paths/src/absolute_system_path.rs
  crates/turborepo-paths/src/absolute_system_path_buf.rs
  crates/turborepo-paths/src/anchored_system_path.rs
  crates/turborepo-paths/src/anchored_system_path_buf.rs
  crates/turborepo-paths/src/lib.rs
  crates/turborepo-paths/src/relative_unix_path_buf.rs
  turborepo-tests/integration/tests/command-version.t
Labels: team: turborepo, team: turbopack

#5385 feat(turborepo): Use Github log prefixes when running on Github Actions
  cli/internal/run/real_run.go
  cli/internal/run/run.go
  cli/internal/util/run_opts.go
  turborepo-tests/integration/tests/ordered/github.t
Labels: team: turborepo

#5404 fix(turborepo): Handle globbing into directories that don't exist
  crates/turborepo-globwalk/src/lib.rs
Labels: team: turborepo

#5411 Revert "Update `swc_core` to `v0.78.24`"
  Cargo.lock
  Cargo.toml
Labels: team: turborepo, team: turbopack

#5410 make sure cargo only changes run tests
  .github/workflows/test.yml
Labels: area: ci, team: turborepo, team: turbopack

#5412 Update `swc_core` to `v0.78.24`
  Cargo.lock
  Cargo.toml
  crates/turbopack-tests/tests/snapshot/basic/async_chunk/output/20803_bar_index_c8a3ce.js.map
  crates/turbopack-tests/tests/snapshot/basic/async_chunk/output/20803_foo_index_5f9e1e.js.map
  crates/turbopack-tests/tests/snapshot/basic/async_chunk/output/crates_turbopack-tests_tests_snapshot_basic_async_chunk_input_index_b53fce.js.map
  crates/turbopack-tests/tests/snapshot/basic/chunked/output/39e84_foo_index_4427e1.js.map
  crates/turbopack-tests/tests/snapshot/basic/shebang/output/d1787_foo_index_dd389c.js.map
  crates/turbopack-tests/tests/snapshot/comptime/define/output/crates_turbopack-tests_tests_snapshot_comptime_define_input_index_b53fce.js.map
  crates/turbopack-tests/tests/snapshot/css/css/output/crates_turbopack-tests_tests_snapshot_css_css_input_index_b53fce.js.map
  crates/turbopack-tests/tests/snapshot/emotion/emotion/output/crates_turbopack-tests_tests_snapshot_emotion_emotion_input_index_b53fce.js.map
  crates/turbopack-tests/tests/snapshot/env/env/output/crates_turbopack-tests_tests_snapshot_env_env_input__env__env_b53fce.js.map
  crates/turbopack-tests/tests/snapshot/env/env/output/crates_turbopack-tests_tests_snapshot_env_env_input_index_b53fce.js.map
  crates/turbopack-tests/tests/snapshot/evaluated_entrry/runtime_entry/output/a587c_tests_snapshot_evaluated_entrry_runtime_entry_input_index_b53fce.js.map
  crates/turbopack-tests/tests/snapshot/example/example/output/crates_turbopack-tests_tests_snapshot_example_example_input_index_b53fce.js.map
  crates/turbopack-tests/tests/snapshot/export-alls/cjs-2/output/crates_turbopack-tests_tests_snapshot_export-alls_cjs-2_input_index_b53fce.js.map
  crates/turbopack-tests/tests/snapshot/export-alls/cjs-script/output/crates_turbopack-tests_tests_snapshot_export-alls_cjs-script_input_index_b53fce.js.map
  crates/turbopack-tests/tests/snapshot/import-meta/cjs/output/crates_turbopack-tests_tests_snapshot_import-meta_cjs_input_index_b53fce.js.map
  crates/turbopack-tests/tests/snapshot/import-meta/esm-multiple/output/79fb1_turbopack-tests_tests_snapshot_import-meta_esm-multiple_input_index_b53fce.js.map
  crates/turbopack-tests/tests/snapshot/import-meta/esm-mutable/output/crates_turbopack-tests_tests_snapshot_import-meta_esm-mutable_input_index_b53fce.js.map
  crates/turbopack-tests/tests/snapshot/import-meta/esm-object/output/crates_turbopack-tests_tests_snapshot_import-meta_esm-object_input_index_b53fce.js.map
  crates/turbopack-tests/tests/snapshot/import-meta/esm/output/crates_turbopack-tests_tests_snapshot_import-meta_esm_input_index_b53fce.js.map
  crates/turbopack-tests/tests/snapshot/import-meta/url/output/crates_turbopack-tests_tests_snapshot_import-meta_url_input_index_b53fce.js.map
  crates/turbopack-tests/tests/snapshot/imports/dynamic/output/crates_turbopack-tests_tests_snapshot_imports_dynamic_input_index_b53fce.js.map
  crates/turbopack-tests/tests/snapshot/imports/json/output/crates_turbopack-tests_tests_snapshot_imports_json_input_index_b53fce.js.map
  crates/turbopack-tests/tests/snapshot/imports/order/output/crates_turbopack-tests_tests_snapshot_imports_order_input_index_b53fce.js.map
  crates/turbopack-tests/tests/snapshot/imports/resolve_error_cjs/output/79fb1_turbopack-tests_tests_snapshot_imports_resolve_error_cjs_input_index_b53fce.js.map
  crates/turbopack-tests/tests/snapshot/imports/resolve_error_esm/output/79fb1_turbopack-tests_tests_snapshot_imports_resolve_error_esm_input_index_b53fce.js.map
  crates/turbopack-tests/tests/snapshot/imports/static-and-dynamic/output/79fb1_turbopack-tests_tests_snapshot_imports_static-and-dynamic_input_index_b53fce.js.map
  crates/turbopack-tests/tests/snapshot/imports/static/output/crates_turbopack-tests_tests_snapshot_imports_static_input_index_b53fce.js.map
  crates/turbopack-tests/tests/snapshot/imports/subpath-imports-nested/output/a587c_tests_snapshot_imports_subpath-imports-nested_input_index_b53fce.js.map
  crates/turbopack-tests/tests/snapshot/imports/subpath-imports/output/crates_turbopack-tests_tests_snapshot_imports_subpath-imports_input_index_b53fce.js.map
  crates/turbopack-tests/tests/snapshot/runtime/default_build_runtime/output/79fb1_turbopack-tests_tests_snapshot_runtime_default_build_runtime_input_index_e254c5.js.map
  crates/turbopack-tests/tests/snapshot/runtime/default_build_runtime/output/[turbopack]_runtime.js.map
  crates/turbopack-tests/tests/snapshot/runtime/default_dev_runtime/output/79fb1_turbopack-tests_tests_snapshot_runtime_default_dev_runtime_input_index_b53fce.js.map
  crates/turbopack-tests/tests/snapshot/runtime/default_dev_runtime/output/79fb1_turbopack-tests_tests_snapshot_runtime_default_dev_runtime_input_index_e60ecd.js.map
  crates/turbopack-tests/tests/snapshot/styled_components/styled_components/output/a587c_tests_snapshot_styled_components_styled_components_input_index_b53fce.js.map
  crates/turbopack-tests/tests/snapshot/swc_transforms/mono_transforms/output/a587c_tests_snapshot_swc_transforms_mono_transforms_input_packages_app_index_b53fce.js.map
  crates/turbopack-tests/tests/snapshot/swc_transforms/preset_env/output/79fb1_turbopack-tests_tests_snapshot_swc_transforms_preset_env_input_index_b53fce.js.map
  crates/turbopack-tests/tests/snapshot/typescript/jsconfig-baseurl/output/79fb1_turbopack-tests_tests_snapshot_typescript_jsconfig-baseurl_input_index_b53fce.js.map
  crates/turbopack-tests/tests/snapshot/typescript/tsconfig-baseurl/output/a587c_tests_snapshot_typescript_tsconfig-baseurl_input_index_ts_b53fce._.js.map
  crates/turbopack-tests/tests/snapshot/typescript/tsconfig-extends-module-full-path/output/8562f_snapshot_typescript_tsconfig-extends-module-full-path_input_index_ts_b53fce._.js.map
  crates/turbopack-tests/tests/snapshot/typescript/tsconfig-extends-module/output/a587c_tests_snapshot_typescript_tsconfig-extends-module_input_index_ts_b53fce._.js.map
  crates/turbopack-tests/tests/snapshot/typescript/tsconfig-extends-relative-dir/output/a587c_tests_snapshot_typescript_tsconfig-extends-relative-dir_input_index_ts_b53fce._.js.map
  crates/turbopack-tests/tests/snapshot/typescript/tsconfig-extends-without-ext/output/a587c_tests_snapshot_typescript_tsconfig-extends-without-ext_input_index_ts_b53fce._.js.map
  crates/turbopack-tests/tests/snapshot/typescript/tsconfig-extends/output/a587c_tests_snapshot_typescript_tsconfig-extends_input_index_ts_b53fce._.js.map
Labels: team: turborepo, team: turbopack

#5399 chore(ci): binstall tools
  .github/actions/setup-rust/action.yml
Labels: area: ci, team: turborepo, team: turbopack

#5354 feature(turborepo): Turbo Info Command
  crates/turborepo-lib/src/cli.rs
  crates/turborepo-lib/src/commands/info.rs
  crates/turborepo-lib/src/commands/mod.rs
  crates/turborepo-lib/src/package_graph/builder.rs
  crates/turborepo-lib/src/package_graph/mod.rs
  crates/turborepo-lib/src/run/graph.rs
  crates/turborepo-paths/src/anchored_system_path_buf.rs
  turborepo-tests/integration/tests/command-info.t
  turborepo-tests/integration/tests/no_args.t
  turborepo-tests/integration/tests/turbo_help.t
Labels: team: turborepo

#5405 feat(turborepo): refactor scm and thread into scope calculation
  Cargo.lock
  crates/turborepo-ffi/src/lib.rs
  crates/turborepo-lib/Cargo.toml
  crates/turborepo-lib/src/run/mod.rs
  crates/turborepo-lib/src/run/scope.rs
  crates/turborepo-scm/Cargo.toml
  crates/turborepo-scm/src/git.rs
  crates/turborepo-scm/src/hash_object.rs
  crates/turborepo-scm/src/lib.rs
  crates/turborepo-scm/src/ls_tree.rs
  crates/turborepo-scm/src/package_deps.rs
  crates/turborepo-scm/src/status.rs
Labels: team: turborepo

#5417 perf(lockfiles): Eagerly parse berry resolutions
  crates/turborepo-lockfiles/examples/berry_resolutions.rs
  crates/turborepo-lockfiles/examples/yarn.lock
  crates/turborepo-lockfiles/src/berry/resolution.rs
Labels: team: turborepo

#5422 Remove experimental badge.
  docs/pages/repo/docs/core-concepts/monorepos/code-generation.mdx
Labels: area: docs, team: turborepo

#5421 Remove experimental warning.
  docs/pages/repo/docs/reference/command-line-reference/run.mdx
Labels: area: docs, team: turborepo

#5416 feat(turbopack-ecmascript): detect top level await after parsing
  crates/turbopack-ecmascript/src/analyzer/mod.rs
  crates/turbopack-ecmascript/src/analyzer/top_level_await.rs
  crates/turbopack-ecmascript/src/lib.rs
  crates/turbopack-ecmascript/src/references/mod.rs
Labels: team: turbopack

#5424 ci: remove replacement usage from goreleaser
  cli/combined-shim.yml
Labels: team: turborepo

#5425 fix(turborepo): Send spaces logs for all tasks, even ones that aren't cached
  cli/internal/graph/graph.go
  cli/internal/run/real_run.go
  cli/internal/runsummary/run_summary.go
  cli/internal/runsummary/spaces.go
  cli/internal/runsummary/spaces_test.go
  cli/internal/runsummary/task_summary.go
Labels: team: turborepo

#5427 ci: revert to older goreleaser version
  .github/workflows/turborepo-release.yml
  cli/combined-shim.yml
Labels: area: ci, team: turborepo, team: turbopack

#5360 Refactor ContentSources to RouteTree for more efficient routing
  Cargo.lock
  crates/turbopack-cli-utils/Cargo.toml
  crates/turbopack-cli-utils/src/exit.rs
  crates/turbopack-cli/src/dev/mod.rs
  crates/turbopack-cli/src/dev/turbo_tasks_viz.rs
  crates/turbopack-convert-trace/Cargo.toml
  crates/turbopack-convert-trace/src/main.rs
  crates/turbopack-core/src/chunk/available_assets.rs
  crates/turbopack-dev-server/Cargo.toml
  crates/turbopack-dev-server/src/http.rs
  crates/turbopack-dev-server/src/introspect/mod.rs
  crates/turbopack-dev-server/src/invalidation.rs
  crates/turbopack-dev-server/src/lib.rs
  crates/turbopack-dev-server/src/source/asset_graph.rs
  crates/turbopack-dev-server/src/source/combined.rs
  crates/turbopack-dev-server/src/source/conditional.rs
  crates/turbopack-dev-server/src/source/issue_context.rs
  crates/turbopack-dev-server/src/source/lazy_instantiated.rs
  crates/turbopack-dev-server/src/source/mod.rs
  crates/turbopack-dev-server/src/source/resolve.rs
  crates/turbopack-dev-server/src/source/route_tree.rs
  crates/turbopack-dev-server/src/source/router.rs
  crates/turbopack-dev-server/src/source/source_maps.rs
  crates/turbopack-dev-server/src/source/specificity.rs
  crates/turbopack-dev-server/src/source/static_assets.rs
  crates/turbopack-dev-server/src/source/wrapping_source.rs
  crates/turbopack-node/src/debug.rs
  crates/turbopack-node/src/render/node_api_source.rs
  crates/turbopack-node/src/render/rendered_source.rs
  crates/turbopack-node/src/source_map/content_source.rs
Labels: team: turbopack

#5420 Remove EnvironmentIntention
  crates/node-file-trace/src/lib.rs
  crates/turbopack-cli/src/dev/web_entry_source.rs
  crates/turbopack-core/src/environment.rs
  crates/turbopack-ecmascript/benches/analyzer.rs
  crates/turbopack-ecmascript/src/analyzer/mod.rs
  crates/turbopack-tests/tests/snapshot.rs
  crates/turbopack/benches/node_file_trace.rs
  crates/turbopack/examples/turbopack.rs
  crates/turbopack/src/evaluate_context.rs
  crates/turbopack/tests/node-file-trace.rs
Labels: team: turbopack

#5418 feat(turborepo): Switch examples over to errors-only
  examples-tests/npm-non-monorepo/test.t
  examples-tests/npm-with-npm/test.t
  examples-tests/npm-with-yarn/test.t
  examples-tests/pnpm-basic/test.t
  examples-tests/pnpm-gatsby/test.t
  examples-tests/pnpm-kitchen-sink/test.t
  examples-tests/pnpm-with-svelte/test.t
  examples-tests/yarn-non-monorepo/test.t
  examples-tests/yarn-with-npm/test.t
  examples-tests/yarn-with-yarn/test.t
Labels: team: turborepo, team: turbopack

#5433 add glob pattern codemods into globwalk
  crates/turborepo-globwalk/src/lib.rs
  crates/turborepo-lib/src/package_manager/mod.rs
Labels: team: turborepo

#5432 fix(turborepo) Set package inference and single_package even without a repo state
  crates/turborepo-lib/src/cli.rs
  turborepo-tests/integration/tests/pkg-inference.t
Labels: team: turborepo

#5431 fix(glob): add glob pattern codemods into globwalk
  Cargo.lock
  crates/turborepo-globwalk/Cargo.toml
  crates/turborepo-globwalk/src/lib.rs
  crates/turborepo-lib/src/package_manager/mod.rs
  crates/turborepo-scm/src/manual.rs
Labels: team: turborepo

#5387 Mark Vcs as `must-use`
  crates/node-file-trace/src/lib.rs
  crates/turbo-tasks-fs/examples/hash_directory.rs
  crates/turbo-tasks-fs/examples/hash_glob.rs
  crates/turbo-tasks-macros/src/func.rs
  crates/turbo-tasks-macros/src/function_macro.rs
  crates/turbo-tasks-macros/src/value_macro.rs
  crates/turbo-tasks-macros/src/value_trait_macro.rs
  crates/turbo-tasks-memory/tests/collectibles.rs
  crates/turbo-tasks/src/nothing.rs
  crates/turbopack-core/src/resolve/mod.rs
  crates/turbopack-dev-server/src/update/stream.rs
  crates/turbopack-ecmascript/src/resolve/mod.rs
  crates/turbopack-node/src/evaluate.rs
  crates/turbopack-node/src/render/render_proxy.rs
  crates/turbopack-node/src/render/render_static.rs
  crates/turbopack/src/lib.rs
Labels: team: turbopack
