Repository vercel/turborepo, pull requests merged in 2023-09, with the labels that each got.

#5853 Update `swc_core` to `v0.82.10`
  Cargo.lock
  Cargo.toml
Labels: owned-by: turborepo, owned-by: web-tooling, created-by: web-tooling

#5848 fix(lint): webpack nmt
  .github/workflows/test.yml
  packages/webpack-nmt/src/index.ts
Labels: area: ci, owned-by: turborepo, owned-by: web-tooling, created-by: turborepo

#5859 fix: use cargo groups for macos turbopack bench
  .github/workflows/test.yml
Labels: area: ci, owned-by: turborepo, owned-by: web-tooling, created-by: turborepo

#5855 Stub out module.hot.check for next-api
  crates/turbopack-ecmascript-runtime/js/src/dev/runtime/base/extensions.d.ts
  crates/turbopack-ecmascript-runtime/js/src/dev/runtime/base/runtime-base.ts
  crates/turbopack-tests/tests/snapshot/runtime/default_dev_runtime/output/79fb1_turbopack-tests_tests_snapshot_runtime_default_dev_runtime_input_index_e60ecd.js
  crates/turbopack-tests/tests/snapshot/runtime/default_dev_runtime/output/79fb1_turbopack-tests_tests_snapshot_runtime_default_dev_runtime_input_index_e60ecd.js.map
Labels: pr: automerge, owned-by: web-tooling, created-by: web-tooling

#5772 feat(Turborepo): Create a filewatching crate
  Cargo.lock
  crates/turborepo-filewatch/Cargo.toml
  crates/turborepo-filewatch/build.rs
  crates/turborepo-filewatch/src/fsevent.rs
  crates/turborepo-filewatch/src/lib.rs
  crates/turborepo-lib/Cargo.toml
  crates/turborepo-paths/src/absolute_system_path.rs
  crates/turborepo-paths/src/absolute_system_path_buf.rs
  crates/turborepo-paths/src/lib.rs
Labels: owned-by: turborepo, created-by: turborepo

#5863 chore: make color selector usable with prefix ui
  crates/turborepo-ui/src/color_selector.rs
Labels: owned-by: turborepo, created-by: turborepo

#5856 feat(example): update tailwind starter template
  examples/with-tailwind/apps/docs/public/circles.svg
  examples/with-tailwind/apps/docs/public/next.svg
  examples/with-tailwind/apps/docs/public/turborepo.svg
  examples/with-tailwind/apps/docs/public/vercel.svg
  examples/with-tailwind/apps/docs/src/app/favicon.ico
  examples/with-tailwind/apps/docs/src/app/globals.css
  examples/with-tailwind/apps/docs/src/app/layout.tsx
  examples/with-tailwind/apps/docs/src/app/page.tsx
  examples/with-tailwind/apps/docs/src/styles/globals.css
  examples/with-tailwind/apps/docs/tailwind.config.js
  examples/with-tailwind/apps/docs/tailwind.config.ts
  examples/with-tailwind/apps/web/public/circles.svg
  examples/with-tailwind/apps/web/public/next.svg
  examples/with-tailwind/apps/web/public/turborepo.svg
  examples/with-tailwind/apps/web/public/vercel.svg
  examples/with-tailwind/apps/web/src/app/favicon.ico
  examples/with-tailwind/apps/web/src/app/globals.css
  examples/with-tailwind/apps/web/src/app/layout.tsx
  examples/with-tailwind/apps/web/src/app/page.tsx
  examples/with-tailwind/apps/web/src/styles/globals.css
  examples/with-tailwind/apps/web/tailwind.config.js
  examples/with-tailwind/apps/web/tailwind.config.ts
  examples/with-tailwind/packages/tailwind-config/package.json
  examples/with-tailwind/packages/tailwind-config/tailwind.config.js
  examples/with-tailwind/packages/tailwind-config/tailwind.config.ts
  examples/with-tailwind/packages/tsconfig/base.json
  examples/with-tailwind/packages/tsconfig/react-library.json
  examples/with-tailwind/packages/ui/package.json
  examples/with-tailwind/packages/ui/src/button.tsx
  examples/with-tailwind/packages/ui/src/card.tsx
  examples/with-tailwind/packages/ui/src/index.tsx
  examples/with-tailwind/packages/ui/tailwind.config.js
  examples/with-tailwind/packages/ui/tailwind.config.ts
  examples/with-tailwind/pnpm-lock.yaml
Labels: area: examples, owned-by: turborepo, created-by: turborepo

#5857 chore: add full auth into http client
  crates/turborepo-cache/src/async_cache.rs
  crates/turborepo-cache/src/http.rs
  crates/turborepo-cache/src/multiplexer.rs
  crates/turborepo-lib/src/run/cache.rs
  crates/turborepo-lib/src/run/mod.rs
Labels: owned-by: turborepo, created-by: turborepo

#5568 feature(turbo): Global Hash
  crates/turborepo-env/src/lib.rs
  crates/turborepo-ffi/src/lib.rs
  crates/turborepo-lib/src/cli.rs
  crates/turborepo-lib/src/commands/prune.rs
  crates/turborepo-lib/src/config/turbo.rs
  crates/turborepo-lib/src/hash/mod.rs
  crates/turborepo-lib/src/package_graph/mod.rs
  crates/turborepo-lib/src/package_manager/mod.rs
  crates/turborepo-lib/src/run/global_hash.rs
  crates/turborepo-lib/src/run/mod.rs
  crates/turborepo-paths/src/absolute_system_path.rs
  crates/turborepo-paths/src/relative_unix_path.rs
  crates/turborepo-scm/src/manual.rs
  crates/turborepo-scm/src/package_deps.rs
Labels: owned-by: turborepo, created-by: turborepo

#5880 feat(example): update basic starter template
  examples/basic/apps/docs/app/favicon.ico
  examples/basic/apps/docs/app/globals.css
  examples/basic/apps/docs/app/layout.tsx
  examples/basic/apps/docs/app/page.module.css
  examples/basic/apps/docs/app/page.tsx
  examples/basic/apps/docs/public/circles.svg
  examples/basic/apps/docs/public/next.svg
  examples/basic/apps/docs/public/turborepo.svg
  examples/basic/apps/docs/public/vercel.svg
  examples/basic/apps/web/app/favicon.ico
  examples/basic/apps/web/app/globals.css
  examples/basic/apps/web/app/layout.tsx
  examples/basic/apps/web/app/page.module.css
  examples/basic/apps/web/app/page.tsx
  examples/basic/apps/web/public/circles.svg
  examples/basic/apps/web/public/next.svg
  examples/basic/apps/web/public/turborepo.svg
  examples/basic/apps/web/public/vercel.svg
  examples/basic/packages/ui/button.tsx
  examples/basic/packages/ui/card.tsx
  examples/basic/packages/ui/header.tsx
  examples/basic/packages/ui/index.tsx
Labels: area: examples, owned-by: turborepo, created-by: turborepo

#5870 feat(docs): update bundle format recommendation
  docs/pages/repo/docs/handbook/publishing-packages/bundling.mdx
Labels: area: docs, owned-by: turborepo, created-by: turborepo

#5882 fix: avoid panic during task cache construction
  crates/turborepo-lib/src/run/cache.rs
  crates/turborepo-lib/src/task_graph/mod.rs
Labels: owned-by: turborepo, created-by: turborepo

#5871 Add `Send` bound to `T` in `Vc<T>` to make type error less cryptic
  crates/turbo-tasks-macros/src/generic_type_macro.rs
  crates/turbo-tasks-macros/src/value_impl_macro.rs
  crates/turbo-tasks-macros/src/value_trait_macro.rs
  crates/turbo-tasks/src/generics/index_map.rs
  crates/turbo-tasks/src/generics/index_set.rs
  crates/turbo-tasks/src/generics/option.rs
  crates/turbo-tasks/src/generics/vec.rs
  crates/turbo-tasks/src/manager.rs
  crates/turbo-tasks/src/raw_vc.rs
  crates/turbo-tasks/src/task/task_input.rs
  crates/turbo-tasks/src/task/task_output.rs
  crates/turbo-tasks/src/trait_ref.rs
  crates/turbo-tasks/src/vc/mod.rs
  crates/turbo-tasks/src/vc/traits.rs
  crates/turbopack-core/src/chunk/evaluate.rs
  crates/turbopack-core/src/chunk/mod.rs
  crates/turbopack-core/src/issue/mod.rs
  crates/turbopack-core/src/resolve/origin.rs
  crates/turbopack-core/src/version.rs
  crates/turbopack-dev-server/src/source/mod.rs
  crates/turbopack-dev-server/src/update/stream.rs
  crates/turbopack-ecmascript/src/chunk/item.rs
Labels: pr: automerge, owned-by: web-tooling, created-by: web-tooling

#5858 feat(Turborepo): add filesystem cookies on top of filewatching
  Cargo.lock
  crates/turborepo-filewatch/Cargo.toml
  crates/turborepo-filewatch/src/cookie_jar.rs
  crates/turborepo-filewatch/src/lib.rs
Labels: owned-by: turborepo, created-by: turborepo

#5860 Turbopack: Remove `turbo_tasks::unit()`
  crates/node-file-trace/src/lib.rs
  crates/turbo-tasks-fs/examples/hash_directory.rs
  crates/turbo-tasks-fs/examples/hash_glob.rs
  crates/turbo-tasks-memory/benches/scope_stress.rs
  crates/turbo-tasks-memory/benches/stress.rs
  crates/turbo-tasks/src/lib.rs
  crates/turbo-tasks/src/unit.rs
  crates/turbopack-cli/src/build/mod.rs
  crates/turbopack-cli/src/dev/mod.rs
  crates/turbopack/benches/node_file_trace.rs
  crates/turbopack/examples/turbopack.rs
Labels: owned-by: web-tooling, created-by: web-tooling

#5852 Turbopack Experimental: Fix source maps in HMR
  crates/turbopack-cli/src/dev/mod.rs
  crates/turbopack-dev-server/src/source/mod.rs
  crates/turbopack-dev-server/src/source/source_maps.rs
  crates/turbopack-dev/src/ecmascript/merged/update.rs
  crates/turbopack-ecmascript-runtime/js/src/dev/runtime/dom/runtime-backend-dom.ts
  crates/turbopack-tests/tests/snapshot/runtime/default_dev_runtime/output/79fb1_turbopack-tests_tests_snapshot_runtime_default_dev_runtime_input_index_e60ecd.js
  crates/turbopack-tests/tests/snapshot/runtime/default_dev_runtime/output/79fb1_turbopack-tests_tests_snapshot_runtime_default_dev_runtime_input_index_e60ecd.js.map
Labels: owned-by: web-tooling, created-by: web-tooling

#5884 feat(examples): update design-system
  examples/design-system/.eslintrc.js
  examples/design-system/.npmrc
  examples/design-system/README.md
  examples/design-system/apps/docs/.eslintrc.js
  examples/design-system/apps/docs/.storybook/main.js
  examples/design-system/apps/docs/package.json
  examples/design-system/apps/docs/stories/button.stories.mdx
  examples/design-system/apps/docs/stories/button.stories.tsx
  examples/design-system/apps/docs/tsconfig.json
  examples/design-system/package.json
  examples/design-system/packages/acme-core/.eslintrc.js
  examples/design-system/packages/acme-core/package.json
  examples/design-system/packages/acme-core/src/Button.tsx
  examples/design-system/packages/acme-core/src/index.tsx
  examples/design-system/packages/acme-tsconfig/node16.json
  examples/design-system/packages/acme-utils/.eslintrc.js
  examples/design-system/packages/acme-utils/src/index.tsx
  examples/design-system/packages/acme-utils/src/toSlug.ts
  examples/design-system/packages/acme-utils/src/useIsomorphicLayoutEffect.tsx
  examples/design-system/packages/acme-utils/src/usePrevious.tsx
  examples/design-system/packages/eslint-config-acme/index.js
  examples/design-system/packages/eslint-config-acme/package.json
  examples/design-system/packages/eslint-config-custom/README.md
  examples/design-system/packages/eslint-config-custom/library.js
  examples/design-system/packages/eslint-config-custom/package.json
  examples/design-system/packages/eslint-config-custom/react.js
  examples/design-system/packages/eslint-config-custom/storybook.js
  examples/design-system/packages/tsconfig/base.json
  examples/design-system/packages/tsconfig/package.json
  examples/design-system/packages/tsconfig/react-app.json
  examples/design-system/packages/tsconfig/react-library.json
  examples/design-system/packages/ui/.eslintrc.js
  examples/design-system/packages/ui/package.json
  examples/design-system/packages/ui/src/button.tsx
  examples/design-system/packages/ui/src/index.tsx
  examples/design-system/packages/ui/tsconfig.json
  examples/design-system/pnpm-lock.yaml
  examples/design-system/tsconfig.json
Labels: area: examples, owned-by: turborepo, created-by: turborepo

#5886 fix: use existing ui instead of constructing a new one
  crates/turborepo-lib/src/cli.rs
Labels: owned-by: turborepo, created-by: turborepo

#5887 fix(release): use capnproto in release tests
  .github/workflows/turborepo-release.yml
Labels: area: ci, owned-by: turborepo, owned-by: web-tooling, created-by: turborepo

#5881 feat: support analysing ternary expressions
  crates/turbopack-ecmascript/src/analyzer/graph.rs
  crates/turbopack-ecmascript/src/analyzer/mod.rs
  crates/turbopack-ecmascript/tests/analyzer/graph/conditional-import/graph-effects.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/conditional-import/graph-explained.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/conditional-import/graph.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/conditional-import/input.js
  crates/turbopack-ecmascript/tests/analyzer/graph/conditional-import/resolved-effects.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/conditional-import/resolved-explained.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/md5_2/graph-effects.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/md5_2/resolved-effects.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/peg/resolved-effects.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/react-dom-production/resolved-effects.snapshot
  crates/turbopack-tests/tests/snapshot/comptime/define/input/index.js
  crates/turbopack-tests/tests/snapshot/comptime/define/output/crates_turbopack-tests_tests_snapshot_comptime_define_input_index_b53fce.js
  crates/turbopack-tests/tests/snapshot/comptime/define/output/crates_turbopack-tests_tests_snapshot_comptime_define_input_index_b53fce.js.map
Labels: owned-by: web-tooling, created-by: web-tooling

#5891 Fix clippy warnings / errors in filewatching code
  crates/turborepo-filewatch/src/cookie_jar.rs
  crates/turborepo-filewatch/src/fsevent.rs
  crates/turborepo-filewatch/src/lib.rs
Labels: pr: fixship, owned-by: turborepo, created-by: turborepo

#5889 feat: connect task cache with visitor
  crates/turborepo-lib/src/run/mod.rs
  crates/turborepo-lib/src/task_graph/visitor.rs
Labels: owned-by: turborepo, created-by: turborepo

#5861 Update pnpm to 8.7.1
  package.json
Labels: owned-by: turborepo, owned-by: web-tooling, created-by: web-tooling

#5893 fix: missing autoprefixer package in with-tailwind example
  examples/with-tailwind/packages/ui/package.json
  examples/with-tailwind/pnpm-lock.yaml
Labels: area: examples, owned-by: turborepo

#5898 fix(release): correct ubuntu:xenial install
  .github/actions/setup-capnproto/action.yml
  .github/workflows/turborepo-release.yml
Labels: area: ci, owned-by: turborepo, owned-by: web-tooling, created-by: turborepo

#5895 fix: deny clippy errors in filewatching crate
  crates/turborepo-filewatch/src/lib.rs
Labels: owned-by: turborepo, created-by: turborepo

#5897 Switch integration tests to turbopack
  .github/workflows/nextjs-integration-test.yml
Labels: area: ci, owned-by: turborepo, owned-by: web-tooling, created-by: web-tooling

#5896 fix(Turborepo): Filter ancestor events before manual recursive watch
  crates/turborepo-filewatch/src/lib.rs
Labels: owned-by: turborepo, created-by: turborepo

#5900 feat(create-turbo): better error when GH is down
  packages/create-turbo/__tests__/index.test.ts
  packages/create-turbo/package.json
  packages/create-turbo/src/commands/create/index.ts
  packages/turbo-utils/src/index.ts
  pnpm-lock.yaml
Labels: pkg: create-turbo, owned-by: turborepo, created-by: turborepo

#5906 feat: port output control
  crates/turborepo-ui/src/lib.rs
  crates/turborepo-ui/src/logs.rs
  crates/turborepo-ui/src/output.rs
  crates/turborepo-ui/src/prefixed.rs
  crates/turborepo-ui/tests/threads.rs
Labels: owned-by: turborepo, created-by: turborepo

#5911 Revert swc versions to one that doesn't use lightningcss
  Cargo.lock
  Cargo.toml
  crates/turbopack-ecmascript-plugins/src/transform/directives/server_to_client_proxy.rs
  crates/turbopack-ecmascript/src/parse.rs
  crates/turbopack-ecmascript/src/references/mod.rs
  crates/turbopack-ecmascript/src/tree_shake/graph.rs
  crates/turbopack-ecmascript/src/tree_shake/merge.rs
  crates/turbopack-ecmascript/tests/tree-shaker/analyzer/1/output.md
  crates/turbopack-ecmascript/tests/tree-shaker/analyzer/2/output.md
  crates/turbopack-ecmascript/tests/tree-shaker/analyzer/3/output.md
  crates/turbopack-ecmascript/tests/tree-shaker/analyzer/complex/output.md
  crates/turbopack-ecmascript/tests/tree-shaker/analyzer/simple/output.md
  crates/turbopack-ecmascript/tests/tree-shaker/analyzer/test-config-1/output.md
Labels: owned-by: turborepo, owned-by: web-tooling, created-by: web-tooling

#5716 feature(turbo): Task Hash
  Cargo.lock
  crates/turborepo-env/src/lib.rs
  crates/turborepo-lib/Cargo.toml
  crates/turborepo-lib/src/engine/mod.rs
  crates/turborepo-lib/src/framework.rs
  crates/turborepo-lib/src/hash/mod.rs
  crates/turborepo-lib/src/hash/proto.capnp
  crates/turborepo-lib/src/lib.rs
  crates/turborepo-lib/src/opts.rs
  crates/turborepo-lib/src/run/global_hash.rs
  crates/turborepo-lib/src/run/mod.rs
  crates/turborepo-lib/src/task_graph/mod.rs
  crates/turborepo-lib/src/task_graph/visitor.rs
  crates/turborepo-lib/src/task_hash.rs
  crates/turborepo-paths/src/absolute_system_path.rs
  crates/turborepo-scm/src/manual.rs
  crates/turborepo-scm/src/package_deps.rs
Labels: pr: fixship, owned-by: turborepo, created-by: turborepo

#5912 fix(with-tailwind): support .mjs import extension
  examples/with-tailwind/packages/eslint-config-custom/library.js
  examples/with-tailwind/packages/eslint-config-custom/next.js
  examples/with-tailwind/packages/eslint-config-custom/react.js
  examples/with-tailwind/packages/tsconfig/base.json
  examples/with-tailwind/packages/tsconfig/nextjs.json
  examples/with-tailwind/turbo.json
Labels: area: examples, owned-by: turborepo, created-by: turborepo

#5914 fix(create-turbo): add before commiting
  packages/create-turbo/src/commands/create/index.ts
  packages/create-turbo/src/utils/git.ts
Labels: pkg: create-turbo, owned-by: turborepo, created-by: turborepo

#5924 fix(tests): kitchen-sink updates
  examples-tests/pnpm-kitchen-sink/test.t
  examples/kitchen-sink/apps/storefront/package.json
  examples/kitchen-sink/pnpm-lock.yaml
Labels: area: examples, owned-by: turborepo, created-by: turborepo

#5910 feat(turbo-ignore): fix args and update fallback
  packages/turbo-ignore/__tests__/args.test.ts
  packages/turbo-ignore/__tests__/checkCommit.test.ts
  packages/turbo-ignore/__tests__/getComparison.test.ts
  packages/turbo-ignore/__tests__/ignore.test.ts
  packages/turbo-ignore/package.json
  packages/turbo-ignore/src/args.ts
  packages/turbo-ignore/src/cli.ts
  packages/turbo-ignore/src/getComparison.ts
  packages/turbo-ignore/src/getTask.ts
  packages/turbo-ignore/src/getWorkspace.ts
  packages/turbo-ignore/src/ignore.ts
  packages/turbo-ignore/src/index.ts
  packages/turbo-ignore/src/types.ts
  packages/turbo-ignore/tsup.config.ts
  pnpm-lock.yaml
Labels: pkg: turbo-ignore, owned-by: turborepo, created-by: turborepo

#5915 chore: add error to prefixed UI
  Cargo.lock
  crates/turborepo-ui/Cargo.toml
  crates/turborepo-ui/src/logs.rs
  crates/turborepo-ui/src/prefixed.rs
  crates/turborepo-ui/tests/threads.rs
Labels: owned-by: turborepo, created-by: turborepo

#5917 chore: purge unused Go code
  cli/internal/ffi/ffi.go
  cli/internal/fs/copy_file_test.go
  cli/internal/fs/recursive_copy.go
  cli/internal/fs/recursive_copy_test.go
  cli/internal/packagemanager/packagemanager.go
  cli/internal/packagemanager/packagemanager_test.go
Labels: owned-by: turborepo, created-by: turborepo

#5111 fix: add DOM lib to react-library tsconfig
  examples/with-tailwind/packages/tsconfig/react-library.json
Labels: area: examples, owned-by: turborepo

#5935 fix(examples-tests): correct gatsby prysk test
  examples-tests/pnpm-gatsby/test.t
Labels: owned-by: turborepo, created-by: turborepo

#5930 feat: use prefixed ui in task graph visitor
  cli/internal/run/run.go
  crates/turborepo-lib/src/opts.rs
  crates/turborepo-lib/src/run/mod.rs
  crates/turborepo-lib/src/task_graph/visitor.rs
Labels: owned-by: turborepo, created-by: turborepo

#5907 Add "scroll to top" option in theme.config.tsx
  docs/package.json
  docs/theme.config.tsx
  pnpm-lock.yaml
Labels: area: site, owned-by: turborepo, owned-by: web-tooling

#5937 changed LandingPage component clipping title
  docs/components/pages/landing/index.tsx
Labels: area: site, owned-by: turborepo, owned-by: web-tooling

#5849 Child process manager
  crates/turborepo-lib/src/lib.rs
  crates/turborepo-lib/src/manager.rs
  crates/turborepo-lib/src/process/child.rs
  crates/turborepo-lib/src/process/mod.rs
  crates/turborepo-lib/src/run/mod.rs
  crates/turborepo-lib/src/run/scope/filter.rs
Labels: owned-by: turborepo, created-by: turborepo

#5939 Revert "Child process manager"
  crates/turborepo-lib/src/lib.rs
  crates/turborepo-lib/src/manager.rs
  crates/turborepo-lib/src/process/child.rs
  crates/turborepo-lib/src/process/mod.rs
  crates/turborepo-lib/src/run/mod.rs
  crates/turborepo-lib/src/run/scope/filter.rs
Labels: owned-by: turborepo, created-by: turborepo

#5936 Update http mock and clap
  Cargo.lock
  Cargo.toml
Labels: owned-by: turborepo, owned-by: web-tooling, created-by: web-tooling

#5941 Update logos.
  docs/components/clients/users.ts
  docs/components/pages/showcase.tsx
  docs/public/images/logos/color/agrotoken.svg
  docs/public/images/logos/color/authdog.svg
  docs/public/images/logos/color/backpack.svg
  docs/public/images/logos/color/blockprotocol.svg
  docs/public/images/logos/color/buildpass.svg
  docs/public/images/logos/color/chotot.svg
  docs/public/images/logos/color/comparastore.svg
  docs/public/images/logos/color/fandom.svg
  docs/public/images/logos/color/hash.svg
  docs/public/images/logos/color/lguplus.svg
  docs/public/images/logos/color/maze.svg
  docs/public/images/logos/color/n8n.svg
  docs/public/images/logos/color/nhost.svg
  docs/public/images/logos/color/reactflow.svg
  docs/public/images/logos/color/rocketchat.svg
  docs/public/images/logos/color/sliit-foss.svg
  docs/public/images/logos/color/solanafm.svg
  docs/public/images/logos/color/stedi.svg
  docs/public/images/logos/color/supernova.svg
  docs/public/images/logos/color/teespring.svg
  docs/public/images/logos/color/waggel.svg
  docs/public/images/logos/white/agrotoken.svg
  docs/public/images/logos/white/authdog.svg
  docs/public/images/logos/white/backpack.svg
  docs/public/images/logos/white/blockprotocol.svg
  docs/public/images/logos/white/buildpass.svg
  docs/public/images/logos/white/chotot.svg
  docs/public/images/logos/white/comparastore.svg
  docs/public/images/logos/white/fandom.svg
  docs/public/images/logos/white/hash.svg
  docs/public/images/logos/white/lguplus.svg
  docs/public/images/logos/white/maze.svg
  docs/public/images/logos/white/n8n.svg
  docs/public/images/logos/white/nhost.svg
  docs/public/images/logos/white/reactflow.svg
  docs/public/images/logos/white/rocketchat.svg
  docs/public/images/logos/white/sliit-foss.svg
  docs/public/images/logos/white/solanafm.svg
  docs/public/images/logos/white/stedi.svg
  docs/public/images/logos/white/supernova.svg
  docs/public/images/logos/white/teespring.svg
  docs/public/images/logos/white/waggel.svg
Labels: area: site, owned-by: turborepo, owned-by: web-tooling

#5942 Rearranging style-guide imports
  examples/basic/packages/eslint-config-custom/next.js
Labels: area: examples, owned-by: turborepo

#5948 CSS HMR fixes
  crates/turbopack-ecmascript-runtime/js/src/dev/client/hmr-client.ts
  crates/turbopack-ecmascript-runtime/js/src/dev/runtime/dom/runtime-backend-dom.ts
  crates/turbopack-tests/tests/snapshot/runtime/default_dev_runtime/output/79fb1_turbopack-tests_tests_snapshot_runtime_default_dev_runtime_input_index_e60ecd.js
  crates/turbopack-tests/tests/snapshot/runtime/default_dev_runtime/output/79fb1_turbopack-tests_tests_snapshot_runtime_default_dev_runtime_input_index_e60ecd.js.map
Labels: owned-by: web-tooling, created-by: web-tooling

#5950 Reduce the number of tasks for better performance
  crates/turbo-tasks-fs/src/lib.rs
  crates/turbopack-core/src/issue/resolve.rs
  crates/turbopack-core/src/resolve/mod.rs
  crates/turbopack-core/src/resolve/options.rs
  crates/turbopack-ecmascript/src/references/async_module.rs
Labels: owned-by: web-tooling, created-by: web-tooling

#5952 improve error handling of developer workflow tool
  packages/devlow-bench/README.md
  packages/devlow-bench/src/browser.ts
  packages/devlow-bench/src/describe.ts
  packages/devlow-bench/src/shell.ts
Labels: owned-by: turborepo, owned-by: web-tooling, created-by: web-tooling

#5946 fix(Turborepo): Update integration test for bad flag
  turborepo-tests/integration/tests/bad_flag.t
Labels: owned-by: turborepo, created-by: turborepo

#5938 Update ContextCondition::InPath to match exact path
  crates/turbopack/src/condition.rs
Labels: owned-by: web-tooling, created-by: web-tooling

#5951 fix(workspaces): glob fix and refactor correction
  packages/turbo-workspaces/src/commands/summary/index.ts
  packages/turbo-workspaces/src/utils.ts
Labels: pkg: turbo-workspaces, owned-by: turborepo, created-by: turborepo

#5916 Wire filewatching to daemon server
  crates/turborepo-filewatch/src/globwatcher.rs
  crates/turborepo-filewatch/src/lib.rs
  crates/turborepo-lib/src/commands/daemon.rs
  crates/turborepo-lib/src/daemon/endpoint.rs
  crates/turborepo-lib/src/daemon/mod.rs
  crates/turborepo-lib/src/daemon/server.rs
Labels: owned-by: turborepo, created-by: turborepo

#5953 Revert "Reduce the number of tasks for better performance"
  crates/turbo-tasks-fs/src/lib.rs
  crates/turbopack-core/src/issue/resolve.rs
  crates/turbopack-core/src/resolve/mod.rs
  crates/turbopack-core/src/resolve/options.rs
  crates/turbopack-ecmascript/src/references/async_module.rs
Labels: owned-by: web-tooling, created-by: web-tooling

#5934 feat(turborepo): support Bun
  Cargo.lock
  cli/internal/ffi/ffi.go
  cli/internal/ffi/proto/messages.pb.go
  cli/internal/lockfile/bun_lockfile.go
  cli/internal/lockfile/lockfile.go
  cli/internal/packagemanager/berry.go
  cli/internal/packagemanager/bun.go
  cli/internal/packagemanager/npm.go
  cli/internal/packagemanager/packagemanager.go
  cli/internal/packagemanager/packagemanager_test.go
  cli/internal/packagemanager/pnpm.go
  cli/internal/packagemanager/pnpm6.go
  cli/internal/packagemanager/yarn.go
  cli/internal/run/global_hash.go
  cli/internal/scope/scope.go
  cli/internal/scope/scope_test.go
  crates/turborepo-ffi/messages.proto
  crates/turborepo-ffi/src/lockfile.rs
  crates/turborepo-lib/src/commands/prune.rs
  crates/turborepo-lib/src/package_manager/bun.rs
  crates/turborepo-lib/src/package_manager/mod.rs
  crates/turborepo-lib/src/shim.rs
  crates/turborepo-lockfiles/src/bun/de.rs
  crates/turborepo-lockfiles/src/bun/mod.rs
  crates/turborepo-lockfiles/src/error.rs
  crates/turborepo-lockfiles/src/lib.rs
Labels: owned-by: turborepo, created-by: turborepo

#5954 Use `is_inside_or_equal_ref` in `ContextCondition::InPath`
  crates/turbopack/src/condition.rs
Labels: pr: automerge, owned-by: web-tooling, created-by: web-tooling

#5923 Update `swc_core` to `v0.83.12`
  Cargo.lock
  Cargo.toml
  crates/turbo-tasks/src/util.rs
  crates/turbopack-build/src/ecmascript/minify.rs
  crates/turbopack-ecmascript-plugins/src/transform/directives/server_to_client_proxy.rs
  crates/turbopack-ecmascript-plugins/src/transform/styled_jsx.rs
  crates/turbopack-ecmascript/src/lib.rs
  crates/turbopack-ecmascript/src/parse.rs
  crates/turbopack-ecmascript/src/path_visitor.rs
  crates/turbopack-ecmascript/src/references/mod.rs
  crates/turbopack-ecmascript/src/references/require_context.rs
  crates/turbopack-ecmascript/src/tree_shake/graph.rs
  crates/turbopack-ecmascript/src/tree_shake/merge.rs
  crates/turbopack-ecmascript/src/tree_shake/tests.rs
Labels: owned-by: turborepo, owned-by: web-tooling, created-by: web-tooling

#5959 reduce number of task in async_module
  crates/turbopack-ecmascript/src/references/async_module.rs
Labels: owned-by: web-tooling, created-by: web-tooling

#5960 reduce unneccessary fs tasks
  crates/turbo-tasks-fs/src/lib.rs
Labels: owned-by: web-tooling, created-by: web-tooling

#5974 Quiet a (mostly unaddressable) Sentry error
  docs/sentry.edge.config.js
Labels: area: site, owned-by: turborepo, owned-by: web-tooling

#5967 feat(turbopack): emit raw image bytes for unsupported codec
  crates/turbopack-image/src/process/mod.rs
Labels: owned-by: web-tooling, created-by: web-tooling

#5975 sync deps
  Cargo.lock
Labels: created-by: web-tooling

#5979 feat(create-turbo): support package manager opt
  packages/create-turbo/__tests__/index.test.ts
  packages/create-turbo/src/cli.ts
  packages/create-turbo/src/commands/create/index.ts
  packages/create-turbo/src/commands/create/types.ts
Labels: pkg: create-turbo, owned-by: turborepo, created-by: turborepo

#5980 fix:(create-turbo) Review changes for package manager flag.
  CONTRIBUTING.md
  docs/pages/repo/docs/getting-started/create-new.mdx
  packages/create-turbo/__tests__/index.test.ts
  packages/create-turbo/src/cli.ts
  packages/create-turbo/src/commands/create/index.ts
  packages/create-turbo/src/commands/create/types.ts
Labels: area: docs, pkg: create-turbo, owned-by: turborepo, owned-by: web-tooling, created-by: turborepo

#5985 fix(Turborepo): Add typescript peer dep as dev dep
  examples/basic/packages/eslint-config-custom/package.json
  examples/basic/pnpm-lock.yaml
Labels: area: examples, owned-by: turborepo, created-by: turborepo

#5966 fix(turborepo): Run outline fixes
  crates/turborepo-env/src/lib.rs
  crates/turborepo-lib/src/commands/run.rs
  crates/turborepo-lib/src/config/turbo.rs
  crates/turborepo-lib/src/engine/builder.rs
  crates/turborepo-lib/src/graph/mod.rs
  crates/turborepo-lib/src/hash/mod.rs
  crates/turborepo-lib/src/package_graph/builder.rs
  crates/turborepo-lib/src/package_graph/mod.rs
  crates/turborepo-lib/src/package_manager/mod.rs
  crates/turborepo-lib/src/run/global_hash.rs
  crates/turborepo-lib/src/run/mod.rs
  crates/turborepo-lib/src/run/task_id.rs
  crates/turborepo-lib/src/task_graph/mod.rs
  crates/turborepo-lib/src/task_graph/visitor.rs
  crates/turborepo-lib/src/task_hash.rs
  crates/turborepo-paths/src/relative_unix_path.rs
Labels: owned-by: turborepo, created-by: turborepo

#5986 fix(turborepo): Make shim do complete package manager detection.
  crates/turborepo-lib/src/shim.rs
Labels: owned-by: turborepo, created-by: turborepo

#5991 Link to Next.js issue link for Turbopack issues
  .github/ISSUE_TEMPLATE/1-feature-request.yml
  .github/ISSUE_TEMPLATE/1-turbopack-bug-report.yml
  .github/ISSUE_TEMPLATE/config.yml
Labels: owned-by: turborepo, owned-by: web-tooling, created-by: web-tooling

#5993 add progress and top self time to convert trace tool
  crates/turbopack-convert-trace/src/main.rs
Labels: owned-by: web-tooling, created-by: web-tooling

#5997 ci(workflow): print passed test lists for daily
  .github/actions/next-integration-stat/index.js
  .github/actions/next-integration-stat/src/index.ts
  .github/workflows/nextjs-integration-test.yml
  .github/workflows/upload-nextjs-integration-test-results.yml
Labels: area: ci, owned-by: turborepo, owned-by: web-tooling, created-by: web-tooling

#6001 fix: upgrading go to support windows
  .github/actions/setup-go/action.yml
Labels: area: ci, owned-by: turborepo, owned-by: web-tooling, created-by: turborepo

#5998 Keep a copy of current integration test results in known location
  .github/workflows/upload-nextjs-integration-test-results.yml
Labels: area: ci, owned-by: turborepo, owned-by: web-tooling, created-by: web-tooling

#5931 fix: make `OutputWriter` references `Send`
  crates/turborepo-ui/src/output.rs
Labels: owned-by: turborepo, created-by: turborepo

#5968 Add "toggleButton" to sidebar
  docs/theme.config.tsx
Labels: area: site, owned-by: turborepo, owned-by: web-tooling

#6000 fix(turbopack-ecmascript): make free var replacements (compile time defines) work for member expressions and allow JSON values
  crates/turbopack-core/src/compile_time_info.rs
  crates/turbopack-ecmascript/src/analyzer/mod.rs
  crates/turbopack-ecmascript/src/path_visitor.rs
  crates/turbopack-ecmascript/src/references/constant_value.rs
  crates/turbopack-tests/tests/snapshot.rs
  crates/turbopack-tests/tests/snapshot/comptime/define/input/index.js
  crates/turbopack-tests/tests/snapshot/comptime/define/output/crates_turbopack-tests_tests_snapshot_comptime_define_input_index_b53fce.js
  crates/turbopack-tests/tests/snapshot/comptime/define/output/crates_turbopack-tests_tests_snapshot_comptime_define_input_index_b53fce.js.map
Labels: owned-by: web-tooling, created-by: web-tooling

#5994 Allow task log prefixing in Github Actions
  cli/internal/run/run.go
  crates/turborepo-lib/src/opts.rs
  turborepo-tests/integration/tests/ordered/github.t
Labels: owned-by: turborepo

#6002 Update rust toolchain to nightly-2023-09-21
  .cargo/config.toml
  .github/workflows/test.yml
  Cargo.lock
  Cargo.toml
  crates/turbo-tasks-macros/src/lib.rs
  crates/turbo-tasks/src/backend.rs
  crates/turbo-tasks/src/lib.rs
  crates/turbo-tasks/src/manager.rs
  crates/turbo-tasks/src/util.rs
  crates/turbopack-cli-utils/src/issue.rs
  crates/turbopack-convert-trace/src/main.rs
  crates/turbopack-core/src/issue/mod.rs
  crates/turbopack-dev/src/ecmascript/list/content.rs
  crates/turbopack-ecmascript/src/analyzer/mod.rs
  crates/turborepo-api-client/src/lib.rs
  crates/turborepo-cache/src/lib.rs
  crates/turborepo-lib/src/lib.rs
  crates/turborepo-scm/src/lib.rs
  rust-toolchain
  xtask/src/publish.rs
Labels: area: ci, owned-by: turborepo, owned-by: web-tooling, created-by: web-tooling

#6009 ci(workflow): update test filter
  .github/workflows/nextjs-integration-test.yml
Labels: area: ci, owned-by: turborepo, owned-by: web-tooling, created-by: web-tooling

#6010 Signal when signal handler is registered
  crates/turborepo-lib/src/process/child.rs
  crates/turborepo-lib/test/scripts/sleep_5_ignore.js
Labels: owned-by: turborepo, created-by: turborepo

#6005 Output logs docs update
  docs/components/output-mode-table.mdx
  docs/pages/repo/docs/reference/command-line-reference/run.mdx
  docs/pages/repo/docs/reference/configuration.mdx
Labels: area: docs, owned-by: turborepo, owned-by: web-tooling, created-by: turborepo

#6008 chore: remove silent flag
  crates/turborepo-lib/src/opts.rs
  crates/turborepo-lib/src/package_graph/builder.rs
  crates/turborepo-lib/src/run/mod.rs
  crates/turborepo-lib/src/task_graph/visitor.rs
Labels: owned-by: turborepo, created-by: turborepo

#6012 fix: allow multiple threads to share hash tracker
  crates/turborepo-env/src/lib.rs
  crates/turborepo-lib/src/task_graph/visitor.rs
  crates/turborepo-lib/src/task_hash.rs
Labels: owned-by: turborepo, created-by: turborepo

#5978 fix(docs): add nextjs 11 link
  docs/pages/pack/docs/core-concepts.mdx
Labels: area: docs, pr: automerge, owned-by: web-tooling

#6014 Fix typo in showcase.mdx
  docs/pages/blog/turbo-1-10-0.mdx
  docs/pages/showcase.mdx
Labels: area: docs, pr: automerge, owned-by: turborepo, owned-by: web-tooling

#5833 feature(turborepo): Port Run Summary
  Cargo.lock
  crates/turborepo-api-client/src/lib.rs
  crates/turborepo-api-client/src/spaces.rs
  crates/turborepo-cache/src/async_cache.rs
  crates/turborepo-cache/src/http.rs
  crates/turborepo-cache/src/multiplexer.rs
  crates/turborepo-ci/src/vendors.rs
  crates/turborepo-env/Cargo.toml
  crates/turborepo-env/src/lib.rs
  crates/turborepo-lib/Cargo.toml
  crates/turborepo-lib/src/commands/mod.rs
  crates/turborepo-lib/src/hash/mod.rs
  crates/turborepo-lib/src/opts.rs
  crates/turborepo-lib/src/package_graph/mod.rs
  crates/turborepo-lib/src/process/child.rs
  crates/turborepo-lib/src/run/global_hash.rs
  crates/turborepo-lib/src/run/mod.rs
  crates/turborepo-lib/src/run/scope/filter.rs
  crates/turborepo-lib/src/run/summary/execution.rs
  crates/turborepo-lib/src/run/summary/global_hash.rs
  crates/turborepo-lib/src/run/summary/mod.rs
  crates/turborepo-lib/src/run/summary/scm.rs
  crates/turborepo-lib/src/run/summary/spaces.rs
  crates/turborepo-lib/src/run/summary/task.rs
  crates/turborepo-lib/src/run/task_id.rs
  crates/turborepo-lib/src/task_graph/visitor.rs
  crates/turborepo-paths/src/anchored_system_path.rs
  crates/turborepo-paths/src/anchored_system_path_buf.rs
  crates/turborepo-scm/src/git.rs
  crates/turborepo-ui/src/lib.rs
Labels: owned-by: turborepo, created-by: turborepo

#6026 Remove next-dev references and benchmarks
  .github/workflows/dispatch-turbopack-custom-bench.yml
  .github/workflows/dispatch-turbopack-custom-matrix-bench.yml
  .github/workflows/setup-nextjs-build.yml
  .github/workflows/test.yml
  CONTRIBUTING.md
  crates/turbopack-bench/README.md
  docs/pages/blog/turbopack-benchmarks.mdx
  docs/pages/pack/docs/advanced/profiling.mdx
  docs/pages/pack/docs/benchmarks.mdx
  pnpm-workspace.yaml
Labels: area: docs, area: ci, owned-by: turborepo, owned-by: web-tooling, created-by: web-tooling

#6033 chore: quiet warnings on turborepo build
  crates/turborepo-api-client/src/spaces.rs
  crates/turborepo-lib/src/daemon/server.rs
  crates/turborepo-lib/src/lib.rs
Labels: owned-by: turborepo, created-by: turborepo

#6022 feat(prune): add ability to specify scopes via argument instead of flag
  crates/turborepo-lib/src/cli.rs
Labels: owned-by: turborepo, created-by: turborepo

#6031 feat: add method for piping child output to writer
  crates/turborepo-lib/src/process/child.rs
Labels: owned-by: turborepo, created-by: turborepo

#6032 fix: prefixed writer no longer includes prefix length in bytes written
  crates/turborepo-ui/src/prefixed.rs
Labels: owned-by: turborepo, created-by: turborepo

#6027 feat(turborepo-auth): create new crate to handle authentication to backend
  Cargo.lock
  crates/turborepo-auth/Cargo.toml
  crates/turborepo-auth/src/lib.rs
  crates/turborepo-lib/Cargo.toml
  crates/turborepo-lib/src/commands/login.rs
  crates/turborepo-lib/src/config/mod.rs
Labels: owned-by: turborepo, created-by: turborepo

#6038 Remove test-prod action
  .github/workflows/nextjs-integration-test.yml
Labels: area: ci, owned-by: turborepo, owned-by: web-tooling

#6039 Fix action dependency
  .github/workflows/nextjs-integration-test.yml
Labels: area: ci, owned-by: turborepo, owned-by: web-tooling

#6037 feat(turborepo-auth): move sso_login implementation to new crate
  Cargo.lock
  crates/turborepo-auth/Cargo.toml
  crates/turborepo-auth/src/lib.rs
  crates/turborepo-lib/src/commands/login.rs
  crates/turborepo-lib/src/config/mod.rs
Labels: owned-by: turborepo, created-by: turborepo

#6041 fix: Run outline bugs
  cli/Makefile
  crates/turborepo-lib/src/run/mod.rs
  turborepo-tests/integration/tests/single_package/graph.t
Labels: owned-by: turborepo, created-by: turborepo

#6036 Turbopack: add support for an asset prefix (and basePath in Next.js)
  crates/turbopack-build/src/chunking_context.rs
  crates/turbopack-cli/src/build/mod.rs
  crates/turbopack-core/src/chunk/chunking_context.rs
  crates/turbopack-dev/src/chunking_context.rs
  crates/turbopack-ecmascript-runtime/js/src/dev/runtime/dom/runtime-backend-dom.ts
  crates/turbopack-static/src/lib.rs
  crates/turbopack-tests/tests/snapshot.rs
  crates/turbopack-tests/tests/snapshot/import-meta/url/output/crates_turbopack-tests_tests_snapshot_import-meta_url_input_index_b53fce.js
  crates/turbopack-tests/tests/snapshot/imports/static/output/crates_turbopack-tests_tests_snapshot_imports_static_input_index_b53fce.js
  crates/turbopack-tests/tests/snapshot/runtime/default_dev_runtime/output/79fb1_turbopack-tests_tests_snapshot_runtime_default_dev_runtime_input_index_e60ecd.js
  crates/turbopack-tests/tests/snapshot/runtime/default_dev_runtime/output/79fb1_turbopack-tests_tests_snapshot_runtime_default_dev_runtime_input_index_e60ecd.js.map
Labels: owned-by: web-tooling, created-by: web-tooling

#6044 Revert "Turbopack: add support for an asset prefix (and basePath in N…
  crates/turbopack-build/src/chunking_context.rs
  crates/turbopack-cli/src/build/mod.rs
  crates/turbopack-core/src/chunk/chunking_context.rs
  crates/turbopack-dev/src/chunking_context.rs
  crates/turbopack-ecmascript-runtime/js/src/dev/runtime/dom/runtime-backend-dom.ts
  crates/turbopack-static/src/lib.rs
  crates/turbopack-tests/tests/snapshot.rs
  crates/turbopack-tests/tests/snapshot/import-meta/url/output/crates_turbopack-tests_tests_snapshot_import-meta_url_input_index_b53fce.js
  crates/turbopack-tests/tests/snapshot/imports/static/output/crates_turbopack-tests_tests_snapshot_imports_static_input_index_b53fce.js
  crates/turbopack-tests/tests/snapshot/runtime/default_dev_runtime/output/79fb1_turbopack-tests_tests_snapshot_runtime_default_dev_runtime_input_index_e60ecd.js
  crates/turbopack-tests/tests/snapshot/runtime/default_dev_runtime/output/79fb1_turbopack-tests_tests_snapshot_runtime_default_dev_runtime_input_index_e60ecd.js.map
Labels: owned-by: web-tooling, created-by: web-tooling

#5992 refactor TaskScopes to use an aggregation tree
  Cargo.lock
  crates/node-file-trace/src/lib.rs
  crates/turbo-tasks-auto-hash-map/src/lib.rs
  crates/turbo-tasks-auto-hash-map/src/map.rs
  crates/turbo-tasks-auto-hash-map/src/set.rs
  crates/turbo-tasks-memory/Cargo.toml
  crates/turbo-tasks-memory/benches/scope_stress.rs
  crates/turbo-tasks-memory/src/aggregation_tree/bottom_connection.rs
  crates/turbo-tasks-memory/src/aggregation_tree/bottom_tree.rs
  crates/turbo-tasks-memory/src/aggregation_tree/inner_refs.rs
  crates/turbo-tasks-memory/src/aggregation_tree/leaf.rs
  crates/turbo-tasks-memory/src/aggregation_tree/mod.rs
  crates/turbo-tasks-memory/src/aggregation_tree/tests.rs
  crates/turbo-tasks-memory/src/aggregation_tree/top_tree.rs
  crates/turbo-tasks-memory/src/count_hash_set.rs
  crates/turbo-tasks-memory/src/gc.rs
  crates/turbo-tasks-memory/src/lib.rs
  crates/turbo-tasks-memory/src/memory_backend.rs
  crates/turbo-tasks-memory/src/memory_backend_with_pg.rs
  crates/turbo-tasks-memory/src/priority_pair.rs
  crates/turbo-tasks-memory/src/scope.rs
  crates/turbo-tasks-memory/src/stats.rs
  crates/turbo-tasks-memory/src/task.rs
  crates/turbo-tasks-memory/src/task/aggregation.rs
  crates/turbo-tasks-memory/src/task/meta_state.rs
  crates/turbo-tasks-memory/src/viz/graph.rs
  crates/turbo-tasks-memory/src/viz/mod.rs
  crates/turbo-tasks-memory/src/viz/table.rs
  crates/turbo-tasks-memory/tests/collectibles.rs
  crates/turbo-tasks-memory/tests/scope_stress.rs
  crates/turbo-tasks-testing/src/lib.rs
  crates/turbo-tasks/src/backend.rs
  crates/turbo-tasks/src/collectibles.rs
  crates/turbo-tasks/src/lib.rs
  crates/turbo-tasks/src/manager.rs
  crates/turbo-tasks/src/raw_vc.rs
  crates/turbo-tasks/src/vc/mod.rs
  crates/turbopack-cli-utils/src/issue.rs
  crates/turbopack-cli/src/dev/turbo_tasks_viz.rs
  crates/turbopack-core/src/diagnostics/mod.rs
  crates/turbopack-core/src/issue/mod.rs
  crates/turbopack-dev-server/src/http.rs
  crates/turbopack-dev-server/src/introspect/mod.rs
  crates/turbopack-dev-server/src/lib.rs
  crates/turbopack-dev-server/src/source/asset_graph.rs
  crates/turbopack-dev-server/src/source/resolve.rs
  crates/turbopack-dev-server/src/source/route_tree.rs
  crates/turbopack-dev-server/src/update/stream.rs
  crates/turbopack-tests/tests/execution.rs
  crates/turbopack-tests/tests/snapshot.rs
Labels: owned-by: web-tooling, created-by: web-tooling

#6052 feat(turbo-ignore) add a --max-buffer option for dry runs that have large outputs
  packages/turbo-ignore/src/cli.ts
  packages/turbo-ignore/src/ignore.ts
  packages/turbo-ignore/src/types.ts
Labels: pr: fixship, pkg: turbo-ignore, owned-by: turborepo, created-by: turborepo

#6050 Tracing improvements
  crates/turbo-tasks-macros/src/value_trait_macro.rs
  crates/turbo-tasks/src/backend.rs
  crates/turbopack-convert-trace/src/main.rs
Labels: owned-by: web-tooling, created-by: web-tooling

#6056 fix: add new test so we have test coverage
  packages/turbo-ignore/__tests__/ignore.test.ts
Labels: pkg: turbo-ignore, owned-by: turborepo, created-by: turborepo

#6049 Revert "Revert "Turbopack: add support for an asset prefix (and basePath in N… (#6044)"
  crates/turbopack-build/src/chunking_context.rs
  crates/turbopack-cli/src/build/mod.rs
  crates/turbopack-core/src/chunk/chunking_context.rs
  crates/turbopack-dev/src/chunking_context.rs
  crates/turbopack-ecmascript-runtime/js/src/dev/runtime/dom/runtime-backend-dom.ts
  crates/turbopack-static/src/lib.rs
  crates/turbopack-tests/tests/snapshot.rs
  crates/turbopack-tests/tests/snapshot/import-meta/url/output/crates_turbopack-tests_tests_snapshot_import-meta_url_input_index_b53fce.js
  crates/turbopack-tests/tests/snapshot/imports/static/output/crates_turbopack-tests_tests_snapshot_imports_static_input_index_b53fce.js
  crates/turbopack-tests/tests/snapshot/runtime/default_dev_runtime/output/79fb1_turbopack-tests_tests_snapshot_runtime_default_dev_runtime_input_index_e60ecd.js
  crates/turbopack-tests/tests/snapshot/runtime/default_dev_runtime/output/79fb1_turbopack-tests_tests_snapshot_runtime_default_dev_runtime_input_index_e60ecd.js.map
Labels: owned-by: web-tooling, created-by: web-tooling

#6051 Performance Improvements (1)
  crates/turbo-tasks-auto-hash-map/src/lib.rs
  crates/turbo-tasks-auto-hash-map/src/map.rs
  crates/turbo-tasks-auto-hash-map/src/set.rs
  crates/turbo-tasks-memory/src/count_hash_set.rs
  crates/turbo-tasks-memory/src/memory_backend.rs
  crates/turbo-tasks-testing/src/lib.rs
  crates/turbo-tasks/src/id.rs
  crates/turbopack-ecmascript/src/lib.rs
Labels: owned-by: web-tooling, created-by: web-tooling

#6053 Performance Improvements (2)
  Cargo.lock
  Cargo.toml
  crates/turbo-tasks-auto-hash-map/Cargo.toml
  crates/turbo-tasks-auto-hash-map/src/map.rs
  crates/turbo-tasks-auto-hash-map/src/set.rs
  crates/turbo-tasks-memory/Cargo.toml
  crates/turbo-tasks-memory/src/aggregation_tree/bottom_connection.rs
  crates/turbo-tasks-memory/src/aggregation_tree/bottom_tree.rs
  crates/turbo-tasks-memory/src/aggregation_tree/leaf.rs
  crates/turbo-tasks-memory/src/cell.rs
  crates/turbo-tasks-memory/src/memory_backend.rs
  crates/turbo-tasks-memory/src/memory_backend_with_pg.rs
  crates/turbo-tasks-memory/src/output.rs
  crates/turbo-tasks-memory/src/task.rs
  crates/turbo-tasks-memory/src/task/aggregation.rs
  crates/turbo-tasks/src/backend.rs
  crates/turbo-tasks/src/manager.rs
Labels: owned-by: turborepo, owned-by: web-tooling, created-by: web-tooling

#6055 Performance Improvements (4)
  crates/turbopack-core/src/issue/resolve.rs
  crates/turbopack-core/src/resolve/mod.rs
  crates/turbopack-core/src/resolve/options.rs
  crates/turbopack-core/src/resolve/origin.rs
  crates/turbopack-ecmascript/src/references/esm/base.rs
  crates/turbopack-ecmascript/src/references/esm/dynamic.rs
  crates/turbopack/src/lib.rs
Labels: owned-by: web-tooling, created-by: web-tooling

#6003 Update `swc_core` to `v0.83.28`
  Cargo.lock
  Cargo.toml
  crates/turbopack-ecmascript/src/transform/mod.rs
  crates/turbopack-tests/tests/snapshot/runtime/default_build_runtime/output/[turbopack]_runtime.js
  crates/turbopack-tests/tests/snapshot/runtime/default_build_runtime/output/[turbopack]_runtime.js.map
  crates/turbopack-tests/tests/snapshot/runtime/default_dev_runtime/output/79fb1_turbopack-tests_tests_snapshot_runtime_default_dev_runtime_input_index_e60ecd.js
  crates/turbopack-tests/tests/snapshot/runtime/default_dev_runtime/output/79fb1_turbopack-tests_tests_snapshot_runtime_default_dev_runtime_input_index_e60ecd.js.map
Labels: owned-by: turborepo, owned-by: web-tooling, created-by: web-tooling

#6062 add hash() to FileContent
  crates/turbo-tasks-fs/src/lib.rs
Labels: owned-by: web-tooling, created-by: web-tooling

#6060 Handle errors from file hashing
  cli/internal/taskhash/taskhash.go
Labels: owned-by: turborepo, created-by: turborepo

#6066 fix(ci): remove build_turborepo dependency from JS and examples tests
  .github/workflows/test.yml
Labels: area: ci, owned-by: turborepo, owned-by: web-tooling, created-by: turborepo

#6057 feat(turborepo-auth): move logout function to crate
  crates/turborepo-auth/src/lib.rs
  crates/turborepo-lib/src/commands/logout.rs
Labels: owned-by: turborepo, created-by: turborepo

#6048 fix(lockfiles) no longer error when parsing out of date pnpm lockfiles
  crates/turborepo-lockfiles/src/pnpm/data.rs
  crates/turborepo-lockfiles/src/pnpm/mod.rs
Labels: owned-by: turborepo, created-by: turborepo

#6069 chore(ci): Use better named outputs for triggering turborepo_build job
  .github/workflows/test.yml
Labels: area: ci, owned-by: turborepo, owned-by: web-tooling, created-by: turborepo

#6070 refactor(Turborepo): Extract LocalTurboState from RepoState
  crates/turborepo-lib/src/shim.rs
  turborepo-tests/integration/tests/find_turbo/hard_mode.t
  turborepo-tests/integration/tests/find_turbo/hoisted.t
  turborepo-tests/integration/tests/find_turbo/linked.t
  turborepo-tests/integration/tests/find_turbo/nested.t
  turborepo-tests/integration/tests/find_turbo/unplugged.t
  turborepo-tests/integration/tests/find_turbo/unplugged_env_moved.t
  turborepo-tests/integration/tests/find_turbo/unplugged_moved.t
  turborepo-tests/integration/tests/inference/has_workspaces.t
  turborepo-tests/integration/tests/inference/nested_workspaces.t
  turborepo-tests/integration/tests/inference/no_workspaces.t
  turborepo-tests/integration/tests/run-logging/verbosity.t
Labels: owned-by: turborepo, created-by: turborepo

#6061 Performance Improvements (1+2) review follow-up
  crates/turbo-tasks-memory/src/aggregation_tree/bottom_connection.rs
  crates/turbo-tasks-memory/src/aggregation_tree/bottom_tree.rs
  crates/turbo-tasks-memory/src/aggregation_tree/leaf.rs
  crates/turbo-tasks-memory/src/aggregation_tree/mod.rs
  crates/turbo-tasks-memory/src/cell.rs
  crates/turbo-tasks-memory/src/memory_backend.rs
  crates/turbo-tasks-memory/src/memory_backend_with_pg.rs
  crates/turbo-tasks-memory/src/output.rs
  crates/turbo-tasks-memory/src/task.rs
  crates/turbo-tasks-memory/src/task/aggregation.rs
  crates/turbo-tasks-testing/src/lib.rs
  crates/turbo-tasks/src/backend.rs
  crates/turbo-tasks/src/lib.rs
  crates/turbo-tasks/src/manager.rs
Labels: owned-by: web-tooling, created-by: web-tooling

#6045 Performance improvements (3)
  crates/turbo-tasks-memory/src/aggregation_tree/bottom_connection.rs
  crates/turbo-tasks-memory/src/aggregation_tree/bottom_tree.rs
Labels: owned-by: web-tooling, created-by: web-tooling
