Repository vercel/turborepo, pull requests merged in 2023-01, with the labels that each got.

#3167 Update examples for stable transpilePackages.
  docs/pages/blog/you-might-not-need-typescript-project-references.mdx
  docs/pages/repo/docs/faq.mdx
  examples/basic/apps/docs/next.config.js
  examples/basic/apps/web/next.config.js
  examples/basic/package-lock.json
  examples/basic/packages/eslint-config-custom/package.json
  examples/basic/pnpm-lock.yaml
  examples/design-system/packages/eslint-config-acme/package.json
  examples/design-system/pnpm-lock.yaml
  examples/kitchen-sink/packages/eslint-config-custom/package.json
  examples/kitchen-sink/pnpm-lock.yaml
  examples/non-monorepo/package.json
  examples/with-changesets/packages/eslint-config-acme/package.json
  examples/with-changesets/pnpm-lock.yaml
  examples/with-docker/apps/web/next.config.js
  examples/with-docker/packages/eslint-config-custom/package.json
  examples/with-npm/apps/docs/next.config.js
  examples/with-npm/apps/web/next.config.js
  examples/with-npm/package-lock.json
  examples/with-npm/packages/eslint-config-custom/package.json
  examples/with-prisma/packages/config/package.json
  examples/with-tailwind/packages/eslint-config-custom/package.json
  examples/with-tailwind/pnpm-lock.yaml
  examples/with-yarn/apps/docs/next.config.js
  examples/with-yarn/apps/web/next.config.js
  examples/with-yarn/packages/eslint-config-custom/package.json
  examples/with-yarn/yarn.lock
  packages/create-turbo/templates/_shared_ts/apps/docs/next.config.js
  packages/create-turbo/templates/_shared_ts/apps/web/next.config.js
Labels: area: examples, pkg: create-turbo

#3165 fix(turborepo): Check version before adding --single-package flag
  cli/integration_tests/global_turbo/uses_local.t
  crates/turborepo-lib/src/shim.rs
Labels: area: turborepo, area: turbopack

#3132 Page data HMR
  crates/next-core/js/src/dev/hmr-client.ts
  crates/next-core/js/src/dev/hot-reloader.tsx
  crates/next-core/js/src/entry/fallback.tsx
  crates/next-core/js/src/entry/next-hydrate.tsx
  crates/next-core/js/src/entry/server-renderer.tsx
  crates/next-core/src/lib.rs
  crates/next-core/src/next_client/context.rs
  crates/next-core/src/next_shared/mod.rs
  crates/next-core/src/next_shared/transforms.rs
  crates/next-core/src/page_source.rs
  crates/next-dev/src/lib.rs
  crates/turbopack-dev-server/src/update/protocol.rs
  crates/turbopack-dev-server/src/update/server.rs
  crates/turbopack-ecmascript/js/types/protocol.d.ts
  crates/turbopack-ecmascript/src/lib.rs
  crates/turbopack-ecmascript/src/transform/mod.rs
  crates/turbopack/src/module_options/rule_condition.rs
Labels: pr: automerge, area: turbopack

#3169 fix: add info message when using global turbo in repo
  cli/integration_tests/basic_monorepo/profile.t
  cli/integration_tests/basic_monorepo/verbosity.t
  cli/integration_tests/find_correct_turbo.t
  cli/integration_tests/lockfile_aware_caching/berry.t
  cli/integration_tests/lockfile_aware_caching/npm.t
  cli/integration_tests/lockfile_aware_caching/pnpm.t
  cli/integration_tests/lockfile_aware_caching/yarn.t
  cli/integration_tests/monorepo_one_script_error/run.t
  cli/integration_tests/single_package/dry-run.t
  cli/integration_tests/single_package/graph.t
  cli/integration_tests/single_package/run.t
  cli/integration_tests/single_package_deps/dry-run.t
  cli/integration_tests/single_package_deps/graph.t
  cli/integration_tests/single_package_deps/run.t
  cli/integration_tests/single_package_no_config/dry-run.t
  cli/integration_tests/single_package_no_config/graph.t
  cli/integration_tests/single_package_no_config/run.t
  cli/scripts/e2e/e2e.ts
  crates/turborepo-lib/src/shim.rs
Labels: area: turborepo, area: turbopack

#3100 fix(docs): refer to pnpm instead of yarn in the design-system README
  examples/design-system/README.md
Labels: area: examples

#3174 chore(dev): turborepo shim entrypoint
  .vscode/launch.json
  .vscode/tasks.json
  crates/turborepo-lib/src/shim.rs
Labels: area: turbopack

#3177 feat(shim): add logger
  Cargo.lock
  cli/integration_tests/bad_flag.t
  cli/integration_tests/basic_monorepo/profile.t
  cli/integration_tests/basic_monorepo/verbosity.t
  cli/integration_tests/find_correct_turbo.t
  cli/integration_tests/global_turbo/uses_local.t
  cli/integration_tests/link.t
  cli/integration_tests/lockfile_aware_caching/berry.t
  cli/integration_tests/lockfile_aware_caching/npm.t
  cli/integration_tests/lockfile_aware_caching/pnpm.t
  cli/integration_tests/lockfile_aware_caching/yarn.t
  cli/integration_tests/login.t
  cli/integration_tests/logout.t
  cli/integration_tests/monorepo_one_script_error/run.t
  cli/integration_tests/no_args.t
  cli/integration_tests/single_package/dry-run.t
  cli/integration_tests/single_package/graph.t
  cli/integration_tests/single_package/run.t
  cli/integration_tests/single_package_deps/dry-run.t
  cli/integration_tests/single_package_deps/graph.t
  cli/integration_tests/single_package_deps/run.t
  cli/integration_tests/single_package_no_config/dry-run.t
  cli/integration_tests/single_package_no_config/graph.t
  cli/integration_tests/single_package_no_config/run.t
  cli/integration_tests/turbo_help.t
  cli/integration_tests/turbo_version.t
  cli/integration_tests/unlink.t
  crates/turborepo-lib/Cargo.toml
  crates/turborepo-lib/src/shim.rs
Labels: area: turborepo, area: turbopack

#3161 fix: packageManager value
  examples/with-yarn/package.json
Labels: area: examples

#3182 Reorganize next_client and next_server modules
  crates/next-core/src/app_source.rs
  crates/next-core/src/fallback.rs
  crates/next-core/src/next_client/context.rs
  crates/next-core/src/next_client/mod.rs
  crates/next-core/src/next_client/transition.rs
  crates/next-core/src/next_import_map.rs
  crates/next-core/src/next_server/context.rs
  crates/next-core/src/next_server/mod.rs
  crates/next-core/src/page_source.rs
  crates/next-core/src/web_entry_source.rs
Labels: pr: automerge, area: turbopack

#3192 Changes to support two binaries
  .github/workflows/build_go_binary.yml
  .github/workflows/build_rust.yml
Labels: pr: automerge, area: turborepo, area: ci

#3196 Share rust config ownership between web-tooling and turbo-oss
  .github/CODEOWNERS
Labels: area: ci

#3189 refactor(turborepo): Two binaries
  Cargo.lock
  cli/.gitignore
  cli/Makefile
  cli/cmd/turbo/main.go
  cli/internal/daemon/daemon.go
  crates/turborepo/Cargo.toml
  crates/turborepo/build.rs
  crates/turborepo/src/main.rs
Labels: pr: automerge, pkg: create-turbo, area: turborepo, area: turbopack, area: ci

#3199 Explicitly chmod binaries
  .github/workflows/build_rust.yml
Labels: area: ci

#3201 Use the correct binary name for Go binaries, also copy them
  cli/cross-release.yml
  cli/darwin-release.yml
  cli/scripts/npm-native-packages/npm-native-packages.js
Labels: area: turborepo

#3203 publish 1.7.0-canary.6 to registry
  .gitignore
  cli/cmd/turbo/version.go
  packages/create-turbo/package.json
  packages/turbo-codemod/package.json
  packages/turbo/package.json
  version.txt
Labels: pkg: create-turbo, area: turborepo

#3222 feat(release): publish 1.7.0-canary.7 to registry
  cli/cmd/turbo/version.go
  packages/create-turbo/package.json
  packages/turbo-codemod/package.json
  packages/turbo/package.json
  version.txt
Labels: pkg: create-turbo, area: turborepo

#3220 Fix clippy warnings with next-transform-strip-page-exports
  crates/next-transform-strip-page-exports/src/lib.rs
Labels: pr: automerge, area: turbopack

#3198 feat(docs): animate header logos when switching
  docs/components/HeaderLogo.tsx
  docs/components/header-logo.module.css
  docs/components/logos/Turbo.tsx
  docs/components/logos/TurboAnimated.tsx
Labels: area: site

#3225 feat(create-turbo): use canary if pre-release
  packages/create-turbo/package.json
  packages/create-turbo/src/index.ts
  pnpm-lock.yaml
Labels: pkg: create-turbo

#3221 feat(cli): disable package.json config support
  cli/internal/fs/turbo_json.go
  cli/internal/fs/turbo_json_test.go
Labels: area: turborepo

#3227 always clean PR action caches
  .github/workflows/pr-clean-caches.yml
Labels: area: ci

#3228 fix(create-turbo): bump next.js version
  packages/create-turbo/templates/_shared_ts/apps/docs/package.json
  packages/create-turbo/templates/_shared_ts/apps/web/package.json
  packages/create-turbo/templates/pnpm/apps/docs/package.json
  packages/create-turbo/templates/pnpm/apps/web/package.json
Labels: pkg: create-turbo

#3230 fix(ci): swap turbo back to actions-rs/toolchain
  .github/workflows/build_rust.yml
Labels: area: ci

#3231 publish 1.7.0-canary.8 to registry
  cli/cmd/turbo/version.go
  packages/create-turbo/package.json
  packages/turbo-codemod/package.json
  packages/turbo/package.json
  version.txt
Labels: pkg: create-turbo, area: turborepo

#3209 fix(next-core): check axes for variable fonts only
  crates/next-core/src/next_font_google/util.rs
Labels: pr: automerge, area: turbopack

#3235 fix: support both formats of workspace definition for npm and yarn
  crates/turborepo-lib/src/package_manager.rs
Labels: area: turbopack

#3236 Show an error if no tasks are supplied to run
  cli/integration_tests/no_args.t
  cli/internal/cmd/root.go
Labels: pr: automerge, area: turborepo

#3211 update to next.js version with working test suite
  .github/workflows/test.yml
Labels: area: ci

#3210 Update `swc_core` to `v0.53.0`
  Cargo.lock
  Cargo.toml
  crates/turbopack-css/src/transform/mod.rs
  crates/turbopack-ecmascript/tests/analyzer/graph/arrow/graph.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/declarations/graph.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/esbuild-reduced/graph.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/esbuild/graph.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/nested/graph.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/peg/graph.snapshot
Labels: area: turbopack

#3232 Open PRs for font data updates instead
  .github/workflows/update-google-fonts.yml
Labels: area: ci

#3240 fix main push detection in workflow
  .github/workflows/test.yml
Labels: area: ci

#3224 fix inconsistent sys_path leading to watching issue on root dir
  crates/turbo-tasks-fs/src/lib.rs
Labels: area: turbopack

#3116 add support for transpilePackages
  crates/next-core/src/app_source.rs
  crates/next-core/src/fallback.rs
  crates/next-core/src/next_client/context.rs
  crates/next-core/src/next_config.rs
  crates/next-core/src/next_server/context.rs
  crates/next-core/src/page_source.rs
  crates/next-core/src/util.rs
  crates/next-core/src/web_entry_source.rs
  crates/next-dev/tests/integration/.gitignore
  crates/next-dev/tests/integration/next/image/basic/components/img.jsx
  crates/next-dev/tests/integration/next/image/basic/pages/index.js
  crates/next-dev/tests/integration/next/image/transpilePackages/next.config.js
  crates/next-dev/tests/integration/next/image/transpilePackages/node_modules/magic-image/img.jsx
  crates/next-dev/tests/integration/next/image/transpilePackages/node_modules/magic-image/index.jsx
  crates/next-dev/tests/integration/next/image/transpilePackages/node_modules/magic-image/triangle-black.png
  crates/next-dev/tests/integration/next/image/transpilePackages/pages/index.js
  crates/turbopack/src/condition.rs
  crates/turbopack/src/resolve.rs
Labels: area: turbopack

#3244 fix(cli): npm lockfile workspace parsing
  cli/internal/lockfile/npm_lockfile.go
  cli/internal/lockfile/npm_lockfile_test.go
  cli/internal/lockfile/testdata/npm-lock-workspace-variation.json
Labels: area: turborepo

#3245 clean cache a little less often
  .github/workflows/pr-clean-caches.yml
Labels: area: ci

#3248 publish 1.7.0-canary.9 to registry
  cli/cmd/turbo/version.go
  packages/create-turbo/package.json
  packages/turbo-codemod/package.json
  packages/turbo/package.json
  version.txt
Labels: pkg: create-turbo, area: turborepo

#3249 fix(next-dev): add name to test package
  crates/next-dev/tests/package.json
Labels: area: turbopack

#3243 improve error handling for commands in singlePackage projects
  cli/internal/run/run.go
Labels: area: turborepo

#3213 remove muzzammil.xyz/jsonc package in favour of more stable github url
  cli/go.mod
  cli/go.sum
  cli/internal/fs/turbo_json.go
Labels: area: turborepo

#2713 Update docs on default outputs
  docs/pages/repo/docs/ci/circleci.mdx
  docs/pages/repo/docs/ci/github-actions.mdx
  docs/pages/repo/docs/ci/gitlabci.mdx
  docs/pages/repo/docs/ci/travisci.mdx
  docs/pages/repo/docs/core-concepts/caching.mdx
  docs/pages/repo/docs/core-concepts/monorepos/running-tasks.mdx
  docs/pages/repo/docs/getting-started/add-to-project.mdx
  docs/pages/repo/docs/getting-started/create-new.mdx
  docs/pages/repo/docs/getting-started/existing-monorepo.mdx
  docs/pages/repo/docs/handbook/linting.mdx
  docs/pages/repo/docs/handbook/testing.mdx
  docs/pages/repo/docs/reference/codemods.mdx
  docs/pages/repo/docs/reference/configuration.mdx
  packages/eslint-plugin-turbo/docs/rules/no-undeclared-env-vars.md
  packages/turbo-types/src/types/config.ts
Labels: area: docs, area: examples, area: turborepo, pkg: turbo-eslint, docs: next release

#2669 Document `persistent` key
  docs/pages/repo/docs/core-concepts/caching.mdx
  docs/pages/repo/docs/getting-started/create-new.mdx
  docs/pages/repo/docs/handbook/dev.mdx
  docs/pages/repo/docs/reference/codemods.mdx
  docs/pages/repo/docs/reference/command-line-reference.mdx
  docs/pages/repo/docs/reference/configuration.mdx
  packages/create-turbo/templates/_shared_ts/package.json
  packages/create-turbo/templates/pnpm/package.json
  packages/create-turbo/templates/yarn/package.json
  packages/turbo-types/src/types/config.ts
Labels: area: docs, pr: fixship, pkg: create-turbo, pkg: turbo-eslint, docs: next release

#2738 Update examples with features from 1.7 release
  examples/basic/turbo.json
  examples/design-system/package.json
  examples/design-system/turbo.json
  examples/kitchen-sink/package.json
  examples/kitchen-sink/turbo.json
  examples/non-monorepo/turbo.json
  examples/with-changesets/package.json
  examples/with-changesets/turbo.json
  examples/with-create-react-app/package.json
  examples/with-create-react-app/turbo.json
  examples/with-docker/README.md
  examples/with-docker/package.json
  examples/with-docker/turbo.json
  examples/with-npm/package.json
  examples/with-prisma/package.json
  examples/with-prisma/turbo.json
  examples/with-react-native-web/turbo.json
  examples/with-svelte/package.json
  examples/with-svelte/turbo.json
  examples/with-tailwind/package.json
  examples/with-tailwind/turbo.json
  examples/with-vite/package.json
  examples/with-vite/turbo.json
  examples/with-yarn/turbo.json
Labels: area: examples, docs: next release

#2701 Moved docs to global turbo installation
  docs/pages/repo/docs/core-concepts/monorepos/filtering.mdx
  docs/pages/repo/docs/core-concepts/remote-caching.mdx
  docs/pages/repo/docs/faq.mdx
  docs/pages/repo/docs/getting-started/add-to-project.mdx
  docs/pages/repo/docs/getting-started/create-new.mdx
  docs/pages/repo/docs/getting-started/existing-monorepo.mdx
  docs/pages/repo/docs/handbook/building-your-app.mdx
  docs/pages/repo/docs/handbook/sharing-code/internal-packages.mdx
  docs/pages/repo/docs/handbook/testing.mdx
Labels: area: docs

#3258 add necessary permissions to commit step again
  .github/workflows/test.yml
Labels: area: ci

#3266 feat(docs): update output-logs options
  docs/components/output-mode-table.mdx
  docs/pages/repo/docs/reference/command-line-reference.mdx
Labels: area: docs

#2792 Refactor Summary structs for more flexible use
  cli/internal/run/dry_run.go
  cli/internal/run/real_run.go
  cli/internal/run/run.go
  cli/internal/run/run_spec.go
  cli/internal/run/run_state.go
Labels: area: turborepo

#3271 feat(docs): add remote cache counter
  docs/components/ExtraContent.tsx
  docs/components/RemoteCacheCounter.tsx
  docs/lib/useTurborepoMinutesSaved.ts
  docs/package.json
  docs/theme.config.js
  pnpm-lock.yaml
Labels: area: docs, area: site

#3277 nextest: time out leaky check after 500ms
  .config/nextest.toml
  .github/CODEOWNERS
Labels: pr: automerge, area: ci

#3264 feat(docs): 1.7 blog post
  docs/components/Badge.tsx
  docs/components/logos/TurboAnimated.tsx
  docs/pages/blog/_meta.json
  docs/pages/blog/turbo-1-7-0.mdx
  docs/pages/repo/docs/reference/codemods.mdx
  docs/public/images/blog/turbo-1-7-0/turbo-inference.png
  docs/public/images/blog/turbo-1-7-0/twitter-card.png
  docs/public/images/docs/pack/tobias-signature-dark.svg
  docs/tailwind.config.js
Labels: area: docs, pr: automerge, area: site

#3267 provide resolvedUrl to next.js for rendering
  crates/next-core/js/src/entry/server-renderer.tsx
Labels: area: turbopack

#3263 escape error message for HTML
  crates/turbopack-node/src/render/render_static.rs
Labels: area: turbopack

#3262 improve typescript recommendation
  crates/turbopack-ecmascript/src/references/esm/export.rs
Labels: area: turbopack

#3260 improve caching of worker pool for postcss
  crates/turbopack-node/src/transforms/postcss.rs
  crates/turbopack/src/module_options/mod.rs
Labels: area: turbopack

#3259 fix code generation in shorthand properties
  crates/next-dev/tests/integration/turbopack/basic/shorthand-props/index.js
  crates/next-dev/tests/integration/turbopack/basic/shorthand-props/module.js
  crates/next-dev/tests/integration/turbopack/basic/shorthand-props/reexport.js
  crates/turbopack-ecmascript/src/references/esm/binding.rs
Labels: area: turbopack

#3281 fix windows paths with --root
  crates/next-dev/src/lib.rs
Labels: area: turbopack

#3283 Apply `hygiene` pass before `fixer`
  crates/turbopack-ecmascript/src/lib.rs
Labels: area: turbopack

#3279 One pixel transparent border to reveal background.
  docs/components/RemoteCacheCounter.tsx
Labels: pr: automerge, area: site

#3285 fix(turborepo): typos
  packages/create-turbo/__tests__/cli.test.ts
  packages/turbo-codemod/README.md
Labels: pkg: create-turbo

#3253 fix: use error logger in Rust turborepo
  cli/integration_tests/bad_flag.t
  cli/integration_tests/basic_monorepo/verbosity.t
  crates/turborepo-lib/src/cli.rs
  crates/turborepo-lib/src/lib.rs
  crates/turborepo/src/main.rs
Labels: area: turborepo, area: turbopack

#3289 only try to push benchmark data
  .github/workflows/test.yml
Labels: area: ci

#3193 Add support for dynamic `import()`s on the server-side
  Cargo.lock
  crates/next-core/js/src/entry/server-renderer.tsx
  crates/next-core/src/app_source.rs
  crates/next-core/src/fallback.rs
  crates/next-core/src/next_client/context.rs
  crates/next-core/src/page_source.rs
  crates/next-core/src/web_entry_source.rs
  crates/turbopack-core/src/chunk/dev.rs
  crates/turbopack-core/src/chunk/mod.rs
  crates/turbopack-core/src/environment.rs
  crates/turbopack-ecmascript/Cargo.toml
  crates/turbopack-ecmascript/js/src/runtime.dom.js
  crates/turbopack-ecmascript/js/src/runtime.js
  crates/turbopack-ecmascript/js/src/runtime.nodejs.js
  crates/turbopack-ecmascript/js/types/backend.d.ts
  crates/turbopack-ecmascript/js/types/index.d.ts
  crates/turbopack-ecmascript/js/types/runtime.d.ts
  crates/turbopack-ecmascript/src/chunk/mod.rs
  crates/turbopack-node/src/evaluate.rs
  crates/turbopack-tests/tests/snapshot.rs
  crates/turbopack-tests/tests/snapshot/basic/async_chunk/output/crates_turbopack-tests_tests_snapshot_basic_async_chunk_input_index_9be35c.js
  crates/turbopack-tests/tests/snapshot/basic/chunked/output/crates_turbopack-tests_tests_snapshot_basic_chunked_input_index_b11d49.js
  crates/turbopack-tests/tests/snapshot/css/absolute-uri-import/output/crates_turbopack-tests_tests_snapshot_css_absolute-uri-import_input_index_e03a4b.js
  crates/turbopack-tests/tests/snapshot/css/css/output/crates_turbopack-tests_tests_snapshot_css_css_input_index_907a50.js
  crates/turbopack-tests/tests/snapshot/emotion/emotion/output/crates_turbopack-tests_tests_snapshot_emotion_emotion_input_index_b6dbf3.js
  crates/turbopack-tests/tests/snapshot/env/env/output/crates_turbopack-tests_tests_snapshot_env_env_input_480486.js
  crates/turbopack-tests/tests/snapshot/evaluated_entrry/runtime_entry/output/a587c_tests_snapshot_evaluated_entrry_runtime_entry_input_index_50fbca.js
  crates/turbopack-tests/tests/snapshot/example/example/output/crates_turbopack-tests_tests_snapshot_example_example_input_index_a7beb7.js
  crates/turbopack-tests/tests/snapshot/import-meta/cjs/output/crates_turbopack-tests_tests_snapshot_import-meta_cjs_input_index_859774.js
  crates/turbopack-tests/tests/snapshot/import-meta/esm-multiple/output/79fb1_turbopack-tests_tests_snapshot_import-meta_esm-multiple_input_index_a53493.js
  crates/turbopack-tests/tests/snapshot/import-meta/esm-mutable/output/crates_turbopack-tests_tests_snapshot_import-meta_esm-mutable_input_index_bbd10b.js
  crates/turbopack-tests/tests/snapshot/import-meta/esm-object/output/crates_turbopack-tests_tests_snapshot_import-meta_esm-object_input_index_31d622.js
  crates/turbopack-tests/tests/snapshot/import-meta/esm/output/crates_turbopack-tests_tests_snapshot_import-meta_esm_input_index_7072f9.js
  crates/turbopack-tests/tests/snapshot/import-meta/url/output/crates_turbopack-tests_tests_snapshot_import-meta_url_input_index_94525c.js
  crates/turbopack-tests/tests/snapshot/imports/json/output/crates_turbopack-tests_tests_snapshot_imports_json_input_index_e24981.js
  crates/turbopack-tests/tests/snapshot/imports/resolve_error_cjs/output/79fb1_turbopack-tests_tests_snapshot_imports_resolve_error_cjs_input_index_e00120.js
  crates/turbopack-tests/tests/snapshot/imports/resolve_error_esm/output/79fb1_turbopack-tests_tests_snapshot_imports_resolve_error_esm_input_index_1a5dd4.js
  crates/turbopack-tests/tests/snapshot/imports/static/output/crates_turbopack-tests_tests_snapshot_imports_static_input_index_b8717b.js
  crates/turbopack-tests/tests/snapshot/node/node_protocol_external/output/79fb1_turbopack-tests_tests_snapshot_node_node_protocol_external_input_index_6a3d80.js
  crates/turbopack-tests/tests/snapshot/styled_components/styled_components/output/a587c_tests_snapshot_styled_components_styled_components_input_index_7b57d9.js
  crates/turbopack-tests/tests/snapshot/swc_transforms/mono_transforms/output/a587c_tests_snapshot_swc_transforms_mono_transforms_input_packages_app_index_739f58.js
  crates/turbopack-tests/tests/snapshot/swc_transforms/preset_env/output/79fb1_turbopack-tests_tests_snapshot_swc_transforms_preset_env_input_index_44c34f.js
  crates/turbopack-tests/tests/snapshot/tsconfig/baseurl/output/crates_turbopack-tests_tests_snapshot_tsconfig_baseurl_input_index_5906e5.js
Labels: area: turbopack

#3291 `node:` prefixed aliases must not be in fallback aliases
  crates/next-core/src/next_import_map.rs
Labels: area: turbopack

#3295 chore(docs): update 1.7 OG image
  docs/public/images/blog/turbo-1-7-0/twitter-card.png
Labels: area: site

#3287 fix(docs): update yarn install command
  docs/pages/blog/turbo-1-7-0.mdx
  docs/pages/repo/docs/getting-started/add-to-project.mdx
  docs/pages/repo/docs/getting-started/existing-monorepo.mdx
Labels: area: docs

#3296 fix(docs): corect blog typo
  docs/pages/blog/turbo-1-7-0.mdx
Labels: area: docs

#3284 add basic webpack loader support
  Cargo.lock
  crates/next-core/src/next_client/context.rs
  crates/next-core/src/next_config.rs
  crates/next-core/src/next_server/context.rs
  crates/next-dev/src/lib.rs
  crates/next-dev/tests/integration/turbopack/basic/webpack-loaders/hello.raw
  crates/next-dev/tests/integration/turbopack/basic/webpack-loaders/index.js
  crates/next-dev/tests/integration/turbopack/basic/webpack-loaders/next.config.js
  crates/next-dev/tests/integration/turbopack/basic/webpack-loaders/node_modules/raw-loader/index.js
  crates/next-dev/tests/package.json
  crates/turbopack-core/src/lib.rs
  crates/turbopack-core/src/server_fs.rs
  crates/turbopack-dev-server/src/lib.rs
  crates/turbopack-node/js/package.json
  crates/turbopack-node/js/src/transforms/webpack-loaders.ts
  crates/turbopack-node/js/tsconfig.json
  crates/turbopack-node/src/transforms/mod.rs
  crates/turbopack-node/src/transforms/postcss.rs
  crates/turbopack-node/src/transforms/util.rs
  crates/turbopack-node/src/transforms/webpack.rs
  crates/turbopack/Cargo.toml
  crates/turbopack/src/module_options/mod.rs
  crates/turbopack/src/module_options/module_options_context.rs
  pnpm-lock.yaml
Labels: area: turbopack

#3299 Do not submit a default --output-logs argument from Rust
  cli/integration_tests/no_args.t
  cli/integration_tests/turbo_help.t
  cli/internal/run/run.go
  crates/turborepo-lib/src/cli.rs
Labels: area: turborepo, area: turbopack

#3297 Fix deduplication when importing module statically and dynamically
  crates/next-dev/tests/integration/webpack/chunks/import-circle/index.js
  crates/next-dev/tests/integration/webpack/chunks/import-circle/leftHelix.js
  crates/next-dev/tests/integration/webpack/chunks/import-circle/leftHelixPrime.js
  crates/next-dev/tests/integration/webpack/chunks/import-circle/rightHelix.js
  crates/next-dev/tests/integration/webpack/chunks/import-circle/rightHelixPrime.js
  crates/next-dev/tests/integration/webpack/chunks/issue-5153/index.js
  crates/next-dev/tests/integration/webpack/chunks/issue-5153/module.js
  crates/turbopack-core/src/chunk/mod.rs
  crates/turbopack-tests/tests/snapshot/imports/dynamic/input/index.js
  crates/turbopack-tests/tests/snapshot/imports/dynamic/input/vercel.mjs
  crates/turbopack-tests/tests/snapshot/imports/dynamic/output/79fb1_turbopack-tests_tests_snapshot_imports_dynamic_input_vercel.mjs_manifest-chunk.js
  crates/turbopack-tests/tests/snapshot/imports/dynamic/output/79fb1_turbopack-tests_tests_snapshot_imports_dynamic_input_vercel.mjs_manifest-chunk.js.map
  crates/turbopack-tests/tests/snapshot/imports/dynamic/output/crates_turbopack-tests_tests_snapshot_imports_dynamic_input_index_2bf706.js
  crates/turbopack-tests/tests/snapshot/imports/dynamic/output/crates_turbopack-tests_tests_snapshot_imports_dynamic_input_index_2bf706.js.map
  crates/turbopack-tests/tests/snapshot/imports/dynamic/output/crates_turbopack-tests_tests_snapshot_imports_dynamic_input_vercel.mjs.js
  crates/turbopack-tests/tests/snapshot/imports/dynamic/output/crates_turbopack-tests_tests_snapshot_imports_dynamic_input_vercel.mjs.js.map
  crates/turbopack-tests/tests/snapshot/imports/static-and-dynamic/input/index.js
  crates/turbopack-tests/tests/snapshot/imports/static-and-dynamic/input/vercel.mjs
  crates/turbopack-tests/tests/snapshot/imports/static-and-dynamic/output/79fb1_turbopack-tests_tests_snapshot_imports_static-and-dynamic_input_index_bbeff3.js
  crates/turbopack-tests/tests/snapshot/imports/static-and-dynamic/output/79fb1_turbopack-tests_tests_snapshot_imports_static-and-dynamic_input_index_bbeff3.js.map
  crates/turbopack-tests/tests/snapshot/imports/static-and-dynamic/output/79fb1_turbopack-tests_tests_snapshot_imports_static-and-dynamic_input_vercel.mjs.js
  crates/turbopack-tests/tests/snapshot/imports/static-and-dynamic/output/79fb1_turbopack-tests_tests_snapshot_imports_static-and-dynamic_input_vercel.mjs.js.map
  crates/turbopack-tests/tests/snapshot/imports/static-and-dynamic/output/a587c_tests_snapshot_imports_static-and-dynamic_input_vercel.mjs_manifest-chunk.js
  crates/turbopack-tests/tests/snapshot/imports/static-and-dynamic/output/a587c_tests_snapshot_imports_static-and-dynamic_input_vercel.mjs_manifest-chunk.js.map
Labels: pr: automerge, area: turbopack

#3298 Implement `experimental.resolveAlias` map for next.config.js
  crates/next-core/src/fallback.rs
  crates/next-core/src/next_client/context.rs
  crates/next-core/src/next_config.rs
  crates/next-core/src/next_import_map.rs
  crates/next-dev/tests/integration/next/resolve-alias/basic/index.js
  crates/next-dev/tests/integration/next/resolve-alias/basic/next.config.js
  crates/next-dev/tests/integration/next/resolve-alias/basic/node_modules/bar/index.js
  crates/turbopack/src/module_options/module_options_context.rs
Labels: area: turbopack

#3307 Add basic test for next/dynamic
  crates/next-dev/tests/integration/next/dynamic/no-ssr/pages/_dynamic.js
  crates/next-dev/tests/integration/next/dynamic/no-ssr/pages/index.js
  crates/next-dev/tests/integration/next/dynamic/ssr/pages/_dynamic.js
  crates/next-dev/tests/integration/next/dynamic/ssr/pages/index.js
Labels: area: turbopack

#2776 add documentation about memory profiling on linux
  docs/pages/pack/docs/advanced/profiling.mdx
Labels: area: docs

#3282 use the first result when resolving extends in tsconfig.json
  crates/turbopack-ecmascript/src/typescript/resolve.rs
Labels: pr: automerge, area: turbopack

#3315 Fix name of command in blog post
  docs/pages/blog/turbo-1-7-0.mdx
Labels: area: docs

#3313 style(docs): fix prettier
  docs/pages/pack/docs/advanced/profiling.mdx
Labels: area: docs, pr: automerge

#3055 test(integration): update next.js to latest
  .github/workflows/test.yml
Labels: area: ci

#3330 fix(docs): remove old image link
  docs/pages/repo/docs/ci/circleci.mdx
  docs/pages/repo/docs/ci/gitlabci.mdx
  docs/pages/repo/docs/ci/travisci.mdx
Labels: area: docs

#3335 reduce function count
  crates/turbo-tasks-fs/src/lib.rs
  crates/turbopack-core/src/resolve/mod.rs
Labels: area: turbopack

#3326 improve SSR data handling for pages
  crates/next-core/js/src/entry/server-data.tsx
  crates/next-core/js/src/entry/server-renderer.tsx
  crates/next-core/js/src/internal/page-server-handler.tsx
  crates/next-core/src/page_source.rs
Labels: area: turbopack

#3304 Disable mdx parsing in turbotrace
  crates/node-file-trace/src/lib.rs
  crates/turbopack/src/module_options/mod.rs
  crates/turbopack/src/module_options/module_options_context.rs
  crates/turbopack/tests/node-file-trace.rs
  crates/turbopack/tests/node-file-trace/integration/mdx/empty.js
  crates/turbopack/tests/node-file-trace/integration/mdx/example.mdx
  crates/turbopack/tests/node-file-trace/integration/mdx/index.js
  crates/turbopack/tests/node-file-trace/integration/mdx/snowfall.jsx
  crates/turbopack/tests/node-file-trace/package.json
  crates/turbopack/tests/node-file-trace/pnpm-lock.yaml
Labels: pr: automerge, area: turbopack

#3128 read env vars from next.config.js
  crates/next-core/src/env.rs
  crates/next-core/src/next_config.rs
Labels: area: turbopack

#3348 fix(turborepo): Passing a relative path to --cwd when using --skip-infer.
  crates/turborepo-lib/src/cli.rs
Labels: area: turbopack

#3349 Recommend cram extension in dev environment
  .vscode/extensions.json
  .vscode/settings.json
Labels: pr: automerge

#3353 fix(prettier): format
  crates/turbopack/tests/node-file-trace/integration/mdx/example.mdx
Labels: area: turbopack

#3351 fix(docs): remove empty array instruction
  docs/pages/repo/docs/core-concepts/caching.mdx
Labels: area: docs, pr: automerge

#3325 rename turbopackWebpackLoaders to turbopackLoaders
  crates/next-core/src/next_config.rs
  crates/next-dev/tests/integration/turbopack/basic/webpack-loaders/next.config.js
Labels: pr: automerge, area: turbopack

#3270 Cover gitignored env files in docs and examples
  docs/pages/repo/docs/core-concepts/caching.mdx
  examples/basic/turbo.json
  examples/kitchen-sink/turbo.json
  examples/with-changesets/turbo.json
  examples/with-docker/turbo.json
  examples/with-npm/turbo.json
  examples/with-prisma/turbo.json
  examples/with-react-native-web/turbo.json
  examples/with-tailwind/turbo.json
  packages/create-turbo/templates/_shared_ts/turbo.json
Labels: area: docs, area: examples, pr: automerge, pkg: create-turbo

#3303 Update `swc_core` to `v0.56.0`
  Cargo.lock
  Cargo.toml
  crates/turbopack-tests/tests/snapshot/basic/async_chunk/output/20803_foo_index.js.map
  crates/turbopack-tests/tests/snapshot/basic/async_chunk/output/crates_turbopack-tests_tests_snapshot_basic_async_chunk_input_import.js.map
  crates/turbopack-tests/tests/snapshot/basic/chunked/output/39e84_foo_index.js.map
  crates/turbopack-tests/tests/snapshot/basic/chunked/output/crates_turbopack-tests_tests_snapshot_basic_chunked_input_index_b11d49.js.map
  crates/turbopack-tests/tests/snapshot/css/absolute-uri-import/output/crates_turbopack-tests_tests_snapshot_css_absolute-uri-import_input_index_e03a4b.js.map
  crates/turbopack-tests/tests/snapshot/css/css/output/crates_turbopack-tests_tests_snapshot_css_css_input_index_907a50.js.map
  crates/turbopack-tests/tests/snapshot/emotion/emotion/output/crates_turbopack-tests_tests_snapshot_emotion_emotion_input_index_b6dbf3.js.map
  crates/turbopack-tests/tests/snapshot/export-alls/cjs-2/output/crates_turbopack-tests_tests_snapshot_export-alls_cjs-2_input_index_176583.js.map
  crates/turbopack-tests/tests/snapshot/export-alls/cjs-script/output/crates_turbopack-tests_tests_snapshot_export-alls_cjs-script_input_index_32f385.js.map
  crates/turbopack-tests/tests/snapshot/import-meta/cjs/output/crates_turbopack-tests_tests_snapshot_import-meta_cjs_input_index_859774.js.map
  crates/turbopack-tests/tests/snapshot/import-meta/esm-multiple/output/79fb1_turbopack-tests_tests_snapshot_import-meta_esm-multiple_input_index_a53493.js.map
  crates/turbopack-tests/tests/snapshot/import-meta/esm-mutable/output/crates_turbopack-tests_tests_snapshot_import-meta_esm-mutable_input_index_bbd10b.js.map
  crates/turbopack-tests/tests/snapshot/import-meta/esm-object/output/crates_turbopack-tests_tests_snapshot_import-meta_esm-object_input_index_31d622.js.map
  crates/turbopack-tests/tests/snapshot/import-meta/esm/output/crates_turbopack-tests_tests_snapshot_import-meta_esm_input_index_7072f9.js.map
  crates/turbopack-tests/tests/snapshot/import-meta/url/output/crates_turbopack-tests_tests_snapshot_import-meta_url_input_index_94525c.js.map
  crates/turbopack-tests/tests/snapshot/imports/dynamic/output/crates_turbopack-tests_tests_snapshot_imports_dynamic_input_vercel.mjs.js.map
  crates/turbopack-tests/tests/snapshot/imports/json/output/crates_turbopack-tests_tests_snapshot_imports_json_input_index_e24981.js.map
  crates/turbopack-tests/tests/snapshot/imports/resolve_error_esm/output/79fb1_turbopack-tests_tests_snapshot_imports_resolve_error_esm_input_index_1a5dd4.js.map
  crates/turbopack-tests/tests/snapshot/imports/static-and-dynamic/output/79fb1_turbopack-tests_tests_snapshot_imports_static-and-dynamic_input_index_bbeff3.js.map
  crates/turbopack-tests/tests/snapshot/imports/static-and-dynamic/output/79fb1_turbopack-tests_tests_snapshot_imports_static-and-dynamic_input_vercel.mjs.js.map
  crates/turbopack-tests/tests/snapshot/imports/static/output/crates_turbopack-tests_tests_snapshot_imports_static_input_index_b8717b.js.map
  crates/turbopack-tests/tests/snapshot/node/node_protocol_external/output/79fb1_turbopack-tests_tests_snapshot_node_node_protocol_external_input_index_6a3d80.js.map
  crates/turbopack-tests/tests/snapshot/styled_components/styled_components/output/a587c_tests_snapshot_styled_components_styled_components_input_index_7b57d9.js.map
  crates/turbopack-tests/tests/snapshot/swc_transforms/mono_transforms/output/7b7bf_third_party_component_index.js.map
  crates/turbopack-tests/tests/snapshot/swc_transforms/mono_transforms/output/a587c_tests_snapshot_swc_transforms_mono_transforms_input_packages_app_index_739f58.js.map
  crates/turbopack-tests/tests/snapshot/swc_transforms/mono_transforms/output/a587c_tests_snapshot_swc_transforms_mono_transforms_input_packages_component_index.js.map
  crates/turbopack-tests/tests/snapshot/swc_transforms/preset_env/output/79fb1_turbopack-tests_tests_snapshot_swc_transforms_preset_env_input_index_44c34f.js.map
Labels: pr: automerge, area: turbopack

#3302 chore: Port logout to be pure Rust
  Cargo.lock
  cli/internal/cmd/auth/logout.go
  cli/internal/cmd/root.go
  crates/turborepo-lib/Cargo.toml
  crates/turborepo-lib/src/cli.rs
  crates/turborepo-lib/src/commands/logout.rs
  crates/turborepo-lib/src/commands/mod.rs
  crates/turborepo-lib/src/config.rs
  crates/turborepo-lib/src/lib.rs
  crates/turborepo-lib/src/ui/mod.rs
Labels: area: turborepo, area: turbopack

#3365 fix(docs): small typo in caching doc
  docs/pages/repo/docs/core-concepts/caching.mdx
Labels: area: docs

#3358 Unused packages.
  docs/package.json
  pnpm-lock.yaml
Labels: area: docs, pr: automerge, area: site

#3368 Factor out ReadTurboConfig method
  cli/internal/fs/testdata/correct/package.json
  cli/internal/fs/testdata/invalid-env-1/package.json
  cli/internal/fs/testdata/invalid-env-2/package.json
  cli/internal/fs/testdata/invalid-global-env/package.json
  cli/internal/fs/testdata/legacy-env/package.json
  cli/internal/fs/turbo_json.go
  cli/internal/fs/turbo_json_test.go
Labels: area: turborepo

#3331 fix error overlay sometimes now showing
  crates/next-core/js/src/dev/hmr-client.ts
Labels: area: turbopack

#3374 Install AsyncLocalStorage for appDir rendering
  .prettierignore
  crates/next-core/js/src/entry/app-renderer.tsx
  crates/next-core/js/src/polyfill/async-local-storage.js
  crates/next-core/js/types/globals.d.ts
Labels: pr: automerge, area: turbopack

#3316 Fix community contributor's name.
  docs/pages/blog/turbo-1-7-0.mdx
Labels: area: docs

#3379 Remove unused param from getTaskDefinition
  cli/internal/core/engine.go
Labels: area: turborepo

#3371 chore: switch turbo updater to use console for coloring
  Cargo.lock
  crates/turbo-updater/Cargo.toml
  crates/turbo-updater/src/lib.rs
  crates/turbo-updater/src/ui/mod.rs
  crates/turbo-updater/src/ui/utils.rs
Labels: area: turbopack

#3384 Update link hash in blog post
  docs/pages/blog/turbo-1-7-0.mdx
Labels: area: docs, pr: automerge

#3343 add full next.js config
  Cargo.toml
  crates/next-core/js/src/entry/config/next.js
  crates/next-core/src/next_config.rs
  crates/turbo-tasks/src/trace.rs
Labels: area: turbopack

#3170 Basic @next/font/google integration test
  Cargo.lock
  crates/next-core/src/next_font_google/mod.rs
  crates/next-core/src/next_server/transforms.rs
  crates/next-dev/Cargo.toml
  crates/next-dev/tests/integration.rs
  crates/next-dev/tests/integration/next/font-google/basic/__httpmock__/fonts.yml
  crates/next-dev/tests/integration/next/font-google/basic/pages/index.js
Labels: pr: automerge, area: turbopack

#3376 Fix test fixture for duplicate-names test
  cli/internal/context/context_test.go
  cli/internal/context/testdata/dupe-workspace-names/apps/a/package.json
  cli/internal/context/testdata/dupe-workspace-names/apps/b/package.json
  cli/internal/context/testdata/dupe-workspace-names/package.json
  cli/internal/context/testdata/dupe-workspace-names/packages/ui/package.json
  cli/internal/context/testdata/dupe-workspace-names/pnpm-lock.yaml
  cli/internal/context/testdata/dupe-workspace-names/pnpm-workspace.yaml
  cli/internal/context/testdata/repo-with-dupe-workspaces/apps/a/package.json
  cli/internal/context/testdata/repo-with-dupe-workspaces/apps/b/package.json
Labels: area: turborepo

#3366 Dev server: only log requests with status >=400
  crates/turbopack-dev-server/src/lib.rs
Labels: pr: automerge, area: turbopack

#3385 NodeProcessPool: implement debug mode for a single-process passing --inspect-brk
  crates/next-core/src/next_config.rs
  crates/turbopack-node/src/evaluate.rs
  crates/turbopack-node/src/lib.rs
  crates/turbopack-node/src/pool.rs
  crates/turbopack-node/src/render/render_proxy.rs
  crates/turbopack-node/src/render/render_static.rs
  crates/turbopack-node/src/transforms/postcss.rs
  crates/turbopack-node/src/transforms/webpack.rs
Labels: pr: automerge, area: turbopack

#3377 Print resolvedTaskDefinition in DryRun
  cli/integration_tests/basic_monorepo/dry_run.t
  cli/integration_tests/basic_monorepo/monorepo/turbo.json
  cli/integration_tests/basic_monorepo/verbosity.t
  cli/integration_tests/single_package/dry-run.t
  cli/integration_tests/single_package_deps/dry-run.t
  cli/integration_tests/single_package_no_config/dry-run.t
  cli/internal/fs/turbo_json.go
  cli/internal/run/dry_run.go
Labels: area: turborepo

#3386 Always mark styled-jsx as external to avoid duplicating with bundled copies
  crates/next-core/src/next_config.rs
  crates/next-core/src/next_import_map.rs
Labels: pr: automerge, area: turbopack

#3388 ci(actions): ensure cargo check with frozen lockfile
  .github/workflows/test.yml
Labels: pr: automerge, area: ci

#3378 Factor out method to get resolved TaskDefinition
  cli/internal/graph/graph.go
Labels: area: turborepo

#3383 Anthony changed his Twitter handle!
  docs/content/team.ts
Labels: area: site

#3094 add garbage collection
  Cargo.lock
  crates/auto-hash-map/src/map.rs
  crates/auto-hash-map/src/set.rs
  crates/next-dev/src/devserver_options.rs
  crates/next-dev/src/lib.rs
  crates/next-dev/tests/integration.rs
  crates/node-file-trace/src/lib.rs
  crates/turbo-tasks-fetch/Cargo.toml
  crates/turbo-tasks-fs/examples/hash_directory.rs
  crates/turbo-tasks-fs/examples/hash_glob.rs
  crates/turbo-tasks-memory/Cargo.toml
  crates/turbo-tasks-memory/benches/scope_stress.rs
  crates/turbo-tasks-memory/benches/stress.rs
  crates/turbo-tasks-memory/src/cell.rs
  crates/turbo-tasks-memory/src/concurrent_priority_queue.rs
  crates/turbo-tasks-memory/src/gc.rs
  crates/turbo-tasks-memory/src/lib.rs
  crates/turbo-tasks-memory/src/map_guard.rs
  crates/turbo-tasks-memory/src/memory_backend.rs
  crates/turbo-tasks-memory/src/memory_backend_with_pg.rs
  crates/turbo-tasks-memory/src/output.rs
  crates/turbo-tasks-memory/src/priority_pair.rs
  crates/turbo-tasks-memory/src/scope.rs
  crates/turbo-tasks-memory/src/task.rs
  crates/turbo-tasks-memory/src/task/meta_state.rs
  crates/turbo-tasks-memory/src/task/stats.rs
  crates/turbo-tasks-rocksdb/src/old_version/backend.rs
  crates/turbo-tasks-testing/src/macros.rs
  crates/turbo-tasks/src/backend.rs
  crates/turbo-tasks/src/manager.rs
  crates/turbo-tasks/src/no_move_vec.rs
  crates/turbopack-tests/tests/snapshot.rs
  crates/turbopack/benches/node_file_trace.rs
  crates/turbopack/examples/turbopack.rs
  crates/turbopack/tests/node-file-trace.rs
Labels: area: turbopack

#3324 improve resolveAlias to allow conditions to allow to apply aliases to…
  crates/next-core/src/fallback.rs
  crates/next-core/src/next_config.rs
  crates/next-core/src/next_import_map.rs
  crates/next-dev/tests/integration/next/resolve-alias/basic/index.js
  crates/next-dev/tests/integration/next/resolve-alias/basic/next.config.js
  crates/turbopack-core/src/resolve/alias_map.rs
  crates/turbopack-core/src/resolve/exports.rs
  crates/turbopack-core/src/resolve/mod.rs
  crates/turbopack/src/module_options/module_options_context.rs
Labels: area: turbopack

#3398 Update mdxjs and testing crates
  Cargo.lock
  Cargo.toml
  crates/next-transform-dynamic/Cargo.toml
  crates/next-transform-strip-page-exports/Cargo.toml
Labels: area: turbopack

#3399 prevent injecting non js files in app renderer
  crates/next-core/js/src/entry/app-renderer.tsx
Labels: area: turbopack

#3290 feat(release): cleanup release docs & workflows
  .github/workflows/build_go_lib.yml
  .github/workflows/release-turborepo.yml
  .github/workflows/turborepo-release-step-1.yml
  .github/workflows/turborepo-release-step-2.yml
  .github/workflows/turborepo-release-step-3.yml
  release.md
Labels: area: ci

#3406 fix(docs): use correct enterprise link in footer
  docs/components/Footer.tsx
  docs/components/SiteSwitcher.tsx
Labels: area: site

#3405 Refactor Task Definition retrieval to support composable configs
  cli/internal/core/engine.go
  cli/internal/core/engine_persistent_deps_test.go
  cli/internal/core/engine_test.go
  cli/internal/run/run.go
Labels: area: turborepo

#3409 Add support for jsconfig.json resolution
  crates/turbopack-ecmascript/src/references/mod.rs
  crates/turbopack-ecmascript/src/typescript/resolve.rs
  crates/turbopack-tests/tests/snapshot/tsconfig/baseurl/output/crates_turbopack-tests_tests_snapshot_tsconfig_baseurl_input_index_5906e5.js.map
  crates/turbopack-tests/tests/snapshot/typescript/jsconfig-baseurl/input/index.js
  crates/turbopack-tests/tests/snapshot/typescript/jsconfig-baseurl/input/jsconfig.json
  crates/turbopack-tests/tests/snapshot/typescript/jsconfig-baseurl/input/prop.js
  crates/turbopack-tests/tests/snapshot/typescript/jsconfig-baseurl/output/79fb1_turbopack-tests_tests_snapshot_typescript_jsconfig-baseurl_input_index_88ac56.js
  crates/turbopack-tests/tests/snapshot/typescript/jsconfig-baseurl/output/79fb1_turbopack-tests_tests_snapshot_typescript_jsconfig-baseurl_input_index_88ac56.js.map
  crates/turbopack-tests/tests/snapshot/typescript/tsconfig-baseurl/input/index.ts
  crates/turbopack-tests/tests/snapshot/typescript/tsconfig-baseurl/input/prop.ts
  crates/turbopack-tests/tests/snapshot/typescript/tsconfig-baseurl/input/tsconfig.json
  crates/turbopack-tests/tests/snapshot/typescript/tsconfig-baseurl/options.json
  crates/turbopack-tests/tests/snapshot/typescript/tsconfig-baseurl/output/a587c_tests_snapshot_typescript_tsconfig-baseurl_input_index_8faddd.ts.js
  crates/turbopack-tests/tests/snapshot/typescript/tsconfig-baseurl/output/a587c_tests_snapshot_typescript_tsconfig-baseurl_input_index_8faddd.ts.js.map
Labels: pr: automerge, area: turbopack

#3391 ci(actions): ensure cargo check with frozen lockfile
  .github/workflows/test.yml
Labels: pr: automerge, area: ci

#3412 Handle empty pageData during HMR
  crates/next-core/js/src/internal/page-server-handler.tsx
Labels: pr: automerge, area: turbopack

#3350 ci(actions): report failed --turbo next.js tests
  .github/actions/next-integration-stat/action.yml
  .github/actions/next-integration-stat/index.js
  .github/actions/next-integration-stat/package-lock.json
  .github/actions/next-integration-stat/package.json
  .github/actions/next-integration-stat/src/index.js
  .github/workflows/test.yml
Labels: pr: automerge, area: ci

#3320 Add minimal source map for css modules locals js
  crates/turbopack-css/src/module_asset.rs
  crates/turbopack-ecmascript/src/lib.rs
  crates/turbopack-tests/tests/snapshot/css/css/output/8697f_foo_style.module.css.js
  crates/turbopack-tests/tests/snapshot/css/css/output/8697f_foo_style.module.css.js.map
  crates/turbopack-tests/tests/snapshot/css/css/output/crates_turbopack-tests_tests_snapshot_css_css_input_index_907a50.js.map
Labels: area: turbopack

#3430 Fix deprecated turbo.json in E2E tests
  cli/scripts/e2e/e2e.ts
Labels: area: turborepo

#3411 Rename TopologicGraph to WorkspaceGraph
  cli/internal/context/context.go
  cli/internal/core/engine.go
Labels: area: turborepo

#3429 Move Go Integration tests into main test Github workflow
  .github/workflows/pr-go-integration-all.yml
  .github/workflows/pr-go-integration-filtered.yml
  .github/workflows/test.yml
Labels: pr: automerge, area: ci

#3436 chore(examples): update with-docker lock
  examples/with-docker/yarn.lock
Labels: area: examples

#3421 chore(turbo-ignore): update release flow
  CONTRIBUTING.md
  cli/Makefile
  cli/package.json
  packages/turbo-ignore/README.md
  packages/turbo-ignore/package.json
  pnpm-lock.yaml
Labels: pkg: turbo-ignore, area: turborepo

#3176 fix(prune) pnpm patch name incorrectness
  cli/internal/lockfile/pnpm_lockfile.go
  cli/internal/lockfile/pnpm_lockfile_test.go
  cli/internal/lockfile/testdata/pnpm-patch.yaml
  cli/internal/packagemanager/fixtures/pnpm-patches.json
  cli/internal/packagemanager/pnpm_test.go
Labels: area: turborepo

#2112 Implementing package inference
  cli/integration_tests/bad_flag.t
  cli/integration_tests/basic_monorepo/infer_pkg.t
  cli/integration_tests/basic_monorepo/verbosity.t
  cli/internal/run/run.go
  cli/internal/scope/filter/filter.go
  cli/internal/scope/filter/filter_test.go
  cli/internal/scope/filter/parse_target_selector.go
  cli/internal/scope/filter/parse_target_selector_test.go
  cli/internal/scope/scope.go
  cli/internal/scope/scope_test.go
  cli/internal/turbopath/absolute_system_path.go
  cli/internal/turbopath/absolute_system_path_test.go
  cli/internal/turbopath/relative_system_path.go
  cli/internal/turbostate/turbostate.go
  crates/turborepo-lib/src/cli.rs
  crates/turborepo-lib/src/shim.rs
Labels: pr: automerge, area: turborepo, area: turbopack

#3444 publish 1.7.1-canary.5 to registry
  cli/cmd/turbo/version.go
  packages/create-turbo/package.json
  packages/turbo-codemod/package.json
  packages/turbo/package.json
  version.txt
Labels: pkg: create-turbo, area: turborepo

#3352 feat: add support for pnpm v6 lockfiles
  cli/internal/lockfile/pnpm_lockfile.go
  cli/internal/lockfile/pnpm_lockfile_test.go
  cli/internal/lockfile/testdata/pnpm-patch-v6.yaml
  cli/internal/lockfile/testdata/pnpm8.yaml
Labels: area: turborepo

#3410 Refactor task dependencies retrieval to support composable configs
  cli/internal/core/engine.go
  cli/internal/core/engine_persistent_deps_test.go
  cli/internal/core/engine_test.go
  cli/internal/run/run.go
Labels: area: turborepo

#3428 Store TaskDefinitions in the Graph by Task ID
  cli/integration_tests/topological_deps/monorepo/.gitignore
  cli/integration_tests/topological_deps/monorepo/apps/my-app/package.json
  cli/integration_tests/topological_deps/monorepo/package.json
  cli/integration_tests/topological_deps/monorepo/packages/util/package.json
  cli/integration_tests/topological_deps/monorepo/turbo.json
  cli/integration_tests/topological_deps/run.t
  cli/integration_tests/topological_deps/setup.sh
  cli/internal/core/engine.go
  cli/internal/core/engine_persistent_deps_test.go
  cli/internal/core/engine_test.go
  cli/internal/fs/turbo_json.go
  cli/internal/graph/graph.go
  cli/internal/run/run.go
  cli/internal/run/run_test.go
  cli/internal/taskhash/taskhash.go
Labels: area: turborepo

#3443 Remove empty outputs config from turbo.json
  turbo.json
Labels: pr: chore, pr: automerge

#3096 Fixed printing of FULL TURBO on macOS terminal
  cli/internal/run/run_state.go
Labels: area: turborepo

#3334 refactor content sources to avoid evaluating content before serving
  crates/next-core/src/manifest.rs
  crates/next-core/src/next_image/mod.rs
  crates/next-dev/src/turbo_tasks_viz.rs
  crates/turbopack-dev-server/src/introspect/mod.rs
  crates/turbopack-dev-server/src/lib.rs
  crates/turbopack-dev-server/src/source/asset_graph.rs
  crates/turbopack-dev-server/src/source/combined.rs
  crates/turbopack-dev-server/src/source/conditional.rs
  crates/turbopack-dev-server/src/source/mod.rs
  crates/turbopack-dev-server/src/source/source_maps.rs
  crates/turbopack-dev-server/src/source/specificity.rs
  crates/turbopack-dev-server/src/source/static_assets.rs
  crates/turbopack-dev-server/src/update/stream.rs
  crates/turbopack-node/src/render/node_api_source.rs
  crates/turbopack-node/src/render/rendered_source.rs
  crates/turbopack-node/src/source_map/content_source.rs
Labels: pr: automerge, area: turbopack

#3452 fix(release): build turbo-ignore
  cli/Makefile
Labels: area: turborepo

#3453 feat(release): auto create release PR
  .github/workflows/turborepo-release-step-3.yml
  cli/internal/packagemanager/fixtures/pnpm-patches.json
Labels: area: turborepo, area: ci

#3454 fix(release): use turbo to build packages
  cli/Makefile
Labels: area: turborepo

#3435 Fix data requests for dynamic routes
  Cargo.lock
  crates/next-core/Cargo.toml
  crates/next-core/src/app_source.rs
  crates/next-core/src/lib.rs
  crates/next-core/src/page_source.rs
  crates/next-core/src/params_matcher/mod.rs
  crates/next-core/src/params_matcher/path_regex.rs
  crates/next-core/src/util.rs
  crates/turbopack-node/Cargo.toml
  crates/turbopack-node/src/lib.rs
  crates/turbopack-node/src/match_params.rs
  crates/turbopack-node/src/render/node_api_source.rs
  crates/turbopack-node/src/render/rendered_source.rs
Labels: pr: automerge, area: turbopack

#3457 publish 1.7.1-canary.6 to registry
  cli/cmd/turbo/version.go
  packages/create-turbo/package.json
  packages/turbo-codemod/package.json
  packages/turbo-ignore/package.json
  packages/turbo/package.json
  version.txt
Labels: pkg: create-turbo, pkg: turbo-ignore, area: turborepo

#3451 force entrypoint file name for node.js execution to be .js
  crates/turbopack-node/src/evaluate.rs
Labels: area: turbopack

#3403 don't run `cargo fmt --all` in pre-commit hook
  .husky/pre-commit
Labels: area: ci

#2710 Fixed prisma example to allow importing interfaces from database
  examples/with-prisma/apps/web/pages/api/users.ts
  examples/with-prisma/packages/database/src/client.ts
Labels: area: examples

#3458 fix: use the correct value in termsize tuple
  crates/turbo-updater/src/ui/mod.rs
Labels: area: turbopack

#3441 ci(workflow): setup a new workflow for next.js repo_dispatch
  .github/workflows/on-nextjs-release-publish.yml
Labels: pr: automerge, area: ci

#3450 fix chunk optimization
  crates/turbo-tasks-fs/src/lib.rs
  crates/turbopack-core/src/chunk/optimize.rs
  crates/turbopack-css/src/chunk/optimize.rs
  crates/turbopack-ecmascript/src/chunk/mod.rs
  crates/turbopack-ecmascript/src/chunk/optimize.rs
  crates/turbopack-ecmascript/src/lib.rs
  crates/turbopack-tests/tests/snapshot/emotion/emotion/output/crates_turbopack-tests_tests_snapshot_emotion_emotion_input_index_681bc9.js
  crates/turbopack-tests/tests/snapshot/emotion/emotion/output/crates_turbopack-tests_tests_snapshot_emotion_emotion_input_index_681bc9.js.map
  crates/turbopack-tests/tests/snapshot/styled_components/styled_components/output/a587c_tests_snapshot_styled_components_styled_components_input_index_8db694.js
  crates/turbopack-tests/tests/snapshot/styled_components/styled_components/output/a587c_tests_snapshot_styled_components_styled_components_input_index_8db694.js.map
  crates/turbopack-tests/tests/snapshot/swc_transforms/mono_transforms/output/a587c_tests_snapshot_swc_transforms_mono_transforms_input_packages_app_index_5da042.js
  crates/turbopack-tests/tests/snapshot/swc_transforms/mono_transforms/output/a587c_tests_snapshot_swc_transforms_mono_transforms_input_packages_app_index_5da042.js.map
Labels: area: turbopack

#3311 move clippy to separate action and remove cache
  .github/workflows/test.yml
Labels: area: ci

#3460 ci(workflow): reusable next.js integration test
  .github/workflows/nextjs-integration-test.yml
  .github/workflows/test.yml
Labels: pr: automerge, area: ci

#3468 ci(workflow): run next.js integration test with new release
  .github/workflows/on-nextjs-release-publish.yml
Labels: pr: automerge, area: ci

#3464 partially support next metadata
  crates/next-core/js/package.json
  crates/next-core/js/src/entry/app-renderer.tsx
  crates/next-core/js/src/entry/app/layout-entry.tsx
  crates/next-dev-tests/tests/integration.rs
  crates/next-dev-tests/tests/integration/next/app/basic/app/layout.tsx
  crates/next-dev-tests/tests/integration/next/app/basic/app/page.tsx
  crates/next-dev-tests/tests/integration/next/app/basic/app/test.tsx
  crates/next-dev-tests/tests/integration/next/app/basic/next.config.js
  crates/next-dev-tests/tests/integration/next/app/metadata/app/layout.tsx
  crates/next-dev-tests/tests/integration/next/app/metadata/app/page.tsx
  crates/next-dev-tests/tests/integration/next/app/metadata/app/test.tsx
  crates/next-dev-tests/tests/integration/next/app/metadata/app/triangle-black.png
  crates/next-dev-tests/tests/integration/next/app/metadata/next-env.d.ts
  crates/next-dev-tests/tests/integration/next/app/metadata/next.config.js
  crates/next-dev-tests/tests/integration/next/app/metadata/tsconfig.json
  crates/next-dev-tests/tests/integration/next/dynamic/no-ssr/pages/index.js
  crates/next-dev-tests/tests/integration/next/dynamic/ssr/pages/index.js
  crates/next-dev-tests/tests/integration/next/font-google/basic/pages/index.js
  crates/next-dev-tests/tests/integration/next/image/basic/pages/index.js
  crates/next-dev-tests/tests/integration/next/image/transpilePackages/pages/index.js
  crates/next-dev-tests/tests/integration/next/tailwind/basic/pages/index.jsx
  crates/next-dev-tests/tests/package.json
  crates/next-dev/test-harness/deferred.js
  crates/next-dev/test-harness/harness.js
  crates/turbo-tasks-fs/src/lib.rs
  crates/turbopack-core/src/chunk/optimize.rs
  crates/turbopack-ecmascript/src/chunk/optimize.rs
  pnpm-lock.yaml
Labels: area: turbopack

#3080 Documentation for Remote Caching in Docker builds.
  docs/pages/repo/docs/handbook/deploying-with-docker.mdx
  examples/with-docker/README.md
  examples/with-docker/apps/api/Dockerfile
  examples/with-docker/apps/web/Dockerfile
Labels: area: examples

#3459 port(turborepo): Ported CommandBase from Go
  crates/turborepo-lib/src/cli.rs
  crates/turborepo-lib/src/commands/logout.rs
  crates/turborepo-lib/src/commands/mod.rs
  crates/turborepo-lib/src/config/mod.rs
  crates/turborepo-lib/src/config/repo.rs
Labels: pr: automerge, area: turbopack
