Repository vercel/turborepo, pull requests merged in 2023-11, with the labels that each got.

#6335 fix(docs): Add full stop punctuation and add inifinitive marker to verb
  docs/pages/repo/docs/getting-started/existing-monorepo.mdx
Labels: area: docs, owned-by: turborepo

#6306 fix: task definition serialization
  crates/turborepo-env/src/lib.rs
  crates/turborepo-lib/src/config/turbo.rs
  crates/turborepo-lib/src/package_graph/mod.rs
  crates/turborepo-lib/src/run/summary/execution.rs
  crates/turborepo-lib/src/run/summary/mod.rs
  crates/turborepo-lib/src/run/summary/task.rs
  crates/turborepo-lib/src/run/summary/task_factory.rs
  crates/turborepo-lib/src/task_graph/mod.rs
  crates/turborepo-lib/src/task_graph/visitor.rs
  crates/turborepo-lib/src/task_hash.rs
  turborepo-tests/integration/tests/dry_json/monorepo.t
Labels: owned-by: turborepo, created-by: turborepo

#6340 fix: Empty command returns help text and not error
  benchmark/src/ttft.ts
  crates/turborepo-lib/src/cli/mod.rs
  turborepo-tests/integration/tests/bad_flag.t
  turborepo-tests/integration/tests/dry_json/monorepo-no-changes.t
  turborepo-tests/integration/tests/run-summary/monorepo.t
  turborepo-tests/integration/tests/run-summary/single-package.t
  turborepo-tests/integration/tests/single_package/graph.t
Labels: owned-by: turborepo, created-by: turborepo

#6342 docs: Added nested workspaces under troubleshooting
  docs/pages/repo/docs/troubleshooting.mdx
Labels: area: docs, owned-by: turborepo, created-by: turborepo

#6339 feat: add support for --parallel
  crates/turborepo-lib/src/opts.rs
  crates/turborepo-lib/src/package_graph/mod.rs
  crates/turborepo-lib/src/run/mod.rs
Labels: owned-by: turborepo, created-by: turborepo

#6301 chore(turbo-utils): Remove tsup build
  packages/create-turbo/jest.config.js
  packages/turbo-codemod/jest.config.js
  packages/turbo-gen/jest.config.js
  packages/turbo-ignore/jest.config.js
  packages/turbo-utils/package.json
  packages/turbo-utils/tsup.config.ts
  packages/turbo-workspaces/jest.config.js
  pnpm-lock.yaml
Labels: pkg: create-turbo, pkg: turbo-ignore, pkg: turbo-codemod, pkg: turbo-gen, pkg: turbo-workspaces, owned-by: turborepo, created-by: turborepo

#6349 feat(Turborepo): Add more detail to a cookie error variant
  crates/turborepo-filewatch/src/cookie_jar.rs
Labels: owned-by: turborepo, created-by: turborepo

#6355 fix(Turborepo): Bump x/net, go mod tidy
  cli/go.mod
  cli/go.sum
  go.work.sum
Labels: owned-by: turborepo, created-by: turborepo

#6360 fix(turbo-utils): correct typo on package.json on types field
  packages/turbo-utils/package.json
Labels: owned-by: turborepo

#6359 Turbopack: Defer calculating source positions until needed
  .github/workflows/test.yml
  crates/turbopack-core/src/issue/analyze.rs
  crates/turbopack-core/src/issue/mod.rs
  crates/turbopack-core/src/issue/resolve.rs
  crates/turbopack-core/src/resolve/mod.rs
  crates/turbopack-css/src/references/import.rs
  crates/turbopack-css/src/references/mod.rs
  crates/turbopack-css/src/references/url.rs
  crates/turbopack-ecmascript/src/references/amd.rs
  crates/turbopack-ecmascript/src/references/cjs.rs
  crates/turbopack-ecmascript/src/references/esm/base.rs
  crates/turbopack-ecmascript/src/references/esm/dynamic.rs
  crates/turbopack-ecmascript/src/references/esm/url.rs
  crates/turbopack-ecmascript/src/references/mod.rs
  crates/turbopack-ecmascript/src/references/require_context.rs
  crates/turbopack-ecmascript/src/resolve/mod.rs
  crates/turbopack-ecmascript/src/typescript/resolve.rs
  crates/turbopack-swc-utils/src/emitter.rs
Labels: area: ci, owned-by: turborepo, created-by: web-tooling

#6274 add backtrace for trait calls
  crates/turbo-tasks-memory/src/task.rs
Labels: owned-by: web-tooling, created-by: web-tooling

#6305 Triple chunk size heuristic
  crates/turbopack-core/src/chunk/chunking.rs
Labels: created-by: web-tooling

#6304 improve resolving performance
  crates/turbopack-core/src/resolve/pattern.rs
Labels: created-by: web-tooling

#6286 Devlow: refactor browser.ts
  packages/devlow-bench/package.json
  packages/devlow-bench/src/browser.ts
  pnpm-lock.yaml
Labels: owned-by: turborepo, created-by: web-tooling

#6367 make test less flaky
  crates/turbo-tasks-memory/src/aggregation_tree/tests.rs
Labels: created-by: web-tooling

#6370 fix: use which for package manager binary discovery
  crates/turborepo-lib/src/task_graph/visitor.rs
Labels: owned-by: turborepo, created-by: turborepo

#6366 chore(tests): delete a mostly copy-pasted fixture
  turborepo-tests/integration/tests/_fixtures/inputs/.gitignore
  turborepo-tests/integration/tests/_fixtures/inputs/apps/my-app/excluded.txt
  turborepo-tests/integration/tests/_fixtures/inputs/apps/my-app/included.txt
  turborepo-tests/integration/tests/_fixtures/inputs/apps/my-app/package.json
  turborepo-tests/integration/tests/_fixtures/inputs/bar.txt
  turborepo-tests/integration/tests/_fixtures/inputs/foo.txt
  turborepo-tests/integration/tests/_fixtures/inputs/package.json
  turborepo-tests/integration/tests/run-caching/excluded-inputs/excluded-inputs.t
  turborepo-tests/integration/tests/run-caching/excluded-inputs/turbo.json
Labels: owned-by: turborepo, created-by: turborepo

#6273 refactor: Moving to thiserror part 2
  Cargo.lock
  crates/turborepo-api-client/src/error.rs
  crates/turborepo-auth/src/error.rs
  crates/turborepo-env/src/lib.rs
  crates/turborepo-lib/Cargo.toml
  crates/turborepo-lib/src/child.rs
  crates/turborepo-lib/src/cli/error.rs
  crates/turborepo-lib/src/commands/generate.rs
  crates/turborepo-lib/src/commands/info.rs
  crates/turborepo-lib/src/commands/link.rs
  crates/turborepo-lib/src/commands/login.rs
  crates/turborepo-lib/src/commands/logout.rs
  crates/turborepo-lib/src/commands/mod.rs
  crates/turborepo-lib/src/commands/run.rs
  crates/turborepo-lib/src/commands/unlink.rs
  crates/turborepo-lib/src/config/mod.rs
  crates/turborepo-lib/src/config/turbo_config.rs
  crates/turborepo-lib/src/daemon/mod.rs
  crates/turborepo-lib/src/engine/mod.rs
  crates/turborepo-lib/src/execution_state.rs
  crates/turborepo-lib/src/lib.rs
  crates/turborepo-lib/src/opts.rs
  crates/turborepo-lib/src/package_graph/builder.rs
  crates/turborepo-lib/src/package_graph/mod.rs
  crates/turborepo-lib/src/run/error.rs
  crates/turborepo-lib/src/run/global_hash.rs
  crates/turborepo-lib/src/run/mod.rs
  crates/turborepo-lib/src/run/scope/mod.rs
  crates/turborepo-lib/src/run/summary/global_hash.rs
  crates/turborepo-lib/src/run/summary/mod.rs
  crates/turborepo-lib/src/run/summary/task.rs
  crates/turborepo-lib/src/shim.rs
  crates/turborepo-lib/src/task_graph/mod.rs
  crates/turborepo-repository/src/package_manager/mod.rs
  crates/turborepo-scm/src/lib.rs
  crates/turborepo-ui/src/lib.rs
  crates/turborepo/src/panic_handler.rs
Labels: pr: fixship, owned-by: turborepo, created-by: turborepo

#6369 refactor(turborepo): Changed cache misses to be a non-error
  crates/turborepo-api-client/src/lib.rs
  crates/turborepo-auth/src/auth/login.rs
  crates/turborepo-auth/src/auth/sso.rs
  crates/turborepo-cache/src/async_cache.rs
  crates/turborepo-cache/src/fs.rs
  crates/turborepo-cache/src/http.rs
  crates/turborepo-cache/src/lib.rs
  crates/turborepo-cache/src/multiplexer.rs
  crates/turborepo-lib/src/run/cache.rs
  crates/turborepo-lib/src/run/summary/task.rs
  crates/turborepo-lib/src/task_graph/visitor.rs
  crates/turborepo-lib/src/task_hash.rs
Labels: owned-by: turborepo, created-by: turborepo

#6372 fix: use correct command for package managers
  crates/turborepo-lib/src/task_graph/visitor.rs
  crates/turborepo-repository/src/package_manager/mod.rs
Labels: owned-by: turborepo, created-by: turborepo

#6343 build: Update `swc_core` to `v0.86.40`
  Cargo.lock
  Cargo.toml
  crates/turbopack-tests/tests/snapshot/emotion/emotion/output/crates_turbopack-tests_tests_snapshot_952867._.js
  crates/turbopack-tests/tests/snapshot/runtime/default_dev_runtime/output/79fb1_turbopack-tests_tests_snapshot_runtime_default_dev_runtime_input_index_40d141.js
  crates/turbopack-tests/tests/snapshot/runtime/default_dev_runtime/output/79fb1_turbopack-tests_tests_snapshot_runtime_default_dev_runtime_input_index_40d141.js.map
Labels: pr: automerge, owned-by: turborepo, created-by: web-tooling

#6357 feat: forward signals to process manager
  crates/turborepo-lib/src/commands/run.rs
  crates/turborepo-lib/src/lib.rs
  crates/turborepo-lib/src/run/mod.rs
  crates/turborepo-lib/src/signal.rs
Labels: owned-by: turborepo, created-by: turborepo

#6373 fix: Move package manager tests to turbo info
  crates/turborepo-lib/src/commands/info.rs
  turborepo-tests/integration/tests/package_manager.t
Labels: owned-by: turborepo, created-by: turborepo

#6371 docs: document --profile flag
  docs/pages/repo/docs/reference/command-line-reference/run.mdx
Labels: area: docs, pr: fixship, owned-by: turborepo, created-by: turborepo

#6315 port(turborepo): Analytics Client
  Cargo.lock
  Cargo.toml
  cli/internal/run/run.go
  crates/turborepo-analytics/Cargo.toml
  crates/turborepo-analytics/src/lib.rs
  crates/turborepo-api-client/src/analytics.rs
  crates/turborepo-api-client/src/error.rs
  crates/turborepo-api-client/src/lib.rs
  crates/turborepo-api-client/src/spaces.rs
  crates/turborepo-cache/Cargo.toml
  crates/turborepo-cache/src/async_cache.rs
  crates/turborepo-cache/src/fs.rs
  crates/turborepo-cache/src/http.rs
  crates/turborepo-cache/src/multiplexer.rs
  crates/turborepo-cache/src/test_cases.rs
  crates/turborepo-lib/Cargo.toml
  crates/turborepo-lib/src/run/mod.rs
  crates/turborepo-vercel-api-mock/src/lib.rs
  crates/turborepo-vercel-api/Cargo.toml
  crates/turborepo-vercel-api/src/lib.rs
  crates/turborepo-vercel-api/src/snapshots/turborepo_vercel_api__tests__with-id-local-hit.snap
  crates/turborepo-vercel-api/src/snapshots/turborepo_vercel_api__tests__with-id-remote-miss.snap
  crates/turborepo-vercel-api/src/snapshots/turborepo_vercel_api__tests__without-id-remote-miss.snap
  go.work.sum
Labels: owned-by: turborepo, created-by: turborepo

#6381 fix(updater): specify latest for codemod
  crates/turborepo-updater/src/lib.rs
Labels: owned-by: turborepo, created-by: turborepo

#6375 refactor(Turborepo): Move package graph to repository crate
  Cargo.lock
  crates/turborepo-graph-utils/Cargo.toml
  crates/turborepo-graph-utils/src/lib.rs
  crates/turborepo-graph-utils/src/walker.rs
  crates/turborepo-lib/Cargo.toml
  crates/turborepo-lib/src/cli/error.rs
  crates/turborepo-lib/src/commands/info.rs
  crates/turborepo-lib/src/commands/prune.rs
  crates/turborepo-lib/src/config/turbo.rs
  crates/turborepo-lib/src/engine/builder.rs
  crates/turborepo-lib/src/engine/execute.rs
  crates/turborepo-lib/src/engine/mod.rs
  crates/turborepo-lib/src/framework.rs
  crates/turborepo-lib/src/lib.rs
  crates/turborepo-lib/src/run/cache.rs
  crates/turborepo-lib/src/run/error.rs
  crates/turborepo-lib/src/run/mod.rs
  crates/turborepo-lib/src/run/scope/change_detector.rs
  crates/turborepo-lib/src/run/scope/filter.rs
  crates/turborepo-lib/src/run/scope/mod.rs
  crates/turborepo-lib/src/run/summary/mod.rs
  crates/turborepo-lib/src/run/summary/task_factory.rs
  crates/turborepo-lib/src/run/task_id.rs
  crates/turborepo-lib/src/task_graph/visitor.rs
  crates/turborepo-lib/src/task_hash.rs
  crates/turborepo-repository/Cargo.toml
  crates/turborepo-repository/src/lib.rs
  crates/turborepo-repository/src/package_graph/builder.rs
  crates/turborepo-repository/src/package_graph/mod.rs
Labels: owned-by: turborepo, created-by: turborepo

#6385 fix(docs): clarify output mode for Dockerfile
  docs/pages/repo/docs/handbook/deploying-with-docker.mdx
Labels: area: docs, owned-by: turborepo, created-by: turborepo

#6380 fix: Dry Run Text Output
  crates/turborepo-lib/src/run/summary/mod.rs
  turborepo-tests/integration/tests/dry_run.t
Labels: owned-by: turborepo, created-by: turborepo

#6376 feat(turbopack): support url rewrite behavior options
  crates/turbopack-ecmascript/src/lib.rs
  crates/turbopack-ecmascript/src/references/esm/mod.rs
  crates/turbopack-ecmascript/src/references/esm/url.rs
  crates/turbopack-ecmascript/src/references/mod.rs
  crates/turbopack/src/module_options/mod.rs
  crates/turbopack/src/module_options/module_options_context.rs
Labels: created-by: web-tooling

#6384 chore: fix clippy lints in tests
  crates/turborepo-lib/src/engine/builder.rs
  crates/turborepo-lib/src/task_graph/mod.rs
Labels: owned-by: turborepo, created-by: turborepo

#6391 chore(tests): replace fixture with a fixture config
  turborepo-tests/integration/tests/_fixtures/invalid_turbo_json/.gitignore
  turborepo-tests/integration/tests/_fixtures/invalid_turbo_json/apps/my-app/package.json
  turborepo-tests/integration/tests/_fixtures/invalid_turbo_json/package.json
  turborepo-tests/integration/tests/_fixtures/invalid_turbo_json/packages/util/package.json
  turborepo-tests/integration/tests/_fixtures/turbo-configs/abs-path-globs.json
  turborepo-tests/integration/tests/_fixtures/turbo-configs/strict_env_vars/all.json
  turborepo-tests/integration/tests/_fixtures/turbo-configs/strict_env_vars/global_pt-empty.json
  turborepo-tests/integration/tests/_fixtures/turbo-configs/strict_env_vars/global_pt.json
  turborepo-tests/integration/tests/_fixtures/turbo-configs/strict_env_vars/task_pt-empty.json
  turborepo-tests/integration/tests/_fixtures/turbo-configs/strict_env_vars/task_pt.json
  turborepo-tests/integration/tests/run-summary/strict_env.t
  turborepo-tests/integration/tests/run/absolute_path_warning.t
  turborepo-tests/integration/tests/strict_env_vars/dry_json.t
  turborepo-tests/integration/tests/strict_env_vars/global_hash_infer.t
  turborepo-tests/integration/tests/strict_env_vars/global_hash_loose.t
  turborepo-tests/integration/tests/strict_env_vars/global_hash_no-value.t
  turborepo-tests/integration/tests/strict_env_vars/global_hash_strict.t
  turborepo-tests/integration/tests/strict_env_vars/usage_infer.t
  turborepo-tests/integration/tests/strict_env_vars/usage_loose.t
  turborepo-tests/integration/tests/strict_env_vars/usage_strict.t
Labels: owned-by: turborepo, created-by: turborepo

#6382 refactor and fix CssEmbed for url()
  crates/turbopack-core/src/chunk/mod.rs
  crates/turbopack-core/src/introspect/utils.rs
  crates/turbopack-css/src/embed.rs
  crates/turbopack-css/src/references/url.rs
  crates/turbopack-static/src/lib.rs
  crates/turbopack-static/src/output_asset.rs
Labels: created-by: web-tooling

#5400 chore: update `update-informer` to 1.1
  Cargo.lock
  crates/turborepo-updater/Cargo.toml
  crates/turborepo-updater/src/lib.rs
Labels: owned-by: turborepo

#5444 fix(examples): updated with-docker devDependencies for successful build
  examples/with-docker/packages/ui/package.json
Labels: area: examples, owned-by: turborepo

#6387 fix: kill process group instead of children
  crates/turborepo-lib/src/process/child.rs
Labels: owned-by: turborepo, created-by: turborepo

#6399 Update turbopack related labels
  .github/turbo-orchestrator.yml
Labels: owned-by: turborepo, created-by: web-tooling

#6383 chore: prefactor for sending task logs to spaces
  crates/turborepo-lib/src/run/summary/mod.rs
  crates/turborepo-lib/src/task_graph/visitor.rs
  crates/turborepo-repository/src/package_manager/mod.rs
Labels: owned-by: turborepo, created-by: turborepo

#6393 improve count hash set edge case handling, fix negative bottom connection counting
  crates/turbo-tasks-memory/src/aggregation_tree/bottom_connection.rs
  crates/turbo-tasks-memory/src/count_hash_set.rs
Labels: created-by: turbopack

#6397 fix: add newline to graph output
  crates/turborepo-lib/src/engine/dot.rs
  turborepo-tests/integration/tests/run/single-package/graph.t
Labels: owned-by: turborepo, created-by: turborepo

#6350 feat(Turborepo): Next revision of @turbo/repository
  Cargo.lock
  packages/turbo-repository/__tests__/detect.test.ts
  packages/turbo-repository/jest.config.js
  packages/turbo-repository/js/index-generated.d.ts
  packages/turbo-repository/js/index.d.ts
  packages/turbo-repository/js/package.json
  packages/turbo-repository/npm/darwin-arm64/package.json
  packages/turbo-repository/package.json
  packages/turbo-repository/rust/Cargo.toml
  packages/turbo-repository/rust/src/internal.rs
  packages/turbo-repository/rust/src/lib.rs
  packages/turbo-repository/turbo.json
  pnpm-lock.yaml
Labels: owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#6403 small minor fixes
  crates/turbo-tasks-fs/src/rope.rs
  crates/turbopack-convert-trace/src/main.rs
  crates/turbopack-ecmascript/src/chunk/item.rs
Labels: owned-by: turbopack, created-by: turbopack

#6404 linux watching is too fast and causes inconsistent read
  crates/turbo-tasks-fs/src/lib.rs
Labels: owned-by: turbopack, created-by: turbopack

#6394 performance improvement and fixes
  crates/turbo-tasks-memory/src/aggregation_tree/bottom_tree.rs
  crates/turbo-tasks-memory/src/task.rs
  crates/turbopack-core/src/version.rs
Labels: owned-by: turbopack, created-by: turbopack

#6400 chore(tests): make test output assertions simpler
  turborepo-tests/integration/tests/find_turbo/hard_mode.t
  turborepo-tests/integration/tests/find_turbo/hoisted.t
  turborepo-tests/integration/tests/find_turbo/linked.t
  turborepo-tests/integration/tests/find_turbo/nested.t
  turborepo-tests/integration/tests/find_turbo/self.t
  turborepo-tests/integration/tests/find_turbo/unplugged.t
  turborepo-tests/integration/tests/find_turbo/unplugged_env_moved.t
  turborepo-tests/integration/tests/find_turbo/unplugged_moved.t
Labels: owned-by: turborepo, created-by: turborepo

#6406 fix(Turborepo): Add suppressing logs line for new-only output mode
  crates/turborepo-lib/src/run/cache.rs
Labels: owned-by: turborepo, created-by: turborepo

#6405 reenable perf optimization, fix race condition
  crates/turbo-tasks-memory/src/memory_backend.rs
  crates/turbo-tasks-memory/src/task.rs
Labels: owned-by: turbopack, created-by: turbopack

#2761 docs: add github actions/cache example to github ci docs
  docs/pages/repo/docs/ci/github-actions.mdx
Labels: area: docs, owned-by: turborepo

#6418 chore: Fix compilation warnings
  crates/turborepo-api-client/src/spaces.rs
Labels: owned-by: turborepo, created-by: turborepo

#6417 Port(Turborepo): Synthesize command for spaces
  crates/turborepo-api-client/src/spaces.rs
  crates/turborepo-lib/src/opts.rs
  crates/turborepo-lib/src/run/mod.rs
  crates/turborepo-lib/src/run/summary/mod.rs
  crates/turborepo-lib/src/run/summary/spaces.rs
Labels: owned-by: turborepo, created-by: turborepo

#6416 fix: Dry run output
  cli/internal/runsummary/format_text.go
  crates/turborepo-lib/src/opts.rs
  crates/turborepo-lib/src/run/mod.rs
  crates/turborepo-lib/src/run/summary/mod.rs
  crates/turborepo-lib/src/run/summary/task.rs
  crates/turborepo-lib/src/run/summary/task_factory.rs
  turborepo-tests/integration/tests/dry-run.t
  turborepo-tests/integration/tests/run/single-package/dry-run.t
  turborepo-tests/integration/tests/run/single-package/no-config.t
  turborepo-tests/integration/tests/run/single-package/with-deps-dry-run.t
Labels: owned-by: turborepo, created-by: turborepo

#6423 fix: unbreak main
  crates/turborepo-lib/src/opts.rs
Labels: owned-by: turborepo, created-by: turborepo

#6338 feat(examples): upgrade ts
  examples/basic/apps/docs/package.json
  examples/basic/apps/web/package.json
  examples/basic/package.json
  examples/basic/packages/eslint-config-custom/package.json
  examples/basic/packages/ui/package.json
  examples/basic/pnpm-lock.yaml
  examples/design-system/package.json
  examples/design-system/packages/ui/package.json
  examples/design-system/pnpm-lock.yaml
  examples/kitchen-sink/apps/api/package.json
  examples/kitchen-sink/package.json
  examples/kitchen-sink/packages/logger/package.json
  examples/kitchen-sink/packages/ui/package.json
  examples/kitchen-sink/pnpm-lock.yaml
  examples/with-changesets/apps/docs/package.json
  examples/with-changesets/package.json
  examples/with-changesets/packages/acme-core/package.json
  examples/with-changesets/packages/acme-utils/package.json
  examples/with-changesets/pnpm-lock.yaml
  examples/with-create-react-app/apps/docs/package.json
  examples/with-create-react-app/apps/web/package.json
  examples/with-create-react-app/package.json
  examples/with-create-react-app/packages/ui/package.json
  examples/with-create-react-app/pnpm-lock.yaml
  examples/with-gatsby/apps/docs/package.json
  examples/with-gatsby/package.json
  examples/with-gatsby/pnpm-lock.yaml
  examples/with-prisma/packages/database/package.json
  examples/with-rollup/apps/web/package.json
  examples/with-rollup/package.json
  examples/with-rollup/packages/ui/package.json
  examples/with-rollup/pnpm-lock.yaml
  examples/with-svelte/apps/web/package.json
  examples/with-svelte/package.json
  examples/with-svelte/pnpm-lock.yaml
  examples/with-tailwind/apps/docs/package.json
  examples/with-tailwind/apps/web/package.json
  examples/with-tailwind/package.json
  examples/with-tailwind/packages/ui/package.json
  examples/with-tailwind/pnpm-lock.yaml
  examples/with-vite/apps/docs/package.json
  examples/with-vite/apps/web/package.json
  examples/with-vite/package.json
  examples/with-vite/packages/ui/package.json
  examples/with-vite/pnpm-lock.yaml
  scripts/update-examples-dep.sh
Labels: area: examples, owned-by: turborepo, created-by: turborepo

#6426 docs: Fix typo 'specifing -> specifying'
  docs/pages/repo/docs/handbook/linting/eslint.mdx
Labels: area: docs, owned-by: turborepo

#6424 fix encoding of chunks, fix chunk (re)loading for css
  Cargo.lock
  crates/turbopack-ecmascript-runtime/js/src/dev/runtime/base/runtime-base.ts
  crates/turbopack-ecmascript-runtime/js/src/dev/runtime/dom/runtime-backend-dom.ts
  crates/turbopack-tests/tests/snapshot/runtime/default_dev_runtime/output/79fb1_turbopack-tests_tests_snapshot_runtime_default_dev_runtime_input_index_40d141.js
  crates/turbopack-tests/tests/snapshot/runtime/default_dev_runtime/output/79fb1_turbopack-tests_tests_snapshot_runtime_default_dev_runtime_input_index_40d141.js.map
Labels: owned-by: turbopack, created-by: turbopack

#6422 port(Turborepo): Pass through args
  crates/turborepo-lib/src/opts.rs
  crates/turborepo-lib/src/task_graph/visitor.rs
  crates/turborepo-repository/src/package_manager/mod.rs
Labels: owned-by: turborepo, created-by: turborepo

#6421 fix(Turborepo): Fix error stutter, update tests to match on relevent error text
  cli/internal/cmd/root.go
  crates/turborepo-lib/src/lib.rs
  turborepo-tests/integration/tests/persistent-dependencies/1-topological.t
  turborepo-tests/integration/tests/persistent-dependencies/10-too-many.t
  turborepo-tests/integration/tests/persistent-dependencies/2-same-workspace.t
  turborepo-tests/integration/tests/persistent-dependencies/3-workspace-specific.t
  turborepo-tests/integration/tests/persistent-dependencies/4-cross-workspace.t
  turborepo-tests/integration/tests/persistent-dependencies/5-root-workspace.t
  turborepo-tests/integration/tests/persistent-dependencies/7-topological-nested.t
  turborepo-tests/integration/tests/persistent-dependencies/8-topological-with-extra.t
  turborepo-tests/integration/tests/persistent-dependencies/9-cross-workspace-nested.t
  turborepo-tests/integration/tests/workspace-configs/bad-json.t
  turborepo-tests/integration/tests/workspace-configs/invalid-config.t
  turborepo-tests/integration/tests/workspace-configs/persistent.t
Labels: owned-by: turborepo, created-by: turborepo

#6431 port: Fixing run summary json output
  crates/turborepo-lib/src/run/summary/execution.rs
  crates/turborepo-lib/src/run/summary/mod.rs
  crates/turborepo-lib/src/run/summary/task.rs
Labels: owned-by: turborepo, created-by: turborepo

#6427 chore(ci): Replace deprecated command with environment file
  .github/workflows/turborepo-release.yml
Labels: area: ci, owned-by: turborepo, owned-by: turbopack

#6396 Improved TSConfigs in examples
  docs/pages/repo/docs/handbook/linting/typescript.mdx
  docs/pages/repo/docs/handbook/sharing-code/internal-packages.mdx
  examples/basic/package.json
  examples/basic/packages/tsconfig/base.json
  examples/basic/packages/tsconfig/nextjs.json
  examples/basic/packages/tsconfig/react-library.json
  examples/basic/pnpm-lock.yaml
Labels: area: docs, area: examples, owned-by: turborepo

#6419 feat: send task logs to spaces
  Cargo.lock
  crates/turborepo-api-client/Cargo.toml
  crates/turborepo-api-client/src/spaces.rs
  crates/turborepo-lib/src/run/summary/execution.rs
  crates/turborepo-lib/src/run/summary/mod.rs
  crates/turborepo-lib/src/run/summary/spaces.rs
  crates/turborepo-lib/src/task_graph/visitor.rs
Labels: owned-by: turborepo, created-by: turborepo

#6433 refactor: Merge `LazyIssueSource` into `IssueSource`
  crates/turbopack-core/src/issue/analyze.rs
  crates/turbopack-core/src/issue/mod.rs
  crates/turbopack-core/src/issue/resolve.rs
  crates/turbopack-core/src/resolve/mod.rs
  crates/turbopack-css/src/references/import.rs
  crates/turbopack-css/src/references/mod.rs
  crates/turbopack-css/src/references/url.rs
  crates/turbopack-ecmascript/src/analyzer/imports.rs
  crates/turbopack-ecmascript/src/references/amd.rs
  crates/turbopack-ecmascript/src/references/cjs.rs
  crates/turbopack-ecmascript/src/references/esm/base.rs
  crates/turbopack-ecmascript/src/references/esm/dynamic.rs
  crates/turbopack-ecmascript/src/references/esm/url.rs
  crates/turbopack-ecmascript/src/references/mod.rs
  crates/turbopack-ecmascript/src/references/require_context.rs
  crates/turbopack-ecmascript/src/resolve/mod.rs
  crates/turbopack-swc-utils/src/emitter.rs
Labels: pr: automerge, owned-by: turbopack, created-by: turbopack

#6434 chore: output absolute path warnings to stderr
  crates/turborepo-lib/src/config/turbo.rs
  turborepo-tests/integration/tests/run/absolute-path-warning.t
Labels: owned-by: turborepo, created-by: turborepo

#6438 port(Turborepo): Add summary error to match Go
  crates/turborepo-lib/src/commands/run.rs
  crates/turborepo-lib/src/opts.rs
  turborepo-tests/integration/tests/run/one-script-error.t
Labels: owned-by: turborepo, created-by: turborepo

#6388 Turbopack: Implement structured styled text and use it in issue descriptions
  crates/turbo-tasks-fetch/src/lib.rs
  crates/turbo-tasks-fetch/tests/fetch.rs
  crates/turbopack-cli-utils/src/issue.rs
  crates/turbopack-core/src/issue/analyze.rs
  crates/turbopack-core/src/issue/code_gen.rs
  crates/turbopack-core/src/issue/mod.rs
  crates/turbopack-core/src/issue/resolve.rs
  crates/turbopack-core/src/issue/unsupported_module.rs
  crates/turbopack-core/src/package_json.rs
  crates/turbopack-css/src/module_asset.rs
  crates/turbopack-dev-server/src/update/stream.rs
  crates/turbopack-dev/src/ecmascript/content_entry.rs
  crates/turbopack-dev/src/react_refresh.rs
  crates/turbopack-ecmascript-hmr-protocol/src/lib.rs
  crates/turbopack-ecmascript-plugins/src/transform/swc_ecma_transform_plugins.rs
  crates/turbopack-ecmascript/src/chunk/item.rs
  crates/turbopack-ecmascript/src/parse.rs
  crates/turbopack-ecmascript/src/references/esm/export.rs
  crates/turbopack-ecmascript/src/references/esm/url.rs
  crates/turbopack-ecmascript/src/references/mod.rs
  crates/turbopack-ecmascript/src/references/pattern_mapping.rs
  crates/turbopack-ecmascript/src/references/type_issue.rs
  crates/turbopack-ecmascript/src/transform/mod.rs
  crates/turbopack-ecmascript/src/typescript/resolve.rs
  crates/turbopack-env/src/issue.rs
  crates/turbopack-env/src/try_env.rs
  crates/turbopack-image/src/process/mod.rs
  crates/turbopack-node/src/evaluate.rs
  crates/turbopack-node/src/render/issue.rs
  crates/turbopack-node/src/render/render_proxy.rs
  crates/turbopack-node/src/render/render_static.rs
  crates/turbopack-node/src/transforms/postcss.rs
  crates/turbopack-swc-utils/src/emitter.rs
  crates/turbopack-tests/tests/execution/turbopack/async-modules/export-all/issues/unexpected export __star__-16d066.txt
  crates/turbopack-tests/tests/execution/turbopack/basic/comptime/issues/Error resolving commonjs request-9f5c24.txt
  crates/turbopack-tests/tests/execution/turbopack/basic/error/issues/Reading source code for parsing failed-f9462b.txt
  crates/turbopack-tests/tests/execution/turbopack/basic/node-default-import/issues/Specified module format (CommonJs) is not matching-56db1a.txt
  crates/turbopack-tests/tests/execution/turbopack/basic/node-default-import/issues/Specified module format (EcmaScript Modules) is no-4e80a8.txt
  crates/turbopack-tests/tests/snapshot/export-alls/cjs-2/issues/unexpected export __star__-401f31.txt
  crates/turbopack-tests/tests/snapshot/export-alls/cjs-script/issues/unexpected export __star__-93a8f5.txt
  crates/turbopack-tests/tests/snapshot/imports/json/issues/Code generation for chunk item errored-f0e9fc.txt
  crates/turbopack-tests/tests/snapshot/imports/resolve_error_cjs/issues/Error resolving commonjs request-361fe2.txt
  crates/turbopack-tests/tests/snapshot/imports/resolve_error_esm/issues/Error resolving EcmaScript Modules request-09abc2.txt
  crates/turbopack/src/lib.rs
  crates/turbopack/src/unsupported_sass.rs
Labels: owned-by: turbopack, created-by: turbopack, created-by: web-tooling

#6440 port(Turborepo): Fix task dependencies integration tests
  turborepo-tests/integration/tests/task-dependencies/complex.t
  turborepo-tests/integration/tests/task-dependencies/workspace-tasks.t
Labels: owned-by: turborepo, created-by: turborepo

#6443 fix: match dependency ordering between rust/go
  crates/turborepo-repository/src/package_json.rs
Labels: owned-by: turborepo, created-by: turborepo

#6444 fix: `--no-cache` flag was not working
  crates/turborepo-lib/src/run/cache.rs
Labels: owned-by: turborepo, created-by: turborepo

#6425 feature(vue-nuxt): vue & nuxt example addition
  examples/with-vue-nuxt/.gitignore
  examples/with-vue-nuxt/.npmrc
  examples/with-vue-nuxt/README.md
  examples/with-vue-nuxt/apps/docs/.eslintrc.cjs
  examples/with-vue-nuxt/apps/docs/README.md
  examples/with-vue-nuxt/apps/docs/app.vue
  examples/with-vue-nuxt/apps/docs/nuxt.config.ts
  examples/with-vue-nuxt/apps/docs/package.json
  examples/with-vue-nuxt/apps/docs/pnpm-lock.yaml
  examples/with-vue-nuxt/apps/docs/public/favicon.ico
  examples/with-vue-nuxt/apps/docs/server/tsconfig.json
  examples/with-vue-nuxt/apps/docs/tsconfig.json
  examples/with-vue-nuxt/apps/web/.eslintrc.js
  examples/with-vue-nuxt/apps/web/.gitignore
  examples/with-vue-nuxt/apps/web/README.md
  examples/with-vue-nuxt/apps/web/env.d.ts
  examples/with-vue-nuxt/apps/web/index.html
  examples/with-vue-nuxt/apps/web/package.json
  examples/with-vue-nuxt/apps/web/public/favicon.ico
  examples/with-vue-nuxt/apps/web/src/app.vue
  examples/with-vue-nuxt/apps/web/src/main.ts
  examples/with-vue-nuxt/apps/web/tsconfig.app.json
  examples/with-vue-nuxt/apps/web/tsconfig.json
  examples/with-vue-nuxt/apps/web/tsconfig.node.json
  examples/with-vue-nuxt/apps/web/vite.config.ts
  examples/with-vue-nuxt/package.json
  examples/with-vue-nuxt/packages/eslint-config-custom/README.md
  examples/with-vue-nuxt/packages/eslint-config-custom/library.js
  examples/with-vue-nuxt/packages/eslint-config-custom/nuxt.js
  examples/with-vue-nuxt/packages/eslint-config-custom/package.json
  examples/with-vue-nuxt/packages/eslint-config-custom/vue.js
  examples/with-vue-nuxt/packages/tsconfig/base.json
  examples/with-vue-nuxt/packages/tsconfig/nuxt.json
  examples/with-vue-nuxt/packages/tsconfig/package.json
  examples/with-vue-nuxt/packages/tsconfig/vue.json
  examples/with-vue-nuxt/packages/ui/.eslintrc.js
  examples/with-vue-nuxt/packages/ui/index.ts
  examples/with-vue-nuxt/packages/ui/package.json
  examples/with-vue-nuxt/packages/ui/src/assets/circles.svg
  examples/with-vue-nuxt/packages/ui/src/assets/next.svg
  examples/with-vue-nuxt/packages/ui/src/assets/turborepo.svg
  examples/with-vue-nuxt/packages/ui/src/assets/vercel.svg
  examples/with-vue-nuxt/packages/ui/src/card.vue
  examples/with-vue-nuxt/packages/ui/src/gradient.vue
  examples/with-vue-nuxt/packages/ui/src/page.vue
  examples/with-vue-nuxt/packages/ui/tsconfig.json
  examples/with-vue-nuxt/pnpm-lock.yaml
  examples/with-vue-nuxt/pnpm-workspace.yaml
  examples/with-vue-nuxt/tsconfig.json
  examples/with-vue-nuxt/turbo.json
Labels: area: examples, owned-by: turborepo

#6445 Ensure daemon connection errors are non-fatal
  crates/turborepo-lib/src/run/mod.rs
Labels: owned-by: turborepo, created-by: turborepo

#6447 fix: Cleaning up duration printing
  crates/turborepo-lib/src/run/summary/execution.rs
Labels: owned-by: turborepo, created-by: turborepo

#6446 fix: displaying stdout/stderr with errors-only
  crates/turborepo-lib/src/run/cache.rs
  crates/turborepo-lib/src/task_graph/visitor.rs
  turborepo-tests/integration/tests/run-logging/errors-only.t
  turborepo-tests/integration/tests/run/continue.t
Labels: owned-by: turborepo, created-by: turborepo

#6437 port(Turborepo): Migrate inference tests to grep
  crates/turborepo-lib/src/run/mod.rs
  turborepo-tests/integration/tests/inference/has-workspaces.t
  turborepo-tests/integration/tests/inference/nested-workspaces.t
  turborepo-tests/integration/tests/inference/no-workspaces.t
Labels: owned-by: turborepo, created-by: turborepo

#6453 fix: rust spaces auth requirements
  crates/turborepo-analytics/src/lib.rs
  crates/turborepo-api-client/src/lib.rs
  crates/turborepo-auth/src/auth/login.rs
  crates/turborepo-auth/src/auth/sso.rs
  crates/turborepo-cache/src/async_cache.rs
  crates/turborepo-cache/src/fs.rs
  crates/turborepo-cache/src/http.rs
  crates/turborepo-lib/src/commands/link.rs
  crates/turborepo-lib/src/commands/mod.rs
  crates/turborepo-lib/src/run/mod.rs
  crates/turborepo-lib/src/run/summary/spaces.rs
Labels: owned-by: turborepo, created-by: turborepo

#6451 chore: add test for turbo bin
  turborepo-tests/integration/tests/command-bin.t
Labels: owned-by: turborepo, created-by: turborepo

#6410 adjust tracing for run finalization
  crates/turborepo-lib/src/run/summary/mod.rs
  crates/turborepo-lib/src/task_graph/visitor.rs
Labels: owned-by: turborepo, created-by: turborepo

#6455 chore: simplify inference test grep commands
  turborepo-tests/integration/tests/inference/has-workspaces.t
  turborepo-tests/integration/tests/inference/nested-workspaces.t
Labels: owned-by: turborepo, created-by: turborepo

#6462 feat(Turborepo): Send logging to stderr
  crates/turborepo-lib/src/tracing.rs
  turborepo-tests/integration/tests/command-bin.t
  turborepo-tests/integration/tests/find-turbo/hard-mode.t
  turborepo-tests/integration/tests/find-turbo/hoisted.t
  turborepo-tests/integration/tests/find-turbo/linked.t
  turborepo-tests/integration/tests/find-turbo/nested.t
  turborepo-tests/integration/tests/find-turbo/self.t
  turborepo-tests/integration/tests/find-turbo/unplugged-env-moved.t
  turborepo-tests/integration/tests/find-turbo/unplugged-moved.t
  turborepo-tests/integration/tests/find-turbo/unplugged.t
Labels: owned-by: turborepo, created-by: turborepo

#6464 chore(test): Remove more single/double quotes in npm script fixtures
  turborepo-tests/integration/tests/_fixtures/ordered/apps/my-app/package.json
  turborepo-tests/integration/tests/_fixtures/ordered/packages/util/package.json
  turborepo-tests/integration/tests/_fixtures/persistent_dependencies/6-topological-unimplemented/apps/app-a/package.json
  turborepo-tests/integration/tests/ordered/github.t
  turborepo-tests/integration/tests/ordered/grouped.t
  turborepo-tests/integration/tests/persistent-dependencies/6-topological-unimplemented.t
Labels: owned-by: turborepo, created-by: turborepo

#6467 fix(Turborepo): Update missing-tasks.t to pass with Rust
  turborepo-tests/integration/tests/run/missing-tasks.t
Labels: owned-by: turborepo, created-by: turborepo

#6465 fix(Turborepo): Make verbosity test pass with Rust
  cli/internal/run/run.go
  crates/turborepo-lib/src/process/child.rs
  crates/turborepo-lib/src/run/mod.rs
  turborepo-tests/integration/tests/run-logging/verbosity.t
Labels: owned-by: turborepo, created-by: turborepo

#6463 chore(ci): launch prysk tests with JS instead of bash
  turborepo-tests/integration/package.json
  turborepo-tests/integration/setup.sh
  turborepo-tests/integration/test-interactive.sh
  turborepo-tests/integration/test.mjs
  turborepo-tests/integration/test.sh
  turborepo-tests/integration/turbo.json
Labels: owned-by: turborepo, created-by: turborepo

#6469 chore(Turborepo): Add Anthony as an explicit owner of examples
  .github/CODEOWNERS
Labels: owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#6468 chore(test): remove another single quoted echo arg
  turborepo-tests/integration/tests/_fixtures/ordered/packages/util/package.json
  turborepo-tests/integration/tests/ordered/github.t
Labels: owned-by: turborepo, created-by: turborepo

#6449 chore: enable rust codepath on CI
  .github/workflows/test.yml
Labels: area: ci, owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#6466 fix: Check cache on dry run
  crates/turborepo-cache/src/async_cache.rs
  crates/turborepo-lib/src/run/cache.rs
  crates/turborepo-lib/src/run/mod.rs
  crates/turborepo-lib/src/run/summary/task.rs
  crates/turborepo-lib/src/task_graph/visitor.rs
Labels: owned-by: turborepo, created-by: turborepo

#6470 fix(Turborepo): Fix dry-json/monorepo.t
  turborepo-tests/integration/tests/dry-json/monorepo.t
Labels: owned-by: turborepo, created-by: turborepo

#6474 fix: move e2e to use bash to match other jobs
  .github/workflows/test.yml
Labels: area: ci, owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#6473 fix: dry run missing tasks with no script
  crates/turborepo-cache/src/async_cache.rs
  crates/turborepo-lib/src/run/cache.rs
  crates/turborepo-lib/src/task_graph/visitor.rs
Labels: owned-by: turborepo, created-by: turborepo

#6486 Bump docs to Node 20.x.
  docs/package.json
Labels: area: site, owned-by: turborepo, owned-by: turbopack

#6478 fix(docs): change default collapse level of sidebar
  docs/theme.config.tsx
Labels: area: site, owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#6488 Add Vue/Nuxt example to geting started.
  examples/with-vue-nuxt/meta.json
Labels: area: examples, owned-by: turborepo

#6487 docs: update formatting on --graph option
  docs/pages/repo/docs/reference/command-line-reference/run.mdx
Labels: area: docs, owned-by: turborepo, created-by: turborepo

#6461 ci(action): pin nextest
  .github/workflows/bench-turbotrace-against-node-nft.yml
  .github/workflows/test.yml
Labels: area: ci, owned-by: turborepo, owned-by: turbopack, created-by: turbopack

#6476 feat(benchmark): separate benchmarks by number of cores
  .github/workflows/bench-turborepo.yml
  benchmark/package.json
  benchmark/src/fold.jq
  benchmark/src/helpers.ts
  benchmark/src/ttft.ts
  benchmark/src/ttft/index.ts
  benchmark/src/ttft/run.ts
  benchmark/src/ttft/slack.ts
  benchmark/src/ttft/tinybird.ts
  benchmark/tsconfig.json
  crates/turborepo-lib/src/run/mod.rs
Labels: area: ci, owned-by: turborepo, created-by: turborepo

#6452 feat(ecmascript): support dynamic tenary operator jsvalue
  crates/turbopack-ecmascript/src/analyzer/builtin.rs
  crates/turbopack-ecmascript/src/analyzer/graph.rs
  crates/turbopack-ecmascript/src/analyzer/mod.rs
  crates/turbopack-ecmascript/tests/analyzer/graph/conditional-import/graph-effects.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/conditional-import/graph-explained.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/conditional-import/graph.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/conditional-import/input.js
  crates/turbopack-ecmascript/tests/analyzer/graph/conditional-import/resolved-effects.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/conditional-import/resolved-explained.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/md5_2/graph-explained.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/md5_2/graph.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/md5_2/resolved-explained.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/peg/graph-explained.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/peg/resolved-effects.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/peg/resolved-explained.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/react-dom-production/graph-explained.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/react-dom-production/resolved-effects.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/react-dom-production/resolved-explained.snapshot
Labels: owned-by: turbopack, created-by: turbopack

#6471 port(Turborepo): Add github prefixing in Rust
  crates/turborepo-ci/src/lib.rs
  crates/turborepo-lib/src/run/mod.rs
  crates/turborepo-lib/src/task_graph/visitor.rs
  crates/turborepo-ui/src/output.rs
  turborepo-tests/integration/tests/ordered/github.t
Labels: owned-by: turborepo, created-by: turborepo

#6441 Repository -> PackageManagerRoot
  packages/turbo-repository/__tests__/detect.test.ts
  packages/turbo-repository/__tests__/find.test.ts
  packages/turbo-repository/js/index.d.ts
  packages/turbo-repository/js/index.js
  packages/turbo-repository/rust/src/internal.rs
  packages/turbo-repository/rust/src/lib.rs
Labels: owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#6491 chore: move benchmark to @turbo/benchmark
  .github/workflows/bench-turborepo.yml
  packages/turbo-benchmark/.eslintrc.js
  packages/turbo-benchmark/.gitignore
  packages/turbo-benchmark/README.md
  packages/turbo-benchmark/package.json
  packages/turbo-benchmark/src/helpers.ts
  packages/turbo-benchmark/src/index.ts
  packages/turbo-benchmark/src/ttft/index.ts
  packages/turbo-benchmark/src/ttft/run.ts
  packages/turbo-benchmark/src/ttft/slack.ts
  packages/turbo-benchmark/src/ttft/tinybird.ts
  packages/turbo-benchmark/tsconfig.json
  packages/turbo-benchmark/turbo.json
  pnpm-lock.yaml
Labels: area: ci, owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#6497 make bench tests required
  .github/workflows/bench-turbopack.yml
  .github/workflows/test-turbopack-rust-bench-test.yml
  .github/workflows/test.yml
Labels: area: ci, owned-by: turborepo, owned-by: turbopack, created-by: turbopack

#6485 fix: forward powershell style env casing
  crates/turborepo-lib/src/task_hash.rs
Labels: owned-by: turborepo, created-by: turborepo

#6499 handle dynamic imports when chunk loading is disabled
  crates/turbopack-core/src/chunk/mod.rs
  crates/turbopack-ecmascript/src/references/amd.rs
  crates/turbopack-ecmascript/src/references/cjs.rs
  crates/turbopack-ecmascript/src/references/esm/dynamic.rs
  crates/turbopack-ecmascript/src/references/pattern_mapping.rs
  crates/turbopack-ecmascript/src/references/require_context.rs
Labels: owned-by: turbopack, created-by: turbopack

#6498 feat(ecmascript): support dynamic tenary operator jsvalue
  crates/turbopack-ecmascript/src/analyzer/builtin.rs
  crates/turbopack-ecmascript/src/analyzer/graph.rs
  crates/turbopack-ecmascript/src/analyzer/mod.rs
  crates/turbopack-ecmascript/tests/analyzer/graph/conditional-import/graph-effects.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/conditional-import/graph-explained.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/conditional-import/graph.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/conditional-import/input.js
  crates/turbopack-ecmascript/tests/analyzer/graph/conditional-import/resolved-effects.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/conditional-import/resolved-explained.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/md5_2/graph-explained.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/md5_2/graph.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/md5_2/resolved-explained.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/peg/graph-explained.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/peg/resolved-effects.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/peg/resolved-explained.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/react-dom-production/graph-explained.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/react-dom-production/resolved-effects.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/react-dom-production/resolved-explained.snapshot
Labels: owned-by: turbopack, created-by: turbopack

#6504 fix(ecma-runtime): fix incorrect relative url calculation
  crates/turbopack-ecmascript-runtime/js/src/build/runtime.ts
  crates/turbopack-tests/tests/snapshot/runtime/default_build_runtime/output/[turbopack]_runtime.js
  crates/turbopack-tests/tests/snapshot/runtime/default_build_runtime/output/[turbopack]_runtime.js.map
Labels: owned-by: turbopack, created-by: turbopack

#6506 chore: fix typo
  turbo.json
Labels: owned-by: turborepo, owned-by: turbopack

#6508 Build turbo.exe stub on Windows
  packages/turbo-exe-stub/.gitignore
  packages/turbo-exe-stub/build.sh
  packages/turbo-exe-stub/package.json
  packages/turbo-exe-stub/turbo.cpp
  pnpm-lock.yaml
  turborepo-tests/integration/.gitignore
  turborepo-tests/integration/package.json
  turborepo-tests/integration/tests/_fixtures/find_turbo/hoisted/node_modules/turbo-windows-64/bin/.keep
  turborepo-tests/integration/tests/_fixtures/find_turbo/hoisted/node_modules/turbo-windows-64/bin/turbo.exe
  turborepo-tests/integration/tests/_fixtures/find_turbo/hoisted/node_modules/turbo-windows-arm64/bin/.keep
  turborepo-tests/integration/tests/_fixtures/find_turbo/hoisted/node_modules/turbo-windows-arm64/bin/turbo.exe
  turborepo-tests/integration/tests/_fixtures/find_turbo/linked/node_modules/.pnpm/turbo-windows-64@1.0.0/node_modules/turbo-windows-64/bin/.keep
  turborepo-tests/integration/tests/_fixtures/find_turbo/linked/node_modules/.pnpm/turbo-windows-64@1.0.0/node_modules/turbo-windows-64/bin/turbo.exe
  turborepo-tests/integration/tests/_fixtures/find_turbo/linked/node_modules/.pnpm/turbo-windows-arm64@1.0.0/node_modules/turbo-windows-arm64/bin/.keep
  turborepo-tests/integration/tests/_fixtures/find_turbo/linked/node_modules/.pnpm/turbo-windows-arm64@1.0.0/node_modules/turbo-windows-arm64/bin/turbo.exe
  turborepo-tests/integration/tests/_fixtures/find_turbo/nested/node_modules/turbo/node_modules/turbo-windows-64/bin/.keep
  turborepo-tests/integration/tests/_fixtures/find_turbo/nested/node_modules/turbo/node_modules/turbo-windows-64/bin/turbo.exe
  turborepo-tests/integration/tests/_fixtures/find_turbo/nested/node_modules/turbo/node_modules/turbo-windows-arm64/bin/.keep
  turborepo-tests/integration/tests/_fixtures/find_turbo/nested/node_modules/turbo/node_modules/turbo-windows-arm64/bin/turbo.exe
  turborepo-tests/integration/tests/_fixtures/find_turbo/self/node_modules/turbo-windows-64/bin/.keep
  turborepo-tests/integration/tests/_fixtures/find_turbo/self/node_modules/turbo-windows-64/bin/turbo.exe
  turborepo-tests/integration/tests/_fixtures/find_turbo/self/node_modules/turbo-windows-arm64/bin/.keep
  turborepo-tests/integration/tests/_fixtures/find_turbo/self/node_modules/turbo-windows-arm64/bin/turbo.exe
  turborepo-tests/integration/tests/_fixtures/find_turbo/unplugged/.yarn/unplugged/turbo-windows-64-npm-1.0.0-520925a700/node_modules/turbo-windows-64/bin/.keep
  turborepo-tests/integration/tests/_fixtures/find_turbo/unplugged/.yarn/unplugged/turbo-windows-64-npm-1.0.0-520925a700/node_modules/turbo-windows-64/bin/turbo.exe
  turborepo-tests/integration/tests/_fixtures/find_turbo/unplugged/.yarn/unplugged/turbo-windows-arm64-npm-1.0.0-520925a700/node_modules/turbo-windows-arm64/bin/.keep
  turborepo-tests/integration/tests/_fixtures/find_turbo/unplugged/.yarn/unplugged/turbo-windows-arm64-npm-1.0.0-520925a700/node_modules/turbo-windows-arm64/bin/turbo.exe
  turborepo-tests/integration/tests/_fixtures/find_turbo/unplugged_env_moved/.moved/unplugged/turbo-windows-64-npm-1.0.0-520925a700/node_modules/turbo-windows-64/bin/.keep
  turborepo-tests/integration/tests/_fixtures/find_turbo/unplugged_env_moved/.moved/unplugged/turbo-windows-64-npm-1.0.0-520925a700/node_modules/turbo-windows-64/bin/turbo.exe
  turborepo-tests/integration/tests/_fixtures/find_turbo/unplugged_env_moved/.moved/unplugged/turbo-windows-arm64-npm-1.0.0-520925a700/node_modules/turbo-windows-arm64/bin/.keep
  turborepo-tests/integration/tests/_fixtures/find_turbo/unplugged_env_moved/.moved/unplugged/turbo-windows-arm64-npm-1.0.0-520925a700/node_modules/turbo-windows-arm64/bin/turbo.exe
  turborepo-tests/integration/tests/_fixtures/find_turbo/unplugged_moved/.moved/unplugged/turbo-windows-64-npm-1.0.0-520925a700/node_modules/turbo-windows-64/bin/.keep
  turborepo-tests/integration/tests/_fixtures/find_turbo/unplugged_moved/.moved/unplugged/turbo-windows-64-npm-1.0.0-520925a700/node_modules/turbo-windows-64/bin/turbo.exe
  turborepo-tests/integration/tests/_fixtures/find_turbo/unplugged_moved/.moved/unplugged/turbo-windows-arm64-npm-1.0.0-520925a700/node_modules/turbo-windows-arm64/bin/.keep
  turborepo-tests/integration/tests/_fixtures/find_turbo/unplugged_moved/.moved/unplugged/turbo-windows-arm64-npm-1.0.0-520925a700/node_modules/turbo-windows-arm64/bin/turbo.exe
  turborepo-tests/integration/turbo.json
Labels: owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#6456 refactor: Add lightningcss mode for `turbopack-css`
  Cargo.lock
  Cargo.toml
  crates/turbopack-cli/src/contexts.rs
  crates/turbopack-core/src/issue/mod.rs
  crates/turbopack-core/src/source_pos.rs
  crates/turbopack-css/Cargo.toml
  crates/turbopack-css/src/asset.rs
  crates/turbopack-css/src/chunk/mod.rs
  crates/turbopack-css/src/code_gen.rs
  crates/turbopack-css/src/lib.rs
  crates/turbopack-css/src/lifetime_util.rs
  crates/turbopack-css/src/module_asset.rs
  crates/turbopack-css/src/parse.rs
  crates/turbopack-css/src/path_visitor.rs
  crates/turbopack-css/src/process.rs
  crates/turbopack-css/src/references/import.rs
  crates/turbopack-css/src/references/mod.rs
  crates/turbopack-css/src/references/url.rs
  crates/turbopack-css/src/transform/mod.rs
  crates/turbopack-ecmascript-plugins/src/transform/styled_jsx.rs
  crates/turbopack/src/lib.rs
  crates/turbopack/src/module_options/mod.rs
  crates/turbopack/src/module_options/module_options_context.rs
  crates/turbopack/src/module_options/module_rule.rs
Labels: pr: automerge, owned-by: turborepo, owned-by: turbopack, created-by: turbopack

#6510 Extend resolving to allow reference type for plugins and extensions for MainField
  crates/turbopack-core/src/resolve/mod.rs
  crates/turbopack-core/src/resolve/node.rs
  crates/turbopack-core/src/resolve/options.rs
  crates/turbopack-core/src/resolve/plugin.rs
  crates/turbopack-dev/src/react_refresh.rs
  crates/turbopack-ecmascript/src/references/mod.rs
  crates/turbopack-ecmascript/src/resolve/mod.rs
  crates/turbopack-ecmascript/src/typescript/resolve.rs
  crates/turbopack-ecmascript/src/webpack/mod.rs
  crates/turbopack/src/lib.rs
  crates/turbopack/src/resolve.rs
  crates/turbopack/src/unsupported_sass.rs
Labels: owned-by: turbopack, created-by: turbopack

#6503 chore: move back to powershell on windows
  .github/workflows/test.yml
Labels: area: ci, owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#6439 Re-up create-turbo.
  examples-tests/pnpm-basic/test.t
  examples/basic/.eslintrc.js
  examples/basic/.gitignore
  examples/basic/apps/docs/.eslintrc.js
  examples/basic/apps/docs/.gitignore
  examples/basic/apps/docs/app/page.tsx
  examples/basic/apps/docs/next.config.js
  examples/basic/apps/docs/package.json
  examples/basic/apps/docs/tsconfig.json
  examples/basic/apps/web/.eslintrc.js
  examples/basic/apps/web/app/page.tsx
  examples/basic/apps/web/next.config.js
  examples/basic/apps/web/package.json
  examples/basic/apps/web/tsconfig.json
  examples/basic/package.json
  examples/basic/packages/eslint-config-custom/library.js
  examples/basic/packages/eslint-config-custom/next.js
  examples/basic/packages/eslint-config-custom/package.json
  examples/basic/packages/eslint-config/README.md
  examples/basic/packages/eslint-config/library.js
  examples/basic/packages/eslint-config/next.js
  examples/basic/packages/eslint-config/package.json
  examples/basic/packages/eslint-config/react-internal.js
  examples/basic/packages/tsconfig/base.json
  examples/basic/packages/typescript-config/base.json
  examples/basic/packages/typescript-config/nextjs.json
  examples/basic/packages/typescript-config/package.json
  examples/basic/packages/typescript-config/react-library.json
  examples/basic/packages/ui/.eslintrc.js
  examples/basic/packages/ui/index.tsx
  examples/basic/packages/ui/package.json
  examples/basic/packages/ui/src/card.tsx
  examples/basic/packages/ui/src/code.tsx
  examples/basic/packages/ui/tsconfig.lint.json
  examples/basic/packages/ui/turbo.json
  examples/basic/packages/ui/turbo/generators/config.ts
  examples/basic/pnpm-lock.yaml
  examples/basic/tsconfig.json
  examples/basic/turbo.json
  examples/non-monorepo/package-lock.json
  examples/non-monorepo/package.json
  examples/non-monorepo/pnpm-lock.yaml
  examples/non-monorepo/tsconfig.json
  packages/create-turbo/README.md
Labels: area: examples, pkg: create-turbo, owned-by: turborepo

#6517 fix: fixup unit tests that use the basic example
  cli/internal/packagemanager/packagemanager_test.go
  crates/turborepo-repository/src/package_manager/mod.rs
Labels: owned-by: turborepo, created-by: turborepo

#6516 fix: Deadlock with closing process manager
  crates/turborepo-lib/src/process/child.rs
Labels: owned-by: turborepo, created-by: turborepo

#6490 port(Turborepo): various graph formats
  .github/workflows/test.yml
  cli/internal/graphvisualizer/graphvisualizer.go
  crates/turborepo-lib/Cargo.toml
  crates/turborepo-lib/src/engine/mermaid.rs
  crates/turborepo-lib/src/engine/mod.rs
  crates/turborepo-lib/src/run/error.rs
  crates/turborepo-lib/src/run/graph_visualizer.rs
  crates/turborepo-lib/src/run/mod.rs
  crates/turborepo-lib/src/run/scope/filter.rs
  crates/turborepo-lib/src/run/scope/mod.rs
  crates/turborepo-ui/src/lib.rs
  turborepo-tests/integration/tests/run/graph.t
  turborepo-tests/integration/tests/run/single-package/graph.t
Labels: area: ci, owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#6515 chore(tests): delete e2e tests for turbo prune
  turborepo-tests/e2e/fixtures.ts
  turborepo-tests/e2e/helpers.ts
  turborepo-tests/e2e/index.ts
  turborepo-tests/e2e/tests/prune-docker.ts
  turborepo-tests/e2e/tests/prune.ts
Labels: owned-by: turborepo, created-by: turborepo

#6522 Fixes to Contributing guide
  CONTRIBUTING.md
  crates/turborepo/README.md
Labels: owned-by: turborepo, owned-by: turbopack

#6527 Revert "Extend resolving to allow reference type for plugins and extensions for MainField"
  crates/turbopack-core/src/resolve/mod.rs
  crates/turbopack-core/src/resolve/node.rs
  crates/turbopack-core/src/resolve/options.rs
  crates/turbopack-core/src/resolve/plugin.rs
  crates/turbopack-dev/src/react_refresh.rs
  crates/turbopack-ecmascript/src/references/mod.rs
  crates/turbopack-ecmascript/src/resolve/mod.rs
  crates/turbopack-ecmascript/src/typescript/resolve.rs
  crates/turbopack-ecmascript/src/webpack/mod.rs
  crates/turbopack/src/lib.rs
  crates/turbopack/src/resolve.rs
  crates/turbopack/src/unsupported_sass.rs
Labels: owned-by: turbopack, created-by: turbopack

#6531 fix(turbopack): postcss should be applied to `@import`ed CSS files
  crates/turbopack/src/module_options/mod.rs
Labels: owned-by: turbopack, created-by: turbopack

#6420 feat: make rust codepath opt-out
  crates/turborepo-lib/src/cli/mod.rs
  pnpm-lock.yaml
  turborepo-tests/e2e/package.json
  turborepo-tests/integration/package.json
Labels: owned-by: turborepo, created-by: turborepo

#6533 Bump Next.js in examples.
  examples/basic/apps/docs/package.json
  examples/basic/apps/web/package.json
  examples/basic/pnpm-lock.yaml
  examples/kitchen-sink/apps/storefront/package.json
  examples/kitchen-sink/pnpm-lock.yaml
  examples/non-monorepo/package-lock.json
  examples/non-monorepo/package.json
  examples/with-berry/apps/docs/package.json
  examples/with-berry/apps/web/package.json
  examples/with-berry/packages/eslint-config-custom/package.json
  examples/with-berry/yarn.lock
  examples/with-changesets/apps/docs/package.json
  examples/with-changesets/packages/eslint-config-acme/package.json
  examples/with-changesets/pnpm-lock.yaml
  examples/with-docker/apps/web/package.json
  examples/with-docker/packages/eslint-config-custom/package.json
  examples/with-docker/yarn.lock
  examples/with-gatsby/apps/docs/package.json
  examples/with-gatsby/pnpm-lock.yaml
  examples/with-npm/apps/docs/package.json
  examples/with-npm/apps/web/package.json
  examples/with-npm/package-lock.json
  examples/with-npm/packages/eslint-config-custom/package.json
  examples/with-prisma/apps/web/package.json
  examples/with-prisma/packages/config/package.json
  examples/with-prisma/yarn.lock
  examples/with-react-native-web/apps/web/package.json
  examples/with-react-native-web/yarn.lock
  examples/with-rollup/apps/web/package.json
  examples/with-rollup/packages/eslint-config-custom/package.json
  examples/with-rollup/pnpm-lock.yaml
  examples/with-tailwind/apps/docs/package.json
  examples/with-tailwind/apps/web/package.json
  examples/with-tailwind/pnpm-lock.yaml
  examples/with-yarn/apps/docs/package.json
  examples/with-yarn/apps/web/package.json
  examples/with-yarn/packages/eslint-config-custom/package.json
  examples/with-yarn/yarn.lock
Labels: area: examples, owned-by: turborepo

#6532 fix: run summary tests
  cli/internal/run/dry_run.go
  cli/internal/runsummary/run_summary.go
  crates/turborepo-lib/src/run/summary/task_factory.rs
  turborepo-tests/integration/tests/dry-json/monorepo.t
  turborepo-tests/integration/tests/dry-json/single-package-no-config.t
  turborepo-tests/integration/tests/dry-json/single-package-with-deps.t
  turborepo-tests/integration/tests/dry-json/single_package.t
  turborepo-tests/integration/tests/framework-inference.t
  turborepo-tests/integration/tests/run-summary/error.t
  turborepo-tests/integration/tests/run/single-package/dry-run.t
  turborepo-tests/integration/tests/run/single-package/no-config.t
  turborepo-tests/integration/tests/run/single-package/with-deps-dry-run.t
Labels: owned-by: turborepo, created-by: turborepo

#6530 fix node.js externals
  crates/turbopack-core/src/resolve/mod.rs
  crates/turbopack-core/src/resolve/node.rs
  crates/turbopack-core/src/resolve/options.rs
  crates/turbopack-core/src/resolve/plugin.rs
  crates/turbopack-dev/src/react_refresh.rs
  crates/turbopack-ecmascript-runtime/js/src/dev/runtime/nodejs/runtime-backend-nodejs.ts
  crates/turbopack-ecmascript-runtime/js/src/shared-node/node-utils.ts
  crates/turbopack-ecmascript/src/lib.rs
  crates/turbopack-ecmascript/src/references/async_module.rs
  crates/turbopack-ecmascript/src/references/esm/base.rs
  crates/turbopack-ecmascript/src/references/esm/dynamic.rs
  crates/turbopack-ecmascript/src/references/mod.rs
  crates/turbopack-ecmascript/src/resolve/mod.rs
  crates/turbopack-ecmascript/src/tree_shake/asset.rs
  crates/turbopack-ecmascript/src/typescript/resolve.rs
  crates/turbopack-ecmascript/src/webpack/mod.rs
  crates/turbopack-node/src/evaluate.rs
  crates/turbopack-tests/tests/snapshot/runtime/default_build_runtime/output/[turbopack]_runtime.js
  crates/turbopack-tests/tests/snapshot/runtime/default_build_runtime/output/[turbopack]_runtime.js.map
  crates/turbopack/src/lib.rs
  crates/turbopack/src/module_options/mod.rs
  crates/turbopack/src/module_options/module_options_context.rs
  crates/turbopack/src/resolve.rs
  crates/turbopack/src/unsupported_sass.rs
Labels: owned-by: turbopack, created-by: turbopack

#6535 Turbopack: Support styled issue titles and details
  crates/turbo-tasks-fetch/src/lib.rs
  crates/turbo-tasks-fetch/tests/fetch.rs
  crates/turbopack-cli-utils/src/issue.rs
  crates/turbopack-core/src/issue/analyze.rs
  crates/turbopack-core/src/issue/code_gen.rs
  crates/turbopack-core/src/issue/mod.rs
  crates/turbopack-core/src/issue/resolve.rs
  crates/turbopack-core/src/issue/unsupported_module.rs
  crates/turbopack-core/src/package_json.rs
  crates/turbopack-css/src/module_asset.rs
  crates/turbopack-dev-server/src/update/stream.rs
  crates/turbopack-dev/src/ecmascript/content_entry.rs
  crates/turbopack-dev/src/react_refresh.rs
  crates/turbopack-ecmascript-hmr-protocol/src/lib.rs
  crates/turbopack-ecmascript-plugins/src/transform/swc_ecma_transform_plugins.rs
  crates/turbopack-ecmascript/src/chunk/item.rs
  crates/turbopack-ecmascript/src/parse.rs
  crates/turbopack-ecmascript/src/references/pattern_mapping.rs
  crates/turbopack-ecmascript/src/references/type_issue.rs
  crates/turbopack-ecmascript/src/transform/mod.rs
  crates/turbopack-ecmascript/src/typescript/resolve.rs
  crates/turbopack-env/src/issue.rs
  crates/turbopack-image/src/process/mod.rs
  crates/turbopack-node/src/evaluate.rs
  crates/turbopack-node/src/render/issue.rs
  crates/turbopack-node/src/transforms/postcss.rs
  crates/turbopack-test-utils/src/snapshot.rs
  crates/turbopack-tests/tests/execution/turbopack/async-modules/export-all/issues/unexpected export __star__-552df3.txt
  crates/turbopack-tests/tests/execution/turbopack/basic/comptime/issues/__l___Module not found____c__ Can't resolve '__c_.-3d205b.txt
  crates/turbopack-tests/tests/execution/turbopack/basic/error/issues/Reading source code for parsing failed-10c381.txt
  crates/turbopack-tests/tests/execution/turbopack/basic/node-default-import/issues/Specified module format (CommonJs) is not matching-5aa25b.txt
  crates/turbopack-tests/tests/execution/turbopack/basic/node-default-import/issues/Specified module format (EcmaScript Modules) is no-3b245e.txt
  crates/turbopack-tests/tests/snapshot/export-alls/cjs-2/issues/unexpected export __star__-6e2530.txt
  crates/turbopack-tests/tests/snapshot/export-alls/cjs-script/issues/unexpected export __star__-dcaf75.txt
  crates/turbopack-tests/tests/snapshot/imports/json/issues/Code generation for chunk item errored-89ef82.txt
  crates/turbopack-tests/tests/snapshot/imports/resolve_error_cjs/issues/__l___Module not found____c__ Can't resolve '__c_d-1c6161.txt
  crates/turbopack-tests/tests/snapshot/imports/resolve_error_esm/issues/__l___Module not found____c__ Can't resolve '__c_d-47e57d.txt
  crates/turbopack/src/lib.rs
  crates/turbopack/src/unsupported_sass.rs
Labels: owned-by: turbopack, created-by: turbopack

#6536 fix: make spaces requests in parallel
  crates/turborepo-lib/src/run/summary/spaces.rs
Labels: owned-by: turborepo, created-by: turborepo

#6538 fix: avoid upgrading outdated packages on GH actions
  .github/workflows/test.yml
Labels: area: ci, owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#6528 refactor: switch daemon version to be independent of turbo version
  cli/internal/turbodprotocol/turbod.proto
  crates/turborepo-lib/src/daemon/client.rs
  crates/turborepo-lib/src/daemon/connector.rs
  crates/turborepo-lib/src/daemon/mod.rs
  crates/turborepo-lib/src/daemon/server.rs
Labels: owned-by: turborepo, created-by: turborepo

#6545 clear raw variant to actually replace the value
  crates/turbopack-css/src/references/url.rs
Labels: owned-by: turbopack, created-by: turbopack

#6542 fix: analytics closing when all senders drop
  crates/turborepo-analytics/src/lib.rs
Labels: owned-by: turborepo, created-by: turborepo

#6525 Add support for enabling .mjs extension resolving
  crates/turbopack/src/resolve.rs
  crates/turbopack/src/resolve_options_context.rs
Labels: owned-by: turbopack

#6540 feat: add a go fallback flag
  crates/turborepo-lib/src/cli/mod.rs
  turborepo-tests/integration/tests/no-args.t
  turborepo-tests/integration/tests/turbo-help.t
Labels: owned-by: turborepo, created-by: turborepo

#6554 some tsconfig fixups
  crates/turbopack-ecmascript/src/typescript/resolve.rs
Labels: owned-by: turbopack, created-by: turbopack

#6561 Capitalization.
  docs/pages/repo/docs/reference/command-line-reference/run.mdx
Labels: area: docs, owned-by: turborepo

#6562 add enable_edge_node_externals
  crates/turbopack-core/src/environment.rs
  crates/turbopack-ecmascript/src/references/esm/base.rs
  crates/turbopack/src/resolve.rs
  crates/turbopack/src/resolve_options_context.rs
Labels: owned-by: turbopack, created-by: turbopack

#6567 chore(node): updates engines
  .node-version
  package.json
Labels: owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#6565 chore(ci): delete e2e tests covering monorepo root in subdir
  turborepo-tests/e2e/index.ts
  turborepo-tests/e2e/monorepo.ts
Labels: owned-by: turborepo, created-by: turborepo

#6512 fix(benchmarks): fix paths after workspace moved
  .github/workflows/bench-turborepo.yml
  packages/turbo-benchmark/.gitignore
  packages/turbo-benchmark/profiles/.keep
  packages/turbo-benchmark/src/ttft/index.ts
  packages/turbo-benchmark/src/ttft/slack.ts
Labels: area: ci, owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#6568 Set engine on create-turbo.
  examples/basic/README.md
  examples/basic/package.json
  examples/basic/pnpm-lock.yaml
Labels: area: examples, owned-by: turborepo

#6552 fix: treat missing and empty scripts the same
  crates/turborepo-lib/src/task_graph/visitor.rs
Labels: owned-by: turborepo, created-by: turborepo

#6569 test(gen): add generator command tests
  crates/turborepo-lib/src/cli/mod.rs
Labels: owned-by: turborepo, created-by: turborepo

#6556 Remove create-react-app example.
  examples/with-create-react-app/.gitignore
  examples/with-create-react-app/.npmrc
  examples/with-create-react-app/README.md
  examples/with-create-react-app/apps/docs/.eslintrc.js
  examples/with-create-react-app/apps/docs/README.md
  examples/with-create-react-app/apps/docs/package.json
  examples/with-create-react-app/apps/docs/public/favicon.ico
  examples/with-create-react-app/apps/docs/public/index.html
  examples/with-create-react-app/apps/docs/public/logo192.png
  examples/with-create-react-app/apps/docs/public/logo512.png
  examples/with-create-react-app/apps/docs/public/manifest.json
  examples/with-create-react-app/apps/docs/public/robots.txt
  examples/with-create-react-app/apps/docs/src/App.css
  examples/with-create-react-app/apps/docs/src/App.test.tsx
  examples/with-create-react-app/apps/docs/src/App.tsx
  examples/with-create-react-app/apps/docs/src/index.css
  examples/with-create-react-app/apps/docs/src/index.tsx
  examples/with-create-react-app/apps/docs/src/react-app-env.d.ts
  examples/with-create-react-app/apps/docs/src/reportWebVitals.ts
  examples/with-create-react-app/apps/docs/src/setupTests.ts
  examples/with-create-react-app/apps/docs/tsconfig.json
  examples/with-create-react-app/apps/web/.eslintrc.js
  examples/with-create-react-app/apps/web/README.md
  examples/with-create-react-app/apps/web/package.json
  examples/with-create-react-app/apps/web/public/favicon.ico
  examples/with-create-react-app/apps/web/public/index.html
  examples/with-create-react-app/apps/web/public/logo192.png
  examples/with-create-react-app/apps/web/public/logo512.png
  examples/with-create-react-app/apps/web/public/manifest.json
  examples/with-create-react-app/apps/web/public/robots.txt
  examples/with-create-react-app/apps/web/src/App.css
  examples/with-create-react-app/apps/web/src/App.test.tsx
  examples/with-create-react-app/apps/web/src/App.tsx
  examples/with-create-react-app/apps/web/src/index.css
  examples/with-create-react-app/apps/web/src/index.tsx
  examples/with-create-react-app/apps/web/src/react-app-env.d.ts
  examples/with-create-react-app/apps/web/src/reportWebVitals.ts
  examples/with-create-react-app/apps/web/src/setupTests.ts
  examples/with-create-react-app/apps/web/tsconfig.json
  examples/with-create-react-app/meta.json
  examples/with-create-react-app/package.json
  examples/with-create-react-app/packages/eslint-config-custom/README.md
  examples/with-create-react-app/packages/eslint-config-custom/library.js
  examples/with-create-react-app/packages/eslint-config-custom/package.json
  examples/with-create-react-app/packages/eslint-config-custom/react.js
  examples/with-create-react-app/packages/tsconfig/README.md
  examples/with-create-react-app/packages/tsconfig/base.json
  examples/with-create-react-app/packages/tsconfig/package.json
  examples/with-create-react-app/packages/tsconfig/react-app.json
  examples/with-create-react-app/packages/tsconfig/react-library.json
  examples/with-create-react-app/packages/ui/.eslintrc.js
  examples/with-create-react-app/packages/ui/package.json
  examples/with-create-react-app/packages/ui/src/Link.tsx
  examples/with-create-react-app/packages/ui/src/index.tsx
  examples/with-create-react-app/packages/ui/tsconfig.json
  examples/with-create-react-app/pnpm-lock.yaml
  examples/with-create-react-app/pnpm-workspace.yaml
  examples/with-create-react-app/tsconfig.json
  examples/with-create-react-app/turbo.json
Labels: area: examples, owned-by: turborepo

#6574 Update with-vite example.
  examples/with-vite/.eslintrc.js
  examples/with-vite/apps/docs/.eslintrc.cjs
  examples/with-vite/apps/docs/package.json
  examples/with-vite/apps/docs/src/main.ts
  examples/with-vite/apps/docs/tsconfig.json
  examples/with-vite/apps/web/.eslintrc.cjs
  examples/with-vite/apps/web/package.json
  examples/with-vite/apps/web/src/main.ts
  examples/with-vite/apps/web/tsconfig.json
  examples/with-vite/package.json
  examples/with-vite/packages/config-eslint/index.js
  examples/with-vite/packages/config-eslint/package.json
  examples/with-vite/packages/config-typescript/base.json
  examples/with-vite/packages/config-typescript/package.json
  examples/with-vite/packages/config-typescript/vite.json
  examples/with-vite/packages/eslint-config-custom/package.json
  examples/with-vite/packages/ui/.eslintrc.cjs
  examples/with-vite/packages/ui/package.json
  examples/with-vite/packages/ui/tsconfig.json
  examples/with-vite/pnpm-lock.yaml
Labels: area: examples, pr: fixship, owned-by: turborepo

#6553 Package bumps for non-monorepo example.
  examples/non-monorepo/package.json
Labels: area: examples, owned-by: turborepo

#6566 edge runtime also has externals
  crates/turbopack-core/src/environment.rs
  crates/turbopack-ecmascript-runtime/js/src/build/runtime.ts
  crates/turbopack-ecmascript-runtime/js/src/dev/runtime/nodejs/runtime-backend-nodejs.ts
  crates/turbopack-ecmascript-runtime/js/src/dev/runtime/none/runtime-backend-none.ts
  crates/turbopack-ecmascript-runtime/js/src/shared-node/node-externals-utils.ts
  crates/turbopack-ecmascript-runtime/js/src/shared-node/node-wasm-utils.ts
  crates/turbopack-ecmascript-runtime/src/build_runtime.rs
  crates/turbopack-ecmascript-runtime/src/dev_runtime.rs
  crates/turbopack-ecmascript/src/chunk/item.rs
  crates/turbopack-tests/tests/snapshot/runtime/default_build_runtime/output/[turbopack]_runtime.js
  crates/turbopack-tests/tests/snapshot/runtime/default_build_runtime/output/[turbopack]_runtime.js.map
Labels: owned-by: turbopack, created-by: turbopack

#6472 Update `swc_core` to `v0.86.81`
  Cargo.lock
  Cargo.toml
  crates/turbopack-ecmascript-plugins/src/transform/styled_components.rs
Labels: pr: automerge, owned-by: turborepo, owned-by: turbopack, created-by: turbopack

#6589 fix(turbopack-bench): remove outdated `experimental.appDir` from next.config.js
  crates/turbopack-bench/src/bundlers/nextjs/next.config.js
Labels: owned-by: turbopack, created-by: turbopack

#6592 chore(release): delete smoke published & update docs
  .github/turbo-orchestrator.yml
  .github/workflows/turborepo-smoke-published.yml
  release.md
  scripts/smoke-published.ts
Labels: area: ci, owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#6580 chore(docs): remove backticks from title/desc meta tags on CLI reference pages
  docs/pages/repo/docs/reference/command-line-reference/bin.mdx
  docs/pages/repo/docs/reference/command-line-reference/gen.mdx
  docs/pages/repo/docs/reference/command-line-reference/link.mdx
  docs/pages/repo/docs/reference/command-line-reference/login.mdx
  docs/pages/repo/docs/reference/command-line-reference/logout.mdx
  docs/pages/repo/docs/reference/command-line-reference/prune.mdx
  docs/pages/repo/docs/reference/command-line-reference/run.mdx
  docs/pages/repo/docs/reference/command-line-reference/unlink.mdx
Labels: area: docs, owned-by: turborepo, created-by: turborepo

#6581 feat(docs): add node version compatibility for examples
  docs/pages/repo/docs/support.mdx
Labels: area: docs, owned-by: turborepo, created-by: turborepo

#6591 fix(docs): update inconsistent CLI headings
  docs/pages/repo/docs/reference/command-line-reference/gen.mdx
  docs/pages/repo/docs/reference/command-line-reference/link.mdx
  docs/pages/repo/docs/reference/command-line-reference/logout.mdx
  docs/pages/repo/docs/reference/command-line-reference/prune.mdx
  docs/pages/repo/docs/reference/command-line-reference/unlink.mdx
Labels: area: docs, owned-by: turborepo, created-by: turborepo

#6587 chore(tests): setup graphviz before running tests
  .github/workflows/test.yml
Labels: area: ci, owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#6523 feat(ci): Enable Windows tests with Rust codepath
  .github/workflows/test.yml
Labels: area: ci, owned-by: turborepo, owned-by: turbopack, created-by: turborepo
