Repository vercel/turborepo, pull requests merged in 2023-12, with the labels that each got.

#6649 fix: clean paths and use package path instead of package.json path
  Cargo.lock
  cli/internal/scope/filter/filter_test.go
  cli/internal/scope/filter/parse_target_selector_test.go
  crates/turborepo-lib/Cargo.toml
  crates/turborepo-lib/src/run/scope/filter.rs
  crates/turborepo-lib/src/run/scope/target_selector.rs
  turborepo-tests/integration/tests/run/infer-pkg.t
Labels: owned-by: turborepo, created-by: turborepo

#6665 Revert "chore: reduce sleep length in test cases (#6640)"
  turborepo-tests/integration/tests/_fixtures/ordered/apps/my-app/package.json
  turborepo-tests/integration/tests/_fixtures/ordered/packages/util/package.json
  turborepo-tests/integration/tests/run-logging/log-order-github.t
  turborepo-tests/integration/tests/run-logging/log-order-grouped.t
Labels: owned-by: turborepo, created-by: turborepo

#6648 Make examples tests work again.
  .github/workflows/test.yml
  turborepo-tests/example-pnpm-kitchen-sink/test.t
  turborepo-tests/example-yarn-non-monorepo/test.t
  turborepo-tests/example-yarn-with-yarn/test.t
  turborepo-tests/helpers/examples_setup.sh
Labels: area: ci, owned-by: turborepo, owned-by: turbopack

#6548 Update with-changesets.
  examples/with-changesets/.eslintrc.js
  examples/with-changesets/README.md
  examples/with-changesets/apps/docs/.eslintrc.js
  examples/with-changesets/apps/docs/package.json
  examples/with-changesets/package.json
  examples/with-changesets/packages/acme-core/.eslintrc.js
  examples/with-changesets/packages/acme-core/package.json
  examples/with-changesets/packages/acme-core/src/Button.tsx
  examples/with-changesets/packages/acme-core/src/index.tsx
  examples/with-changesets/packages/acme-utils/.eslintrc.js
  examples/with-changesets/packages/acme-utils/package.json
  examples/with-changesets/packages/eslint-config-acme/index.js
  examples/with-changesets/packages/eslint-config-acme/package.json
  examples/with-changesets/packages/eslint-config/README.md
  examples/with-changesets/packages/eslint-config/library.js
  examples/with-changesets/packages/eslint-config/next.js
  examples/with-changesets/packages/eslint-config/package.json
  examples/with-changesets/packages/eslint-config/react-internal.js
  examples/with-changesets/pnpm-lock.yaml
Labels: area: examples, owned-by: turborepo

#6572 Update with-react-native-web example.
  examples/with-react-native-web/README.md
  examples/with-react-native-web/apps/native/App.tsx
  examples/with-react-native-web/apps/native/package.json
  examples/with-react-native-web/apps/web/.babel.config.js
  examples/with-react-native-web/apps/web/.eslintrc.json
  examples/with-react-native-web/apps/web/app/page.tsx
  examples/with-react-native-web/apps/web/package.json
  examples/with-react-native-web/apps/web/tsconfig.json
  examples/with-react-native-web/package.json
  examples/with-react-native-web/packages/typescript-config/base.json
  examples/with-react-native-web/packages/typescript-config/nextjs.json
  examples/with-react-native-web/packages/typescript-config/package.json
  examples/with-react-native-web/packages/typescript-config/react-native-library.json
  examples/with-react-native-web/packages/ui/package.json
  examples/with-react-native-web/packages/ui/tsconfig.json
  examples/with-react-native-web/yarn.lock
Labels: area: examples, owned-by: turborepo

#6669 chore(tests): write a test showing the behavior of gitignored inputs
  turborepo-tests/integration/tests/_fixtures/turbo-configs/gitignored-inputs.json
  turborepo-tests/integration/tests/run/gitignored-inputs.t
Labels: owned-by: turborepo, created-by: turborepo

#6321 Fixed hero section not properly covering screen height
  docs/components/pages/pack-home/PackHero.tsx
  docs/components/pages/repo-home/RepoHero.tsx
Labels: area: site, owned-by: turborepo, owned-by: turbopack

#6672 fix(ecmascript): dbg assert for the globals
  crates/turbopack-ecmascript/src/analyzer/graph.rs
Labels: owned-by: turbopack, created-by: turbopack

#6679 fix(tests): fix unit tests that rely on examples
  cli/internal/packagemanager/packagemanager_test.go
Labels: owned-by: turborepo, created-by: turborepo

#6680 chore(tests): remove duplicate setup_git script
  turborepo-tests/helpers/install_deps.sh
  turborepo-tests/helpers/setup_git_old.sh
  turborepo-tests/helpers/setup_integration_test.sh
  turborepo-tests/integration/tests/inference/nested_workspaces_setup.sh
  turborepo-tests/integration/tests/inference/no_workspaces_setup.sh
  turborepo-tests/integration/tests/run/single-package/run-yarn.t
Labels: owned-by: turborepo, created-by: turborepo

#6588 ci: remove daily turbopack next.js integration test workflow
  .github/workflows/daily-nextjs-integration-test.yml
  .github/workflows/nextjs-integration-test.yml
  .github/workflows/on-nextjs-release.yml
  .github/workflows/setup-nextjs-build.yml
  .github/workflows/test.yml
  .github/workflows/upload-nextjs-integration-test-results.yml
Labels: area: ci, owned-by: turborepo, owned-by: turbopack, created-by: turbopack

#6683 chore(tests): make fixture copying consistent
  turborepo-tests/helpers/copy_fixture.sh
  turborepo-tests/helpers/examples_setup.sh
  turborepo-tests/helpers/setup_integration_test.sh
  turborepo-tests/integration/tests/prune/resolutions.t
  turborepo-tests/integration/tests/prune/yarn-pnp.t
Labels: owned-by: turborepo, created-by: turborepo

#6666 Turbopack css: treat `composes` and `@import` as urls when resolving
  crates/turbopack-core/src/resolve/mod.rs
  crates/turbopack-css/src/references/mod.rs
  crates/turbopack-css/src/references/url.rs
  crates/turbopack-ecmascript/src/references/esm/url.rs
  crates/turbopack-ecmascript/src/resolve/mod.rs
  crates/turbopack-tests/tests/snapshot/css/relative-uri-import/input/another.css
  crates/turbopack-tests/tests/snapshot/css/relative-uri-import/input/index.css
  crates/turbopack-tests/tests/snapshot/css/relative-uri-import/input/index.js
  crates/turbopack-tests/tests/snapshot/css/relative-uri-import/input/other.css
  crates/turbopack-tests/tests/snapshot/css/relative-uri-import/output/79fb1_turbopack-tests_tests_snapshot_css_relative-uri-import_input_another_7d7e1c.css
  crates/turbopack-tests/tests/snapshot/css/relative-uri-import/output/79fb1_turbopack-tests_tests_snapshot_css_relative-uri-import_input_another_7d7e1c.css.map
  crates/turbopack-tests/tests/snapshot/css/relative-uri-import/output/crates_turbopack-tests_tests_snapshot_css_relative-uri-import_input_99b643._.css
  crates/turbopack-tests/tests/snapshot/css/relative-uri-import/output/crates_turbopack-tests_tests_snapshot_css_relative-uri-import_input_99b643._.css.map
  crates/turbopack-tests/tests/snapshot/css/relative-uri-import/output/crates_turbopack-tests_tests_snapshot_css_relative-uri-import_input_index_7d7e1c.css
  crates/turbopack-tests/tests/snapshot/css/relative-uri-import/output/crates_turbopack-tests_tests_snapshot_css_relative-uri-import_input_index_7d7e1c.css.map
  crates/turbopack-tests/tests/snapshot/css/relative-uri-import/output/crates_turbopack-tests_tests_snapshot_css_relative-uri-import_input_index_8c26d0.js
  crates/turbopack-tests/tests/snapshot/css/relative-uri-import/output/crates_turbopack-tests_tests_snapshot_css_relative-uri-import_input_index_8c26d0.js.map
  crates/turbopack-tests/tests/snapshot/css/relative-uri-import/output/crates_turbopack-tests_tests_snapshot_css_relative-uri-import_input_index_a0e1a8.js
  crates/turbopack-tests/tests/snapshot/css/relative-uri-import/output/crates_turbopack-tests_tests_snapshot_css_relative-uri-import_input_index_c2ad30.js
  crates/turbopack-tests/tests/snapshot/css/relative-uri-import/output/crates_turbopack-tests_tests_snapshot_css_relative-uri-import_input_index_c2ad30.js.map
  crates/turbopack-tests/tests/snapshot/css/relative-uri-import/output/crates_turbopack-tests_tests_snapshot_css_relative-uri-import_input_other_7d7e1c.css
  crates/turbopack-tests/tests/snapshot/css/relative-uri-import/output/crates_turbopack-tests_tests_snapshot_css_relative-uri-import_input_other_7d7e1c.css.map
  crates/turbopack-tests/tests/snapshot/cssmodules/relative-uri-import/input/index.js
  crates/turbopack-tests/tests/snapshot/cssmodules/relative-uri-import/input/index.module.css
  crates/turbopack-tests/tests/snapshot/cssmodules/relative-uri-import/input/other.module.css
  crates/turbopack-tests/tests/snapshot/cssmodules/relative-uri-import/output/79fb1_turbopack-tests_tests_snapshot_cssmodules_relative-uri-import_input_6d6278._.css
  crates/turbopack-tests/tests/snapshot/cssmodules/relative-uri-import/output/79fb1_turbopack-tests_tests_snapshot_cssmodules_relative-uri-import_input_6d6278._.css.map
  crates/turbopack-tests/tests/snapshot/cssmodules/relative-uri-import/output/79fb1_turbopack-tests_tests_snapshot_cssmodules_relative-uri-import_input_f065a6._.js
  crates/turbopack-tests/tests/snapshot/cssmodules/relative-uri-import/output/79fb1_turbopack-tests_tests_snapshot_cssmodules_relative-uri-import_input_f065a6._.js.map
  crates/turbopack-tests/tests/snapshot/cssmodules/relative-uri-import/output/a587c_tests_snapshot_cssmodules_relative-uri-import_input_index_659e9a.js
  crates/turbopack-tests/tests/snapshot/cssmodules/relative-uri-import/output/a587c_tests_snapshot_cssmodules_relative-uri-import_input_index_659e9a.js.map
  crates/turbopack-tests/tests/snapshot/cssmodules/relative-uri-import/output/a587c_tests_snapshot_cssmodules_relative-uri-import_input_index_9b1f50.js
  crates/turbopack-tests/tests/snapshot/cssmodules/relative-uri-import/output/a587c_tests_snapshot_cssmodules_relative-uri-import_input_index_module_7d7e1c.css
  crates/turbopack-tests/tests/snapshot/cssmodules/relative-uri-import/output/a587c_tests_snapshot_cssmodules_relative-uri-import_input_index_module_7d7e1c.css.map
  crates/turbopack-tests/tests/snapshot/cssmodules/relative-uri-import/output/a587c_tests_snapshot_cssmodules_relative-uri-import_input_other_module_7d7e1c.css
  crates/turbopack-tests/tests/snapshot/cssmodules/relative-uri-import/output/a587c_tests_snapshot_cssmodules_relative-uri-import_input_other_module_7d7e1c.css.map
Labels: owned-by: turbopack, created-by: turbopack

#6684 chore(tests): Enable corepack in local directory for integration tests
  turborepo-tests/helpers/examples_setup.sh
  turborepo-tests/helpers/setup_package_manager.sh
Labels: owned-by: turborepo, created-by: turborepo

#6685 chore(tests): delete feature where @canary turbo is used
  turborepo-tests/helpers/examples_setup.sh
Labels: owned-by: turborepo, created-by: turborepo

#6693 fix(tests): update rust unit tests that rely on with-yarn fixture
  crates/turborepo-repository/src/package_manager/mod.rs
Labels: owned-by: turborepo, created-by: turborepo

#6695 chore(daemon) disable daemon workspace discovery
  crates/turborepo-lib/src/run/mod.rs
  crates/turborepo-repository/src/discovery.rs
Labels: owned-by: turborepo, created-by: turborepo

#6699 Align task names in ^topo doc.
  docs/pages/repo/docs/core-concepts/monorepos/task-dependencies.mdx
  docs/public/images/docs/task-graph-with-placeholder-task.png
Labels: area: docs, area: site, owned-by: turborepo, owned-by: turbopack

#6697 Capitalize the Tools category in sidebar.
  docs/pages/repo/docs/handbook/_meta.json
Labels: area: site, owned-by: turborepo

#6696 Add yarn v2+ caveat for installing Internal Packages.
  docs/pages/repo/docs/handbook/workspaces.mdx
Labels: area: docs, owned-by: turborepo

#6657 Update command-line-reference.mdx for --log-prefix CLI option
  docs/pages/repo/docs/reference/command-line-reference/run.mdx
Labels: area: docs, owned-by: turborepo

#6701 add user level tracing
  Cargo.lock
  crates/turbo-tasks-fs/src/lib.rs
  crates/turbo-tasks-fs/src/retry.rs
  crates/turbo-tasks/src/manager.rs
  crates/turbopack-build/Cargo.toml
  crates/turbopack-build/src/chunking_context.rs
  crates/turbopack-core/src/chunk/mod.rs
  crates/turbopack-core/src/resolve/mod.rs
  crates/turbopack-dev/src/chunking_context.rs
  crates/turbopack-ecmascript/src/lib.rs
  crates/turbopack-ecmascript/src/parse.rs
  crates/turbopack-ecmascript/src/references/mod.rs
  crates/turbopack-ecmascript/src/tree_shake/asset.rs
  crates/turbopack-trace-utils/src/tracing_presets.rs
  crates/turbopack/Cargo.toml
  crates/turbopack/src/lib.rs
Labels: owned-by: turbopack, created-by: turbopack

#6616 feat(turbopack): support "loading" WebAssembly injected as global varables in edge runtime
  crates/turbopack-ecmascript-runtime/js/src/dev/runtime/none/runtime-backend-none.ts
  crates/turbopack-ecmascript-runtime/js/src/dev/runtime/none/tsconfig.json
Labels: owned-by: turbopack, created-by: turbopack

#6694 chore: use path library read_to_string for better error message
  crates/turborepo-repository/src/package_json.rs
Labels: owned-by: turborepo, created-by: turborepo

#6702 chore: make go-fallback confilct with remote cache read only
  crates/turborepo-lib/src/cli/mod.rs
  turborepo-tests/integration/tests/no-args.t
  turborepo-tests/integration/tests/turbo-help.t
Labels: owned-by: turborepo, created-by: turborepo

#6704 Upgrade Turborepo bug issue template.
  .github/ISSUE_TEMPLATE/0-turborepo-bug-report.yml
Labels: owned-by: turborepo, owned-by: turbopack

#6541 1.11 release post.
  docs/pages/blog/_meta.json
  docs/pages/blog/turbo-1-11-0.mdx
  docs/public/images/blog/turbo-1-11-0/log-order-groups-dark.png
  docs/public/images/blog/turbo-1-11-0/log-order-groups-light.png
  docs/public/images/blog/turbo-1-11-0/x-card.png
  docs/turbo/generators/templates/release-blog-post.hbs
Labels: area: docs, area: site, owned-by: turborepo, owned-by: turbopack

#6688 Example with only shell commands.
  examples/with-shell-commands/.gitignore
  examples/with-shell-commands/README.md
  examples/with-shell-commands/apps/apps-a/README.md
  examples/with-shell-commands/apps/apps-a/package.json
  examples/with-shell-commands/apps/apps-b/README.md
  examples/with-shell-commands/apps/apps-b/package.json
  examples/with-shell-commands/package.json
  examples/with-shell-commands/packages/pkg-a/README.md
  examples/with-shell-commands/packages/pkg-a/package.json
  examples/with-shell-commands/packages/pkg-b/README.md
  examples/with-shell-commands/packages/pkg-b/package.json
  examples/with-shell-commands/packages/tooling-config/README.md
  examples/with-shell-commands/packages/tooling-config/package.json
  examples/with-shell-commands/pnpm-lock.yaml
  examples/with-shell-commands/pnpm-workspace.yaml
  examples/with-shell-commands/turbo.json
Labels: area: examples, needs: team input, owned-by: turborepo

#6708 Bump dates.
  docs/pages/blog/turbo-1-11-0.mdx
Labels: area: docs, owned-by: turborepo, owned-by: turbopack

#6711 Include canary version field in issue template.
  .github/ISSUE_TEMPLATE/0-turborepo-bug-report.yml
Labels: owned-by: turborepo, owned-by: turbopack

#6682 Mix of server and client components in basic example.
  examples/basic/apps/docs/app/page.module.css
  examples/basic/apps/docs/app/page.tsx
  examples/basic/apps/web/app/page.module.css
  examples/basic/apps/web/app/page.tsx
  examples/basic/packages/eslint-config/next.js
  examples/basic/packages/ui/package.json
  examples/basic/packages/ui/src/button.tsx
Labels: area: examples, owned-by: turborepo

#6700 chore(tests): cleanup setup scripts
  turborepo-tests/example-npm-non-monorepo/test.t
  turborepo-tests/example-npm-with-npm/test.t
  turborepo-tests/example-pnpm-basic/test.t
  turborepo-tests/example-pnpm-gatsby/test.t
  turborepo-tests/example-pnpm-kitchen-sink/test.t
  turborepo-tests/example-pnpm-with-svelte/test.t
  turborepo-tests/example-yarn-non-monorepo/test.t
  turborepo-tests/example-yarn-with-yarn/test.t
  turborepo-tests/helpers/install_deps.sh
  turborepo-tests/helpers/setup.sh
  turborepo-tests/helpers/setup_example_test.sh
  turborepo-tests/helpers/setup_integration_test.sh
  turborepo-tests/helpers/setup_package_manager.sh
  turborepo-tests/integration/tests/command-version.t
  turborepo-tests/integration/tests/prune/composable-config.t
  turborepo-tests/integration/tests/prune/docker.t
  turborepo-tests/integration/tests/prune/includes-root-deps.t
  turborepo-tests/integration/tests/prune/out-dir.t
  turborepo-tests/integration/tests/prune/produces-valid-turbo-json.t
Labels: owned-by: turborepo, created-by: turborepo

#6707 tracing improvements
  crates/turbopack-css/Cargo.toml
  crates/turbopack-css/src/process.rs
  crates/turbopack-trace-server/src/server.rs
  crates/turbopack-trace-server/src/store.rs
  crates/turbopack-trace-server/src/viewer.rs
Labels: owned-by: turbopack, created-by: turbopack

#6716 add support for export renaming in side effects optimization
  Cargo.lock
  crates/turbopack-core/src/ident.rs
  crates/turbopack-core/src/resolve/mod.rs
  crates/turbopack-ecmascript/src/references/esm/export.rs
  crates/turbopack-ecmascript/src/references/mod.rs
  crates/turbopack-ecmascript/src/side_effect_optimization/facade/mod.rs
  crates/turbopack-ecmascript/src/side_effect_optimization/facade/module.rs
  crates/turbopack-ecmascript/src/side_effect_optimization/facade/reference.rs
  crates/turbopack-ecmascript/src/side_effect_optimization/locals/mod.rs
  crates/turbopack-ecmascript/src/side_effect_optimization/locals/reference.rs
  crates/turbopack-ecmascript/src/side_effect_optimization/mod.rs
  crates/turbopack-ecmascript/src/side_effect_optimization/reference.rs
  crates/turbopack-ecmascript/src/tree_shake/mod.rs
  crates/turbopack-tests/tests/execution/turbopack/tree-shaking/side-effects/input/index.js
  crates/turbopack-tests/tests/execution/turbopack/tree-shaking/side-effects/input/node_modules/package-named/index.js
  crates/turbopack-tests/tests/execution/turbopack/tree-shaking/side-effects/input/node_modules/package-named/x.js
  crates/turbopack-tests/tests/execution/turbopack/tree-shaking/side-effects/input/node_modules/package-named/y.js
  crates/turbopack/src/lib.rs
Labels: owned-by: turbopack, created-by: turbopack

#6718 cache the chunking work
  crates/turbopack-core/src/chunk/mod.rs
Labels: owned-by: turbopack, created-by: turbopack

#6719 1.11 blog post updates
  docs/pages/blog/turbo-1-11-0.mdx
  docs/public/images/blog/turbo-1-11-0/x-card.png
Labels: area: docs, area: site, owned-by: turborepo, owned-by: turbopack

#6722 feat(docs): support blog cross-posts
  docs/pages/blog.mdx
  docs/pages/blog/_meta.json
  docs/pages/blog/how-turborepo-is-porting-from-go-to-rust.mdx
  docs/pages/blog/how-we-continued-porting-turborepo-to-rust.mdx
  docs/scripts/generate-rss.js
Labels: area: docs, area: site, owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#6713 use real emojis
  .github/workflows/bench-turbopack.yml
  .github/workflows/test.yml
Labels: area: ci, owned-by: turborepo, owned-by: turbopack, created-by: turbopack

#6727 Bump Sentry version.
  docs/package.json
  pnpm-lock.yaml
Labels: area: site, owned-by: turborepo, owned-by: turbopack

#6735 Update to align with npm.com.
  docs/pages/blog/turbo-1-11-0.mdx
Labels: area: docs, owned-by: turborepo, owned-by: turbopack

#6724 fix: properly catch sigterm sent from global
  crates/turborepo-lib/src/commands/run.rs
  crates/turborepo-lib/src/run/error.rs
  crates/turborepo-lib/src/signal.rs
Labels: owned-by: turborepo, created-by: turborepo

#6733 chore(ignore): exclude rustc-ice files
  .gitignore
Labels: created-by: turborepo

#6734 Swap Renovate for Dependabot and use it for `examples`.
  .github/dependabot.yml
  .github/renovate.json
Labels: owned-by: turborepo, owned-by: turbopack

#6731 fix(turbopack-ecmascript-runtime): don't use `path.relative` for absolute paths
  crates/turbopack-ecmascript-runtime/js/src/shared-node/node-externals-utils.ts
  crates/turbopack-tests/tests/snapshot/runtime/default_build_runtime/output/[turbopack]_runtime.js
  crates/turbopack-tests/tests/snapshot/runtime/default_build_runtime/output/[turbopack]_runtime.js.map
Labels: owned-by: turbopack, created-by: turbopack

#6745 Update `swc_core` to `v0.86.98`
  Cargo.lock
  Cargo.toml
Labels: pr: automerge, owned-by: turborepo, owned-by: turbopack, created-by: turbopack

#6746 Add transpilePackages to `with-tailwind` example.
  examples/with-tailwind/apps/docs/next.config.js
  examples/with-tailwind/apps/web/next.config.js
Labels: area: examples, owned-by: turborepo

#6725 chore: avoid panics in berry lockfile
  crates/turborepo-lockfiles/src/berry/mod.rs
Labels: owned-by: turborepo, created-by: turborepo

#6757 Update yarn support policy.
  docs/pages/repo/docs/support.mdx
Labels: area: docs, owned-by: turborepo

#6755 Update README for with-tailwind.
  examples/with-tailwind/README.md
Labels: area: examples, owned-by: turborepo

#6759 Remove source key from with-docker example.
  examples/with-docker/packages/logger/package.json
Labels: area: examples, owned-by: turborepo

#6432 Update CI config
  .github/workflows/bench-turbopack.yml
  .github/workflows/test-turbopack-rust-bench-test.yml
  .github/workflows/test.yml
Labels: pr: automerge, area: ci, owned-by: turborepo, owned-by: turbopack

#6767 fix: ignore exit codes when child killed by manager
  crates/turborepo-lib/src/process/child.rs
  crates/turborepo-lib/src/process/mod.rs
Labels: owned-by: turborepo, created-by: turborepo

#6762 Use `"strict": true` for TypeScript in examples.
  examples/with-berry/packages/tsconfig/nextjs.json
  examples/with-prisma/packages/config-typescript/nextjs.json
  examples/with-react-native-web/packages/typescript-config/nextjs.json
  examples/with-rollup/packages/config-typescript/nextjs.json
  examples/with-tailwind/packages/config-typescript/nextjs.json
Labels: area: examples, owned-by: turborepo

#6769 fix: remove turbopack benchmark timeout
  .github/workflows/test.yml
Labels: area: ci, owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#6768 fix: make assertion assert something
  crates/turborepo-lib/src/process/child.rs
Labels: owned-by: turborepo, created-by: turborepo

#6773 Update for `--profile` flag.
  docs/pages/repo/docs/reference/command-line-reference/run.mdx
  profile.json
Labels: area: docs, owned-by: turborepo, owned-by: turbopack

#6764 Allow forcing use of daemon
  cli/internal/turbostate/turbostate.go
  cli/internal/util/run_opts.go
  crates/turborepo-lib/src/cli/mod.rs
  crates/turborepo-lib/src/opts.rs
  crates/turborepo-lib/src/run/mod.rs
  turborepo-tests/integration/package.json
  turborepo-tests/integration/tests/no-args.t
  turborepo-tests/integration/tests/turbo-help.t
Labels: owned-by: turborepo, created-by: turborepo

#6772 fix: avoid double slash if glob ends with slash
  crates/turborepo-repository/src/package_manager/mod.rs
Labels: owned-by: turborepo, created-by: turborepo

#6777 fix(turbopack-ecmascript-runtime): handle non encoded CSS paths
  crates/turbopack-core/src/ident.rs
  crates/turbopack-ecmascript-runtime/js/src/dev/runtime/dom/runtime-backend-dom.ts
  crates/turbopack-tests/tests/snapshot/runtime/default_dev_runtime/output/79fb1_turbopack-tests_tests_snapshot_runtime_default_dev_runtime_input_index_40d141.js
  crates/turbopack-tests/tests/snapshot/runtime/default_dev_runtime/output/79fb1_turbopack-tests_tests_snapshot_runtime_default_dev_runtime_input_index_40d141.js.map
Labels: owned-by: turbopack, created-by: turbopack

#6766 Bump turbo in examples.
  examples/basic/package.json
  examples/basic/pnpm-lock.yaml
  examples/design-system/package.json
  examples/design-system/pnpm-lock.yaml
  examples/kitchen-sink/package.json
  examples/kitchen-sink/pnpm-lock.yaml
  examples/non-monorepo/package-lock.json
  examples/non-monorepo/package.json
  examples/with-berry/package.json
  examples/with-berry/yarn.lock
  examples/with-changesets/package.json
  examples/with-changesets/pnpm-lock.yaml
  examples/with-docker/package.json
  examples/with-docker/yarn.lock
  examples/with-gatsby/package.json
  examples/with-gatsby/pnpm-lock.yaml
  examples/with-npm/package-lock.json
  examples/with-npm/package.json
  examples/with-prisma/package.json
  examples/with-prisma/yarn.lock
  examples/with-react-native-web/package.json
  examples/with-react-native-web/yarn.lock
  examples/with-rollup/package.json
  examples/with-rollup/pnpm-lock.yaml
  examples/with-shell-commands/apps/apps-b/package.json
  examples/with-shell-commands/package.json
  examples/with-shell-commands/pnpm-lock.yaml
  examples/with-svelte/package.json
  examples/with-svelte/pnpm-lock.yaml
  examples/with-tailwind/package.json
  examples/with-tailwind/pnpm-lock.yaml
  examples/with-vite/package.json
  examples/with-vite/pnpm-lock.yaml
  examples/with-vue-nuxt/package.json
  examples/with-vue-nuxt/pnpm-lock.yaml
  examples/with-yarn/package.json
  examples/with-yarn/yarn.lock
Labels: area: examples, owned-by: turborepo

#6779 chore: remove verbosity filter from chrome profile
  crates/turborepo-lib/src/tracing.rs
Labels: owned-by: turborepo, created-by: turborepo

#6774 chore(ci): test rust codepath by default
  .github/workflows/test.yml
  turborepo-tests/integration/package.json
  turborepo-tests/integration/turbo.json
Labels: area: ci, owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#6785 Ensure turbopack-trace-server doesn't send message in a loop
  crates/turbopack-trace-server/src/server.rs
Labels: owned-by: turbopack

#6781 feat: add anon-profile flag
  crates/turborepo-lib/src/cli/mod.rs
  crates/turborepo-lib/src/tracing.rs
  turborepo-tests/integration/tests/no-args.t
  turborepo-tests/integration/tests/turbo-help.t
Labels: owned-by: turborepo, created-by: turborepo

#6782 chore: remove verbosity flag when running benchmark
  packages/turbo-benchmark/src/ttft/run.ts
Labels: owned-by: turborepo, created-by: turborepo

#6784 chore(ci): simplify test setup for examples tests
  .github/workflows/test.yml
Labels: area: ci, owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#6795 feat(gen): pass the command cwd through
  packages/turbo-gen/src/utils/plop.ts
Labels: pkg: turbo-gen, owned-by: turborepo, created-by: turborepo

#6737 feat: Nice errors for shim flag parsing
  Cargo.lock
  Cargo.toml
  crates/turborepo-api-client/src/error.rs
  crates/turborepo-lib/Cargo.toml
  crates/turborepo-lib/src/cli/error.rs
  crates/turborepo-lib/src/engine/mod.rs
  crates/turborepo-lib/src/lib.rs
  crates/turborepo-lib/src/run/error.rs
  crates/turborepo-lib/src/shim.rs
  crates/turborepo-paths/Cargo.toml
  crates/turborepo-paths/src/lib.rs
  turborepo-tests/integration/tests/shim-errors.t
Labels: owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#6494 Trace output's source maps through input's source map
  crates/turbopack-build/src/ecmascript/minify.rs
  crates/turbopack-core/src/reference/source_map.rs
  crates/turbopack-core/src/source_map/mod.rs
  crates/turbopack-core/tests/source_map.rs
  crates/turbopack-css/src/module_asset.rs
  crates/turbopack-ecmascript/Cargo.toml
  crates/turbopack-ecmascript/src/chunk/item.rs
  crates/turbopack-ecmascript/src/lib.rs
  crates/turbopack-ecmascript/src/parse.rs
  crates/turbopack-ecmascript/src/references/mod.rs
  crates/turbopack-ecmascript/src/side_effect_optimization/locals/chunk_item.rs
  crates/turbopack-ecmascript/src/static_code.rs
  crates/turbopack-ecmascript/src/tree_shake/chunk_item.rs
  crates/turbopack-tests/tests/snapshot/basic/ecmascript_minify/output/crates_turbopack-tests_tests_snapshot_basic_ecmascript_minify_input_index_dc5b16.js.map
  examples/with-shell-commands/README.md
Labels: area: examples, owned-by: turborepo, owned-by: turbopack, created-by: turbopack

#6797 perf(yarn3): eagerly construct map from workspace paths to locators
  crates/turborepo-lockfiles/src/berry/mod.rs
Labels: owned-by: turborepo, created-by: turborepo

#6802 Remove bogus profile.json file.
  profile.json
Labels: owned-by: turborepo, owned-by: turbopack

#6799 Upgrade docs dependencies.
  .github/actions/turbopack-bump/dist/index.js
  .github/actions/turbopack-bump/dist/index.js.map
  docs/package.json
  docs/pages/_app.tsx
  docs/turbo/generators/config.ts
  docs/turbo/generators/utils.ts
  pnpm-lock.yaml
Labels: area: ci, area: site, owned-by: turborepo, owned-by: turbopack

#6803 Better CI coverage for docs.
  .github/workflows/test.yml
  docs/package.json
Labels: area: ci, area: site, owned-by: turborepo, owned-by: turbopack

#6794 fix button prop appName from docs app
  examples/basic/apps/docs/app/page.tsx
Labels: area: examples, owned-by: turborepo

#6807 fix: add missing dependency to cargo lockfile
  Cargo.lock
Labels: created-by: turborepo

#6786 Updated outdated Docs "Getting Started" > "Create a New Monorepo"
  docs/pages/repo/docs/getting-started/create-new.mdx
Labels: area: docs, owned-by: turborepo

#6811 chore: dedupe typescript devDependencies to 5.3.3
  packages/eslint-plugin-turbo/__fixtures__/workspace/package-lock.json
  packages/eslint-plugin-turbo/package.json
  packages/turbo-codemod/package.json
  packages/turbo-gen/package.json
  packages/turbo-ignore/package.json
  packages/turbo-test-utils/package.json
  packages/turbo-utils/package.json
  packages/turbo-workspaces/package.json
  pnpm-lock.yaml
Labels: pkg: turbo-ignore, pkg: turbo-eslint, pkg: turbo-codemod, pkg: turbo-gen, pkg: turbo-workspaces, owned-by: turborepo, owned-by: turbopack

#6809 refactor: Remove bookkeeping abstraction from turbo config
  crates/turborepo-lib/src/commands/link.rs
  crates/turborepo-lib/src/commands/prune.rs
  crates/turborepo-lib/src/config/mod.rs
  crates/turborepo-lib/src/config/turbo.rs
  crates/turborepo-lib/src/config/turbo_config.rs
  crates/turborepo-lib/src/engine/builder.rs
  crates/turborepo-lib/src/task_graph/mod.rs
  crates/turborepo-lib/src/task_hash.rs
Labels: owned-by: turborepo, created-by: turborepo

#6804 Prepare linter and TypeScript for docs.
  docs/.eslintrc.js
  docs/components/ExamplesArea.tsx
  docs/components/ExtraContent.tsx
  docs/components/Footer.tsx
  docs/components/LogoContext/index.tsx
  docs/components/Tabs.tsx
  docs/components/blog/Date.tsx
  docs/components/clients/Clients.tsx
  docs/components/clients/Logo.tsx
  docs/components/image/ThemedImage.tsx
  docs/components/pages/pack-home/PackBenchmarksGraph.tsx
  docs/content/features.ts
  docs/content/legacy-features.ts
  docs/package.json
  docs/pages/api/og.tsx
  docs/pages/api/signup.tsx
  docs/pages/repo/docs/getting-started/create-new.mdx
  docs/tsconfig.json
  package.json
  packages/eslint-config/package.json
  packages/eslint-plugin-turbo/__fixtures__/workspace/package-lock.json
  packages/eslint-plugin-turbo/package.json
  packages/turbo-codemod/package.json
  packages/turbo-gen/package.json
  packages/turbo-ignore/package.json
  packages/turbo-test-utils/package.json
  packages/turbo-utils/package.json
  packages/turbo-workspaces/package.json
  pnpm-lock.yaml
Labels: area: docs, pkg: turbo-ignore, pkg: turbo-eslint, area: site, pkg: turbo-codemod, pkg: turbo-gen, pkg: turbo-workspaces, owned-by: turborepo, owned-by: turbopack

#6817 docs: fix typo under getting started
  docs/pages/repo/docs/getting-started/create-new.mdx
Labels: area: docs, owned-by: turborepo

#6812 Fixing ESLint errors in docs. (1/n, 18% done)
  docs/.eslintrc.js
  docs/components/ExtraContent.tsx
  docs/components/RemoteCacheCounter.tsx
  docs/content/team.ts
  docs/lib/useTurborepoMinutesSaved.ts
  docs/package.json
  docs/pages/_error.tsx
  docs/pages/api/og.tsx
  docs/pages/api/signup.tsx
  docs/scripts/generate-rss.js
  docs/theme.config.tsx
  docs/turbo/generators/utils.ts
Labels: area: site, owned-by: turborepo, owned-by: turbopack

#6800 chore: add tracing to primary lockfile functions
  Cargo.lock
  crates/turborepo-lockfiles/Cargo.toml
  crates/turborepo-lockfiles/src/berry/mod.rs
  crates/turborepo-lockfiles/src/bun/mod.rs
  crates/turborepo-lockfiles/src/lib.rs
  crates/turborepo-lockfiles/src/npm.rs
  crates/turborepo-lockfiles/src/pnpm/data.rs
  crates/turborepo-lockfiles/src/yarn1/mod.rs
  crates/turborepo-repository/src/package_manager/mod.rs
Labels: owned-by: turborepo, created-by: turborepo

#6824 fix(docs): redirect old blog to new
  docs/next.config.js
Labels: area: site, owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#6813 Fixing ESLint errors in docs. (2/n, 47% done)
  docs/.eslintrc.js
  docs/package.json
  docs/pages/api/og.tsx
  docs/pages/api/signup.tsx
  docs/pages/api/user/[id].tsx
  docs/theme.config.tsx
  docs/turbo/generators/config.ts
Labels: area: site, owned-by: turborepo, owned-by: turbopack

#6743 feat(turbo): telemetry client
  Cargo.lock
  crates/turborepo-api-client/src/lib.rs
  crates/turborepo-api-client/src/telemetry.rs
  crates/turborepo-lib/Cargo.toml
  crates/turborepo-lib/src/cli/mod.rs
  crates/turborepo-lib/src/commands/generate.rs
  crates/turborepo-lib/src/commands/mod.rs
  crates/turborepo-lib/src/commands/telemetry.rs
  crates/turborepo-lib/src/task_graph/visitor.rs
  crates/turborepo-lib/src/task_hash.rs
  crates/turborepo-telemetry/Cargo.toml
  crates/turborepo-telemetry/README.md
  crates/turborepo-telemetry/src/config.rs
  crates/turborepo-telemetry/src/errors.rs
  crates/turborepo-telemetry/src/events/command.rs
  crates/turborepo-telemetry/src/events/mod.rs
  crates/turborepo-telemetry/src/events/repo.rs
  crates/turborepo-telemetry/src/events/task.rs
  crates/turborepo-telemetry/src/lib.rs
  crates/turborepo-vercel-api/src/lib.rs
  turborepo-tests/integration/tests/command-bin.t
Labels: owned-by: turborepo, created-by: turborepo

#6818 Fixing ESLint errors in docs. (3/n, 73% done)
  .vscode/settings.json
  docs/.eslintrc.js
  docs/components/Authors.tsx
  docs/components/pages/pack-home/DocsBenchmarkStat.tsx
  docs/components/pages/pack-home/PackBenchmarkTabs.tsx
  docs/components/pages/pack-home/PackBenchmarksGraph.tsx
  docs/components/pages/pack-home/index.tsx
  docs/components/pages/repo-home/index.tsx
  docs/components/pages/showcase.tsx
  docs/components/usePrefersReducedMotion.tsx
  docs/content/features.ts
  docs/content/legacy-features.ts
  docs/content/team.ts
  docs/lib/ConvertKitApi.ts
  docs/next.config.js
  docs/package.json
  docs/pages/_app.tsx
  docs/pages/_document.tsx
  docs/pages/api/binaries/version.ts
  docs/pages/api/og.tsx
  docs/pages/pack/index.mdx
  docs/pages/repo/index.mdx
  docs/pages/showcase.mdx
Labels: area: docs, area: site, owned-by: turborepo, owned-by: turbopack

#6828 fix(telemetry): don’t track hash
  crates/turborepo-lib/src/task_graph/visitor.rs
  crates/turborepo-telemetry/src/events/task.rs
Labels: owned-by: turborepo, created-by: turborepo

#6819 Fixing ESLint in docs. (4/n, 89% done)
  docs/components/Footer.tsx
  docs/components/HeaderLogo.tsx
  docs/components/Navigation.tsx
  docs/components/ThemeAwareImage.tsx
  docs/components/Tweet.tsx
  docs/components/blog/Date.tsx
  docs/components/clients/Clients.tsx
  docs/components/clients/Filters.tsx
  docs/components/clients/Logo.tsx
  docs/components/logos/PackLogo.tsx
  docs/components/logos/RepoLogo.tsx
  docs/components/logos/Turbo.tsx
  docs/components/logos/TurboAnimated.tsx
  docs/components/logos/Vercel.tsx
  docs/components/logos/og/PackLogo.tsx
  docs/components/logos/og/RepoLogo.tsx
  docs/components/logos/og/TurboLogo.tsx
  docs/components/logos/og/VercelLogo.tsx
  docs/components/pages/confirm.tsx
  docs/components/pages/home-shared/CTAButton.tsx
  docs/components/pages/landing/index.tsx
  docs/components/pages/pack-home/PackHero.tsx
  docs/components/pages/repo-home/RepoHero.tsx
  docs/package.json
  docs/pages/api/og.tsx
  docs/pages/blog/turbo-1-10-0.mdx
  docs/pages/blog/turbo-1-11-0.mdx
  docs/pages/blog/turbo-1-2-0.mdx
  docs/pages/blog/turbo-1-3-0.mdx
  docs/pages/blog/turbo-1-4-0.mdx
  docs/pages/blog/turbo-1-5-0.mdx
  docs/pages/blog/turbo-1-6-0.mdx
  docs/pages/blog/turbo-1-7-0.mdx
  docs/pages/blog/turbo-1-8-0.mdx
  docs/pages/blog/turbo-1-9-0.mdx
  docs/pages/blog/turbopack-benchmarks.mdx
  docs/pages/confirm.mdx
  docs/pages/index.mdx
  docs/theme.config.tsx
  docs/turbo/generators/templates/release-blog-post.hbs
Labels: area: docs, area: site, owned-by: turborepo, owned-by: turbopack

#6837 Create wrapper for `dirs_next::config_dir()`
  Cargo.lock
  crates/turborepo-dirs/Cargo.toml
  crates/turborepo-dirs/src/lib.rs
Labels: owned-by: turborepo, created-by: turborepo

#6265 Create and use auth.json
  Cargo.lock
  crates/turborepo-api-client/src/lib.rs
  crates/turborepo-auth/Cargo.toml
  crates/turborepo-auth/src/auth/login.rs
  crates/turborepo-auth/src/auth/mod.rs
  crates/turborepo-auth/src/auth/sso.rs
  crates/turborepo-auth/src/auth_file.rs
  crates/turborepo-auth/src/config_token.rs
  crates/turborepo-auth/src/error.rs
  crates/turborepo-auth/src/lib.rs
  crates/turborepo-auth/src/login.rs
  crates/turborepo-auth/src/login_server.rs
  crates/turborepo-auth/src/logout.rs
  crates/turborepo-auth/src/mocks/mock_api_client.rs
  crates/turborepo-auth/src/mocks/mock_login_server.rs
  crates/turborepo-auth/src/mocks/mod.rs
  crates/turborepo-auth/src/server/mod.rs
  crates/turborepo-auth/src/sso.rs
  crates/turborepo-auth/src/sso_server.rs
  crates/turborepo-auth/src/ui/mod.rs
  crates/turborepo-lib/Cargo.toml
  crates/turborepo-lib/src/cli/error.rs
  crates/turborepo-lib/src/cli/mod.rs
  crates/turborepo-lib/src/commands/link.rs
  crates/turborepo-lib/src/commands/login.rs
  crates/turborepo-lib/src/commands/logout.rs
  crates/turborepo-lib/src/commands/mod.rs
  crates/turborepo-lib/src/config/mod.rs
  crates/turborepo-lib/src/config/turbo_config.rs
  crates/turborepo-paths/src/absolute_system_path.rs
  crates/turborepo-paths/src/absolute_system_path_buf.rs
  crates/turborepo-ui/Cargo.toml
  crates/turborepo-ui/src/lib.rs
  crates/turborepo-vercel-api/Cargo.toml
  crates/turborepo-vercel-api/src/lib.rs
  crates/turborepo/src/panic_handler.rs
  packages/turbo-repository/rust/build.rs
  turborepo-tests/integration/tests/_helpers/logged_in.sh
  turborepo-tests/integration/tests/command-logout.t
Labels: owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#6838 fix: Allow for long symlinks by using append_link
  crates/turborepo-cache/src/cache_archive/create.rs
  crates/turborepo-cache/src/cache_archive/restore.rs
  crates/turborepo-cache/src/cache_archive/restore_symlink.rs
Labels: owned-by: turborepo, created-by: turborepo

#6845 perf: Use `&'static str` instead of `String` if possible
  crates/turbo-tasks/src/native_function.rs
  crates/turbo-tasks/src/registry.rs
  crates/turbo-tasks/src/value_type.rs
Labels: owned-by: turbopack, created-by: turbopack

#6851 Ignore dist in shell commands example.
  examples/with-shell-commands/.gitignore
Labels: area: examples

#6857 Remove button type.
  docs/components/pages/home-shared/CTAButton.tsx
Labels: area: site, owned-by: turborepo, owned-by: turbopack

#6849 fix(docs): mobile screen, prevent gradient and hero overflow
  docs/components/pages/home-shared/Gradient.tsx
  docs/components/pages/pack-home/PackHero.tsx
  docs/components/pages/repo-home/RepoHero.tsx
Labels: area: site, owned-by: turborepo, owned-by: turbopack

#6859 fix(examples): Typo correction on design-system package.json
  examples/design-system/packages/eslint-config/package.json
Labels: area: examples, owned-by: turborepo

#6862 fix(docs): typo in `why-turbopack.mdx`
  docs/pages/pack/docs/why-turbopack.mdx
Labels: area: docs, owned-by: turbopack
