Repository vercel/turborepo, pull requests merged in 2024-02, with the labels that each got.

#7089 backport wax 0.6 fixes to turborepo-wax
  Cargo.lock
  crates/turborepo-filewatch/src/globwatcher.rs
  crates/turborepo-globwalk/src/lib.rs
  crates/turborepo-lib/src/globwatcher/mod.rs
  crates/turborepo-lib/src/run/scope/change_detector.rs
  crates/turborepo-lib/src/run/scope/filter.rs
  crates/turborepo-lsp/Cargo.toml
  crates/turborepo-repository/src/package_manager/mod.rs
  crates/turborepo-scm/src/manual.rs
  crates/turborepo-wax/Cargo.toml
  crates/turborepo-wax/README.md
  crates/turborepo-wax/src/capture.rs
  crates/turborepo-wax/src/diagnostics/miette.rs
  crates/turborepo-wax/src/diagnostics/mod.rs
  crates/turborepo-wax/src/encode.rs
  crates/turborepo-wax/src/lib.rs
  crates/turborepo-wax/src/rule.rs
  crates/turborepo-wax/src/token/mod.rs
  crates/turborepo-wax/src/token/variance.rs
  crates/turborepo-wax/src/walk.rs
  crates/turborepo-wax/src/walk/filter.rs
  crates/turborepo-wax/src/walk/glob.rs
  crates/turborepo-wax/src/walk/mod.rs
  crates/turborepo-wax/tests/walk.rs
Labels: owned-by: turborepo, created-by: turborepo

#7208 pin taplo in CI to same version in husky
  .github/workflows/test.yml
Labels: area: ci, owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#7207 feat(turbopack): Enable error recovery of lightningcss
  crates/turbopack-css/src/process.rs
Labels: owned-by: turbopack, created-by: turbopack

#7096 migrate type references to primary references
  crates/node-file-trace/src/lib.rs
  crates/node-file-trace/src/nft_json.rs
  crates/turbopack-core/src/reference/mod.rs
  crates/turbopack-core/src/resolve/mod.rs
  crates/turbopack-ecmascript/src/resolve/node_native_binding.rs
  crates/turbopack-ecmascript/src/typescript/resolve.rs
  crates/turbopack-ecmascript/src/webpack/mod.rs
  crates/turbopack/src/lib.rs
  crates/turbopack/src/module_options/module_options_context.rs
  crates/turbopack/src/rebase/mod.rs
Labels: owned-by: turbopack, created-by: turbopack

#7204 chore(ci): combine rust and common integration tests
  .github/workflows/test.yml
  pnpm-lock.yaml
  turborepo-tests/integration-rust/package.json
  turborepo-tests/integration-rust/turbo.json
  turborepo-tests/integration/package.json
  turborepo-tests/integration/tests/run/daemon-build.t
  turborepo-tests/integration/tests/run/nested-packages.t
Labels: area: ci, owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#7216 Docs issue template.
  .github/ISSUE_TEMPLATE/2-docs.yml
Labels: owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#7214 rust is no longer experimental
  crates/turborepo-lib/src/commands/run.rs
Labels: owned-by: turborepo, created-by: turborepo

#7221 fix: declare version.txt as input
  cli/turbo.json
Labels: owned-by: turborepo, created-by: turborepo

#7205 chore(turbo): delete Go related release code and config
  .github/workflows/test.yml
  .vscode/settings.json
  cli/.golangci.yml
  cli/build_go.bat
  cli/build_turbo.bat
Labels: area: ci, owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#7225 fix(turbopack): Fix css var issue and font issue when using `lightningcss`
  crates/turbopack-css/src/process.rs
  crates/turbopack-css/src/references/import.rs
Labels: owned-by: turbopack, created-by: turbopack

#7213 feat(turbopack): extend ecmatransform moduleeffect
  crates/turbopack/src/lib.rs
  crates/turbopack/src/module_options/module_options_context.rs
  crates/turbopack/src/module_options/module_rule.rs
Labels: owned-by: turbopack, created-by: turbopack

#7219 fix(turbopack): encode source map urls
  Cargo.lock
  crates/turbopack-build/Cargo.toml
  crates/turbopack-build/src/ecmascript/minify.rs
  crates/turbopack-build/src/ecmascript/node/content.rs
  crates/turbopack-css/Cargo.toml
  crates/turbopack-css/src/chunk/mod.rs
  crates/turbopack-css/src/chunk/single_item_chunk/chunk.rs
  crates/turbopack-dev/Cargo.toml
  crates/turbopack-dev/src/ecmascript/content.rs
  crates/turbopack-dev/src/ecmascript/evaluate/chunk.rs
Labels: owned-by: turbopack, created-by: turbopack

#7220 style(turbopack): make idents more readable
  crates/turbopack-core/src/ident.rs
Labels: owned-by: turbopack, created-by: turbopack

#7218 chore: remove npm-run-all and usage from root package.json
  package.json
  pnpm-lock.yaml
Labels: owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#7169 refactor: Clean up error printing
  crates/turborepo-lib/src/cli/mod.rs
  crates/turborepo-lib/src/config.rs
  crates/turborepo-lib/src/lib.rs
  crates/turborepo/src/main.rs
  turborepo-tests/integration/tests/bad-turbo-json.t
  turborepo-tests/integration/tests/command-version.t
  turborepo-tests/integration/tests/config.t
  turborepo-tests/integration/tests/daemon/verbosity.t
  turborepo-tests/integration/tests/dry-json/monorepo.t
  turborepo-tests/integration/tests/inference/nested-workspaces.t
  turborepo-tests/integration/tests/no-args.t
  turborepo-tests/integration/tests/persistent-dependencies/1-topological.t
  turborepo-tests/integration/tests/persistent-dependencies/10-too-many.t
  turborepo-tests/integration/tests/persistent-dependencies/2-same-workspace.t
  turborepo-tests/integration/tests/persistent-dependencies/3-workspace-specific.t
  turborepo-tests/integration/tests/persistent-dependencies/4-cross-workspace.t
  turborepo-tests/integration/tests/persistent-dependencies/5-root-workspace.t
  turborepo-tests/integration/tests/persistent-dependencies/7-topological-nested.t
  turborepo-tests/integration/tests/persistent-dependencies/8-topological-with-extra.t
  turborepo-tests/integration/tests/persistent-dependencies/9-cross-workspace-nested.t
  turborepo-tests/integration/tests/run/missing-tasks.t
  turborepo-tests/integration/tests/task-dependencies/workspace-tasks.t
  turborepo-tests/integration/tests/workspace-configs/persistent.t
Labels: owned-by: turborepo, created-by: turborepo

#7198 fix: correctly parse pnpm lockfile settings
  crates/turborepo-lockfiles/src/pnpm/data.rs
Labels: owned-by: turborepo, created-by: turborepo

#7234 fix: override turbo_api env var
  .github/workflows/test.yml
Labels: area: ci, owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#7235 feat(docs): remote cache open api spec
  docs/package.json
  docs/pages/api/remote-cache-spec.tsx
  pnpm-lock.yaml
Labels: area: site, owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#7240 refactor(turbopack): remove deprecated options
  crates/turbopack-cli/src/contexts.rs
  crates/turbopack-tests/tests/snapshot.rs
  crates/turbopack/src/lib.rs
  crates/turbopack/src/module_options/mod.rs
  crates/turbopack/src/module_options/module_options_context.rs
  crates/turbopack/src/module_options/module_rule.rs
Labels: owned-by: turbopack, created-by: turbopack

#7222 refactor(turborepo): Change Detector
  Cargo.lock
  crates/turborepo-lib/src/run/scope/change_detector.rs
  crates/turborepo-lib/src/run/scope/filter.rs
  crates/turborepo-repository/Cargo.toml
  crates/turborepo-repository/src/change_mapper.rs
  crates/turborepo-repository/src/lib.rs
  crates/turborepo-repository/src/package_graph/mod.rs
Labels: owned-by: turborepo, created-by: turborepo

#7236 Remote Cache API doc.
  docs/pages/repo/docs/core-concepts/remote-caching.mdx
Labels: area: docs, owned-by: turborepo, created-by: turborepo

#7241 Turbopack: Fix Next.js in cross-bundler benchmarks
  .github/workflows/bench-turbopack-scheduled.yml
  crates/turbopack-bench/src/bundlers/mod.rs
  crates/turbopack-bench/src/bundlers/nextjs/mod.rs
Labels: area: ci, owned-by: turborepo, owned-by: turbopack, created-by: turbopack

#7246 Inputs clarity.
  docs/pages/repo/docs/reference/configuration.mdx
Labels: area: docs, owned-by: turborepo, created-by: turborepo

#7271 docs(turborepo): fix typo in task dependencies
  docs/pages/repo/docs/core-concepts/monorepos/task-dependencies.mdx
Labels: area: docs, owned-by: turborepo

#7273 Fix trailing comma in exapmle react-library.json
  examples/basic/packages/typescript-config/react-library.json
Labels: area: examples, owned-by: turborepo

#7274 fix(turbopack): support reloading typescript tailwind config
  crates/turbopack-node/src/transforms/postcss.rs
Labels: owned-by: turbopack, created-by: turbopack

#7238 fix: avoid expensive globwalk in examples
  examples/turbo.json
Labels: area: examples, owned-by: turborepo, created-by: turborepo

#7239 chore: remove 'next' dependency from root
  package.json
  pnpm-lock.yaml
Labels: owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#7275 chore(owners): add telemetry to codeowners
  .github/CODEOWNERS
Labels: owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#7276 feat(docs): document building turbo from source
  docs/pages/repo/docs/support.mdx
Labels: area: docs, owned-by: turborepo, created-by: turborepo

#7249 Fix a typo in docs page for github actions
  docs/pages/repo/docs/ci/github-actions.mdx
Labels: area: docs, owned-by: turborepo

#7280 Fix/filter unnamed packages
  crates/turborepo-repository/src/lib.rs
  crates/turborepo-repository/src/package_graph/builder.rs
  crates/turborepo-repository/src/package_manager/mod.rs
  crates/turborepo-repository/src/util.rs
  turborepo-tests/integration/tests/run/unnamed-packages.t
Labels: owned-by: turborepo, created-by: turborepo

#7288 fix: Daemon Restarting
  crates/turborepo-lib/src/commands/daemon.rs
  crates/turborepo-lib/src/lib.rs
Labels: owned-by: turborepo, created-by: turborepo

#4235 chore(turborepo-lib): use compile error for feature validation
  crates/turborepo-lib/build.rs
  crates/turborepo-lib/src/lib.rs
Labels: owned-by: turborepo, created-by: turbopack

#7285 resolve source maps that are attached in source code
  Cargo.lock
  crates/turbopack-build/src/ecmascript/minify.rs
  crates/turbopack-core/Cargo.toml
  crates/turbopack-core/src/source_map/mod.rs
  crates/turbopack-css/src/module_asset.rs
  crates/turbopack-ecmascript/src/lib.rs
  crates/turbopack-ecmascript/src/parse.rs
  crates/turbopack-ecmascript/src/references/mod.rs
Labels: owned-by: turbopack, created-by: turbopack

#7289 fix(@turbo/repository): update types to latest signature
  packages/turbo-repository/js/index.d.ts
  packages/turbo-repository/rust/README.md
  packages/turbo-repository/scripts/test.mjs
Labels: owned-by: turborepo, created-by: turborepo

#7290 fix(Turborepo): Flag off daemon for package discovery
  crates/turborepo-lib/Cargo.toml
  crates/turborepo-lib/src/run/mod.rs
  turborepo-tests/integration/tests/run/daemon-build.disabled
Labels: owned-by: turborepo, created-by: turborepo

#7297 chore: add dry run flag to @turbo/repository release
  .github/workflows/turborepo-library-release.yml
Labels: area: ci, owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#7286 guess original source for generated code
  crates/turbopack-core/src/source_map/mod.rs
  crates/turbopack-dev/src/ecmascript/chunk.rs
  crates/turbopack-node/src/source_map/trace.rs
Labels: owned-by: turbopack, created-by: turbopack

#7302 support exporting undefined
  crates/turbopack-ecmascript-runtime/js/src/shared/runtime-utils.ts
  crates/turbopack-tests/tests/execution/turbopack/basic/export-undefined/input/index.js
  crates/turbopack-tests/tests/execution/turbopack/basic/export-undefined/input/module.js
  crates/turbopack-tests/tests/snapshot/runtime/default_build_runtime/output/[turbopack]_runtime.js
  crates/turbopack-tests/tests/snapshot/runtime/default_build_runtime/output/[turbopack]_runtime.js.map
  crates/turbopack-tests/tests/snapshot/runtime/default_dev_runtime/output/79fb1_turbopack-tests_tests_snapshot_runtime_default_dev_runtime_input_index_40d141.js
  crates/turbopack-tests/tests/snapshot/runtime/default_dev_runtime/output/79fb1_turbopack-tests_tests_snapshot_runtime_default_dev_runtime_input_index_40d141.js.map
Labels: owned-by: turbopack, created-by: turbopack

#7303 improve HMR performance
  crates/turbopack-core/src/chunk/chunk_group.rs
  crates/turbopack-core/src/chunk/chunking.rs
  crates/turbopack-core/src/chunk/mod.rs
Labels: owned-by: turbopack, created-by: turbopack

#7300 chore(create-turbo): update chalk to v4
  packages/create-turbo/package.json
  pnpm-lock.yaml
Labels: pkg: create-turbo, owned-by: turborepo, created-by: turborepo

#7287 chore: Add Yarn 4 to Github Issue template
  .github/ISSUE_TEMPLATE/0-turborepo-bug-report.yml
Labels: owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#7304 feat(cache): bump default timeout and add docs
  crates/turborepo-lib/src/config.rs
  docs/pages/repo/docs/reference/command-line-reference/run.mdx
Labels: area: docs, owned-by: turborepo, created-by: turborepo

#7295 chore(Turborepo): Delete or feature-gate imports
  crates/turborepo-lib/src/commands/run.rs
  crates/turborepo-lib/src/run/mod.rs
Labels: owned-by: turborepo, created-by: turborepo

#7174 use vc token if logging into Vercel
  .github/workflows/test.yml
  Cargo.lock
  crates/turborepo-auth/Cargo.toml
  crates/turborepo-auth/src/auth/login.rs
  crates/turborepo-auth/src/auth/mod.rs
  crates/turborepo-auth/src/error.rs
  crates/turborepo-lib/src/commands/login.rs
  packages/turbo-exe-stub/build.sh
  turborepo-tests/helpers/mock_existing_login.sh
  turborepo-tests/integration/tests/command-login.t
Labels: area: ci, owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#7237 fix(Turborepo): Route through existing wait_for_filewatching call
  crates/turborepo-filewatch/src/package_watcher.rs
  crates/turborepo-lib/src/daemon/mod.rs
  crates/turborepo-lib/src/daemon/server.rs
  crates/turborepo-lib/src/run/package_discovery/mod.rs
  crates/turborepo-repository/src/package_graph/builder.rs
Labels: owned-by: turborepo, created-by: turborepo

#7292 refactor: Error on absolute paths in turbo.json
  crates/turborepo-lib/src/config.rs
  crates/turborepo-lib/src/turbo_json/mod.rs
  crates/turborepo-lib/src/turbo_json/parser.rs
  crates/turborepo-lib/src/unescape.rs
  turborepo-tests/integration/fixtures/turbo-configs/abs-path-global-deps-win.json
  turborepo-tests/integration/fixtures/turbo-configs/abs-path-global-deps.json
  turborepo-tests/integration/fixtures/turbo-configs/abs-path-inputs-win.json
  turborepo-tests/integration/fixtures/turbo-configs/abs-path-inputs.json
  turborepo-tests/integration/fixtures/turbo-configs/abs-path-outputs-win.json
  turborepo-tests/integration/fixtures/turbo-configs/abs-path-outputs.json
  turborepo-tests/integration/tests/bad-turbo-json.t
  turborepo-tests/integration/tests/run/absolute-path-error.t
  turborepo-tests/integration/tests/run/absolute-path-warning.t
Labels: owned-by: turborepo, created-by: turborepo

#7306 ci(test): add wasi target check for the supported packages
  .github/workflows/test.yml
  Cargo.toml
Labels: area: ci, owned-by: turborepo, owned-by: turbopack, created-by: turbopack

#7308 build(cargo): apply formatting
  Cargo.toml
Labels: owned-by: turborepo, owned-by: turbopack, created-by: turbopack

#7192 implement vercel auth token for SSO
  crates/turborepo-auth/src/auth/login.rs
  crates/turborepo-auth/src/auth/mod.rs
  crates/turborepo-auth/src/auth/sso.rs
  crates/turborepo-auth/src/error.rs
  crates/turborepo-auth/src/lib.rs
  crates/turborepo-auth/src/login_server.rs
  crates/turborepo-auth/src/server/login_server.rs
  crates/turborepo-auth/src/server/mod.rs
  crates/turborepo-lib/src/commands/login.rs
Labels: pr: fixship, owned-by: turborepo, created-by: turborepo

#7242 feat(@turbo/repository): add method to return package dependents
  crates/turborepo-repository/src/package_graph/mod.rs
  packages/turbo-repository/__tests__/find.test.ts
  packages/turbo-repository/__tests__/fixtures/monorepo/apps/app/package.json
  packages/turbo-repository/__tests__/fixtures/monorepo/package.json
  packages/turbo-repository/__tests__/fixtures/monorepo/packages/blank/package.json
  packages/turbo-repository/__tests__/fixtures/monorepo/packages/ui/package.json
  packages/turbo-repository/__tests__/fixtures/monorepo/pnpm-lock.yaml
  packages/turbo-repository/__tests__/fixtures/monorepo/pnpm-workspace.yaml
  packages/turbo-repository/js/index.d.ts
  packages/turbo-repository/rust/src/internal.rs
  packages/turbo-repository/rust/src/lib.rs
  packages/turbo-repository/scripts/test.mjs
Labels: owned-by: turborepo, created-by: turborepo

#7312 chore(@turbo/repository): bump version to 0.0.1-canary.5
  packages/turbo-repository/js/package.json
  packages/turbo-repository/npm/darwin-arm64/package.json
  packages/turbo-repository/npm/darwin-x64/package.json
  packages/turbo-repository/npm/linux-arm64-gnu/package.json
  packages/turbo-repository/npm/linux-x64-gnu/package.json
  packages/turbo-repository/npm/win32-arm64-msvc/package.json
  packages/turbo-repository/npm/win32-x64-msvc/package.json
Labels: owned-by: turborepo, created-by: turborepo

#7203 fix(Turborepo): Don't block forever if we have already gotten a parse error
  crates/turborepo-scm/src/lib.rs
  turborepo-tests/integration/tests/run/big-status.t
Labels: owned-by: turborepo, created-by: turborepo

#7281 chore(Turborepo): Remove ExecutionState, we don't need it anymore
  crates/turborepo-lib/src/execution_state.rs
  crates/turborepo-lib/src/lib.rs
Labels: owned-by: turborepo, created-by: turborepo

#7074 feat(turbo): task access trace & cached configs
  crates/turborepo-cache/src/lib.rs
  crates/turborepo-lib/src/run/cache.rs
  crates/turborepo-lib/src/run/mod.rs
  crates/turborepo-lib/src/run/task_access.rs
  crates/turborepo-lib/src/task_graph/visitor.rs
  crates/turborepo-lib/src/turbo_json/mod.rs
  crates/turborepo-paths/src/anchored_system_path.rs
Labels: owned-by: turborepo, created-by: turborepo

#7310 chore: fix clippy lints in @turbo/repository
  packages/turbo-repository/rust/src/internal.rs
Labels: owned-by: turborepo, created-by: turborepo

#7305 chore: Clean up log files, add `daemon log` subcommand
  crates/turborepo-filewatch/src/package_watcher.rs
  crates/turborepo-globwalk/src/lib.rs
  crates/turborepo-lib/src/cli/mod.rs
  crates/turborepo-lib/src/commands/daemon.rs
  crates/turborepo-lib/src/daemon/client.rs
  crates/turborepo-lib/src/daemon/connector.rs
Labels: owned-by: turborepo, created-by: turborepo

#7316 fix: unset RUSTC_WRAPPER when empty
  .github/workflows/test.yml
Labels: area: ci, owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#7309 chore: add shutdown method for async cache
  crates/turborepo-cache/src/async_cache.rs
  crates/turborepo-lib/src/run/cache.rs
  crates/turborepo-lib/src/run/mod.rs
Labels: owned-by: turborepo, created-by: turborepo

#6314 feat: vendor CI log groups
  Cargo.lock
  crates/turborepo-ci/Cargo.toml
  crates/turborepo-ci/src/lib.rs
  crates/turborepo-ci/src/vendor_behavior.rs
  crates/turborepo-ci/src/vendors.rs
  crates/turborepo-lib/src/opts.rs
  crates/turborepo-lib/src/task_graph/visitor.rs
Labels: linear: turbo, owned-by: turborepo

#7307 feat(turborepo): daemon UX improvements
  crates/turborepo-lib/src/commands/daemon.rs
  turborepo-tests/integration/tests/daemon/verbosity.t
  turborepo-tests/integration/tests/run/absolute-path-error.t
Labels: owned-by: turborepo, created-by: turborepo

#7321 chore(turborepo): Ensure fresh builds
  crates/turborepo-lib/build.rs
  crates/turborepo-lib/src/daemon/proto/turbod.proto
Labels: owned-by: turborepo, created-by: turborepo

#7323 chore: don't print debug info on successful login
  crates/turborepo-auth/src/auth/login.rs
Labels: owned-by: turborepo, created-by: turborepo

#7325 fix: check vercel token is still valid
  crates/turborepo-auth/src/auth/login.rs
  turborepo-tests/integration/tests/command-login.t
Labels: owned-by: turborepo, created-by: turborepo

#7283 fix(Turborepo): Start moving cookie watching to downstream services
  crates/turborepo-filewatch/src/cookie_jar.rs
  crates/turborepo-filewatch/src/cookies.rs
  crates/turborepo-filewatch/src/globwatcher.rs
  crates/turborepo-filewatch/src/lib.rs
  crates/turborepo-lib/src/daemon/server.rs
  crates/turborepo-paths/src/absolute_system_path.rs
Labels: owned-by: turborepo, created-by: turborepo

#7331 chore(@turbo/repository): add inline jsdocs for findPackagesAndDependents method
  packages/turbo-repository/js/index.d.ts
  packages/turbo-repository/rust/src/lib.rs
Labels: owned-by: turborepo, created-by: turborepo

#7329 chore: modularize vercel api crate
  crates/turborepo-api-client/src/telemetry.rs
  crates/turborepo-telemetry/src/events/command.rs
  crates/turborepo-telemetry/src/events/generic.rs
  crates/turborepo-telemetry/src/events/mod.rs
  crates/turborepo-telemetry/src/events/repo.rs
  crates/turborepo-telemetry/src/events/task.rs
  crates/turborepo-telemetry/src/lib.rs
  crates/turborepo-vercel-api/src/lib.rs
  crates/turborepo-vercel-api/src/telemetry.rs
  crates/turborepo-vercel-api/src/token.rs
Labels: owned-by: turborepo, created-by: turborepo

#7327 fix(Turborepo): Pass validated globs to daemon for watching
  crates/turborepo-filewatch/src/globwatcher.rs
  crates/turborepo-lib/src/daemon/client.rs
  crates/turborepo-lib/src/run/cache.rs
Labels: owned-by: turborepo, created-by: turborepo

#7330 feat(Turborepo): Add spaces_id to layered config
  crates/turborepo-lib/src/commands/info.rs
  crates/turborepo-lib/src/commands/run.rs
  crates/turborepo-lib/src/config.rs
  crates/turborepo-lib/src/run/mod.rs
  crates/turborepo-lib/src/turbo_json/mod.rs
  crates/turborepo-lib/src/turbo_json/parser.rs
  turborepo-tests/integration/tests/config.t
  turborepo-tests/integration/tests/prune/produces-valid-turbo-json.t
Labels: owned-by: turborepo, created-by: turborepo

#7319 feat(gitignore): break out gitignore util
  crates/turborepo-lib/src/commands/link.rs
  crates/turborepo-lib/src/gitignore.rs
  crates/turborepo-lib/src/lib.rs
  crates/turborepo-lib/src/run/task_access.rs
Labels: pr: fixship, owned-by: turborepo, created-by: turborepo

#7336 feat(turbo): update changemapper to return name and path of packages
  crates/turborepo-lib/src/run/scope/change_detector.rs
  crates/turborepo-repository/src/change_mapper.rs
  crates/turborepo-repository/src/package_graph/mod.rs
Labels: pr: fixship, owned-by: turborepo, created-by: turborepo

#7340 feat(tasks-fs): bump up notify, fix empty file watch
  Cargo.lock
  Cargo.toml
  crates/turbo-tasks-fs/Cargo.toml
  crates/turbo-tasks-fs/benches/mod.rs
  crates/turbo-tasks-fs/src/lib.rs
Labels: owned-by: turborepo, owned-by: turbopack, created-by: turbopack

#7351 chore(turbo): rename WorkspaceNode to PackageNode
  crates/turborepo-lib/src/commands/info.rs
  crates/turborepo-lib/src/commands/prune.rs
  crates/turborepo-lib/src/engine/builder.rs
  crates/turborepo-lib/src/run/scope/filter.rs
  crates/turborepo-repository/src/package_graph/builder.rs
  crates/turborepo-repository/src/package_graph/mod.rs
  packages/turbo-repository/rust/src/lib.rs
Labels: owned-by: turborepo, created-by: turborepo

#7353 chore(turbo): rename WorkspaceInfo struct to PackageInfo
  crates/turborepo-lib/src/framework.rs
  crates/turborepo-lib/src/run/cache.rs
  crates/turborepo-lib/src/run/summary/task_factory.rs
  crates/turborepo-lib/src/task_hash.rs
  crates/turborepo-repository/src/package_graph/builder.rs
  crates/turborepo-repository/src/package_graph/mod.rs
Labels: owned-by: turborepo, created-by: turborepo

#7339 chore(Turborepo): Move daemon paths off of CommandBase
  crates/turborepo-lib/src/commands/daemon.rs
  crates/turborepo-lib/src/commands/mod.rs
  crates/turborepo-lib/src/daemon/client.rs
  crates/turborepo-lib/src/daemon/connector.rs
  crates/turborepo-lib/src/daemon/endpoint.rs
  crates/turborepo-lib/src/daemon/mod.rs
  crates/turborepo-lib/src/daemon/server.rs
  crates/turborepo-lib/src/lib.rs
  crates/turborepo-lib/src/run/mod.rs
  crates/turborepo-lsp/src/lib.rs
  packages/turbo-repository/npm/linux-x64-musl/package.json
Labels: owned-by: turborepo, created-by: turborepo

#7356 ci(workflow): remove doc deploy
  .github/workflows/turbopack-nightly-rustdocs-deploy.yml
Labels: area: ci, owned-by: turborepo, owned-by: turbopack, created-by: turbopack

#7357 fix: use system certs for tls
  Cargo.lock
  crates/turborepo-api-client/Cargo.toml
Labels: owned-by: turborepo, created-by: turborepo

#7360 chore(Turborepo): Remote CommandBase from Run
  crates/turborepo-lib/src/config.rs
  crates/turborepo-lib/src/run/mod.rs
Labels: owned-by: turborepo, created-by: turborepo

#7326 feat(@turbo/repository): add affectedPackages API
  packages/turbo-repository/__tests__/find.test.ts
  packages/turbo-repository/js/index.d.ts
  packages/turbo-repository/rust/src/lib.rs
Labels: owned-by: turborepo, created-by: turborepo

#7361 feat(@turbo/repository): bump for release
  packages/turbo-repository/js/package.json
  packages/turbo-repository/npm/darwin-arm64/package.json
  packages/turbo-repository/npm/darwin-x64/package.json
  packages/turbo-repository/npm/linux-arm64-gnu/package.json
  packages/turbo-repository/npm/linux-x64-gnu/package.json
  packages/turbo-repository/npm/linux-x64-musl/package.json
  packages/turbo-repository/npm/win32-arm64-msvc/package.json
  packages/turbo-repository/npm/win32-x64-msvc/package.json
Labels: owned-by: turborepo, created-by: turborepo

#7272 build: Update `swc_core` to `v0.90.7`
  Cargo.lock
  Cargo.toml
  crates/turbopack-ecmascript/src/analyzer/graph.rs
  crates/turbopack-ecmascript/src/references/async_module.rs
  crates/turbopack-ecmascript/src/references/mod.rs
  crates/turbopack-ecmascript/src/tree_shake/util.rs
  crates/turbopack-ecmascript/src/webpack/parse.rs
  crates/turbopack-ecmascript/tests/analyzer/graph/md5-reduced/graph-effects.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/md5_2/graph-effects.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/webpack-target-node/graph-effects.snapshot
  crates/turbopack-tests/tests/snapshot/emotion/emotion/output/crates_turbopack-tests_tests_snapshot_b36339._.js
  deny.toml
Labels: owned-by: turborepo, owned-by: turbopack, created-by: turbopack

#7346 remove server addr
  crates/turbopack-cli/src/dev/mod.rs
  crates/turbopack-core/src/environment.rs
  crates/turbopack-ecmascript/src/references/esm/url.rs
Labels: owned-by: turbopack, created-by: turbopack

#7355 chore(turbo): rename WorkspaceName to PackageName
  crates/turborepo-lib/src/commands/info.rs
  crates/turborepo-lib/src/commands/prune.rs
  crates/turborepo-lib/src/engine/builder.rs
  crates/turborepo-lib/src/engine/mod.rs
  crates/turborepo-lib/src/run/mod.rs
  crates/turborepo-lib/src/run/scope/change_detector.rs
  crates/turborepo-lib/src/run/scope/filter.rs
  crates/turborepo-lib/src/run/scope/mod.rs
  crates/turborepo-lib/src/run/summary/mod.rs
  crates/turborepo-lib/src/run/summary/task_factory.rs
  crates/turborepo-lib/src/run/task_id.rs
  crates/turborepo-lib/src/task_graph/visitor.rs
  crates/turborepo-lib/src/task_hash.rs
  crates/turborepo-repository/src/change_mapper.rs
  crates/turborepo-repository/src/package_graph/builder.rs
  crates/turborepo-repository/src/package_graph/mod.rs
Labels: owned-by: turborepo, created-by: turborepo

#7348 allow to search by incomplete spans and span attributes
  crates/turbopack-trace-server/src/span_ref.rs
Labels: owned-by: turbopack, created-by: turbopack

#7366 fix baseUrl handling
  crates/turbopack-core/src/resolve/mod.rs
  crates/turbopack-core/src/resolve/options.rs
  crates/turbopack-tests/tests/execution/turbopack/resolving/tsconfig-baseurl/input/index.js
  crates/turbopack-tests/tests/execution/turbopack/resolving/tsconfig-baseurl/input/src/foo.ts
  crates/turbopack-tests/tests/execution/turbopack/resolving/tsconfig-baseurl/input/tsconfig.json
Labels: owned-by: turbopack, created-by: turbopack

#7371 feat(binding): expose swc_core serde
  crates/turbopack-binding/Cargo.toml
Labels: owned-by: turbopack, created-by: turbopack

#7372 chore(turbo): rename workspace -> package in PackageGraph module
  crates/turborepo-lib/src/commands/info.rs
  crates/turborepo-lib/src/commands/prune.rs
  crates/turborepo-lib/src/engine/builder.rs
  crates/turborepo-lib/src/engine/mod.rs
  crates/turborepo-lib/src/run/mod.rs
  crates/turborepo-lib/src/run/scope/change_detector.rs
  crates/turborepo-lib/src/run/scope/filter.rs
  crates/turborepo-lib/src/run/summary/mod.rs
  crates/turborepo-lib/src/run/summary/task_factory.rs
  crates/turborepo-lib/src/task_graph/visitor.rs
  crates/turborepo-repository/src/change_mapper.rs
  crates/turborepo-repository/src/package_graph/builder.rs
  crates/turborepo-repository/src/package_graph/mod.rs
  packages/turbo-repository/rust/src/lib.rs
Labels: owned-by: turborepo, created-by: turborepo, pkg: turbo-repository

#7376 chore(turbo): delete unused fixture in cli directory
  cli/fixtures/01-git-hash-object/.gitignore
  cli/fixtures/01-git-hash-object/child/child.json
  cli/fixtures/01-git-hash-object/child/grandchild/grandchild.json
  cli/fixtures/01-git-hash-object/root.json
Labels: owned-by: turborepo, created-by: turborepo

#7375 chore(turbo): remove EXPERIMENTAL_RUST_CODEPATH env var
  .github/workflows/test.yml
  turborepo-tests/integration/tests/bad-turbo-json.t
  turborepo-tests/integration/tests/config.t
  turborepo-tests/integration/tests/dry-json/monorepo-no-changes.t
  turborepo-tests/integration/tests/run-summary/monorepo.t
  turborepo-tests/integration/tests/run-summary/single-package.t
  turborepo-tests/integration/tests/shim-errors.t
Labels: area: ci, owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#7362 build: Update `swc_core` to `v0.90.8`
  Cargo.lock
  Cargo.toml
Labels: owned-by: turborepo, owned-by: turbopack, created-by: turbopack

#7335 fix: avoid grouping logs from tasks which ended in error
  crates/turborepo-ci/src/vendor_behavior.rs
  crates/turborepo-ci/src/vendors.rs
  crates/turborepo-lib/src/task_graph/visitor.rs
  crates/turborepo-ui/src/output.rs
  crates/turborepo-ui/tests/threads.rs
  turborepo-tests/integration/tests/run-logging/log-order-github.t
Labels: owned-by: turborepo, created-by: turborepo

#7347 avoid resolving recursive main field
  crates/turbopack-core/src/resolve/mod.rs
Labels: owned-by: turbopack, created-by: turbopack

#7244 perf: parse and walk globs in parallel
  Cargo.lock
  crates/turborepo-globwalk/Cargo.toml
  crates/turborepo-globwalk/src/lib.rs
Labels: owned-by: turborepo, created-by: turborepo

#7380 feat(Turborepo): Add musl support for @turbo/repository
  .github/workflows/turborepo-library-release.yml
  packages/turbo-repository/js/index.js
  packages/turbo-repository/js/package.json
  packages/turbo-repository/npm/linux-arm64-musl/package.json
Labels: area: ci, owned-by: turborepo, owned-by: turbopack, created-by: turborepo, pkg: turbo-repository

#7385 chore(Turborepo): bump versions in prep for a release
  packages/turbo-repository/js/package.json
  packages/turbo-repository/npm/darwin-arm64/package.json
  packages/turbo-repository/npm/darwin-x64/package.json
  packages/turbo-repository/npm/linux-arm64-gnu/package.json
  packages/turbo-repository/npm/linux-arm64-musl/package.json
  packages/turbo-repository/npm/linux-x64-gnu/package.json
  packages/turbo-repository/npm/linux-x64-musl/package.json
  packages/turbo-repository/npm/win32-arm64-msvc/package.json
  packages/turbo-repository/npm/win32-x64-msvc/package.json
Labels: owned-by: turborepo, created-by: turborepo, pkg: turbo-repository

#7384 feat(release): exclude release commits
  .github/turbo-orchestrator.yml
  .github/turborepo-release.yml
Labels: pr: automerge, owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#7358 fix: do better validation for existing tokens
  crates/turborepo-api-client/src/lib.rs
  crates/turborepo-auth/src/auth/login.rs
  crates/turborepo-auth/src/auth/mod.rs
  crates/turborepo-auth/src/auth/sso.rs
  crates/turborepo-auth/src/error.rs
  crates/turborepo-auth/src/lib.rs
  crates/turborepo-auth/src/ui/mod.rs
  crates/turborepo-vercel-api/src/token.rs
Labels: owned-by: turborepo, created-by: turborepo

#7390 chore(turbo): delete unused nginx configs
  .editorconfig
  cli/scripts/nginx/.dockerignore
  cli/scripts/nginx/Dockerfile.cacher
  cli/scripts/nginx/docker-compose.yml
  cli/scripts/nginx/nginx.conf
Labels: owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#7389 chore(ci): remove Makefile targets to build Go binaries
  cli/Makefile
Labels: owned-by: turborepo, created-by: turborepo

#7388 fix(ci): fix reference to created branch during release
  .github/workflows/turborepo-release.yml
Labels: area: ci, owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#7374 fix(@turbo/repository): run JS native package tests when turbo core changes
  .github/workflows/test.yml
  .github/workflows/turborepo-native-lib-test.yml
  packages/turbo-repository/turbo.json
Labels: area: ci, owned-by: turborepo, owned-by: turbopack, created-by: turborepo, pkg: turbo-repository

#7277 add error enum to `turborepo-dirs`
  Cargo.lock
  crates/turborepo-dirs/Cargo.toml
  crates/turborepo-dirs/src/lib.rs
Labels: owned-by: turborepo, created-by: turborepo

#7392 fix: Clippy errors
  crates/turborepo-lib/src/gitignore.rs
Labels: owned-by: turborepo, created-by: turborepo

#7391 feat(tasks-fs): allow to skip subpath invalidation
  crates/node-file-trace/src/lib.rs
  crates/turbo-tasks-fetch/tests/fetch.rs
  crates/turbo-tasks-fs/examples/hash_directory.rs
  crates/turbo-tasks-fs/examples/hash_glob.rs
  crates/turbo-tasks-fs/src/embed/dir.rs
  crates/turbo-tasks-fs/src/embed/file.rs
  crates/turbo-tasks-fs/src/lib.rs
  crates/turbopack-cli/src/util.rs
  crates/turbopack-tests/tests/execution.rs
  crates/turbopack-tests/tests/snapshot.rs
  crates/turbopack/benches/node_file_trace.rs
  crates/turbopack/examples/turbopack.rs
  crates/turbopack/tests/node-file-trace.rs
Labels: owned-by: turbopack, created-by: turbopack

#7367 add custom_extensions to resolve options context
  crates/turbopack/src/resolve.rs
  crates/turbopack/src/resolve_options_context.rs
  docs/pages/pack/docs/features/customizing-turbopack.mdx
Labels: area: docs, owned-by: turbopack, created-by: turbopack

#7386 docs: Refresh daemon documentation
  crates/turborepo-filewatch/src/cookies.rs
  crates/turborepo-lib/src/daemon/mod.rs
  crates/turborepo-lib/src/daemon/server.rs
Labels: owned-by: turborepo, created-by: turborepo

#7387 Break up Client trait
  crates/turborepo-api-client/src/lib.rs
  crates/turborepo-auth/src/auth/login.rs
  crates/turborepo-auth/src/auth/sso.rs
  crates/turborepo-cache/src/http.rs
  crates/turborepo-lib/src/commands/link.rs
Labels: owned-by: turborepo, created-by: turborepo

#7393 chore(turbo): delete unused goreleaser configs
  cli/combined-release.yml
  cli/cross-release.yml
  cli/darwin-release.yml
Labels: owned-by: turborepo, created-by: turborepo

#7322 Improve daemon startup times
  Cargo.lock
  crates/turborepo-filewatch/src/cookies.rs
  crates/turborepo-filewatch/src/globwatcher.rs
  crates/turborepo-filewatch/src/lib.rs
  crates/turborepo-filewatch/src/optional_watch.rs
  crates/turborepo-filewatch/src/package_watcher.rs
  crates/turborepo-lib/src/daemon/server.rs
  crates/turborepo-lib/src/engine/builder.rs
  crates/turborepo-lib/src/engine/mod.rs
  crates/turborepo-lib/src/run/mod.rs
  crates/turborepo-lib/src/run/package_discovery/mod.rs
  crates/turborepo-lib/src/run/scope/filter.rs
  crates/turborepo-lsp/src/lib.rs
  crates/turborepo-repository/Cargo.toml
  crates/turborepo-repository/src/discovery.rs
  crates/turborepo-repository/src/package_graph/builder.rs
  crates/turborepo-repository/src/package_graph/mod.rs
  crates/turborepo-repository/src/package_json.rs
Labels: owned-by: turborepo, created-by: turborepo

#7402 fix: reading output from orphan process
  crates/turborepo-lib/src/process/child.rs
  crates/turborepo-lib/src/process/mod.rs
Labels: owned-by: turborepo, created-by: turborepo

#7401 Turbopack react-refresh: compare boundary signatures, not exports
  crates/turbopack-cli/js/package.json
  crates/turbopack-ecmascript-runtime/js/package.json
  crates/turbopack-ecmascript-runtime/js/src/dev/runtime/base/runtime-base.ts
  crates/turbopack-tests/tests/snapshot/runtime/default_dev_runtime/output/79fb1_turbopack-tests_tests_snapshot_runtime_default_dev_runtime_input_index_40d141.js
  crates/turbopack-tests/tests/snapshot/runtime/default_dev_runtime/output/79fb1_turbopack-tests_tests_snapshot_runtime_default_dev_runtime_input_index_40d141.js.map
  pnpm-lock.yaml
Labels: owned-by: turbopack, created-by: turbopack

#7403 fix(rustdoc): Reverting back to rust-1.0.2-nightly
  crates/turborepo-lib/src/shim.rs
  package.json
  pnpm-lock.yaml
Labels: owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#7399 make turbo extension use `turboPath` for commands
  crates/turborepo-lsp/src/lib.rs
  packages/turbo-vsc/src/extension.ts
Labels: owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#7400 fix(examples): basic generator
  examples/basic/packages/ui/turbo/generators/config.ts
Labels: area: examples, owned-by: turborepo

#7379 Add optionalwatch cookie support
  crates/turborepo-filewatch/src/cookies.rs
  crates/turborepo-filewatch/src/optional_watch.rs
  crates/turborepo-filewatch/src/package_watcher.rs
Labels: owned-by: turborepo, created-by: turborepo

#7378 chore: add force flag to login command
  crates/turborepo-auth/src/auth/login.rs
  crates/turborepo-auth/src/auth/mod.rs
  crates/turborepo-auth/src/auth/sso.rs
  crates/turborepo-lib/src/cli/mod.rs
  crates/turborepo-lib/src/commands/login.rs
  turborepo-tests/integration/tests/turbo-help.t
Labels: owned-by: turborepo, created-by: turborepo

#7363 refactor to have different types of externals
  crates/turbopack-core/src/environment.rs
  crates/turbopack-core/src/resolve/mod.rs
  crates/turbopack-core/src/resolve/options.rs
  crates/turbopack-ecmascript/src/references/async_module.rs
  crates/turbopack-ecmascript/src/references/esm/base.rs
  crates/turbopack-ecmascript/src/references/esm/url.rs
  crates/turbopack-ecmascript/src/references/pattern_mapping.rs
  crates/turbopack-ecmascript/src/references/util.rs
  crates/turbopack-tests/tests/snapshot/node/node_protocol_external/output/79fb1_turbopack-tests_tests_snapshot_node_node_protocol_external_input_index_8770aa.js
  crates/turbopack/src/resolve.rs
Labels: owned-by: turbopack, created-by: turbopack

#7381 feat(turbopack): Lint invalid CSS modules
  crates/turbopack-css/src/process.rs
Labels: owned-by: turbopack, created-by: turbopack

#7416 Update `swc_core` to `v0.90.10`
  Cargo.lock
  Cargo.toml
Labels: owned-by: turborepo, owned-by: turbopack, created-by: turbopack

#7334 Audit daemon error paths and ensure we are doing everything we can to handle
  Cargo.lock
  crates/turborepo-filewatch/src/package_watcher.rs
  crates/turborepo-lib/Cargo.toml
  crates/turborepo-lib/src/daemon/bump_timeout_layer.rs
  crates/turborepo-lib/src/daemon/client.rs
  crates/turborepo-lib/src/daemon/connector.rs
  crates/turborepo-lib/src/daemon/default_timeout_layer.rs
  crates/turborepo-lib/src/daemon/mod.rs
  crates/turborepo-lib/src/daemon/proto/turbod.proto
  crates/turborepo-lib/src/daemon/server.rs
  crates/turborepo-lib/src/engine/builder.rs
  crates/turborepo-lib/src/engine/mod.rs
  crates/turborepo-lib/src/lib.rs
  crates/turborepo-lib/src/run/cache.rs
  crates/turborepo-lib/src/run/mod.rs
  crates/turborepo-lib/src/run/package_discovery/mod.rs
  crates/turborepo-lib/src/run/scope/filter.rs
  crates/turborepo-lsp/src/lib.rs
  crates/turborepo-repository/src/discovery.rs
  crates/turborepo-repository/src/package_graph/builder.rs
  crates/turborepo-repository/src/package_graph/mod.rs
  crates/turborepo-telemetry/src/events/mod.rs
Labels: owned-by: turborepo, created-by: turborepo

#7431 fix(turbopack): Fix `pure` lint for CSS Modules in lightningcss mode
  crates/turbopack-css/src/process.rs
Labels: owned-by: turbopack, created-by: turbopack

#7438 chore: Clippy strikes again
  crates/turbopack-ecmascript/src/tree_shake/tests.rs
  crates/turbopack/tests/node-file-trace.rs
  crates/turborepo-paths/src/absolute_system_path.rs
  crates/turborepo-wax/src/walk/mod.rs
  packages/turbo-repository/rust/src/lib.rs
Labels: owned-by: turborepo, owned-by: turbopack, created-by: turborepo, pkg: turbo-repository

#7439 chore: lower log level for noisy crates
  crates/turborepo-lib/src/tracing.rs
Labels: owned-by: turborepo, created-by: turborepo

#7434 chore(docs): update github actions versions to support node 20
  docs/pages/repo/docs/ci/github-actions.mdx
  examples/design-system/.github/workflows/release.yml
  examples/with-changesets/.github/workflows/release.yml
Labels: area: docs, area: examples, owned-by: turborepo

#7437 report relative start/end and fix start time for events
  crates/turbopack-trace-server/src/reader.rs
  crates/turbopack-trace-server/src/viewer.rs
Labels: owned-by: turbopack, created-by: turbopack

#7440 chore: Rename daemon code
  crates/turborepo-filewatch/src/cookies.rs
  crates/turborepo-filewatch/src/globwatcher.rs
Labels: owned-by: turborepo, created-by: turborepo

#6651 fix(postcss_configs): support for resolve `postcss.config.json` file
  crates/turbopack-node/src/transforms/postcss.rs
Labels: owned-by: turbopack

#7448 chore: remove "rust" npm package
  Cargo.lock
  package.json
  pnpm-lock.yaml
Labels: owned-by: turborepo, owned-by: turbopack, created-by: turbopack

#7442 fix: support yarn4 semver resolutions
  crates/turborepo-lockfiles/fixtures/yarn4-resolution.lock
  crates/turborepo-lockfiles/src/berry/mod.rs
  crates/turborepo-lockfiles/src/berry/resolution.rs
Labels: owned-by: turborepo, created-by: turborepo

#7436 refactor(turbo-tasks-fs): move file watching into separate file
  Cargo.lock
  Cargo.toml
  crates/turbo-tasks-fs/Cargo.toml
  crates/turbo-tasks-fs/src/lib.rs
  crates/turbo-tasks-fs/src/watcher.rs
  crates/turborepo-filewatch/Cargo.toml
  crates/turborepo-globwatch/Cargo.toml
  crates/turborepo-lib/Cargo.toml
Labels: owned-by: turborepo, owned-by: turbopack, created-by: turbopack

#7407 fix: More robust token validation
  crates/turborepo-auth/src/auth/login.rs
  crates/turborepo-auth/src/auth/mod.rs
  crates/turborepo-auth/src/auth/sso.rs
  crates/turborepo-auth/src/lib.rs
Labels: owned-by: turborepo, created-by: turborepo

#7499 Update Discussions templates.
  .github/DISCUSSION_TEMPLATE/help.yml
  .github/DISCUSSION_TEMPLATE/ideas.yml
  .github/ISSUE_TEMPLATE/config.yml
Labels: owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#7396 feat(turbopack): Apply critical ES lint rules
  Cargo.lock
  crates/turbopack-ecmascript/Cargo.toml
  crates/turbopack-ecmascript/src/parse.rs
  crates/turbopack-tests/tests/snapshot/imports/duplicate-binding/input/index.js
  crates/turbopack-tests/tests/snapshot/imports/duplicate-binding/input/table.js
  crates/turbopack-tests/tests/snapshot/imports/duplicate-binding/issues/Parsing ecmascript source code failed-5cc3bc.txt
  crates/turbopack-tests/tests/snapshot/imports/duplicate-binding/output/79fb1_turbopack-tests_tests_snapshot_imports_duplicate-binding_input_index_271e51.js
  crates/turbopack-tests/tests/snapshot/imports/duplicate-binding/output/79fb1_turbopack-tests_tests_snapshot_imports_duplicate-binding_input_index_271e51.js.map
  crates/turbopack-tests/tests/snapshot/imports/duplicate-binding/output/79fb1_turbopack-tests_tests_snapshot_imports_duplicate-binding_input_index_cc28f0.js
  crates/turbopack-tests/tests/snapshot/imports/duplicate-binding/output/79fb1_turbopack-tests_tests_snapshot_imports_duplicate-binding_input_index_e000b2.js
  crates/turbopack-tests/tests/snapshot/imports/duplicate-binding/output/79fb1_turbopack-tests_tests_snapshot_imports_duplicate-binding_input_index_e000b2.js.map
Labels: owned-by: turbopack, created-by: turbopack

#7468 chore: Change daemon log location to be in repo
  crates/turborepo-lib/src/commands/daemon.rs
  crates/turborepo-lib/src/daemon/client.rs
  crates/turborepo-lib/src/daemon/mod.rs
Labels: owned-by: turborepo, created-by: turborepo

#7408 feat: More errors work
  crates/turborepo-errors/src/lib.rs
  crates/turborepo-lib/src/config.rs
  crates/turborepo-lib/src/engine/builder.rs
  crates/turborepo-lib/src/run/mod.rs
  crates/turborepo-lib/src/run/summary/task.rs
  crates/turborepo-lib/src/task_graph/mod.rs
  crates/turborepo-lib/src/turbo_json/mod.rs
  crates/turborepo-lib/src/turbo_json/parser.rs
  docs/pages/messages/missing-root-task-in-turbo-json.mdx
  turborepo-tests/integration/tests/bad-turbo-json.t
  turborepo-tests/integration/tests/config.t
  turborepo-tests/integration/tests/dry-json/monorepo.t
  turborepo-tests/integration/tests/run/missing-tasks.t
  turborepo-tests/integration/tests/task-dependencies/workspace-tasks.t
Labels: area: docs, owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#7501 Tracing: Report progress on initial read
  crates/turbopack-trace-server/src/reader.rs
Labels: owned-by: turbopack, created-by: turbopack

#7508 fix(turbopack): Fix CSS Modules of turbopack in swc mode
  crates/turbopack-css/src/process.rs
  crates/turbopack-tests/tests/snapshot/cssmodules/composes/input/index.js
  crates/turbopack-tests/tests/snapshot/cssmodules/composes/input/index.module.css
  crates/turbopack-tests/tests/snapshot/cssmodules/composes/output/79fb1_turbopack-tests_tests_snapshot_cssmodules_composes_input_index_module_7d7e1c.css
  crates/turbopack-tests/tests/snapshot/cssmodules/composes/output/79fb1_turbopack-tests_tests_snapshot_cssmodules_composes_input_index_module_7d7e1c.css.map
  crates/turbopack-tests/tests/snapshot/cssmodules/composes/output/79fb1_turbopack-tests_tests_snapshot_cssmodules_composes_input_index_module_cb674a.css
  crates/turbopack-tests/tests/snapshot/cssmodules/composes/output/79fb1_turbopack-tests_tests_snapshot_cssmodules_composes_input_index_module_cb674a.css.map
  crates/turbopack-tests/tests/snapshot/cssmodules/composes/output/crates_turbopack-tests_tests_snapshot_cssmodules_composes_input_2ba052._.js
  crates/turbopack-tests/tests/snapshot/cssmodules/composes/output/crates_turbopack-tests_tests_snapshot_cssmodules_composes_input_2ba052._.js.map
  crates/turbopack-tests/tests/snapshot/cssmodules/composes/output/crates_turbopack-tests_tests_snapshot_cssmodules_composes_input_index_0b8565.js
  crates/turbopack-tests/tests/snapshot/cssmodules/composes/output/crates_turbopack-tests_tests_snapshot_cssmodules_composes_input_index_607308.js
  crates/turbopack-tests/tests/snapshot/cssmodules/composes/output/crates_turbopack-tests_tests_snapshot_cssmodules_composes_input_index_607308.js.map
Labels: owned-by: turbopack, created-by: turbopack

#7424 fix(turbopack): Analyze for-of stmts to allow using `sharp`
  crates/turbopack-ecmascript/src/analyzer/builtin.rs
  crates/turbopack-ecmascript/src/analyzer/graph.rs
  crates/turbopack-ecmascript/src/analyzer/mod.rs
  crates/turbopack-ecmascript/tests/analyzer/graph/pack-2521/graph-effects.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/pack-2521/graph-explained.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/pack-2521/graph.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/pack-2521/input.js
  crates/turbopack-ecmascript/tests/analyzer/graph/pack-2521/resolved-effects.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/pack-2521/resolved-explained.snapshot
Labels: owned-by: turbopack, created-by: turbopack

#7509 split graph_node_to_referenced_nodes into cacheable and non-cacheable parts
  crates/turbopack-core/src/chunk/mod.rs
Labels: owned-by: turbopack, created-by: turbopack

#7516 fix ignore in package.json
  crates/turbopack-ecmascript/src/references/pattern_mapping.rs
  crates/turbopack-tests/tests/execution.rs
  crates/turbopack-tests/tests/execution/turbopack/basic/ignore/input/index.js
  crates/turbopack-tests/tests/execution/turbopack/basic/ignore/input/node_modules/package/file.js
  crates/turbopack-tests/tests/execution/turbopack/basic/ignore/input/node_modules/package/file2.js
  crates/turbopack-tests/tests/execution/turbopack/basic/ignore/input/node_modules/package/index.js
  crates/turbopack-tests/tests/execution/turbopack/basic/ignore/input/node_modules/package/package.json
Labels: owned-by: turbopack, created-by: turbopack

#7500 add span count to trace-server
  crates/turbopack-trace-server/src/span.rs
  crates/turbopack-trace-server/src/span_bottom_up_ref.rs
  crates/turbopack-trace-server/src/span_graph_ref.rs
  crates/turbopack-trace-server/src/span_ref.rs
  crates/turbopack-trace-server/src/store.rs
  crates/turbopack-trace-server/src/viewer.rs
Labels: owned-by: turbopack, created-by: turbopack

#7507 fix(turbopack): Fix CSS module purity validator
  crates/turbopack-css/src/process.rs
Labels: owned-by: turbopack, created-by: turbopack

#7521 chore: update docs to no longer suggest verbosity for `--profile`
  docs/pages/repo/docs/reference/command-line-reference/run.mdx
Labels: area: docs, owned-by: turborepo, created-by: turborepo

#7470 feat: task table widget
  Cargo.lock
  crates/turborepo-ui/Cargo.toml
  crates/turborepo-ui/examples/table.rs
  crates/turborepo-ui/src/lib.rs
  crates/turborepo-ui/src/tui/mod.rs
  crates/turborepo-ui/src/tui/state.rs
  crates/turborepo-ui/src/tui/table.rs
  crates/turborepo-ui/src/tui/task.rs
  crates/turborepo-ui/src/tui/task_duration.rs
Labels: owned-by: turborepo, created-by: turborepo

#7504 fix(turbopack): Enable CSS parsing option for legacy nesting syntax
  crates/turbopack-css/src/process.rs
  crates/turbopack-tests/tests/snapshot/css/css-legacy-nesting/input/index.js
  crates/turbopack-tests/tests/snapshot/css/css-legacy-nesting/input/style.css
  crates/turbopack-tests/tests/snapshot/css/css-legacy-nesting/output/crates_turbopack-tests_tests_snapshot_css_css-legacy-nesting_input_index_276773.js
  crates/turbopack-tests/tests/snapshot/css/css-legacy-nesting/output/crates_turbopack-tests_tests_snapshot_css_css-legacy-nesting_input_index_276773.js.map
  crates/turbopack-tests/tests/snapshot/css/css-legacy-nesting/output/crates_turbopack-tests_tests_snapshot_css_css-legacy-nesting_input_index_81f237.js
  crates/turbopack-tests/tests/snapshot/css/css-legacy-nesting/output/crates_turbopack-tests_tests_snapshot_css_css-legacy-nesting_input_index_8e60f2.js
  crates/turbopack-tests/tests/snapshot/css/css-legacy-nesting/output/crates_turbopack-tests_tests_snapshot_css_css-legacy-nesting_input_index_8e60f2.js.map
  crates/turbopack-tests/tests/snapshot/css/css-legacy-nesting/output/crates_turbopack-tests_tests_snapshot_css_css-legacy-nesting_input_style_7d7e1c.css
  crates/turbopack-tests/tests/snapshot/css/css-legacy-nesting/output/crates_turbopack-tests_tests_snapshot_css_css-legacy-nesting_input_style_7d7e1c.css.map
  crates/turbopack-tests/tests/snapshot/css/css-legacy-nesting/output/crates_turbopack-tests_tests_snapshot_css_css-legacy-nesting_input_style_c557a7.css
  crates/turbopack-tests/tests/snapshot/css/css-legacy-nesting/output/crates_turbopack-tests_tests_snapshot_css_css-legacy-nesting_input_style_c557a7.css.map
Labels: owned-by: turbopack, created-by: turbopack

#7528 add test case for ?:
  crates/turbopack-tests/tests/execution/turbopack/basic/comptime/input/index.js
Labels: owned-by: turbopack, created-by: turbopack

#7518 Update `swc_core` to `v0.90.12`
  Cargo.lock
  Cargo.toml
  crates/turbopack-tests/tests/snapshot/css/css-legacy-nesting/output/crates_turbopack-tests_tests_snapshot_css_css-legacy-nesting_input_index_8e60f2.js
Labels: owned-by: turborepo, owned-by: turbopack, created-by: turbopack

#7406 fix(turbopack-core): don't resolve exports field in folders
  crates/turbopack-core/src/resolve/mod.rs
  crates/turbopack-core/src/resolve/node.rs
  crates/turbopack-core/src/resolve/options.rs
  crates/turbopack-ecmascript/src/typescript/resolve.rs
  crates/turbopack/src/resolve.rs
Labels: owned-by: turbopack, created-by: turbopack

#7527 implement handling for alias field resolving in more cases
  crates/turbopack-core/src/resolve/mod.rs
  crates/turbopack-core/src/resolve/pattern.rs
  crates/turbopack-tests/tests/execution/turbopack/resolving/alias-field/input/index.js
  crates/turbopack-tests/tests/execution/turbopack/resolving/alias-field/input/node_modules/package/dir/file1.js
  crates/turbopack-tests/tests/execution/turbopack/resolving/alias-field/input/node_modules/package/dir/file3.js
  crates/turbopack-tests/tests/execution/turbopack/resolving/alias-field/input/node_modules/package/dir/index.js
  crates/turbopack-tests/tests/execution/turbopack/resolving/alias-field/input/node_modules/package/package.json
  crates/turbopack-tests/tests/execution/turbopack/resolving/alias-field/input/node_modules/package/replaced/file1.js
  crates/turbopack-tests/tests/execution/turbopack/resolving/alias-field/input/node_modules/package/replaced/file2.js
  crates/turbopack-tests/tests/execution/turbopack/resolving/alias-field/input/node_modules/package/replaced/file3.js
  crates/turbopack-tests/tests/execution/turbopack/resolving/alias-field/input/node_modules/package/replaced/file4.js
  crates/turbopack-tests/tests/execution/turbopack/resolving/alias-field/input/node_modules/package/replaced/file5.js
Labels: owned-by: turbopack, created-by: turbopack
