Repository vercel/turborepo, pull requests merged in 2024-09, with the labels that each got.

#9098 docs: Clarify Root Tasks.
  docs/repo-docs/crafting-your-repository/configuring-tasks.mdx
Labels: area: docs, owned-by: turborepo, created-by: turborepo

#9099 feat: update Prisma schema
  examples/with-prisma/packages/database/prisma/schema.prisma
Labels: area: examples, needs: triage, owned-by: turborepo

#9087 feat: allow for specifying path of root turbo.json
  crates/turborepo-lib/src/cli/mod.rs
  crates/turborepo-lib/src/commands/link.rs
  crates/turborepo-lib/src/commands/mod.rs
  crates/turborepo-lib/src/commands/prune.rs
  crates/turborepo-lib/src/config.rs
  crates/turborepo-lib/src/config/env.rs
  crates/turborepo-lib/src/config/file.rs
  crates/turborepo-lib/src/config/mod.rs
  crates/turborepo-lib/src/config/turbo_json.rs
  crates/turborepo-lib/src/engine/builder.rs
  crates/turborepo-lib/src/package_changes_watcher.rs
  crates/turborepo-lib/src/run/builder.rs
  crates/turborepo-lib/src/run/task_access.rs
  crates/turborepo-lib/src/run/watch.rs
  crates/turborepo-lib/src/turbo_json/mod.rs
  crates/turborepo-lib/src/turbo_json/parser.rs
  turborepo-tests/integration/tests/no-args.t
  turborepo-tests/integration/tests/run/no-root-turbo.t
  turborepo-tests/integration/tests/turbo-help.t
Labels: owned-by: turborepo, created-by: turborepo

#9103 chore(path): make path reading api more rusty
  crates/turborepo-lib/src/commands/link.rs
  crates/turborepo-lib/src/commands/login.rs
  crates/turborepo-lib/src/commands/unlink.rs
  crates/turborepo-lib/src/config/file.rs
  crates/turborepo-paths/src/absolute_system_path.rs
Labels: owned-by: turborepo, created-by: turborepo

#9106 docs(watch): call out no caching
  docs/repo-docs/reference/watch.mdx
Labels: area: docs, owned-by: turborepo, created-by: turborepo

#9109 Fix invalid JSON
  docs/repo-docs/guides/tools/typescript.mdx
Labels: area: docs, needs: triage, owned-by: turborepo

#9101 fix(tui): start pty with matching TUI size
  crates/turborepo-lib/src/process/child.rs
  crates/turborepo-lib/src/process/mod.rs
  crates/turborepo-lib/src/task_graph/visitor.rs
  crates/turborepo-ui/src/tui/app.rs
  crates/turborepo-ui/src/tui/event.rs
  crates/turborepo-ui/src/tui/handle.rs
Labels: owned-by: turborepo, created-by: turborepo

#9102 fix(filter): validate package name on full graph
  crates/turborepo-lib/src/run/scope/filter.rs
  crates/turborepo-lib/src/run/scope/target_selector.rs
Labels: owned-by: turborepo, created-by: turborepo

#9112 removes references to docs from root package.json
  package.json
Labels: owned-by: turborepo, created-by: turborepo

#9118 chore(hash): delete capnp source
  crates/turborepo-lib/build.rs
  crates/turborepo-lib/src/hash/proto.capnp
  crates/turborepo-lib/src/hash/std/capnp/c++.capnp
  crates/turborepo-lib/src/hash/std/capnp/compat/json.capnp
  crates/turborepo-lib/src/hash/std/capnp/compat/json/json.capnp.go
  crates/turborepo-lib/src/hash/std/capnp/cxx/c++.capnp.go
  crates/turborepo-lib/src/hash/std/capnp/persistent.capnp
  crates/turborepo-lib/src/hash/std/capnp/persistent/persistent.capnp.go
  crates/turborepo-lib/src/hash/std/capnp/rpc-twoparty.capnp
  crates/turborepo-lib/src/hash/std/capnp/rpc.capnp
  crates/turborepo-lib/src/hash/std/capnp/rpc/exception.go
  crates/turborepo-lib/src/hash/std/capnp/rpc/rpc.capnp.go
  crates/turborepo-lib/src/hash/std/capnp/rpctwoparty/rpc-twoparty.capnp.go
  crates/turborepo-lib/src/hash/std/capnp/schema.capnp
  crates/turborepo-lib/src/hash/std/capnp/schema/schema.capnp.go
  crates/turborepo-lib/src/hash/std/capnp/stream.capnp
  crates/turborepo-lib/src/hash/std/capnp/stream/stream.capnp.go
  crates/turborepo-lib/src/hash/std/fixups.patch
  crates/turborepo-lib/src/hash/std/go.capnp
  crates/turborepo-lib/src/hash/std/go/go.capnp.go
Labels: owned-by: turborepo, created-by: turborepo

#9119 chore: remove turbopack top level crates
  Cargo.toml
Labels: owned-by: turborepo, created-by: turborepo

#9121 perf(tui): only rerender if a non-tick event has been received
  crates/turborepo-ui/src/tui/app.rs
Labels: owned-by: turborepo, created-by: turborepo

#9127 docs(crates/turborepo): add capnp to build dependencies
  crates/turborepo/README.md
Labels: needs: triage, owned-by: turborepo

#9111 chore(config): leverage proc macros
  Cargo.lock
  Cargo.toml
  crates/turborepo-lib/Cargo.toml
  crates/turborepo-lib/src/config/mod.rs
Labels: owned-by: turborepo, created-by: turborepo

#8895 feat(turborepo): web ui
  Cargo.lock
  Cargo.toml
  crates/turborepo-lib/Cargo.toml
  crates/turborepo-lib/src/commands/run.rs
  crates/turborepo-lib/src/opts.rs
  crates/turborepo-lib/src/run/builder.rs
  crates/turborepo-lib/src/run/error.rs
  crates/turborepo-lib/src/run/mod.rs
  crates/turborepo-lib/src/run/watch.rs
  crates/turborepo-lib/src/task_graph/visitor.rs
  crates/turborepo-lib/src/turbo_json/mod.rs
  crates/turborepo-ui/Cargo.toml
  crates/turborepo-ui/src/lib.rs
  crates/turborepo-ui/src/sender.rs
  crates/turborepo-ui/src/tui/event.rs
  crates/turborepo-ui/src/tui/handle.rs
  crates/turborepo-ui/src/tui/mod.rs
  crates/turborepo-ui/src/wui/event.rs
  crates/turborepo-ui/src/wui/mod.rs
  crates/turborepo-ui/src/wui/sender.rs
  crates/turborepo-ui/src/wui/server.rs
  crates/turborepo-ui/src/wui/subscriber.rs
  turborepo-tests/integration/tests/no-args.t
  turborepo-tests/integration/tests/turbo-help.t
  web-ui/next-env.d.ts
Labels: owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#9113 chore(config): move all uses of `clap(env)` to config
  crates/turborepo-lib/src/cli/mod.rs
  crates/turborepo-lib/src/commands/mod.rs
  crates/turborepo-lib/src/config/env.rs
  crates/turborepo-lib/src/config/mod.rs
  crates/turborepo-lib/src/opts.rs
  crates/turborepo-lib/src/run/summary/mod.rs
  turborepo-tests/integration/tests/no-args.t
  turborepo-tests/integration/tests/turbo-help.t
Labels: owned-by: turborepo, created-by: turborepo

#9135 chore(@turbo/telemetry): remove unused jest deps
  packages/turbo-telemetry/package.json
  pnpm-lock.yaml
Labels: needs: triage, owned-by: turborepo, pkg: turbo-telemetry

#9137 fix(affected): include dependents in affected filter
  crates/turborepo-lib/src/run/scope/filter.rs
  turborepo-tests/integration/tests/affected-rdeps.t
Labels: owned-by: turborepo, created-by: turborepo

#9139 feat: support rust 1.81.0
  crates/turborepo-lib/src/lib.rs
  crates/turborepo-lib/src/panic_handler.rs
  crates/turborepo-lib/src/shim/mod.rs
  crates/turborepo-lib/src/task_graph/visitor.rs
  crates/turborepo-lib/src/task_hash.rs
  crates/turborepo-paths/src/absolute_system_path.rs
  crates/turborepo-paths/src/lib.rs
  crates/turborepo-scm/src/ls_tree.rs
  crates/turborepo-scm/src/status.rs
  crates/turborepo-vt100/src/screen.rs
  rust-toolchain.toml
Labels: needs: triage, owned-by: turborepo

#9147 fix(create-turbo): Require specific argument for example option
  packages/create-turbo/src/cli.ts
Labels: pkg: create-turbo, needs: triage, owned-by: turborepo

#9151 feat(turbo): COREPACK_HOME to default passthrough
  crates/turborepo-lib/src/task_hash.rs
Labels: owned-by: turborepo, created-by: turborepo

#9152 fix(watch): await persistent run task instead of abort
  crates/turborepo-lib/src/run/watch.rs
Labels: owned-by: turborepo, created-by: turborepo

#9133 fix(affected): include not committed changes in `--affected`
  crates/turborepo-lib/src/commands/config.rs
  crates/turborepo-lib/src/config/env.rs
  crates/turborepo-lib/src/config/mod.rs
  crates/turborepo-lib/src/opts.rs
  crates/turborepo-lib/src/query.rs
  crates/turborepo-lib/src/run/scope/change_detector.rs
  crates/turborepo-lib/src/run/scope/filter.rs
  crates/turborepo-lib/src/run/scope/target_selector.rs
  crates/turborepo-scm/src/git.rs
  turborepo-tests/integration/tests/affected.t
  turborepo-tests/integration/tests/config.t
Labels: owned-by: turborepo, created-by: turborepo

#9114 refactor(query): make immediate dependencies default
  crates/turborepo-lib/src/query.rs
  turborepo-tests/integration/tests/command-query.t
Labels: owned-by: turborepo, created-by: turborepo

#9157 feat(env mode): allow for tasks to override the global env mode
  crates/turborepo-lib/src/run/builder.rs
  crates/turborepo-lib/src/run/summary/task.rs
  crates/turborepo-lib/src/task_graph/mod.rs
  crates/turborepo-lib/src/task_graph/visitor.rs
  crates/turborepo-lib/src/turbo_json/loader.rs
  crates/turborepo-lib/src/turbo_json/mod.rs
  turborepo-tests/integration/tests/run/allow-no-root-turbo.t
Labels: owned-by: turborepo, created-by: turborepo

#9149 feat: allow usage of `turbo` without turbo.json
  crates/turborepo-lib/src/cli/mod.rs
  crates/turborepo-lib/src/commands/mod.rs
  crates/turborepo-lib/src/config/env.rs
  crates/turborepo-lib/src/config/mod.rs
  crates/turborepo-lib/src/engine/builder.rs
  crates/turborepo-lib/src/package_changes_watcher.rs
  crates/turborepo-lib/src/run/builder.rs
  crates/turborepo-lib/src/run/summary/task.rs
  crates/turborepo-lib/src/run/task_access.rs
  crates/turborepo-lib/src/task_graph/mod.rs
  crates/turborepo-lib/src/task_graph/visitor.rs
  crates/turborepo-lib/src/turbo_json/loader.rs
  crates/turborepo-lib/src/turbo_json/mod.rs
  turborepo-tests/integration/fixtures/monorepo_no_turbo_json/.gitignore
  turborepo-tests/integration/fixtures/monorepo_no_turbo_json/apps/my-app/.env.local
  turborepo-tests/integration/fixtures/monorepo_no_turbo_json/apps/my-app/package.json
  turborepo-tests/integration/fixtures/monorepo_no_turbo_json/bar.txt
  turborepo-tests/integration/fixtures/monorepo_no_turbo_json/foo.txt
  turborepo-tests/integration/fixtures/monorepo_no_turbo_json/package.json
  turborepo-tests/integration/fixtures/monorepo_no_turbo_json/packages/another/package.json
  turborepo-tests/integration/fixtures/monorepo_no_turbo_json/packages/util/package.json
  turborepo-tests/integration/tests/run/allow-no-root-turbo.t
Labels: owned-by: turborepo, created-by: turborepo

#9159 hotfix docs
  docs/repo-docs/crafting-your-repository/using-environment-variables.mdx
Labels: area: docs, owned-by: turborepo, created-by: turborepo

#9161 feat(query): add array type
  crates/turborepo-lib/src/query.rs
  turborepo-tests/integration/package.json
  turborepo-tests/integration/tests/affected.t
  turborepo-tests/integration/tests/command-query.t
Labels: owned-by: turborepo, created-by: turborepo

#9162 Update constructing-ci.mdx
  docs/repo-docs/crafting-your-repository/constructing-ci.mdx
Labels: area: docs, needs: triage, owned-by: turborepo

#9165 Docs: fix line location for TURBO_TEAM env
  docs/repo-docs/reference/run.mdx
Labels: area: docs, needs: triage, owned-by: turborepo

#9163 use frameworks.json for docs
  docs/repo-docs/crafting-your-repository/using-environment-variables.mdx
Labels: area: docs, owned-by: turborepo, created-by: turborepo

#9168 Update using-environment-variables.mdx formatting to remove extra p tag
  docs/repo-docs/crafting-your-repository/using-environment-variables.mdx
Labels: area: docs, owned-by: turborepo, created-by: turborepo

#9160 docs: add -w flag to pnpm example
  docs/repo-docs/getting-started/add-to-existing-repository.mdx
Labels: area: docs, needs: triage, owned-by: turborepo

#9134 feat: turbo-trace
  Cargo.lock
  Cargo.toml
  crates/turbo-trace/Cargo.toml
  crates/turbo-trace/src/import_finder.rs
  crates/turbo-trace/src/lib.rs
  crates/turbo-trace/src/main.rs
  crates/turbo-trace/src/tracer.rs
  crates/turborepo-lib/Cargo.toml
  crates/turborepo-lib/src/query/file.rs
  crates/turborepo-lib/src/query/mod.rs
  crates/turborepo-lib/src/query/package.rs
  turborepo-tests/integration/fixtures/turbo_trace/.gitignore
  turborepo-tests/integration/fixtures/turbo_trace/README.md
  turborepo-tests/integration/fixtures/turbo_trace/button.tsx
  turborepo-tests/integration/fixtures/turbo_trace/circular.ts
  turborepo-tests/integration/fixtures/turbo_trace/circular2.ts
  turborepo-tests/integration/fixtures/turbo_trace/foo.js
  turborepo-tests/integration/fixtures/turbo_trace/main.ts
  turborepo-tests/integration/fixtures/turbo_trace/package.json
  turborepo-tests/integration/fixtures/turbo_trace/turbo.json
  turborepo-tests/integration/tests/turbo-trace.t
Labels: owned-by: turborepo, created-by: turborepo

#9180 Invalid JSON in task docs
  docs/repo-docs/crafting-your-repository/configuring-tasks.mdx
Labels: area: docs, needs: triage, owned-by: turborepo

#9182 refactor: Add `query` resolvers into web UI
  Cargo.lock
  crates/turborepo-lib/Cargo.toml
  crates/turborepo-lib/src/commands/query.rs
  crates/turborepo-lib/src/commands/run.rs
  crates/turborepo-lib/src/query/mod.rs
  crates/turborepo-lib/src/query/package_graph.rs
  crates/turborepo-lib/src/run/mod.rs
  crates/turborepo-lib/src/run/ui.rs
  crates/turborepo-lib/src/run/watch.rs
  crates/turborepo-lib/src/task_hash.rs
  crates/turborepo-ui/Cargo.toml
  crates/turborepo-ui/src/wui/mod.rs
  crates/turborepo-ui/src/wui/server.rs
  crates/turborepo-ui/src/wui/subscriber.rs
Labels: owned-by: turborepo, created-by: turborepo

#9169 add method for determining base commit on GitHub actions
  Cargo.lock
  crates/turborepo-ci/src/lib.rs
  crates/turborepo-scm/Cargo.toml
  crates/turborepo-scm/src/git.rs
Labels: owned-by: turborepo, created-by: turborepo

#9188 feat(query): add filter by having task
  crates/turborepo-lib/src/query/mod.rs
  crates/turborepo-lib/src/query/package.rs
  crates/turborepo-lib/src/query/task.rs
  turborepo-tests/integration/fixtures/basic_monorepo/packages/another/package.json
  turborepo-tests/integration/tests/command-ls.t
  turborepo-tests/integration/tests/command-query.t
  turborepo-tests/integration/tests/edit-turbo-json/task.t
  turborepo-tests/integration/tests/no-args.t
Labels: owned-by: turborepo, created-by: turborepo

#9189 base.json is extended by other tsconfig.json, not package.json
  docs/repo-docs/guides/tools/typescript.mdx
Labels: area: docs, needs: triage, owned-by: turborepo

#9194 docs: grammar error
  docs/repo-docs/crafting-your-repository/caching.mdx
Labels: area: docs, owned-by: turborepo, created-by: turborepo

#9197 feat(turbo): add version query
  crates/turborepo-lib/src/query/mod.rs
  turborepo-tests/integration/tests/command-query.t
Labels: owned-by: turborepo, created-by: turborepo

#9185 docs: Task outputs clarifications
  docs/repo-docs/crafting-your-repository/caching.mdx
  docs/repo-docs/reference/configuration.mdx
Labels: area: docs, needs: triage, owned-by: turborepo

#9198 Add "go-to-definition" instructions to TypeScript docs.
  docs/repo-docs/guides/tools/typescript.mdx
Labels: area: docs, owned-by: turborepo, created-by: turborepo

#9199 Add link to go-to-definition doc.
  docs/repo-docs/guides/tools/typescript.mdx
Labels: area: docs, owned-by: turborepo, created-by: turborepo

#9184 docs: Fix typos
  crates/turborepo-auth/src/lib.rs
  crates/turborepo-filewatch/src/fsevent.rs
  crates/turborepo-globwalk/src/lib.rs
  crates/turborepo-globwatch/src/lib.rs
  crates/turborepo-lib/src/child.rs
  crates/turborepo-lib/src/process/mod.rs
  crates/turborepo-lib/src/shim/local_turbo_config.rs
  crates/turborepo-lib/src/shim/local_turbo_state.rs
  crates/turborepo-lib/src/tracing.rs
  crates/turborepo-lockfiles/src/berry/ser.rs
  crates/turborepo-lockfiles/src/pnpm/data.rs
  crates/turborepo-repository/src/package_graph/dep_splitter.rs
  crates/turborepo-ui/src/tui/spinner.rs
  crates/turborepo-wax/README.md
  crates/turborepo-wax/src/walk/filter.rs
  docs/repo-docs/crafting-your-repository/using-environment-variables.mdx
  docs/repo-docs/guides/tools/typescript.mdx
  packages/turbo-vsc/ARCHITECTURE.md
  scripts/version.js
Labels: area: docs, needs: triage, owned-by: turborepo

#9201 feat(query): add filter to `affectedPackages`
  crates/turborepo-lib/src/query/mod.rs
  turborepo-tests/integration/tests/affected.t
Labels: owned-by: turborepo, created-by: turborepo

#9196 feat(query): add `currentRun` field to `turbo query`
  crates/turborepo-lib/src/commands/query.rs
  crates/turborepo-lib/src/query/mod.rs
  crates/turborepo-lib/src/query/server.rs
  crates/turborepo-lib/src/run/ui.rs
  crates/turborepo-ui/src/wui/mod.rs
  crates/turborepo-ui/src/wui/query.rs
  crates/turborepo-ui/src/wui/subscriber.rs
Labels: owned-by: turborepo, created-by: turborepo
