Repository vercel/turborepo, pull requests merged in 2024-10, with the labels that each got.

#9183 fix(cache): set content length for put artifact
  crates/turborepo-api-client/src/lib.rs
  crates/turborepo-auth/src/auth/login.rs
  crates/turborepo-auth/src/auth/sso.rs
  crates/turborepo-auth/src/lib.rs
  crates/turborepo-cache/src/http.rs
  crates/turborepo-vercel-api-mock/src/lib.rs
Labels: owned-by: turborepo, created-by: turborepo

#9212 (docs) Consistency for configurations between docs and examples.
  docs/repo-docs/guides/tools/typescript.mdx
  examples/with-vite/packages/eslint-config/index.js
  examples/with-vite/packages/eslint-config/package.json
  examples/with-vite/packages/typescript-config/base.json
  examples/with-vite/packages/typescript-config/package.json
  examples/with-vite/packages/typescript-config/vite.json
  examples/with-vite/pnpm-lock.yaml
Labels: area: docs, area: examples, owned-by: turborepo, created-by: turborepo

#9213 (docs) Fix spacing on link.
  docs/repo-docs/guides/tools/typescript.mdx
Labels: area: docs, owned-by: turborepo, created-by: turborepo

#9215 chore(query): fix query integration test
  turborepo-tests/integration/tests/command-query.t
Labels: owned-by: turborepo, created-by: turborepo

#9214 fix(affected): handle Github Actions provided commit not part of checkout
  crates/turborepo-scm/src/git.rs
Labels: owned-by: turborepo, created-by: turborepo

#9220 Removed an extra comma
  docs/repo-docs/crafting-your-repository/creating-an-internal-package.mdx
Labels: area: docs, needs: triage, owned-by: turborepo

#9206 chore: fix grammar in README.md for project update
  README.md
Labels: needs: triage, owned-by: turborepo

#9223 docs: add missing `}` and remove comma
  docs/repo-docs/crafting-your-repository/creating-an-internal-package.mdx
Labels: area: docs, needs: triage, owned-by: turborepo

#9225 chore: Remove `display` key from generated `tsconfig`
  examples/basic/packages/typescript-config/base.json
  examples/basic/packages/typescript-config/nextjs.json
  examples/basic/packages/typescript-config/react-library.json
  examples/design-system/packages/typescript-config/base.json
  examples/design-system/packages/typescript-config/react-app.json
  examples/design-system/packages/typescript-config/react-library.json
  examples/kitchen-sink/packages/config-typescript/base.json
  examples/kitchen-sink/packages/config-typescript/nextjs.json
  examples/kitchen-sink/packages/config-typescript/react-app.json
  examples/kitchen-sink/packages/config-typescript/react-library.json
  examples/kitchen-sink/packages/config-typescript/remix.json
  examples/kitchen-sink/packages/config-typescript/vite.json
  examples/with-berry/packages/tsconfig/base.json
  examples/with-berry/packages/tsconfig/nextjs.json
  examples/with-berry/packages/tsconfig/react-library.json
  examples/with-changesets/packages/acme-tsconfig/base.json
  examples/with-changesets/packages/acme-tsconfig/nextjs.json
  examples/with-changesets/packages/acme-tsconfig/node14.json
  examples/with-changesets/packages/acme-tsconfig/react-library.json
  examples/with-docker/packages/typescript-config/base.json
  examples/with-docker/packages/typescript-config/nextjs.json
  examples/with-docker/packages/typescript-config/react-library.json
  examples/with-gatsby/packages/typescript-config/base.json
  examples/with-gatsby/packages/typescript-config/gatsby.json
  examples/with-gatsby/packages/typescript-config/nextjs.json
  examples/with-gatsby/packages/typescript-config/react-library.json
  examples/with-nestjs/packages/typescript-config/base.json
  examples/with-nestjs/packages/typescript-config/nestjs.json
  examples/with-nestjs/packages/typescript-config/nextjs.json
  examples/with-nestjs/packages/typescript-config/react-library.json
  examples/with-npm/packages/typescript-config/base.json
  examples/with-npm/packages/typescript-config/nextjs.json
  examples/with-npm/packages/typescript-config/react-library.json
  examples/with-prisma/packages/config-typescript/base.json
  examples/with-prisma/packages/config-typescript/nextjs.json
  examples/with-react-native-web/packages/typescript-config/base.json
  examples/with-react-native-web/packages/typescript-config/nextjs.json
  examples/with-react-native-web/packages/typescript-config/react-native-library.json
  examples/with-rollup/packages/config-typescript/base.json
  examples/with-rollup/packages/config-typescript/nextjs.json
  examples/with-rollup/packages/config-typescript/react-library.json
  examples/with-tailwind/packages/config-typescript/base.json
  examples/with-tailwind/packages/config-typescript/nextjs.json
  examples/with-tailwind/packages/config-typescript/react-library.json
  examples/with-typeorm/packages/typescript-config/base.json
  examples/with-typeorm/packages/typescript-config/nextjs.json
  examples/with-typeorm/packages/typescript-config/react-library.json
  examples/with-vite/packages/typescript-config/base.json
  examples/with-vue-nuxt/packages/tsconfig/base.json
  examples/with-vue-nuxt/packages/tsconfig/nuxt.json
  examples/with-vue-nuxt/packages/tsconfig/vue.json
  examples/with-yarn/packages/typescript-config/base.json
  examples/with-yarn/packages/typescript-config/nextjs.json
  examples/with-yarn/packages/typescript-config/react-library.json
  packages/tsconfig/base.json
  packages/tsconfig/library.json
Labels: area: examples, needs: triage, owned-by: turborepo

#9226 (examples) Move types field into first position of exports of kitchen-sink example.
  examples/kitchen-sink/packages/ui/package.json
Labels: area: examples, owned-by: turborepo, created-by: turborepo

#9219 chore(examples): minor adjustments to `with-shell-commands`
  examples/with-shell-commands/README.md
  examples/with-shell-commands/apps/app-a/README.md
  examples/with-shell-commands/apps/app-a/package.json
  examples/with-shell-commands/apps/app-b/README.md
  examples/with-shell-commands/apps/app-b/package.json
  examples/with-shell-commands/pnpm-lock.yaml
Labels: area: examples, needs: triage, owned-by: turborepo

#9229 fix casing for product names
  .github/.kodiak.toml
  buildcontainer/README.md
  docs/repo-docs/core-concepts/internal-packages.mdx
  docs/repo-docs/crafting-your-repository/structuring-a-repository.mdx
  docs/repo-docs/guides/generating-code.mdx
  docs/repo-docs/guides/tools/typescript.mdx
  docs/src/github.ts
  docs/src/validate-docs-links.ts
  packages/create-turbo/__tests__/index.test.ts
  packages/create-turbo/src/commands/create/index.ts
  packages/top-issues/README.md
  release.md
  turborepo-tests/integration/tests/run-logging/log-order-github.t
Labels: area: docs, pkg: create-turbo, area: site, owned-by: turborepo, created-by: turborepo

#9231 chore: update contributing and troubleshooting docs
  CONTRIBUTING.md
  troubleshooting.md
  turborepo-tests/helpers/setup_integration_test.sh
Labels: owned-by: turborepo, created-by: turborepo

#9190 feat(query): add task dependencies/dependents
  crates/turborepo-lib/src/cli/mod.rs
  crates/turborepo-lib/src/commands/query.rs
  crates/turborepo-lib/src/engine/builder.rs
  crates/turborepo-lib/src/query/mod.rs
  crates/turborepo-lib/src/query/package.rs
  crates/turborepo-lib/src/query/task.rs
  crates/turborepo-lib/src/run/builder.rs
  crates/turborepo-lib/src/run/mod.rs
  turborepo-tests/integration/tests/command-query.t
  turborepo-tests/integration/tests/query/tasks.t
Labels: owned-by: turborepo, created-by: turborepo

#9238 fix napi double .d.ts formatting
  packages/turbo-repository/package.json
  packages/turbo-repository/scripts/build.sh
  pnpm-lock.yaml
Labels: owned-by: turborepo, created-by: turborepo, pkg: turbo-repository

#9237 log::debug and ignore on daemon usage in CI
  crates/turborepo-lib/src/config/mod.rs
  docs/repo-docs/reference/configuration.mdx
Labels: area: docs, owned-by: turborepo, created-by: turborepo

#9239 fix broken examples causing `pnpm test` to fail
  examples/basic/pnpm-lock.yaml
  examples/kitchen-sink/apps/storefront/next-env.d.ts
  examples/kitchen-sink/pnpm-lock.yaml
  examples/with-vite/pnpm-lock.yaml
  turborepo-tests/helpers/setup_example_test.sh
Labels: area: examples, owned-by: turborepo, created-by: turborepo

#9242 fix(query): naming conflict
  crates/turborepo-lib/src/query/mod.rs
  crates/turborepo-lib/src/query/package.rs
  crates/turborepo-lib/src/query/task.rs
Labels: owned-by: turborepo, created-by: turborepo

#9236 feat: warn on empty cache
  crates/turborepo-lib/src/run/cache.rs
  crates/turborepo-lib/src/task_graph/mod.rs
  turborepo-tests/integration/tests/affected.t
  turborepo-tests/integration/tests/filter-run.t
  turborepo-tests/integration/tests/global-deps.t
  turborepo-tests/integration/tests/global-env.t
  turborepo-tests/integration/tests/lockfile-aware-caching/berry.t
  turborepo-tests/integration/tests/lockfile-aware-caching/npm.t
  turborepo-tests/integration/tests/lockfile-aware-caching/pnpm.t
  turborepo-tests/integration/tests/lockfile-aware-caching/yarn.t
  turborepo-tests/integration/tests/persistent-dependencies/6-topological-unimplemented.t
  turborepo-tests/integration/tests/pkg-inference.t
  turborepo-tests/integration/tests/prune/composable-config.t
  turborepo-tests/integration/tests/run-caching/cache-state.t
  turborepo-tests/integration/tests/run-caching/excluded-inputs/excluded-inputs.t
  turborepo-tests/integration/tests/run-caching/global-deps.t
  turborepo-tests/integration/tests/run-caching/root-deps.t
  turborepo-tests/integration/tests/run-logging/errors-only.t
  turborepo-tests/integration/tests/run-logging/log-order-github.t
  turborepo-tests/integration/tests/run-logging/log-order-grouped.t
  turborepo-tests/integration/tests/run-logging/log-order-stream.t
  turborepo-tests/integration/tests/run-logging/log-prefix.t
  turborepo-tests/integration/tests/run-logging/verbosity.t
  turborepo-tests/integration/tests/run-summary/discovery.t
  turborepo-tests/integration/tests/run-summary/enable.t
  turborepo-tests/integration/tests/run-summary/monorepo.t
  turborepo-tests/integration/tests/run-summary/strict-env.t
  turborepo-tests/integration/tests/run/continue.t
  turborepo-tests/integration/tests/run/force.t
  turborepo-tests/integration/tests/run/gitignored-inputs.t
  turborepo-tests/integration/tests/run/no-root-turbo.t
  turborepo-tests/integration/tests/run/one-script-error.t
  turborepo-tests/integration/tests/run/profile.t
  turborepo-tests/integration/tests/run/single-package/with-deps-run.t
  turborepo-tests/integration/tests/run/unnamed-packages.t
  turborepo-tests/integration/tests/task-dependencies/overwriting.t
  turborepo-tests/integration/tests/task-dependencies/root-workspace.t
  turborepo-tests/integration/tests/task-dependencies/topological.t
  turborepo-tests/integration/tests/workspace-configs/add-keys.t
  turborepo-tests/integration/tests/workspace-configs/cross-workspace.t
  turborepo-tests/integration/tests/workspace-configs/missing-workspace-config-deps.t
  turborepo-tests/integration/tests/workspace-configs/omit-keys-deps.t
  turborepo-tests/integration/tests/workspace-configs/override-values-deps.t
  turborepo-tests/integration/tests/workspace-configs/persistent.t
Labels: owned-by: turborepo, created-by: turborepo

#9232 Update package-configurations.mdx
  docs/repo-docs/reference/package-configurations.mdx
Labels: area: docs, needs: triage, owned-by: turborepo

#9207 feat(query): adding indirect and all dependencies for tasks
  crates/turborepo-graph-utils/src/lib.rs
  crates/turborepo-lib/src/engine/mod.rs
  crates/turborepo-lib/src/query/package.rs
  crates/turborepo-lib/src/query/task.rs
  crates/turborepo-repository/src/package_graph/mod.rs
  crates/turborepo-ui/src/wui/query.rs
  turborepo-tests/integration/fixtures/task_dependencies/query/app-a/package.json
  turborepo-tests/integration/fixtures/task_dependencies/query/app-b/package.json
  turborepo-tests/integration/fixtures/task_dependencies/query/lib-a/package.json
  turborepo-tests/integration/fixtures/task_dependencies/query/lib-b/package.json
  turborepo-tests/integration/fixtures/task_dependencies/query/lib-c/package.json
  turborepo-tests/integration/fixtures/task_dependencies/query/lib-d/package.json
  turborepo-tests/integration/fixtures/task_dependencies/query/package.json
  turborepo-tests/integration/fixtures/task_dependencies/query/turbo.json
  turborepo-tests/integration/tests/query/tasks.t
  turborepo-tests/integration/tests/run-logging/log-order-stream.t
Labels: owned-by: turborepo, created-by: turborepo

#9244 feat(query): recover from trace errors
  crates/turbo-trace/src/lib.rs
  crates/turbo-trace/src/tracer.rs
  crates/turborepo-lib/src/query/file.rs
  crates/turborepo-lib/src/query/mod.rs
  turborepo-tests/integration/fixtures/turbo_trace/invalid.ts
  turborepo-tests/integration/tests/turbo-trace.t
Labels: owned-by: turborepo, created-by: turborepo

#9235 chore: add USER as one of the supported process.env variables to passthru
  crates/turborepo-lib/src/task_hash.rs
Labels: needs: triage, owned-by: turborepo

#9248 chore(shim): add unit tests for shim parsing
  crates/turborepo-lib/src/shim/parser.rs
Labels: owned-by: turborepo, created-by: turborepo

#9122 feat(turbo): add platform env support
  Cargo.lock
  crates/turborepo-env/Cargo.toml
  crates/turborepo-env/src/lib.rs
  crates/turborepo-env/src/platform.rs
  crates/turborepo-lib/src/run/cache.rs
  crates/turborepo-lib/src/task_graph/visitor.rs
  crates/turborepo-ui/src/lib.rs
Labels: owned-by: turborepo, created-by: turborepo

#9257 chore: fix clippy lint in filter tests
  crates/turborepo-lib/src/run/scope/filter.rs
Labels: owned-by: turborepo, created-by: turborepo

#9261 chore(platform_env): add warn prefix
  crates/turborepo-env/src/platform.rs
Labels: owned-by: turborepo, created-by: turborepo

#9264 fix(docs): circleci config - remove excess colon when calling node/install-packages
  docs/repo-docs/guides/ci-vendors/circleci.mdx
Labels: area: docs, needs: triage, owned-by: turborepo

#9267 chore(trace): fix compilation error in turbo-trace
  crates/turbo-trace/src/main.rs
Labels: owned-by: turborepo, created-by: turborepo

#9268 ci: build all rust packages
  .github/workflows/turborepo-test.yml
  packages/turbo-repository/rust/src/lib.rs
Labels: area: ci, owned-by: turborepo, created-by: turborepo, pkg: turbo-repository

#9269 chore(platform_env): add warn prefix to docs
  crates/turborepo-env/src/platform.rs
Labels: owned-by: turborepo, created-by: turborepo

#9271 fix(query): remove engine validation for query
  crates/turborepo-lib/src/commands/query.rs
  crates/turborepo-lib/src/engine/builder.rs
  crates/turborepo-lib/src/run/builder.rs
  turborepo-tests/integration/fixtures/task_dependencies/invalid-dependency/app-a/package.json
  turborepo-tests/integration/fixtures/task_dependencies/invalid-dependency/app-b/package.json
  turborepo-tests/integration/fixtures/task_dependencies/invalid-dependency/lib-a/package.json
  turborepo-tests/integration/fixtures/task_dependencies/invalid-dependency/lib-b/package.json
  turborepo-tests/integration/fixtures/task_dependencies/invalid-dependency/lib-c/package.json
  turborepo-tests/integration/fixtures/task_dependencies/invalid-dependency/lib-d/package.json
  turborepo-tests/integration/fixtures/task_dependencies/invalid-dependency/package.json
  turborepo-tests/integration/fixtures/task_dependencies/invalid-dependency/turbo.json
  turborepo-tests/integration/tests/query/validation.t
Labels: owned-by: turborepo, created-by: turborepo

#9273 chore(scm): add more information to GHA warning
  crates/turborepo-scm/src/git.rs
Labels: owned-by: turborepo, created-by: turborepo

#9132 perf(tui): bring async to tui
  Cargo.lock
  crates/turborepo-lib/src/commands/run.rs
  crates/turborepo-lib/src/run/mod.rs
  crates/turborepo-lib/src/task_graph/visitor.rs
  crates/turborepo-ui/Cargo.toml
  crates/turborepo-ui/src/sender.rs
  crates/turborepo-ui/src/tui/app.rs
  crates/turborepo-ui/src/tui/event.rs
  crates/turborepo-ui/src/tui/handle.rs
  crates/turborepo-ui/src/tui/input.rs
  crates/turborepo-ui/src/tui/mod.rs
  crates/turborepo-ui/src/tui/search.rs
Labels: owned-by: turborepo, created-by: turborepo

#9279 chore: fix flakey log stream integration test
  turborepo-tests/integration/tests/run-logging/log-order-stream.t
Labels: owned-by: turborepo, created-by: turborepo

#9260 feat(query): variables
  crates/turborepo-lib/src/cli/mod.rs
  crates/turborepo-lib/src/commands/query.rs
  turborepo-tests/integration/tests/query/variables.t
Labels: owned-by: turborepo, created-by: turborepo

#9258 docs: query documentation
  docs/repo-docs/crafting-your-repository/index.mdx
  docs/repo-docs/crafting-your-repository/meta.json
  docs/repo-docs/crafting-your-repository/understanding-your-repository.mdx
  docs/repo-docs/reference/index.mdx
  docs/repo-docs/reference/meta.json
  docs/repo-docs/reference/query.mdx
Labels: area: docs, area: site, docs: next release, owned-by: turborepo, created-by: turborepo

#9233 chore(ci): enable corepack for npm in integration tests
  turborepo-tests/helpers/setup_package_manager.sh
Labels: needs: triage, owned-by: turborepo

#9283 docs for `--affected` on GitHub
  docs/repo-docs/crafting-your-repository/constructing-ci.mdx
Labels: area: docs, owned-by: turborepo, created-by: turborepo

#9282 docs: interruptible
  docs/repo-docs/reference/configuration.mdx
  docs/repo-docs/reference/watch.mdx
Labels: area: docs, docs: next release, owned-by: turborepo, created-by: turborepo

#9286 chore: unhide query
  crates/turborepo-lib/src/cli/mod.rs
  turborepo-tests/integration/tests/no-args.t
  turborepo-tests/integration/tests/turbo-help.t
Labels: owned-by: turborepo, created-by: turborepo

#9289 fix(tui): avoid tui shutdown on unrecognized input
  crates/turborepo-lib/src/run/summary/mod.rs
  crates/turborepo-lib/src/run/watch.rs
  crates/turborepo-ui/src/tui/app.rs
  crates/turborepo-ui/src/tui/input.rs
Labels: owned-by: turborepo, created-by: turborepo

#9296 fix(tui): generate stop event on ctrl c
  crates/turborepo-ui/src/tui/input.rs
Labels: owned-by: turborepo, created-by: turborepo

#9285 feat(query): provide ast for files and depth for dependencies
  Cargo.lock
  Cargo.toml
  crates/turbo-trace/Cargo.toml
  crates/turbo-trace/src/main.rs
  crates/turbo-trace/src/tracer.rs
  crates/turborepo-lib/Cargo.toml
  crates/turborepo-lib/src/query/file.rs
  crates/turborepo-lib/src/query/mod.rs
  turborepo-tests/integration/fixtures/turbo_trace/bar.js
  turborepo-tests/integration/fixtures/turbo_trace/foo.js
  turborepo-tests/integration/tests/turbo-trace.t
Labels: owned-by: turborepo, created-by: turborepo

#9301 fix: unnecessary empty cache logs
  crates/turborepo-lib/src/task_graph/mod.rs
  turborepo-tests/integration/tests/filter-run.t
  turborepo-tests/integration/tests/global-env.t
  turborepo-tests/integration/tests/lockfile-aware-caching/berry.t
  turborepo-tests/integration/tests/lockfile-aware-caching/npm.t
  turborepo-tests/integration/tests/lockfile-aware-caching/pnpm.t
  turborepo-tests/integration/tests/lockfile-aware-caching/yarn.t
  turborepo-tests/integration/tests/persistent-dependencies/6-topological-unimplemented.t
  turborepo-tests/integration/tests/pkg-inference.t
  turborepo-tests/integration/tests/prune/composable-config.t
  turborepo-tests/integration/tests/run-caching/cache-state.t
  turborepo-tests/integration/tests/run-logging/errors-only.t
  turborepo-tests/integration/tests/run-logging/log-order-github.t
  turborepo-tests/integration/tests/run-logging/log-order-grouped.t
  turborepo-tests/integration/tests/run-logging/log-order-stream.t
  turborepo-tests/integration/tests/run-logging/log-prefix.t
  turborepo-tests/integration/tests/run-logging/verbosity.t
  turborepo-tests/integration/tests/run-summary/enable.t
  turborepo-tests/integration/tests/run-summary/monorepo.t
  turborepo-tests/integration/tests/run/continue.t
  turborepo-tests/integration/tests/run/gitignored-inputs.t
  turborepo-tests/integration/tests/run/one-script-error.t
  turborepo-tests/integration/tests/run/profile.t
  turborepo-tests/integration/tests/run/single-package/with-deps-run.t
  turborepo-tests/integration/tests/run/unnamed-packages.t
  turborepo-tests/integration/tests/task-dependencies/overwriting.t
  turborepo-tests/integration/tests/task-dependencies/root-workspace.t
  turborepo-tests/integration/tests/task-dependencies/topological.t
  turborepo-tests/integration/tests/workspace-configs/add-keys.t
  turborepo-tests/integration/tests/workspace-configs/cross-workspace.t
  turborepo-tests/integration/tests/workspace-configs/missing-workspace-config-deps.t
  turborepo-tests/integration/tests/workspace-configs/omit-keys-deps.t
  turborepo-tests/integration/tests/workspace-configs/override-values-deps.t
  turborepo-tests/integration/tests/workspace-configs/persistent.t
Labels: owned-by: turborepo, created-by: turborepo

#9305 chore(test): add test for cyclic error
  Cargo.lock
  Cargo.toml
  crates/turborepo-graph-utils/Cargo.toml
  crates/turborepo-graph-utils/src/lib.rs
  crates/turborepo-vercel-api/Cargo.toml
Labels: owned-by: turborepo, created-by: turborepo

#9293 feat: Upgrade to Rust 1.82.0
  crates/turborepo-auth/src/lib.rs
  crates/turborepo-dirs/src/lib.rs
  crates/turborepo-filewatch/src/cookies.rs
  crates/turborepo-filewatch/src/package_watcher.rs
  crates/turborepo-globwalk/src/lib.rs
  crates/turborepo-repository/src/change_mapper/package.rs
  crates/turborepo-repository/src/package_graph/mod.rs
  crates/turborepo-ui/src/prefixed.rs
  crates/turborepo-ui/src/wui/query.rs
  rust-toolchain.toml
Labels: needs: triage, owned-by: turborepo

#9307 fix(auth): add missing role
  crates/turborepo-vercel-api/src/lib.rs
Labels: owned-by: turborepo, created-by: turborepo

#9302 fix: use oxc-resolver hot fix for symlinks
  Cargo.lock
  crates/turbo-trace/Cargo.toml
  crates/turbo-trace/src/tracer.rs
  crates/turborepo-lib/src/process/child.rs
  crates/turborepo-lib/src/process/mod.rs
  crates/turborepo-lib/src/query/file.rs
  crates/turborepo-lib/test-data/scripts/hello_no_line.js
  crates/turborepo-lib/test-data/scripts/hello_non_utf8.js
  crates/turborepo-lib/test-data/scripts/hello_world.js
  crates/turborepo-lib/test-data/scripts/hello_world_hello_moon.js
  crates/turborepo-lib/test-data/scripts/sleep_5_ignore.js
  crates/turborepo-lib/test-data/scripts/sleep_5_interruptable.js
  crates/turborepo-lib/test-data/scripts/stdin_stdout.js
  crates/turborepo/Cargo.toml
  crates/turborepo/tests/query.rs
  crates/turborepo/tests/snapshots/query__check_query.snap
  turborepo-tests/helpers/install_deps.sh
  turborepo-tests/helpers/setup_package_manager.sh
  turborepo-tests/integration/fixtures/oxc_repro/.gitignore
  turborepo-tests/integration/fixtures/oxc_repro/README.md
  turborepo-tests/integration/fixtures/oxc_repro/apps/web/nm/@repo/index.js
  turborepo-tests/integration/fixtures/oxc_repro/apps/web/nm/@repo/typescript-config
  turborepo-tests/integration/fixtures/oxc_repro/index.js
  turborepo-tests/integration/fixtures/oxc_repro/nm/index.js
  turborepo-tests/integration/fixtures/oxc_repro/package.json
  turborepo-tests/integration/fixtures/oxc_repro/tooling/typescript-config/index.js
  turborepo-tests/integration/fixtures/oxc_repro/turbo.json
Labels: owned-by: turborepo, created-by: turborepo

#9310 fix: revert some changes to tests
  crates/turborepo-lib/src/process/child.rs
  crates/turborepo-lib/src/process/mod.rs
  crates/turborepo-lib/test/scripts/hello_no_line.js
  crates/turborepo-lib/test/scripts/hello_non_utf8.js
  crates/turborepo-lib/test/scripts/hello_world.js
  crates/turborepo-lib/test/scripts/hello_world_hello_moon.js
  crates/turborepo-lib/test/scripts/sleep_5_ignore.js
  crates/turborepo-lib/test/scripts/sleep_5_interruptable.js
  crates/turborepo-lib/test/scripts/stdin_stdout.js
Labels: owned-by: turborepo, created-by: turborepo

#9313 chore(cache): better forbidden error message
  Cargo.lock
  crates/turborepo-api-client/Cargo.toml
  crates/turborepo-api-client/src/lib.rs
  crates/turborepo-cache/Cargo.toml
  crates/turborepo-cache/src/http.rs
  crates/turborepo-cache/src/lib.rs
Labels: owned-by: turborepo, created-by: turborepo

#9315 Add list item in docs about errors in internal TypeScript dependencies.
  docs/repo-docs/core-concepts/internal-packages.mdx
Labels: area: docs, owned-by: turborepo, created-by: turborepo

#9308 docs: document MSVC requirement
  docs/repo-docs/getting-started/support-policy.mdx
Labels: area: docs, owned-by: turborepo, created-by: turborepo

#9311 fix docs link checker
  .github/workflows/docs.yml
  docs/package.json
  docs/repo-docs/guides/tools/typescript.mdx
  docs/src/github.ts
  docs/src/markdown.ts
  docs/src/validate-docs-links.ts
  docs/types.d.ts
  pnpm-lock.yaml
Labels: area: docs, area: ci, area: site, owned-by: turborepo, created-by: turborepo

#9327 Turbopack docs: Update mentions of --turbo and beta
  docs/pack-docs/benchmarks.mdx
  docs/pack-docs/core-concepts.mdx
  docs/pack-docs/index.mdx
Labels: area: docs, needs: triage, owned-by: turborepo

#9326 Typo in system-environment-variables docs
  docs/repo-docs/reference/system-environment-variables.mdx
Labels: area: docs, needs: triage, owned-by: turborepo

#9331 fix(test-utils): return promise from lifecycle
  packages/turbo-test-utils/src/useFixtures.ts
Labels: owned-by: turborepo, created-by: turborepo

#9330 fix(watch): stopping persistent tasks
  crates/turborepo-lib/src/run/mod.rs
  crates/turborepo-lib/src/run/watch.rs
Labels: owned-by: turborepo, created-by: turborepo

#9314 refactor(test): rust integration tests
  Cargo.lock
  crates/turborepo/Cargo.toml
  crates/turborepo/tests/common/mod.rs
  crates/turborepo/tests/common/snapshots/query__common__check_query.snap
  crates/turborepo/tests/query.rs
  crates/turborepo/tests/snapshots/query__oxc_repro_get_dependencies_(npm@10.5.0).snap
  crates/turborepo/tests/snapshots/query__oxc_repro_get_dependencies_(npm@10.5.0)_err.snap
  crates/turborepo/tests/snapshots/query__query_oxc_repro_get_dependencies_(npm@10.5.0).snap
  crates/turborepo/tests/snapshots/query__query_turbo_trace_get_`button.tsx`_with_dependencies_(npm@10.5.0).snap
  crates/turborepo/tests/snapshots/query__query_turbo_trace_get_`circular.ts`_with_dependencies_(npm@10.5.0).snap
  crates/turborepo/tests/snapshots/query__query_turbo_trace_get_`invalid.ts`_with_dependencies_(npm@10.5.0).snap
  crates/turborepo/tests/snapshots/query__query_turbo_trace_get_`main.ts`_(npm@10.5.0).snap
  crates/turborepo/tests/snapshots/query__query_turbo_trace_get_`main.ts`_with_ast_(npm@10.5.0).snap
  crates/turborepo/tests/snapshots/query__query_turbo_trace_get_`main.ts`_with_dependencies_(npm@10.5.0).snap
  crates/turborepo/tests/snapshots/query__query_turbo_trace_get_`main.ts`_with_depth_=_0_(npm@10.5.0).snap
  crates/turborepo/tests/snapshots/query__turbo_trace_get_`button.tsx`_with_dependencies_(npm@10.5.0).snap
  crates/turborepo/tests/snapshots/query__turbo_trace_get_`button.tsx`_with_dependencies_(npm@10.5.0)_err.snap
  crates/turborepo/tests/snapshots/query__turbo_trace_get_`circular.ts`_with_dependencies_(npm@10.5.0).snap
  crates/turborepo/tests/snapshots/query__turbo_trace_get_`circular.ts`_with_dependencies_(npm@10.5.0)_err.snap
  crates/turborepo/tests/snapshots/query__turbo_trace_get_`invalid.ts`_with_dependencies_(npm@10.5.0).snap
  crates/turborepo/tests/snapshots/query__turbo_trace_get_`invalid.ts`_with_dependencies_(npm@10.5.0)_err.snap
  crates/turborepo/tests/snapshots/query__turbo_trace_get_`main.ts`_(npm@10.5.0).snap
  crates/turborepo/tests/snapshots/query__turbo_trace_get_`main.ts`_(npm@10.5.0)_err.snap
  crates/turborepo/tests/snapshots/query__turbo_trace_get_`main.ts`_with_ast_(npm@10.5.0).snap
  crates/turborepo/tests/snapshots/query__turbo_trace_get_`main.ts`_with_ast_(npm@10.5.0)_err.snap
  crates/turborepo/tests/snapshots/query__turbo_trace_get_`main.ts`_with_dependencies_(npm@10.5.0).snap
  crates/turborepo/tests/snapshots/query__turbo_trace_get_`main.ts`_with_dependencies_(npm@10.5.0)_err.snap
  crates/turborepo/tests/snapshots/query__turbo_trace_get_`main.ts`_with_depth_=_0_(npm@10.5.0).snap
  crates/turborepo/tests/snapshots/query__turbo_trace_get_`main.ts`_with_depth_=_0_(npm@10.5.0)_err.snap
Labels: owned-by: turborepo, created-by: turborepo

#9344 feat: support task id entrypoints
  Cargo.lock
  crates/turborepo-lib/Cargo.toml
  crates/turborepo-lib/src/engine/builder.rs
  crates/turborepo-lib/src/engine/snapshots/turborepo_lib__engine__builder__test__run_package_task_exact_error-2.snap
  crates/turborepo-lib/src/engine/snapshots/turborepo_lib__engine__builder__test__run_package_task_exact_error.snap
  turborepo-tests/integration/tests/workspace-configs/cross-workspace.t
Labels: owned-by: turborepo, created-by: turborepo

#9354 fix(tui): make sure to open stdin for all tasks
  crates/turborepo-lib/src/task_graph/visitor/command.rs
Labels: owned-by: turborepo, created-by: turborepo

#9350 feat(ui): Hide task list with `h` key.
  crates/turborepo-ui/src/tui/app.rs
  crates/turborepo-ui/src/tui/event.rs
  crates/turborepo-ui/src/tui/input.rs
  crates/turborepo-ui/src/tui/pane.rs
  crates/turborepo-ui/src/tui/table.rs
Labels: owned-by: turborepo, created-by: turborepo

#9353 fix: order tasks in order of interest, namely failed, successful, then cached
  Cargo.lock
  crates/turborepo-ui/Cargo.toml
  crates/turborepo-ui/src/tui/table.rs
Labels: needs: triage, owned-by: turborepo

#9357 feat(trace): filtering by import type
  crates/turbo-trace/src/import_finder.rs
  crates/turbo-trace/src/lib.rs
  crates/turbo-trace/src/tracer.rs
  crates/turborepo-lib/src/query/file.rs
  crates/turborepo/tests/query.rs
  crates/turborepo/tests/snapshots/query__turbo_trace_get_`import_value_and_type.ts`_with_all_dependencies_(npm@10.5.0).snap
  crates/turborepo/tests/snapshots/query__turbo_trace_get_`import_value_and_type.ts`_with_type_dependencies_(npm@10.5.0).snap
  crates/turborepo/tests/snapshots/query__turbo_trace_get_`import_value_and_type.ts`_with_value_dependencies_(npm@10.5.0).snap
  crates/turborepo/tests/snapshots/query__turbo_trace_get_`link.tsx`_with_all_dependents_(npm@10.5.0).snap
  crates/turborepo/tests/snapshots/query__turbo_trace_get_`link.tsx`_with_type_dependents_(npm@10.5.0).snap
  crates/turborepo/tests/snapshots/query__turbo_trace_get_`link.tsx`_with_value_dependents_(npm@10.5.0).snap
  turborepo-tests/integration/fixtures/turbo_trace/import_just_type.ts
  turborepo-tests/integration/fixtures/turbo_trace/import_just_value.ts
  turborepo-tests/integration/fixtures/turbo_trace/import_value_and_type.ts
  turborepo-tests/integration/fixtures/turbo_trace/link.tsx
  turborepo-tests/integration/fixtures/turbo_trace/types.ts
Labels: owned-by: turborepo, created-by: turborepo

#9343 chore: bump dependencies for Windows ARM support
  Cargo.lock
  Cargo.toml
  crates/turborepo-api-client/Cargo.toml
  crates/turborepo-lib/src/commands/link.rs
  crates/turborepo-lib/src/daemon/default_timeout_layer.rs
  crates/turborepo-updater/Cargo.toml
Labels: owned-by: turborepo, created-by: turborepo

#9356 feat(mfe): inject local proxy
  Cargo.lock
  Cargo.toml
  crates/turborepo-lib/Cargo.toml
  crates/turborepo-lib/src/engine/mod.rs
  crates/turborepo-lib/src/lib.rs
  crates/turborepo-lib/src/micro_frontends.rs
  crates/turborepo-lib/src/process/command.rs
  crates/turborepo-lib/src/run/builder.rs
  crates/turborepo-lib/src/run/error.rs
  crates/turborepo-lib/src/run/mod.rs
  crates/turborepo-lib/src/task_graph/visitor/command.rs
  crates/turborepo-lib/src/task_graph/visitor/exec.rs
  crates/turborepo-lib/src/task_graph/visitor/mod.rs
  crates/turborepo-lib/src/turbo_json/loader.rs
  crates/turborepo-lib/src/turbo_json/mod.rs
  crates/turborepo-micro-frontend/Cargo.toml
  crates/turborepo-micro-frontend/fixtures/sample.jsonc
  crates/turborepo-micro-frontend/src/error.rs
  crates/turborepo-micro-frontend/src/lib.rs
  crates/turborepo-repository/src/package_graph/mod.rs
Labels: owned-by: turborepo, created-by: turborepo

#9359 (chore): Update outdated error message referring to experimental UI.
  crates/turborepo-lib/src/engine/mod.rs
Labels: owned-by: turborepo, created-by: turborepo

#9361 hack(js): bump codemod test timeout
  packages/turbo-codemod/__tests__/get-turbo-upgrade-command.test.ts
Labels: pkg: turbo-codemod, owned-by: turborepo, created-by: turborepo
