Repository vercel/turborepo, pull requests merged in 2024-03, with the labels that each got.

#7538 add test case for exports field in folders
  crates/turbopack-tests/tests/execution/turbopack/resolving/no-exports-field-in-folder/input/folder1/exports.js
  crates/turbopack-tests/tests/execution/turbopack/resolving/no-exports-field-in-folder/input/folder1/index.js
  crates/turbopack-tests/tests/execution/turbopack/resolving/no-exports-field-in-folder/input/folder1/package.json
  crates/turbopack-tests/tests/execution/turbopack/resolving/no-exports-field-in-folder/input/folder2/exports.js
  crates/turbopack-tests/tests/execution/turbopack/resolving/no-exports-field-in-folder/input/folder2/index.js
  crates/turbopack-tests/tests/execution/turbopack/resolving/no-exports-field-in-folder/input/folder2/main.js
  crates/turbopack-tests/tests/execution/turbopack/resolving/no-exports-field-in-folder/input/folder2/package.json
  crates/turbopack-tests/tests/execution/turbopack/resolving/no-exports-field-in-folder/input/index.js
Labels: owned-by: turbopack, created-by: turbopack

#7445 allow to set a name on the virtual file system
  crates/turbo-tasks-fs/src/virtual_fs.rs
Labels: owned-by: turbopack, created-by: turbopack

#7560 remove unused code
  crates/turbopack-node/src/source_map/content_source.rs
  crates/turbopack-node/src/source_map/mod.rs
Labels: owned-by: turbopack, created-by: turbopack

#7562 add getResolve to webpack loader context
  Cargo.lock
  crates/turbopack-node/Cargo.toml
  crates/turbopack-node/js/src/ipc/evaluate.ts
  crates/turbopack-node/js/src/ipc/index.ts
  crates/turbopack-node/js/src/transforms/postcss.ts
  crates/turbopack-node/js/src/transforms/webpack-loaders.ts
  crates/turbopack-node/src/evaluate.rs
  crates/turbopack-node/src/lib.rs
  crates/turbopack-node/src/pool.rs
  crates/turbopack-node/src/transforms/postcss.rs
  crates/turbopack-node/src/transforms/webpack.rs
  crates/turbopack/src/lib.rs
  crates/turbopack/src/module_options/mod.rs
Labels: owned-by: turbopack, created-by: turbopack

#7564 fix serde deserialization
  crates/turbopack-node/src/transforms/webpack.rs
Labels: owned-by: turbopack, created-by: turbopack

#7566 Revert "add getResolve to webpack loader context"
  Cargo.lock
  crates/turbopack-node/Cargo.toml
  crates/turbopack-node/js/src/ipc/evaluate.ts
  crates/turbopack-node/js/src/ipc/index.ts
  crates/turbopack-node/js/src/transforms/postcss.ts
  crates/turbopack-node/js/src/transforms/webpack-loaders.ts
  crates/turbopack-node/src/evaluate.rs
  crates/turbopack-node/src/lib.rs
  crates/turbopack-node/src/pool.rs
  crates/turbopack-node/src/transforms/postcss.rs
  crates/turbopack-node/src/transforms/webpack.rs
  crates/turbopack/src/lib.rs
  crates/turbopack/src/module_options/mod.rs
Labels: owned-by: turbopack, created-by: turbopack

#7565 Ignore circular aliasing with alias field
  crates/turbopack-core/src/resolve/mod.rs
  crates/turbopack-tests/tests/execution/turbopack/resolving/alias-field/input/index.js
  crates/turbopack-tests/tests/execution/turbopack/resolving/alias-field/input/node_modules/other-package/index.js
  crates/turbopack-tests/tests/execution/turbopack/resolving/alias-field/input/node_modules/other-package/sub-path.js
  crates/turbopack-tests/tests/execution/turbopack/resolving/alias-field/input/node_modules/package/dir/index.js
  crates/turbopack-tests/tests/execution/turbopack/resolving/alias-field/input/node_modules/package/package.json
Labels: owned-by: turbopack, created-by: turbopack

#7206 Remove mopa dependency in turbo-tasks
  Cargo.lock
  crates/turbo-tasks/Cargo.toml
  crates/turbo-tasks/src/magic_any.rs
  crates/turbo-tasks/src/task/task_input.rs
Labels: owned-by: turbopack

#7558 fix: login success page redirect
  crates/turborepo-auth/src/auth/login.rs
  crates/turborepo-auth/src/login_server.rs
Labels: owned-by: turborepo, created-by: turborepo

#7443 chore: move logout functionality into auth crate
  crates/turborepo-auth/src/auth/logout.rs
  crates/turborepo-auth/src/auth/mod.rs
  crates/turborepo-auth/src/error.rs
  crates/turborepo-auth/src/lib.rs
  crates/turborepo-lib/src/commands/logout.rs
  crates/turborepo-lib/src/commands/mod.rs
  turborepo-tests/helpers/mock_turbo_config.sh
Labels: owned-by: turborepo, created-by: turborepo

#7569 chore: Change to use borrowed path
  crates/turborepo-auth/src/lib.rs
  crates/turborepo-lib/src/config.rs
Labels: owned-by: turborepo, created-by: turborepo

#7320 feat(turbo-tasks-fetch): allow specifying a proxy
  crates/turbo-tasks-fetch/src/lib.rs
  crates/turbo-tasks-fetch/tests/fetch.rs
Labels: owned-by: turbopack, created-by: turbopack

#7573 Revert "Remove mopa dependency in turbo-tasks"
  Cargo.lock
  crates/turbo-tasks/Cargo.toml
  crates/turbo-tasks/src/magic_any.rs
  crates/turbo-tasks/src/task/task_input.rs
Labels: owned-by: turbopack, created-by: turbopack

#7526 Handle logging story better on daemon
  crates/turborepo-lib/src/cli/mod.rs
  crates/turborepo-lib/src/commands/daemon.rs
  crates/turborepo-lib/src/tracing.rs
Labels: owned-by: turborepo, created-by: turborepo

#7583 add getResolve to webpack loader context
  Cargo.lock
  crates/turbopack-node/Cargo.toml
  crates/turbopack-node/js/src/ipc/evaluate.ts
  crates/turbopack-node/js/src/ipc/index.ts
  crates/turbopack-node/js/src/transforms/postcss.ts
  crates/turbopack-node/js/src/transforms/webpack-loaders.ts
  crates/turbopack-node/src/evaluate.rs
  crates/turbopack-node/src/lib.rs
  crates/turbopack-node/src/pool.rs
  crates/turbopack-node/src/transforms/postcss.rs
  crates/turbopack-node/src/transforms/webpack.rs
  crates/turbopack/src/lib.rs
  crates/turbopack/src/module_options/mod.rs
Labels: owned-by: turbopack, created-by: turbopack

#7575 fix: sso login duplicate popup
  crates/turborepo-auth/src/auth/sso.rs
Labels: owned-by: turborepo, created-by: turborepo

#7567 chore(Turborepo): refactor telemetry to use turbopath
  Cargo.lock
  crates/turborepo-lib/src/commands/telemetry.rs
  crates/turborepo-telemetry/Cargo.toml
  crates/turborepo-telemetry/src/config.rs
  crates/turborepo-telemetry/src/lib.rs
Labels: owned-by: turborepo, created-by: turborepo

#7568 chore(Turborepo): move test filesystem setup into test code
  Cargo.lock
  crates/turborepo-telemetry/Cargo.toml
  crates/turborepo-telemetry/src/config.rs
  crates/turborepo-telemetry/src/lib.rs
Labels: owned-by: turborepo, created-by: turborepo

#7622 don't apply alternatives if there is an exports field
  crates/turbopack-core/src/resolve/mod.rs
  crates/turbopack-core/src/resolve/parse.rs
  crates/turbopack-tests/tests/execution.rs
  crates/turbopack-tests/tests/execution/turbopack/resolving/no-same-key-alternatives/input/index.js
  crates/turbopack-tests/tests/execution/turbopack/resolving/no-same-key-alternatives/input/node_modules/package-without-exports/entry3.js
  crates/turbopack-tests/tests/execution/turbopack/resolving/no-same-key-alternatives/input/node_modules/package-without-exports/entry3/index.js
  crates/turbopack-tests/tests/execution/turbopack/resolving/no-same-key-alternatives/input/node_modules/package-without-exports/index.js
  crates/turbopack-tests/tests/execution/turbopack/resolving/no-same-key-alternatives/input/node_modules/package-without-exports/main.js
  crates/turbopack-tests/tests/execution/turbopack/resolving/no-same-key-alternatives/input/node_modules/package-without-exports/module.js
  crates/turbopack-tests/tests/execution/turbopack/resolving/no-same-key-alternatives/input/node_modules/package-without-exports/package.json
Labels: owned-by: turbopack, created-by: turbopack

#7625 generate calls of bindings correctly without this context
  crates/turbopack-ecmascript/src/references/esm/binding.rs
  crates/turbopack-tests/tests/execution/turbopack/code-gen/this-context-import/input/index.js
  crates/turbopack-tests/tests/execution/turbopack/code-gen/this-context-import/input/module.js
  crates/turbopack-tests/tests/snapshot/basic/async_chunk/output/crates_turbopack-tests_tests_snapshot_basic_async_chunk_input_4437c1._.js
  crates/turbopack-tests/tests/snapshot/basic/async_chunk/output/crates_turbopack-tests_tests_snapshot_basic_async_chunk_input_4437c1._.js.map
  crates/turbopack-tests/tests/snapshot/basic/async_chunk/output/crates_turbopack-tests_tests_snapshot_basic_async_chunk_input_aea885._.js
  crates/turbopack-tests/tests/snapshot/basic/async_chunk/output/crates_turbopack-tests_tests_snapshot_basic_async_chunk_input_aea885._.js.map
  crates/turbopack-tests/tests/snapshot/basic/async_chunk_build/output/crates_turbopack-tests_tests_snapshot_basic_async_chunk_build_input_baff26._.js
  crates/turbopack-tests/tests/snapshot/basic/async_chunk_build/output/crates_turbopack-tests_tests_snapshot_basic_async_chunk_build_input_baff26._.js.map
  crates/turbopack-tests/tests/snapshot/basic/async_chunk_build/output/crates_turbopack-tests_tests_snapshot_basic_async_chunk_build_input_c494f8._.js
  crates/turbopack-tests/tests/snapshot/basic/async_chunk_build/output/crates_turbopack-tests_tests_snapshot_basic_async_chunk_build_input_c494f8._.js.map
  crates/turbopack-tests/tests/snapshot/basic/chunked/output/crates_turbopack-tests_tests_snapshot_basic_chunked_input_09b9a1._.js
  crates/turbopack-tests/tests/snapshot/basic/chunked/output/crates_turbopack-tests_tests_snapshot_basic_chunked_input_09b9a1._.js.map
  crates/turbopack-tests/tests/snapshot/basic/shebang/output/crates_turbopack-tests_tests_snapshot_basic_shebang_input_a87633._.js
  crates/turbopack-tests/tests/snapshot/basic/shebang/output/crates_turbopack-tests_tests_snapshot_basic_shebang_input_a87633._.js.map
  crates/turbopack-tests/tests/snapshot/basic/top-level-await/output/crates_turbopack-tests_tests_snapshot_basic_top-level-await_input_3adb52._.js
  crates/turbopack-tests/tests/snapshot/basic/top-level-await/output/crates_turbopack-tests_tests_snapshot_basic_top-level-await_input_3adb52._.js.map
  crates/turbopack-tests/tests/snapshot/basic/top-level-await/output/crates_turbopack-tests_tests_snapshot_basic_top-level-await_input_e71653._.js
  crates/turbopack-tests/tests/snapshot/basic/top-level-await/output/crates_turbopack-tests_tests_snapshot_basic_top-level-await_input_e71653._.js.map
  crates/turbopack-tests/tests/snapshot/css/css/output/crates_turbopack-tests_tests_snapshot_css_css_input_34944c._.js.map
  crates/turbopack-tests/tests/snapshot/emotion/emotion/output/crates_turbopack-tests_tests_snapshot_b36339._.js
  crates/turbopack-tests/tests/snapshot/emotion/emotion/output/crates_turbopack-tests_tests_snapshot_b36339._.js.map
  crates/turbopack-tests/tests/snapshot/export-alls/cjs-2/output/crates_turbopack-tests_tests_snapshot_export-alls_cjs-2_input_2c57a6._.js.map
  crates/turbopack-tests/tests/snapshot/export-alls/cjs-script/output/crates_turbopack-tests_tests_snapshot_export-alls_cjs-script_input_ffd38d._.js.map
  crates/turbopack-tests/tests/snapshot/imports/duplicate-binding/output/crates_turbopack-tests_tests_snapshot_imports_duplicate-binding_input_9ca1ac._.js.map
  crates/turbopack-tests/tests/snapshot/imports/json/output/crates_turbopack-tests_tests_snapshot_imports_json_input_22bb62._.js.map
  crates/turbopack-tests/tests/snapshot/imports/order/output/crates_turbopack-tests_tests_snapshot_imports_order_input_c5b1db._.js.map
  crates/turbopack-tests/tests/snapshot/imports/static-and-dynamic/output/crates_turbopack-tests_tests_snapshot_imports_static-and-dynamic_input_cbb273._.js.map
  crates/turbopack-tests/tests/snapshot/imports/static/output/crates_turbopack-tests_tests_snapshot_imports_static_input_4175d9._.js.map
  crates/turbopack-tests/tests/snapshot/imports/subpath-imports-nested/output/79fb1_turbopack-tests_tests_snapshot_imports_subpath-imports-nested_input_83c7e7._.js.map
  crates/turbopack-tests/tests/snapshot/imports/subpath-imports/output/crates_turbopack-tests_tests_snapshot_imports_subpath-imports_input_f5873d._.js.map
  crates/turbopack-tests/tests/snapshot/node/spawn_dynamic/output/crates_turbopack-tests_tests_snapshot_node_spawn_dynamic_input_e65664._.js
  crates/turbopack-tests/tests/snapshot/node/spawn_dynamic/output/crates_turbopack-tests_tests_snapshot_node_spawn_dynamic_input_e65664._.js.map
  crates/turbopack-tests/tests/snapshot/node/spawn_node_eval/output/crates_turbopack-tests_tests_snapshot_node_spawn_node_eval_input_d0030e._.js
  crates/turbopack-tests/tests/snapshot/node/spawn_node_eval/output/crates_turbopack-tests_tests_snapshot_node_spawn_node_eval_input_d0030e._.js.map
  crates/turbopack-tests/tests/snapshot/styled_components/styled_components/output/crates_turbopack-tests_tests_snapshot_ededc0._.js.map
  crates/turbopack-tests/tests/snapshot/swc_transforms/mono_transforms/output/crates_turbopack-tests_tests_snapshot_9cde7b._.js
  crates/turbopack-tests/tests/snapshot/swc_transforms/mono_transforms/output/crates_turbopack-tests_tests_snapshot_9cde7b._.js.map
  crates/turbopack-tests/tests/snapshot/swc_transforms/preset_env/output/crates_turbopack-tests_tests_snapshot_f8ff4e._.js
  crates/turbopack-tests/tests/snapshot/swc_transforms/preset_env/output/crates_turbopack-tests_tests_snapshot_f8ff4e._.js.map
  crates/turbopack-tests/tests/snapshot/typescript/jsconfig-baseurl/output/crates_turbopack-tests_tests_snapshot_typescript_jsconfig-baseurl_input_f8c7e6._.js.map
  crates/turbopack-tests/tests/snapshot/typescript/tsconfig-baseurl/output/crates_turbopack-tests_tests_snapshot_typescript_tsconfig-baseurl_input_7bf5e3._.js.map
  crates/turbopack-tests/tests/snapshot/typescript/tsconfig-extends-module-full-path/output/crates_turbopack-tests_tests_snapshot_4a4ab7._.js.map
  crates/turbopack-tests/tests/snapshot/typescript/tsconfig-extends-module/output/crates_turbopack-tests_tests_snapshot_5fc419._.js.map
  crates/turbopack-tests/tests/snapshot/typescript/tsconfig-extends-relative-dir/output/a587c_tests_snapshot_typescript_tsconfig-extends-relative-dir_input_d34519._.js.map
  crates/turbopack-tests/tests/snapshot/typescript/tsconfig-extends-without-ext/output/a587c_tests_snapshot_typescript_tsconfig-extends-without-ext_input_69f4f4._.js.map
  crates/turbopack-tests/tests/snapshot/typescript/tsconfig-extends/output/crates_turbopack-tests_tests_snapshot_typescript_tsconfig-extends_input_72bd49._.js.map
Labels: owned-by: turbopack, created-by: turbopack

#7626 Add version to package in internal packages docs for yarn
  docs/pages/repo/docs/handbook/sharing-code/internal-packages.mdx
Labels: area: docs, owned-by: turborepo

#7610 chore(Turborepo): Switch tests to use filesystem, remove unused generics
  crates/turborepo-lib/src/daemon/server.rs
  crates/turborepo-repository/src/discovery.rs
  crates/turborepo-repository/src/package_graph/builder.rs
Labels: owned-by: turborepo, created-by: turborepo

#7628 fix(cache): fix restoration issues of directories with very long paths
  crates/turborepo-cache/src/cache_archive/create.rs
  crates/turborepo-cache/src/cache_archive/restore.rs
  crates/turborepo-cache/src/cache_archive/restore_directory.rs
Labels: owned-by: turborepo, created-by: turborepo

#7549 refactor(turborepo): Package Detection
  crates/turborepo-lib/src/global_deps_package_detector.rs
  crates/turborepo-lib/src/lib.rs
  crates/turborepo-lib/src/run/scope/change_detector.rs
  crates/turborepo-lib/src/run/scope/filter.rs
  crates/turborepo-lib/src/run/scope/mod.rs
  crates/turborepo-paths/src/anchored_system_path.rs
  crates/turborepo-repository/src/change_mapper.rs
  crates/turborepo-repository/src/package_graph/mod.rs
  packages/turbo-repository/__tests__/find.test.ts
  packages/turbo-repository/rust/src/lib.rs
Labels: owned-by: turborepo, created-by: turborepo, pkg: turbo-repository

#7587 Bug fix on with-npm
  examples/with-npm/package-lock.json
  examples/with-npm/package.json
  examples/with-npm/packages/ui/.eslintrc.js
  examples/with-npm/packages/ui/turbo/generators/templates/component.hbs
  examples/with-npm/tsconfig.json
Labels: area: examples, owned-by: turborepo

#7550 dev script of ui package in example with rollup
  examples/with-rollup/packages/ui/package.json
Labels: area: examples, owned-by: turborepo

#7585 Cleanup of with-vite example
  examples/with-vite/README.md
  examples/with-vite/apps/docs/favicon.svg
  examples/with-vite/apps/docs/public/typescript.svg
  examples/with-vite/apps/docs/src/main.ts
  examples/with-vite/apps/web/favicon.svg
  examples/with-vite/apps/web/public/typescript.svg
  examples/with-vite/apps/web/src/main.ts
Labels: area: examples, owned-by: turborepo

#7589 Cleanup of with-yarn example
  examples/with-yarn/README.md
  examples/with-yarn/package.json
  examples/with-yarn/packages/typescript-config/react-library.json
  examples/with-yarn/tsconfig.json
Labels: area: examples, owned-by: turborepo

#7634 Guarantee typescript-eslint parser resolving.
  examples/basic/packages/ui/.eslintrc.js
  examples/with-yarn/packages/ui/.eslintrc.js
Labels: area: examples, owned-by: turborepo, created-by: turborepo

#7633 fix(cache): restoration symlink
  crates/turborepo-cache/src/cache_archive/create.rs
  crates/turborepo-cache/src/cache_archive/restore.rs
Labels: owned-by: turborepo, created-by: turborepo

#7630 fix: reject empty cache dir path
  crates/turborepo-lib/src/cli/mod.rs
Labels: owned-by: turborepo, created-by: turborepo

#7616 feat(@turbo/repository): return dependencies in graph
  packages/turbo-repository/__tests__/affected-packages.test.ts
  packages/turbo-repository/__tests__/find-packages.test.ts
  packages/turbo-repository/__tests__/find.test.ts
  packages/turbo-repository/__tests__/workspace.test.ts
  packages/turbo-repository/js/index.d.ts
  packages/turbo-repository/rust/src/lib.rs
Labels: owned-by: turborepo, created-by: turborepo, pkg: turbo-repository

#7636 chore(@turbo/repository): bump version to 0.0.1-canary.8
  packages/turbo-repository/js/package.json
  packages/turbo-repository/npm/darwin-arm64/package.json
  packages/turbo-repository/npm/darwin-x64/package.json
  packages/turbo-repository/npm/linux-arm64-gnu/package.json
  packages/turbo-repository/npm/linux-arm64-musl/package.json
  packages/turbo-repository/npm/linux-x64-gnu/package.json
  packages/turbo-repository/npm/linux-x64-musl/package.json
  packages/turbo-repository/npm/win32-arm64-msvc/package.json
  packages/turbo-repository/npm/win32-x64-msvc/package.json
Labels: owned-by: turborepo, created-by: turborepo, pkg: turbo-repository

#7637 chore(ci): reorder matrix fields so generated name is easier to read
  .github/workflows/turborepo-library-release.yml
Labels: area: ci, owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#7621 fix: Fix purity lint for CSS Modules in swc mode
  crates/turbopack-css/src/process.rs
Labels: owned-by: turbopack, created-by: turbopack

#7574 fix: add more caching status tests
  crates/turborepo-auth/src/lib.rs
Labels: owned-by: turborepo, created-by: turborepo

#7640 very dynamic requests will only lead to a warning
  crates/turbopack-ecmascript/src/lib.rs
  crates/turbopack-ecmascript/src/references/dynamic_expression.rs
  crates/turbopack-ecmascript/src/references/mod.rs
  crates/turbopack-tests/tests/snapshot.rs
  crates/turbopack-tests/tests/snapshot/dynamic-request/very-dynamic/input/index.js
  crates/turbopack-tests/tests/snapshot/dynamic-request/very-dynamic/issues/__l___lint TP1001__ import(FreeVar(Math)[__quo__ra-fcce98.txt
  crates/turbopack-tests/tests/snapshot/dynamic-request/very-dynamic/issues/__l___lint TP1002__ require(FreeVar(Math)[__quo__r-fa7bb4.txt
  crates/turbopack-tests/tests/snapshot/dynamic-request/very-dynamic/issues/__l___lint TP1004__ fs.readFileSync(FreeVar(Math)[-45dc7a.txt
  crates/turbopack-tests/tests/snapshot/dynamic-request/very-dynamic/issues/__l___lint TP1004__ fs.readFileSync(FreeVar(Math)[-d5af53.txt
  crates/turbopack-tests/tests/snapshot/dynamic-request/very-dynamic/issues/__l___lint TP1005__ child_process.spawnSync(FreeVa-fa7b47.txt
  crates/turbopack-tests/tests/snapshot/dynamic-request/very-dynamic/issues/__l___lint TP1005__ child_process.spawnSync(__-a30479.txt
  crates/turbopack-tests/tests/snapshot/dynamic-request/very-dynamic/issues/__l___lint TP1005__ child_process.spawnSync(__quo_-a93044.txt
  crates/turbopack-tests/tests/snapshot/dynamic-request/very-dynamic/issues/__l___lint TP1201__ new URL(Variable(unknown##2), -f5ba3f.txt
  crates/turbopack-tests/tests/snapshot/dynamic-request/very-dynamic/options.json
  crates/turbopack-tests/tests/snapshot/dynamic-request/very-dynamic/output/79fb1_turbopack-tests_tests_snapshot_dynamic-request_very-dynamic_input_index_0d92c3.js
  crates/turbopack-tests/tests/snapshot/dynamic-request/very-dynamic/output/79fb1_turbopack-tests_tests_snapshot_dynamic-request_very-dynamic_input_index_0d92c3.js.map
  crates/turbopack-tests/tests/snapshot/dynamic-request/very-dynamic/output/79fb1_turbopack-tests_tests_snapshot_dynamic-request_very-dynamic_input_index_4598f4.js
  crates/turbopack-tests/tests/snapshot/dynamic-request/very-dynamic/output/79fb1_turbopack-tests_tests_snapshot_dynamic-request_very-dynamic_input_index_c551c8.js
  crates/turbopack-tests/tests/snapshot/dynamic-request/very-dynamic/output/79fb1_turbopack-tests_tests_snapshot_dynamic-request_very-dynamic_input_index_c551c8.js.map
  crates/turbopack/src/module_options/mod.rs
  crates/turbopack/src/module_options/module_options_context.rs
Labels: owned-by: turbopack, created-by: turbopack

#7642 fix(ci): turborepo library release workflow
  .github/actions/setup-rust/action.yml
  .github/workflows/turborepo-library-release.yml
Labels: area: ci, owned-by: turborepo, owned-by: turbopack, created-by: turbopack

#7646 Remove .mp4 from Turbopack static assets docs
  docs/pages/pack/docs/features/static-assets.mdx
Labels: area: docs, owned-by: turbopack, created-by: turborepo

#7643 chore: clean up silent flag impl
  crates/turborepo-lib/src/run/mod.rs
  crates/turborepo-lib/src/task_graph/visitor.rs
Labels: owned-by: turborepo, created-by: turborepo

#7650 fix(@turbo/repository): Remove custom type so nap can serialize it
  packages/turbo-repository/js/index.d.ts
  packages/turbo-repository/rust/src/lib.rs
Labels: owned-by: turborepo, created-by: turborepo, pkg: turbo-repository

#7652 chore(@turbo/repository): bump to 0.0.1-canary.9
  packages/turbo-repository/js/package.json
  packages/turbo-repository/npm/darwin-arm64/package.json
  packages/turbo-repository/npm/darwin-x64/package.json
  packages/turbo-repository/npm/linux-arm64-gnu/package.json
  packages/turbo-repository/npm/linux-arm64-musl/package.json
  packages/turbo-repository/npm/linux-x64-gnu/package.json
  packages/turbo-repository/npm/linux-x64-musl/package.json
  packages/turbo-repository/npm/win32-arm64-msvc/package.json
  packages/turbo-repository/npm/win32-x64-msvc/package.json
Labels: owned-by: turborepo, created-by: turborepo, pkg: turbo-repository

#7655 refactor(turborepo): Renaming -PackageDetector to -PackageChangeMapper
  crates/turborepo-lib/src/global_deps_package_change_mapper.rs
  crates/turborepo-lib/src/lib.rs
  crates/turborepo-lib/src/run/scope/change_detector.rs
  crates/turborepo-lib/src/run/scope/filter.rs
  crates/turborepo-repository/src/change_mapper.rs
  packages/turbo-repository/rust/src/lib.rs
Labels: owned-by: turborepo, created-by: turborepo, pkg: turbo-repository

#7647 chore: silence lint warnings from vt100 crate
  crates/turborepo-vt100/src/lib.rs
  crates/turborepo-vt100/tests/helpers/mod.rs
  crates/turborepo-vt100/tests/window_contents.rs
Labels: owned-by: turborepo, created-by: turborepo

#7649 chore: rename vendored vt100 crate
  Cargo.lock
  crates/turborepo-vt100/Cargo.toml
  crates/turborepo-vt100/src/lib.rs
  crates/turborepo-vt100/tests/attr.rs
  crates/turborepo-vt100/tests/basic.rs
  crates/turborepo-vt100/tests/control.rs
  crates/turborepo-vt100/tests/csi.rs
  crates/turborepo-vt100/tests/escape.rs
  crates/turborepo-vt100/tests/helpers/fixtures.rs
  crates/turborepo-vt100/tests/helpers/mod.rs
  crates/turborepo-vt100/tests/init.rs
  crates/turborepo-vt100/tests/mode.rs
  crates/turborepo-vt100/tests/osc.rs
  crates/turborepo-vt100/tests/processing.rs
  crates/turborepo-vt100/tests/quickcheck.rs
  crates/turborepo-vt100/tests/scroll.rs
  crates/turborepo-vt100/tests/split-escapes.rs
  crates/turborepo-vt100/tests/text.rs
  crates/turborepo-vt100/tests/weird.rs
  crates/turborepo-vt100/tests/window_contents.rs
  crates/turborepo-vt100/tests/write.rs
Labels: owned-by: turborepo, created-by: turborepo

#7639 build: Update `swc_core` to `v0.90.17`
  Cargo.lock
  Cargo.toml
Labels: owned-by: turborepo, owned-by: turbopack, created-by: turbopack

#7653 Rename `BuildChunkingContext` -> `NodeJsChunkingContext` and `DevChunkingContext` -> `BrowserChunkingContext`
  crates/turbopack-build/src/chunking_context.rs
  crates/turbopack-build/src/ecmascript/node/chunk.rs
  crates/turbopack-build/src/ecmascript/node/content.rs
  crates/turbopack-build/src/ecmascript/node/entry/chunk.rs
  crates/turbopack-build/src/ecmascript/node/entry/runtime.rs
  crates/turbopack-build/src/lib.rs
  crates/turbopack-cli/src/build/mod.rs
  crates/turbopack-cli/src/dev/mod.rs
  crates/turbopack-cli/src/dev/web_entry_source.rs
  crates/turbopack-dev/src/chunking_context.rs
  crates/turbopack-dev/src/ecmascript/chunk.rs
  crates/turbopack-dev/src/ecmascript/content.rs
  crates/turbopack-dev/src/ecmascript/evaluate/chunk.rs
  crates/turbopack-dev/src/ecmascript/list/asset.rs
  crates/turbopack-dev/src/lib.rs
  crates/turbopack-tests/tests/execution.rs
  crates/turbopack-tests/tests/snapshot.rs
Labels: owned-by: turbopack

#7658 Rename crates turbopack-build -> turbopack-nodejs and turbopack-dev -> turbopack-browser
  .config/ast-grep/rules/no-context.yml
  Cargo.lock
  Cargo.toml
  crates/turbopack-binding/Cargo.toml
  crates/turbopack-binding/src/lib.rs
  crates/turbopack-browser/Cargo.toml
  crates/turbopack-browser/build.rs
  crates/turbopack-browser/src/chunking_context.rs
  crates/turbopack-browser/src/ecmascript/chunk.rs
  crates/turbopack-browser/src/ecmascript/content.rs
  crates/turbopack-browser/src/ecmascript/content_entry.rs
  crates/turbopack-browser/src/ecmascript/evaluate/chunk.rs
  crates/turbopack-browser/src/ecmascript/evaluate/mod.rs
  crates/turbopack-browser/src/ecmascript/list/asset.rs
  crates/turbopack-browser/src/ecmascript/list/content.rs
  crates/turbopack-browser/src/ecmascript/list/mod.rs
  crates/turbopack-browser/src/ecmascript/list/update.rs
  crates/turbopack-browser/src/ecmascript/list/version.rs
  crates/turbopack-browser/src/ecmascript/merged/content.rs
  crates/turbopack-browser/src/ecmascript/merged/merger.rs
  crates/turbopack-browser/src/ecmascript/merged/mod.rs
  crates/turbopack-browser/src/ecmascript/merged/update.rs
  crates/turbopack-browser/src/ecmascript/merged/version.rs
  crates/turbopack-browser/src/ecmascript/mod.rs
  crates/turbopack-browser/src/ecmascript/runtime.rs
  crates/turbopack-browser/src/ecmascript/update.rs
  crates/turbopack-browser/src/ecmascript/version.rs
  crates/turbopack-browser/src/lib.rs
  crates/turbopack-browser/src/react_refresh.rs
  crates/turbopack-cli/Cargo.toml
  crates/turbopack-cli/src/build/mod.rs
  crates/turbopack-cli/src/contexts.rs
  crates/turbopack-cli/src/dev/mod.rs
  crates/turbopack-cli/src/dev/web_entry_source.rs
  crates/turbopack-cli/src/lib.rs
  crates/turbopack-core/src/ident.rs
  crates/turbopack-nodejs/Cargo.toml
  crates/turbopack-nodejs/build.rs
  crates/turbopack-nodejs/src/chunking_context.rs
  crates/turbopack-nodejs/src/ecmascript/minify.rs
  crates/turbopack-nodejs/src/ecmascript/mod.rs
  crates/turbopack-nodejs/src/ecmascript/node/chunk.rs
  crates/turbopack-nodejs/src/ecmascript/node/content.rs
  crates/turbopack-nodejs/src/ecmascript/node/entry/chunk.rs
  crates/turbopack-nodejs/src/ecmascript/node/entry/mod.rs
  crates/turbopack-nodejs/src/ecmascript/node/entry/runtime.rs
  crates/turbopack-nodejs/src/ecmascript/node/mod.rs
  crates/turbopack-nodejs/src/ecmascript/node/version.rs
  crates/turbopack-nodejs/src/lib.rs
  crates/turbopack-tests/Cargo.toml
  crates/turbopack-tests/tests/execution.rs
  crates/turbopack-tests/tests/snapshot.rs
  crates/turbopack-trace-utils/src/tracing_presets.rs
Labels: owned-by: turborepo, owned-by: turbopack

#7656 feat: Add success rate telemetry for login
  crates/turborepo-lib/src/commands/login.rs
  crates/turborepo-telemetry/src/events/command.rs
Labels: owned-by: turborepo, created-by: turborepo

#7657 chore(turborepo): Move PackageChangeMappers to turborepo-repository
  crates/turborepo-repository/src/change_mapper/mod.rs
  crates/turborepo-repository/src/change_mapper/package.rs
Labels: owned-by: turborepo, created-by: turborepo

#7444 feature: Add invalidate flag to logout
  crates/turborepo-api-client/src/error.rs
  crates/turborepo-api-client/src/lib.rs
  crates/turborepo-auth/src/auth/login.rs
  crates/turborepo-auth/src/auth/logout.rs
  crates/turborepo-auth/src/auth/mod.rs
  crates/turborepo-auth/src/auth/sso.rs
  crates/turborepo-auth/src/lib.rs
  crates/turborepo-lib/src/cli/mod.rs
  crates/turborepo-lib/src/commands/logout.rs
  turborepo-tests/integration/tests/turbo-help.t
Labels: owned-by: turborepo, created-by: turborepo

#7619 feat: terminal pane component
  Cargo.lock
  crates/turborepo-ui/Cargo.toml
  crates/turborepo-ui/examples/pane.rs
  crates/turborepo-ui/src/lib.rs
  crates/turborepo-ui/src/tui/mod.rs
  crates/turborepo-ui/src/tui/pane.rs
Labels: owned-by: turborepo, created-by: turborepo

#7614 feat: add getter for selected task
  crates/turborepo-ui/src/tui/table.rs
Labels: owned-by: turborepo, created-by: turborepo

#7644 chore(Turborepo): refactor client side of daemon-backed package discovery
  crates/turborepo-lib/src/daemon/client.rs
  crates/turborepo-lib/src/run/mod.rs
  crates/turborepo-repository/src/discovery.rs
Labels: owned-by: turborepo, created-by: turborepo

#7665 Revert "fix(ci): turborepo library release workflow"
  .github/actions/setup-rust/action.yml
  .github/workflows/turborepo-library-release.yml
Labels: area: ci, owned-by: turborepo, owned-by: turbopack, created-by: turbopack

#7660 Add MinifyType to BrowserChunkingContext
  crates/turbopack-browser/src/chunking_context.rs
  crates/turbopack-browser/src/ecmascript/content.rs
  crates/turbopack-ecmascript/Cargo.toml
  crates/turbopack-ecmascript/src/lib.rs
  crates/turbopack-ecmascript/src/minify.rs
  crates/turbopack-nodejs/Cargo.toml
  crates/turbopack-nodejs/src/chunking_context.rs
  crates/turbopack-nodejs/src/ecmascript/mod.rs
  crates/turbopack-nodejs/src/ecmascript/node/content.rs
Labels: owned-by: turbopack

#7667 fix(turborepo): Logout
  Cargo.lock
  crates/turborepo-auth/src/auth/logout.rs
  crates/turborepo-auth/src/auth/mod.rs
  crates/turborepo-auth/src/error.rs
  crates/turborepo-dirs/Cargo.toml
  crates/turborepo-dirs/src/lib.rs
  crates/turborepo-lib/src/commands/logout.rs
  crates/turborepo-lib/src/commands/mod.rs
  crates/turborepo-lib/src/config.rs
  crates/turborepo-telemetry/src/config.rs
Labels: owned-by: turborepo, created-by: turborepo

#7617 feat(turbopack): add missing webpack context property
  crates/turbopack-node/js/src/transforms/webpack-loaders.ts
Labels: owned-by: turbopack, created-by: turbopack

#7670 fix(Turborepo): Add back a working version of the rust npm package
  .github/workflows/turborepo-library-release.yml
  package.json
  pnpm-lock.yaml
Labels: area: ci, owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#6788 feat: add scan subcommand
  Cargo.lock
  crates/turborepo-lib/src/cli/mod.rs
  crates/turborepo-lib/src/commands/link.rs
  crates/turborepo-lib/src/commands/mod.rs
  crates/turborepo-lib/src/commands/scan.rs
  crates/turborepo-lib/src/diagnostics.rs
  crates/turborepo-lib/src/lib.rs
  crates/turborepo-lib/src/shim.rs
  crates/turborepo-scm/src/lib.rs
  crates/turborepo-ui/Cargo.toml
  crates/turborepo-ui/src/lib.rs
  crates/turborepo-updater/src/lib.rs
  turborepo-tests/integration/tests/no-args.t
  turborepo-tests/integration/tests/turbo-help.t
Labels: owned-by: turborepo, created-by: turborepo

#7662 [LSP] Attempt to detect local turbo path from package manager as fallback
  packages/turbo-vsc/package.json
  packages/turbo-vsc/src/extension.ts
Labels: owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#7676 Implement minify for Turbopack runtime file
  crates/turbopack-browser/src/ecmascript/evaluate/chunk.rs
Labels: owned-by: turbopack

#7677 add FullContextTransition
  crates/turbopack/src/transition/full_context_transition.rs
  crates/turbopack/src/transition/mod.rs
Labels: owned-by: turbopack, created-by: turbopack

#7679 chore(@turbo/repository): show current version when publishing
  packages/turbo-repository/scripts/bump-version.sh
Labels: owned-by: turborepo, created-by: turborepo, pkg: turbo-repository

#7680 chore(@turbo/repository): bump to 0.0.1-canary.10
  packages/turbo-repository/js/package.json
  packages/turbo-repository/npm/darwin-arm64/package.json
  packages/turbo-repository/npm/darwin-x64/package.json
  packages/turbo-repository/npm/linux-arm64-gnu/package.json
  packages/turbo-repository/npm/linux-arm64-musl/package.json
  packages/turbo-repository/npm/linux-x64-gnu/package.json
  packages/turbo-repository/npm/linux-x64-musl/package.json
  packages/turbo-repository/npm/win32-arm64-msvc/package.json
  packages/turbo-repository/npm/win32-x64-msvc/package.json
Labels: owned-by: turborepo, created-by: turborepo, pkg: turbo-repository

#7664 fix(Turborepo): Fix cookie directory
  crates/turborepo-filewatch/src/cookies.rs
  crates/turborepo-filewatch/src/package_watcher.rs
  crates/turborepo-lib/src/daemon/server.rs
Labels: owned-by: turborepo, created-by: turborepo

#7684 feat(resolve): skip alias to d.ts
  crates/turbopack-resolve/src/typescript.rs
Labels: owned-by: turbopack, created-by: turbopack

#7682 Turbopack HMR: url-encode sourceURLs
  crates/turbopack-ecmascript-runtime/js/src/dev/runtime/dom/runtime-backend-dom.ts
  crates/turbopack-tests/tests/snapshot/runtime/default_dev_runtime/output/79fb1_turbopack-tests_tests_snapshot_runtime_default_dev_runtime_input_index_40d141.js
  crates/turbopack-tests/tests/snapshot/runtime/default_dev_runtime/output/79fb1_turbopack-tests_tests_snapshot_runtime_default_dev_runtime_input_index_40d141.js.map
Labels: owned-by: turbopack, created-by: turbopack

#7681 refactor(turborepo): Split up `Run` into `RunBuilder` and `Run`
  crates/turborepo-lib/src/commands/run.rs
  crates/turborepo-lib/src/run/builder.rs
  crates/turborepo-lib/src/run/global_hash.rs
  crates/turborepo-lib/src/run/mod.rs
Labels: owned-by: turborepo, created-by: turborepo

#7511 Remove Customizing Turbopack doc.
  docs/next.config.js
  docs/pages/pack/docs/features/_meta.json
  docs/pages/pack/docs/features/customizing-turbopack.mdx
  docs/pages/pack/docs/migrating-from-webpack.mdx
Labels: area: docs, area: site, owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#7689 feat(ci): add workflow to post top issues into slack
  .github/workflows/turborepo-top-issues.yml
  packages/top-issues/.gitignore
  packages/top-issues/README.md
  packages/top-issues/package.json
  packages/top-issues/src/index.mjs
  pnpm-lock.yaml
Labels: area: ci, owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#7678 chore: generalize log writer
  crates/turborepo-lib/src/run/cache.rs
  crates/turborepo-ui/src/logs.rs
  crates/turborepo-ui/tests/threads.rs
Labels: owned-by: turborepo, created-by: turborepo

#7696 fix(turbopack-ecmascript): always create values from object destructuring
  crates/turbopack-ecmascript/src/analyzer/graph.rs
  crates/turbopack-ecmascript/tests/analyzer/graph/default-args/graph-explained.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/default-args/graph.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/default-args/resolved-explained.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/pack-2682/graph-effects.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/pack-2682/graph-explained.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/pack-2682/graph.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/pack-2682/input.js
  crates/turbopack-ecmascript/tests/analyzer/graph/pack-2682/resolved-effects.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/pack-2682/resolved-explained.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/peg/graph-explained.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/peg/resolved-explained.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/webpack-target-node/graph-explained.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/webpack-target-node/graph.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/webpack-target-node/resolved-effects.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/webpack-target-node/resolved-explained.snapshot
Labels: owned-by: turbopack, created-by: turbopack

#7669 s/the your/the/
  docs/pages/repo/docs/core-concepts/monorepos/task-dependencies.mdx
Labels: area: docs, owned-by: turborepo

#7668 s/mental/model/
  docs/pages/repo/docs/core-concepts/monorepos/task-graph.mdx
Labels: area: docs, owned-by: turborepo

#7702 Fix typos in docs & turborepo-lsp
  crates/turborepo-lsp/src/lib.rs
  docs/pages/repo/docs/core-concepts/caching.mdx
  docs/pages/repo/docs/core-concepts/caching/file-inputs.mdx
  docs/pages/repo/docs/core-concepts/monorepos/code-generation.mdx
  docs/pages/repo/docs/core-concepts/monorepos/configuring-workspaces.mdx
Labels: area: docs, owned-by: turborepo

#7707 chore(docs): move client token to env var
  docs/lib/useTurborepoMinutesSaved.ts
  docs/turbo/generators/utils.ts
Labels: area: site, owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#7704 fix(3802): bump completions library so that they work again
  Cargo.lock
  Cargo.toml
  crates/turborepo-lib/src/cli/mod.rs
  turborepo-tests/integration/tests/conflicting-flags.t
  turborepo-tests/integration/tests/no-args.t
  turborepo-tests/integration/tests/turbo-help.t
Labels: owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#7701 chore: generalize cache terminal output
  crates/turborepo-lib/src/run/cache.rs
  crates/turborepo-lib/src/task_graph/visitor.rs
  crates/turborepo-ui/src/logs.rs
  crates/turborepo-ui/src/prefixed.rs
Labels: owned-by: turborepo, created-by: turborepo

#7699 feat: add entire screen viewer to vt100
  crates/turborepo-vt100/src/entire_screen.rs
  crates/turborepo-vt100/src/grid.rs
  crates/turborepo-vt100/src/lib.rs
  crates/turborepo-vt100/src/parser.rs
  crates/turborepo-vt100/src/row.rs
  crates/turborepo-vt100/tests/entire_screen.rs
Labels: owned-by: turborepo, created-by: turborepo

#7709 build(cargo): bump up deps, resolve build failures
  Cargo.lock
  Cargo.toml
  crates/turbopack-image/Cargo.toml
  crates/turbopack-image/src/process/mod.rs
Labels: owned-by: turborepo, owned-by: turbopack, created-by: turbopack

#7648 fix(turbopack-node): pass relative file paths to postcss
  crates/turbopack-node/src/transforms/postcss.rs
Labels: owned-by: turbopack, created-by: turbopack

#7706 fix(turbopack-ecmascript): use correct reference type in dynamic reference
  crates/turbopack-ecmascript/src/references/esm/dynamic.rs
Labels: owned-by: turbopack, created-by: turbopack

#7710 fix(image): fix build errors for the features
  crates/turbopack-image/src/process/mod.rs
Labels: owned-by: turbopack, created-by: turbopack

#7719 accept css files outside of the project as virtual assets
  crates/turbopack-node/src/transforms/postcss.rs
Labels: owned-by: turbopack, created-by: turbopack

#7661 more efficient node.js process startup
  crates/turbopack-node/src/evaluate.rs
  crates/turbopack-node/src/pool.rs
Labels: owned-by: turbopack, created-by: turbopack

#7720 generate correct async module handling for side effects optimization
  crates/turbopack-ecmascript/src/lib.rs
  crates/turbopack-ecmascript/src/references/async_module.rs
  crates/turbopack-ecmascript/src/references/mod.rs
  crates/turbopack-ecmascript/src/side_effect_optimization/facade/chunk_item.rs
  crates/turbopack-ecmascript/src/side_effect_optimization/facade/module.rs
  crates/turbopack-ecmascript/src/side_effect_optimization/locals/chunk_item.rs
  crates/turbopack-ecmascript/src/side_effect_optimization/locals/module.rs
  crates/turbopack-ecmascript/src/side_effect_optimization/reference.rs
  crates/turbopack-tests/tests/execution/turbopack/tree-shaking/side-effects/input/index.js
  crates/turbopack-tests/tests/execution/turbopack/tree-shaking/side-effects/input/node_modules/tla/both.js
  crates/turbopack-tests/tests/execution/turbopack/tree-shaking/side-effects/input/node_modules/tla/local.js
  crates/turbopack-tests/tests/execution/turbopack/tree-shaking/side-effects/input/node_modules/tla/package.json
  crates/turbopack-tests/tests/execution/turbopack/tree-shaking/side-effects/input/node_modules/tla/reexport.js
  crates/turbopack-tests/tests/execution/turbopack/tree-shaking/side-effects/input/node_modules/tla/reexported.js
  crates/turbopack-tests/tests/execution/turbopack/tree-shaking/side-effects/input/node_modules/tla/tla-reexported.js
Labels: owned-by: turbopack, created-by: turbopack

#7718 fix(turbopack): Fix CSS Modules class name for lightningcss mode
  crates/turbopack-css/src/process.rs
  crates/turbopack-tests/tests/snapshot/css/css-modules/input/index.js
  crates/turbopack-tests/tests/snapshot/css/css-modules/input/style.module.css
  crates/turbopack-tests/tests/snapshot/css/css-modules/output/crates_turbopack-tests_tests_snapshot_css_css-modules_input_8abc52._.js
  crates/turbopack-tests/tests/snapshot/css/css-modules/output/crates_turbopack-tests_tests_snapshot_css_css-modules_input_8abc52._.js.map
  crates/turbopack-tests/tests/snapshot/css/css-modules/output/crates_turbopack-tests_tests_snapshot_css_css-modules_input_index_250a0b.js
  crates/turbopack-tests/tests/snapshot/css/css-modules/output/crates_turbopack-tests_tests_snapshot_css_css-modules_input_index_61f6de.js
  crates/turbopack-tests/tests/snapshot/css/css-modules/output/crates_turbopack-tests_tests_snapshot_css_css-modules_input_index_61f6de.js.map
  crates/turbopack-tests/tests/snapshot/css/css-modules/output/crates_turbopack-tests_tests_snapshot_css_css-modules_input_style_module_71f14f.css
  crates/turbopack-tests/tests/snapshot/css/css-modules/output/crates_turbopack-tests_tests_snapshot_css_css-modules_input_style_module_71f14f.css.map
  crates/turbopack-tests/tests/snapshot/css/css-modules/output/crates_turbopack-tests_tests_snapshot_css_css-modules_input_style_module_7d7e1c.css
  crates/turbopack-tests/tests/snapshot/css/css-modules/output/crates_turbopack-tests_tests_snapshot_css_css-modules_input_style_module_7d7e1c.css.map
  crates/turbopack-tests/tests/snapshot/css/css/output/8697f_foo_style_module_7d7e1c.css
  crates/turbopack-tests/tests/snapshot/css/css/output/crates_turbopack-tests_tests_snapshot_css_css_input_34944c._.js
  crates/turbopack-tests/tests/snapshot/css/css/output/crates_turbopack-tests_tests_snapshot_css_css_input_34944c._.js.map
  crates/turbopack-tests/tests/snapshot/css/css/output/crates_turbopack-tests_tests_snapshot_css_css_input_64af3a._.css
  crates/turbopack-tests/tests/snapshot/css/css/output/crates_turbopack-tests_tests_snapshot_css_css_input_style_module_7d7e1c.css
  crates/turbopack-tests/tests/snapshot/cssmodules/composes/output/79fb1_turbopack-tests_tests_snapshot_cssmodules_composes_input_index_module_7d7e1c.css
  crates/turbopack-tests/tests/snapshot/cssmodules/composes/output/79fb1_turbopack-tests_tests_snapshot_cssmodules_composes_input_index_module_cb674a.css
  crates/turbopack-tests/tests/snapshot/cssmodules/composes/output/crates_turbopack-tests_tests_snapshot_cssmodules_composes_input_2ba052._.js
  crates/turbopack-tests/tests/snapshot/cssmodules/composes/output/crates_turbopack-tests_tests_snapshot_cssmodules_composes_input_2ba052._.js.map
  crates/turbopack-tests/tests/snapshot/cssmodules/relative-uri-import/output/79fb1_turbopack-tests_tests_snapshot_cssmodules_relative-uri-import_input_6d6278._.css
  crates/turbopack-tests/tests/snapshot/cssmodules/relative-uri-import/output/79fb1_turbopack-tests_tests_snapshot_cssmodules_relative-uri-import_input_f065a6._.js
  crates/turbopack-tests/tests/snapshot/cssmodules/relative-uri-import/output/79fb1_turbopack-tests_tests_snapshot_cssmodules_relative-uri-import_input_f065a6._.js.map
  crates/turbopack-tests/tests/snapshot/cssmodules/relative-uri-import/output/a587c_tests_snapshot_cssmodules_relative-uri-import_input_index_module_7d7e1c.css
  crates/turbopack-tests/tests/snapshot/cssmodules/relative-uri-import/output/a587c_tests_snapshot_cssmodules_relative-uri-import_input_other_module_7d7e1c.css
Labels: owned-by: turbopack, created-by: turbopack

#7711 Add distinction between Development and Production runtime_type for Turbopack
  crates/turbopack-browser/src/chunking_context.rs
  crates/turbopack-browser/src/ecmascript/evaluate/chunk.rs
  crates/turbopack-cli/src/build/mod.rs
  crates/turbopack-cli/src/dev/mod.rs
  crates/turbopack-cli/src/dev/web_entry_source.rs
  crates/turbopack-ecmascript-runtime/src/runtime_type.rs
  crates/turbopack-nodejs/src/chunking_context.rs
  crates/turbopack-nodejs/src/ecmascript/node/entry/runtime.rs
  crates/turbopack-tests/tests/execution.rs
  crates/turbopack-tests/tests/snapshot.rs
  crates/turbopack-tests/tests/snapshot/runtime/default_build_runtime/options.json
  crates/turbopack-tests/tests/snapshot/runtime/default_dev_runtime/options.json
Labels: owned-by: turbopack

#7722 Revert "chore: Update swc_core to `v0.90.21`"
  Cargo.lock
  Cargo.toml
Labels: owned-by: turborepo, owned-by: turbopack, created-by: turbopack

#7723 Reland "chore: Update swc_core to `v0.90.21`"
  Cargo.lock
  Cargo.toml
Labels: owned-by: turborepo, owned-by: turbopack, created-by: turbopack

#7700 fix(Turborepo): Handle directory moves in package discovery
  crates/turborepo-filewatch/src/package_watcher.rs
  crates/turborepo-lib/src/daemon/client.rs
  crates/turborepo-paths/src/absolute_system_path.rs
Labels: owned-by: turborepo, created-by: turborepo

#7703 chore(Turborepo): Handle unhandled error case in package discovery
  crates/turborepo-filewatch/src/package_watcher.rs
Labels: owned-by: turborepo, created-by: turborepo

#7729 Update `swc_core` to `v0.90.22`
  Cargo.lock
  Cargo.toml
Labels: owned-by: turborepo, owned-by: turbopack, created-by: turbopack

#7730 fix(css): Do not resolve `url`s in supports query
  crates/turbopack-css/src/references/mod.rs
  crates/turbopack-tests/tests/snapshot.rs
  crates/turbopack-tests/tests/snapshot/css/url-in-supports-query/input/index.js
  crates/turbopack-tests/tests/snapshot/css/url-in-supports-query/input/style.css
  crates/turbopack-tests/tests/snapshot/css/url-in-supports-query/options.json
  crates/turbopack-tests/tests/snapshot/css/url-in-supports-query/output/79fb1_turbopack-tests_tests_snapshot_css_url-in-supports-query_input_index_7e65d9.js
  crates/turbopack-tests/tests/snapshot/css/url-in-supports-query/output/79fb1_turbopack-tests_tests_snapshot_css_url-in-supports-query_input_index_9f5f8d.js
  crates/turbopack-tests/tests/snapshot/css/url-in-supports-query/output/79fb1_turbopack-tests_tests_snapshot_css_url-in-supports-query_input_index_9f5f8d.js.map
  crates/turbopack-tests/tests/snapshot/css/url-in-supports-query/output/79fb1_turbopack-tests_tests_snapshot_css_url-in-supports-query_input_index_c70a2c.js
  crates/turbopack-tests/tests/snapshot/css/url-in-supports-query/output/79fb1_turbopack-tests_tests_snapshot_css_url-in-supports-query_input_index_c70a2c.js.map
  crates/turbopack-tests/tests/snapshot/css/url-in-supports-query/output/79fb1_turbopack-tests_tests_snapshot_css_url-in-supports-query_input_style_7d7e1c.css
  crates/turbopack-tests/tests/snapshot/css/url-in-supports-query/output/79fb1_turbopack-tests_tests_snapshot_css_url-in-supports-query_input_style_7d7e1c.css.map
  crates/turbopack-tests/tests/snapshot/css/url-in-supports-query/output/79fb1_turbopack-tests_tests_snapshot_css_url-in-supports-query_input_style_d70fa1.css
  crates/turbopack-tests/tests/snapshot/css/url-in-supports-query/output/79fb1_turbopack-tests_tests_snapshot_css_url-in-supports-query_input_style_d70fa1.css.map
Labels: owned-by: turbopack, created-by: turbopack

#7728 feat: ensure PrefixedWriter is line buffered
  crates/turborepo-ui/src/prefixed.rs
Labels: owned-by: turborepo, created-by: turborepo

#7714 chore(Turborepo): Consolidate Subscriber::watch and setup task
  crates/turborepo-filewatch/src/package_watcher.rs
Labels: owned-by: turborepo, created-by: turborepo

#7713 chore: use vendored vt100 for tui-term
  Cargo.lock
  Cargo.toml
  crates/turborepo-ui/Cargo.toml
  crates/turborepo-ui/examples/pane.rs
  crates/turborepo-ui/src/tui/pane.rs
  crates/turborepo-vt100/Cargo.toml
  crates/turborepo-vt100/src/lib.rs
  crates/turborepo-vt100/src/tui_term.rs
Labels: owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#7715 Turbopack HMR: Add hook for failed updates and log them more clearly
  crates/turbopack-cli/js/src/entry/client.ts
  crates/turbopack-ecmascript-runtime/js/src/dev/client/hmr-client.ts
  crates/turbopack-ecmascript-runtime/js/src/dev/runtime/base/runtime-base.ts
  crates/turbopack-tests/tests/snapshot/runtime/default_dev_runtime/output/79fb1_turbopack-tests_tests_snapshot_runtime_default_dev_runtime_input_index_40d141.js
  crates/turbopack-tests/tests/snapshot/runtime/default_dev_runtime/output/79fb1_turbopack-tests_tests_snapshot_runtime_default_dev_runtime_input_index_40d141.js.map
  crates/turbopack/tests/node-file-trace.rs
Labels: owned-by: turbopack, created-by: turbopack

#7584 Bug fix on with-tailwind example
  examples/with-tailwind/package.json
  examples/with-tailwind/packages/config-eslint/react.js
  examples/with-tailwind/packages/config-tailwind/package.json
  examples/with-tailwind/packages/config-tailwind/tailwind.config.ts
  examples/with-tailwind/packages/config-tailwind/tsconfig.json
  examples/with-tailwind/packages/ui/package.json
  examples/with-tailwind/packages/ui/src/card.tsx
  examples/with-tailwind/packages/ui/tsup.config.ts
  examples/with-tailwind/pnpm-lock.yaml
  examples/with-tailwind/tsconfig.json
Labels: area: examples, owned-by: turborepo

#7641 Improvements on kitchen-sink example
  examples/kitchen-sink/README.md
  examples/kitchen-sink/apps/admin/src/app/index.tsx
  examples/kitchen-sink/apps/api/package.json
  examples/kitchen-sink/packages/jest-presets/browser/jest-preset.js
  examples/kitchen-sink/packages/jest-presets/node/jest-preset.js
  examples/kitchen-sink/packages/jest-presets/package.json
  examples/kitchen-sink/packages/logger/package.json
  examples/kitchen-sink/packages/ui/package.json
  examples/kitchen-sink/packages/ui/src/Link/index.tsx
Labels: area: examples, owned-by: turborepo

#7651 Bug fix on with rollup
  examples/with-rollup/.eslintrc.js
  examples/with-rollup/README.md
  examples/with-rollup/apps/web/README.md
  examples/with-rollup/apps/web/tsconfig.json
  examples/with-rollup/package.json
  examples/with-rollup/packages/config-eslint/react-internal.js
  examples/with-rollup/packages/ui/rollup.config.js
  examples/with-rollup/pnpm-lock.yaml
Labels: area: examples, owned-by: turborepo

#7683 docs: Update testing configuration documentation for clarity
  docs/pages/repo/docs/handbook/testing.mdx
Labels: area: docs, owned-by: turborepo

#7698 docs: change texts from lint to type-check
  docs/pages/repo/docs/getting-started/add-to-project.mdx
Labels: area: docs, owned-by: turborepo

#7725 feat(Turborepo): add error handling to package discovery process
  crates/turborepo-filewatch/src/package_watcher.rs
Labels: owned-by: turborepo, created-by: turborepo

#7737 feat(tui) proper ctrl c
  Cargo.lock
  crates/turborepo-ui/Cargo.toml
  crates/turborepo-ui/src/tui/input.rs
Labels: owned-by: turborepo, created-by: turborepo

#7735 feat: add ability to forward input to tasks
  crates/turborepo-lib/src/process/child.rs
  crates/turborepo-lib/src/task_graph/visitor.rs
  crates/turborepo-ui/src/tui/app.rs
  crates/turborepo-ui/src/tui/event.rs
  crates/turborepo-ui/src/tui/handle.rs
  crates/turborepo-ui/src/tui/input.rs
  crates/turborepo-ui/src/tui/pane.rs
Labels: owned-by: turborepo, created-by: turborepo

#7733 feat: enable new UI
  Cargo.lock
  crates/turborepo-lib/Cargo.toml
  crates/turborepo-lib/src/engine/mod.rs
  crates/turborepo-lib/src/process/child.rs
  crates/turborepo-lib/src/task_graph/visitor.rs
  crates/turborepo-repository/src/package_json.rs
  crates/turborepo-ui/Cargo.toml
  crates/turborepo-ui/examples/pane.rs
  crates/turborepo-ui/examples/table.rs
  crates/turborepo-ui/src/lib.rs
  crates/turborepo-ui/src/logs.rs
  crates/turborepo-ui/src/tui/app.rs
  crates/turborepo-ui/src/tui/event.rs
  crates/turborepo-ui/src/tui/handle.rs
  crates/turborepo-ui/src/tui/input.rs
  crates/turborepo-ui/src/tui/mod.rs
  crates/turborepo-ui/src/tui/pane.rs
  crates/turborepo-ui/src/tui/table.rs
Labels: owned-by: turborepo, created-by: turborepo

#7744 Turbopack HMR: reload on any failed HMR update
  crates/turbopack-ecmascript-runtime/js/src/dev/client/hmr-client.ts
Labels: owned-by: turbopack, created-by: turbopack

#7741 make follow reexports more efficient
  crates/turbopack-ecmascript/src/references/esm/export.rs
  crates/turbopack-tests/tests/execution/turbopack/tree-shaking/side-effects/input/node_modules/package-star/index.js
Labels: owned-by: turbopack, created-by: turbopack

#7745 fix: retry requests that fail due to timeout or request errors
  crates/turborepo-api-client/src/retry.rs
Labels: owned-by: turborepo, created-by: turborepo

#7754 feat: enable env var for preflight
  crates/turborepo-lib/src/cli/mod.rs
  crates/turborepo-lib/src/commands/mod.rs
  crates/turborepo-lib/src/config.rs
Labels: owned-by: turborepo, created-by: turborepo

#7757 fix(mdx): allow failsafe analyze for mdxasset
  crates/turbopack-ecmascript/src/references/mod.rs
  crates/turbopack-mdx/src/lib.rs
Labels: owned-by: turbopack, created-by: turbopack

#7755 chore: add ability to configure TUI via turbo.json
  crates/turborepo-lib/src/config.rs
  crates/turborepo-lib/src/run/builder.rs
  crates/turborepo-lib/src/run/mod.rs
  crates/turborepo-lib/src/task_graph/visitor.rs
  crates/turborepo-lib/src/turbo_json/mod.rs
  crates/turborepo-lib/src/turbo_json/parser.rs
Labels: owned-by: turborepo, created-by: turborepo

#6294 Add TURBO_CACHE_DIR env for `--cache-dir` flag
  crates/turborepo-lib/src/cli/mod.rs
  turborepo-tests/integration/tests/no-args.t
  turborepo-tests/integration/tests/turbo-help.t
Labels: owned-by: turborepo

#7762 avoid panic
  crates/turbopack-css/src/process.rs
Labels: owned-by: turbopack, created-by: turbopack

#7750 fix ASSET_PREFIX
  crates/turbopack-nodejs/src/ecmascript/node/entry/runtime.rs
  crates/turbopack-tests/tests/snapshot/basic/async_chunk_build/output/[turbopack]_runtime.js
  crates/turbopack-tests/tests/snapshot/basic/ecmascript_minify/output/[turbopack]_runtime.js
  crates/turbopack-tests/tests/snapshot/runtime/default_build_runtime/output/[turbopack]_runtime.js
Labels: owned-by: turbopack, created-by: turbopack

#7760 fix(ui): properly handle escape codes in persisted output
  crates/turborepo-ui/src/tui/app.rs
Labels: owned-by: turborepo, created-by: turborepo

#7758 fix(ui): always start tasks
  crates/turborepo-lib/src/task_graph/visitor.rs
  crates/turborepo-ui/src/tui/app.rs
  crates/turborepo-ui/src/tui/pane.rs
  crates/turborepo-ui/src/tui/table.rs
Labels: owned-by: turborepo, created-by: turborepo

#7759 feat(Turborepo): handle invalid states in package watching
  crates/turborepo-filewatch/src/package_watcher.rs
Labels: owned-by: turborepo, created-by: turborepo

#7773 remove nested source map comment
  crates/turbopack-node/js/src/transforms/postcss.ts
Labels: owned-by: turbopack, created-by: turbopack

#7774 add cut off depth to avoid stack overflow for infinite recursion in turbo-tasks
  crates/turbopack-trace-server/src/span.rs
  crates/turbopack-trace-server/src/store.rs
Labels: owned-by: turbopack, created-by: turbopack

#7778 fallback to normal resolving if alias doesn't resolve
  crates/turbopack-core/src/resolve/mod.rs
  crates/turbopack-tests/tests/execution/turbopack/resolving/tsconfig-fallback/input/index.js
  crates/turbopack-tests/tests/execution/turbopack/resolving/tsconfig-fallback/input/node_modules/@baz/foo/index.js
  crates/turbopack-tests/tests/execution/turbopack/resolving/tsconfig-fallback/input/node_modules/@baz/foo/package.json
  crates/turbopack-tests/tests/execution/turbopack/resolving/tsconfig-fallback/input/node_modules/@foo/bar/index.js
  crates/turbopack-tests/tests/execution/turbopack/resolving/tsconfig-fallback/input/node_modules/@foo/bar/package.json
  crates/turbopack-tests/tests/execution/turbopack/resolving/tsconfig-fallback/input/src/baz/foo.ts
  crates/turbopack-tests/tests/execution/turbopack/resolving/tsconfig-fallback/input/src/foo.ts
  crates/turbopack-tests/tests/execution/turbopack/resolving/tsconfig-fallback/input/tsconfig.json
Labels: owned-by: turbopack, created-by: turbopack

#7767 feat: add ability to configure tasks as interactive
  crates/turborepo-lib/src/config.rs
  crates/turborepo-lib/src/engine/mod.rs
  crates/turborepo-lib/src/run/builder.rs
  crates/turborepo-lib/src/run/error.rs
  crates/turborepo-lib/src/run/summary/task.rs
  crates/turborepo-lib/src/task_graph/mod.rs
  crates/turborepo-lib/src/task_graph/visitor.rs
  crates/turborepo-lib/src/turbo_json/mod.rs
  crates/turborepo-lib/src/turbo_json/parser.rs
  crates/turborepo-ui/src/tui/app.rs
  crates/turborepo-ui/src/tui/pane.rs
  turborepo-tests/integration/fixtures/turbo-configs/interactive.json
  turborepo-tests/integration/tests/dry-json/monorepo.t
  turborepo-tests/integration/tests/dry-json/single-package-no-config.t
  turborepo-tests/integration/tests/dry-json/single-package-with-deps.t
  turborepo-tests/integration/tests/dry-json/single-package.t
  turborepo-tests/integration/tests/interactive.t
  turborepo-tests/integration/tests/persistent-dependencies/1-topological.t
  turborepo-tests/integration/tests/persistent-dependencies/10-too-many.t
  turborepo-tests/integration/tests/persistent-dependencies/2-same-workspace.t
  turborepo-tests/integration/tests/persistent-dependencies/3-workspace-specific.t
  turborepo-tests/integration/tests/persistent-dependencies/4-cross-workspace.t
  turborepo-tests/integration/tests/persistent-dependencies/5-root-workspace.t
  turborepo-tests/integration/tests/persistent-dependencies/7-topological-nested.t
  turborepo-tests/integration/tests/persistent-dependencies/8-topological-with-extra.t
  turborepo-tests/integration/tests/persistent-dependencies/9-cross-workspace-nested.t
  turborepo-tests/integration/tests/run-summary/error.t
  turborepo-tests/integration/tests/run/single-package/dry-run.t
  turborepo-tests/integration/tests/run/single-package/no-config.t
  turborepo-tests/integration/tests/run/single-package/with-deps-dry-run.t
  turborepo-tests/integration/tests/workspace-configs/override-values-deps.t
  turborepo-tests/integration/tests/workspace-configs/persistent.t
Labels: owned-by: turborepo, created-by: turborepo

#7780 feat: enable windows pty
  crates/turborepo-lib/src/run/builder.rs
Labels: owned-by: turborepo, created-by: turborepo

#7787 publish 1.13.0-canary.2 to registry
  packages/create-turbo/package.json
  packages/eslint-config-turbo/package.json
  packages/eslint-plugin-turbo/package.json
  packages/turbo-codemod/package.json
  packages/turbo-gen/package.json
  packages/turbo-ignore/package.json
  packages/turbo-types/package.json
  packages/turbo-workspaces/package.json
  packages/turbo/package.json
  version.txt
Labels: pkg: create-turbo, pkg: turbo-ignore, pkg: turbo-eslint, pkg: turbo-codemod, pkg: turbo-gen, pkg: turbo-workspaces, owned-by: turborepo, created-by: turborepo

#7783 fix(examples): avoid clearing screen when using vite
  examples/with-vite/apps/docs/package.json
  examples/with-vite/apps/web/package.json
Labels: area: examples, owned-by: turborepo, created-by: turborepo

#7788 chore(ui): add more info to table footer
  crates/turborepo-ui/src/tui/table.rs
Labels: owned-by: turborepo, created-by: turborepo

#6770 [DO NOT MERGE] `scan` command doc.
  docs/pages/repo/docs/reference/command-line-reference/_meta.json
  docs/pages/repo/docs/reference/command-line-reference/scan.mdx
Labels: area: docs, area: site, docs: next release, owned-by: turborepo, created-by: turborepo

#7632 Docs: add references to TURBO_CACHE_DIR environment variable
  docs/pages/repo/docs/reference/command-line-reference/run.mdx
  docs/pages/repo/docs/reference/system-variables.mdx
Labels: area: docs, docs: next release, owned-by: turborepo

#7786 chore: update turbo.json schema for interactive tasks
  packages/turbo-types/src/types/config.ts
Labels: owned-by: turborepo, created-by: turborepo

#7792 Use hardcoding.
  docs/pages/repo/docs/getting-started/from-example.mdx
  docs/pages/repo/docs/index.mdx
Labels: area: docs, owned-by: turborepo, created-by: turborepo

#7785 Turbopack: Emit an issue on unknown module types instead of falling back to raw
  crates/turbopack/src/lib.rs
  crates/turbopack/src/module_options/mod.rs
Labels: owned-by: turbopack, created-by: turbopack

#7791 feat(pnpm): respect link-workspace-packages npmrc
  Cargo.lock
  crates/turborepo-repository/Cargo.toml
  crates/turborepo-repository/src/package_graph/builder.rs
  crates/turborepo-repository/src/package_graph/dep_splitter.rs
  crates/turborepo-repository/src/package_graph/mod.rs
  crates/turborepo-repository/src/package_graph/npmrc.rs
Labels: owned-by: turborepo, created-by: turborepo

#7793 feat: add ability to control UI via cli arg
  crates/turborepo-lib/src/cli/mod.rs
  crates/turborepo-lib/src/commands/mod.rs
Labels: owned-by: turborepo, created-by: turborepo

#7781 Support import.meta.env in eslint-plugin-turbo
  packages/eslint-plugin-turbo/__tests__/lib/no-undeclared-env-vars.test.ts
  packages/eslint-plugin-turbo/lib/rules/no-undeclared-env-vars.ts
Labels: pkg: turbo-eslint, owned-by: turborepo, CI approved

#7801 fix(ci): fix examples CI check
  examples/with-changesets/packages/eslint-config/package.json
  examples/with-changesets/pnpm-lock.yaml
Labels: area: examples, owned-by: turborepo, created-by: turborepo

#7740 feat: support apple git in scan diagnostic
  crates/turborepo-lib/src/diagnostics.rs
Labels: owned-by: turborepo, created-by: turborepo

#7805 feat(ui): persist logs on failure
  crates/turborepo-lib/src/task_graph/visitor.rs
  crates/turborepo-ui/src/lib.rs
  crates/turborepo-ui/src/line.rs
  crates/turborepo-ui/src/prefixed.rs
  crates/turborepo-ui/src/tui/handle.rs
  crates/turborepo-ui/src/tui/mod.rs
Labels: owned-by: turborepo, created-by: turborepo

#7770 feat(Turborepo): handle package manager changes
  crates/turborepo-filewatch/src/cookies.rs
  crates/turborepo-filewatch/src/package_watcher.rs
  crates/turborepo-lib/src/daemon/server.rs
Labels: owned-by: turborepo, created-by: turborepo

#7807 feat(ui): add ability to scroll task output
  crates/turborepo-ui/src/tui/app.rs
  crates/turborepo-ui/src/tui/event.rs
  crates/turborepo-ui/src/tui/input.rs
  crates/turborepo-ui/src/tui/pane.rs
Labels: owned-by: turborepo, created-by: turborepo

#7809 fix(ui): avoid dupe key events on windows
  crates/turborepo-ui/src/tui/input.rs
Labels: owned-by: turborepo, created-by: turborepo

#7810 fix(ui): avoid using prefix for replayed logs
  crates/turborepo-lib/src/run/cache.rs
  crates/turborepo-lib/src/task_graph/visitor.rs
Labels: owned-by: turborepo, created-by: turborepo

#7815 fix alias in getResolve
  crates/turbopack-core/src/issue/resolve.rs
  crates/turbopack-core/src/resolve/mod.rs
  crates/turbopack-node/js/src/transforms/webpack-loaders.ts
  crates/turbopack-node/src/transforms/webpack.rs
  crates/turbopack-tests/tests/execution/turbopack/basic/comptime/issues/__l___Module not found____c__ Can't resolve '__c_.-e15f31.txt
  crates/turbopack-tests/tests/snapshot/imports/resolve_error_cjs/issues/__l___Module not found____c__ Can't resolve '__c_d-b4f3d3.txt
  crates/turbopack-tests/tests/snapshot/imports/resolve_error_esm/issues/__l___Module not found____c__ Can't resolve '__c_d-b93f4e.txt
Labels: owned-by: turbopack, created-by: turbopack

#7796 Update `swc_core` to `v0.90.24`
  Cargo.lock
  Cargo.toml
  crates/turbopack-ecmascript/tests/analyzer/graph/1/graph-effects.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/array-map/graph-effects.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/array/graph-effects.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/class_super/graph-effects.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/conditional-import/graph-effects.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/declarations/graph-effects.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/default-args/graph-effects.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/esbuild-reduced/graph-effects.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/esbuild/graph-effects.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/fn-array-2/graph-effects.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/fn-array/graph-effects.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/free-vars/graph-effects.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/iife/graph-effects.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/imports/graph-effects.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/logical/graph-effects.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/md5-reduced/graph-effects.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/md5_2/graph-effects.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/member-call/graph-effects.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/member-prop/graph-effects.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/mongoose-reduced/graph-effects.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/nested-args/graph-effects.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/object/graph-effects.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/other-free-vars/graph-effects.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/pack-2236/graph-effects.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/pack-2521/graph-effects.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/pack-2682/graph-effects.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/path-join/graph-effects.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/process-and-os/graph-effects.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/require-context/graph-effects.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/try/graph-effects.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/webpack-target-node/graph-effects.snapshot
Labels: owned-by: turborepo, owned-by: turbopack, created-by: turbopack

#7776 change port of trace-server
  crates/turbopack-trace-server/src/server.rs
Labels: owned-by: turbopack, created-by: turbopack

#7763 Tracing improvements
  Cargo.lock
  crates/turbopack-convert-trace/Cargo.toml
  crates/turbopack-convert-trace/src/main.rs
  crates/turbopack-trace-server/src/reader.rs
  crates/turbopack-trace-server/src/store.rs
  crates/turbopack-trace-server/src/viewer.rs
  crates/turbopack-trace-utils/src/raw_trace.rs
  crates/turbopack-trace-utils/src/tracing.rs
Labels: owned-by: turbopack, created-by: turbopack

#7813 fix webpack loader incorrectly calling custom_evaluate
  crates/turbopack-node/src/transforms/webpack.rs
Labels: owned-by: turbopack, created-by: turbopack

#7764 fix some small bugs in turbo-tasks that are required for GC
  crates/turbo-tasks-memory/src/cell.rs
  crates/turbo-tasks/src/lib.rs
  crates/turbo-tasks/src/manager.rs
  crates/turbopack-node/src/evaluate.rs
  crates/turbopack-node/src/render/render_proxy.rs
  crates/turbopack-node/src/render/render_static.rs
Labels: owned-by: turbopack, created-by: turbopack

#7816 chore: remove some unused imports
  crates/turborepo-auth/src/auth/mod.rs
  crates/turborepo-repository/src/package_graph/builder.rs
  crates/turborepo-ui/src/tui/handle.rs
Labels: owned-by: turborepo, created-by: turborepo
