Repository vercel/turborepo, pull requests merged in 2024-05, with the labels that each got.

#8069 Update eslint-config package name.
  docs/pages/repo/docs/handbook/linting/eslint.mdx
Labels: area: docs, owned-by: turborepo, created-by: turborepo

#8067 chore(docs): add missing words
  docs/pages/repo/docs/core-concepts/monorepos/configuring-workspaces.mdx
Labels: area: docs, owned-by: turborepo

#8070 Update rules for PR labeling
  .github/turbo-orchestrator.yml
Labels: owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#8074 fix(Turborepo): Disable inputs support
  crates/turborepo-filewatch/src/hash_watcher.rs
Labels: owned-by: turborepo, created-by: turborepo

#8073 feat(webpack-loaders): support dummy span interface
  crates/turbopack-node/js/src/transforms/webpack-loaders.ts
Labels: owned-by: turbopack, created-by: turbopack

#8083 fix(webpack): print resource, project path when relative calc fails
  crates/turbopack-node/src/transforms/webpack.rs
Labels: owned-by: turbopack, created-by: turbopack

#8085 docs: document release process for @turbo/repository
  release.md
Labels: owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#8094 Implement bindings for Turbopack trace server
  Cargo.toml
  crates/turbopack-binding/Cargo.toml
  crates/turbopack-binding/src/lib.rs
  crates/turbopack-cli/Cargo.toml
  crates/turbopack-trace-server/src/lib.rs
Labels: needs: triage, owned-by: turborepo, owned-by: turbopack

#8086 feat(Turborepo): Add support for $TURBO_DEFAULT$ to file hash watcher
  crates/turborepo-filewatch/src/hash_watcher.rs
  crates/turborepo-lib/src/daemon/server.rs
  crates/turborepo-scm/src/package_deps.rs
Labels: owned-by: turborepo, created-by: turborepo

#8061 reduce memory usage in analyser
  crates/turbopack-ecmascript/src/analyzer/mod.rs
  crates/turbopack-ecmascript/src/analyzer/well_known.rs
Labels: owned-by: turbopack, created-by: turbopack

#8077 Remove async-trait from a few crates
  Cargo.lock
  crates/turborepo-analytics/Cargo.toml
  crates/turborepo-analytics/src/lib.rs
  crates/turborepo-api-client/Cargo.toml
  crates/turborepo-api-client/src/analytics.rs
  crates/turborepo-api-client/src/lib.rs
  crates/turborepo-api-client/src/telemetry.rs
  crates/turborepo-auth/src/auth/login.rs
  crates/turborepo-auth/src/auth/logout.rs
  crates/turborepo-auth/src/auth/sso.rs
  crates/turborepo-auth/src/lib.rs
  crates/turborepo-telemetry/Cargo.toml
  crates/turborepo-telemetry/src/lib.rs
Labels: owned-by: turborepo, created-by: turborepo

#8100 make sure to include our github token for setup scripts
  .github/workflows/test-turbopack-rust-bench-test.yml
  .github/workflows/test.yml
Labels: area: ci, owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#8102 fix memory counting without custom allocator
  crates/turbo-tasks-malloc/src/lib.rs
Labels: owned-by: turbopack, created-by: turbopack

#8064 refactor(turborepo): Improve package changes watcher performance
  Cargo.lock
  Cargo.toml
  crates/turborepo-filewatch/Cargo.toml
  crates/turborepo-filewatch/src/lib.rs
  crates/turborepo-lib/Cargo.toml
  crates/turborepo-lib/src/package_changes_watcher.rs
Labels: owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#8096 turbo-tasks: Expand `<T as TaskOutput>::Return` values in macros
  crates/turbo-tasks-macros/src/func.rs
Labels: owned-by: turbopack, created-by: turbopack

#8104 feat(turborepo): Using file hashing for package watching
  Cargo.lock
  crates/turborepo-lib/src/daemon/server.rs
  crates/turborepo-lib/src/package_changes_watcher.rs
Labels: owned-by: turborepo, created-by: turborepo

#8078 add support for cache_timeout as well as timeout
  crates/turborepo-api-client/src/lib.rs
  crates/turborepo-cache/src/async_cache.rs
  crates/turborepo-cache/src/fs.rs
  crates/turborepo-cache/src/http.rs
  crates/turborepo-lib/src/commands/mod.rs
  crates/turborepo-lib/src/config.rs
  crates/turborepo-lib/src/run/summary/spaces.rs
Labels: owned-by: turborepo, created-by: turborepo

#8079 yield a different warning when the cache upload times out
  crates/turborepo-cache/src/http.rs
  crates/turborepo-cache/src/lib.rs
Labels: owned-by: turborepo, created-by: turborepo

#8105 turbopack-node: Use path.join for postcss loader
  crates/turbopack-node/src/transforms/postcss.rs
Labels: owned-by: turbopack, created-by: turbopack

#8099 Replace websocket with tungstenite for turbo-trace-server
  crates/turbopack-trace-server/Cargo.toml
  crates/turbopack-trace-server/src/lib.rs
  crates/turbopack-trace-server/src/main.rs
  crates/turbopack-trace-server/src/server.rs
Labels: needs: triage, owned-by: turbopack

#8060 feat: Add lint for `grid-template-areas`
  crates/turbopack-css/src/process.rs
Labels: owned-by: turbopack, created-by: turbopack

#8109 fix(gen): isolate generator to `commonjs`
  packages/turbo-gen/src/templates/simple-js/package.json
  packages/turbo-gen/src/templates/simple-ts/package.json
Labels: needs: triage, pkg: turbo-gen, owned-by: turborepo

#8082 Graph aggregation refactoring
  Cargo.lock
  crates/turbo-tasks-memory/Cargo.toml
  crates/turbo-tasks-memory/src/aggregation/aggregation_data.rs
  crates/turbo-tasks-memory/src/aggregation/balance_edge.rs
  crates/turbo-tasks-memory/src/aggregation/balance_queue.rs
  crates/turbo-tasks-memory/src/aggregation/change.rs
  crates/turbo-tasks-memory/src/aggregation/followers.rs
  crates/turbo-tasks-memory/src/aggregation/in_progress.rs
  crates/turbo-tasks-memory/src/aggregation/increase.rs
  crates/turbo-tasks-memory/src/aggregation/loom_tests.rs
  crates/turbo-tasks-memory/src/aggregation/lost_edge.rs
  crates/turbo-tasks-memory/src/aggregation/mod.rs
  crates/turbo-tasks-memory/src/aggregation/new_edge.rs
  crates/turbo-tasks-memory/src/aggregation/notify_lost_follower.rs
  crates/turbo-tasks-memory/src/aggregation/notify_new_follower.rs
  crates/turbo-tasks-memory/src/aggregation/optimize.rs
  crates/turbo-tasks-memory/src/aggregation/root_query.rs
  crates/turbo-tasks-memory/src/aggregation/tests.rs
  crates/turbo-tasks-memory/src/aggregation/uppers.rs
  crates/turbo-tasks-memory/src/aggregation_tree/bottom_connection.rs
  crates/turbo-tasks-memory/src/aggregation_tree/bottom_tree.rs
  crates/turbo-tasks-memory/src/aggregation_tree/inner_refs.rs
  crates/turbo-tasks-memory/src/aggregation_tree/leaf.rs
  crates/turbo-tasks-memory/src/aggregation_tree/mod.rs
  crates/turbo-tasks-memory/src/aggregation_tree/tests.rs
  crates/turbo-tasks-memory/src/aggregation_tree/top_tree.rs
  crates/turbo-tasks-memory/src/count_hash_set.rs
  crates/turbo-tasks-memory/src/lib.rs
  crates/turbo-tasks-memory/src/memory_backend.rs
  crates/turbo-tasks-memory/src/task.rs
  crates/turbo-tasks-memory/src/task/aggregation.rs
Labels: owned-by: turbopack, created-by: turbopack

#8113 fix: properly propigate internal errors
  crates/turborepo-lib/src/run/mod.rs
  crates/turborepo-lib/src/task_graph/visitor.rs
Labels: owned-by: turborepo, created-by: turborepo

#8087 #[turbo_tasks::value(transparent)]: Generate docs & fail on invalid callsites
  Cargo.lock
  crates/turbo-tasks-macros/Cargo.toml
  crates/turbo-tasks-macros/src/value_macro.rs
  crates/turbopack-css/src/module_asset.rs
  crates/turbopack-ecmascript-plugins/src/transform/swc_ecma_transform_plugins.rs
  crates/turbopack-node/src/route_matcher.rs
  crates/turbopack-node/src/transforms/postcss.rs
  crates/turbopack-node/src/transforms/webpack.rs
Labels: owned-by: turbopack, created-by: turbopack

#8118 Remove websocket dependency in turbo-trace-server
  Cargo.lock
  crates/turbopack-trace-server/Cargo.toml
Labels: needs: triage, owned-by: turbopack

#8084 feat(ui): render ui to alternative screen
  crates/turborepo-lib/src/task_graph/visitor.rs
  crates/turborepo-ui/examples/table.rs
  crates/turborepo-ui/src/tui/app.rs
  crates/turborepo-ui/src/tui/event.rs
  crates/turborepo-ui/src/tui/handle.rs
  crates/turborepo-ui/src/tui/mod.rs
  crates/turborepo-ui/src/tui/pane.rs
  crates/turborepo-ui/src/tui/spinner.rs
  crates/turborepo-ui/src/tui/table.rs
  crates/turborepo-ui/src/tui/task.rs
  crates/turborepo-ui/src/tui/task_duration.rs
  crates/turborepo-vt100/src/entire_screen.rs
Labels: owned-by: turborepo, created-by: turborepo

#8107 fix(turborepo): Persistent tasks in watch mode
  crates/turborepo-lib/src/engine/mod.rs
Labels: owned-by: turborepo, created-by: turborepo

#8119 fix(Turborepo): Fix as_inputs to include !
  crates/turborepo-filewatch/src/globwatcher.rs
  crates/turborepo-filewatch/src/hash_watcher.rs
Labels: owned-by: turborepo, created-by: turborepo

#8127 fix(Turborepo): Handle new packages in lockfile comparisons
  crates/turborepo-lockfiles/src/berry/mod.rs
  crates/turborepo-lockfiles/src/lib.rs
  crates/turborepo-lockfiles/src/npm.rs
  crates/turborepo-lockfiles/src/pnpm/data.rs
  crates/turborepo-repository/src/package_graph/builder.rs
  crates/turborepo-repository/src/package_graph/mod.rs
  turborepo-tests/integration/tests/lockfile-aware-caching/new-package.t
Labels: owned-by: turborepo, created-by: turborepo

#8136 fix(ui): minor formatting
  crates/turborepo-ui/src/tui/pane.rs
  crates/turborepo-ui/src/tui/table.rs
Labels: owned-by: turborepo, created-by: turborepo

#7962 feat(turborepo): new ui + watch mode
  crates/turborepo-lib/src/commands/run.rs
  crates/turborepo-lib/src/run/mod.rs
  crates/turborepo-lib/src/run/summary/mod.rs
  crates/turborepo-lib/src/run/watch.rs
  crates/turborepo-lib/src/task_graph/visitor.rs
  crates/turborepo-ui/src/tui/app.rs
  crates/turborepo-ui/src/tui/event.rs
  crates/turborepo-ui/src/tui/handle.rs
  crates/turborepo-ui/src/tui/input.rs
  crates/turborepo-ui/src/tui/table.rs
Labels: owned-by: turborepo, created-by: turborepo

#8137 feat(filter): no longer infer scope in filters
  crates/turborepo-lib/src/run/scope/filter.rs
Labels: owned-by: turborepo, created-by: turborepo

#8150 chore!(create-turbo): remove old pm arg
  packages/create-turbo/src/cli.ts
Labels: pkg: create-turbo, owned-by: turborepo, created-by: turborepo

#8111 change ids from usize to u32
  crates/turbo-tasks-memory/src/memory_backend.rs
  crates/turbo-tasks-memory/src/memory_backend_with_pg.rs
  crates/turbo-tasks-testing/src/lib.rs
  crates/turbo-tasks/src/id.rs
  crates/turbo-tasks/src/id_factory.rs
  crates/turbo-tasks/src/registry.rs
  crates/turbo-tasks/src/task/task_input.rs
Labels: owned-by: turbopack, created-by: turbopack

#8141 Selectively enable opt-level 1
  Cargo.toml
Labels: owned-by: turborepo, owned-by: turbopack, created-by: turbopack

#6732 feat(turbopack-ecmascript): use import attributes for annotations
  crates/turbopack-core/src/reference_type.rs
  crates/turbopack-ecmascript-plugins/src/transform/directives/server_to_client_proxy.rs
  crates/turbopack-ecmascript/src/analyzer/imports.rs
  crates/turbopack-ecmascript/src/annotations.rs
  crates/turbopack-ecmascript/src/lib.rs
  crates/turbopack-ecmascript/src/references/esm/base.rs
  crates/turbopack-ecmascript/src/references/mod.rs
  crates/turbopack-resolve/src/ecmascript.rs
  crates/turbopack/src/lib.rs
Labels: owned-by: turbopack, created-by: turbopack

#8101 fix off-by-one bug while reading heaptrack files
  crates/turbopack-trace-server/src/reader/heaptrack.rs
  crates/turbopack-trace-server/src/reader/mod.rs
  crates/turbopack-trace-server/src/viewer.rs
Labels: owned-by: turbopack, created-by: turbopack

#8152 feat: error on empty package name
  crates/turborepo-repository/src/package_graph/builder.rs
  crates/turborepo-repository/src/package_graph/mod.rs
  turborepo-tests/integration/tests/invalid-package-json.t
Labels: owned-by: turborepo, created-by: turborepo

#8130 refactor memory tracking
  crates/turbo-tasks-malloc/src/counter.rs
  crates/turbo-tasks-malloc/src/lib.rs
  crates/turbo-tasks-memory/src/memory_backend.rs
  crates/turbo-tasks-memory/src/memory_backend_with_pg.rs
  crates/turbo-tasks-memory/src/task.rs
  crates/turbo-tasks/Cargo.toml
  crates/turbo-tasks/src/backend.rs
  crates/turbo-tasks/src/capture_future.rs
  crates/turbo-tasks/src/lib.rs
  crates/turbo-tasks/src/manager.rs
  crates/turbo-tasks/src/timed_future.rs
  crates/turbopack-trace-server/src/reader/turbopack.rs
  crates/turbopack-trace-utils/src/raw_trace.rs
  crates/turbopack-trace-utils/src/tracing.rs
Labels: owned-by: turbopack, created-by: turbopack

#8097 build: Update `swc_core` to `v0.92.5`
  Cargo.lock
  Cargo.toml
Labels: owned-by: turborepo, owned-by: turbopack, created-by: turbopack

#8147 trace-server: performance improvement
  Cargo.lock
  crates/turbopack-trace-server/Cargo.toml
  crates/turbopack-trace-server/src/server.rs
  crates/turbopack-trace-server/src/span_ref.rs
  crates/turbopack-trace-server/src/store.rs
  crates/turbopack-trace-server/src/viewer.rs
Labels: owned-by: turbopack, created-by: turbopack

#8169 improve performance test case
  crates/turbo-tasks-memory/src/aggregation/tests.rs
Labels: owned-by: turbopack, created-by: turbopack

#8161 fix(turborepo): use transitive closure of filtered packages in watch mode
  crates/turborepo-lib/src/run/mod.rs
  crates/turborepo-lib/src/run/watch.rs
Labels: owned-by: turborepo, created-by: turborepo

#8154 Improve Garbage Collection
  Cargo.lock
  crates/node-file-trace/src/lib.rs
  crates/turbo-tasks-malloc/src/counter.rs
  crates/turbo-tasks-malloc/src/lib.rs
  crates/turbo-tasks-memory/src/aggregation/new_edge.rs
  crates/turbo-tasks-memory/src/cell.rs
  crates/turbo-tasks-memory/src/concurrent_priority_queue.rs
  crates/turbo-tasks-memory/src/gc.rs
  crates/turbo-tasks-memory/src/lib.rs
  crates/turbo-tasks-memory/src/memory_backend.rs
  crates/turbo-tasks-memory/src/memory_backend_with_pg.rs
  crates/turbo-tasks-memory/src/output.rs
  crates/turbo-tasks-memory/src/stats.rs
  crates/turbo-tasks-memory/src/task.rs
  crates/turbo-tasks-memory/src/task/aggregation.rs
  crates/turbo-tasks-memory/src/task/meta_state.rs
  crates/turbo-tasks-memory/src/task/stats.rs
  crates/turbo-tasks-memory/src/viz/graph.rs
  crates/turbo-tasks-memory/src/viz/mod.rs
  crates/turbo-tasks-memory/src/viz/table.rs
  crates/turbo-tasks/src/backend.rs
  crates/turbo-tasks/src/completion.rs
  crates/turbo-tasks/src/lib.rs
  crates/turbo-tasks/src/manager.rs
  crates/turbopack-cli/src/dev/mod.rs
  crates/turbopack-cli/src/dev/turbo_tasks_viz.rs
  crates/turbopack-trace-utils/src/raw_trace.rs
  crates/turbopack/examples/turbopack.rs
Labels: owned-by: turbopack, created-by: turbopack

#8153 Trace Server add focus mode
  crates/turbopack-trace-server/src/viewer.rs
Labels: owned-by: turbopack, created-by: turbopack

#8166 Switch from ld (the default linker) to using lld for GNU Linux targets
  .cargo/config.toml
  .github/actions/setup-rust/action.yml
  CONTRIBUTING.md
Labels: area: ci, owned-by: turborepo, owned-by: turbopack, created-by: turbopack

#8148 improve aggregation tree tracing, remove verbose tracing
  crates/turbo-tasks-memory/src/aggregation/aggregation_data.rs
  crates/turbo-tasks-memory/src/aggregation/balance_edge.rs
  crates/turbo-tasks-memory/src/aggregation/increase.rs
  crates/turbo-tasks-memory/src/aggregation/new_edge.rs
  crates/turbo-tasks-memory/src/aggregation/notify_new_follower.rs
  crates/turbo-tasks-memory/src/aggregation/optimize.rs
Labels: owned-by: turbopack, created-by: turbopack

#8177 feat(turbo-ignore): don’t fail on single package repos
  packages/turbo-ignore/__tests__/ignore.test.ts
  packages/turbo-ignore/src/ignore.ts
  packages/turbo-types/src/types/dry.ts
Labels: pkg: turbo-ignore, owned-by: turborepo, created-by: turborepo

#8159 chore: move react from devDependency to dependency in design system starter template
  examples/design-system/packages/ui/package.json
  examples/design-system/pnpm-lock.yaml
Labels: area: examples, needs: triage, owned-by: turborepo

#8165 Turbopack: Add `BeforeResolve` plugin type
  crates/turbopack-core/src/resolve/mod.rs
  crates/turbopack-core/src/resolve/options.rs
  crates/turbopack-core/src/resolve/plugin.rs
  crates/turbopack-resolve/src/resolve.rs
  crates/turbopack-resolve/src/resolve_options_context.rs
  crates/turbopack/src/unsupported_sass.rs
Labels: owned-by: turbopack, created-by: turbopack

#8180 feat: add doublestar to exact dir paths
  crates/turborepo-globwalk/src/lib.rs
  turborepo-tests/integration/fixtures/dir_globs/.gitignore
  turborepo-tests/integration/fixtures/dir_globs/apps/my-app/package.json
  turborepo-tests/integration/fixtures/dir_globs/package.json
  turborepo-tests/integration/fixtures/dir_globs/packages/util/package.json
  turborepo-tests/integration/fixtures/dir_globs/packages/util/src/boo.txt
  turborepo-tests/integration/fixtures/dir_globs/turbo.json
  turborepo-tests/integration/tests/run/globs.t
Labels: owned-by: turborepo, created-by: turborepo

#8080 add two retry strategies to allow requests to timeout gracefully
  Cargo.lock
  crates/turborepo-api-client/Cargo.toml
  crates/turborepo-api-client/src/analytics.rs
  crates/turborepo-api-client/src/lib.rs
  crates/turborepo-api-client/src/retry.rs
  crates/turborepo-api-client/src/spaces.rs
  crates/turborepo-api-client/src/telemetry.rs
Labels: owned-by: turborepo, created-by: turborepo

#8158 fix rustc bug in turbopack-trace-server
  crates/turbopack-trace-server/src/bottom_up.rs
  crates/turbopack-trace-server/src/span_ref.rs
Labels: owned-by: turbopack, created-by: turborepo

#8176 Upgrade lightningcss, disable grid scoping
  Cargo.lock
  Cargo.toml
  crates/turbopack-css/src/process.rs
  crates/turbopack-tests/tests/snapshot/css/css-modules/output/crates_turbopack-tests_tests_snapshot_css_css-modules_input_8abc52._.js
  crates/turbopack-tests/tests/snapshot/css/css-modules/output/crates_turbopack-tests_tests_snapshot_css_css-modules_input_8abc52._.js.map
  crates/turbopack-tests/tests/snapshot/css/css-modules/output/crates_turbopack-tests_tests_snapshot_css_css-modules_input_style_module_71f14f.css
  crates/turbopack-tests/tests/snapshot/css/css-modules/output/crates_turbopack-tests_tests_snapshot_css_css-modules_input_style_module_7d7e1c.css
Labels: needs: triage, owned-by: turborepo, owned-by: turbopack

#8027 chore(ci): breakup GH test.yml
  .github/workflows/lint.yml
  .github/workflows/test-js-packages.yml
  .github/workflows/turbopack-test.yml
  .github/workflows/turborepo-test.yml
Labels: area: ci, owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#8182 chore: make env mode strict by default
  crates/turborepo-env/src/lib.rs
  crates/turborepo-lib/src/cli/mod.rs
  crates/turborepo-lib/src/hash/mod.rs
  crates/turborepo-lib/src/hash/proto.capnp
  crates/turborepo-lib/src/run/builder.rs
  crates/turborepo-lib/src/run/global_hash.rs
  crates/turborepo-lib/src/run/mod.rs
  crates/turborepo-lib/src/run/summary/mod.rs
  crates/turborepo-lib/src/run/summary/task_factory.rs
  crates/turborepo-lib/src/task_graph/visitor.rs
  crates/turborepo-lib/src/task_hash.rs
  turborepo-tests/integration/fixtures/lockfile_aware_caching/turbo.json
  turborepo-tests/integration/tests/dry-json/monorepo.t
  turborepo-tests/integration/tests/dry-json/single-package-no-config.t
  turborepo-tests/integration/tests/dry-json/single-package-with-deps.t
  turborepo-tests/integration/tests/dry-json/single-package.t
  turborepo-tests/integration/tests/dry-run.t
  turborepo-tests/integration/tests/edit-turbo-json/task.t
  turborepo-tests/integration/tests/global-deps.t
  turborepo-tests/integration/tests/global-env.t
  turborepo-tests/integration/tests/no-args.t
  turborepo-tests/integration/tests/persistent-dependencies/6-topological-unimplemented.t
  turborepo-tests/integration/tests/pkg-inference.t
  turborepo-tests/integration/tests/prune/composable-config.t
  turborepo-tests/integration/tests/run-caching/excluded-inputs/excluded-inputs.t
  turborepo-tests/integration/tests/run-logging/errors-only.t
  turborepo-tests/integration/tests/run-logging/log-order-github.t
  turborepo-tests/integration/tests/run-logging/log-prefix.t
  turborepo-tests/integration/tests/run-logging/verbosity.t
  turborepo-tests/integration/tests/run-summary/discovery.t
  turborepo-tests/integration/tests/run-summary/error.t
  turborepo-tests/integration/tests/run-summary/strict-env.t
  turborepo-tests/integration/tests/run/continue.t
  turborepo-tests/integration/tests/run/force.t
  turborepo-tests/integration/tests/run/gitignored-inputs.t
  turborepo-tests/integration/tests/run/globs.t
  turborepo-tests/integration/tests/run/one-script-error.t
  turborepo-tests/integration/tests/run/single-package/dry-run.t
  turborepo-tests/integration/tests/run/single-package/no-config.t
  turborepo-tests/integration/tests/run/single-package/run-yarn.t
  turborepo-tests/integration/tests/run/single-package/run.t
  turborepo-tests/integration/tests/run/single-package/with-deps-dry-run.t
  turborepo-tests/integration/tests/run/single-package/with-deps-run.t
  turborepo-tests/integration/tests/strict-env-vars/usage-infer.t
  turborepo-tests/integration/tests/task-dependencies/overwriting.t
  turborepo-tests/integration/tests/task-dependencies/root-workspace.t
  turborepo-tests/integration/tests/task-dependencies/topological.t
  turborepo-tests/integration/tests/turbo-help.t
  turborepo-tests/integration/tests/workspace-configs/add-keys.t
  turborepo-tests/integration/tests/workspace-configs/add-tasks.t
  turborepo-tests/integration/tests/workspace-configs/cache.t
  turborepo-tests/integration/tests/workspace-configs/config-change.t
  turborepo-tests/integration/tests/workspace-configs/cross-workspace.t
  turborepo-tests/integration/tests/workspace-configs/missing-workspace-config-deps.t
  turborepo-tests/integration/tests/workspace-configs/missing-workspace-config.t
  turborepo-tests/integration/tests/workspace-configs/omit-keys-deps.t
  turborepo-tests/integration/tests/workspace-configs/omit-keys.t
  turborepo-tests/integration/tests/workspace-configs/override-values-deps.t
  turborepo-tests/integration/tests/workspace-configs/override-values.t
  turborepo-tests/integration/tests/workspace-configs/persistent.t
Labels: owned-by: turborepo, created-by: turborepo

#8190 feat: allow for negative globs in globalDeps
  crates/turborepo-lib/src/run/global_hash.rs
  turborepo-tests/integration/fixtures/global_deps/README.md
  turborepo-tests/integration/fixtures/global_deps/turbo.json
  turborepo-tests/integration/tests/global-deps.t
Labels: owned-by: turborepo, created-by: turborepo

#8081 add support for upload speed / remaining in the cache upload step
  Cargo.lock
  crates/turborepo-api-client/Cargo.toml
  crates/turborepo-api-client/src/error.rs
  crates/turborepo-api-client/src/lib.rs
  crates/turborepo-auth/src/auth/login.rs
  crates/turborepo-auth/src/auth/sso.rs
  crates/turborepo-auth/src/lib.rs
  crates/turborepo-cache/Cargo.toml
  crates/turborepo-cache/src/async_cache.rs
  crates/turborepo-cache/src/http.rs
  crates/turborepo-cache/src/lib.rs
  crates/turborepo-cache/src/multiplexer.rs
  crates/turborepo-cache/src/upload_progress.rs
  crates/turborepo-lib/Cargo.toml
  crates/turborepo-lib/src/config.rs
  crates/turborepo-lib/src/run/cache.rs
  crates/turborepo-lib/src/run/mod.rs
Labels: owned-by: turborepo, created-by: turborepo

#7673 [turbo-trace] add additional filter modes for allocs over time
  crates/turbopack-trace-server/src/viewer.rs
Labels: owned-by: turbopack, created-by: turborepo

#8194 add MPL-2.0-no-copyleft-exception to the allow list
  deny.toml
Labels: owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#8196 chore: pin global turbo to 1.x release
  .github/actions/install-global-turbo/action.yml
Labels: area: ci, owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#8191 Turbopack: Register react refresh exports in module factory
  crates/turbopack-ecmascript-runtime/js/src/dev/runtime/base/runtime-base.ts
  crates/turbopack-ecmascript/src/chunk/item.rs
  crates/turbopack-ecmascript/src/transform/mod.rs
  crates/turbopack-tests/tests/snapshot/runtime/default_dev_runtime/output/79fb1_turbopack-tests_tests_snapshot_runtime_default_dev_runtime_input_index_40d141.js
  crates/turbopack-tests/tests/snapshot/runtime/default_dev_runtime/output/79fb1_turbopack-tests_tests_snapshot_runtime_default_dev_runtime_input_index_40d141.js.map
Labels: owned-by: turbopack, created-by: turbopack

#8197 chore: change turborepo licenses to MIT
  cli/LICENSE
  cli/scripts/npm-native-packages/template/template.package.json
  crates/turborepo-analytics/Cargo.toml
  crates/turborepo-api-client/Cargo.toml
  crates/turborepo-auth/Cargo.toml
  crates/turborepo-cache/Cargo.toml
  crates/turborepo-ci/Cargo.toml
  crates/turborepo-dirs/Cargo.toml
  crates/turborepo-env/Cargo.toml
  crates/turborepo-errors/Cargo.toml
  crates/turborepo-filewatch/Cargo.toml
  crates/turborepo-fs/Cargo.toml
  crates/turborepo-globwalk/Cargo.toml
  crates/turborepo-graph-utils/Cargo.toml
  crates/turborepo-lib/Cargo.toml
  crates/turborepo-lockfiles/Cargo.toml
  crates/turborepo-lsp/Cargo.toml
  crates/turborepo-paths/Cargo.toml
  crates/turborepo-repository/Cargo.toml
  crates/turborepo-scm/Cargo.toml
  crates/turborepo-telemetry/Cargo.toml
  crates/turborepo-ui/Cargo.toml
  crates/turborepo-updater/Cargo.toml
  crates/turborepo-vercel-api-mock/Cargo.toml
  crates/turborepo-vercel-api/Cargo.toml
  crates/turborepo/Cargo.toml
  packages/create-turbo/LICENSE
  packages/create-turbo/package.json
  packages/eslint-config-turbo/LICENSE
  packages/eslint-config-turbo/package.json
  packages/eslint-plugin-turbo/LICENSE
  packages/eslint-plugin-turbo/package.json
  packages/turbo-codemod/LICENSE
  packages/turbo-codemod/package.json
  packages/turbo-gen/LICENSE
  packages/turbo-gen/package.json
  packages/turbo-ignore/package.json
  packages/turbo-repository/js/package.json
  packages/turbo-repository/npm/darwin-arm64/package.json
  packages/turbo-repository/npm/darwin-x64/package.json
  packages/turbo-repository/npm/linux-arm64-gnu/package.json
  packages/turbo-repository/npm/linux-arm64-musl/package.json
  packages/turbo-repository/npm/linux-x64-gnu/package.json
  packages/turbo-repository/npm/linux-x64-musl/package.json
  packages/turbo-repository/npm/win32-arm64-msvc/package.json
  packages/turbo-repository/npm/win32-x64-msvc/package.json
  packages/turbo-repository/package.json
  packages/turbo-repository/rust/Cargo.toml
  packages/turbo-telemetry/LICENSE
  packages/turbo-telemetry/package.json
  packages/turbo-test-utils/package.json
  packages/turbo-types/package.json
  packages/turbo-utils/LICENSE
  packages/turbo-utils/package.json
  packages/turbo-vsc/LICENSE
  packages/turbo-vsc/package.json
  packages/turbo-workspaces/LICENSE
  packages/turbo-workspaces/package.json
  packages/turbo/package.json
Labels: pkg: create-turbo, pkg: turbo-ignore, pkg: turbo-eslint, pkg: turbo-codemod, pkg: turbo-gen, pkg: turbo-workspaces, owned-by: turborepo, owned-by: turbopack, created-by: turborepo, pkg: turbo-repository, pkg: turbo-telemetry

#8195 feat: Remove lint for `grid-template-areas`
  crates/turbopack-css/src/process.rs
Labels: owned-by: turbopack, created-by: turbopack

#8186 feat(codemod): add missing package names
  packages/turbo-codemod/__tests__/__fixtures__/add-package-names/correct-names/package.json
  packages/turbo-codemod/__tests__/__fixtures__/add-package-names/correct-names/packages/ui/package.json
  packages/turbo-codemod/__tests__/__fixtures__/add-package-names/correct-names/packages/utils/package.json
  packages/turbo-codemod/__tests__/__fixtures__/add-package-names/duplicate-names/package.json
  packages/turbo-codemod/__tests__/__fixtures__/add-package-names/duplicate-names/packages/apps/docs/package.json
  packages/turbo-codemod/__tests__/__fixtures__/add-package-names/duplicate-names/packages/apps/web/package.json
  packages/turbo-codemod/__tests__/__fixtures__/add-package-names/duplicate-names/packages/ui/package.json
  packages/turbo-codemod/__tests__/__fixtures__/add-package-names/duplicate-names/packages/utils/package.json
  packages/turbo-codemod/__tests__/__fixtures__/add-package-names/missing-names/package.json
  packages/turbo-codemod/__tests__/__fixtures__/add-package-names/missing-names/packages/ui/package.json
  packages/turbo-codemod/__tests__/__fixtures__/add-package-names/missing-names/packages/utils/package.json
  packages/turbo-codemod/__tests__/add-package-names.test.ts
  packages/turbo-codemod/__tests__/generate-package-name.test.ts
  packages/turbo-codemod/src/cli.ts
  packages/turbo-codemod/src/transforms/add-package-manager.ts
  packages/turbo-codemod/src/transforms/add-package-names.ts
  packages/turbo-codemod/src/transforms/clean-globs.ts
  packages/turbo-codemod/src/transforms/create-turbo-config.ts
  packages/turbo-codemod/src/transforms/migrate-env-var-dependencies.ts
  packages/turbo-codemod/src/transforms/rename-output-mode.ts
  packages/turbo-codemod/src/transforms/set-default-outputs.ts
  packages/turbo-codemod/src/transforms/stabilize-env-mode.ts
  packages/turbo-codemod/src/transforms/transform-env-literals-to-wildcards.ts
  packages/turbo-codemod/turbo/generators/templates/transformer.hbs
Labels: pkg: turbo-codemod, owned-by: turborepo, created-by: turborepo

#8201 chore: remove --ignore flag
  crates/turborepo-lib/src/cli/mod.rs
  crates/turborepo-lib/src/opts.rs
  crates/turborepo-lib/src/run/scope/filter.rs
  turborepo-tests/integration/tests/conflicting-flags.t
  turborepo-tests/integration/tests/no-args.t
  turborepo-tests/integration/tests/turbo-help.t
Labels: owned-by: turborepo, created-by: turborepo

#8202 feat: all dependencies of root package contribute to global hash
  crates/turborepo-lib/src/hash/mod.rs
  crates/turborepo-lib/src/hash/proto.capnp
  crates/turborepo-lib/src/run/global_hash.rs
  crates/turborepo-lib/src/run/mod.rs
  crates/turborepo-lib/src/run/summary/global_hash.rs
  crates/turborepo-lib/src/task_hash.rs
  crates/turborepo-repository/src/package_graph/mod.rs
  turborepo-tests/integration/fixtures/root_deps/.gitignore
  turborepo-tests/integration/fixtures/root_deps/apps/my-app/package.json
  turborepo-tests/integration/fixtures/root_deps/package.json
  turborepo-tests/integration/fixtures/root_deps/packages/another/package.json
  turborepo-tests/integration/fixtures/root_deps/packages/util/package.json
  turborepo-tests/integration/fixtures/root_deps/turbo.json
  turborepo-tests/integration/tests/dry-json/monorepo.t
  turborepo-tests/integration/tests/dry-json/single-package-no-config.t
  turborepo-tests/integration/tests/dry-json/single-package-with-deps.t
  turborepo-tests/integration/tests/dry-json/single-package.t
  turborepo-tests/integration/tests/dry-run.t
  turborepo-tests/integration/tests/edit-turbo-json/task.t
  turborepo-tests/integration/tests/global-deps.t
  turborepo-tests/integration/tests/global-env.t
  turborepo-tests/integration/tests/persistent-dependencies/6-topological-unimplemented.t
  turborepo-tests/integration/tests/pkg-inference.t
  turborepo-tests/integration/tests/prune/composable-config.t
  turborepo-tests/integration/tests/run-caching/excluded-inputs/excluded-inputs.t
  turborepo-tests/integration/tests/run-caching/root-deps.t
  turborepo-tests/integration/tests/run-logging/errors-only.t
  turborepo-tests/integration/tests/run-logging/log-order-github.t
  turborepo-tests/integration/tests/run-logging/log-prefix.t
  turborepo-tests/integration/tests/run-logging/verbosity.t
  turborepo-tests/integration/tests/run-summary/discovery.t
  turborepo-tests/integration/tests/run-summary/error.t
  turborepo-tests/integration/tests/run/continue.t
  turborepo-tests/integration/tests/run/force.t
  turborepo-tests/integration/tests/run/gitignored-inputs.t
  turborepo-tests/integration/tests/run/globs.t
  turborepo-tests/integration/tests/run/one-script-error.t
  turborepo-tests/integration/tests/run/single-package/dry-run.t
  turborepo-tests/integration/tests/run/single-package/no-config.t
  turborepo-tests/integration/tests/run/single-package/run-yarn.t
  turborepo-tests/integration/tests/run/single-package/run.t
  turborepo-tests/integration/tests/run/single-package/with-deps-dry-run.t
  turborepo-tests/integration/tests/run/single-package/with-deps-run.t
  turborepo-tests/integration/tests/task-dependencies/overwriting.t
  turborepo-tests/integration/tests/task-dependencies/root-workspace.t
  turborepo-tests/integration/tests/task-dependencies/topological.t
  turborepo-tests/integration/tests/workspace-configs/add-keys.t
  turborepo-tests/integration/tests/workspace-configs/add-tasks.t
  turborepo-tests/integration/tests/workspace-configs/cache.t
  turborepo-tests/integration/tests/workspace-configs/config-change.t
  turborepo-tests/integration/tests/workspace-configs/cross-workspace.t
  turborepo-tests/integration/tests/workspace-configs/missing-workspace-config-deps.t
  turborepo-tests/integration/tests/workspace-configs/missing-workspace-config.t
  turborepo-tests/integration/tests/workspace-configs/omit-keys-deps.t
  turborepo-tests/integration/tests/workspace-configs/omit-keys.t
  turborepo-tests/integration/tests/workspace-configs/override-values-deps.t
  turborepo-tests/integration/tests/workspace-configs/override-values.t
  turborepo-tests/integration/tests/workspace-configs/persistent.t
Labels: owned-by: turborepo, created-by: turborepo

#8207 chore: Remove unused `base16` dependency and dead `hex` wrapper function
  Cargo.lock
  crates/turbo-tasks-hash/Cargo.toml
  crates/turbo-tasks-hash/src/base16.rs
  crates/turbo-tasks-hash/src/hex.rs
  crates/turbo-tasks-hash/src/lib.rs
  deny.toml
Labels: owned-by: turborepo, owned-by: turbopack, created-by: turbopack

#8185 Update contributing guide to mention snapshot test updating
  CONTRIBUTING.md
Labels: needs: triage, owned-by: turborepo, owned-by: turbopack

#8211 Add option for inlining typeof window
  crates/turbopack-ecmascript/Cargo.toml
  crates/turbopack-ecmascript/src/transform/mod.rs
  crates/turbopack/src/module_options/mod.rs
  crates/turbopack/src/module_options/module_options_context.rs
Labels: needs: triage, owned-by: turbopack

#8214 Revert "Turbopack: Register react refresh exports in module factory (#8191)"
  crates/turbopack-ecmascript-runtime/js/src/dev/runtime/base/runtime-base.ts
  crates/turbopack-ecmascript/src/chunk/item.rs
  crates/turbopack-ecmascript/src/transform/mod.rs
  crates/turbopack-tests/tests/snapshot/runtime/default_dev_runtime/output/79fb1_turbopack-tests_tests_snapshot_runtime_default_dev_runtime_input_index_40d141.js
  crates/turbopack-tests/tests/snapshot/runtime/default_dev_runtime/output/79fb1_turbopack-tests_tests_snapshot_runtime_default_dev_runtime_input_index_40d141.js.map
Labels: owned-by: turbopack, created-by: turbopack

#8212 Fix typo in Turborepo task-graph documentation
  docs/pages/repo/docs/core-concepts/monorepos/task-graph.mdx
Labels: area: docs, needs: triage, owned-by: turborepo

#8224 fix: remove unused package manager argument parameter
  packages/create-turbo/__tests__/index.test.ts
  packages/create-turbo/src/commands/create/index.ts
Labels: pkg: create-turbo, owned-by: turborepo, created-by: turborepo

#8233 chore(@turbo/benchmark): fix lint warnings
  packages/turbo-benchmark/src/generate.mjs
Labels: owned-by: turborepo, created-by: turborepo

#8229 chore(turborepo): Feature flagged off file hashing
  crates/turborepo-lib/Cargo.toml
  crates/turborepo-lib/src/task_hash.rs
  crates/turborepo/Cargo.toml
Labels: owned-by: turborepo, created-by: turborepo

#8210 Turbopack HMR: Avoid infinite loops caused by cycles between modules in the dependency chain.
  crates/turbopack-ecmascript-runtime/js/src/dev/runtime/base/runtime-base.ts
  crates/turbopack-tests/tests/snapshot/runtime/default_dev_runtime/output/79fb1_turbopack-tests_tests_snapshot_runtime_default_dev_runtime_input_index_40d141.js
  crates/turbopack-tests/tests/snapshot/runtime/default_dev_runtime/output/79fb1_turbopack-tests_tests_snapshot_runtime_default_dev_runtime_input_index_40d141.js.map
Labels: owned-by: turbopack, created-by: turbopack

#8236 chore: pin node version to 18.20.2
  .github/workflows/turborepo-test.yml
Labels: area: ci, owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#8242 chore: downgrade curl to fix Windows rust tests
  Cargo.lock
Labels: created-by: turborepo

#8235 chore: override bad api url on ubuntu runners
  .github/workflows/turborepo-test.yml
Labels: area: ci, owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#8244 fix(turborepo): Remove optional git locks
  crates/turborepo-scm/src/git.rs
  crates/turborepo-scm/src/ls_tree.rs
  crates/turborepo-scm/src/status.rs
Labels: owned-by: turborepo, created-by: turborepo

#8245 feat: enable UI by default
  crates/turborepo-lib/src/config.rs
Labels: owned-by: turborepo, created-by: turborepo

#8237 Reapply "Turbopack: Register react refresh exports in module factory (#8191)" (#8214)
  crates/turbopack-ecmascript-runtime/js/src/dev/runtime/base/runtime-base.ts
  crates/turbopack-ecmascript/src/chunk/item.rs
  crates/turbopack-ecmascript/src/transform/mod.rs
  crates/turbopack-tests/tests/snapshot/runtime/default_dev_runtime/output/79fb1_turbopack-tests_tests_snapshot_runtime_default_dev_runtime_input_index_40d141.js
  crates/turbopack-tests/tests/snapshot/runtime/default_dev_runtime/output/79fb1_turbopack-tests_tests_snapshot_runtime_default_dev_runtime_input_index_40d141.js.map
Labels: owned-by: turbopack, created-by: turbopack

#8173 feat: factor engines into global cache key
  crates/turborepo-lib/src/hash/mod.rs
  crates/turborepo-lib/src/hash/proto.capnp
  crates/turborepo-lib/src/run/global_hash.rs
  crates/turborepo-lib/src/run/mod.rs
  crates/turborepo-lib/src/run/summary/global_hash.rs
  crates/turborepo-lib/src/run/summary/mod.rs
  crates/turborepo-repository/src/package_json.rs
  turborepo-tests/integration/tests/dry-json/monorepo.t
  turborepo-tests/integration/tests/dry-json/single-package-no-config.t
  turborepo-tests/integration/tests/dry-json/single-package-with-deps.t
  turborepo-tests/integration/tests/dry-json/single-package.t
  turborepo-tests/integration/tests/dry-run.t
  turborepo-tests/integration/tests/edit-turbo-json/task.t
  turborepo-tests/integration/tests/engines.t
  turborepo-tests/integration/tests/global-deps.t
  turborepo-tests/integration/tests/global-env.t
  turborepo-tests/integration/tests/persistent-dependencies/6-topological-unimplemented.t
  turborepo-tests/integration/tests/pkg-inference.t
  turborepo-tests/integration/tests/prune/composable-config.t
  turborepo-tests/integration/tests/run-caching/excluded-inputs/excluded-inputs.t
  turborepo-tests/integration/tests/run-caching/root-deps.t
  turborepo-tests/integration/tests/run-logging/errors-only.t
  turborepo-tests/integration/tests/run-logging/log-order-github.t
  turborepo-tests/integration/tests/run-logging/log-prefix.t
  turborepo-tests/integration/tests/run-logging/verbosity.t
  turborepo-tests/integration/tests/run-summary/discovery.t
  turborepo-tests/integration/tests/run-summary/error.t
  turborepo-tests/integration/tests/run/continue.t
  turborepo-tests/integration/tests/run/force.t
  turborepo-tests/integration/tests/run/gitignored-inputs.t
  turborepo-tests/integration/tests/run/globs.t
  turborepo-tests/integration/tests/run/one-script-error.t
  turborepo-tests/integration/tests/run/single-package/dry-run.t
  turborepo-tests/integration/tests/run/single-package/no-config.t
  turborepo-tests/integration/tests/run/single-package/run-yarn.t
  turborepo-tests/integration/tests/run/single-package/run.t
  turborepo-tests/integration/tests/run/single-package/with-deps-dry-run.t
  turborepo-tests/integration/tests/run/single-package/with-deps-run.t
  turborepo-tests/integration/tests/task-dependencies/overwriting.t
  turborepo-tests/integration/tests/task-dependencies/root-workspace.t
  turborepo-tests/integration/tests/task-dependencies/topological.t
  turborepo-tests/integration/tests/workspace-configs/add-keys.t
  turborepo-tests/integration/tests/workspace-configs/add-tasks.t
  turborepo-tests/integration/tests/workspace-configs/cache.t
  turborepo-tests/integration/tests/workspace-configs/config-change.t
  turborepo-tests/integration/tests/workspace-configs/cross-workspace.t
  turborepo-tests/integration/tests/workspace-configs/missing-workspace-config-deps.t
  turborepo-tests/integration/tests/workspace-configs/missing-workspace-config.t
  turborepo-tests/integration/tests/workspace-configs/omit-keys-deps.t
  turborepo-tests/integration/tests/workspace-configs/omit-keys.t
  turborepo-tests/integration/tests/workspace-configs/override-values-deps.t
  turborepo-tests/integration/tests/workspace-configs/override-values.t
  turborepo-tests/integration/tests/workspace-configs/persistent.t
Labels: owned-by: turborepo, created-by: turborepo

#8248 feat(turborepo): Migrate dot env codemod
  packages/turbo-codemod/__tests__/__fixtures__/migrate-dot-env/no-dot-env/package.json
  packages/turbo-codemod/__tests__/__fixtures__/migrate-dot-env/no-dot-env/turbo.json
  packages/turbo-codemod/__tests__/__fixtures__/migrate-dot-env/no-pipeline/package.json
  packages/turbo-codemod/__tests__/__fixtures__/migrate-dot-env/no-pipeline/turbo.json
  packages/turbo-codemod/__tests__/__fixtures__/migrate-dot-env/no-turbo-json/package.json
  packages/turbo-codemod/__tests__/__fixtures__/migrate-dot-env/with-dot-env/package.json
  packages/turbo-codemod/__tests__/__fixtures__/migrate-dot-env/with-dot-env/turbo.json
  packages/turbo-codemod/__tests__/__fixtures__/migrate-dot-env/workspace-configs/apps/docs/index.js
  packages/turbo-codemod/__tests__/__fixtures__/migrate-dot-env/workspace-configs/apps/docs/package.json
  packages/turbo-codemod/__tests__/__fixtures__/migrate-dot-env/workspace-configs/apps/docs/turbo.json
  packages/turbo-codemod/__tests__/__fixtures__/migrate-dot-env/workspace-configs/apps/web/index.js
  packages/turbo-codemod/__tests__/__fixtures__/migrate-dot-env/workspace-configs/apps/web/package.json
  packages/turbo-codemod/__tests__/__fixtures__/migrate-dot-env/workspace-configs/apps/web/turbo.json
  packages/turbo-codemod/__tests__/__fixtures__/migrate-dot-env/workspace-configs/package.json
  packages/turbo-codemod/__tests__/__fixtures__/migrate-dot-env/workspace-configs/packages/ui/index.js
  packages/turbo-codemod/__tests__/__fixtures__/migrate-dot-env/workspace-configs/packages/ui/package.json
  packages/turbo-codemod/__tests__/__fixtures__/migrate-dot-env/workspace-configs/packages/ui/turbo.json
  packages/turbo-codemod/__tests__/__fixtures__/migrate-dot-env/workspace-configs/turbo.json
  packages/turbo-codemod/__tests__/migrate-dot-env.test.ts
  packages/turbo-codemod/src/transforms/migrate-dot-env.ts
Labels: pkg: turbo-codemod, owned-by: turborepo, created-by: turborepo

#8254 chore: stabilize ui
  crates/turborepo-lib/src/cli/mod.rs
  crates/turborepo-lib/src/commands/mod.rs
  crates/turborepo-lib/src/config.rs
  crates/turborepo-lib/src/run/builder.rs
  crates/turborepo-lib/src/turbo_json/mod.rs
Labels: owned-by: turborepo, created-by: turborepo

#8258 chore: migrate dot-env migration to support latest schema
  packages/turbo-codemod/__tests__/__fixtures__/migrate-dot-env/no-dot-env/turbo.json
  packages/turbo-codemod/__tests__/__fixtures__/migrate-dot-env/no-pipeline/turbo.json
  packages/turbo-codemod/__tests__/__fixtures__/migrate-dot-env/with-dot-env/turbo.json
  packages/turbo-codemod/__tests__/__fixtures__/migrate-dot-env/workspace-configs/apps/docs/turbo.json
  packages/turbo-codemod/__tests__/__fixtures__/migrate-dot-env/workspace-configs/apps/web/turbo.json
  packages/turbo-codemod/__tests__/__fixtures__/migrate-dot-env/workspace-configs/packages/ui/turbo.json
  packages/turbo-codemod/__tests__/__fixtures__/migrate-dot-env/workspace-configs/turbo.json
  packages/turbo-codemod/__tests__/migrate-dot-env.test.ts
  packages/turbo-codemod/src/transforms/migrate-dot-env.ts
Labels: pkg: turbo-codemod, owned-by: turborepo, created-by: turborepo

#8259 chore: remove ui config
  turbo.json
Labels: owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#8260 feat(codemod): add logic for major version bump
  packages/turbo-codemod/__tests__/__fixtures__/migrate/turbo-1/package.json
  packages/turbo-codemod/__tests__/__fixtures__/migrate/turbo-1/turbo.json
  packages/turbo-codemod/__tests__/migrate.test.ts
  packages/turbo-codemod/src/commands/migrate/steps/getTransformsForMigration.ts
  packages/turbo-codemod/src/transforms/add-package-names.ts
  packages/turbo-codemod/src/transforms/migrate-dot-env.ts
  packages/turbo-codemod/src/transforms/rename-output-mode.ts
  packages/turbo-codemod/src/transforms/rename-pipeline.ts
  packages/turbo-codemod/src/transforms/set-default-outputs.ts
  packages/turbo-codemod/src/transforms/stabilize-ui.ts
  packages/turbo-codemod/src/types.ts
  packages/turbo-utils/src/getTurboConfigs.ts
  packages/turbo-utils/src/index.ts
Labels: pkg: turbo-codemod, owned-by: turborepo, created-by: turborepo

#8264 chore(turborepo): adjust error message for pipeline
  crates/turborepo-lib/src/config.rs
Labels: owned-by: turborepo, created-by: turborepo

#8265 fix(ui): ensure prelude gets printed before ui starts
  crates/turborepo-lib/src/run/mod.rs
  crates/turborepo-ui/src/tui/app.rs
Labels: owned-by: turborepo, created-by: turborepo

#8268 feat(codemod): place tasks last in turbo.json rewrites
  packages/turbo-codemod/src/transforms/rename-pipeline.ts
Labels: pkg: turbo-codemod, owned-by: turborepo, created-by: turborepo

#8251 Use rust-lld for Windows on arm64
  .cargo/config.toml
Labels: owned-by: turborepo, owned-by: turbopack, created-by: turbopack
