Repository vercel/turborepo, pull requests merged in 2024-04, with the labels that each got.

#7869 (docs): refer to correct Github Actions cache version as described in example
  docs/pages/repo/docs/ci/github-actions.mdx
Labels: area: docs, owned-by: turborepo

#7876 chore(telemetry): track dot env usage
  crates/turborepo-lib/src/engine/mod.rs
  crates/turborepo-lib/src/run/builder.rs
  crates/turborepo-lib/src/turbo_json/mod.rs
  crates/turborepo-telemetry/src/events/generic.rs
Labels: owned-by: turborepo, created-by: turborepo

#7873 Docs: Fix heading
  docs/pages/repo/docs/handbook/tools/prisma.mdx
Labels: area: docs, owned-by: turborepo

#7872 Update TS module resolutions in examples.
  Cargo.lock
  examples/kitchen-sink/packages/config-typescript/remix.json
  examples/with-changesets/apps/docs/package.json
  examples/with-changesets/packages/acme-tsconfig/base.json
  examples/with-changesets/packages/acme-tsconfig/nextjs.json
  examples/with-changesets/packages/acme-tsconfig/react-library.json
  examples/with-changesets/pnpm-lock.yaml
Labels: area: examples, owned-by: turborepo, created-by: turborepo

#7881 fix(telemetry): support bad init
  packages/create-turbo/src/commands/create/index.ts
  packages/create-turbo/src/commands/create/types.ts
  packages/turbo-telemetry/src/config.test.ts
  packages/turbo-telemetry/src/config.ts
  packages/turbo-telemetry/src/init.ts
Labels: pkg: create-turbo, owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#7883 feat(telemetry): add new package to configs
  .github/CODEOWNERS
  .github/turbo-orchestrator.yml
  .github/turborepo-release.yml
Labels: owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#7654 feat(Turborepo): Flag on daemon package discovery
  crates/turborepo-filewatch/src/package_watcher.rs
  crates/turborepo-lib/Cargo.toml
  crates/turborepo/Cargo.toml
Labels: owned-by: turborepo, created-by: turborepo

#7866 chore(ui): upgrade tui-term
  Cargo.lock
  Cargo.toml
Labels: owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#7886 fix(filter): dependencies filter should match transitive deps
  crates/turborepo-lib/src/run/scope/filter.rs
Labels: owned-by: turborepo, created-by: turborepo

#7901 fix(Turborepo): Disable the new corepack notification
  turborepo-tests/integration/package.json
Labels: owned-by: turborepo, created-by: turborepo

#7570 feat(turborepo): Package Change Watching
  Cargo.lock
  crates/turborepo-lib/Cargo.toml
  crates/turborepo-lib/src/cli/mod.rs
  crates/turborepo-lib/src/commands/daemon.rs
  crates/turborepo-lib/src/commands/mod.rs
  crates/turborepo-lib/src/commands/run.rs
  crates/turborepo-lib/src/daemon/client.rs
  crates/turborepo-lib/src/daemon/connector.rs
  crates/turborepo-lib/src/daemon/proto/turbod.proto
  crates/turborepo-lib/src/daemon/server.rs
  crates/turborepo-lib/src/lib.rs
  crates/turborepo-lib/src/package_changes_watcher.rs
  crates/turborepo-lib/src/run/builder.rs
  crates/turborepo-lib/src/run/error.rs
  crates/turborepo-lib/src/run/mod.rs
  crates/turborepo-lib/src/run/scope/change_detector.rs
  crates/turborepo-lib/src/run/scope/filter.rs
  crates/turborepo-lib/src/run/watch.rs
  crates/turborepo-paths/src/anchored_system_path.rs
  crates/turborepo-repository/src/change_mapper/mod.rs
  docs/public/schema.json
Labels: area: site, owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#7874 chore: Bump nightly version
  .github/workflows/test.yml
  Cargo.lock
  Cargo.toml
  crates/turbo-tasks-fs/src/attach.rs
  crates/turbo-tasks-fs/src/glob.rs
  crates/turbo-tasks-fs/src/lib.rs
  crates/turbo-tasks-fs/src/retry.rs
  crates/turbo-tasks-macros-shared/src/expand.rs
  crates/turbo-tasks-macros-tests/tests/value_debug.rs
  crates/turbo-tasks-memory/src/memory_backend.rs
  crates/turbo-tasks-memory/src/task.rs
  crates/turbo-tasks-memory/src/task/meta_state.rs
  crates/turbo-tasks-signposter/src/log.rs
  crates/turbo-tasks/src/magic_any.rs
  crates/turbo-tasks/src/manager.rs
  crates/turbo-tasks/src/task/concrete_task_input.rs
  crates/turbo-tasks/src/task/task_input.rs
  crates/turbopack-browser/src/ecmascript/list/asset.rs
  crates/turbopack-core/src/chunk/containment_tree.rs
  crates/turbopack-core/src/ident.rs
  crates/turbopack-core/src/issue/mod.rs
  crates/turbopack-core/src/resolve/mod.rs
  crates/turbopack-core/src/resolve/options.rs
  crates/turbopack-core/src/resolve/pattern.rs
  crates/turbopack-dev-server/src/http.rs
  crates/turbopack-dev-server/src/lib.rs
  crates/turbopack-dev-server/src/source/mod.rs
  crates/turbopack-dev-server/src/source/route_tree.rs
  crates/turbopack-dev-server/src/update/stream.rs
  crates/turbopack-ecmascript-plugins/src/transform/styled_components.rs
  crates/turbopack-ecmascript/src/analyzer/graph.rs
  crates/turbopack-ecmascript/src/analyzer/mod.rs
  crates/turbopack-ecmascript/src/lib.rs
  crates/turbopack-ecmascript/src/tree_shake/graph.rs
  crates/turbopack-image/src/process/mod.rs
  crates/turbopack-node/src/render/rendered_source.rs
  crates/turbopack-node/src/transforms/webpack.rs
  crates/turbopack-resolve/src/node_native_binding.rs
  crates/turbopack-trace-server/src/span_graph_ref.rs
  crates/turbopack-trace-server/src/span_ref.rs
  crates/turborepo-env/src/lib.rs
  crates/turborepo-filewatch/src/lib.rs
  crates/turborepo-lib/src/engine/builder.rs
  crates/turborepo-lib/src/run/scope/filter.rs
  crates/turborepo-lib/src/unescape.rs
  crates/turborepo-lockfiles/Cargo.toml
  crates/turborepo-lsp/src/lib.rs
  crates/turborepo-pidlock/src/lib.rs
  crates/turborepo-telemetry/src/config.rs
  crates/turborepo-vt100/src/lib.rs
  crates/turborepo-wax/src/walk/mod.rs
  rust-toolchain
  xtask/src/command.rs
  xtask/src/publish.rs
  xtask/src/summarize_bench/mod.rs
Labels: area: ci, owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#7891 feat(telemetry): defensive config loading
  packages/turbo-telemetry/package.json
  packages/turbo-telemetry/src/cli.ts
  packages/turbo-telemetry/src/client.ts
  packages/turbo-telemetry/src/config.test.ts
  packages/turbo-telemetry/src/config.ts
  pnpm-lock.yaml
Labels: owned-by: turborepo, created-by: turborepo, pkg: turbo-telemetry

#7897 feat(turbo-ignore): usage metrics
  packages/create-turbo/package.json
  packages/turbo-ignore/__tests__/ignore.test.ts
  packages/turbo-ignore/package.json
  packages/turbo-ignore/src/cli.ts
  packages/turbo-ignore/src/ignore.ts
  packages/turbo-ignore/src/types.ts
  packages/turbo-telemetry/package.json
  packages/turbo-telemetry/src/client.ts
  packages/turbo-telemetry/src/events/create-turbo.ts
  packages/turbo-telemetry/src/events/turbo-ignore.ts
  packages/turbo-telemetry/src/index.ts
  pnpm-lock.yaml
Labels: pkg: create-turbo, pkg: turbo-ignore, owned-by: turborepo, created-by: turborepo, pkg: turbo-telemetry

#7912 fix edge condition in environment
  crates/turbopack-core/src/environment.rs
Labels: owned-by: turbopack, created-by: turbopack

#7913 fix typo in dev script of a kitchen-sink's package
  examples/kitchen-sink/packages/logger/package.json
Labels: area: examples, owned-by: turborepo

#7771 feat(turbopack): Handle fragment in requests
  crates/turbopack-cli/src/build/mod.rs
  crates/turbopack-cli/src/dev/mod.rs
  crates/turbopack-core/src/resolve/mod.rs
  crates/turbopack-core/src/resolve/parse.rs
  crates/turbopack-css/src/references/import.rs
  crates/turbopack-ecmascript/src/references/typescript.rs
  crates/turbopack-ecmascript/src/typescript/mod.rs
  crates/turbopack-resolve/src/typescript.rs
Labels: owned-by: turbopack, created-by: turbopack

#7916 Remove pnpm plugin in Gatsby example.
  examples/with-gatsby/apps/docs/package.json
  examples/with-gatsby/apps/web/gatsby-config.ts
  examples/with-gatsby/apps/web/package.json
  examples/with-gatsby/package.json
  examples/with-gatsby/packages/eslint-config/package.json
  examples/with-gatsby/packages/ui/package.json
  examples/with-gatsby/pnpm-lock.yaml
Labels: area: examples, owned-by: turborepo, created-by: turborepo

#7918 Revert "feat(turbopack): Handle fragment in requests"
  crates/turbopack-cli/src/build/mod.rs
  crates/turbopack-cli/src/dev/mod.rs
  crates/turbopack-core/src/resolve/mod.rs
  crates/turbopack-core/src/resolve/parse.rs
  crates/turbopack-css/src/references/import.rs
  crates/turbopack-ecmascript/src/references/typescript.rs
  crates/turbopack-ecmascript/src/typescript/mod.rs
  crates/turbopack-resolve/src/typescript.rs
Labels: owned-by: turbopack, created-by: turbopack

#7929 Remove environment variables page from Turbopack docs
  docs/pages/pack/docs/features/_meta.json
  docs/pages/pack/docs/features/environment-variables.mdx
Labels: area: docs, area: site, owned-by: turbopack

#7926 Remove outdated section
  docs/pages/pack/docs/core-concepts.mdx
Labels: area: docs, owned-by: turbopack

#7925 Update Turbopack CSS docs
  docs/pages/pack/docs/features/css.mdx
Labels: area: docs, owned-by: turbopack

#7928 Update Next.js mention in Turbopack docs
  docs/pages/pack/docs/features/frameworks.mdx
  docs/pages/pack/docs/features/static-assets.mdx
Labels: area: docs, owned-by: turbopack

#7856 build: Update `swc_core` to `v0.90.29`
  Cargo.lock
  Cargo.toml
  crates/turbopack-core/src/source_map/mod.rs
  crates/turbopack-css/src/process.rs
  crates/turbopack-tests/tests/snapshot/emotion/emotion/output/crates_turbopack-tests_tests_snapshot_b36339._.js
Labels: owned-by: turborepo, owned-by: turbopack, created-by: turbopack

#7938 Revert "build: Update `swc_core` to `v0.90.30`"
  Cargo.lock
  Cargo.toml
  crates/turbopack-core/src/source_map/mod.rs
  crates/turbopack-css/src/process.rs
  crates/turbopack-tests/tests/snapshot/emotion/emotion/output/crates_turbopack-tests_tests_snapshot_b36339._.js
Labels: owned-by: turborepo, owned-by: turbopack, created-by: turbopack

#7932 Add Ben's handle to orchestrator so `created-by` label is applied correctly
  .github/turbo-orchestrator.yml
Labels: owned-by: turborepo, owned-by: turbopack, created-by: turbopack

#7742 feat(turbopack-ecmascript): cache external modules with wrapper
  crates/turbopack-core/src/resolve/mod.rs
  crates/turbopack-ecmascript/src/chunk/chunk_type.rs
  crates/turbopack-ecmascript/src/references/async_module.rs
  crates/turbopack-ecmascript/src/references/esm/base.rs
  crates/turbopack-ecmascript/src/references/esm/url.rs
  crates/turbopack-ecmascript/src/references/external_module.rs
  crates/turbopack-ecmascript/src/references/mod.rs
  crates/turbopack-ecmascript/src/references/pattern_mapping.rs
  crates/turbopack-ecmascript/src/side_effect_optimization/facade/module.rs
  crates/turbopack-resolve/src/typescript.rs
  crates/turbopack/src/lib.rs
Labels: owned-by: turbopack, created-by: turbopack

#7911 feat: use @repo/ pattern in `math-helpers` example, consistent with "getting started" and starter repo
  docs/pages/repo/docs/handbook/sharing-code/internal-packages.mdx
Labels: area: docs, owned-by: turborepo

#7944 Update lockfile for compatibility with next.js
  Cargo.lock
Labels: created-by: turbopack

#7695 change init script of storybook
  docs/pages/repo/docs/handbook/tools/storybook.mdx
Labels: area: docs, owned-by: turborepo

#7936 fix panic when searching an the root span
  crates/turbopack-trace-server/src/span_ref.rs
  crates/turbopack-trace-server/src/viewer.rs
Labels: owned-by: turbopack, created-by: turbopack

#7959 fix missing async loader
  crates/turbopack-core/src/chunk/mod.rs
  crates/turbopack-ecmascript/src/async_chunk/chunk_item.rs
  crates/turbopack-ecmascript/src/manifest/chunk_asset.rs
  crates/turbopack-tests/tests/execution/turbopack/chunking/dynamic-import-already-available/input/a.js
  crates/turbopack-tests/tests/execution/turbopack/chunking/dynamic-import-already-available/input/b.js
  crates/turbopack-tests/tests/execution/turbopack/chunking/dynamic-import-already-available/input/index.js
  crates/turbopack-tests/tests/snapshot/css/css-modules/output/79fb1_turbopack-tests_tests_snapshot_css_css-modules_input_style_module_css_21e90d._.js
  crates/turbopack-tests/tests/snapshot/css/css-modules/output/79fb1_turbopack-tests_tests_snapshot_css_css-modules_input_style_module_css_21e90d._.js.map
  crates/turbopack-tests/tests/snapshot/css/css-modules/output/79fb1_turbopack-tests_tests_snapshot_css_css-modules_input_style_module_css_32764e._.js
  crates/turbopack-tests/tests/snapshot/css/css-modules/output/79fb1_turbopack-tests_tests_snapshot_css_css-modules_input_style_module_css_5ba3b5._.js
  crates/turbopack-tests/tests/snapshot/css/css/output/8697f_foo_style_a69df0.css
  crates/turbopack-tests/tests/snapshot/css/css/output/8697f_foo_style_a69df0.css.map
  crates/turbopack-tests/tests/snapshot/css/css/output/8697f_foo_style_css_01e50f._.js
  crates/turbopack-tests/tests/snapshot/css/css/output/8697f_foo_style_css_81e217._.js
  crates/turbopack-tests/tests/snapshot/imports/static-and-dynamic/output/a587c_tests_snapshot_imports_static-and-dynamic_input_vercel_mjs_2c23f8._.js
  crates/turbopack-tests/tests/snapshot/imports/static-and-dynamic/output/a587c_tests_snapshot_imports_static-and-dynamic_input_vercel_mjs_2c23f8._.js.map
  crates/turbopack-tests/tests/snapshot/imports/static-and-dynamic/output/a587c_tests_snapshot_imports_static-and-dynamic_input_vercel_mjs_aa3704._.js
  crates/turbopack-tests/tests/snapshot/imports/static-and-dynamic/output/a587c_tests_snapshot_imports_static-and-dynamic_input_vercel_mjs_d426d2._.js
Labels: owned-by: turbopack, created-by: turbopack

#7867 fix(ui): avoid rendering area more than u16::MAX
  crates/turborepo-ui/src/tui/pane.rs
  crates/turborepo-vt100/src/entire_screen.rs
  crates/turborepo-vt100/src/parser.rs
Labels: owned-by: turborepo, created-by: turborepo

#7961 fix external module
  crates/turbopack-ecmascript/src/references/external_module.rs
Labels: owned-by: turbopack, created-by: turbopack

#7875 refactor(turborepo): Bumping biome crates and moving to derive for deserialize
  Cargo.lock
  Cargo.toml
  crates/turborepo-errors/src/lib.rs
  crates/turborepo-lib/Cargo.toml
  crates/turborepo-lib/src/cli/mod.rs
  crates/turborepo-lib/src/turbo_json/mod.rs
  crates/turborepo-lib/src/turbo_json/parser.rs
Labels: owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#7890 chore: add removal warning to deprecated flags
  crates/turborepo-lib/src/cli/mod.rs
Labels: owned-by: turborepo, created-by: turborepo

#7956 Fix(commands/prune.rs): Add More detail in MissingWorkspace error
  crates/turborepo-lib/src/commands/prune.rs
Labels: owned-by: turborepo

#7963 fix(turbopack-ecmascript): use direct namespace re-export
  crates/turbopack-ecmascript-runtime/js/src/shared/runtime-utils.ts
  crates/turbopack-ecmascript/src/references/external_module.rs
  crates/turbopack-tests/tests/execution/turbopack/async-modules/esm-external/input/index.js
  crates/turbopack-tests/tests/execution/turbopack/async-modules/esm-external/node_modules/package/index.mjs
  crates/turbopack-tests/tests/execution/turbopack/async-modules/esm-external/node_modules/package/package.json
  crates/turbopack-tests/tests/snapshot/runtime/default_build_runtime/output/[turbopack]_runtime.js
  crates/turbopack-tests/tests/snapshot/runtime/default_build_runtime/output/[turbopack]_runtime.js.map
  crates/turbopack-tests/tests/snapshot/runtime/default_dev_runtime/output/79fb1_turbopack-tests_tests_snapshot_runtime_default_dev_runtime_input_index_40d141.js
  crates/turbopack-tests/tests/snapshot/runtime/default_dev_runtime/output/79fb1_turbopack-tests_tests_snapshot_runtime_default_dev_runtime_input_index_40d141.js.map
Labels: owned-by: turbopack, created-by: turbopack

#7967 chore(ci): use node 20 in CI
  .github/actions/setup-turborepo-environment/action.yml
Labels: area: ci, owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#7969 Revert "feat(turbopack-ecmascript): cache external modules with wrapper (#7742)"
  crates/turbopack-core/src/resolve/mod.rs
  crates/turbopack-ecmascript-runtime/js/src/shared/runtime-utils.ts
  crates/turbopack-ecmascript/src/chunk/chunk_type.rs
  crates/turbopack-ecmascript/src/references/async_module.rs
  crates/turbopack-ecmascript/src/references/esm/base.rs
  crates/turbopack-ecmascript/src/references/esm/url.rs
  crates/turbopack-ecmascript/src/references/external_module.rs
  crates/turbopack-ecmascript/src/references/mod.rs
  crates/turbopack-ecmascript/src/references/pattern_mapping.rs
  crates/turbopack-ecmascript/src/side_effect_optimization/facade/module.rs
  crates/turbopack-resolve/src/typescript.rs
  crates/turbopack-tests/tests/execution/turbopack/async-modules/esm-external/input/index.js
  crates/turbopack-tests/tests/execution/turbopack/async-modules/esm-external/node_modules/package/index.mjs
  crates/turbopack-tests/tests/execution/turbopack/async-modules/esm-external/node_modules/package/package.json
  crates/turbopack-tests/tests/snapshot/runtime/default_build_runtime/output/[turbopack]_runtime.js
  crates/turbopack-tests/tests/snapshot/runtime/default_build_runtime/output/[turbopack]_runtime.js.map
  crates/turbopack-tests/tests/snapshot/runtime/default_dev_runtime/output/79fb1_turbopack-tests_tests_snapshot_runtime_default_dev_runtime_input_index_40d141.js
  crates/turbopack-tests/tests/snapshot/runtime/default_dev_runtime/output/79fb1_turbopack-tests_tests_snapshot_runtime_default_dev_runtime_input_index_40d141.js.map
  crates/turbopack/src/lib.rs
Labels: owned-by: turbopack, created-by: turbopack

#7946 refactor: Make `Run::run` take a ref
  crates/turborepo-lib/src/commands/run.rs
  crates/turborepo-lib/src/run/builder.rs
  crates/turborepo-lib/src/run/mod.rs
  crates/turborepo-lib/src/run/summary/mod.rs
  crates/turborepo-lib/src/task_graph/visitor.rs
Labels: owned-by: turborepo, created-by: turborepo

#7971 chore: pin eslint version
  packages/eslint-plugin-turbo/__fixtures__/workspace/package.json
Labels: pkg: turbo-eslint, owned-by: turborepo, created-by: turborepo

#7981 Revert "chore(ci): use node 20 in CI (#7967)"
  .github/actions/setup-turborepo-environment/action.yml
Labels: area: ci, owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#7965 chore(@turbo/telemetry): replace jest with node:test runner
  .github/actions/setup-turborepo-environment/action.yml
  .github/workflows/test.yml
  packages/turbo-telemetry/.eslintrc.js
  packages/turbo-telemetry/jest.config.js
  packages/turbo-telemetry/package.json
  packages/turbo-telemetry/src/client.test.ts
  packages/turbo-telemetry/src/client.ts
  packages/turbo-telemetry/src/config.test.ts
  packages/turbo-telemetry/src/config.ts
  packages/turbo-telemetry/src/utils.test.ts
  packages/turbo-telemetry/src/utils.ts
  pnpm-lock.yaml
Labels: area: ci, owned-by: turborepo, owned-by: turbopack, created-by: turborepo, pkg: turbo-telemetry

#7972 chore(ci): switch from action-rs/toolchain to actions-rust-lang/setup-rust-toolchain
  .github/workflows/turborepo-release.yml
Labels: area: ci, owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#7989 chore(ci): use node 20 to run JS smoke tests before release
  .github/workflows/turborepo-release.yml
Labels: area: ci, owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#7978 chore(ci): remove invalid action argument
  .github/workflows/test.yml
Labels: area: ci, owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#7953 docs(storybook): update documentation to the latest versions available for pnpm installation
  docs/pages/repo/docs/handbook/tools/storybook.mdx
Labels: area: docs, owned-by: turborepo

#7970 chore: remove legacy filter flags
  crates/turborepo-lib/src/cli/mod.rs
  crates/turborepo-lib/src/opts.rs
  turborepo-tests/integration/tests/bad-flag.t
  turborepo-tests/integration/tests/conflicting-flags.t
  turborepo-tests/integration/tests/no-args.t
  turborepo-tests/integration/tests/turbo-help.t
Labels: owned-by: turborepo, created-by: turborepo

#7982 chore(ci): install global turbo with separate action
  .github/actions/install-global-turbo/action.yml
  .github/actions/setup-turborepo-environment/action.yml
  .github/workflows/bench-turborepo.yml
  .github/workflows/test.yml
  .github/workflows/turborepo-native-lib-test.yml
  .github/workflows/turborepo-release.yml
Labels: area: ci, owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#7991 chore(turbo-ignore): lint test files and fix issues
  packages/turbo-ignore/.eslintrc.js
  packages/turbo-ignore/__tests__/checkCommit.test.ts
  packages/turbo-ignore/__tests__/errors.test.ts
  packages/turbo-ignore/__tests__/getComparison.test.ts
  packages/turbo-ignore/__tests__/getWorkspace.test.ts
  packages/turbo-ignore/__tests__/ignore.test.ts
  packages/turbo-ignore/package.json
Labels: pkg: turbo-ignore, owned-by: turborepo, created-by: turborepo

#7985 chore(@turbo/repository): convert tests to node test runner
  .github/workflows/turborepo-native-lib-test.yml
  packages/turbo-repository/__tests__/affected-packages.test.ts
  packages/turbo-repository/__tests__/find-packages.test.ts
  packages/turbo-repository/__tests__/workspace.test.ts
  packages/turbo-repository/jest.config.js
  packages/turbo-repository/package.json
  pnpm-lock.yaml
Labels: area: ci, owned-by: turborepo, owned-by: turbopack, created-by: turborepo, pkg: turbo-repository

#7995 fix(turbopack-node) postcss.config.js path resolution on Windows
  crates/turbopack-node/src/transforms/postcss.rs
Labels: owned-by: turbopack, created-by: turbopack

#7992 build(turbo-repository): fix napi build with LLD
  .cargo/config.toml
  Cargo.lock
  package.json
  packages/turbo-repository/rust/build.rs
  pnpm-lock.yaml
Labels: owned-by: turborepo, owned-by: turbopack, created-by: turbopack, pkg: turbo-repository

#7765 Drop excessive cells after task reexecution
  crates/turbo-tasks-memory/src/memory_backend.rs
  crates/turbo-tasks-memory/src/memory_backend_with_pg.rs
  crates/turbo-tasks-memory/src/task.rs
  crates/turbo-tasks/src/backend.rs
  crates/turbo-tasks/src/manager.rs
Labels: owned-by: turbopack, created-by: turbopack

#7994 fix(pnpm): support pnpm lockfile v9
  crates/turborepo-lockfiles/fixtures/pnpm-v9.yaml
  crates/turborepo-lockfiles/src/pnpm/data.rs
  crates/turborepo-lockfiles/src/pnpm/dep_path.rs
  crates/turborepo-lockfiles/src/pnpm/mod.rs
Labels: owned-by: turborepo, created-by: turborepo

#7998 chore(release): trim makefile
  .github/workflows/bench-turborepo.yml
  .github/workflows/turborepo-release.yml
  cli/Makefile
  cli/package.json
  packages/turbo-benchmark/README.md
  packages/turbo-benchmark/src/helpers.ts
Labels: area: ci, owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#7955 chore: Update `styled-jsx`
  Cargo.lock
  Cargo.toml
Labels: owned-by: turborepo, owned-by: turbopack, created-by: turbopack

#7987 build: Update `swc_core` to `v0.90.33`
  Cargo.lock
  Cargo.toml
Labels: owned-by: turborepo, owned-by: turbopack, created-by: turbopack

#7613 feat(turborepo): Watch mode
  crates/turborepo-lib/src/cli/error.rs
  crates/turborepo-lib/src/cli/mod.rs
  crates/turborepo-lib/src/commands/daemon.rs
  crates/turborepo-lib/src/commands/mod.rs
  crates/turborepo-lib/src/commands/run.rs
  crates/turborepo-lib/src/daemon/proto/turbod.proto
  crates/turborepo-lib/src/daemon/server.rs
  crates/turborepo-lib/src/engine/execute.rs
  crates/turborepo-lib/src/engine/mod.rs
  crates/turborepo-lib/src/opts.rs
  crates/turborepo-lib/src/package_changes_watcher.rs
  crates/turborepo-lib/src/run/builder.rs
  crates/turborepo-lib/src/run/mod.rs
  crates/turborepo-lib/src/run/scope/mod.rs
  crates/turborepo-lib/src/run/task_id.rs
  crates/turborepo-lib/src/run/watch.rs
  crates/turborepo-lib/src/turbo_json/mod.rs
  turborepo-tests/integration/tests/conflicting-flags.t
  turborepo-tests/integration/tests/no-args.t
  turborepo-tests/integration/tests/turbo-help.t
Labels: owned-by: turborepo, created-by: turborepo

#8005 feat(mdx): support custom parse construct options
  crates/turbopack-mdx/src/lib.rs
  crates/turbopack/src/module_options/mod.rs
  crates/turbopack/src/module_options/module_options_context.rs
Labels: owned-by: turbopack, created-by: turbopack

#8008 Revert "feat(mdx): support custom parse construct options"
  crates/turbopack-mdx/src/lib.rs
  crates/turbopack/src/module_options/mod.rs
  crates/turbopack/src/module_options/module_options_context.rs
Labels: owned-by: turbopack, created-by: turbopack

#7930 allow to give a chunking context a name
  crates/turbopack-browser/src/chunking_context.rs
  crates/turbopack-core/src/chunk/chunking_context.rs
  crates/turbopack-ecmascript/src/references/esm/base.rs
  crates/turbopack-nodejs/src/chunking_context.rs
Labels: owned-by: turbopack, created-by: turbopack

#7721 Rename Turbopack JS runtime generation
  crates/turbopack-browser/src/ecmascript/evaluate/chunk.rs
  crates/turbopack-ecmascript-runtime/src/build_runtime.rs
  crates/turbopack-ecmascript-runtime/src/dev_runtime.rs
  crates/turbopack-ecmascript-runtime/src/lib.rs
  crates/turbopack-nodejs/src/ecmascript/node/entry/runtime.rs
Labels: owned-by: turbopack

#7977 fix: Fix source map produced by `lightningcss`
  crates/turbopack-css/src/process.rs
  crates/turbopack-tests/tests/snapshot/css/absolute-uri-import/output/a587c_tests_snapshot_css_absolute-uri-import_input_withduplicateurl_d96429.css.map
  crates/turbopack-tests/tests/snapshot/css/absolute-uri-import/output/crates_turbopack-tests_tests_snapshot_css_absolute-uri-import_input_90d01b._.css.map
  crates/turbopack-tests/tests/snapshot/css/absolute-uri-import/output/crates_turbopack-tests_tests_snapshot_css_absolute-uri-import_input_index_7d7e1c.css.map
  crates/turbopack-tests/tests/snapshot/css/absolute-uri-import/output/crates_turbopack-tests_tests_snapshot_css_absolute-uri-import_input_other_d96429.css.map
  crates/turbopack-tests/tests/snapshot/css/chained-attributes/output/crates_turbopack-tests_tests_snapshot_css_chained-attributes_input_86e399._.css.map
  crates/turbopack-tests/tests/snapshot/css/chained-attributes/output/crates_turbopack-tests_tests_snapshot_css_chained-attributes_input_a_bf62fc.css.map
  crates/turbopack-tests/tests/snapshot/css/chained-attributes/output/crates_turbopack-tests_tests_snapshot_css_chained-attributes_input_b_dc1da6.css.map
  crates/turbopack-tests/tests/snapshot/css/chained-attributes/output/crates_turbopack-tests_tests_snapshot_css_chained-attributes_input_c_163c6a.css.map
  crates/turbopack-tests/tests/snapshot/css/chained-attributes/output/crates_turbopack-tests_tests_snapshot_css_chained-attributes_input_c_823b12.css.map
  crates/turbopack-tests/tests/snapshot/css/chained-attributes/output/crates_turbopack-tests_tests_snapshot_css_chained-attributes_input_style_7d7e1c.css.map
  crates/turbopack-tests/tests/snapshot/css/css-legacy-nesting/output/crates_turbopack-tests_tests_snapshot_css_css-legacy-nesting_input_style_7d7e1c.css.map
  crates/turbopack-tests/tests/snapshot/css/css-legacy-nesting/output/crates_turbopack-tests_tests_snapshot_css_css-legacy-nesting_input_style_c557a7.css.map
  crates/turbopack-tests/tests/snapshot/css/css-modules/output/crates_turbopack-tests_tests_snapshot_css_css-modules_input_style_module_71f14f.css.map
  crates/turbopack-tests/tests/snapshot/css/css-modules/output/crates_turbopack-tests_tests_snapshot_css_css-modules_input_style_module_7d7e1c.css.map
  crates/turbopack-tests/tests/snapshot/css/css/output/8697f_foo_style_7d7e1c.css.map
  crates/turbopack-tests/tests/snapshot/css/css/output/8697f_foo_style_module_7d7e1c.css.map
  crates/turbopack-tests/tests/snapshot/css/css/output/crates_turbopack-tests_tests_snapshot_css_css_input_f3a64b._.css.map
  crates/turbopack-tests/tests/snapshot/css/css/output/crates_turbopack-tests_tests_snapshot_css_css_input_imported_9f97d9.css.map
  crates/turbopack-tests/tests/snapshot/css/css/output/crates_turbopack-tests_tests_snapshot_css_css_input_imported_d96429.css.map
  crates/turbopack-tests/tests/snapshot/css/css/output/crates_turbopack-tests_tests_snapshot_css_css_input_style_7d7e1c.css.map
  crates/turbopack-tests/tests/snapshot/css/css/output/crates_turbopack-tests_tests_snapshot_css_css_input_style_module_7d7e1c.css.map
  crates/turbopack-tests/tests/snapshot/css/relative-uri-import/output/79fb1_turbopack-tests_tests_snapshot_css_relative-uri-import_input_another_d96429.css.map
  crates/turbopack-tests/tests/snapshot/css/relative-uri-import/output/crates_turbopack-tests_tests_snapshot_css_relative-uri-import_input_dc7e6c._.css.map
  crates/turbopack-tests/tests/snapshot/css/relative-uri-import/output/crates_turbopack-tests_tests_snapshot_css_relative-uri-import_input_index_7d7e1c.css.map
  crates/turbopack-tests/tests/snapshot/css/relative-uri-import/output/crates_turbopack-tests_tests_snapshot_css_relative-uri-import_input_other_d96429.css.map
  crates/turbopack-tests/tests/snapshot/cssmodules/composes/output/79fb1_turbopack-tests_tests_snapshot_cssmodules_composes_input_index_module_7d7e1c.css.map
  crates/turbopack-tests/tests/snapshot/cssmodules/composes/output/79fb1_turbopack-tests_tests_snapshot_cssmodules_composes_input_index_module_cb674a.css.map
  crates/turbopack-tests/tests/snapshot/cssmodules/relative-uri-import/output/79fb1_turbopack-tests_tests_snapshot_cssmodules_relative-uri-import_input_6d6278._.css.map
  crates/turbopack-tests/tests/snapshot/cssmodules/relative-uri-import/output/a587c_tests_snapshot_cssmodules_relative-uri-import_input_index_module_7d7e1c.css.map
  crates/turbopack-tests/tests/snapshot/cssmodules/relative-uri-import/output/a587c_tests_snapshot_cssmodules_relative-uri-import_input_other_module_7d7e1c.css.map
Labels: owned-by: turbopack, created-by: turbopack

#8013 Trace server: add support for gz files
  Cargo.lock
  crates/turbopack-trace-server/Cargo.toml
  crates/turbopack-trace-server/src/reader/mod.rs
Labels: owned-by: turbopack, created-by: turbopack

#7915 Bug fix on with-docker
  examples/with-docker/README.md
  examples/with-docker/apps/api/package.json
  examples/with-docker/apps/api/src/__tests__/server.test.ts
  examples/with-docker/apps/api/src/__tests__/tsconfig.json
  examples/with-docker/apps/api/src/server.ts
  examples/with-docker/apps/web/src/app/page.tsx
  examples/with-docker/packages/jest-presets/node/jest-preset.js
  examples/with-docker/packages/jest-presets/package.json
  examples/with-docker/packages/logger/package.json
  examples/with-docker/packages/logger/src/__tests__/log.test.ts
  examples/with-docker/packages/logger/src/__tests__/tsconfig.json
  examples/with-docker/packages/logger/tsconfig.json
Labels: area: examples, owned-by: turborepo

#7954 Update storybook docs
  docs/pages/repo/docs/handbook/tools/storybook.mdx
Labels: area: docs, owned-by: turborepo

#7904 feat(Turborepo): add a debouncer to file hash watching
  crates/turborepo-filewatch/src/hash_watcher.rs
Labels: owned-by: turborepo, created-by: turborepo

#8016 chore: Improved errors for watch mode
  crates/turborepo-lib/src/daemon/client.rs
  crates/turborepo-lib/src/run/watch.rs
Labels: owned-by: turborepo, created-by: turborepo

#8018 Revert "Drop excessive cells after task reexecution"
  crates/turbo-tasks-memory/src/memory_backend.rs
  crates/turbo-tasks-memory/src/memory_backend_with_pg.rs
  crates/turbo-tasks-memory/src/task.rs
  crates/turbo-tasks/src/backend.rs
  crates/turbo-tasks/src/manager.rs
Labels: owned-by: turbopack, created-by: turbopack

#8009 feat(mdx): support custom parse construct options
  crates/turbopack-mdx/src/lib.rs
  crates/turbopack/src/module_options/mod.rs
  crates/turbopack/src/module_options/module_options_context.rs
Labels: owned-by: turbopack, created-by: turbopack

#8020 Turbopack Tracing: show memory consumption
  crates/turbopack-trace-server/src/reader/heaptrack.rs
Labels: owned-by: turbopack, created-by: turbopack

#8024 chore(ci): pin Github Actions runner that builds turborepo to macos-12
  .github/workflows/bench-turborepo.yml
  .github/workflows/lsp.yml
  .github/workflows/test.yml
  .github/workflows/turborepo-library-release.yml
  .github/workflows/turborepo-native-lib-test.yml
  .github/workflows/turborepo-release.yml
Labels: area: ci, owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#8025 chore(ci): bump protoc version
  .github/actions/setup-rust/action.yml
  .github/workflows/bench-turborepo.yml
  .github/workflows/test.yml
  .github/workflows/turborepo-library-release.yml
  .github/workflows/turborepo-native-lib-test.yml
  .github/workflows/turborepo-release.yml
Labels: area: ci, owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#8028 chore: fix turborepo-repository MUSL release
  .github/workflows/turborepo-library-release.yml
Labels: area: ci, owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#8035 fix(cli): fix bad merge conflict resolution
  crates/turborepo-lib/src/cli/mod.rs
  turborepo-tests/integration/tests/no-args.t
  turborepo-tests/integration/tests/turbo-help.t
Labels: owned-by: turborepo, created-by: turborepo

#8029 Remove `can_be_in_same_chunk`
  crates/turbopack-browser/src/chunking_context.rs
  crates/turbopack-core/src/chunk/chunking_context.rs
  crates/turbopack-nodejs/src/chunking_context.rs
Labels: owned-by: turbopack, created-by: turbopack

#7907 feat(Turborepo): support inputs for file hash watching
  crates/turborepo-filewatch/src/globwatcher.rs
  crates/turborepo-filewatch/src/hash_watcher.rs
  crates/turborepo-paths/src/anchored_system_path.rs
Labels: owned-by: turborepo, created-by: turborepo

#8032 chore: remove repetitive words
  crates/turbo-tasks-hash/src/xxh3_hash64.rs
  crates/turbo-tasks-memory/src/aggregation_tree/mod.rs
  crates/turbo-tasks/src/state.rs
  crates/turbo-tasks/src/task/function.rs
  docs/pages/repo/docs/core-concepts/monorepos/running-tasks.mdx
Labels: area: docs, owned-by: turborepo, owned-by: turbopack

#8023 chore(turbo)!: remove check for legacy turbo config in package.json
  crates/turborepo-lib/src/config.rs
  crates/turborepo-lib/src/turbo_json/mod.rs
  crates/turborepo-repository/src/package_json.rs
Labels: owned-by: turborepo, created-by: turborepo

#8036 feat(turborepo): Process package change events asynchronously
  crates/turborepo-lib/src/cli/mod.rs
  crates/turborepo-lib/src/daemon/server.rs
  crates/turborepo-lib/src/engine/mod.rs
  crates/turborepo-lib/src/run/builder.rs
  crates/turborepo-lib/src/run/watch.rs
Labels: owned-by: turborepo, created-by: turborepo

#8042 fix(telemetry): correctly parse alerted date
  packages/turbo-telemetry/src/config.test.ts
  packages/turbo-telemetry/src/config.ts
Labels: owned-by: turborepo, created-by: turborepo, pkg: turbo-telemetry

#8049 fix(examples): lint docs
  examples/basic/packages/eslint-config/react-internal.js
  examples/kitchen-sink/packages/config-eslint/remix.js
  examples/with-berry/packages/eslint-config/react-internal.js
  examples/with-changesets/packages/eslint-config/react-internal.js
  examples/with-docker/packages/eslint-config/react-internal.js
  examples/with-gatsby/packages/eslint-config/react-internal.js
  examples/with-npm/packages/eslint-config/react-internal.js
  examples/with-rollup/packages/config-eslint/react-internal.js
  examples/with-yarn/packages/eslint-config/react-internal.js
Labels: area: examples, owned-by: turborepo, created-by: turborepo

#8046 fix(example): Fix Prisma example
  examples/with-prisma/packages/database/package.json
  examples/with-prisma/packages/database/src/seed.ts
  examples/with-prisma/yarn.lock
Labels: area: examples, owned-by: turborepo

#8050 feat(Turborepo): Be explicit about which binary we failed to find
  crates/turborepo-repository/src/package_manager/mod.rs
  crates/turborepo-repository/src/package_manager/yarn.rs
Labels: owned-by: turborepo, created-by: turborepo

#8047 add some more logging to the extension startup
  packages/turbo-vsc/src/extension.ts
Labels: owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#8015 fix(ui): add carraige return after cache log messages
  crates/turborepo-lib/src/run/cache.rs
  crates/turborepo-lib/src/run/mod.rs
  crates/turborepo-lib/src/task_graph/visitor.rs
  crates/turborepo-ui/src/tui/app.rs
  crates/turborepo-ui/src/tui/event.rs
  crates/turborepo-ui/src/tui/handle.rs
  crates/turborepo-ui/src/tui/pane.rs
Labels: owned-by: turborepo, created-by: turborepo

#8058 fix(Turborepo): Make package discovery async, and apply a debouncer
  crates/turborepo-filewatch/src/debouncer.rs
  crates/turborepo-filewatch/src/hash_watcher.rs
  crates/turborepo-filewatch/src/lib.rs
  crates/turborepo-filewatch/src/package_watcher.rs
Labels: owned-by: turborepo, created-by: turborepo
