Repository vercel/turborepo, pull requests merged in 2024-08, with the labels that each got.

#8897 feat(tui): Set TURBO_IS_TUI environment variable when using TUI.
  crates/turborepo-lib/src/task_graph/visitor.rs
  docs/repo-docs/reference/system-environment-variables.mdx
  grep
Labels: area: docs, owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#8903 Remove accidental file.
  grep
Labels: owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#8854 fix(watch): properly shut down persistent tasks
  crates/turborepo-lib/src/run/mod.rs
  crates/turborepo-lib/src/run/watch.rs
  crates/turborepo-ui/src/tui/app.rs
Labels: owned-by: turborepo, created-by: turborepo

#8909 docs(filters): Clarity for advanced patterns.
  docs/repo-docs/reference/run.mdx
Labels: area: docs, owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#8918 docs: Add `--ui` flag.
  docs/repo-docs/reference/run.mdx
Labels: area: docs, owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#8916 chore: remove unused patch
  Cargo.lock
  Cargo.toml
Labels: owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#8757 add envMode to `turbo.json`
  crates/turborepo-lib/src/cli/mod.rs
  crates/turborepo-lib/src/commands/config.rs
  crates/turborepo-lib/src/commands/mod.rs
  crates/turborepo-lib/src/config.rs
  crates/turborepo-lib/src/opts.rs
  crates/turborepo-lib/src/turbo_json/mod.rs
  turborepo-tests/integration/tests/config.t
Labels: owned-by: turborepo, created-by: turborepo

#8926 chore: delete turbopack workflows
  .github/workflows/bench-turbotrace-against-node-nft.yml
  .github/workflows/publish-npm.yml
Labels: area: ci, owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#8914 Update turbo-orchestrator.yml
  .github/turbo-orchestrator.yml
Labels: needs: triage, owned-by: turborepo, owned-by: turbopack

#8928 chore(docs): improve visual appearance of badges in README.md
  README.md
Labels: needs: triage, owned-by: turborepo, owned-by: turbopack

#8911 chore: update title in multiply.ts file in docs
  docs/repo-docs/crafting-your-repository/structuring-a-repository.mdx
Labels: area: docs, needs: triage, owned-by: turborepo, owned-by: turbopack

#8931 chore(turbo): simplify contributing
  CONTRIBUTING.md
Labels: owned-by: turborepo, created-by: turborepo

#8927 removes owned-by from bug report template now that turbopack is gone
  .github/ISSUE_TEMPLATE/0-turborepo-bug-report.yml
Labels: owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#8923 removes prettierignore files related to turbopack
  .prettierignore
Labels: owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#8920 adds *.t.err to file associations
  .vscode/settings.json
Labels: owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#8921 removes turbopack search exception
  .vscode/settings.json
Labels: owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#8922 removes gitattributes for turbopack files
  .gitattributes
Labels: owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#8925 removes nextest config related to turbopack
  .config/nextest.toml
Labels: created-by: turborepo

#8919 refactor(turborepo): change the ui config to use an enum
  crates/turborepo-lib/src/cli/mod.rs
  crates/turborepo-lib/src/commands/config.rs
  crates/turborepo-lib/src/commands/mod.rs
  crates/turborepo-lib/src/config.rs
  crates/turborepo-lib/src/engine/mod.rs
  crates/turborepo-lib/src/run/builder.rs
  crates/turborepo-lib/src/run/mod.rs
  crates/turborepo-lib/src/run/watch.rs
  crates/turborepo-lib/src/turbo_json/mod.rs
  turborepo-tests/integration/tests/config.t
  turborepo-tests/integration/tests/turbo-help.t
  web-ui/next-env.d.ts
Labels: owned-by: turborepo, created-by: turborepo

#8939 docs: Re-mention passthroughs in CI compatibility section.
  docs/repo-docs/crafting-your-repository/using-environment-variables.mdx
Labels: area: docs, owned-by: turborepo, created-by: turborepo

#8929 remove / move unused or test crates
  Cargo.lock
  crates/turborepo-api-client/Cargo.toml
  crates/turborepo-ci/Cargo.toml
  crates/turborepo-env/Cargo.toml
  crates/turborepo-filewatch/Cargo.toml
  crates/turborepo-globwalk/Cargo.toml
  crates/turborepo-globwalk/src/lib.rs
  crates/turborepo-lib/Cargo.toml
  crates/turborepo-lib/src/engine/builder.rs
  crates/turborepo-lib/src/engine/mod.rs
  crates/turborepo-paths/Cargo.toml
  crates/turborepo-paths/src/absolute_system_path.rs
  crates/turborepo-pidlock/Cargo.toml
  crates/turborepo-pidlock/src/lib.rs
Labels: owned-by: turborepo, created-by: turbopack

#8942 fix(tui): allow for TUI use when hooked up to tty
  crates/turborepo-lib/src/config.rs
Labels: owned-by: turborepo, created-by: turborepo

#8944 feat(telemetry): reduce data volume
  Cargo.lock
  crates/turborepo-lib/src/cli/mod.rs
  crates/turborepo-telemetry/Cargo.toml
  crates/turborepo-telemetry/src/events/command.rs
  crates/turborepo-telemetry/src/events/generic.rs
  crates/turborepo-telemetry/src/events/mod.rs
  crates/turborepo-telemetry/src/events/repo.rs
  crates/turborepo-telemetry/src/events/task.rs
Labels: owned-by: turborepo, created-by: turborepo

#8945 feat(owners): remove telem special case
  .github/CODEOWNERS
Labels: owned-by: turborepo, created-by: turborepo

#8949 docs: Correct json comma syntax in sample code
  docs/repo-docs/crafting-your-repository/creating-an-internal-package.mdx
Labels: area: docs, needs: triage, owned-by: turborepo

#8884 feat(turborepo): implement --affected flag
  crates/turborepo-lib/src/cli/mod.rs
  crates/turborepo-lib/src/commands/config.rs
  crates/turborepo-lib/src/config.rs
  crates/turborepo-lib/src/opts.rs
  crates/turborepo-lib/src/run/scope/change_detector.rs
  crates/turborepo-lib/src/run/scope/filter.rs
  crates/turborepo-lib/src/run/scope/mod.rs
  crates/turborepo-lib/src/run/scope/target_selector.rs
  crates/turborepo-scm/src/git.rs
  turborepo-tests/integration/tests/affected.t
  turborepo-tests/integration/tests/config.t
  turborepo-tests/integration/tests/no-args.t
  turborepo-tests/integration/tests/turbo-help.t
Labels: owned-by: turborepo, created-by: turborepo

#8957 (docs): Improve clarity for watch.
  docs/repo-docs/crafting-your-repository/developing-applications.mdx
  docs/repo-docs/reference/watch.mdx
Labels: area: docs, owned-by: turborepo, created-by: turborepo

#8958 (ci): Docs link checker.
  .github/workflows/docs.yml
  docs/README.MD
  docs/pack-docs/why-turbopack.mdx
  docs/package.json
  docs/repo-docs/crafting-your-repository/caching.mdx
  docs/repo-docs/crafting-your-repository/developing-applications.mdx
  docs/repo-docs/crafting-your-repository/running-tasks.mdx
  docs/repo-docs/crafting-your-repository/structuring-a-repository.mdx
  docs/repo-docs/guides/single-package-workspaces.mdx
  docs/repo-docs/guides/tools/eslint.mdx
  docs/repo-docs/guides/tools/jest.mdx
  docs/repo-docs/guides/tools/prisma.mdx
  docs/repo-docs/guides/tools/storybook.mdx
  docs/repo-docs/guides/tools/vitest.mdx
  docs/repo-docs/reference/bin.mdx
  docs/repo-docs/reference/configuration.mdx
  docs/repo-docs/reference/run.mdx
  docs/repo-docs/reference/system-environment-variables.mdx
  docs/src/github.ts
  docs/src/validate-docs-links.ts
  docs/tsconfig.json
  docs/types.d.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: area: docs, area: ci, area: site, owned-by: turborepo, created-by: turborepo

#8835 Migrate to Storybook 8.2.6
  docs/repo-docs/reference/watch.mdx
  examples/design-system/apps/docs/package.json
  examples/design-system/apps/docs/vite.config.ts
  examples/design-system/pnpm-lock.yaml
Labels: area: docs, area: examples, needs: triage, owned-by: turborepo

#8908 chore(example): remove redundant instructions from dockerfile
  docs/repo-docs/guides/tools/docker.mdx
  examples/with-docker/apps/api/Dockerfile
  examples/with-docker/apps/web/Dockerfile
Labels: area: docs, area: examples, needs: triage, owned-by: turborepo, owned-by: turbopack

#8966 chore: improve error message for package graph construction
  crates/turborepo-repository/src/package_graph/builder.rs
  crates/turborepo-repository/src/package_manager/mod.rs
Labels: owned-by: turborepo, created-by: turborepo

#8971 Log changed package names instead of full struct
  crates/turborepo-lib/src/run/scope/change_detector.rs
Labels: needs: triage, owned-by: turborepo

#8962 refactor: renamed UI to ColorConfig
  crates/turborepo-auth/src/auth/login.rs
  crates/turborepo-auth/src/auth/logout.rs
  crates/turborepo-auth/src/auth/mod.rs
  crates/turborepo-auth/src/auth/sso.rs
  crates/turborepo-auth/src/ui/messages.rs
  crates/turborepo-lib/src/cli/error.rs
  crates/turborepo-lib/src/cli/mod.rs
  crates/turborepo-lib/src/commands/daemon.rs
  crates/turborepo-lib/src/commands/link.rs
  crates/turborepo-lib/src/commands/login.rs
  crates/turborepo-lib/src/commands/logout.rs
  crates/turborepo-lib/src/commands/ls.rs
  crates/turborepo-lib/src/commands/mod.rs
  crates/turborepo-lib/src/commands/prune.rs
  crates/turborepo-lib/src/commands/scan.rs
  crates/turborepo-lib/src/commands/telemetry.rs
  crates/turborepo-lib/src/commands/unlink.rs
  crates/turborepo-lib/src/run/builder.rs
  crates/turborepo-lib/src/run/cache.rs
  crates/turborepo-lib/src/run/graph_visualizer.rs
  crates/turborepo-lib/src/run/mod.rs
  crates/turborepo-lib/src/run/summary/execution.rs
  crates/turborepo-lib/src/run/summary/mod.rs
  crates/turborepo-lib/src/run/watch.rs
  crates/turborepo-lib/src/shim/mod.rs
  crates/turborepo-lib/src/shim/parser.rs
  crates/turborepo-lib/src/task_graph/visitor.rs
  crates/turborepo-lib/src/tracing.rs
  crates/turborepo-telemetry/src/config.rs
  crates/turborepo-telemetry/src/lib.rs
  crates/turborepo-ui/src/lib.rs
  crates/turborepo-ui/src/logs.rs
  crates/turborepo-ui/src/prefixed.rs
  crates/turborepo-ui/tests/threads.rs
Labels: owned-by: turborepo, created-by: turborepo

#8960 fix(watch): display which tasks will be rerun
  crates/turborepo-lib/src/run/watch.rs
  crates/turborepo-ui/src/tui/app.rs
  crates/turborepo-ui/src/tui/event.rs
  crates/turborepo-ui/src/tui/handle.rs
  crates/turborepo-ui/src/tui/task.rs
Labels: owned-by: turborepo, created-by: turborepo

#8969 fix: print application errors to stderr instead of stdout
  crates/turborepo/src/main.rs
  turborepo-tests/integration/tests/bad-turbo-json.t
  turborepo-tests/integration/tests/invalid-package-json.t
Labels: owned-by: turborepo, created-by: turborepo

#8976 chore(change_mapper): add debug log explaining why package is root dep
  crates/turborepo-repository/src/change_mapper/mod.rs
  crates/turborepo-repository/src/package_graph/mod.rs
Labels: owned-by: turborepo, created-by: turborepo

#8980 chore: remove aliases
  .cargo/config.toml
Labels: owned-by: turborepo, created-by: turborepo

#8978 chore: speed up CI
  .github/workflows/turborepo-test.yml
Labels: area: ci, owned-by: turborepo, created-by: turborepo

#8984 enables test_gh_8599 test
  crates/turborepo-repository/src/inference.rs
Labels: owned-by: turborepo, created-by: turborepo

#8981 removes GOROOT from globalPassThroughEnv for local dev
  turbo.json
Labels: owned-by: turborepo, created-by: turborepo

#8982 simplify Prysk commands
  package.json
  turborepo-tests/helpers/setup.sh
  turborepo-tests/integration/package.json
Labels: owned-by: turborepo, created-by: turborepo

#8993 fix(create-turbo): support renamed repositories
  packages/turbo-utils/src/examples.ts
Labels: owned-by: turborepo, created-by: turborepo

#8992 docs: add release flag to cargo build
  docs/repo-docs/guides/multi-language.mdx
Labels: area: docs, owned-by: turborepo, created-by: turborepo

#8947 cacheDir for env, config, and flag
  crates/turborepo-cache/src/async_cache.rs
  crates/turborepo-cache/src/fs.rs
  crates/turborepo-cache/src/lib.rs
  crates/turborepo-cache/src/multiplexer.rs
  crates/turborepo-lib/src/commands/config.rs
  crates/turborepo-lib/src/commands/mod.rs
  crates/turborepo-lib/src/config.rs
  crates/turborepo-lib/src/opts.rs
  crates/turborepo-lib/src/turbo_json/mod.rs
  crates/turborepo-lib/src/turbo_json/parser.rs
  turborepo-tests/integration/tests/config.t
Labels: owned-by: turborepo, created-by: turborepo

#9005 Update Socket config
  socket.yaml
Labels: needs: triage, owned-by: turborepo

#8996 feat(tui): resize terminal pane
  crates/turborepo-ui/src/tui/app.rs
  crates/turborepo-ui/src/tui/debouncer.rs
  crates/turborepo-ui/src/tui/event.rs
  crates/turborepo-ui/src/tui/input.rs
  crates/turborepo-ui/src/tui/mod.rs
  crates/turborepo-ui/src/tui/size.rs
  crates/turborepo-ui/src/tui/term_output.rs
Labels: owned-by: turborepo, created-by: turborepo

#9012 makes @defaultValue usages consistent (and correct)
  packages/turbo-types/src/types/config.ts
Labels: owned-by: turborepo, created-by: turborepo

#9014 fix(create-turbo): correct path usage
  packages/turbo-utils/src/examples.ts
Labels: owned-by: turborepo, created-by: turborepo

#8979 Update README.md
  examples/with-docker/README.md
Labels: area: examples, needs: triage, owned-by: turborepo

#9011 TypeScript types for `cacheDir`, `daemon`, and `envMode`
  packages/turbo-types/src/types/config.ts
Labels: owned-by: turborepo, created-by: turborepo

#8974 chore: show deprecation info for globalDotEnv and dotEnv
  packages/turbo-types/src/types/config.ts
Labels: needs: triage, owned-by: turborepo

#9022 fix: lock tui-term version to pass rust type check
  Cargo.toml
Labels: needs: triage, owned-by: turborepo

#9023 feat: color no longer tied to task execution order
  crates/turborepo-lib/src/task_graph/visitor.rs
Labels: needs: triage, owned-by: turborepo

#9032 fix(tui): avoid panic on restarting tasks during watch
  crates/turborepo-lib/src/run/mod.rs
  crates/turborepo-lib/src/run/watch.rs
  crates/turborepo-ui/src/tui/app.rs
  crates/turborepo-ui/src/tui/task.rs
Labels: owned-by: turborepo, created-by: turborepo

#9031 feat(ls): support output format
  crates/turborepo-lib/src/cli/mod.rs
  crates/turborepo-lib/src/commands/ls.rs
  turborepo-tests/integration/tests/affected.t
  turborepo-tests/integration/tests/command-ls.t
Labels: owned-by: turborepo, created-by: turborepo

#9034 chore(tui): remove unwraps from tui
  crates/turborepo-ui/src/tui/app.rs
  crates/turborepo-ui/src/tui/mod.rs
  crates/turborepo-ui/src/tui/task.rs
Labels: owned-by: turborepo, created-by: turborepo

#8977 feat: implement a query interface for turborepo
  Cargo.lock
  Cargo.toml
  crates/turborepo-cache/src/lib.rs
  crates/turborepo-lib/Cargo.toml
  crates/turborepo-lib/src/cli/error.rs
  crates/turborepo-lib/src/cli/mod.rs
  crates/turborepo-lib/src/commands/mod.rs
  crates/turborepo-lib/src/commands/query.rs
  crates/turborepo-lib/src/daemon/default_timeout_layer.rs
  crates/turborepo-lib/src/lib.rs
  crates/turborepo-lib/src/opts.rs
  crates/turborepo-lib/src/query.rs
  crates/turborepo-lib/src/run/builder.rs
  crates/turborepo-lib/src/run/mod.rs
  crates/turborepo-vercel-api-mock/src/lib.rs
  turborepo-tests/integration/tests/affected.t
  turborepo-tests/integration/tests/command-query.t
Labels: owned-by: turborepo, created-by: turborepo

#9025 separate configs, colocate JSONSchema, remove `globalDotEnv` and `pipeline.dotEnv` from V2
  .vscode/settings.json
  packages/eslint-plugin-turbo/lib/utils/calculate-inputs.ts
  packages/eslint-plugin-turbo/lib/utils/wildcard-processing.ts
  packages/turbo-codemod/__tests__/migrate-env-var-dependencies.test.ts
  packages/turbo-codemod/src/transforms/clean-globs.ts
  packages/turbo-codemod/src/transforms/migrate-dot-env.ts
  packages/turbo-codemod/src/transforms/migrate-env-var-dependencies.ts
  packages/turbo-codemod/src/transforms/rename-output-mode.ts
  packages/turbo-codemod/src/transforms/rename-pipeline.ts
  packages/turbo-codemod/src/transforms/set-default-outputs.ts
  packages/turbo-codemod/src/transforms/stabilize-env-mode.ts
  packages/turbo-codemod/src/transforms/stabilize-ui.ts
  packages/turbo-codemod/src/transforms/transform-env-literals-to-wildcards.ts
  packages/turbo-types/.prettierignore
  packages/turbo-types/package.json
  packages/turbo-types/schemas/schema.json
  packages/turbo-types/schemas/schema.v1.json
  packages/turbo-types/schemas/schema.v2.json
  packages/turbo-types/scripts/generate-schema.mjs
  packages/turbo-types/src/index.ts
  packages/turbo-types/src/scripts/codegen.js
  packages/turbo-types/src/types/config-v1.ts
  packages/turbo-types/src/types/config-v2.ts
  packages/turbo-types/turbo.json
  packages/turbo-utils/src/getTurboConfigs.ts
  pnpm-lock.yaml
Labels: pkg: turbo-eslint, pkg: turbo-codemod, owned-by: turborepo, created-by: turborepo

#9018 documentation for for `cacheDir`, `daemon`, and `envMode` (config values, and env vars)
  docs/repo-docs/reference/configuration.mdx
  docs/repo-docs/reference/run.mdx
  packages/turbo-types/schemas/schema.json
  packages/turbo-types/schemas/schema.v2.json
  packages/turbo-types/src/types/config-v2.ts
Labels: area: docs, docs: next release, owned-by: turborepo, created-by: turborepo

#9040 Update using-environment-variables.mdx
  docs/repo-docs/crafting-your-repository/using-environment-variables.mdx
Labels: area: docs, needs: triage, owned-by: turborepo

#9042 feat(tui): allow searching for tasks
  crates/turborepo-ui/src/tui/app.rs
  crates/turborepo-ui/src/tui/event.rs
  crates/turborepo-ui/src/tui/input.rs
  crates/turborepo-ui/src/tui/mod.rs
  crates/turborepo-ui/src/tui/pane.rs
  crates/turborepo-ui/src/tui/search.rs
  crates/turborepo-ui/src/tui/task.rs
  crates/turborepo-ui/src/tui/term_output.rs
Labels: owned-by: turborepo, created-by: turborepo

#9049 fix(affected): prevent affected from being used with filter
  crates/turborepo-lib/src/cli/mod.rs
Labels: owned-by: turborepo, created-by: turborepo

#9045 allow multiple fallbacks for --affected base branch
  crates/turborepo-lib/src/commands/config.rs
  crates/turborepo-lib/src/config.rs
  crates/turborepo-lib/src/opts.rs
  crates/turborepo-lib/src/query.rs
  crates/turborepo-lib/src/run/scope/change_detector.rs
  crates/turborepo-lib/src/run/scope/filter.rs
  crates/turborepo-lib/src/run/scope/target_selector.rs
  crates/turborepo-scm/src/git.rs
  crates/turborepo-scm/src/lib.rs
  turborepo-tests/integration/tests/config.t
Labels: owned-by: turborepo, created-by: turborepo

#9053 fix(affected): don't respect empty scm env vars
  crates/turborepo-lib/src/config.rs
  crates/turborepo-lib/src/run/scope/change_detector.rs
Labels: owned-by: turborepo, created-by: turborepo

#9059 Update basic example to use stable Next.js.
  examples/basic/apps/docs/package.json
  examples/basic/apps/web/package.json
  examples/basic/pnpm-lock.yaml
Labels: area: examples, owned-by: turborepo, created-by: turborepo

#9061 fix(affected): no longer error if `main` does not exist
  crates/turborepo-scm/src/git.rs
Labels: owned-by: turborepo, created-by: turborepo

#9066 (docs) Fix Node.js subpath import guidance.
  docs/repo-docs/core-concepts/internal-packages.mdx
  docs/repo-docs/crafting-your-repository/structuring-a-repository.mdx
  docs/repo-docs/guides/tools/typescript.mdx
Labels: area: docs, owned-by: turborepo, created-by: turborepo

#9065 fix(cli): avoid use of process exit
  crates/turborepo-lib/src/cli/mod.rs
Labels: owned-by: turborepo, created-by: turborepo

#9068 chore: Remove version output on CI
  crates/turborepo-lib/src/cli/mod.rs
Labels: owned-by: turborepo, created-by: turborepo

#9062 chore(tui): fix lint warnings in tests
  crates/turborepo-ui/src/tui/app.rs
Labels: owned-by: turborepo, created-by: turborepo

#9052 docs: document run displaying available tasks
  docs/repo-docs/reference/run.mdx
Labels: area: docs, docs: next release, owned-by: turborepo, created-by: turborepo

#9063 feat(docs): doc ls
  docs/repo-docs/reference/ls.mdx
  docs/repo-docs/reference/meta.json
Labels: area: docs, area: site, docs: next release, owned-by: turborepo, created-by: turborepo

#9078 docs: Clarifications for `--affected`.
  docs/repo-docs/crafting-your-repository/constructing-ci.mdx
  docs/repo-docs/reference/run.mdx
Labels: area: docs, owned-by: turborepo, created-by: turborepo

#9079 Update constructing-ci.mdx
  docs/repo-docs/crafting-your-repository/constructing-ci.mdx
Labels: area: docs, needs: triage, owned-by: turborepo

#9039 pipes default values through to json-schema
  packages/turbo-types/package.json
  packages/turbo-types/schemas/schema.json
  packages/turbo-types/schemas/schema.v1.json
  packages/turbo-types/schemas/schema.v2.json
  packages/turbo-types/scripts/generate-schema.mjs
  packages/turbo-types/scripts/generate-schema.ts
  packages/turbo-types/tsconfig.json
  pnpm-lock.yaml
Labels: owned-by: turborepo, created-by: turborepo

#9082 fix(zsh): fix completion generation for zsh
  Cargo.lock
  Cargo.toml
  crates/turborepo-lib/src/cli/mod.rs
  turborepo-tests/integration/tests/conflicting-flags.t
  turborepo-tests/integration/tests/no-args.t
  turborepo-tests/integration/tests/turbo-help.t
Labels: owned-by: turborepo, created-by: turborepo

#9086 examples: Fix sourcemapping in kitchen-sink.
  examples/kitchen-sink/apps/admin/src/app/index.tsx
  examples/kitchen-sink/apps/blog/app/routes/_index.tsx
  examples/kitchen-sink/apps/storefront/src/app/page.tsx
  examples/kitchen-sink/packages/ui/package.json
  examples/kitchen-sink/packages/ui/src/index.tsx
  examples/kitchen-sink/packages/ui/tsconfig.json
  examples/kitchen-sink/packages/ui/tsup.config.ts
  examples/kitchen-sink/packages/ui/turbo.json
  examples/kitchen-sink/pnpm-lock.yaml
  packages/turbo-types/tsconfig.json
Labels: area: examples, owned-by: turborepo, created-by: turborepo

#9088 fix(daemon): use correct arg group for deciding daemon config
  crates/turborepo-lib/src/cli/mod.rs
  crates/turborepo-lib/src/commands/mod.rs
Labels: owned-by: turborepo, created-by: turborepo

#9084 remove alias for --daemon/--no-daemon
  crates/turborepo-lib/src/cli/mod.rs
  turborepo-tests/integration/tests/conflicting-flags.t
  turborepo-tests/integration/tests/no-args.t
  turborepo-tests/integration/tests/turbo-help.t
Labels: owned-by: turborepo, created-by: turborepo
