Repository vercel/turborepo, pull requests merged in 2024-07, with the labels that each got.

#8639 docs(turborepo): correct default `ui` config value
  docs/repo-docs/reference/configuration.mdx
Labels: area: docs, needs: triage, owned-by: turborepo, owned-by: turbopack

#8624 Task Edges Set/List
  Cargo.lock
  crates/turbo-tasks-auto-hash-map/src/map.rs
  crates/turbo-tasks-memory/Cargo.toml
  crates/turbo-tasks-memory/src/cell.rs
  crates/turbo-tasks-memory/src/edges_set.rs
  crates/turbo-tasks-memory/src/lib.rs
  crates/turbo-tasks-memory/src/memory_backend.rs
  crates/turbo-tasks-memory/src/task.rs
  crates/turbo-tasks-memory/src/task/aggregation.rs
  crates/turbo-tasks-memory/src/task/meta_state.rs
  crates/turbo-tasks-memory/tests/recompute.rs
Labels: owned-by: turbopack, created-by: turbopack

#8644 box InProgress task state
  crates/turbo-tasks-memory/src/task.rs
  crates/turbo-tasks-memory/src/task/aggregation.rs
Labels: owned-by: turbopack, created-by: turbopack

#8286 Store aggregate read/execute count statistics
  Cargo.lock
  crates/turbo-tasks-memory/Cargo.toml
  crates/turbo-tasks-memory/src/lib.rs
  crates/turbo-tasks-memory/src/memory_backend.rs
  crates/turbo-tasks-memory/src/task_statistics.rs
  crates/turbo-tasks-memory/tests/task_statistics.rs
  crates/turbo-tasks/src/backend.rs
Labels: owned-by: turbopack, created-by: turbopack

#8619 fix typo
  crates/turbo-tasks/src/rcstr.rs
Labels: owned-by: turbopack, created-by: turbopack

#8651 Lots of small fixes to docs in the turbo-tasks crate
  crates/turbo-tasks/src/backend.rs
  crates/turbo-tasks/src/completion.rs
  crates/turbo-tasks/src/debug/mod.rs
  crates/turbo-tasks/src/lib.rs
  crates/turbo-tasks/src/manager.rs
  crates/turbo-tasks/src/task/concrete_task_input.rs
  crates/turbo-tasks/src/task/function.rs
  crates/turbo-tasks/src/task/task_input.rs
  crates/turbo-tasks/src/trait_ref.rs
  crates/turbo-tasks/src/triomphe_utils.rs
  crates/turbo-tasks/src/vc/cast.rs
  crates/turbo-tasks/src/vc/mod.rs
  crates/turbo-tasks/src/vc/read.rs
  crates/turbo-tasks/src/vc/traits.rs
Labels: owned-by: turbopack, created-by: turbopack

#8648 fix dirty task counting
  crates/turbo-tasks-memory/src/task/aggregation.rs
Labels: owned-by: turbopack, created-by: turbopack

#8650 (refactor)ui: Refactoring/simplifying TUI state
  crates/turborepo-ui/examples/pane.rs
  crates/turborepo-ui/examples/table.rs
  crates/turborepo-ui/src/tui/app.rs
  crates/turborepo-ui/src/tui/input.rs
  crates/turborepo-ui/src/tui/mod.rs
  crates/turborepo-ui/src/tui/pane.rs
  crates/turborepo-ui/src/tui/table.rs
  crates/turborepo-ui/src/tui/task.rs
  crates/turborepo-ui/src/tui/term_output.rs
Labels: owned-by: turborepo, created-by: turborepo

#8656 fix: Fix ECMAScript analyzer
  crates/turbopack-ecmascript/src/analyzer/graph.rs
  crates/turbopack-ecmascript/tests/analyzer/graph/op-assign/graph-effects.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/op-assign/graph-explained.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/op-assign/graph.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/op-assign/input.js
  crates/turbopack-ecmascript/tests/analyzer/graph/op-assign/resolved-effects.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/op-assign/resolved-explained.snapshot
  crates/turbopack-tests/tests/snapshot/basic-tree-shake/dynamic-import/output/79fb1_turbopack-tests_tests_snapshot_basic-tree-shake_dynamic-import_input_lib_05eac0.js
  crates/turbopack-tests/tests/snapshot/basic-tree-shake/dynamic-import/output/79fb1_turbopack-tests_tests_snapshot_basic-tree-shake_dynamic-import_input_lib_05eac0.js.map
  crates/turbopack-tests/tests/snapshot/basic-tree-shake/export-named/output/crates_turbopack-tests_tests_snapshot_basic-tree-shake_export-named_input_3d3809._.js
  crates/turbopack-tests/tests/snapshot/basic-tree-shake/export-named/output/crates_turbopack-tests_tests_snapshot_basic-tree-shake_export-named_input_3d3809._.js.map
  crates/turbopack-tests/tests/snapshot/basic-tree-shake/export-namespace/output/79fb1_turbopack-tests_tests_snapshot_basic-tree-shake_export-namespace_input_b4b68a._.js
  crates/turbopack-tests/tests/snapshot/basic-tree-shake/export-namespace/output/79fb1_turbopack-tests_tests_snapshot_basic-tree-shake_export-namespace_input_b4b68a._.js.map
  crates/turbopack-tests/tests/snapshot/basic-tree-shake/import-named-all/output/79fb1_turbopack-tests_tests_snapshot_basic-tree-shake_import-named-all_input_18bec5._.js
  crates/turbopack-tests/tests/snapshot/basic-tree-shake/import-named-all/output/79fb1_turbopack-tests_tests_snapshot_basic-tree-shake_import-named-all_input_18bec5._.js.map
  crates/turbopack-tests/tests/snapshot/basic-tree-shake/import-named/output/crates_turbopack-tests_tests_snapshot_basic-tree-shake_import-named_input_5e0b87._.js
  crates/turbopack-tests/tests/snapshot/basic-tree-shake/import-named/output/crates_turbopack-tests_tests_snapshot_basic-tree-shake_import-named_input_5e0b87._.js.map
  crates/turbopack-tests/tests/snapshot/basic-tree-shake/import-namespace/output/79fb1_turbopack-tests_tests_snapshot_basic-tree-shake_import-namespace_input_ee0515._.js
  crates/turbopack-tests/tests/snapshot/basic-tree-shake/import-namespace/output/79fb1_turbopack-tests_tests_snapshot_basic-tree-shake_import-namespace_input_ee0515._.js.map
  crates/turbopack-tests/tests/snapshot/basic-tree-shake/import-side-effect/output/79fb1_turbopack-tests_tests_snapshot_basic-tree-shake_import-side-effect_input_4952cd._.js
  crates/turbopack-tests/tests/snapshot/basic-tree-shake/import-side-effect/output/79fb1_turbopack-tests_tests_snapshot_basic-tree-shake_import-side-effect_input_4952cd._.js.map
  crates/turbopack-tests/tests/snapshot/basic-tree-shake/require-side-effect/output/a587c_tests_snapshot_basic-tree-shake_require-side-effect_input_fa7732._.js
  crates/turbopack-tests/tests/snapshot/basic-tree-shake/require-side-effect/output/a587c_tests_snapshot_basic-tree-shake_require-side-effect_input_fa7732._.js.map
  crates/turbopack-tests/tests/snapshot/basic-tree-shake/tree-shake-test-1/output/a587c_tests_snapshot_basic-tree-shake_tree-shake-test-1_input_index_2951af.js
  crates/turbopack-tests/tests/snapshot/basic-tree-shake/tree-shake-test-1/output/a587c_tests_snapshot_basic-tree-shake_tree-shake-test-1_input_index_2951af.js.map
Labels: owned-by: turbopack, created-by: turbopack

#8657 automatically shrink aggregation lists
  crates/turbo-tasks-auto-hash-map/src/map.rs
  crates/turbo-tasks-memory/src/aggregation/mod.rs
  crates/turbo-tasks-memory/src/aggregation/notify_lost_follower.rs
  crates/turbo-tasks-memory/src/aggregation/uppers.rs
  crates/turbo-tasks-memory/src/count_hash_set.rs
  crates/turbo-tasks-memory/src/task.rs
Labels: owned-by: turbopack, created-by: turbopack

#8666 Fix lockfile in kitchen-sink.
  examples/kitchen-sink/pnpm-lock.yaml
Labels: area: examples, created-by: turborepo

#8660 Turbopack + Relay: don’t manually provide a fallback artifact_directory
  crates/turbopack-ecmascript-plugins/src/transform/relay.rs
Labels: owned-by: turbopack, created-by: turbopack

#8674 remove Go VSCode recommendations in `extensions.json`
  .vscode/extensions.json
Labels: needs: triage, owned-by: turborepo, owned-by: turbopack

#8675 fix: repo-docs
  docs/repo-docs/crafting-your-repository/structuring-a-repository.mdx
Labels: area: docs, needs: triage, owned-by: turborepo, owned-by: turbopack

#8676 chore: bump pnpm action version
  .github/actions/setup-node/action.yml
  .github/workflows/turborepo-release.yml
Labels: area: ci, owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#8677 chore: use msvc for turborepo
  .github/actions/setup-rust/action.yml
  .github/actions/setup-turborepo-environment/action.yml
  .github/workflows/bench-turborepo.yml
  .github/workflows/turborepo-release.yml
  .github/workflows/turborepo-test.yml
Labels: area: ci, owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#8646 Update `swc_core` to `v0.96.5`
  Cargo.lock
  Cargo.toml
  crates/turbopack-core/src/environment.rs
  crates/turbopack-ecmascript-plugins/src/transform/relay.rs
  crates/turbopack-ecmascript/src/parse.rs
  crates/turbopack-swc-ast-explorer/src/main.rs
  crates/turbopack-tests/tests/snapshot/emotion/emotion/output/crates_turbopack-tests_tests_snapshot_b36339._.js
Labels: owned-by: turborepo, owned-by: turbopack, created-by: turbopack

#8679 fix(docs): fix pnpm workspace filename extension
  docs/repo-docs/crafting-your-repository/structuring-a-repository.mdx
  docs/repo-docs/guides/multi-language.mdx
Labels: area: docs, needs: triage, owned-by: turborepo, owned-by: turbopack

#8683 docs: Fix typo in filter option.
  docs/repo-docs/crafting-your-repository/running-tasks.mdx
Labels: area: docs, needs: triage, owned-by: turborepo, owned-by: turbopack

#8686 improve performance of the graph aggregation
  crates/turbo-tasks-memory/src/aggregation/followers.rs
  crates/turbo-tasks-memory/src/aggregation/increase.rs
  crates/turbo-tasks-memory/src/aggregation/tests.rs
  crates/turbo-tasks-memory/src/aggregation/uppers.rs
Labels: owned-by: turbopack, created-by: turbopack

#8688 Remove recursive flag from doc.
  docs/repo-docs/guides/tools/eslint.mdx
  docs/repo-docs/guides/tools/jest.mdx
Labels: area: docs, owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#8693 fix(windows): pass through programdata env var
  .github/workflows/turborepo-test.yml
  cli/turbo.json
Labels: area: ci, owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#8694 Replace `unreachable` with `bail` in `finalize_css`
  crates/turbopack-css/src/process.rs
Labels: owned-by: turbopack, created-by: turbopack

#8615 fix: add more windows vars to default pass through env
  crates/turborepo-lib/src/task_hash.rs
Labels: owned-by: turborepo, created-by: turborepo

#8690 Add Docker to default passthroughs list.
  crates/turborepo-lib/src/task_hash.rs
Labels: owned-by: turborepo, created-by: turborepo

#8689 Add VSCode's debugger variables to default passthroughs.
  crates/turborepo-lib/src/task_hash.rs
Labels: owned-by: turborepo, created-by: turborepo

#8696 Revert "Update `swc_core` to `v0.96.5`"
  Cargo.lock
  Cargo.toml
  crates/turbopack-core/src/environment.rs
  crates/turbopack-ecmascript-plugins/src/transform/relay.rs
  crates/turbopack-ecmascript/src/parse.rs
  crates/turbopack-swc-ast-explorer/src/main.rs
  crates/turbopack-tests/tests/snapshot/emotion/emotion/output/crates_turbopack-tests_tests_snapshot_b36339._.js
Labels: owned-by: turborepo, owned-by: turbopack, created-by: turbopack

#8685 update env_wildcards for SvelteKit
  crates/turborepo-lib/src/framework.rs
Labels: needs: triage, owned-by: turborepo

#8661 Create a minimum viable `ResolvedVc` type
  crates/turbo-tasks/src/lib.rs
  crates/turbo-tasks/src/vc/mod.rs
  crates/turbo-tasks/src/vc/resolved.rs
Labels: owned-by: turbopack, created-by: turbopack

#8662 Add a minimum viable ResolvedValue marker trait
  crates/turbo-tasks/src/lib.rs
  crates/turbo-tasks/src/trace.rs
  crates/turbo-tasks/src/vc/mod.rs
  crates/turbo-tasks/src/vc/resolved.rs
Labels: owned-by: turbopack, created-by: turbopack

#8678 Add derive macro for ResolvedValue
  .gitattributes
  Cargo.lock
  crates/turbo-tasks-macros-tests/Cargo.toml
  crates/turbo-tasks-macros-tests/tests/derive_resolved_value/fail_contains_only_vc.rs
  crates/turbo-tasks-macros-tests/tests/derive_resolved_value/fail_contains_only_vc.stderr
  crates/turbo-tasks-macros-tests/tests/derive_resolved_value/fail_contains_resolved_vc_and_vc.rs
  crates/turbo-tasks-macros-tests/tests/derive_resolved_value/fail_contains_resolved_vc_and_vc.stderr
  crates/turbo-tasks-macros-tests/tests/derive_resolved_value/fail_contains_vc_inside_generic.rs
  crates/turbo-tasks-macros-tests/tests/derive_resolved_value/fail_contains_vc_inside_generic.stderr
  crates/turbo-tasks-macros-tests/tests/derive_resolved_value/fail_simple_enum.rs
  crates/turbo-tasks-macros-tests/tests/derive_resolved_value/fail_simple_enum.stderr
  crates/turbo-tasks-macros-tests/tests/derive_resolved_value/fail_simple_named_struct.rs
  crates/turbo-tasks-macros-tests/tests/derive_resolved_value/fail_simple_named_struct.stderr
  crates/turbo-tasks-macros-tests/tests/derive_resolved_value/fail_simple_unnamed_struct.rs
  crates/turbo-tasks-macros-tests/tests/derive_resolved_value/fail_simple_unnamed_struct.stderr
  crates/turbo-tasks-macros-tests/tests/derive_resolved_value/fail_underconstrained_generic.rs
  crates/turbo-tasks-macros-tests/tests/derive_resolved_value/fail_underconstrained_generic.stderr
  crates/turbo-tasks-macros-tests/tests/derive_resolved_value/pass_contains_resolved_vc.rs
  crates/turbo-tasks-macros-tests/tests/derive_resolved_value/pass_lifetimes.rs
  crates/turbo-tasks-macros-tests/tests/derive_resolved_value/pass_linked_list.rs
  crates/turbo-tasks-macros-tests/tests/derive_resolved_value/pass_phantom_data.rs
  crates/turbo-tasks-macros-tests/tests/derive_resolved_value/pass_simple_enums.rs
  crates/turbo-tasks-macros-tests/tests/derive_resolved_value/pass_simple_structs.rs
  crates/turbo-tasks-macros-tests/tests/trybuild.rs
  crates/turbo-tasks-macros/Cargo.toml
  crates/turbo-tasks-macros/src/derive/mod.rs
  crates/turbo-tasks-macros/src/derive/resolved_value_macro.rs
  crates/turbo-tasks-macros/src/lib.rs
  crates/turbo-tasks/src/vc/resolved.rs
Labels: owned-by: turborepo, owned-by: turbopack, created-by: turbopack

#8702 fix constant width for checkmark
  crates/turborepo-lib/src/run/graph_visualizer.rs
  crates/turborepo-ui/src/tui/table.rs
Labels: needs: triage, owned-by: turborepo

#8612 fix(ui): respect `--output-logs` and `outputLogs` for persisting logs after TUI exits
  crates/turborepo-lib/src/cli/mod.rs
  crates/turborepo-lib/src/run/cache.rs
  crates/turborepo-lib/src/task_graph/visitor.rs
  crates/turborepo-ui/src/tui/app.rs
  crates/turborepo-ui/src/tui/event.rs
  crates/turborepo-ui/src/tui/handle.rs
  crates/turborepo-ui/src/tui/term_output.rs
Labels: owned-by: turborepo, created-by: turborepo

#8703 fix(ui): only start ui if there are tasks to run
  crates/turborepo-lib/src/run/mod.rs
Labels: owned-by: turborepo, created-by: turborepo

#8704 chore(ui): add tracing to all tui operations
  crates/turborepo-ui/src/tui/app.rs
Labels: owned-by: turborepo, created-by: turborepo

#8715 Switch RcStr from std::sync::Arc to triomphe::Arc
  crates/turbo-tasks/src/rcstr.rs
  crates/turbopack-ecmascript/src/parse.rs
Labels: owned-by: turbopack, created-by: turbopack

#8699 perf: Merge multiple `EsmBinding`
  crates/turbopack-ecmascript/src/references/esm/binding.rs
  crates/turbopack-ecmascript/src/references/mod.rs
Labels: owned-by: turbopack, created-by: turbopack

#8642 fix(docs): fix broken link
  docs/repo-docs/crafting-your-repository/configuring-tasks.mdx
  docs/repo-docs/guides/tools/prisma.mdx
Labels: area: docs, needs: triage, owned-by: turborepo, owned-by: turbopack

#8638 fix(examples): correct next.config extension in tsconfig
  examples/basic/apps/docs/tsconfig.json
  examples/basic/apps/web/tsconfig.json
Labels: area: examples, needs: triage, owned-by: turborepo

#8669 Update creating-an-internal-package.mdx
  docs/repo-docs/crafting-your-repository/creating-an-internal-package.mdx
Labels: area: docs, needs: triage, owned-by: turborepo, owned-by: turbopack

#8637 docs(turborepo): Update managing dependency for yarn berry
  docs/repo-docs/crafting-your-repository/managing-dependencies.mdx
Labels: area: docs, needs: triage, owned-by: turborepo, owned-by: turbopack

#8719 Replace UUID to native
  packages/turbo-telemetry/package.json
  packages/turbo-telemetry/src/client.ts
  packages/turbo-telemetry/src/config.ts
  packages/turbo-test-utils/package.json
  packages/turbo-test-utils/src/useFixtures.ts
  pnpm-lock.yaml
Labels: needs: triage, owned-by: turborepo, owned-by: turbopack, pkg: turbo-telemetry

#8714 adds CLI flag for controlling tui/stream
  crates/turborepo-lib/src/cli/mod.rs
  crates/turborepo-lib/src/commands/mod.rs
  crates/turborepo-lib/src/turbo_json/mod.rs
  turborepo-tests/integration/tests/no-args.t
  turborepo-tests/integration/tests/turbo-help.t
Labels: needs: triage, owned-by: turborepo

#8720 Add support for `#[turbo_tasks::value(resolved)]` and `#[turbo_tasks::value_trait(resolved)]`
  crates/turbo-tasks-macros-shared/src/value_trait_arguments.rs
  crates/turbo-tasks-macros-tests/tests/derive_resolved_value/fail_contains_vc_inside_generic.stderr
  crates/turbo-tasks-macros-tests/tests/trybuild.rs
  crates/turbo-tasks-macros-tests/tests/value/fail_resolved.rs
  crates/turbo-tasks-macros-tests/tests/value/fail_resolved.stderr
  crates/turbo-tasks-macros-tests/tests/value/pass_resolved.rs
  crates/turbo-tasks-macros-tests/tests/value_trait/pass_resolved.rs
  crates/turbo-tasks-macros/src/derive/resolved_value_macro.rs
  crates/turbo-tasks-macros/src/derive/value_macro.rs
  crates/turbo-tasks-macros/src/lib.rs
  crates/turbo-tasks-macros/src/value_macro.rs
  crates/turbo-tasks-macros/src/value_trait_macro.rs
  crates/turbo-tasks/src/macro_helpers.rs
Labels: owned-by: turbopack, created-by: turbopack

#8732 Add Dimitri to turbo-orchestrator.
  .github/turbo-orchestrator.yml
Labels: owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#8733 chore(ci): Skip downloading Playwright browsers in Turborepo CI.
  .github/actions/setup-turborepo-environment/action.yml
Labels: area: ci, owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#8706 build: Update `swc_core` to `v0.96.9`
  Cargo.lock
  Cargo.toml
  crates/turbopack-core/src/environment.rs
  crates/turbopack-ecmascript-plugins/src/transform/modularize_imports.rs
  crates/turbopack-ecmascript-plugins/src/transform/relay.rs
  crates/turbopack-ecmascript/src/parse.rs
  crates/turbopack-swc-ast-explorer/src/main.rs
  crates/turbopack-tests/tests/snapshot/emotion/emotion/output/crates_turbopack-tests_tests_snapshot_b36339._.js
Labels: owned-by: turborepo, owned-by: turbopack, created-by: turbopack

#8390 Replace chalk by picocolors
  packages/create-turbo/__tests__/index.test.ts
  packages/create-turbo/package.json
  packages/create-turbo/src/cli.ts
  packages/create-turbo/src/commands/create/index.ts
  packages/create-turbo/src/utils/notifyUpdate.ts
  packages/devlow-bench/package.json
  packages/devlow-bench/src/interfaces/console.ts
  packages/devlow-bench/src/interfaces/interactive.ts
  packages/devlow-bench/src/interfaces/json.ts
  packages/devlow-bench/src/types.d.ts
  packages/turbo-codemod/package.json
  packages/turbo-codemod/src/cli.ts
  packages/turbo-codemod/src/commands/migrate/index.ts
  packages/turbo-codemod/src/commands/transform/index.ts
  packages/turbo-codemod/src/runner/FileTransform.ts
  packages/turbo-codemod/src/runner/Runner.ts
  packages/turbo-codemod/src/utils/checkGitStatus.ts
  packages/turbo-codemod/src/utils/logger.ts
  packages/turbo-codemod/src/utils/notifyUpdate.ts
  packages/turbo-gen/package.json
  packages/turbo-gen/src/cli.ts
  packages/turbo-gen/src/generators/copy.ts
  packages/turbo-gen/src/generators/empty.ts
  packages/turbo-gen/src/utils/notifyUpdate.ts
  packages/turbo-gen/tsup.config.ts
  packages/turbo-telemetry/package.json
  packages/turbo-telemetry/src/cli.ts
  packages/turbo-telemetry/src/config.ts
  packages/turbo-utils/package.json
  packages/turbo-utils/src/createProject.ts
  packages/turbo-utils/src/logger.ts
  packages/turbo-utils/src/validateDirectory.ts
  packages/turbo-workspaces/package.json
  packages/turbo-workspaces/src/cli.ts
  packages/turbo-workspaces/src/commands/convert/index.ts
  packages/turbo-workspaces/src/commands/summary/index.ts
  packages/turbo-workspaces/src/convert.ts
  packages/turbo-workspaces/src/logger.ts
  packages/turbo-workspaces/src/updateDependencies.ts
  pnpm-lock.yaml
Labels: pkg: create-turbo, pkg: turbo-codemod, needs: triage, pkg: turbo-gen, pkg: turbo-workspaces, owned-by: turborepo, owned-by: turbopack, pkg: turbo-telemetry

#8738 feat: allow opting out of required package manager
  crates/turborepo-lib/src/cli/mod.rs
  crates/turborepo-lib/src/commands/mod.rs
  crates/turborepo-lib/src/commands/prune.rs
  crates/turborepo-lib/src/config.rs
  crates/turborepo-lib/src/run/builder.rs
  crates/turborepo-lib/src/turbo_json/mod.rs
  crates/turborepo-repository/src/discovery.rs
  crates/turborepo-repository/src/inference.rs
  crates/turborepo-repository/src/package_graph/builder.rs
  crates/turborepo-repository/src/package_manager/bun.rs
  crates/turborepo-repository/src/package_manager/mod.rs
  crates/turborepo-repository/src/package_manager/npm.rs
  crates/turborepo-repository/src/package_manager/pnpm.rs
  crates/turborepo-repository/src/package_manager/yarn.rs
  turborepo-tests/integration/tests/no-args.t
  turborepo-tests/integration/tests/turbo-help.t
Labels: owned-by: turborepo, created-by: turborepo

#8692 docs: Make root task more clear
  docs/repo-docs/crafting-your-repository/configuring-tasks.mdx
Labels: area: docs, needs: triage, owned-by: turborepo, owned-by: turbopack

#8743 Docs: Remove LESS from the first section title in documentation
  docs/pack-docs/features/css.mdx
Labels: area: docs, needs: triage, owned-by: turborepo, owned-by: turbopack

#8721 fix equal checks for cells and output
  crates/turbo-tasks-memory/src/output.rs
  crates/turbopack-core/src/source_map/mod.rs
  crates/turbopack-css/src/process.rs
Labels: owned-by: turbopack, created-by: turbopack

#8671 add unloading of tasks to GC
  crates/turbo-tasks-memory/src/aggregation/mod.rs
  crates/turbo-tasks-memory/src/cell.rs
  crates/turbo-tasks-memory/src/gc.rs
  crates/turbo-tasks-memory/src/memory_backend.rs
  crates/turbo-tasks-memory/src/task.rs
Labels: owned-by: turbopack, created-by: turbopack

#8749 fix unloading stateful check
  crates/turbo-tasks-memory/src/task.rs
Labels: owned-by: turbopack, created-by: turbopack

#8750 upgrade deps to avoid conflict with next.js
  Cargo.lock
Labels: created-by: turbopack

#8767 Update Turbopack members in labeler
  .github/turbo-orchestrator.yml
Labels: needs: triage, owned-by: turborepo, owned-by: turbopack

#8722 Use fs and vm for async chunk loading in Node
  crates/turbopack-ecmascript-runtime/js/src/nodejs/runtime.ts
  crates/turbopack-tests/tests/snapshot/runtime/default_build_runtime/output/[turbopack]_runtime.js
  crates/turbopack-tests/tests/snapshot/runtime/default_build_runtime/output/[turbopack]_runtime.js.map
Labels: needs: triage, owned-by: turbopack

#8759 refactor(turborepo): derive `Opts` from `Config`
  crates/turborepo-api-client/src/lib.rs
  crates/turborepo-lib/src/cli/mod.rs
  crates/turborepo-lib/src/opts.rs
  crates/turborepo-lib/src/run/builder.rs
  turborepo-tests/integration/tests/no-args.t
  turborepo-tests/integration/tests/turbo-help.t
Labels: owned-by: turborepo, created-by: turborepo

#8758 Remove unused instant return value from `CaptureFuture`
  crates/turbo-tasks/src/capture_future.rs
  crates/turbo-tasks/src/manager.rs
Labels: owned-by: turbopack, created-by: turbopack

#8760 Delete dead raw_vc_set module
  crates/turbo-tasks/src/lib.rs
  crates/turbo-tasks/src/raw_vc_set.rs
Labels: owned-by: turbopack, created-by: turbopack

#8769 Rewrite IdFactory and IdFactoryWithReuse
  Cargo.lock
  Cargo.toml
  crates/turbo-tasks-memory/src/memory_backend.rs
  crates/turbo-tasks-memory/src/memory_backend_with_pg.rs
  crates/turbo-tasks/src/id.rs
  crates/turbo-tasks/src/id_factory.rs
  crates/turbo-tasks/src/manager.rs
  crates/turbo-tasks/src/registry.rs
  crates/turbo-tasks/src/util.rs
Labels: owned-by: turborepo, owned-by: turbopack, created-by: turbopack

#8771 Add u64 ExecutionId type
  crates/turbo-tasks/src/backend.rs
  crates/turbo-tasks/src/id.rs
Labels: owned-by: turbopack, created-by: turbopack

#8753 chore(turborepo): refine package.json parse error
  crates/turborepo-errors/src/lib.rs
  crates/turborepo-lib/src/run/error.rs
  crates/turborepo-repository/src/package_graph/builder.rs
  crates/turborepo-repository/src/package_json.rs
  turborepo-tests/integration/tests/bad-turbo-json.t
  turborepo-tests/integration/tests/invalid-package-json.t
Labels: owned-by: turborepo, created-by: turborepo

#8735 turbo-tasks this calls
  crates/turbo-tasks-macros/src/func.rs
  crates/turbo-tasks-macros/src/function_macro.rs
  crates/turbo-tasks-macros/src/lib.rs
  crates/turbo-tasks-macros/src/value_impl_macro.rs
  crates/turbo-tasks-macros/src/value_trait_macro.rs
  crates/turbo-tasks-memory/src/memory_backend.rs
  crates/turbo-tasks-memory/src/task.rs
  crates/turbo-tasks-memory/tests/call_types.rs
  crates/turbo-tasks-testing/src/lib.rs
  crates/turbo-tasks/src/backend.rs
  crates/turbo-tasks/src/lib.rs
  crates/turbo-tasks/src/manager.rs
  crates/turbo-tasks/src/native_function.rs
  crates/turbo-tasks/src/raw_vc.rs
  crates/turbo-tasks/src/task/concrete_task_input.rs
  crates/turbo-tasks/src/task/function.rs
  crates/turbo-tasks/src/task/mod.rs
  crates/turbo-tasks/src/trait_helpers.rs
  crates/turbo-tasks/src/value_type.rs
Labels: owned-by: turbopack, created-by: turbopack

#8775 improve failsafe_analyse
  crates/turbopack-ecmascript/src/lib.rs
Labels: owned-by: turbopack, created-by: turbopack

#8776 notify tasks when collectibles change
  crates/turbo-tasks-memory/src/memory_backend.rs
  crates/turbo-tasks/src/manager.rs
Labels: owned-by: turbopack, created-by: turbopack

#8778 fix collectibles counting
  Cargo.lock
  crates/turbo-tasks-memory/src/memory_backend.rs
  crates/turbo-tasks-memory/src/memory_backend_with_pg.rs
  crates/turbo-tasks-memory/src/task.rs
  crates/turbo-tasks-memory/src/task/aggregation.rs
  crates/turbo-tasks-memory/tests/recompute_collectibles.rs
  crates/turbo-tasks-testing/Cargo.toml
  crates/turbo-tasks-testing/src/lib.rs
  crates/turbo-tasks/src/backend.rs
  crates/turbo-tasks/src/manager.rs
Labels: owned-by: turbopack, created-by: turbopack

#8736 Refactor task arguments to be a single one
  crates/turbo-tasks-macros/src/derive/task_input_macro.rs
  crates/turbo-tasks-macros/src/func.rs
  crates/turbo-tasks-memory/src/lib.rs
  crates/turbo-tasks-memory/src/memory_backend.rs
  crates/turbo-tasks-memory/src/memory_backend_with_pg.rs
  crates/turbo-tasks-memory/src/task.rs
  crates/turbo-tasks-testing/src/lib.rs
  crates/turbo-tasks/src/backend.rs
  crates/turbo-tasks/src/manager.rs
  crates/turbo-tasks/src/native_function.rs
  crates/turbo-tasks/src/task/concrete_task_input.rs
  crates/turbo-tasks/src/task/function.rs
  crates/turbo-tasks/src/task/task_input.rs
Labels: owned-by: turbopack, created-by: turbopack

#8777 merge InProgressDirty into InProgress
  crates/turbo-tasks-memory/src/task.rs
  crates/turbo-tasks-memory/tests/dirty_in_progress.rs
Labels: owned-by: turbopack, created-by: turbopack

#8784 Update basic example.
  examples/basic/apps/docs/app/page.module.css
  examples/basic/apps/docs/app/page.tsx
  examples/basic/apps/web/app/page.module.css
  examples/basic/apps/web/app/page.tsx
  examples/basic/package.json
  examples/basic/pnpm-lock.yaml
  examples/basic/turbo.json
Labels: area: examples, owned-by: turborepo, created-by: turborepo

#8726 feat(turborepo): give potential tasks on empty `turbo run`
  .github/workflows/turborepo-test.yml
  crates/turborepo-lib/src/cli/error.rs
  crates/turborepo-lib/src/cli/mod.rs
  crates/turborepo-lib/src/commands/run.rs
  crates/turborepo-lib/src/run/mod.rs
  turborepo-tests/integration/tests/no-args.t
Labels: area: ci, owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#8730 chore(ci): run JS package tests on node 18
  .github/workflows/test-js-packages.yml
  .github/workflows/turborepo-native-lib-test.yml
  packages/turbo-repository/turbo.json
  turbo.json
Labels: area: ci, owned-by: turborepo, owned-by: turbopack, created-by: turborepo, pkg: turbo-repository

#8789 chore(ci): rm unused input to custom action
  .github/workflows/turborepo-native-lib-test.yml
Labels: area: ci, owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#8787 chore(ci): JS tests don't need to setup rust and capnproto
  .github/workflows/test-js-packages.yml
Labels: area: ci, owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#8785 fix watcher bug with file creation
  crates/turbo-tasks-fs/src/watcher.rs
Labels: owned-by: turbopack, created-by: turbopack

#8794 feat(turbo): add VERCEL to pass through
  crates/turborepo-lib/src/task_hash.rs
Labels: owned-by: turborepo, created-by: turborepo

#8299 feature(turborepo): fancy package.json errors
  crates/turborepo-errors/src/lib.rs
  crates/turborepo-lib/src/cli/error.rs
  crates/turborepo-lib/src/engine/mod.rs
  crates/turborepo-lib/src/run/error.rs
  crates/turborepo-lib/src/run/summary/task_factory.rs
  crates/turborepo-lib/src/task_graph/visitor.rs
  crates/turborepo-lib/src/turbo_json/mod.rs
  crates/turborepo-repository/src/package_graph/builder.rs
  crates/turborepo-repository/src/package_graph/dep_splitter.rs
  crates/turborepo-repository/src/package_json.rs
  crates/turborepo-repository/src/package_manager/mod.rs
  crates/turborepo-repository/src/package_manager/pnpm.rs
  crates/turborepo-repository/src/package_manager/yarn.rs
  turborepo-tests/integration/fixtures/basic_monorepo/package.json
  turborepo-tests/integration/tests/invalid-package-json.t
  turborepo-tests/integration/tests/recursive-turbo.t
Labels: owned-by: turborepo, created-by: turborepo

#8796 feat(examples): bump turbo for svelte
  examples/with-svelte/package.json
  examples/with-svelte/pnpm-lock.yaml
Labels: area: examples, owned-by: turborepo, created-by: turborepo

#8739 Docs: Add sections for package manager check disabling.
  docs/repo-docs/reference/configuration.mdx
  docs/repo-docs/reference/run.mdx
  docs/repo-docs/reference/system-environment-variables.mdx
Labels: area: docs, owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#8805 impl Ord for Diagnostics and Issue so they are sorted correctly
  crates/turbopack-core/src/diagnostics/mod.rs
  crates/turbopack-core/src/issue/mod.rs
Labels: owned-by: turbopack, created-by: turbopack

#8813 chore: dedupe link component in kitchen sink
  examples/kitchen-sink/packages/ui/src/Link/index.test.tsx
  examples/kitchen-sink/packages/ui/src/Link/index.tsx
Labels: area: examples, owned-by: turborepo, created-by: turborepo

#8799 Add missing require.resolve to @vercel/style-guide
  docs/repo-docs/guides/tools/eslint.mdx
Labels: area: docs, needs: triage, owned-by: turborepo, owned-by: turbopack

#8725 chore(turborepo): add Nitro's env var pattern
  crates/turborepo-lib/src/framework.rs
  docs/repo-docs/crafting-your-repository/using-environment-variables.mdx
Labels: area: docs, needs: triage, owned-by: turborepo, owned-by: turbopack

#8729 Replace rimraf to native
  packages/create-turbo/package.json
  packages/create-turbo/src/utils/git.ts
  packages/turbo-test-utils/package.json
  packages/turbo-test-utils/src/useFixtures.ts
  pnpm-lock.yaml
Labels: pkg: create-turbo, needs: triage, owned-by: turborepo, owned-by: turbopack

#8822 chore: add trace level logging to process management
  crates/turborepo-lib/src/process/child.rs
  crates/turborepo-lib/src/process/mod.rs
Labels: owned-by: turborepo, created-by: turborepo

#8812 Simplify some of the syntax used with VcRead<T>
  crates/turbo-tasks/src/read_ref.rs
  crates/turbo-tasks/src/task/function.rs
  crates/turbo-tasks/src/vc/cast.rs
  crates/turbo-tasks/src/vc/cell_mode.rs
Labels: owned-by: turbopack, created-by: turbopack

#8823 feat(turbopack): support analysing string concatenation
  crates/turbopack-ecmascript/src/analyzer/builtin.rs
  crates/turbopack-tests/tests/execution/turbopack/dynamic-requests/basic/input/index.js
Labels: owned-by: turbopack, created-by: turbopack

#8828 change from failsafe_analyse to failsafe_parse
  crates/turbopack-ecmascript/src/lib.rs
  crates/turbopack-ecmascript/src/parse.rs
  crates/turbopack-ecmascript/src/references/mod.rs
  crates/turbopack-ecmascript/src/side_effect_optimization/facade/module.rs
  crates/turbopack-ecmascript/src/side_effect_optimization/locals/module.rs
  crates/turbopack-ecmascript/src/tree_shake/asset.rs
  crates/turbopack-mdx/src/lib.rs
Labels: owned-by: turbopack, created-by: turbopack

#8831 make sure that all the taiki-e/install-action calls use our env
  .github/actions/setup-rust/action.yml
  .github/workflows/bench-turbotrace-against-node-nft.yml
  .github/workflows/test-turbopack-rust-bench-test.yml
  .github/workflows/turbopack-test.yml
Labels: area: ci, owned-by: turborepo, owned-by: turbopack, created-by: turbopack

#8819 Refactor cell reading to handle removed cells
  crates/turbo-tasks-memory/src/cell.rs
  crates/turbo-tasks-memory/src/memory_backend.rs
  crates/turbo-tasks-memory/src/task.rs
  crates/turbo-tasks-memory/tests/emptied_cells.rs
Labels: owned-by: turbopack, created-by: turbopack

#8830 docs(link): wrong mention of the `logout` command in the `link` flags
  docs/repo-docs/reference/link.mdx
Labels: area: docs, needs: triage, owned-by: turborepo, owned-by: turbopack

#8038 add tags to turbo tasks
  crates/turbo-tasks-fetch/src/lib.rs
  crates/turbo-tasks-fs/src/attach.rs
  crates/turbo-tasks-fs/src/lib.rs
  crates/turbo-tasks-fs/src/read_glob.rs
  crates/turbo-tasks-macros/src/function_macro.rs
Labels: owned-by: turbopack, created-by: turbopack

#8807 box Scheduled task state to save memory
  crates/turbo-tasks-memory/src/task.rs
Labels: owned-by: turbopack, created-by: turbopack

#8170 Drop excessive cells after task reexecution
  crates/turbo-tasks-memory/src/cell.rs
  crates/turbo-tasks-memory/src/memory_backend.rs
  crates/turbo-tasks-memory/src/task.rs
  crates/turbo-tasks/src/backend.rs
  crates/turbo-tasks/src/manager.rs
Labels: owned-by: turbopack, created-by: turbopack

#8825 chore(infer): add test for current behavior
  crates/turborepo-repository/src/inference.rs
Labels: owned-by: turborepo, created-by: turborepo

#8263 reduce memory and consolidate shared vs transient cells
  crates/turbo-tasks-memory/src/cell.rs
  crates/turbo-tasks-memory/src/memory_backend.rs
  crates/turbo-tasks-testing/src/lib.rs
  crates/turbo-tasks/src/backend.rs
  crates/turbo-tasks/src/manager.rs
  crates/turbo-tasks/src/persisted_graph.rs
  crates/turbo-tasks/src/raw_vc.rs
  crates/turbo-tasks/src/read_ref.rs
  crates/turbo-tasks/src/task/shared_reference.rs
  crates/turbo-tasks/src/task/task_input.rs
  crates/turbo-tasks/src/trait_ref.rs
  crates/turbo-tasks/src/value.rs
  crates/turbo-tasks/src/vc/cast.rs
Labels: owned-by: turbopack, created-by: turbopack

#8818 avoid implementing Eq on Completion
  crates/turbo-tasks/src/completion.rs
Labels: owned-by: turbopack, created-by: turbopack

#8687 GC auto increase memory limit on inefficient GC
  crates/turbo-tasks-memory/src/gc.rs
  crates/turbo-tasks-memory/src/memory_backend.rs
  crates/turbo-tasks-memory/src/task.rs
Labels: owned-by: turbopack, created-by: turbopack

#8838 fix: close stdin for non-interactive tasks
  crates/turborepo-lib/src/task_graph/visitor.rs
Labels: owned-by: turborepo, created-by: turborepo

#8839 fix(docs): update old config
  docs/repo-docs/guides/tools/storybook.mdx
Labels: area: docs, owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#8832 Reduce macro usage in turbo-tasks-testing
  Cargo.lock
  crates/turbo-tasks-fetch/Cargo.toml
  crates/turbo-tasks-fetch/tests/fetch.rs
  crates/turbo-tasks-macros-tests/Cargo.toml
  crates/turbo-tasks-macros-tests/tests/task_input.rs
  crates/turbo-tasks-macros-tests/tests/value_debug.rs
  crates/turbo-tasks-memory/Cargo.toml
  crates/turbo-tasks-memory/tests/all_in_one.rs
  crates/turbo-tasks-memory/tests/call_types.rs
  crates/turbo-tasks-memory/tests/collectibles.rs
  crates/turbo-tasks-memory/tests/debug.rs
  crates/turbo-tasks-memory/tests/dirty_in_progress.rs
  crates/turbo-tasks-memory/tests/emptied_cells.rs
  crates/turbo-tasks-memory/tests/read_ref_cell.rs
  crates/turbo-tasks-memory/tests/recompute.rs
  crates/turbo-tasks-memory/tests/recompute_collectibles.rs
  crates/turbo-tasks-memory/tests/scope_stress.rs
  crates/turbo-tasks-memory/tests/task_statistics.rs
  crates/turbo-tasks-memory/tests/trait_ref_cell.rs
  crates/turbo-tasks-testing/Cargo.toml
  crates/turbo-tasks-testing/src/lib.rs
  crates/turbo-tasks-testing/src/macros.rs
  crates/turbo-tasks-testing/src/run.rs
  crates/turbo-tasks/src/completion.rs
Labels: owned-by: turbopack, created-by: turbopack

#8841 chore(turborepo): print the turbo version on start up
  crates/turborepo-lib/src/cli/mod.rs
  turborepo-tests/helpers/setup.sh
  turborepo-tests/helpers/setup_integration_test.sh
Labels: owned-by: turborepo, created-by: turborepo

#8842 chore(turborepo): add docs entry for `TURBO_PRINT_VERSION_DISABLED` var
  docs/repo-docs/reference/system-environment-variables.mdx
Labels: area: docs, owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#8844 Update turbo-orchestrator.yml rules
  .github/turbo-orchestrator.yml
Labels: owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#8853 chore(auth): catch forbidden cache access error
  crates/turborepo-auth/src/auth/login.rs
  crates/turborepo-auth/src/lib.rs
Labels: owned-by: turborepo, created-by: turborepo

#8855 chore(telemetry): remove unused codepath field
  crates/turborepo-lib/src/cli/mod.rs
  crates/turborepo-telemetry/src/events/command.rs
Labels: needs: triage, owned-by: turborepo

#8856 chore(schema): update schema with dangerouslyDisablePackageManagerCheck
  packages/turbo-types/src/types/config.ts
Labels: pr: automerge, owned-by: turborepo, created-by: turborepo

#8848 fix: Use `hygiene_with_config` instead of `hygiene`
  crates/turbopack-ecmascript/src/lib.rs
  crates/turbopack-tests/tests/execution/turbopack/renaming/eval/input/index.js
Labels: owned-by: turbopack, created-by: turbopack

#8865 fix symlinks and dotfiles while reading glob
  crates/turbo-tasks-fs/src/read_glob.rs
Labels: owned-by: turbopack, created-by: turbopack

#8748 Support `module_resolution: "nodenext"`
  crates/turbopack-core/src/resolve/mod.rs
  crates/turbopack-core/src/resolve/options.rs
  crates/turbopack-core/src/resolve/pattern.rs
  crates/turbopack-resolve/src/typescript.rs
  crates/turbopack-tests/tests/execution/turbopack/resolving/tsconfig-nodenext/input/index.js
  crates/turbopack-tests/tests/execution/turbopack/resolving/tsconfig-nodenext/input/src/bar.tsx
  crates/turbopack-tests/tests/execution/turbopack/resolving/tsconfig-nodenext/input/src/foo-cjs.cts
  crates/turbopack-tests/tests/execution/turbopack/resolving/tsconfig-nodenext/input/src/foo-esm.mts
  crates/turbopack-tests/tests/execution/turbopack/resolving/tsconfig-nodenext/input/src/foo.js
  crates/turbopack-tests/tests/execution/turbopack/resolving/tsconfig-nodenext/input/src/foo.ts
  crates/turbopack-tests/tests/execution/turbopack/resolving/tsconfig-nodenext/input/tsconfig.json
Labels: owned-by: turbopack, created-by: turbopack

#8868 fix(turborepo): task table width bug
  crates/turborepo-lib/src/cli/mod.rs
  crates/turborepo-telemetry/src/events/command.rs
  crates/turborepo-ui/src/tui/table.rs
Labels: owned-by: turborepo, created-by: turborepo

#8843 Add/move tests for Vc generics
  crates/turbo-tasks-memory/tests/all_in_one.rs
  crates/turbo-tasks-memory/tests/generics.rs
Labels: owned-by: turbopack, created-by: turbopack

#8845 Fix `ReadRef<T>::cell` when `T` != `T::Read::Repr`
  crates/turbo-tasks-memory/tests/generics.rs
  crates/turbo-tasks/src/read_ref.rs
  crates/turbo-tasks/src/triomphe_utils.rs
Labels: owned-by: turbopack, created-by: turbopack

#8869 feat(turborepo): added specific symbol for cache hit
  crates/turborepo-lib/src/task_graph/visitor.rs
  crates/turborepo-ui/src/tui/event.rs
  crates/turborepo-ui/src/tui/handle.rs
  crates/turborepo-ui/src/tui/table.rs
Labels: owned-by: turborepo, created-by: turborepo

#8713 feat(tui): terminal pane mouse copying
  Cargo.lock
  crates/turborepo-ui/Cargo.toml
  crates/turborepo-ui/src/tui/app.rs
  crates/turborepo-ui/src/tui/clipboard.rs
  crates/turborepo-ui/src/tui/event.rs
  crates/turborepo-ui/src/tui/input.rs
  crates/turborepo-ui/src/tui/mod.rs
  crates/turborepo-ui/src/tui/pane.rs
  crates/turborepo-ui/src/tui/term_output.rs
  crates/turborepo-vt100/src/cell.rs
  crates/turborepo-vt100/src/grid.rs
  crates/turborepo-vt100/src/row.rs
  crates/turborepo-vt100/src/screen.rs
  crates/turborepo-vt100/tests/select.rs
Labels: owned-by: turborepo, created-by: turborepo

#8864 fix: Fix tree shaking even more
  crates/turbopack-ecmascript/src/references/esm/export.rs
  crates/turbopack-ecmascript/src/tree_shake/asset.rs
  crates/turbopack-tests/tests/snapshot/basic-tree-shake/dynamic-import/output/79fb1_turbopack-tests_tests_snapshot_basic-tree-shake_dynamic-import_input_lib_f28c6f.js
  crates/turbopack-tests/tests/snapshot/basic-tree-shake/export-named/output/crates_turbopack-tests_tests_snapshot_basic-tree-shake_export-named_input_35ea42._.js
  crates/turbopack-tests/tests/snapshot/basic-tree-shake/export-namespace/output/79fb1_turbopack-tests_tests_snapshot_basic-tree-shake_export-namespace_input_c0eca6._.js
  crates/turbopack-tests/tests/snapshot/basic-tree-shake/import-named-all/output/79fb1_turbopack-tests_tests_snapshot_basic-tree-shake_import-named-all_input_71b07f._.js
  crates/turbopack-tests/tests/snapshot/basic-tree-shake/import-named/output/crates_turbopack-tests_tests_snapshot_basic-tree-shake_import-named_input_ed0d99._.js
  crates/turbopack-tests/tests/snapshot/basic-tree-shake/import-namespace/output/79fb1_turbopack-tests_tests_snapshot_basic-tree-shake_import-namespace_input_351ad1._.js
  crates/turbopack-tests/tests/snapshot/basic-tree-shake/import-side-effect/output/79fb1_turbopack-tests_tests_snapshot_basic-tree-shake_import-side-effect_input_cdc49f._.js
  crates/turbopack-tests/tests/snapshot/basic-tree-shake/require-side-effect/output/a587c_tests_snapshot_basic-tree-shake_require-side-effect_input_6b5862._.js
  crates/turbopack-tests/tests/snapshot/basic-tree-shake/tree-shake-test-1/output/a587c_tests_snapshot_basic-tree-shake_tree-shake-test-1_input_index_87c735.js
Labels: owned-by: turbopack, created-by: turbopack

#8875 improve test glob to exclude output folder
  crates/turbopack-tests/build.rs
Labels: owned-by: turbopack, created-by: turbopack

#8874 only add import references when they are used
  crates/turbopack-ecmascript/src/references/mod.rs
  crates/turbopack-ecmascript/tests/analyzer/graph/conditional-import/graph-effects.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/conditional-import/input.js
  crates/turbopack-ecmascript/tests/analyzer/graph/conditional-import/resolved-effects.snapshot
  crates/turbopack-tests/tests/execution/turbopack/side-effects-optimization/comptime/input/index.js
  crates/turbopack-tests/tests/execution/turbopack/side-effects-optimization/comptime/input/node_modules/package/dep.js
  crates/turbopack-tests/tests/execution/turbopack/side-effects-optimization/comptime/input/node_modules/package/dep2.js
  crates/turbopack-tests/tests/execution/turbopack/side-effects-optimization/comptime/input/node_modules/package/package.json
  crates/turbopack-tests/tests/execution/turbopack/side-effects-optimization/comptime/options.json
  crates/turbopack-tests/tests/execution/turbopack/tree-shaking/comptime/input/index.js
  crates/turbopack-tests/tests/execution/turbopack/tree-shaking/comptime/options.json
Labels: owned-by: turbopack, created-by: turbopack

#8766 Replace MDX ModuleType with MDX SourceTransform
  crates/turbopack-mdx/src/lib.rs
  crates/turbopack/src/lib.rs
  crates/turbopack/src/module_options/mod.rs
  crates/turbopack/src/module_options/module_rule.rs
Labels: owned-by: turbopack, created-by: turbopack

#8881 Make FS error more clear.
  crates/turborepo-lib/src/commands/prune.rs
Labels: owned-by: turborepo, created-by: turborepo

#8882 (docs): Callout for using dotenv.
  docs/repo-docs/crafting-your-repository/using-environment-variables.mdx
Labels: area: docs, owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#8728 adds daemon flag for env var and turbo.json
  crates/turborepo-lib/src/commands/config.rs
  crates/turborepo-lib/src/commands/mod.rs
  crates/turborepo-lib/src/config.rs
  crates/turborepo-lib/src/opts.rs
  crates/turborepo-lib/src/turbo_json/mod.rs
  turborepo-tests/integration/tests/config.t
Labels: owned-by: turborepo, created-by: turborepo

#8885 fix(windows): keep stdin open for conpty processes
  crates/turborepo-lib/src/process/mod.rs
  crates/turborepo-lib/src/task_graph/visitor.rs
Labels: owned-by: turborepo, created-by: turborepo

#8888 (docs): Mention sideEffects key in Internal Packages documentation.
  docs/repo-docs/core-concepts/internal-packages.mdx
Labels: area: docs, owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#8090 fix(ci): Trying to fix `benchmark-turbopack` workflow
  .github/workflows/bench-turbopack.yml
Labels: area: ci, needs: triage, owned-by: turbopack

#8837 Make JS Lints have lower severity
  crates/turbopack-swc-utils/src/emitter.rs
  crates/turbopack-tests/tests/snapshot/dynamic-request/very-dynamic/issues/__l___lint TP1001__ import(FreeVar(Math)[__quo__ra-955b10.txt
  crates/turbopack-tests/tests/snapshot/dynamic-request/very-dynamic/issues/__l___lint TP1002__ require(FreeVar(Math)[__quo__r-2fe3ef.txt
  crates/turbopack-tests/tests/snapshot/dynamic-request/very-dynamic/issues/__l___lint TP1004__ fs.readFileSync(FreeVar(Math)[-45dc7a.txt
  crates/turbopack-tests/tests/snapshot/dynamic-request/very-dynamic/issues/__l___lint TP1004__ fs.readFileSync(FreeVar(Math)[-4d16cb.txt
  crates/turbopack-tests/tests/snapshot/dynamic-request/very-dynamic/issues/__l___lint TP1004__ fs.readFileSync(FreeVar(Math)[-95872b.txt
  crates/turbopack-tests/tests/snapshot/dynamic-request/very-dynamic/issues/__l___lint TP1005__ child_process.spawnSync(FreeVa-865e8b.txt
  crates/turbopack-tests/tests/snapshot/dynamic-request/very-dynamic/issues/__l___lint TP1005__ child_process.spawnSync(__-20e03e.txt
  crates/turbopack-tests/tests/snapshot/dynamic-request/very-dynamic/issues/__l___lint TP1005__ child_process.spawnSync(__quo_-9f6b1d.txt
  crates/turbopack-tests/tests/snapshot/dynamic-request/very-dynamic/issues/__l___lint TP1201__ new URL(Variable(unknown##2), -2b31a0.txt
  crates/turbopack-tests/tests/snapshot/dynamic-request/very-dynamic/issues/__l___lint TP1201__ new URL(Variable(unknown##2), -f5ba3f.txt
Labels: owned-by: turbopack, created-by: turbopack

#8879 Convert MDX errors into issues
  Cargo.lock
  Cargo.toml
  crates/turbopack-core/src/issue/mod.rs
  crates/turbopack-mdx/Cargo.toml
  crates/turbopack-mdx/src/lib.rs
Labels: owned-by: turborepo, owned-by: turbopack, created-by: turbopack

#8873 smarter logical combination that keeps truthy/falsy/nullish property
  crates/turbopack-ecmascript/src/analyzer/builtin.rs
  crates/turbopack-ecmascript/src/analyzer/mod.rs
  crates/turbopack-ecmascript/src/references/mod.rs
  crates/turbopack-ecmascript/src/utils.rs
  crates/turbopack-ecmascript/tests/analyzer/graph/1/graph.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/2/graph.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/assign/graph.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/conditional-import/graph.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/cycle-cache/graph.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/default-args/graph.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/esbuild-reduced/graph.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/esbuild/graph.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/logical/graph-effects.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/logical/graph-explained.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/logical/graph.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/logical/input.js
  crates/turbopack-ecmascript/tests/analyzer/graph/logical/resolved-effects.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/logical/resolved-explained.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/md5-reduced/graph.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/md5_2/graph.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/member-call/graph.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/mongoose-reduced/resolved-effects.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/mongoose-reduced/resolved-explained.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/nested-args/graph.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/op-assign/graph.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/pack-2521/graph.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/pack-2682/graph.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/react-dom-production/resolved-effects.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/react-dom-production/resolved-explained.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/sequences/graph.snapshot
  crates/turbopack-ecmascript/tests/analyzer/graph/try/graph.snapshot
Labels: owned-by: turbopack, created-by: turbopack

#8892 fix(pty): disable echoctl for child processes
  crates/turborepo-lib/src/process/child.rs
Labels: owned-by: turborepo, created-by: turborepo

#8872 feat(turborepo): log reason why all packages were considered changed
  crates/turborepo-lib/src/global_deps_package_change_mapper.rs
  crates/turborepo-lib/src/package_changes_watcher.rs
  crates/turborepo-lib/src/run/scope/change_detector.rs
  crates/turborepo-repository/src/change_mapper/mod.rs
  crates/turborepo-repository/src/change_mapper/package.rs
  packages/turbo-repository/rust/src/lib.rs
Labels: needs: triage, owned-by: turborepo, pkg: turbo-repository
