Repository vercel/turborepo, pull requests merged in 2024-06, with the labels that each got.

#8256 chore: update rust version
  Cargo.lock
  Cargo.toml
  crates/node-file-trace/Cargo.toml
  crates/turbo-tasks-fs/src/lib.rs
  crates/turbo-tasks-macros-shared/src/expand.rs
  crates/turbo-tasks-memory/Cargo.toml
  crates/turbopack-binding/Cargo.toml
  crates/turbopack-cli-utils/src/issue.rs
  crates/turbopack-ecmascript/src/analyzer/mod.rs
  crates/turborepo-filewatch/src/lib.rs
  crates/turborepo-lib/src/lib.rs
  crates/turborepo-lib/src/tracing.rs
  crates/turborepo-vt100/src/screen.rs
  rust-toolchain.toml
Labels: owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#8272 feat: Update `swc_core` to `v0.92.8`
  Cargo.lock
  Cargo.toml
Labels: owned-by: turborepo, owned-by: turbopack, created-by: turbopack

#8262 add crate to calculate prehashes
  Cargo.lock
  Cargo.toml
  crates/turbo-prehash/Cargo.toml
  crates/turbo-prehash/src/lib.rs
Labels: owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#8267 fix(turborepo): stderr log
  crates/turborepo-lib/src/run/summary/spaces.rs
Labels: owned-by: turborepo, created-by: turborepo

#8277 fix(turborepo): non-determinism with root internal deps hash.
  crates/turborepo-lib/src/task_hash.rs
  crates/turborepo-repository/src/package_graph/mod.rs
  turborepo-tests/integration/fixtures/root_deps/package.json
  turborepo-tests/integration/fixtures/root_deps/packages/yet-another/package.json
  turborepo-tests/integration/tests/run-caching/root-deps.t
Labels: owned-by: turborepo, created-by: turborepo

#8279 fix(codemod): support jsonc when parsing root turbo.json
  packages/turbo-codemod/__tests__/__fixtures__/migrate/turbo-1/turbo.json
  packages/turbo-codemod/package.json
  packages/turbo-codemod/src/transforms/clean-globs.ts
  packages/turbo-codemod/src/transforms/migrate-dot-env.ts
  packages/turbo-codemod/src/transforms/migrate-env-var-dependencies.ts
  packages/turbo-codemod/src/transforms/rename-output-mode.ts
  packages/turbo-codemod/src/transforms/rename-pipeline.ts
  packages/turbo-codemod/src/transforms/set-default-outputs.ts
  packages/turbo-codemod/src/transforms/stabilize-env-mode.ts
  packages/turbo-codemod/src/transforms/stabilize-ui.ts
  packages/turbo-codemod/src/transforms/transform-env-literals-to-wildcards.ts
  packages/turbo-codemod/src/utils/loadTurboJson.ts
  pnpm-lock.yaml
Labels: pkg: turbo-codemod, owned-by: turborepo, created-by: turborepo

#8280 fix(codemod): respect --dry flag
  packages/turbo-codemod/__tests__/add-package-manager.test.ts
  packages/turbo-codemod/__tests__/add-package-names.test.ts
  packages/turbo-codemod/__tests__/clean-globs.test.ts
  packages/turbo-codemod/__tests__/create-turbo-config.test.ts
  packages/turbo-codemod/__tests__/migrate-dot-env.test.ts
  packages/turbo-codemod/__tests__/migrate-env-var-dependencies.test.ts
  packages/turbo-codemod/__tests__/migrate.test.ts
  packages/turbo-codemod/__tests__/rename-output-mode.test.ts
  packages/turbo-codemod/__tests__/rename-pipeline.ts
  packages/turbo-codemod/__tests__/set-default-outputs.test.ts
  packages/turbo-codemod/__tests__/stabilize-env-mode.test.ts
  packages/turbo-codemod/__tests__/stabilize-ui.test.ts
  packages/turbo-codemod/__tests__/transform-env-literals-to-wildcards.test.ts
  packages/turbo-codemod/__tests__/transform.test.ts
  packages/turbo-codemod/src/commands/migrate/index.ts
  packages/turbo-codemod/src/commands/transform/index.ts
  packages/turbo-codemod/src/runner/Runner.ts
  packages/turbo-codemod/src/types.ts
  packages/turbo-codemod/src/utils/logger.ts
Labels: pkg: turbo-codemod, owned-by: turborepo, created-by: turborepo

#8285 fix: update integration test to expect correct output
  turborepo-tests/integration/tests/run-caching/root-deps.t
Labels: owned-by: turborepo, created-by: turborepo

#8282 chore: remove cpuprofile flag
  crates/turborepo-lib/src/cli/mod.rs
  turborepo-tests/integration/tests/no-args.t
  turborepo-tests/integration/tests/turbo-help.t
Labels: owned-by: turborepo, created-by: turborepo

#7674 [turbo trace] add ability to filter by value and occurences
  crates/turbopack-trace-server/src/server.rs
  crates/turbopack-trace-server/src/viewer.rs
Labels: owned-by: turbopack, created-by: turborepo

#8287 feat: Update `swc_core` to `v0.92.10`
  Cargo.lock
  Cargo.toml
Labels: owned-by: turborepo, owned-by: turbopack, created-by: turbopack

#8289 feat: change values of "ui" in turbo.json
  crates/turborepo-lib/src/config.rs
  crates/turborepo-lib/src/turbo_json/mod.rs
  packages/turbo-codemod/__tests__/stabilize-ui.test.ts
  packages/turbo-codemod/src/transforms/stabilize-ui.ts
  packages/turbo-types/src/types/config.ts
Labels: pkg: turbo-codemod, owned-by: turborepo, created-by: turborepo

#8293 Sync Cargo.lock with Next.js
  Cargo.lock
Labels: created-by: turbopack

#8239 Reduce amount of code generated by ValueDebugFormat
  crates/turbo-tasks-macros-shared/src/expand.rs
  crates/turbo-tasks-macros/src/derive/deterministic_hash_macro.rs
  crates/turbo-tasks-macros/src/derive/trace_raw_vcs_macro.rs
  crates/turbo-tasks-macros/src/derive/value_debug_format_macro.rs
  crates/turbo-tasks/src/debug/internal.rs
Labels: owned-by: turbopack, created-by: turbopack

#8304 Minor optimizations to the codegen of TaskFnInputFunction
  crates/turbo-tasks/src/task/function.rs
Labels: owned-by: turbopack, created-by: turbopack

#8303 Postcss: fix failures processing .postcssrc.json
  crates/turbopack/src/module_options/mod.rs
Labels: owned-by: turbopack, created-by: turbopack

#8331 fix(turborepo): factor in negated globs for workspace detection in codemods
  packages/turbo-codemod/__tests__/__fixtures__/add-package-names/ignored-packages/package.json
  packages/turbo-codemod/__tests__/__fixtures__/add-package-names/ignored-packages/packages/ui/package.json
  packages/turbo-codemod/__tests__/__fixtures__/add-package-names/ignored-packages/packages/utils/package.json
  packages/turbo-codemod/__tests__/__fixtures__/add-package-names/ignored-packages/pnpm-workspace.yaml
  packages/turbo-codemod/__tests__/add-package-names.test.ts
  packages/turbo-workspaces/src/utils.ts
Labels: pkg: turbo-codemod, pkg: turbo-workspaces, owned-by: turborepo, created-by: turborepo

#8336 add client disallowed transform
  crates/turbopack-ecmascript-plugins/src/transform/directives/client_disallowed.rs
  crates/turbopack-ecmascript-plugins/src/transform/directives/mod.rs
  crates/turbopack-ecmascript-plugins/src/transform/directives/server_to_client_proxy.rs
Labels: owned-by: turbopack, created-by: turbopack

#8333 fix(ui): no longer attempt to read from stdin if non-tty
  crates/turborepo-ui/src/tui/app.rs
  crates/turborepo-ui/src/tui/input.rs
  crates/turborepo-ui/src/tui/mod.rs
Labels: owned-by: turborepo, created-by: turborepo

#8338 fix: correctly serialize ui values
  crates/turborepo-lib/src/turbo_json/mod.rs
  turborepo-tests/integration/fixtures/monorepo_with_root_dep/turbo.json
  turborepo-tests/integration/tests/prune/produces-valid-turbo-json.t
Labels: owned-by: turborepo, created-by: turborepo

#8346 add more tracing to transforms and parsing
  Cargo.lock
  crates/turbopack-ecmascript-plugins/Cargo.toml
  crates/turbopack-ecmascript-plugins/src/transform/directives/client.rs
  crates/turbopack-ecmascript-plugins/src/transform/directives/server.rs
  crates/turbopack-ecmascript-plugins/src/transform/emotion.rs
  crates/turbopack-ecmascript-plugins/src/transform/modularize_imports.rs
  crates/turbopack-ecmascript-plugins/src/transform/relay.rs
  crates/turbopack-ecmascript-plugins/src/transform/styled_components.rs
  crates/turbopack-ecmascript-plugins/src/transform/styled_jsx.rs
  crates/turbopack-ecmascript-plugins/src/transform/swc_ecma_transform_plugins.rs
  crates/turbopack-ecmascript/src/parse.rs
Labels: owned-by: turbopack, created-by: turbopack

#8344 improve borrow_mut
  crates/turbo-tasks/src/manager.rs
Labels: owned-by: turbopack, created-by: turbopack

#8353 fix: add NODE_OPTIONS to default pass through env vars
  crates/turborepo-lib/src/task_hash.rs
Labels: owned-by: turborepo, created-by: turborepo

#8359 chore: add additional env vars to default pass through
  crates/turborepo-lib/src/task_hash.rs
Labels: owned-by: turborepo, created-by: turborepo

#8343 fix(ui): disable TUI if log order is specified
  crates/turborepo-lib/src/cli/mod.rs
  crates/turborepo-lib/src/commands/mod.rs
Labels: owned-by: turborepo, created-by: turborepo

#8363 fix(turbo-ignore): infer correct version of turbo for project
  packages/turbo-ignore/__fixtures__/invalid_turbo_json/package.json
  packages/turbo-ignore/__fixtures__/invalid_turbo_json/turbo.json
  packages/turbo-ignore/__fixtures__/no_turbo_deps/package.json
  packages/turbo-ignore/__fixtures__/no_turbo_deps/turbo.json
  packages/turbo-ignore/__fixtures__/no_turbo_deps_v1/package.json
  packages/turbo-ignore/__fixtures__/no_turbo_deps_v1/turbo.json
  packages/turbo-ignore/__fixtures__/turbo_in_deps/package.json
  packages/turbo-ignore/__fixtures__/turbo_in_deps/turbo.json
  packages/turbo-ignore/__tests__/getTurboVersion.test.ts
  packages/turbo-ignore/__tests__/ignore.test.ts
  packages/turbo-ignore/package.json
  packages/turbo-ignore/src/cli.ts
  packages/turbo-ignore/src/getTurboVersion.ts
  packages/turbo-ignore/src/ignore.ts
  packages/turbo-ignore/src/types.ts
  pnpm-lock.yaml
Labels: pkg: turbo-ignore, owned-by: turborepo, created-by: turborepo

#8356 feat: warn when no local turbo found
  crates/turborepo-lib/src/shim.rs
  turborepo-tests/helpers/setup.sh
  turborepo-tests/helpers/setup_integration_test.sh
  turborepo-tests/integration/tests/lockfile-aware-caching/setup.sh
  turborepo-tests/integration/tests/prune/resolutions.t
  turborepo-tests/integration/tests/prune/yarn-pnp.t
Labels: owned-by: turborepo, created-by: turborepo

#8364 fix(filter): account for root internal dependencies in git based filter
  crates/turborepo-lib/src/run/mod.rs
  crates/turborepo-repository/src/change_mapper/mod.rs
  crates/turborepo-repository/src/package_graph/mod.rs
  turborepo-tests/integration/tests/run-caching/root-deps.t
Labels: owned-by: turborepo, created-by: turborepo

#8348 fix: Apply `paren-remover` while minifying
  crates/turbopack-ecmascript/src/minify.rs
  crates/turbopack-tests/tests/snapshot/minification/paren-remover/input/index.js
  crates/turbopack-tests/tests/snapshot/minification/paren-remover/options.json
  crates/turbopack-tests/tests/snapshot/minification/paren-remover/output/79fb1_turbopack-tests_tests_snapshot_minification_paren-remover_input_index_80e2cf.js
  crates/turbopack-tests/tests/snapshot/minification/paren-remover/output/79fb1_turbopack-tests_tests_snapshot_minification_paren-remover_input_index_80e2cf.js.map
  crates/turbopack-tests/tests/snapshot/minification/paren-remover/output/79fb1_turbopack-tests_tests_snapshot_minification_paren-remover_input_index_eab450.js
  crates/turbopack-tests/tests/snapshot/minification/paren-remover/output/79fb1_turbopack-tests_tests_snapshot_minification_paren-remover_input_index_eab450.js.map
Labels: owned-by: turbopack, created-by: turbopack

#8374 Revert "feat: Update `swc_core` to `v0.92.10`"
  Cargo.lock
  Cargo.toml
Labels: owned-by: turborepo, owned-by: turbopack, created-by: turbopack

#8376 Rename ChunkLoading::None to ChunkLoading::Edge
  crates/turbopack-core/src/chunk/mod.rs
  crates/turbopack-core/src/environment.rs
  crates/turbopack-ecmascript-runtime/src/dev_runtime.rs
  crates/turbopack-ecmascript/src/references/esm/dynamic.rs
Labels: needs: triage, owned-by: turbopack

#8371 test: Add an execution test for `paren_remover`
  crates/turbopack-tests/tests/execution/turbopack/minification/paren-remover/input/index.js
Labels: owned-by: turbopack, created-by: turbopack

#8384 Warn instead of print when no locally installed version.
  crates/turborepo-lib/src/shim.rs
Labels: owned-by: turborepo, created-by: turborepo

#8382 Give examples carat versions.
  examples/basic/package.json
  examples/basic/pnpm-lock.yaml
  examples/design-system/apps/docs/package.json
  examples/design-system/package.json
  examples/design-system/pnpm-lock.yaml
  examples/kitchen-sink/package.json
  examples/kitchen-sink/pnpm-lock.yaml
  examples/non-monorepo/package-lock.json
  examples/non-monorepo/package.json
  examples/with-berry/package.json
  examples/with-berry/turbo.json
  examples/with-berry/yarn.lock
  examples/with-changesets/package.json
  examples/with-changesets/pnpm-lock.yaml
  examples/with-docker/package.json
  examples/with-docker/yarn.lock
  examples/with-gatsby/package.json
  examples/with-gatsby/pnpm-lock.yaml
  examples/with-npm/package-lock.json
  examples/with-npm/package.json
  examples/with-prisma/package.json
  examples/with-prisma/yarn.lock
  examples/with-react-native-web/package.json
  examples/with-react-native-web/yarn.lock
  examples/with-rollup/package.json
  examples/with-rollup/pnpm-lock.yaml
  examples/with-shell-commands/package.json
  examples/with-shell-commands/pnpm-lock.yaml
  examples/with-svelte/package.json
  examples/with-svelte/pnpm-lock.yaml
  examples/with-tailwind/package.json
  examples/with-tailwind/pnpm-lock.yaml
  examples/with-vite/package.json
  examples/with-vite/pnpm-lock.yaml
  examples/with-vue-nuxt/package.json
  examples/with-vue-nuxt/pnpm-lock.yaml
  examples/with-yarn/package.json
  examples/with-yarn/yarn.lock
Labels: area: examples, owned-by: turborepo, created-by: turborepo

#8393 Add CI to default passthroughs.
  crates/turborepo-lib/src/task_hash.rs
Labels: owned-by: turborepo, created-by: turborepo

#8392 Fix apk order in example.
  examples/with-docker/apps/api/Dockerfile
  examples/with-docker/apps/web/Dockerfile
Labels: area: examples, owned-by: turborepo, created-by: turborepo

#8405 Fix `eslint-config-turbo` configuration in examples.
  examples/basic/package.json
  examples/basic/packages/eslint-config/library.js
  examples/basic/packages/eslint-config/next.js
  examples/basic/packages/eslint-config/react-internal.js
  examples/basic/pnpm-lock.yaml
  examples/basic/tsconfig.json
  examples/kitchen-sink/packages/config-eslint/index.js
  examples/kitchen-sink/packages/config-eslint/next.js
  examples/with-berry/packages/eslint-config/library.js
  examples/with-berry/packages/eslint-config/next.js
  examples/with-berry/packages/eslint-config/react-internal.js
  examples/with-changesets/packages/eslint-config/library.js
  examples/with-changesets/packages/eslint-config/next.js
  examples/with-changesets/packages/eslint-config/react-internal.js
  examples/with-docker/packages/eslint-config/library.js
  examples/with-docker/packages/eslint-config/next.js
  examples/with-docker/packages/eslint-config/react-internal.js
  examples/with-gatsby/packages/eslint-config/library.js
  examples/with-gatsby/packages/eslint-config/next.js
  examples/with-gatsby/packages/eslint-config/react-internal.js
  examples/with-npm/packages/eslint-config/library.js
  examples/with-npm/packages/eslint-config/next.js
  examples/with-npm/packages/eslint-config/react-internal.js
  examples/with-prisma/packages/config-eslint/library.js
  examples/with-prisma/packages/config-eslint/next.js
  examples/with-rollup/packages/config-eslint/library.js
  examples/with-rollup/packages/config-eslint/next.js
  examples/with-rollup/packages/config-eslint/react-internal.js
  examples/with-tailwind/apps/docs/package.json
  examples/with-tailwind/apps/web/package.json
  examples/with-tailwind/packages/config-eslint/next.js
  examples/with-tailwind/pnpm-lock.yaml
  examples/with-vue-nuxt/packages/eslint-config-custom/nuxt.js
  examples/with-yarn/packages/eslint-config/library.js
  examples/with-yarn/packages/eslint-config/next.js
  examples/with-yarn/packages/eslint-config/react-internal.js
Labels: area: examples, owned-by: turborepo, created-by: turborepo

#8385 feat(shim): invoke local turbo version via npx if not installed
  crates/turborepo-lib/fixtures/local_config/turbo.v1.json
  crates/turborepo-lib/fixtures/local_config/turbo.v2.json
  crates/turborepo-lib/fixtures/local_config/turbov2.package-lock.json
  crates/turborepo-lib/src/engine/builder.rs
  crates/turborepo-lib/src/shim.rs
  crates/turborepo-lib/src/shim/local_turbo_config.rs
  crates/turborepo-lib/src/shim/local_turbo_state.rs
  crates/turborepo-lib/src/shim/mod.rs
  crates/turborepo-lib/src/shim/parser.rs
  crates/turborepo-lib/src/shim/turbo_state.rs
  crates/turborepo-lockfiles/fixtures/pnpm6turbo.yaml
  crates/turborepo-lockfiles/fixtures/pnpm8turbo.yaml
  crates/turborepo-lockfiles/src/berry/mod.rs
  crates/turborepo-lockfiles/src/bun/mod.rs
  crates/turborepo-lockfiles/src/lib.rs
  crates/turborepo-lockfiles/src/npm.rs
  crates/turborepo-lockfiles/src/pnpm/data.rs
  crates/turborepo-lockfiles/src/yarn1/mod.rs
  crates/turborepo-repository/src/inference.rs
  crates/turborepo-repository/src/package_graph/mod.rs
  crates/turborepo-repository/src/package_manager/mod.rs
  turborepo-tests/helpers/setup.sh
  turborepo-tests/helpers/setup_example_test.sh
  turborepo-tests/integration/tests/find-turbo/setup.sh
  turborepo-tests/integration/tests/lockfile-aware-caching/setup.sh
Labels: owned-by: turborepo, created-by: turborepo

#8403 docs: update links to logs in turbo types
  packages/turbo-types/src/types/config.ts
Labels: needs: triage, owned-by: turborepo

#8412 fix: added `LD_LIBRARY_PATH` to default forwarded env vars
  crates/turborepo-lib/src/task_hash.rs
Labels: needs: triage, owned-by: turborepo

#8324 fix panic in debug mode
  crates/turbopack-trace-server/src/viewer.rs
Labels: owned-by: turbopack, created-by: turbopack

#8395 build: Update `swc_core` to `v0.93.2`
  Cargo.lock
  Cargo.toml
Labels: owned-by: turborepo, owned-by: turbopack, created-by: turbopack

#8423 Remove root eslintrc from basic example.
  examples/basic/.eslintrc.js
  examples/basic/package.json
  examples/basic/pnpm-lock.yaml
  examples/with-berry/yarn.lock
Labels: area: examples, owned-by: turborepo, created-by: turborepo

#8422 fix counting of reallocations
  crates/turbo-tasks-malloc/src/counter.rs
  crates/turbo-tasks-malloc/src/lib.rs
Labels: owned-by: turbopack, created-by: turbopack

#8428 chore(turborepo): remove unused code
  crates/turborepo-lib/src/cli/mod.rs
  crates/turborepo-lib/src/process/mod.rs
  crates/turborepo-lib/src/task_graph/mod.rs
  crates/turborepo-repository/src/package_manager/mod.rs
Labels: owned-by: turborepo, created-by: turborepo

#8436 fix: disable panic handler in ci
  Cargo.lock
  crates/turborepo-lib/Cargo.toml
  crates/turborepo-lib/src/lib.rs
  crates/turborepo-lib/src/panic_handler.rs
  crates/turborepo/Cargo.toml
  crates/turborepo/src/main.rs
  crates/turborepo/src/panic_handler.rs
Labels: owned-by: turborepo, created-by: turborepo

#8441 Consistent Node.js version in Changesets action.
  examples/with-changesets/.github/workflows/release.yml
Labels: area: examples, owned-by: turborepo, created-by: turborepo

#8442 Remove global dep from basic example.
  examples/basic/turbo.json
Labels: area: examples, owned-by: turborepo, created-by: turborepo

#8450 docs: Remove --cache-dir from github actions docs due to #8126
  docs/repo-docs/guides/ci-vendors/github-actions.mdx
Labels: area: docs, needs: triage, owned-by: turborepo, owned-by: turbopack

#8456 Restore backticks on docs.
  docs/pack-docs/advanced/profiling.mdx
  docs/pack-docs/features/css.mdx
  docs/pack-docs/features/typescript.mdx
  docs/repo-docs/crafting-your-repository/configuring-tasks.mdx
  docs/repo-docs/crafting-your-repository/constructing-ci.mdx
  docs/repo-docs/crafting-your-repository/creating-an-internal-package.mdx
  docs/repo-docs/crafting-your-repository/developing-applications.mdx
  docs/repo-docs/crafting-your-repository/index.mdx
  docs/repo-docs/crafting-your-repository/running-tasks.mdx
  docs/repo-docs/crafting-your-repository/structuring-a-repository.mdx
  docs/repo-docs/crafting-your-repository/upgrading.mdx
  docs/repo-docs/crafting-your-repository/using-environment-variables.mdx
  docs/repo-docs/getting-started/add-to-existing-repository.mdx
  docs/repo-docs/getting-started/editor-integration.mdx
  docs/repo-docs/getting-started/installation.mdx
  docs/repo-docs/guides/handling-platforms.mdx
  docs/repo-docs/guides/single-package-workspaces.mdx
  docs/repo-docs/guides/skipping-tasks.mdx
  docs/repo-docs/guides/tools/docker.mdx
  docs/repo-docs/guides/tools/eslint.mdx
  docs/repo-docs/guides/tools/prisma.mdx
  docs/repo-docs/guides/tools/storybook.mdx
  docs/repo-docs/guides/tools/typescript.mdx
  docs/repo-docs/reference/configuration.mdx
  docs/repo-docs/reference/generate.mdx
  docs/repo-docs/reference/index.mdx
  docs/repo-docs/reference/link.mdx
  docs/repo-docs/reference/package-configurations.mdx
  docs/repo-docs/reference/prune.mdx
  docs/repo-docs/reference/run.mdx
  docs/repo-docs/reference/telemetry.mdx
  docs/repo-docs/reference/watch.mdx
Labels: area: docs, owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#8457 fix(turborepo): avoid starting ui on too small terminals
  Cargo.lock
  crates/turborepo-lib/src/commands/run.rs
  crates/turborepo-lib/src/run/error.rs
  crates/turborepo-lib/src/run/mod.rs
  crates/turborepo-lib/src/run/watch.rs
  crates/turborepo-ui/Cargo.toml
  crates/turborepo-ui/src/tui/app.rs
  crates/turborepo-ui/src/tui/mod.rs
Labels: owned-by: turborepo, created-by: turborepo

#8451 reduce resolve tasks for resolving
  crates/turbopack-cli-utils/src/runtime_entry.rs
  crates/turbopack-cli/src/dev/web_entry_source.rs
  crates/turbopack-core/src/chunk/mod.rs
  crates/turbopack-core/src/introspect/utils.rs
  crates/turbopack-core/src/reference/mod.rs
  crates/turbopack-core/src/resolve/mod.rs
  crates/turbopack-css/src/asset.rs
  crates/turbopack-ecmascript/src/references/mod.rs
Labels: owned-by: turbopack, created-by: turbopack

#8407 BeforeResolvePluginCondition: allow module filtering as a condition for `BeforeResolvePlugin`s
  crates/turbopack-core/src/resolve/mod.rs
  crates/turbopack-core/src/resolve/plugin.rs
Labels: owned-by: turbopack, created-by: turbopack

#8439 Remove UnsupportedModule plugin
  crates/turbopack-core/src/issue/mod.rs
  crates/turbopack-core/src/issue/unsupported_module.rs
Labels: owned-by: turbopack, created-by: turbopack

#8460 Update typescript.mdx
  docs/pack-docs/features/typescript.mdx
Labels: area: docs, owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#8458 chore(shim): make dynamic downloads opt in
  crates/turborepo-lib/src/shim/local_turbo_config.rs
  turborepo-tests/helpers/setup.sh
  turborepo-tests/helpers/setup_example_test.sh
  turborepo-tests/integration/tests/find-turbo/setup.sh
  turborepo-tests/integration/tests/lockfile-aware-caching/setup.sh
Labels: owned-by: turborepo, created-by: turborepo

#8448 Update `create-turbo` to use carat versions.
  packages/create-turbo/src/transforms/official-starter.ts
Labels: pkg: create-turbo, owned-by: turborepo, created-by: turborepo

#8461 fix(shim): avoid panic if user has malformed lockfile
  crates/turborepo-lib/src/shim/local_turbo_state.rs
Labels: owned-by: turborepo, created-by: turborepo

#8463 chore: bump timeout for migration
  packages/turbo-codemod/__tests__/migrate.test.ts
Labels: pkg: turbo-codemod, owned-by: turborepo, created-by: turborepo

#8466 fix(turbopack): make external module wrapper return not found instead of panicking
  crates/turbopack-ecmascript/src/references/external_module.rs
Labels: owned-by: turbopack, created-by: turbopack

#8469 fix(turbopack): add ecmascript options to mdx
  crates/turbopack-mdx/src/lib.rs
  crates/turbopack/src/lib.rs
  crates/turbopack/src/module_options/mod.rs
  crates/turbopack/src/module_options/module_rule.rs
Labels: owned-by: turbopack, created-by: turbopack

#8447 build: Update `swc_core` to `v0.93.4`
  Cargo.lock
  Cargo.toml
Labels: owned-by: turborepo, owned-by: turbopack, created-by: turbopack

#8471 fix(@turbo/codemode): no-op when turbo.json already contains tasks key
  packages/turbo-codemod/__tests__/__fixtures__/rename-pipeline/with-tasks/turbo.json
  packages/turbo-codemod/__tests__/rename-pipeline.ts
  packages/turbo-codemod/src/transforms/rename-pipeline.ts
Labels: pkg: turbo-codemod, owned-by: turborepo, created-by: turborepo

#8468 fix(ui): pass through terminal env vars to appease chalk
  crates/turborepo-lib/src/task_hash.rs
Labels: owned-by: turborepo, created-by: turborepo

#8472 feat: Reduce the number of parts created by tree shaking
  crates/turbopack-ecmascript/src/tree_shake/graph.rs
  crates/turbopack-ecmascript/src/tree_shake/mod.rs
  crates/turbopack-ecmascript/tests/tree-shaker/analyzer/grouping/input.js
  crates/turbopack-ecmascript/tests/tree-shaker/analyzer/grouping/output.md
Labels: owned-by: turbopack, created-by: turbopack

#8480 Publish `@vercel/devlow-bench`
  packages/devlow-bench/package.json
Labels: owned-by: turborepo, owned-by: turbopack, created-by: turbopack

#8481 chore: release npm packages
  packages/devlow-bench/package.json
Labels: owned-by: turborepo, owned-by: turbopack, created-by: turbopack

#8462 Update mimalloc, enable for glibc Linux aarch64, explicitly disable for wasm and musl
  Cargo.lock
  crates/turbo-tasks-malloc/Cargo.toml
  crates/turbo-tasks-malloc/src/lib.rs
Labels: owned-by: turbopack, created-by: turbopack

#8465 fix: factor in root dependencies into ... filters
  crates/turborepo-repository/src/package_graph/mod.rs
  turborepo-tests/integration/tests/run-caching/root-deps.t
Labels: owned-by: turborepo, created-by: turborepo

#8033 chore(packages/ui turbo gen config.ts): Preventing the format of pack…
  examples/basic/packages/ui/turbo/generators/config.ts
Labels: area: examples, needs: triage, owned-by: turborepo

#8092 chore(examples): remove deprecated prettierrc option
  examples/with-svelte/apps/docs/.prettierrc
  examples/with-svelte/apps/web/.prettierrc
Labels: area: examples, needs: triage, owned-by: turborepo

#8184 Removed redundant @storybook/addon-docs dev dependency
  examples/design-system/apps/docs/.storybook/main.js
  examples/design-system/apps/docs/package.json
  examples/design-system/pnpm-lock.yaml
Labels: area: examples, needs: triage, owned-by: turborepo

#8315 build script fix
  CONTRIBUTING.md
Labels: needs: triage, owned-by: turborepo, owned-by: turbopack

#8517 fix: package name has wrong spelling
  examples/with-svelte/apps/web/vite.config.ts
Labels: area: examples, needs: triage, owned-by: turborepo

#5328 fix: image optimization typo
  crates/turbopack-image/src/process/mod.rs
Labels: needs: triage, owned-by: turbopack

#8510 read larger chunks when reading a trace file
  crates/turbopack-trace-server/src/reader/mod.rs
  crates/turbopack-trace-server/src/store_container.rs
Labels: owned-by: turbopack, created-by: turbopack

#8509 avoid duplicates in primary_modules
  crates/turbopack-core/src/reference/mod.rs
Labels: owned-by: turbopack, created-by: turbopack

#8508 only create spans for nodes that are actually visited
  crates/turbo-tasks/src/graph/graph_traversal.rs
Labels: owned-by: turbopack, created-by: turbopack

#8502 build: Update `swc_core` to `v0.95.x`
  Cargo.lock
  Cargo.toml
  crates/turbopack-ecmascript/src/parse.rs
  crates/turbopack-ecmascript/src/tree_shake/graph.rs
Labels: owned-by: turborepo, owned-by: turbopack, created-by: turbopack

#8421 Fix Turbopack benchmark for next@canary
  crates/turbopack-bench/README.md
  crates/turbopack-bench/src/bundlers/nextjs/mod.rs
  crates/turbopack-bench/src/util/mod.rs
Labels: needs: triage, owned-by: turbopack

#8192 chore: move react, react-dom from devDependency to dependency in several examples
  examples/basic/packages/ui/package.json
  examples/basic/pnpm-lock.yaml
  examples/kitchen-sink/packages/ui/package.json
  examples/kitchen-sink/pnpm-lock.yaml
  examples/with-berry/packages/ui/package.json
  examples/with-changesets/packages/acme-core/package.json
  examples/with-changesets/packages/acme-utils/package.json
  examples/with-changesets/pnpm-lock.yaml
  examples/with-docker/packages/ui/package.json
  examples/with-gatsby/packages/ui/package.json
  examples/with-gatsby/pnpm-lock.yaml
  examples/with-npm/package-lock.json
  examples/with-npm/packages/ui/package.json
  examples/with-rollup/packages/ui/package.json
  examples/with-rollup/pnpm-lock.yaml
  examples/with-tailwind/packages/ui/package.json
  examples/with-tailwind/pnpm-lock.yaml
  examples/with-yarn/packages/ui/package.json
Labels: area: examples, needs: triage, owned-by: turborepo

#8519 Fix link in Task Graph doc.
  docs/repo-docs/core-concepts/package-and-task-graph.mdx
Labels: area: docs, owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#8494 Spruce up Remote Cache linking message.
  crates/turborepo-lib/src/commands/link.rs
Labels: owned-by: turborepo, created-by: turborepo

#8531 chore(@turbo/types): remove deprecated fields
  packages/turbo-codemod/src/transforms/stabilize-env-mode.ts
  packages/turbo-types/src/types/config.ts
Labels: pkg: turbo-codemod, owned-by: turborepo, created-by: turborepo

#8526 Fix outdated user listing.
  crates/turborepo-lib/src/commands/link.rs
Labels: owned-by: turborepo, created-by: turborepo

#8300 feat: GitLab VendorBehavior
  Cargo.lock
  crates/turborepo-ci/Cargo.toml
  crates/turborepo-ci/src/lib.rs
  crates/turborepo-ci/src/vendor_behavior.rs
  crates/turborepo-ci/src/vendors.rs
  crates/turborepo-lib/src/task_graph/visitor.rs
  crates/turborepo-ui/Cargo.toml
  crates/turborepo-ui/src/output.rs
Labels: needs: triage, owned-by: turborepo

#8396 Rename dev_runtime to browser_runtime
  crates/turbopack-ecmascript-runtime/src/browser_runtime.rs
  crates/turbopack-ecmascript-runtime/src/lib.rs
Labels: needs: triage, owned-by: turbopack

#8397 Rename runtime/none to runtime/edge
  crates/turbopack-ecmascript-runtime/js/package.json
  crates/turbopack-ecmascript-runtime/js/src/dev/runtime/edge/runtime-backend-edge.ts
  crates/turbopack-ecmascript-runtime/js/src/dev/runtime/edge/tsconfig.json
  crates/turbopack-ecmascript-runtime/src/browser_runtime.rs
Labels: needs: triage, owned-by: turbopack

#8398 Remove unused Node.js runtime
  crates/turbopack-ecmascript-runtime/js/package.json
  crates/turbopack-ecmascript-runtime/js/src/dev/runtime/nodejs/runtime-backend-nodejs.ts
  crates/turbopack-ecmascript-runtime/js/src/dev/runtime/nodejs/tsconfig.json
  crates/turbopack-ecmascript-runtime/src/browser_runtime.rs
Labels: needs: triage, owned-by: turbopack

#8399 Rename build runtime to nodejs
  crates/turbopack-ecmascript-runtime/js/package.json
  crates/turbopack-ecmascript-runtime/js/src/nodejs/runtime.ts
  crates/turbopack-ecmascript-runtime/js/src/nodejs/tsconfig.json
  crates/turbopack-ecmascript-runtime/src/lib.rs
  crates/turbopack-ecmascript-runtime/src/nodejs_runtime.rs
  crates/turbopack-tests/tests/snapshot/runtime/default_build_runtime/output/[turbopack]_runtime.js.map
Labels: needs: triage, owned-by: turbopack

#8400 Rename dev runtime to browser
  crates/turbopack-cli/js/src/entry/client.ts
  crates/turbopack-ecmascript-runtime/js/package.json
  crates/turbopack-ecmascript-runtime/js/src/browser/dev/hmr-client/hmr-client.ts
  crates/turbopack-ecmascript-runtime/js/src/browser/dev/hmr-client/index.ts
  crates/turbopack-ecmascript-runtime/js/src/browser/dev/hmr-client/tsconfig.json
  crates/turbopack-ecmascript-runtime/js/src/browser/dev/hmr-client/websocket.ts
  crates/turbopack-ecmascript-runtime/js/src/browser/dev/runtime/base/dummy.ts
  crates/turbopack-ecmascript-runtime/js/src/browser/dev/runtime/base/extensions.d.ts
  crates/turbopack-ecmascript-runtime/js/src/browser/dev/runtime/base/globals.d.ts
  crates/turbopack-ecmascript-runtime/js/src/browser/dev/runtime/base/protocol.d.ts
  crates/turbopack-ecmascript-runtime/js/src/browser/dev/runtime/base/runtime-base.ts
  crates/turbopack-ecmascript-runtime/js/src/browser/dev/runtime/base/tsconfig.json
  crates/turbopack-ecmascript-runtime/js/src/browser/dev/runtime/dom/runtime-backend-dom.ts
  crates/turbopack-ecmascript-runtime/js/src/browser/dev/runtime/dom/tsconfig.json
  crates/turbopack-ecmascript-runtime/js/src/browser/dev/runtime/edge/runtime-backend-edge.ts
  crates/turbopack-ecmascript-runtime/js/src/browser/dev/runtime/edge/tsconfig.json
  crates/turbopack-ecmascript-runtime/src/browser_runtime.rs
  crates/turbopack-tests/tests/snapshot/runtime/default_dev_runtime/output/79fb1_turbopack-tests_tests_snapshot_runtime_default_dev_runtime_input_index_40d141.js
  crates/turbopack-tests/tests/snapshot/runtime/default_dev_runtime/output/79fb1_turbopack-tests_tests_snapshot_runtime_default_dev_runtime_input_index_40d141.js.map
Labels: needs: triage, owned-by: turbopack

#8546 Decrease default scope_stress test size, add env var config
  crates/turbo-tasks-memory/tests/scope_stress.rs
Labels: owned-by: turbopack, created-by: turbopack

#8551 fix(codemod): avoid overwriting existing packageManager field
  packages/turbo-codemod/__tests__/add-package-manager.test.ts
  packages/turbo-codemod/src/transforms/add-package-manager.ts
Labels: pkg: turbo-codemod, owned-by: turborepo, created-by: turborepo

#8255 feat(turborepo): use biome to parse package.json
  .github/actions/setup-rust/action.yml
  Cargo.lock
  Cargo.toml
  crates/turborepo-errors/Cargo.toml
  crates/turborepo-errors/src/lib.rs
  crates/turborepo-lib/Cargo.toml
  crates/turborepo-lib/src/lib.rs
  crates/turborepo-lib/src/run/task_access.rs
  crates/turborepo-lib/src/turbo_json/mod.rs
  crates/turborepo-lib/src/turbo_json/parser.rs
  crates/turborepo-lsp/src/lib.rs
  crates/turborepo-paths/Cargo.toml
  crates/turborepo-paths/src/relative_unix_path_buf.rs
  crates/turborepo-repository/Cargo.toml
  crates/turborepo-repository/src/package_json.rs
  crates/turborepo-repository/src/package_manager/pnpm.rs
  crates/turborepo-repository/src/package_manager/yarn.rs
  crates/turborepo-unescape/Cargo.toml
  crates/turborepo-unescape/src/lib.rs
  turborepo-tests/integration/tests/bad-turbo-json.t
Labels: area: ci, owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#8516 Clean up create-turbo logs.
  packages/create-turbo/__tests__/index.test.ts
  packages/create-turbo/src/commands/create/index.ts
  packages/create-turbo/src/commands/create/prompts.ts
  packages/turbo-utils/src/createProject.ts
  packages/turbo-workspaces/src/commands/convert/index.ts
Labels: pkg: create-turbo, pkg: turbo-workspaces, owned-by: turborepo, created-by: turborepo

#8560 Jetbrains passthroughs.
  crates/turborepo-lib/src/task_hash.rs
Labels: owned-by: turborepo, created-by: turborepo

#8563 Update `swc_core` to `v0.95.4`
  Cargo.lock
  Cargo.toml
Labels: owned-by: turborepo, owned-by: turbopack, created-by: turbopack

#8556 avoid cloning the source code
  crates/turbopack-ecmascript/src/parse.rs
Labels: owned-by: turbopack, created-by: turbopack

#8562 HMR: handle non-Latin characters in text through base64-encoded sourcemaps
  crates/turbopack-ecmascript-runtime/js/src/browser/dev/runtime/dom/runtime-backend-dom.ts
  crates/turbopack-tests/tests/snapshot/runtime/default_dev_runtime/output/79fb1_turbopack-tests_tests_snapshot_runtime_default_dev_runtime_input_index_40d141.js
  crates/turbopack-tests/tests/snapshot/runtime/default_dev_runtime/output/79fb1_turbopack-tests_tests_snapshot_runtime_default_dev_runtime_input_index_40d141.js.map
Labels: owned-by: turbopack, created-by: turbopack

#8579 Update lockfile for kitchen-sink.
  examples/kitchen-sink/pnpm-lock.yaml
Labels: area: examples, created-by: turborepo

#8539 Release LSP 1.1.4
  crates/turborepo-lib/src/lib.rs
  crates/turborepo-lsp/src/lib.rs
  packages/turbo-vsc/.vscodeignore
  packages/turbo-vsc/package.json
  pnpm-lock.yaml
Labels: owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#8584 fix(docs): update turbo future
  docs/pack-docs/roadmap.mdx
Labels: area: docs, owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#8538 Release LSP 2.0
  .github/workflows/lsp.yml
  crates/turborepo-lib/src/lib.rs
  crates/turborepo-lsp/src/lib.rs
  packages/turbo-vsc/.vscodeignore
  packages/turbo-vsc/package.json
  pnpm-lock.yaml
Labels: area: ci, owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#8586 Get LSP building on 1.x branch
  .github/workflows/lsp.yml
Labels: area: ci, owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#8499 Light refactoring of TUI pane and instructions.
  crates/turborepo-ui/src/tui/pane.rs
  crates/turborepo-ui/src/tui/table.rs
Labels: owned-by: turborepo, created-by: turborepo

#8587 Restore summaries for `run` commands.
  crates/turborepo-lib/src/commands/run.rs
  crates/turborepo-lib/src/run/mod.rs
  crates/turborepo-lib/src/run/summary/mod.rs
  crates/turborepo-lib/src/run/watch.rs
  crates/turborepo-lib/src/task_graph/visitor.rs
  turbo.json
Labels: owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#8530 Support turbo tasks inside of `mod` blocks
  crates/turbo-tasks-build/src/lib.rs
Labels: owned-by: turbopack, created-by: turbopack

#8570 feat(tui): output tasks with errors last
  crates/turborepo-ui/src/tui/app.rs
  crates/turborepo-ui/src/tui/pane.rs
  crates/turborepo-ui/src/tui/table.rs
Labels: owned-by: turborepo, created-by: turborepo

#8542 Handle `#[cfg(...)]` attributes on turbo tasks
  Cargo.lock
  crates/turbo-tasks-build/Cargo.toml
  crates/turbo-tasks-build/src/lib.rs
Labels: owned-by: turbopack, created-by: turbopack

#8529 Deduplicate persistent task get_function_name logic
  crates/turbo-tasks-memory/src/task.rs
  crates/turbo-tasks/src/backend.rs
Labels: owned-by: turbopack, created-by: turbopack

#8547 Add new ExitHandler API as an alternative to ExitGuard
  crates/turbopack-cli/src/main.rs
  crates/turbopack-trace-utils/Cargo.toml
  crates/turbopack-trace-utils/src/exit.rs
Labels: owned-by: turbopack, created-by: turbopack

#8588 fix(ui): wait until task output is fully rendered on stop
  crates/turborepo-ui/src/tui/app.rs
  crates/turborepo-ui/src/tui/event.rs
  crates/turborepo-ui/src/tui/handle.rs
  crates/turborepo-ui/src/tui/input.rs
Labels: owned-by: turborepo, created-by: turborepo

#8590 More fix-ups for `kitchen-sink`.
  examples/kitchen-sink/apps/admin/package.json
  examples/kitchen-sink/apps/admin/src/app/index.tsx
  examples/kitchen-sink/apps/blog/.eslintrc.cjs
  examples/kitchen-sink/apps/blog/.eslintrc.js
  examples/kitchen-sink/apps/blog/.gitignore
  examples/kitchen-sink/apps/blog/README.md
  examples/kitchen-sink/apps/blog/app/entry.client.tsx
  examples/kitchen-sink/apps/blog/app/entry.server.tsx
  examples/kitchen-sink/apps/blog/app/root.tsx
  examples/kitchen-sink/apps/blog/app/routes/_index.tsx
  examples/kitchen-sink/apps/blog/app/styles.css
  examples/kitchen-sink/apps/blog/app/tailwind.css
  examples/kitchen-sink/apps/blog/package.json
  examples/kitchen-sink/apps/blog/postcss.config.js
  examples/kitchen-sink/apps/blog/remix.config.js
  examples/kitchen-sink/apps/blog/remix.env.d.ts
  examples/kitchen-sink/apps/blog/server.js
  examples/kitchen-sink/apps/blog/tailwind.config.ts
  examples/kitchen-sink/apps/blog/tsconfig.json
  examples/kitchen-sink/apps/blog/turbo.json
  examples/kitchen-sink/apps/blog/vite.config.ts
  examples/kitchen-sink/apps/storefront/package.json
  examples/kitchen-sink/apps/storefront/src/app/page.tsx
  examples/kitchen-sink/package.json
  examples/kitchen-sink/packages/config-eslint/package.json
  examples/kitchen-sink/packages/config-typescript/base.json
  examples/kitchen-sink/packages/config-typescript/package.json
  examples/kitchen-sink/packages/config-typescript/react-library.json
  examples/kitchen-sink/packages/jest-presets/package.json
  examples/kitchen-sink/packages/logger/package.json
  examples/kitchen-sink/packages/ui/package.json
  examples/kitchen-sink/packages/ui/src/Link/index.test.tsx
  examples/kitchen-sink/packages/ui/src/Link/index.tsx
  examples/kitchen-sink/packages/ui/src/index.tsx
  examples/kitchen-sink/packages/ui/tsconfig.json
  examples/kitchen-sink/packages/ui/tsup.config.ts
  examples/kitchen-sink/pnpm-lock.yaml
Labels: area: examples, owned-by: turborepo, created-by: turborepo

#8593 More kitchen-sink.
  examples/kitchen-sink/apps/blog/package.json
  examples/kitchen-sink/apps/blog/vite.config.ts
  examples/kitchen-sink/pnpm-lock.yaml
  examples/kitchen-sink/turbo.json
Labels: area: examples, owned-by: turborepo, created-by: turborepo

#8600 Fixing kitchen-sink example.
  examples/kitchen-sink/apps/blog/.eslintrc.cjs
  examples/kitchen-sink/apps/blog/.gitignore
  examples/kitchen-sink/apps/blog/README.md
  examples/kitchen-sink/apps/blog/app/entry.client.tsx
  examples/kitchen-sink/apps/blog/app/entry.server.tsx
  examples/kitchen-sink/apps/blog/app/root.tsx
  examples/kitchen-sink/apps/blog/app/routes/edge.tsx
  examples/kitchen-sink/apps/blog/app/styles.css
  examples/kitchen-sink/apps/blog/app/tailwind.css
  examples/kitchen-sink/apps/blog/package.json
  examples/kitchen-sink/apps/blog/postcss.config.js
  examples/kitchen-sink/apps/blog/tailwind.config.ts
  examples/kitchen-sink/apps/blog/tsconfig.json
  examples/kitchen-sink/apps/blog/vite.config.ts
  examples/kitchen-sink/pnpm-lock.yaml
Labels: area: examples, owned-by: turborepo, created-by: turborepo

#8591 fix(pnpm): enable npmrc parsing for pnpm 9
  crates/turborepo-repository/src/package_graph/builder.rs
Labels: owned-by: turborepo, created-by: turborepo

#8603 chore: updated team members who get turborepo label
  .github/turbo-orchestrator.yml
Labels: owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#8596 docs: fixing trailing commas in `configuration.mdx`
  docs/repo-docs/reference/configuration.mdx
Labels: area: docs, needs: triage, owned-by: turborepo, owned-by: turbopack

#8604 Delete unused TASK_ID_MAPPING support
  crates/turbo-tasks/src/id.rs
  crates/turbo-tasks/src/lib.rs
Labels: owned-by: turbopack, created-by: turbopack

#8605 Remove nohash-hasher dependency
  Cargo.lock
  Cargo.toml
  crates/turbo-tasks-memory/Cargo.toml
  crates/turbo-tasks-memory/src/aggregation/loom_tests.rs
  crates/turbo-tasks-memory/src/aggregation/tests.rs
  crates/turbo-tasks-memory/src/count_hash_set.rs
  crates/turbo-tasks-memory/src/task.rs
  crates/turbo-tasks-memory/src/task/aggregation.rs
  crates/turbo-tasks/Cargo.toml
  crates/turbo-tasks/src/id.rs
  crates/turbo-tasks/src/lib.rs
  crates/turbo-tasks/src/manager.rs
Labels: owned-by: turborepo, owned-by: turbopack, created-by: turbopack

#8559 move stateful flag into Done state
  crates/turbo-tasks-memory/src/task.rs
Labels: owned-by: turbopack, created-by: turbopack

#8598 MDX support: Ensure development transform is only used in development
  crates/turbopack/src/module_options/mod.rs
Labels: needs: triage, owned-by: turbopack

#8557 reduce size of task output struct
  crates/turbo-tasks-memory/src/output.rs
Labels: owned-by: turbopack, created-by: turbopack

#8558 remove prepared task type
  crates/turbo-tasks-memory/src/task.rs
Labels: owned-by: turbopack, created-by: turbopack

#8608 chore(turbo): add debug logs for changes files when using a git range filter
  crates/turborepo-lib/src/run/scope/change_detector.rs
  crates/turborepo-lib/src/run/scope/filter.rs
  crates/turborepo-repository/src/change_mapper/mod.rs
Labels: owned-by: turborepo, created-by: turborepo

#8602 devlow-bench: add git branch and sha to datapoints
  packages/devlow-bench/src/interfaces/datadog.ts
Labels: owned-by: turborepo, owned-by: turbopack, created-by: turbopack

#8613 fix(docs): update docs typo
  docs/repo-docs/guides/tools/typescript.mdx
Labels: area: docs, needs: triage, owned-by: turborepo, owned-by: turbopack

#8620 Document new environment variables.
  docs/repo-docs/reference/system-environment-variables.mdx
Labels: area: docs, owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#8614 chore: release npm packages
  packages/devlow-bench/package.json
Labels: owned-by: turborepo, owned-by: turbopack, created-by: turbopack

#8616 fix(turborepo): correct Nuxt's wildcard pattern
  crates/turborepo-lib/src/framework.rs
  docs/repo-docs/crafting-your-repository/using-environment-variables.mdx
Labels: area: docs, needs: triage, owned-by: turborepo, owned-by: turbopack

#8621 fix(turborepo): update package.json typo
  examples/kitchen-sink/apps/blog/package.json
Labels: area: examples, needs: triage, owned-by: turborepo

#8622 Memory: Use `triomphe::Arc` for `SharedReference`
  Cargo.lock
  Cargo.toml
  crates/node-file-trace/src/lib.rs
  crates/turbo-tasks/Cargo.toml
  crates/turbo-tasks/src/backend.rs
  crates/turbo-tasks/src/lib.rs
  crates/turbo-tasks/src/manager.rs
  crates/turbo-tasks/src/read_ref.rs
  crates/turbo-tasks/src/task/concrete_task_input.rs
  crates/turbo-tasks/src/triomphe_utils.rs
  crates/turbo-tasks/src/value.rs
  crates/turbo-tasks/src/value_type.rs
  crates/turbopack-cli/src/dev/mod.rs
  crates/turbopack-core/src/issue/mod.rs
Labels: owned-by: turborepo, owned-by: turbopack, created-by: turbopack

#8631 chore(ui): disable tui as the default
  crates/turborepo-lib/src/config.rs
  packages/turbo-types/src/types/config.ts
Labels: owned-by: turborepo, created-by: turborepo

#8632 fix(ui): Use double arrow instead of spinner for active tasks.
  crates/turborepo-ui/src/tui/spinner.rs
Labels: owned-by: turborepo, created-by: turborepo
