Repository vercel/turborepo, pull requests merged in 2024-01, with the labels that each got.

#6843 Update `swc_core` to `v0.87.10`
  Cargo.lock
  Cargo.toml
  crates/turbopack-tests/tests/snapshot/basic/top-level-await/output/crates_turbopack-tests_tests_snapshot_basic_top-level-await_input_3adb52._.js.map
  crates/turbopack-tests/tests/snapshot/runtime/default_dev_runtime/output/79fb1_turbopack-tests_tests_snapshot_runtime_default_dev_runtime_input_index_40d141.js.map
Labels: owned-by: turborepo, owned-by: turbopack, created-by: turbopack

#6720 fix weird local name, add tests
  crates/turbopack-ecmascript/src/side_effect_optimization/facade/module.rs
  crates/turbopack-ecmascript/src/side_effect_optimization/locals/module.rs
  crates/turbopack-tests/tests/execution/turbopack/tree-shaking/side-effects/input/index.js
  crates/turbopack-tests/tests/execution/turbopack/tree-shaking/side-effects/input/node_modules/package-full/default.js
  crates/turbopack-tests/tests/execution/turbopack/tree-shaking/side-effects/input/node_modules/package-full/index.js
  crates/turbopack-tests/tests/execution/turbopack/tree-shaking/side-effects/input/node_modules/package-named/b.js
  crates/turbopack-tests/tests/execution/turbopack/tree-shaking/side-effects/input/node_modules/package-named/default.js
  crates/turbopack-tests/tests/execution/turbopack/tree-shaking/side-effects/input/node_modules/package-named/index.js
Labels: owned-by: turbopack, created-by: turbopack

#6867 Use the sso team instead of the string 'sso'
  crates/turborepo-lib/src/commands/login.rs
Labels: owned-by: turborepo, created-by: turborepo

#6871 Remove old redirects.
  docs/next.config.js
Labels: area: site, owned-by: turborepo, owned-by: turbopack

#6868 feat(telemetry): track client system info
  crates/turborepo-lib/src/cli/mod.rs
  crates/turborepo-telemetry/src/events/generic.rs
Labels: owned-by: turborepo, created-by: turborepo

#6875 Remove old API route.
  docs/pages/api/user/[id].tsx
Labels: area: site, owned-by: turborepo, owned-by: turbopack

#6873 Remove unused SSR handler.
  docs/package.json
  docs/pages/_app.tsx
  pnpm-lock.yaml
Labels: area: site, owned-by: turborepo, owned-by: turbopack

#6723 fix(yarn4): avoid overwriting non-npm protocols
  crates/turborepo-lockfiles/fixtures/yarn4-mixed-protocol.lock
  crates/turborepo-lockfiles/src/berry/mod.rs
  crates/turborepo-lockfiles/src/berry/protocol_resolver.rs
Labels: owned-by: turborepo, created-by: turborepo

#6872 fix: avoid deleting cached package discovery data
  crates/turborepo-repository/src/discovery.rs
Labels: owned-by: turborepo, created-by: turborepo

#6870 Make link command use auth crate instead of config token
  crates/turborepo-auth/src/auth_file.rs
  crates/turborepo-auth/src/lib.rs
  crates/turborepo-auth/src/login.rs
  crates/turborepo-auth/src/sso.rs
  crates/turborepo-lib/src/commands/link.rs
  crates/turborepo-lib/src/commands/login.rs
  crates/turborepo-lib/src/commands/logout.rs
  crates/turborepo-lib/src/commands/mod.rs
  crates/turborepo-lib/src/config/mod.rs
Labels: owned-by: turborepo, created-by: turborepo

#6832 fix(turbopack-ecmascript): make sure async module wrapper is always generated
  crates/turbopack-ecmascript/src/analyzer/imports.rs
  crates/turbopack-ecmascript/src/chunk/item.rs
  crates/turbopack-ecmascript/src/lib.rs
  crates/turbopack-ecmascript/src/references/mod.rs
  crates/turbopack-ecmascript/src/side_effect_optimization/locals/chunk_item.rs
  crates/turbopack-ecmascript/src/tree_shake/chunk_item.rs
  crates/turbopack-tests/tests/snapshot/basic/top-level-await/output/crates_turbopack-tests_tests_snapshot_basic_top-level-await_input_e71653._.js
  crates/turbopack-tests/tests/snapshot/basic/top-level-await/output/crates_turbopack-tests_tests_snapshot_basic_top-level-await_input_e71653._.js.map
  crates/turbopack-tests/tests/snapshot/export-alls/cjs-2/output/crates_turbopack-tests_tests_snapshot_export-alls_cjs-2_input_2c57a6._.js
  crates/turbopack-tests/tests/snapshot/export-alls/cjs-2/output/crates_turbopack-tests_tests_snapshot_export-alls_cjs-2_input_2c57a6._.js.map
  crates/turbopack-tests/tests/snapshot/export-alls/cjs-script/output/crates_turbopack-tests_tests_snapshot_export-alls_cjs-script_input_ffd38d._.js
  crates/turbopack-tests/tests/snapshot/export-alls/cjs-script/output/crates_turbopack-tests_tests_snapshot_export-alls_cjs-script_input_ffd38d._.js.map
  crates/turbopack-tests/tests/snapshot/import-meta/esm-multiple/output/crates_turbopack-tests_tests_snapshot_import-meta_esm-multiple_input_b94ed5._.js
  crates/turbopack-tests/tests/snapshot/import-meta/esm-multiple/output/crates_turbopack-tests_tests_snapshot_import-meta_esm-multiple_input_b94ed5._.js.map
  crates/turbopack-tests/tests/snapshot/import-meta/esm-mutable/output/crates_turbopack-tests_tests_snapshot_import-meta_esm-mutable_input_f730df._.js
  crates/turbopack-tests/tests/snapshot/import-meta/esm-mutable/output/crates_turbopack-tests_tests_snapshot_import-meta_esm-mutable_input_f730df._.js.map
  crates/turbopack-tests/tests/snapshot/import-meta/esm-object/output/crates_turbopack-tests_tests_snapshot_import-meta_esm-object_input_51cbdd._.js
  crates/turbopack-tests/tests/snapshot/import-meta/esm-object/output/crates_turbopack-tests_tests_snapshot_import-meta_esm-object_input_51cbdd._.js.map
  crates/turbopack-tests/tests/snapshot/import-meta/esm/output/crates_turbopack-tests_tests_snapshot_import-meta_esm_input_5f2592._.js
  crates/turbopack-tests/tests/snapshot/import-meta/esm/output/crates_turbopack-tests_tests_snapshot_import-meta_esm_input_5f2592._.js.map
  crates/turbopack-tests/tests/snapshot/import-meta/url/output/crates_turbopack-tests_tests_snapshot_import-meta_url_input_9b6f5c._.js
  crates/turbopack-tests/tests/snapshot/import-meta/url/output/crates_turbopack-tests_tests_snapshot_import-meta_url_input_9b6f5c._.js.map
  crates/turbopack/tests/node-file-trace/package.json
  crates/turbopack/tests/node-file-trace/pnpm-lock.yaml
Labels: owned-by: turbopack, created-by: turbopack

#6877 fix support bracket filepaths
  crates/turborepo-globwalk/src/lib.rs
Labels: owned-by: turborepo, created-by: turborepo

#6881 fix clippy 'errors'
  crates/turborepo-filewatch/src/package_watcher.rs
  crates/turborepo-lib/src/process/child.rs
Labels: owned-by: turborepo, created-by: turborepo

#6885 fix aggregation of outdated children and collectibles
  crates/turbo-tasks-memory/src/task.rs
  crates/turbo-tasks-memory/src/task/aggregation.rs
Labels: owned-by: turbopack, created-by: turbopack

#6839 fix glob matching of alternatives
  crates/turbo-tasks-fs/src/glob.rs
Labels: owned-by: turbopack, created-by: turbopack

#6883 revert auth json
  Cargo.lock
  crates/turborepo-api-client/src/lib.rs
  crates/turborepo-auth/Cargo.toml
  crates/turborepo-auth/src/auth/login.rs
  crates/turborepo-auth/src/auth/logout.rs
  crates/turborepo-auth/src/auth/mod.rs
  crates/turborepo-auth/src/auth/sso.rs
  crates/turborepo-auth/src/auth_file.rs
  crates/turborepo-auth/src/config_token.rs
  crates/turborepo-auth/src/error.rs
  crates/turborepo-auth/src/lib.rs
  crates/turborepo-auth/src/login.rs
  crates/turborepo-auth/src/mocks/mock_api_client.rs
  crates/turborepo-auth/src/mocks/mock_login_server.rs
  crates/turborepo-auth/src/mocks/mod.rs
  crates/turborepo-auth/src/server/login_server.rs
  crates/turborepo-auth/src/server/mod.rs
  crates/turborepo-auth/src/server/sso_server.rs
  crates/turborepo-auth/src/sso.rs
  crates/turborepo-auth/src/ui/mod.rs
  crates/turborepo-lib/Cargo.toml
  crates/turborepo-lib/src/cli/error.rs
  crates/turborepo-lib/src/cli/mod.rs
  crates/turborepo-lib/src/commands/link.rs
  crates/turborepo-lib/src/commands/login.rs
  crates/turborepo-lib/src/commands/logout.rs
  crates/turborepo-lib/src/commands/mod.rs
  crates/turborepo-lib/src/config/mod.rs
  crates/turborepo-lib/src/config/turbo_config.rs
  crates/turborepo-paths/src/absolute_system_path.rs
  crates/turborepo-paths/src/absolute_system_path_buf.rs
  crates/turborepo-ui/Cargo.toml
  crates/turborepo-ui/src/lib.rs
  crates/turborepo-vercel-api/Cargo.toml
  crates/turborepo-vercel-api/src/lib.rs
  crates/turborepo/src/panic_handler.rs
  packages/turbo-repository/rust/build.rs
  turborepo-tests/integration/tests/_helpers/logged_in.sh
  turborepo-tests/integration/tests/command-logout.t
Labels: owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#6888 add base url getter to APIClient
  crates/turborepo-api-client/src/lib.rs
Labels: owned-by: turborepo, created-by: turborepo

#6869 chore: tracing overhaul
  Cargo.lock
  crates/turborepo-analytics/src/lib.rs
  crates/turborepo-api-client/Cargo.toml
  crates/turborepo-api-client/src/analytics.rs
  crates/turborepo-api-client/src/lib.rs
  crates/turborepo-api-client/src/spaces.rs
  crates/turborepo-cache/src/async_cache.rs
  crates/turborepo-cache/src/fs.rs
  crates/turborepo-cache/src/http.rs
  crates/turborepo-cache/src/multiplexer.rs
  crates/turborepo-cache/src/signature_authentication.rs
  crates/turborepo-lib/src/run/summary/mod.rs
  crates/turborepo-lib/src/run/summary/spaces.rs
  crates/turborepo-lib/src/task_graph/visitor.rs
  crates/turborepo-lib/src/tracing.rs
Labels: owned-by: turborepo, created-by: turborepo

#6887 feat(launch): update vscode launch configs
  .vscode/launch.json
  .vscode/tasks.json
Labels: owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#6889 Revert "revert auth json (#6883)"
  Cargo.lock
  crates/turborepo-api-client/src/lib.rs
  crates/turborepo-auth/Cargo.toml
  crates/turborepo-auth/src/auth/login.rs
  crates/turborepo-auth/src/auth/mod.rs
  crates/turborepo-auth/src/auth/sso.rs
  crates/turborepo-auth/src/auth_file.rs
  crates/turborepo-auth/src/config_token.rs
  crates/turborepo-auth/src/error.rs
  crates/turborepo-auth/src/lib.rs
  crates/turborepo-auth/src/login.rs
  crates/turborepo-auth/src/login_server.rs
  crates/turborepo-auth/src/logout.rs
  crates/turborepo-auth/src/mocks/mock_api_client.rs
  crates/turborepo-auth/src/mocks/mock_login_server.rs
  crates/turborepo-auth/src/mocks/mod.rs
  crates/turborepo-auth/src/server/mod.rs
  crates/turborepo-auth/src/sso.rs
  crates/turborepo-auth/src/sso_server.rs
  crates/turborepo-auth/src/ui/mod.rs
  crates/turborepo-lib/Cargo.toml
  crates/turborepo-lib/src/cli/error.rs
  crates/turborepo-lib/src/cli/mod.rs
  crates/turborepo-lib/src/commands/link.rs
  crates/turborepo-lib/src/commands/login.rs
  crates/turborepo-lib/src/commands/logout.rs
  crates/turborepo-lib/src/commands/mod.rs
  crates/turborepo-lib/src/config/mod.rs
  crates/turborepo-lib/src/config/turbo_config.rs
  crates/turborepo-paths/src/absolute_system_path.rs
  crates/turborepo-paths/src/absolute_system_path_buf.rs
  crates/turborepo-ui/Cargo.toml
  crates/turborepo-ui/src/lib.rs
  crates/turborepo-vercel-api/Cargo.toml
  crates/turborepo-vercel-api/src/lib.rs
  crates/turborepo/src/panic_handler.rs
  packages/turbo-repository/rust/build.rs
  turborepo-tests/integration/tests/_helpers/logged_in.sh
  turborepo-tests/integration/tests/command-logout.t
Labels: owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#6878 Improve docs search index.
  docs/components/Main.tsx
  docs/components/Search.tsx
  docs/custom.css
  docs/lib/mock-search-data.ts
  docs/lib/search/index.ts
  docs/lib/search/search-types.ts
  docs/package.json
  docs/theme.config.tsx
  pnpm-lock.yaml
Labels: area: site, owned-by: turborepo, owned-by: turbopack

#6836 Adding Vercel Toolbar to docs.
  Cargo.lock
  docs/components/CommentsButton.tsx
  docs/lib/comments.ts
  docs/next.config.js
  docs/package.json
  docs/pages/_app.tsx
  docs/theme.config.tsx
  pnpm-lock.yaml
Labels: area: site, owned-by: turborepo, owned-by: turbopack

#6894 General CI steps on doc.
  docs/pages/repo/docs/ci.mdx
Labels: area: docs, owned-by: turborepo

#6808 nothing to see here yet
  crates/turborepo-lib/src/task_graph/visitor.rs
Labels: owned-by: turborepo, created-by: turborepo

#6900 Fix dependabot, I think.
  .github/dependabot.yml
Labels: owned-by: turborepo, owned-by: turbopack

#6910 Run dependabot weekly.
  .github/dependabot.yml
Labels: owned-by: turborepo, owned-by: turbopack

#6880 fix: Make execution state use auth crate
  crates/turborepo-auth/src/auth_file.rs
  crates/turborepo-auth/src/lib.rs
  crates/turborepo-lib/src/commands/link.rs
  crates/turborepo-lib/src/commands/login.rs
  crates/turborepo-lib/src/commands/logout.rs
  crates/turborepo-lib/src/commands/mod.rs
  crates/turborepo-lib/src/execution_state.rs
  crates/turborepo-lib/src/run/error.rs
Labels: owned-by: turborepo, created-by: turborepo

#6924 Fix code block spacing in tabs.
  docs/styles.css
  docs/theme.config.tsx
Labels: area: site, owned-by: turborepo, owned-by: turbopack

#6928 Only run examples tests on ubuntu.
  .github/workflows/test.yml
Labels: area: ci, owned-by: turborepo, owned-by: turbopack

#6925 fix(telemetry): obfuscate rc endpoint
  crates/turborepo-telemetry/src/events/generic.rs
Labels: owned-by: turborepo, created-by: turborepo

#6929 fix: treat empty environement variables as unset
  crates/turborepo-lib/src/config/turbo_config.rs
Labels: owned-by: turborepo, created-by: turborepo

#6884 Update `swc_core` to `v0.87.16`
  Cargo.lock
  Cargo.toml
  package.json
Labels: owned-by: turborepo, owned-by: turbopack, created-by: turbopack

#6954 Revert "fix glob matching of alternatives"
  crates/turbo-tasks-fs/src/glob.rs
Labels: owned-by: turbopack, created-by: turbopack

#6933 [Docs] create-new.mdx - npm double slash typo fix
  docs/pages/repo/docs/getting-started/create-new.mdx
Labels: area: docs, owned-by: turborepo

#6780 Error out if dependent flags are provided without their parent
  crates/turborepo-lib/src/cli/mod.rs
  turborepo-tests/integration/tests/conflicting-flags.t
  turborepo-tests/integration/tests/no-args.t
  turborepo-tests/integration/tests/turbo-help.t
Labels: owned-by: turborepo, created-by: turborepo

#6790 fix: make sure that our concurrency check ignore packages without task
  crates/turborepo-lib/src/engine/mod.rs
  turborepo-tests/integration/tests/persistent-dependencies/10-too-many.t
Labels: owned-by: turborepo, created-by: turborepo

#6955 chore: avoid panic on invalid directory filters
  crates/turborepo-lib/src/run/scope/filter.rs
Labels: owned-by: turborepo, created-by: turborepo

#6847 feat(Turborepo): Use a wrapper around the raw strings we pass to globwalk
  Cargo.lock
  crates/turborepo-ffi/src/lib.rs
  crates/turborepo-globwalk/Cargo.toml
  crates/turborepo-globwalk/src/lib.rs
  crates/turborepo-lib/src/run/cache.rs
  crates/turborepo-lib/src/run/global_hash.rs
  crates/turborepo-lib/src/task_graph/mod.rs
  crates/turborepo-repository/src/package_manager/mod.rs
  crates/turborepo-scm/Cargo.toml
  crates/turborepo-scm/src/lib.rs
  crates/turborepo-scm/src/package_deps.rs
Labels: owned-by: turborepo, created-by: turborepo

#6957 fix: ignore permission errors during globbing
  crates/turborepo-globwalk/src/lib.rs
Labels: owned-by: turborepo, created-by: turborepo

#6962 Conditionalize comments button.
  docs/lib/comments.ts
  docs/pages/_app.tsx
  docs/theme.config.tsx
Labels: area: site, owned-by: turborepo, owned-by: turbopack

#6926 fix: avoid retry panic
  crates/turborepo-api-client/src/error.rs
  crates/turborepo-api-client/src/lib.rs
  crates/turborepo-api-client/src/retry.rs
  crates/turborepo-auth/src/mocks/mock_api_client.rs
Labels: owned-by: turborepo, created-by: turborepo

#6977 Revert "fix aggregation of outdated children and collectibles"
  crates/turbo-tasks-memory/src/task.rs
  crates/turbo-tasks-memory/src/task/aggregation.rs
Labels: owned-by: turbopack, created-by: turbopack

#6712 Fix/unrevert daemon discovery
  crates/turborepo-filewatch/src/package_watcher.rs
  crates/turborepo-lib/src/commands/daemon.rs
  crates/turborepo-lib/src/daemon/server.rs
  crates/turborepo-lib/src/run/mod.rs
  crates/turborepo-lib/src/run/package_discovery/mod.rs
  crates/turborepo-repository/src/discovery.rs
  turborepo-tests/integration-rust/tests/daemon/daemon-build.t
Labels: owned-by: turborepo, created-by: turborepo

#6973 fix(docs): correct option heading
  docs/pages/repo/docs/reference/command-line-reference/prune.mdx
Labels: area: docs, owned-by: turborepo, created-by: turborepo

#6978 fix aggregation of outdated children and collectibles
  crates/turbo-tasks-memory/src/aggregation_tree/leaf.rs
  crates/turbo-tasks-memory/src/aggregation_tree/tests.rs
  crates/turbo-tasks-memory/src/task.rs
  crates/turbo-tasks-memory/src/task/aggregation.rs
Labels: owned-by: turbopack, created-by: turbopack

#6968 fix glob matching of alternatives
  crates/turbo-tasks-fs/src/glob.rs
Labels: owned-by: turbopack, created-by: turbopack

#6922 avoid using a write lock for root info
  crates/turbo-tasks-memory/src/task.rs
Labels: owned-by: turbopack, created-by: turbopack

#6965 recycle trace buffers
  crates/turbopack-trace-utils/src/flavor.rs
  crates/turbopack-trace-utils/src/lib.rs
  crates/turbopack-trace-utils/src/raw_trace.rs
  crates/turbopack-trace-utils/src/trace_writer.rs
Labels: owned-by: turbopack, created-by: turbopack

#6970 feat(telemetry): track prune args
  crates/turborepo-lib/src/cli/mod.rs
  crates/turborepo-lib/src/commands/prune.rs
  crates/turborepo-telemetry/src/events/command.rs
Labels: owned-by: turborepo, created-by: turborepo

#6974 feat(lockfiles): support Yarn 4 patches
  crates/turborepo-lockfiles/fixtures/yarn4-direct-and-indirect.lock
  crates/turborepo-lockfiles/fixtures/yarn4-patch.lock
  crates/turborepo-lockfiles/src/berry/identifiers.rs
  crates/turborepo-lockfiles/src/berry/mod.rs
Labels: owned-by: turborepo, created-by: turborepo

#6980 Clean up inputs doc.
  docs/pages/repo/docs/reference/configuration.mdx
Labels: area: docs, owned-by: turborepo

#6787 feat(turbopack-ecmascript): support named client references
  crates/turbopack-ecmascript-plugins/src/transform/directives/server_to_client_proxy.rs
  crates/turbopack-ecmascript/src/references/esm/export.rs
Labels: owned-by: turbopack, created-by: turbopack

#6972 feat(telemetry): track global args
  crates/turborepo-lib/src/cli/mod.rs
  crates/turborepo-telemetry/src/events/generic.rs
Labels: owned-by: turborepo, created-by: turborepo

#6886 improve nesting of tracing for invalidations
  crates/turbo-tasks-memory/src/memory_backend_with_pg.rs
  crates/turbo-tasks-memory/src/task.rs
  crates/turbo-tasks/src/backend.rs
  crates/turbo-tasks/src/manager.rs
  crates/turbo-tasks/src/native_function.rs
  crates/turbo-tasks/src/task/function.rs
  crates/turbo-tasks/src/value_type.rs
  crates/turbopack-core/src/chunk/chunking.rs
Labels: owned-by: turbopack, created-by: turbopack

#6866 trace memory allocations and show in tracing
  crates/turbo-tasks-malloc/src/counter.rs
  crates/turbo-tasks-malloc/src/lib.rs
  crates/turbopack-convert-trace/src/main.rs
  crates/turbopack-trace-server/src/reader.rs
  crates/turbopack-trace-server/src/server.rs
  crates/turbopack-trace-server/src/span.rs
  crates/turbopack-trace-server/src/store.rs
  crates/turbopack-trace-server/src/viewer.rs
  crates/turbopack-trace-utils/Cargo.toml
  crates/turbopack-trace-utils/src/raw_trace.rs
  crates/turbopack-trace-utils/src/tracing.rs
Labels: owned-by: turbopack, created-by: turbopack

#6982 chore: fix clippy errors/warnings
  crates/turborepo-cache/src/cache_archive/create.rs
  crates/turborepo-globwatch/examples/cancel.rs
  crates/turborepo-repository/src/inference.rs
  packages/turbo-repository/rust/src/internal.rs
  packages/turbo-repository/rust/src/lib.rs
Labels: owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#6984 Clarify Turbopack usability in callout.
  docs/pages/pack/docs/index.mdx
Labels: area: docs, owned-by: turbopack

#6960 fix(docs): typo in `what-to-cache.mdx`
  docs/pages/repo/docs/core-concepts/caching/what-to-cache.mdx
Labels: area: docs, owned-by: turborepo

#6987 fix(docs): update vercel.mdx
  docs/pages/repo/docs/ci/vercel.mdx
Labels: area: docs, owned-by: turborepo, created-by: turborepo

#6986 Fix with-svelte-example
  examples/with-svelte/apps/docs/package.json
  examples/with-svelte/apps/docs/svelte.config.js
  examples/with-svelte/apps/docs/tests/test.ts
  examples/with-svelte/apps/docs/vite.config.ts
  examples/with-svelte/apps/web/package.json
  examples/with-svelte/apps/web/svelte.config.js
  examples/with-svelte/apps/web/tests/test.ts
  examples/with-svelte/apps/web/vite.config.ts
  examples/with-svelte/pnpm-lock.yaml
Labels: area: examples, owned-by: turborepo

#6990 fix: update Cargo.lock with correct workspace dependencies
  Cargo.lock
Labels: created-by: turborepo

#6989 fix: rewrite prefix after carriage return
  crates/turborepo-ui/src/prefixed.rs
Labels: owned-by: turborepo, created-by: turborepo

#6992 chore: remove usage of command groups
  crates/turborepo-lib/Cargo.toml
  crates/turborepo-lib/src/process/child.rs
Labels: owned-by: turborepo, created-by: turborepo

#6993 chore: add reason for service being unavailable
  crates/turborepo-lib/src/daemon/client.rs
  crates/turborepo-lib/src/daemon/connector.rs
  crates/turborepo-lib/src/run/cache.rs
Labels: owned-by: turborepo, created-by: turborepo

#6995 fix(turbo): validate graph extension
  crates/turborepo-lib/src/cli/mod.rs
  turborepo-tests/integration/tests/run/graph.t
Labels: owned-by: turborepo, created-by: turborepo

#6996 chore: Adjusted error message for APIClient errors in cache
  Cargo.lock
  crates/turborepo-cache/src/lib.rs
Labels: owned-by: turborepo, created-by: turborepo

#7000 Bumping Next.js version in Turbopack docs.
  docs/pages/pack/docs/core-concepts.mdx
  docs/pages/pack/docs/features/frameworks.mdx
  docs/pages/pack/docs/index.mdx
Labels: area: docs, owned-by: turbopack

#6999 Doc for running setup tasks prior to development tasks.
  docs/pages/repo/docs/handbook/dev.mdx
Labels: area: docs, owned-by: turborepo

#7001 Automatically create an umbrella PR for all examples.
  .github/dependabot.yml
  .github/workflows/examples-autoapprove-and-automerge.yml
Labels: area: ci, owned-by: turborepo, owned-by: turbopack

#7005 fix(examples): fontSize type is number not string
  examples/with-react-native-web/packages/ui/src/button.tsx
Labels: area: examples, owned-by: turborepo

#7007 Fix Svelte package export map
  examples/with-svelte/packages/ui/package.json
Labels: area: examples, owned-by: turborepo

#7017 fix(integration): update help integration test
  turborepo-tests/integration/tests/no-args.t
  turborepo-tests/integration/tests/turbo-help.t
Labels: owned-by: turborepo, created-by: turborepo

#7016 fix(cache): truncate metadata file when writing
  crates/turborepo-cache/src/fs.rs
Labels: owned-by: turborepo, created-by: turborepo

#6988 allow to pass available chunk items when creating a chunk group
  crates/turbopack-build/src/chunking_context.rs
  crates/turbopack-build/src/lib.rs
  crates/turbopack-cli/src/build/mod.rs
  crates/turbopack-core/src/chunk/chunk_group.rs
  crates/turbopack-core/src/chunk/chunking_context.rs
  crates/turbopack-core/src/chunk/mod.rs
  crates/turbopack-core/src/output.rs
  crates/turbopack-dev-server/src/html.rs
  crates/turbopack-dev/src/chunking_context.rs
  crates/turbopack-ecmascript/src/chunk_group_files_asset.rs
  crates/turbopack-ecmascript/src/manifest/chunk_asset.rs
  crates/turbopack-node/src/bootstrap.rs
  crates/turbopack-tests/tests/snapshot.rs
Labels: owned-by: turbopack, created-by: turbopack

#7013 fix: make CSS reloading work on firefox
  crates/turbopack-ecmascript-runtime/js/src/dev/runtime/dom/runtime-backend-dom.ts
  crates/turbopack-ecmascript-runtime/js/src/tsconfig.base.json
  crates/turbopack-tests/tests/snapshot/runtime/default_dev_runtime/output/79fb1_turbopack-tests_tests_snapshot_runtime_default_dev_runtime_input_index_40d141.js
  crates/turbopack-tests/tests/snapshot/runtime/default_dev_runtime/output/79fb1_turbopack-tests_tests_snapshot_runtime_default_dev_runtime_input_index_40d141.js.map
Labels: owned-by: turbopack, created-by: turbopack

#7004 improve error message when no config is exported from postcss.config.js
  crates/turbopack-node/js/src/transforms/postcss.ts
Labels: owned-by: turbopack, created-by: turbopack

#7012 Allow skipping postcss relative config resolving
  crates/turbopack-cli/src/contexts.rs
  crates/turbopack-node/src/transforms/postcss.rs
  crates/turbopack/src/module_options/mod.rs
  crates/turbopack/src/module_options/module_options_context.rs
Labels: owned-by: turbopack

#7019 chore: fix turbopack typescript checks
  crates/turbopack-cli/js/tsconfig.json
Labels: owned-by: turbopack, created-by: turbopack

#7011 Add Glossary to sidebar.
  docs/pages/repo/docs/_meta.json
Labels: area: site, owned-by: turborepo

#7008 added docs/repo link to homepage
  docs/components/Navigation.tsx
Labels: area: site, owned-by: turborepo, owned-by: turbopack

#6923 Bottom up tracing and some tracing improvements
  crates/turbopack-trace-server/src/bottom_up.rs
  crates/turbopack-trace-server/src/main.rs
  crates/turbopack-trace-server/src/server.rs
  crates/turbopack-trace-server/src/span.rs
  crates/turbopack-trace-server/src/span_bottom_up_ref.rs
  crates/turbopack-trace-server/src/span_graph_ref.rs
  crates/turbopack-trace-server/src/span_ref.rs
  crates/turbopack-trace-server/src/store.rs
  crates/turbopack-trace-server/src/viewer.rs
Labels: owned-by: turbopack, created-by: turbopack

#7021 chore(docs): migrate to speed-insights
  docs/package.json
  docs/pages/_app.tsx
  pnpm-lock.yaml
Labels: area: site, owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#6543 turbo LSP + VSCode extension
  .vscode/launch.json
  Cargo.lock
  Cargo.toml
  crates/tower-uds/Cargo.toml
  crates/tower-uds/src/lib.rs
  crates/turborepo-lib/src/commands/mod.rs
  crates/turborepo-lib/src/daemon/client.rs
  crates/turborepo-lib/src/daemon/connector.rs
  crates/turborepo-lib/src/lib.rs
  crates/turborepo-lib/src/run/package_discovery/mod.rs
  crates/turborepo-lsp/Cargo.toml
  crates/turborepo-lsp/readme.md
  crates/turborepo-lsp/src/lib.rs
  crates/turborepo-lsp/src/main.rs
  crates/turborepo-repository/src/discovery.rs
  crates/turborepo-repository/src/package_json.rs
  crates/turborepo/build.rs
  packages/turbo-vsc/.gitignore
  packages/turbo-vsc/.vscodeignore
  packages/turbo-vsc/CONTRIBUTING.md
  packages/turbo-vsc/LICENSE
  packages/turbo-vsc/README.md
  packages/turbo-vsc/package.json
  packages/turbo-vsc/resources/globs.png
  packages/turbo-vsc/resources/icon.png
  packages/turbo-vsc/resources/icon.svg
  packages/turbo-vsc/resources/references.png
  packages/turbo-vsc/src/extension.ts
  packages/turbo-vsc/tsconfig.json
  pnpm-lock.yaml
Labels: owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#7022 fix(examples): basic generator
  examples/basic/packages/ui/turbo/generators/config.ts
  examples/basic/packages/ui/turbo/generators/templates/component.hbs
Labels: area: examples, owned-by: turborepo, created-by: turborepo

#6983 fix(prune): correctly create symlinks to directories
  crates/turborepo-fs/src/lib.rs
Labels: owned-by: turborepo, created-by: turborepo

#7023 fix: forward fixes for LSP
  crates/turborepo-lib/src/daemon/connector.rs
  crates/turborepo-lsp/Cargo.toml
  crates/turborepo-lsp/src/lib.rs
  crates/turborepo-repository/src/package_json.rs
  crates/turborepo/build.rs
Labels: owned-by: turborepo, created-by: turborepo

#7010 Add Governance page to docs.
  docs/components/Footer.tsx
  docs/pages/_meta.json
  docs/pages/governance.mdx
Labels: area: docs, area: site, owned-by: turborepo, owned-by: turbopack

#7015 fix(daemon): make sure cookie dir exists before writing cookie
  crates/turborepo-filewatch/src/cookie_jar.rs
Labels: owned-by: turborepo, created-by: turborepo

#7028 fix: add missing layer ident modifier to asset with inner assets
  crates/turbopack-ecmascript/src/lib.rs
Labels: owned-by: turbopack, created-by: turbopack

#7030 fix: next-swc CI check
  .github/workflows/test.yml
Labels: area: ci, owned-by: turborepo, owned-by: turbopack, created-by: turbopack

#7031 feat(telemetry): track more daemon errors
  crates/turborepo-lib/src/run/cache.rs
  crates/turborepo-lib/src/run/mod.rs
  crates/turborepo-lib/src/task_graph/visitor.rs
  crates/turborepo-telemetry/src/events/generic.rs
  crates/turborepo-telemetry/src/events/mod.rs
  crates/turborepo-telemetry/src/events/task.rs
Labels: owned-by: turborepo, created-by: turborepo

#6810 feat: Use biome to parse turbo.json
  Cargo.lock
  Cargo.toml
  cli/internal/ffi/ffi.go
  crates/turborepo-errors/Cargo.toml
  crates/turborepo-errors/src/lib.rs
  crates/turborepo-lib/Cargo.toml
  crates/turborepo-lib/src/cli/error.rs
  crates/turborepo-lib/src/commands/link.rs
  crates/turborepo-lib/src/commands/prune.rs
  crates/turborepo-lib/src/config.rs
  crates/turborepo-lib/src/config/mod.rs
  crates/turborepo-lib/src/engine/builder.rs
  crates/turborepo-lib/src/lib.rs
  crates/turborepo-lib/src/run/error.rs
  crates/turborepo-lib/src/run/mod.rs
  crates/turborepo-lib/src/task_graph/mod.rs
  crates/turborepo-lib/src/turbo_json/mod.rs
  crates/turborepo-lib/src/turbo_json/parser.rs
  crates/turborepo-lib/src/unescape.rs
  crates/turborepo-repository/src/package_json.rs
  turborepo-tests/integration/fixtures/turbo-configs/invalid-env-var.json
  turborepo-tests/integration/fixtures/turbo-configs/syntax-error.json
  turborepo-tests/integration/tests/bad-turbo-json.t
  turborepo-tests/integration/tests/config.t
Labels: owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#7026 chore: revert auth json
  Cargo.lock
  cli/internal/client/client.go
  cli/internal/run/run.go
  crates/turborepo-api-client/src/lib.rs
  crates/turborepo-auth/Cargo.toml
  crates/turborepo-auth/src/auth/login.rs
  crates/turborepo-auth/src/auth/logout.rs
  crates/turborepo-auth/src/auth/mod.rs
  crates/turborepo-auth/src/auth/sso.rs
  crates/turborepo-auth/src/auth_file.rs
  crates/turborepo-auth/src/config_token.rs
  crates/turborepo-auth/src/error.rs
  crates/turborepo-auth/src/lib.rs
  crates/turborepo-auth/src/login.rs
  crates/turborepo-auth/src/mocks/mock_api_client.rs
  crates/turborepo-auth/src/mocks/mock_login_server.rs
  crates/turborepo-auth/src/mocks/mod.rs
  crates/turborepo-auth/src/server/login_server.rs
  crates/turborepo-auth/src/server/mod.rs
  crates/turborepo-auth/src/server/sso_server.rs
  crates/turborepo-auth/src/sso.rs
  crates/turborepo-auth/src/ui/mod.rs
  crates/turborepo-lib/src/cli/error.rs
  crates/turborepo-lib/src/cli/mod.rs
  crates/turborepo-lib/src/commands/link.rs
  crates/turborepo-lib/src/commands/login.rs
  crates/turborepo-lib/src/commands/logout.rs
  crates/turborepo-lib/src/commands/mod.rs
  crates/turborepo-lib/src/config.rs
  crates/turborepo-lib/src/execution_state.rs
  crates/turborepo-lib/src/run/error.rs
  crates/turborepo-lib/src/run/mod.rs
  crates/turborepo-lib/src/run/summary/spaces.rs
  crates/turborepo-paths/src/absolute_system_path.rs
  crates/turborepo-ui/Cargo.toml
  crates/turborepo-ui/src/lib.rs
  crates/turborepo-vercel-api/Cargo.toml
  crates/turborepo-vercel-api/src/lib.rs
  turborepo-tests/integration/package.json
  turborepo-tests/integration/tests/_helpers/logged_in.sh
  turborepo-tests/integration/tests/command-logout.t
  turborepo-tests/integration/tests/dry-json/monorepo-no-changes.t
  turborepo-tests/integration/tests/run-logging/log-order-stream.t
  turborepo-tests/integration/tests/run/single-package/run-yarn.t
Labels: owned-by: turborepo, created-by: turborepo

#7036 Dependabot needs to --squash, not --merge.
  .github/workflows/examples-autoapprove-and-automerge.yml
Labels: area: ci, owned-by: turborepo, owned-by: turbopack

#7054 Remove Governance page from search box.
  docs/lib/search/index.ts
Labels: area: site, owned-by: turborepo, owned-by: turbopack

#7068 add lazy_remove_children feature flag
  crates/turbo-tasks-memory/Cargo.toml
  crates/turbo-tasks-memory/src/task.rs
  crates/turbo-tasks-memory/src/task/aggregation.rs
Labels: owned-by: turbopack, created-by: turbopack

#7034 chore: prefactor process manager
  crates/turborepo-lib/src/process/child.rs
  crates/turborepo-lib/src/process/command.rs
  crates/turborepo-lib/src/process/mod.rs
  crates/turborepo-lib/src/task_graph/visitor.rs
Labels: owned-by: turborepo, created-by: turborepo

#7032 chore(Turborepo): Scope down opts needed by the visitor, remove run lifetime
  crates/turborepo-lib/src/commands/run.rs
  crates/turborepo-lib/src/run/mod.rs
  crates/turborepo-lib/src/task_graph/visitor.rs
  crates/turborepo-lib/src/task_hash.rs
Labels: owned-by: turborepo, created-by: turborepo

#7073 fix(ecmascript): collect recoverable error after parse
  crates/turbopack-ecmascript/src/parse.rs
Labels: owned-by: turbopack, created-by: turbopack

#7081 Add client_root for edge
  crates/turbopack-cli/src/dev/mod.rs
  crates/turbopack-cli/src/dev/web_entry_source.rs
  crates/turbopack-dev/src/chunking_context.rs
  crates/turbopack-tests/tests/execution.rs
  crates/turbopack-tests/tests/snapshot.rs
Labels: owned-by: turbopack

#7071 fix: Examples turbo.json outputs key
  crates/turborepo-lib/src/lib.rs
  crates/turborepo-lib/src/turbo_json/parser.rs
  turborepo-tests/example-npm-non-monorepo/turbo.json
  turborepo-tests/example-npm-with-npm/turbo.json
  turborepo-tests/example-pnpm-basic/turbo.json
  turborepo-tests/example-pnpm-gatsby/turbo.json
  turborepo-tests/example-pnpm-kitchen-sink/turbo.json
  turborepo-tests/example-pnpm-with-svelte/turbo.json
  turborepo-tests/example-yarn-non-monorepo/turbo.json
  turborepo-tests/example-yarn-with-yarn/turbo.json
Labels: owned-by: turborepo, created-by: turborepo

#7082 fix(docs): remote cache go -> rust
  docs/pages/repo/docs/core-concepts/remote-caching.mdx
Labels: area: docs, owned-by: turborepo, created-by: turborepo

#7079 Use `exports` in Internal Packages doc.
  docs/pages/repo/docs/handbook/sharing-code.mdx
  docs/pages/repo/docs/handbook/sharing-code/internal-packages.mdx
Labels: area: docs, owned-by: turborepo

#7086 fix: Run examples serially
  .github/workflows/test.yml
Labels: area: ci, owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#7087 fix(examples): ui turbo.json no longer needed
  examples/basic/packages/ui/turbo.json
Labels: area: examples, owned-by: turborepo, created-by: turborepo

#7088 chore(owners): add turbo-repository
  .github/CODEOWNERS
Labels: owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#7025 fix: filter package.json files that are subfolders of other packages
  crates/turborepo-repository/src/lib.rs
  crates/turborepo-repository/src/package_manager/mod.rs
  crates/turborepo-repository/src/util.rs
  turborepo-tests/integration-rust/tests/nested-packages.t
  turborepo-tests/integration/fixtures/nested_packages/.gitignore
  turborepo-tests/integration/fixtures/nested_packages/apps/my-app/.ignore/package.json
  turborepo-tests/integration/fixtures/nested_packages/apps/my-app/package.json
  turborepo-tests/integration/fixtures/nested_packages/package.json
  turborepo-tests/integration/fixtures/nested_packages/turbo.json
Labels: owned-by: turborepo, created-by: turborepo

#7078 feat: update `@turbo/repository` to use new terminology
  packages/turbo-repository/__tests__/find.test.ts
  packages/turbo-repository/js/index.d.ts
  packages/turbo-repository/rust/src/internal.rs
  packages/turbo-repository/rust/src/lib.rs
Labels: owned-by: turborepo

#7027 Update `swc_core` to `v0.87.28`
  Cargo.lock
  Cargo.toml
  crates/turbopack-binding/Cargo.toml
  crates/turbopack-cli/src/contexts.rs
  crates/turbopack-css/Cargo.toml
  crates/turbopack-ecmascript-plugins/Cargo.toml
  crates/turbopack-ecmascript-plugins/src/transform/styled_jsx.rs
Labels: owned-by: turborepo, owned-by: turbopack, created-by: turbopack

#7018 fix(turbo): sort dependents and dependencies during normalization
  crates/turborepo-lib/src/run/summary/mod.rs
  crates/turborepo-lib/src/run/summary/task.rs
  turborepo-tests/integration/fixtures/with-pkg-deps/.gitignore
  turborepo-tests/integration/fixtures/with-pkg-deps/apps/my-app/package.json
  turborepo-tests/integration/fixtures/with-pkg-deps/package.json
  turborepo-tests/integration/fixtures/with-pkg-deps/packages/another/package.json
  turborepo-tests/integration/fixtures/with-pkg-deps/packages/util/package.json
  turborepo-tests/integration/fixtures/with-pkg-deps/turbo.json
  turborepo-tests/integration/tests/run-summary/sorting-deps.t
Labels: pr: fixship, owned-by: turborepo, created-by: turborepo

#7091 lock reqwest to 0.11.17 due to build issues
  Cargo.lock
  Cargo.toml
Labels: owned-by: turborepo, owned-by: turbopack, created-by: turbopack

#7090 release: `@turbo/repository@0.0.1-canary.3`
  packages/turbo-repository/js/package.json
  packages/turbo-repository/npm/darwin-arm64/package.json
  packages/turbo-repository/npm/darwin-x64/package.json
  packages/turbo-repository/npm/linux-arm64-gnu/package.json
  packages/turbo-repository/npm/linux-x64-gnu/package.json
  packages/turbo-repository/npm/win32-arm64-msvc/package.json
  packages/turbo-repository/npm/win32-x64-msvc/package.json
Labels: owned-by: turborepo

#7080 reduce work and tasks during module analysis
  crates/turbopack-ecmascript/src/lib.rs
  crates/turbopack-ecmascript/src/parse.rs
Labels: owned-by: turbopack, created-by: turbopack

#7093 fix: don't escape base path in ecmascript runtime to allow for URLs
  crates/turbopack-ecmascript-runtime/js/src/dev/runtime/base/runtime-base.ts
  crates/turbopack-tests/tests/snapshot/runtime/default_dev_runtime/output/79fb1_turbopack-tests_tests_snapshot_runtime_default_dev_runtime_input_index_40d141.js
  crates/turbopack-tests/tests/snapshot/runtime/default_dev_runtime/output/79fb1_turbopack-tests_tests_snapshot_runtime_default_dev_runtime_input_index_40d141.js.map
Labels: owned-by: turbopack, created-by: turbopack

#7095 chore(docs): remove node-fetch in favor of builtin
  docs/package.json
  docs/turbo/generators/utils.ts
  pnpm-lock.yaml
Labels: area: site, owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#7097 docs: Update TLS info to be accurate
  CONTRIBUTING.md
Labels: owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#7077 feat: add ability to spawn child process with pty
  Cargo.lock
  crates/turborepo-lib/Cargo.toml
  crates/turborepo-lib/src/process/child.rs
  crates/turborepo-lib/src/process/command.rs
  crates/turborepo-lib/src/process/mod.rs
Labels: owned-by: turborepo, created-by: turborepo

#7085 chore(Turborepo): Move more CLI stuff out of run code
  crates/turborepo-api-client/src/lib.rs
  crates/turborepo-cache/src/async_cache.rs
  crates/turborepo-cache/src/lib.rs
  crates/turborepo-cache/src/multiplexer.rs
  crates/turborepo-lib/src/cli/mod.rs
  crates/turborepo-lib/src/commands/run.rs
  crates/turborepo-lib/src/opts.rs
  crates/turborepo-lib/src/run/graph_visualizer.rs
  crates/turborepo-lib/src/run/mod.rs
  crates/turborepo-lib/src/run/summary/mod.rs
  crates/turborepo-lib/src/run/summary/task_factory.rs
  crates/turborepo-lib/src/task_graph/visitor.rs
  crates/turborepo-lib/src/task_hash.rs
Labels: owned-by: turborepo, created-by: turborepo

#7105 fix(hashing): include gitignored files in fallback
  cli/internal/hashing/package_deps_hash_test.go
  crates/turborepo-scm/src/manual.rs
Labels: owned-by: turborepo, created-by: turborepo

#7114 add turborepo-lsp build matrix based on turbo's
  .github/workflows/lsp.yml
Labels: area: ci, owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#7115 update profile to optimise for smaller binaries
  .github/workflows/lsp.yml
  Cargo.toml
Labels: area: ci, owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#7116 Feat/add windows arm support
  .github/workflows/lsp.yml
  packages/turbo-vsc/src/extension.ts
Labels: area: ci, owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#7104 Turbopack: use inline sourcemaps for HMR chunks
  crates/turbopack-dev/src/ecmascript/merged/update.rs
  crates/turbopack-dev/src/ecmascript/update.rs
  crates/turbopack-ecmascript-runtime/js/src/dev/runtime/dom/runtime-backend-dom.ts
  crates/turbopack-tests/tests/snapshot/runtime/default_dev_runtime/output/79fb1_turbopack-tests_tests_snapshot_runtime_default_dev_runtime_input_index_40d141.js
  crates/turbopack-tests/tests/snapshot/runtime/default_dev_runtime/output/79fb1_turbopack-tests_tests_snapshot_runtime_default_dev_runtime_input_index_40d141.js.map
Labels: owned-by: turbopack, created-by: turbopack

#7069 fix: typo in github-actions.mdx
  docs/pages/repo/docs/ci/github-actions.mdx
Labels: area: docs, owned-by: turborepo

#7118 chore(docs): remove unnecessary spaces
  examples/basic/apps/docs/app/page.tsx
  examples/basic/apps/web/app/page.tsx
  examples/with-npm/apps/docs/app/page.tsx
  examples/with-npm/apps/web/app/page.tsx
  examples/with-tailwind/apps/docs/src/app/page.tsx
  examples/with-tailwind/apps/web/src/app/page.tsx
  examples/with-vue-nuxt/packages/ui/src/page.vue
  examples/with-yarn/apps/docs/app/page.tsx
  examples/with-yarn/apps/web/app/page.tsx
Labels: area: examples, owned-by: turborepo

#7120 fix(clippy): remove unused import
  Cargo.lock
  crates/turborepo-lib/src/run/summary/task.rs
Labels: owned-by: turborepo, created-by: turborepo

#7124 chore(ci): update created-by: turborepo labeling automation
  .github/turbo-orchestrator.yml
Labels: owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#7076 Document glob spec.
  docs/pages/repo/docs/reference/configuration.mdx
Labels: area: docs, owned-by: turborepo

#7072 Document handling of Node.js versions, OS, and arch.
  docs/pages/repo/docs/core-concepts/caching.mdx
Labels: area: docs, owned-by: turborepo, created-by: turborepo

#7110 Ease up on the "Compute Saved" number animation.
  docs/components/RemoteCacheCounter.tsx
Labels: area: site, owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#7106 fix(hashing): include default files in fallback
  crates/turborepo-scm/src/manual.rs
Labels: owned-by: turborepo, created-by: turborepo

#7127 chore: add tracing to pty usage
  crates/turborepo-lib/src/process/child.rs
Labels: owned-by: turborepo, created-by: turborepo

#7109 fix disable echoctl
  crates/turborepo-lib/src/lib.rs
  crates/turborepo-lib/src/process/child.rs
Labels: owned-by: turborepo, created-by: turborepo

#7122 feat(telemetry): enable feature
  crates/turborepo-lib/src/cli/mod.rs
  crates/turborepo-telemetry/README.md
  crates/turborepo-telemetry/src/config.rs
  crates/turborepo-telemetry/src/lib.rs
  turborepo-tests/helpers/setup.sh
  turborepo-tests/helpers/setup_example_test.sh
  turborepo-tests/helpers/setup_integration_test.sh
  turborepo-tests/integration/tests/_helpers/logged_in.sh
  turborepo-tests/integration/tests/command-telemetry.t
  turborepo-tests/integration/tests/no-args.t
  turborepo-tests/integration/tests/turbo-help.t
Labels: owned-by: turborepo, created-by: turborepo

#7092 Update `swc_core` to `v0.89.x`
  Cargo.lock
  Cargo.toml
  crates/turbopack-ecmascript-plugins/src/transform/directives/server_to_client_proxy.rs
  crates/turbopack-ecmascript-plugins/src/transform/styled_jsx.rs
  crates/turbopack-ecmascript/src/tree_shake/graph.rs
  crates/turbopack-tests/tests/snapshot/basic/ecmascript_minify/output/crates_turbopack-tests_tests_snapshot_basic_ecmascript_minify_input_index_dc5b16.js.map
  crates/turbopack-tests/tests/snapshot/emotion/emotion/output/crates_turbopack-tests_tests_snapshot_b36339._.js
  crates/turbopack-tests/tests/snapshot/swc_transforms/mono_transforms/output/crates_turbopack-tests_tests_snapshot_9cde7b._.js
Labels: owned-by: turborepo, owned-by: turbopack, created-by: turbopack

#7126 Some quick extension fixes
  crates/turborepo-lsp/src/lib.rs
  packages/turbo-vsc/README.md
  packages/turbo-vsc/src/extension.ts
Labels: owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#7133 Update `swc_core` to `v0.89.4`
  Cargo.lock
  Cargo.toml
Labels: owned-by: turborepo, owned-by: turbopack, created-by: turbopack

#7099 fix(turbopack): Fix panic from `EcmascriptModuleFacadeModule::content`
  crates/turbopack-ecmascript/src/side_effect_optimization/facade/module.rs
  crates/turbopack-ecmascript/src/side_effect_optimization/locals/module.rs
Labels: owned-by: turbopack, created-by: turbopack

#7128 feat: enable pty usage
  crates/turborepo-lib/src/process/mod.rs
Labels: owned-by: turborepo, created-by: turborepo

#7121 fix(turbopack): don't parse `.ts` files as `.tsx`
  crates/turbopack-ecmascript/src/lib.rs
  crates/turbopack-ecmascript/src/parse.rs
  crates/turbopack-ecmascript/src/references/mod.rs
  crates/turbopack-mdx/src/lib.rs
  crates/turbopack/src/lib.rs
  crates/turbopack/src/module_options/mod.rs
  crates/turbopack/src/module_options/module_rule.rs
Labels: owned-by: turbopack, created-by: turbopack

#7156 fix: process manager tests tty
  crates/turborepo-lib/src/process/command.rs
  crates/turborepo-lib/src/process/mod.rs
  crates/turborepo-lib/src/run/mod.rs
Labels: owned-by: turborepo, created-by: turborepo

#7130 Add generalized deployment advice for Prisma doc.
  docs/pages/repo/docs/handbook/tools/prisma.mdx
Labels: area: docs, owned-by: turborepo, created-by: turborepo

#7132 chore: install jest in examples/kitchen-sink
  examples/kitchen-sink/apps/api/package.json
  examples/kitchen-sink/packages/logger/package.json
  examples/kitchen-sink/packages/ui/package.json
  examples/kitchen-sink/pnpm-lock.yaml
Labels: area: examples, owned-by: turborepo

#7160 Make `EcmascriptDevChunkContent` public to other crates
  crates/turbopack-dev/src/ecmascript/content.rs
  crates/turbopack-dev/src/ecmascript/mod.rs
  crates/turbopack-dev/src/lib.rs
Labels: owned-by: turbopack, created-by: turbopack

#7162 Fix sourcemap PR compile error
  crates/turbopack-dev/src/ecmascript/content_entry.rs
Labels: owned-by: turbopack

#7163 fix: Revert `preset-env` mode of `styled-jsx` in turbopack
  crates/turbopack-ecmascript-plugins/src/transform/styled_jsx.rs
Labels: owned-by: turbopack, created-by: turbopack

#7164 Add release turborepo profile
  .github/workflows/turborepo-release.yml
  Cargo.toml
Labels: area: ci, owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#7129 Some branding and README stuff.
  packages/turbo-vsc/README.md
  packages/turbo-vsc/package.json
  packages/turbo-vsc/resources/contextual-codemod.png
  packages/turbo-vsc/resources/globs.png
  packages/turbo-vsc/resources/icon.png
  packages/turbo-vsc/resources/readme-hero.png
  packages/turbo-vsc/resources/references.png
Labels: owned-by: turborepo, owned-by: turbopack, created-by: turborepo

#7168 fix(tests): mock telemetry config
  Cargo.lock
  crates/turborepo-telemetry/Cargo.toml
  crates/turborepo-telemetry/src/config.rs
  turborepo-tests/integration/tests/_helpers/telemetry.sh
  turborepo-tests/integration/tests/command-telemetry.t
Labels: owned-by: turborepo, created-by: turborepo

#7171 chore: clean pnpm lockfile
  pnpm-lock.yaml
Labels: created-by: turborepo
