Repository vercel/turborepo, pull requests merged in 2024-11, with the labels that each got.

#9360 feat(trace): add export conditions `import` and `require` to trace resolver
  crates/turbo-trace/src/tracer.rs
  crates/turborepo-lib/src/query/file.rs
  crates/turborepo/tests/query.rs
  crates/turborepo/tests/snapshots/query__turbo_trace_get_`export_conditions`_with_dependencies_(npm@10.5.0).snap
  turborepo-tests/integration/fixtures/turbo_trace/export_conditions.js
  turborepo-tests/integration/fixtures/turbo_trace/package.json
Labels: owned-by: turborepo, created-by: turborepo

#9369 fix(tui): respect --no-color
  crates/turborepo-lib/src/run/mod.rs
  crates/turborepo-ui/src/tui/app.rs
Labels: owned-by: turborepo, created-by: turborepo

#9373 fix(tui): sort tasks in state not just view
  crates/turborepo-ui/src/tui/app.rs
  crates/turborepo-ui/src/tui/table.rs
  crates/turborepo-ui/src/tui/task.rs
Labels: owned-by: turborepo, created-by: turborepo

#9375 chore(ci): bump macOS runner to 13
  .github/workflows/lsp.yml
  .github/workflows/test-js-packages.yml
  .github/workflows/turborepo-test.yml
Labels: area: ci, owned-by: turborepo, created-by: turborepo

#9378 fix: Don't require a name for the root package.json.
  crates/turborepo-repository/src/package_graph/mod.rs
Labels: owned-by: turborepo, created-by: turborepo

#9382 refactor: Use simpler root package.json check.
  crates/turborepo-repository/src/package_graph/mod.rs
Labels: owned-by: turborepo, created-by: turborepo

#9387 chore: Stop running unnecessary checks for docs-only changes.
  .github/workflows/test-js-packages.yml
  .github/workflows/turborepo-native-lib-test.yml
Labels: area: ci, owned-by: turborepo, created-by: turborepo

#9383 fix(mfe): build internal package if present in graph
  crates/turborepo-lib/src/turbo_json/loader.rs
  crates/turborepo-lib/src/turbo_json/mod.rs
  crates/turborepo-micro-frontend/src/lib.rs
  crates/turborepo-unescape/src/lib.rs
Labels: owned-by: turborepo, created-by: turborepo

#9370 fix(query): validate package name
  crates/turborepo-lib/src/commands/query.rs
  crates/turborepo-lib/src/query/mod.rs
  crates/turborepo-lib/src/query/package.rs
  crates/turborepo-lib/src/query/task.rs
  crates/turborepo/tests/query.rs
  crates/turborepo/tests/snapshots/query__basic_monorepo_get_package_that_doesn't_exist_(npm@10.5.0).snap
Labels: owned-by: turborepo, created-by: turborepo

#9367 feat(trace): pretty print trace errors to logs
  Cargo.lock
  crates/turbo-trace/Cargo.toml
  crates/turbo-trace/src/tracer.rs
  crates/turborepo-lib/src/commands/query.rs
  crates/turborepo-lib/src/query/file.rs
  crates/turborepo/tests/query.rs
  crates/turborepo/tests/snapshots/query__turbo_trace_get_`invalid.ts`_with_dependencies_(npm@10.5.0).snap
  turborepo-tests/integration/tests/turbo-trace.t
Labels: owned-by: turborepo, created-by: turborepo

#9348 feat(turbo): add cache flag
  Cargo.lock
  crates/turborepo-cache/Cargo.toml
  crates/turborepo-cache/src/async_cache.rs
  crates/turborepo-cache/src/config.rs
  crates/turborepo-cache/src/lib.rs
  crates/turborepo-cache/src/multiplexer.rs
  crates/turborepo-lib/src/cli/mod.rs
  crates/turborepo-lib/src/commands/mod.rs
  crates/turborepo-lib/src/config/env.rs
  crates/turborepo-lib/src/config/mod.rs
  crates/turborepo-lib/src/opts.rs
  crates/turborepo-lib/src/run/builder.rs
  crates/turborepo-lib/src/run/cache.rs
  crates/turborepo-lib/src/run/mod.rs
  crates/turborepo-lib/src/snapshots/turborepo_lib__opts__test__force.snap
  crates/turborepo-lib/src/snapshots/turborepo_lib__opts__test__force_remote_r,local_r.snap
  crates/turborepo-lib/src/snapshots/turborepo_lib__opts__test__no-cache.snap
  crates/turborepo-lib/src/snapshots/turborepo_lib__opts__test__no-cache_remote_w,local_rw.snap
  crates/turborepo-lib/src/snapshots/turborepo_lib__opts__test__remote-cache-read-only.snap
  crates/turborepo-lib/src/snapshots/turborepo_lib__opts__test__remote-cache-read-only_remote_rw,local_r.snap
  crates/turborepo-lib/src/snapshots/turborepo_lib__opts__test__remote-only.snap
  crates/turborepo-lib/src/snapshots/turborepo_lib__opts__test__remote-only_remote_r,local_rw.snap
  crates/turborepo/tests/common/snapshots/query__common__check_query.snap
  crates/turborepo/tests/snapshots/query__check_query.snap
  crates/turborepo/tests/snapshots/query__oxc_repro_get_dependencies_(npm@10.5.0)_err.snap
  crates/turborepo/tests/snapshots/query__query_oxc_repro_get_dependencies_(npm@10.5.0).snap
  crates/turborepo/tests/snapshots/query__query_turbo_trace_get_`button.tsx`_with_dependencies_(npm@10.5.0).snap
  crates/turborepo/tests/snapshots/query__query_turbo_trace_get_`circular.ts`_with_dependencies_(npm@10.5.0).snap
  crates/turborepo/tests/snapshots/query__query_turbo_trace_get_`invalid.ts`_with_dependencies_(npm@10.5.0).snap
  crates/turborepo/tests/snapshots/query__query_turbo_trace_get_`main.ts`_(npm@10.5.0).snap
  crates/turborepo/tests/snapshots/query__query_turbo_trace_get_`main.ts`_with_ast_(npm@10.5.0).snap
  crates/turborepo/tests/snapshots/query__query_turbo_trace_get_`main.ts`_with_dependencies_(npm@10.5.0).snap
  crates/turborepo/tests/snapshots/query__query_turbo_trace_get_`main.ts`_with_depth_=_0_(npm@10.5.0).snap
  crates/turborepo/tests/snapshots/query__turbo_trace_get_`button.tsx`_with_dependencies_(npm@10.5.0)_err.snap
  crates/turborepo/tests/snapshots/query__turbo_trace_get_`circular.ts`_with_dependencies_(npm@10.5.0)_err.snap
  crates/turborepo/tests/snapshots/query__turbo_trace_get_`invalid.ts`_with_dependencies_(npm@10.5.0)_err.snap
  crates/turborepo/tests/snapshots/query__turbo_trace_get_`main.ts`_(npm@10.5.0)_err.snap
  crates/turborepo/tests/snapshots/query__turbo_trace_get_`main.ts`_with_ast_(npm@10.5.0)_err.snap
  crates/turborepo/tests/snapshots/query__turbo_trace_get_`main.ts`_with_dependencies_(npm@10.5.0)_err.snap
  crates/turborepo/tests/snapshots/query__turbo_trace_get_`main.ts`_with_depth_=_0_(npm@10.5.0)_err.snap
  crates/turborepo/tests/snapshots/query__turbo_trace_monorepo_get_`packages__utils__index`_with_dependents_(npm@10.5.0).snap
  examples/with-nestjs/apps/web/test/__snapshots__/page.spec.tsx.snap
  turborepo-tests/integration/tests/no-args.t
  turborepo-tests/integration/tests/turbo-help.t
Labels: area: examples, owned-by: turborepo, created-by: turborepo

#9379 docs: Updates for accuracy in Add to Existing Repository page.
  docs/repo-docs/getting-started/add-to-existing-repository.mdx
Labels: area: docs, owned-by: turborepo, created-by: turborepo

#9377 docs: Link to Root Tasks from Biome page so folks know what `//#` means.
  docs/repo-docs/guides/tools/biome.mdx
Labels: area: docs, owned-by: turborepo, created-by: turborepo

#9376 docs: Update Storybook page to mention absolute importing.
  docs/repo-docs/guides/tools/storybook.mdx
Labels: area: docs, owned-by: turborepo, created-by: turborepo

#9392 docs: Just re-ordering the sidebar.
  docs/repo-docs/crafting-your-repository/meta.json
Labels: area: site, owned-by: turborepo, created-by: turborepo

#9390 docs: Move docker command up for clarity.
  docs/repo-docs/guides/tools/docker.mdx
Labels: area: docs, owned-by: turborepo, created-by: turborepo

#9395 feat(mfe): add env var indicating mfe proxy
  crates/turborepo-lib/src/micro_frontends.rs
  crates/turborepo-lib/src/task_graph/visitor/command.rs
  crates/turborepo-lib/src/task_graph/visitor/exec.rs
Labels: owned-by: turborepo, created-by: turborepo

#9396 chore(daemon): lazy load package changes watcher
  crates/turborepo-lib/src/daemon/server.rs
Labels: owned-by: turborepo, created-by: turborepo

#9391 docs: Add eslint-config-turbo bump to uprade guide.
  docs/repo-docs/crafting-your-repository/upgrading.mdx
Labels: area: docs, owned-by: turborepo, created-by: turborepo

#9187 Update single-package-workspaces.mdx
  docs/repo-docs/guides/single-package-workspaces.mdx
Labels: area: docs, needs: triage, owned-by: turborepo

#9341 Fix typo
  docs/repo-docs/crafting-your-repository/creating-an-internal-package.mdx
Labels: area: docs, needs: triage, owned-by: turborepo

#9368 feat: `turbo info` command for debugging
  crates/turborepo-lib/src/cli/mod.rs
  crates/turborepo-lib/src/commands/info.rs
  crates/turborepo-lib/src/commands/mod.rs
  turborepo-tests/integration/tests/no-args.t
  turborepo-tests/integration/tests/turbo-help.t
Labels: created-by: turborepo, owned-by: turborepo

#9398 chore(trace): fixes and improvements
  crates/turbo-trace/src/tracer.rs
  crates/turborepo-lib/src/query/file.rs
Labels: created-by: turborepo, owned-by: turborepo

#9405 fix(watch): shut down persistent tasks when we exit watch mode
  crates/turborepo-lib/src/run/watch.rs
Labels: created-by: turborepo, owned-by: turborepo

#9400 fix(turbopath): avoid incorrect lifetime in RelativeUnixPath::new
  crates/turborepo-paths/src/anchored_system_path.rs
  crates/turborepo-paths/src/relative_unix_path.rs
Labels: created-by: turborepo, owned-by: turborepo

#9411 fix(examples): add private to with-shell-cmds
  examples/with-shell-commands/package.json
Labels: area: examples, created-by: turborepo, owned-by: turborepo

#9408 fix(watch): ensure TUI is shutdown regardless of exit path
  crates/turborepo-lib/src/cli/mod.rs
  crates/turborepo-lib/src/process/child.rs
  crates/turborepo-lib/src/run/watch.rs
Labels: created-by: turborepo, owned-by: turborepo

#9414 chore(engine): error about missing package in package task
  crates/turborepo-lib/src/engine/builder.rs
  crates/turborepo-lib/src/engine/snapshots/turborepo_lib__engine__builder__test__run_package_task_invalid_package.snap
Labels: created-by: turborepo, owned-by: turborepo

#9409 feat: Wrap-around selection for TUI.
  crates/turborepo-ui/src/tui/app.rs
Labels: created-by: turborepo, owned-by: turborepo

#9416 feat: Detect WSL in `turbo info`.
  crates/turborepo-lib/src/commands/info.rs
Labels: created-by: turborepo, owned-by: turborepo

#8716 Bump semver & types to latest version
  packages/turbo-workspaces/package.json
  pnpm-lock.yaml
Labels: needs: triage, pkg: turbo-workspaces, owned-by: turborepo

#9418 docs: add missing comma
  docs/repo-docs/guides/single-package-workspaces.mdx
Labels: area: docs, needs: triage, owned-by: turborepo

#9417 docs: Clarify how to use values for self-hosted Remote Cache.
  docs/repo-docs/core-concepts/remote-caching.mdx
Labels: area: docs, created-by: turborepo, owned-by: turborepo

#9413 docs: `turbo info`
  docs/repo-docs/reference/info.mdx
  docs/repo-docs/reference/meta.json
Labels: area: docs, area: site, docs: next release, created-by: turborepo, owned-by: turborepo

#9407 chore(watch): warn if daemon is disabled
  crates/turborepo-lib/src/run/watch.rs
Labels: created-by: turborepo, owned-by: turborepo

#9404 feat(watch): package inference in watch mode
  crates/turborepo-lib/src/cli/mod.rs
Labels: created-by: turborepo, owned-by: turborepo

#9432 fix(mfe): avoid crashing if unsupported mfe version found
  Cargo.lock
  crates/turborepo-lib/src/micro_frontends.rs
  crates/turborepo-micro-frontend/Cargo.toml
  crates/turborepo-micro-frontend/src/error.rs
  crates/turborepo-micro-frontend/src/lib.rs
Labels: created-by: turborepo, owned-by: turborepo

#9427 Document `--cache` flag.
  docs/repo-docs/reference/run.mdx
Labels: area: docs, created-by: turborepo, owned-by: turborepo

#9412 docs: Add doc for running by task ID.
  docs/repo-docs/crafting-your-repository/running-tasks.mdx
  docs/repo-docs/reference/run.mdx
Labels: area: docs, created-by: turborepo, owned-by: turborepo

#9429 fix(windows): fix env var glob casing
  crates/turborepo-env/src/lib.rs
  crates/turborepo-lib/src/task_hash.rs
Labels: created-by: turborepo, owned-by: turborepo

#9438 chore: Update bug issue template.
  .github/ISSUE_TEMPLATE/0-turborepo-bug-report.yml
Labels: created-by: turborepo, owned-by: turborepo

#9439 chore: Further updates for issue templates.
  .github/ISSUE_TEMPLATE/0-turborepo-bug-report.yml
  .github/ISSUE_TEMPLATE/1-docs.yml
Labels: created-by: turborepo, owned-by: turborepo

#9406 Fix(filewatcher): handle removed directories #8800
  crates/turborepo-filewatch/src/lib.rs
  crates/turborepo-lib/src/daemon/server.rs
Labels: needs: triage, owned-by: turborepo

#9325 publishing-libraries docs: Changesets configuration [#9324]
  docs/repo-docs/guides/publishing-libraries.mdx
Labels: area: docs, needs: triage, owned-by: turborepo

#9442 chore: Remove obsolete GitHub labels.
  .github/turbo-orchestrator.yml
  .github/turborepo-release.yml
Labels: created-by: turborepo, owned-by: turborepo

#9440 examples: Update `basic` example to Next.js 15.
  examples/basic/apps/docs/app/globals.css
  examples/basic/apps/docs/app/page.tsx
  examples/basic/apps/docs/next-env.d.ts
  examples/basic/apps/docs/package.json
  examples/basic/apps/docs/public/turborepo-dark.svg
  examples/basic/apps/docs/public/turborepo-light.svg
  examples/basic/apps/web/app/globals.css
  examples/basic/apps/web/app/page.tsx
  examples/basic/apps/web/next-env.d.ts
  examples/basic/apps/web/package.json
  examples/basic/apps/web/public/turborepo-dark.svg
  examples/basic/apps/web/public/turborepo-light.svg
  examples/basic/package.json
  examples/basic/packages/eslint-config/react-internal.js
  examples/basic/packages/ui/package.json
  examples/basic/packages/ui/src/card.tsx
  examples/basic/packages/ui/src/code.tsx
  examples/basic/pnpm-lock.yaml
  examples/basic/turbo.json
Labels: area: examples

#9447 ci: update `upload-artifact` and `download-artifact` actions to v4
  .github/workflows/bench-turborepo.yml
  .github/workflows/lsp.yml
  .github/workflows/turborepo-compare-cache-item.yml
  .github/workflows/turborepo-library-release.yml
  .github/workflows/turborepo-release.yml
Labels: area: ci, needs: triage

#9178 chore: use node20 in cargo-sweep action
  .github/actions/cargo-sweep/action.yml
Labels: area: ci, needs: triage

#9449 docs: Clarify output globs relativeness.
  docs/repo-docs/crafting-your-repository/configuring-tasks.mdx
Labels: area: docs

#9450 docs: Add `TURBO_CACHE` to System Environment Variables.
  docs/repo-docs/reference/system-environment-variables.mdx
Labels: area: docs

#9461 chore: Renaming conventional commits file.
  .github/workflows/lint-pr-title.yml
Labels: area: ci

#9464 chore(release): fix release by avoiding old glibc version
  .github/workflows/turborepo-release.yml
Labels: area: ci

#9466 feat(link): add `--yes` and `--scope` flags to `link`
  crates/turborepo-lib/src/cli/error.rs
  crates/turborepo-lib/src/cli/mod.rs
  crates/turborepo-lib/src/commands/link.rs
  crates/turborepo-lib/src/diagnostics.rs
  docs/repo-docs/reference/link.mdx
  turborepo-tests/integration/tests/command-link.t
  turborepo-tests/integration/tests/turbo-help.t
Labels: area: docs

#9456 docs(turbopack): Add incremental-computation page, intended to replace core-concepts page
  docs/pack-docs/features/dev-server.mdx
  docs/pack-docs/incremental-computation.mdx
  docs/pack-docs/meta.json
  docs/pack-docs/why-turbopack.mdx
Labels: area: docs, area: site, needs: triage

#9451 docs: Small stylistic change for footnote.
  docs/repo-docs/getting-started/support-policy.mdx
Labels: area: docs

#9476 docs(turbopack): fix typo in incremental-computation page
  docs/pack-docs/incremental-computation.mdx
Labels: area: docs, needs: triage

#9452 chore(examples): fix `$TURBO_DEFAULT$` inputs
  examples/with-changesets/turbo.json
  examples/with-prisma/turbo.json
  examples/with-rollup/turbo.json
  examples/with-svelte/turbo.json
Labels: area: examples, needs: triage

#9483 chore(ci): upgrade GitHub Actions to Node 20
  .github/actions/setup-node/action.yml
  .github/actions/setup-rust/action.yml
  .github/workflows/bench-turborepo.yml
  .github/workflows/lsp.yml
  .github/workflows/test-js-packages.yml
  .github/workflows/turborepo-compare-cache-item.yml
  .github/workflows/turborepo-native-lib-test.yml
  .github/workflows/turborepo-release.yml
  .github/workflows/turborepo-test.yml
Labels: area: ci

#9351 perf: Exclude network while doing getReport
  packages/turbo-repository/js/index.js
Labels: needs: triage, pkg: turbo-repository

#9492 chore(ci): Use lowercase for convential commits check
  .github/workflows/lint-pr-title.yml
Labels: area: ci

#9489 docs: Improve clarity on `--cache`.
  docs/repo-docs/reference/run.mdx
Labels: area: docs

#9493 feat(mfe): allow @vercel/microfrontends to be considered a MFE package dependency
  crates/turborepo-micro-frontend/src/lib.rs
Labels: needs: triage

#9491 feat: Remote cache upload timeout
  crates/turborepo-lib/src/config/env.rs
  crates/turborepo-lib/src/config/turbo_json.rs
  crates/turborepo-lib/src/turbo_json/mod.rs
  docs/repo-docs/reference/configuration.mdx
  docs/repo-docs/reference/system-environment-variables.mdx
  packages/turbo-types/schemas/schema.json
  packages/turbo-types/schemas/schema.v2.json
  packages/turbo-types/src/types/config-v2.ts
Labels: area: docs

#9502 feat: update `eslint-config-turbo` to support ESLint Flat Config.
  packages/eslint-config-turbo/flat/index.js
  packages/eslint-config-turbo/package.json
Labels: pkg: turbo-eslint

#9488 docs: mark `--no-cache` and `--remote-only` as deprecated.
  docs/repo-docs/reference/run.mdx
Labels: area: docs

#9243 feat(tui): add Vim motions support for task list selection
  crates/turborepo-ui/src/tui/input.rs
Labels: needs: triage

#8718 chore: remove unused dependency in packages/turbo-workspaces
  packages/turbo-workspaces/package.json
  pnpm-lock.yaml
Labels: needs: triage, pkg: turbo-workspaces

#9507 docs: describe using a custom URL with `create-turbo`.
  docs/repo-docs/getting-started/installation.mdx
  docs/repo-docs/reference/create-turbo.mdx
Labels: area: docs

#9509 docs: fix formatting on `/repo/docs/getting-started/installation`
  docs/repo-docs/getting-started/installation.mdx
Labels: area: docs, needs: triage

#9510 chore: fix error message when PR title does not conform to pattern
  .github/workflows/lint-pr-title.yml
Labels: area: ci, needs: triage

#9506 chore: add a comment to GitHub release flow types.
  .github/workflows/turborepo-release.yml
Labels: area: ci

#9501 chore: update `basic` example to ESLint v9 and Flat Configurations.
  examples/basic/apps/docs/.eslintrc.js
  examples/basic/apps/docs/eslint.config.js
  examples/basic/apps/docs/next.config.js
  examples/basic/apps/docs/package.json
  examples/basic/apps/docs/tsconfig.json
  examples/basic/apps/web/.eslintrc.js
  examples/basic/apps/web/eslint.config.js
  examples/basic/apps/web/next.config.js
  examples/basic/apps/web/package.json
  examples/basic/apps/web/tsconfig.json
  examples/basic/meta.json
  examples/basic/packages/eslint-config/base.js
  examples/basic/packages/eslint-config/library.js
  examples/basic/packages/eslint-config/next.js
  examples/basic/packages/eslint-config/package.json
  examples/basic/packages/eslint-config/react-internal.js
  examples/basic/packages/ui/.eslintrc.js
  examples/basic/packages/ui/eslint.config.js
  examples/basic/packages/ui/package.json
  examples/basic/packages/ui/tsconfig.lint.json
  examples/basic/pnpm-lock.yaml
Labels: area: examples

#9513 fix(examples): remove `--filter` from `with-docker` example.
  docs/repo-docs/guides/tools/docker.mdx
  examples/with-docker/apps/api/Dockerfile
  examples/with-docker/apps/web/Dockerfile
Labels: area: docs, area: examples

#9514 docs: fix formatting on `/repo/docs/getting-started/installation`
  docs/repo-docs/getting-started/installation.mdx
Labels: area: docs, needs: triage

#9516 chore(examples): remove spare dependencies from basic example
  examples/basic/apps/docs/package.json
  examples/basic/apps/web/package.json
  examples/basic/package.json
  examples/basic/packages/eslint-config/next.js
  examples/basic/packages/ui/package.json
  examples/basic/pnpm-lock.yaml
Labels: area: examples

#9515 docs: update ESLint documentation with ESLint v9
  docs/repo-docs/guides/tools/eslint.mdx
  packages/eslint-config-turbo/README.md
  packages/eslint-plugin-turbo/README.md
Labels: area: docs, pkg: turbo-eslint

#8773 chore: add peer dependencies to eslint packages
  packages/eslint-config-turbo/package.json
  packages/eslint-plugin-turbo/package.json
  pnpm-lock.yaml
Labels: pkg: turbo-eslint, needs: triage
