Repository vercel/turborepo, pull requests merged in 2024-12, with the labels that each got.

#9532 chore(docs): enable hashlinking for System Environment Variables entries
  docs/repo-docs/reference/system-environment-variables.mdx
Labels: area: docs

#9557 chore(pm): reduce PackageManager surface area
  crates/turborepo-filewatch/src/package_watcher.rs
  crates/turborepo-lib/src/commands/config.rs
  crates/turborepo-lib/src/commands/info.rs
  crates/turborepo-lib/src/commands/ls.rs
  crates/turborepo-lib/src/run/builder.rs
  crates/turborepo-lib/src/task_graph/visitor/exec.rs
  crates/turborepo-repository/src/discovery.rs
  crates/turborepo-repository/src/inference.rs
  crates/turborepo-repository/src/lib.rs
  crates/turborepo-repository/src/package_graph/builder.rs
  crates/turborepo-repository/src/package_graph/dep_splitter.rs
  crates/turborepo-repository/src/package_manager/mod.rs
  crates/turborepo-repository/src/workspaces.rs
  packages/turbo-repository/rust/src/internal.rs
Labels: pkg: turbo-repository

#9561 chore(ci): remove determine step
  .github/workflows/lint.yml
  .github/workflows/test-js-packages.yml
  .github/workflows/turborepo-test.yml
Labels: area: ci

#9533 docs: options one-pager
  docs/package.json
  docs/repo-docs/reference/configuration.mdx
  docs/repo-docs/reference/meta.json
  docs/repo-docs/reference/options-one-pager.mdx
  docs/repo-docs/reference/system-environment-variables.mdx
  docs/src/markdown.ts
  pnpm-lock.yaml
Labels: area: docs, area: site

#9575 chore(examples): stable React 19 version
  examples/basic/apps/docs/package.json
  examples/basic/apps/web/package.json
  examples/basic/packages/ui/package.json
  examples/basic/pnpm-lock.yaml
Labels: area: examples

#9576 docs(typo): fix typo on turbo-ignore page
  docs/repo-docs/reference/turbo-ignore.mdx
Labels: area: docs

#9566 docs: clarify default daemon usage
  docs/repo-docs/reference/run.mdx
Labels: area: docs

#9586 docs: provide reasoning on why Turborepo doesn't support nested workspaces
  docs/repo-docs/crafting-your-repository/structuring-a-repository.mdx
Labels: area: docs

#9592 chore: remove old Turbopack files
  .config/ast-grep/rule-tests/__snapshots__/no-context-snapshot.yml
  .config/ast-grep/rule-tests/no-context-test.yml
  .config/ast-grep/rule-utils/.gitkeep
  .config/ast-grep/rules/no-context.yml
  .eslintignore
  .github/workflows/turborepo-test.yml
  NOTICES.md
  sgconfig.yml
  troubleshooting.md
  tsconfig.project.json
Labels: area: ci

#9597 chore(ci): enable sccache for integration tests
  .github/workflows/turborepo-test.yml
  cli/turbo.json
  crates/turbo-trace/src/tracer.rs
Labels: area: ci

#9601 docs: remove old options page
  docs/repo-docs/reference/options-one-pager.mdx
Labels: area: docs

#9603 Update config.json
  examples/with-changesets/.changeset/config.json
Labels: area: examples, needs: triage

#9602 chore(examples): update `basic` example to Next.js 15.1
  examples/basic/apps/docs/package.json
  examples/basic/apps/web/package.json
  examples/basic/packages/eslint-config/package.json
  examples/basic/pnpm-lock.yaml
Labels: area: examples

#9598 fix(watch): watch command require tasks argument
  crates/turborepo-lib/src/cli/mod.rs
Labels: needs: triage

#9612 fix(watch): fix output text when no tasks are provided
  crates/turborepo-lib/src/cli/error.rs
  docs/repo-docs/crafting-your-repository/understanding-your-repository.mdx
  docs/repo-docs/reference/watch.mdx
  turborepo-tests/integration/tests/no-args.t
Labels: area: docs, needs: triage

#9624 fix(package-manager): allow custom URL for `packageManager` version
  CONTRIBUTING.md
  crates/turborepo-repository/src/discovery.rs
  crates/turborepo-repository/src/package_manager/mod.rs
  turborepo-tests/integration/tests/invalid-package-json.t
Labels: needs: triage

#9629 chore: change Discord links to Vercel Community
  README.md
  docs/repo-docs/community.mdx
  docs/repo-docs/index.mdx
  packages/turbo/README.md
Labels: area: docs

#9631 docs: add community implementations of Remote Cache
  docs/repo-docs/core-concepts/remote-caching.mdx
Labels: area: docs

#9626 fix(repository): honour handleTransparentWorkspaces setting in Yarn/Berry
  crates/turborepo-repository/src/package_graph/builder.rs
  crates/turborepo-repository/src/package_graph/dep_splitter.rs
  crates/turborepo-repository/src/package_graph/mod.rs
  crates/turborepo-repository/src/package_manager/mod.rs
  crates/turborepo-repository/src/package_manager/npmrc.rs
  crates/turborepo-repository/src/package_manager/yarnrc.rs
Labels: needs: triage

#9640 fix(examples): add missing ESLint dependency
  examples/basic/packages/eslint-config/package.json
  examples/basic/pnpm-lock.yaml
Labels: area: examples

#9641 feat(examples): utm source
  examples/basic/README.md
  examples/with-berry/README.md
  examples/with-docker/README.md
  examples/with-gatsby/README.md
  examples/with-nestjs/README.md
  examples/with-npm/README.md
  examples/with-rollup/README.md
  examples/with-vue-nuxt/README.md
  examples/with-yarn/README.md
Labels: area: examples

#9643 docs: mention capnp in the dependencies
  CONTRIBUTING.md
Labels: needs: triage

#9644 fix: packages listed twice in watch mode
  crates/turborepo-lib/src/run/watch.rs
Labels: needs: triage

#9648 docs: add missing `api` folder in `turbo prune api --docker` example
  docs/repo-docs/guides/tools/docker.mdx
Labels: area: docs, needs: triage
