Repository vercel/turborepo, pull requests merged in 2025-05, with the labels that each got.

#10414 docs: use `--experimental-strip-types` for scripts
  docs/link-checker/package.json
  docs/link-checker/src/validate-docs-links.ts
  docs/link-checker/tsconfig.json
  docs/site/package.json
  docs/site/scripts/collect-examples-data.ts
  docs/site/scripts/copy-json-schema.ts
  docs/site/scripts/generate-docs.ts
  docs/site/scripts/generate-rss.ts
  docs/site/scripts/sync-algolia.ts
  docs/site/scripts/write-private-files.mjs
  docs/site/scripts/write-private-files.ts
  docs/site/tsconfig.json
  pnpm-lock.yaml
Labels: area: site

#10416 fix: update link
  crates/turborepo-ui/src/lib.rs
Labels: needs: triage

#10423 docs: new home page
  docs/site/app/(no-sidebar)/graphics/dotted-lines.tsx
  docs/site/app/(no-sidebar)/graphics/effortless.tsx
  docs/site/app/(no-sidebar)/graphics/providers.tsx
  docs/site/app/(no-sidebar)/graphics/remote-caching.tsx
  docs/site/app/(no-sidebar)/graphics/sizing-string.ts
  docs/site/app/(no-sidebar)/page.tsx
  docs/site/app/(sidebar)/docs/[[...slug]]/page.tsx
  docs/site/app/_components/footer.tsx
  docs/site/app/global.css
  docs/site/app/layout.tsx
  docs/site/components/grid/grid-cell.tsx
  docs/site/components/grid/grid.tsx
  docs/site/components/icons/ForwardSlash.tsx
  docs/site/components/icons/arrow-right.tsx
  docs/site/components/nav/footer.tsx
  docs/site/components/nav/index.tsx
  docs/site/components/remote-cache-counter/client.tsx
  docs/site/components/remote-cache-counter/index.tsx
  docs/site/components/snippet.tsx
  docs/site/components/testimonials.tsx
  docs/site/lib/utils.ts
  docs/site/next.config.ts
  docs/site/package.json
  docs/site/tailwind.config.cjs
  examples/non-monorepo/README.md
  pnpm-lock.yaml
Labels: area: examples, area: site, needs: triage

#10424 docs(fix): layout shift on home page
  docs/site/app/(no-sidebar)/graphics/effortless.tsx
  docs/site/app/(no-sidebar)/graphics/providers.tsx
  docs/site/app/(no-sidebar)/graphics/remote-caching.tsx
  docs/site/app/(no-sidebar)/graphics/sizing-string.ts
Labels: area: site

#10425 docs: make copy to markdown button more subtle
  docs/site/components/copy-to-markdown.tsx
Labels: area: site

#10433 docs: refresh default OG image logo
  docs/site/public/og-image.png
Labels: area: site, needs: triage

#10435 docs: add `noUpdateNotifier` to options overview page
  docs/site/content/docs/reference/options-overview.mdx
Labels: area: docs

#10420 feat(tui): momentum-based scrolling
  crates/turborepo-ui/src/tui/app.rs
  crates/turborepo-ui/src/tui/event.rs
  crates/turborepo-ui/src/tui/input.rs
  crates/turborepo-ui/src/tui/mod.rs
  crates/turborepo-ui/src/tui/scroll.rs
Labels: needs: triage

#10432 feat(examples): upgrade with-tailwind to TailwindCSS v4
  docs/site/content/docs/guides/tools/tailwind.mdx
  docs/site/dictionary.txt
  examples/with-tailwind/apps/docs/README.md
  examples/with-tailwind/apps/docs/app/globals.css
  examples/with-tailwind/apps/docs/app/layout.tsx
  examples/with-tailwind/apps/docs/app/page.tsx
  examples/with-tailwind/apps/docs/package.json
  examples/with-tailwind/apps/docs/postcss.config.js
  examples/with-tailwind/apps/docs/tailwind.config.ts
  examples/with-tailwind/apps/web/app/globals.css
  examples/with-tailwind/apps/web/app/layout.tsx
  examples/with-tailwind/apps/web/app/page.tsx
  examples/with-tailwind/apps/web/package.json
  examples/with-tailwind/apps/web/postcss.config.js
  examples/with-tailwind/apps/web/tailwind.config.ts
  examples/with-tailwind/packages/tailwind-config/package.json
  examples/with-tailwind/packages/tailwind-config/postcss.config.js
  examples/with-tailwind/packages/tailwind-config/tailwind.config.ts
  examples/with-tailwind/packages/ui/package.json
  examples/with-tailwind/packages/ui/postcss.config.js
  examples/with-tailwind/packages/ui/src/card.tsx
  examples/with-tailwind/packages/ui/src/gradient.tsx
  examples/with-tailwind/packages/ui/src/styles.css
  examples/with-tailwind/packages/ui/src/turborepo-logo.tsx
  examples/with-tailwind/packages/ui/tailwind.config.ts
  examples/with-tailwind/packages/ui/tsconfig.json
  examples/with-tailwind/packages/ui/turbo.json
  examples/with-tailwind/pnpm-lock.yaml
Labels: area: docs, area: examples, area: site

#10426 docs(chore): cleaning up a few todos
  docs/site/app/(sidebar)/redirects-handler.tsx
  docs/site/scripts/collect-examples-data.ts
Labels: area: site

#10445 docs(examples): drop JS config from Tailwind example
  docs/site/content/docs/guides/tools/tailwind.mdx
  examples/with-tailwind/apps/docs/app/globals.css
  examples/with-tailwind/apps/docs/tailwind.config.ts
  examples/with-tailwind/apps/web/README.md
  examples/with-tailwind/apps/web/app/globals.css
  examples/with-tailwind/apps/web/package.json
  examples/with-tailwind/apps/web/tailwind.config.ts
  examples/with-tailwind/packages/tailwind-config/package.json
  examples/with-tailwind/packages/tailwind-config/postcss.config.js
  examples/with-tailwind/packages/tailwind-config/shared-styles.css
  examples/with-tailwind/packages/tailwind-config/tailwind.config.ts
  examples/with-tailwind/packages/tailwind-config/tsconfig.json
  examples/with-tailwind/packages/ui/src/gradient.tsx
  examples/with-tailwind/packages/ui/tailwind.config.ts
  examples/with-tailwind/pnpm-lock.yaml
Labels: area: docs, area: examples

#10428 docs(chore): reenable Turbopack
  docs/site/package.json
  pnpm-lock.yaml
Labels: area: site, needs: triage

#10450 fix(examples): with-svelte example TypeScript
  examples/with-svelte/packages/ui/package.json
  examples/with-svelte/packages/ui/svelte.config.js
  examples/with-svelte/packages/ui/tsconfig.json
  examples/with-svelte/pnpm-lock.yaml
Labels: area: examples

#10458 fix(turbo-ignore): no longer attempt to use catalog protocol
  packages/turbo-ignore/__fixtures__/turbo_catalog/package.json
  packages/turbo-ignore/__fixtures__/turbo_catalog/turbo.json
  packages/turbo-ignore/__fixtures__/turbo_catalog/turbo_in_deps/package.json
  packages/turbo-ignore/__fixtures__/turbo_catalog/turbo_in_deps/turbo.json
  packages/turbo-ignore/__tests__/getTurboVersion.test.ts
  packages/turbo-ignore/src/getTurboVersion.ts
Labels: pkg: turbo-ignore

#10460 docs: [correction] nx remote caching is free like Turborepo
  docs/site/content/docs/guides/migrating-from-nx.mdx
Labels: area: docs, needs: triage

#10463 docs: added pnpm catalogs
  docs/site/content/docs/crafting-your-repository/managing-dependencies.mdx
Labels: area: docs, needs: triage

#10455 docs: add workspace configuration example to package.json
  docs/site/content/docs/crafting-your-repository/structuring-a-repository.mdx
  docs/site/content/docs/getting-started/add-to-existing-repository.mdx
Labels: area: docs, needs: triage

#10465 docs: redirects from SEO audit
  docs/site/next.config.ts
Labels: area: site

#10462 fix: correct link to docs in platform-environment-variables warning
  crates/turborepo-env/src/platform.rs
Labels: needs: triage

#10466 feat(example): update with-react-native-web, Expo SDK 52
  examples/with-react-native-web/apps/native/app.json
  examples/with-react-native-web/apps/native/package.json
  examples/with-react-native-web/packages/ui/package.json
  examples/with-react-native-web/yarn.lock
Labels: area: examples, needs: triage

#10474 docs: Update managing-dependencies.mdx
  docs/site/content/docs/crafting-your-repository/managing-dependencies.mdx
Labels: area: docs, needs: triage

#10476 docs: a few more redirects
  docs/site/next.config.ts
Labels: area: site

#10477 chore: fix typo 'buttom'
  crates/turborepo-ui/src/tui/pane.rs
Labels: needs: triage

#10468 feat: hot-reloading for `no-undeclared-env-vars` ESLint rule
  packages/eslint-plugin-turbo/__tests__/lib/no-undeclared-env-vars/workspace-configs/reload.test.ts
  packages/eslint-plugin-turbo/lib/rules/no-undeclared-env-vars.ts
  packages/eslint-plugin-turbo/lib/utils/calculate-inputs.ts
Labels: pkg: turbo-eslint

#10493 feat: add `Workspace.find_package_by_path`
  packages/turbo-repository/__tests__/find-packages.test.ts
  packages/turbo-repository/js/index.d.ts
  packages/turbo-repository/rust/src/lib.rs
Labels: needs: triage, pkg: turbo-repository

#10481 docs: clarify what a task is
  docs/site/content/docs/crafting-your-repository/configuring-tasks.mdx
Labels: area: docs

#10494 chore(@turbo/repository): bump version
  packages/turbo-repository/js/package.json
  packages/turbo-repository/npm/darwin-arm64/package.json
  packages/turbo-repository/npm/darwin-x64/package.json
  packages/turbo-repository/npm/linux-arm64-gnu/package.json
  packages/turbo-repository/npm/linux-arm64-musl/package.json
  packages/turbo-repository/npm/linux-x64-gnu/package.json
  packages/turbo-repository/npm/linux-x64-musl/package.json
  packages/turbo-repository/npm/win32-arm64-msvc/package.json
  packages/turbo-repository/npm/win32-x64-msvc/package.json
Labels: pkg: turbo-repository

#10496 docs: add community implementation of cache server
  docs/site/content/docs/core-concepts/remote-caching.mdx
Labels: area: docs, needs: triage

#10511 docs: a few missing rewrites
  docs/site/app/_components/not-found-template.tsx
  docs/site/next.config.ts
Labels: area: site

#10515 docs: account for Custom Environments
  docs/site/scripts/sync-algolia.ts
Labels: area: site

#10482 chore: update to Rust 1.87.0
  crates/turborepo-filewatch/src/lib.rs
  crates/turborepo-globwatch/src/lib.rs
  crates/turborepo-lib/src/lib.rs
  crates/turborepo-lib/src/package_changes_watcher.rs
  crates/turborepo-process/src/child.rs
  crates/turborepo-repository/src/lib.rs
  crates/turborepo-scm/src/lib.rs
  crates/turborepo-ui/src/color_selector.rs
  crates/turborepo-ui/src/sender.rs
  crates/turborepo-vt100/src/grid.rs
  packages/turbo-repository/rust/src/lib.rs
  packages/turbo-repository/scripts/build.sh
  rust-toolchain.toml
Labels: needs: triage, pkg: turbo-repository

#10519 Update docker.mdx
  docs/site/content/docs/guides/tools/docker.mdx
Labels: area: docs, needs: triage

#10517 fix: with-svelte example builds
  examples/with-svelte/package.json
  examples/with-svelte/pnpm-lock.yaml
Labels: area: examples
