Repository vercel/turborepo, pull requests merged in 2025-03, with the labels that each got.

#10061 docs: add explicit mention for capturing multiple .env files
  docs/repo-docs/crafting-your-repository/using-environment-variables.mdx
Labels: area: docs

#10077 fix(ci): upgrade cargo deny to fix crash
  .github/workflows/lint.yml
  .github/workflows/turborepo-test.yml
  deny.toml
Labels: area: ci

#10081 fix: install nightly toolchain
  packages/turbo-repository/scripts/build.sh
  rust-toolchain.toml
Labels: pkg: turbo-repository

#10080 fix(release): manually install target toolchain
  packages/turbo-repository/scripts/build.sh
  rust-toolchain.toml
Labels: pkg: turbo-repository

#10082 chore(release): add back gnu builds
  .github/workflows/turborepo-library-release.yml
  .github/workflows/turborepo-native-lib-test.yml
  packages/turbo-repository/js/index.js
  packages/turbo-repository/js/package.json
  packages/turbo-repository/npm/linux-arm64-gnu/package.json
  packages/turbo-repository/npm/linux-x64-gnu/package.json
  packages/turbo-repository/package.json
  packages/turbo-repository/turbo.json
Labels: area: ci, pkg: turbo-repository

#10085 docs: fix json title for Watch Mode docs
  docs/repo-docs/crafting-your-repository/developing-applications.mdx
Labels: area: docs, needs: triage

#10024 chore: update to Rust 1.85.0
  crates/turborepo-api-client/src/lib.rs
  crates/turborepo-auth/src/auth/sso.rs
  crates/turborepo-auth/src/lib.rs
  crates/turborepo-globwatch/src/lib.rs
  crates/turborepo-lib/src/query/mod.rs
  crates/turborepo-lib/src/run/task_id.rs
  crates/turborepo-lib/src/task_graph/visitor/command.rs
  crates/turborepo-lib/src/turbo_json/mod.rs
  crates/turborepo-lockfiles/src/berry/mod.rs
  crates/turborepo-repository/src/package_graph/dep_splitter.rs
  packages/turbo-repository/scripts/build.sh
  rust-toolchain.toml
Labels: needs: triage, pkg: turbo-repository

#10089 docs: fix JSDoc annotation for ESLint flat configs of basic example
  examples/basic/packages/eslint-config/base.js
  examples/basic/packages/eslint-config/next.js
  examples/basic/packages/eslint-config/react-internal.js
Labels: area: examples, needs: triage

#10096 chore: remove experimental warning from ls command
  crates/turborepo-lib/src/cli/mod.rs
  docs/repo-docs/crafting-your-repository/understanding-your-repository.mdx
  turborepo-tests/integration/tests/affected.t
  turborepo-tests/integration/tests/command-ls.t
Labels: area: docs

#10092 docs: add hybrid approach to vitest guide
  docs/repo-docs/guides/tools/vitest.mdx
Labels: area: docs, needs: triage

#10097 fix(cli): no longer attempt to parse task name as continue value
  crates/turborepo-lib/src/cli/mod.rs
  crates/turborepo-lib/src/cli/snapshots/turborepo_lib__cli__test__turbo-watch-build---no-daemon.snap
  docs/repo-docs/guides/migrating-from-nx.mdx
  docs/repo-docs/reference/run.mdx
  turborepo-tests/integration/tests/no-args.t
  turborepo-tests/integration/tests/turbo-help.t
Labels: area: docs

#10102 docs: clarify TURBO_TEAM slug usage
  docs/repo-docs/crafting-your-repository/constructing-ci.mdx
  docs/repo-docs/guides/ci-vendors/index.mdx
  docs/repo-docs/reference/system-environment-variables.mdx
Labels: area: docs

#10100 fix: adds callout for installation instructions for PNPM
  docs/repo-docs/getting-started/add-to-existing-repository.mdx
Labels: area: docs, needs: triage

#10091 docs: add release phases to support policy
  docs/repo-docs/getting-started/support-policy.mdx
Labels: area: docs

#10105 fix: `eslint-config-turbo` module export
  packages/eslint-config-turbo/index.ts
  packages/eslint-config-turbo/package.json
  packages/eslint-config-turbo/src/index.ts
  pnpm-lock.yaml
Labels: pkg: turbo-eslint

#10108 docs: remove `ls` from Experimental phase in Support Policy
  docs/repo-docs/getting-started/support-policy.mdx
Labels: area: docs

#10114 chore: update to Rust 2024 edition
  .rustfmt.toml
  crates/tower-uds/Cargo.toml
  crates/turbo-trace/Cargo.toml
  crates/turborepo-analytics/Cargo.toml
  crates/turborepo-api-client/Cargo.toml
  crates/turborepo-auth/Cargo.toml
  crates/turborepo-cache/Cargo.toml
  crates/turborepo-cache/src/signature_authentication.rs
  crates/turborepo-cache/src/upload_progress.rs
  crates/turborepo-ci/Cargo.toml
  crates/turborepo-ci/src/lib.rs
  crates/turborepo-dirs/Cargo.toml
  crates/turborepo-env/Cargo.toml
  crates/turborepo-errors/Cargo.toml
  crates/turborepo-fixed-map/Cargo.toml
  crates/turborepo-fs/Cargo.toml
  crates/turborepo-globwalk/Cargo.toml
  crates/turborepo-globwatch/Cargo.toml
  crates/turborepo-graph-utils/Cargo.toml
  crates/turborepo-lockfiles/Cargo.toml
  crates/turborepo-lsp/Cargo.toml
  crates/turborepo-microfrontends/Cargo.toml
  crates/turborepo-paths/Cargo.toml
  crates/turborepo-pidlock/Cargo.toml
  crates/turborepo-pidlock/src/lib.rs
  crates/turborepo-repository/Cargo.toml
  crates/turborepo-repository/src/package_manager/mod.rs
  crates/turborepo-repository/src/workspaces.rs
  crates/turborepo-scm/Cargo.toml
  crates/turborepo-signals/Cargo.toml
  crates/turborepo-telemetry/Cargo.toml
  crates/turborepo-ui/Cargo.toml
  crates/turborepo-unescape/Cargo.toml
  crates/turborepo-updater/Cargo.toml
  crates/turborepo-vercel-api-mock/Cargo.toml
  crates/turborepo-vercel-api/Cargo.toml
  crates/turborepo-vt100/Cargo.toml
  crates/turborepo-vt100/src/perform.rs
  crates/turborepo-vt100/tests/basic.rs
  crates/turborepo-vt100/tests/csi.rs
  crates/turborepo-vt100/tests/helpers/mod.rs
  crates/turborepo-vt100/tests/quickcheck.rs
  crates/turborepo-vt100/tests/scroll.rs
  crates/turborepo-vt100/tests/window_contents.rs
  crates/turborepo-wax/Cargo.toml
  crates/turborepo-wax/src/capture.rs
  crates/turborepo-wax/src/lib.rs
  crates/turborepo-wax/src/rule.rs
  crates/turborepo-wax/src/token/mod.rs
  crates/turborepo-wax/src/token/variance.rs
  crates/turborepo-wax/src/walk/filter.rs
  crates/turborepo-wax/src/walk/glob.rs
  crates/turborepo-wax/src/walk/mod.rs
  crates/turborepo/Cargo.toml
  packages/turbo-repository/rust/Cargo.toml
Labels: needs: triage, pkg: turbo-repository

#10115 chore: prefactor to make room for more docs packages
  .github/workflows/docs.yml
  docs/link-checker/README.MD
  docs/link-checker/package.json
  docs/link-checker/src/markdown.ts
  docs/link-checker/src/validate-docs-links.ts
  docs/link-checker/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: area: ci, area: site

#10128 fix: mark type of flat config export to satisfy Linter.Config[]
  packages/eslint-config-turbo/src/flat/index.ts
Labels: pkg: turbo-eslint, needs: triage

#10139 fix(eslint): array type lints
  packages/eslint-config-turbo/src/flat/index.ts
Labels: pkg: turbo-eslint

#10141 docs: fix code black background colors
  docs/site/app/global.css
Labels: area: site

#10142 fix(docs): prefix environment variable for search dialog
  docs/site/components/search-dialog.tsx
Labels: area: site

#10143 fix(docs): fix commas in package exports example
  docs/site/content/repo-docs/guides/tools/typescript.mdx
Labels: area: docs, needs: triage

#10124 docs: fix typos in documentation files
  buildcontainer/README.md
  crates/turborepo-wax/README.md
  docs/site/content/repo-docs/guides/generating-code.mdx
  docs/site/content/repo-docs/guides/migrating-from-nx.mdx
  docs/site/content/repo-docs/guides/tools/vitest.mdx
Labels: area: docs, needs: triage

#10145 docs: update storybook initiation instructions
  docs/site/content/repo-docs/guides/tools/storybook.mdx
Labels: area: docs, needs: triage

#10149 chore: fix some typos
  CONTRIBUTING.md
  clippy.toml
  crates/turborepo-fixed-map/src/lib.rs
Labels: needs: triage

#10157 chore: fix types for ESLint package builds
  packages/eslint-config-turbo/src/flat/index.ts
  packages/eslint-plugin-turbo/package.json
Labels: pkg: turbo-eslint

#10156 ci: build JS packages
  .github/workflows/test-js-packages.yml
Labels: area: ci

#10159 fix(docs): asset importing failure for OG images
  docs/site/app/api/og/route.tsx
Labels: area: site

#10164 chore: fix example readme typo
  examples/with-berry/README.md
Labels: area: examples, needs: triage

#10163 ci: make working on docs faster
  .github/workflows/turborepo-test.yml
Labels: area: ci

#10162 chore(docs): convert 'Turbo' into 'Turborepo'
  docs/site/app/(no-sidebar)/blog/not-found.tsx
  docs/site/app/(no-sidebar)/confirm/page.tsx
  docs/site/app/_components/footer.tsx
  docs/site/app/_components/logos.tsx
  docs/site/components/search-dialog.tsx
  docs/site/content/extra/governance.mdx
  docs/site/content/repo-docs/community.mdx
  docs/site/content/repo-docs/crafting-your-repository/understanding-your-repository.mdx
  docs/site/content/repo-docs/guides/ci-vendors/github-actions.mdx
  docs/site/content/repo-docs/messages/invalid-env-prefix.mdx
  docs/site/content/repo-docs/reference/run.mdx
  docs/site/content/repo-docs/reference/scan.mdx
  docs/site/lib/constants.ts
  docs/site/lib/create-metadata.ts
  docs/site/scripts/generate-rss.cjs
Labels: area: docs, area: site

#10165 docs: add `FORCE_COLOR` variable to docs
  docs/site/content/repo-docs/reference/options-overview.mdx
  docs/site/content/repo-docs/reference/system-environment-variables.mdx
Labels: area: docs

#10094 feat: workspace root microsyntax
  crates/turborepo-lib/src/config/mod.rs
  crates/turborepo-lib/src/engine/builder.rs
  crates/turborepo-lib/src/turbo_json/loader.rs
  crates/turborepo-lib/src/turbo_json/mod.rs
  crates/turborepo-unescape/src/lib.rs
  docs/site/content/repo-docs/reference/configuration.mdx
Labels: area: docs

#10170 chore(ci): install optional deps when testing JS packages
  .github/workflows/test-js-packages.yml
Labels: area: ci

#10172 docs: bump openapi framework version
  docs/site/app/api/remote-cache-minutes-saved/route.ts
  docs/site/content/repo-docs/core-concepts/remote-caching.mdx
  docs/site/lib/create-metadata.ts
  docs/site/package.json
  docs/site/scripts/sync-algolia.mjs
  pnpm-lock.yaml
Labels: area: docs, area: site

#10180 chore: add missing backquotes
  crates/turborepo-dirs/src/lib.rs
Labels: needs: triage

#10182 docs: fix typos
  docs/site/content/blog/turbo-2-0.mdx
  docs/site/content/repo-docs/crafting-your-repository/configuring-tasks.mdx
  docs/site/content/repo-docs/guides/single-package-workspaces.mdx
  docs/site/content/repo-docs/reference/turbo-codemod.mdx
Labels: area: docs, needs: triage

#10174 docs: update fallback OG image
  docs/site/public/og-image.png
Labels: area: site

#10192 docs: fix typos in documentation files
  CONTRIBUTING.md
  docs/site/content/repo-docs/messages/recursive-turbo-invocations.mdx
  docs/site/content/repo-docs/reference/configuration.mdx
  docs/site/content/repo-docs/reference/run.mdx
  docs/site/content/repo-docs/reference/turbo-codemod.mdx
  packages/turbo-codemod/src/transforms/README.md
Labels: area: docs, pkg: turbo-codemod, needs: triage

#10188 docs: add checkout optimization for `--affected`
  docs/site/content/repo-docs/reference/run.mdx
Labels: area: docs

#10191 feat(turbo json): make `with` public
  crates/turborepo-lib/src/config/mod.rs
  crates/turborepo-lib/src/engine/builder.rs
  crates/turborepo-lib/src/microfrontends.rs
  crates/turborepo-lib/src/run/summary/task.rs
  crates/turborepo-lib/src/task_graph/mod.rs
  crates/turborepo-lib/src/turbo_json/loader.rs
  crates/turborepo-lib/src/turbo_json/mod.rs
  crates/turborepo-lib/src/turbo_json/parser.rs
  docs/site/content/repo-docs/reference/configuration.mdx
  packages/turbo-types/schemas/schema.json
  packages/turbo-types/schemas/schema.v2.json
  packages/turbo-types/src/types/config-v2.ts
Labels: area: docs

#10190 fix(example): remove obsolete @types/react-native from with-react-native-web
  examples/with-react-native-web/apps/native/package.json
  examples/with-react-native-web/packages/ui/package.json
  examples/with-react-native-web/yarn.lock
Labels: area: examples, needs: triage

#10196 chore: fix some typos
  docs/site/app/global.css
  docs/site/content/blog/turbo-1-8-0.mdx
  docs/site/content/blog/turbo-2-4.mdx
  examples/with-angular/packages/eslint-config/angular.js
Labels: area: docs, area: examples, area: site, needs: triage

#10176 fix: update env variables supported by nitro
  packages/turbo-types/src/json/frameworks.json
Labels: needs: triage

#10199 docs: switch turbo run to turbo watch for --experimental-write-cache
  docs/site/content/blog/turbo-2-4.mdx
  docs/site/content/repo-docs/reference/watch.mdx
Labels: area: docs, needs: triage

#10213 docs: fix text colors in a few spots
  docs/site/app/(no-sidebar)/blog/[...slug]/page.tsx
  docs/site/app/(no-sidebar)/blog/not-found.tsx
  docs/site/app/(no-sidebar)/blog/page.tsx
  docs/site/app/(no-sidebar)/showcase/page.tsx
  docs/site/components/blog/date.tsx
  docs/site/turbo.json
Labels: area: site

#10217 docs: remove stale callout
  docs/site/content/repo-docs/reference/configuration.mdx
Labels: area: docs

#10216 docs: links for OpenAPI spec for both human-readable and JSON
  docs/site/content/repo-docs/core-concepts/remote-caching.mdx
Labels: area: docs

#10215 docs: add a snippet to `with`
  docs/site/content/repo-docs/reference/configuration.mdx
Labels: area: docs

#10214 docs: mention JSONC support
  docs/site/content/repo-docs/reference/configuration.mdx
Labels: area: docs

#10237 chore(docs): remove with until published
  docs/site/components/in-version.tsx
  docs/site/content/repo-docs/reference/configuration.mdx
Labels: area: docs, area: site

#10240 fix: unexpected top-level property `default` in `base.js` eslint config
  examples/with-nestjs/packages/eslint-config/base.js
Labels: area: examples, needs: triage

#10235 docs: fix the incorrect export keyword
  examples/with-solid/packages/ui/index.ts
Labels: area: examples, needs: triage

#10219 fix(bun): deserialize correctly and use optionalPeers
  crates/turborepo-lockfiles/src/bun/de.rs
  crates/turborepo-lockfiles/src/bun/mod.rs
  crates/turborepo-lockfiles/src/bun/ser.rs
Labels: needs: triage

#10249 docs: add missing shadcn/ui tile
  docs/site/content/repo-docs/guides/tools/index.mdx
Labels: area: docs

#10218 ci: use git commands instead of a package
  .github/workflows/turborepo-test.yml
Labels: area: ci

#10252 docs: move CTA below TOC
  docs/site/components/docs-layout/docs.client.tsx
Labels: area: site

#10260 chore: upgrade turborepo-process and turborepo-filewatch to Rust 2024 edition
  crates/turborepo-filewatch/Cargo.toml
  crates/turborepo-filewatch/src/fsevent.rs
  crates/turborepo-process/Cargo.toml
Labels: needs: triage
