Repository vercel/turborepo, pull requests merged in 2025-01, with the labels that each got.

#9663 chore: fix copyright license year
  LICENSE
Labels: needs: triage

#9664 docs: correct Bun support status
  docs/repo-docs/getting-started/support-policy.mdx
Labels: area: docs

#9665 docs: mention module resolution differences for package managers
  docs/repo-docs/crafting-your-repository/managing-dependencies.mdx
Labels: area: docs

#9650 docs(errors): improve error message for recursive calls
  crates/turborepo-lib/src/task_graph/visitor/mod.rs
  docs/repo-docs/messages/recursive-turbo-invocations.mdx
  turborepo-tests/integration/tests/recursive-turbo.t
  turborepo-tests/integration/tests/run/missing-tasks.t
Labels: area: docs

#9662 docs: guide for Playwright
  docs/repo-docs/guides/tools/playwright.mdx
Labels: area: docs

#9661 docs: mention --graph on graphs page
  docs/repo-docs/core-concepts/package-and-task-graph.mdx
Labels: area: docs

#9668 chore(examples): remove unused typescript-eslint dependencies from ba…
  examples/basic/packages/eslint-config/package.json
  examples/basic/pnpm-lock.yaml
Labels: area: examples, needs: triage

#9674 docs: fix typo in typescript.mdx of repo-docs
  docs/repo-docs/guides/tools/typescript.mdx
Labels: area: docs, needs: triage

#9222 docs: document creating packages with framework bindings
  docs/repo-docs/guides/frameworks/framework-bindings.mdx
  docs/repo-docs/guides/frameworks/meta.json
Labels: area: docs, area: site

#9673 docs: add note about packaging patterns
  docs/repo-docs/crafting-your-repository/creating-an-internal-package.mdx
  docs/repo-docs/crafting-your-repository/structuring-a-repository.mdx
Labels: area: docs

#9675 docs: guide for shadcn/ui
  docs/repo-docs/guides/tools/shadcn-ui.mdx
Labels: area: docs

#9678 docs: add link to shadcn/ui page
  docs/repo-docs/guides/tools/shadcn-ui.mdx
Labels: area: docs

#9683 feat(mfe): remove hyphen from microfrontends binary name
  crates/turborepo-lib/src/task_graph/visitor/command.rs
Labels: needs: triage

#9688 docs: mention free remote caching earlier on page
  docs/repo-docs/core-concepts/remote-caching.mdx
Labels: area: docs

#9690 docs: typo fix
  docs/repo-docs/crafting-your-repository/creating-an-internal-package.mdx
Labels: area: docs, needs: triage

#9696 docs(fix): correct line highlighting by removing extra comma
  docs/repo-docs/core-concepts/internal-packages.mdx
Labels: area: docs

#9687 fix(examples): basic generator
  examples/basic/packages/ui/eslint.config.mjs
  examples/basic/packages/ui/package.json
Labels: area: examples

#9679 docs: add community-built Run Summaries web viewer
  docs/repo-docs/crafting-your-repository/caching.mdx
  docs/repo-docs/reference/run.mdx
Labels: area: docs

#9682 docs: edits for Prisma guide
  docs/repo-docs/guides/tools/prisma.mdx
Labels: area: docs

#9705 chore(examples): stable ports for applications
  examples/basic/apps/docs/package.json
  examples/basic/apps/web/package.json
Labels: area: examples

#9708 fix(create-turbo): correct repo name
  packages/create-turbo/src/transforms/official-starter.ts
Labels: pkg: create-turbo

#9652 chore: upgrade to Rust 1.83.0
  crates/turborepo-filewatch/src/optional_watch.rs
  crates/turborepo-filewatch/src/scm_resource.rs
  crates/turborepo-lib/src/lib.rs
  crates/turborepo-lib/src/task_graph/visitor/mod.rs
  crates/turborepo-lockfiles/src/berry/identifiers.rs
  crates/turborepo-microfrontends/src/lib.rs
  crates/turborepo-repository/src/change_mapper/package.rs
  crates/turborepo-repository/src/package_graph/builder.rs
  crates/turborepo-repository/src/package_graph/dep_splitter.rs
  crates/turborepo-repository/src/package_manager/bun.rs
  crates/turborepo-repository/src/package_manager/npm.rs
  crates/turborepo-repository/src/package_manager/pnpm.rs
  crates/turborepo-repository/src/package_manager/yarn.rs
  crates/turborepo-ui/src/output.rs
  crates/turborepo-ui/src/tui/app.rs
  crates/turborepo-ui/src/tui/clipboard.rs
  crates/turborepo-ui/src/tui/input.rs
  crates/turborepo-ui/src/tui/pane.rs
  crates/turborepo-vt100/src/perform.rs
  crates/turborepo-vt100/src/term.rs
  crates/turborepo-vt100/src/tui_term.rs
  crates/turborepo-wax/src/walk/mod.rs
  rust-toolchain.toml
Labels: needs: triage

#9711 feat: respect gitignore during turbo prune
  Cargo.lock
  crates/turborepo-fs/Cargo.toml
  crates/turborepo-fs/src/lib.rs
Labels: needs: triage

#9707 chore(examples): mark core supported examples
  examples/basic/README.md
  examples/basic/meta.json
  examples/design-system/README.md
  examples/kitchen-sink/README.md
  examples/kitchen-sink/meta.json
  examples/non-monorepo/README.md
  examples/non-monorepo/meta.json
  examples/with-angular/README.md
  examples/with-berry/README.md
  examples/with-changesets/README.md
  examples/with-docker/README.md
  examples/with-gatsby/README.md
  examples/with-nestjs/README.md
  examples/with-npm/README.md
  examples/with-prisma/README.md
  examples/with-react-native-web/README.md
  examples/with-rollup/README.md
  examples/with-shell-commands/README.md
  examples/with-shell-commands/meta.json
  examples/with-svelte/README.md
  examples/with-svelte/meta.json
  examples/with-tailwind/README.md
  examples/with-tailwind/meta.json
  examples/with-typeorm/README.md
  examples/with-vite/README.md
  examples/with-vue-nuxt/README.md
  examples/with-yarn/README.md
  packages/create-turbo/src/commands/create/index.ts
  packages/create-turbo/src/transforms/official-starter.ts
  packages/create-turbo/src/transforms/types.ts
Labels: area: examples, pkg: create-turbo

#9722 docs: update docs to use correct changeset dir
  docs/repo-docs/guides/publishing-libraries.mdx
Labels: area: docs

#9727 fix(docs): correct backticks causing broken links
  docs/repo-docs/getting-started/add-to-existing-repository.mdx
Labels: area: docs

#9752 chore(packages): update fs-extra import
  packages/create-turbo/src/transforms/official-starter.ts
  packages/create-turbo/src/transforms/pnpm-eslint.ts
  packages/eslint-config/library.js
  packages/turbo-benchmark/src/index.ts
  packages/turbo-codemod/src/commands/migrate/steps/getTurboUpgradeCommand.ts
  packages/turbo-codemod/src/transforms/add-package-manager.ts
  packages/turbo-codemod/src/transforms/add-package-names.ts
  packages/turbo-codemod/src/transforms/create-turbo-config.ts
  packages/turbo-codemod/src/transforms/migrate-dot-env.ts
  packages/turbo-codemod/src/transforms/migrate-env-var-dependencies.ts
  packages/turbo-codemod/src/transforms/rename-output-mode.ts
  packages/turbo-codemod/src/transforms/rename-pipeline.ts
  packages/turbo-codemod/src/transforms/set-default-outputs.ts
  packages/turbo-codemod/src/transforms/stabilize-env-mode.ts
  packages/turbo-codemod/src/transforms/stabilize-ui.ts
  packages/turbo-codemod/src/transforms/transform-env-literals-to-wildcards.ts
  packages/turbo-codemod/src/utils/loadTurboJson.ts
  packages/turbo-codemod/src/utils/looksLikeRepo.ts
  packages/turbo-gen/src/commands/workspace/prompts.ts
  packages/turbo-gen/src/generators/copy.ts
  packages/turbo-gen/src/generators/empty.ts
  packages/turbo-gen/src/utils/setupFromTemplate.ts
  packages/turbo-repository/scripts/publish.mjs
  packages/turbo-utils/src/createProject.ts
  packages/turbo-utils/src/isWriteable.ts
  packages/turbo-workspaces/__tests__/managers.test.ts
  packages/turbo-workspaces/src/managers/bun.ts
  packages/turbo-workspaces/src/managers/npm.ts
  packages/turbo-workspaces/src/managers/pnpm.ts
  packages/turbo-workspaces/src/managers/yarn.ts
  packages/turbo-workspaces/src/updateDependencies.ts
Labels: pkg: create-turbo, pkg: turbo-codemod, pkg: turbo-gen, pkg: turbo-workspaces, pkg: turbo-repository

#9753 chore(packages): update picocolors import
  packages/create-turbo/__tests__/index.test.ts
  packages/create-turbo/src/cli.ts
  packages/create-turbo/src/commands/create/index.ts
  packages/create-turbo/src/utils/notifyUpdate.ts
  packages/turbo-codemod/src/cli.ts
  packages/turbo-codemod/src/commands/migrate/index.ts
  packages/turbo-codemod/src/commands/transform/index.ts
  packages/turbo-codemod/src/runner/FileTransform.ts
  packages/turbo-codemod/src/runner/Runner.ts
  packages/turbo-codemod/src/utils/checkGitStatus.ts
  packages/turbo-codemod/src/utils/logger.ts
  packages/turbo-codemod/src/utils/notifyUpdate.ts
  packages/turbo-gen/src/cli.ts
  packages/turbo-gen/src/generators/copy.ts
  packages/turbo-gen/src/generators/empty.ts
  packages/turbo-gen/src/utils/notifyUpdate.ts
  packages/turbo-telemetry/src/cli.ts
  packages/turbo-telemetry/src/config.ts
  packages/turbo-utils/src/createProject.ts
  packages/turbo-utils/src/validateDirectory.ts
  packages/turbo-workspaces/src/cli.ts
  packages/turbo-workspaces/src/commands/convert/index.ts
  packages/turbo-workspaces/src/commands/summary/index.ts
  packages/turbo-workspaces/src/convert.ts
  packages/turbo-workspaces/src/logger.ts
  packages/turbo-workspaces/src/updateDependencies.ts
Labels: pkg: create-turbo, pkg: turbo-codemod, pkg: turbo-gen, pkg: turbo-workspaces, pkg: turbo-telemetry

#9763 ci: remove dependabot automation that doesn't work
  .github/workflows/examples-autoapprove-and-automerge.yml
Labels: area: ci

#9770 chore(examples): update non-monorepo example
  examples/non-monorepo/.eslintrc.json
  examples/non-monorepo/.gitignore
  examples/non-monorepo/README.md
  examples/non-monorepo/app/globals.css
  examples/non-monorepo/app/layout.tsx
  examples/non-monorepo/app/page.module.css
  examples/non-monorepo/app/page.tsx
  examples/non-monorepo/eslint.config.mjs
  examples/non-monorepo/meta.json
  examples/non-monorepo/next-env.d.ts
  examples/non-monorepo/next.config.js
  examples/non-monorepo/next.config.ts
  examples/non-monorepo/package-lock.json
  examples/non-monorepo/package.json
  examples/non-monorepo/pnpm-lock.yaml
  examples/non-monorepo/public/file.svg
  examples/non-monorepo/public/globe.svg
  examples/non-monorepo/public/vercel.svg
  examples/non-monorepo/public/window.svg
  examples/non-monorepo/tsconfig.json
  examples/non-monorepo/turbo.json
Labels: area: examples

#9765 chore(linting): add `name` property to ESLint `recommended` flat config
  packages/eslint-plugin-turbo/lib/configs/flat/recommended.ts
  packages/eslint-plugin-turbo/package.json
  pnpm-lock.yaml
Labels: pkg: turbo-eslint, needs: triage

#9762 docs: migration guide for users coming from Nx
  docs/repo-docs/guides/meta.json
  docs/repo-docs/guides/migrating-from-nx.mdx
Labels: area: docs, area: site

#9731 ci: conditional checks depending on source code changes
  .github/workflows/examples-test-basic.yml
  .github/workflows/examples-test-kitchen-sink.yml
  .github/workflows/examples-test-non-monorepo.yml
  .github/workflows/examples-test-with-svelte.yml
  .github/workflows/examples-test-with-tailwind.yml
  .github/workflows/turborepo-test.yml
Labels: area: ci

#9778 ci: wrap if statement with curlies
  .github/workflows/turborepo-test.yml
Labels: area: ci

#9779 ci: add needs to examples checks
  .github/workflows/turborepo-test.yml
Labels: area: ci

#9780 ci: fix negative globs
  .github/workflows/turborepo-test.yml
Labels: area: ci

#9781 ci: still trying to get paths right
  .github/workflows/turborepo-test.yml
Labels: area: ci

#9782 ci: still trying to get paths right
  .github/workflows/turborepo-test.yml
Labels: area: ci

#9784 ci: fix ignore paths for tests
  .github/workflows/turborepo-test.yml
Labels: area: ci

#9785 ci: fix ignore paths for tests
  .github/workflows/turborepo-test.yml
Labels: area: ci

#9766 chore: upgrade to Rust 1.84.0
  Cargo.toml
  crates/turborepo-api-client/src/lib.rs
  crates/turborepo-auth/src/auth/sso.rs
  crates/turborepo-auth/src/lib.rs
  crates/turborepo-cache/src/http.rs
  crates/turborepo-ci/src/lib.rs
  crates/turborepo-lib/src/boundaries.rs
  crates/turborepo-lib/src/commands/link.rs
  crates/turborepo-lib/src/engine/mod.rs
  crates/turborepo-lib/src/framework.rs
  crates/turborepo-lib/src/gitignore.rs
  crates/turborepo-lib/src/package_changes_watcher.rs
  crates/turborepo-lib/src/query/mod.rs
  crates/turborepo-lib/src/rewrite_json.rs
  crates/turborepo-lib/src/run/summary/mod.rs
  crates/turborepo-lib/src/run/summary/spaces.rs
  crates/turborepo-lib/src/task_graph/visitor/command.rs
  crates/turborepo-lib/src/turbo_json/mod.rs
  crates/turborepo-lockfiles/src/yarn1/ser.rs
  crates/turborepo-repository/src/package_graph/builder.rs
  crates/turborepo-repository/src/package_graph/dep_splitter.rs
  crates/turborepo-ui/src/tui/app.rs
  crates/turborepo-ui/src/tui/debouncer.rs
  crates/turborepo-ui/src/tui/term_output.rs
  crates/turborepo-ui/src/wui/query.rs
  crates/turborepo-vt100/src/screen.rs
  rust-toolchain.toml
Labels: needs: triage

#9796 docs: make incremental migration more prominent on Nx doc
  docs/repo-docs/guides/migrating-from-nx.mdx
Labels: area: docs

#9797 feat(prune): add `--use-gitignore` flag
  Cargo.lock
  crates/turborepo-fs/Cargo.toml
  crates/turborepo-fs/src/lib.rs
  crates/turborepo-lib/src/cli/mod.rs
  crates/turborepo-lib/src/commands/prune.rs
  docs/repo-docs/reference/prune.mdx
Labels: area: docs

#9794 chore: add best practices to Prisma ORM example
  examples/with-prisma/.env.example
  examples/with-prisma/README.md
  examples/with-prisma/package.json
  examples/with-prisma/packages/database/.env
  examples/with-prisma/packages/database/package.json
  examples/with-prisma/packages/database/prisma/schema.prisma
  examples/with-prisma/packages/database/src/client.ts
  examples/with-prisma/packages/database/src/seed.ts
  examples/with-prisma/turbo.json
  examples/with-prisma/yarn.lock
Labels: area: examples, needs: triage

#9800 ci: correctly ignoring in turborepo-test.yml
  .github/workflows/turborepo-test.yml
Labels: area: ci

#9795 feat: makes `affectedPackages` lockfile aware
  Cargo.lock
  crates/turborepo-paths/src/absolute_system_path.rs
  crates/turborepo-paths/src/anchored_system_path_buf.rs
  crates/turborepo-repository/src/change_mapper/mod.rs
  packages/turbo-repository/README.md
  packages/turbo-repository/__tests__/affected-packages.test.ts
  packages/turbo-repository/__tests__/fixtures/monorepo/apps/app/package.json
  packages/turbo-repository/__tests__/fixtures/monorepo/package.json
  packages/turbo-repository/__tests__/fixtures/monorepo/pnpm-lock.yaml
  packages/turbo-repository/js/index.d.ts
  packages/turbo-repository/rust/Cargo.toml
  packages/turbo-repository/rust/README.md
  packages/turbo-repository/rust/src/lib.rs
Labels: pkg: turbo-repository

#9620 feat(examples): add example-with-vite-react
  examples/with-vite-react/.eslintrc.js
  examples/with-vite-react/.gitignore
  examples/with-vite-react/.npmrc
  examples/with-vite-react/README.md
  examples/with-vite-react/apps/web/.eslintrc.cjs
  examples/with-vite-react/apps/web/index.html
  examples/with-vite-react/apps/web/package.json
  examples/with-vite-react/apps/web/public/typescript.svg
  examples/with-vite-react/apps/web/public/vite.svg
  examples/with-vite-react/apps/web/src/main.tsx
  examples/with-vite-react/apps/web/src/style.css
  examples/with-vite-react/apps/web/src/vite-env.d.ts
  examples/with-vite-react/apps/web/tsconfig.json
  examples/with-vite-react/apps/web/vite.config.ts
  examples/with-vite-react/package.json
  examples/with-vite-react/packages/eslint-config/index.js
  examples/with-vite-react/packages/eslint-config/package.json
  examples/with-vite-react/packages/typescript-config/base.json
  examples/with-vite-react/packages/typescript-config/package.json
  examples/with-vite-react/packages/typescript-config/react-library.json
  examples/with-vite-react/packages/typescript-config/vite.json
  examples/with-vite-react/packages/ui/.eslintrc.cjs
  examples/with-vite-react/packages/ui/components/counter.tsx
  examples/with-vite-react/packages/ui/components/header.tsx
  examples/with-vite-react/packages/ui/components/index.ts
  examples/with-vite-react/packages/ui/index.ts
  examples/with-vite-react/packages/ui/package.json
  examples/with-vite-react/packages/ui/tsconfig.json
  examples/with-vite-react/pnpm-lock.yaml
  examples/with-vite-react/pnpm-workspace.yaml
  examples/with-vite-react/turbo.json
Labels: area: examples, needs: triage

#9814 docs: fix typo
  docs/repo-docs/guides/tools/typescript.mdx
Labels: area: docs, needs: triage

#9816 fix(example): remove conflict css property from with-tailwind example
  examples/with-tailwind/apps/docs/app/page.tsx
  examples/with-tailwind/apps/web/app/page.tsx
Labels: area: examples, needs: triage

#9822 chore(examples): update `with-svelte` dependencies
  examples/with-svelte/apps/docs/.eslintignore
  examples/with-svelte/apps/docs/.eslintrc.cjs
  examples/with-svelte/apps/docs/eslint.config.js
  examples/with-svelte/apps/docs/package.json
  examples/with-svelte/apps/docs/tests/test.ts
  examples/with-svelte/apps/docs/tsconfig.json
  examples/with-svelte/apps/docs/vite.config.ts
  examples/with-svelte/apps/web/.eslintignore
  examples/with-svelte/apps/web/.eslintrc.cjs
  examples/with-svelte/apps/web/eslint.config.js
  examples/with-svelte/apps/web/package.json
  examples/with-svelte/apps/web/tests/test.ts
  examples/with-svelte/apps/web/tsconfig.json
  examples/with-svelte/apps/web/vite.config.ts
  examples/with-svelte/package.json
  examples/with-svelte/packages/config-eslint/index.js
  examples/with-svelte/packages/config-eslint/package.json
  examples/with-svelte/packages/eslint-config/index.js
  examples/with-svelte/packages/eslint-config/package.json
  examples/with-svelte/packages/typescript-config/package.json
  examples/with-svelte/packages/typescript-config/svelte.json
  examples/with-svelte/packages/ui/.eslintrc.cjs
  examples/with-svelte/packages/ui/eslint.config.js
  examples/with-svelte/packages/ui/package.json
  examples/with-svelte/pnpm-lock.yaml
  examples/with-svelte/turbo.json
Labels: area: examples

#9823 ci(examples): update version in examples on release
  .github/turbo-orchestrator.yml
  .github/workflows/update-examples-on-release.yml
  scripts/update-examples-dep.sh
Labels: area: ci

#9835 chore(@turbo/repository): silence noop lint
  packages/turbo-repository/rust/Cargo.toml
Labels: pkg: turbo-repository

#9805 fix(deps): use windows-sys instead of winapi
  Cargo.lock
  crates/turborepo-lib/Cargo.toml
  crates/turborepo-lib/src/process/child.rs
  crates/turborepo-ui/Cargo.toml
  crates/turborepo-ui/src/tui/input.rs
Labels: needs: triage

#9837 feat(create-turbo): fix official examples
  packages/create-turbo/src/transforms/official-starter.ts
  packages/turbo-utils/src/createProject.ts
  packages/turbo-utils/src/examples.ts
Labels: pkg: create-turbo

#9817 chore(turborepo-wax): remove lockfile
  crates/turborepo-wax/Cargo.lock
Labels: needs: triage

#9839 fix(deps): remove unused `winapi` for turborepo
  Cargo.lock
  crates/turborepo/Cargo.toml
Labels: needs: triage

#9844 feat(release): @turbo/repository v0.0.1-canary.11
  packages/turbo-repository/js/package.json
  packages/turbo-repository/npm/darwin-arm64/package.json
  packages/turbo-repository/npm/darwin-x64/package.json
  packages/turbo-repository/npm/linux-arm64-gnu/package.json
  packages/turbo-repository/npm/linux-arm64-musl/package.json
  packages/turbo-repository/npm/linux-x64-gnu/package.json
  packages/turbo-repository/npm/linux-x64-musl/package.json
  packages/turbo-repository/npm/win32-arm64-msvc/package.json
  packages/turbo-repository/npm/win32-x64-msvc/package.json
  packages/turbo-repository/scripts/bump-version.sh
Labels: pkg: turbo-repository

#9833 docs: update ESLint package docs
  docs/repo-docs/reference/eslint-config-turbo.mdx
  docs/repo-docs/reference/eslint-plugin-turbo.mdx
  docs/repo-docs/reference/meta.json
Labels: area: docs, area: site

#9836 chore: move `create-turbo` community note and format it better
  packages/create-turbo/src/commands/create/index.ts
Labels: pkg: create-turbo

#9824 ci: add `check-types` task to examples testing
  .github/dependabot.yml
  examples/kitchen-sink/apps/admin/package.json
  examples/kitchen-sink/apps/blog/package.json
  examples/kitchen-sink/apps/storefront/package.json
  examples/kitchen-sink/packages/ui/package.json
  examples/kitchen-sink/pnpm-lock.yaml
  turborepo-tests/helpers/setup_example_test.sh
Labels: area: examples

#9843 docs: new page for examples
  docs/repo-docs/getting-started/examples.mdx
  docs/repo-docs/getting-started/index.mdx
  docs/repo-docs/getting-started/installation.mdx
  docs/repo-docs/getting-started/meta.json
  docs/repo-docs/getting-started/support-policy.mdx
Labels: area: docs, area: site

#9715 chore(ci): move back to GHA
  .github/workflows/lint.yml
  .github/workflows/test-js-packages.yml
  .github/workflows/turborepo-native-lib-test.yml
  .github/workflows/turborepo-test.yml
  crates/turborepo/src/main.rs
Labels: area: ci

#9855 fix(examples): downgrade tailwind
  examples/with-tailwind/apps/docs/app/globals.css
  examples/with-tailwind/apps/docs/package.json
  examples/with-tailwind/apps/docs/postcss.config.js
  examples/with-tailwind/apps/web/app/globals.css
  examples/with-tailwind/apps/web/package.json
  examples/with-tailwind/apps/web/postcss.config.js
  examples/with-tailwind/packages/tailwind-config/package.json
  examples/with-tailwind/packages/ui/package.json
  examples/with-tailwind/packages/ui/postcss.config.js
  examples/with-tailwind/packages/ui/src/styles.css
  examples/with-tailwind/packages/ui/tailwind.config.ts
  examples/with-tailwind/pnpm-lock.yaml
Labels: area: examples

#9854 chore: removing unused script
  examples/install-all.ts
  examples/package.json
  pnpm-lock.yaml
Labels: area: examples

#9845 fix: use an image that supports glibc for @turbo/repository ubuntu
  .github/workflows/turborepo-library-release.yml
Labels: area: ci

#9857 docs: Fix broken link
  docs/repo-docs/getting-started/add-to-existing-repository.mdx
Labels: area: docs, needs: triage

#9858 fix: use microdnf for ubuntu images
  .github/workflows/turborepo-library-release.yml
Labels: area: ci

#9832 docs: `schema.json` in `node_modules`
  docs/repo-docs/getting-started/editor-integration.mdx
Labels: area: docs, docs: next release

#9831 docs: keybinds for tui
  docs/repo-docs/crafting-your-repository/developing-applications.mdx
  docs/repo-docs/reference/configuration.mdx
Labels: area: docs, docs: next release

#9834 docs: `boundaries` experimental page
  docs/repo-docs/reference/boundaries.mdx
  docs/repo-docs/reference/index.mdx
  docs/repo-docs/reference/meta.json
Labels: area: docs, area: site, docs: next release

#9862 fix(pnpm): revert lockfile upgrade
  examples/install-all.ts
  examples/package.json
  pnpm-lock.yaml
Labels: area: examples
