Repository vercel/turborepo, pull requests merged in 2025-10, with the labels that each got.

#9181 docs: clarification on Transit Nodes docs
  docs/site/content/docs/crafting-your-repository/configuring-tasks.mdx
Labels: area: docs

#10902 fix(eslint-config-turbo): use module.exports for ESLint v8 compatibility
  packages/eslint-config-turbo/package.json
  packages/eslint-config-turbo/src/index.ts
Labels: pkg: turbo-eslint

#10923 docs: add GitHub Actions reusable workflow documentation for remote caching
  docs/site/content/docs/guides/ci-vendors/github-actions.mdx
Labels: area: docs

#10936 docs: generate blog release OG images
  docs/site/app/(no-sidebar)/blog/[...slug]/page.tsx
  docs/site/app/api/og/blog/Geist-SemiBold.ttf
  docs/site/app/api/og/blog/bg.jpg
  docs/site/app/api/og/blog/route.tsx
  docs/site/content/blog/turbo-1-1-0.mdx
  docs/site/content/blog/turbo-1-10-0.mdx
  docs/site/content/blog/turbo-1-11-0.mdx
  docs/site/content/blog/turbo-1-12-0.mdx
  docs/site/content/blog/turbo-1-13-0.mdx
  docs/site/content/blog/turbo-1-2-0.mdx
  docs/site/content/blog/turbo-1-3-0.mdx
  docs/site/content/blog/turbo-1-4-0.mdx
  docs/site/content/blog/turbo-1-5-0.mdx
  docs/site/content/blog/turbo-1-6-0.mdx
  docs/site/content/blog/turbo-1-7-0.mdx
  docs/site/content/blog/turbo-1-8-0.mdx
  docs/site/content/blog/turbo-1-9-0.mdx
  docs/site/content/blog/turbo-2-0.mdx
  docs/site/content/blog/turbo-2-1-0.mdx
  docs/site/content/blog/turbo-2-2-0.mdx
  docs/site/content/blog/turbo-2-3.mdx
  docs/site/content/blog/turbo-2-4.mdx
  docs/site/content/blog/turbo-2-5.mdx
  docs/site/public/images/blog/turbo-0-4-0/x-card.png
  docs/site/public/images/blog/turbo-1-1-0/x-card.png
  docs/site/public/images/blog/turbo-1-10-0/x-card.png
  docs/site/public/images/blog/turbo-1-11-0/x-card.png
  docs/site/public/images/blog/turbo-1-12-0/x-card.png
  docs/site/public/images/blog/turbo-1-13-0/x-card.png
  docs/site/public/images/blog/turbo-1-2-0/x-card.png
  docs/site/public/images/blog/turbo-1-3-0/x-card.png
  docs/site/public/images/blog/turbo-1-4-0/x-card.png
  docs/site/public/images/blog/turbo-1-5-0/x-card.png
  docs/site/public/images/blog/turbo-1-6-0/x-card.png
  docs/site/public/images/blog/turbo-1-7-0/x-card.png
  docs/site/public/images/blog/turbo-2-0/x-card.png
  docs/site/public/images/blog/turbo-2-1-0/x-card.png
  docs/site/public/images/blog/turbo-2-2-0/x-card.png
  docs/site/public/images/blog/turbo-2-3/x-card.png
  docs/site/public/images/blog/turbo-2-4/x-card.png
  docs/site/public/images/blog/turbo-2-5/x-card.png
  docs/site/scripts/generate-rss.ts
  docs/site/source.config.ts
Labels: area: docs, area: site

#10943 perf: ~8.6x faster ESLint rule
  packages/eslint-plugin-turbo/__tests__/lib/no-undeclared-env-vars/workspace-configs/no-undeclared-env-vars.commonjs.test.ts
  packages/eslint-plugin-turbo/__tests__/lib/no-undeclared-env-vars/workspace-configs/no-undeclared-env-vars.module.test.ts
  packages/eslint-plugin-turbo/lib/rules/no-undeclared-env-vars.ts
  packages/turbo-utils/src/getTurboConfigs.ts
  packages/turbo-utils/src/index.ts
Labels: pkg: turbo-eslint
