Repository vercel/turborepo, pull requests merged in 2025-09, with the labels that each got.

#10823 docs: add `name` field mention to migration page
  docs/site/content/docs/crafting-your-repository/creating-an-internal-package.mdx
Labels: area: docs

#10828 feat(tui): add shortcut for clearing task logs
  crates/turborepo-ui/src/tui/app.rs
  crates/turborepo-ui/src/tui/event.rs
  crates/turborepo-ui/src/tui/input.rs
  crates/turborepo-ui/src/tui/popup.rs
  crates/turborepo-ui/src/tui/term_output.rs
Labels: needs: triage

#10861 feat: add Expo to common frameworks
  packages/turbo-types/src/json/frameworks.json
Labels: needs: triage

#10847 fix(security): update dependencies to resolve warning for `node-plop`
  packages/create-turbo/package.json
  packages/turbo-codemod/package.json
  packages/turbo-gen/package.json
  packages/turbo-gen/src/generators/custom.ts
  packages/turbo-gen/src/utils/plop.ts
  packages/turbo-gen/tsconfig.json
  packages/turbo-workspaces/package.json
  pnpm-lock.yaml
Labels: pkg: create-turbo, pkg: turbo-codemod, pkg: turbo-gen, pkg: turbo-workspaces

#10857 ci: update deprecated turbo setting
  .github/workflows/lint.yml
  .github/workflows/test-js-packages.yml
  .github/workflows/turborepo-native-lib-test.yml
Labels: area: ci

#10882 fix: revert #10847
  packages/create-turbo/package.json
  packages/turbo-codemod/package.json
  packages/turbo-gen/package.json
  packages/turbo-gen/src/generators/custom.ts
  packages/turbo-gen/src/utils/plop.ts
  packages/turbo-gen/tsconfig.json
  packages/turbo-workspaces/package.json
  pnpm-lock.yaml
Labels: pkg: create-turbo, pkg: turbo-codemod, pkg: turbo-gen, pkg: turbo-workspaces

#10892 Update package.json
  examples/with-react-native-web/package.json
Labels: area: examples

#10729 feat(turborepo-lockfiles): update bun.lock support to match Bun's current implementation
  .github/workflows/turborepo-test.yml
  crates/turborepo-lockfiles/fixtures/basic-bun-v0.lock
  crates/turborepo-lockfiles/fixtures/bun-catalog-v0.lock
  crates/turborepo-lockfiles/fixtures/bun-patch-v0.lock
  crates/turborepo-lockfiles/fixtures/bun-v1-1.lock
  crates/turborepo-lockfiles/fixtures/bun-v1-create-turbo.lock
  crates/turborepo-lockfiles/fixtures/bun-v1-issue-10410.lock
  crates/turborepo-lockfiles/src/bun/de.rs
  crates/turborepo-lockfiles/src/bun/mod.rs
  crates/turborepo-lockfiles/src/error.rs
  crates/turborepo-lockfiles/src/lib.rs
  turborepo-tests/integration/tests/lockfile-aware-caching/bun.t
  turborepo-tests/integration/tests/lockfile-aware-caching/bun/bun-lock.patch
  turborepo-tests/integration/tests/lockfile-aware-caching/bun/bun.lock
  turborepo-tests/integration/tests/lockfile-aware-caching/bun/package.json
  turborepo-tests/integration/tests/lockfile-aware-caching/bun/turbo-bump.patch
Labels: area: ci
