Repository vercel/turborepo, pull requests merged in 2025-04, with the labels that each got.

#10278 chore: upgrade to `proxy-agent` 6.5.0
  docs/site/package.json
  packages/create-turbo/package.json
  packages/turbo-gen/package.json
  pnpm-lock.yaml
Labels: pkg: create-turbo, area: site, pkg: turbo-gen

#10262 docs: 2.5 release post
  docs/site/app/(no-sidebar)/blog/[...slug]/page.tsx
  docs/site/components/authors.tsx
  docs/site/components/avatar.tsx
  docs/site/components/blog/date.tsx
  docs/site/components/in-version.tsx
  docs/site/content/blog/turbo-2-5.mdx
  docs/site/content/repo-docs/crafting-your-repository/configuring-tasks.mdx
  docs/site/content/repo-docs/reference/configuration.mdx
  docs/site/mdx-components.tsx
  docs/site/public/images/blog/turbo-2-5/x-card.png
Labels: area: docs, area: site

#10281 chore(examples): upgrade Turborepo version
  examples/basic/package.json
  examples/basic/pnpm-lock.yaml
  examples/design-system/package.json
  examples/design-system/pnpm-lock.yaml
  examples/kitchen-sink/package.json
  examples/kitchen-sink/pnpm-lock.yaml
  examples/non-monorepo/package.json
  examples/with-angular/package.json
  examples/with-angular/pnpm-lock.yaml
  examples/with-berry/package.json
  examples/with-berry/yarn.lock
  examples/with-changesets/package.json
  examples/with-changesets/pnpm-lock.yaml
  examples/with-docker/package.json
  examples/with-docker/yarn.lock
  examples/with-gatsby/package.json
  examples/with-gatsby/pnpm-lock.yaml
  examples/with-nestjs/package.json
  examples/with-nestjs/pnpm-lock.yaml
  examples/with-npm/package-lock.json
  examples/with-npm/package.json
  examples/with-prisma/package.json
  examples/with-prisma/packages/database/.gitignore
  examples/with-prisma/yarn.lock
  examples/with-react-native-web/package.json
  examples/with-react-native-web/yarn.lock
  examples/with-rollup/package.json
  examples/with-rollup/pnpm-lock.yaml
  examples/with-shell-commands/package.json
  examples/with-shell-commands/pnpm-lock.yaml
  examples/with-solid/package.json
  examples/with-solid/pnpm-lock.yaml
  examples/with-svelte/package.json
  examples/with-svelte/pnpm-lock.yaml
  examples/with-tailwind/package.json
  examples/with-tailwind/pnpm-lock.yaml
  examples/with-typeorm/package.json
  examples/with-typeorm/pnpm-lock.yaml
  examples/with-vite-react/package.json
  examples/with-vite-react/pnpm-lock.yaml
  examples/with-vite/package.json
  examples/with-vite/pnpm-lock.yaml
  examples/with-vitest/package.json
  examples/with-vitest/pnpm-lock.yaml
  examples/with-vue-nuxt/package.json
  examples/with-vue-nuxt/pnpm-lock.yaml
  examples/with-yarn/package.json
  examples/with-yarn/yarn.lock
Labels: area: examples

#10283 ci(fix): ensure history is up to date
  .github/workflows/update-examples-on-release.yml
Labels: area: ci

#10286 docs: correct usage of wordmark
  docs/site/components/icons/turborepo-wordmark.tsx
  docs/site/components/nav/index.tsx
  docs/site/public/images/blog/turbo-2-4/x-card.png
  docs/site/public/images/blog/turbo-2-5/x-card.png
Labels: area: site

#10277 fix(examples): fix build in fresh vue example project
  examples/with-vue-nuxt/apps/web/env.d.ts
Labels: area: examples, needs: triage

#10287 docs: navbar improvements
  docs/site/components/docs-layout/mobile-menu-top-level.tsx
  docs/site/components/feedback-widget.tsx
  docs/site/components/icons/logo-github.tsx
  docs/site/components/icons/magnifying-glass.tsx
  docs/site/components/icons/x-dot-com.tsx
  docs/site/components/nav/index.tsx
  docs/site/components/search-dialog.tsx
Labels: area: site

#10291 chore(docs): remove expired data and code from when Turbopack was in this repo
  docs/site/app/(no-sidebar)/blog/page.tsx
  docs/site/app/_components/favicon-handler.tsx
  docs/site/app/_components/home-shared/gradient.tsx
  docs/site/app/_components/home-shared/gradients.module.css
  docs/site/app/_components/home-shared/headings.tsx
  docs/site/components/pages/pack-home/benchmark-data/README.md
  docs/site/components/pages/pack-home/benchmark-data/data.json
  docs/site/components/pages/pack-home/docs-benchmarks-graph.tsx
  docs/site/components/pages/pack-home/pack-benchmarks-graph.tsx
  docs/site/components/pages/pack-home/pack-benchmarks-picker.tsx
  docs/site/components/pages/pack-home/pack-benchmarks.tsx
  docs/site/components/pages/pack-home/pack-dropdown.tsx
  docs/site/content/blog/turbopack-benchmarks.mdx
  docs/site/lib/redirects/add-pack-docs.mjs
  docs/site/next.config.ts
Labels: area: docs, area: site

#10296 fix(docs): update redirects rule to resolve access issue on `getting-started` index page
  docs/site/next.config.ts
Labels: area: site, needs: triage

#10306 docs: fix line highlights in yaml files
  docs/site/content/repo-docs/guides/ci-vendors/github-actions.mdx
Labels: area: docs

#10309 docs: fix openapi paths
  docs/site/app/(openapi)/docs/openapi/[[...slug]]/openapi.css
  docs/site/app/(openapi)/docs/openapi/[[...slug]]/page.tsx
  docs/site/app/(openapi)/docs/openapi/layout.tsx
  docs/site/app/(openapi)/docs/openapi/source.ts
  docs/site/next.config.ts
  packages/turbo-types/schemas/schema.json
  packages/turbo-types/schemas/schema.v1.json
  packages/turbo-types/schemas/schema.v2.json
Labels: area: site

#10305 docs: update instructions on where to get `TURBO_TEAM` token
  docs/site/content/repo-docs/guides/ci-vendors/circleci.mdx
  docs/site/content/repo-docs/guides/ci-vendors/github-actions.mdx
  docs/site/content/repo-docs/guides/ci-vendors/gitlab-ci.mdx
  docs/site/content/repo-docs/guides/ci-vendors/travis-ci.mdx
  docs/site/public/images/docs/vercel-slug.png
Labels: area: docs, area: site

#10293 docs: list pnpm as first package manager
  docs/site/components/tabs.tsx
  docs/site/content/repo-docs/core-concepts/internal-packages.mdx
  docs/site/content/repo-docs/core-concepts/remote-caching.mdx
  docs/site/content/repo-docs/crafting-your-repository/caching.mdx
  docs/site/content/repo-docs/crafting-your-repository/creating-an-internal-package.mdx
  docs/site/content/repo-docs/crafting-your-repository/managing-dependencies.mdx
  docs/site/content/repo-docs/crafting-your-repository/running-tasks.mdx
  docs/site/content/repo-docs/crafting-your-repository/structuring-a-repository.mdx
  docs/site/content/repo-docs/crafting-your-repository/upgrading.mdx
  docs/site/content/repo-docs/getting-started/examples.mdx
  docs/site/content/repo-docs/getting-started/installation.mdx
  docs/site/content/repo-docs/guides/ci-vendors/circleci.mdx
  docs/site/content/repo-docs/guides/ci-vendors/github-actions.mdx
  docs/site/content/repo-docs/guides/ci-vendors/gitlab-ci.mdx
  docs/site/content/repo-docs/guides/ci-vendors/travis-ci.mdx
  docs/site/content/repo-docs/guides/frameworks/nextjs.mdx
  docs/site/content/repo-docs/guides/frameworks/nuxt.mdx
  docs/site/content/repo-docs/guides/frameworks/sveltekit.mdx
  docs/site/content/repo-docs/guides/frameworks/vite.mdx
  docs/site/content/repo-docs/guides/generating-code.mdx
  docs/site/content/repo-docs/guides/migrating-from-nx.mdx
  docs/site/content/repo-docs/guides/multi-language.mdx
  docs/site/content/repo-docs/guides/single-package-workspaces.mdx
  docs/site/content/repo-docs/guides/tools/eslint.mdx
  docs/site/content/repo-docs/guides/tools/jest.mdx
  docs/site/content/repo-docs/guides/tools/playwright.mdx
  docs/site/content/repo-docs/guides/tools/shadcn-ui.mdx
  docs/site/content/repo-docs/guides/tools/storybook.mdx
  docs/site/content/repo-docs/guides/tools/typescript.mdx
  docs/site/content/repo-docs/reference/create-turbo.mdx
  docs/site/content/repo-docs/reference/eslint-config-turbo.mdx
  docs/site/content/repo-docs/reference/eslint-plugin-turbo.mdx
Labels: area: docs, area: site

#10295 fix(codemod): check for pipeline key before using it
  packages/turbo-codemod/__tests__/migrate-env-var-dependencies.test.ts
  packages/turbo-codemod/__tests__/set-default-outputs.test.ts
  packages/turbo-codemod/__tests__/stabilize-env-mode.test.ts
  packages/turbo-codemod/__tests__/transform-env-literals-to-wildcards.test.ts
  packages/turbo-codemod/src/transforms/migrate-env-var-dependencies.ts
  packages/turbo-codemod/src/transforms/set-default-outputs.ts
  packages/turbo-codemod/src/transforms/stabilize-env-mode.ts
  packages/turbo-codemod/src/transforms/transform-env-literals-to-wildcards.ts
  packages/turbo-codemod/src/utils/is-pipeline-key-missing.ts
Labels: pkg: turbo-codemod

#10314 fix(@turbo/repository): no longer require packageManager to detect npm
  crates/turborepo-repository/src/discovery.rs
  crates/turborepo-repository/src/package_graph/builder.rs
  packages/turbo-repository/__tests__/affected-packages.test.ts
  packages/turbo-repository/__tests__/fixtures/npm-monorepo/apps/app/package.json
  packages/turbo-repository/__tests__/fixtures/npm-monorepo/package-lock.json
  packages/turbo-repository/__tests__/fixtures/npm-monorepo/package.json
  packages/turbo-repository/__tests__/fixtures/npm-monorepo/packages/blank/package.json
  packages/turbo-repository/__tests__/fixtures/npm-monorepo/packages/ui/package.json
  packages/turbo-repository/rust/src/internal.rs
Labels: pkg: turbo-repository

#10321 docs: add Bun to package manager tabs
  docs/site/components/tabs.tsx
  docs/site/content/docs/core-concepts/internal-packages.mdx
  docs/site/content/docs/core-concepts/remote-caching.mdx
  docs/site/content/docs/crafting-your-repository/caching.mdx
  docs/site/content/docs/crafting-your-repository/creating-an-internal-package.mdx
  docs/site/content/docs/crafting-your-repository/managing-dependencies.mdx
  docs/site/content/docs/crafting-your-repository/running-tasks.mdx
  docs/site/content/docs/crafting-your-repository/structuring-a-repository.mdx
  docs/site/content/docs/crafting-your-repository/upgrading.mdx
  docs/site/content/docs/getting-started/examples.mdx
  docs/site/content/docs/getting-started/installation.mdx
  docs/site/content/docs/getting-started/support-policy.mdx
  docs/site/content/docs/guides/ci-vendors/circleci.mdx
  docs/site/content/docs/guides/ci-vendors/github-actions.mdx
  docs/site/content/docs/guides/ci-vendors/gitlab-ci.mdx
  docs/site/content/docs/guides/ci-vendors/travis-ci.mdx
  docs/site/content/docs/guides/frameworks/nextjs.mdx
  docs/site/content/docs/guides/frameworks/nuxt.mdx
  docs/site/content/docs/guides/frameworks/sveltekit.mdx
  docs/site/content/docs/guides/frameworks/vite.mdx
  docs/site/content/docs/guides/generating-code.mdx
  docs/site/content/docs/guides/index.mdx
  docs/site/content/docs/guides/migrating-from-nx.mdx
  docs/site/content/docs/guides/multi-language.mdx
  docs/site/content/docs/guides/single-package-workspaces.mdx
  docs/site/content/docs/guides/tools/eslint.mdx
  docs/site/content/docs/guides/tools/jest.mdx
  docs/site/content/docs/guides/tools/playwright.mdx
  docs/site/content/docs/guides/tools/shadcn-ui.mdx
  docs/site/content/docs/guides/tools/storybook.mdx
  docs/site/content/docs/guides/tools/typescript.mdx
  docs/site/content/docs/reference/create-turbo.mdx
  docs/site/content/docs/reference/eslint-config-turbo.mdx
  docs/site/content/docs/reference/eslint-plugin-turbo.mdx
Labels: area: docs, area: site

#10319 feat(codemod): update `$schema` when versioned
  docs/site/content/docs/reference/turbo-codemod.mdx
  packages/turbo-codemod/__tests__/__fixtures__/update-schema-url/current-schema/package.json
  packages/turbo-codemod/__tests__/__fixtures__/update-schema-url/current-schema/turbo.json
  packages/turbo-codemod/__tests__/__fixtures__/update-schema-url/v1-schema/package.json
  packages/turbo-codemod/__tests__/__fixtures__/update-schema-url/v1-schema/turbo.json
  packages/turbo-codemod/__tests__/update-schema-json-url.test.ts
  packages/turbo-codemod/src/transforms/update-schema-json-url.ts
  test-codemod/turbo.json
Labels: area: docs, pkg: turbo-codemod

#10318 docs: improve accuracy for self-hosted OpenAPI spec
  docs/site/.gitignore
  docs/site/app/api/remote-cache-spec/route.ts
  docs/site/scripts/generate-docs.mjs
Labels: area: site

#10327 docs: add response header to OpenAPI spec
  docs/site/scripts/generate-docs.mjs
Labels: area: site

#10334 docs: use new community domain
  docs/site/app/_components/footer.tsx
  docs/site/app/_components/not-found-template.tsx
  docs/site/components/nav/footer.tsx
  docs/site/components/search-dialog.tsx
  docs/site/content/docs/community.mdx
  docs/site/content/docs/index.mdx
  docs/site/content/extra/governance.mdx
  docs/site/next.config.ts
Labels: area: docs, area: site

#10236 feat: allow specifying concurrency in config / environment
  crates/turborepo-lib/src/commands/config.rs
  crates/turborepo-lib/src/commands/mod.rs
  crates/turborepo-lib/src/config/env.rs
  crates/turborepo-lib/src/config/mod.rs
  crates/turborepo-lib/src/config/turbo_json.rs
  crates/turborepo-lib/src/opts.rs
  crates/turborepo-lib/src/turbo_json/mod.rs
  docs/site/content/docs/reference/configuration.mdx
  docs/site/content/docs/reference/system-environment-variables.mdx
  turborepo-tests/integration/tests/config.t
  turborepo-tests/integration/tests/persistent-dependencies/10-too-many.t
Labels: area: docs, needs: triage

#10336 docs: clean up search results
  docs/site/scripts/sync-algolia.mjs
Labels: area: site

#10338 chore(@turbo/library): use stable release of zig
  .github/workflows/turborepo-library-release.yml
Labels: area: ci

#10345 docs: replace incorrect generator links (#10344)
  examples/basic/packages/ui/turbo/generators/config.ts
  examples/with-nestjs/packages/ui/turbo/generators/config.ts
  examples/with-npm/packages/ui/turbo/generators/config.ts
  examples/with-typeorm/packages/ui/turbo/generators/config.ts
  examples/with-vitest/packages/ui/turbo/generators/config.ts
  examples/with-yarn/packages/ui/turbo/generators/config.ts
  packages/turbo-gen/README.md
  packages/turbo-gen/src/generators/custom.ts
  packages/turbo-gen/src/templates/simple-js/templates/turborepo-generators.hbs
  packages/turbo-gen/src/templates/simple-ts/templates/turborepo-generators.hbs
Labels: area: examples, needs: triage, pkg: turbo-gen

#10349 feat(sidebar): improve folder link accessibility and UX
  docs/site/components/docs-layout/sidebar.tsx
Labels: area: site, needs: triage

#10312 chore: use Turbopack for documentation builds
  docs/site/content/external-blog/turbopack-moving-homes.md
  docs/site/content/external-blog/turbopack-moving-homes.mdx
  docs/site/mdx-components.tsx
  docs/site/next.config.ts
  docs/site/package.json
  pnpm-lock.yaml
Labels: area: docs, area: site, needs: triage

#10351 fix: broken link
  packages/eslint-plugin-turbo/docs/rules/no-undeclared-env-vars.md
Labels: pkg: turbo-eslint, needs: triage

#10357 docs: make redirect permanent
  docs/site/next.config.ts
Labels: area: site

#10355 docs: copy to markdown button
  docs/site/app/(sidebar)/docs/[[...slug]]/layout.tsx
  docs/site/app/(sidebar)/docs/[[...slug]]/page.tsx
  docs/site/components/copy-to-markdown.tsx
  docs/site/tsconfig.json
Labels: area: site

#10362 fix(examples): change docker command
  examples/with-docker/README.md
Labels: area: examples

#10363 fix(examples): `with-svelte` classes
  examples/with-svelte/.gitignore
  examples/with-svelte/apps/docs/package.json
  examples/with-svelte/apps/web/package.json
  examples/with-svelte/packages/typescript-config/svelte.json
  examples/with-svelte/packages/ui/eslint.config.js
  examples/with-svelte/packages/ui/package.json
  examples/with-svelte/packages/ui/src/MyCounterButton.svelte
  examples/with-svelte/packages/ui/src/index.ts
  examples/with-svelte/packages/ui/src/my-counter-class.svelte.ts
  examples/with-svelte/packages/ui/tsconfig.json
  examples/with-svelte/packages/ui/vite.config.js
  examples/with-svelte/pnpm-lock.yaml
Labels: area: examples

#10370 docs(chore): remove `/repo` references from a few places
  README.md
  cli/README.md
  examples/design-system/README.md
  examples/kitchen-sink/apps/admin/src/app/index.tsx
  examples/kitchen-sink/apps/blog/app/routes/_index.tsx
  examples/kitchen-sink/apps/storefront/src/app/page.tsx
  examples/kitchen-sink/packages/ui/src/link/index.test.tsx
  packages/create-turbo/README.md
  packages/create-turbo/package.json
  packages/create-turbo/src/commands/create/index.ts
  packages/turbo-codemod/package.json
  packages/turbo-gen/package.json
  packages/turbo-ignore/package.json
  packages/turbo-releaser/src/native.ts
  packages/turbo-repository/js/package.json
  packages/turbo-repository/package.json
  packages/turbo-telemetry/package.json
  packages/turbo-test-utils/package.json
  packages/turbo-types/README.md
  packages/turbo-types/package.json
  packages/turbo-utils/package.json
  packages/turbo-workspaces/README.md
  packages/turbo-workspaces/package.json
  packages/turbo/README.md
  packages/turbo/package.json
Labels: area: examples, pkg: create-turbo, pkg: turbo-ignore, pkg: turbo-codemod, pkg: turbo-gen, pkg: turbo-workspaces, pkg: turbo-repository, pkg: turbo-telemetry

#10374 ci: upgrade to Node.js 22
  .github/actions/examples-tests/action.yml
  .github/actions/setup-node/action.yml
  .github/actions/setup-turborepo-environment/action.yml
  .github/workflows/docs.yml
  .github/workflows/lint.yml
  .github/workflows/test-js-packages.yml
  .github/workflows/turborepo-compare-cache-item.yml
  .github/workflows/turborepo-native-lib-test.yml
  .github/workflows/turborepo-release.yml
  .github/workflows/turborepo-test.yml
  .github/workflows/turborepo-top-issues.yml
  .github/workflows/update-examples-on-release.yml
  .node-version
  package.json
Labels: area: ci

#10382 docs(fix): better usability on feedback form
  docs/site/components/feedback-widget.tsx
  packages/turbo-types/schemas/schema.json
  packages/turbo-types/schemas/schema.v1.json
  packages/turbo-types/schemas/schema.v2.json
Labels: area: site

#10388 docs(fix): logos when using system theme
  docs/site/app/_clients/clients.tsx
Labels: area: site

#10391 fix(pnpm): read linkWorkspacePackages from pnpm-workspace.yaml
  .github/workflows/lint.yml
  crates/turborepo-repository/src/package_manager/berry.rs
  crates/turborepo-repository/src/package_manager/mod.rs
  crates/turborepo-repository/src/package_manager/pnpm.rs
Labels: area: ci

#10390 ci(docs): add spell checker
  .github/workflows/docs.yml
  docs/site/content/docs/crafting-your-repository/constructing-ci.mdx
  docs/site/content/docs/support-policy.mdx
  docs/site/content/openapi/index.mdx
  docs/site/dictionary.txt
  docs/site/turbo.json
Labels: area: docs, area: ci, area: site

#10399 chore: bump Next.js to 15.4.0-canary.12 for docs
  docs/site/package.json
  pnpm-lock.yaml
Labels: area: site, needs: triage

#10404 docs: fix typescript and run docs quality checks
  .github/workflows/docs.yml
  docs/site/app/(no-sidebar)/[...slug]/page.tsx
  docs/site/app/(no-sidebar)/blog/[...slug]/page.tsx
  docs/site/app/(no-sidebar)/blog/page.tsx
  docs/site/app/(no-sidebar)/showcase/page.tsx
  docs/site/app/api/remote-cache-spec/route.ts
  docs/site/components/TitleLogos.tsx
  docs/site/components/docs-layout/mobile-menu-top-level.tsx
  docs/site/components/docs-layout/mobile-menu.tsx
  docs/site/components/files.tsx
  docs/site/components/link-to-documentation.tsx
  docs/site/components/nav/index.tsx
  docs/site/mdx-components.tsx
  docs/site/package.json
  docs/site/tsconfig.json
  docs/site/turbo.json
  pnpm-lock.yaml
Labels: area: ci, area: site

#10380 docs: fix broken links in useful links section of readme
  docs/site/next.config.ts
  examples/basic/README.md
  examples/non-monorepo/README.md
  examples/with-berry/README.md
  examples/with-gatsby/README.md
  examples/with-nestjs/README.md
  examples/with-npm/README.md
  examples/with-prisma/README.md
  examples/with-solid/README.md
  examples/with-vitest/README.md
  examples/with-vue-nuxt/README.md
  examples/with-yarn/README.md
  turborepo-tests/integration/fixtures/turbo_trace/README.md
Labels: area: examples, area: site, needs: triage

#10405 docs(chore): switch to ESM
  docs/site/.eslintrc.cjs
  docs/site/app/api/remote-cache-spec/route.ts
  docs/site/package.json
  docs/site/postcss.config.cjs
  docs/site/tailwind.config.cjs
  docs/site/turbo.json
  docs/site/typography-plugin.cjs
Labels: area: site
