Repository vercel/turborepo, pull requests merged in 2025-08, with the labels that each got.

#10743 docs(run): fix --log-prefix options to match CLI (task, not prefix)
  docs/site/content/docs/reference/run.mdx
Labels: area: docs

#10730 fix: add types node to fix minimatch issue
  examples/with-nestjs/packages/api/tsconfig.json
Labels: area: examples, needs: triage

#10795 docs: clarify TURBO_TEAM secret usage
  docs/site/content/docs/guides/ci-vendors/circleci.mdx
  docs/site/content/docs/guides/ci-vendors/github-actions.mdx
  docs/site/content/docs/guides/ci-vendors/gitlab-ci.mdx
  docs/site/content/docs/guides/ci-vendors/travis-ci.mdx
  docs/site/public/images/docs/vercel-team-repo-var.png
Labels: area: docs, area: site, needs: triage

#10794 ci: checks for `eslint-config-turbo` interface
  .github/workflows/test-js-packages.yml
  packages/eslint-config-turbo/package.json
  packages/eslint-config-turbo/src/index.ts
  pnpm-lock.yaml
  turbo.json
Labels: pkg: turbo-eslint, area: ci

#10720 feat(create-turbo): `--no-git` flag
  packages/create-turbo/__tests__/git.test.ts
  packages/create-turbo/__tests__/index.test.ts
  packages/create-turbo/src/cli.ts
  packages/create-turbo/src/commands/create/index.ts
  packages/create-turbo/src/commands/create/types.ts
  packages/create-turbo/src/utils/git.ts
Labels: pkg: create-turbo

#10807 chore(create-turbo): fix lint
  packages/create-turbo/src/commands/create/index.ts
Labels: pkg: create-turbo

#10811 docs: rework llms.txt and add .md responses
  docs/site/app/lib/llms-utils.ts
  docs/site/app/llms-full.txt/route.ts
  docs/site/app/llms.md/[[...slug]]/route.ts
  docs/site/app/llms.txt/route.ts
  docs/site/next.config.ts
Labels: area: site
