Repository vercel/turborepo, pull requests merged in 2025-07, with the labels that each got.

#10612 refactor(examples): remove duplicate Next.js plugin from app tsconfig files
  examples/with-nestjs/apps/web/tsconfig.json
Labels: area: examples, needs: triage

#10622 refactor(turborepo-updater): chain environment variable iterators in should_skip_notification
  crates/turborepo-updater/src/lib.rs
Labels: needs: triage

#10603 chore(@turbo/telemetry): fix README link
  crates/turborepo-telemetry/README.md
Labels: needs: triage

#10653 docs: fixing --no-cache alert
  docs/site/content/docs/crafting-your-repository/caching.mdx
Labels: area: docs, needs: triage

#10657 fix(examples): css specificity in Tailwind example
  examples/with-tailwind/apps/docs/app/globals.css
  examples/with-tailwind/apps/docs/app/layout.tsx
  examples/with-tailwind/apps/web/app/globals.css
  examples/with-tailwind/apps/web/app/layout.tsx
  examples/with-tailwind/packages/ui/src/card.tsx
  examples/with-tailwind/packages/ui/src/gradient.tsx
  examples/with-tailwind/packages/ui/src/styles.css
Labels: area: examples

#10666 feat(auth): optional callback port
  crates/turborepo-auth/src/auth/login.rs
  crates/turborepo-auth/src/auth/mod.rs
  crates/turborepo-auth/src/auth/sso.rs
  crates/turborepo-lib/src/commands/login/manual.rs
  crates/turborepo-lib/src/commands/login/mod.rs
  crates/turborepo-lib/src/config/env.rs
  crates/turborepo-lib/src/config/mod.rs
  crates/turborepo-lib/src/opts.rs
  docs/site/content/docs/reference/system-environment-variables.mdx
Labels: area: docs

#10667 fix(examples): vitest version upgrade
  examples/with-vitest/apps/docs/package.json
  examples/with-vitest/apps/web/package.json
  examples/with-vitest/package.json
  examples/with-vitest/packages/eslint-config/package.json
  examples/with-vitest/packages/math/package.json
  examples/with-vitest/packages/typescript-config/package.json
  examples/with-vitest/packages/vitest-config/package.json
  examples/with-vitest/pnpm-lock.yaml
  examples/with-vitest/turbo.json
  examples/with-vitest/vitest.config.ts
Labels: area: examples

#10671 fix: typescript-config export form react-native-web
  examples/with-react-native-web/packages/typescript-config/package.json
Labels: area: examples, needs: triage

#10675 fix(examples): update vitest config paths for packages and apps in `with-vitest`
  examples/with-vitest/vitest.config.ts
Labels: area: examples, needs: triage

#10694 fix(examples): add missing extension to with-react-native-web ui tsconfig
  examples/with-react-native-web/packages/ui/tsconfig.json
Labels: area: examples, needs: triage

#10608 chore: update to Rust 1.88.0
  clippy.toml
  crates/coverage/src/main.rs
  crates/turbo-trace/src/main.rs
  crates/turbo-trace/src/tracer.rs
  crates/turborepo-api-client/src/lib.rs
  crates/turborepo-auth/src/login_server.rs
  crates/turborepo-cache/src/fs.rs
  crates/turborepo-env/src/lib.rs
  crates/turborepo-filewatch/src/cookies.rs
  crates/turborepo-filewatch/src/globwatcher.rs
  crates/turborepo-filewatch/src/lib.rs
  crates/turborepo-globwalk/src/lib.rs
  crates/turborepo-lib/src/boundaries/imports.rs
  crates/turborepo-lib/src/boundaries/mod.rs
  crates/turborepo-lib/src/boundaries/tags.rs
  crates/turborepo-lib/src/cli/error.rs
  crates/turborepo-lib/src/cli/mod.rs
  crates/turborepo-lib/src/commands/daemon.rs
  crates/turborepo-lib/src/commands/generate.rs
  crates/turborepo-lib/src/commands/info.rs
  crates/turborepo-lib/src/commands/link.rs
  crates/turborepo-lib/src/commands/ls.rs
  crates/turborepo-lib/src/daemon/mod.rs
  crates/turborepo-lib/src/daemon/server.rs
  crates/turborepo-lib/src/diagnostics.rs
  crates/turborepo-lib/src/gitignore.rs
  crates/turborepo-lib/src/lib.rs
  crates/turborepo-lib/src/panic_handler.rs
  crates/turborepo-lib/src/query/file.rs
  crates/turborepo-lib/src/run/mod.rs
  crates/turborepo-lib/src/run/summary/duration.rs
  crates/turborepo-lib/src/run/summary/execution.rs
  crates/turborepo-lib/src/run/summary/mod.rs
  crates/turborepo-lib/src/run/task_access.rs
  crates/turborepo-lib/src/task_hash.rs
  crates/turborepo-lib/src/tracing.rs
  crates/turborepo-lockfiles/src/berry/ser.rs
  crates/turborepo-lockfiles/src/npm.rs
  crates/turborepo-lockfiles/src/yarn1/ser.rs
  crates/turborepo-lsp/src/lib.rs
  crates/turborepo-repository/src/package_manager/mod.rs
  crates/turborepo-repository/src/package_manager/yarn.rs
  crates/turborepo-scm/src/lib.rs
  crates/turborepo-scm/src/status.rs
  crates/turborepo-telemetry/src/config.rs
  crates/turborepo-telemetry/src/events/command.rs
  crates/turborepo-telemetry/src/events/generic.rs
  crates/turborepo-ui/src/color_selector.rs
  crates/turborepo-ui/src/lib.rs
  crates/turborepo-ui/src/prefixed.rs
  crates/turborepo-ui/src/tui/input.rs
  crates/turborepo-ui/src/tui/popup.rs
  crates/turborepo-unescape/src/lib.rs
  crates/turborepo-updater/src/lib.rs
  crates/turborepo-updater/src/ui/utils.rs
  crates/turborepo-vercel-api-mock/src/lib.rs
  packages/turbo-repository/scripts/build.sh
  rust-toolchain.toml
Labels: needs: triage, pkg: turbo-repository

#10708 chore: make sure clippy lints all targets
  .github/workflows/turborepo-test.yml
Labels: area: ci
