Repository vercel/turborepo, pull requests merged in 2025-06, with the labels that each got.

#10529 fix(docs): use `pnpm add <pkg>` instead of `pnpm install <pkg>`
  docs/site/content/blog/turbo-1-6-0.mdx
  docs/site/content/blog/turbo-1-7-0.mdx
  docs/site/content/docs/crafting-your-repository/managing-dependencies.mdx
  docs/site/content/docs/getting-started/index.mdx
  docs/site/content/docs/getting-started/installation.mdx
  docs/site/content/docs/guides/migrating-from-nx.mdx
  docs/site/content/docs/guides/single-package-workspaces.mdx
  docs/site/content/docs/guides/tools/jest.mdx
  docs/site/content/docs/guides/tools/storybook.mdx
  docs/site/content/docs/guides/tools/tailwind.mdx
Labels: area: docs, needs: triage

#10551 fix(example/with-docker): jest can’t resolve @repo/jest-presets/node
  examples/with-docker/packages/jest-presets/node/jest-preset.js
  examples/with-docker/packages/jest-presets/node/jest-preset.ts
  examples/with-docker/packages/jest-presets/package.json
Labels: area: examples, needs: triage

#10560 fix(docs): missing commas in package.json files of jest docs
  docs/site/content/docs/guides/tools/jest.mdx
Labels: area: docs, needs: triage

#10530 chore: bump to next@15.4.0-canary.81
  docs/site/package.json
  pnpm-lock.yaml
Labels: area: site, needs: triage

#10526 fix(non-monorepo): correct devDependency from 'turb' to 'turbo'
  examples/non-monorepo/package.json
  examples/non-monorepo/pnpm-lock.yaml
Labels: area: examples, needs: triage

#10527 fix: vue/nuxt devtool component inspector
  packages/turbo-types/src/json/frameworks.json
Labels: needs: triage

#10579 fix(example): add missing Tailwind import to shared ui styles
  examples/with-tailwind/packages/ui/src/styles.css
Labels: area: examples, needs: triage

#10583 docs: clarity for GitHub Actions caching strategies
  docs/site/content/docs/guides/ci-vendors/github-actions.mdx
Labels: area: docs

#10596 fix(docs): inconsistent command with the illustration
  docs/site/content/docs/crafting-your-repository/configuring-tasks.mdx
Labels: area: docs, needs: triage

#10602 fix(docs): inconsistent turbo command with the illustration
  docs/site/content/docs/crafting-your-repository/configuring-tasks.mdx
Labels: area: docs, needs: triage

#10609 ci: ensure turbo-types schemas are in sync
  .github/workflows/turborepo-test.yml
Labels: area: ci
