Repository vercel/turborepo, pull requests merged in 2025-02, with the labels that each got.

#9870 chore(docs): correct syntax error in ESLint configuration example
  docs/repo-docs/guides/tools/eslint.mdx
Labels: area: docs, needs: triage

#9882 chore(ci): always use latest corepack version
  .github/actions/setup-node/action.yml
Labels: area: ci

#9812 chore(deps): update git2 to 0.20.0
  Cargo.lock
  Cargo.toml
Labels: needs: triage

#9872 feat(example): update with-react-native-web, Expo SDK 51 & Expo Router (File-based routing)
  examples/with-react-native-web/apps/native/app.json
  examples/with-react-native-web/apps/native/app/_layout.tsx
  examples/with-react-native-web/apps/native/app/index.tsx
  examples/with-react-native-web/apps/native/index.js
  examples/with-react-native-web/apps/native/package.json
  examples/with-react-native-web/apps/web/next-env.d.ts
  examples/with-react-native-web/apps/web/package.json
  examples/with-react-native-web/packages/ui/package.json
  examples/with-react-native-web/packages/ui/src/button.tsx
  examples/with-react-native-web/yarn.lock
Labels: area: examples, needs: triage

#9850 chore: use bunchee instead of tsup
  examples/kitchen-sink/apps/api/package.json
  examples/kitchen-sink/packages/logger/package.json
  examples/kitchen-sink/packages/logger/tsup.config.ts
  examples/kitchen-sink/packages/ui/package.json
  examples/kitchen-sink/packages/ui/tsup.config.ts
  examples/kitchen-sink/pnpm-lock.yaml
Labels: area: examples

#9865 fix: release `@turbo/repository`
  .github/workflows/turborepo-library-release.yml
  packages/turbo-repository/package.json
  packages/turbo-repository/scripts/build.sh
Labels: area: ci, pkg: turbo-repository

#9899 feat(release): allow for overriding npm dist tag
  .github/workflows/turborepo-release.yml
  scripts/version.js
Labels: area: ci

#9898 ci: many examples fixes
  .github/workflows/turborepo-test.yml
  examples/basic/apps/docs/package.json
  examples/basic/apps/web/package.json
  examples/basic/packages/ui/package.json
  examples/basic/pnpm-lock.yaml
  examples/kitchen-sink/apps/admin/package.json
  examples/kitchen-sink/apps/api/package.json
  examples/kitchen-sink/apps/blog/package.json
  examples/kitchen-sink/apps/storefront/package.json
  examples/kitchen-sink/packages/ui/package.json
  examples/kitchen-sink/pnpm-lock.yaml
  examples/with-svelte/apps/docs/package.json
  examples/with-svelte/apps/web/package.json
  examples/with-svelte/packages/ui/package.json
  examples/with-svelte/pnpm-lock.yaml
  examples/with-tailwind/apps/docs/package.json
  examples/with-tailwind/apps/web/package.json
  examples/with-tailwind/packages/ui/package.json
  examples/with-tailwind/pnpm-lock.yaml
  turborepo-tests/helpers/setup_example_test.sh
Labels: area: examples, area: ci

#9902 docs: fix dangling sentence
  docs/repo-docs/guides/single-package-workspaces.mdx
Labels: area: docs

#9905 chore(release): remove goreleaser
  .github/workflows/turborepo-release.yml
  cli/Makefile
  cli/combined-shim.yml
  cli/package.json
  cli/scripts/npm-native-packages/.gitignore
  cli/scripts/npm-native-packages/npm-native-packages.js
  cli/scripts/npm-native-packages/template/template.package.json
  cli/turbo.json
  packages/turbo-releaser/.eslintrc.js
  packages/turbo-releaser/cli/index.cjs
  packages/turbo-releaser/package.json
  packages/turbo-releaser/src/index.ts
  packages/turbo-releaser/src/native.test.ts
  packages/turbo-releaser/src/native.ts
  packages/turbo-releaser/src/operations.test.ts
  packages/turbo-releaser/src/operations.ts
  packages/turbo-releaser/src/packager.test.ts
  packages/turbo-releaser/src/packager.ts
  packages/turbo-releaser/src/types.ts
  packages/turbo-releaser/src/version.test.ts
  packages/turbo-releaser/src/version.ts
  packages/turbo-releaser/template/README.md
  packages/turbo-releaser/template/bin/turbo
  packages/turbo-releaser/tsconfig.json
  packages/turbo-releaser/tsup.config.ts
  packages/turbo-releaser/turbo.json
  pnpm-lock.yaml
Labels: area: ci

#9803 feat(@turbo/codemod): add support for custom NPM registries
  packages/turbo-codemod/src/commands/migrate/steps/getLatestVersion.ts
Labels: pkg: turbo-codemod, needs: triage

#9909 chore(release): remove goreleaser
  .github/workflows/turborepo-release.yml
  cli/Makefile
  cli/combined-shim.yml
  cli/package.json
  cli/scripts/npm-native-packages/.gitignore
  cli/scripts/npm-native-packages/npm-native-packages.js
  cli/scripts/npm-native-packages/template/template.package.json
  cli/turbo.json
  packages/turbo-releaser/.eslintrc.js
  packages/turbo-releaser/cli/index.cjs
  packages/turbo-releaser/package.json
  packages/turbo-releaser/src/index.ts
  packages/turbo-releaser/src/native.test.ts
  packages/turbo-releaser/src/native.ts
  packages/turbo-releaser/src/operations.test.ts
  packages/turbo-releaser/src/operations.ts
  packages/turbo-releaser/src/packager.test.ts
  packages/turbo-releaser/src/packager.ts
  packages/turbo-releaser/src/types.ts
  packages/turbo-releaser/src/version.test.ts
  packages/turbo-releaser/src/version.ts
  packages/turbo-releaser/template/LICENSE
  packages/turbo-releaser/template/README.md
  packages/turbo-releaser/template/bin/turbo
  packages/turbo-releaser/tsconfig.json
  packages/turbo-releaser/tsup.config.ts
  packages/turbo-releaser/turbo.json
  pnpm-lock.yaml
Labels: area: ci

#9912 Revert "chore(release): remove goreleaser"
  .github/workflows/turborepo-release.yml
  cli/Makefile
  cli/combined-shim.yml
  cli/package.json
  cli/scripts/npm-native-packages/.gitignore
  cli/scripts/npm-native-packages/npm-native-packages.js
  cli/scripts/npm-native-packages/template/README.md
  cli/scripts/npm-native-packages/template/bin/turbo
  cli/scripts/npm-native-packages/template/template.package.json
  cli/turbo.json
  packages/turbo-releaser/.eslintrc.js
  packages/turbo-releaser/cli/index.cjs
  packages/turbo-releaser/package.json
  packages/turbo-releaser/src/index.ts
  packages/turbo-releaser/src/native.test.ts
  packages/turbo-releaser/src/native.ts
  packages/turbo-releaser/src/operations.test.ts
  packages/turbo-releaser/src/operations.ts
  packages/turbo-releaser/src/packager.test.ts
  packages/turbo-releaser/src/packager.ts
  packages/turbo-releaser/src/types.ts
  packages/turbo-releaser/src/version.test.ts
  packages/turbo-releaser/src/version.ts
  packages/turbo-releaser/template/LICENSE
  packages/turbo-releaser/tsconfig.json
  packages/turbo-releaser/tsup.config.ts
  packages/turbo-releaser/turbo.json
  pnpm-lock.yaml
Labels: area: ci

#9864 ci: fix examples update workflow
  .github/workflows/update-examples-on-release.yml
Labels: area: ci

#9913 chore(ci): support custom turbo version for ci
  .github/actions/install-global-turbo/action.yml
  .github/workflows/turborepo-release.yml
Labels: area: ci

#9914 fix(ci): correct global install workflow
  .github/workflows/turborepo-release.yml
Labels: area: ci

#9917 fix(ci): correct dependency
  .github/workflows/turborepo-test.yml
Labels: area: ci

#9918 chore(release): remove goreleaser
  .github/workflows/turborepo-release.yml
  cli/Makefile
  cli/combined-shim.yml
  cli/package.json
  cli/scripts/npm-native-packages/.gitignore
  cli/scripts/npm-native-packages/npm-native-packages.js
  cli/scripts/npm-native-packages/template/template.package.json
  cli/turbo.json
  packages/turbo-releaser/.eslintrc.js
  packages/turbo-releaser/cli/index.cjs
  packages/turbo-releaser/package.json
  packages/turbo-releaser/src/e2e.test.ts
  packages/turbo-releaser/src/index.ts
  packages/turbo-releaser/src/native.test.ts
  packages/turbo-releaser/src/native.ts
  packages/turbo-releaser/src/operations.test.ts
  packages/turbo-releaser/src/operations.ts
  packages/turbo-releaser/src/packager.test.ts
  packages/turbo-releaser/src/packager.ts
  packages/turbo-releaser/src/types.ts
  packages/turbo-releaser/src/version.test.ts
  packages/turbo-releaser/src/version.ts
  packages/turbo-releaser/template/LICENSE
  packages/turbo-releaser/template/README.md
  packages/turbo-releaser/template/bin/turbo
  packages/turbo-releaser/tsconfig.json
  packages/turbo-releaser/tsup.config.ts
  packages/turbo-releaser/turbo.json
  pnpm-lock.yaml
Labels: area: ci

#9920 ci(fix): checkout before doing path filtering
  .github/workflows/turborepo-test.yml
Labels: area: ci

#9939 feat: adds pnpm lockfile ignoredOptionalDependencies
  crates/turborepo-lockfiles/src/pnpm/data.rs
Labels: needs: triage

#9942 chore(release): run tests as we build binary
  .github/workflows/turborepo-release.yml
Labels: area: ci

#9941 chore(release): remove unused container config
  .github/workflows/turborepo-release.yml
Labels: area: ci

#9964 docs(repo): add section on filtering to include dependencies
  docs/repo-docs/crafting-your-repository/running-tasks.mdx
Labels: area: docs, needs: triage

#9926 docs(repo): add JSON Schema to `turbo.json` ref in `single-package-workspaces.mdx`
  docs/repo-docs/guides/single-package-workspaces.mdx
Labels: area: docs, needs: triage

#9952 fix: check-types in kitchen-sink example
  examples/kitchen-sink/package.json
Labels: area: examples, needs: triage

#9953 fix: documentation for type-check in with-shell-commands example
  examples/with-shell-commands/README.md
Labels: area: examples, needs: triage

#9954 chore: add check-types to root package.json if available
  examples/basic/package.json
  examples/with-svelte/package.json
Labels: area: examples, needs: triage

#9963 docs: clarify login url usage
  docs/repo-docs/reference/link.mdx
  docs/repo-docs/reference/login.mdx
  docs/repo-docs/reference/system-environment-variables.mdx
Labels: area: docs

#9969 docs: correct `--affected` flag equivalent
  docs/repo-docs/reference/run.mdx
Labels: area: docs

#9970 chore: standardize how turbo is ran in example packages
  examples/basic/package.json
  examples/design-system/package.json
  examples/with-changesets/package.json
  examples/with-gatsby/package.json
  examples/with-nestjs/package.json
  examples/with-tailwind/package.json
  examples/with-typeorm/package.json
  examples/with-vite-react/package.json
  examples/with-vite/package.json
Labels: area: examples, needs: triage

#9591 docs: update wording for using `--affected` filter
  crates/turborepo-lib/src/cli/mod.rs
  docs/repo-docs/crafting-your-repository/constructing-ci.mdx
  docs/repo-docs/crafting-your-repository/running-tasks.mdx
  turborepo-tests/integration/tests/no-args.t
  turborepo-tests/integration/tests/turbo-help.t
Labels: area: docs, needs: triage

#9971 fix: package name in with-changesets release job
  examples/with-changesets/README.md
  examples/with-changesets/package.json
Labels: area: examples, needs: triage

#9978 fix: exports for `eslint-config-turbo`
  packages/eslint-config-turbo/package.json
  packages/eslint-config-turbo/src/flat/index.ts
  packages/eslint-config-turbo/src/index.ts
  packages/eslint-config-turbo/tsconfig.json
  packages/eslint-config-turbo/tsup.config.ts
  pnpm-lock.yaml
Labels: pkg: turbo-eslint

#9973 chore: standardize type check job name to check-types
  examples/with-gatsby/apps/web/package.json
  examples/with-shell-commands/README.md
  examples/with-shell-commands/apps/app-a/package.json
  examples/with-shell-commands/apps/app-b/package.json
  examples/with-shell-commands/packages/pkg-a/package.json
  examples/with-shell-commands/packages/pkg-b/package.json
  examples/with-shell-commands/turbo.json
  examples/with-typeorm/package.json
  examples/with-typeorm/packages/typeorm-service/package.json
  examples/with-typeorm/turbo.json
  examples/with-vue-nuxt/apps/web/package.json
Labels: area: examples, needs: triage

#9984 fix(docs): correct grammar in turborepo setup message
  docs/repo-docs/getting-started/add-to-existing-repository.mdx
Labels: area: docs, needs: triage

#9983 docs: update TypeScript wildcard recommendations
  docs/repo-docs/crafting-your-repository/structuring-a-repository.mdx
  docs/repo-docs/guides/tools/typescript.mdx
  examples/basic/apps/docs/next-env.d.ts
  examples/basic/apps/web/next-env.d.ts
  examples/basic/packages/ui/package.json
  examples/with-tailwind/packages/ui/package.json
Labels: area: docs, area: examples

#10006 chore: refactor `should_print_version` into helper for clarity
  crates/turborepo-lib/src/cli/mod.rs
Labels: needs: triage

#10001 chore(change_detector): improve log message on invalid ref range
  crates/turborepo-lib/src/run/scope/change_detector.rs
Labels: needs: triage

#10008 chore: extract telemetry_handle creation into helper function
  crates/turborepo-lib/src/cli/mod.rs
Labels: needs: triage

#10009 docs: add `--manual` flag mention to self-hosting section
  docs/repo-docs/core-concepts/remote-caching.mdx
Labels: area: docs

#10010 docs: remove extra quotation mark
  docs/repo-docs/core-concepts/remote-caching.mdx
Labels: area: docs

#10015 docs: remove --continue mention with --parallel
  docs/repo-docs/reference/run.mdx
Labels: area: docs

#10017 docs: more insightful leadin for Nx doc
  docs/repo-docs/guides/migrating-from-nx.mdx
Labels: area: docs

#10019 docs: corrections for Nx page
  docs/repo-docs/guides/migrating-from-nx.mdx
Labels: area: docs

#10011 chore: extract logic for defaulting to run into helper
  crates/turborepo-lib/src/cli/mod.rs
Labels: needs: triage

#10018 chore: change use of `map_or` to `map` and `unwrap_or` in cli helper
  crates/turborepo-lib/src/cli/mod.rs
Labels: needs: triage

#10022 docs(prune): document how prune differs from pnpm deploy
  docs/repo-docs/reference/prune.mdx
Labels: area: docs

#10026 chore: update copyright year to 2025
  cli/LICENSE
  packages/create-turbo/LICENSE
  packages/eslint-config-turbo/LICENSE
  packages/eslint-plugin-turbo/LICENSE
  packages/turbo-codemod/LICENSE
  packages/turbo-gen/LICENSE
  packages/turbo-releaser/template/LICENSE
  packages/turbo-telemetry/LICENSE
  packages/turbo-utils/LICENSE
  packages/turbo-vsc/LICENSE
  packages/turbo-workspaces/LICENSE
Labels: pkg: create-turbo, pkg: turbo-eslint, pkg: turbo-codemod, needs: triage, pkg: turbo-gen, pkg: turbo-workspaces, pkg: turbo-telemetry

#10012 chore: extract `set_run_flags` logic as named helper
  crates/turborepo-lib/src/cli/mod.rs
Labels: needs: triage

#10034 docs: update Nx page on dependency recommendations
  docs/repo-docs/guides/migrating-from-nx.mdx
Labels: area: docs

#9981 chore: bump Svelte example to Svelte v5
  examples/with-svelte/apps/docs/package.json
  examples/with-svelte/apps/web/package.json
  examples/with-svelte/packages/eslint-config/package.json
  examples/with-svelte/packages/ui/components/MyCounterButton.svelte
  examples/with-svelte/packages/ui/package.json
  examples/with-svelte/pnpm-lock.yaml
  turborepo-tests/helpers/setup_example_test.sh
Labels: area: examples, needs: triage

#10041 docs: fix typo on continue docs
  docs/repo-docs/reference/run.mdx
Labels: area: docs, needs: triage

#10047 fix(repository): still assume files not belonging to a package result in a global change
  crates/turborepo-repository/src/change_mapper/mod.rs
  crates/turborepo-repository/src/change_mapper/package.rs
  packages/turbo-repository/__tests__/affected-packages.test.ts
  packages/turbo-repository/rust/src/lib.rs
Labels: pkg: turbo-repository

#10044 chore: fix corepack wiring in integration tests
  turborepo-tests/helpers/setup_integration_test.sh
  turborepo-tests/helpers/setup_package_manager.sh
Labels: needs: triage

#9653 fix: filter logic
  packages/turbo/bin/turbo
Labels: needs: triage

#10057 docs: update README.md in examples with-tailwind to correctly reference .ts config files instead of .js
  examples/with-tailwind/README.md
Labels: area: examples, needs: triage

#10062 chore(@turbo/repository): no longer release glibc version
  .github/workflows/turborepo-library-release.yml
  .github/workflows/turborepo-native-lib-test.yml
  packages/turbo-repository/js/index.js
  packages/turbo-repository/js/package.json
  packages/turbo-repository/package.json
  packages/turbo-repository/turbo.json
Labels: area: ci, pkg: turbo-repository
